﻿<div class="esg-form__group esg-has-feedback full-width column-four-sm" data-bind="css: { 'esg-has-error': hasInputError() }">
    <label class="esg-form__label" data-bind="resx: 'TimeSheet.DailyTimeEntryHoursWorkedInputLabel', css: {'offScreen' : !$root.isMobile()}"></label>
    <div class="esg-form__input-group">
        <label class="offScreen" data-bind="attr:{ for: hoursInputId }, text: hoursInputLabelText()"></label>
        <input class="esg-form__input" type="text" data-bind="value: formattedHours, disable: isReadOnly, attr:{ id: hoursInputId }" />
        <div class="esg-form__feedback-icon esg-icon__container" data-bind="visible: hasInputError()">
            <svg class="esg-icon esg-icon--error">
                <use xlink:href="#icon-error"></use>
            </svg>
        </div>
    </div>
</div>
