﻿/* Copyright 2013-2017 Ellucian Company L.P. and its affiliates. */

/* ----------------------------------------------------------- */
/* //////////  Finance Styles                      //////////  */
/* ----------------------------------------------------------- */

@import '../../../Content/_colors.scss';

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/
#AccountActivityAdmin .column-nine h3,
#MakeAPaymentAdmin .column-nine h3,
#RegistrationActivity .column-nine h3,
#PaymentPlanAcknowledgement .column-nine h3 {
	color: $color-base-40;
	font-weight: bold;
	font-size: 1.231em;	
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/
fieldset {
	border: none;
	padding: 0;
	margin: 0;
}


legend {
	font-size: 1.2em;
	font-weight: bold;
}


/* Styles for admin header 
-----------------------------------------------------------*/
#user-profile-header {
    border-bottom: 1px solid $color-base-55;
    border-top: none;
    border-left: none;
    border-right: none;
}

#RegistrationSummary #user-profile-header {
    border-bottom: none;
}

@media only screen and (max-width: 768px) {
    #account-summary #user-profile-header {
        border-bottom: none;
    }
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
	color: $color-error;
}

.field-validation-valid {
	display: none;
}

.input-validation-error {
	border: 1px solid $color-error;
	background-color: $color-error-fill;
}

.validation-summary-errors {
	font-weight: bold;
	color: $color-error;
}

.validation-summary-valid {
	display: none;
}


/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label {
	margin: 1em 0 0 0;
}

.display-field {
	margin: 0.5em 0 0 0;
}

.text-box {
	width: 30em;
}

.text-box.multi-line {
	height: 6.5em;
}

.tri-state {
	width: 6em;
}


/* MISC  
----------------------------------------------------------*/

.error {
	color: $color-error;
}

.overdue {
	color: $color-error;
}

nav, #menucontainer {
	padding: 0;
	margin: 0;
	clear: both;
}

#navcontainer ul {
	margin: 0;
}

.print-button {
    background-image: url(../../../Content/Images/print.png);
    background-repeat: no-repeat;
    background-position: .714em .857em;
    padding-left: 2.143em;
}

/* Expand/Collapse Accordions  
----------------------------------------------------------*/

#ExpandCollapseAll_Expand {
	padding-right: 14px;
}

#ExpandCollapseAll_Collapse.collapsed {
    background: transparent /* ThemeTintImage(Dark1-Darker) */ url('Content/images/icon_collapse_all.png') center left no-repeat;
}

#ExpandCollapseAll_Expand.expanded {
    background: transparent /* ThemeTintImage(Dark1-Darker) */ url('Content/images/icon_expand_all.png') center left no-repeat;
}

#account-activity .multi-accordion-content .responsiveTable {
    margin-bottom: 0;
}

/* ABOVE formerly in Student Finance Site.css */
#payNow {
	margin: 0 auto;
	padding: 20px;
    /* ThemeColor(Accent1) */
	background-color: $color-hint-fill; 
	background-repeat: repeat-x;
	text-align: center;
}

.colSelect {
	width: 8%;
	text-align: center;
}

.colItem {
    width: 32%;
}

.esg-table--cell__select-item {
    width: 40%;
}

.esg-table--caption__headless {
    border-bottom: 1px solid $color-base-60;
}

.esg-modal-dialog__section {
    margin-top: 1.3em;
}

.ui-dialog .ui-dialog-content {
    max-height: 80vh;
}

.colDistribution {
	width: 13%;
}

.colDateDue {
	width: 17%;
}

.colDate {
	text-align: left;
}

.colAmountDue {
	width: 12%;
}

.colAmountToPay {
	width: 18%;
}

.colAmountToPay > input {
	width: 80%;
}

.responsiveTable th.colAmount,
.colAmount, .currency {
	text-align: right;
}

th.colAmountToPay,
td.colAmountToPay,
th.colAmountDue,
td.colAmountDue,
th.ackAmount,
td.colAmount {
    text-align: right;
}

@media only screen and (max-width: 768px) {
    .items-due-table.responsiveTable td input[type="text"] {
        max-width: 7rem;
    }
    .responsiveTable td.esg-table--cell__select-item:before {
        width: 65%;
    }
    .esg-label__text--mobile {
        padding-right: .875rem;
    }
}

#AccountActivityIconsWrapper {
	text-align: center;
	overflow: auto;
}

#AccountActivitySelection {
	margin: 0;
	padding: 0;
}

#paymentTotal, 
#activityTotal {
	text-align: right;
	margin-right: 10px;
	font-size: 1em;
	font-weight: bold;
}

#PaymentMethodSelection {
	display: inline;
}

#AmountToPay {
	text-align: right;
}

#TermDetailsWrapper, #PaymentDueDetails {
	margin: 0;
	padding: 0;
}

#TermDetailsWrapper .ui-accordion .ui-accordion-content, #PaymentDueDetails .ui-accordion .ui-accordion-content {
	/*overflow: visible;*/
}

#PaymentDueSummary h1 {
	margin: 0; 
	padding: 0;   
}

.IconBarContent, .IconBarDivider {
	float: left;
}

.IconBarContent {
	display: inline;
    cursor: pointer;
    border: 1px solid $color-base-60;
    border-radius: 6em;
    -moz-border-radius: 6em;
    -webkit-border-radius: 6em;
    padding: 1.273em;
    font-size: .85em;
}

.IconBarContent.balance, .IconBarContent.balance img {
	cursor: default;
}

.IconBarContent img {
	display: inline;
    margin: 0 0 .273em 0;
    max-width: 40px;
}

.IconBarDescription, 
.IconBarAmmount {
	text-align: center;
	font-weight: normal;
	width: 5.636em;
	margin: .182em;
}

.IconBarAmmount {
    white-space: nowrap;
}
 
.IconBarDivider {
	margin-top: .667em;
	font-size: 3em;
	font-weight: bold;
}


.totalPayment {
	font-weight: bold;
}

#PaymentMethod {
	font-style: italic;
	font-size: 0.9em;
}


#PaymentAcknowledgement hr, 
#PaymentAcknowledgement #paymentServicesProvider {
	margin-bottom: .769em;
}

#PaymentAcknowledgement #headerBlock .section {
	margin-bottom: .769em;
}

#PaymentAcknowledgement #headerBlock .section .label {
	font-weight: bold;
}

#PaymentPlanAcknowledgement #headerBlock .section {
	margin-bottom: .769em;
}

#PaymentPlanAcknowledgement #headerBlock .section .label {
	font-weight: bold;
}

#achAuthText {
	white-space: pre-line;
	padding: 0 .615em .615em 2.538em;
	margin-bottom: 10px;
	border: 1px solid $color-hint;
	background: url("../../../Content/Images/icon-info.png") no-repeat 10px center $color-hint-fill;
	color: $color-base-10;
	border-radius: 5px 5px 5px 5px;
	line-height: 1.5em;
}

#banking-information-dialog body {
    margin: 0;
}

#banking-information-dialog body,
#banking-information-dialog div #banking-information-dialog p {
    font-size: .846em; 
}

.banking-info-row:nth-child(2n) {
    margin-bottom: 1em;
}

.banking-info-cell {
    width: 100%;
    text-align: center;
}

.banking-info-cell > img {
    width: inherit;
}

#banking-information-dialog #webPage {
    margin-bottom: .909em;
}

#banking-information-dialog .banking-information-header {
    margin: 0 1.026em .615em 0;
    font-size: 1.25em;
    padding: 0;
}

#banking-information-dialog .customText {
    padding-bottom: .769em; 
    color: $color-base-95; 
}

#banking-information-dialog #mainBod,
#banking-information-dialog .customText, 
#banking-information-dialog #bodyForm .customText {
    color: $color-base-10;
}

#banking-information-dialog #mainBody .customLinks A, 
#banking-information-dialog #bodyForm .customLinks A {
    color: $color-secondary-45;
}

#banking-information-dialog #banking-information {
    padding: .385em;
}

#banking-information-dialog div.explanation {
    padding: .385em 0 .769em 0;
}

.credit {
	color: $color-success;
}

#PaymentDueDetails .ui-accordion .ui-accordion-header a, #TermDetailsWrapper .ui-accordion .ui-accordion-header a {
	display: inline;
}

#PaymentDueDetails .ui-accordion .ui-accordion-header a:hover, #TermDetailsWrapper .ui-accordion .ui-accordion-header a:hover {
	background-color: transparent;
}

#DepositsDueLink {
    text-decoration: underline;
    display: inline;
    cursor: pointer;
}

#PaymentPlansLink {
    text-decoration: underline;
    display: inline;
    cursor: pointer;
}

/* ----------------------------------------------------------- */
/* //////////  Notifications                       //////////  */
/* ----------------------------------------------------------- */

.notification {
	border: 1px solid $color-warning;
	background: $color-warning-fill;
	color: $color-base-10;
	padding: 8px;
	margin: 0;
	border-radius: 5px 5px 5px 5px;
}

.notification strong, .notification b {
   font-weight: bold;
}

.notification em, .notification i {
   font-style: italic;
}

.notification u {
   text-decoration: underline;
}

.error-notification {
	border: 1px solid $color-error;
	background: $color-error-fill url("../../../Content/Images/icon-error.png") no-repeat scroll 8px 8px;
	color: $color-base-10;
	padding: 10px 8px 8px 33px;
	border-radius: 5px 5px 5px 5px;
	margin: 0;
}

.error-notification strong, .error-notification b {
   font-weight: bold;
}

.error-notification em, .error-notification i {
   font-style: italic;
}

.error-notification u {
   text-decoration: underline;
}

.first-notification {
	margin: 0 0 .9em 0;
}

/* Account Activity when there's no activity */

.no-heading {
	margin-top: 19px;	
}

.no-heading-padding {
	padding-top: 19px;	
}

#viewTitle h1 {
	margin: 0;	
}

/* ----------------------------------------------------------- */
/* //////////  Make A Payment                      //////////  */
/* ----------------------------------------------------------- */
#planDetails #printTcText {
    display: none;
}

@media print {
    /* Default to "standard" letter size, landscape*/
    @page {
        size: A4 landscape;
        margin: 0;
    }
    #planDetails #printTcText {
        display: block;
        overflow: visible;
        white-space: pre;
        white-space: pre-wrap;    
    }
    #planDetails #tcText {
        display: none;
    }
}

.section-header > h3,
.section-header > h4 {
    display: inline;
}

.section-header > .print-link {
    float: right;
}

/* Make a Payment Toggle Menu */
#paymentOptionsWrapper h3.ui-accordion-header,
#planDetailsWrapper h3.ui-accordion-header,
#planDownPaymentWrapper h3.ui-accordion-header {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	background-color: $color-base-75;
	display: block;
	color: $color-base-40;
	text-decoration: none;
	font-weight: bold;
	font-size: .923em;
	padding: 1.25em .667em 1.25em 0;
	border: 1px solid $color-base-60;
}

#paymentOptionsWrapper h3.ui-accordion-header:hover,
#planDetailsWrapper h3.ui-accordion-header:hover,
#planDownPaymentWrapper h3.ui-accordion-header:hover {
	background-color: $color-base-65;
	color: $color-base-30;
	border: 1px solid $color-base-55;
	padding: 1.25em .667em 1.25em 0;
}

#PaymentOptions .ui-accordion .ui-state-default .ui-icon {
     width: .583em;
    height: .583em;
    display: block;
    margin: -.5em 0 0 0;
    border: 2px solid $color-base-50;
    transform: rotate(45deg);
       -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
    border-width: 2px 2px 0 0;
    padding: 0 !important;
    background: none;
}

#PaymentOptions .ui-accordion .ui-state-active .ui-icon {
	 width: .583em;
    height: .583em;
    display: block;
    margin: -.667em 0 0 0;
    border: 2px solid $color-base-95;
    transform: rotate(135deg);
       -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
     -ms-transform: rotate(135deg);
    border-width: 2px 2px 0 0;
    padding: 0 !important;
    background: none;
}

/* Payment Details Styles */

/* ----------------------------------------------------------- */
/* //////////  Account Activity                    //////////  */
/* ----------------------------------------------------------- */
#account-activity-data .formula-container {
    background-color: $color-hint-dark;
}

/*#account-activity-dropdown,
#admin-details
{
    background-color: #E6E6E6;
    font-size: 1.077em;
    font-weight: bold;
    border-bottom: 1px solid #999999;
}*/
#account-holder-info {
    font-weight: normal;
}
/*#account-activity-sub-header
{
    background-color: #E6E6E6;
    font-size: 1.077em;
    font-weight: bold;
    border-bottom: 1px solid #999999;
    color: #666666;
}*/
#account-activity-sub-header.section-header {
    border-top: none;
}

#account-activity-controls {
    background-color: $color-base-95;
    font-size: 1.077em;
    border: none;
    padding: .946em 0;
}

#top-of-page-container {
    background-color: $color-base-95;
    font-size: 1.077em;
    border: none;
    padding: .714em 0 .714em .714em;
    text-align: right;
}

.row--not-payable,
.row--not-payable td,
.responsiveTable tbody tr.row--not-payable td:not(:first-child) {
    background-color: $color-warning-fill;
}

#make-a-payment-controls {
    margin-top: .769em;
}

#make-a-payment-dropdown {
    padding: 1.231em 0;
    margin: 1em 0;
    border: 1px solid $color-base-55;
}

#account-activity-dropdown {
    padding: .946em 0;
}

#make-a-payment-dropdown.stick-content {
    background-color: $color-base-95;
    z-index: 1000;
    margin-top: 0;
}

#acknowledgement-text {
    padding-left: .75rem;
    padding-right: .75rem;
}

#account-activity-sub-header {
    padding: 1.143em 1.946em;
}

#account-activity-dropdown #view-statement-dropdown-container {
    float: right;
    margin-top: -1.686em;
}

#account-activity-controls > span {
    font-weight: normal;
    display: inline-block;
}

#account-activity-controls > span:not(:first-child) {
    padding-top: .429em;
    float: right;
}

#account-activity-controls > span:last-child {
    padding-right: .714em;
}

#account-activity-controls #link-separator {
    padding-right: .714em;
}

input.account-activity-button {
    margin: 0;
}

#account-activity-controls .expand-collapse-all {
    padding: 0;
}

.formula-category {
    font-size: 1em;
    font-weight: bold;
    color: $color-base-40;
}

.formula-category h3 {
    color: $color-base-45;
}

.formula-category-even {
    background-color: $color-base-80;
}

.formula-category-odd {
    background-color: $color-base-95;
}

.non-formula-category,
.plan-accordion {
    font-size: 1em;
    background-color: $color-base-70;
    color: $color-base-95;
}

#plan-category-sub-header {
    background-color: $color-base-50;
    color: $color-base-95;
    padding: 1.231em 0 1.23em 1.946em;
}

#plan-category-sub-header .arrow.arrow-down {
    border-color: $color-base-50;
}

#plan-category-sub-header span,
.plan-accordion span {
    display: inline-block;
}

#plan-category-sub-header span.colId,
.plan-accordion span.colId {
    font-weight: bold;
    font-size: 1.077em;
    width: 8%;
}

#plan-category-sub-header span.colType,
.plan-accordion span.colType,
#plan-category-sub-header span.colTerm,
.plan-accordion span.colTerm {
    width: 16.5%;
}

.non-formula-category {
    border-bottom: 1px solid $color-base-95;
}

.payment-accordion {
    margin: .946em 0 0;
}

#deposits-due {
    border-bottom: none;
}

#payment-plans {
    border-top: 1px solid $color-base-95;
    border-bottom: none;
}

.payment-plan-schedule {
    font-size: 0.929em;
}

.esg-table--caption__planschedule {
    margin-right: 1rem;
}

#payment-plan-schedule caption {
    white-space: normal;
}

.plan-accordion {
    color: $color-base-45;
}

table.responsiveTable.plan-details-header tbody tr td {
    background: $color-base-50;
    color: $color-base-95;
    border: none;
}

table.responsiveTable.plan-details-header tbody tr td.plan-summary::before {
    font-size: 1.538em;
}

table.responsiveTable.plan-details-header tbody tr td.plan-amount {
    background: $color-base-95;
    color: $color-base-45;
    border: none;
}

.responsiveTable tr.scheduled-payment-paid,
.responsiveTable tr.scheduled-payment-paid td {
    background-color: $color-success-fill;
}

.responsiveTable tr.scheduled-payment-unpaid,
.responsiveTable tr.scheduled-payment-unpaid td {
    background-color: $color-warning-fill;
}

.category-header {
    font-size: 1em;
    font-weight: bold;
    color: $color-base-45;
    background-color: $color-base-75;
    padding: 1.231em 0 1.231em 1.538em;
}

.category-header h3.category-name {
    padding-left: 0;
}

.category-header > h3.category-name {
    color: $color-base-45;
}

img.category-icon {
    height: 1.5em;
    width: 1.5em;
    padding-right: .846em;
    float: left;
    position: relative;
    top: -0.188em;
}

h3.category-name {
    display: inline-block;
    padding-left: .625em;
    font-size: 1.077em;
}

h3.category-math {
    font-size: 1.077em;
    display: inline-block;
    padding-right: 1.946em;
    float: right;
    color: inherit;
}

.category-header h3.category-math,
.non-formula-category h3.category-math,
.plan-accordion h3.category-math {
    padding-right: 0;
}

img.prefix-icon {
    position: absolute;
    right: 12.125em;
    height: 1.0em;
    width: 1.0em;
    padding-right: 2.308em;
}

span.category-balance {
    position: relative;
    top: -.063em;
    font-size: 1.077em;
    font-weight: normal;
    padding-right: 1.2em;
}

.non-category {
    font-size: 1.0em;
    padding-top: 1.000em;
    padding-bottom: 1.000em;
    padding-left: 1.946em;
}

#make-a-payment .non-category {
    margin: 0;
}

.non-category .arrow,
.non-category .arrow-right,
.non-category .arrow-down {
    border-top-color: $color-base-35;
    border-right-color: $color-base-35;
}

.formula-category h3.category-math span.category-balance,
.non-category h3.category-math span.category-balance {
    padding-right: 2.2em;
}

.formula-category span.arrow.arrow-right,
.non-formula-category span.arrow.arrow-right,
.plan-accordion span.arrow.arrow-right {
    position: absolute;
    right: 2.946em;
}

.formula-category .multi-accordion-controller .multi-accordion-expanded,
.non-formula-category .multi-accordion-controller .multi-accordion-expanded,
.plan-category .multi-accordion-controller .multi-accordion-expanded {
    background-color: $color-secondary-40;
}

.bottom-line-container {
    font-weight: bold;
    background-color: $color-base-35;
    color: $color-base-95;
    padding-right: 0;
}

.bottom-line-container h3 {
    color: $color-base-95;
}

#total-amount-due-container {
    margin: 1em 0 0;
}

#disclaimer-container {
    color: $color-base-40;
    background-color: $color-base-70;
    padding-right: 1.946em;
}

div#payment-plans-container-panel.panel-wrapper{
    z-index: 1001;
}

/* ----------------------------------------------------------- */
/* //////////  Make a Payment                      //////////  */
/* ----------------------------------------------------------- */
.alert-message-container {
    border-bottom: none;
    padding: 1em;
}

.alert-message-container b {
  font-weight: bold;
}

.alert-message-container i {
  font-style: italic;
}

.alert-message-container u {
  text-decoration: underline;
}

#payment-controls {
    text-align: center;
}

#total-payment-amount {
    font-weight: bold;
    font-size: 1.077em;
}

#make-a-payment-sub-header,
#payment-options {
    padding: 0 .946em;
}

#make-a-payment .credit-amounts-message {
    padding-right: 1em;
    padding-top: .462em;
    float: right;
}

.label {
    font-weight: bold;
}

.payment-option,
.items-due-container {
    padding-top: 1.231em;
    padding-bottom: 1.231em;
}

.payment-option:last-child {
    border-top: 1px solid $color-base-55;
}

.payment-option-content-line {
    font-size: 0.923em;
    font-weight: bold;
    padding: 0 1.45em 0;
    vertical-align: text-bottom;
}

.payment-option-content-line:first-child {
    padding-top: 1em;
}

.payment-option-description-line {
    font-size: 0.923em;
    font-weight: normal;
    padding: 0 2.45em 1em;
}

.payment-option-content-line:last-child {
    padding-bottom: 0;
}

.payment-option-content-line.inline-line {
  padding-top: 0;
}

#partial-payment-content {
    padding-top: .769em;
}

.pay-item-mobile-header-select {
    float: left;
    width: 20%;
}

.pay-item-mobile-header-item {
    float: left;
    width: 50%;
}

.pay-item-mobile-header-amount {
    float: left;
    width: 30%;
}

.amount-input {
    text-align: right;
}

div.error-row {
    text-align: left;
    padding-bottom: .8em;
}

div.error-row:last-child {
    padding-bottom: 0;
}

div.page-has-errors {
    margin: 1.0em 1.0em 0;
}

#make-a-payment-dropdown.floating {
    position: fixed;
    border-top: 0;
    z-index: 10000;
    margin: 0;
    background-color: $color-base-70;
}

div.period-items-due-container {
  display: block;
  padding: 1em;
  border-left: 1px solid $color-base-60;
  border-right: 1px solid $color-base-60;
  border-bottom: 1px solid $color-base-60;
}

div.term-header {
    font-weight: bold;
    /*color: #555555;*/
    padding-right: .946em;
    padding-top: .946em;
    padding-bottom: .946em;
}

.IconBarContent:hover, .IconBarContent:focus {
	box-shadow: 0 0 4px rgba(0, 0, 0, .6) inset;
	background: none repeat scroll 0 0 $color-base-95;
}

.IconBarContent .IconBarAmmount, 
.IconBarContent .IconBarDescription {
	font-weight: normal;
	margin: .182em 0;
	text-align: center;
	width: 6.818em;
}

.IconBarWide {
	width: 6.818em;
}

.IconBarDivider .IconBarDescription {
	font-weight: normal;
	margin: 0;
	text-align: center;
	width: .615em;
}

.IconBarDescription img {
	max-width: 15px;
}

.IconBarDivider {
	margin-top: .667em;
}

.IconBarDescription {
	margin: 0;
}

.linkSeparator {
	display: inline;
	margin-left: 5px;
	margin-right: 5px;
}
table.esg-table--payment-plan-item:not(:first-of-type) {
    margin-top: 1.25rem;
}
.esg-dialog--period-container {
    margin-top: 1.25rem;
}

/* Account Activity - Nested Details */
@media (max-width: 480px) {
    .formula-category span.arrow.arrow-right,
    .non-formula-category span.arrow.arrow-right,
    .plan-accordion span.arrow.arrow-right {
        right: 1.946em;
    }

    span.link-separator {
        display: none;
    }

    table.termContainer tbody > tr > td > a {
        display: block;
        text-align: center;
        line-height: 2em;
    }

    #pay-plan-button {
        margin-top: .417em;
        width: 100%;
    }

    #reg-summary-button {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .view-statement {
		float: none;
	}

    .esg-table--caption__planschedule {
        margin-right: 0;
        display: block;
    }

    #view-statement-sub-header-container {
        float: right;
    }

    #account-activity-dropdown,
    #admin-details {
        text-align: center;
    }

    #formula-bar-container {
        margin: 0;
    }

    #student-payments-accordion,
    #account-activity-controls,
    #AccountActivityIconsWrapper,
    #view-statement-dropdown-container,
    #top-of-page-container {
        display: none;
    }

    .formula-category,
    .non-formula-category,
    .non-category,
    .plan-accordion {
        margin: 0;
    }

    #make-a-payment .non-category {
        margin-top: .946em;
    }

    .multi-accordion-content,
    .panel-main-content {
        padding: 1em;
    }

    .multi-accordion-content {
        background-color: $color-base-95;
    }

    #make-a-payment-data .category-math {
        padding-right: 0;
    }

    #make-a-payment-data .category-balance {
        padding-right: 1.2em;
    }

    #make-a-payment-data .term-header .category-balance {
        padding-right: 0;
    }

    #make-a-payment .bottom-line-container .category-name {
        padding-left: 0;
    }

    #make-a-payment-controls {
        display: none;
    }

    #payment-options {
        padding: 0;
    }

    .payment-option-content-line {
        padding-bottom: 1em;
        vertical-align: auto;
    }

    .padded-sub-header {
        margin-left: 0;
        margin-right: 0;
        border-left: 0;
        border-right: 0;
    }

    .colSelect,
    .colDistribution, 
    .colDateDue,
    .colAmountDue,
    .colAmountToPay {
	    width: auto;
    }

    .responsiveTable td.colItem {
        padding-left: 25%;
        width: auto;
    }

    .responsiveTable td.inputAlert:before {
        display: none;
    }

    .responsiveTable tbody tr.due-item-error-row {
        border: none;
    }

    .responsiveTable td.inputAlert:first-child {
        background: $color-error-fill url('../../../Content/Images/icon-error.png') 10px center no-repeat;
        color: $color-base-10;
        border: 1px solid $color-error;
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        overflow: auto;
        padding: .8em .8em .8em 2.8em;
        text-align: left;
    }

    .responsiveTable input[type="checkbox"] {
        width: 1.65em;
        height: 1.6em;
    }

    #total-amount-due-container {
        margin: 0;
    }

    #make-a-payment-data {
        padding-left: 0;
        padding-right: 0;
    }

    #make-a-payment-dropdown {
        padding: 1.231em 0;
        margin: 0;
        border-top: none; 
        border-right: none; 
        border-bottom: 1px solid $color-base-55;
        border-left: none; 
        text-align: center;
    }

    div.term-header,
    div.term-header h3 {
        color: $color-base-95;
        background-color: $color-base-40;
        padding-left: .4em;
    }
}

@media (max-width: 1200px) {
    
    .inline-line.button {
        display: block;
    }
}

@media (min-width: 769px) {
    #account-activity-sub-header.section-header {
        display: none;
    }

    #view-statement-sub-header-container {
        display: none;
    }

    .multi-accordion-content {
        padding: .946em;
        border: 1px solid $color-base-55;
        border-top: none;
    }

    div.items-due-container.multi-accordion-content {
        margin: 0;
    }

    div.period.items-due-container.multi-accordion-content {
        margin: auto;
    }

    div.period {
        margin-bottom: .946em;
    }

    .formula-category,
    #disclaimer-container {
        background-color: $color-base-70;
        border: 1px solid $color-base-60;
    }

    .formula-category,
    .non-category,
    .non-formula-category,
    #make-a-payment .non-category {
        margin-top: .946em;
    }

    .plan-accordion,
    #plan-category-sub-header {
        margin-top: 0;
        border-top: none;
        border-right: 1px solid $color-base-55;
        border-bottom: none;
        border-left: 1px solid $color-base-55;
    }

    .plan-accordion {
        background-color: $color-base-70;
        color: $color-base-40;
    }

    .non-formula-category {
        border-bottom: none;
    }

    #account-activity-controls {
        margin-bottom: -.429em;
    }

    #disclaimer-container {
        margin-top: 0;
    }

    h3.category-math {
        font-size: 1.077em;
        padding-right: 0;
    }

    .formula-category h3.category-math span.category-balance,
    .non-category h3.category-math span.category-balance {
        padding-right: 1.2em;
    }

    .inline-line {
        display: inline;
    }

    .responsiveTable tbody tr.due-item-error-row {
        border: 1px solid $color-error;
    }

    .responsiveTable td.inputAlert {
        padding-left: 2.8em;
        -webkit-border-radius: 0;
        border-radius: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

/* Payment Receipt Styles */

#PaymentAcknowledgement hr {
	margin: .769em;
	border-bottom: 1px solid $color-base-65;
	border-top: none;
	border-left: none;
	border-right: none;
}

#paymentServicesProvider {
	padding: .769em;	
}

#paymentServicesProvider i {
	font-style: italic;	
}

#paymentServicesProvider img {
	float: left;
	margin: 0 .769em 0 0;
}

/* Registration Summary Styles */

#RegistrationSummary h3.error,
h3.error {
	background: $color-error-fill url('../../../Content/Images/icon-error.png') 10px center no-repeat;
	padding-left: 2.179em;
	width: auto;
	border: 1px solid $color-error;
	color: $color-error;
	font-weight: bold;
	margin: 10px;
}

#RegistrationSummary div.alert-message-container a {
    padding-left: .769em;
}

#RegistrationSummary #PrintSummary,
#RegistrationSummary #ReprintSummary {
	float: right;
	margin-right: .833em;
	margin-top: -3.333em;
}

#RegistrationSummary .section > br:last-child {
	display: none;
}

#RegistrationSummary #headerBlock .section {
	border-bottom: 1px solid $color-base-65;
    border-top: 1px solid $color-base-65;
	background: $color-base-80;
	padding: .923em;
}

#RegistrationSummary #headerBlock .date {
	padding: .923em .923em;
	float: right;
}

#RegistrationSummary #termsAndConditionsHeader {
	margin-top: 1.154em;
	margin-bottom: .923em;
}

#planDetails #tc-container {
    margin-top: 1.154em;
}

#regData.section-contents {
    padding-bottom: 0;
}

#RegistrationSummary #regData #charges {
    margin-top: 1em;
}

#RegistrationSummary #regData #charges td .bold {
	font-weight: bold;
}

#RegistrationSummary #tcText {
	min-height: 150px;
}

@media (max-width: 480px) {
    #RegistrationSummary div.alert-message-container a {
        padding-left: 0;
        line-height: 2em;
        display: block;
    }
}


/* Landscape phones and down */
@media (max-width: 564px) {
	#RegistrationSummary #headerBlock div.section > p,
    #PrintRegSummary #headerBlock div.section > p {
		word-wrap: break-word;
	}

	#RegistrationSummary #PrintSummary,
	#RegistrationSummary #ReprintSummary,
	#PaymentAcknowledgement #PrintAcknowledgement,
	#PaymentPlanAcknowledgement #PrintPlanAcknowledgement,
    #PrintAcknowledgement {
		display: none;
	}  
}

@media only screen and (max-device-width: 320px) {
    #view-statement-sub-header-container {
        width: 100%;
    }

    #view-statement-sub-header-container > .pdf-link {
        background: none;
        padding: 0;
	}    
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	#RegistrationSummary #PrintSummary,
	#RegistrationSummary #ReprintSummary,
	#PaymentAcknowledgement #PrintAcknowledgement,
	#PaymentPlanAcknowledgement #PrintPlanAcknowledgement,
    #PrintAcknowledgement {
		display: none;
	}

	#RegistrationSummary #headerBlock div.section > p,
    #PrintRegSummary #headerBlock div.section > p {
		word-wrap: break-word;
	}
}

/* Printable Summary Styles */

#PrintRegSummary h1,
#PrintPaymentAcknowledgement h1,
#PrintPaymentPlanAcknowledgement h1 {
	font-weight: bold;
	color: $color-base-50;
	display: block;
	margin-top: .563em;
	-webkit-margin-before: 1.33em;
	-webkit-margin-after: 1.33em;
}

#PrintPaymentPlanAcknowledgement h1 {
    margin-left: .313em;
}

#PrintPaymentAcknowledgement h4 {
	font-weight: bold;
	color: $color-base-45;
	display: block;
}

#PrintRegSummary #bodyHeader {
	margin: 0;
}

#PrintPaymentAcknowledgement #bodyHeader {
	margin: 0 0 .313em 0;
	padding-bottom: .313em;
	border-bottom: 1px solid $color-base-65;
}

#PrintRegSummary #headerBlock {
	border-top: 1px solid $color-base-65;
	padding: .438em 0 0 0;
}

#PrintRegSummary .section > br:last-child {
	display: none;
}

#PrintRegSummary #headerBlock .date {
	margin: 0;
	display: block;
	padding: .75em .75em;
	font-size: .75em;
	float: right;
}

#PrintRegSummary #headerBlock .section {
	display: block;
	border-bottom: 1px solid $color-base-65;
	padding: .75em 0 .75em 0;
	font-size: .75em;
}

#PrintRegSummary #headerBlock .section p {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 75%;
	font: inherit;
	vertical-align: baseline;
}

#PrintPaymentAcknowledgement .ack-section-header {
	border-bottom: 1px solid $color-base-65;
}

#PrintPaymentAcknowledgement #headerBlock {
	padding: .438em 0 0 0;
	line-height: 1.125em;	
}

#PrintRegSummary h5,
#PrintPaymentAcknowledgement h5 {
	font-weight: bold;
	font-size: .625em;
	color: $color-base-50;
	padding: 0;
	margin: 1.8em 0 1.1em 0;
	margin: 3.7em 0 1.1em 0\9;
}

#PrintRegSummary #regData table,
#PrintPaymentAcknowledgement #accountPayments,
#PrintPaymentAcknowledgement #arDeposits,
#PrintPaymentAcknowledgement #nonArItems,
#PrintPaymentAcknowledgement #convfees,
#PrintPaymentAcknowledgement #pmtsTendered,
#PrintPaymentAcknowledgement table {
	width: 100%;
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid $color-base-65;
	margin: 0;
	padding: 0;
	font: inherit;
	vertical-align: baseline;
}

#PrintRegSummary #coursesData {
	margin: 0;
}

#PrintRegSummary thead,
#PrintPaymentAcknowledgement thead {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 75%;
	font: inherit;
	vertical-align: baseline;
	display: table-header-group;
}

#PrintRegSummary #regData #courses {
	margin-bottom: .688em;
}

#PrintRegSummary #regData #courses th,
#PrintPaymentAcknowledgement th,
#PrintPaymentPlanAcknowledgement th,
#PrintPaymentPlanAcknowledgement #planSectionHeader {
	font-weight: bold;
	color: $color-base-10;
	padding: .778em;
	background: $color-base-80;
	border: 1px solid $color-base-65;
	text-align: left;
}

#PrintRegSummary #regData #courses tr,
#PrintPaymentAcknowledgement tr,
#PrintPaymentPlanAcknowledgement tr {
	border: 1px solid $color-base-65;
	border-bottom: 1px dashed $color-base-65;
}

#PrintRegSummary #regData #courses tr:nth-last-of-type(1) {
	border: 1px solid $color-base-65;
	border-bottom: none;
}

#PrintRegSummary #regData #courses td,
#PrintPaymentAcknowledgement td,
#PrintPaymentPlanAcknowledgement td {
	border: 1px solid $color-base-65;
	color: $color-base-10;
	padding: .778em;
	background: $color-base-95;
	border: 1px solid $color-base-65;
	line-height: 1.5;
}

#PrintPaymentAcknowledgement caption,
#PrintPaymentPlanAcknowledgement caption {
	text-align: left;
	font-weight: bold;
	color: $color-base-50;
	padding: 0;
	margin: .8em 0 1.1em 0;
	margin: 3.7em 0 1.1em 0\9;
}

#PrintPaymentAcknowledgement #paymentServicesProvider {
	width: 100%;
}

#PrintPaymentAcknowledgement #paymentServicesProvider span {
	text-align: left;
	font-weight: bold;
	font-size: .75em;
	color: $color-base-50;
	padding: 0;
	margin: .667em 0 .917em 0;
	margin: 3.083em 0 .917em 0\9;
}

#PrintPaymentAcknowledgement #PrintAcknowledgement {
    display: none;
}

#PrintRegSummary #regData #charges th {
	border: 1px solid $color-base-65;
	font-weight: bold;
	font-size: .563em;
	color: $color-base-10;
	padding: .778em;
	background: $color-base-65;
	text-align: left;
}

#PrintRegSummary #regData #charges tr {
	border-bottom: 1px dashed $color-base-60;
}

#PrintRegSummary #regData #charges tr:nth-last-of-type(1) {
	border-bottom: none;
}

#PrintRegSummary #regData #charges td {
	font-size: .563em;
	color: $color-base-10;
	padding: .778em;
	border: 1px solid $color-base-65;
}

#PrintRegSummary .bold {
	font-weight: bold;
}

#PrintRegSummary #multiPmtsWarning {
	border-bottom: 1px solid $color-base-65; 
}

#PrintRegSummary #termsAndConditionsHeader {
    page-break-before: always;
	margin-top: .625em;
}

#PrintRegSummary caption {
    text-align: left;
    font-weight: bold;
    font-size: .75em;
    color: $color-base-50;
    padding: .833em .833em .833em 0;
}

#PrintRegSummary #termsAndConditionsHeader h4,
#PrintPaymentPlanAcknowledgement #termsAndConditionsHeader h4 {
	font-weight: bold;
	font-size: .75em;
	color: $color-base-50;
	padding: 0;
}

#PrintRegSummary #tcArea {
	height: 100%;
	margin: 0;
}

#PrintRegSummary #tcText {
	outline: none;
	margin: 0;
	font-size: .75em;
	color: $color-base-10;
	padding: .583em 2.5em 0 0;
	border: none;
	overflow: visible;
	resize: none;
	height: 100%;
	width: 100%;
	width: 97.9%\9;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	word-wrap: break-word;
}

/* Payment Options Styles */
.options-contents {
    width: auto;
}

#paymentOptionsAccordionLabel, 
#planDetailsAccordionLabel,
#downPaymentAccordionLabel {
	font-weight: bold;
	font-size: 1.333em;
	color: $color-base-40;
	margin-left: 2em;
}

#PaymentOptions #planDetailsAccordion h3 {
	font-weight: bold;
	color: $color-base-50;
}

#PaymentOptions #planDetails {
	padding: 1.3em 1.5em;
	border: none;
}

#PaymentOptions #planIdRow {
	display: none;
}

#PaymentOptions #payOptions .payOption,
#PaymentOptions #payOptions .paymentMethod,
#PaymentOptions #planDownPayment .payOption,
#PaymentOptions #planDownPayment .paymentMethod {
	vertical-align: middle;
	padding: 1em .231em 1em 1em;
	font-size: 1em;
}

#PaymentOptions #payOptions .payOption,
#PaymentOptions #planDownPayment .payOption {
	border-top: 1px solid $color-base-70;
}

#PaymentOptions #payOptions .inputAlert,
#PaymentOptions #planDownPayment .inputAlert {
    margin-top: .667em;
    ;
    margin-left: -1.083em;
	vertical-align: middle;
	line-height: 2.25;
	padding: .05em .8em .05em 2.8em;
	font-size: .923em;
}

.dropdown {
	margin-top: .615em;
	vertical-align: middle;
	line-height: 2.25;
	font-size: 1em;
	background: $color-base-65;
	border-top: none;
	border-left: 1px solid $color-base-65;
	border-right: 1px solid $color-base-65;
	border-bottom: 1px solid $color-base-65;
	overflow: auto;
	text-align: center;
	padding: .8em .8em .8em .8em;
}

#PaymentOptions #payOptions .radio,
#PaymentOptions #planDownPayment .radio {
	vertical-align: middle;
	width: 5%;
}

#PaymentOptions #payOptions input[type="text"],
#PaymentOptions #planDownPayment input[type="text"] {
	max-width: 100px;
}

#PaymentOptions #payOptions input[type="radio"],
#PaymentOptions #planDownPayment input[type="radio"] {
	margin: 0 .385em;
}

#PaymentOptions .radio {
	float: left;
}

#PaymentOptions #payOptions .choiceText,
#PaymentOptions #planDownPayment .choiceText {
	vertical-align: middle;
	min-width: 100px;
	font-weight: bold;
}

#PaymentOptions input[type="radio"] {
	vertical-align: middle;
}

#PaymentOptions #payOptions .paymentAmount,
#PaymentOptions #planDownPayment .paymentAmount,
#PaymentOptions #deferText {
	font-weight: bold;
	float: right;
	text-align: right;
}

#PaymentOptions .paymentAmount text {
	font-weight: normal;
}

#PaymentOptions #payOptions .payMethod,
#PaymentOptions #planDownPayment .payMethod {
	margin-left: 1.538em;
    width: 60%;
}

#PaymentOptions #payOptions td {
	border: none;
}

#PaymentOptions #tcArea {
	margin: 0;
}

#PaymentOptions #tcText {
	min-height: 150px;
}

#PaymentOptions #ackDateTime {
	margin-bottom: 1.538em;
	margin-top: .769em;
	margin-left: .769em;
}

#planDetails #ackDateTime {
	margin-bottom: 1.538em;
}

#PaymentOptions #studentMessage {
	margin-left: .769em;
	margin-bottom: 1.538em;
}

#planDetails #studentMessage {
	margin-bottom: 1.538em;
}

#PaymentOptions #paymentPlanDetails {
    margin-right: 1.923em;
}

#paymentPlanDetails table {
    width: 100%;
    border: none;
}

#paymentPlanDetails table td {
    border: none;
    border-bottom: 1px solid $color-base-70;
    padding: 7px;
}

#paymentPlanDetails table td:first-of-type {
    font-weight: bold;
}

#paymentPlanDetails table tr:last-child {
    background: $color-base-75;
}

@media all and (max-width: 769px) {
    #PaymentOptions #paymentPlanDetails {
        margin-right: 0;
    }
}

#PaymentOptions #paymentPlanSchedule {
    margin-top: 0;
}

#paymentPlanSchedule table {
    width: 100%;
    border: none;
}

#paymentPlanSchedule table td {
    border: none;
    border-bottom: 1px solid $color-base-70;
    padding: .538em;
}

#paymentPlanSchedule table th {
    border: none;
    padding: .538em;
    font-weight: bold;
}

@media all and (max-width: 769px) {
    #PaymentOptions #paymentPlanSchedule {
        margin-top: 1.923em;
    }
}

#PaymentOptions #termsAndConditionsHeader {
    clear: both;
    margin-top: .769em;
}
				
#PaymentOptions #paymentPlanSchedule {
	border-bottom: none;
}

#PaymentOptions .planSectionHeader {
	padding: .615em .769em .308em;
	line-height: 1.923em;
	background-color: $color-base-65;
	border-bottom: 1px solid $color-base-55;
}

#PaymentOptions .planSectionHeaderText,
#planDetails .planSectionHeaderText {
	text-align: left;
	font-size: 1.077em;
	font-weight: bold;
	color: $color-base-35;
}

#PaymentOptions .scheduleRow {
	border-bottom: 1px solid $color-base-55;
}

#PaymentOptions .scheduleRow:last-child {
	border-bottom: none;
}

#PaymentOptions .label::after {
    content: ":";
}

@media (min-width: 1000px) {
	#PaymentOptions #payOptions .paymentAmount, 
    #PaymentOptions #planDownPayment .paymentAmount {
		margin-right: 60%;
	}

	#PaymentOptions #payOptions .paymentMethod,
    #PaymentOptions #planDownPayment .paymentMethod {
		width: 40%;
	}
}

@media (max-width: 300px) {
	#PaymentOptions #payOptions .choiceText,
	#PaymentOptions #payOptions .paymentAmount,
	#PaymentOptions #planDownPayment .choiceText,
    #PaymentOptions #planDownPayment .paymentAmount {
		font-size: 75%;
	}
}

@media (max-width: 769px) {
    .label {
		font-weight: bold;
	}
}


/* Payment Review Styling */
#PaymentReview #paymentCount {
	font-size: 1em;
	font-weight: bold;
	color: $color-error;
	margin-left: .769em;
	margin-top: .769em;  
}

#PaymentReview #paymentReviewText {
	margin-bottom: 1em;
}

#PaymentReview #PaymentMethod {
	width: 100%;
	text-align: right;
	float: none;
	padding: .855em 0;
}

#ach-helper {
    margin-top: .769em;
}

#ach-helper p {
	margin-left: .769em;
	padding: 0 0 1.5%;
}

#formContainer {
	margin: 0 .769em .769em .769em;
	border-top: 1px solid $color-base-65;
	padding-top: .769em;
}

#pmtEntryForm {
	padding: .769em;
	border-radius: 5px 5px 5px 5px;
	background-color: $color-base-80;
	border: 1px solid $color-base-65;
	margin-bottom: .769em;
}

.editor-label {
	font-weight: bold;
}

.editor-field {
	margin-bottom: .769em;
}

#authTextContainer {
	margin-left: .769em;
	margin-right: 0;
	margin-bottom: .769em;
	padding: .769em;
	background-color: $color-base-80;
	border: 1px solid $color-base-65;
	border-radius: 5px;
}

.contentHeader > h4 {
	margin-bottom: .625em;
	font-weight: bold;
	font-size: 1.231em;
	color: $color-base-45;
}

#pmtEntryForm span.errorArea {
    display: none;
}

#pmtEntryForm div.errorArea {
	margin-top: .385em;
	margin-left: -.385em;
	margin-bottom: .769em;
}

#pmtEntryForm div.errorArea {
	overflow: inherit;
}

#achAuthText {
	margin-top: 0; 
	margin-bottom: 0;
}

@media all and (max-width: 769px) {
	#pmtEntryForm {
		background-color: $color-base-80;
		border: 1px solid $color-base-65;
	}

    #authTextContainer {
		margin-left: 0;
	}

    #achAuthText {
		white-space: pre-line;
		padding: 0 .615em .615em 2.538em;
		border: 1px solid $color-hint;
		background: url("../../../Content/Images/icon-info.png") no-repeat 10px center $color-hint-fill;
		color: $color-base-10;
		border-radius: 5px 5px 5px 5px;
		line-height: inherit;
	}
}

/* Payment Acknowledgement Styling */

#PaymentAcknowledgement #errorMsg {
	margin: 60px 10px 10px;
	padding: 5px 5px 5px 34px;
}

#PaymentAcknowledgement .errorMessage {
	background: $color-error-fill url('../../../Content/Images/icon-error.png') 10px center no-repeat;
	padding-left: 34px;
	border: 1px solid $color-error;
	color: $color-error;
	font-weight: bold;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

#PaymentAcknowledgement .ack-section-header,
.ack-section-header {
	border-top: 1px solid $color-base-65;
	border-bottom: 1px solid $color-base-65;
	background: $color-base-80;
	padding: 12px;
}

#PaymentAcknowledgement .ack-section-header h4,
.ack-section-header h4 {
	color: $color-base-35;
	font-size: .923em;
	text-align: left;
}

#PaymentAcknowledgement #PrintAcknowledgement {
	float: right;
	margin-right: .769em;
	margin-top: -3.077em;
}

#cash-receipt-dialog #PrintAcknowledgement {
    display: none;
}

#PaymentAcknowledgement #PrintAcknowledgement img,
#PrintAcknowledgement img {
	float: left;
}

#PaymentAcknowledgement #PrintAcknowledgement span.buttonText,
#PrintAcknowledgement span.buttonText {
	float: right;
	padding-left: .5em;
	padding-top: .25em;
}

#PaymentAcknowledgement .ipc {
	margin-bottom: 12px;
}

#PaymentAcknowledgement .ipcPmtProvider {
	float: none;
}

#PaymentAcknowledgement #tableWrapper { 
  margin-left: .769em;
  margin-right: .769em; 
}

/* Payment Plan Acknowledgement */
#PaymentPlanAcknowledgement #tcText {
	font-size: 1em;
	color: $color-base-10;
	background: $color-base-80;
	padding: .769em;
	border: 2px solid $color-base-55;
	resize: none;
	overflow: auto;
	min-height: 150px;
	width: 100%;
	width: 97.9%\9; /*IE9 specific width*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box;
}

#PaymentPlanAcknowledgement #PrintPlanAcknowledgement {
	float: right;
	margin-right: .833em;
	margin-top: -3.75em;
}

@media all and (max-width: 769px) {
    #PaymentPlanAcknowledgement #tcArea {
        margin-left: 10px;
        margin-right: 10px;
    }
}

#PaymentPlanAcknowledgement #ackDateTime {
	margin-bottom: 1.538em;
	margin-top: .769em;
	margin-left: .769em;
}

@media all and (max-width: 769px) {
    #PaymentPlanAcknowledgement #ackDateTime {
        margin-left: 10px;
    }
}

#PaymentPlanAcknowledgement #studentMessage {
	margin-bottom: 1.538em;
	margin-left: .769em;
}

@media all and (max-width: 769px) {
    #PaymentPlanAcknowledgement #studentMessage {
        margin-left: .769em;
    }
}

#PaymentPlanAcknowledgement #paymentPlanDetails
{
    margin-right: .769em;
    margin-left: .769em;
}

#PaymentPlanAcknowledgement #paymentPlanDetails table,
#planDetails #paymentPlanDetails table {
    width: 100%;
    border: none;
}

#PaymentPlanAcknowledgement #paymentPlanDetails table td,
#planDetails #paymentPlanDetails table td {
    border: none;
    border-bottom: 1px solid $color-base-70;
    padding: .538em;
}

#PaymentPlanAcknowledgement #paymentPlanDetails table td:first-of-type,
#planDetails #paymentPlanDetails table td:first-of-type {
    font-weight: bold;
}

#PaymentPlanAcknowledgement #paymentPlanDetails table tr:last-child,
#planDetails #paymentPlanDetails table tr:last-child {
    background: $color-base-75;
}

@media all and (max-width: 769px) {
    #PaymentPlanAcknowledgement #paymentPlanDetails {
        margin-right: .769em;
    }
}

#PaymentPlanAcknowledgement #paymentPlanSchedule {
    margin-top: 0;
    margin-right: .769em;
}

#PaymentPlanAcknowledgement #paymentPlanSchedule table {
    width: 100%;
    border: none;
}

#PaymentPlanAcknowledgement #paymentPlanSchedule table td {
    border: none;
    border-bottom: 1px solid $color-base-70;
    padding: .538em;
}

#PaymentPlanAcknowledgement #paymentPlanSchedule table th {
    border: none;
    padding: .538em;
    font-weight: bold;
}

@media all and (max-width: 769px) {
    #PaymentPlanAcknowledgement #paymentPlanSchedule {
        margin-top: 1.923em;
        margin-left: .769em;
        margin-right: .769em;
    }
}

@media all and (max-width: 769px) {
    #PaymentPlanAcknowledgement #termsAndConditionsHeader {
        margin-left: .769em;
        margin-top: .769em;
    }
}
				
#PaymentPlanAcknowledgement #paymentPlanSchedule {
	border-bottom: none;
}

#PaymentPlanAcknowledgement .planSectionHeader,
#planDetails .planSectionHeader {
	padding: .615em .769em .308em;
	line-height: 1.923em;
	background-color: $color-base-65;
	border-bottom: 1px solid $color-base-55;
}

#PaymentPlanAcknowledgement .planSectionHeaderText {
	text-align: left;
	font-size: 1.077em;
	font-weight: bold;
	color: $color-base-35;
}

#PaymentPlanAcknowledgement .scheduleRow {
	border-bottom: 1px solid $color-base-55;
}

#PaymentPlanAcknowledgement .scheduleRow:last-child {
	border-bottom: none;
}

#PaymentPlanAcknowledgement .label::after {
    content: ":";
}

/* Payment Plan Acknowledgement Print*/
#PrintPaymentPlanAcknowledgement #tcArea {
	height: 100%;
	display: table-cell;
	padding: .769em;
}

#PrintPaymentPlanAcknowledgement #tcText {
	outline: none;
	margin: 0;
	font-size: .923em;
	color: $color-base-10;
	padding: .583em 2.5em 0 0;
	border: none;
	overflow: visible;
	resize: none;
	height: 100%;
	width: 100%;
	width: 97.9%\9;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	word-wrap: break-word;
}

#PrintPaymentPlanAcknowledgement #PrintPlanAcknowledgement {
	display: none;
}

@media all and (max-width: 769px) {
    #PrintPaymentPlanAcknowledgement #tcArea {
        margin-left: 10px;
        margin-right: 10px;
    }
}

#PrintPaymentPlanAcknowledgement #ackDateTime {
	margin-bottom: 1.538em;
	margin-top: .769em;
	margin-left: .769em;
	margin-right: .769em;
	border-top: 1px solid $color-base-65;
	padding: .385em 0;
}

@media all and (max-width: 769px) {
    #PrintPaymentPlanAcknowledgement #ackDateTime {
        margin-left: 10px;
    }
}

#PrintPaymentPlanAcknowledgement #studentMessage {
	margin-bottom: 1.538em;
	margin-top: .769em;
	margin-left: .769em;
	border-bottom: 1px solid $color-base-65;
	padding: 0 0 .385em 0;
}

@media all and (max-width: 769px) {
    #PrintPaymentPlanAcknowledgement #studentMessage {
        margin-left: .769em;
    }
}

#PrintPaymentPlanAcknowledgement #paymentPlanDetails {
    margin-right: .769em;
    margin-left: .769em;
}

#PrintPaymentPlanAcknowledgement #paymentPlanDetails table {
    width: 100%;
    border: none;
}

#PrintPaymentPlanAcknowledgement #paymentPlanDetails table td {
    border: none;
    border-bottom: 1px solid $color-base-70;
    padding: .538em;
}

#PrintPaymentPlanAcknowledgement #paymentPlanDetails table td:first-of-type {
    font-weight: bold;
}

#PrintPaymentPlanAcknowledgement #paymentPlanDetails table tr:last-child {
    background: $color-base-75;
}

@media all and (max-width: 769px) {
    #PrintPaymentPlanAcknowledgement #paymentPlanDetails {
        margin-right: .769em;
    }
}

#PrintPaymentPlanAcknowledgement #paymentPlanSchedule {
    margin-top: 0;
    margin-right: .769em;
}

#PrintPaymentPlanAcknowledgement #paymentPlanSchedule table {
    width: 100%;
    border: none;
}

#PrintPaymentPlanAcknowledgement #paymentPlanSchedule table td {
    border: none;
    border-bottom: 1px solid $color-base-70;
    padding: .538em;
}

#PrintPaymentPlanAcknowledgement #paymentPlanSchedule table th {
    border: none;
    padding: .538em;
    font-weight: bold;
}

@media all and (max-width: 769px) {
    #PrintPaymentPlanAcknowledgement #paymentPlanSchedule {
        margin-top: 1.923em;
        margin-left: .769em;
        margin-right: .769em;
    }
}

#PrintPaymentPlanAcknowledgement #termsAndConditionsHeader {
    clear: both;
    margin-top: .769em;
    margin-left: .769em;
    margin-right: .769em;
}

@media all and (max-width: 769px) {
    #PrintPaymentPlanAcknowledgement #termsAndConditionsHeader {
        margin-left: .769em;
    }
}

#PrintPaymentPlanAcknowledgement #downPmtMessage {
	margin-bottom: 1.538em;
	margin-top: .769em;
	border-bottom: 1px solid $color-base-65;
	border-top: 1px solid $color-base-65;
	padding: .385em 0;
}
				
#PrintPaymentPlanAcknowledgement #paymentPlanSchedule {
	border-bottom: none;
}

#PrintPaymentPlanAcknowledgement .scheduleRow {
	border-bottom: 1px solid $color-base-55;
}

#PrintPaymentPlanAcknowledgement .scheduleRow:last-child {
	border-bottom: none;
}

#PrintPaymentPlanAcknowledgement .column-four {
	width: 44.44%;
}

#PrintPaymentPlanAcknowledgement .column-five {
	width: 55.55%;
}

@media all and (max-width: 769px) {
	#PrintPaymentPlanAcknowledgement .column-four,
	#PrintPaymentPlanAcknowledgement .column-five {
		width: 100.00%;
	}
}

#PrintPaymentPlanAcknowledgement .label::after {
    content: ":";
}

#PrintPaymentPlanAcknowledgement #agreeCheck {
	margin: .769em;
	font-weight: bold;
	font-size: 1em;
	color: $color-base-10;
}

#PrintPaymentPlanAcknowledgement #planApprovalInfo {
	border-bottom: 1px solid $color-base-65;
	border-top: 1px solid $color-base-65;
	padding: .385em 0;
}


/* Payment Complete Styling */
#PaymentComplete .error {
	background: $color-error-fill url('../../../Content/Images/icon-error.png') 10px center no-repeat;
	padding-left: 2.615em;
	margin: 0 .769em .769em;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid $color-error;
	color: $color-error;
	font-weight: bold;
}

#PaymentComplete #messageText {
	font-size: 1em;
	resize: none;
	outline: none;
	overflow: hidden;
	min-height: 150px;
	width: 100%;
	width: 97.9%\9; /*IE9 specific width*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box;
}

/* Progress Bar Styling */

#workflowIndicator * {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Registration Activity Styling */
#reprintBodyHeader h4 {
    color: $color-base-45;
}

#RegistrationActivity #registrationTerms .termContainer, #registrationTerms2 .termContainer {
	margin-bottom: .769em;
}

#RegistrationActivity #registrationTerms .termContainer:last-child #RegistrationActivity #registrationTerms2 .termContainer:last-child {
	margin-bottom: 1.538em;
}

#RegistrationActivity .requirementHeader {
	width: 20%;
	min-width: 120px;
}

#RegistrationActivity .actionHeader {
	width: 80%;
}

#RegistrationActivity .requirementMet {
	background: $color-success-fill url("../../../Content/Images/icon-success.png") no-repeat scroll 0 center;
	background-position: 5px center;
	color: $color-success;
	padding: .769em .769em .769em 2.077em;
	vertical-align: middle;
    border-right: 1px solid $color-base-60;
}

#RegistrationActivity .requirementNotMet {
	background: $color-error-fill url("../../../Content/Images/icon-error.png") no-repeat scroll 0 center;
	background-position: 5px center;
	color: $color-error;
	padding: .769em .769em .769em 2.077em;
	vertical-align: middle;
    border-right: 1px solid $color-base-60;
}

#RegistrationActivity .noActiveClasses {
	background: $color-hint-fill url("../../../Content/Images/icon-info.png") no-repeat scroll 0 center;
	background-position: 5px center;
	color: $color-base-10;
	padding: .769em .769em .769em 2.077em;
	vertical-align: middle;
    border-right: 1px solid $color-base-60;
}

#RegistrationActivity .action {
	vertical-align: middle;
}

/* Payment Plan Acknowledgement Styling */
#PaymentPlanAcknowledgement table {
	width: 100%;
}


#PaymentPlanAcknowledgement caption {
	text-align: left;
	font-style: italic;
	font-weight: bold;
	padding: 5px;
    /* ThemeColor(Light1-Darkest) */
	background-color: $color-base-40;
    /* ThemeColor(Light1) */
	color: $color-base-95;
}

/* ----------------------------------------------------------- */
/* //////////   Account Summary Styles             //////////  */
/* ----------------------------------------------------------- */

.summary-line {
    margin: 0 1.5em;
    padding: 1.3em 0;
}

.operator {
    margin-left: -1.5em;
}

#account-summary .panel-controller, .multi-accordion-controller {
    font-size: inherit;
    color: inherit;
}

#total-account-balance-container .summary-line.timeframe-line {
    padding: .65em 0;
}

#account-summary #amount-due-line {
    border-bottom: 1px dashed $color-base-55;
}

#account-summary #amount-overdue-line,
#account-summary #total-amount-due-line {
    border-bottom: 1px solid $color-base-55;
}

#account-summary .pad-left {
    padding-left: 1.5em;
}

#account-summary .pad-right {
    padding-right: 1.5em;
}

#account-summary #summary-data-wrapper {
    padding-top: 0;
    padding-left: 0;
}

#mobile-account-activity-link {
    padding-top: 0;
    padding-bottom: 0;
}

@media (max-width: 769px) {
    .link-to-other-page {
        margin: 1.3em 0 0;
        text-align: left;
    }
    #mobile-account-activity-link .link-to-other-page {
        margin-top: 0;
    }

    #total-account-balance-container .summary-line.timeframe-line {
        padding-top: 0;
    }

    .operator {
        display: none;
    }

    #summary-data-wrapper {
        padding-right: 0;
    }
}

@media all and (max-width: 480px) {
    #page-description p.esg-link-wrapper__search {
        display: inherit;
    }
}

/* ----------------------------------------------------------- */
/* //////////   High Density Display Graphics      //////////  */
/* ----------------------------------------------------------- */

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {

.print-button {
    background-image: url(../../../Content/Images/print@2x.png);
	background-size: 16px;
}

.textAlert {
	background-image: url("../../../Content/Images/icon-warning@2x.png");
	background-size: 17px;
}

.error-notification {
	background-image: url("../../../Content/Images/icon-error@2x.png");
	background-size: 16px;
}
}

@media (max-width: 480px) {
    .formula-category,
    .non-category {
        padding-left: 0.946em;
    }

    img.prefix-icon {
        right: 8.125em;
        padding-right: 2em;
    }

    .formula-category h3.category-math span.category-balance, .non-category h3.category-math span.category-balance {
        padding-right: 1.2em;
    }

    h3.category-name {
        padding-left: .15em;
    }
}

/* ----------------------------------------------------------- */
/* //////////   Admin Search Results               //////////  */
/* ----------------------------------------------------------- */
.column-5-per {
    width: 5%;
}

.column-45-per {
    width: 45%;
}

@media only screen and (max-width: 768px) {
    #person-search-results.responsiveTable td:first-child:before {
        padding-top: 20px;
        white-space: pre-line;
    }
}
/* ----------------------------------------------------------- */
/* //////////  End Finance Styles                  //////////  */
/* ----------------------------------------------------------- */
