﻿/* Some changes to styles in Finance branch -- need to standardize and merge/move to Site level */
/* Color variables */
/* -------------------------------------------------------------- */
/* STEP INDICATOR */
/* -------------------------------------------------------------- */
.si-container {
  /* outer container */
  font-size: 0.813em;
  float: left;
  width: 100%;
  margin-bottom: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #e2e2e2;
}

.step-indicator {
  /* step indicator <UL> */
  margin: 0;
  padding: 0;
}

.step-indicator > li {
  /* steps */
  float: left;
  height: 40px;
  padding: 13px 20px 0 32px;
  list-style-type: none;
  position: relative;
  color: #555555;
  font-weight: bold;
}

/* need to round the left top and bottom corners of the first step */
.step-indicator > li:first-child {
  padding-left: 20px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* need to round the right top and bottom corners of the last step */
.step-indicator > li:last-child {
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right: 2px solid #ffffff;
}

.step-indicator > li:last-child > div {
  display: none;
}

/* current step <LI> */
.step-indicator > li.current {
  background-color: #767676;
  position: relative;
  color: #ffffff;
}

/* done step <LI> */
.step-indicator > li.done {
  background-color: #e2e2e2;
  position: relative;
  color: #555555;
}

/* generic chevron */
.step-indicator > li > div {
  position: absolute;
  z-index: 3;
  display: inline;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 28px;
  height: 28px;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  margin-left: 6px;
  margin-top: -7px;
}

/* current chevron */
.step-indicator > li.current > div {
  background-color: #767676;
}

/* done chevron */
.step-indicator > li.done > div {
  background-color: #e2e2e2;
}

/* generic icon container */
.step-indicator > li > span {
  width: 18px;
  height: 18px;
  margin-top: 1px;
  margin-right: 10px;
  float: left;
}

/* icon */
.step-indicator > li > span > div {
  position: absolute;
  display: inline;
  width: 18px;
  height: 18px;
  font-size: 18px;
  margin-top: -8px;
}

/* --------------- Ellucian Icons ------------------*/
@font-face {
  font-family: 'ellucian';
  src: url("../Content/Images/ellucian-icons/ellucian.eot");
  src: url("../Content/Images/ellucian-icons/ellucian.eot?#iefix") format("embedded-opentype"), url("../Content/Images/ellucian-icons/ellucian.woff") format("woff"), url("../Content/Images/ellucian-icons/ellucian.ttf") format("truetype"), url("../Content/Images/ellucian-icons/ellucian.svg#success") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon-play-circle:before {
  content: "\e058";
  color: #3a7683;
  vertical-align: middle;
  line-height: 1.6;
  position: absolute;
}

.icon-circle-outline:before {
  content: "\e057";
  color: #999999;
  vertical-align: middle;
  line-height: 1.6;
  position: absolute;
}

.icon-circle:after {
  content: "\e011";
  color: #ffffff;
  vertical-align: middle;
  line-height: 1.7;
}

.icon-circle-gray:after {
  content: "\e011";
  color: #efefef;
  vertical-align: middle;
  line-height: 1.7;
}

/* --------------- Responsive Steps ------------------*/
/* --------------- Desktop Form Factor ------------------*/
/* - You may need to change 1120px to another value depending on where exactly the steps break in the layout. Once you reach a breaking point, adjust your min-width to be just a bit larger than the point at which the layout breaks. - */
@media (min-width: 1221px) {
  /* Future */
  .future .description {
    text-indent: 0;
    width: auto;
    margin-right: 0;
    padding-left: 0px;
    padding-right: 0px;
  }
  /* Current */
  .current .description {
    width: 0;
    margin-right: 0;
    float: none;
    padding-left: 0px;
    position: relative;
    z-index: 4;
    padding-right: 0px;
  }
  /* Done */
  .done .description {
    text-indent: 0;
    width: auto;
    margin-right: 0;
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
    z-index: 4;
  }
}

/* --------------- Tablet Form Factor ------------------*/
@media all and (max-width: 1220px) {
  .step-indicator > li > span {
    margin-right: 5px;
  }
  /* Future */
  .step-indicator > li.future {
    padding: 13px 5px 0 11px;
  }
  .step-indicator > li.future:last-child {
    padding-right: 5px;
  }
  .future .description {
    display: none;
  }
  .step-indicator > li.future > div {
    margin-left: -18px;
    right: 0;
  }
  /* Current */
  .step-indicator > li.current:last-child {
    padding-right: 10px;
  }
  .step-indicator > li.current:first-of-type {
    padding: 13px 5px 0 10px;
    margin-left: 0;
  }
  .step-indicator > li.current {
    padding: 13px 5px 0 26px;
    margin-right: 16px;
    margin-left: -3px;
  }
  .current .description {
    width: 0;
    margin-right: 0;
    float: none;
    padding-left: 0px;
    position: relative;
    z-index: 4;
  }
  .step-indicator > li.current > div {
    margin-left: -7px;
    background-color: #999999;
  }
  /* Done */
  .step-indicator > li.done {
    background-color: #d5d5d5;
    position: relative;
    color: #767676;
    padding: 13px 0 0 20px;
  }
  .step-indicator > li.done:first-of-type {
    padding-left: 10px;
  }
  .done .description {
    display: none;
  }
  .done span,
  .current span {
    position: relative;
    z-index: 4;
  }
  .step-indicator > li.done > div {
    margin-left: -20px;
    background-color: #d5d5d5;
  }
}

/* --------------- Smartphone Form Factor ------------------*/
@media only screen and (min-width: 100px) and (max-width: 480px) {
  .current .description {
    display: none;
  }
  .step-indicator > li.current {
    padding-right: 0;
    margin-left: -6px;
  }
  .step-indicator > li.current:first-of-type {
    padding: 13px 1px 0 10px;
    margin-left: 0;
  }
  .step-indicator > li.current:last-of-type {
    margin-right: -6px;
  }
  .step-indicator > li.current > div {
    margin-left: -12px;
  }
  .step-indicator > li.current > span {
    margin-right: 0;
  }
  .icon-circle-outline:before {
    content: "\e057";
    color: #999999;
    vertical-align: middle;
    line-height: 1.6;
    position: absolute;
  }
  .icon-circle:after {
    content: "\e011";
    color: #ffffff;
    vertical-align: middle;
    line-height: 1.7;
  }
  .icon-circle-gray:after {
    content: "\e011";
    color: #efefef;
    vertical-align: middle;
    line-height: 1.7;
  }
}

/* IE 9 Specific CSS */
/* current chevron */
.step-indicator > li.current > div {
  overflow: hidden;
}

.step-indicator > li.current > div > div {
  background-color: #999999;
  display: block;
  width: 40px;
  height: 40px;
  -ms-transform: rotate(-45deg);
  margin-top: -8px;
  margin-left: -8px;
}

/* done chevron */
.step-indicator > li.done > div {
  overflow: hidden;
}

.step-indicator > li.done > div > div {
  display: block;
  width: 40px;
  height: 40px;
  -ms-transform: rotate(-45deg);
  margin-top: -8px;
  margin-left: -8px;
}
