﻿<!-- Copyright 2017 Ellucian Company L.P. and its affiliates. -->
<ol class="esg-step-progress">
    <!-- ko foreach: steps -->
    <li data-bind="css: classes">
        <a class="esg-step-progress__link" data-bind="attr: { href: href }, text: text"></a>
    </li>
    <!-- /ko -->
</ol>