﻿<h2>Self-Service Administration</h2>
<div class="help-content">
    <h3> <a href="#">How do I change my password for Colleague Self-Service?</a></h3>
  <div>
    <p>Enter the username and current password that you use to log into WebAdvisor and Colleague Self-Service. Then enter and confirm the new password you will use to log into Colleague Self-Service.</p>
  </div>
</div>