﻿<h2> Self-Service Authentication</h2>
<div class="help-content">
    <h3> <a href="#">How do I manage authentication settings for this Colleague Self-Service site?</a></h3>
    <div>
        <p>
            Select <span class="bold">Authentication</span> to maintain authentication settings for this Colleague Self-Service site.
            The default authentication setting is to use the Self-Service login form and Colleague authentication.  Optionally,
            Self-Service can be configured to work with SAML2 and your selected identity management solution.
        </p>
        <p>For complete authentication information, refer to the <span class="bold">Self-Service Installation and Administration</span> manual.</p>
    </div>
    <h3>
        <a href="#">How can I enable guest access for certain Self Service pages?</a>
    </h3>
    <div>
        <p>
            Enter the login name for a guest user in the <span class="bold">@Resources.AdminResources.GuestAccountUsername</span> box.
            As you start to enter the user, a dropdown list of users is displayed.
            Select the guest user from the dropdown list.
            <br /><br />
            Enter the password in the <span class="bold">@Resources.AdminResources.GuestAccountPassword</span> box.
            <br /><br />
            After you enter the guest login name and password, click <span class="bold">@Resources.AdminResources.TestGuestCredentials</span> to verify that the guest user is set up correctly.
            <br /><br />
            Select <span class="bold">Save</span> when you are finished.
        </p>
    </div>
</div>