﻿<h2>Self-Service Links</h2>
<div class="help-content">
    <h3>
        <a href="#">How do I control access to a link in Colleague Self-Service?</a>
    </h3>
    <div>
        <p>
            To restrict a link to a specific role, enter the role name in the <span class="bold">@Resources.AdminResources.AllowedRolesHeader</span> box.
            As you start to enter the role, a dropdown list of roles is displayed.
            Select the desired role from the dropdown list.
            <br /><br />
            To restrict a link to a specific user, enter the login name of the user in the <span class="bold">@Resources.AdminResources.AllowedUsersHeader</span> box.
            As you start to enter the user, a dropdown list of users is displayed.
            Select the desired user from the dropdown list.
            <br /><br />
            To remove an existing role or user, click <span class="bold">Remove</span>.
            <br /><br />
            Select <span class="bold">Save</span> when you are finished.
        </p>
    </div>
    <h3>
        <a href="#">Can I hide link without affecting user roles and permissions?</a>
    </h3>
    <div>
        <p>
            You can add or remove links from menus without changing the roles and users 
            associated with the link.
        </p>
    </div>
    <h3>
        <a href="#">How can I update the displayed text for a link?</a>
    </h3>
    <div>
        <p>
            Change the value of the <span class="bold">Text</span> box under the <span class="bold">@Resources.AdminResources.LinkPropertiesHeader</span> section.
            <br /><br />
            Select <span class="bold">Save</span> when you are finished.
        </p>
    </div>
    <h3>
        <a href="#">How can I sort links relative to other pages, links, or submenus?</a>
    </h3>
    <div>
        <p>
            Enter an integer in the <span class="bold">Order</span> box to indicate the sorted position of the link relative to other pages, links, or submenus, or relative to other links within a submenu. The default order for each link is set to 0. If there are two links with the same number, they are displayed in the order in which they are defined in the sitemap. Links are sorted in ascending order from top to bottom, with lower numbers displayed first and higher numbers displayed further down.
            <br /><br />
            Select <span class="bold">Save</span> when you are finished.
        </p>
    </div>
</div>