﻿<h2> Self-Service Branding</h2>
<div class="help-content">
    <h3> <a href="#">How do I apply my own brand to my Colleague Self-Service site?</a></h3>
    <div>
        <p>
            Select <span class="bold">Branding</span> to apply your own brand to your Colleague Self-Service site.
            You can modify the following items without using stylesheets or html:
        </p>
        <ul>
            <li>The application title.</li>
            <li>The application header logo.</li>
            <li>The application footer logo.</li>
            <li>The report logo.</li>
        </ul>
        <p>For complete branding information, refer to the <strong>Self-Service Installation and Administration</strong> manual.</p>
    </div>
    <h3> <a href="#">How do I give my Colleague Self-Service site a custom favicon?</a></h3>
    <div>
        <p>
            Navigate to the file upload area in the <strong>@Resources.AdminResources.BrandingCustomFavicon</strong> section of this page. Navigate to your <strong>favicon.ico</strong> file, select it,
            then click <strong>@Resources.SiteResources.ButtonTextUpload</strong>.
        </p>
        <br />
        <p>
            Your custom favicon must be saved in <strong>.ico</strong> format and named <strong>favicon.ico</strong>
            to be used on your Colleague Self-Service site.
        </p>
        <br />
        <p>
            After uploading your custom favicon, the file is listed in the <strong>@Resources.AdminResources.BrandingCustomFavicon</strong> section.
            You may need to clear your web browser cache to see the change.
        </p>
        <br />
        <p>
            If you want to remove your custom favicon, click <strong>@Resources.SiteResources.ButtonTextDelete</strong> next to your file
            and then click <strong>@Resources.SiteResources.ButtonTextOk</strong> to confirm the deletion.
            If you do not want to delete the file, click <strong>@Resources.SiteResources.ButtonTextCancel</strong>.
        </p>
        <br />
        <p>
            If you already uploaded a custom favicon and want to replace it, navigate to the file upload area,
            navigate to your <strong>favicon.ico</strong> file, select it, and click
            <strong>@Resources.SiteResources.ButtonTextUpload</strong>. Click <strong>@Resources.SiteResources.ButtonTextOk</strong>
            to confirm the overwrite.  If you do not want to overwrite the file, click <strong>@Resources.SiteResources.ButtonTextCancel</strong>.
        </p>
    </div>
</div>