﻿<h2>Self-Service Menus, Submenus, and Pages</h2>
<div class="help-content">
    <h3>
        <a href="#">How do I determine who can see and use the various menus, submenus, and pages in Colleague Self-Service?</a>
    </h3>
    <div>
        <p>
            This page allows you to configure user roles and permissions for menus, submenus, and pages that are used in Colleague Self-Service.
            For complete information, refer to the <span class="bold">Self-Service Installation and Administration</span> manual.
        </p>
    </div>
    <h3>
        <a href="#">How can I tell if a link is a menu, submenu, page, or link?</a>
    </h3>
    <div>
        <p>
            On this page, <span class="bold">menus</span> are listed in <span class="bold">bold</span>, <span class="italic">submenus</span> are listed in <span class="italic">italics</span>, and pages and links are listed in normal font.
        </p>
    </div>
    <h3>
        <a href="#">How can I configure menus?</a>
    </h3>
    <div>
        <p>
            Click on one of the <span class="bold">bold</span> links in the <span class="bold">@Resources.AdminResources.MenuHeader</span> section of this page.
            Menus, submenus, pages, and links are part of the sidebar menu and breadcrumbs.
            Menus can contain links, pages, and submenus.
            Submenus can contain links, pages, or other submenus.
        </p>
    </div>
    <h3>
        <a href="#">How can I configure submenus that are not included in the sidebar menu?</a>
    </h3>
    <div>
        <p>
            Click on one of the <span class="italic">italics</span> links in the <span class="bold">@Resources.AdminResources.SubmenuHeader</span> section of this page.
            These submenus are not part of the sidebar menu but are used in the breadcrumbs.
            For example, Student Finance Administration pages might not be something that should appear in the sidebar menu, but direct links should allow the user to access other parts of Finance Administration using the breadcrumbs.
        </p>
    </div>
    <h3>
        <a href="#">How can I configure pages that are not included in the sidebar menu or breadcrumbs?</a>
    </h3>
    <div>
        <p>
            Click on one of the links in the <span class="bold">@Resources.AdminResources.OtherPagesHeader</span> section of this page.
            Pages that are listed in this section will not appear in the sidebar menu or in the breadcrumbs.
            Pages in this section are generally part of a workflow, and can be assigned roles and permissions to limit access.
        </p>
    </div>
    <h3>
        <a href="#">How can I add a link to the sidebar menu or breadcrumbs?</a>
    </h3>
    <div>
        <p>
            To create an external link, click <span class="bold">@Resources.AdminResources.AddLinkText</span> in the <span class="bold">@Resources.AdminResources.OtherLinksHeader</span>
            section of this page. Configure the details for your new link on the <span class="bold">Link Configuration</span> page.  To add your link, click on any menu or submenu listed in the sitemap.
        </p>
    </div>
</div>