﻿<h2> Self-Service Cache Manager</h2>
<div class="help-content">
  <h3> <a href="#">How do I clear the cache for this session?</a></h3>
  <div>
    <p>Select <span class="bold">Cache Manager</span> and clear the cache for your Colleague Self-Service site. 
    Some items rarely change and can be cached for a longer period. 
    Other items change more frequently and may require that you clear the cache to refresh the data. </p>
  </div>
</div>