﻿<h2> Self-Service Application Certificates and Keys</h2>
<div class="help-content">
    <h3> <a href="#">How do I manage the certificates for this Colleague Self-Service site?</a></h3>
    <div>
        <p>
            Select <span class="bold">Application Certificates and Keys</span> to maintain certificates and keys for this Colleague Self-Service site.
        </p>
        <p>For complete certificate and key information, refer to the <span class="bold">Self-Service Installation and Administration</span> manual.</p>
    </div>
</div>
