﻿<h2>Self-Service Pages</h2>
<div class="help-content">
    <h3>
        <a href="#">How do I control access to a page in Colleague Self-Service?</a>
    </h3>
    <div>
        <p>
            To restrict a page to a specific role, enter the role name in the <span class="bold">@Resources.AdminResources.AllowedRolesHeader</span> box.
            As you start to enter the role, a dropdown list of roles is displayed.
            Select the desired role from the dropdown list.
            <br /><br />
            To restrict a page to a specific user, enter the login name of the user in the <span class="bold">@Resources.AdminResources.AllowedUsersHeader</span> box.
            As you start to enter the user, a dropdown list of users is displayed.
            Select the desired user from the dropdown list.
            <br /><br />
            To remove an existing role or user, click <span class="bold">Remove</span>.
            <br /><br />
            Select <span class="bold">Save</span> when you are finished.
        </p>
    </div>
    <h3>
        <a href="#">Can I hide pages without affecting their roles and permissions?</a>
    </h3>
    <div>
        <p>
            To hide a page, select the <span class="bold">Hidden</span> checkbox in the <span class="bold">@Resources.AdminResources.PagePropertiesHeader</span> section.
            Hidden pages will not appear in the sidebar menu or breadcrumbs, but they can still be accessed with the correct URL and permissions.
            <br /><br />
            Select <span class="bold">Save</span> when you are finished.
        </p>
    </div>
    <h3>
        <a href="#">How can I update the name of a page?</a>
    </h3>
    <div>
        <p>
            Change the value of the <span class="bold">Label</span> box under the <span class="bold">@Resources.AdminResources.PagePropertiesHeader</span> section.
            <br /><br />
            Select <span class="bold">Save</span> when you are finished.
        </p>
    </div>
    <h3>
        <a href="#">How can I add a message to the top of a page?</a>
    </h3>
    <div>
        <p>
            Create a miscellaneous text record on the Miscellaneous Text (MTXT) form in Colleague UI with the message that you want to display.  Enter the record ID in the <span class="bold">Message ID</span> box for the page. As you start to enter the record ID, a dropdown list of record IDs is displayed. Select the desired record ID from the dropdown list.
            <br /><br />
            Select <span class="bold">Save</span> when you are finished.
        </p>
    </div>
    <h3>
        <a href="#">How can I prevent a message from displaying on a page?</a>
    </h3>
    <div>
        <p>
            If you do not want a message defined for a menu or submenu to display on one of its pages, you can override the message with a blank message for that page.
            <br /><br />
            Create a blank miscellaneous text record on the Miscellaneous Text (MTXT) form in Colleague UI.  Enter the record ID in the <span class="bold">Message ID</span> box. As you start to enter the record ID, a dropdown list of record IDs is displayed. Select the desired record ID from the dropdown list.
            <br /><br />
            Select <span class="bold">Save</span> when you are finished.
        </p>
    </div>
    <h3>
        <a href="#">How can I sort pages relative to other pages or submenus?</a>
    </h3>
    <div>
        <p>
            Enter an integer in the <span class="bold">Order</span> box to indicate the sorted position of the page relative to other pages or submenus, or relative to other pages within a submenu. The default order for each page is set to 0. If there are two pages with the same number, they are displayed in the order in which they are defined in the sitemap. Pages are sorted in ascending order from top to bottom, with lower numbers displayed first and higher numbers displayed further down.
            <br /><br />
            Select <span class="bold">Save</span> when you are finished.
        </p>
    </div>
</div>