﻿<h2>About Self-Service</h2>
<div class="help-content">
  <h3> <a href="#">How do I know which version of Colleague Self-Service I am using?</a></h3>
  <div>
    <p>Select <span class="bold">About Self-Service</span> to view the version number of your currently installed Colleague Self-Service software.</p>
  </div>
</div>