﻿<h2>Self-Service Administration</h2>
<div class="help-content">
    <h3> <a href="#">How do I use the Self-Service Administration menu selections?</a></h3>
  <div>
    <p>Select the area you want to work with. You can update configuration settings, manage cache, maintain the look and feel, and 
    update menu and page security for your self-service site. Changes take effect immediately when the page is refreshed. 
    For complete administration information, refer to the <span class="bold">Self-Service Installation and Administration</span> manual.</p>
  </div>

  <h3> <a href="#">How do I change my password for self-service?</a></h3>
  <div>
    <p>From the main menu bar, select your user name and <span class="bold">Change Password</span> to update the password you will use 
    to log into Colleague Self-Service.</p>
  </div>
</div>