﻿<h2> Self-Service Configuration</h2>
<div class="help-content">
    <h3> <a href="#">How do I configure my Colleague Self-Service installation?</a></h3>
    <div>
        <p>
            Select <span class="bold">Configuration</span> to  access settings for your Colleague Self-Service software.
            For complete configuration information, refer to the <span class="bold">Self-Service Installation and Administration</span> manual.
        </p>
    </div>
    <h3><a href="#">How can I display a privacy notice?</a></h3>
    <div>
        <p>
            Enter your privacy policy in the <span class="bold">Privacy Policy</span> box. Privacy policy text can include
            HTML tags. The <span class="bold">Privacy</span> page will only display your privacy policy if you enter the 
            text in the <span class="bold">Privacy Policy</span> box.<br />
            <br />
            <span class="bold">Note:</span> A privacy policy is required if <span class="bold">Google Analytics</span> is enabled.
        </p>
    </div>
    <h3><a href="#">How do I use Google Analytics?</a></h3>
    <div>
        <p>
            Select the <span class="bold">Enable Google Analytics</span> check box and enter your tracking ID in the
            <span class="bold">Google Analytics Tracking ID</span> box. This option sends data to Google on only page
            views, browser, device, page timings, and operating systems. If you want to track additional variables,
            use the <span class="bold">Use Custom Analytics</span> option.<br />
            <br />
            <span class="bold">Note:</span> If you enable Google Analytics, you must also provide a Privacy Policy for your institution.
        </p>
    </div>
    <h3><a href="#">How do I track proxy user traffic?</a></h3>
    <div>
        <p>
            Specify a dimension index in the <span class="bold">Dimension Index for Proxy User Traffic</span> box.
            The dimension index enables Google Analytics to track proxy user traffic independently of other web user traffic.
            The value reported for web hits coming from a proxy user will be "true," and will be "false" for all other types
            of web traffic.<br />
            <br />
            You must have already obtained a dimension index number for proxy user traffic from the Custom Dimensions settings
            in Google Analytics administration.<br />
            <br />
            <span class="bold">Note:</span> Tracking proxy user traffic is not supported if you are using a custom analytics script.
        </p>
    </div>
    <h3> <a href="#">How do I use Custom Google Analytics?</a></h3>
    <div>
        <p>
            Select the <span class="bold">Use Custom Analytics</span> check box and enter your customized analytics
            script in the <span class="bold">Custom Google Analytics Tracking Script</span> box. Your script text must
            be wrapped in the &lt;script&gt; tag.<br />
            <br />
            To include the custom analytics script within the &lt;body&gt; tag, check the <span class="bold">Insert Custom Script after &lt;body&gt;</span> option.
            The script will be placed in the &lt;head&gt; if the option is not checked.
        </p>
    </div>
</div>