﻿<h2>Self-Service Submenus</h2>
<div class="help-content">
    <h3>
        <a href="#">How do I control access to a submenu in Colleague Self-Service?</a>
    </h3>
    <div>
        <p>
            To restrict a submenu to a specific role, enter the role name in the <span class="bold">@Resources.AdminResources.AllowedRolesHeader</span> box.
            As you start to enter the role, a dropdown list of roles is displayed.
            Select the desired role from the dropdown list.
            <br /><br />
            To restrict a submenu to a specific user, enter the login name of the user in the <span class="bold">@Resources.AdminResources.AllowedUsersHeader</span> box.
            As you start to enter the user, a dropdown list of users is displayed.
            Select the desired user from the dropdown list.
            <br /><br />
            To remove an existing role or user, click <span class="bold">Remove</span>.
            <br /><br />
            Select <span class="bold">Save</span> when you are finished.
        </p>
    </div>
    <h3>
        <a href="#">Can I hide submenus without affecting their roles and permissions?</a>
    </h3>
    <div>
        <p>
            To hide a submenu, select the <span class="bold">Hidden</span> checkbox in the <span class="bold">@Resources.AdminResources.SubmenuPropertiesHeader</span> section.
            Hidden submenus will not appear in the sidebar menu or breadcrumbs, but they can still be accessed with the correct URL and permissions.
            <br /><br />
            Select <span class="bold">Save</span> when you are finished.
        </p>
    </div>
    <h3>
        <a href="#">How can I update the name of a submenu?</a>
    </h3>
    <div>
        <p>
            Change the value of the <span class="bold">Label</span> box under the <span class="bold">@Resources.AdminResources.SubmenuPropertiesHeader</span> section.
            <br /><br />
            Select <span class="bold">Save</span> when you are finished.
        </p>
    </div>
    <h3>
        <a href="#">How can I add a message to display on the pages under a submenu?</a>
    </h3>
    <div>
        <p>
            Create a miscellaneous text record on the Miscellaneous Text (MTXT) form in Colleague UI with the message that you want to display.  Enter the record ID in the <span class="bold">Message ID</span> box for the submenu. As you start to enter the record ID, a dropdown list of record IDs is displayed. Select the desired record ID from the dropdown list. The message will display at the top of all pages under the submenu.
            <br /><br />
            Select <span class="bold">Save</span> when you are finished.
        </p>
    </div>
    <h3>
        <a href="#">How can I sort submenus relative to other submenus or pages?</a>
    </h3>
    <div>
        <p>
            Enter an integer in the <span class="bold">Order</span> box to indicate the sorted position of the submenu relative other submenus, or relative to other pages. The default order for each submenu is set to 0. If there are two submenus with the same number, they are displayed in the order in which they are defined in the sitemap. Submenus are sorted in ascending order from top to bottom, with lower numbers displayed first and higher numbers displayed further down.
            <br /><br />
            Select <span class="bold">Save</span> when you are finished.
        </p>
    </div>
    <h3>
        <a href="">How can I add an external link to a submenu?</a>
    </h3>
    <div>
        <p>
            Create the external link that you want to display. Enter the link ID in the <span class="bold">Enter a Link ID</span> box for the menu. As you start to enter the link ID, a dropdown list of link IDs is displayed. Select the desired link ID from the dropdown list. The link will display in the sidebar menu and breadcrumbs.
            <br /><br />
            Select <span class="bold">Save</span> when you are finished.
        </p>
    </div>
</div>
