﻿<h2>Self-Service Theme Editor</h2>
<div class="help-content">
  <h3> <a href="#">How do I customize the look of my Colleague Self-Service site?</a></h3>
  <div>
    <p>Select <span class="bold">Theme Editor</span> to display values from the theme stylesheet. You can edit these values and save them back to the same stylesheet. For complete theming information, refer to the <span class="bold">Self-Service Installation and Administration</span> manual.</p>
  </div>
</div>