﻿<h2> 
    Course Catalog Help</h2>
<div class="help-content">
    <h3>
        <a href="#">How can I search for a course by subject?</a></h3>
    <div>
        <p>
            You can use the <span class="bold">Course Catalog</span> to locate courses.</p>
         <p>    
            In the <span class="bold">Search for a course subject</span> field, enter the first letter or letters of the subject 
            to refine the list, or enter the full name of the subject. Then select an item from the list to view the course search details. </p>
    </div>
    <h3>
        <a href="#">How can I search for a course section?</a></h3>
    <div>
        <p>
            Use either the <span class="bold">Search for courses</span> or <span class="bold">Search for a course subject</span> fields to find courses and sections. 
            You can enter the course name (such as math-101 or math101) to locate a specific course in the Search for courses window. You can also enter a keyword to find courses by title. 
            For example you might enter "british" to find a British Literature course. When you use the Search for courses window, 
            the courses found will be listed in order of how well they match your keywords. After the pertinent courses have been identified, 
            you can select <span class=bold>View Available Sections for [course name]</span> to see sections for each specific course.
            <br />
             <span class="bold">Search Tips</span>
     <br />
     The following list contains tips that will help you find the course you want:
     <ul>
     <li>The course search is not case sensitive.</li>
     <li>To search for a specific section, enter the course name and section ID strung together. For example, Math-101-01 can be searched by entering
     math10101.</li>
     <li>If multiple search words are separated by a space, either word will cause a "hit" in the search results. Use "and" in your search to ensure
     all given search words are found. For example, "spanish" and "conversational" to find only the results for courses related to conversational Spanish courses
     and not all Spanish courses and all conversational courses.</li>
     <li>Using AND versus OR in your course search will change the results. If you use the word AND between two words, the search results
     will contain only courses that contain both words in the course title or description. If you use the word OR between two words,
     the search results will contain courses with either of the two words in the course title and description. For example, if you typed Corporate OR Law you
     would get broader search results than if you typed Corporate AND Law.</li>
         </ul>
         <br />
         The following areas are what your search term will be checked against:
         <ul>
         <li>Course name (subject and course number)</li>
         <li>Section name (subject, course number, and section number)</li>
         <li>Course description</li>
         <li>Course and section title</li>
         <li>Department (code and description)</li>
         <li>Location (code and description)</li>
         </ul>
            </p>
    </div>
     <h3><a href="#">How do I view information about the books needed for a course?</a></h3>
    <div>
      <p>
      When viewing the Section details, you will see either a link to your bookstore or the total cost of the books depending upon how your institution defines
      book information.
      If the cost of the books is displayed, the value is calculated using the price for new books. A course can have required, optional, and recommended books. 
      When the book costs are displayed, the costs are grouped based on if they are required for not. For example the Book Total would display
       as follows:
       <blockquote>$120 required; $40 optional/recommended</blockquote>
       If the book total is blank, the cost of the books has not been defined. 
        </p>
    </div>
    <h3> <a href="#">How can I search for a courses or sections by term?</a></h3>
    <div>
        <p>
            On the catalog advanced search form, select the term from the dropdown and press the Search button to see the course catalog.
            The system displays all the courses with sections that are available during provided term.
        </p>
    </div>
    <h3> <a href="#">How can I search for a courses or sections by section meeting start date and section meeting end dates?</a></h3>
    <div>
        <p>
            Either select term or specify dates. The system uses these dates to select sections based on the sections meeting dates. That is, the meeting start date is used to select sections whose earliest meeting date is on or after this meeting start date. Similarly, the meeting end date is used to select sections with their last meeting date on or before the provided date.
            If you want to select sections by meeting dates, both dates are required.
        </p>
    </div>
    <h3> <a href="#">How can I search for courses or sections under multiple subjects?</a></h3>
    <div>
        <p>Use the dropdown menu to select up to 6 subjects. If you have entered fewer than 6 subjects and wants to enter more, press the <span class="bold">Add More…</span> button. This appends an empty row for your selection. After you press Search, the catalog result displays the courses that have any of the subjects you selected.</p>
    </div>
    <h3> <a href="#">How can I search for multiple courses?</a></h3>
    <div>
        <p>Search for up to 6 courses by selecting subject from subject dropdown and further providing a corresponding course number.  If you have entered fewer than 6 courses and wants to enter more, press the <span class="bold">Add More…</span> button. This append an empty row for your selection. After you press <span class="bold">Search</span>, the course catalog result displays the courses that have course numbers you entered.</p>
    </div>
    <h3> <a href="#">How can I search for specific sections?</a></h3>
    <div>
        <p>
            Specify up to 6 sections by selecting subject from subject dropdown and providing both a corresponding course number and section number. For example, to find section MATH-100-01 you would enter “MATH” in subject, “100” in course and “01” in section If you have entered fewer than 6 courses and wants to enter more, press the <span class="bold">Add More…</span> button. This append an empty row for your selection. After you press <span class="bold">Search</span>, the course catalog result displays sections that have the section numbers you entered.
            You cannot enter a section unless you have entered a course number. You cannot enter a course number unless a subject is selected.
        </p>
    </div>
    <h3> <a href="#">How can I search for courses or sections within a specific academic level?</a></h3>
    <div>
        <p>Use the dropdown menu to limit your results by academic level. The system displays all courses or sections that have provided academic level.</p>
    </div>
    <h3> <a href="#">How can I search courses or sections by location?</a></h3>
    <div>
        <p>Use the dropdown menu to search on single location. The system display all courses or sections that have this location.</p>
    </div>
    <h3> <a href="#">How can I search for sections for a specific time of day?</a></h3>
    <div>
        <p>Use the dropdown menu to search on single time of day. The system displays all sections that have meeting times within the selected time range.</p>
    </div>
    <h3> <a href="#">How can I search for sections for specific days?</a></h3>
    <div>
        <p>Use the individual check boxes to select multiple days of week. The system displays all the sections that meet on those days.</p>
    </div>
    <h3> <a href="#">Can I search for courses or sections on multiple conditions?</a></h3>
    <div>
        <p>Yes. Use as many criteria as you want on the advanced search page. The system displays the results that match all the criteria you specify.</p>
    </div>
    <h3> <a href="#">How can I clear out my selections and start over?</a></h3>
    <div>
        <p>Use the <span class="bold">Clear</span> button to clear all the fields and reset your search.</p>
    </div>

</div>
