﻿<h2> Course Search Help</h2>
<div class="help-content">

 <h3> <a href="#">How can I search for a course?</a></h3>
  <div>
    <p> You can use the <span class="bold">Search for courses</span> field to find a course.</p>
    <p> When you search for a course you are automatically taken to the <span class="bold">Course Catalog</span> where you can see a list of courses that match your search criteria. You can then use
    the filters to refine your search and view the details for a course.
    <br />
     <span class="bold">Search Tips</span>
     <br />
     The following list contains tips that will help you find the course you want:
     <ul>
     <li>The course search is not case sensitive.</li>
     <li>To search for a specific section, enter the course name and section ID strung together. For example, Math-101-01 can be searched by entering
     math10101.</li>
     <li>If multiple search words are separated by a space, either word will cause a "hit" in the search results. Use "and" in your search to ensure
     all given search words are found. For example, use "spanish" and "conversational" to find only the results for courses related to conversational Spanish courses
     and not all Spanish courses and all conversational courses.</li>
     <li>Using AND versus OR in your course search will change the results. If you use the word AND between two words, the search results
     will contain only courses that contain both words in the course title or description. If you use the word OR between two words,
     the search results will contain courses with either of the two words in the course title and description. For example, if you typed Corporate OR Law you
     would get broader search results than if you typed Corporate AND Law.</li>
         </ul>
         The following areas are what your search term will be checked against:
         <ul>
         <li>Course name (subject and course number)</li>
         <li>Section name (subject, course number, and section number)</li>
         <li>Course description</li>
         <li>Course and section title</li>
         <li>Department (code and description)</li>
         <li>Location (code and description)</li>
         </ul>
    </p>
  </div>
  <h3> <a href="#">How can I search for a course by subject?</a></h3>
  <div>
    <p> You can use the <span class="bold">Course Catalog</span> to locate courses.</p>
    <p> Return to the Course Catalog and in the <span class="bold">Search for a course subject</span> window, enter the first letter or letters of the subject 
      to refine the list. After you select a subject, you can then select an item from the list to view the course search details. </p>
  </div>
  <h3> <a href="#">How can I filter the results of a search for courses that are available to add to my course plan?</a></h3>
  <div>
    <p> You can filter search results to view course and section information. </p>
    <ul>
      <li>Refine your search results by applying filters from the categories on the left side of the page. For example, you could filter your search results by subject, location, and course level.</li>
      <li>You can add and remove any or all filters on your search results.</li>
    </ul>
  </div>
  <h3> <a href="#">How can I view course details and available sections?</a></h3>
  <div>
    <p>Select a course from the search results to expand and review the course details. You can also expand and review the available sections, if applicable.</p>
  </div>
<h3> <a href="#">How can I tell how many students are waitlisted for a full section?</a></h3>
  <div>
    <p>If waitlisting is being used, the number of students on the waitlist is displayed after the section is full. After you choose a course, select <span class="bold">View Available Sections</span> and then open the Section Details to view number of seats in the class and number on the waitlist.</p>
  </div>
<h3> <a href="#">How do I add a course or section to my course plan?</a></h3>
  <div>
    <p>You must log in if you want to add a course or section to your plan.</p>
  </div>
</div>

