﻿@* Copyright 2016 Ellucian Company L.P. and its affiliates. *@

<h2>Colleague Self-Service</h2>
<div class="help-content">
    <h3> <a href="#">What is the privacy policy?</a></h3>
    <div>
        <p>
            The privacy policy can include information about how your institution collects, stores, and shares information about you.<br/>
            <br />
            This page also includes links to privacy policies for other parties that collect information about you, including Ellucian and Google.
        </p>
    </div>
</div>