﻿@* Copyright 2012-2016 Ellucian Company L.P. and its affiliates. *@
@using Ellucian.Web.Mvc.Menu
@using Ellucian.Web.Mvc.Models;
@{
    Site site = DependencyResolver.Current.GetService<ISiteService>().Get(this.CurrentUser);
    var prefPage = site.Pages.Where(p => p.Action == "Preferences" && p.Controller == "UserProfile").FirstOrDefault();
    var prefLink = (prefPage != null ? prefPage.Label : Resources.Navigation.AccountPreferencesLink);

}


<h2>Colleague Self-Service</h2>
<div class="help-content">
    <h3> <a href="#">How do I access Colleague Self-Service?</a></h3>
    <div>
        <p>Select a tab depending on what you want to do. You can now begin using Colleague Self-Service. You can select <span class="bold">Help</span> anywhere in the system.</p>
    </div>
    @if (!string.IsNullOrEmpty(prefLink))
    {
        <h3>
            <a href="#">How do I change the landing page displayed when I log into Self-Service?</a>
        </h3>
        <div>
            <p>From the main menu bar, select your user name and <span class="bold">@prefLink</span> to update the landing page you will see after you log into Self-Service.</p>
        </div>
        <h3>
            <a href="#">Why can’t I pick my proxy when I log in?</a>
        </h3>
        <div>
            <p>
                If you selected a landing page other than the <span class="bold">Default Landing Page</span> under <span class="bold">Account Preferences</span>, you will not see the Proxy Picker dialog box when you log in.
                <br />
                <br />
                From the main menu bar, select your user name and click <span class="bold">@Resources.PersonProxyResources.ChangeProxyUserLabel</span> to select your proxy.
            </p>
        </div>
    }
    <h3> <a href="#">How do I change my password for Colleague Self-Service?</a></h3>
    <div>
        <p>
            From the main menu bar, select your user name and <span class="bold">Change Password</span> to update the password you will use
            to log into Colleague Self-Service.
        </p>
    </div>
    <h3> <a href="#">What are notifications?</a></h3>
    <div>
        <p>
            Notifications are messages that require your attention because there is something preventing you from taking a certain action or there is an
            issue with your account. For example, you might see a notification indicating you have a hold on your account that must be cleared before
            you can register for classes. After you review your notifications you can continue. If you need to take any actions, you should make note of those
            actions before you leave the homepage.
        </p>
    </div>
    <h3><a href="#">As a proxy user, why can’t I select my person’s account to view?</a></h3>
    <div>
        <p>
            The person who granted you proxy access must reauthorize your access.  After access has been reauthorized, you will be able to select that person’s account.
        </p>
    </div>
</div>