﻿<h2>Organizational Structure</h2>
<div class="help-content">
    <h3> <a href="#">What information is available on the Organization Structure page?</a></h3>
    <div>
        <p>
            The Organizational Structure page displays the employee's position and the employee's supervisor.
            If the employee is also a supervisor, the Organizational Structure page displays the supervisor’s subordinates.
        </p>
    </div>
    <h3> <a href="#">How do I access the employee I want to view?</a></h3>
    <div>
        <p>
            Enter the employee's first and last name in the search box and press <b>Enter</b>. You can look up an employee by name using the following formats:
            <br />
            <br />
            First Last
            <br />
            First Middle Last
            <br />
            Last, First
            <br />
            Last, First Middle
            <br />
            <br />
            If you know the person's ID number, you can enter that in the search box instead of the person's name.
            <br />
            <br />
            Click on the employee’s name when it is displayed in the results box to access the employee’s information.
            If the employee has more than one position listed in the results box, click on the position you want to access.
        </p>
    </div>
    <h3> <a href="#">Can I update the supervisor for an employee?</a></h3>
    <div>
        <p>If you have authorization, you can add or remove a supervisor for the employee.</p>
    </div>
    <h3> <a href="#">How do I add a supervisor for an employee?</a></h3>
    <div>
        <p>
            After you access an employee, click <b>Add Supervisor</b>.
            Enter the supervisor’s name or ID, press <b>Enter</b>, and select the supervisor.
            Click <b>Close</b> when you are finished.
        </p>
    </div>
    <h3> <a href="#">How do I change the supervisor for an employee?</a></h3>
    <div>
        <p>
            After you access an employee, click <b>Edit Supervisor</b>.
        </p>
        <p>
            <b>Note</b>: Before you can add a new supervisor, you must first remove the existing supervisor for an employee.
        </p>
        <p>
            Enter the new supervisor’s name or ID in the <b>Add Supervisor</b> search box.
            Press <b>Enter</b> and select the supervisor.  Click <b>Close</b> when you are finished.
        </p>
    </div>
    <h3> <a href="#">How do I remove an employee’s supervisor?</a></h3>
    <div>
        <p>
            After you access an employee, click <b>Edit Supervisor</b>, and click the remove button.
            Click <b>Close</b> when you are finished.
        </p>
    </div>
    <h3> <a href="#">How do I add a subordinate for a supervisor?</a></h3>
    <div>
        <p>
            After you access a supervisor, click <b>Add Subordinate</b>.
            Enter the subordinate’s name or ID, press <b>Enter</b>, and select the subordinate.
            Click <b>Close</b> when you are finished.
        </p>
    </div>
    <h3> <a href="#">How do I remove a subordinate for a supervisor?</a></h3>
    <div>
        <p>
            After you access a supervisor, click <b>Edit Subordinates</b>, and click the remove button next to the subordinate.
            Click <b>Close</b> when you are finished.
        </p>
    </div>
</div>