﻿<h2> @Resources.PersonProxyResources.PersonProxyPageTitle Help</h2>
<div class="help-content">
    <h3> <a href="#">Who can I add as a proxy?</a></h3>
    <div>
        <p>
            Select a person from the <span class="bold">@Resources.PersonProxyResources.SelectAProxyLabel</span> dropdown list.
            <br />
            <br />
            The persons included in the list must have been already defined as having some type of relationship to you.
            For example, your father, mother, or sibling might be listed as possible proxies.
        </p>
    </div>

    <h3> <a href="#">What can I do if I don’t see the person I want to add as a proxy?</a></h3>
    <div>
        <p>
            Contact your institution to identify the person you want to add and the type of relationship they have to you.
        </p>
    </div>

    <h3> <a href="#">Why can't I grant proxy access to the person I selected?</a></h3>
    <div>
        <p>
            The person to whom you want to grant proxy access must have an email on file.
            <br/>
            <br/>
            If the person you selected does not have an email address, contact your institution to provide one.
        </p>
    </div>

    <h3> <a href="#">Can I add a new proxy user without contacting my institution?</a></h3>
    <div>
        <p>
            If your institution allows you to add a new proxy that that is not currently defined as having a relationship with you,
            you can click <span class="bold">@Resources.PersonProxyResources.AddAnotherUserCaption</span> in the
            <span class="bold">@Resources.PersonProxyResources.SelectAProxyLabel</span> dropdown list and complete the required information.
        </p>
    </div>

    <h3> <a href="#">Why do I see “@Resources.PersonProxyResources.PendingText” next to the new proxy I added?</a></h3>
    <div>
        <p>
            Additional processing is required by your institution to add this new proxy user.
        </p>
    </div>

    <h3> <a href="#">What types of access can my proxy have?</a></h3>
    <div>
        <p>
            You can allow your proxy complete access to all of your information, or allow access to only selected types of information.
            <br />
            <br />
            For example, you might want to allow your parents to access your Student Finance information so that they can view and make payments on your account.
        </p>
    </div>

    <h3> <a href="#">How can I change access for a proxy?</a></h3>
    <div>
        <p>
            Click on <span class="bold">@Resources.PersonProxyResources.EditProxyAccessTitle</span> to add or remove access for a proxy.
        </p>
    </div>

    <h3> <a href="#">How will my proxy know how to access my information?</a></h3>
    <div>
        <p>
            After the proxy has been successfully added, the person will be sent an email with instructions for how to access your information.
        </p>
    </div>

    <h3><a href="#">Why does it say “@Resources.PersonProxyResources.ReauthorizationNeededText” next to my active proxies?</a></h3>
    <div>
        <p>
            Your institution requires you to reauthorize proxy access to your account.  After you reauthorize, your proxies will be able to access your account information.
        </p>
    </div>
</div>