﻿<h2>@Resources.SiteResources.ResourceFileEditorTitle</h2>
<div class="help-content">
    <h3> <a href="#">How do I use the @Resources.SiteResources.ResourceFileEditorTitle?</a></h3>
    <div>
        <p>
            Choose a resource file from the <strong>@Resources.ResourceFileEditorResources.DropdownCaption</strong> dropdown to load the entries for that resource file.
            <br />
            <br />
            Click into the <strong>@Resources.ResourceFileEditorResources.ValueColumnHeader</strong> field for the entry you want to edit, then enter the new value you
            would like to use.  Tab or click out of the field to save your changes.
        </p>
    </div>
    <h3> <a href="#">What is the @Resources.ResourceFileEditorResources.EllucianValueColumnHeader?</a></h3>
    <div>
        <p>
            The <strong>@Resources.ResourceFileEditorResources.EllucianValueColumnHeader</strong> is the Ellucian-delivered value for the resource file entry.
        </p>
    </div>
    <h3> <a href="#">What does the @Resources.ResourceFileEditorResources.RestoreButtonLabel button do?</a></h3>
    <div>
        <p>
            Use the <strong>@Resources.ResourceFileEditorResources.RestoreButtonLabel</strong> button to revert your changes back to the Ellucian-delivered value.
        </p>
    </div>
    <h3><a href="#">When will users see changes made to the resource files?</a></h3>
    <div>
        <p>
            Active users will not see changes made to labels and text until they close their browser session and open a new one.
        </p>
    </div>
</div>