﻿@* Copyright 2016 Ellucian Company L.P. and its affiliates. *@

@using Ellucian.Web.Mvc.Menu
@using Ellucian.Web.Mvc.Models;
@{
    Site site = DependencyResolver.Current.GetService<ISiteService>().Get(this.CurrentUser);
    var prefPage = site.Pages.Where(p => p.Action == "Preferences" && p.Controller == "UserProfile").FirstOrDefault();
    var prefLink = (prefPage != null ? prefPage.Label : Resources.Navigation.AccountPreferencesLink);

}

<h2>Account Preferences Help</h2>
<div class="help-content">
    <h3>
        <a href="#">What is this page for?</a>
    </h3>
    <div>
        <p>From this page, you can select the landing page that will be displayed when you log into Self Service.</p>
    </div>
    <h3>
        <a href="#">Why isn’t my preferred landing page displayed after I log in?</a>
    </h3>
    <div>
        <p>If you used a bookmark or a direct link to access Self-Service, that page will be displayed after you log in. If you are logged in as a proxy user, the Default Landing Page is always displayed.</p>
    </div>
</div>