﻿<h2> About You Help</h2>
<div class="help-content">
  <h3> <a href="#">What is the purpose of the About You page?</a></h3>
  <div>
    <p> 
    You can use the  <span class="bold">About You</span> page to view your demographic information, which includes your date of birth and 
    preferred mailing address. If the information on this page is incorrect you can update the information if you have the correct permissions, otherwise
    you will need to contact someone in Administration to have your information updated. 
  </div>
    <h3> <a href="#">Which of my phone numbers are displayed?</a></h3>
    <div>
        <p>
            The  <span class="bold">Phone Numbers</span> section displays the current phone numbers that are on file for you.  
            If the information on this page is incorrect you can update the information if you have the correct permissions, otherwise
    you will need to contact someone in Administration to have your information updated. 
    </div>

      <h3> <a href="#">Which of my addresses are displayed?</a></h3>
    <div>
        <p>
            The  <span class="bold">Addresses</span> section displays the current addresses that are on file for you.  
            If the information on this page is incorrect you can update the information if you have the correct permissions, otherwise
    you will need to contact someone in Administration to have your information updated. 
    </div>

        <h3> <a href="#">Which of my email addresses are displayed?</a></h3>
    <div>
        <p>
            The  <span class="bold">Email Addresses</span> section displays the current email addresses that are on file for you.  
            If the information on this page is incorrect you can update the information if you have the correct permissions, otherwise
    you will need to contact someone in Administration to have your information updated. 
    </div>

     <h3> <a href="#">How do I update my personal information?</a></h3>
    <div>
        <p>
            If your institution has provided you with the correct permissions, you will be able to add, update, or delete your personal information. Select
            the correct icon in the section where you want to what to change your personal information. If you do not see an option to add, edit, or delete
            your personal information you will need to contact someone in Administration to have your information updated. 
    </div>

     <h3> <a href="#">How do I confirm my information?</a></h3>
  <div>
    <p>After you have verified the information is correct select <span class="bold">Confirm</span> in the proper section. You will need to confirm
    your address, phone number, and email address information separately. </p>
  </div>
</div>
