﻿<h2> Emergency Information Help</h2>
<div class="help-content">
<h3> <a href="#">What is the purpose of the Emergency Information page?</a></h3>
  <div>
    <p>You can use the Emergency Information page to review and update information that you want the institution to use in case of an 
    emergency. This includes information about people who should be contacted if there is an emergency. It also includes information 
    about people who should be contacted if you are missing. This page allows you to provide information about health conditions and 
    other information that you want to provide for use in an emergency situation.
    
    This page also gives you the ability to confirm that your emergency information is accurate and up to date, which you might 
    periodically be required to do.  
. </p>
  </div>

 <h3> <a href="#">How do I confirm my emergency information?</a></h3>
  <div>
    <p>After you have verified the emergency information is correct, select <span class="bold">Confirm</span> in the Confirm Emergency Information section.</p>
    <p>If your institution requires an emergency contact, you must enter a contact before you can confirm your Emergency Information.</p>
  </div>

 <h3> <a href="#">How do I add an emergency contact?</a></h3>
  <div>
    <p>To add a new emergency contact person, select the <span class="bold">Add a New Contact</span> icon. The Emergency Information dialog box is 
    then displayed where you can enter the name, phone numbers, and relationship to the contact. You must also specify if the contact you
    are adding is an emergency contact, a missing-person contact, or both. Select <span class="bold">Add Contact</span>
    when you have entered all the necessary information. </p>
  </div>

<h3> <a href="#">How do I edit an emergency contact?</a></h3>
  <div>
    <p>To edit an existing contact, select the edit contact icon on the contact card that you want to update. The Emergency Information
    dialog box is displayed where you can update the name, relationship, phone numbers, and type of contact. Select <span class="bold">Update Contact</span>
    when you have updated all the necessary information.</p>
  </div>

<h3> <a href="#">How do I remove an emergency contact?</a></h3>
  <div>
    <p>To delete an existing emergency contact, select the remove contact icon on the contact that you want to remove. You will need to
    confirm that you want to delete the contact before it is removed.</p>
    <p>If your institution requires at least one emergency contact, you will not be able to delete your contact without first adding another emergency contact.</p>
  </div>
    
<h3> <a href="#">How do I specify the type of the emergency contact?</a></h3>
  <div>
    <p>As part of your Emergency Information you can designate contacts as either emergency contacts, missing person contacts, or both. 
    To change the type of contact, first select the edit contact on the contact card that you want to update. The Emergency Information 
    dialog box is displayed where you can update the type of contact. If the contact you entered should be notified in case of an 
    emergency, select the Emergency Contact option. If the contact you entered should be notified if you are reported as missing, 
    select the Missing Person Contact option. If you want the contact to be notified in both cases select both options. 
    </p>
  </div>

<h3> <a href="#">How do I specify my health conditions?</a></h3>
  <div>
    <p>If you have any health conditions that could cause you to need medical attention, you can specify those health conditions using 
    the Health Conditions in Case of Emergency section. For each health condition, select the option that corresponds with your health 
    condition. If you have a health condition that is not listed but that would be important to know in an emergency, you can provide 
    additional information in the Other Emergency Information section. </p>
  </div>

<h3> <a href="#">How do I specify my hospital preference?</a></h3>
  <div>
    <p>In the Hospital Preference field, enter the name of the local hospital you prefer to be taken to in case of an emergency. Please 
    enter a local hospital preference if you are currently located near a campus instead of a hospital preference near a hometown for example</p>
  </div>

<h3> <a href="#">How do I specify my insurance information?</a></h3>
  <div>
    <p>In the Your Insurance Information field, enter information about the insurance you want to be used in case of an emergency. Please
    enter the name of your insurance company, your insurance ID/policy number, insurance contact number, and the name of the primary
    insured person.
    </p>
  </div>

  <h3> <a href="#">How do I include additional emergency information?</a></h3>
  <div>
    <p>Use the Additional Information field to enter any other information you think is related. For example, you could include more 
    specific information about your health conditions.</p>
  </div>

</div>