﻿<h2>Emergency Info Access Help</h2>
<div class="help-content">
    <h3>
        <a href="#">What information is available on the Emergency Info Access page?</a>
    </h3>
    <div>
        <p>
            The Emergency Info Access page displays a person's emergency contact information.
        </p>
    </div>
    <h3>
        <a href="#">How do I access the person I want to view?</a>
    </h3>
    <div>
        <p>
            Enter the person's first and last name in the search box and press <span class="bold">Enter</span>. You can look up a person by name using the following formats:
            <br />
            <br />
            First Last
            <br />
            First Middle Last
            <br />
            Last, First
            <br />
            Last, First Middle
            <br />
            <br />
            If you know the person's ID number, you can enter that in the search box instead of the person's name.
            <br />
            <br />
            Click on the person’s name when it is displayed in the results box to access the person’s emergency information.
        </p>
    </div>
</div>

