﻿<div class="clear-group field-padding">
    <label for="recipient-input-field" class="esg-is-required column-three center-text">@Resources.Requests.NewRequestRecipientLabel</label>
     <div class="column-six">
         <input type="text" id="recipient-input-field" maxlength="60" required class="fullwidth required-input" data-bind="value: Recipient, css:{'required-input': hasInputErrors() && !Recipient.isValid()}, attr:{'aria-describedby': 'maxLimitRecipientName', 'aria-invalid': !Recipient.isValid() ? true: false}" />
          <span class="required" data-bind="visible: hasInputErrors() && !Recipient.isValid()">@Resources.Requests.NewRequestErrorMessage</span>
          <span id="maxLimitRecipientName" class="offScreen">120 @Resources.Requests.Max</span>
     </div>
</div>
<div id="request-address" class="clear-group field-padding">
    <label for="address-entry-component-id" class="esg-is-required center-text">@Resources.Requests.NewRequestAddressLabel</label>
     <div class="address-indent center-text" id="address-entry-component-id">
          <address-entry params="AddressInfo: AddressInfo(), hasErrorsFlag: hasInputErrors, errorMessage:''"></address-entry>
     </div>
</div>
<div class="clear-group field-padding">
    <label for="number-of-copies" class="esg-is-required column-three center-text">@Resources.Requests.NewRequestCopiesLabel</label>
     <div class="column-six">
         <input type="number" id="number-of-copies" class="float-left" min="1" max="9" required data-bind="value: NumberOfCopiesSelected, css:{'required-input': hasInputErrors() && !NumberOfCopiesSelected.isValid()}, valueUpdate: 'afterkeydown', attr:{'aria-invalid': !NumberOfCopiesSelected.isValid() ? true : false}"/>
          <div class="required fullwidth" data-bind="visible: hasInputErrors() && !NumberOfCopiesSelected.isValid()">@Resources.Requests.NewRequestCopiesError</div>
     </div>
</div>
<!-- ko if: isTranscriptRequest() &&  TranscriptHoldTypes -->
<div id="transcript-send-options" class="field-padding clear-group">
    <label for="send-options-dropdown" class="column-three bold">@Resources.TranscriptRequests.NewRequestSendTranscriptOptionsLabel</label>
    <select id="send-options-dropdown" class="esg-form__input column-six" data-bind="value: TranscriptHoldType, options: TranscriptHoldTypes, optionsText: 'Description', optionsCaption:Ellucian.Student.Requests.dropdownCaption"></select>
</div>
<!-- /ko -->
<div class="clear-group field-padding">
     <label for="additional-comments" class="column-three bold center-text" data-bind="value: Comments">@Resources.Requests.NewRequestComments</label>
     <div>
          <textarea id="additional-comments" rows="4" class="column-six" data-bind="value: Comments"></textarea>
     </div>
</div>
