﻿

<div class="column-five request-padding clear-group">
    <div class="clear-group field-padding">
        <label class="column-three bold center-text">@Resources.Requests.RequestPaymentNumberOfCopies</label>
        <div class="column-six center-text">
            <span data-bind="text:NumberOfCopies()"></span>
        </div>
    </div>
    <div class="clear-group field-padding">
        <label class="column-three bold center-text">@Resources.Requests.RequestAmountDue</label>
        <div class="column-six center-text">
            <span data-bind="currency: AmountDue(), negativePattern:1"></span>
        </div>
    </div>
        <div class="clear-group field-padding">
            <label for="payment-methods" class="esg-is-required column-three center-text">@Resources.Requests.RequestPaymentMethods</label>
            <div class="column-six center-text">
                <select class="esg-form__input" id="payment-methods" required data-bind="options:PaymentMethods(), optionsCaption: Ellucian.Student.Requests.dropdownCaption, optionsText: 'Description', value: PaymentMethodSelected, attr:{ 'aria-invalid':hasInputErrors() && !PaymentMethodSelected.isValid()?'true':'false'}, css:{'required-input':hasInputErrors() && !PaymentMethodSelected.isValid()} "></select>
                <span class="required" data-bind="visible:hasInputErrors() && !PaymentMethodSelected.isValid()">@Resources.Requests.NewRequestErrorMessage</span>
            </div>
        </div>

       
    </div>
