﻿@*Copyright 2016 Ellucian Company L.P. and its affiliates.*@
<section class="section-wrapper section-wrapper-top-border" data-bind="visible: retrieved()">
    <div class="section-contents">
        <ul data-bind="visible: StudentTermGrades().length > 0, foreach: StudentTermGrades()">
            <li>
                <div class="esg-collapsible-group__heading">
                    <div class="css-collapsible-group esg-collapsible-group__title">
                        <a class="esg-collapsible-group__toggle" role="button" href="#" data-bind="click: ToggleTermDetail, css: esgCollapsedClass(), attr: { 'aria-expanded': showTermDetail()}">
                            <span data-bind="text: TermName"></span>
                            <span class="esg-collapsible-group__icon esg-icon__container" aria-hidden="true">
                                <svg data-bind="css: svgIconClass()" class="esg-icon" aria-labelledby="title">
                                    <title data-bind="text: toggleTermDetailsString + TermName()"></title>
                                    <use xlink:href="#icon-arrow"></use>
                                </svg>
                            </span>
                            <div><span class="esg-collapsible-group__subheading" data-bind="text: CompletedGpaDisplay"></span></div>
                        </a>
                    </div>
                </div>
                <div data-bind="visible: showTermDetail" clear-group">
                    <table class="student-grade-table">
                        <thead>
                            <tr>
                                <th>@Resources.StudentGrades.CourseSectionHeading</th>
                                <th>@Resources.StudentGrades.CourseTitleHeading</th>
                                <th>@Resources.StudentGrades.CourseFinalGradeHeading</th>
                                <!-- ko if: $root.NumberOfMidtermGradesToShow() > 0 -->
                                <th>@Resources.StudentGrades.CourseMidterm1Heading</th>
                                <!-- /ko -->
                                <!-- ko if: $root.NumberOfMidtermGradesToShow() > 1 -->
                                <th>@Resources.StudentGrades.CourseMidterm2Heading</th>
                                <!-- /ko -->
                                <!-- ko if: $root.NumberOfMidtermGradesToShow() > 2 -->
                                <th>@Resources.StudentGrades.CourseMidterm3Heading</th>
                                <!-- /ko -->
                                <!-- ko if: $root.NumberOfMidtermGradesToShow() > 3 -->
                                <th>@Resources.StudentGrades.CourseMidterm4Heading</th>
                                <!-- /ko -->
                                <!-- ko if: $root.NumberOfMidtermGradesToShow() > 4 -->
                                <th>@Resources.StudentGrades.CourseMidterm5Heading</th>
                                <!-- /ko -->
                                <!-- ko if: $root.NumberOfMidtermGradesToShow() === 6 -->
                                <th>@Resources.StudentGrades.CourseMidterm6Heading</th>
                                <!-- /ko -->
                                <th>@Resources.StudentGrades.CourseCreditsHeading</th>


                            </tr>
                        </thead>
                        <tbody data-bind="foreach: StudentGrades()">
                            <tr>
                                <td class="student-grades-course-name" data-bind="foreach: FormattedCourseNameDisplay()">
                                    <p data-bind="text:$data"></p>
                                </td>
                                <td data-bind="text: Title"></td>
                                <td class="student-grades-final-grade" data-bind="foreach: FinalGradeDisplay()">
                                    <p data-bind="text:$data"></p>
                                </td>
                                <!-- ko if: $root.NumberOfMidtermGradesToShow() > 0 -->
                                <td><span data-bind="text:Midterm1Grade()"></span></td>
                                <!-- /ko -->
                                <!-- ko if: $root.NumberOfMidtermGradesToShow() > 1 -->
                                <td><span data-bind="text: Midterm2Grade()"></span></td>
                                <!-- /ko -->
                                <!-- ko if: $root.NumberOfMidtermGradesToShow() > 2 -->
                                <td><span data-bind="text:Midterm3Grade()"></span></td>
                                <!-- /ko -->
                                <!-- ko if: $root.NumberOfMidtermGradesToShow() > 3 -->
                                <td><span data-bind="text:Midterm4Grade()"></span></td>
                                <!-- /ko -->
                                <!-- ko if: $root.NumberOfMidtermGradesToShow() > 4 -->
                                <td><span data-bind="text:Midterm5Grade()"></span></td>
                                <!-- /ko -->
                                <!-- ko if: $root.NumberOfMidtermGradesToShow() === 6 -->
                                <td><span data-bind="text:Midterm6Grade()"></span></td>
                                <!-- /ko -->
                                <td data-bind="text: CreditsCeus()"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
        </ul>

        <div style="display: none;" data-bind="visible: StudentTermGrades().length == 0, text: noGradingTermsToShowMessage"></div>
    </div>
</section>

