﻿<!-- Copyright 2017 Ellucian Company L.P. and its affiliates. -->

<div data-bind="foreach: badgeArray" class="clear-group">
    <div class="esg-badge filter-badge--margins float-left" data-bind="html: $data"></div>
</div>