﻿<div class="esg-page-header">

    <a class="esg-page-header__button" role="button" title="Back" data-bind="click: back" href="#">
        <span class="offScreen" data-bind="resx: 'BankingInformation.BackButtonLabel'"></span>
        <span class="esg-page-header__icon esg-icon__container">
            <svg class="esg-icon esg-icon--left">
                <use xlink:href="#icon-arrow"></use>
            </svg>
        </span>
    </a>

    <h1 class="esg-page-header__title" data-bind="resx: 'BankingInformation.BankingInformationGreeting'"></h1>

    <!-- ko ifnot: $root.isMobile() -->
    <span class="esg-page-header__subtitle">
        <a class="esg-page-header__subtitle--backlink" data-bind="click: back" href="#">
            <span class="offScreen" data-bind="resx: 'BankingInformation.BackButtonLabel'"></span>
            <span class="esg-icon__container esg-page-header__icon" aria-hidden="true">
                <svg class="esg-icon esg-icon--left">
                    <use xlink:href="#icon-arrow"></use>
                </svg>
            </span>
            <span data-bind="resx:'BankingInformation.BackButtonLabel'"></span>
        </a>
    </span>
    <!-- /ko -->
</div>

<div class="column-nine">
    <spinner params="isVisible: isLoading, message: loadingMessage"></spinner>
    <!-- ko if: !isLoading() && loadError() -->
    <message params="isVisible: true, message: loadErrorMessage, type: 'error'"></message>
    <!-- /ko-->

    <!-- ko if: !isLoading() && !loadError() -->

    <section>
    <!-- ko if: type == "payroll"-->
        <edit-payroll-directive params="dataModel: bankingInformationDataModel,
                                id: id">

        </edit-payroll-directive>
    <!-- /ko -->


    <!-- ko if: type == "payable" -->
        <edit-payable-directive params="dataModel: bankingInformationDataModel,
                                id: id">

        </edit-payable-directive>
    <!-- /ko -->

    <!-- ko ifnot: type -->
        <create-new-directive params="dataModel: bankingInformationDataModel">

        </create-new-directive>
    <!-- /ko -->

    </section>

    <!-- /ko -->

</div>