﻿<h2>
    Enrollment Verification Request Payment Help
</h2>
<div class="help-content">

    <h3>
        <a href="#">How do I make a payment for my enrollment verification request?</a>
    </h3>
    <div>
        <p>
            If your institution charges a fee, you will be taken to the payment pages after you submit your request where you can see the fee and an option to select your payment method. You are then directed to the Make a Payment pages.
            If your institution charges a fee but does not require payment when you submit your request, the charge is applied to your student account.
            If your institution does not charge a fee, then your request is complete when you submit it.
        </p>
    </div>
</div>
