﻿<h2>
     Enrollment Verification Request Help
</h2>
<div class="help-content">
     <h3>
          <a href="#">What should I do if I do not receive a confirmation of my Enrollment Verification request?</a>
     </h3>
     <div>
          <p>
               If you do not receive confirmation and it does not appear in the list of requests on the Enrollment Verification Requests page after you enter it, submit another request or contact your institution.
Confirmation means that a successful submission request notification will display in the top right corner of the page. You may also receive an email depending on your institution’s policies. 

          </p>
     </div>
 <h3>
          <a href="#">How do I check the status of my request?</a>
     </h3>
     <div>
          <p>
               You can view the status of your request on the Enrollment Verification Request Status page. 

          </p>
     </div>
<h3>
          <a href="#">What is the purpose of the comments field?</a>
     </h3>
     <div>
          <p>
               Use the comments field to provide additional information or instructions with your request. 

          </p>
     </div>
</div>
