﻿<h2> 
    Graduation Help</h2>
<div class="help-content">
    <h3>
        <a href="#">How do I apply for graduation?</a></h3>
    <div>
        <p>
             When you are eligibile for graduation you may submit an application for graduation that indicates which academic program you intend to 
             graduate from and the term in which you will complete the program. Your institution's policy will determine when you can apply for
             graduation. If the term you intend to graduate in is not listed in the Graduation Term field, then you cannot submit an application
             at this time. After you have submitted your application, you will be nofitied of your application after the application has been processed.
             </p>
    </div>

<h3>
        <a href="#">How do I select a different program of study?</a></h3>
    <div>
        <p>
             For each of the academic programs you are currently enrolled in you will see a link which allows you to apply for graduation. If you want to
             apply for graduation for an academic program that is not listed, you will need to contact the appropriate person at your institution. 
             </p>
    </div>
    
     <h3>
        <a href="#">How do I make changes to my graduation application?</a></h3>
    <div>
        <p>
          If you need to make changes to your graduation application, you can access the application again by clicking on the link next to the application you
          need to modify. <span class="bold">Note:</span> Some of the information on your application cannot be changed, such as the term. If you have 
          questions about your application or you need to make other changes to your application, you will need to contact the 
          appropriate person at your institution.   
          </p>
    </div>
</div>
