﻿<h2>
    Grades Help
</h2>
<div class="help-content">
    <h3>
        <a href="#">How can I view my final grades?</a>
    </h3>
    <div>
        <p>
            Use the <span class="bold">Grades</span> page to view your final grades by term and term GPA.  
        </p>
    </div>

    <h3>
        <a href="#">How can I view my midterm grades?</a>
    </h3>
    <div>
        <p>
            If your institution permits, you can also use the <span class="bold">Grades</span> page to view any available midterm grades.
        </p>
    </div>
</div>
