﻿<h2>
    Graduation Application Help
</h2>
<div class="help-content">
    <h3>
        <a href="#">How can I ensure my name is correct on my diploma?</a>
    </h3>
    <div>
        <p>
            To ensure that your name is displayed correctly on your diploma, view your full name.  Depending on your institution's policy, you may have the 
            option to enter the diploma name as you want it spelled. This field will default a value based
            on what your institution has recorded for your name. You can change the name listed if necessary. If you are attending a commencement ceremony,
            you can provide a phonetic spelling of your name to ensure that your name is pronounced correctly during graduation.
        </p>
    </div>

    <h3>
        <a href="#">How do I indicate if I am attending a commencement ceremony?</a>
    </h3>
    <div>
        <p>
            If you are attending commencement, make sure the Will you attend commencement? field is set to "Yes" and then complete any additional questions
            related to the commencement ceremony.  If you are not attending commencement, make sure the Will you attend
            commencement? field is set to "No."
        </p>
    </div>

    <h3>
        <a href="#">How do I ensure my diploma will be mailed to the correct address?</a>
    </h3>
    <div>
        <p>
            If your diploma is being mailed to you, the address used will be your preferred address on file. If this is not the address you want your diploma mailed to 
            select the "Ship to a new Address" option and enter the correct address. If you are entering an address that is outside of the United States or Canada, 
            you must select the <span class="bold">Outside US/Canada</span> check box. Additional address lines and the Country field are then displayed
            which will allow you to enter all the necessary information for a complete address. <span class="bold">Note:</span> You have the option of indicating
            the new address you entered is your new permanent address and your records should be updated accordingly.
        </p>
    </div>

     <h3>
        <a href="#">How do I pay my application fee?</a>
    </h3>
    <div>
        <p>
            If your institution requires you to pay an application fee when you submit your application you will be taken to a page where you can make the
            payment. If your institution requires you pay an application fee, but it does not need to be paid immediately, a charge is added to your account
            when you submit your application that you can then pay at a later date. If your institution does not charge an application fee, you have completed
            the application when your application is submitted.
        </p>
    </div>
</div>
