﻿<h2>
    Confirm Graduation Submission Help
</h2>
<div class="help-content">
    <h3>
        <a href="#">How can I be sure my graduation application has been submitted?</a>
    </h3>
    <div>
        <p>
           You will be directed to the Graduation Submission Confirmation page when your application is successfully submitted. If you have an email address on file you will also receive an email confirmation of the submission. 
        </p>
    </div>
</div>

