﻿<h2>
    Transcript Request Help
</h2>
<div class="help-content">
    
    <h3>
        <a href="#">How do I ensure my transcript will be mailed to the correct address?</a>
    </h3>
    <div>
        <p>
            When you are entering an address that is outside of the United States or Canada, 
            you must select the <span class="bold">Outside US/Canada</span> check box. Additional address lines and the Country field are then displayed
            which will allow you to enter all the necessary information for a complete address.
        </p>
    </div> 
   <h3>
        <a href="#">What should I do if I do not receive a confirmation of my transcript request?</a>
    </h3>
    <div>
        <p>
            If you do not receive confirmation and it does not appear in the list of requests on the Transcript Requests page after you enter it, submit another request or contact your institution. 
Confirmation means that a successful submission request notification will display in the top right corner of the page and the new request will appear in the list of requests. You may also receive an email depending on your institution’s policies.
        </p>
    </div> 
<h3>
        <a href="#">How can I view my unofficial transcript?</a>
    </h3>
    <div>
        <p>
            View your unofficial transcript on the Unofficial Transcript page under Student Planning. If you have multiple transcripts, a separate link is displayed for each one. Select the link for the transcript that you want to view.
        </p>
    </div> 
<h3>
        <a href="#">What is the purpose of the comments field?</a>
    </h3>
    <div>
        <p>
            Use the comments field to provide additional information or instructions with your request.
        </p>
    </div> 
</div>
