﻿<h2>
    Transcript Requests Help
</h2>
<div class="help-content">
    
    <h3>
        <a href="#">How do I determine the status of my transcript request?</a>
    </h3>
    <div>
        <p>
            Use this form to see the transcript requests that you have submitted. If the request has been satisfied, a Date Produced column displays the date that the request was fulfilled.
        </p>
    </div>    
</div>
