﻿/* Copyright 2012-2016 Ellucian Company L.P. and its affiliates. */

@import '../../../Content/_colors.scss';

div .float-right {
    float: right;
}

.add-button {
    height: 32px;
    padding-left: 3em;
    background: url("../../../Content/Images/add-new-inactive.png") no-repeat 0px;
    border: none;
    box-shadow: none;
}

    .add-button:hover, .add-button:focus {
        color: $color-hint;
        background: url("../../../Content/Images/add-new-active.png") no-repeat 0px;
        border: none;
        box-shadow: none;
        outline: none;
    }

/* High Density Styles */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
    .add-button {
        background: url("../../../Content/Images/add-new-inactive@2x.png") no-repeat 0px;
        background-size: 32px;
        border: none;
        box-shadow: none;
    }

        .add-button:hover, .add-button:focus {
            background: url("../../../Content/Images/add-new-active@2x.png") no-repeat 0px;
            background-size: 32px;
            border: none;
            box-shadow: none;
            outline: none;
        }
}
/*Just puts some space around the blue boxes*/
.info-success
{
    border: 1px solid $color-success;
    background: $color-success-fill url("../../../Content/Images/icon-success.png") no-repeat scroll 7px 7px;
    color: $color-base-10;
    padding: 10px 8px 8px 33px;
    border-radius: 5px 5px 5px 5px;
    margin: 0;
}


.fullwidth {
    width: 100%;
}
/*Puts a little space above and below the grey bars */
.graduation-field {
    margin-bottom: 1em;
    margin-top: 1em;
}

.graduation-list {
    margin-bottom: .3em;
}

/*Spaces the inputs*/
.graduation-info {
    padding-top: .75em;
    padding-bottom: .75em;
    margin-bottom: 0;
    margin-top: 0;
}
/*!!!*/
.text-box-margin {
    margin: .5em 0px .5em 0px;
}


#headerTwo {
    padding-top: 0px;
}

.address-indent {
    margin: 0 0 0 2em;
}

.address-select {
    margin: .4em 0 0 2em;
}

.address-view {
    margin: .4em 0 0 8.4em;
}

.address-view-indent {
    margin: 0 0 0 8.4em;
}

@media (max-width: 769px) {
    .address-view-indent {
        margin: 0 0 0 0;
    }

    .address-view {
        margin: .4em 0 0 0;
    }
}

.graduation-part {
    margin: 0 2em 0 2em;
}

/*Spaces the info box on the response page*/
.graduation-response-part {
    margin: 0 1.2em 0 1.2em;
}

#form a:not([type='button']) {
    word-wrap: break-word;
}
/*The link that looks like a button (cancel)*/
#form a[type='button'] {
    text-decoration: none;
    word-wrap: break-word;
}

.graduation-info-link {
    padding-top: 0;
    font-size: .9em;
}

.left-column-separator {
    margin-right: 5%;
}

.link-left-margin {
    margin-left: 2em;
}

.landing-info {
    background: url("../../../Content/Images/icon-success.png") no-repeat scroll 0 center;
    background-position: 5px center;
    color: $color-base-30;
    padding-left: 2.077em;
    padding-top: .5em;
    vertical-align: middle;
    height: 1.308em;
}
/*Formats the welcome text*/
#graduation-intro {
    font-style: italic;
    margin-bottom: 1em;
}

#graduation-table {
    margin-top: 1em;
}

/*The title bar the divides the form*/
.graduation-split {
    color: $color-base-40;
    background-color: $color-base-70;
    border-bottom: 1px solid $color-base-65;
    border-top: 1px solid $color-base-65;
    padding: .5em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    clear: both;
}

/*The toggle switch*/
.switch-checkbox {
    float: right; /*!!*/
    width: 4.75em; /*Makes the toggle switches wider*/
}

/*The required words*/
.required {
    clear: both;
    color: $color-error;
}

.switch-yes {
    background: url("../../../Content/Images/icon-success.png") no-repeat scroll 0 center;
    background-position: 5px center;
    color: $color-base-30;
    padding-left: 27px;
    vertical-align: middle;
    height: 18px;
}

.switch-no {
    background: url("../../../Content/Images/icon-error.png") no-repeat scroll 0 center;
    background-position: 5px center;
    color: $color-base-30;
    padding-left: 27px;
    vertical-align: middle;
    height: 18px;
}

.pad-top{
    padding-top: .8em;
}
