﻿/*Copyright 2016 Ellucian Company L.P. and its affiliates*/
/* Color variables */
.student-grade-table th:first-child {
  width: 15%;
}

.student-grade-table th:nth-child(2) {
  width: 25%;
}

.student-grade-table th:nth-child(3) {
  width: 15%;
}

.student-grades-final-grade p:nth-child(2) {
  color: #cb0004;
}

.student-grades-course-name p:first-child {
  font-weight: bold;
}

.student-grades-course-name p:nth-child(2) {
  font-size: .875rem;
}
