﻿/*Copyright 2016 Ellucian Company L.P. and its affiliates*/

@import '../../../Content/_colors.scss';

.multi-accordion-header-text {
    padding-left: 1em;
}

#enrollment-verification-request-intro {
    padding-bottom: 1em;
}

#transcript-copies-dropdown {
    max-width: 3em;
}

.fullwidth {
    width: 100%;
}

.intro-text {
    font-style: italic;
    margin-bottom: 1em;
}

@media (min-width: 769px) {
    .request-padding {
        padding-left: 2em;
    }

    .address-indent {
        padding-left: 2.5em;
    }

    .field-padding {
        padding-bottom: 1em;
    }

    .center-text {
        padding-top: .45em;
    }
}


@media all and (max-width: 769px) {
    .multi-accordion-controller .arrow {
        border-top: 2px solid $color-base-95;
        border-right: 2px solid $color-base-95;
    }

    .column-nine {
        padding: 0;
    }
}

/*Spaces the inputs*/
.student-request-info {
    padding-top: .75em;
    padding-bottom: .75em;
    margin-bottom: 0;
    margin-top: 0;
}

#add-request-link {
    word-wrap: break-word;
    float: right;
}

.pay-now-link {
    padding-left: 2.077em;
}

#request-restrictions {
    padding-bottom: .75em;
}

.requests-table th:first-child, .requests-table th:nth-child(2), .requests-table th:nth-child(5) {
    width: 10%;
    min-width: 90px;
}

.requests-table th:nth-child(6) {
    width: 15%;
    min-width: 90px;
}

.requests-table th:nth-child(3) {
    width: 30%;
    min-width: 85px;
}

.requests-table th:nth-child(4) {
    width: 25%;
    min-width: 85px;
}

.word-wrap {
    white-space: pre-wrap;
}


.payment-status-paid {
    background: url("../../../Content/Images/icon-success.png") no-repeat scroll 0 center;
    background-position: 5px center;
    color: $color-base-10;
    padding-left: 2.077em;
    padding-top: .5em;
    vertical-align: middle;
    height: 1.308em;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .payment-status-paid {
        background: url("../../../Content/Images/icon-success@2x.png") no-repeat scroll 0 center;
        background-size: 16px;
    }
}

.payment-status-unpaid {
    background: url("../../../Content/Images/icon-error.png") no-repeat scroll 0 center;
    background-position: 5px center;
    color: $color-base-10;
    padding-left: 2.077em;
    vertical-align: middle;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .payment-status-unpaid {
        background: url("../../../Content/Images/icon-error@2x.png") no-repeat scroll 0 center;
        background-size: 16px;
    }
}

.payment-status-none {
    background: url("../../../Content/Images/icon-info.png") no-repeat scroll 0 center;
    background-position: 5px center;
    color: $color-base-10;
    padding-left: 2.077em;
    padding-top: .5em;
    vertical-align: middle;
    height: 1.308em;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
    .payment-status-none {
        background: url("../../../Content/Images/icon-info@2x.png") no-repeat scroll 0 center;
        background-size: 17px;
    }
}
