﻿/*Copyright 2016 Ellucian Company L.P. and its affiliates*/

@import '../../../Content/_colors.scss';

.multi-accordion-header-text {
  padding-left: 1em;
}

#transcript-request-intro {
  padding-bottom: 1em;
}

#transcript-copies-dropdown {
  max-width: 3em;
}

@media all and (max-width: 769px) {
  .multi-accordion-controller .arrow {
    border-top: 2px solid $color-base-95;
    border-right: 2px solid $color-base-95;
  }
  .column-nine {
    padding: 0;
  }
}
