﻿<section data-bind="if: IsPayableActive() && IsVendor()">
    <div id="address-bar">
        <div id="address-selector">
            <label id="address-selector-label" for="address-selector-dropdown" class="bold" data-bind="css: { offScreen: $root.isMobile() }">Select an Address:</label>
            <select id="address-selector-dropdown"
                    data-bind="options: Addresses, optionsText: 'AddressLines', optionsValue: 'Id', value: selectedAddressId, event:{change:loadVendorDeposits}"></select>
        </div>
    </div>
</section>


<!-- ko if: !IsPayrollActive() && !IsPayableActive() -->
<message params="isVisible: true, resx: 'BankingInformation.UserNotAuthorizedMessage"></message>
<!-- /ko -->
<!-- ko if: IsPayrollActive() || IsPayableActive() -->
<h3 class="section-header primary-header clear-group">
    <span class="column-seven column-five-sm" data-bind="resx: 'BankingInformation.ActiveAccountsHeader'"></span>
    <button class="esg-button esg-button--secondary add-bank-account-button" name="addAccount" data-bind="click: addAccount, disable: !Configuration.AddEditAccountTermsAndConditions()  , resx: 'BankingInformation.AddAccountButtonLabel'"></button>
</h3>
<!-- /ko -->

<div class="section-contents">


    <section class="account-details" data-bind="if: IsPayrollActive">

        <!--ko if: !Configuration.AddEditAccountTermsAndConditions() -->
        <message params="isVisible: true, type: 'error', message: absentTermsAndConditionsMessage() "></message>
        <!-- /ko -->

        <!-- ko if: Configuration.PayrollMessage -->
        <message params="isVisible: true, message: Configuration.PayrollMessage"></message>
        <!-- /ko -->

        <active-payroll-directives params="dataModel: dataModel,
                                   hasAllCanadianAccounts: hasAllCanadianAccounts">

        </active-payroll-directives>
    </section>


    <section class="account-details" data-bind="if: IsPayableActive">
        <active-payable-directive params="dataModel: dataModel,
                                  hasAllCanadianAccounts: hasAllCanadianAccounts">

        </active-payable-directive>
    </section>

</div>