﻿<!--Copyright 2014-2017 Ellucian Company L.P. and its affiliates-->
@Html.Partial("_AdminHeaderPartial")
<!-- ko if: showYearSelector -->
<div id="award-year-bar">
    <div id="year-selector">
        <label for="year-selector-dropdown" class="year-select-text" data-bind="css: { offScreen: isMobile() }">@Resources.FinancialAidHome.SelectYear</label>
        <select id="year-selector-dropdown" class="esg-form__input esg-form__input--inline year-select-dropdown" data-bind="options: AwardYears, optionsText: 'Description', value: selectedYear, event: { change: selectionChanged }"></select>
    </div>
    <!-- ko with: selectedYear().Counselor -->
        <!-- ko if: EmailAddress() -->
        <span id="counselor-contact" class="counselor-email">
            <a data-bind="mailto: { email: EmailAddress, label: EmailAddress}, text: IsCounselorInfo() ? '@Resources.FinancialAidShared.ContactFACounselorLabel' : '@Resources.FinancialAidShared.ContactFAOfficeLabel'"></a>
        </span>
        <!-- /ko -->
    <!-- /ko -->
</div>
<!-- /ko -->

<!-- Determine if current user is admin and store it into an observable -->
<script type="text/javascript">
    $(document).ready(function () {
        var viewModel = ko.dataFor(document.getElementById("main"));
        if (typeof viewModel !== 'undefined' && viewModel !== null) {
            var admin = '@(ViewBag.IsAdmin != null && ViewBag.IsAdmin)';
            if (admin === "True") {
                viewModel.isAdmin(true);
            }
            else {
                viewModel.isAdmin(false);
            }
        }
    });    
</script>