﻿<div id="sap-warning-message">
    @if (ViewBag.IsAdmin != null && ViewBag.IsAdmin)
    {
        ViewBag.SAPUrl = @Url.Content("~/FinancialAid/SatisfactoryAcademicProgress/Admin/") + @ViewBag.StudentId;
    }
    else
    {
        ViewBag.SAPUrl = "SatisfactoryAcademicProgress";
    }

    <div class=" esg-alert esg-alert--fluid" role="alert" data-bind="css: { 'esg-alert--error' : AcademicProgressStatus.Category() === 'Unsatisfactory', 'esg-alert--warning': AcademicProgressStatus.Category() === 'Warning', 'esg-alert--success': AcademicProgressStatus.Category() === 'Satisfactory' }">
        <span class="esg-alert__icon-wrapper">
            <span class="esg-alert__icon esg-icon__container" aria-hidden="True">
                <svg class="esg-icon" data-bind="css: {'esg-icon--error-dark' : AcademicProgressStatus.Category() === 'Unsatisfactory', 'esg-icon--warning-dark': AcademicProgressStatus.Category() === 'Warning', 'esg-icon--success-dark': AcademicProgressStatus.Category() === 'Satisfactory' }">
                    <use xlink:href="" data-bind="attr: { 'xlink:href': AcademicProgressStatus.Category() === 'Unsatisfactory' ? '#icon-error' : (AcademicProgressStatus.Category() === 'Warning' ? '#icon-warning' :  '#icon-check') }"></use>
                </svg>
            </span>
        </span>
        <div class="esg-alert__message">
            <a href=@ViewBag.SAPUrl data-bind="attr: {'disabled': $root.IsProxyView() }">
                <span data-bind="html: sapStatusMessage"></span>
            </a>
        </div>
    </div>
</div>