﻿<div id="catalog-subject-search" style="display: none;" data-bind="visible:true">
    <!--THE SPINNER THAT SHOWS WHILE THE DATA IS LOADING-->
    <spinner params="isVisible: !isLoaded(), message:Ellucian.CatalogAdvancedSearch.MarkupLabels.loadingSubjectsMessageText"></spinner>
    <div class="clear-group" data-bind="visible:isLoaded()">
        <section class="esg-list-group">
            <div class="esg-list-group__header">
                <h4 class="esg-list-group__title">
                    <span>@Resources.Courses.FilterCourseSubjectLabel</span>
                    <label for="coursecatalog-filter" class="field-label-hidden">@Resources.Courses.FilterCourseSubjectLabel</label>
                    <input type="search" id="coursecatalog-filter" data-bind="value: filter, valueUpdate: 'keyup'" />
                </h4>
            </div>
            <!-- ko if:filteredSubjects().length > 0 -->
            <!-- ko foreach: filteredSubjects -->
            <!-- each <a> is a subject, w/ link to appropriate search result -->
            <a class="esg-list-group__item" data-bind="text: Description, attr: { 'href': searchUrl, 'title': Description }, click: clickHandler">
            </a>
            <!-- /ko -->
            <!-- /ko -->
            <div id="catalog-filternoresults" class="esg-list-group__item" data-bind="visible: filteredSubjects().length == 0 && subjects().length > 0">@Resources.Courses.SubjectFilterNoMatches</div>
        </section>
        </div>
    </div>
