﻿@using Ellucian.Colleague.Dtos.Student
@model dynamic
@{
    Dictionary<CatalogFilterType, bool> DefaultFiltersSettings = new Dictionary<CatalogFilterType, bool>();
    DefaultFiltersSettings = Model.DefaultFiltersSettings;
}


<div id="catalog-advanced-search" style="display: none;" data-bind="visible:true">
    <!--THE SPINNER THAT SHOWS WHILE THE DATA IS LOADING-->
    <spinner params="isVisible: !isLoaded(), message:Ellucian.CatalogAdvancedSearch.MarkupLabels.loadingMessageText"></spinner>
    <div class="clear-group" data-bind="visible:isLoaded()">
        <section class="section-wrapper no-section-mobile-padding">
            <h3 class="section-header primary-header">
                <span data-bind="html:labels.headerText"></span>
            </h3>
            <div id="new-catalog-advanced-search" class="section-contents primary-contents clear-group">

                <div data-bind="with:catalogAdvancedSearchDataModelInstance">
                    @*Enter Term*@
                    <div class="esg-row">
                        @if (!DefaultFiltersSettings.ContainsKey(CatalogFilterType.Terms) || DefaultFiltersSettings[CatalogFilterType.Terms])
                        {
                            <div class="esg-col-md-3 esg-form__group">
                                <label id="term-label-id" class="esg-form__label" for="term-id" data-bind="html:$parent.labels.termLabel"></label>
                                <select id="term-label-id" class="esg-form__input" data-bind="value:term, options:$parent.Terms, optionsText:'Item2', optionsValue:'Item1', optionsCaption:$parent.labels.termSelectCaption"></select>
                            </div>
                        }
                        <div class="esg-col-md-5 esg-col-lg-4 esg-col-xl-3">
                            <div class="esg-col-xs-6 esg-col-md-6 esg-form__group">
                                <label class="esg-form__label" for="start-meeting-date" data-bind="html:$parent.labels.startMeetingDateLabel"></label>
                                <input id="start-meeting-date" class="esg-form__input" data-bind="value: startDate, css:{'required-input':!startDate.isValid() }, enable:startDate.isEnabled, attr:{'aria-invalid':!startDate.isValid()?'true':'false', 'placeholder': Globalize.getClosestCultureDateFormat()}" />
                                <div data-bind="css:{'esg-has-error':!startDate.isValid() }, visible:startDate.isValid()===false">
                                    <div id="start-date-error" class="esg-form__feedback-text" data-bind="visible:startDate.isValid()===false, html:startDate.ErrorMessage"></div>
                                </div>
                            </div>
                            <div class="esg-col-xs-6 esg-col-md-6 esg-form__group">
                                <label class="esg-form__label" for="end-meeting-date" data-bind="html:$parent.labels.endMeetingDateLabel"></label>
                                <input id="end-meeting-date" class="esg-form__input" data-bind="value: endDate, css:{'required-input':!endDate.isValid() }, enable:endDate.isEnabled, attr:{'aria-invalid':!endDate.isValid()?'true':'false',  'placeholder': Globalize.getClosestCultureDateFormat()}" />
                                <div data-bind="css:{'esg-has-error':!endDate.isValid() }, visible:endDate.isValid()===false">
                                    <div id="end-date-error" class="esg-form__feedback-text" data-bind="html:endDate.ErrorMessage"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*Enter Course*@
                    <span class="esg-form__label" data-bind="html:$parent.labels.courseLabel"></span>
                    <div data-bind="template:{name:'course-template', foreach:keywordComponents}">
                    </div>

                    <div class="esg-form__group" data-bind="css:$parent.isMobile()?'esg-form__group--css-advanced-search-add-more-button':''">
                        <button type="button" class="esg-button esg-button--secondary esg-button--small" data-bind="visible:keywordComponents().length<6, value:$parent.labels.addCourseButtonLabel, click:addCourse">
                            <span class="esg-button__icon--left esg-icon__container--outline" aria-hidden="True">
                                <svg class="esg-icon esg-icon--xsmall esg-icon--light">
                                    <use xlink:href="#icon-add"></use>
                                </svg>
                            </span>
                            <span class="export-button__label" data-bind="html:$parent.labels.addCourseButtonLabel, attr:{'aria-describedby':Ellucian.CatalogAdvancedSearch.MarkupLabels.addCourseButtonDescription}"></span>
                        </button>
                    </div>

                    @*Enter Day of week*@
                    @if (!DefaultFiltersSettings.ContainsKey(CatalogFilterType.DaysOfWeek) || DefaultFiltersSettings[CatalogFilterType.DaysOfWeek])
                    {

                        <div class="esg-row">
                            <div class="esg-form__group esg-col-md-6">
                                <label class="esg-form__label" data-bind="html:$parent.labels.dayOfWeekLabel"></label>
                                <div>
                                    <!--ko foreach:$parent.DaysOfWeek()-->
                                    <div class="esg-col-md-3 esg-form__group">
                                        <input type="checkbox" data-bind="checked:$data.Item3, attr:{id:$data.Item1}" />
                                        <label data-bind="html:$data.Item1, attr:{ for:$data.Item1}"></label>
                                    </div>
                                    <!-- /ko -->
                                </div>
                            </div>
                        </div>
                    }
                    @*Enter Location*@

                    @if (!DefaultFiltersSettings.ContainsKey(CatalogFilterType.Locations) || DefaultFiltersSettings[CatalogFilterType.Locations])
                    {

                        <div class="esg-row esg-form__group">
                            <div class="esg-col-md-3">
                                <label for="location-id" class="esg-form__label" data-bind="html:$parent.labels.locationLabel"></label>
                                <select id="location-id" class="esg-form__input" data-bind="value:location, options:$parent.Locations, optionsText:'Item2', optionsValue:'Item1', optionsCaption:$parent.labels.locationSelectCaption"></select>
                            </div>
                        </div>
                    }
                    @*Enter Academic level*@
                    @if (!DefaultFiltersSettings.ContainsKey(CatalogFilterType.AcademicLevels) || DefaultFiltersSettings[CatalogFilterType.AcademicLevels])
                    {

                        <div class="esg-row esg-form__group">
                            <div class="esg-col-md-3">
                                <label for="academic-level-id" class="esg-form__label" data-bind="html:$parent.labels.academicLevelLabel"></label>
                                <select id="academic-level-id" class="esg-form__input" data-bind="value:academicLevel, options:$parent.AcademicLevels, optionsText:'Item2', optionsValue:'Item1', optionsCaption:$parent.labels.academicLevelSelectCaption"></select>
                            </div>
                        </div>
                    }

                    @*Enter Time Of the day*@
                    @if (!DefaultFiltersSettings.ContainsKey(CatalogFilterType.TimesOfDay) || DefaultFiltersSettings[CatalogFilterType.TimesOfDay])
                    {

                        <div class="esg-row esg-form__group">
                            <div class="esg-col-md-3">
                                <label for="time-of-day-id" class="esg-form__label" data-bind="html:$parent.labels.timeOfDayLabel"></label>
                                <select id="time-of-day-id" class="esg-form__input" data-bind="value:timeRange, options:$parent.TimeRanges, optionsText:'Item1', optionsCaption:$parent.labels.timeOfDayCaption"></select>
                            </div>
                        </div>
                    }

                    @*Enter Course Types*@
                    @if (!DefaultFiltersSettings.ContainsKey(CatalogFilterType.CourseTypes) || DefaultFiltersSettings[CatalogFilterType.CourseTypes])
                    {

                        <div class="esg-row esg-form__group">
                            <div class="esg-col-md-3">
                                <label for="course-type-id" class="esg-form__label" data-bind="html:$parent.labels.courseTypeLabel"></label>
                                <select id="course-type-id" class="esg-form__input" data-bind="value:courseType, options:$parent.CourseTypes, optionsText:'Item2', optionsValue:'Item1', optionsCaption:$parent.labels.courseTypeSelectCaption"></select>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="button-bar">
                <div class=" float-left">
                    <input type="button" class="esg-button esg-button--primary" data-bind="value:labels.searchButtonLabel, click:submit, enable:catalogAdvancedSearchDataModelInstance.isValid() && isSearchEnabled()" />
                    <input type="button" class="esg-button esg-button--secondary" data-bind="value:labels.clearButtonLabel, click:clear" />
                </div>
            </div>
        </section>
    </div>
    <!-- Modal Spinner for use during submission -->
    <modal-spinner id="loading" params="isVisible: isSubmissionInProgress, message: Ellucian.CatalogAdvancedSearch.MarkupLabels.spinnerMessageText"></modal-spinner>

    <script type="text/html" id="course-template">
        <div class="esg-row" data-bind="css:$parents[1].isMobile()?'esg-row--css-advanced-search':''">
            <div class="esg-col-md-3 esg-form__group">
                <label class="offScreen" data-bind="attr:{for:'subject-'+$index()}, text:Ellucian.CatalogAdvancedSearch.MarkupLabels.subjectLabel"></label>
                <select class="esg-form__input" data-bind="attr:{id:'subject-'+$index()}, value:subject, options:$parents[1].Subjects, optionsText:'Description',optionsValue:'Code', optionsCaption:$parents[1].labels.subjectSelectCaption"></select>
            </div>
            <div class="esg-col-md-5 esg-col-lg-4 esg-col-xl-3">
                <div class="esg-col-xs-6 esg-col-md-6 esg-form__group">
                    <label class="offScreen" data-bind="attr:{for:'course-number-'+$index()}, text:Ellucian.CatalogAdvancedSearch.MarkupLabels.courseNumberLabel"></label>
                    <input type="text" maxlength="7" class="esg-form__input" data-bind="attr:{id:'course-number-'+$index(), 'placeholder':Ellucian.CatalogAdvancedSearch.MarkupLabels.courseNumberLabel}, value: courseNumber,  enable:courseNumber.isEnabled, valueUpdate:'keyup'" />
                </div>
                <div class="esg-col-xs-6 esg-col-md-6 esg-form__group">
                    <label class="offScreen" data-bind="attr:{for:'section-number-'+$index()}, text:Ellucian.CatalogAdvancedSearch.MarkupLabels.sectionNumberLabel"></label>
                    <input type="text" maxlength="7" class="esg-form__input" data-bind="attr:{id:'section-number-'+$index(), 'placeholder':Ellucian.CatalogAdvancedSearch.MarkupLabels.sectionNumberLabel}, value: section, enable:section.isEnabled" />
                </div>
            </div>
        </div>
    </script>

</div>