﻿<div id="paging" class="clear-group" data-bind="visible: CourseFullModels().length > 0">
    <!-- First Page Link -->
    <div>
        <a href="#" class="pagination-image" data-bind="click: PageLink.bind($data, 1, (CurrentPageIndex() > 1)), css: { 'pagination-first-active': CurrentPageIndex() > 1, 'pagination-first': CurrentPageIndex() <= 1 }, disabled: true, attr: { title: CurrentPageIndex() > 1 ? '@Resources.CourseSearchResult.UiPaginationLinksTitle' + '1' : '', alt: CurrentPageIndex() > 1 ? '@Resources.CourseSearchResult.UiPaginationLinksTitle' + '1' : '', 'aria-label': '@Resources.CourseSearchResult.UiPaginationLinksTitle' + '1'}"></a>
    </div>
    <!-- Previous Page Link -->
    <div>
        <a href="#" class="pagination-image" data-bind="click: PageLink.bind($data, CurrentPageIndex()-1, (CurrentPageIndex() > 1)), css: {'pagination-previous-active': CurrentPageIndex() > 1, 'pagination-previous': CurrentPageIndex() <= 1 }, attr: { title: CurrentPageIndex() > 1 ? '@Resources.CourseSearchResult.UiPaginationLinksTitle' + (CurrentPageIndex()-1 == 0 ? 1 : CurrentPageIndex()-1) : '', alt: CurrentPageIndex() > 1 ? '@Resources.CourseSearchResult.UiPaginationLinksTitle' + (CurrentPageIndex()-1 == 0 ? 1 : CurrentPageIndex()-1) : '', 'aria-label': '@Resources.CourseSearchResult.UiPaginationLinksTitle' + (CurrentPageIndex()-1 == 0 ? 1 : CurrentPageIndex()-1)}"></a>
    </div>
    <div class="search-paginationouter">
        <!-- Current Page, minus 4 Link -->
        <a href="#" class="pagination-link" data-bind="click: PageLink.bind($data, CurrentPageIndex()-4, 1), visible: (CurrentPageIndex() > 4 && CurrentPageIndex() == TotalPages()), text: CurrentPageIndex() -4, attr: { title: '@Resources.CourseSearchResult.UiPaginationLinksTitle' + (CurrentPageIndex() -4), alt: '@Resources.CourseSearchResult.UiPaginationLinksTitle' + (CurrentPageIndex() -4), 'aria-label': '@Resources.CourseSearchResult.UiPaginationLinksTitle' + (CurrentPageIndex() -4)}"></a>
        <!-- Current Page, minus 3 Link -->
        <a href="#" class="pagination-link" data-bind="click: PageLink.bind($data, CurrentPageIndex()-3, 1), visible: (CurrentPageIndex() > 3 && CurrentPageIndex() >= TotalPages()-1), text: CurrentPageIndex() -3, attr: { title: '@Resources.CourseSearchResult.UiPaginationLinksTitle' + (CurrentPageIndex() -3), alt: '@Resources.CourseSearchResult.UiPaginationLinksTitle' + (CurrentPageIndex() -3), 'aria-label': '@Resources.CourseSearchResult.UiPaginationLinksTitle' + (CurrentPageIndex() -3)}"></a>
        <!-- Current Page, minus 2 Link -->
        <a href="#" class="pagination-link" data-bind="click: PageLink.bind($data, CurrentPageIndex()-2, 1), visible: CurrentPageIndex() > 2, text: CurrentPageIndex() -2, attr: { title: '@Resources.CourseSearchResult.UiPaginationLinksTitle' + (CurrentPageIndex() -2), alt: '@Resources.CourseSearchResult.UiPaginationLinksTitle' + (CurrentPageIndex() -2), 'aria-label': '@Resources.CourseSearchResult.UiPaginationLinksTitle' + (CurrentPageIndex() -2)}"></a>
        <!-- Current Page, minus 1 Link -->
        <a href="#" class="pagination-link" data-bind="click: PageLink.bind($data, CurrentPageIndex()-1, 1), visible: CurrentPageIndex() > 1, text: CurrentPageIndex() -1, attr: { title: '@Resources.CourseSearchResult.UiPaginationLinksTitle' + (CurrentPageIndex() -1), alt: '@Resources.CourseSearchResult.UiPaginationLinksTitle' + (CurrentPageIndex() -1), 'aria-label': '@Resources.CourseSearchResult.UiPaginationLinksTitle' + (CurrentPageIndex() -1)}"></a>
        <!-- Current Page -->
        <span class="pagination-current" data-bind="text: CurrentPageIndex"></span>
        <!-- Current Page, plus 1 Link -->
        <a href="#" class="pagination-link" data-bind="click: PageLink.bind($data, CurrentPageIndex()+1, 1), visible: CurrentPageIndex() < TotalPages(), text: CurrentPageIndex() +1, attr: { title: '@Resources.CourseSearchResult.UiPaginationLinksTitle' + (CurrentPageIndex() +1), alt: '@Resources.CourseSearchResult.UiPaginationLinksTitle' + (CurrentPageIndex() +1), 'aria-label': '@Resources.CourseSearchResult.UiPaginationLinksTitle' + (CurrentPageIndex() +1)}"></a>
        <!-- Current Page, plus 2 Link -->
        <a href="#" class="pagination-link" data-bind="click: PageLink.bind($data, CurrentPageIndex()+2, 1), visible: CurrentPageIndex() < TotalPages() - 1, text: CurrentPageIndex() +2, attr: { title: '@Resources.CourseSearchResult.UiPaginationLinksTitle' + (CurrentPageIndex() +2), alt: '@Resources.CourseSearchResult.UiPaginationLinksTitle' + (CurrentPageIndex() +2), 'aria-label': '@Resources.CourseSearchResult.UiPaginationLinksTitle' + (CurrentPageIndex() +2)}"></a>
        <!-- Current Page, plus 3 Link -->
        <a href="#" class="pagination-link" data-bind="click: PageLink.bind($data, CurrentPageIndex()+3, 1), visible: (CurrentPageIndex() < TotalPages() - 2 && CurrentPageIndex() <= 2), text: CurrentPageIndex() +3, attr: { title: '@Resources.CourseSearchResult.UiPaginationLinksTitle' + (CurrentPageIndex() +3), alt: '@Resources.CourseSearchResult.UiPaginationLinksTitle' + (CurrentPageIndex() +3), 'aria-label': '@Resources.CourseSearchResult.UiPaginationLinksTitle' + (CurrentPageIndex() +3)}"></a>
        <!-- Current Page, plus 4 Link -->
        <a href="#" class="pagination-link" data-bind="click: PageLink.bind($data, CurrentPageIndex()+4, 1), visible: (CurrentPageIndex() < TotalPages() - 3 && CurrentPageIndex() == 1), text: CurrentPageIndex() +4, attr: { title: '@Resources.CourseSearchResult.UiPaginationLinksTitle' + (CurrentPageIndex() +4), alt: '@Resources.CourseSearchResult.UiPaginationLinksTitle' + (CurrentPageIndex() +4), 'aria-label': '@Resources.CourseSearchResult.UiPaginationLinksTitle' + (CurrentPageIndex() +4)}"></a>
    </div>
    <!-- Next Page Link -->
    <div>
        <a href="#" class="pagination-image" data-bind="click:PageLink.bind($data, CurrentPageIndex()+1, (CurrentPageIndex() < TotalPages())), css: { 'pagination-next-active': CurrentPageIndex() < TotalPages(), 'pagination-next': CurrentPageIndex() == TotalPages() }, attr: { title: CurrentPageIndex() < TotalPages() ? '@Resources.CourseSearchResult.UiPaginationLinksTitle' + (CurrentPageIndex() +1 >= TotalPages() ? TotalPages() : CurrentPageIndex() +1) : '', alt: CurrentPageIndex() < TotalPages() ? '@Resources.CourseSearchResult.UiPaginationLinksTitle' + (CurrentPageIndex() +1 >= TotalPages() ? TotalPages() : CurrentPageIndex() +1) : '', 'aria-label': '@Resources.CourseSearchResult.UiPaginationLinksTitle' + (CurrentPageIndex() +1 >= TotalPages() ? TotalPages() : CurrentPageIndex() +1)}"></a>
    </div>
    <!-- Last Page Link -->
    <div>
        <a href="#" class="pagination-image" data-bind="click: PageLink.bind($data, TotalPages(), (CurrentPageIndex() < TotalPages())), css: { 'pagination-last-active': CurrentPageIndex() < TotalPages(), 'pagination-last': CurrentPageIndex() == TotalPages() }, attr: { title: CurrentPageIndex() < TotalPages() ? '@Resources.CourseSearchResult.UiPaginationLinksTitle' + TotalPages() : '', alt: CurrentPageIndex() < TotalPages() ? '@Resources.CourseSearchResult.UiPaginationLinksTitle' + TotalPages() : '', 'aria-label': '@Resources.CourseSearchResult.UiPaginationLinksTitle' + TotalPages()}"></a>
    </div>
</div>
