﻿@* Copyright 2012-2017 Ellucian Company L.P. and its affiliates. *@
<div class="esg-form__group">
    <div class="esg-form__input-group">
        <label for="keyword" class="offScreen">@Resources.Courses.Search</label>
        <input class="esg-form__input" id="keyword" name="keyword" data-bind="watermark: { text: 'Search for courses...', options:{ className: 'keyword-default'}, value: (typeof Keyword === 'undefined' ? null : Keyword) }">
        <button id="submit-course-search" class="esg-form__icon esg-icon__container esg-form__icon--submit" role="button">
            <svg class="esg-icon esg-icon--small esg-icon--light">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use>
            </svg>
            <span class="offScreen">@Resources.Courses.Search</span>
        </button>
    </div>
</div>