﻿<section id="course-results">
    <!-- ko if: ErrorMessage().length > 0 -->
    <div class="search-error" data-bind="text: ErrorMessage">
    </div>
    <!-- /ko -->
    <ul id="course-resultul" data-bind="foreach: CourseFullModels">
        <!-- each <li> represents a course returned by the search -->
        <li>
            <!-- Outer result container -->
            <div class="course-result">
                <div class="course-result-header clear-group">
                    <h3>
                        <span data-bind="text: $data.SubjectCode() + '@Resources.Courses.CourseDelimiter' + $data.Number() + ' ' + $data.Title() + ' (' + $data.CreditsCeusDisplay() + ' ' + $data.CreditsDisplayLabel() + ')'"></span>
                    </h3>
@if (ViewBag.IsWithDegreePlan == null || Convert.ToBoolean(ViewBag.IsWithDegreePlan.ToString().ToLower()) == true)
{
    <input type="button" class="esg-button esg-button--float-right esg-button--small esg-button--secondary" data-bind="click: function(data, event) { $parent.showAddCourseDialog(data, null, null, $root.DegreePlan().PersonId(), false )}, clickBubble: false, attr: { 'value' : typeof catalogResultViewModelInstance.DegreePlan() != 'undefined' ? '@Resources.Courses.CourseAddButtonLabel' : 'Loading plan...', 'aria-label': '@Resources.CourseSearchResult.AddCourseLabelPrefix' + $data.SubjectCode() + '@Resources.Courses.CourseDelimiter' + $data.Number() + ' ' + $data.Title() + ' @Resources.CourseSearchResult.AddCourseLabelSuffix'}, visible: catalogResultViewModelInstance.canEdit(), disable: typeof catalogResultViewModelInstance.DegreePlan() == 'undefined'" />
}
                </div>
                <section class="section-contents course-result-wrapper">
                    <div class="search-coursedatarow">
                        <div class="search-coursedescription" data-bind="html: $data.Description, visible: !isNullOrEmpty($data.Description())">
                        </div>
                        <div class="search-coursedescription" data-bind="visible: isNullOrEmpty($data.Description())">@Resources.Courses.NoDescriptionText</div>
                    </div>
@if (ViewBag.IsWithDegreePlan == null || Convert.ToBoolean(ViewBag.IsWithDegreePlan.ToString().ToLower()) == true)
{
                    <div class="search-course-planning-status">
                        <!-- Shows planned status of this course from the degree plan.-->
                        <span data-bind="visible: typeof catalogResultViewModelInstance.DegreePlan() != 'undefined', text: $data.PlanningStatusText, attr: { 'class': $data.PlanningStatusClass } "></span>
                    </div>
}


                    <div class="layout-table">
                        <div class="search-coursedatarow layout-table-row">
                            <div class="search-coursedataheader layout-table-cell" width="20%">
                                @Resources.Courses.CourseRequisitesLabel
                            </div>
                            <div class="search-coursedatavalue layout-table-cell">
                                <!-- ko foreach: $data.CourseRequisites() -->
                                <span data-bind="text: $data.DisplayText() + '   ' + $data.DisplayTextExtension()"></span>
                                <br />
                                <!-- /ko -->
                                <span data-bind="visible: $data.CourseRequisites().length === 0">@Resources.Courses.NoneText</span>
                            </div>
                        </div>


                        <div class="search-coursedatarow layout-table-row" data-bind="visible: !isNullOrEmpty($data.LocationsDisplay())">
                            <div class="search-coursedataheader layout-table-cell">
                                @Resources.Courses.CourseLocationsLabel
                            </div>
                            <div class="search-coursedatavalue layout-table-cell">
                                <span data-bind="text: LocationsDisplay"></span>
                            </div>
                        </div>


                        <div class="search-coursedatarow layout-table-row" data-bind="visible: showCourseOffering()">
                            <div class="search-coursedataheader layout-table-cell">
                                @Resources.Courses.CourseOfferedLabel
                            </div>
                            <div class="search-coursedatavalue layout-table-cell">
                                <span data-bind="text: $data.courseOffering()"></span>
                            </div>
                        </div>

                        <!-- ko if: $data.showLocationCycleRestrictionDescriptions -->

                        <div class="search-coursedatarow layout-table-row">
                            <div class="search-coursedataheader layout-table-cell">
                                @Resources.Courses.CourseOfferedLabel
                            </div>
                            <div class="search-coursedatavalue layout-table-cell">
                                <table class="course-location-table">
                                    <thead>
                                        <tr>
                                            <th class="course-locationcycle-header">@Resources.Courses.LocationLabel</th>
                                            <th class="course-locationcycle-header">@Resources.Courses.SessionCycleLabel</th>
                                            <th class="course-locationcycle-header">@Resources.Courses.YearlyCycleLabel</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- ko foreach: $data.LocationCycleRestrictionDescriptions() -->
                                        <tr>
                                            <td class="course-locationcycle-data" data-bind="text: $data.LocationDescription"></td>
                                            <td class="course-locationcycle-data" data-bind="foreach: $data.SessionCycleDescription">
                                                <p data-bind="text: isNullOrEmpty($data) ? '&nbsp;' : $data"></p>
                                            </td>
                                            <td class="course-locationcycle-data" data-bind="foreach: $data.YearlyCycleDescription">
                                                <p data-bind="text: isNullOrEmpty($data) ? '&nbsp;' : $data"></p>
                                            </td>
                                        </tr>
                                        <!-- /ko -->
                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <!-- /ko -->
                    </div>
                </section>


                <!-- Sections accordion -->
                <!-- ko if: $data.HasSections() -->
                    @Html.Partial("Courses/_SectionResult")

                <!-- /ko -->
            </div>
        </li>
    </ul>
    <!-- Paging Links -->
    @Html.Partial("Courses/_CourseResultPagingLinks")
</section>


