﻿<div class="section-header section-header-left">
    <button class="esg-button esg-button--secondary esg-button--small filter-button form" onclick="javascript:activateFilter()">
        @Resources.Courses.FiltersLabel
    </button>
    <div class="clear-group">
        <div class="requirement-search" data-bind="visible: RequirementTextDisplay() == true">
            @Resources.CourseSearchResult.ResultsFromRequirement
            <span data-bind="text: RequirementText"></span>
        </div>
        <div class="requirement-search" data-bind="visible: RequirementTextDisplay() == false && AdvancedSearchTextDisplay() == true">
            @Resources.CourseSearchResult.ResultsFromAdvancedSearch
            <span data-bind="text: AdvancedSearchText"></span>
        </div>
    </div>
    <!-- div for filter window -->
    <div class="filter-selected">
    </div>
    <div id="new-filter-dropdown" class="column-two">
        <div id="filter-triangle"></div>
        @Html.Partial("Courses/_SearchResultFilters")
    </div>
    <!-- filters applied -->
    <div class="applied-filters">
        <span>@Resources.Courses.FiltersApplied</span> <span data-bind="visible: !$data.IsAtLeastOneFilterSelected() && ($data.OpenSections() === null || !$data.OpenSections().Selected())"
                                                             class="search-no-filters">@Resources.Courses.NoFiltersAppliedText</span>
                                                            <!-- ko if: Subjects().length > 0 -->
                                                            <span data-bind="template: {name: 'applied-filters-template', foreach: Subjects }"></span>
                                                            <!-- /ko -->
                                                            <!-- ko if: Locations().length > 0 -->
                                                            <span data-bind="template: {name: 'applied-filters-template', foreach: Locations}"></span>
                                                            <!-- /ko -->
                                                            <!-- ko if: TermFilters().length > 0 -->
                                                            <span data-bind="template: {name: 'applied-filters-template', foreach: TermFilters}"></span>
                                                            <!-- /ko -->
                                                            <!-- ko if: DaysOfWeek().length > 0 -->
                                                            <span data-bind="template: {name: 'applied-filters-template', foreach: DaysOfWeek}"></span>
                                                            <!-- /ko -->
                                                            <!-- ko if: Faculty().length > 0 -->
                                                            <span data-bind="template: {name: 'applied-filters-template', foreach: Faculty}"></span>
                                                            <!-- /ko -->
                                                            <!-- ko if: AcademicLevels().length > 0 -->
                                                            <span data-bind="template: {name: 'applied-filters-template', foreach: AcademicLevels}"></span>
                                                            <!-- /ko -->
                                                            <!-- ko if: CourseLevels().length > 0 -->
                                                            <span data-bind="template: {name: 'applied-filters-template', foreach: CourseLevels}"></span>
                                                            <!-- /ko -->
                                                            <!-- ko if: CourseTypes().length > 0 -->
                                                            <span data-bind="template: {name: 'applied-filters-template', foreach: CourseTypes}"></span>
                                                            <!-- /ko -->
                                                            <!-- ko if: TopicCodes().length > 0 -->
                                                            <span data-bind="template: {name: 'applied-filters-template', foreach: TopicCodes}"></span>
                                                            <!-- /ko -->
                                                            <!-- ko if: OnlineCategories().length > 0 -->
                                                            <span data-bind="template: {name: 'applied-filters-template', foreach: OnlineCategories}"></span>
                                                            <!-- /ko -->
                                                            <!-- ko if: OpenSections()!==null && OpenSections().Selected()  -->
                                                            <span data-bind="template: {name: 'applied-filters-template', data: OpenSections}"></span>
                                                            <!-- /ko -->
        <button type="button" class="esg-badge esg-badge--success esg-badge--course-catalog-filter-result" title="@Resources.CourseSearchResult.RemoveTimeFilterButtonLabel" aria-label="@Resources.CourseSearchResult.RemoveTimeFilterButtonLabel" data-bind="click: RemoveTimeFilter, visible: TimeFilterSelected() === true"><span class='filter-remove-button' data-bind="text: (typeof TimeFilterButtonValue() !== 'undefined') ? TimeFilterButtonValue().Text : ''"></span><span class="esg-icon__container" aria-hidden="true"><svg class="esg-icon esg-icon--xsmall esg-icon--neutral"><use xlink:href="#icon-close"></use></svg></span></button>
                                                            <script type="text/html" id="applied-filters-template">
                                                                <!-- ko if: Selected -->
                                                                <button type="button" class="esg-badge esg-badge--success esg-badge--course-catalog-filter-result"
                                                                        data-bind="visible: Selected, click: $root.UnselectFilter, attr: {title: '@Resources.CourseSearchResult.RemoveFilterButtonTitle' + ' ' + $data.Description(), alt: '@Resources.CourseSearchResult.RemoveFilterButtonTitle' + ' ' + $data.Description(), 'aria-label': '@Resources.CourseSearchResult.RemoveFilterButtonTitle' + ' ' + $data.Description()}">
                                                                    <span class='filter-remove-button' data-bind="text: Description"></span>
                                                                    <span class="esg-icon__container" aria-hidden="true"><svg class="esg-icon esg-icon--xsmall esg-icon--neutral"><use xlink:href="#icon-close"></use></svg></span>
                                                                </button>
                                                                <!-- /ko -->
                                                            </script>
                                                        </div>
                                                    </div>
