﻿@*Copyright 2012-2017 Ellucian Company L.P. and its affiliates.*@
@using Ellucian.Colleague.Dtos.Student
@model dynamic
@{
    Dictionary<CatalogFilterType, bool> DefaultFiltersSettings = new Dictionary<CatalogFilterType, bool>();
    string FilterSelectionType = "STATIC";
    if (Model != null)
    {
        if (Model is System.String)
        {
            FilterSelectionType = Model;
        }
        else
        {

            var propertyInfo = Model.GetType().GetProperty("DefaultFiltersSettings");
            if (propertyInfo != null)
            {
                DefaultFiltersSettings = propertyInfo.GetValue(Model);
            }
            propertyInfo = Model.GetType().GetProperty("FilterSelectionType");
            if (propertyInfo != null)
            {
                FilterSelectionType = propertyInfo.GetValue(Model);
            }
        }
    }

}
<section class="section-wrapper no-section-mobile-padding">
    <div class="section-header section-header-left filter-header">
        <span>@Resources.Courses.Filters</span>
    </div>
    <!-- section for each type of filter (course, section, etc); collapse these when no results found -->
    <!-- open sections filter -->
    @if (!DefaultFiltersSettings.ContainsKey(CatalogFilterType.Availability) || DefaultFiltersSettings[CatalogFilterType.Availability])
    {
    <!--ko if:ShowAvailabilityFilter-->
        <section class="filters" data-bind="jqAccordion: { collapsible: true, autoHeight: false, active: true }">
            <h3>
                <a href="#">@Resources.CourseSearchResult.OpenSectionsFilter </a>
            </h3>
            <div data-bind="with:OpenSections">
                <input type="checkbox" data-bind="checked: Selected, attr: {id: '@FilterSelectionType' + 'openSections' }, click: $parent.UpdateSearchResults" />
                <label data-bind="text: Selected()==true? Description()+ ' ('+ Count() +')' : Description() , attr: {'for': '@FilterSelectionType' + 'openSections' }"></label>
            </div>
        </section>
    <!-- /ko -->
    }
    @*subject filter*@
    
        <section class="filters" data-bind="jqAccordion: { collapsible: true, autoHeight: false, active: $data.TotalItems() > 0 ? 0 : false }">
            <h3>
                <a href="#">@Resources.CourseSearchResult.SubjectsFilter</a>
            </h3>
            <div>
                <ul data-bind="foreach: SubjectsPartialList">
                    <li>
                        <input type="checkbox" data-bind="checked: Selected, attr: {id: '@FilterSelectionType' + 'subject' + Value()}, click: $parent.UpdateSearchResults" /><label data-bind="text: Description() + ' ('+ Count() +')', attr: {'for': '@FilterSelectionType' + 'subject' + Value()}">
                        </label>
                    </li>
                </ul>
                <a href="#" id="showallsubjects" data-bind="click: ShowAllSubjectsHandler, visible: isShowAllSubjectsVisible()">@Resources.CourseSearchResult.ShowAllSubjects</a>
            </div>
        </section>
    @*location filter*@
    @if (!DefaultFiltersSettings.ContainsKey(CatalogFilterType.Locations) || DefaultFiltersSettings[CatalogFilterType.Locations])
    {
        <section class="filters" data-bind="jqAccordion: { collapsible: true, autoHeight: false, active: $data.TotalItems() > 0 ? 0 : false }">
            <h3>
                <a href="#">@Resources.CourseSearchResult.LocationsFilter </a>
            </h3>
            <div>
                <ul data-bind="foreach: LocationsPartialList">
                    <li>
                        <input type="checkbox" data-bind="checked: Selected, attr: {id: '@FilterSelectionType' + 'locations' + Value()}, click: $parent.UpdateSearchResults" /><label data-bind="text: Description() + ' ('+ Count() +')', attr: {'for': '@FilterSelectionType' + 'locations' + Value()}"></label>
                    </li>
                </ul>
                <a href="#" id="showalllocations" data-bind="click: ShowAllLocationsHandler, visible: isShowAllLocationsVisible()">@Resources.CourseSearchResult.ShowAllLocations</a>
            </div>
        </section>
    }
    @*term filter*@
    @if (!DefaultFiltersSettings.ContainsKey(CatalogFilterType.Terms) || DefaultFiltersSettings[CatalogFilterType.Terms])
    {
        <section class="filters" data-bind="jqAccordion: { collapsible: true, autoHeight: false, active: $data.TotalItems() > 0 ? 0 : false }">
            <h3>
                <a href="#">@Resources.CourseSearchResult.TermFilter </a>
            </h3>
            <div>
                <ul data-bind="foreach: TermFiltersPartialList">
                    <li>
                        <input type="checkbox" data-bind="checked: Selected, attr: {id: '@FilterSelectionType' + 'term' + Value()}, click: $parent.UpdateSearchResults" /><label data-bind="text: Description() + ' ('+ Count() +')', attr: {'for': '@FilterSelectionType' + 'term' + Value()}"></label>
                    </li>
                </ul>
                <a href="#" id="showallterms" data-bind="click: ShowAllTermsHandler, visible: isShowAllTermsVisible()">@Resources.CourseSearchResult.ShowAllTerms</a>
            </div>
        </section>
    }
    @*day of week filter*@
    @if (!DefaultFiltersSettings.ContainsKey(CatalogFilterType.DaysOfWeek) || DefaultFiltersSettings[CatalogFilterType.DaysOfWeek])
    {
        <section class="filters" data-bind="jqAccordion: { collapsible: true, autoHeight: false, active: $data.TotalItems() > 0 ? 0 : false }">
            <h3>
                <a href="#">@Resources.CourseSearchResult.DaysOfWeekFilter </a>
            </h3>
            <div>
                <ul data-bind="foreach: DaysOfWeek">
                    <li>
                        <input type="checkbox" data-bind="checked: Selected, attr: {id: '@FilterSelectionType' + 'dayofweek' + Value()}, click: $parent.UpdateSearchResults" /><label data-bind="text: Description() + ' ('+ Count() +')', attr: {'for': '@FilterSelectionType' + 'dayofweek' + Value()}"></label>
                    </li>
                </ul>
            </div>
        </section>
    }
    @*Time of day filter*@
    @if (!DefaultFiltersSettings.ContainsKey(CatalogFilterType.TimesOfDay) || DefaultFiltersSettings[CatalogFilterType.TimesOfDay])
    {
        <section class="filters" data-bind="jqAccordion: { collapsible: true, autoHeight: false, active: $data.TotalItems() > 0 ? 0 : false }">
            <h3>
                <a href="#">@Resources.CourseSearchResult.TimeOfDayFilter </a>
            </h3>
            <div>
                @if (FilterSelectionType == "STATIC")
                {
                    <label for="time-range-filter_STATIC" class="field-label-hidden">@Resources.Courses.TimeRangeSelectLabel</label>
                    <select id="time-range-filter_STATIC" class="esg-form__input" data-bind="options: TimeRanges, optionsText: 'Text', optionsCaption: '@Resources.CourseSearchResult.TimeOfDayOptionsCaption', value: SelectedTime, event: {change: UpdateSearchResultsTimeOfDay}"></select>
                }
                @if (FilterSelectionType == "DROPDOWN")
                {
                    <label for="time-range-filter_DROPDOWN" class="field-label-hidden">@Resources.Courses.TimeRangeSelectLabel</label>
                    <select id="time-range-filter_DROPDOWN" class="esg-form__input" data-bind="options: TimeRanges, optionsText: 'Text', optionsCaption: '@Resources.CourseSearchResult.TimeOfDayOptionsCaption', value: SelectedTime, event: {change: UpdateSearchResultsTimeOfDay}"></select>
                }
            </div>
        </section>
    }

    @*faculty filter*@
    @if (!DefaultFiltersSettings.ContainsKey(CatalogFilterType.Instructors) || DefaultFiltersSettings[CatalogFilterType.Instructors])
    {
        <section class="filters" data-bind="jqAccordion: { collapsible: true, autoHeight: false, active: $data.TotalItems() > 0 ? 0 : false }">
            <h3>
                <a href="#">@Resources.CourseSearchResult.FacultyFilter </a>
            </h3>
            <div>
                <ul data-bind="foreach: FacultyPartialList">
                    <li>
                        <input type="checkbox" data-bind="checked: Selected, attr: {id: '@FilterSelectionType' + 'faculty' + Value()}, click: $parent.UpdateSearchResults" /><label data-bind="text: Description() + ' ('+ Count() +')', attr: {'for': '@FilterSelectionType' + 'faculty' + Value()}"></label>
                    </li>
                </ul>
                <a href="#" id="showallfaculties" data-bind="click: ShowAllFacultyHandler, visible: isShowAllFacultyVisible()">@Resources.CourseSearchResult.ShowAllFaculty</a>
            </div>
        </section>
    }
    @*acad level filter*@
    @if (!DefaultFiltersSettings.ContainsKey(CatalogFilterType.AcademicLevels) || DefaultFiltersSettings[CatalogFilterType.AcademicLevels])
    {
        <section class="filters" data-bind="jqAccordion: { collapsible: true, autoHeight: false, active: $data.TotalItems() > 0 ? 0 : false }">
            <h3>
                <a href="#">@Resources.CourseSearchResult.AcademicLevelsFilter </a>
            </h3>
            <div>
                <ul data-bind="foreach: AcademicLevelsPartialList">
                    <li>
                        <input type="checkbox" data-bind="checked: Selected, attr: {id: '@FilterSelectionType' + 'academicLevel' + Value()}, click: $parent.UpdateSearchResults" /><label data-bind="text: Description() + ' ('+ Count() +')', attr: {'for': '@FilterSelectionType' + 'academicLevel' + Value()}"></label>
                    </li>
                </ul>
                <a href="#" id="showallacademiclevels" data-bind="click: ShowAllAcademicLevelsHandler, visible: isShowAllAcademicLevelsVisible()">@Resources.CourseSearchResult.ShowAllAcademicLevels</a>
            </div>
        </section>
    }
    @*course level filter*@
    @if (!DefaultFiltersSettings.ContainsKey(CatalogFilterType.CourseLevels) || DefaultFiltersSettings[CatalogFilterType.CourseLevels])
    {
        <section class="filters" data-bind="jqAccordion: { collapsible: true, autoHeight: false, active: $data.TotalItems() > 0 ? 0 : false }">
            <h3>
                <a href="#">@Resources.CourseSearchResult.CourseLevelsFilter </a>
            </h3>
            <div>
                <ul data-bind="foreach: CourseLevelsPartialList">
                    <li>
                        <input type="checkbox" data-bind="checked: Selected, attr: {id: '@FilterSelectionType' + 'courseLevel' + Value()}, click: $parent.UpdateSearchResults" /><label data-bind="text: Description() + ' ('+ Count() +')', attr: {'for': '@FilterSelectionType' + 'courseLevel' + Value()}"></label>
                    </li>
                </ul>
                <a href="#" id="showallcourselevel" data-bind="click: ShowAllCourseLevelsHandler, visible: isShowAllCourseLevelsVisible()">@Resources.CourseSearchResult.ShowAllCourseLevels</a>
            </div>
        </section>
    }
    @*course type filter*@
    @if (!DefaultFiltersSettings.ContainsKey(CatalogFilterType.CourseTypes) || DefaultFiltersSettings[CatalogFilterType.CourseTypes])
    {
        <section class="filters" data-bind="jqAccordion: { collapsible: true, autoHeight: false, active: $data.TotalItems() > 0 ? 0 : false }">
            <h3>
                <a href="#">@Resources.CourseSearchResult.CourseTypeFilter </a>
            </h3>
            <div>
                <ul data-bind="foreach: CourseTypesPartialList">
                    <li>
                        <input type="checkbox" data-bind="checked: Selected, attr: {id: '@FilterSelectionType' + 'courseType' + Value()}, click: $parent.UpdateSearchResults" /><label data-bind="text: Description() + ' ('+ Count() +')', attr: {'for': '@FilterSelectionType' + 'courseType' + Value()}"></label>
                    </li>
                </ul>
                <a href="#" id="showallcoursetypes" data-bind="click: ShowAllCourseTypesHandler, visible: isShowAllCourseTypesVisible()">@Resources.CourseSearchResult.ShowAllCourseTypes</a>
            </div>
        </section>
    }
    @*topic code filter*@
    @if (!DefaultFiltersSettings.ContainsKey(CatalogFilterType.TopicCodes) || DefaultFiltersSettings[CatalogFilterType.TopicCodes])
    {
        <section class="filters" data-bind="jqAccordion: { collapsible: true, autoHeight: false, active: $data.TotalItems() > 0 ? 0 : false }">
            <h3>
                <a href="#">@Resources.CourseSearchResult.TopicCodeFilter </a>
            </h3>
            <div>
                <ul data-bind="foreach: TopicCodesPartialList">
                    <li>
                        <input type="checkbox" data-bind="checked: Selected, attr: {id: '@FilterSelectionType' + 'topicCode' + Value()}, click: $parent.UpdateSearchResults" /><label data-bind="text: Description() + ' ('+ Count() +')', attr: {'for': '@FilterSelectionType' + 'topicCode' + Value()}"></label>
                    </li>
                </ul>
                <a href="#" id="showalltopiccodes" data-bind="click: ShowAllTopicCodesHandler, visible: isShowAllTopicCodesVisible()">@Resources.CourseSearchResult.ShowAllTopicCodes</a>
            </div>
        </section>
    }
    @*online category filter*@
    @if (!DefaultFiltersSettings.ContainsKey(CatalogFilterType.InstructionTypes) || DefaultFiltersSettings[CatalogFilterType.InstructionTypes])
    {
        <section class="filters" data-bind="jqAccordion: { collapsible: true, autoHeight: false, active: $data.TotalItems() > 0 ? 0 : false }">
            <h3>
                <a href="#">@Resources.CourseSearchResult.OnlineCategoryFilter </a>
            </h3>
            <div>
                <ul data-bind="foreach: OnlineCategoriesPartialList">
                    <li>
                        <input type="checkbox" data-bind="checked: Selected, attr: {id: '@FilterSelectionType' + 'onlineCategory' + Value()}, click: $parent.UpdateSearchResults" /><label data-bind="text: Description() + ' ('+ Count() +')', attr: {'for': '@FilterSelectionType' + 'onlineCategory' + Value()}"></label>
                    </li>
                </ul>
                <a href="#" id="showallonlinecategories" data-bind="click: ShowAllOnlineCategoriesHandler, visible: isShowAllOnlineCategoriesVisible()">@Resources.CourseSearchResult.ShowAllOnlineCategories</a>
            </div>
        </section>
    }
</section>
