﻿@*Copyright 2013-2017 Ellucian Company L.P. and its affiliates.*@


<modal-dialog id="sectiondetails-dialogcontainer" style="display: none" params="isVisible: sectionIsVisible, title: Ellucian.Course.SectionCourseCommonDetails.SectionDialogTitle, content: $data, defaultCloseOff: true, buttons: [ closeSectionDetailsButton, addSectionDetailsButton ]">
    @*Loading Spinner*@
    <spinner params="message: Ellucian.Course.SearchResult.stringDetailsLoadingText, isVisible: isLoading()"></spinner>

    @*Dialog Content*@
    <div data-bind="visible: !isLoading()">
        <div class="layout-table">
            <div class="layout-table-row">
                <div class="layout-table-cell">
                    <div id="sectiondetails-title" class="bold" data-bind="text: FullTitle" tabindex="-1">
                    </div>
                    <div data-bind="visible: !isNullOrEmpty(TermDisplay)">
                        <div id="sectiondetails-term" data-bind="text: TermDisplay">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <hr class="dashedborder" />
        </div>

        <div id="sectiondetails-table" class="layout-table" aria-label="section details table">

            <div class="layout-table-row">
                <div class="layout-table-cell">
                    <span id="section-instructor-label" class="bold">@Resources.SectionCourseCommonDetails.SectionInstructorLabel</span>
                </div>
                <div class="layout-table-cell">
                    <div id="sectiondetails-instructorvalue" class="details-value">
                        <div class="layout-table" aria-labelledby="section-instructor-label">
                            <!-- ko foreach: Instructors -->
                            <div class="layout-table-row">
                                <div class="details-instructorname layout-table-cell" data-bind="text: Name"></div>
                                <div class="layout-table-cell">
                                    <span data-bind="visible: !isNullOrEmpty(Email) || !isNullOrEmpty(Phone), text: '('"></span><a data-bind="    attr: { href: 'mailto:' + Email }, text: Email, visible: !isNullOrEmpty(Email)"></a><span data-bind="    visible: !isNullOrEmpty(Email) && !isNullOrEmpty(Phone), text: ', '"></span><span data-bind="    text: Phone, visible: !isNullOrEmpty(Phone)"></span><span data-bind="visible: !isNullOrEmpty(Email) || !isNullOrEmpty(Phone), text: ')'"></span>
                                </div>
                            </div>
                            <!-- /ko -->
                        </div>
                    </div>
                    <span data-bind="visible: Instructors().length === 0" class="details-value">@Resources.Courses.ToBeDeterminedText</span>
                </div>
            </div>
            <div class="layout-table-row">
                <div class="layout-table-cell">
                    <span class="bold">@Resources.SectionCourseCommonDetails.SectionMeetingInformationLabel</span>
                </div>
                <div class="layout-table-cell">
                    <div id="sectiondetails-timelocationvalue" data-bind="visible: TimeLocations().length > 0">
                        <div class="layout-table">
                            <!-- ko foreach: TimeLocations -->
                            <div class="layout-table-row">
                                <div class="layout-table-cell">
                                    <div data-bind="text: Time" class="details-value"></div>
                                    <div data-bind="text: Dates" class="details-value"></div>
                                    <div data-bind="text: Location" class="details-value"></div>
                                </div>
                            </div>
                            <!-- /ko -->
                        </div>
                    </div>
                    <span data-bind="visible: TimeLocations().length === 0" class="details-value">@Resources.Courses.ToBeDeterminedText</span>
                </div>
            </div>
            <div class="layout-table-row">
                <div class="layout-table-cell">
                    <span class="bold">@Resources.SectionCourseCommonDetails.SectionDatesLabel</span>
                </div>
                <div class="layout-table-cell">
                    <span id="sectiondetails-datesvalue" class="details-value" data-bind="text: Dates"></span>
                </div>
            </div>
            <div class="layout-table-row" data-bind="visible: (Capacity() !== null && Available() === 0) || (WaitlistAvailable() === true && Waitlisted() > 0 && canSkipWaitlist() === false)">
                <div class="layout-table-cell"></div>
                 <div class="layout-table-cell">
                    <message params="isVisible: WaitlistAvailable(), type: 'error', message: Ellucian.Course.SectionCourseCommonDetails.SectionFullWaitlistWarning"></message>
                     <message params="isVisible: !WaitlistAvailable(), type: 'error', message: Ellucian.Course.SectionCourseCommonDetails.SectionFullWarning"></message>
                </div>
            </div>
            <div class="layout-table-row">
                <div class="layout-table-cell">
                    <span class="bold">@Resources.Courses.InlineSectionDetailsSeatsLabel</span>
                </div>
                <div class="layout-table-cell">
                    <span class="details-value" data-bind="text: SeatlistString, visible: IsUnlimitedSeating() === false"></span><span class="details-value" data-bind="    visible: Capacity() === null">@Resources.Courses.UnlimitedSeatsText</span>
                </div>
            </div>
            <div class="layout-table-row" data-bind="visible: (Capacity() !== null && Available() === 0) || (WaitlistAvailable() === true && Waitlisted() > 0 && canSkipWaitlist() === false)">
                <div class="layout-table-cell">
                    <span class="bold">@Resources.Courses.InlineSectionDetailsWaitlistLabel</span>
                </div>
                <div class="layout-table-cell">
                    <span class="details-value" data-bind="text: Waitlisted()"></span>
                </div>
            </div>
            <div class="layout-table-row">
                <div class="layout-table-cell" style="width: 23%;">
                    <span id="section-credits-label" class="bold">@Resources.SectionCourseCommonDetails.SectionCreditsLabel</span>
                </div>
                <div class="layout-table-cell">
                    <div id="sectiondetails-credits" class="details-value">
                        <div id="sectiondetails-creditsstatic" data-bind="text: CreditsStatic, visible: IsStaticCredits() === true">
                        </div>
                        <select id="sectiondetails-selectvarcredit" class="esg-form__input esg-form__input--inline" onkeydown="return checkForSectionAddEnter(event)" aria-labelledby="section-credits-label"
                                data-bind="options: CreditsVariableIncrements, visible: IsDropDownCredits() === true, enable: AllowAdding"></select>
                        <input type="text" id="sectiondetails-freeformcredits" size="8" class="details-freeformcredits" aria-labelledby="section-credits-label"
                               onkeydown="return checkForSectionAddEnter(event)" data-bind="visible: IsFreeFormCredits() === true, value: FreeFormCreditsValue(), enable: AllowAdding" />
                        <div id="sectiondetails-freeformcreditshelp" class="details-varcreditshelp" data-bind="text: CreditsLabel">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layout-table-row">
                <div class="layout-table-cell" style="width: 23%;">
                    <span id="section-grading-label" class="bold">@Resources.SectionCourseCommonDetails.SectionGradingLabel</span>
                </div>
                <div class="layout-table-cell">
                    <div id="sectiondetails-grading" class="details-value">
                        <select id="sectiondetails-selectgrading" class="esg-form__input esg-form__input--inline" onkeydown="return checkForSectionAddEnter(event)" aria-labelledby="section-grading-label"
                                data-bind="options: GradingOptions, value:gradingSelected, optionsText:'Description', optionsValue:'Code', visible: !IsStaticGrading() && GradingOptions().length > 1"></select>
                        <span class="sectiondetails-grading-options-message" data-bind="visible: GradingOptionsMatch() === false">@Resources.SectionCourseCommonDetails.SectionGradingOptionsMatch</span>
                        <span class="sectiondetails-grading-options-message" data-bind="visible: GradingOptions().length == 0">@Resources.SectionCourseCommonDetails.SectionNoGradingOptions</span>
                        <span id="sectiondetails-gradingstatic" data-bind="text: gradingStaticValue, visible: IsStaticGrading() || GradingOptions().length == 1"></span>
                    </div>
                </div>
            </div>
            <div class="layout-table-row">
                <div class="layout-table-cell">
                    <span class="bold">@Resources.SectionCourseCommonDetails.SectionRequisitesLabel</span>
                </div>
                <div class="layout-table-cell">
                    <div class="details-value" data-bind="foreach: Requisites">
                        <!-- ko if: $data.IsRequired === true -->
                        <span class='requisite-required' data-bind="text: $data.DisplayText + '   ' + $data.DisplayTextExtension"></span>
                        <!-- /ko -->
                        <!-- ko if: $data.IsRequired === false -->
                        <span class='requisite-recommended' data-bind="text: $data.DisplayText + ' ' + $data.DisplayTextExtension"></span>
                        <!-- /ko -->
                    </div>
                    <span data-bind="visible: Requisites().length === 0" class="details-value">@Resources.Courses.NoneText</span>
                </div>
            </div>
            <div class="layout-table-row">
                <div class="layout-table-cell">
                    <span class="bold">@Resources.SectionCourseCommonDetails.CourseDescription</span>
                </div>
                <div class="layout-table-cell">
                    <div id="sectiondetails-description" data-bind="html: Description">
                    </div>
                </div>
            </div>
            <!-- ko  if: typeof Comments() !== 'undefined' && Comments().length > 0 -->
            <div class="layout-table-row">
                <div class="layout-table-cell">
                    <span class="bold">@Resources.SectionCourseCommonDetails.SectionCommentsLabel</span>
                </div>
                <div class="layout-table-cell">
                    <span class="details-value" data-bind="text: $data.Comments"></span>
                </div>
            </div>
            <!-- /ko -->
            <div class="layout-table-row" data-bind="visible:TopicCodeDescription()">
                <div class="layout-table-cell">
                    <span class="bold">@Resources.SectionCourseCommonDetails.SectionTopicLabel</span>
                </div>
                <div class="layout-table-cell">
                    <span class="details-value" data-bind="text:TopicCodeDescription()"></span>
                </div>
            </div>
            <div class="layout-table-row" data-bind="visible: BookstoreUrl() === null">
                <div class="layout-table-cell">
                    <span class="bold">@Resources.SectionCourseCommonDetails.SectionBooksTotalLabel</span>
                </div>
                <div class="layout-table-cell">
                    <span class="details-value" data-bind="text: BooksTotal"></span>
                </div>
            </div>
            <div class="layout-table-row" data-bind="visible: BookstoreUrl() !== null">
                <div class="layout-table-cell">
                    <span class="bold">@Resources.SectionCourseCommonDetails.SectionBookstoreLabel</span>
                </div>
                <div class="layout-table-cell">
                    <span class="details-value"><a aria-label="@Resources.SectionCourseCommonDetails.SectionBookstoreAria" data-bind="attr: { href: BookstoreUrl, target: '_blank' }, text: '@Resources.SectionCourseCommonDetails.SectionBookstoreUrl    ', visible: !isNullOrEmpty(BookstoreUrl)"></a></span>
                </div>
            </div>
            <!-- ko if: typeof TransferStatusDescription() !== 'undefined' && TransferStatusDescription().length > 0 -->
            <div class="layout-table-row">
                <div class="layout-table-cell">
                    <span class="bold">@Resources.SectionCourseCommonDetails.SectionTransferStatusLabel</span>
                </div>
                <div class="layout-table-cell">
                    <span class="details-value" data-bind="text: $data.TransferStatusDescription"></span>
                </div>
            </div>
            <!-- /ko -->
        </div>
    </div>
</modal-dialog>
