﻿<div class="available-sections section-contents" data-bind="event: {'accordionchangestart': bindSections }, jqAccordion: $root.ResultsOptions, attr: {'aria-label': '@Resources.CourseSearchResult.ViewSectionsHeader ' + $data.SubjectCode() + '@Resources.Courses.CourseDelimiter' + $data.Number()}">
    <h3 class="section-header">
        <a href="#" data-bind="text: '@Resources.CourseSearchResult.ViewSectionsHeader ' + $data.SubjectCode() + '@Resources.Courses.CourseDelimiter' + $data.Number()"></a>
    </h3>
    <div class="sections-accordion-level0">
        <!-- Spinner for section loading -->
        <spinner id="spinner" params="isVisible: isLoading(), message: Ellucian.Course.SearchResult.stringCourseSearchResultLoadingSectionsText"></spinner>
        <!-- * Each Section * -->
        <!-- ko with: TermsAndSections -->
        <div data-bind="visible: $data.length == 0">@Resources.CourseSearchResult.NoSectionsMatchFilters</div>
        <!-- /ko -->
        <div data-bind="foreach: TermsAndSections">
            <h4 class="search-termtitle" data-bind="text: $data.Term.Description()"></h4>
            <ul data-bind="foreach: Sections">
                <li class="search-nestedaccordionitem">
                    <table class="search-sectiontable">
                        <caption class="search-sectionnamerow">
                            <a href="#" class="search-sectiondetailslink" data-bind="text: $data.Section.Title() + ' ' + $data.Section.Number(), click: function(data, event) { showSectionDetails({ course: $parents[1].Course, section: $data.Section, allowAdding: false, addTerms: null, addCallback: null, creditsOverride: null, studentId:null, canSkipWaitlist: false })}, attr: { 'aria-label': '@Resources.CourseSearchResult.SectionDetailsPrefix' + $parent.Term.Description() + ' '}" title="@Resources.Courses.SectionDetailsTitle"></a>

                            @if (ViewBag.IsWithDegreePlan == null || Convert.ToBoolean(ViewBag.IsWithDegreePlan.ToString().ToLower()) == true)
                            {
                                <input type="button" class="esg-button esg-button--primary esg-button--small search-addcourseterm form float-right" data-bind="click: function(data, event) { $parents[2].showAddCourseDialog($parents[1].Course, $data.Section, $parent, $root.DegreePlan().PersonId(), false )}, clickBubble: false, attr: { 'value': $root.addSectionButtonLabel, 'aria-label': '@Resources.CourseSearchResult.AddSectionLabelPrefix    ' + $data.Section.Title() + ' ' + $data.Section.Number() + ' ' + $parent.Term.Description() + '@Resources.CourseSearchResult.AddSectionLabelSuffix    ' }, visible: $parents[2].canEdit(), disabled: typeof catalogResultViewModelInstance.DegreePlan() != 'undefined'" />
                            }
                            <div class="search-sectionnontermrow" data-bind="visible: $data.Section.IsNonTermOffering() || $data.Section.IsNonStandardDates()">
                                <span data-bind="visible: $data.Section.IsNonTermOffering()">@Resources.Courses.SectionNonTermLabel</span>
                                <span data-bind="visible: $data.Section.IsNonTermOffering(), text: ' ' + $data.Section.StartDateDisplay() + ' @Resources.CourseSearchResult.TimesDatesDelimiter ' + $data.Section.EndDateDisplay()"></span>
                                <span data-bind="visible: !$data.Section.IsNonTermOffering() && $data.Section.IsNonStandardDates(), text: '@Resources.Courses.SectionRunsFromLabel ' + $data.Section.StartDateDisplay() + ' @Resources.CourseSearchResult.TimesDatesDelimiter ' + $data.Section.EndDateDisplay()"></span>
                            </div>
                        </caption>
                        <thead>
                            <tr>
                                <!-- ko if: $data.Section.ShowWaitlistInfo() === true -->
                                    <th class="search-sectiondetailsheader">
                                        @Resources.Courses.InlineSectionDetailsWaitlistLabel
                                    </th>
                                <!-- /ko -->
                                <!-- ko if: $data.Section.ShowWaitlistInfo() === false -->
                                    <th class="search-sectiondetailsheader">
                                        @Resources.Courses.InlineSectionDetailsSeatsLabelShort
                                    </th>
                                <!-- /ko -->

                                <th class="search-sectiondetailsheader">
                                    @Resources.Courses.SectionDetailsTimesLabel
                                </th>
                                <th class="search-sectiondetailsheader">
                                    @Resources.Courses.SectionDetailsLocationsLabel
                                </th>
                                <th class="search-sectiondetailsheader">
                                    @Resources.Courses.SectionDetailsInstructorsLabel
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- ko foreach: $data.Section.FormattedMeetingTimes() -->
                            <tr class="search-sectionrow">

                                     <!-- ko if: $index() == 0 -->
                                <!-- Show seat count or waitlist count depending on if there is a waitlist -->
                                <td class="search-seatscell" align="center" data-bind="attr: {'class': $data.getSeatsClass, 'rowspan': $parent.Section.FormattedMeetingTimes().length}">
                                        <!-- ko if: $parent.Section.ShowWaitlistInfo() === false -->
                                        <span class="search-seatsavailabletext" data-bind="visible: $parent.Section.Available() !== null && $parent.Section.Capacity() !== null, text: $parent.Section.Available()"></span><span class="search-seatsavailabletext" data-bind="visible: $parent.Section.Capacity() === null">@Resources.Courses.UnlimitedSeatsText</span>
                                        <!-- /ko -->
                                        <!-- ko if: $parent.Section.ShowWaitlistInfo() === true -->
                                        <span class="search-seatsavailabletext" data-bind="text: $parent.Section.Waitlisted()"></span>
                                        <!-- /ko -->
                                    </td>
                                <!-- /ko -->
                                <td class="search-sectiondaystime">
                                    <div>
                                        <span class="search-meetingtimestext" data-bind="text: $data.DaysOfWeekDisplay() + ' '"></span><span class="search-meetingtimestext" data-bind="text: $data.StartTimeDisplay()"></span><span class="search-meetingtimestext" data-bind="visible: (!isNullOrEmpty($data.StartTimeDisplay()) && !isNullOrEmpty($data.EndTimeDisplay()))">
                                            @Resources.CourseSearchResult.TimesDatesDelimiter
                                        </span>
                                        <span class="search-meetingtimestext"
                                              data-bind="text: $data.EndTimeDisplay"></span>
                                        <span class="search-meetingtimestext"
                                              data-bind="visible: isNullOrEmpty($data.EndTimeDisplay()) && isNullOrEmpty($data.StartTimeDisplay()) && !($data.IsOnline())">@Resources.Courses.ToBeDeterminedText</span>
                                        </div>
                                        <div>
                                            <span class="search-meetingtimestext" data-bind="text: $data.DatesDisplay()"></span>
                                        </div>
                                    </td>
                                    <td class="search-sectionlocations">
                                        <div>
                                            <span class="search-meetingtimestext" data-bind="text: $parent.Section.LocationDisplay(), visible: !isNullOrEmpty($parent.Section.LocationDisplay())"></span><span class="search-meetingtimestext" data-bind="text: ', ', visible: !isNullOrEmpty($parent.Section.LocationDisplay()) && (!isNullOrEmpty($data.BuildingDisplay()) || !isNullOrEmpty($data.RoomDisplay()))"></span><span class="search-meetingtimestext" data-bind="text: $data.BuildingDisplay(), visible: !isNullOrEmpty($data.BuildingDisplay())"></span><span class="search-meetingtimestext" data-bind="text: ' ' + $data.RoomDisplay(), visible: !isNullOrEmpty($data.RoomDisplay())"></span><span class="search-meetingtimestext" data-bind="visible: isNullOrEmpty($data.RoomDisplay()) && isNullOrEmpty($data.BuildingDisplay()) && isNullOrEmpty($parent.Section.LocationDisplay()) && !($data.IsOnline())">@Resources.Courses.ToBeDeterminedText</span>
                                        </div>
                                        <div>
                                            <span class="search-meetingtimestext" data-bind="text: $data.InstructionalMethodDisplay()"></span>
                                        </div>
                                    </td>
                                    <td class="search-sectioninstructors">
                                        <div>
                                            <span class="search-meetingtimestext" data-bind="text: $parent.FacultyDisplay(), visible: $parent.Instructors().length > 0 && $index() == 0"></span><span class="search-meetingtimestext" data-bind="visible: $parent.Instructors().length === 0">@Resources.Courses.ToBeDeterminedText</span>
                                        </div>
                                    </td>

                                </tr>
                                <!-- /ko -->
                                <tr class="search-sectionrow" data-bind="visible: $data.Section.FormattedMeetingTimes().length === 0 || $data.Section.FormattedMeetingTimes() === null">
                                    <td class="search-seatscell" align="center" data-bind="attr: {'class': $data.getSeatsClass, 'rowspan':'1'}">
                                        <!-- ko if: $data.Section.WaitlistAvailable() === false || $data.Section.Capacity() === null || $data.Section.Available() === null || $data.Section.Available() > 0 -->
                                        <span class="search-seatsavailabletext" data-bind="visible: $data.Section.Available() !== null && $data.Section.Capacity() !== null, text: $data.Section.Available()"></span><span class="search-seatsavailabletext" data-bind="visible: $data.Section.Capacity() === null">@Resources.Courses.UnlimitedSeatsText</span>
                                        <!-- /ko -->
                                        <!-- ko if: $data.Section.WaitlistAvailable() === true && $data.Section.Available() !== null && $data.Section.Capacity() !== null && $data.Section.Available() === 0 -->
                                        <span class="search-seatsavailabletext" data-bind="text: $data.Section.Waitlisted()"></span>
                                        <!-- /ko -->
                                    </td>
                                    <td colspan="3">
                                        @Resources.CourseSearchResult.MeetingTimesTBDText
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </li>
                </ul>
            </div>
        </div>
    </div>
