﻿<!--/* Copyright 2016-2017 Ellucian Company L.P. and its affiliates. */-->

<div class="section-contents primary-contents" data-bind="visible: Timecards().length > 0, let: { detailTable: $data }">

    <div data-bind="foreach: { data: detailTable.Timecards, as: 'timecard'} ">

        <collapsible-group params="
            titleText: detailTable.timecardHeaderTitle(timecard),
            subtitleText: timecard.SubtitleText(),
            isOpen: $index === 0,
            tertiaryContent: { nodes: detailTable.headerComponentMarkup } ">

            <div data-bind="attr: { id: 'timecard-body' + $index(), tabindex: $parent.collapsibleClass() === 'esg-is-open' ? 0 : -1 }" role="tabpanel">
                <table class="esg-table esg-table--table-layout-fixed" data-bind="visible: !$root.isMobile()">
                    <thead>
                        <tr>
                            <th>
                                <span data-bind="resx: 'TimeApproval.EarningsTypeLabel'"></span>
                            </th>
                            <!-- ko foreach: { data: detailTable.daysInWeek, as: 'dayOfWeek' }-->
                            <th class="text-align-right" data-bind="css:{'disabled': detailTable.isOutsideTimecardDates($index)}">
                                <span data-bind="text: Globalize.format(dayOfWeek, 'ddd')"></span>
                                <span data-bind="text: Globalize.format(dayOfWeek, 'M/d')"></span>
                            </th>
                            <!-- /ko -->
                            <th class="text-align-right">
                                <span data-bind="resx: 'TimeApproval.TimecardTotalColumnHeaderLabel'"></span>
                            </th>
                        </tr>
                    </thead>
                </table>

                <div data-bind="foreach: {data: timecard.WorkEntryList, as: 'workEntry'} ">
                    <table class="esg-table esg-table--table-layout-fixed">
                        <tbody>
                            <tr>
                                <td class="esg-table-body__td--vertical-align-top esg-table-body__td--white-space-normal">
                                    <label>
                                        <span data-bind="text: detailTable.workEntryDescription(timecard, workEntry)"></span>
                                    </label>
                                </td>

                                <!-- ko foreach: { data: DailyTimeEntryGroupList, as: 'dailyTimeEntryGroup'}-->
                                <td class="esg-table-body__td--vertical-align-top text-align-right" data-bind="css:{'disabled': detailTable.isOutsideTimecardDates($index)}">

                                    <!-- ko if: detailTable.dailyTimeEntryType(timecard).isDetail -->
                                    <div data-bind="foreach: {data: DailyTimeEntryList, as: 'dailyTimeEntry'}">
                                        <div class="clear-group daily-detail-time" data-bind="css:{'disabled': detailTable.formattedTimeStart(dailyTimeEntry).isMissing}">
                                            <div class="esg-form__group full-width">
                                                <span data-bind="text: detailTable.formattedTimeStart(dailyTimeEntry).formattedTime" />
                                            </div>

                                            <div class="esg-form__group full-width">
                                                <span data-bind="text: detailTable.formattedTimeEnd(dailyTimeEntry).formattedTime" />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /ko -->
                                    <!-- ko if: detailTable.dailyTimeEntryType(timecard).isSummary -->
                                    <div data-bind="foreach: {data: DailyTimeEntryList, as: 'dailyTimeEntry'}">
                                        <div class="esg-form__group full-width">
                                            <span data-bind="text: detailTable.dailyTimeHoursWorked(dailyTimeEntryGroup).toFixed(2)"></span>
                                        </div>
                                    </div>
                                    <!-- /ko -->
                                </td>
                                <!-- /ko -->

                                <td class="esg-table-body__td--vertical-align-top text-align-right">
                                    <span data-bind="text: detailTable.totalWorkEntryHours(workEntry).toFixed(2)" class="css-daily-time-entry-row__total"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <table class="esg-table esg-table--table-layout-fixed" data-bind="visible: !$root.isMobile()">
                    <tbody>
                        <tr>
                            <td class="esg-table-body__td--vertical-align-top esg-table-body__td--white-space-normal">
                                <label>
                                    <span data-bind="resx: 'TimeApproval.TimecardTotalRowLabel'"></span>
                                </label>
                            </td>
                            <!-- ko foreach: detailTable.daysInWeek-->
                            <td scope="row" class="text-align-right" data-bind="css:{'disabled': detailTable.isOutsideTimecardDates($index)}">
                                <span class="offScreen" data-bind="text: 'Position total hours worked on ' + $data"></span>
                                <span data-bind="text: detailTable.totalDayHours($index, timecard).toFixed(2)"></span>
                            </td>
                            <!-- /ko -->
                            <td class="text-align-right">
                                <span class="offScreen" data-bind="resx: 'TimeApproval.PositionTotalHoursForWeekLabel'"></span>
                                <span data-bind="text: detailTable.totalHours(timecard).toFixed(2)"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </collapsible-group>

    </div>
</div>

<!--Weekly totals -->

<section class="section-contents" data-bind="let: { detailTable: $data }">

    <collapsible-group params="
            titleText: detailTable.weeklyTotalTitle,
            isOpen: true">
        <table id="weekly-total-body" class="esg-table esg-table--table-layout-fixed esg-table--no-border">

            <tbody>
                <tr>
                    <td>
                        <span data-bind="resx: 'TimeApproval.TimecardCollectionDailyHoursFooterLabel'"></span>
                    </td>
                    <!-- ko foreach: detailTable.daysInWeek -->
                    <td class="text-align-right" data-bind="css:{'disabled': detailTable.isOutsideTimecardDates($index)}">
                        <span class="offScreen" data-bind="text: 'Total hours worked on ' + $data"></span>
                        <span data-bind="text: detailTable.totalDayHours($index).toFixed(2)"></span>
                    </td>
                    <!-- /ko -->
                    <td class="text-align-right">
                        <span class="offScreen" data-bind="text: 'TimeApproval.TotalHoursForWeekLabel'"></span>
                        <span data-bind="text: detailTable.totalHours().toFixed(2)"></span>
                    </td>
                </tr>
                <tr class="esg-table-body__row--border-top">
                    <td colspan="8">
                        <span data-bind="resx: 'TimeApproval.TimecardCollectionRegularWorkHoursFooterLabel'"></span>
                    </td>
                    <td class="text-align-right">
                        <span data-bind="text: detailTable.totalRegularWorkHours().toFixed(2)"></span>
                    </td>
                </tr>

                <tr class="esg-table-body__row--border-top">
                    <td colspan="8">
                        <span data-bind="resx: 'TimeApproval.TimecardCollectionOvertimeHoursFooterLabel'"></span>
                    </td>
                    <td class="text-align-right">
                        <span data-bind="text: detailTable.overtimeHours().toFixed(2)"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </collapsible-group>


</section>