﻿@import '_colors.scss';
@import '_variables.scss';

timecard-detail-table {
    td, th {
        width: 5.5rem;
    }

    .daily-detail-time {
        border-bottom: 1px solid $color-base-10;
    }

    .daily-detail-time:nth-child(n+2) {
        margin-top: 1rem;
    }

    .daily-detail-time.disabled {
        color: $color-base-45;
        font-family: $primary-font-stack-italic;
        font-style: italic;
    }
}
