﻿<!-- Copyright 2017 Ellucian Company L.P. and its affiliates. -->
<modal-dialog params="isVisible: $root.planAcknowledgementIsVisible, title: '@Resources.AccountActivityResources.PaymentPlanAcknowledgementDialogHeader', content: $data">
    <div id="planDetails" data-bind="with: $root.planAcknowledgement()">
        @Html.Partial(@"~\Areas\Finance\Views\Shared\_ProposedPaymentPlanDetails.cshtml")
    </div>
</modal-dialog>
