﻿<!-- Copyright 2015-2017 Ellucian Company L.P. and its affiliates. -->
<modal-dialog id="cash-receipt-dialog" params="title: '@Resources.AccountActivityResources.CashReceiptDialogTitleText', isVisible: receiptIsDisplayed, content: ReceiptData, buttons: [closeCashReceiptDialogButton, printCashReceiptButton], defaultCloseOff: true">
    <div class="dialog-wrapper">
        @Html.Partial("AcknowledgementPartial")
    </div>
</modal-dialog>
