﻿<!-- Copyright 2015 Ellucian Company L.P. and its affiliates. -->
<script type="text/html" id="category-template">
    <!-- ko if: $root.isMobile() -->
        <div class='formula-category' data-bind="attr: { id: CategoryType() + '-panel-control' }, panel: { contentId: CategoryType() + '-container', description: Description(), backLinkText: '@Resources.AccountActivityResources.PanelBackLinkText' },
         css: { 'formula-category-even' : '$index % 2 === 1', 'formula-category-odd': '$index % 2 === 0' }">
            <img class="category-icon" data-bind="attr: { src: imagePath(), alt: ImageAltText() }" />
        <h3 class="category-name" data-bind="text: Description()"></h3>
            <img class="prefix-icon" data-bind="attr: { src: prefixImagePath(), alt: PrefixImageAltText() }" />
        <h3 class="category-math">
                <span class="category-balance" data-bind="currency: Amount(), negativePattern: 1"></span>
        </h3>
        </div>
    <!-- /ko-->
    <!-- ko ifnot: $root.isMobile() -->
        <div class='formula-category' data-bind="attr: { id: CategoryType() + '-accordion' }, multiAccordion: { contentId: CategoryType() + '-container' },
            css: CategoryStyle()">
        <h3 class="category-name" data-bind="text: Description()"></h3>
        <h3 class="category-math">
                <span class="category-balance" data-bind="currency: Amount(), negativePattern: 1"></span>
        </h3>
        </div>
    <!-- /ko -->
    <!-- ko if: CategoryType() === 0 -->
        <div id="0-container" class="panel-content">
            @Html.Partial("ChargesCategoryPartial")
        </div>
    <!-- /ko -->
    <!-- ko if: CategoryType() === 1 -->
        <div data-bind="css: { 'multi-accordion-content': !$root.isMobile() }" id="1-container" class="panel-content">
            @Html.Partial("StudentPaymentsPartial")
        </div>
    <!-- /ko -->
    <!-- ko if: CategoryType() === 2 -->
        <div data-bind="css: { 'multi-accordion-content': !$root.isMobile() }" id="2-container" class="panel-content">
            @Html.Partial("FinancialAidCategoryPartial")
        </div>
    <!-- /ko -->
    <!-- ko if: CategoryType() === 3 -->
        <div data-bind="css: { 'multi-accordion-content': !$root.isMobile() }" id="3-container" class="panel-content">
            @Html.Partial("SponsorPaymentsPartial")
        </div>
    <!-- /ko -->
    <!-- ko if: CategoryType() === 4 -->
        <div data-bind="css: { 'multi-accordion-content': !$root.isMobile() }" id="4-container" class="panel-content">
            @Html.Partial("DepositCategoryPartial")
        </div>
    <!-- /ko -->
    <!-- ko if: CategoryType() === 9 -->
        <div data-bind="css: { 'multi-accordion-content': !$root.isMobile() }" id="9-container" class="panel-content">
            @Html.Partial("RefundCategoryPartial")
        </div>
    <!-- /ko -->
</script>
