﻿<!-- Copyright 2015 Ellucian Company L.P. and its affiliates. -->
<!-- ko if: $root.isMobile() -->
<div class='category-header'>
    <img class="category-icon" data-bind="attr: { src: imagePath(), alt: ImageAltText() }" />
    <h3 class="category-name" data-bind="text: Description()"></h3>
    <h3 class="category-math">
        <span class="category-balance" data-bind="currency: Amount(), negativePattern: 1"></span>
    </h3>
</div>
<!-- /ko -->
