﻿<!-- Copyright 2015 Ellucian Company L.P. and its affiliates. -->
@Html.Partial("CategoryHeaderPartial")
<div data-bind="foreach: Transactions()">
    <!-- ko if: IsVisible() -->
            <div>
                <div class='non-formula-category' data-bind="multiAccordion: { contentId: Id() }">
            <h3 class="category-name" data-bind="text: Description()"></h3>
            <h3 class="category-math">
                        <span class="category-balance" data-bind="currency: Amount(), negativePattern: 1"></span>
            </h3>
                </div>
        <!-- ko if: ChargeType() === 0-->
                <div class="multi-accordion-content scrolling-table-wrapper" data-bind="attr: { id: Id() }">
                    @Html.Partial("TuitionByTotalTypePartial")
                </div>
        <!-- /ko -->
        <!-- ko if: ChargeType() === 1-->
                <div class="multi-accordion-content scrolling-table-wrapper" data-bind="attr: { id: Id() }">
                    @Html.Partial("TuitionBySectionTypePartial")
                </div>
        <!-- /ko -->
        <!-- ko if: ChargeType() === 2-->
                <div class="multi-accordion-content" data-bind="attr: { id: Id() }">
                    @Html.Partial("FeeTypePartial")
                </div>
        <!-- /ko -->
        <!-- ko if: ChargeType() === 3-->
                <div class="multi-accordion-content" data-bind="attr: { id: Id() }">
                    @Html.Partial("RoomAndBoardTypePartial")
                </div>
        <!-- /ko -->
        <!-- ko if: ChargeType() === 4-->
                <div class="multi-accordion-content" data-bind="attr: { id: Id() }">
                    @Html.Partial("OtherTypePartial")
                </div>
        <!-- /ko -->
        <!-- ko if: ChargeType() === 9-->
                <div class="multi-accordion-content" data-bind="attr: { id: Id() }">
                    @Html.Partial("OtherTypePartial")
                </div>
        <!-- /ko -->
    </div>
    <!-- /ko -->
</div>
