﻿<!-- Copyright 2015 Ellucian Company L.P. and its affiliates. -->
<!-- ko if: $root.isMobile() -->
<div class='category-header'>
    <span class="category-name" data-bind="text: Description()"></span>
</div>
<!-- /ko -->
<div class="panel-main-content scrolling-table-wrapper">
    <table id="deposits-due" class="scrolling-table">
        <thead>
            <tr>
                <th class="colId">@Resources.FinanceResources.DepositsDueLabel</th>
                <th class="colType">@Resources.FinanceResources.TypeLabel</th>
                <th class="colDate">@Resources.FinanceResources.DueDateLabel</th>
                <!-- ko ifnot: $root.IsTermDisplay() -->
                <th class="colTerm">@Resources.FinanceResources.TermLabel</th>
                <!-- /ko -->
                <th class="colAmount">@Resources.FinanceResources.DepositAmountLabel</th>
                <th class="colAmount">@Resources.FinanceResources.TotalPaidLabel</th>
                <th class="colAmount">@Resources.FinanceResources.BalanceDueLabel</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: Transactions()">
            <tr>
                <td class="colId" data-bind="text: Id()"></td>
                <td class="colType" data-bind="text: TypeDescription()"></td>
                <td class="colDate" data-bind="date: DueDate()"></td>
                <!-- ko ifnot: $root.IsTermDisplay() -->
                <td class="colTerm" data-bind="text: TermDescription()"></td>
                <!-- /ko -->
                <td class="colAmount" data-bind="currency: OriginalAmount(), negativePattern: 1"></td>
                <td class="colAmount" data-bind="currency: PaidAmount(), negativePattern: 1"></td>
                <td class="colAmount" data-bind="currency: Amount(), negativePattern: 1"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="suppress-on-mobile">@Resources.FinanceResources.TotalLabel</td>
                <!-- ko ifnot: $root.IsTermDisplay() -->
                <td class="suppress-on-mobile"></td>
                <!-- /ko -->
                <td class="colAmount" data-role="@Resources.AccountActivityResources.DepositsDueTotalDueLabel" data-bind="currency: totalOriginalAmount(), negativePattern: 1"></td>
                <td class="colAmount" data-role="@Resources.AccountActivityResources.DepositsDueTotalPaidLabel" data-bind="currency: totalPaidAmount(), negativePattern: 1"></td>
                <td class="colAmount" data-role="@Resources.AccountActivityResources.DepositsDueTotalBalanceLabel" data-bind="currency: totalNetAmount(), negativePattern: 1"></td>
            </tr>
        </tfoot>
    </table>
</div>