﻿<!-- Copyright 2015 Ellucian Company L.P. and its affiliates. -->
@Html.Partial("CategoryHeaderPartial")
<div class="panel-main-content scrolling-table-wrapper">
    <table id="deposits" class="scrolling-table">
        <caption>@Resources.AccountActivityResources.ClickDepositIdMessage</caption>
        <thead>
            <tr>
                <th>@Resources.FinanceResources.DepositLabel</th>
                <th class="colType">@Resources.FinanceResources.TypeLabel</th>
                <th class="colDate">@Resources.FinanceResources.DateLabel</th>
                <!-- ko ifnot: $root.IsTermDisplay() -->
                <th class="colTerm">@Resources.FinanceResources.TermLabel</th>
                <!-- /ko -->
                <th class="colAmount">@Resources.AccountActivityResources.DepositAmountLabel</th>
                <th class="colAmount">@Resources.FinanceResources.AppliedAmountLabel</th>
                <th class="colAmount">@Resources.FinanceResources.OtherAmountsLabel</th>
                <th class="colAmount">@Resources.FinanceResources.RefundAmountLabel</th>
                <th class="colAmount">@Resources.FinanceResources.RemainingAmountLabel</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: Transactions()">
            <tr>
                <td>
                    <a href="#" data-bind="text: Id(), click: $root.displayReceipt"></a>
                </td>
                <td data-bind="text: TypeDescription()"></td>
                <td class="colDate" data-bind="date: Date()"></td>
                <!-- ko ifnot: $root.IsTermDisplay() -->
                <td class="colTerm" data-bind="text: TermDescription()"></td>
                <!-- /ko -->
                <td class="colAmount" data-bind="currency: DepositAmount(), negativePattern: 1"></td>
                <td class="colAmount" data-bind="currency: AppliedAmount(), negativePattern: 1"></td>
                <td class="colAmount" data-bind="currency: OtherAmount(), negativePattern: 1"></td>
                <td class="colAmount" data-bind="currency: RefundAmount(), negativePattern: 1"></td>
                <td class="colAmount" data-bind="currency: NetAmount(), negativePattern: 1"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td class="suppress-on-mobile" colspan="2">@Resources.FinanceResources.TotalLabel</td>
                <!-- ko ifnot: $root.IsTermDisplay() -->
                <td class="suppress-on-mobile"></td>
                <!-- /ko -->
                <td class="suppress-on-mobile"></td>
                <td class="colAmount" data-role="@Resources.AccountActivityResources.DepositsTotalAmountLabel" data-bind="currency: totalDepositAmount(), negativePattern: 1"></td>
                <td class="colAmount" data-role="@Resources.AccountActivityResources.DepositsTotalAppliedLabel" data-bind="currency: totalAppliedAmount(), negativePattern: 1"></td>
                <td class="colAmount" data-role="@Resources.AccountActivityResources.DepositsTotalOtherLabel" data-bind="currency: totalOtherAmount(), negativePattern: 1"></td>
                <td class="colAmount" data-role="@Resources.AccountActivityResources.DepositsTotalRefundsLabel" data-bind="currency: totalRefundAmount(), negativePattern: 1"></td>
                <td class="colAmount" data-role="@Resources.AccountActivityResources.DepositsTotalRemainingLabel" data-bind="currency: totalNetAmount(), negativePattern: 1"></td>
            </tr>
        </tfoot>
    </table>
</div>