﻿<!-- Copyright 2015 Ellucian Company L.P. and its affiliates. -->
<table data-bind="attr: { id: Id() + '-table' }">
    <thead>
        <tr>
            <th class="colDescription" data-bind="text: '@Resources.FinanceResources.DescriptionLabel    '"></th>
            <!-- ko ifnot: $root.IsTermDisplay() -->
            <th class="colTerm" data-bind="text: '@Resources.FinanceResources.TermLabel    '"></th>
            <!-- /ko -->
            <th class="colAmount" data-bind="text: '@Resources.FinanceResources.AmountLabel    '"></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: ChargeDetails()">
        <tr>                    
            <td class="colDescription" data-bind="text: Description()"></td>
            <!-- ko ifnot: $root.IsTermDisplay() -->
            <td class="colTerm" data-bind="text: TermDescription()"></td>
            <!-- /ko -->
            <td class="colAmount" data-bind="currency: Amount(), negativePattern: 1"></td>
        </tr>
    </tbody>
</table>
