﻿<!-- Copyright 2015 Ellucian Company L.P. and its affiliates. -->
@Html.Partial("CategoryHeaderPartial")
<div class="panel-main-content scrolling-table-wrapper">
    <table id="financial-aid-payments" class="scrolling-table">
        <thead>
            <tr>
                <th class="colAward">@Resources.AccountActivityResources.FinancialAidAwardLabel</th>
                <th class="colAmount">@Resources.AccountActivityResources.FinancialAidAwardedLabel</th>
                <th class="colTerm">@Resources.FinanceResources.TermLabel</th>
                <th class="colAmount">@Resources.AccountActivityResources.FinancialAidDisbursedLabel</th>
                <th class="colAmount">@Resources.AccountActivityResources.FinancialAidAnticipatedLabel</th>
                <th class="colAmount">@Resources.AccountActivityResources.FinancialAidOtherTermsLabel</th>
                <th class="colAmount">@Resources.AccountActivityResources.FinancialAidLoanFeeLabel</th>
                <th class="colAmount">@Resources.AccountActivityResources.FinancialAidCurrentlyIneligibleLabel</th>
                <th class="colComment">@Resources.AccountActivityResources.FinancialAidCommentLabel</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: Transactions()">
            <tr>
                <td class="colAward" data-bind="text: Description()"></td>
                <td class="colAmount" data-bind="currency: AwardAmount(), negativePattern: 1"></td>
                <td data-bind="foreach: AwardTerms()">
                    <div data-bind="text: TermDescription()"></div>
                </td>
                <td data-bind="foreach: AwardTerms()">
                    <div class="colAmount" data-bind="visible: DisbursementAmount(), currency: DisbursementAmount(), negativePattern: 1"></div>
                    <div data-bind="visible: !DisbursementAmount()">&nbsp;</div>
                </td>
                <td data-bind="foreach: AwardTerms()">
                    <div class="colAmount" data-bind="visible: AnticipatedAmount(), currency: AnticipatedAmount(), negativePattern: 1"></div>
                    <div data-bind="visible: !AnticipatedAmount()">&nbsp;</div>
                </td>
                <td class="colAmount" data-bind="currency: OtherAmount(), negativePattern: 1"></td>
                <td class="colAmount" data-bind="currency: LoanFeeAmount(), negativePattern: 1"></td>
                <td class="colAmount" data-bind="currency: IneligibleAmount(), negativePattern: 1"></td>
                <td class="colComment" data-bind="text: Comment()"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td class="colAward suppress-on-mobile" colspan="3">@Resources.FinanceResources.TotalLabel</td>
                <td class="colAmount" data-role="@Resources.AccountActivityResources.FinancialAidTotalDisbursedLabel" data-bind="currency: totalDisbursedAmount(), negativePattern: 1"></td>
                <td class="colAmount" data-role="@Resources.AccountActivityResources.FinancialAidTotalAnticipatedLabel" data-bind="currency: totalAnticipatedAmount(), negativePattern: 1"></td>
                <td class="suppress-on-mobile" colspan="4"></td>
            </tr>
        </tfoot>
    </table>
</div>
