﻿<!-- Copyright 2015 Ellucian Company L.P. and its affiliates. -->

<div id="AccountActivityIconsWrapper">
    <div data-bind="foreach: FormulaCategories()">
        <!-- ko if: IsVisible() -->
        <!-- ko if: CategoryType() !== 0 -->
        <div class="IconBarDivider">
            <div class="IconBarDescription">
                <div class="offScreen" data-bind="text: PrefixImageAltText(), attr: { id: Description() + PrefixImageAltText() }"></div>
                <img data-bind="attr: { src: prefixImagePath(), alt:'', 'aria-labelledby': Description() + PrefixImageAltText() }" />
            </div>
        </div>
        <!-- /ko -->
        <div class="IconBarContent" data-bind="click: $root.iconBarClickHandler">
            <img data-bind="attr: { src: imagePath(), alt: '' }" />
            <div class="IconBarDescription" data-bind="text: Description()"></div>
            <div class="IconBarAmount" data-bind="currency: Amount(), negativePattern: 1"></div>
        </div>
        <!-- /ko -->
    </div>
    <div class="IconBarDivider">
        <div class="IconBarDescription">
            <div class="offScreen" data-bind="text: '@Resources.FinanceResources.EqualsAltText', attr: { id: '@Resources.FinanceResources.EqualsAltText' }"></div>
            <img src="@Url.Content("~/Content/images/icon_equal_sign.png")" data-bind="attr: { alt:'', 'aria-labelledby': '@Resources.FinanceResources.EqualsAltText'} " />
        </div>
    </div>
    <div id="balanceIcon" class="IconBarContent" data-bind="click: clickHandler('#balance-container')">
        <img alt="" src="@Url.Content("~/Areas/Finance/Content/Images/Icon-Balance.png")" />
        <div class="IconBarDescription">@Resources.FinanceResources.BalanceLabel</div>
        <div class="IconBarAmount" data-bind="currency: Balance(), negativePattern: 1"></div>
    </div>
</div>