﻿<!-- Copyright 2015-2017 Ellucian Company L.P. and its affiliates. -->
@section scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/accountactivityscripts")
}

<div class="clear-group">
        @if (ViewBag.IsAdmin == null || !ViewBag.IsAdmin)
        {
        @Html.Partial("_PageHeader", new Ellucian.Web.Student.Models.PageHeaderModel(Resources.FinanceResources.AccountActivityTitle,
       Resources.AccountActivityResources.ViewDescription, null, null))
        }
        @if (ViewBag.IsAdmin != null && ViewBag.IsAdmin)
        {
        @Html.Partial("_PageHeader", new Ellucian.Web.Student.Models.PageHeaderModel(Resources.FinanceResources.AccountActivityTitle + Resources.FinanceResources.AdminPageTitle,
       Resources.AccountActivityResources.ViewDescriptionAdmin, null, null))
        }
    </div>
<div class="column-nine" style="display: none" data-bind="visible: true">
    <spinner params="isVisible: !showUI(), message: '@Resources.AccountActivityResources.SpinnerMessage'"></spinner>
    <section class="section-wrapper section-wrapper-top-border" data-bind="visible: showUI()">
        <div id="account-activity">
            @Html.Partial("_AdminHeaderPartial")
            <!-- ko ifnot: HasPrivacyRestriction() -->
            @Html.Partial("AlertMessagePartial")
            <!-- ko if: HasData() -->
            <div>
                <!-- Account Details -->
                <div id="account-activity-data" class="section-wrapper-top-border section-contents clear-group">

                    <!-- Dropdown, Timeframe Description, and Statement Link -->
                    <div id="account-activity-dropdown">
                        <div id="dropdown-container">
                            <label for="dropdown" data-bind="text: DropdownLabel()"></label>
                            <select id="dropdown" class="esg-form__input" data-bind="options: TermPeriodBalances(), optionsText: 'DisplayText', value: selectedTermPeriod, event: { change: getAccountActivity }, css: { 'esg-form__input--inline': !$root.isMobile() }"></select>
                        </div>
                        <!-- ko ifnot: isMobile() -->
                        <div id="view-statement-dropdown-container">
                            <a class="pdf-link" data-bind="attr: { href: viewStatementLink(), target: '_blank', title: '@Resources.AccountActivityResources.ViewStatementLinkLabel    ' }">@Resources.AccountActivityResources.ViewStatementLinkLabel <span class="offScreen">@Resources.AccountActivityResources.ViewStatementLinkLabelOffScreen</span></a>
                        </div>
                        <!-- /ko -->
                    </div>
                    <div class="clear-group">
                        <div id="account-activity-sub-header" class="section-header clear-group">
                            <span id="timeframe-description" data-bind="text: DisplayTermPeriodDescription()"></span>
                            <!-- ko if: isMobile() -->
                            <span id="view-statement-sub-header-container">
                                <a class="pdf-link" data-bind="attr: { href: viewStatementLink(), target: '_blank', title: '@Resources.AccountActivityResources.ViewStatementLinkLabel    ' }">@Resources.AccountActivityResources.ViewStatementLinkLabel</a>
                            </span>
                            <!-- /ko -->
                        </div>
                    </div>

                    <!-- Formula Bar -->
                    <div id="formula-bar-container" data-bind="ifnot: $root.isMobile()">
                        @Html.Partial("IconStripPartial")
                    </div>
                    <!-- Links and Controls -->
                    <div id="account-activity-controls">
                        <!-- Expand All / Collapse All Button -->
                        <span>
                            <input id="expand-collapse-button" role="alert" class="esg-button esg-button--secondary" type="button"
                                   data-bind="accordionMaster: { reset: selectedTermPeriod(), expandMessage: expandAllMessage(), collapseMessage: collapseAllMessage() }">
                        </span>
                        <!-- Show Deposits Due Link-->
                        <span data-bind="if: ShowDepositsDueLink(), click: depositDueClickHandler()" id="view-deposits-due">
                            <a href="#" data-bind="attr: { title: '@Resources.SiteResources.JumpToTitleText    ' + '@Resources.AccountActivityResources.DepositsDueLink    '}">
                                @Resources.AccountActivityResources.DepositsDueLink
                            </a>
                        </span>

                        <!-- Link Separator -->
                        <span data-bind="if: ShowDepositsDueLink() && ShowPaymentPlansLink()" id="link-separator">@Resources.SiteResources.LinkSeparator</span>

                        <!-- Show Payment Plans Link-->
                        <span data-bind="if: ShowPaymentPlansLink(), click: paymentPlansClickHandler()" id="view-payment-plans">
                            <a href="#" data-bind="attr: { title: '@Resources.SiteResources.JumpToTitleText    ' + '@Resources.AccountActivityResources.PaymentPlansLink    '}">
                                @Resources.AccountActivityResources.PaymentPlansLink
                            </a>
                        </span>
                    </div>

                    <!-- ko foreach: FormulaCategories() -->
                    <!-- ko if: IsVisible() -->
                    <div aria-live="polite" data-bind="template: { name: 'category-template', data: $data }"></div>
                    <!-- /ko -->
                    <!-- /ko -->
                    <!-- Balance -->
                    <div class="non-category bottom-line-container" id="balance-container">
                        <!-- ko if: $root.isMobile() -->
                        <img class="category-icon" data-bind="attr: { src: balanceImagePath(), alt: BalanceImageAltText() }" />
                        <!-- /ko -->
                        <!-- ko ifnot: $root.isMobile() -->
                        <span class="arrow arrow-down"></span>
                        <!-- /ko -->
                        <h3 class="category-name">@Resources.FinanceResources.BalanceLabel</h3>
                        <h3 class="category-math">
                            <span class="category-balance" data-bind="currency: Balance(), negativePattern: 1"></span>
                        </h3>
                        <!-- ko if: $root.isMobile() -->
                        <span class="arrow arrow-right"></span>
                        <!-- /ko -->
                    </div>

                    <!-- Disclaimer Text -->
                    <div class="non-category" id="disclaimer-container" data-bind="visible: DisclaimerText()">
                        <div id="disclaimer-text" data-bind="text: DisclaimerText()"></div>
                    </div>
                    <!-- ko foreach: NonFormulaCategories() -->
                    <!-- ko if: IsVisible() -->
                    <!-- ko if: CategoryType() === 'DepositDue' || CategoryType() === 11 -->
                    <!-- ko if: $root.isMobile() -->
                    <div class='non-formula-category' id="deposits-due" data-bind="panel: { contentId: 'deposits-due-container', description: Description(), backLinkText: '@Resources.AccountActivityResources.PanelBackLinkText' }">
                        <h3 class="category-name" data-bind="text: Description()"></h3>
                        <h3 class="category-math"></h3>
                    </div>
                    <!-- /ko -->
                    <!-- ko ifnot: $root.isMobile() -->
                    <div class='non-formula-category' id="deposits-due" data-bind="multiAccordion: { contentId: 'deposits-due-container' }">
                        <h3 class="category-name" data-bind="text: Description()"></h3>
                    </div>
                    <!-- /ko -->
                    <div data-bind="css: {'multi-accordion-content' : !$root.isMobile()}" id="deposits-due-container" class="panel-content">
                        @Html.Partial("DepositsDueCategoryPartial")
                    </div>
                    <!-- /ko -->
                    <!-- ko if: CategoryType() === 'PaymentPlan' || CategoryType() === 12 -->
                    <!-- ko if: $root.isMobile() -->
                    <div class='non-formula-category' id="payment-plans" data-bind="panel: { contentId: 'payment-plans-container', description: Description(), backLinkText: '@Resources.AccountActivityResources.PanelBackLinkText' }">
                        <h3 class="category-name" data-bind="text: Description()"></h3>
                        <h3 class="category-math"></h3>
                    </div>
                    <!-- /ko -->
                    <!-- ko ifnot: $root.isMobile() -->
                    <div class='non-formula-category' id="payment-plans" data-bind="multiAccordion: { contentId: 'payment-plans-container' }">
                        <h3 class="category-name" data-bind="text: Description()"></h3>
                    </div>
                    <!-- /ko -->
                    <div id="payment-plans-container" class="panel-content">
                        @Html.Partial("PaymentPlansPartial")
                    </div>
                    <!-- /ko -->
                    <!-- /ko -->
                    <!-- /ko -->
                    <!-- Receipt Modal Dialog -->
                    @Html.Partial("CashReceiptDialog")
                    <!-- End Receipt Modal Dialog -->
                    <!-- Top of Page Link -->
                    @Html.Partial("TopOfPagePartial")
                    <!-- End Top of Page Link -->
                    <!-- Loading throbber -->
                    @Html.Partial("ActionThrobberPartial")
                    <!-- End Loading Throbber -->
                    <!-- Receipt Loading throbber -->
                    <modal-spinner id="receipt-loading" params="isVisible: receiptIsLoading, message: receiptThrobberMessage"></modal-spinner>
                    <!-- End Loading Throbber -->

                </div>
            </div>
            <!-- /ko -->
                <!-- No Data Message -->
                @Html.Partial("NoDataPartial")
                <!-- /ko -->
            <!-- /ko -->
        </div>
    </section>
</div>

<!-- Template for formula sections -->
@Html.Partial("CategoryTemplatePartial")

