﻿<!-- Copyright 2015 Ellucian Company L.P. and its affiliates. -->
<!-- ko if: $root.isMobile() -->
<div class='category-header'>
    <span class="category-name" data-bind="text: Description()"></span>
</div>
<!-- /ko -->
<!-- ko ifnot: $root.isMobile() -->
<div class="plan-accordion" id="plan-category-sub-header">
    <span class="arrow arrow-down"></span>
    <span class="colId category-name">@Resources.FinanceResources.PlanIdentifierLabel</span>
    <span class="colType">@Resources.AccountActivityResources.PayPlanInfoPlanTypeLabel</span>
    <!-- ko ifnot: $root.IsTermDisplay() -->
    <span class="colTerm">@Resources.FinanceResources.TermLabel</span>
    <!-- /ko -->
    <span class="colAmount" data-bind="style: { 'width': $root.IsTermDisplay() ? '23%' : '16.5%' }">@Resources.AccountActivityResources.PayPlanInfoPlanOrigAmountLabel</span>
    <span class="colAmount" data-bind="style: { 'width': $root.IsTermDisplay() ? '23%' : '16.5%' }">@Resources.AccountActivityResources.PayPlanInfoPlanCurBalanceLabel</span>
    <span class="colAmount" data-bind="style: { 'width': $root.IsTermDisplay() ? '23%' : '16.5%' }">@Resources.AccountActivityResources.PayPlanInfoPlanCurAmountDueLabel</span>
</div>
<!-- /ko -->
<div data-bind="foreach: Transactions()">
    <div>
        <!-- ko if: $root.isMobile() -->
        <div class='formula-category' data-bind="attr: { id: Id() + '-accordion' }, panel: {
    contentId: Id() + '-plan-container', parentId: 'payment-plans-container', description: 'Payment Plan ' + Id(), backLinkText: '@Resources.AccountActivityResources.PaymentPlanPanelBackLinkText' }">
            <h3 class="category-name" data-bind="text: Id()"></h3>
            <h3 class="category-math">
                <span class="category-balance" data-bind="currency: Amount(), negativePattern: 1"></span>
            </h3>
        </div>
        <!-- /ko -->
        <!-- ko ifnot: $root.isMobile() -->
        <div class='plan-accordion' data-bind="attr: { id: Id() + '-accordion' }, multiAccordion: { contentId: Id() + '-plan-container' }">
            <span class="colId category-name" data-bind="text: Id()"></span>
            <span class="colType" data-bind="text: TypeDescription()"></span>
            <!-- ko ifnot: $root.IsTermDisplay() -->
            <span class="colTerm" data-bind="text: TermDescription()"></span>
            <!-- /ko -->
            <span class="colAmount" data-bind="style: { 'width': $root.IsTermDisplay() ? '23%' : '16.5%' }, currency: OriginalAmount(), negativePattern: 1 "></span>
            <span class="colAmount" data-bind="style: { 'width': $root.IsTermDisplay() ? '23%' : '16.5%' }, currency: CurrentBalance(), negativePattern: 1 "></span>
            <span class="colAmount" data-bind="style: { 'width': $root.IsTermDisplay() ? '23%' : '16.5%' }, currency: AmountDue(), negativePattern: 1"></span>
        </div>
        <!-- /ko -->
        <div class="multi-accordion-content" data-bind="attr: { id: Id() + '-plan-container' }, style: { 'z-index': 10000 } ">
            @Html.Partial("PaymentPlanSchedulesPartial")
        </div>
    </div>
</div>
