﻿<!-- Copyright 2015-2017 Ellucian Company L.P. and its affiliates. -->
<!-- ko if: $root.isMobile() -->
<table class='plan-details-header'>
    <tbody>
        <tr>
            <td class="plan-summary" data-bind="text: $root.IsTermDisplay() ? null : TermDescription(), attr: { 'data-role': '@Resources.FinanceResources.PlanIdentifierLabel    ' + ' ' + Id()}"></td>
            <td class="plan-description" data-bind="attr: { 'data-role': TypeDescription() }"></td>
            <td class="plan-amount" data-role="@Resources.AccountActivityResources.PayPlanInfoPlanOrigAmountLabel" data-bind="currency: OriginalAmount(), negativePattern: 1"></td>
            <td class="plan-amount" data-role="@Resources.AccountActivityResources.PayPlanInfoPlanCurBalanceLabel" data-bind="currency: CurrentBalance(), negativePattern: 1"></td>
            <td class="plan-amount" data-role="@Resources.AccountActivityResources.PayPlanInfoPlanCurAmountDueLabel" data-bind="currency: AmountDue(), negativePattern: 1"></td>
        </tr>
    </tbody>
</table>
<!-- /ko -->
<div class="scrolling-table-wrapper">
    <table id="payment-plan-schedule" class="scrolling-table">
        <caption>
            <span class="esg-table--caption__planschedule" data-bind="text: '@Resources.AccountActivityResources.PaymentPlanScheduleSubHeader' + Id()"></span>
            <icon params="isVisible: PaymentPlanApproval(), icon: 'document', size: 'xsmall', color: 'neutral'"></icon>
            <a href="#" data-bind="visible: PaymentPlanApproval(), click: function(data, event) { $root.displayPlanAcknowledgement(PaymentPlanApproval(), data, event) }">
                <span>@Resources.AccountActivityResources.ViewPaymentPlanDetailsButtonText</span>
                <span class="offScreen">ViewPaymentPlanDetailsButtonAriaText</span>
            </a>
        </caption>
    <thead>
        <tr>
            <th class="colDate">@Resources.FinanceResources.DueDateLabel</th>
            <th class="colAmount">@Resources.FinanceResources.AmountDueLabel</th>
            <th class="colAmount">@Resources.AccountActivityResources.PayPlanSchedSetupChargeLabel</th>
            <th class="colAmount">@Resources.FinanceResources.LateChargeLabel</th>
            <th class="colAmount">@Resources.FinanceResources.AmountPaidLabel</th>
            <th class="colAmount">@Resources.FinanceResources.NetAmountDueLabel</th>
            <th class="colDate">@Resources.FinanceResources.DatePaidLabel</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: Schedules()">
        <tr data-bind="css: { 'scheduled-payment-paid': Amount() <= 0, 'scheduled-payment-unpaid' : Amount() > 0 }">  
            <td class="colDate" data-bind="date: DueDate()"></td>
            <td class="colAmount" data-bind="currency: DueAmount(), negativePattern: 1"></td>
            <td class="colAmount" data-bind="currency: SetupAmount(), negativePattern: 1"></td>
            <td class="colAmount" data-bind="currency: LateAmount(), negativePattern: 1"></td>
            <td class="colAmount" data-bind="currency: PaidAmount(), negativePattern: 1"></td>
            <td class="colAmount" data-bind="currency: Amount(), negativePattern: 1"></td>
            <td class="colDate" data-bind="date: LastPaidDate(), negativePattern: 1"></td>
        </tr>
    </tbody>
</table>

<modal-spinner id="plan-acknowledgement-loading" params="isVisible: $root.planAcknowledgementIsLoading, message: $root.loadingPaymentPlanDetailsMessage"></modal-spinner>

<!-- Payment Plan Acknowledgement Modal Dialog -->
<div class="column-nine">
    @Html.Partial("_PaymentPlanAcknowledgementDialog")
</div>
<!-- End Payment Plan Acknowledgement Modal Dialog -->
</div>