﻿<!-- Copyright 2015 Ellucian Company L.P. and its affiliates. -->
@Html.Partial("CategoryHeaderPartial")
<div class="panel-main-content scrolling-table-wrapper">
    <table id="refunds" class="scrolling-table">
        <thead>
            <tr>
                <th class="colVoucher">@Resources.AccountActivityResources.RefundVoucherLabel</th>
                <th class="colDate">@Resources.FinanceResources.DateLabel</th>
                <!-- ko ifnot: $root.IsTermDisplay() -->
                <th class="colTerm">@Resources.FinanceResources.TermLabel</th>
                <!-- /ko -->
                <th class="colDescription">@Resources.FinanceResources.DescriptionLabel</th>
                <th class="colAmount">@Resources.FinanceResources.AmountLabel</th>
                <th class="colMethod">@Resources.FinanceResources.PayMethodLabel</th>
                <th class="colMethod">@Resources.FinanceResources.PaymentReferenceNumberLabel</th>
                <th class="colMethod">@Resources.FinanceResources.TransactionNumberLabel</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: Transactions()">
            <tr>
                <td data-bind="text: Id()"></td>
                <td class="colDate" data-bind="date: StatusDate()"></td>
                <!-- ko ifnot: $root.IsTermDisplay() -->
                <td class="colTerm" data-bind="text: TermDescription()"></td>
                <!-- /ko -->
                <td class="colDescription" data-bind="text: Description()"></td>
                <td class="colAmount" data-bind="currency: Amount(), negativePattern: 1"></td>
                <td class="colMethod" data-bind="text: DisbursementMethod()"></td>
                <td class="colMethod" data-bind="text: PaymentReferenceNumber()"></td>
                <td class="colMethod" data-bind="text: TransactionNumber()"></td>
            </tr>
        </tbody>
    </table>
</div>
