﻿<!-- Copyright 2015 Ellucian Company L.P. and its affiliates. -->
@Html.Partial("CategoryHeaderPartial")
<div class="panel-main-content">
    <table id="sponsorships">
        <thead>
            <tr>
                <th class="colSponsorship">@Resources.AccountActivityResources.SponsorshipSponsorshipIdLabel</th>
                <!-- ko ifnot: $root.IsTermDisplay() -->
                <th class="colTerm">@Resources.FinanceResources.TermLabel</th>
                <!-- /ko -->
                <th class="colSponsor">@Resources.AccountActivityResources.SponsorshipSponsorNameLabel</th>
                <th class="colAmount">@Resources.FinanceResources.AmountLabel</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: Transactions()">
            <tr>
                <td class="colSponsorship" data-bind="text: Id()"></td>
                <!-- ko ifnot: $root.IsTermDisplay() -->
                <td class="colTerm" data-bind="text: TermDescription()"></td>
                <!-- /ko -->
                <td class="colSponsor" data-bind="text: SponsorName()"></td>
                <td class="colAmount" data-bind="currency: Amount(), negativePattern: 1"></td>
            </tr>
        </tbody>
    </table>
</div>