﻿<!-- Copyright 2015 Ellucian Company L.P. and its affiliates. -->
@Html.Partial("CategoryHeaderPartial")
<div class="panel-main-content">
    <table id="student-payments">
        <caption>@Resources.AccountActivityResources.ClickReceiptNumberMessage</caption>
        <thead>
            <tr>
                <th class="colReceipt">@Resources.AccountActivityResources.StudentPaymentReceiptNumberLabel</th>
                <th class="colDate">@Resources.FinanceResources.DateLabel</th>
                <!-- ko ifnot: $root.IsTermDisplay() -->
                <th class="colTerm">@Resources.FinanceResources.TermLabel</th>
                <!-- /ko -->
                <th class="colAmount">@Resources.FinanceResources.AmountLabel</th>
                <th class="colMethod">@Resources.FinanceResources.PayMethodLabel</th>
                <th class="colReference">@Resources.AccountActivityResources.StudentPaymentReferenceNumberLabel</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: Transactions()">
            <tr>
                <td class="colReceipt">
                    <a href="#" data-bind="text: ReceiptNumber(), click: $root.displayReceipt"></a>
                </td>
                <td class="colDate" data-bind="date: Date()"></td>
                <!-- ko ifnot: $root.IsTermDisplay() -->
                <td class="colTerm" data-bind="text: TermDescription()"></td>
                <!-- /ko -->
                <td class="colAmount currency" data-bind="currency: Amount(), negativePattern: 1"></td>
                <td class="colMethod" data-bind="text: PaymentMethodCode()"></td>
                <td class="colReference" data-bind="text: PaymentReferenceNumber()"></td>
            </tr>
        </tbody>
    </table>
</div>
