﻿<!-- Copyright 2015 Ellucian Company L.P. and its affiliates. -->
<table data-bind="attr: { id: Id() + '-table' }" class="scrolling-table">
    <thead>
        <tr>
            <th class="colSection">@Resources.FinanceResources.SectionLabel</th>
            <th class="colCourseTitle">@Resources.FinanceResources.CourseTitleLabel</th>
            <!-- ko ifnot: $root.IsTermDisplay() -->
            <th class="colTerm" data-bind="text: '@Resources.FinanceResources.TermLabel    '"></th>
            <!-- /ko -->
            <th class="colCredits">@Resources.FinanceResources.BillingCreditsLabel</th>
            <th class="colCredits">@Resources.FinanceResources.ContinuingEducationUnitsLabel</th>
            <th class="colDays">@Resources.FinanceResources.WeekdaysLabel</th>
            <th class="colTimes">@Resources.FinanceResources.MeetingTimesLabel</th>
            <th class="colClassroom">@Resources.FinanceResources.ClassroomLabel</th>
            <th class="colInstructor">@Resources.FinanceResources.InstructorLabel</th>
            <th class="colStatus">@Resources.FinanceResources.StatusLabel</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: ChargeDetails()">
        <tr>
            <td class="colSection" data-bind="text: Name()"></td>
            <td class="colCourseTitle" data-bind="text: Title()"></td>
            <!-- ko ifnot: $root.IsTermDisplay() -->
            <td class="colTerm" data-bind="text: TermDescription()"></td>
            <!-- /ko -->
            <td class="colCredits" data-bind="decimal: BillingCredits()"></td>
            <td class="colCredits" data-bind="decimal: CEUs()"></td>
            <td class="colDays" data-bind="text: MeetingDays()"></td>
            <td class="colTimes" data-bind="text: MeetingTimes()"></td>
            <td class="colClassroom" data-bind="text: MeetingRoom()"></td>
            <td class="colInstructor" data-bind="text: Instructor()"></td>
            <td class="colStatus" data-bind="text: Status()"></td>
        </tr>
    </tbody>
</table>
