﻿<!-- Copyright 2016 Ellucian Company L.P. and its affiliates. -->
@using Ellucian.Web.Student.Models.Search;
@model SearchModel

<div id="search-container">
    <div id="global-search" class="clear-group">
        <div id="page-description" class="esg-page-header esg-has-subtitle">
            <div class="esg-page-header-subtitle__wrapper">
                <h2 class="esg-page-header__title">@Model.SearchPrompt</h2>
                @if (ViewBag.ShowDynamicBackLink != null && ViewBag.ShowDynamicBackLink)
                {
                    RouteValueDictionary defaultRoute = null;
                    if (Model.DynamicBackLinkDefault != null)
                    {
                        defaultRoute = new RouteValueDictionary(new { controller = Model.DynamicBackLinkDefault.Controller, action = Model.DynamicBackLinkDefault.Action });
                        foreach (var routeVal in Model.DynamicBackLinkDefault.RouteValues)
                        {
                            defaultRoute.Add(routeVal.Key, routeVal.Value);
                        }
                        if (!string.IsNullOrEmpty(Model.DynamicBackLinkDefault.Area))
                        {
                            defaultRoute.Add("Area", Model.DynamicBackLinkDefault.Area);
                        }
                    }
                    var backLinkConfig = new Ellucian.Web.Student.Models.DynamicBackLinkConfiguration(true, defaultRoute);
                    var backLinkExclusions = new List<RouteValueDictionary>();
                    if (Model.BackLinkExclusions != null && Model.BackLinkExclusions.Any())
                    {
                        foreach (var ble in Model.BackLinkExclusions)
                        {
                            RouteValueDictionary disallowed = new RouteValueDictionary(new { action = ble.Action, controller = ble.Controller });
                            if (!string.IsNullOrEmpty(ble.Area))
                            {
                                disallowed.Add("Area", ble.Area);
                            }
                            backLinkConfig.DisallowedActions.Add(disallowed);
                        }
                    }
                    <span class="esg-page-header__subtitle esg-page-header__subtitle--backlink">
                        <span class="esg-icon__container esg-page-header__icon" aria-hidden="true">
                            <svg class="esg-icon esg-icon--left">
                                <use xlink:href="#icon-arrow"></use>
                            </svg>
                        </span>@Html.Partial("_DynamicBackLink", backLinkConfig)
                    </span>
                }
            </div>
            <div id="page-description-other" class="esg-page-header__input">
                <form id="search-form" data-bind="submit: triggerSearch">
                    <div class="esg-form__group">
                        <div class="esg-form__input-group">
                            <label for="keyword" class="field-label-hidden" data-bind="text: SearchFieldLabel()"></label>
                            <input class="keyword-default esg-form__input" id="keyword" name="SearchString" type="search" data-bind="attr: { placeholder: PlaceholderText() }, value: SearchString" />
                            <button type="submit" class="esg-form__icon esg-icon__container esg-form__icon--submit">
                                <svg class="esg-icon esg-icon--small esg-icon--light">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use>
                                </svg>
                                <span class="offScreen" data-bind="text: SearchFieldLabel()"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <div class="column-nine">
        <section class="section-wrapper section-wrapper-top-border">
            <div class="section-contents primary-contents" id="search-results-pane">
                <spinner id="spinner" params="isVisible: !showUI()"></spinner>
                <modal-spinner id="searching-spinner" params="isVisible: searching, message: SpinnerText"></modal-spinner>

                <div id="search-results-view-container" data-bind="visible: showUI() && !searching()">
                    <!-- ko if: ErrorOccurred() -->
                    <div data-bind="visible: ErrorMessage(), html: ErrorMessage()"></div>
                    <!-- /ko -->
                    <!-- ko if: SearchResults() -->
                    <div class="section-contents no-left-padding">
                        @Html.Partial(@"~\Views\Search\_SearchResultsTally.cshtml")
                    </div>
                    <!-- ko if: SearchResults().length > 0 -->
                    @Html.Partial(Model.SearchResultsViewName)
                    <!-- /ko -->
                    <!-- /ko -->
                </div>
                <!-- ko ifnot: searchHasOccurred() -->
                <div class="text-align-center" data-bind="text: BeforeSearchText()"></div>
                <!-- /ko -->
            </div>
        </section>
    </div>
</div>



