﻿<!-- Copyright 2016 Ellucian Company L.P. and its affiliates. -->
<span class="bold search-results-count" data-bind="text: searchResultsCount"></span>
<span>@Resources.SiteResources.SearchResultsText</span>
<span class="bold" data-bind="text: SearchString()"></span>
<a class="clear-results" href="#" aria-title="@Resources.SiteResources.ClearSearchResultsLabel" data-bind="click: resetSearch">
    <span class="offScreen" data-bind="text: clearSearch.format(SearchString())"></span>
    <span aria-hidden="true">
        <svg class="esg-icon esg-icon--small esg-icon--neutral">
            <use xlink:href="#icon-clear"></use>
        </svg>
    </span>
</a>
