﻿<!-- Copyright 2015-2017 Ellucian Company L.P. and its affiliates -->
@using Ellucian.Web.Student.Utility;
@section scripts {
    @Scripts.Render("~/bundles/financialaidawardletterscripts")
}
<div class="clear-group">
    <div id="page-description" class="column-five">
        <h2>@Resources.AwardLetter.PageTitle</h2>
        <p>@Resources.AwardLetter.PageDetail</p>
     </div>
</div>

<!-- Year selector bar with counselor info -->
<div data-bind="visible: showUI()">
    @Html.Partial("_CounselorContactAndYearSelector")
</div>

<!-- Award Letter Page Container -->
<!-- The display: none and visible: true components here are a work-around for the fact that the mark-up is sometimes visible or
    "flickers" when the page is first opened if Knockout has not completed its legwork for applying bindings-->
<div class="column-nine" id="award-letter-main" style="display: none" data-bind="visible: true">
    <spinner params="isVisible: !showUI(), message: '@Resources.AwardLetter.LoadingDataSpinnerMessage'"></spinner>

    <div data-bind="visible: showUI">
        <!-- ko ifnot: HasPrivacyRestriction() -->
        <div class="section-wrapper section-wrapper-top-border">
            <div class="section-contents">
                <message params="isVisible: !StudentAwardLetter() && !(isAdmin() && !areChecklistItemsAssigned()), message: '@Resources.AwardLetter.NoAwardLetterForYearMessage'"></message>
                <message params="isVisible: (isAdmin() && !areChecklistItemsAssigned()), message: '@Resources.AwardLetter.NoChecklistAssignedCounselorMessage'"></message>
                <message params="isVisible: StudentAwardLetter() && !StudentAwardLetter().AreAnyAwardsToDisplay(), message: '@Resources.AwardLetter.NoAwardsForYearMessage'"></message>
                <div data-bind="with: StudentAwardLetter">
                    <!-- ko if: $data.AreAnyAwardsToDisplay() -->
                    <message params="isVisible: !AreAwardsPresent(), message: '@Resources.AwardLetter.NoAwardActivityMessage'"></message>
                    <div id="award-letter-main" data-bind="visible: AreAwardsPresent()">
                        <div id="letter-notice-container" data-bind="css: letterNoticeStyle()">
                            @{
                                Ellucian.Web.Mvc.Models.Site site = DependencyResolver.Current.GetService<Ellucian.Web.Mvc.Menu.ISiteService>().Get(CurrentUser);
                                var pageId = (ViewBag.IsAdmin != null & ViewBag.IsAdmin) ? "faAwardsAdmin" : "faAwards";
                                var awardsPage = site.Pages.FirstOrDefault(p => p.Id == pageId);
                                var awardsPageUrl = (awardsPage != null) ? Url.Action(awardsPage.Action, awardsPage.Controller, new { id = ViewBag.StudentId }) : "#";
                            }
                            <message params="isVisible: showAwardLetterNotice(), message: '@Resources.AwardLetter.AwardLetterNotice', type: letterNoticeStyle() === 'letter-accepted' ? 'success': letterNoticeStyle() === 'letter-pending' ? 'warning' : 'info'"></message>
                            <message params="isVisible: AcceptedDate(), message: letterIsAcceptedMessage, type: 'success'"></message>
                            <!-- ko ifnot: $root.isMobile() -->
                            <!-- ko ifnot: $root.isAwardPackageChecklistItemRemoved() -->
                            <!-- ko if: showLetterWithPendingAwardsMessage()-->
                            <div class="esg-alert esg-alert--fluid esg-alert--warning" role="alert">
                                <span class="esg-alert__icon-wrapper">
                                    <span class="esg-alert__icon esg-icon__container" aria-hidden="True">
                                        <svg class="esg-icon esg-icon--warning-dark">
                                            <use xlink:href="#icon-warning"></use>
                                        </svg>
                                    </span>
                                </span>
                                <div class="esg-alert__message">
                                    <a href="@awardsPageUrl" data-bind="text: letterWithPendingAwardsMessage(), attr:{'disabled': $root.IsProxyView()}"></a>
                                </div>
                            </div>
                            <!-- /ko -->
                            <!-- /ko -->
                            <!-- /ko -->
                            <!-- ko if: $root.isMobile() -->
                            <!-- ko if: showLetterWithPendingAwardsMessage() -->
                            <div class="esg-alert esg-alert--fluid esg-alert--warning" role="alert">
                                <span class="esg-alert__icon-wrapper">
                                    <span class="esg-alert__icon esg-icon__container" aria-hidden="True">
                                        <svg class="esg-icon esg-icon--warning-dark">
                                            <use xlink:href="#icon-warning"></use>
                                        </svg>
                                    </span>
                                </span>
                                <div class="esg-alert__message">
                                    <a href="@awardsPageUrl" data-bind="text: letterWithPendingAwardsMessage(), attr:{'disabled': $root.IsProxyView()}"></a>
                                </div>
                            </div>
                            <!-- /ko -->
                            <!-- /ko -->
                        </div>

                        <div id="letter-extras" class="clear-group">
                            <section id="letter-amount-report-section" data-bind="css: $root.amountReportSectionStyle">
                                <h3 id="letter-amount-container" class="section-header primary-header clear-group">
                                    <span data-bind="text: AwardYearDescription"></span>
                                    <span class="offScreen" data-bind="text: TotalColumnHeader"></span>
                                    <!-- ko if: AwardLetterAwardsTotal -->
                                    <span class="float-right" data-bind="currency: AwardLetterAwardsTotal(), precision: 2"></span>
                                    <!-- /ko -->
                                </h3>
                                <div class="letter-report-container section-contents primary-contents" data-bind="visible: !($root.isMobile() && AreAnyAwardsPending())">
                                    <a class="pdf-link" data-bind="attr: { href: '', 'disabled': AreAnyAwardsPending()}, click: $root.redirectToUrl">@Resources.AwardLetter.ViewAwardLetterText <span class="offScreen">@Resources.AwardLetter.ViewAwardLetterTextOffScreen</span></a>
                                </div>
                            </section>
                            <!-- ko if: $root.areAnyAwardLetterHistoryRecords -->
                            <section id="letter-history-section" class="section-wrapper column-three clear-group">
                                <!-- ko ifnot: $root.isMobile() -->
                                <div class="section-header primary-header clear-group" data-bind="multiAccordion: { contentId: 'letter-history-items' }">
                                    <h4 id="letter-history-header">
                                        <span>@Resources.AwardLetter.AwardLetterHistoryHeader</span>
                                    </h4>
                                </div>
                                <!-- /ko -->
                                <!-- ko if: $root.isMobile() -->
                                <div class="section-header primary-header clear-group" data-bind="panel: { contentId: 'letter-history-items', description: '@Resources.AwardLetter.AwardLetterHistoryControllerLabel', backLinkText: ' '}, clickBuble: false">
                                    <h4 id="letter-history-header">
                                        <span>@Resources.AwardLetter.AwardLetterHistoryHeader</span>
                                    </h4>
                                </div>
                                <!-- /ko -->
                                <div id="letter-history-items">
                                    <div data-bind="foreach: $root.awardLetterHistoryItemsToDisplay">
                                        <div class="letter-report-container section-contents primary-contents" data-bind="visible: isItemVisible">
                                            @*<a class="pdf-link" target="_blank" data-bind="attr: {href: getAwardLetterReportLink($root.Student().Id())}, text: CreatedDate !== null ? moment(CreatedDate()).format('L') : '&nbsp;'"><span class="offScreen">@Resources.AwardLetter.ViewAwardLetterTextOffScreen</span></a>*@
                                            <a class="pdf-link" target="_blank" data-bind="attr: {href: ''}, click: $root.redirectToUrl, text: CreatedDate !== null ? moment(CreatedDate()).format('L') : '&nbsp;'"><span class="offScreen">@Resources.AwardLetter.ViewAwardLetterTextOffScreen</span></a>
                                        </div>
                                    </div>
                                    <!-- ko if: $root.AwardLetterHistoryItems().length > 3-->
                                    <!-- ko ifnot: $root.showAllAwardLetterHistoryItems() -->
                                    <div class="view-more-button-container section-header primary-header">
                                        <span class="left-aligned-buttons">
                                            <button type="button" class="esg-button esg-button--secondary" name="@Resources.FinancialAidShared.ShowMoreItemsButtonName" aria-label="@Resources.AwardLetter.ShowMoreHistoryItemsButtonDescription"
                                                    title="@Resources.AwardLetter.ShowMoreHistoryItemsButtonDescription" data-bind="click: $root.toggleAwardLetterHistoryView">
                                                @Resources.FinancialAidShared.ShowMoreItemsButtonName
                                            </button>
                                        </span>
                                    </div>
                                    <!-- /ko -->
                                    <!-- /ko -->
                                </div>
                            </section>
                            <!-- /ko -->
                        </div>

                        <div id="letter-container">
                            <div id="letter-content">
                                @if (!string.IsNullOrEmpty(ViewBag.AbsoluteReportLogoPath))
                                {
                                    <div class="clear-group">
                                        <div id="letter-logo-container">
                                            <img id="letter-logo" src="@ViewBag.AbsoluteReportLogoPath" alt="@Resources.AwardLetter.LogoAltText" aria-label="@Resources.AwardLetter.LogoAria" />
                                        </div>
                                    </div>
                                }

                                <div id="letter-contact-office" data-bind="if: IsContactBlockActive()">
                                    <!-- ko foreach: ContactAddress() -->
                                    <div><span data-bind="text: $data"></span></div>
                                    <!-- /ko -->
                                </div>

                                <div class="letter-header clear-group">
                                    <div id="letter-header-left" class="letter-header-part column-five">
                                        <!-- ko foreach: StudentAddress() -->
                                        <div><span data-bind="text: $data"></span></div>
                                        <!-- /ko -->
                                    </div>

                                    <div id="letter-header-right" class="letter-header-part column-four">
                                        <div>@Resources.AwardLetter.DateLabel&nbsp;<span data-bind="text: CurrentDate"></span> </div>
                                        <div>@Resources.AwardLetter.SIDLabel&nbsp;<span data-bind="text: StudentId"></span></div>
                                        <div class="letter-bold-label">
                                            <span>@Resources.AwardLetter.AwardYearLabel</span>&nbsp;
                                            <span data-bind="text: AwardYearDescription"></span>
                                        </div>
                                    </div>
                                </div>

                                <div id="letter-greeting">
                                    <span data-bind="text: awardLetterGreeting()"></span>
                                </div>

                                <div id="letter-opening-text">
                                    <span data-bind="html: OpeningParagraph()"></span>
                                </div>

                                <div id="letter-need-housing">
                                    <!-- ko if: IsNeedBlockActive -->
                                    <div class="item">
                                        <span class="letter-bold-label">
                                            @Resources.AwardLetter.BudgetLabel
                                        </span>
                                        &nbsp
                                        <span data-bind="currency: BudgetAmount(), precision: 0"></span>
                                    </div>
                                    <div class="item">
                                        <span class="letter-bold-label">
                                            <abbr title="@Resources.AwardLetter.EFCAbbreviationTitle">@Resources.AwardLetter.EFCLabel</abbr>
                                        </span>
                                        &nbsp
                                        <span data-bind="currency: EstimatedFamilyContributionAmount(), precision: 0"></span>
                                    </div>
                                    <div class="item">
                                        <span class="letter-bold-label">
                                            @Resources.AwardLetter.NeedLabel
                                        </span>
                                        &nbsp
                                        <span data-bind="currency: NeedAmount(), precision: 0"></span>
                                    </div>
                                    <!-- /ko -->
                                    <!-- ko if: IsHousingCodeActive -->
                                    <div class="item">
                                        <span class="letter-bold-label">
                                            @Resources.AwardLetter.HousingLabel
                                        </span>
                                        &nbsp
                                        <span data-bind="text: HousingCode()"></span>
                                    </div>
                                    <!-- /ko -->
                                </div>

                                <table id="letter-award-table">
                                    <thead class="header">
                                        <tr>
                                            <th class="award" scope="col">
                                                <span data-bind="text: AwardColumnHeader"></span>
                                            </th>
                                            <th class="total bold" scope="col">
                                                <span data-bind="text: TotalColumnHeader"></span>
                                            </th>
                                            <!-- ko foreach: AwardPeriodColumnHeaders -->
                                            <th class="award-period" scope="col">
                                                <span data-bind="text: $data"></span>
                                            </th>
                                            <!-- /ko -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- ko foreach: StudentAwardGroups -->
                                        <tr class="esg-table-head group-row">
                                            <th class="group" scope="colgroup" data-bind="attr: { colspan: $parent.AwardPeriodColumnHeaders().length + 2 }">
                                                <span data-bind="text: Name() != undefined && Name() != null && Name() != '' ? Name() : faAwardLetterUnspecifiedAwardLetterGroup, css: {'offScreen': Name() == undefined || Name() == null || Name() == ''}"></span>
                                            </th>
                                        </tr>
                                        <!-- ko foreach: AwardLetterStudentAwards -->
                                        <tr class="award-row">
                                            <td class="award">
                                                <span data-bind="text: Description"></span>
                                            </td>
                                            <td class="total bold">
                                                <!-- ko if: TotalAwardAmount() !== null -->
                                                <span data-bind="currency: TotalAwardAmount, precision: 2"></span>
                                                <!-- /ko -->
                                            </td>
                                            <!-- ko foreach: StudentAwardPeriods -->
                                            <td class="award-period">
                                                <!-- ko if: AwardAmount() !== null -->
                                                <span data-bind="currency: AwardAmount, precision: 2"></span>
                                                <!-- /ko -->
                                            </td>
                                            <!-- /ko -->
                                        </tr>
                                        <!-- /ko -->
                                        <!-- /ko -->
                                    </tbody>
                                </table>

                                <div id="letter-closing-text">
                                    <span data-bind="html: ClosingParagraph"></span>
                                </div>
                            </div>

                        </div>

                        <div id="form-container">
                            <form id="letter-accept">
                                <div id="letter-accept-area">
                                    <!-- ko ifnot: $root.isMobile() -->
                                    <div data-bind="css: letterNoticeStyle()">
                                        <message params="isVisible: AcceptedDate(), message: letterIsAcceptedMessage, type: 'success'"></message>
                                        <!-- ko ifnot: $root.isAwardPackageChecklistItemRemoved() -->
                                        <!--ko if: showLetterWithPendingAwardsMessage() -->
                                        <div class="esg-alert esg-alert--fluid esg-alert--warning" role="alert">
                                            <span class="esg-alert__icon-wrapper">
                                                <span class="esg-alert__icon esg-icon__container" aria-hidden="True">
                                                    <svg class="esg-icon esg-icon--warning-dark">
                                                        <use xlink:href="#icon-warning"></use>
                                                    </svg>
                                                </span>
                                            </span>
                                            <div class="esg-alert__message">
                                                <a href="@awardsPageUrl" data-bind="text: letterWithPendingAwardsMessage(), attr:{'disabled': $root.IsProxyView()}"></a>
                                            </div>
                                        </div>
                                        <!-- /ko-->
                                        <!-- /ko -->
                                    </div>
                                    <!-- /ko -->
                                    <div class="letter-accept-controls clear-group" data-bind="visible: showAwardLetterNotice()">
                                        <div class="letter-default notice-bar bottom-bar">
                                            <input id="accept-award-letter-checkbox" type="checkbox" data-bind="checked: IsLetterAccepted, disable: $root.IsProxyView()|| $root.isAdmin() || (AcceptedDate) || $root.acceptAwardLetterInProgress()" />
                                            <label for="accept-award-letter-checkbox" class="award-letter-label">
                                                <span>@Resources.AwardLetter.VerificationText</span>
                                            </label>
                                        </div>
                                        <div class="award-letter-button-wrapper">
                                            <input type="button" class="esg-button esg-button--primary esg-button--float-right award-letter-button" data-bind="click: $root.awardLetterButtonHandler, disable: (!$root.awardLetterAcceptButtonEnabler() || $root.acceptAwardLetterInProgress() || $root.IsProxyView() || $root.isAdmin())" aria-label="@Resources.AwardLetter.SignAwardLetterButton" title="@Resources.AwardLetter.SignAwardLetterButton"
                                                   value="@Resources.AwardLetter.SignAwardLetterButton" name="AcceptButton" />
                                        </div>
                                        <a class="award-letter-cancel-link float-left" href="~/FinancialAid/Home" data-bind="click: $root.revertChanges, visible: (AcceptedDate() === null), attr: {'disabled': $root.IsProxyView() || $root.isAdmin()}" aria-label="@Resources.AwardLetter.CancelLinkAriaLabel"
                                           title="@Resources.AwardLetter.CancelLinkAriaLabel">@Resources.AwardLetter.CancelLink</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /ko --><!--end AreAnyAwardsToDisplay -->
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>
</div>

<!-- Modal Spinner for use during AJAX calls -->
<modal-spinner id="loading" params="isVisible: isLoading, message: '@Resources.AwardLetter.SigningAwardLetterMessage'"></modal-spinner>