﻿<!-- Copyright 2013-2017 Ellucian Company L.P. and its affiliates. -->
<div style="display: none" class="esg-modal-dialog" data-bind="visible: isVisible, attr: { 'tabindex': tabIndex }">
    <div class="esg-modal-dialog__header">
        <!-- ko ifnot: defaultCloseOff -->
        <button class="esg-modal-dialog__close esg-icon__container" type="button" data-dismiss="modal" data-bind="attr: { 'aria-hidden' : isVisible }, click: toggle">
            <span class="offScreen" data-bind="resx:'SiteResources.ButtonTextClose'"></span>
            <svg class="esg-icon esg-icon--large esg-icon--neutral">
                <use xlink:href="#icon-close"></use>
            </svg>
        </button>
        <!-- /ko -->
        <h3 class="esg-modal-dialog__title" data-bind="html: title"></h3>
    </div>
    <div class="esg-modal-dialog__body">
        <!-- ko template: { nodes: $componentTemplateNodes, data: content } -->
        <!-- /ko -->
    </div>
    <div class="esg-modal-dialog__action-section esg-button-group esg-button-group--fluid" role="group" aria-label="button group" data-bind="foreach: buttons">
        <!-- ko if: visible -->
        <div class="esg-button-group__item" role="group">
            <button type="button" data-bind="text: title, click: callback, css: classes, disable: disabled, attr: { 'id': id, 'aria-label': aria }"></button>
        </div>
        <!-- /ko -->
    </div>
</div>
<div class="esg-modal-overlay" style="display: none;" data-bind="click: pureModal()?null: toggle, style: {'display': overlayDisplay }"></div>