﻿<h3 class="section-header primary-header clear-group">
    <span class="column-seven column-five-sm" data-bind="resx: 'BankingInformation.PayrollDepositsHeader'"></span>
</h3>

<div class="section-contents">


    <section class="account-details">
        <div class="section-header account-header switchedOn clear-group">
            <h4 class="column-two column-six-sm" data-bind="resx: 'BankingInformation.ActiveAccountsColumnHeader'"></h4>
            <!--ko if: !hasAllCanadianAccounts()-->
            <h4 class="column-two desktop-only" data-bind="resx: 'BankingInformation.VerificationHeader'"></h4>
            <!-- /ko -->
            <!--ko if: hasAllCanadianAccounts()-->
            <h4 class="column-two desktop-only">&nbsp;</h4>
            <!-- /ko -->
            <h4 class="column-two desktop-only" data-bind="resx: 'BankingInformation.AmountColumnHeader'"></h4>
            <h4 class="column-two column-three-sm" data-bind="resx: 'BankingInformation.DepositOrderColumnHeader'"></h4>
        </div>
        <!-- ko foreach: ActivePayrollDeposits -->
        <payroll-directive-summary params="dataModel: $data,
                                   hasAllCanadianAccounts: $parent.hasAllCanadianAccounts,
                                   index: $index,
                                   type: 'active'">

        </payroll-directive-summary>
        <!-- /ko-->
    </section>


    <section class="account-details">
        <div class="section-header account-header future clear-group">
            <h4 class="column-two column-six-sm" data-bind="resx: 'BankingInformation.FutureAccountsColumnHeader'"></h4>
            <!--ko if: !hasAllCanadianAccounts()-->
            <h4 class="column-two desktop-only" data-bind="resx: 'BankingInformation.VerificationHeader'"></h4>
            <!--/ko-->
            <!--ko if: hasAllCanadianAccounts()-->
            <h4 class="column-two desktop-only">&nbsp;</h4>
            <!-- /ko -->
            <h4 class="column-two desktop-only" data-bind="resx: 'BankingInformation.AmountColumnHeader'"></h4>
            <h4 class="column-two column-three-sm" data-bind="resx: 'BankingInformation.StartDateColumnHeader'"></h4>
        </div>
        <!-- ko foreach: FuturePayrollDeposits -->
        <payroll-directive-summary params="dataModel: $data,
                                   hasAllCanadianAccounts: $parent.hasAllCanadianAccounts,
                                   index: $index,
                                   type: 'future'">

        </payroll-directive-summary>
        <!-- /ko -->
    </section>


    <section class="account-details">
        <div class="section-header account-header past clear-group">
            <h4 class="column-two column-six-sm" data-bind="resx: 'BankingInformation.PastAccountsColumnHeader'"></h4>
            <!--ko if: !hasAllCanadianAccounts()-->
            <h4 class="column-two desktop-only" data-bind="resx: 'BankingInformation.VerificationHeader'"></h4>
            <!-- /ko -->
            <!--ko if: hasAllCanadianAccounts()-->
            <h4 class="column-two desktop-only">&nbsp;</h4>
            <!-- /ko -->
            <h4 class="column-two desktop-only" data-bind="resx: 'BankingInformation.AmountColumnHeader'"></h4>
            <h4 class="column-two column-three-sm" data-bind="resx: 'BankingInformation.EndDateColumnHeader'"></h4>
        </div>
        <!-- ko foreach: PastPayrollDeposits -->
        <payroll-directive-summary params="dataModel: $data,
                                   hasAllCanadianAccounts: $parent.hasAllCanadianAccounts,
                                   index: $index,
                                   type: 'past'">

        </payroll-directive-summary>
        <!-- /ko -->
    </section>
</div>