﻿<section class="section-wrapper column-four" data-bind="if: !isVendor">
    <h5 class="section-header no-border" data-bind="css: {'switchedOn': isSwitchedOn}">
        <span data-bind="resx: 'BankingInformation.PayrollDepositSectionHeader'"></span>
        <label for="payrollDeposits" class="switch-checkbox check-image pointer float-right" data-bind="visible: isSwitchVisible">
            <input id="payrollDeposits" type="checkbox" data-bind="checked: isSwitchedOn" />
            <span class="state-wrapper">
                <span class="label-text offScreen" data-bind="resx: 'BankingInformation.PayrollDepositSwitchOffscreenLabel'"></span>
                <span class="state off" aria-hidden="true" data-bind="resx: 'BankingInformation.PayrollDepositSwitchOffStateOffscreenLabel'"></span>
                <span class="state on" aria-hidden="true" data-bind="resx: 'BankingInformation.PayrollDepositSwitchOnStateOffscreenLabel'"></span>
            </span>
            <span class="switch-circle">
                <span class="switch-icon check-image"></span>
            </span>
        </label>
    </h5>

    <div class="section-contents expanded clear-group">
        <section class="section-wrapper no-section-mobile-padding" data-bind="visible:isSwitchedOn">


            <div class="column-eight input-wrapper" data-bind="visible: !isAdd()">
                <!--ko if: !hasAllCanadianAccounts() -->
                <span class="column-three column-three-sm bold" data-bind="resx: 'BankingInformation.VerificationHeader'"></span>

                <span data-bind="if: IsVerified() && RoutingId(), css:{'verified':IsVerified() && RoutingId() }">
                    <span data-bind="resx: 'BankingInformation.IsVerified'"></span>
                </span>
                <span data-bind="if: !IsVerified() && RoutingId(), css:{'not-verified':!IsVerified() && RoutingId() }">
                    <span data-bind="resx: 'BankingInformation.IsNotVerified'"></span>
                </span>
                <span data-bind="if: InstitutionId()">
                    <span data-bind="resx: 'BankingInformation.NotApplicableLabel'"></span>
                </span>

                <!-- /ko -->
            </div>


            <div class="column-eight input-wrapper">
                <span class="bold column-three column-three-sm" data-bind="resx: 'BankingInformation.StartDateColumnHeader'"></span>
                <input class="column-four column-six-sm"  id="payroll-start-date-input" name="payroll-start-date-input" data-bind="value: startDateInput,  watermark: Globalize.getClosestCultureDateFormat(), css: { 'required-input':startDateNeedsInput() }, visible: !startDateIsReadOnly" />
                <span class="column-four column-six-sm" data-bind="date: StartDate, visible: startDateIsReadOnly" />


                <label class="offScreen" for="payroll-start-date-input" data-bind="text: 'Enter Start Date in format ' + Globalize.getClosestCultureDateFormat()"></label>

                <span class="column-eight column-seven-sm error-message" data-bind="visible: startDateInput.hasFormatError() &&  !startDateIsReadOnly, text: startDateInput.errorMessage"></span>
            </div>

            <!-- ko if: isEndDateVisible -->
            <fieldset class="column-eight input-wrapper">
                <legend class="bold column-three column-three-sm">
                    <span data-bind="resx: 'BankingInformation.EndDateColumnHeader'"></span>
                </legend>
                <div class="column-six column-six-sm">

                    <input type="radio" id="payrollEndDateGroup-noend" name="payrollEndDateGroup" value="noEndDate" data-bind="checked: endDateOption" />
                    <label for="payrollEndDateGroup-noend" class="column-eight">
                        <span data-bind="resx: 'BankingInformation.PayrollDepositNoEndDateRadioLabel'"></span>
                    </label>

                    <div class="column-eight">
                        <input type="radio" id="payrollEndDateGroup-enddate" name="payrollEndDateGroup" value="endDate" data-bind="checked: endDateOption" />
                        <label for="payrollEndDateGroup-enddate">
                            <span data-bind="resx: 'BankingInformation.PayrollDepositEndDateRadioLabel'"></span>
                            <span class="offScreen" data-bind="text: endDateInput"></span>
                        </label>
                        <input id="payroll-end-date-input" type="text" name="payrollEndDateGroup" data-bind="value: endDateInput, enable: endDateOption() === 'endDate', watermark: Globalize.getClosestCultureDateFormat()" />
                        <label class="offScreen" for="payroll-end-date-input" data-bind="text: 'Enter End Date in format ' + Globalize.getClosestCultureDateFormat()"></label>
                    </div>
                </div>
                <div class="column-eight column-seven-sm error-message" data-bind="visible: endDateInput.hasFormatError, text: endDateInput.errorMessage"></div>
                <!--<div class="column-eight column-six-sm" data-bind="visible: $root.bankAndDepositBijectionCheck()">
                    <message params="isVisible: true, message: $root.bankAndDepositBijectionCheck()"></message>
                </div>-->
            </fieldset>
            <!-- /ko -->
            <!-- ko if: isEndDateVisible && endDateBacker() -->
            <div class="column-eight input-wrapper">
                <span class="bold column-three column-three-sm">
                    <span data-bind="resx: 'BankingInformation.EndDateColumnHeader'"></span>
                </span>
                <span class="column-six column-six-sm" data-bind="date: endDateBacker"></span>
            </div>
            <!-- /ko -->
        </section>
    </div>

    <!-- ko if: cannotDeactivateRemainderMessage -->
    <message params="isVisible: true, message: cannotDeactivateRemainderMessage"></message>
    <!-- /ko -->
    <!-- ko if: effectiveDateMessage -->
    <message params="isVisible: true, message: effectiveDateMessage"></message>
    <!-- /ko -->
    <!-- ko if: willChangeEndDateOfCurrentRemainderMessage -->
    <message params="isVisible: true, message: willChangeEndDateOfCurrentRemainderMessage"></message>
    <!-- /ko-->
    <!--<div data-bind="visible: isAlsoActivePayableAccount">
        <message aria-live="polite" params="isVisible: true, message: payrollAccountIsAlsoActivePayableAccountMessage"></message>
    </div>-->

</section>
