﻿<!-- Copyright 2014-2017 Ellucian Company L.P. and its affiliates -->
<!-- scripts here -->
@section scripts {
    @Scripts.Render("~/bundles/financialaidcorrespondencescripts")
}


<div class="clear-group">
    <div id="page-description" class="column-five">
        <h2>@Resources.CorrespondenceOption.PageTitle</h2>
        <p>@Resources.CorrespondenceOption.PageDetail</p>
    </div>
</div>

<!-- CorrespondenceOption Page Container -->
<!-- The display: none and visible: true components here are a work-around for the fact that the mark-up is sometimes visible or
    "flickers" when the page is first opened if Knockout has not completed its legwork for applying bindings-->
<div class="column-nine" id="correspondence-option-main" style="display: none" data-bind="visible: true">
    <spinner params="isVisible: !showUI(), message: '@Resources.CorrespondenceOption.LoadingDataSpinnerMessage'"></spinner>
    <div data-bind="visible: showUI()">
        @Html.Partial("_AdminHeaderPartial")
        <!-- ko ifnot: HasPrivacyRestriction() -->
        <!-- ko ifnot: CorrespondenceOptionData() -->
        <div class="section-wrapper section-wrapper-top-border">
            <message params="isVisible: !CorrespondenceOptionData(), message: '@Resources.CorrespondenceOption.NoCorrespondenceOptionDataAvailableMessage'">
            </message>
        </div>
        <!-- /ko -->
        <!-- ko if: CorrespondenceOptionData() -->
        <div class="section-wrapper section-wrapper-top-border" data-bind="with: CorrespondenceOptionData">
            <div class="section-contents">
                <div>
                    <input id="correspondence-option-checkbox" type="checkbox" name="correspondenceOptionCheckbox" value="correspondence-option" data-bind="checked: IsCorrespondenceOptionChecked(), click: $root.changeSelection, disable: $root.IsProxyView() || $root.isAdmin()" />
                    <label for="correspondence-option-checkbox" data-bind="text: OptionMessage"></label>
                </div>
            </div>
            <!-- ko ifnot: $root.isAdmin() -->
            <div class="button-bar">
                <input type="button" class="esg-button esg-button--primary" name="submit" aria-label="@Resources.CorrespondenceOption.SubmitButtonLabel" value="@Resources.CorrespondenceOption.SubmitButtonLabel" data-bind="click: $root.submitSelection, disable: !$root.isCheckboxSelectionChanged() || $root.IsProxyView()" />
            </div>
            <!-- /ko -->
        </div>
        <!-- /ko -->
        <!-- /ko -->
    </div>
</div>

<!-- Spinner for use during AJAX calls -->
<modal-spinner id="loading" params="isVisible: isLoading, message: '@Resources.CorrespondenceOption.ProcessingMessage'"></modal-spinner>

<!-- Determine if current user is admin and store it into an observable -->
<script type="text/javascript">
    $(document).ready(function () {
        var viewModel = ko.dataFor(document.getElementById("main"));
        if (typeof viewModel !== 'undefined' && viewModel !== null) {
            var admin = '@(ViewBag.IsAdmin != null && ViewBag.IsAdmin)';
            if (admin === "True") {
                viewModel.isAdmin(true);
            }
            else {
                viewModel.isAdmin(false);
            }
        }
    });
</script>