﻿<!-- Load Sample Dialog -->
<modal-dialog id="load-sample-plan-dialog" params="isVisible:dialogIsOpen, title: Ellucian.Programs.Resources.LoadSamplePlanDialogTitle, content:$data, defaultCloseOff:true,pureModal:true, buttons:[samplePlanCancelButton, samplePlanPreviewButton, samplePlanBackButton,samplePlanLoadButton ]">
    <div class="sample-plan-dialog-wrapper">
        <!-- Overview text -->
        <a class="ui-helper-hidden-accessible" tabindex="0" aria-label="@Resources.Advisors.StartOfLoadSamplePlanDialogAria " href="#"></a>
        <div data-bind="visible: !previewIsLoading() && !previewIsVisible()">
            <h4 data-bind="text: isProxyUser() == true ? '@Resources.Programs.UiLoadSamplePlanDialogProxyContent    ' : '@Resources.Programs.UiLoadSamplePlanDialogContent    '"></h4>
        </div>

        <!-- Select term to start sample plan -->
        <div id="sample-plan-terms" data-bind="visible: !previewIsLoading() && !previewIsVisible()">
            <span id="ui-load-sample-start-term">@Resources.Programs.UiLoadSampleStartTerm</span>
            <select class="esg-form__input esg-form__input--inline" aria-labelledby="ui-load-sample-start-term" data-bind="value: selectedTerm, options: planningTerms, optionsText: 'Description', optionsValue: 'Code', optionsCaption: '@Resources.Programs.UiLoadSamplePlanDialogSelectTerm    '"></select>
        </div>
        <!-- Select from enrolled programs -->
        <div class="student-programs" data-bind="visible: !previewIsLoading() && !previewIsVisible()">
            <span>@Resources.Programs.UiLoadSampleFromEnrolledPrograms</span>
           

            <div data-bind="foreach: StudentPrograms">
                <div class="student-programs-item-wrapper esg-radio">
                    <input type="radio" name="program" data-bind="attr: { id: $data.Code() + '_LoadSample'} , checked: $parent.SelectedProgram, checkedValue:$data" />
                <label data-bind="text: $data.Title(), attr: { 'for': $data.Code() + '_LoadSample' }">
                </label>
                </div>
            </div>

        </div>
        <!-- Select from other programs -->
        <div class="different-program" data-bind="visible: !previewIsLoading() && !previewIsVisible()">
            <span>@Resources.Programs.UiLoadSampleFromOtherPrograms</span>
            <label for="sample-plans-filter" class="field-label-hidden">@Resources.Programs.FilterProgramLabel</label>
            <input type="search" id="sample-plans-filter" />
            <ul data-bind="foreach: AllPrograms">
                <li class="sample-plan">
                    <input type="radio" name="program" data-bind="attr: { id: $data.Code() + '_LoadSampleSearch' }, checked: $parent.SelectedProgram, checkedValue: $data" />
                    <label data-bind="text: $data.Title(), attr: { 'for': $data.Code() + '_LoadSampleSearch' }">
                    </label>
                </li>
            </ul>
            <div id="sample-plan-filternoresults" class="filternoresults">@Resources.Programs.ProgramFilterNoMatches</div>
        </div>
        <!-- Add a div class for the preview pane, hide it by default, data bind it to the model from the controller DegreePlanModel, hide above divs when this shows -->
        <div class="preview-sample-plan" data-bind="visible: previewIsVisible">
            <h4>@Resources.Programs.UiPreviewSamplePlanDialogContext</h4>
            <h5 data-bind="text: SelectedProgramTitle"></h5>
            <ul data-bind="foreach: Terms">
                <li>
                    <table class="preview-terms-table">
                        <thead>
                            <tr>
                                <th scope="col" data-bind="text: Description"></th>
                                <th scope="col">
                                    @Resources.Programs.CompletedEnrolled
                                </th>
                                <th scope="col">
                                    @Resources.Programs.Credits
                                </th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: PlannedCourses">
                            <tr>
                                <td data-bind="text: $data.FullTitleDisplay"></td>
                                <td>
                                    <!-- ko if: ko.utils.unwrapObservable($data.AcademicHistory) -->
                                    <span class="checkmark">Yes</span>
                                    <!-- /ko -->
                                </td>
                                <td data-bind="text: $data.CreditsCeusDisplay"></td>
                            </tr>
                        </tbody>
                    </table>
                </li>
            </ul>
        </div>
        <div class="loading-preview" data-bind="visible: previewIsLoading">@Resources.Programs.UiLoadingPreviewSpinnerMessage</div>
    </div>

</modal-dialog>
