﻿@model String
<div class="clear-group">
    <div id="schedule-tabs">
        <div id="schedule-data">
            <!-- ko with: $data.currentTerm() -->
            <div class="section-header section-header-left">
                <!-- Term Selection -->
                <button id="schedule-prev-term" class="esg-button esg-button--secondary esg-button--small" data-bind="click: $root.SelectPreviousTerm, attr: {'aria-label': '@Resources.DegreePlans.PreviousTermAria', 'title': '@Resources.DegreePlans.PreviousTermAria', 'alt': '@Resources.DegreePlans.PreviousTermAria'}, enable: Code() !== $root.FirstTerm()"><span class="caret-left"></span></button>
                <button id="schedule-next-term" class="esg-button esg-button--secondary esg-button--small" data-bind="click: $root.SelectNextTerm, attr: {'aria-label': '@Resources.DegreePlans.NextTermAria    ', 'title': '@Resources.DegreePlans.NextTermAria    ', 'alt': '@Resources.DegreePlans.NextTermAria    '}, enable: Code() !== $root.LastTerm()"><span class="caret-right"></span></button>

                <span id="schedule-activeterm">
                    <span id="schedule-activeterm-text" data-bind="text: Description()"></span>
                </span>
                <button id="schedule-remove-term" class="esg-button esg-button--secondary esg-button--small" aria-label="@Resources.DegreePlans.RemoveTermAria" title="@Resources.DegreePlans.RemoveTermAria" alt="@Resources.DegreePlans.RemoveTermAria" data-bind="click: function() { $root.ShowRemoveTermDialog(); }, visible: $data.IsTermRemovable() === true && $root.canEdit() === true && $root.DegreePlan().Terms().length > 1 && ($data.IsTermProtected() === false || $root.isProxyUser() === true)"></button>
                <button type="button" id="schedule-add-term" class="esg-button esg-button--secondary esg-button--small" aria-label="@Resources.DegreePlans.AddTermAria" title="@Resources.DegreePlans.AddTermAria" data-bind="click: function() { $root.ShowAddTermDialog(); }, visible: $root.canEdit() === true && $root.DegreePlan().UnplannedTerms().length > 0 "></button>

                <div class="register-wrapper">
                    <div class="register-inner">
                        <button type="button" id="schedule-clear-term" class="esg-button esg-button--secondary esg-button--small" value="@Resources.DegreePlans.UIRemovePlannedCoursesButton" aria-label="@Resources.DegreePlans.ClearTermAria" title="@Resources.DegreePlans.ClearTermAria" alt="@Resources.DegreePlans.ClearTermAria" data-bind="click: function() {$root.ShowClearPlannedTermDialog(); }, visible: $root.canEdit() === true && $data.IsTermClearable() === true && ($data.IsTermProtected() === false || $root.isProxyUser())" >@Resources.DegreePlans.UIRemovePlannedCoursesButton</button>
                        <button type="button" id="register-button" class="esg-button esg-button--primary esg-button--small" value="@Resources.DegreePlans.UiRegisterButtonLabel" data-bind="visible: $root.showRegister() === true, click: $root.RegisterAllHandler, clickBubble:false, enable: $root.canRegister() === true" >@Resources.DegreePlans.UiRegisterButtonLabel</button>
                    </div>
                </div>

                <!-- Display the registration add time message -->
                <!-- ko with: $root.currentTermAddMessage -->
                <message params="isVisible: true, message: $data, addMargin: true, isSmall: true, type: 'info', button: { label: '@Resources.DegreePlans.RefreshRegistrationEligibility', labelAria: '@Resources.DegreePlans.RefreshRegistrationEligibilityMessage', callback: $parents[1].RefreshRegistrationEligibility.bind($parents[1], null) }"></message>
                <!-- /ko -->
                <!-- End registration add time message -->

                <hr id="register-hr" />

                <!-- Action Buttons in Header -->
                <!-- ko if: !$root.isProxyUser() -->
                <a id="toggle-section-filters" href="#" aria-label="Toggle Section Filter Options" data-bind="click: $parent.toggleSectionFilters, clickBubble: false, css: { 'filter-sections-collapsed': $data.showingFilters() == false, 'filter-sections-expanded': $data.showingFilters() == true }">
                    <div class="normal">@Resources.DegreePlans.FilterSectionsButton</div>
                    <div data-bind="css: { 'filter-expandicon': $data.showingFilters() == false, 'filter-collapseicon': $data.showingFilters() == true }">
                    </div>
                </a>
                <input type="button" id="print-schedule" value="@Resources.DegreePlans.SchedulePrintButton" data-bind="attr: {'aria-label': '@Resources.DegreePlans.SchedulePrintButtonAriaPrefix'+ $data.Description() }, click: $data.printSchedule" />
                <input type="button" id="save-ical" value="@Resources.DegreePlans.SaveIcal" data-bind="enable: $data.IsAcademicHistoryAvailable() === true && $data.IsTermCompleted() === false, click: $data.saveIcal, attr: {'aria-label': '@Resources.DegreePlans.ScheduleExportButtonAriaPrefix'+ $data.Description() }" />
                <!-- /ko -->
                <!-- Credits Display -->

                <div class="credit-total-wrapper">
                    <div class="schedule-credits">
                        <span class="schedule-credits-header">@Resources.DegreePlans.UiPlanned</span> <span class="schedule-credits-content" data-bind="text: $data.PlannedCreditsDisplay() + '@Resources.DegreePlans.CreditsLabel'"></span><span class="schedule-credits-content" data-bind="visible: $data.PlannedCeusDisplay() > 0, text: ', ' + $data.PlannedCeusDisplay() + '@Resources.DegreePlans.CeusLabel'"></span>
                    </div>
                    <div class="schedule-credits">
                        <span class="schedule-credits-header">@Resources.DegreePlans.UiEnrolled</span> <span class="schedule-credits-content" data-bind="text: $data.EnrolledCreditsDisplay() + '@Resources.DegreePlans.CreditsLabel'"></span><span class="schedule-credits-content" data-bind="visible: $data.EnrolledCeusDisplay() > 0, text: ', ' + $data.EnrolledCeusDisplay() + '@Resources.DegreePlans.CeusLabel'"></span>
                    </div>
                    <div class="schedule-credits">
                        <span class="schedule-credits-header">@Resources.DegreePlans.UiWaitlisted</span>
                        <span class="schedule-credits-content" data-bind="text: $data.WaitlistedCreditsDisplay() + '@Resources.DegreePlans.CreditsLabel'"></span><span class="schedule-credits-content" data-bind="visible: $data.WaitlistedCeusDisplay() > 0, text: ', ' + $data.WaitlistedCeusDisplay() + '@Resources.DegreePlans.CeusLabel'"></span>
                    </div>
                </div>
                <div class="clear-group"></div>
                <!-- Section Filters -->
                <div id="schedule-section-filters-wrapper" class="clear-group" data-bind="slide: $data.showingFilters(), duration: 100">
                    <ul id="filters-menu">

                        <!-- Availability -->
                        <li id="section-filter-availability-enabled" class="filters-menu-link clear-group" data-bind="visible: availabilityFilters().length > 0 && availabilityFilters()[0].Count() > 0">
                            <a class="filter-header-link filter-header-link-collapsed" data-bind="click: filterHeaderClickHandler, clickBubble: false" href="#" aria-label="@Resources.DegreePlans.FilterAvailabilityAria " title="@Resources.DegreePlans.FilterAvailabilityAria">
                                <div class="schedule-filter-header-outer">
                                    <div class="schedule-filter-header">
                                        @Resources.DegreePlans.FilterHeaderAvailability
                                        <div class="schedule-filter-current" data-bind="text: availabilityFiltersDisplay">
                                        </div>
                                        <div class="corner-caret">
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <ul class="filters-menu-filter" id="filter-availability-entries-wrapper" data-bind="foreach: availabilityFilters">
                                <li data-bind="visible: $data.Count() > 0">
                                    <a class="filter-link" href="#" data-bind="click: $root.filterClickHandler">
                                        <div class="availability-filter-option">
                                            <input type="checkbox" data-bind="attr: { value: $data.Value(), 'aria-label': '@Resources.DegreePlans.FilterAvailabilityItemAria' + $data.Description() }, checked: $data.Selected()" />
                                            <div class="filter-group">
                                                <span data-bind="text: $data.Description" class="filter-item"></span>@*<span data-bind="text: '(' + $data.Count() + ')'" class="filter-quantity"></span>*@
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="section-filter-availability-disabled" class="clear-group" data-bind="visible: availabilityFilters().length == 0 || availabilityFilters()[0].Count() == 0">
                            <a class="filter-header-link-disabled" href="#" aria-label="@Resources.DegreePlans.FilterAvailabilityAriaDisabled" title="@Resources.DegreePlans.FilterAvailabilityAriaDisabled">
                                <div class="schedule-filter-header-outer-disabled">
                                    <div class="schedule-filter-header">
                                        @Resources.DegreePlans.FilterHeaderAvailability
                                        <div class="schedule-filter-current">@Resources.DegreePlans.SectionFilterNoValueSelected</div>
                                        <div class="corner-caret">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!-- /Availability -->
                        <!-- Location -->
                        <li id="section-filter-location-enabled" class="filters-menu-link" data-bind="visible: locationFilters().length > 0">
                            <a class="filter-header-link filter-header-link-collapsed" data-bind="click: filterHeaderClickHandler, clickBubble: false" href="#" aria-label="@Resources.DegreePlans.FilterLocationAria" title="@Resources.DegreePlans.FilterLocationAria">
                                <div class="schedule-filter-header-outer">
                                    <div class="schedule-filter-header">
                                        @Resources.DegreePlans.FilterHeaderLocation
                                        <div class="schedule-filter-current" data-bind="text: locationFiltersDisplay">
                                        </div>
                                        <div class="corner-caret">
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <ul class="filters-menu-filter clear-group" id="filter-location-entries-wrapper" data-bind="foreach: locationFilters">
                                <li data-bind="visible: $data.Count() > 0">
                                    <a class="filter-link" href="#" data-bind="click: $root.filterClickHandler">
                                        <div class="location-filter-option">
                                            <input type="checkbox" data-bind="attr: { value: $data.Value(), 'aria-label': '@Resources.DegreePlans.FilterLocationItemAria ' + $data.Description() }, checked: $data.Selected()" />
                                            <div class="filter-group">
                                                <span data-bind="text: $data.Description" class="filter-item"></span>@*<span class="filter-quantity" data-bind="text: '(' + $data.Count() + ')'"></span>*@
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="section-filter-location-disabled" class="clear-group" data-bind="visible: locationFilters().length == 0">
                            <a class="filter-header-link-disabled" href="#" aria-label="@Resources.DegreePlans.FilterLocationAriaDisabled" title="@Resources.DegreePlans.FilterLocationAriaDisabled">
                                <div class="schedule-filter-header-outer-disabled">
                                    <div class="schedule-filter-header">
                                        @Resources.DegreePlans.FilterHeaderLocation
                                        <div class="schedule-filter-current">@Resources.DegreePlans.SectionFilterNoValueSelected</div>
                                        <div class="corner-caret">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!-- /Location -->
                        <!-- Days of Week -->
                        <li id="section-filter-dayofweek-enabled" class="filters-menu-link" data-bind="visible: dayOfWeekFilters().length > 0">
                            <a class="filter-header-link filter-header-link-collapsed" data-bind="click: filterHeaderClickHandler, clickBubble: false" href="#" aria-label="@Resources.DegreePlans.FilterDayOfWeekAria" title="@Resources.DegreePlans.FilterDayOfWeekAria">
                                <div class="schedule-filter-header-outer">
                                    <div class="schedule-filter-header">
                                        @Resources.DegreePlans.FilterHeaderDayOfWeek
                                        <div class="schedule-filter-current" data-bind="text: dayOfWeekFiltersDisplay">
                                        </div>
                                        <div class="corner-caret">
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <ul class="filters-menu-filter" id="filter-dayofweek-entries-wrapper" data-bind="foreach: dayOfWeekFilters">
                                <li data-bind="visible: $data.Count() > 0" class="clear-group">
                                    <a class="filter-link" href="#" data-bind="click: $root.filterClickHandler">
                                        <div class="dayofweek-filter-option">
                                            <input type="checkbox" data-bind="attr: { value: $data.Value(), 'aria-label': '@Resources.DegreePlans.FilterDayOfWeekItemAria ' + $data.Description() }, checked: $data.Selected()" />
                                            <div class="filter-group">
                                                <span data-bind="text: $data.Description()" class="filter-item"></span>@*<span data-bind="text: '(' + $data.Count() + ')'" class="filter-quantity"></span>*@
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="section-filter-dayofweek-disabled" class="clear-group" data-bind="visible: dayOfWeekFilters() == 0">
                            <a class="filter-header-link-disabled" href="#" aria-label="@Resources.DegreePlans.FilterDayOfWeekAriaDisabled " title="@Resources.DegreePlans.FilterDayOfWeekAriaDisabled">
                                <div class="schedule-filter-header-outer-disabled">
                                    <div class="schedule-filter-header">
                                        @Resources.DegreePlans.FilterHeaderDayOfWeek
                                        <div class="schedule-filter-current">@Resources.DegreePlans.SectionFilterNoValueSelected</div>
                                        <div class="corner-caret">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!-- /Days of Week -->
                        <!-- Time of Day -->
                        <li id="section-filter-timeofday-enabled" class="filters-menu-link" data-bind="visible: timeOfDayFilters().length > 0">
                            <a class="filter-header-link filter-header-link-collapsed" data-bind="click: filterHeaderClickHandler, clickBubble: false" href="#" aria-label="@Resources.DegreePlans.FilterTimeOfDayAria " title="@Resources.DegreePlans.FilterTimeOfDayAria">
                                <div class="schedule-filter-header-outer">
                                    <div class="schedule-filter-header">
                                        @Resources.DegreePlans.FilterHeaderTimeOfDay
                                        <div class="schedule-filter-current" data-bind="text: timeOfDayFiltersDisplay">
                                        </div>
                                        <div class="corner-caret">
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <ul class="filters-menu-filter" id="filter-timeofday-entries-wrapper" data-bind="foreach: timeOfDayFilters">
                                <li class="clear-group">
                                    <a class="filter-link" href="#" data-bind="click: $root.filterClickHandler">
                                        <div class="timeofday-filter-option">
                                            <input type="checkbox" data-bind="attr: { value: $data.Value(), 'aria-label': '@Resources.DegreePlans.FilterTimeOfDayItemAria ' + $data.Description() }, checked: $data.Selected()" />
                                            <div class="filter-group">
                                                <span data-bind="text: $data.Description()" class="filter-item"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="section-filter-timeofday-disabled" class="clear-group" data-bind="visible: timeOfDayFilters().length == 0">
                            <a class="filter-header-link-disabled" href="#" aria-label="@Resources.DegreePlans.FilterTimeOfDayAriaDisabled" title="@Resources.DegreePlans.FilterTimeOfDayAriaDisabled">
                                <div class="schedule-filter-header-outer-disabled">
                                    <div class="schedule-filter-header">
                                        @Resources.DegreePlans.FilterHeaderTimeOfDay
                                        <div class="schedule-filter-current">@Resources.DegreePlans.SectionFilterNoValueSelected</div>
                                        <div class="corner-caret">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!-- /Time of Day -->
                        <!-- Instructor -->
                        <li id="section-filter-instructor-enabled" class="filters-menu-link" data-bind="visible: facultyFilters().length > 0">
                            <a class="filter-header-link filter-header-link-collapsed" data-bind="click: filterHeaderClickHandler, clickBubble: false" href="#" aria-label="@Resources.DegreePlans.FilterInstructorAria " title="@Resources.DegreePlans.FilterInstructorAria">
                                <div class="schedule-filter-header-outer">
                                    <div class="schedule-filter-header">
                                        @Resources.DegreePlans.FilterHeaderInstructor
                                        <div class="schedule-filter-current" data-bind="text: facultyFiltersDisplay">
                                        </div>
                                        <div class="corner-caret">
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <ul class="filters-menu-filter" id="filter-instructor-entries-wrapper" data-bind="foreach: facultyFilters">
                                <li data-bind="visible: $data.Count() > 0" class="clear-group">
                                    <a class="filter-link" href="#" data-bind="click: $root.filterClickHandler">
                                        <div class="instructor-filter-option">
                                            <input type="checkbox" data-bind="attr: { value: $data.Value(), 'aria-label': '@Resources.DegreePlans.FilterInstructorItemAria ' + $data.Description() }, checked: $data.Selected()" />
                                            <div class="filter-group">
                                                <span data-bind="text: $data.Description()" class="filter-item"></span>@*<span data-bind="text: '(' + $data.Count() + ')'" class="filter-quantity"></span>*@
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="section-filter-instructor-disabled" class="clear-group" data-bind="visible: facultyFilters().length == 0">
                            <a class="filter-header-link-disabled" href="#" aria-label="@Resources.DegreePlans.FilterInstructorAriaDisabled" title="@Resources.DegreePlans.FilterInstructorAriaDisabled">
                                <div class="schedule-filter-header-outer-disabled">
                                    <div class="schedule-filter-header">
                                        @Resources.DegreePlans.FilterHeaderInstructor
                                        <div class="schedule-filter-current">@Resources.DegreePlans.SectionFilterNoValueSelected</div>
                                        <div class="corner-caret">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!-- /Instructor -->
                        <!-- Topic -->
                        <li id="section-filter-topic-enabled" class="filters-menu-link" data-bind="visible: topicFilters().length > 0 && topicFilters()[0].Count() > 0">
                            <a class="filter-header-link filter-header-link-collapsed" data-bind="click: filterHeaderClickHandler, clickBubble: false" href="#" aria-label="@Resources.DegreePlans.FilterAvailabilityAria" title="@Resources.DegreePlans.FilterAvailabilityAria">
                                <div class="schedule-filter-header-outer">
                                    <div class="schedule-filter-header">
                                        @Resources.DegreePlans.FilterHeaderTopic
                                        <div class="schedule-filter-current" data-bind="text: topicFiltersDisplay"></div>
                                        <div class="corner-caret"></div>
                                    </div>
                                </div>
                            </a>
                            <ul class="filters-menu-filter" id="filter-topic-entries-wrapper" data-bind="foreach: topicFilters">
                                <li data-bind="visible: $data.Count() > 0" class="clear-group">
                                    <a class="filter-link" href="#" data-bind="click: $root.filterClickHandler">
                                        <div class="topic-filter-option">
                                            <input type="checkbox" data-bind="attr: { value: $data.Value(), 'aria-label': '@Resources.DegreePlans.FilterAvailabilityItemAria' + $data.Description() }, checked: $data.Selected()" />
                                            <div class="filter-group">
                                                <span data-bind="text: $data.Description" class="filter-item"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="section-filter-topic-disabled" class="clear-group" data-bind="visible: topicFilters().length == 0">
                            <a class="filter-header-link-disabled" href="#" aria-label="@Resources.DegreePlans.FilterTopicAriaDisabled" title="@Resources.DegreePlans.FilterTopicAriaDisabled">
                                <div class="schedule-filter-header-outer-disabled">
                                    <div class="schedule-filter-header">
                                        @Resources.DegreePlans.FilterHeaderTopic
                                        <div class="schedule-filter-current">@Resources.DegreePlans.SectionFilterNoValueSelected</div>
                                        <div class="corner-caret">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!-- /Topic -->
                    </ul>
                </div>
            </div>

            @Html.Partial(Model)
            <!-- /ko -->
        </div>
    </div>
</div>
