﻿@*Copyright 2012-2014 Ellucian Company L.P. and its affiliates.*@
<section class="section-wrapper" style="display: none;" data-bind="visible: isLoaded()">
    <h3 class="section-header primary-header">@Resources.TestScores.AdmissionTestsHeader</h3>
    <!-- ko if: hasAdmissionTests() == false -->
    <div class="section-contents primary-contents">@Resources.TestScores.NoTestScoresMessage</div>
    <!-- /ko -->
    <!-- ko if: hasAdmissionTests() == true -->
    <div class="test-scores-spacer">
        <table class="test-scores-table">
            <thead>
                <tr>
                    <th class="test-score-name">@Resources.TestScores.TestScoreTableNameHeader</th>
                    <th class="test-score-taken">@Resources.TestScores.TestScoreTableDateTakenHeader</th>
                    <th class="test-score-score">@Resources.TestScores.TestScoreTableScoreHeader</th>
                    <th class="test-score-percentile">@Resources.TestScores.TestScoreTablePercentileHeader</th>
                    <th class="test-score-status">@Resources.TestScores.TestScoreTableStatusHeader</th>
                    <th class="test-score-status-date">@Resources.TestScores.TestScoreTableStatusDateHeader</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: AdmissionTests">
                <tr>
                    <td><div data-bind="css: 'test-score-' + TestType()"><span data-bind="text: Description()"></span></div></td>
                    <td><span data-bind="text: DateTaken()"></span></td>
                    <td><span data-bind="text: Score()"></span></td>
                    <td><span data-bind="text: Percentile()"></span></td>
                    <td>
                        <icon params="isVisible: StatusType() === 'accepted', size: 'xsmall', icon: 'check', color:'success'"></icon>
                        <icon params="isVisible: StatusType() === 'none', size: 'xsmall', icon: 'check', color:'warning'"></icon>
                        <icon params="isVisible: StatusType() === 'notational', size: 'xsmall', icon: 'info', color:'info'"></icon>
                        <icon params="isVisible: StatusType() === 'withdrawn', size: 'xsmall', icon: 'check', color:'info'"></icon>
                        <span class="test-status" data-bind="css: 'test-status--' + StatusType()"><span data-bind="text: Status()"></span></span>
                    </td>
                    <td><span data-bind="text: StatusDate()"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- /ko -->
    <h3 class="section-header primary-header">@Resources.TestScores.PlacementTestsHeader</h3>
    <!-- ko if: hasPlacementTests() == false -->
    <div class="section-contents primary-contents">@Resources.TestScores.NoTestScoresMessage</div>
    <!-- /ko -->
    <!-- ko if: hasPlacementTests() == true -->
    <div class="test-scores-spacer">
        <table class="test-scores-table">
            <thead>
                <tr>
                    <th class="test-score-name">@Resources.TestScores.TestScoreTableNameHeader</th>
                    <th class="test-score-taken">@Resources.TestScores.TestScoreTableDateTakenHeader</th>
                    <th class="test-score-score">@Resources.TestScores.TestScoreTableScoreHeader</th>
                    <th class="test-score-percentile">@Resources.TestScores.TestScoreTablePercentileHeader</th>
                    <th class="test-score-status">@Resources.TestScores.TestScoreTableStatusHeader</th>
                    <th class="test-score-status-date">@Resources.TestScores.TestScoreTableStatusDateHeader</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: PlacementTests">
                <tr>
                    <td><div data-bind="css: 'test-score-' + TestType()"><span data-bind="text: Description()"></span></div></td>
                    <td><span data-bind="text: DateTaken()"></span></td>
                    <td><span data-bind="text: Score()"></span></td>
                    <td><span data-bind="text: Percentile()"></span></td>
                    <td>
                        <icon params="isVisible: StatusType() === 'accepted', size: 'xsmall', icon: 'check', color:'success'"></icon>
                        <icon params="isVisible: StatusType() === 'none', size: 'xsmall', icon: 'check', color:'warning'"></icon>
                        <icon params="isVisible: StatusType() === 'notational', size: 'xsmall', icon: 'info', color:'info'"></icon>
                        <icon params="isVisible: StatusType() === 'withdrawn', size: 'xsmall', icon: 'check', color:'info'"></icon>
                        <span class="test-status" data-bind="css: 'test-status--' + StatusType()"><span data-bind="text: Status()"></span></span>
                    </td>
                    <td><span data-bind="text: StatusDate()"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- /ko -->
    <h3 class="section-header primary-header">@Resources.TestScores.OtherTestsHeader</h3>
    <!-- ko if: hasOtherTests() == false -->
    <div class="section-contents primary-contents">@Resources.TestScores.NoTestScoresMessage</div>
    <!-- /ko -->
    <!-- ko if: hasOtherTests() == true -->
    <div class="test-scores-spacer">
        <table class="test-scores-table">
            <thead>
                <tr>
                    <th class="test-score-name">@Resources.TestScores.TestScoreTableNameHeader</th>
                    <th class="test-score-taken">@Resources.TestScores.TestScoreTableDateTakenHeader</th>
                    <th class="test-score-score">@Resources.TestScores.TestScoreTableScoreHeader</th>
                    <th class="test-score-percentile">@Resources.TestScores.TestScoreTablePercentileHeader</th>
                    <th class="test-score-status">@Resources.TestScores.TestScoreTableStatusHeader</th>
                    <th class="test-score-status-date">@Resources.TestScores.TestScoreTableStatusDateHeader</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: OtherTests">
                <tr>
                    <td><div data-bind="css: 'test-score-' + TestType()"><span data-bind="text: Description()"></span></div></td>
                    <td><span data-bind="text: DateTaken()"></span></td>
                    <td><span data-bind="text: Score()"></span></td>
                    <td><span data-bind="text: Percentile()"></span></td>
                    <td>
                        <icon params="isVisible: StatusType() === 'accepted', size: 'xsmall', icon: 'check', color:'success'"></icon>
                        <icon params="isVisible: StatusType() === 'none', size: 'xsmall', icon: 'check', color:'warning'"></icon>
                        <icon params="isVisible: StatusType() === 'notational', size: 'xsmall', icon: 'info', color:'info'"></icon>
                        <icon params="isVisible: StatusType() === 'withdrawn', size: 'xsmall', icon: 'check', color:'info'"></icon>
                        <span class="test-status" data-bind="css: 'test-status--' + StatusType()"><span data-bind="text: Status()"></span></span>
                    </td>
                    <td><span data-bind="text: StatusDate()"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- /ko -->
</section>

