﻿@*Copyright 2013-2017 Ellucian Company L.P. and its affiliates.*@
<!-- ko if: $data.unscheduledSections().length > 0 ||  $data.unscheduledRegisteredSections().length > 0-->
<div class="section-header section-header-left no-meeting-time" aria-hidden="true"
    role="presentation">
    <span>@Resources.DegreePlans.UiUnscheduledSections</span>
</div>
<ul class="section-contents" aria-hidden="true" role="presentation" tabindex="-1">
    <!-- ko foreach: $data.unscheduledSections -->
    <li>
        <section class="schedule-unplanned-section">
            <div data-bind=" attr: { 'class': ($data.Section.Available() != null && $data.Section.Available() <= 0) ? 'schedule-unplanned-section-error' : '' }">
                <div class="schedule-unplanned-section-content">
                    <a href="#" data-bind="click: function(data, event) { showCourseOrSectionDetails({ course: $data, allowAdding: false, creditsOverride: $data.Credits(), canSkipWaitlist: $parents[1].canSkipWaitlist(), gradingTypeOverride: $data.GetGradingType()})}, clickBubble: false">
                        <span>
                            <span data-bind="text: $data.SubjectCode"></span>@Resources.DegreePlans.UiCourseDelimiter<span data-bind="text: $data.Number"></span>
                        </span>
                        <span data-bind="text: $data.Title"></span>
                        <span>@Resources.DegreePlans.UiSectionLabel</span><span data-bind="text: $data.Section.Number"></span>
                        <span data-bind="if: $data.Section.Faculty().length">
                            <span>@Resources.DegreePlans.UiFacultyLabel:</span>
                            <span data-bind="foreach:  $data.Section.Faculty()">
                                <span class="faculty-list" data-bind="text: $data"></span>
                            </span>
                        </span>
                    </a>
                    <span class="calendar-remove-event" data-bind="visible:$root.canEdit() && !($data.SectionWaitlistStatus() == '@Resources.DegreePlans.ScheduleWaitlistStatusActive' || $data.SectionWaitlistStatus() == '@Resources.DegreePlans.ScheduleWaitlistStatusPermissionToRegister')"><a href="#" class="ui-icon ui-icon-circle-close" data-bind="click: function() { $root.RemoveSectionClickHandler({sectionId: $data.Section.Id()}) }, attr: { 'title': '@Resources.DegreePlans.RemoveCourseTitleLabel' + $data.Section.Title(), 'aria-label': '@Resources.DegreePlans.RemoveCourseTitleLabel' + $data.SubjectCode() + '@Resources.DegreePlans.UiCourseDelimiter' + $data.Number() + '@Resources.DegreePlans.UiCourseDelimiter' + $data.Section.Number() + ' '}"></a></span>
                </div>
            </div>
        </section>
    </li>
    <!-- /ko -->
    <!-- ko foreach: $data.unscheduledRegisteredSections -->
    <li>
        <section class="schedule-unplanned-registered-section">
            <div>
                <div class="schedule-unplanned-registered-section-content">
                    <a href="#" data-bind="click: function(data, event) { showCourseOrSectionDetails({ course: $data, allowAdding: false, creditsOverride: $data.Credits(), canSkipWaitlist: $parents[1].canSkipWaitlist(), gradingTypeOverride: $data.GetGradingType()})}, clickBubble: false">
                        <span>
                            <span data-bind="text: $data.SubjectCode"></span>@Resources.DegreePlans.UiCourseDelimiter<span data-bind="text: $data.Number"></span>
                        </span>
                        <span data-bind="text: $data.Title"></span>
                        <span>@Resources.DegreePlans.UiSectionLabel</span><span data-bind="text: $data.Section.Number"></span>
                        <span data-bind="if: $data.Section.Faculty().length">
                            <span>@Resources.DegreePlans.UiFacultyLabel:</span>
                            <span data-bind="foreach:  $data.Section.Faculty()">
                                <span class="faculty-list" data-bind="text: $data"></span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>
        </section>
    </li>
    <!-- /ko -->
</ul>
<!-- /ko -->
