﻿<!-- What If dialog -->
<modal-dialog id="what-if-dialog" params="title:Ellucian.Programs.Resources.UiProgramsDialogTitle, isVisible:WhatIfDialogIsOpen, content:$data, defaultCloseOff:true, buttons:[whatIfViewProgramButton,whatIfCancelButton]">
    <div class="what-if-dialog-wrapper">
        <!-- Overview text -->
        <a class="ui-helper-hidden-accessible" tabindex="0" aria-label="@Resources.Advisors.StartOfWhatIfDialogAria " href="#"></a>
        <div>
            <h4>@Resources.Programs.UiWhatIfDialogContent</h4>
        </div>
        <!-- Select from fastest path related programs -->
        <div class="related-programs" data-bind="visible: RelatedProgramCodes().length > 0">
            <span data-bind="visible: !isProxyUser()">@Resources.Programs.UIWhatIfFastestPathPrograms</span>
            <span data-bind="visible: isProxyUser()">@Resources.Programs.UIWhatIfFastestPathProgramsAdvisor</span>
            <div data-bind="visible: !relatedProgramsAreLoading()">
                <table>
                    <thead>
                        <tr>
                            <th>@Resources.Programs.UIWhatIfRelatedProgramsText</th>
                            <th>@Resources.Programs.UIWhatIfRelatedProgressText</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: DisplayRelatedPrograms">
                        <tr>
                            <td>
                                <input type="radio" class="what-if-radio" name="program" data-bind="attr: { id: $data.Code() + '_WhatIf'} , checked: $parent.SelectedProgram, checkedValue: $data " />
                                <label data-bind="text: $data.Title(), attr: { 'for': $data.Code() + '_WhatIf' }">
                                </label>
                            </td>
                            <td>
                                <div class="completion-progressbar-wrapper" data-bind="jqProgressBar: { parts: ProgramCompletionProgress() }, attr: { 'aria-valuetext': CompletionProgressText()  }, tooltip: { position: 'top', message: CompletionProgressText()}">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a href="#" id="description-more-link" aria-label="See All Related Programs" data-bind="click: SetShowAllRelated, visible: !ShowAllRelatedPrograms() && RelatedPrograms().length > 3 ">@Resources.Programs.UiDescriptionMoreLink</a>
            </div>
            <div class="dialog-throbber-wrapper" data-bind="visible: relatedProgramsAreLoading()">
                <div class="esg-spinner">
                </div>
                <div class="loading-related-programs">@Resources.Programs.UiLoadingRelatedProgramsMessage</div>
            </div>
            <div class="empty-related-programs" data-bind="visible: !relatedProgramsAreLoading() && DisplayRelatedPrograms().length == 0">@Resources.Programs.UINoRelatedProgramsError</div>
        </div>
        <!-- filter for program list -->
        <div class="different-programs">
            <span data-bind="visible: RelatedProgramCodes().length === 0">@Resources.Programs.FilterProgramLabel</span><span data-bind="visible: RelatedProgramCodes().length > 0">@Resources.Programs.UiWhatIfFromOtherPrograms</span>
            <label for="programs-filter" class="field-label-hidden">@Resources.Programs.FilterProgramLabel</label>
            <input type="search" id="programs-filter" />
            <ul class="programs">
                <li class="requirements-loading-programs" data-bind="visible: AllPrograms().length === 0">
                    <div class="esg-spinner"></div>
                </li>
                <!-- ko foreach: AllPrograms -->
                <li class="program">
                    <input type="radio" class="what-if-radio" name="program" data-bind="attr: { id: $data.Code() + '_WhatIf' } , checked: $parent.SelectedProgram,  checkedValue: $data" />
                    <label data-bind="text: $data.Title(), attr: { 'for': $data.Code() + '_WhatIf' }">
                    </label>
                </li>
                <!-- /ko -->
            </ul>
            <div id="programs-filternoresults" class="filternoresults">@Resources.Programs.ProgramFilterNoMatches</div>
        </div>
    </div>

</modal-dialog>
