﻿<!-- Copyright 2015 Ellucian Company L.P. and its affiliates. -->

<modal-dialog params="isVisible: editDialogIsDisplayed, title: '@Resources.PersonProxyResources.EditProxyAccessTitle', content: $data, defaultCloseOff: true, buttons: [cancelEditProxyAccessButton, saveEditProxyAccessButton]">

    <!-- ko with: proxyUserBeingChanged()-->
    <!-- Edit Proxy Access Information -->
    <div id="edit-proxy-section-content">
        <!-- Proxy Name -->
        <div id="edit-proxy-name" class="esg-form__group">
            <span class="esg-form__label" id="edit-proxy-name-field-label">@Resources.PersonProxyResources.ProxyNameLabel</span>
            <span id="edit-proxy-name-field" aria-labelledby="edit-proxy-name-field-label" data-bind="text: Name" />
        </div>
        <!-- End Proxy Name -->
        <!-- Proxy Being Changed Information -->
        @Html.Partial("ProxyPermissionPartial")
        <!-- End Proxy Being Changed Information -->
    </div>
    <!-- End Edit Proxy Access Information -->
    <!-- /ko -->
</modal-dialog>