﻿<!-- Copyright 2015-2017 Ellucian Company L.P. and its affiliates. -->
<!-- Load CSS and JavaScript files -->
@section scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/proxyscripts")
}

<div class="clear-group">
    <div id="page-description" class="column-five">
        <h2>@Resources.Navigation.PersonProxyLink</h2>
    </div>
</div>
<div class="column-nine" style="display: none" data-bind="visible: true">
    <!-- Loading Throbber -->
    <spinner params="isVisible: !showUI(), message: '@Resources.PersonProxyResources.LoadingDataSpinnerMessage'"></spinner>
    <!-- End Loading Throbber -->
    <!-- ko if: PersonProxyIsEnabled() -->
    <message id="proxy-form-header-message" params="isVisible: ProxyFormHeaderText(), message: ProxyFormHeaderText()"></message>
    <!-- /ko -->
    <!-- ko if: !PersonProxyIsEnabled() -->
    <message id="proxy-disabled-message" params="isVisible: true, message: '@Resources.PersonProxyResources.ProxyFunctionalityDisabledMessage'">
    </message>
    <!-- /ko -->

    <section class="section-wrapper" data-bind="visible: showUI()">
        <div id="person-proxy">

            <!-- Person Proxy Content -->
            <div id="person-proxy-content">
                <!-- ko if: PersonProxyIsEnabled() -->
                <!-- ko if: hasAvailableProxies-->
                <!-- Proxy Data -->
                <!-- Active Proxies Section -->
                <section id="active-proxies-section" class="sub-section-wrapper">
                    <!-- Active Proxy Section Header -->
                    <section id="active-proxies-section-header" class="section-header section-header-left">
                        <h3>@Resources.PersonProxyResources.ActiveProxiesHeadingLabel</h3>
                    </section>
                    <!-- End Active Proxy Section Header -->
                    <!-- Active Proxy Content -->
                    <section id="active-proxies-section-content" class="primary-contents section-contents" title="@Resources.PersonProxyResources.ActiveProxiesHeadingLabel">
                        <!-- No Active Proxies Message -->
                        <message id="no-active-proxies-message" params="isVisible: !hasActiveProxies(), message: noActiveProxiesMessage()">
                        </message>
                        <!-- End No Active Proxies Message -->
                        <!-- Reauthorization Needed Message -->
                        <!-- ko if: ReauthorizationIsNeeded() -->
                        <div id="proxy-reauthorization-needed-message" class="errorArea">
                            <span data-bind="html: ReauthorizationText()"></span>
                            <br />
                            <br />
                            <input type="button" class="esg-button esg-button--secondary" id="reauthorize-access" data-bind="click: $root.openReauthorizationDialog, value: $root.reauthorizationButtonLabel" />
                        </div>
                        <!-- /ko -->
                        <!-- End Reauthorization Needed Message -->
                        <!-- Active Proxy Information -->
                        <table id="active-proxies" data-bind="visible: hasActiveProxies()">
                            <thead>
                                <tr>
                                    <th class="esg-table-head__th--no-border">@Resources.PersonProxyResources.ProxyNameLabel</th>
                                    <th>@Resources.PersonProxyResources.ProxyAccessLabel</th>
                                    <th>@Resources.PersonProxyResources.ProxyRelationshipLabel</th>
                                    <th>@Resources.PersonProxyResources.EffectiveDateLabel</th>
                                    <td><span class="offScreen">@Resources.PersonProxyResources.EditButtonTitle</span></td>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: activeProxyUsers()">
                                <tr>
                                    <td>
                                        <profile-photo params="id: Id, altText: '@Resources.PersonProxyResources.ProxyPhotoTitleText', size: 'small', usedInTable: true"></profile-photo>
                                        <span class="proxy-name bold" data-bind="text: Name"></span>
                                        <!-- ko if: $root.isMobile() && canEditAccess -->
                                        <button class="edit-button no-styles" title="@Resources.PersonProxyResources.EditButtonTitle" aria-label="@Resources.PersonProxyResources.EditButtonAriaLabel" data-bind="click: $root.editProxyAccess">
                                            <span class="offScreen">@Resources.PersonProxyResources.EditButtonAriaLabel</span>
                                        </button>
                                        <!-- /ko -->
                                    </td>
                                    <td class="permissions" data-bind="foreach: PermissionGroups">
                                        <!-- ko if: isVisible-->
                                        <div class="access-granted" data-bind="text: Name"></div>
                                        <!-- /ko -->
                                    </td>
                                    <td data-bind="text: Relationship"></td>
                                    <td>
                                        <!-- ko ifnot: IsCandidate-->
                                        <!-- ko if: ReauthorizationIsNeeded-->
                                        <span class="offScreen">@Resources.PersonProxyResources.ReauthorizationNeededAria</span>
                                        <a href="#proxy-reauthorization-needed-message" aria-label="@Resources.PersonProxyResources.ReauthorizeActionLinkAria" class="action-required" data-bind="text: ActionRequiredText"></a>
                                        <!-- /ko -->
                                        <!-- ko ifnot: ReauthorizationIsNeeded-->
                                        <div data-bind="date: EffectiveDate"></div>
                                        <!-- /ko -->
                                        <!-- /ko -->
                                        <!-- ko if: IsCandidate-->
                                        <div class="pending-proxy" data-bind="text: '@Resources.PersonProxyResources.PendingText'"></div>
                                        <!-- /ko -->
                                    </td>
                                    <td data-bind="visible: !$root.isMobile()">
                                        <!-- ko if: canEditAccess -->
                                        <button class="edit-button no-styles" title="@Resources.PersonProxyResources.EditButtonTitle" data-bind="click: $root.editProxyAccess">
                                            <span class="offScreen" data-bind="text: editButtonAriaText()"></span>
                                        </button>
                                        <!-- /ko -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- End Active Proxy Information -->

                    </section>
                    <!-- End Active Proxy Content -->

                </section>
                <!-- End Active Proxies Section -->
                <!-- Add a Proxy Section -->
                <section id="add-proxy-section" data-bind="visible: hasUnassignedProxies()">

                    <!-- Add a Proxy Section Header -->
                    <section id="add-proxy-section-header" class="section-header">
                        <h3>@Resources.PersonProxyResources.AddAProxyHeadingLabel</h3>
                    </section>
                    <!-- End Add a Proxy Section Header -->
                    <!-- Proxy Form Header Message -->
                    <section id="add-proxy-header-text" class="primary-contents section-contents" data-bind="visible: AddProxyHeaderText()">
                        <message id="add-proxy-header-message" params="isVisible: true, message: AddProxyHeaderText()">
                        </message>
                    </section>
                    <!-- End Proxy Form Header Message -->
                    <!-- Add a Proxy Section Content -->
                    <section id="add-proxy-section-content" class="primary-contents section-contents" title="@Resources.PersonProxyResources.AddAProxyHeadingLabel">
                        <!-- ko if: AnyPermissionsEnabled() -->
                        <!-- New Proxy Name -->
                        <div class="esg-row esg-row--eq-height">
                            <div id="add-proxy-name" class="esg-col-xs-12 esg-col-sm-6 esg-col-md-6 esg-col-lg-4 esg-form__group">
                                <label class="esg-form__label" for="add-proxy-name-field">@Resources.PersonProxyResources.SelectAProxyLabel</label>
                                <select id="add-proxy-name-field" class="esg-form__input" data-bind="options: unassignedProxyUsers(),
                                                                                            optionsText: 'Name' ,
                                                                                            optionsCaption: personProxyAddProxyDropdownCaptionText,
                                                                                            optionsValue: 'Id' ,
                                                                                            value: selectedProxyId,
                                                                                            event: { change: resetAddProxySection }"></select>
                            </div>
                        </div>
                        <!-- End New Proxy Name -->
                        <!-- New Proxy Information -->
                        <div data-bind="with: selectedProxy" id="add-a-proxy-detail">
                            <form autocomplete="off">
                                @Html.Partial("ProxyPermissionPartial")
                            </form>
                        </div>
                        <div id="proxy-consent" data-bind="visible: selectedProxy() && selectedProxy().CanReceiveProxyAccess() && DisclosureAgreementText">
                            <div id="no-consent-given-message">
                                <message params="isVisible: $root.searchCriteriaInvalid() && !$root.consentGiven(), message: '@Resources.PersonProxyResources.NoConsentGivenMessage', type: 'error'"></message>
                            </div>
                            <h4 class="label bold" id="proxy-disclosure-text-label">@Resources.PersonProxyResources.ProxyDisclosureAgreementLabel</h4>
                            <div id="proxy-disclosure-field" aria-labelledby="proxy-disclosure-text-label" data-bind="html: DisclosureAgreementText"></div>
                            <div class="esg-checkbox">
                                <input type="checkbox" id="proxy-disclosure-consent"
                                       data-bind="checked: consentGiven" />
                                <label id="proxy-disclosure-consent-label" for="proxy-disclosure-consent">@Resources.PersonProxyResources.ProxyDisclosureConsentText</label>
                            </div>
                        </div>
                        <!-- End New Proxy Information -->
                        <!-- /ko -->
                        <!-- ko ifnot: AnyPermissionsEnabled() -->
                        <!-- No Proxy Workflows Enabled Message -->
                        <message id="no-workflows-enabled-message" param="isVibible: true, message: '@Resources.PersonProxyResources.NoProxyWorkflowsEnabledMessage'">
                        </message>
                        <!-- End Proxy Workflows Enabled Message -->
                        <!-- /ko -->

                    </section>
                    <!-- End Add a Proxy Section Content -->
                    <!-- Add a Proxy Section Footer -->
                    <div class="button-bar" data-bind="with: selectedProxy, visible: selectedProxy">
                        <!-- ko if: $root.selectedProxyId() !== 'NEWPERSON'-->
                        <button id="save-changes-button" class="esg-button esg-button--primary" name="UpdateProxyInformation" type="submit" aria-label="@Resources.PersonProxyResources.SaveButtonAria"
                               value="@Resources.PersonProxyResources.SaveButtonLabel" data-bind="disable: $root.disableSubmit, click: $root.updateProxyInformation, attr: { 'aria-disabled': $root.disableSubmit }">@Resources.PersonProxyResources.SaveButtonLabel</button>
                        <!-- /ko -->
                        <!-- ko ifnot: $root.selectedProxyId() !== 'NEWPERSON'-->
                        <button id="search-button" class="esg-button esg-button--primary" name="SearchForMatches" type="submit" aria-label="@Resources.PersonProxyResources.SearchButtonAria"
                               value="@Resources.PersonProxyResources.SearchButtonLabel" data-bind="disable: $root.disableSubmit, click: $root.startSearchWorkflow, attr: { 'aria-disabled': $root.disableSubmit }">@Resources.PersonProxyResources.SearchButtonLabel</button>
                        <!-- /ko -->
                        <button id="cancel-changes-button" class="esg-button esg-button--secondary" name="CancelPendingChanges" type="submit" aria-label="@Resources.PersonProxyResources.CancelButtonAria"
                               value="@Resources.PersonProxyResources.CancelButtonLabel" data-bind="click: $root.cancelChanges" enabled >@Resources.PersonProxyResources.CancelButtonLabel</button>
                    </div>
                    <!-- End Add a Proxy Section Footer -->

                </section>
                <!-- End Add a Proxy Section -->
                <!-- End Proxy Data -->
                <!-- /ko -->
                <!-- ko ifnot: hasAvailableProxies-->
                <section id="no-available-proxies-section" class="primary-contents section-contents sub-section-wrapper section-wrapper-top-border">

                    <!-- No Available Proxies Message -->
                    <message id="proxy-disabled-message" params="isVisible:true, message: '@Resources.PersonProxyResources.NoAvailableProxiesMessage'">
                    </message>
                    <!-- End No Available Proxies Message -->

                </section>
                <!-- /ko -->
                <!-- /ko -->
            </div>
            <!-- End Person Proxy Content -->
            <!-- Updating Proxy Access Spinner -->
            <modal-spinner id="loading" params="isVisible: isUpdating, message: actionThrobberMessage"></modal-spinner>

            <!-- End Updating Proxy Access Spinner -->
            <!-- Loading Edit Proxy Access Modal Dialog Spinner -->
            <modal-spinner id="loading" params="isVisible: editDialogIsLoading, message: editFormThrobberMessage"></modal-spinner>

            <!-- End Loading Edit Proxy Access Modal Dialog Spinner -->
            <!-- Proxy Search Results Modal Dialog Spinner -->
            <modal-spinner id="loading" params="isVisible: searchResultsDialogIsLoading, message: searchingThrobberMessage"></modal-spinner>

            <!-- End Proxy Search Results Modal Dialog Spinner -->
            <!-- Proxy Search Results Modal Dialog Spinner -->
            <modal-spinner id="loading" params="isVisible: reauthorizationProcessing, message: reauthorizingThrobberMessage"></modal-spinner>

            <!-- End Proxy Search Results Modal Dialog Spinner -->
            <!-- Edit Proxy Access Modal Dialog -->
            @Html.Partial("EditProxyAccess")
            <!-- End Edit Proxy Access Modal Dialog -->
            <!-- Proxy Search Results Modal Dialog -->
            @Html.Partial("ProxySearchResultsDialogPartial")
            <!-- End Proxy Search Results Modal Dialog -->
            <!-- Reauthorization Disclosure Modal Dialog -->
            @Html.Partial("ReauthorizationDialogPartial")
            <!-- End Reauthorization Disclosure Modal Dialog -->
            <!-- Verify Password Modal Dialog -->
            @Html.Partial("_VerifyPasswordDialogPartial")
            <!-- End Verify Password Modal Dialog -->

        </div>
    </section>
</div>

