﻿<!-- Copyright 2015-2016 Ellucian Company L.P. and its affiliates. -->
<div id="proxy-banner" class="proxy-banner" data-bind="stick: { mobile: isMobile(), ignoreProxy: false }">
    <div class="content-wrapper">
        @string.Format(Resources.PersonProxyResources.ProxyBannerMessage, CurrentUser.FormattedName, CurrentUser.ProxySubjects.First().FormattedName)
        <input id="change-user-button" class="esg-button esg-button--secondary" type="button" aria-label="@Resources.PersonProxyResources.ChangeProxySubjectAriaLabel"
               value="@Resources.PersonProxyResources.ChangeProxySubjectButtonLabel"
               data-bind="click: changeProxySubject" />
    </div>
</div>
