﻿<!-- Copyright 2015-2016 Ellucian Company L.P. and its affiliates. -->
<modal-dialog params="id: 'proxy-search-results-dialog', title: '@Resources.PersonProxyResources.ProxySearchResultsTitle', content: $data, isVisible: searchResultsDialogIsDisplayed, buttons: [submitPersonSearchDialogButton]">
    <!-- ko with: searchResults() -->
    <div id="add-proxy-search-results">
        <h4 data-bind="text: Message()"></h4>
    </div>
    <!-- /ko -->
</modal-dialog>

