﻿<!-- Copyright 2015-2017 Ellucian Company L.P. and its affiliates. -->
<div class="esg-row esg-row--eq-height">
    <!-- ko if: Id() === 'NEWPERSON' -->
    <!-- ko foreach: DemographicInformation() -->
    <div class="esg-col-xs-12 esg-col-sm-6 esg-col-md-6 esg-col-lg-4" data-bind="template: { name: 'data-entry-field', data: $data }, visible: IsVisible()"></div>
    <!-- /ko -->
    <!-- /ko -->
    <!-- Proxy Email (Existing Relationship) -->
    <!-- ko ifnot: Id() === 'NEWPERSON' -->
    <!-- ko if: HasEmailAddress() -->
    <div id="proxy-email" class="proxy-detail-row esg-col-xs-12 esg-col-sm-6 esg-col-md-6 esg-col-lg-4 esg-form__group">
        <div class="esg-form__label" id="proxy-email-field-label">@Resources.PersonProxyResources.ProxyEmailAddressLabel</div>
        <div id="proxy-email-field" class="esg-form__text" aria-labelledby="proxy-email-field-label" data-bind="text: Email()"></div>
    </div>
    <!-- /ko -->
    <!-- ko ifnot: HasEmailAddress() -->
    <!-- ko foreach: DemographicInformation() -->
    <div class="esg-col-xs-12 esg-col-md-6 esg-col-lg-4" data-bind="template: { name: 'data-entry-field', data: $data }, visible: IsVisible()"></div>
    <!-- /ko -->
    <!-- /ko -->
    <!-- /ko -->
    <!-- End Proxy Email (Existing Relationship) -->
    <!-- Proxy Relationship -->
    <div id="proxy-relationship" class="esg-form__group esg-col-xs-12 esg-col-sm-6 esg-col-md-6 esg-col-lg-4">
        <span class="esg-form__label" id="proxy-relationship-field-label" data-bind="css: {'esg-is-required': Id() === 'NEWPERSON'}">
            @Resources.PersonProxyResources.ProxyRelationshipLabel
        </span>
        <!-- ko if: Id() === 'NEWPERSON' -->
        <select id="proxy-relationship-field" class="esg-form__input" aria-labelledby="proxy-relationship-field-label" data-bind="disable: Id() !== 'NEWPERSON',
                        options: $root.RelationshipTypes(),
                        optionsText: 'Description' ,
                        optionsCaption: Id() !== 'NEWPERSON' ? null : personProxyAddProxyDropdownCaptionText,
                        optionsValue: 'Code',
                        value: Relationship,
                        css:{ 'required-input': $root.searchCriteriaInvalid() && !Relationship.isValid() }"></select>
        <!-- /ko -->
        <!-- ko if: Id() !== 'NEWPERSON' -->
        <div id="proxy-relationship-field" class="esg-form__text" aria-labelledby="proxy-relationship-field-label" data-bind="text: Relationship"></div>
        <!-- /ko -->
        <!-- ko if: Id() === 'NEWPERSON' -->
        <div data-bind="visible: Relationship.isModified() && !Relationship.isValid()">
            <div class="required" data-bind="validationMessage: Relationship"></div>
        </div>
        <!-- /ko -->
    </div>
</div>

<!-- End Proxy Relationship -->
<!-- Proxy Permissions -->
<div id="proxy-permissions" data-bind="visible: CanReceiveProxyAccess()">
    <div class="esg-row esg-row--eq-height">
        <fieldset class="esg-col-xs-12 esg-col-sm-6 esg-col-md-6 esg-col-lg-4">
            <legend data-bind="attr: { id: $parent.Id() + '-proxy-permissions-field-label'}, css: { 'esg-is-required': Id() === 'NEWPERSON'}">
                @Resources.PersonProxyResources.ProxyPermissionsLabel
            </legend>
            <div class="esg-radio">
                <input type="radio" name="access-level" id="complete-access" value="complete" data-bind="checked: accessLevel" />
                <label for="complete-access">@Resources.PersonProxyResources.AllowCompleteAccessButtonLabel</label>
            </div>
            <div class="esg-radio">
                <input type="radio" name="access-level" id="select-access" value="select" data-bind="checked: accessLevel" />
                <label for="select-access">@Resources.PersonProxyResources.AllowSelectAccessButtonLabel</label>
            </div>
            <!-- ko if: $root.proxyUserBeingChangedId()-->
            <div class="esg-radio">
                <input type="radio" name="access-level" id="no-access" value="none" data-bind="checked: accessLevel" />
                <label for="no-access">@Resources.PersonProxyResources.RemoveAllAccessButtonLabel</label>
            </div>
            <!-- /ko -->
        </fieldset>
    </div>
    <div id="at-least-one-workflow-message">
        <message params="isVisible: $root.searchCriteriaInvalid() && $root.noPermissionsAssigned, message: '@Resources.PersonProxyResources.AtLeastOneWorkflowRequiredMessage', type: 'error'"></message>
    </div>
    <div id="proxy-permissions-field" class="esg-row esg-row--eq-height" data-bind="attr: { 'aria-labelledby': $parent.Id() + '-proxy-permissions-field-label'}, foreach: PermissionGroups()">
        <div class="esg-col-xs-12 esg-col-sm-6 esg-col-md-6 esg-col-lg-6 proxy-perm-group">
            <div class="permission-header section-header clear-group" data-bind="attr: { id: Id() + '-proxy-permissions'}">
                <div class="inline-block">
                    <span data-bind="text: Name()"></span>
                    <span class="esg-icon__container--outline filter-help-icon" data-bind="tooltip: { position: 'top', message: permissionGroupTooltipText(), zIndex: '1211' }" tabindex="0">
                        <svg class="esg-icon esg-icon--xsmall">
                            <use xlink:href="#icon-info"></use>
                        </svg>
                    </span>
                </div>
                <div class="select-all-container float-right clear-group">
                    <fieldset data-bind="visible: displaySelectAll()">
                        <legend class="offScreen" data-bind="text: 'Select All button for ' + Name() + ' Workflows'"></legend>
                        <label class="bold" data-bind="attr: { for: $parent.Id() + '-' + Id() + '-select-all' }">@Resources.PersonProxyResources.SelectAllLabel</label>
                        <input type="checkbox" name="permission-select-all"
                               data-bind="noParentBubbling: {},disable: disableSelectAll, checked: selectAll, attr: { id: $parent.Id() + '-' + Id() + '-select-all' }, value: 'SelectAll-' + Id()" />
                    </fieldset>
                </div>
            </div>
            <div class="proxy-permissions-container">
                <fieldset class="section-contents primary-contents">
                    <legend class="offScreen" data-bind="text: Name() + ' Workflows'"></legend>
                    <ul data-bind="attr: { class: Id() + '-permissions' }">
                        <!-- ko foreach: Permissions -->
                        <!-- ko if: isVisible() -->
                        <li class="clear-group">
                            <label class="esg-form__label" data-bind="text: Name, attr: { for: $parent.Id() + '-' + Id() }"></label>
                            <input class="float-right" type="checkbox" name="permission-item" value="Item"
                                   data-bind="disable: isDisabled(), checked: IsAssigned, attr: { id: $parent.Id() + '-' + Id() }" />

                        </li>
                        <!-- /ko -->
                        <!-- /ko -->
                    </ul>
                </fieldset>
            </div>
        </div>
    </div>
</div>
<!-- End Proxy Permissions -->
@Html.Partial("_DataEntryField")
