﻿<!-- Copyright 2015 Ellucian Company L.P. and its affiliates. -->
<div class="proxy-selection-dialog-wrapper">

    <!-- Loading Proxy Picker Spinner -->
    <modal-spinner id="loading-proxy-picker" params="isVisible: proxySelectionDialogIsLoading, message: loadingMessage"></modal-spinner>

    <!-- End Loading Proxy Picker Spinner -->
    <!-- Changing Proxy Picker Spinner -->
    <modal-spinner id="changing-proxy-picker" params="isVisible: changingProxyUsers, message: changingUserMessage"></modal-spinner>

    <!-- End Changing Proxy Picker Spinner -->

    <modal-dialog style="display: none;" id="proxy-selection-dialog" params="title: '@Resources.PersonProxyResources.PersonProxyPageTitle', isVisible: proxySelectionDialogIsDisplayed, content: $data, buttons: [cancelProxySelectionButton, saveProxySelectionButton], defaultCloseOff: true">
        <fieldset>
            <legend>
                <span aria-hidden="true">@Resources.Navigation.WelcomeMessage</span>
                <span>@Resources.PersonProxyResources.PleaseSelectUserText</span>
            </legend>
            <!-- ko foreach: ProxySubjects -->
            <label class="proxy-subject-container" data-bind="css: { unavailable: ReauthorizationIsNeeded, selected: $root.selectedProxySubject() != null ? $root.selectedProxySubject().Id() === $data.Id() : false}">
                <input class="buttonless" type="radio" name="user" data-bind="checked: $root.selectedProxySubject, value: $data, disable: ReauthorizationIsNeeded" />
                <profile-photo params="id: $data.Id, altText: '@Resources.PersonProxyResources.ProxyPhotoTitleText', size: 'medium'"></profile-photo>
                <span class="proxy-subject-name" data-bind="text: $data.FullName()"></span>
                <!-- ko if: ReauthorizationIsNeeded -->
                <span class="float-right pending-proxy reauthorization-required">Reauthorization Required</span>
                <!-- /ko -->
                <span class="offScreen" role="presentation" data-bind="attr: { 'aria-hidden': $index() !== 0}, visible: $index() === 0">
                    @Resources.PersonProxyResources.ThisIsYouText
                </span>
            </label>
            <!-- ko if: $index() === 0 -->
            <div class="proxy-ribbon" aria-hidden="true">@Resources.PersonProxyResources.ThisIsYouRibbonLabel</div>
            <div class="proxy-ribbon-shadow"></div>
            <!-- /ko -->
            <!-- /ko -->
        </fieldset>
    </modal-dialog>
</div>
