﻿<!-- Copyright 2016 Ellucian Company L.P. and its affiliates. -->
<modal-dialog params="isVisible: reauthorizationDialogIsDisplayed, content: $data, title: '@Resources.PersonProxyResources.ProxyDisclosureAgreementLabel', buttons: [saveReauthorizeProxyAccessButton]">
    <div id="proxy-disclosure-reauth-field" aria-labelledby="proxy-reauthorization-text-label" data-bind="html: DisclosureAgreementText"></div>
    <input type="checkbox" id="proxy-reauthorization-consent" data-bind="checked: reauthorizationConsentGiven" />
    <label id="proxy-reauthorization-consent-label" for="proxy-reauthorization-consent">@Resources.PersonProxyResources.ProxyDisclosureConsentText</label>
</modal-dialog>
