﻿@* Copyright 2016 Ellucian Company L.P. and its affiliates. *@
@model Ellucian.Web.Student.Models.PreferencesModel
@using Ellucian.Web.Mvc.Menu
@using Ellucian.Web.Mvc.Models;
@{
    Site site = DependencyResolver.Current.GetService<ISiteService>().Get(this.CurrentUser);
}


@helper renderLevel(IEnumerable<MenuItemBase> items, string pageGroupLabel)
{
    if (items.Where(i => i.ItemType == Ellucian.Web.Mvc.Domain.Entities.MenuItemType.Page).Any())
    {
        <optgroup label="@(string.IsNullOrEmpty(pageGroupLabel) ? "General" : pageGroupLabel)">
            @foreach (var item in items.Where(i => i.ItemType == Ellucian.Web.Mvc.Domain.Entities.MenuItemType.Page))
            {
                var page = ((MenuItemPage)item).Page;
                if (!page.Hidden)
                {
                    <option value="@page.Id">@page.Label</option>
                }
            }
        </optgroup>
    }
    foreach (var s in items.Where(i => i.ItemType == Ellucian.Web.Mvc.Domain.Entities.MenuItemType.Menu))
    {
        var sm = ((MenuItemMenu)s).Menu;
        if (!sm.Hidden)
        {
            @renderLevel(sm.Items, sm.Label)
        }
    }
}


<div class="section-wrapper no-section-mobile-padding">
    <h3 class="section-header primary-header">
        @Resources.UserProfile.LandingPageHeader
    </h3>
    <section class="section-contents primary-contents clear-group">
        <div id="landing-page-fields" class="column-four">
            <p>@Resources.UserProfile.LandingPageInstructions</p>
            <br />
            <label for="landing-page-input" class="offScreen">@Resources.UserProfile.SelectedLandingPageLabel</label>
            <select class="esg-form__input esg-form__input--inline" form="preferences" id="landing-page-input" name="landingPage" data-bind="value: Homepage, visible: !isWaiting()">
                @if (site.Pages.Any())
                {
                    <option value="">@Resources.UserProfile.LandingPageUnselectedOptionText</option>
                }
                @foreach (var m in site.Menus.Where(m => !m.Hidden))
                {
                    @renderLevel(m.Items, m.Label)
                }
            </select>
        </div>
        <div id="landing-page-diagram-div" class="column-five float-right">
            <img alt="landing page diagram" src="@Url.Content("~/Content/Images/landing-page-diagram.svg")" class="landing-page-diagram" />
        </div>
    </section>
</div>