﻿@* Copyright 2014-2017 Ellucian Company L.P. and its affiliates. *@

@section Scripts {
    @Html.Partial("_ActionUrlDefinitions")
    @Html.Partial("_StringConstantDefinitions")
    @Scripts.Render("~/bundles/emergencyinformationscripts")
}

<div id="page-description" class="esg-page-header">
    <h2 class="esg-page-header__title">@Resources.UserProfile.EmergencyPageDescription</h2>
</div>
@* Main Emergency Contact Information Page Container *@
<div class="column-nine">
    <div id="emergency-information">
        <spinner params="isVisible: !retrieved(), message: '@Resources.UserProfile.LoadingDataSpinnerMessage'"></spinner>

        <div data-bind="visible: retrieved()">
            @* Start emergency contacts *@
            <div class="section-wrapper">
                <div class="section-header">
                    <h3>@Resources.UserProfile.UiEmergencyContactsLabel</h3>
                </div>
                <div class="section-contents primary-contents clear-group">
                    @* If there is a confirmed date, show an info message*@
                    <message id="confirm-emer-info-message" params="isVisible: ConfirmedDate(), message: '@Resources.UserProfile.ConfirmAcknowledgement', title: Ellucian.UserProfile.emergencyInformationMessages.lastConfirmed + ConfirmedDate(), type: 'information', button: { callback: verifyEmergencyInformation, label: '@Resources.UserProfile.ConfirmInformationButton', ariaLabel: '@Resources.UserProfile.ConfirmPhoneButtonAriaLabel'}">
                    </message>
                    @* If there is not a confirmed date, show a warning message*@
                    <message id="confirm-emer-warning-message" params="isVisible: !ConfirmedDate(), message: '@Resources.UserProfile.ConfirmAcknowledgement', title: Ellucian.UserProfile.emergencyInformationMessages.notConfirmed, type: 'warning', button: { callback: verifyEmergencyInformation, label: '@Resources.UserProfile.ConfirmInformationButton', ariaLabel: '@Resources.UserProfile.ConfirmPhoneButtonAriaLabel'}">
                    </message>

                    <!-- ko if: EmergencyInformationConfiguration().AllowOptOut -->
                    <div id="emergency-info-optout-wrapper">
                        <input type="checkbox" id="emergency-info-optout" data-bind="checked: OptOut, click: updateOptOut" />
                        <label for="emergency-info-optout">@Resources.UserProfile.OptOutDescriptionText</label>
                    </div>
                    <!-- /ko -->
                    <button class="add-button" data-bind="click: addEmergencyContact" aria-label="@Resources.UserProfile.AddContactButtonAriaLabel">
                        @Resources.UserProfile.AddNewContactButton
                    </button>
                    <!-- ko if: EmergencyContacts().length > 0 -->
                    <ul data-bind="foreach: EmergencyContacts()">
                        <li class="emergency-contact">
                            <div class="section-header">
                                <div>
                                    <span class="offScreen">@Resources.UserProfile.UiContactNameLabel</span>
                                    <span data-bind="text: Name" class="contact-name"></span>
                                </div>
                                <div>
                                    <span class="offScreen">@Resources.UserProfile.UiRelationshipLabel</span>
                                    <span data-bind="text: Relationship" class="relationship"></span>
                                </div>
                            </div>
                            <div class="layout-table">
                                <div class="layout-table-row">
                                    <strong class="layout-table-cell">@Resources.UserProfile.UiDaytimePhoneLabel</strong>
                                    <span data-bind="text: DaytimePhone" class="daytimephone layout-table-cell"></span>
                                </div>
                                <div class="layout-table-row">
                                    <strong class="layout-table-cell">@Resources.UserProfile.UiEveningPhoneLabel</strong>
                                    <span data-bind="text: EveningPhone" class="eveningphone layout-table-cell"></span>
                                </div>
                                <div class="layout-table-row">
                                    <strong class="layout-table-cell">@Resources.UserProfile.UiOtherPhoneLabel</strong>
                                    <span>
                                        <span data-bind="text: OtherPhone" class="otherphone layout-table-cell"></span>
                                    </span>
                                </div>
                                <div class="layout-table-row">
                                    <strong class="layout-table-cell">@Resources.UserProfile.UiAddressLabel</strong>
                                    <span>
                                        <span data-bind="text: Address" class="address truncate-section layout-table-cell"></span>
                                    </span>
                                </div>
                                <div class="layout-table-row">
                                    <strong class="layout-table-cell">@Resources.UserProfile.UiEffectiveDateLabel</strong>
                                    <span data-bind="text: EffectiveDate" class="effectivedate layout-table-cell"></span>
                                </div>
                                <div class="layout-table-row">
                                    <strong class="layout-table-cell">@Resources.UserProfile.UiEmergencyContactLabel</strong>
                                    <span class="layout-table-cell text-align-center">
                                        <icon params="isVisible: true, icon: IsEmergencyContact() ? 'check' : 'close', color: IsEmergencyContact() ? 'success' :'error', size: 'xsmall'"></icon>
                                        <span class="offScreen" data-bind="text: IsEmergencyContact() ? '@Resources.UserProfile.UiTrueContact' : '@Resources.UserProfile.UiFalseContact'"></span>
                                    </span>
                                </div>
                                <div class="layout-table-row">
                                    <strong class="layout-table-cell">@Resources.UserProfile.UiMissingPersonContactLabel</strong>
                                    <span class="layout-table-cell text-align-center">
                                        <icon params="isVisible: true, icon: IsMissingPersonContact() ? 'check' : 'close', color: IsMissingPersonContact() ? 'success' : 'error', size: 'xsmall'"></icon>
                                        <span class="offScreen" data-bind="text: IsMissingPersonContact() ? '@Resources.UserProfile.UiTrueContact' : '@Resources.UserProfile.UiFalseContact'"></span>
                                    </span>
                                </div>
                            </div>
                            <div class=" action-buttons">
                                <button class="remove-button" data-bind="click: $parent.openRemoveDialog" title="@Resources.UserProfile.RemoveContactButtonTitle" aria-label="@Resources.UserProfile.RemoveContactButtonAriaLabel"></button>
                                <button class="edit-button" data-bind="click: $parent.editEmergencyContact" title="@Resources.UserProfile.EditContactButtonTitle" aria-label="@Resources.UserProfile.EditContactButtonAriaLabel"></button>
                            </div>
                        </li>
                    </ul>
                    <!-- /ko -->
                </div>
            </div>
            @* End emergency contacts *@

            @*Start health conditions *@
            <!-- ko if: showHealthConditions -->
            <div class="section-wrapper health-conditions">
                <div class="section-header">
                    <h3>@Resources.UserProfile.UiHealthConditionsLabel</h3>
                </div>
                <div class="section-contents primary-contents clear-group">
                    <fieldset>
                        <legend class="offScreen">@Resources.UserProfile.UiHealthConditionsLabel</legend>
                        <ul data-bind="foreach: HealthConditions">
                            <li class="health-condition column-three">
                                <input type="checkbox" data-bind="checked: isSelected, attr: { id: Description() + '-checkbox' }, click: $parent.updateEmergencyInformation" />
                                <label data-bind="text: Description, attr: { for: Description() + '-checkbox' }"></label>
                            </li>
                        </ul>
                    </fieldset>
                </div>
            </div>
            <!-- /ko -->
            @* End health conditions *@

            @* Other emergency information *@
            <!-- ko if: showOtherInformation -->
            <div class="section-wrapper">
                <div class="section-header">
                    <h3>@Resources.UserProfile.UiOtherEmergencyInformation</h3>
                </div>
                <div class="section-contents primary-contents clear-group">
                    <fieldset class="column-five">
                        <legend class="offScreen">@Resources.UserProfile.UiOtherEmergencyInformation</legend>
                        <div class="esg-form__group">
                            <label for="hospital-preference" class="esg-form__label">@Resources.UserProfile.UiHospitalPreferenceLabel</label>
                            <input id="hospital-preference" class="esg-form__input" placeholder="@Resources.UserProfile.UiHospitalPreferenceLabel" type="text" data-bind="value: HospitalPreference, event: { change: updateEmergencyInformation }, attr: {'aria-invalid': !HospitalPreference.isValid() ? 'true' : null, 'aria-describedby': !HospitalPreference.isValid() ? 'hospital-preference-error' : null}" />
                        </div>
                        <div class="esg-form__group">
                            <span id="hospital-preference-error" class="other-info-error validationMessage" data-bind="validationMessage: HospitalPreference"></span>
                            <label for="insurance-information" class="esg-form__label">@Resources.UserProfile.UiInsuranceInformationLabel</label>
                            <textarea class="esg-form__input" id="insurance-information" rows="5" placeholder="@Resources.UserProfile.UiInsuranceInformationLabel" data-bind="value: InsuranceInformation, event: { change: updateEmergencyInformation }"></textarea>
                        </div>
                        <div class="esg-form__group">
                            <label for="additional-information" class="esg-form__label">@Resources.UserProfile.UiAdditionalInformationLabel</label>
                            <textarea class="esg-form__input" id="additional-information" rows="5" placeholder="@Resources.UserProfile.UiAdditionalInformationLabel" data-bind="value: AdditionalInformation, event: { change: updateEmergencyInformation }"></textarea>
                        </div>
                    </fieldset>
                </div>
            </div>
            <!-- /ko -->
            @* End Other emergency information *@

            @* start add/edit dialog box *@
            <modal-dialog params="title: '@Resources.UserProfile.AddEmergencyContactDialogTitle',  isVisible: editDialogIsOpen, content: $data, buttons: [ submitEmergencyInformationButton ]">
                <form data-bind="with: editContact">
                    <fieldset>
                        <legend class="offScreen">@Resources.UserProfile.AddEmergencyContactFieldDescription</legend>
                        <div class="esg-form__group">
                            <label for="new-name" class="esg-is-required esg_form__label">@Resources.UserProfile.UiContactNameLabel</label>
                            <input id="new-name" placeholder="@Resources.UserProfile.UiContactNameLabel" type="text" required data-bind="value: Name, css: !Name.isValid() && Name.isModified() ? 'new-name error-message esg-form__input' : 'new-name esg-form__input', attr: {'aria-invalid': !Name.isValid() && Name.isModified() ? 'true' : null, 'aria-describedby': !Name.isValid() && Name.isModified() ? 'name-error' : null}" />
                            <span id="name-error" class="validationMessage" data-bind="validationMessage: Name"></span>
                        </div>
                        <div class="esg-form__group">
                            <label for="new-relationship" class="esg-form__label">@Resources.UserProfile.UiRelationshipLabel</label>
                            <input id="new-relationship" class="esg-form__input" placeholder="@Resources.UserProfile.UiRelationshipLabel" type="text" data-bind="value: Relationship, attr: {'aria-invalid': !Relationship.isValid() ? 'true' : null, 'aria-describedby': !Relationship.isValid() ? 'relationship-error' : null}" />
                            <span id="relationship-error" class="validationMessage" data-bind="validationMessage: Relationship"></span>
                        </div>
                        <fieldset class="contact-fieldset esg-form__group">
                            <legend class="esg-is-required esg-form__label">
                                @Resources.UserProfile.UiPhoneGroupLabel
                                (@Resources.UserProfile.UiPhoneGroupRequirement)
                            </legend>
                            <div class="esg-form__group">
                                <label class="esg-form__label" for="new-daytime-phone">@Resources.UserProfile.UiDaytimePhoneLabel</label>
                                <input id="new-daytime-phone" class="esg-form__input" placeholder="@Resources.UserProfile.UiDaytimePhoneLabel" type="text" data-bind="value: DaytimePhone, attr: {'aria-invalid': !DaytimePhone.isValid() ? 'true' : null, 'aria-describedby': !DaytimePhone.isValid() ? 'daytime-phone-error' : null}" />
                                <span id="daytime-phone-error" class="validationMessage" data-bind="validationMessage: DaytimePhone"></span>
                            </div>
                            <div class="esg-form__group">
                                <label for="new-evening-phone">@Resources.UserProfile.UiEveningPhoneLabel</label>
                                <input id="new-evening-phone" class="esg-form__input" placeholder="@Resources.UserProfile.UiEveningPhoneLabel" type="text" data-bind="value: EveningPhone, attr: {'aria-invalid': !EveningPhone.isValid() ? 'true' : null, 'aria-describedby': !EveningPhone.isValid() ? 'evening-phone-error' : null}" />
                                <span id="evening-phone-error" class="validationMessage" data-bind="validationMessage: EveningPhone"></span>
                            </div>
                            <div class="esg-form__group">
                                <label for="new-other-phone">@Resources.UserProfile.UiOtherPhoneLabel</label>
                                <input id="new-other-phone" class="esg-form__input" placeholder="@Resources.UserProfile.UiOtherPhoneLabel" type="text" data-bind="value: OtherPhone, attr: {'aria-invalid': !OtherPhone.isValid() ? 'true' : null, 'aria-describedby': !OtherPhone.isValid() ? 'other-phone-error' : null}" />
                                <span id="other-phone-error" class="validationMessage" data-bind="validationMessage: OtherPhone"></span>
                                <span id="phone-validation-error" class="validationMessage" data-bind="validationMessage: PhoneValidation"></span>
                            </div>
                        </fieldset>
                        <div class="esg-form__group">
                            <label for="new-address">@Resources.UserProfile.UiAddressLabel</label>
                            <input id="new-address" class="esg-form__input" placeholder="@Resources.UserProfile.UiAddressLabel" type="text" data-bind="value: Address, attr: {'aria-invalid': !Address.isValid() ? 'true' : null, 'aria-describedby': !Address.isValid() ? 'address-error' : null}" />
                            <span id="address-error" class="validationMessage" data-bind="validationMessage: Address"></span>
                        </div>
                        <div class="esg-form__group">
                            <label for="new-effective-date">@Resources.UserProfile.UiEffectiveDateLabel</label>
                            <input id="new-effective-date" class="esg-form__input" type="text" data-bind="value: EffectiveDate, attr: { 'placeholder': $root.dateFormat, 'aria-invalid': !EffectiveDate.isValid() ? 'true' : null, 'aria-describedby': !EffectiveDate.isValid() ? 'effective-date-error' : null} " />
                            <span id="effective-date-error" class="validationMessage" data-bind="validationMessage: EffectiveDate"></span>
                        </div>
                        <div class="esg-form__group">
                            <input id="new-emergency-contact" class="esg-form__input" type="checkbox" data-bind="checked: IsEmergencyContact, attr: {'aria-invalid': !IsEmergencyContact.isValid() ? 'true' : null, 'aria-describedby': !IsEmergencyContact.isValid() ? 'missing-person-error' : null}" />
                            <label for="new-emergency-contact">@Resources.UserProfile.UiEmergencyContactLabel</label>
                        </div>
                        <div class="esg-form__group">
                            <input id="new-missing-person" class="esg-form__input" type="checkbox" data-bind="checked: IsMissingPersonContact, attr: {'aria-invalid': !IsMissingPersonContact.isValid() ? 'true' : null, 'aria-describedby': !IsMissingPersonContact.isValid() ? 'missing-person-error' : null}" />
                            <label for="new-missing-person">@Resources.UserProfile.UiMissingPersonContactLabel</label>
                        </div>
                        <div class="esg-form__group">
                            <div id="missing-person-error" class="contact-error validationMessage" data-bind="validationMessage: IsEmergencyContact"></div>
                        </div>
                        <div class="esg-form__group" data-bind="visible: $root.OptOut">
                            @Resources.UserProfile.OptInNoticeText
                        </div>
                    </fieldset>
                </form>
            </modal-dialog>
            @* end add/edit dialog box *@

            @* Start remove contact popup validation *@
            <modal-dialog params="title: '@Resources.UserProfile.RemoveEmergencyContactDialogTitle', isVisible: removeDialogIsOpen, content: $data, buttons: [ removeEmergencyContactButton ]">
                <!-- ko with: contactToRemove -->
                <span data-bind="text: '@Resources.UserProfile.RemoveMessage'.format(Name())"></span>
                <!-- /ko -->
            </modal-dialog>
            @* End remove contact popup validation *@

            @* Start opt out confirmation dialog *@
            <modal-dialog params="title: '@Resources.UserProfile.OptOutConfirmationDialogTitle', isVisible: optoutDialogIsOpen, content: $data, buttons: [ updateOptOutButton ]">
                @Resources.UserProfile.OptOutConfirmationText
            </modal-dialog>
            @* End opt out confirmation dialog *@

            <modal-spinner id="emergency-information-loading" params="isVisible: IsLoading, message: LoadingMessage"></modal-spinner>
        </div>
    </div>
</div>