﻿@*Copyright 2015-2017 Ellucian Company L.P. and its affiliates.*@

@section Scripts {
    @Html.Partial("_ActionUrlDefinitions")
    @Html.Partial("_StringConstantDefinitions")
    @Scripts.Render("~/bundles/userprofilescripts")
}

<div id="page-description" class="esg-page-header">
    <h2 class="esg-page-header__title">@Resources.UserProfile.AboutPageDescription</h2>
</div>
<!-- Main User Profile Page Container -->
<div id="user-profile" class="content-wrapper clear-group">
    <spinner params="isVisible: !isLoaded(), message: '@Resources.UserProfile.LoadingDataSpinnerMessage'"></spinner>
    <div class="column-nine" style="display: none;" data-bind="visible: isLoaded()">
        <div class="clear-group">
            <div id="user-profile-header" class="clear-group">
                <div data-bind="with: UserProfileModel">
                    <profile-photo params="id: Id, size: 'large', altText: '@Resources.UserProfile.ProfilePhotoAltText'"></profile-photo>
                    <div id="user-profile-details">
                        <span id="user-profile-name" data-bind="text: FullName"></span>
                        <!-- ko if: FullChosenName() !== "" -->
                        <div class="user-profile-detail">
                            <span class="user-profile-detail__chosen-name-label">@Resources.UserProfile.ChosenNameLabel</span>
                            <span class="user-profile-detail__chosen-name" data-bind="text: FullChosenName"></span>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: $parent.personalPronouns() !== null -->
                        <div class="user-profile-detail">
                            <span class="user-profile-detail__personal-pronouns" data-bind="text: $parent.personalPronouns().Description"></span>
                        </div>
                        <!-- /ko -->
                        <div class="user-profile-detail">
                            <span>@Resources.UserProfile.UserIdPrefix</span>
                            <span data-bind="text: Id"></span>
                        </div>
                        <div class="user-profile-detail">
                            <span class="date-of-birth">@Resources.UserProfile.DateOfBirth</span>
                            <span data-bind="text: DateOfBirth"></span>
                        </div>
                        <div class="user-profile-detail">
                            <!-- ko if: PreferredEmailAddress() !== null-->
                            <span class="esg-icon__container" aria-hidden="true">
                                <svg class="esg-icon esg-icon--small esg-icon--neutral">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-email"></use>
                                </svg>
                            </span>
                            <span class="user-profile-email" data-bind="text: PreferredEmailAddress"></span>
                            <!-- /ko -->
                            <!-- ko if: PreferredEmailAddress() === null-->
                            <span class="esg-icon__container" aria-hidden="true">
                                <svg class="esg-icon esg-icon--small esg-icon--neutral">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-email"></use>
                                </svg>
                            </span>
                            <span class="user-profile-email">@Resources.UserProfile.NoEmailMessage</span>
                            <!-- /ko -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-wrapper clear-group">
            <div class="section-contents primary-contents clear-group" data-bind="html: Text()"></div>
            <!-- Start main content -->
            <section class="section-wrapper no-section-mobile-padding">
                <h4 class="section-header">@Resources.UserProfile.AddressHeader</h4>
                <div class="section-contents primary-contents" title="@Resources.UserProfile.AddressHeader">

                    <!-- ko with: UserProfileModel -->
                    <message id="confirm-address-message" params="isVisible: true, message: '@Resources.UserProfile.ConfirmAddressDescriptionText', title: '@Resources.UserProfile.LastConfirmedLabel' + AddressConfirmationDate(), type: 'information', button: { callback: $parent.verifyAddressInformation, label: '@Resources.UserProfile.ConfirmInformationButton', ariaLabel: '@Resources.UserProfile.ConfirmAddressButtonAriaLabel'}">
                    </message>
                    <!-- /ko -->

                    <button class="add-button" aria-label="@Resources.UserProfile.AddNewAddressButton" data-bind="click: showAddressNewDialog, visible: UserHasAddressUpdatePermission && addressTypeOptions().length > 0">
                        @Resources.UserProfile.AddNewAddressButton
                    </button>
                    <table class="user-profile-address-table">
                        <thead>
                            <tr>
                                <th class="profile-address-header">@Resources.UserProfile.AddressTableHeader</th>
                                <th>@Resources.UserProfile.TypeTableHeader</th>
                                <th class="profile-address-preferred">@Resources.UserProfile.PreferredTableHeader</th>
                                <th aria-label="@Resources.UserProfile.RemoveEditColumnTableHeader"></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: ViewableAddresses">
                            <tr>
                                <td data-bind="foreach: Address.AddressLabel">
                                    <span class="user-profile-address-line" data-bind="text: $data"></span>
                                </td>
                                <td data-bind="text: Address.Type()"></td>
                                <td data-bind="css: Address.IsPreferredAddress() ? '' : 'suppress-on-mobile'">
                                    <!-- ko if: Address.IsPreferredAddress() === true -->
                                    <icon params="isVisible: true, icon: 'check', color: 'success', size: 'xsmall'"></icon>
                                    <span class="offScreen">@Resources.UserProfile.Preferred</span>
                                    <!-- /ko -->
                                    <!-- ko if: Address.IsPreferredAddress() !== true -->
                                    <span class="offScreen">@Resources.UserProfile.NotPreferred</span>
                                    <!-- /ko -->
                                </td>
                                <td class="user-profile-buttons-cell">
                                    <!-- ko if: IsUpdatable() -->
                                    <button class="remove-button" title="@Resources.UserProfile.RemoveAddressButtonAriaLabel" arial-label="@Resources.UserProfile.RemoveAddressButtonAriaLabel" data-bind="visible: false, click: $parent.showAddressRemoveDialog"></button>
                                    <button class="edit-button" title="@Resources.UserProfile.UpdateAddressButtonAriaLabel" arial-label="@Resources.UserProfile.UpdateAddressButtonAriaLabel" data-bind="click: $parent.showAddressEditDialog"></button>
                                    <!-- /ko -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section class="section-wrapper no-section-mobile-padding">
                <h4 class="section-header">@Resources.UserProfile.EmailAddressHeader</h4>
                <div class="section-contents primary-contents" title="@Resources.UserProfile.EmailAddressHeader">
                    <!-- ko with: UserProfileModel -->
                    <message id="confirm-email-message" params="isVisible: true, message: '@Resources.UserProfile.ConfirmEmailDescriptionText', title: '@Resources.UserProfile.LastConfirmedLabel' + EmailAddressConfirmationDate(), type: 'information', button: { callback: $parent.verifyEmailAddressInformation, label: '@Resources.UserProfile.ConfirmInformationButton', ariaLabel: '@Resources.UserProfile.ConfirmEmailAddressButtonAriaLabel'}">
                    </message>
                    <!-- /ko -->

                    <button class="add-button" aria-label="@Resources.UserProfile.AddNewEmailButton" data-bind="click: showEmailNewDialog, visible: UserHasEmailUpdatePermission && emailTypeOptions().length > 0">
                        @Resources.UserProfile.AddNewEmailButton
                    </button>
                    <table class="user-profile-email-table">
                        <thead>
                            <tr>
                                <th class="profile-email-header">@Resources.UserProfile.EmailTableHeader</th>
                                <th>@Resources.UserProfile.TypeTableHeader</th>
                                <th class="profile-email-preferred">@Resources.UserProfile.PreferredTableHeader</th>
                                <th aria-label="@Resources.UserProfile.RemoveEditColumnTableHeader"></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: ViewableEmailAddresses">
                            <tr>
                                <td class="profile-email-cell" data-bind="text: EmailAddress.Value()"></td>
                                <td data-bind="text: EmailTypeDescription()"></td>
                                <td data-bind="css: EmailAddress.IsPreferred() ? '' : 'suppress-on-mobile'">
                                    <!-- ko if: EmailAddress.IsPreferred() == true -->
                                    <icon params="isVisible: true, icon: 'check', color: 'success', size: 'xsmall'"></icon>
                                    <span class="offScreen">@Resources.UserProfile.Preferred</span>
                                    <!-- /ko -->
                                    <!-- ko if: EmailAddress.IsPreferred() !== true -->
                                    <span class="offScreen">@Resources.UserProfile.NotPreferred</span>
                                    <!-- /ko -->
                                </td>
                                <td class="user-profile-buttons-cell" data-bind="css: IsUpdatable() ? '' : 'suppress-on-mobile'">
                                    <!-- ko if: IsUpdatable() -->
                                    <button class="remove-button" title="@Resources.UserProfile.RemoveEmailButtonAriaLabel" arial-label="@Resources.UserProfile.RemoveEmailButtonAriaLabel" data-bind="click: $parent.showEmailRemoveDialog"></button>
                                    <button class="edit-button" title="@Resources.UserProfile.UpdateEmailButtonAriaLabel" arial-label="@Resources.UserProfile.UpdateEmailButtonAriaLabel" data-bind="click: $parent.showEmailEditDialog"></button>
                                    <!-- /ko -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section class="section-wrapper no-section-mobile-padding">
                <h4 class="section-header">@Resources.UserProfile.PhoneHeader</h4>
                <div class="section-contents primary-contents" title="@Resources.UserProfile.PhoneHeader">
                    <!-- ko with: UserProfileModel -->
                    <message id="confirm-phone-message" params="isVisible: true, message: '@Resources.UserProfile.ConfirmPhoneDescriptionText', title: '@Resources.UserProfile.LastConfirmedLabel' + PhoneConfirmationDate(), type: 'information', button: { callback: $parent.verifyPhoneInformation, label: '@Resources.UserProfile.ConfirmInformationButton', ariaLabel: '@Resources.UserProfile.ConfirmPhoneButtonAriaLabel'}">
                    </message>
                    <!-- /ko -->

                    <button class="add-button" aria-label="@Resources.UserProfile.AddNewPhoneButton" data-bind="click: showPhoneNewDialog, visible: UserHasPhoneUpdatePermission && UpdatablePhoneTypes().length > 0">
                        @Resources.UserProfile.AddNewPhoneButton
                    </button>
                    <table class="user-profile-phone-table">
                        <thead>
                            <tr>
                                <th class="profile-phone-header">@Resources.UserProfile.PhoneTableHeader</th>
                                <th>@Resources.UserProfile.TypeTableHeader</th>
                                <th aria-label="@Resources.UserProfile.RemoveEditColumnTableHeader"></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: ViewablePhones">
                            <tr>
                                <td>
                                    <span data-bind="text: Phone.Number"></span>
                                    <!-- ko if: Phone.Extension() !== null && Phone.Extension() !== "" -->
                                    <span>&nbsp;@Resources.UserProfile.PhoneExtLabel </span>
                                    <span data-bind="text: Phone.Extension"></span>
                                    <!-- /ko -->
                                </td>
                                <td data-bind="text: PhoneTypeDescription"></td>
                                <td class="user-profile-buttons-cell" data-bind="css: IsUpdatable() ? '' : 'suppress-on-mobile'">
                                    <!-- ko if: IsUpdatable() -->
                                    <button class="remove-button" title="@Resources.UserProfile.RemovePhoneButtonAriaLabel" arial-label="@Resources.UserProfile.RemovePhoneButtonAriaLabel" data-bind="click: $parent.showPhoneRemoveDialog"></button>
                                    <button class="edit-button" title="@Resources.UserProfile.UpdatePhoneButtonAriaLabel" arial-label="@Resources.UserProfile.UpdatePhoneButtonAriaLabel" data-bind="click: $parent.showPhoneEditDialog"></button>
                                    <!-- /ko -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
        <!-- Start remove email popup validation -->
        <modal-dialog params="isVisible: emailRemoveDialogIsOpen, title: '@Resources.UserProfile.RemoveEmailDialogTitle', content: $data, buttons: [ removeEmailButton ]">
            <!-- ko with: emailToRemove -->
            <span data-bind="text: '@Resources.UserProfile.RemoveMessage'.format(EmailAddress.Value())"></span>
            <!-- /ko -->
        </modal-dialog>
        <!-- End remove email popup validation -->
        <!-- Start add/edit email dialog box -->
        <modal-dialog params="isVisible: emailEditDialogIsOpen, title: '@Resources.UserProfile.EditEmailDialogTitle', content: $data, buttons: [ submitEmailButton ] ">
            <div class="edit-email-form">
                <form id="candidate-email-form" data-bind="with: candidateEmail">
                    <fieldset>
                        <legend class="offScreen">@Resources.UserProfile.AddEmailAddressFieldDescription</legend>
                        <div class="esg-form__group">
                            <label for="new-email-address" class="esg-form__label esg-is-required">@Resources.UserProfile.UiEmailAddressLabel</label>
                            <input id="new-email-address" class="esg-form__input" placeholder="@Resources.UserProfile.UiEmailAddressLabel" required type="text"
                                   data-bind="textInput: Value, css: !Value.isValid() && Value.isModified() ? 'new-email-address error-message' : 'new-email-address', attr: {'aria-invalid': !Value.isValid() && Value.isModified() ? 'true' : null, 'aria-describedby': !Value.isValid() && Value.isModified() ? 'email-address-error' : null}" />
                            <span id="email-address-error" class="validationMessage" data-bind="validationMessage: Value"></span>
                        </div>
                        <div class="esg-form__group">
                            <label for="new-type-code" class="esg-form__label">@Resources.UserProfile.UiTypeLabel</label>
                            <select id="new-type-code" class="esg-form__input" data-bind="options: $parent.emailTypeOptions, optionsText: 'Description', optionsValue: 'Code', value: TypeCode, attr: {'aria-invalid': !TypeCode.isValid() ? 'true' : null, 'aria-describedby': !TypeCode.isValid() ? 'type-code-error' : null}"></select>
                            <span id="type-code-error" class="validationMessage" data-bind="validationMessage: TypeCode"></span>
                        </div>
                        <div class="esg-form__group" data-bind="visible: $parent.canUpdatePreferred()">
                            <input id="new-preferred" type="checkbox" data-bind="checked: IsPreferred, attr: {'aria-invalid': !IsPreferred.isValid() ? 'true' : null, 'aria-describedby': !IsPreferred.isValid() ? 'preferred-error' : null}" />
                            <label for="new-preferred">@Resources.UserProfile.UiPreferredLabel</label>
                            <div id="preferred-error" class="validationMessage" data-bind="validationMessage: IsPreferred"></div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </modal-dialog>
        <!-- end add/edit email dialog box -->
        <!-- Start remove phone popup validation -->
        <modal-dialog params="title: '@Resources.UserProfile.RemovePhoneDialogTitle', isVisible: phoneRemoveDialogIsOpen, content: $data, buttons: [ removePhoneButton ]">
            <!-- ko with: phoneToRemove -->
            <span data-bind="text: '@Resources.UserProfile.RemoveMessage'.format(Phone.Number())"></span>
            <!-- /ko -->
        </modal-dialog>
        <!-- End remove email popup validation -->
        <!-- start add/edit phone dialog box -->
        <modal-dialog params="title: '@Resources.UserProfile.EditPhoneDialogTitle', isVisible: phoneEditDialogIsOpen, content: $data, buttons: [ submitPhoneButton ]">
            <div class="edit-phone-form">
                <form id="candidate-phone-form" data-bind="with: candidatePhone">
                    <fieldset>
                        <legend class="offScreen">@Resources.UserProfile.AddPhoneFieldDescription</legend>
                        <div class="esg-form-group">
                            <label for="new-phone-number" class="esg-form__label esg-is-required">@Resources.UserProfile.UiPhoneNumberLabel</label>
                            <input id="new-phone-number" placeholder="@Resources.UserProfile.UiPhoneNumberLabel" required type="text" data-bind="textInput: Number, css: !Number.isValid() && Number.isModified()? 'new-phone-number error-message esg-form__input' : 'new-phone-number esg-form__input', attr: {'aria-invalid': !Number.isValid() && Number.isModified() ? 'true' : null, 'aria-describedby': !Number.isValid() && Number.isModified() ? 'phone-number-error' : null}" />
                            <span id="phone-number-error" class="validationMessage" data-bind="validationMessage: Number"></span>
                            <span id="phone-duplicate-error" class="validationMessage" data-bind="validationMessage: IsDuplicate"></span>
                        </div>
                        <div class="esg-form-group">
                            <label for="new-phone-extension" class="esg-form__label">@Resources.UserProfile.UiPhoneExtensionLabel</label>
                            <input id="new-phone-extension" placeholder="@Resources.UserProfile.UiPhoneExtensionLabel" required type="text" data-bind="textInput: Extension, css: !Extension.isValid() ? 'new-phone-extension error-message esg-form__input' : 'new-phone-extension esg-form__input', attr: {'aria-invalid': !Extension.isValid() ? 'true' : null, 'aria-describedby': !Extension.isValid() ? 'phone-extension-error' : null}" />
                            <span id="phone-extension-error" class="validationMessage" data-bind="validationMessage: Extension"></span>
                        </div>
                        <div class="esg-form-group">
                            <label for="new-phone-type-code" class="esg-form__label">@Resources.UserProfile.UiTypeLabel</label>
                            <select id="new-phone-type-code" class="esg-form__input" data-bind="options: $parent.phoneTypeOptions, optionsText: 'Description', optionsValue: 'Code', value: TypeCode, attr: {'aria-invalid': !TypeCode.isValid() ? 'true' : null, 'aria-describedby': !TypeCode.isValid() ? 'phone-type-code-error' : null}"></select>
                            <span id="phone-type-code-error" class="validationMessage" data-bind="validationMessage: TypeCode"></span>
                        </div>
                    </fieldset>
                </form>
            </div>
        </modal-dialog>
        <!-- end add/edit phone dialog box -->
        <!-- Start remove address popup validation -->
        <modal-dialog params="isVisible: addressRemoveDialogIsOpen, title: '@Resources.UserProfile.RemoveAddressDialogTitle', content: $data, buttons: [ removeAddressButton ]">
            <!-- ko with: addressToRemove -->
            <p>@Resources.UserProfile.RemoveAddressMessage</p>
            <!-- ko foreach: Address.AddressLabel -->
            <span data-bind="text: $data"></span><br/>
            <!-- /ko -->
        </modal-dialog>
        <!-- End remove address popup validation -->
        <!-- start add/edit address dialog box -->
        <modal-dialog params="title: '@Resources.UserProfile.EditAddressDialogTitle', isVisible: addressEditDialogIsOpen, content: $data, buttons: [ submitAddressButton ]">
            <address-entry params="AddressInfo:candidateAddress, hasErrorsFlag: true"></address-entry>
            <div class="esg-form__group" data-bind="with: candidateAddress">
                <label for="new-type-code-address" class="esg-form__label">@Resources.UserProfile.UiTypeLabel</label>
                <select id="new-type-code-address" class="esg-form__input" data-bind="options: $parent.addressTypeOptions, optionsText: 'Title', optionsValue: 'Code', value: TypeCode, attr: {'aria-invalid': !TypeCode.isValid() ? 'true' : null, 'aria-describedby': !TypeCode.isValid() ? 'address-type-code-error' : null}"></select>
                <span id="address-type-code-error" class="validationMessage" data-bind="validationMessage: TypeCode"></span>
            </div>
        </modal-dialog>
        <!-- end add/edit address dialog box -->
        <modal-spinner id="user-profile-information-loading" params="isVisible: isWaiting, message: Ellucian.UserProfile.userProfileMessages.updating"></modal-spinner>
    </div>
    </div>