﻿@* Copyright 2016 Ellucian Company L.P. and its affiliates. *@
@Html.Partial("_ActionUrlDefinitions")
@Html.Partial("_StringConstantDefinitions")
@model Ellucian.Web.Student.Models.PreferencesModel

@section Scripts {
    @Scripts.Render("~/bundles/userpreferencesscripts")
}

@{
    ViewBag.Title = Resources.UserProfile.PreferencesTitle;
}

<div id="account-preferences">
    <div id="page-description" class="esg-page-header">
        <h2 class="esg-page-header__title">@ViewBag.Title</h2>
    </div>
    <div class="column-nine">
        <div class="section-wrapper no-section-mobile-padding">
            @using (Html.BeginForm("Preferences", "UserProfile", (ViewBag.RouteValues != null ? (object)ViewBag.RouteValues : new { }), FormMethod.Post, new { id = "preferences", autocomplete = "off", autocapitalize = "none" }))
            {
                @Html.Partial("_LandingPagePartial")

                <div class="button-bar">
                    <button type="button" class="esg-button esg-button--primary" data-bind="click: update, attr: { 'aria-label': Ellucian.UserProfile.preferencesMessages.saveAriaLabel}">@Resources.UserProfile.Save</button>
                    <a href="@Url.Action("Index", "Home")" data-bind="attr: { 'aria-label': Ellucian.UserProfile.preferencesMessages.cancelAriaLabel}">@Resources.SiteResources.ButtonTextCancel</a>
                </div>
            }
        </div>
    </div>

    <modal-spinner id="account-preferences-information-loading" params="isVisible: isWaiting, message: waitingMessage"></modal-spinner>
</div>
