﻿@* Copyright 2017 Ellucian Company L.P. and its affiliates. *@
@section Scripts {
    @Html.Partial("_ActionUrlDefinitions")
    @Html.Partial("_StringConstantDefinitions")
    <script>
        var Ellucian = Ellucian || {};
        Ellucian.UserProfile = Ellucian.UserProfile || {};
        Ellucian.UserProfile.viewEmergencyInformationId = '@ViewBag.viewEmergencyInformationId';
    </script>
    @Scripts.Render("~/bundles/viewemergencyinformationscripts")
}

<div id="page-description" class="esg-page-header">
    <h2 class="esg-page-header__title">@Resources.UserProfile.EmergencyPageDescription</h2>

    <a href="@Url.Action("EmergencyInformationSearch", "UserProfile")" class="esg-page-header__subtitle esg-page-header__subtitle--backlink">
        <span class="esg-icon__container esg-page-header__icon" aria-hidden="true">
            <svg class="esg-icon esg-icon--left">
                <use xlink:href="#icon-arrow"></use>
            </svg>
        </span>@Resources.UserProfile.EmergencyInformationBackToSearch
    </a>
</div>

@* Main Emergency Contact Information Page Container *@
<div class="column-nine">
    <div id="view-emergency-information">
        <spinner params="isVisible: !retrieved(), message: '@Resources.UserProfile.EmergencyInformationViewLoadingMessage'"></spinner>

        <div data-bind="visible: retrieved()">
            @* Start emergency contacts *@
            <div class="section-wrapper">

                <div id="user-profile-header" class="clear-group user-profile-header--no-side-borders">
                    <div id="user-profile-left">
                        <profile-photo params="id: PersonId, altText: '@Resources.UserProfile.ProfilePhotoAltText', size: 'large'"></profile-photo>
                        <div id="user-profile-details">
                            <span id="user-profile-name" data-bind="text: PersonName"></span>
                            <div class="user-profile-detail">
                                <span>@Resources.UserProfile.UserIdPrefix</span>
                                <span data-bind="text: PersonId"></span>
                            </div>
                            <div class="user-profile-detail" data-bind="visible: PrivacyMessage">
                                <icon params="isVisible: true, icon: 'info', size: 'xsmall', color: 'neutral'">
                                    <!-- ko if: isVisible -->
                                    <span class="esg-icon__container esg-icon__container--fill esg-icon__container--neutral" aria-hidden="true" data-bind="css: iconContainerClasses">
                                        <svg class="esg-icon esg-icon--xsmall" data-bind="css: iconClasses">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-info" data-bind="attr: { 'xlink:href': iconId }"></use>
                                        </svg>
                                    </span>
                                    <!-- /ko -->
                                </icon>
                                <span id="privacy-message" data-bind="text: PrivacyMessage"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ko ifnot: HasPrivacyRestriction() -->
                <div class="section-header">
                    <h3>@Resources.UserProfile.UiEmergencyContactsLabel</h3>
                </div>
                <div class="section-contents primary-contents clear-group">
                    @* If there is a confirmed date, show an info message*@
                    <message id="confirm-emer-info-message" params="isVisible: ConfirmedDate(), message: Ellucian.UserProfile.emergencyInformationMessages.viewConfirmed, title: Ellucian.UserProfile.emergencyInformationMessages.lastConfirmed + ConfirmedDate(), type: 'information'">
                    </message>
                    @* If there is not a confirmed date, show a warning message*@
                    <message id="confirm-emer-warning-message" params="isVisible: !ConfirmedDate(), message: Ellucian.UserProfile.emergencyInformationMessages.viewNotConfirmed, title: Ellucian.UserProfile.emergencyInformationMessages.notConfirmed, type: 'warning'">
                    </message>

                    @* If there are no contacts due to opting out or simply lacking information, show a warning *@
                    <message id="emergency-info-view-optout-warning" params="isVisible: EmergencyInformationConfiguration().AllowOptOut() && OptOut(), message: Ellucian.UserProfile.emergencyInformationMessages.viewOptedOut, title: Ellucian.UserProfile.emergencyInformationMessages.viewNoContactWarningHeader, type: 'warning'">
                    </message>
                    <message id="emergency-info-view-no-contact-warning" params="isVisible: !OptOut() && EmergencyContacts().length == 0, message: Ellucian.UserProfile.emergencyInformationMessages.viewNoContacts, title: Ellucian.UserProfile.emergencyInformationMessages.viewNoContactWarningHeader, type: 'warning'">
                    </message>

                    <!-- ko if: EmergencyContacts().length > 0 -->
                    <ul data-bind="foreach: EmergencyContacts()">
                        <li class="emergency-contact">
                            <div class="section-header">
                                <div>
                                    <span class="offScreen">@Resources.UserProfile.UiContactNameLabel</span>
                                    <span data-bind="text: Name" class="contact-name"></span>
                                </div>
                                <div>
                                    <span class="offScreen">@Resources.UserProfile.UiRelationshipLabel</span>
                                    <span data-bind="text: Relationship" class="relationship"></span>
                                </div>
                            </div>
                            <div class="layout-table">
                                <div class="layout-table-row">
                                    <strong class="layout-table-cell">@Resources.UserProfile.UiDaytimePhoneLabel</strong>
                                    <a data-bind="attr: { href: 'tel:' + DaytimePhone() }, text: DaytimePhone" class="daytimephone layout-table-cell"></a>
                                </div>
                                <div class="layout-table-row">
                                    <strong class="layout-table-cell">@Resources.UserProfile.UiEveningPhoneLabel</strong>
                                    <a data-bind="attr: { href: 'tel:' + EveningPhone() }, text: EveningPhone" class="eveningphone layout-table-cell"></a>
                                </div>
                                <div class="layout-table-row">
                                    <strong class="layout-table-cell">@Resources.UserProfile.UiOtherPhoneLabel</strong>
                                    <a data-bind="attr: { href: 'tel:' + OtherPhone() }, text: OtherPhone" class="otherphone layout-table-cell"></a>
                                </div>
                                <div class="layout-table-row">
                                    <strong class="layout-table-cell">@Resources.UserProfile.UiAddressLabel</strong>
                                    <span>
                                        <span data-bind="text: Address" class="address truncate-section layout-table-cell"></span>
                                    </span>
                                </div>
                                <div class="layout-table-row">
                                    <strong class="layout-table-cell">@Resources.UserProfile.UiEffectiveDateLabel</strong>
                                    <span data-bind="text: EffectiveDate" class="effectivedate layout-table-cell"></span>
                                </div>
                                <div class="layout-table-row">
                                    <strong class="layout-table-cell">@Resources.UserProfile.UiEmergencyContactLabel</strong>
                                    <span class="layout-table-cell text-align-center">
                                        <icon params="isVisible: true, icon: IsEmergencyContact() ? 'check' : 'close', color: IsEmergencyContact() ? 'success' :'error', size: 'xsmall'"></icon>
                                        <span class="offScreen" data-bind="text: IsEmergencyContact() ? '@Resources.UserProfile.UiTrueContact' : '@Resources.UserProfile.UiFalseContact'"></span>
                                    </span>
                                </div>
                                <div class="layout-table-row">
                                    <strong class="layout-table-cell">@Resources.UserProfile.UiMissingPersonContactLabel</strong>
                                    <span class="layout-table-cell text-align-center">
                                        <icon params="isVisible: true, icon: IsMissingPersonContact() ? 'check' : 'close', color: IsMissingPersonContact() ? 'success' : 'error', size: 'xsmall'"></icon>
                                        <span class="offScreen" data-bind="text: IsMissingPersonContact() ? '@Resources.UserProfile.UiTrueContact' : '@Resources.UserProfile.UiFalseContact'"></span>
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- /ko -->
                </div>
                <!-- /ko -->
            </div>
            @* End emergency contacts *@

        </div>
    </div>
</div>
