﻿<modal-dialog params="isVisible: isVisible,
              title: authenticationModalDialogTitle,
              content: $data,
              defaultCloseOff: true,
              buttons: [{ title: authenticationModalCancelButtonLabel, callback: cancelAuthentication, isPrimary: false },
                        { title: authenticationModalPrimaryButtonLabel, callback: getAuthentication, isPrimary: true }] ">

    <div class="section-header clear-group">
        <h3>
            <span class="column-four column-nine-sm" data-bind="text: bankNameLabel"></span>
            <span class="column-one" data-bind="visible: !$root.isMobile()">&nbsp;</span>
            <span class="column-four column-nine-sm" data-bind="text: displayBankAccountLastFour"></span>
        </h3>
    </div>

    <div class="section-contents">
        <form autocomplete="off" data-bind="visible: !isAuthenticationInProgress()">
            <div class="esg-form__group esg-has-feedback" data-bind="css: {'esg-has-error' : authenticationFailed, 'esg-has-hint' : !authenticationFailed() }">
                <label class="esg-form__label" for="directive-authentication-input" data-bind="resx: 'BankingInformation.BankAccountNumberLabel'"></label>
                <div class="esg-form__input-group">
                    <div data-bind="visible: false" > <!-- hack to prevent browsers from autofilling the account number with the user's password -->
                        <label>placeholder<input aria-hidden="true" type="password" /></label>
                    </div>
                    <input type="password" autocomplete="off" class="esg-form__input" id="directive-authentication-input" data-bind="textInput: authenticationValue, hasfocus: true">
                    <div class="esg-form__feedback-icon esg-icon__container">
                        <svg class="esg-icon esg-icon--error" data-bind="visible: authenticationFailed">
                            <use xlink:href="#icon-error"></use>
                        </svg>
                        <svg class="esg-icon esg-icon--info-dark" data-bind="visible: !authenticationFailed()">
                            <use xlink:href="#icon-info"></use>
                        </svg>
                    </div>
                </div>
                <div class="esg-form__feedback-text" data-bind="visible: authenticationFailed, resx: 'BankingInformation.VerificationFailedMessage'"></div>
                <div class="esg-form__feedback-text" data-bind="visible: !authenticationFailed(), resx: 'BankingInformation.AuthenticationModalInputFeedback'"></div>
            </div>
        </form>
        <spinner params="isVisible: isAuthenticationInProgress, message: authenticationInProgressMessage"></spinner>
    </div>

    <!--<spinner params="isVisible: isAuthenticationInProgress, message: authenticationInProgressMessage"></spinner>-->



</modal-dialog>