﻿@*Copyright 2014-2017 Ellucian Company L.P. and its affiliates.*@

<!-- Define URLs to use in AJAX queries -->
<script type="text/javascript">

    // Initialize the ColleagueFinance namespace object for use in ColleagueFinance module.
    var Ellucian = Ellucian || {};
    Ellucian.ColleagueFinance = Ellucian.ColleagueFinance || {};

    // Cost centers
    var costCentersHomeActionUrl = '@Url.Action("Index", "CostCenters")';
    var costCenterDetailActionUrl = '@Url.Action("CostCenter", "CostCenters")';
    var getFilteredCostCentersActionUrl = '@Url.Action("GetFilteredCostCentersAsync", "CostCenters")';
    var getFilteredCostCenterActionUrl = '@Url.Action("GetFilteredCostCenterAsync", "CostCenters")';
    var getMajorComponentsActionUrl = '@Url.Action("GetMajorComponentsAsync", "CostCenters")';
    var glDetailUrl = '@Url.Action("GlDetail", "CostCenters")';
    var getGlTransactionsAsync = '@Url.Action("GetGlTransactionsAsync", "CostCenters")';
    var postSaveFilterUrl = '@Url.Action("AddOrUpdateSavedFilterAsync", "CostCenters")';
    var getSavedFilterCriteriaUrl = '@Url.Action("GetSavedFilterCriteriaAsync", "CostCenters")';
    var deleteSavedFilterUrl = '@Url.Action("DeleteSavedFilterAsync", "CostCenters")';

    Ellucian.ColleagueFinance.getUIPreferenceUrl = '@Url.Action("GetUIPreference", "CostCenters")';
    Ellucian.ColleagueFinance.setUIPreferenceUrl = '@Url.Action("SetUIPreference", "CostCenters")';
    Ellucian.ColleagueFinance.getCostCentersViewPreferenceUrl = '@Url.Action("GetCostCentersViewPreference", "CostCenters")';
    Ellucian.ColleagueFinance.setCostCentersViewPreferenceUrl = '@Url.Action("SetCostCentersViewPreference", "CostCenters")';

    Ellucian.ColleagueFinance.getDefaultFilterAsyncUrl = '@Url.Action("GetDefaultFilterAsync", "CostCenters")';
    Ellucian.ColleagueFinance.setDefaultFilterAsyncUrl = '@Url.Action("SetDefaultFilterAsync", "CostCenters")';

    // Object View
    Ellucian.ColleagueFinance.getFilteredObjectDataAsyncUrl = '@Url.Action("GetFilteredObjectDataAsync", "CostCenters")';
    Ellucian.ColleagueFinance.objectViewGlDetailUrl = '@Url.Action("GlDetail", "Budget")';
    
    @{
    object curArea, curController;
    string curAreaName = Request.RequestContext.RouteData.DataTokens.TryGetValue("area", out curArea) ? (string)curArea : "";
    string curControllerName = Request.RequestContext.RouteData.Values.TryGetValue("controller", out curController) ? (string)curController : "";
    }
    

    // Documents
    Ellucian.ColleagueFinance.getVoucherUrl = '@Url.Action("Voucher", @curControllerName, new { Area = @curAreaName })';
    Ellucian.ColleagueFinance.getVoucherAsyncUrl = '@Url.Action("GetVoucherAsync", @curControllerName, new { Area = @curAreaName })';
    Ellucian.ColleagueFinance.getPurchaseOrderUrl = '@Url.Action("PurchaseOrder", @curControllerName, new { Area = @curAreaName })';
    Ellucian.ColleagueFinance.getPurchaseOrderAsyncUrl = '@Url.Action("GetPurchaseOrderAsync", @curControllerName, new { Area = @curAreaName })';
    Ellucian.ColleagueFinance.getJournalEntryUrl = '@Url.Action("JournalEntry", @curControllerName, new { Area = @curAreaName })';
    Ellucian.ColleagueFinance.getJournalEntryAsyncUrl = '@Url.Action("GetJournalEntryAsync", @curControllerName, new { Area = @curAreaName })';
    Ellucian.ColleagueFinance.getRequisitionUrl = '@Url.Action("Requisition", @curControllerName, new { Area = @curAreaName })';
    Ellucian.ColleagueFinance.getRequisitionAsyncUrl = '@Url.Action("GetRequisitionAsync", @curControllerName, new { Area = @curAreaName })';
    Ellucian.ColleagueFinance.getBlanketPurchaseOrderUrl = '@Url.Action("BlanketPurchaseOrder", @curControllerName, new { Area = @curAreaName })';
    Ellucian.ColleagueFinance.getBlanketPurchaseOrderAsyncUrl = '@Url.Action("GetBlanketPurchaseOrderAsync", @curControllerName, new { Area = @curAreaName })';
    Ellucian.ColleagueFinance.getRecurringVoucherUrl = '@Url.Action("RecurringVoucher", @curControllerName, new { Area = @curAreaName })';
    Ellucian.ColleagueFinance.getRecurringVoucherAsyncUrl = '@Url.Action("GetRecurringVoucherAsync", @curControllerName, new { Area = @curAreaName })';
    Ellucian.ColleagueFinance.getGeneralLedgerAccountAsyncUrl = '@Url.Action("GetGeneralLedgerAccountAsync", @curControllerName, new { Area = @curAreaName })';

    @if (curAreaName.Equals("ColleagueFinance", StringComparison.OrdinalIgnoreCase))
    {
    <text>
    Ellucian.ColleagueFinance.documentBackLinkUrl = '@Url.Action("GlDetail", @curControllerName, new { Area = @curAreaName })';
    </text>
    }
</script>