﻿<!-- Copyright 2014-2016 Ellucian Company L.P. and its affiliates. -->

<script type="text/html" id="document-template">
    <!-- ko if: isDocumentDefined() -->
        <!-- Display the document ID -->
    <section class="section-wrapper section-wrapper-top-border clear-group">
            <div class="document-tabset" role="tablist">
                <div role="tab" aria-selected="true" tabindex="0" class="document-tab document-tab-overview" data-bind="selectTab: { 'tab': 'O' }, css: $root.Document().IsBlanketPurchaseOrder() ? 'bpo-tab' : ''">@Resources.ProcurementDocuments.DocumentOverviewLabel</div>
                <div role="tab" aria-selected="false" tabindex="0" class="document-tab document-tab-approvers" data-bind="selectTab: { 'tab': 'A' }, css: $root.Document().IsBlanketPurchaseOrder() ? 'bpo-tab' : ''">@Resources.ProcurementDocuments.ApproversLabel</div>
            
                <!-- ko if: Document().IsProcurementDocument() && !Document().IsBlanketPurchaseOrder() && !Document().IsRecurringVoucher() -->
                    <div role="tab" aria-selected="false" tabindex="0" class="document-tab document-tab-line-items" data-bind="selectTab: { 'tab': 'L' }">@Resources.ProcurementDocuments.LineItemsLabel</div>
                <!-- /ko -->

                <!-- ko if: Document().IsProcurementDocument() && Document().IsBlanketPurchaseOrder() -->
                    <div role="tab" aria-selected="false" tabindex="0" class="document-tab document-tab-line-items" data-bind="selectTab: { 'tab': 'L' }, css: $root.Document().IsBlanketPurchaseOrder() ? 'bpo-tab' : ''">@Resources.ProcurementDocuments.GlDistributionLabel</div>
                <!-- /ko -->

                <!-- ko if: Document().IsProcurementDocument() && Document().IsRecurringVoucher() -->
                    <div role="tab" aria-selected="false" tabindex="0" class="document-tab document-tab-line-items" data-bind="selectTab: { 'tab': 'L' }">@Resources.ProcurementDocuments.RecurringVoucherSchedulesLabel</div>
                <!-- /ko -->
            
                <!-- ko if: Document().IsLedgerEntryDocument() -->
                    <div role="tab" aria-selected="false" tabindex="0" class="document-tab document-tab-line-items" data-bind="selectTab: { 'tab': 'L' }">@Resources.GeneralLedgerDocuments.ItemsLabel</div>
                <!-- /ko -->
            </div>

        <div class="section-contents clear-group">
                <div id="overview-tabpanel" data-bind="attr: { 'role': $root.isMobile() ? 'tabpanel' : '' }">
                    <h3 class="offScreen" data-bind="attr: { 'aria-hidden': $root.isMobile() ? 'true' : 'false' }">@Resources.ProcurementDocuments.DocumentOverviewLabel</h3>
                    <section class="document-header" data-bind="visible: (!$root.isMobile()) || ($root.TabSelected() == 'O')">
                        <!-- ko if: Document().IsLedgerEntryDocument() -->
                        <dl class="clear-group">
                            <dt class="document-header-label">@Resources.GeneralLedgerDocuments.StatusLabel</dt>
                            <dd class="document-header-data" data-bind="text: Document().StatusDescription"></dd>
                        </dl>
                        <dl class="clear-group">
                            <dt class="document-header-label">@Resources.GeneralLedgerDocuments.JournalTypeLabel</dt>
                            <dd class="document-header-data" data-bind="text: Document().TypeDescription"></dd>
                        </dl>
                        <dl class="clear-group">
                            <dt class="document-header-label">@Resources.GeneralLedgerDocuments.JournalDateLabel</dt>
                            <dd class="document-header-data" data-bind="text: Document().Date"></dd>
                        </dl>
                        <dl class="clear-group">
                            <dt class="document-header-label">@Resources.GeneralLedgerDocuments.EnteredDateLabel</dt>
                            <dd class="document-header-data" data-bind="text: Document().EnteredDate"></dd>
                        </dl>
                        <dl class="clear-group">
                            <dt class="document-header-label">@Resources.GeneralLedgerDocuments.EnteredByLabel</dt>
                            <dd class="document-header-data" data-bind="text: Document().EnteredBy"></dd>
                        </dl>
                        <dl class="clear-group">
                            <dt class="document-header-label">@Resources.GeneralLedgerDocuments.AuthorLabel</dt>
                            <dd class="document-header-data" data-bind="text: Document().Author"></dd>
                        </dl>
                        <dl class="clear-group">
                            <dt class="document-header-label">@Resources.GeneralLedgerDocuments.AutomaticReversalLabel</dt>
                            <dd class="document-header-data" data-bind="text: Document().AutomaticReversalDescription"></dd>
                        </dl>
                        <!-- /ko -->
                        <!-- ko if: Document().IsProcurementDocument() -->
                        <dl class="clear-group">
                            <dt class="document-header-label">@Resources.ProcurementDocuments.StatusLabel</dt>
                            <dd class="document-header-data" data-bind="text: Document().StatusDescription"></dd>
                        </dl>

                        <!-- ko if: Document().IsRecurringVoucher() -->
                        <dl class="clear-group">
                            <dt class="document-header-label">@Resources.ProcurementDocuments.StatusDateLabel</dt>
                            <dd class="document-header-data" data-bind="text: Document().StatusDate"></dd>
                        </dl>
                        <!-- /ko -->

                        <dl class="clear-group">
                            <dt class="document-header-label">@Resources.ProcurementDocuments.VendorLabel</dt>
                            <dd class="document-header-data">
                                <span class="offScreen">@Resources.ProcurementDocuments.VendorIdText</span>

                                <!-- ko if: Document().VendorId().length > 0 -->
                                <span data-bind="text: Document().VendorId"></span>
                                <!-- /ko -->
                                <!-- ko if: Document().VendorId().length == 0 -->
                                <span class="offScreen">@Resources.ProcurementDocuments.VendorIdNullText</span>
                                <!-- /ko -->

                                <span class="offScreen">@Resources.ProcurementDocuments.VendorNameText</span>
                                <span data-bind="text: Document().VendorName"></span>
                            </dd>
                        </dl>

                        <dl class="clear-group">
                            <dt class="document-header-label">@Resources.ProcurementDocuments.DocumentAmountLabel</dt>
                            <dd class="document-header-data" data-bind="text: Document().Amount"></dd>
                        </dl>

                        <dl class="clear-group">
                            <dt class="document-header-label">@Resources.ProcurementDocuments.MaintenanceDateLabel</dt>
                            <dd class="document-header-data" data-bind="text: Document().MaintenanceDate"></dd>
                        </dl>
                        <!-- /ko -->
                        <!-- ko if: Document().IsVoucher() -->
                        <dl class="clear-group">
                            <dt class="document-header-label">@Resources.ProcurementDocuments.AssociatedDocumentLabel</dt>
                            <dd class="document-header-data">
                                <span class="associated-document" data-bind="text: Document().AssociatedDocumentReferenceNumber, visible: !Document().IsAssociatedDocumentLinkable()"></span>
                                <a class="associated-document" data-bind="text: Document().AssociatedDocumentReferenceNumber, visible: Document().IsAssociatedDocumentLinkable(), attr: { 'href': Document().AssociatedDocumentLink() }"></a>
                            </dd>
                        </dl>
                        <!-- /ko -->

                        <!-- ko if: Document().IsPurchaseOrder() || Document().IsRequisition() || Document().IsBlanketPurchaseOrder() -->
                        <dl class="clear-group">
                            <dt class="document-header-label">@Resources.ProcurementDocuments.InitiatorLabel</dt>
                            <dd class="document-header-data" data-bind="text: Document().InitiatorName"></dd>
                        </dl>
                        <!-- /ko -->

                        <!-- ko if: Document().IsPurchaseOrder() || Document().IsRequisition() -->
                        <dl class="clear-group">
                            <dt class="document-header-label">@Resources.ProcurementDocuments.RequestorLabel</dt>
                            <dd class="document-header-data" data-bind="text: Document().RequestorName"></dd>
                        </dl>
                        <!-- /ko -->

                        <dl class="clear-group">
                            <!-- ko if: Document().IsPurchaseOrder() || Document().IsRequisition() || Document().IsBlanketPurchaseOrder() -->
                            <dt class="document-header-label">@Resources.ProcurementDocuments.AssociatedDocumentsLabel</dt>
                            <!-- /ko -->

                            <!-- ko if: Document().IsPurchaseOrder() || Document().IsBlanketPurchaseOrder() -->
                            <dd class="document-header-data">
                                <!-- ko foreach: Document().Requisitions -->
                                <div class="requisition">
                                    <a class="associated-document" data-bind="text: Number, attr: { 'href': $parent.Document().AssociatedRequisitionLink(Id()) }"></a><span data-bind="    if: ($index() < ($parent.Document().Requisitions().length - 1)) || (($index() == ($parent.Document().Requisitions().length - 1)) && ($parent.Document().Vouchers().length > 0)), visible: !$root.isMobile()">,</span>
                                </div>
                                <!-- /ko -->

                                <!-- Display the voucher links -->
                                <!-- ko foreach: Document().Vouchers -->
                                <a class="associated-document" data-bind="text: $data, attr: { 'href': $parent.Document().AssociatedVoucherLink($data) }"></a><span data-bind="    if: ($index() < ($parent.Document().Vouchers().length - 1)), visible: !$root.isMobile()">,</span>
                                <!-- /ko -->
                            </dd>
                            <!-- /ko -->

                            <!-- ko if: Document().IsRequisition() -->
                            <dd class="document-header-data">
                                <!-- ko foreach: Document().PurchaseOrders -->
                                <div class="requisition">
                                    <a class="associated-document" data-bind="text: Number, attr: { 'href': $parent.Document().AssociatedPurchaseOrderLink(Id()) }"></a><span data-bind="if: ($index() < ($parent.Document().PurchaseOrders().length - 1)), visible: !$root.isMobile()">,</span>
                                </div>
                                <!-- /ko -->
                                <div class="requisition">
                                    <a class="associated-document" data-bind="text: Document().BlanketPurchaseOrderNumber, attr: { 'href': $parent.Document().AssociatedBlanketPurchaseOrderLink(Document().BlanketPurchaseOrderId()) }"></a>
                                </div>
                            </dd>
                            <!-- /ko -->

                        </dl>
                    </section>

                    <!-- ko if: Document().IsProcurementDocument() -->
                    <button id="additional-details-controller" class="no-styles additional-details-button" aria-expanded="false" data-bind="multiAccordion: { contentId: 'additional-details', expanded: false }, visible: (!$root.isMobile()) || ($root.TabSelected() == 'O')">
                        <span class="additional-details-text bold">@Resources.ProcurementDocuments.AdditionalDetailsLabelText</span>
                    </button>
                    <h3 class="offScreen" data-bind="attr: { 'aria-hidden': $root.isMobile() ? 'true' : 'false' }">@Resources.ProcurementDocuments.AdditionalDetailsLabelText</h3>
                    <!-- /ko -->
                    
                    <section id="additional-details" class="document-header header-right" data-bind="visible: (!$root.isMobile()) || ($root.TabSelected() == 'O')">
                        <!-- ko if: Document().IsProcurementDocument() -->
                        <dl class="clear-group">
                            <dt class="document-header-label">@Resources.ProcurementDocuments.DocumentDateLabel</dt>
                            <dd class="document-header-data" data-bind="text: Document().Date"></dd>
                        </dl>
                        <!-- /ko -->

                        <!-- ko if: Document().IsVoucher() -->
                        <dl class="clear-group">
                            <dt class="document-header-label">@Resources.ProcurementDocuments.DueDateLabel</dt>
                            <dd class="document-header-data" data-bind="text: Document().DueDate"></dd>
                        </dl>
                        <!-- /ko -->
                        <!-- ko if: Document().IsVoucher() || Document().IsRecurringVoucher() -->
                        <dl class="clear-group">
                            <dt class="document-header-label">@Resources.ProcurementDocuments.InvoiceNumberLabel</dt>
                            <dd class="document-header-data" data-bind="text: Document().InvoiceNumber"></dd>
                        </dl>
                        <dl class="clear-group">
                            <dt class="document-header-label">@Resources.ProcurementDocuments.InvoiceDateLabel</dt>
                            <dd class="document-header-data" data-bind="text: Document().InvoiceDate"></dd>
                        </dl>
                        <!-- /ko -->

                        <!-- ko if: Document().IsVoucher() -->
                        <dl class="clear-group">
                            <dt class="document-header-label">@Resources.ProcurementDocuments.CheckNumberLabel</dt>
                            <dd class="document-header-data" data-bind="text: Document().CheckNumber"></dd>
                        </dl>
                        <dl class="clear-group">
                            <dt class="document-header-label">@Resources.ProcurementDocuments.CheckDateLabel</dt>
                            <dd class="document-header-data" data-bind="text: Document().CheckDate"></dd>
                        </dl>
                        <!-- /ko -->

                        <!-- ko if: Document().IsPurchaseOrder() || Document().IsRequisition() || Document().IsBlanketPurchaseOrder() -->
                        <dl class="clear-group">
                            <dt class="document-header-label">@Resources.ProcurementDocuments.StatusDateLabel</dt>
                            <dd class="document-header-data" data-bind="text: Document().StatusDate"></dd>
                        </dl>
                        <!-- /ko -->

                        <!-- ko if: Document().IsPurchaseOrder() -->
                        <dl class="clear-group">
                            <dt class="document-header-label">@Resources.ProcurementDocuments.ExpectedDeliveryDateLabel</dt>
                            <dd class="document-header-data" data-bind="text: Document().DeliveryDate"></dd>
                        </dl>
                        <!-- /ko -->

                        <!-- ko if: Document().IsRequisition() -->
                        <dl class="clear-group">
                            <dt class="document-header-label">@Resources.ProcurementDocuments.DesiredDateLabel</dt>
                            <dd class="document-header-data" data-bind="text: Document().DesiredDate"></dd>
                        </dl>
                        <!-- /ko -->

                        <!-- ko if: Document().IsBlanketPurchaseOrder() -->
                        <dl class="clear-group">
                            <dt class="document-header-label">@Resources.ProcurementDocuments.ExpirationDateLabel</dt>
                            <dd class="document-header-data" data-bind="text: Document().ExpirationDate"></dd>
                        </dl>
                        <!-- /ko -->

                        <!-- ko if: Document().IsProcurementDocument() -->
                        <dl class="clear-group">
                            <dt class="document-header-label">@Resources.ProcurementDocuments.APTypeLabel</dt>
                            <dd class="document-header-data" data-bind="text: Document().ApType"></dd>
                        </dl>
                        <!-- /ko -->

                        <!-- ko if: Document().IsBlanketPurchaseOrder() -->
                        <dl class="clear-group">
                            <dt class="document-header-label">@Resources.ProcurementDocuments.DescriptionLabel</dt>
                            <dd class="document-header-data" data-bind="text: Document().Description"></dd>
                        </dl>
                        <!-- /ko -->
                    </section>

                    <section class="comments-section extra-margin" data-bind="visible: (!$root.isMobile()) || ($root.TabSelected() == 'O')">
                    <section class="section-wrapper" data-bind="css: Document().Comments().length == 0 ? $root.blankSpace() : ''">
                        <h3 class="section-header document-heading">@Resources.ProcurementDocuments.CommentsLabel</h3>

                            <!-- ko if: (!$root.isMobile()) || ($root.isMobile() && Document().Comments().length > 0) -->
                            <p class="section-contents" data-bind="text: Document().Comments"></p>
                            <!-- /ko -->
                        </section>

                        <!-- ko if: Document().IsPurchaseOrder() || Document().IsRequisition() || Document().IsBlanketPurchaseOrder()-->
                        <section class="section-wrapper" data-bind="css: Document().Comments().length == 0 ? $root.blankSpace() : ''">
                            <h3 class="section-header internal-comments document-heading">@Resources.ProcurementDocuments.InternalCommentsLabel</h3>

                                <!-- ko if: (!$root.isMobile()) || ($root.isMobile() && Document().Comments().length > 0) -->
                                <p class="section-contents" data-bind="text: Document().InternalComments"></p>
                                <!-- /ko -->
                            </section>
                        <!-- /ko -->
                    </section>
                </div>

                <div id="approvers-tabpanel" class="clear-group" data-bind="attr: { 'role': $root.isMobile() ? 'tabpanel' : '' }">
                <section class="section-wrapper approvers-section approvers" data-bind="visible: (!$root.isMobile()) || ($root.TabSelected() == 'A')">
                    <div class="section-header document-heading clear-group">
                        <h3 class="document-heading">@Resources.ProcurementDocuments.ApproversLabel</h3>
                        <span class="document-heading approvers-header-date">@Resources.ProcurementDocuments.ApprovalDateLabel</span>
                    </div>

                    <ul data-bind="foreach: Document().Approvers">
                        <li class="document-approver section-contents">
                                    <span>
                                        <span class="document-approver-icon" aria-hidden="true" data-bind="css: approvalStatusIcon"></span>
                                    </span>
                                    <span class="approver-name" data-bind="text: Name"></span>
                                    <span class="approver-date" data-bind="text: DateOrWaiting, css: awaitingApproval"></span>
                                </li>
                        </ul>
                    </section>
                </div>
                
                <div id="line-items-tabpanel" data-bind="attr: { 'role': $root.isMobile() ? 'tabpanel' : '' }">
                    <table class="document-line-items" role="grid" aria-readonly="true" data-bind="visible: (!$root.isMobile()) || ($root.TabSelected() == 'L')">
                        <!-- ko if: $root.Document().IsRecurringVoucher() -->
                        <caption>
                            @Resources.ProcurementDocuments.RecurringVoucherScheduleLabel
                        </caption>
                        <!-- /ko -->
                        <thead>
                            <tr>
                                <!-- Any procurement document except BPO and recurring voucher -->
                                <!-- ko if: Document().IsProcurementDocument() && !Document().IsBlanketPurchaseOrder() && !Document().IsRecurringVoucher() -->
                                    <th class="line-items-header line-item-align-left" role="columnheader">@Resources.ProcurementDocuments.LineItemsLabel</th>
                                    <th class="line-items-header line-item-align-left line-item-description" role="columnheader">@Resources.ProcurementDocuments.LineItemDescriptionLabel</th>
                                    <th class="line-items-header line-item-align-right" role="columnheader">@Resources.ProcurementDocuments.LineItemsQuantityLabel</th>
                            
                                    <!-- Only display this column if we're looking at a Purchase Order or a Requisition -->
                                    <th class="line-items-header line-item-align-left" scope="col" role="columnheader" data-bind="visible: $root.Document().IsPurchaseOrder() || $root.Document().IsRequisition">@Resources.ProcurementDocuments.LineItemsUnitColumnHeaderLabel</th>
                            
                                    <th class="line-items-header line-item-align-right" scope="col" role="columnheader">@Resources.ProcurementDocuments.LineItemsPriceColumnHeaderLabel</th>
                                    <th class="line-items-header line-item-align-right extended-price" scope="col" role="columnheader">@Resources.ProcurementDocuments.LineItemsExtendedPriceLabel</th>
                                <!-- /ko -->

                                <!-- Headers for BPO -->
                                <!-- ko if: Document().IsProcurementDocument() && $root.Document().IsBlanketPurchaseOrder() -->
                                    <th class="line-items-header line-item-align-left" role="columnheader" colspan="2">@Resources.ProcurementDocuments.GlDistributionLabel</th>
                                    <th class="line-items-header line-item-align-right" scope="col" role="columnheader">
                                        <span>@Resources.ProcurementDocuments.EncumberedAmountLabel</span>
                                        <span class="offScreen">@Resources.ProcurementDocuments.GlDistributionAmountLabel</span>
                                    </th>
                                    <th class="line-items-header line-item-align-right" scope="col" role="columnheader">
                                        <span>@Resources.ProcurementDocuments.ExpensedAmountLabel</span>
                                        <span class="offScreen">@Resources.ProcurementDocuments.GlDistributionAmountLabel</span>
                                    </th>
                                    <th class="line-items-header line-item-align-right" scope="col" role="columnheader">
                                        <span>@Resources.ProcurementDocuments.RemainingAmountLabel</span>
                                        <span class="offScreen">@Resources.ProcurementDocuments.GlDistributionAmountLabel</span>
                                    </th>
                                <!-- /ko -->

                                <!-- Headers for Recurring Voucher -->
                                <!-- ko if: Document().IsProcurementDocument() && $root.Document().IsRecurringVoucher() -->
                                    <th class="line-items-header rcv-schedule blank" aria-hidden="true"></th>
                                    <th class="line-items-header line-item-align-left rcv-schedule schedule-date" role="columnheader">@Resources.ProcurementDocuments.ScheduleDateLabel</th>
                                    <th class="line-items-header line-item-align-right rcv-schedule" scope="col" role="columnheader">@Resources.ProcurementDocuments.ScheduleAmountLabel</th>
                                    <th class="line-items-header line-item-align-right rcv-schedule schedule-tax-amount" scope="col" role="columnheader">@Resources.ProcurementDocuments.TaxAmountLabel</th>

                                    <!-- ko if: !$root.isMobile() -->
                                        <th class="line-items-header line-item-align-left rcv-schedule rcv-schedule-voucher" scope="col" role="columnheader">@Resources.ProcurementDocuments.VoucherLabel</th>
                                        <th class="line-items-header line-item-align-left rcv-schedule" scope="col" role="columnheader">@Resources.ProcurementDocuments.DueDateLabel</th>
                                        <th class="line-items-header line-item-align-left rcv-schedule" scope="col" role="columnheader">@Resources.ProcurementDocuments.StatusLabel</th>
                                    <!-- /ko -->
                                <!-- /ko -->

                                <!-- ko if: Document().IsLedgerEntryDocument() -->
                                    <th class="line-items-header line-item-align-left" role="columnheader">@Resources.GeneralLedgerDocuments.JournalEntryItemLabel</th>
                                    <th class="line-items-header line-item-align-left line-item-description" role="columnheader">@Resources.GeneralLedgerDocuments.ItemGlAccountDescription</th>
                                    <th class="line-items-header line-item-align-right" scope="col" role="columnheader">@Resources.GeneralLedgerDocuments.ItemDebitLabel</th>
                                    <th class="line-items-header line-item-align-right" scope="col" role="columnheader">@Resources.GeneralLedgerDocuments.ItemCreditLabel</th>
                                <!-- /ko -->
                            </tr>
                        </thead>

                        <tbody>
                            <!-- ko if: ($root.isMobile()) && (!$root.LineItemDetailDisplayed()) && ($root.Document().IsProcurementDocument() && !$root.Document().IsBlanketPurchaseOrder()) && !$root.Document().IsRecurringVoucher() -->
                                <tr>
                                    <th></th>
                                    <th class="line-item-description-only bold" role="columnheader">@Resources.ProcurementDocuments.LineItemDescriptionLabel</th>
                                    <th class="extended-price-only bold" role="columnheader">@Resources.ProcurementDocuments.LineItemsExtendedPriceLabel</th>
                                </tr>
                            <!-- /ko -->

                            <!-- ko if: ($root.isMobile()) && (!$root.LineItemDetailDisplayed()) && ($root.Document().IsLedgerEntryDocument()) -->
                                <tr>
                                    <th></th>
                                    <th class="line-item-description-only bold" role="columnheader">@Resources.GeneralLedgerDocuments.ItemGlAccountDescription</th>
                                    <th class="extended-price-only bold" role="columnheader">@Resources.GeneralLedgerDocuments.ItemDebitCreditLabel</th>
                                </tr>
                            <!-- /ko -->

                            <!-- ko foreach: Document().DocumentItems -->
                                <!-- When in mobile, all documents except BPOs and RCVs use the slide panel -->
                                <!-- ko if: $root.isMobile() && !$root.Document().IsRecurringVoucher() && !$root.Document().IsBlanketPurchaseOrder() -->
                                    <tr class="document-line-item" data-bind="template: { name: 'document-line-item-controller-template', data: $data }, panel: { executeBinding: $root.isMobile(), contentId: 'panel-content-' + $index()+1, description: documentPanelDetailsLabel, parentId: 'line-items-tabpanel', backLinkLabel: $root.Document().documentItemType() }, css: $root.Document().IsBlanketPurchaseOrder() || $root.Document().IsRecurringVoucher() ? 'no-detail' : ''">
                                    </tr>
                                <!-- /ko -->

                                <!-- When in desktop, no toggle binding for BPOs and RCVs -->
                                <!-- ko if: !$root.isMobile() && ($root.Document().IsRecurringVoucher() || $root.Document().IsBlanketPurchaseOrder()) -->
                                    <tr class="document-line-item" data-bind="template: { name: 'document-line-item-controller-template', data: $data }, css: $root.Document().IsBlanketPurchaseOrder() || $root.Document().IsRecurringVoucher() ? 'no-detail' : ''">
                                    </tr>
                                <!-- /ko -->

                                <!-- When in mobile, BPOs and RCVs use accordion -->
                                <!-- ko if: $root.isMobile() && ($root.Document().IsRecurringVoucher() || $root.Document().IsBlanketPurchaseOrder()) -->
                                    <tr class="document-line-item" data-bind="template: { name: 'document-line-item-controller-template', data: $data }, multiAccordion: { contentId: 'document-item-detail' + $index(), expanded: false }, css: $root.Document().IsBlanketPurchaseOrder() || $root.Document().IsRecurringVoucher() ? 'no-detail' : ''">
                                    </tr>
                                <!-- /ko -->
                                            

                                <!-- When in desktop, all documents except BPOs and RCVs use accordion -->
                                <!-- ko if: !$root.isMobile() && !$root.Document().IsRecurringVoucher() && !$root.Document().IsBlanketPurchaseOrder() -->
                                    <tr class="document-line-item" data-bind="template: { name: 'document-line-item-controller-template', data: $data }, multiAccordion: { contentId: DocumentItemId(), expanded: false }, css: $root.Document().IsBlanketPurchaseOrder() || $root.Document().IsRecurringVoucher() ? 'no-detail' : ''">
                                    </tr>
                                <!-- /ko -->

                                <!-- special row for BPO amounts -->
                                <!-- ko if: $root.isMobile() && $root.Document().IsBlanketPurchaseOrder() -->
                                <tr class="document-item-details-row">
                                    <td colspan="4">
                                        <div class="accordion-table-wrapper" data-bind="attr: { id: DocumentItemId() }">
                                            <table style="width: 100%">
                                                <tbody>
                                                    <tr class="bpo-rcv-amount-row-mobile">
                                                        <td class="bpo-amounts" colspan="2">
                                                            <div>
                                                                <span class="misc-info-label left-column bpo-item bold">@Resources.ProcurementDocuments.EncumberedAmountLabel</span>
                                                                <span class="misc-info-data right-column bpo-amount" data-bind="text: EncumberedAmount"></span>
                                                            </div>

                                                            <div>
                                                                <span class="misc-info-label left-column bpo-item bold">@Resources.ProcurementDocuments.ExpensedAmountLabel</span>
                                                                <span class="misc-info-data right-column bpo-amount" data-bind="text: ExpensedAmount"></span>
                                                            </div>

                                                            <div>
                                                                <span class="misc-info-label left-column bpo-item bold">@Resources.ProcurementDocuments.RemainingAmountLabel</span>
                                                                <span class="misc-info-data right-column bpo-amount" data-bind="text: RemainingAmount"></span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <!-- /ko -->

                                <!-- special row for recurring voucher properties -->
                                <!-- ko if: $root.isMobile() && $root.Document().IsRecurringVoucher() -->
                                <tr class="document-item-details-row">
                                    <td colspan="4">
                                        <div class="accordion-table-wrapper" data-bind="attr: { id: DocumentItemId() }">
                                            <table style="width: 100%">
                                                <tbody>
                                                    <tr class="bpo-rcv-amount-row-mobile">
                                                        <td class="bpo-rvc-amount-cell-mobile" aria-hidden="true"></td>
                                                        <td class="rcv-amounts" colspan="3">
                                                            <div class="layout-table full-width">
                                                                <div class="layout-table-row clear-fix">
                                                                    <span class="layout-table-cell misc-info-label left-column bpo-item bold">@Resources.ProcurementDocuments.VoucherLabel</span>
                                                                    <span class="layout-table-cell misc-info-data right-column bpo-amount">
                                                                        <!-- ko if: VoucherId() -->
                                                                        <a data-bind="text: VoucherId, attr: { 'href' : $root.Document().AssociatedVoucherLink(VoucherId()) }"></a>
                                                                        <!-- /ko -->
                                                                        <!-- ko if: PurgedVoucherId() -->
                                                                        <span data-bind="text: PurgedVoucherId"></span>
                                                                        <!-- /ko -->
                                                                    </span>
                                                                </div>

                                                                <div class="layout-table-row clear-fix">
                                                                    <span class="layout-table-cell misc-info-label left-column bpo-item bold">@Resources.ProcurementDocuments.DueDateLabel</span>
                                                                    <span class="layout-table-cell misc-info-data right-column bpo-amount" data-bind="text: VoucherDueDate"></span>
                                                                </div>

                                                                <div class="layout-table-row clear-fix">
                                                                    <span class="layout-table-cell misc-info-label left-column bpo-item bold">@Resources.ProcurementDocuments.StatusLabel</span>
                                                                    <span class="layout-table-cell misc-info-data right-column bpo-amount" data-bind="text: VoucherStatus"></span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <!-- /ko -->

                                <!-- ko if: !$root.Document().IsBlanketPurchaseOrder() && !$root.Document().IsRecurringVoucher() -->
                                    <tr class="document-item-details-row" data-bind="attr: {id: 'panel-content-' + $index()+1 }">
                                        <td data-bind="attr: { 'colspan': ($root.Document().IsPurchaseOrder() || $root.Document().IsRequisition()) ? '6' : '5' }">
                                            <div class="accordion-table-wrapper" data-bind="attr: { id: DocumentItemId() }, css: $root.Document().IsJournalEntry() ? 'journal-entry' : ''">
                                                <table style="width: 100%">
                                                    <tbody>
                                                        <tr class="line-item-details-row">
                                                            <td class="line-item-details-cell"></td>
                                                            <td class="line-item-details-cell">
                                                                <div class="line-item-header-info" data-bind="visible: $root.isMobile()">
                                                                    <!-- ko if: $root.Document().IsProcurementDocument() -->
                                                                        <div class="line-item-attribute description-and-extended-price clear-group">
                                                                            <span class="misc-info-label left-column" data-bind="text: Description()"></span>
                                                                            <span class="misc-info-data right-column bold" data-bind="valueOrBlank: ExtendedPriceDisplay()"></span>
                                                                        </div>

                                                                    <div class="line-item-attribute clear-group">
                                                                        <span class="misc-info-label left-column">@Resources.ProcurementDocuments.LineItemDetailQuantityLabel</span>
                                                                        <span class="misc-info-data right-column" data-bind="valueOrBlank: Quantity()"></span>
                                                                    </div>

                                                                        <!-- ko if: $root.Document().IsPurchaseOrder() || $root.Document().IsRequisition() -->
                                                                    <div class="line-item-attribute clear-group">
                                                                        <span class="misc-info-label left-column">@Resources.ProcurementDocuments.LineItemsUnitLabel</span>
                                                                        <span class="misc-info-data right-column" data-bind="valueOrBlank: UnitOfIssue()"></span>
                                                                    </div>
                                                                        <!-- /ko -->

                                                                        <div class="line-item-attribute line-item-price-mobile clear-group">
                                                                            <span class="misc-info-label left-column">@Resources.ProcurementDocuments.LineItemsPriceLabel</span>
                                                                            <span class="misc-info-data right-column" data-bind="text: PriceDisplay()"></span>
                                                                        </div>
                                                                    <!-- /ko -->
                                                                </div>
                                                    
                                                                <!-- ko if: $root.Document().IsProcurementDocument() -->
                                                                <div class="line-item-gl-distrs">
                                                                    <span class="line-item-attribute clear-group gl-distributions-label bold" data-bind="visible: $root.isMobile()">@Resources.ProcurementDocuments.GlDistributionLabel</span>
                                                                    <ul data-bind="foreach: GlDistributions">
                                                                        <li>
                                                                            <div class="gl-distribution-container">
                                                                                <!-- ko if: IsAccountMasked() -->
                                                                                    <span class="arrow gl-distr-arrow"></span>
                                                                                    <span class="offScreen">@Resources.ProcurementDocuments.GlAccountNumberMaskedText</span>
                                                                                    <span aria-hidden="true" class="gl-distribution-number masked" data-bind="text: FormattedGlAccount"></span>
                                                                                <!-- /ko -->

                                                                                <!-- ko if: !IsAccountMasked() -->
                                                                                    <button class="no-styles gl-account" data-bind="toggleDocumentLineItemGlDistribution: {}" aria-expanded="false">
                                                                                        <span class="arrow gl-distr-arrow"></span>
                                                                                        <span class="offScreen">
                                                                                            <!-- Get the text for the data-bind from StringConstantDefinitions -->
                                                                                            <span data-bind="text: viewText + glAccountNumberText + FormattedGlAccount() + detailsText"></span>
                                                                                        </span>
                                                                                        <span aria-hidden="true" class="gl-distribution-number bold" data-bind="text: FormattedGlAccount"></span>
                                                                                    </button>
                                                                                <!-- /ko -->
                                                                            </div>
                                                                            <div class="gl-distr-details clear-group">
                                                                                <div class="gl-distr-row">
                                                                                    <span class="misc-info-label gl-distr-left">@Resources.ProcurementDocuments.GlDistributionProjectLabel</span>
                                                                                    <span class="misc-info-data gl-distr-right" data-bind="text: ProjectNumber"></span>
                                                                                </div>

                                                                                <div class="gl-distr-row">
                                                                                    <span class="misc-info-label gl-distr-left">@Resources.ProcurementDocuments.GlDistributionItemCodeLabel</span>
                                                                                    <span class="misc-info-data gl-distr-right" data-bind="text: ProjectLineItemCode"></span>
                                                                                    </div>
                                                    
                                                                                <div class="gl-distr-row">
                                                                                    <span class="misc-info-label gl-distr-left">@Resources.ProcurementDocuments.LineItemDetailQuantityLabel</span>
                                                                                    <span class="misc-info-data gl-distr-right" data-bind="text: Quantity"></span>
                                                                                </div>

                                                                                <div class="gl-distr-row">
                                                                                    <span class="misc-info-label gl-distr-left">@Resources.ProcurementDocuments.GlDistributionAmountLabel</span>
                                                                                    <span class="misc-info-data gl-distr-right" data-bind="text: AmountDisplay"></span>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <!-- /ko -->

                                                                <!-- ko if: $root.Document().IsLedgerEntryDocument() -->
                                                                    <div class="line-item-attribute description-and-extended-price clear-group">
                                                                        <span class="misc-info-label left-column" data-bind="text: GlAccountDescription(), visible: $root.isMobile()"></span>
                                                                        <span class="misc-info-data right-column bold" data-bind="text: itemAmount, visible: $root.isMobile(), css: itemAmountColor"></span>
                                                                    </div>
                                                    
                                                                    <div class="line-item-misc-info">
                                                                        <div class="line-item-attribute clear-group">
                                                                            <span class="misc-info-label left-column je-override">@Resources.GeneralLedgerDocuments.ItemGlAccountNumberText</span>
                                                                            <span class="misc-info-data right-column je-override" data-bind="text: FormattedGlAccount"></span>
                                                                        </div>
                                                                        <div class="line-item-attribute clear-group">
                                                                            <span class="misc-info-label left-column je-override">@Resources.GeneralLedgerDocuments.ItemProjectLabel</span>
                                                                            <span class="misc-info-data right-column je-override" data-bind="text: ProjectNumber"></span>
                                                                        </div>
                                                                        <div class="line-item-attribute clear-group">
                                                                            <span class="misc-info-label left-column je-override">@Resources.GeneralLedgerDocuments.ItemItemCodeLabel</span>
                                                                            <span class="misc-info-data right-column je-override" data-bind="text: ProjectLineItemCode"></span>
                                                                        </div>
                                                                        <div class="line-item-attribute je-attribute clear-group">
                                                                            <span class="misc-info-label left-column je-override">@Resources.GeneralLedgerDocuments.ItemDescriptionLabel</span>
                                                                            <span class="misc-info-data right-column je-override" data-bind="text: Description"></span>
                                                                        </div>
                                                                    </div>
                                                                <!-- /ko -->

                                                                <!-- ko if: $root.Document().IsProcurementDocument() -->
                                                                    <div class="line-item-misc-info">
                                                                        <!-- ko if: $root.Document().IsPurchaseOrder() || $root.Document().IsRequisition() -->
                                                                            <div class="line-item-attribute clear-group">
                                                                                <span class="misc-info-label left-column">@Resources.ProcurementDocuments.LineItemsVendorItemLabel</span>
                                                                                <span class="misc-info-data right-column" data-bind="valueOrBlank: VendorItem()"></span>
                                                                            </div>
                                                                        <!-- /ko -->

                                                                        <div class="line-item-attribute clear-group">
                                                                            <span class="misc-info-label left-column tax-codes-label">@Resources.ProcurementDocuments.LineItemsTaxCodesLabel</span>
                                                        
                                                                            <!-- ko if: TaxDistributions().length > 0 -->
                                                                                <span class="misc-info-data right-column tax-codes-data">
                                                                                    <!-- ko foreach: TaxDistributions -->
                                                                                        <span class="tax-distr-line clear-group">
                                                                                            <span class="tax-code-and-description">
                                                                                                <span class="tax-distr-code" data-bind="text: TaxCode"></span>
                                                                                                <span class="tax-distr-code" data-bind="text: TaxCodeDescription"></span>
                                                                                            </span>
                                                                                            <span class="tax-distr-amount float-right" data-bind="text: AmountDisplay"></span>
                                                                                        </span>
                                                                                    <!-- /ko -->
                                                                                </span>
                                                                            <!-- /ko -->
                                                                        </div>

                                                                        <!-- ko if: $root.Document().IsPurchaseOrder() -->
                                                                            <div class="line-item-attribute clear-group">
                                                                                <span class="misc-info-label left-column">@Resources.ProcurementDocuments.LineItemsExpectedDeliveryDateLabel</span>
                                                                                <span class="misc-info-data right-column" data-bind="valueOrBlank: ExpectedDeliveryDate()"></span>
                                                                            </div>
                                                                        <!-- /ko -->

                                                                        <!-- ko if: $root.Document().IsRequisition() -->
                                                                            <div class="line-item-attribute clear-group">
                                                                                <span class="misc-info-label left-column">@Resources.ProcurementDocuments.LineItemsDesiredDateLabel</span>
                                                                                <span class="misc-info-data right-column" data-bind="valueOrBlank: DesiredDate()"></span>
                                                                            </div>
                                                                        <!-- /ko -->
                                            
                                                                        <!-- ko if: $root.Document().IsVoucher() -->
                                                                            <div class="line-item-attribute clear-group">
                                                                                <span class="misc-info-label left-column">@Resources.ProcurementDocuments.LineItemsInvoiceNumberLabel</span>
                                                                                <span class="misc-info-data right-column" data-bind="valueOrBlank: InvoiceNumber()"></span>
                                                                            </div>
                                                                        <!-- /ko -->

                                                                        <div class="line-item-attribute clear-group">
                                                                            <span class="misc-info-label left-column">@Resources.ProcurementDocuments.LineItemsTaxFormInfoLabel</span>
                                                                            <span class="misc-info-data right-column">
                                                                                <span data-bind="text: TaxForm"></span>
                                                                                <span data-bind="text: TaxFormCode"></span>
                                                                                <span data-bind="text: TaxFormLocation"></span>
                                                                            </span>
                                                                        </div>

                                                                        <div class="line-item-attribute po-comments">
                                                                            <span class="misc-info-label left-column line-item-comments comments-wrapper" data-bind="css: Comments().length == 0 ? $root.blankSpace() : ''">
                                                                                <span class="misc-info-label left-column line-item-comments">@Resources.ProcurementDocuments.LineItemsCommentsLabel</span>
                                                                            </span>

                                                                            <!-- ko if: (!$root.isMobile()) || ($root.isMobile() && Comments().length > 0) -->
                                                                            <span class="misc-info-data right-column line-item-comments" data-bind="text: Comments"></span>
                                                                            <!-- /ko -->
                                                                        </div>
                                                                    </div>
                                                                <!-- /ko -->
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                <!-- /ko -->

                                
                            <!-- /ko -->
                            
                        </tbody>
                        <tfoot>
                            <!-- ko if: (!$root.isMobile()) && ($root.Document().IsLedgerEntryDocument()) -->
                            <tr>
                                <td class="line-items-cell line-item-description entry-total" colspan="2">@Resources.GeneralLedgerDocuments.ItemTotalsLabel</td>
                                <td class="line-items-cell line-item-price line-item-align-right" data-bind="text: $root.Document().TotalDebits"></td>
                                <td class="line-items-cell line-item-price line-item-align-right" data-bind="text: $root.Document().TotalCredits"></td>
                            </tr>
                            <!-- /ko -->
                            <!-- ko if: ($root.isMobile()) && ($root.Document().IsLedgerEntryDocument()) -->
                                <tr>
                                    <td class="line-items-cell line-item-description item-total" colspan="2">@Resources.GeneralLedgerDocuments.DebitTotalLabel</td>
                                    <td class="line-items-cell line-item-ext-price line-item-align-right item-total-amount" data-bind="text: $root.Document().TotalDebits"></td>
                                </tr>
                                <tr>
                                    <td class="line-items-cell line-item-description item-total" colspan="2">@Resources.GeneralLedgerDocuments.CreditTotalLabel</td>
                                    <td class="line-items-cell line-item-ext-price line-item-align-right item-total-amount" data-bind="text: $root.Document().TotalCredits, css: creditsAmountColor"></td>
                                </tr>
                                <!-- /ko -->
                                <!-- ko if: $root.Document().IsRecurringVoucher() -->
                                <tr class="rcv-schedule-totals">
                                    <th class="line-items-cell" aria-hidden="true"></th>
                                    <th class="line-items-cell line-item-align-left total">@Resources.ProcurementDocuments.TotalLabel</th>
                                    <th class="line-items-cell line-item-align-right" data-bind="text: Document().TotalScheduleAmount"></th>
                                    <th class="line-items-cell line-item-align-right tax-amount" data-bind="text: Document().TotalScheduleTaxAmount"></th>
                                    <th class="line-items-cell blank" colspan="3" aria-hidden="true"></th>
                                </tr>

                                <!-- ko if: $root.Document().CurrencyCode() -->
                                <tr class="rcv-schedule-totals">
                                    <th class="line-items-cell" aria-hidden="true"></th>
                                    <th class="line-items-cell line-item-align-left total">@Resources.ProcurementDocuments.LocalTotalLabel</th>
                                    <th class="line-items-cell line-item-align-right" data-bind="text: Document().TotalScheduleAmountInLocalCurrency"></th>
                                    <th class="line-items-cell line-item-align-right tax-amount" data-bind="text: Document().TotalScheduleTaxAmountInLocalCurrency"></th>
                                    <th class="line-items-cell blank" colspan="3" aria-hidden="true"></th>
                                </tr>
                                <!-- /ko -->
                            <!-- /ko -->
                        </tfoot>
                    </table>
                </div>
            </div>
        </section>
    <!-- /ko -->
</script>

<script type="text/html" id="document-line-item-controller-template">
<!-- ko if: !$root.Document().IsBlanketPurchaseOrder() && !$root.Document().IsRecurringVoucher() -->
    <td class="line-items-cell arrow-number">
        <button type="button" class="line-item-number-button no-styles expand-details" aria-hidden="false" aria-expanded="false" data-bind="css: $root.isMobile() ? 'offScreen' : ''">
            <span class="offScreen">
                <span>@Resources.ColleagueFinanceHome.View</span>
                <!-- ko if: !$root.Document().IsLedgerEntryDocument() -->
                    <span data-bind="text: Description()"></span>
                <!-- /ko -->
                <!-- ko if: $root.Document().IsLedgerEntryDocument() -->
                    <span data-bind="text: GlAccountDescription()"></span>
                <!-- /ko -->
                <span>@Resources.ColleagueFinanceHome.Details</span>
            </span>
        </button>
        <span class="line-number" data-bind="text: $index()+1"></span>
    </td>
<!-- /ko -->

<!-- Any procurement document except Blanket Purchase Order and Recurring Voucher -->
<!-- ko if: $root.Document().IsProcurementDocument() && !$root.Document().IsBlanketPurchaseOrder() && !$root.Document().IsRecurringVoucher() -->
    <td class="line-items-cell line-item-description bold" data-bind="text: Description"></td>
    <td class="line-items-cell line-item-quantity line-item-align-right" data-bind="text: Quantity"></td>

    <!-- Only display this column if we're looking at a Purchase Order  or a Requisition -->
    <td class="line-items-cell line-item-unit" data-bind="text: UnitOfIssue, visible: $root.Document().IsPurchaseOrder() || $root.Document().IsRequisition()"></td>
                                                
    <td class="line-items-cell line-item-price line-item-align-right" data-bind="text: PriceDisplay"></td>
    <td class="line-items-cell line-item-ext-price line-item-align-right">
        <span data-bind="text: ExtendedPriceDisplay"></span>
    </td>
<!-- /ko -->

<!-- Blanket Purchase Order data -->
<!-- ko if: $root.Document().IsBlanketPurchaseOrder() -->
    <!-- ko if: !$root.isMobile() -->
        <td class="line-items-cell arrow-number document-override" data-bind="text: $index()+1"></td>
    <!-- /ko -->

    <!-- ko if: $root.isMobile() -->
        <td class="line-items-cell arrow-number document-override"></td>
    <!-- /ko -->

    <td class="line-items-cell bpo-gl-account">
        <div>
            <span class="offScreen">@Resources.ProcurementDocuments.GLAccountNumberText</span>
            <span class="bold" data-bind="text: FormattedGlAccount"></span>
        </div>
                                                        
        <div class="line-item-misc-info">
            <div class="line-item-attribute bpo-item clear-group">
                <span class="misc-info-label left-column bpo-item bold">@Resources.ProcurementDocuments.DescriptionLabel</span>
                <span class="misc-info-data right-column bpo-item" data-bind="text: GlAccountDescription"></span>
            </div>
            <div class="line-item-attribute bpo-item clear-group">
                <span class="misc-info-label left-column bpo-item bold">@Resources.ProcurementDocuments.GlDistributionProjectLabel</span>
                <span class="misc-info-data right-column bpo-item" data-bind="text: ProjectNumber"></span>
            </div>
            <div class="line-item-attribute bpo-item clear-group">
                <span class="misc-info-label left-column bpo-item bold">@Resources.ProcurementDocuments.GlDistributionItemCodeLabel</span>
                <span class="misc-info-data right-column bpo-item" data-bind="text: ProjectLineItemCode"></span>
            </div>
        </div>
    </td>

    <!-- ko if: !$root.isMobile() -->
        <td class="line-items-cell bpo-gldistr-amount line-item-align-right" data-bind="text: EncumberedAmount"></td>
        <td class="line-items-cell bpo-gldistr-amount line-item-align-right" data-bind="text: ExpensedAmount"></td>
        <td class="line-items-cell bpo-gldistr-amount line-item-align-right" data-bind="text: RemainingAmount"></td>
    <!-- /ko -->
<!-- /ko -->
<!-- Blanket Purchase Order data -->

<!-- Recurring Voucher data -->
<!-- ko if: $root.Document().IsRecurringVoucher() -->
    <!-- ko if: !$root.isMobile() -->
        <td class="line-items-cell arrow-number document-override" data-bind="text: $index()+1"></td>
    <!-- /ko -->

    <!-- ko if: $root.isMobile() -->
        <td class="line-items-cell arrow-number document-override rc-voucher"></td>
    <!-- /ko -->

    <td class="line-items-cell line-item-align-left rcv-schedule-date controller" data-bind="text: Date"></td>
    <td class="line-items-cell line-item-align-right rcv-schedule-cell" data-bind="text: AmountDisplay"></td>
    <td class="line-items-cell line-item-align-right rcv-schedule-cell" data-bind="text: TaxAmountDisplay"></td>

    <!-- ko if: !$root.isMobile() -->
        <td class="line-items-cell line-item-align-left rcv-schedule-cell rcv-schedule-voucher">
            <!-- ko if: VoucherId() -->
                <a data-bind="text: VoucherId, attr: { 'href' : $root.Document().AssociatedVoucherLink(VoucherId()) }"></a>
            <!-- /ko -->

            <!-- ko if: PurgedVoucherId() -->
                <span data-bind="text: PurgedVoucherId"></span>
            <!-- /ko -->
        </td>
        <td class="line-items-cell line-item-align-left rcv-schedule-date voucher" data-bind="text: VoucherDueDate"></td>
        <td class="line-items-cell line-item-align-left rcv-schedule-cell voucher" data-bind="text: VoucherStatus"></td>
    <!-- /ko -->
<!-- /ko -->
<!-- Recurring Voucher data -->

<!-- ko if: $root.Document().IsLedgerEntryDocument() -->
    <td class="line-items-cell line-item-description" data-bind="text: GlAccountDescription"></td>
    <td class="line-items-cell line-item-price line-item-align-right">
        <span data-bind="text: DebitDisplay"></span>
        <span data-bind="visible: DebitDisplay().length > 0" class="offScreen">@Resources.GeneralLedgerDocuments.ItemDebitLabel</span>
    </td>
    <td class="line-items-cell line-item-price line-item-align-right">
        <span data-bind="text: CreditDisplay"></span>
        <span data-bind="visible: CreditDisplay().length > 0" class="offScreen">@Resources.GeneralLedgerDocuments.ItemCreditLabel</span>
    </td>
    <td class="line-items-cell line-item-ext-price line-item-align-right" data-bind= "visible: $root.isMobile()">
        <span data-bind="text: itemAmount, visible: $root.isMobile(), css: itemAmountColor"></span>
    </td>
<!-- /ko -->
</script>