﻿<!-- Copyright 2014-2017 Ellucian Company L.P. and its affiliates. -->
@{
    var area = Url.RequestContext.RouteData.DataTokens["Area"];
}

<script type="text/html" id="document-back-link">
    <!-- ko if: isDocumentDefined() -->
    <div id="page-description" class="esg-row esg-page-header">
        <!-- ko if: Document().IsVoucher() -->
        <h2 class="esg-page-header__title">
            <span>@Resources.ProcurementDocuments.VoucherLabel</span>
            <span data-bind="text: Document().DocumentId"></span>
        </h2>
        <!-- /ko -->
        <!-- ko if: Document().IsPurchaseOrder() -->
        <h2 class="esg-page-header__title">
            <span>@Resources.ProcurementDocuments.PurchaseOrderLabel</span>
            <span data-bind="text: Document().Number"></span>
        </h2>
        <!-- /ko -->
        <!-- ko if: Document().IsRequisition() -->
        <h2 class="esg-page-header__title">
            <span>@Resources.ProcurementDocuments.RequisitionLabel</span>
            <span data-bind="text: Document().Number"></span>
        </h2>
        <!-- /ko -->
        <!-- ko if: Document().IsBlanketPurchaseOrder() -->
        <h2 class="esg-page-header__title">
            <span>@Resources.ProcurementDocuments.BlanketPurchaseOrderLabel</span>
            <span data-bind="text: Document().Number"></span>
        </h2>
        <!-- /ko -->
        <!-- ko if: Document().IsRecurringVoucher() -->
        <h2 class="esg-page-header__title">
            <span>@Resources.ProcurementDocuments.RecurringVoucherLabel</span>
            <span data-bind="text: Document().Number"></span>
        </h2>
        <!-- /ko -->
        <!-- ko if: Document().IsJournalEntry() -->
        <h2 class="esg-page-header__title">
            <span>@Resources.GeneralLedgerDocuments.JournalEntryLabel</span>
            <span data-bind="text: Document().Number"></span>
        </h2>
        <!-- /ko -->
        @if (area == "ColleagueFinance")
        {
            <a href="#" class="esg-page-header__subtitle esg-page-header__subtitle--backlink" data-bind="attr: { 'href': Ellucian.ColleagueFinance.documentBackLinkUrl + '/' + Ellucian.ColleagueFinance.glNumber }">
                <span class="esg-icon__container esg-page-header__icon" aria-hidden="true">
                    <svg class="esg-icon esg-icon--left">
                        <use xlink:href="#icon-arrow"></use>
                    </svg>
                </span><span>@Resources.ColleagueFinanceHome.BackToText</span>
                <span data-bind="text: Document().FormattedAccountNumber, visible: glNumber !== 'undefined'"></span>
                <span data-bind="text: Document().GeneralLedgerAccountNumberDescription"></span>
            </a>
        }
        else
        {
            <a href="#" class="esg-page-header__subtitle esg-page-header__subtitle--backlink" data-bind="attr: { 'href': Ellucian.ProjectsAccounting.documentBackLinkUrl + '/' + Ellucian.ColleagueFinance.projectId + '/' + Ellucian.ColleagueFinance.glNumber }">
                <span class="esg-icon__container esg-page-header__icon" aria-hidden="true">
                    <svg class="esg-icon esg-icon--left">
                        <use xlink:href="#icon-arrow"></use>
                    </svg>
                </span><span>@Resources.ColleagueFinanceHome.BackToText</span>
                <span data-bind="text: Document().FormattedAccountNumber, visible: glNumber !== 'undefined'"></span>
                <span data-bind="text: Document().GeneralLedgerAccountNumberDescription"></span>
            </a>
        }
    </div>
    <!-- /ko -->
</script>