﻿@*Copyright 2016-2017 Ellucian Company L.P. and its affiliates.*@

<div id="cost-centers-filter-wrapper" class="transition">
    <div id="cost-centers-filter" data-bind="visible: IsPageLoaded()">
        @*Saved Filters*@
        <div id="saved-filters-wrapper" data-bind="visible: SavedFilterNames().length > 0">
            <span id="filter-saved-criteria-label">@Resources.ColleagueFinanceHome.FilterSavedCriteriaLabel</span>
            <div id="saved-filters-container" class="esg-dropdown" data-bind="visible: SavedFilterNames().length > 0">
                <button id="saved-filters-dropdown" class="esg-button esg-button--secondary esg-dropdown__toggle" data-bind="css: isSavedFiltersExpanded() ? 'esg-is-open' : '', attr: { 'aria-expanded': isSavedFiltersExpanded }" type="button" aria-haspopup="true">
                    <span id="selected-saved-filter-label" data-bind="html: selectedSavedFilterLabel" class="float-left"></span>
                    <span class="esg-dropdown__icon esg-dropdown__icon--right esg-icon__container float-right" aria-hidden="True">
                        <svg class="esg-icon esg-icon--small esg-icon--light esg-icon--down">
                            <use xlink:href="#icon-arrow"></use>
                        </svg>
                    </span>
                </button>
                <ul class="esg-dropdown__menu" id="saved-filters-ddl" aria-labelledby="saved-filters-dropdown" data-bind="foreach: SavedFilterNames">
                    <li class="esg-dropdown__menu-item inline-block">
                        <div>
                            <a class="esg-dropdown__link float-left normal-white-space" data-bind="html: $data.Value, event: { click: $parent.selectSavedFilter }"></a>
                        
                            <a class="filter-delete float-right" data-bind="event: { click: $parent.deleteFilter }">
                                <span class="esg-icon__container">
                                    <svg class="esg-icon">
                                        <use xlink:href="#icon-clear"></use>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            @*Set Default Criteria button.*@
            <div class="default-criteria-button">
                <button class="esg-button esg-button--primary esg-button--small" type="button" data-bind="event: { click: openDefaultFilterDialog }">@Resources.ColleagueFinanceHome.FilterSetDefaultButtonLabel</button>
        </div>
        </div>

        @*Filter Components*@
        <div data-bind="foreach: MajorComponents">
            <filter-control params="name: $data.ComponentName, criteria: $data.workingCriteria, criteriaArray: $data.tokenizedFilterCriteria, validate: $data.validateFilterCriteria, tooltip: majorComponentFilterTooltip"></filter-control>
        </div>

        @*Active Accounts with No Activity*@
        <div>
            <div class="css-collapsible-group esg-collapsible-group esg-collapsible-group--default" role="tablist" aria-multiselectable="true">
                @*Collapsible Group controls*@
                <div class="esg-collapsible-group__heading css-collapsible-group__heading" role="tab">
                    <span class="esg-collapsible-group__title">
                        <a class="esg-collapsible-group__toggle esg-is-collapsed" role="button" data-toggle="collapse" data-parent="#accordion" id="active-accounts-no-activity-control" aria-controls="active-accounts-no-activity" data-bind="event: { click: toggleAA }, attr: { href: 'active-accounts-no-activity', 'aria-expanded': aAExpanded }, css: aAExpanded() ? 'esg-is-open expanded' : 'esg-is-collapsed'">
                            <span data-bind="text: Ellucian.ColleagueFinance.activeAccountsWithNoActivityLabel, css: aAExpanded() ? 'expanded' : ''"></span>
                            @*Might be good to forego the accordian and just use the yes-no-toggle inline...*@
                            @*<yes-no-toggle params="valueToToggle: showActiveAccountsWithNoActivity, checkBoxDescription: Ellucian.ColleagueFinance.activeAccountsWithNoActivityTooltip"></yes-no-toggle>*@
                            <span class="esg-collapsible-group__icon esg-icon__container" aria-hidden="True">
                                <svg class="esg-icon--up" data-bind="css: aAExpanded() ? 'esg-icon esg-icon--up' : 'esg-icon esg-icon--down' ">
                                    <use xlink:href="#icon-arrow"></use>
                                </svg>
                            </span>
                        </a>
                    </span>
                </div>
                @*Collapsible Group - filter input, tool tip*@
                <div class="general-ledger-component-input-container esg-collapsible-group__body esg-is-collapsed esg-collapsible-group__toggle css-collapsible-group__body" role="tab" id="active-accounts-no-activity" aria-labelledby="active-accounts-no-activity-control" data-bind="css: aAExpanded() ? 'esg-is-open' : 'esg-is-collapsed'">

                    <yes-no-toggle params="valueToToggle: showActiveAccountsWithNoActivity, checkBoxDescription: Ellucian.ColleagueFinance.activeAccountsWithNoActivityTooltip"></yes-no-toggle>

                </div>
            </div>
        </div>

        @*Clear, Save, and Apply buttons*@
        <div class="cost-center-filter-options">
            <button class="esg-button esg-button--primary esg-button--fluid cost-center-filter-button apply-filter" type="button" data-bind="event: { click: applyFilterToCurrentTab }, enable: isFilterChanged">@Resources.ColleagueFinanceHome.FilterApplyCriteriaButton</button>
            <div class="esg-button-group esg-button-group--fluid css-button-group" role="group" aria-label="button group">
                <div class="esg-button-group__item" role="group">
                    <button class="esg-button esg-button--secondary cost-center-filter-reset" type="button" data-bind="event: { click: resetFilters }">@Resources.ColleagueFinanceHome.FilterResetCriteria</button>
                </div>
                <div class="esg-button-group__item" role="group">
                    <button class="esg-button esg-button--secondary cost-center-filter-button save-criteria" type="button" data-bind="enable: isSaveCriteriaButtonEnabled, event: { click: openSaveFilterDialog }">@Resources.ColleagueFinanceHome.FilterSaveCriteriaButton</button>
                </div>
            </div>
        </div>
    </div>
</div>

<modal-dialog params="isVisible: isSaveDialogVisible, title: saveDialogHeader, buttons: [{ title: cancelButtonLabel, callback: closeSaveFilterDialog, isPrimary: false },{ title: saveButtonLabel, callback: saveFilter, isPrimary: true }], content: $data, defaultCloseOff: true ">
    <fieldset>
        <div class="esg-radio">
            <input id="radio-save-as" type="radio" name="save" value="create" data-bind="checked: createOrUpdate" />
            <label for="radio-save-as">@Resources.ColleagueFinanceHome.SaveAsLabel</label>
        </div>
        <div class="esg-radio">
            <input id="radio-save" type="radio" name="save" value="update" data-bind="disable: !isSavedFilterSelected(), checked: createOrUpdate" />
            <label for="radio-save">
                @Resources.ColleagueFinanceHome.OverwriteLabel
                <span data-bind="text: selectedSavedFilterLabel, visible: isSavedFilterSelected"></span>
                <span data-bind="text: notSelected, visible: !isSavedFilterSelected()"></span>
            </label>
        </div>
    </fieldset>
    <!-- ko if: isSaveFilterNameVisible -->
    <div class="esg-form__group" data-bind="css: !isSaveFilterValid() ? 'esg-has-feedback esg-has-error' : ''">
        <label class="esg-form__label esg-is-required" for="saved-filter-name">@Resources.ColleagueFinanceHome.NameLabel</label>
        <div class="esg-form__input-group">
            <input class="esg-form__input" type="text" id="saved-filter-name" data-bind="textInput: saveFilterName, attr: { 'placeholder': saveFilterNamePlaceholder }" />
            <!-- ko if: !isSaveFilterValid() -->
            <div class="esg-form__feedback-icon esg-icon__container">
                <svg class="esg-icon esg-icon--error">
                    <use xlink:href="#icon-error"></use>
                </svg>
            </div>
            <!-- /ko -->
        </div>
        <!-- ko if: !isSaveFilterValid() -->
        <div class="esg-form__feedback-text">
            @Resources.ColleagueFinanceHome.MissingFilterName
        </div>
        <!-- /ko -->
    </div>
    <!-- /ko -->
</modal-dialog>

<modal-dialog params="isVisible: isDefaultDialogVisible, title: Ellucian.ColleagueFinance.saveDefaultDialogHeader, buttons: [{ title: cancelButtonLabel, callback: closeDefaultFilterDialog, isPrimary: false },{ title: saveButtonLabel, callback: saveDefaultFilter, isPrimary: true }], content: $data, defaultCloseOff: true ">
    <fieldset>
        <div>
            <span class="bold">@Resources.ColleagueFinanceHome.CurrentDefaultCriteriaLabel</span>
            <span data-bind="text: currentDefaultFilterLabel()"></span>
        </div>
    </fieldset>

    <hr class="margin-top-and-bottom" />

    <span>@Resources.ColleagueFinanceHome.ChangeDefaultCriteriaLabel</span>
    @*esg-dropdown*@
    <div id="default-filters-container" class="esg-dropdown display-block" data-bind="visible: SavedFilterNames().length > 0">
        <button id="default-filters-dropdown" class="esg-button esg-button--secondary esg-dropdown__toggle more-wide" data-bind="css: isDefaultFiltersExpanded() ? 'esg-is-open' : '', event: { click: toggleDefaultFilters }, attr: { 'aria-expanded': isDefaultFiltersExpanded }" type="button" aria-haspopup="true">
            <span data-bind="html: workingDefaultFilterLabel" class="float-left"></span>
            <span class="esg-dropdown__icon esg-dropdown__icon--right esg-icon__container float-right" aria-hidden="True">
                <svg class="esg-icon esg-icon--small esg-icon--light esg-icon--down">
                    <use xlink:href="#icon-arrow"></use>
                </svg>
            </span>
        </button>

        <ul class="esg-dropdown__menu" id="default-filters-ddl" aria-labelledby="default-filters-dropdown" data-bind="foreach: savedFilterNamesWithNone, visible: isDefaultFiltersExpanded">
            <li class="esg-dropdown__menu-item inline-block">
                <a class="esg-dropdown__link float-left normal-white-space" data-bind="html: $data.Value, event: { click: $parent.selectDefaultFilter }"></a>
            </li>
        </ul>
    </div>
</modal-dialog>