﻿<!-- Copyright 2014-2016 Ellucian Company L.P. and its affiliates. -->

<script type="text/html" id="gl-detail-transaction">
    <tr class="gl-details-transaction" data-bind="click: $root.clickTransaction, clickBubble: false, css: { 'unclickable': !$data.isLinkable() && $root.isMobile() }">
        <td class="gl-details-transaction-data">
            <!-- ko if: !$data.isLinkable() -->
            <span data-bind="text: ReferenceNumber"></span>
            <!-- /ko -->
            <!-- ko if: $data.isLinkable() -->
            <a class="document-id" data-bind="text: ReferenceNumber, visible: $data.isLinkable(), attr: { 'href': $root.fullDocumentUrl($data) }"></a>
            <!-- /ko -->
        </td>
        <td class="gl-details-transaction-data tx-date" data-bind="text: Date"></td>
        <td class="gl-details-transaction-data tx-description" data-bind="text: Description"></td>
        <td class="gl-details-transaction-data gl-details-align-right tx-amount">
            <span data-bind="text: Amount"></span>
            <span class="arrow arrow-right" data-bind="css: { 'no-arrow': !$data.isLinkable() }"></span>
        </td>
    </tr>

    <tr class="transaction-mobile">
        <td colspan="3" class="transaction-data" data-bind="text: Description"></td>
    </tr>
</script>