﻿@*Copyright 2016-2017 Ellucian Company L.P. and its affiliates.*@

<div id="object-view" class="esg-tab__panel object-view-wrapper" data-bind="visible: !isCostCentersTabActive(), css: !isCostCentersTabActive() ? 'esg-is-active' : ''">
    <!-- ko if: IsPageLoaded() -->
    @*Double "IsPageLoaded" condition to prevent flickering upon page load*@
    <div data-bind="visible: IsPageLoaded(), css: filterMenuIsOpen() ? 'hidden-for-mobile-only' : ''" style="display: none;">
        <section class="grouping-wrapper">
            <div id="object-data-container" class="clear-group transition">
                <!-- ko if: DisplayObjects() -->
                <section id="object-view-section" class="section-wrapper section-wrapper-top-border line-item-wrapper" data-bind="visible: IsPageLoaded()" style="display: none;">
                    <table class="responsive-table collapsible-table" data-bind="visible: IsPageLoaded()" role="grid" aria-readonly="true">
                        <thead>
                            <tr class="object-view-header" role="row">
                                <th class="object-view-controller" role="columnheader" scope="col">
                                    @Resources.ColleagueFinanceHome.ObjectText
                                </th>
                                <th class="budget-column align-right bold" role="columnheader" scope="col">@Resources.ColleagueFinanceHome.BudgetTitle</th>
                                <th class="actuals-column align-right bold" role="columnheader" scope="col">@Resources.ColleagueFinanceHome.ActualsText</th>
                                <th class="encumbrances-column align-right bold" role="columnheader" scope="col">@Resources.ColleagueFinanceHome.EncumbrancesText</th>
                                <th class="budget-remaining-column align-right bold" role="columnheader" scope="col">@Resources.ColleagueFinanceHome.RemainingHeader</th>
                                <th class="percent-processed-column align-right bold" role="columnheader" scope="col">@Resources.ColleagueFinanceHome.PercentSpentReceivedHeader</th>
                                <th class="financial-health-column align-right bold" role="columnheader" scope="col">
                                    <div>@Resources.ColleagueFinanceHome.FinancialHealthLabelPart1</div>
                                    <div>@Resources.ColleagueFinanceHome.FinancialHealthLabelPart2</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @*Start Asset Rows*@

                            <!-- ko if: IsPageLoaded() && HasAnyAsset() -->

                            <tr class="object-view__total-row collapsible bold" data-bind="click: toggleAssetCodes">
                                <td class="object-view-controller text-align-left">
                                    <button type="button" class="expand-details" aria-expanded="false" data-bind="attr: { 'aria-expanded': DisplayAssetCodes() }">
                                        <span class="arrow" data-bind="css: DisplayAssetCodes() ? 'arrow-up' : 'arrow-down'"></span>
                                        <span class="offScreen">@Resources.ColleagueFinanceHome.ExpandLabel</span>
                                    </button>
                                    <span>@Resources.ColleagueFinanceHome.AssetLabel</span>
                                </td>
                                <td class="budget-column align-right"></td>
                                <td data-bind="text: ObjectData().TotalActualsAsset" class="actuals-column align-right"></td>
                                <td data-bind="text: ObjectData().TotalEncumbrancesAsset" class="encumbrances-column align-right"></td>
                                <td class="budget-remaining-column align-right"></td>
                                <td class="percent-processed-column align-right"></td>
                                <td class="financial-health-column align-right"></td>
                            </tr>

                            <!-- ko if: DisplayAssetCodes() -->
                            <!-- ko template: { name: "object-code-template-only-actuals-encumbrances", foreach: ObjectData().AssetObjectCodes, as: 'objectCode' } --><!-- /ko -->
                            <!-- /ko -->
                            <!-- /ko -->        @*HasAnyAsset condition*@

                            @*End Asset Rows*@

                            @*Start Liability Rows*@

                            <!-- ko if: IsPageLoaded() && HasAnyLiability() -->

                            <tr class="object-view__total-row collapsible bold" data-bind="click: toggleLiabilityCodes">
                                <td class="object-view-controller text-align-left">
                                    <button type="button" class="expand-details" aria-expanded="false" data-bind="attr: { 'aria-expanded': DisplayLiabilityCodes() }">
                                        <span class="arrow" data-bind="css: DisplayLiabilityCodes() ? 'arrow-up' : 'arrow-down'"></span>
                                        <span class="offScreen">@Resources.ColleagueFinanceHome.ExpandLabel</span>
                                    </button>
                                    <span>@Resources.ColleagueFinanceHome.LiabilityLabel</span>
                                </td>
                                <td class="budget-column align-right"></td>
                                <td data-bind="text: ObjectData().TotalActualsLiability" class="actuals-column align-right"></td>
                                <td data-bind="text: ObjectData().TotalEncumbrancesLiability" class="encumbrances-column align-right"></td>
                                <td class="budget-remaining-column align-right"></td>
                                <td class="percent-processed-column align-right"></td>
                                <td class="financial-health-column align-right"></td>
                            </tr>

                            <!-- ko if: DisplayLiabilityCodes() -->
                            <!-- ko template: { name: "object-code-template-only-actuals-encumbrances", foreach: ObjectData().LiabilityObjectCodes, as: 'objectCode' } --><!-- /ko -->
                            <!-- /ko -->
                            <!-- /ko -->        @*HasAnyLiability condition*@

                            @*End Liability Rows*@

                            @*Start Fund Balance Rows*@

                            <!-- ko if: IsPageLoaded() && HasAnyFundBalance() -->

                            <tr class="object-view__total-row collapsible bold" data-bind="click: toggleFundBalanceCodes">
                                <td class="object-view-controller text-align-left">
                                    <button type="button" class="expand-details" aria-expanded="false" data-bind="attr: { 'aria-expanded': DisplayFundBalanceCodes() }">
                                        <span class="arrow" data-bind="css: DisplayFundBalanceCodes() ? 'arrow-up' : 'arrow-down'"></span>
                                        <span class="offScreen">@Resources.ColleagueFinanceHome.ExpandLabel</span>
                                    </button>
                                    <span>@Resources.ColleagueFinanceHome.FundBalanceLabel</span>
                                </td>
                                <td class="budget-column align-right"></td>
                                <td data-bind="text: ObjectData().TotalActualsFundBalance" class="actuals-column align-right"></td>
                                <td data-bind="text: ObjectData().TotalEncumbrancesFundBalance" class="encumbrances-column align-right"></td>
                                <td class="budget-remaining-column align-right"></td>
                                <td class="percent-processed-column align-right"></td>
                                <td class="financial-health-column align-right"></td>
                            </tr>

                            <!-- ko if: DisplayFundBalanceCodes() -->
                            <!-- ko template: { name: "object-code-template-only-actuals-encumbrances", foreach: ObjectData().FundBalanceObjectCodes, as: 'objectCode' } --><!-- /ko -->
                            <!-- /ko -->
                            <!-- /ko -->        @*HasAnyFundBalance condition*@

                            @*End Fund Balance Rows*@

                            @*Start Revenue Rows*@

                            <!-- ko if: IsPageLoaded() && HasAnyRevenue() -->

                            <tr class="object-view__total-row collapsible bold" data-bind="click: toggleRevenueCodes">
                                <td class="object-view-controller text-align-left">
                                    <button type="button" class="expand-details" aria-expanded="false" data-bind="attr: { 'aria-expanded': DisplayRevenueCodes() }">
                                        <span class="arrow" data-bind="css: DisplayRevenueCodes() ? 'arrow-up' : 'arrow-down'"></span>
                                        <span class="offScreen">@Resources.ColleagueFinanceHome.ExpandLabel</span>
                                    </button>
                                    <span>@Resources.ColleagueFinanceHome.RevenueLabel</span>
                                </td>
                                <td data-bind="text: ObjectData().TotalBudgetRevenue" class="budget-column align-right"></td>
                                <td data-bind="text: ObjectData().TotalActualsRevenue" class="actuals-column align-right"></td>
                                <td data-bind="text: ObjectData().TotalEncumbrancesRevenue" class="encumbrances-column align-right"></td>
                                <td data-bind="text: ObjectData().TotalBudgetRemainingRevenue, css: ObjectData().ColorCodeStyleRevenue" class="budget-remaining-column align-right"></td>
                                <td data-bind="text: ObjectData().TotalPercentProcessedRevenue, css: ObjectData().ColorCodeStyleRevenue" class="percent-processed-column align-right"></td>
                                <td class="financial-health-column align-right"></td>
                            </tr>

                            <!-- ko if: DisplayRevenueCodes() -->
                            <!-- ko template: { name: "object-code-template", foreach: ObjectData().RevenueObjectCodes, as: 'objectCode' } --><!-- /ko -->
                            <!-- /ko -->
                            <!-- /ko -->        @*HasAnyRevenue condition*@

                            @*End Revenue Rows*@

                            @*Start Expense Rows*@

                            <!-- ko if: IsPageLoaded() && HasAnyExpense() -->
                            @*Expense Totals*@

                            <tr class="object-view__total-row collapsible bold" data-bind="click: toggleExpenseCodes">
                                <td class="object-view-controller text-align-left">
                                    <button type="button" class="expand-details" aria-expanded="false" data-bind="attr: { 'aria-expanded': DisplayExpenseCodes() }">
                                        <span class="arrow" data-bind="css: DisplayExpenseCodes() ? 'arrow-up' : 'arrow-down'"></span>
                                        <span class="offScreen">@Resources.ColleagueFinanceHome.ExpandLabel</span>
                                    </button>
                                    <span>@Resources.ColleagueFinanceHome.ExpenseLabel</span>
                                </td>
                                <td data-bind="text: ObjectData().TotalBudgetExpense" class="budget-column align-right"></td>
                                <td data-bind="text: ObjectData().TotalActualsExpense" class="actuals-column align-right"></td>
                                <td data-bind="text: ObjectData().TotalEncumbrancesExpense" class="encumbrances-column align-right"></td>
                                <td data-bind="text: ObjectData().TotalBudgetRemainingExpense, css: ObjectData().ColorCodeStyleExpense" class="budget-remaining-column align-right"></td>
                                <td data-bind="text: ObjectData().TotalPercentProcessedExpense, css: ObjectData().ColorCodeStyleExpense" class="percent-processed-column align-right"></td>
                                <td data-bind="css: ObjectData().TotalFinancialHealthIndicatorExpense" class="financial-health-column align-right">
                                    <span class="offScreen" data-bind="text: ObjectData().TotalFinancialHealthIndicatorTextExpense"></span>
                                </td>
                            </tr>

                            <!-- ko if: DisplayExpenseCodes() -->
                            <!-- ko template: { name: "object-code-template", foreach: ObjectData().ExpenseObjectCodes, as: 'objectCode' } --><!-- /ko -->
                            <!-- /ko -->
                            <!-- /ko -->        @*HasAnyExpense condition*@

                            @*End Expense Rows*@

                            <tr class="collapsible object-view__total-row object-view__net-row bold" data-bind="visible: isObjectNetRowVisible">
                                <td class="object-view-controller text-align-left">
                                    <span>@Resources.ColleagueFinanceHome.NetRevenueMinusExpenseLabel</span>
                                </td>
                                <td data-bind="text: ObjectData().TotalBudgetNet" class="budget-column align-right"></td>
                                <td data-bind="text: ObjectData().TotalActualsNet" class="actuals-column align-right"></td>
                                <td class="encumbrances-column align-right"></td>
                                <td class="budget-remaining-column align-right"></td>
                                <td class="percent-processed-column align-right"></td>
                                <td class="financial-health-column"></td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <!-- /ko -->        @*DisplayObjects() condition*@
            </div>
        </section>
    </div>
    <!-- /ko -->        @*IsPageLoaded condition*@
</div>

<script type="text/html" id="object-code-template">
    <tr class="collapsible" data-bind="attr: { 'id': 'obj-' + objectCode.Id }, clickBubble: false, click: $root.toggleObjectAccordianState, updateSubtotalBrowserMemoryList: { memoryName: 'activeObjectRows' }">
        <td class="object-view-controller">
            <button type="button" class="expand-details" aria-expanded="false" data-bind="attr: { 'aria-expanded': $root.expandedObjects.indexOf(objectCode.Id) >= 0 }">
                <span class="arrow" data-bind="css: $root.expandedObjects.indexOf(objectCode.Id) >= 0 ? 'arrow-up' : 'arrow-down'"></span>
                <span class="offScreen">@Resources.ColleagueFinanceHome.ExpandLabel</span>
            </button>
            <span data-bind="text: objectCode.Id"></span>
            <span data-bind="text: objectCode.Name"></span>
        </td>
        <td class="budget-column align-right" data-bind="text: objectCode.TotalBudget"></td>
        <td class="actuals-column align-right" data-bind="text: objectCode.TotalActuals"></td>
        <td class="encumbrances-column align-right" data-bind="text: objectCode.TotalEncumbrances"></td>
        <td class="budget-remaining-column align-right" data-bind="text: objectCode.TotalBudgetRemaining, css: objectCode.ColorCodeStyle"></td>
        <td class="percent-processed-column align-right" data-bind="text: objectCode.TotalPercentProcessed, css: objectCode.ColorCodeStyle"></td>
        <td class="financial-health-column align-right" data-bind="css: objectCode.FinancialHealthIndicator">
            <span class="offScreen" data-bind="text: FinancialHealthIndicatorText"></span>
        </td>
    </tr>
    <!-- ko if: $root.expandedObjects.indexOf(objectCode.Id) >= 0 -->
    <!-- ko foreach: { data: objectCode.GlAccounts, as: 'glAccountRow' } -->
    <tr data-bind="linkToGlDetailView:{'glNumber': glAccountRow.PrimaryGlAccount.GlAccountNumber, 'glDetailBaseUrl': Ellucian.ColleagueFinance.objectViewGlDetailUrl}">
        <td class="object-view-controller" data-bind="css: glAccountRow.PrimaryGlAccount.PoolTypeCssClass">
            <!-- ko if: glAccountRow.PrimaryGlAccount.PoolTypeCssClass === 'umbrella' -->
            <div data-bind="tooltip: { position: 'right', message: umbrellaTooltip, preventParentClickOnMobile: true }" class="pooled-account-icon" tabindex="0">U</div>
            <!-- /ko -->        @*glAccountRow.PrimaryGlAccount.PoolTypeCssClass === 'umbrella' condition*@
            <span data-bind="text: glAccountRow.PrimaryGlAccount.FormattedGlAccount"></span>
            <span data-bind="text: glAccountRow.PrimaryGlAccount.Description"></span>
        </td>
        <!-- ko if: !glAccountRow.IsPooledAccount || glAccountRow.IsUmbrellaVisible -->
        <td class="budget-column align-right" data-bind="text: glAccountRow.PrimaryGlAccount.Budget"></td>
        <td class="actuals-column align-right" data-bind="text: glAccountRow.PrimaryGlAccount.Actuals"></td>
        <td class="encumbrances-column align-right" data-bind="text: glAccountRow.PrimaryGlAccount.Encumbrances"></td>
        <td class="budget-remaining-column align-right" data-bind="text: glAccountRow.PrimaryGlAccount.BudgetRemaining, css: glAccountRow.PrimaryGlAccount.ColorCodeStyle"></td>
        <td class="percent-processed-column align-right" data-bind="text: glAccountRow.PrimaryGlAccount.PercentProcessed, css: glAccountRow.PrimaryGlAccount.ColorCodeStyle"></td>
        <td class="financial-health-column align-right" data-bind="css: glAccountRow.PrimaryGlAccount.FinancialHealthIndicator">
            <span class="offScreen" data-bind="text: glAccountRow.PrimaryGlAccount.FinancialHealthIndicatorText"></span>
        </td>
        <!-- /ko -->        @*!glAccountRow.IsPooledAccount || glAccountRow.IsUmbrellaVisible condition*@

        @*Budget pool umbrella is not visible so we need to mask the values (which have all been zeroed out on the server)*@
        <!-- ko ifnot: !glAccountRow.IsPooledAccount || glAccountRow.IsUmbrellaVisible -->
        <td class="budget-column align-right" data-bind="text: Ellucian.ColleagueFinance.maskString"></td>
        <td class="actuals-column align-right" data-bind="text: Ellucian.ColleagueFinance.maskString"></td>
        <td class="encumbrances-column align-right" data-bind="text: Ellucian.ColleagueFinance.maskString"></td>
        <td class="budget-remaining-column align-right" data-bind="text: Ellucian.ColleagueFinance.maskString"></td>
        <td class="percent-processed-column align-right" data-bind="text: Ellucian.ColleagueFinance.maskString"></td>
        <td class="financial-health-column align-right"></td>
        <!-- /ko -->        @*ifnot !glAccountRow.IsPooledAccount || glAccountRow.IsUmbrellaVisible condition*@
    </tr>
    <!-- ko if: glAccountRow.IsPooledAccount -->
    <!-- ko foreach: { data: glAccountRow.Poolees, as: 'pooleeRow' }-->
    <tr data-bind="linkToGlDetailView:{'glNumber': pooleeRow.GlAccountNumber, 'glDetailBaseUrl': Ellucian.ColleagueFinance.objectViewGlDetailUrl}">
        <td class="object-view-controller" data-bind="css: pooleeRow.PoolTypeCssClass">
            <!-- ko if: pooleeRow.PoolTypeCssClass === 'poolee' -->
            <div data-bind="tooltip: { position: 'right', message: pooleeTooltip, preventParentClickOnMobile: true }" class="pooled-account-icon" tabindex="0">P</div>
            <!-- /ko -->        @*pooleeRow.PoolTypeCssClass === 'poolee' condition*@
            <div class="float-left">
                <span data-bind="text: pooleeRow.FormattedGlAccount"></span>
                <span data-bind="text: pooleeRow.Description"></span>
            </div>
        </td>
        <td class="budget-column align-right" data-bind="text: pooleeRow.Budget"></td>
        <td class="actuals-column align-right" data-bind="text: pooleeRow.Actuals"></td>
        <td class="encumbrances-column align-right" data-bind="text: pooleeRow.Encumbrances"></td>
        <td class="budget-remaining-column align-right"></td>
        <td class="percent-processed-column align-right"></td>
        <td class="financial-health-column align-right"></td>
    </tr>
    <!-- /ko -->        @*glAccountRow.Poolees loop*@
    <!-- /ko -->        @*glAccountRow.IsPooledAccount condition*@
    <!-- /ko -->        @*objectCode.GlAccounts loop*@
    <!-- /ko -->        @*$root.expandedObjects.indexOf(objectCode.Id) >= 0 condition*@
</script>

<script type="text/html" id="object-code-template-only-actuals-encumbrances">
    <tr class="collapsible" data-bind="attr: { 'id': 'obj-' + objectCode.Id }, clickBubble: false, click: $root.toggleObjectAccordianState, updateSubtotalBrowserMemoryList: { memoryName: 'activeObjectRows' }">
        <td class="object-view-controller">
            <button type="button" class="expand-details" aria-expanded="false" data-bind="attr: { 'aria-expanded': $root.expandedObjects.indexOf(objectCode.Id) >= 0 }">
                <span class="arrow" data-bind="css: $root.expandedObjects.indexOf(objectCode.Id) >= 0 ? 'arrow-up' : 'arrow-down'"></span>
                <span class="offScreen">@Resources.ColleagueFinanceHome.ExpandLabel</span>
            </button>
            <span data-bind="text: objectCode.Id"></span>
            <span data-bind="text: objectCode.Name"></span>
        </td>
        <td class="budget-column align-right"></td>
        <td class="actuals-column align-right" data-bind="text: objectCode.TotalActuals"></td>
        <td class="encumbrances-column align-right" data-bind="text: objectCode.TotalEncumbrances"></td>
        <td class="budget-remaining-column align-right"></td>
        <td class="percent-processed-column align-right"></td>
        <td class="financial-health-column align-right"></td>
    </tr>
    <!-- ko if: $root.expandedObjects.indexOf(objectCode.Id) >= 0 -->
    <!-- ko foreach: { data: objectCode.GlAccounts, as: 'glAccountRow' } -->
    <tr data-bind="linkToGlDetailView:{'glNumber': glAccountRow.PrimaryGlAccount.GlAccountNumber, 'glDetailBaseUrl': Ellucian.ColleagueFinance.objectViewGlDetailUrl}">
        <td class="object-view-controller" data-bind="css: glAccountRow.PrimaryGlAccount.PoolTypeCssClass">
            <!-- ko if: glAccountRow.PrimaryGlAccount.PoolTypeCssClass === 'umbrella' -->
            <div data-bind="tooltip: { position: 'right', message: umbrellaTooltip, preventParentClickOnMobile: true }" class="pooled-account-icon" tabindex="0">U</div>
            <!-- /ko -->        @*glAccountRow.PrimaryGlAccount.PoolTypeCssClass === 'umbrella' condition*@
            <span data-bind="text: glAccountRow.PrimaryGlAccount.FormattedGlAccount"></span>
            <span data-bind="text: glAccountRow.PrimaryGlAccount.Description"></span>
        </td>
        <!-- ko if: !glAccountRow.IsPooledAccount || glAccountRow.IsUmbrellaVisible -->
        <td class="budget-column align-right"></td>
        <td class="actuals-column align-right" data-bind="text: glAccountRow.PrimaryGlAccount.Actuals"></td>
        <td class="encumbrances-column align-right" data-bind="text: glAccountRow.PrimaryGlAccount.Encumbrances"></td>
        <td class="budget-remaining-column align-right"></td>
        <td class="percent-processed-column align-right"></td>
        <td class="financial-health-column align-right"></td>
        <!-- /ko -->        @*!glAccountRow.IsPooledAccount || glAccountRow.IsUmbrellaVisible condition*@

        @*Budget pool umbrella is not visible so we need to mask the values (which have all been zeroed out on the server)*@
        <!-- ko ifnot: !glAccountRow.IsPooledAccount || glAccountRow.IsUmbrellaVisible -->
        <td class="budget-column align-right"></td>
        <td class="actuals-column align-right" data-bind="text: Ellucian.ColleagueFinance.maskString"></td>
        <td class="encumbrances-column align-right" data-bind="text: Ellucian.ColleagueFinance.maskString"></td>
        <td class="budget-remaining-column align-right"></td>
        <td class="percent-processed-column align-right"></td>
        <td class="financial-health-column align-right"></td>
        <!-- /ko -->        @*ifnot !glAccountRow.IsPooledAccount || glAccountRow.IsUmbrellaVisible condition*@
    </tr>
    <!-- ko if: glAccountRow.IsPooledAccount -->
    <!-- ko foreach: { data: glAccountRow.Poolees, as: 'pooleeRow' }-->
    <tr data-bind="linkToGlDetailView:{'glNumber': pooleeRow.GlAccountNumber, 'glDetailBaseUrl': Ellucian.ColleagueFinance.objectViewGlDetailUrl}">
        <td class="object-view-controller" data-bind="css: pooleeRow.PoolTypeCssClass">
            <!-- ko if: pooleeRow.PoolTypeCssClass === 'poolee' -->
            <div data-bind="tooltip: { position: 'right', message: pooleeTooltip, preventParentClickOnMobile: true }" class="pooled-account-icon" tabindex="0">P</div>
            <!-- /ko -->        @*pooleeRow.PoolTypeCssClass === 'poolee' condition*@
            <div class="float-left">
                <span data-bind="text: pooleeRow.FormattedGlAccount"></span>
                <span data-bind="text: pooleeRow.Description"></span>
            </div>
        </td>
        <td class="budget-column align-right"></td>
        <td class="actuals-column align-right" data-bind="text: pooleeRow.Actuals"></td>
        <td class="encumbrances-column align-right" data-bind="text: pooleeRow.Encumbrances"></td>
        <td class="budget-remaining-column align-right"></td>
        <td class="percent-processed-column align-right"></td>
        <td class="financial-health-column align-right"></td>
    </tr>
    <!-- /ko -->        @*glAccountRow.Poolees loop*@
    <!-- /ko -->        @*glAccountRow.IsPooledAccount condition*@
    <!-- /ko -->        @*objectCode.GlAccounts loop*@
    <!-- /ko -->        @*$root.expandedObjects.indexOf(objectCode.Id) >= 0 condition*@
</script>
