﻿<div class="esg-page-header">
    <a class="esg-page-header__button" role="button" title="Back" data-bind="attr: { href: backLinkHref }">
        <span class="esg-page-header__icon esg-icon__container">
            <svg class="esg-icon esg-icon--left">
                <use xlink:href="#icon-arrow"></use>
            </svg>
        </span>
    </a>
    <h1 class="esg-page-header__title" data-bind="text: $root.isMobile() ? pageHeaderDisplayMobile() : pageHeaderDisplay()"></h1>
    <!-- ko ifnot: $root.isMobile -->
    <span class="esg-page-header__subtitle">
        <a class="esg-page-header__subtitle--backlink" data-bind="attr: { href: backLinkHref }">
            <label class="offScreen" data-bind="resx: 'SiteResources.BackLinkLabel'"></label>
            <span class="esg-icon__container esg-page-header__icon" aria-hidden="true">
                <svg class="esg-icon esg-icon--left">
                    <use xlink:href="#icon-arrow"></use>
                </svg>
            </span>
            <span data-bind="resx: 'TimeSheet.AllTimeSheetsLabel'"></span>
        </a>
    </span>
    <!-- /ko -->
</div>

<div class="column-nine">
    <spinner params="isVisible: !isLoaded()"></spinner>

    <!-- ko if: loadError -->
    <div class="column-eight column-eight-sm">
        <div class="esg-alert esg-alert--fluid esg-alert--info" role="alert">
            <span class="esg-alert__icon-wrapper">
                <span class="esg-alert__icon esg-icon__container" aria-hidden="True">
                    <svg class="esg-icon esg-icon--info-dark">
                        <use xlink:href="#icon-info"></use>
                    </svg>
                </span>
            </span>
            <div class="esg-alert__message">
                <span data-bind="resx: 'TimeSheet.SomethingWentWrongError'"></span>
            </div>
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: isLoaded() && !loadError() -->

    <timecard-collection params="dataModel: dataModel">

    </timecard-collection>


    <!-- /ko -->
</div>