﻿@*Copyright 2015 - 2016 Ellucian Company L.P. and its affiliates.*@

@section Styles
{
    @Styles.Render("~/Areas/Student/Content/GraduationBundlecss")
}


<!-- scripts here -->
@section Scripts
{

    @Scripts.Render("~/bundles/graduationscripts")

}

<div id="page-description" class="esg-page-header esg-has-subtitle">
    <div class="esg-page-header-subtitle__wrapper">
        <h2 class="esg-page-header__title">@Resources.Graduation.PageDescription</h2>
        <a class="esg-page-header__subtitle esg-page-header__subtitle--backlink" href='@Url.Action("Index", "Graduation")'>
            <span class="esg-icon__container esg-page-header__icon" aria-hidden="true">
                <svg class="esg-icon esg-icon--left">
                    <use xlink:href="#icon-arrow"></use>
                </svg>
            </span>@Resources.Graduation.Back
        </a>
    </div>
</div>


<!-- The field body -->
<div id="dp-monolith" class="column-nine">
    <div id="graduation-form" style="display: none;" data-bind="visible:true">
        <!--THE SPINNER THAT SHOWS WHILE THE DATA IS LOADING-->
        <spinner params="isVisible: !isLoaded(), message: Ellucian.Student.Graduation.loadingSpinnerMessage"></spinner>
        <div class="clear-group" data-bind="visible:isLoaded()">

            <message params="isVisible: viewOnlyMode, message: Ellucian.Student.Graduation.viewMode, type:'info'"></message>

            <div class="section-wrapper section-wrapper-top-border">
                <form id="form">
                    <fieldset>
                        <legend class="offScreen">@Resources.Graduation.GraduationLegend</legend>
                        <div class="graduation-part clear-group">

                            <!--THE TOP SECTION OF THE FORM -->
                            <div class="clear-group">
                                <!--THE TOP LEFT COLUMN-->
                                <div class="graduation-field column-four left-column-separator float-left clear-group">

                                    <div class="graduation-info clear-group">
                                        <p class="column-three float-left esg-form__label">@Resources.Graduation.FullName</p>
                                        <span class="column-five float-right graduation-answer" id="full-name" data-bind="text:FullName()"></span>
                                    </div>

                                    <div class="graduation-info clear-group" id="gradTerm">
                                        <label class="column-three float-left" for="TermInput" data-bind="css: { 'esg-is-required': !viewOnlyMode() && !editOnlyMode() }">
                                            @Resources.Graduation.GraduationTerm
                                        </label>
                                        <div class="column-five float-right">
                                            <span data-bind="visible:(viewOnlyMode() || editOnlyMode()), text:GraduationTermDisplay()"></span>
                                            <select class="esg-form__input" form="form" id="TermInput" required data-bind="visible: (!viewOnlyMode() && !editOnlyMode()), attr:{'aria-invalid':!GraduationTermSelected.isValid()?'true':'false'}, css:{'required-input':hasInputErrors() && !GraduationTermSelected.isValid()},options: GraduationTerms, optionsText:'Description',value:GraduationTermSelected, optionsCaption:Ellucian.Student.Graduation.select"></select>
                                            <span role="alert" data-bind="visible:hasInputErrors() && !GraduationTermSelected.isValid()" class="required">@Resources.Graduation.Required</span>
                                        </div>
                                    </div>

                                    <!-- ko if: ShowDiplomaName -->
                                    <div id="DiplomaName" class="graduation-info clear-group">
                                        <label class="column-three  float-left" for="NameInput" data-bind="css: { 'esg-is-required': RequireDiplomaName() && !viewOnlyMode() }">
                                            @Resources.Graduation.PreferredName
                                        </label>
                                        <div class="column-five float-right">
                                            <input id="NameInput" maxlength="120" class="fullwidth" type="text" data-bind="attr:{'required': ko.unwrap(RequireDiplomaName()) !== false ? 'required' : null,'aria-invalid':!DiplomaName.isValid()?'true':'false', 'aria-describedby':'maxLimitDiplomaName'},css:{'required-input':hasInputErrors()&&!DiplomaName.isValid()}, value:DiplomaName, valueUpdate:'afterkeydown',readOnlySpan:{showSpan:viewOnlyMode(),message:!isNullOrEmpty(DiplomaName())?DiplomaName():Ellucian.Student.Graduation.notApplicable,styles:isNullOrEmpty(DiplomaName())?'italic':'normal'}" />
                                            <span role="alert" data-bind="visible:hasInputErrors()&&!DiplomaName.isValid()" class="required">@Resources.Graduation.Required</span>
                                            <span id="maxLimitDiplomaName" class="offScreen">120 @Resources.Graduation.Max</span>
                                        </div>
                                    </div>
                                    <!-- /ko -->
                                    <!-- ko if: ShowPhoneticSpelling-->
                                    <div class="graduation-info clear-group" id="PhoneticSpelling">
                                        <div class="column-three float-left">
                                            <label for="PhoneticInput" data-bind="css: { 'esg-is-required': RequirePhoneticSpelling() && !viewOnlyMode() }">
                                                @Resources.Graduation.Phonetic
                                            </label>
                                            <!--THE LINK THAT CONNECTS THE PHONETICSPELLINGLINK WITH THE GUIDE TEXT-->
                                            <div class="graduation-info graduation-info-link clear-group" id="PhoneticHelp" aria-describedby="moreInfoForPhoneticSpelling" data-bind="visible: PhoneticSpellingLink()">
                                                <a data-bind="attr:{href:PhoneticSpellingLink(),target:'_blank'}">@Resources.Graduation.PhoneticSpellingGuideLinkText</a>
                                            </div>
                                        </div>

                                        <div class="column-five float-right">
                                            <input class="fullwidth" maxlength="50" id="PhoneticInput" type="text" data-bind="attr:{'required': ko.unwrap(RequirePhoneticSpelling()) !== false ? 'required' : null, 'aria-invalid':!PhoneticSpellingOfName.isValid()?'true':'false', 'aria-describedby':'maxLimitPhoneticSpelling' }, css:{'required-input':hasInputErrors()&&!PhoneticSpellingOfName.isValid()},value:PhoneticSpellingOfName, valueUpdate:'afterkeydown', readOnlySpan:{showSpan:viewOnlyMode(),message:PhoneticSpellingOfName()!==null && typeof PhoneticSpellingOfName()!=='undefined' && PhoneticSpellingOfName().length>0?PhoneticSpellingOfName():Ellucian.Student.Graduation.notApplicable,styles:PhoneticSpellingOfName()==null || typeof PhoneticSpellingOfName()=='undefined' || PhoneticSpellingOfName().length <=0 ?'italic':'normal'}" />
                                            <span id="maxLimitPhoneticSpelling" class="offScreen">50 @Resources.Graduation.Max</span>
                                            <span role="alert" data-bind="visible:hasInputErrors()&&!PhoneticSpellingOfName.isValid()" class="required">@Resources.Graduation.Required</span>
                                        </div>
                                    </div>
                                    <!-- /ko -->
                                    <!-- ko if: ShowHometown-->
                                    <div class="graduation-info clear-group" id="HometownDiv">
                                        <label class="column-three float-left" for="Hometown" data-bind="css: { 'esg-is-required': RequireHometown() && !viewOnlyMode() }">
                                            @Resources.Graduation.Hometown
                                        </label>
                                        <span class="offScreen">30 @Resources.Graduation.Max</span>
                                        <div class="column-five float-right">
                                            <input class="fullwidth" maxlength="30" type="text" id="Hometown" data-bind="attr:{'required': ko.unwrap(RequireHometown()) !== false ? 'required' : null, 'aria-invalid':!Hometown.isValid()?'true':'false', 'aria-describedby':'maxLimitHomeTown'}, css:{'required-input':hasInputErrors()&&!Hometown.isValid()},value:Hometown, valueUpdate:'afterkeydown',readOnlySpan:{showSpan:viewOnlyMode(),message:Hometown()!=null && typeof Hometown()!='undefined' && Hometown().length> 0 ?Hometown():Ellucian.Student.Graduation.notApplicable,styles:Hometown()==null || typeof Hometown()=='undefined' || Hometown().length<=0 ?'italic':'normal'} " />
                                            <span role="alert" data-bind="visible:hasInputErrors()&&!Hometown.isValid()" class="required">@Resources.Graduation.Required</span>
                                            <span id="maxLimitHomeTown" class="offScreen">30 @Resources.Graduation.Max</span>
                                        </div>
                                    </div>
                                    <!-- /ko -->
                                    <!-- ko if:ShowPrimaryLocation && PrimaryLocations().length>0-->
                                    <div class="graduation-info clear-group" data-bind="visible:ShowPrimaryLocation() && PrimaryLocations().length>0">
                                        <label class="column-three float-left" for="primary-locations" data-bind="css: { 'esg-is-required': RequirePrimaryLocation() && !viewOnlyMode() }">
                                            @Resources.Graduation.PrimaryLocation
                                        </label>
                                        <div class="float-right column-five">
                                            <select class="esg-form__input" id="primary-locations" data-bind="attr:{'required': ko.unwrap(RequirePrimaryLocation()) !== false ? 'required' : null, 'aria-invalid':!PrimaryLocationSelected.isValid()?'true':'false'}, visible: (!activeLocation() && !multipleLocations()) || (activeLocation() && multipleLocations()), css:{'required-input': hasInputErrors() && ! PrimaryLocationSelected.isValid()}, options: PrimaryLocations, optionsText:'Description', value: PrimaryLocationSelected,readOnlySpan:{showSpan:viewOnlyMode(),message:PrimaryLocationSelected()!==null && typeof PrimaryLocationSelected() !== 'undefined'?PrimaryLocationSelected().Description():Ellucian.Student.Graduation.notApplicable, styles:PrimaryLocationSelected()==null || typeof PrimaryLocationSelected()=='undefined'?'italic':'normal'}, optionsCaption:Ellucian.Student.Graduation.select"></select>
                                            <span class="fullwidth" id="primary-locations" data-bind="visible:!multipleLocations() && activeLocation() && !viewOnlyMode(), text:PrimaryLocationSelected()?PrimaryLocationSelected().Description():''"></span>
                                            <span role="alert" data-bind="visible:hasInputErrors()&&!PrimaryLocationSelected.isValid()" class="required">@Resources.Graduation.Required</span>
                                        </div>
                                    </div>
                                    <!--/ko-->
                                </div>
                                <!--THE TOP RIGHT PORTION THAT HAS THE DATA FOR EACH SELECTED PROGRAM-->
                                <div class="graduation-field  column-four float-right clear-group " data-bind="foreach:Programs">
                                    <!--The what program(s) the student is applying to graduate for-->
                                    <h4 class="bold graduation-info" data-bind="text: Title"></h4>
                                    <!--The program's Diploma-->
                                    <div class="graduation-info clear-group" data-bind="visible:Degree().length>0">
                                        <p class="column-three esg-form__label">@Resources.Graduation.Diploma</p>
                                        <div class="column-four graduation-list" data-bind="visible: Degree, text: Degree"></div>
                                    </div>
                                    <!--The program's Majors-->
                                    <div class="graduation-info clear-group" data-bind="visible:Majors().length>0">
                                        <p class="column-three esg-form__label" data-bind="text: Majors().length==1?Ellucian.Student.Graduation.major: Ellucian.Student.Graduation.majors"></p>
                                        <div class="column-four" data-bind="foreach:Majors">
                                            <p class="graduation-list" data-bind="text:$data"></p>
                                        </div>
                                    </div>
                                    <!--The program's Minors-->
                                    <div class="graduation-info clear-group" data-bind="visible: Minors().length>0">
                                        <p class="column-three esg-form__label" data-bind="text: Minors().length==1?Ellucian.Student.Graduation.minor: Ellucian.Student.Graduation.minors"></p>
                                        <div class="column-four" data-bind="foreach:Minors">
                                            <p class="graduation-list" data-bind="text:$data"></p>
                                        </div>
                                    </div>
                                    <!--The program's Specializations-->
                                    <div class="graduation-info clear-group" data-bind="visible: Specializations().length>0">
                                        <p class="column-three esg-form__label" data-bind="text: Specializations().length==1?Ellucian.Student.Graduation.specialization: Ellucian.Student.Graduation.specializations">@Resources.Graduation.Specializations</p>
                                        <div class="column-four" data-bind="foreach:Specializations">
                                            <p class="graduation-list" data-bind="text:$data"></p>
                                        </div>
                                    </div>
                                    <!--The programs CCDs-->
                                    <div class="graduation-info clear-group" data-bind="visible: Ccds().length>0">
                                        <p class="column-three esg-form__label" data-bind="text: Ccds().length==1?Ellucian.Student.Graduation.ccd: Ellucian.Student.Graduation.ccds"></p>
                                        <div class="column-four" data-bind="foreach:Ccds">
                                            <p class="graduation-list" data-bind="text:$data"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--THE COMMENCEMENT DETAILS TITLE-->
                            <div class="clear-group">
                                <h4 tabindex="0" class="section-header clear-group">@Resources.Graduation.CommencementDetails</h4>
                            </div>

                            <!--THE BOTTOM SECTION OF THE FORM COMMENCEMENT DETAILS -->
                            <div class="clear-group">
                                <!--THE COMMENCEMENT DETAILS QUESTIONS IN THE LEFT COLUMN-->
                                <div class="graduation-field column-four float-left clear-group left-column-separator">

                                    <!-- ko if:ShowCommencementLocation-->
                                    <div class="graduation-info clear-group" id="CommencementLocation">
                                        <label class="column-three float-left" for="commencementLoc" data-bind="css: { 'esg-is-required': RequireCommencementLocation() && !viewOnlyMode() }">
                                            @Resources.Graduation.Location"
                                        </label>
                                        <div class="float-right column-five">
                                            <select class="esg-form__input" id="commencementLoc" data-bind="attr:{'required': ko.unwrap(RequireCommencementLocation()) !== false ? 'required' : null, 'aria-invalid':!CommencementSiteSelected.isValid()?'true':'false'}, css:{'required-input':hasInputErrors()&&!CommencementSiteSelected.isValid()},options:CommencementSites,optionsText:'Description',  value:CommencementSiteSelected, readOnlySpan:{showSpan:viewOnlyMode(),message:typeof CommencementSiteSelected()!=='undefined' && CommencementSiteSelected()!==null?CommencementSiteSelected().Description():Ellucian.Student.Graduation.notApplicable,styles:CommencementSiteSelected()==null || typeof CommencementSiteSelected()=='undefined'?'italic':'normal'},  optionsCaption:Ellucian.Student.Graduation.select"></select>
                                            <span role="alert" data-bind="visible:hasInputErrors()&&!CommencementSiteSelected.isValid()" class="required">@Resources.Graduation.Required</span>
                                        </div>
                                    </div>
                                    <!-- /ko -->
                                    <!-- ko if:ShowAttendCommencement-->
                                    <div class="graduation-info clear-group" id="AttendCommencement">
                                        <label class="column-three float-left" id="attend-toggle-label-id" for="attend-toggle" data-bind="css: { 'esg-is-required': RequireAttendCommencement() && !viewOnlyMode() }">
                                            @Resources.Graduation.AttendComm
                                        </label>
                                        <!--The toggle switch-->
                                        <div class="column-five float-right">
                                            <yes-no-toggle aria-labelledby="attend-toggle-label-id" role="group" params="valueToToggle:AttendingCommencement, positive:Ellucian.Student.Graduation.yes, negative:Ellucian.Student.Graduation.no" data-bind="readOnlySpan:{showSpan:viewOnlyMode(), message:AttendingCommencement()?Ellucian.Student.Graduation.yes:Ellucian.Student.Graduation.no, styles:AttendingCommencement()?'switch-yes':'switch-no', id:'AttendingCommencementID'}"></yes-no-toggle>
                                        </div>
                                    </div>
                                    <!-- /ko -->
                                    <!-- ko if:ShowPickUpDiploma-->
                                    <div class="graduation-info clear-group" id="PickUpDiploma">
                                        <label class="column-three float-left" for="pickUp-toggle" id="pickUp-toggle-label-id" data-bind="css: { 'esg-is-required': RequirePickUpDiploma() && !viewOnlyMode() }">
                                            @Resources.Graduation.PickUp
                                        </label>
                                        <!--The toggle switch-->
                                        <div class="column-five float-right">
                                            <yes-no-toggle aria-labelledby="pickUp-toggle-label-id" role="group" aria-controls="address-section-id" params="valueToToggle:WillPickupDiploma, positive:Ellucian.Student.Graduation.yes, negative:Ellucian.Student.Graduation.no" data-bind="readOnlySpan:{showSpan:viewOnlyMode(), message:WillPickupDiploma()?Ellucian.Student.Graduation.yes:Ellucian.Student.Graduation.no, styles:WillPickupDiploma()?'switch-yes':'switch-no', id:'pickupDiplomaID'}, click:pickupDiplomaClicked"></yes-no-toggle>
                                        </div>

                                    </div>
                                    <!--/ko-->
                                    <!-- ko if:ShowPickUpDiplomaAddress-->
                                    <message params="isVisible:PreferredAddress().length <= 0, message:Ellucian.Student.Graduation.noPreferred, isSmall: true"></message>
                                    <!--CHOOSING/GIVING THE ADDRESS-->
                                    <div id="address-section-id" class="graduation-info clear-group">
                                        <p class="column-two esg-form__label">@Resources.Graduation.Address</p>
                                        <div class="column-seven">
                                            <!--THE ON FILE ADDRESS-->
                                            <div data-bind="visible:PreferredAddress().length>0">
                                                <!--THE RADIO BUTTON TO PICK THE EXISTING ADDRESS-->
                                                <input id="existing" type="radio" role="radiogroup" name="address" data-bind="checked:existingAddress, value:true, readOnlySpan:{showSpan:viewOnlyMode()} " />
                                                <label for="existing" data-bind="css:{'address-view-indent':viewOnlyMode()}">@Resources.Graduation.PreferredAddress</label>
                                                <!-- ko if:(!viewOnlyMode() || (viewOnlyMode() && existingAddress())) -->
                                                <div class="inline">
                                                    <div class="address-select" data-bind="foreach:PreferredAddress, css:{'address-view':viewOnlyMode()}">
                                                        <p class="preferred-address-in-text" data-bind="text:$data"></p>
                                                    </div>
                                                </div>
                                                <!--/ko-->
                                            </div>

                                            <!--THE ADDRESS FORM-->
                                            <div id="DiplomaAddress" style="margin: .7em 0 0 0">
                                                <!--The address fields-->
                                                <div class="graduation-info clear-group esg-radio">
                                                    <!--The radio button to pick a new address-->
                                                    <input id="newAddress" type="radio" aria-controls="address-entry-component-id" role="radiogroup" name="address" data-bind="visible:PreferredAddress().length>0, checked:existingAddress, value:false,  readOnlySpan:{showSpan:viewOnlyMode()} , click:newAddressClicked" />
                                                    <label for="newAddress" data-bind="css:{'address-view-indent':viewOnlyMode()}">@Resources.Graduation.NewAddress</label>
                                                </div>
                                                <!-- ko if:(!existingAddress()) -->
                                                <div class="inline graduation-info clear-group" id="mailForm">
                                                    <div data-bind="visible: !existingAddress() && viewOnlyMode()">
                                                        <p class="preferred-address-in-text address-view" data-bind="html:DisplayedAddress"></p>
                                                    </div>
                                                    <!--Custom Component for entering an address-->
                                                    <div class="address-indent" id="address-entry-component-id" data-bind="visible: !existingAddress() && !viewOnlyMode()">
                                                        <address-entry params="AddressInfo:AddressInfo, hasErrorsFlag:hasInputErrors, errorMessage:Ellucian.Student.Graduation.required"></address-entry>
                                                    </div>
                                                </div>
                                                <div class="address-indent" data-bind="visible: !viewOnlyMode() && ShowNewPreferredAddressQuestion()">
                                                    <input id="isNewPreferredAddress" type="checkbox" data-bind="checked: isNewPreferredAddress, enable:hasAddressChanged()">
                                                    <label for="isNewPreferredAddress">@Resources.Graduation.RequestPreferredAddressChangeLabel</label>
                                                </div>
                                                <!--/ko-->

                                            </div>
                                        </div>
                                    </div>
                                    <!--/ko-->
                                    <!-- ko if:ShowNameInProgram-->
                                    <div class="graduation-info clear-group" id="NameInProgram">
                                        <label class="column-three float-left" id="include-toggle-label-id" for="include-toggle" data-bind="css: { 'esg-is-required': RequireNameInProgram() && !viewOnlyMode() }">
                                            @Resources.Graduation.IncName
                                        </label>
                                        <!--THE TOGGLE SWITCH-->
                                        <div class="column-five float-right">
                                            <yes-no-toggle aria-labelledby="include-toggle-label-id" role="group" params="valueToToggle:IncludeNameInProgram, positive:Ellucian.Student.Graduation.yes, negative:Ellucian.Student.Graduation.no" data-bind="readOnlySpan:{showSpan:viewOnlyMode(), message:IncludeNameInProgram()?Ellucian.Student.Graduation.yes:Ellucian.Student.Graduation.no, styles:IncludeNameInProgram()?'switch-yes':'switch-no', id:'IncludeNameInProgramID'}"></yes-no-toggle>
                                        </div>
                                    </div>
                                    <!--/ko-->
                                    <!-- ko if:ShowGuests-->
                                    <div class="graduation-info clear-group" id="NumberGuests">
                                        <label class="column-three float-left" for="numGuests" data-bind="text:NumberofGuestsLabel, css: { 'esg-is-required': RequireNumberGuests() && !viewOnlyMode() }"></label>
                                        <div class="column-five float-right">
                                            <input type="number" class="fullwidth" id="numGuests" data-bind="attr:{'required': ko.unwrap(RequireNumberGuests()) !== false ? 'required' : null, 'aria-invalid':!NumberOfGuests.isValid()?'true':'false'}, css:{'required-input':hasInputErrors()&&!NumberOfGuests.isValid()}, value:NumberOfGuests, valueUpdate:'afterkeydown', readOnlySpan:{showSpan:viewOnlyMode(),message:NumberOfGuests().toString()}" />
                                            <span role="alert" data-bind="visible:hasInputErrors()&&!NumberOfGuests.isValid()" class="required">@Resources.Graduation.NumberRequired<span data-bind="    text:MaximumCommencementGuests"></span></span>
                                        </div>
                                    </div>
                                    <!--/ko-->
                                    <!-- ko if:ShowMilitaryStatus-->
                                    <div class="graduation-info clear-group" id="military-status-set">
                                        <label class="column-three float-left" for="military-status" data-bind="css: { 'esg-is-required': RequireMilitaryStatus() && !viewOnlyMode() }">
                                            @Resources.Graduation.MilitaryStatus
                                        </label>
                                        <div class="float-right column-five">
                                            <select class="esg-form__input" id="military-status" data-bind="attr:{'required': ko.unwrap(RequireMilitaryStatus()) !== false ? 'required' : null, 'aria-invalid':!MilitaryStatusSelected.isValid()?'true':'false'}, css:{'required-input': hasInputErrors() && ! MilitaryStatusSelected.isValid()}, options: MilitaryStatuses, optionsText:'Description', value: MilitaryStatusSelected,readOnlySpan:{showSpan:viewOnlyMode(),message:MilitaryStatusSelected()!=null && typeof MilitaryStatusSelected() != 'undefined'?MilitaryStatusSelected().Description():Ellucian.Student.Graduation.notApplicable, styles:MilitaryStatusSelected()==null || typeof MilitaryStatusSelected()=='undefined'?'italic':'normal'}, optionsCaption:Ellucian.Student.Graduation.select"></select>
                                            <span role="alert" data-bind="visible:hasInputErrors()&&!MilitaryStatusSelected.isValid()" class="required">@Resources.Graduation.Required</span>
                                        </div>
                                    </div>
                                    <!-- /ko -->
                                    <!-- ko if:DisplaySpecialAccommodationsField-->
                                    <div class="graduation-info clear-group" id="accommodations-set">
                                        <label class="column-three float-left" for="accommodations" data-bind="css: { 'esg-is-required': RequireSpecialAccommodations() && !viewOnlyMode() }">
                                            @Resources.Graduation.SpecialAccommodations
                                        </label>
                                        <div class="float-right column-five">
                                            <textarea rows="4" class="fullwidth" id="accommodations" placeholder="Special Accommodations" data-bind="attr:{'required': ko.unwrap(RequireSpecialAccommodations()) !== false ? 'required' : null, 'aria-invalid':SpecialAccommodations.isValid()?'true':'false'}, css:{'required-input': hasInputErrors() && !SpecialAccommodations.isValid()},valueUpdate:'afterkeydown', value:SpecialAccommodations,  readOnlySpan: {showSpan:viewOnlyMode(),  message:typeof SpecialAccommodations()!='undefined' && SpecialAccommodations()!=null ?SpecialAccommodations():Ellucian.Student.Graduation.notApplicable, styles:SpecialAccommodations()==null || typeof SpecialAccommodations()=='undefined' || SpecialAccommodations().length<=0 ?'italic':'normal' }"></textarea>
                                            <span role="alert" data-bind="visible:hasInputErrors() && !SpecialAccommodations.isValid()" class="required">@Resources.Graduation.Required</span>
                                        </div>
                                    </div>
                                    <!--/ko-->
                                </div>

                                <!--THE RIGHT COLUMN OF THE COMMENCEMENT DETAILS FIELD-->
                                <!-- ko if:ShowCapAndGown-->
                                <div class="graduation-field column-four float-right clear-group" id="capgown">
                                    <!--THE TITLE FOR THE CAP AND GOWN FIELD-->
                                    <h4 tabindex="0" role="heading" class="clear-group bold">@Resources.Graduation.CapGown </h4>

                                    <!--THIS TEXT-BOX IS IF THE SCHOOL WANTS TO HAVE ANOTHER SITE HANDLE THE CAP/GOWN INFORMATION-->
                                    <div class="column-eight text-box-margin" id="redirectcap" data-bind="visible:CapAndGownLink()">
                                        <div class="esg-alert esg-alert--info esg-alert--fluid esg-alert--small" role="alert">
                                            <span class="esg-alert__icon-wrapper">
                                                <span class="esg-alert__icon esg-icon__container" aria-hidden="True">
                                                    <svg class="esg-icon esg-icon--info-dark">
                                                        <use xlink:href="#icon-info"></use>
                                                    </svg>
                                                </span>
                                            </span>
                                            <div class="esg-alert__message">
                                                <span>@Resources.Graduation.CapAndGownRedirectStatement</span>
                                                <a data-bind="attr:{href:CapAndGownLink(), target:'_blank'}">@Resources.Graduation.CapAndGownRedirectLinkText</a>
                                            </div>
                                        </div>
                                    </div>

                                    <!--THE CAP SIZE DROPDOWN-->

                                    <div class="graduation-info clear-group" data-bind="visible:ShowCapSize()">
                                        <label class="column-three" for="capsize" data-bind="css: { 'esg-is-required': RequireCapSize() && !viewOnlyMode() }">
                                            @Resources.Graduation.CapSize
                                        </label>
                                        <div class="column-five">
                                            <select class="esg-form__input" id="capsize" data-bind="attr:{'required': ko.unwrap(RequireCapSize()) !== false ? 'required' : null, 'aria-invalid':!CapSizeSelected.isValid()?'true':'false'}, css:{'required-input':hasInputErrors()&&!CapSizeSelected.isValid()},options:CapSizes,optionsText:'Description', value:CapSizeSelected,  readOnlySpan:{showSpan:viewOnlyMode(),message:CapSizeSelected()!=null && CapSizeSelected() != 'undefined'?CapSizeSelected().Description():Ellucian.Student.Graduation.notApplicable, styles:CapSizeSelected()==null || typeof CapSizeSelected()=='undefined'?'italic':'normal'}, optionsCaption:Ellucian.Student.Graduation.select"></select>
                                            <span role="alert" data-bind="visible:hasInputErrors()&&!CapSizeSelected.isValid()" class="required">@Resources.Graduation.Required</span>
                                        </div>
                                    </div>

                                    <!--THE GOWN SIZE DROPDOWN-->
                                    <div class="graduation-info clear-group" data-bind="visible:ShowGownSize()">
                                        <label class="column-three" for="gownsize" data-bind="css: { 'esg-is-required': RequireGownSize() && !viewOnlyMode() }">
                                            @Resources.Graduation.GownSize
                                        </label>
                                        <div class="column-five">
                                            <select class="esg-form__input" id="gownsize" data-bind="attr:{'required': ko.unwrap(RequireGownSize()) !== false ? 'required' : null, 'aria-invalid':!GownSizeSelected.isValid()?'true':'false'}, css:{'required-input':hasInputErrors()&&!GownSizeSelected.isValid()},options:GownSizes,optionsText:'Description', value:GownSizeSelected, readOnlySpan:{showSpan:viewOnlyMode(),message:GownSizeSelected()!=null && typeof GownSizeSelected() != 'undefined'?GownSizeSelected().Description():Ellucian.Student.Graduation.notApplicable, styles:GownSizeSelected()==null || typeof GownSizeSelected()=='undefined'?'italic':'normal'}, optionsCaption:Ellucian.Student.Graduation.select"></select>
                                            <span role="alert" data-bind="visible:hasInputErrors()&&!GownSizeSelected.isValid()" class="required">@Resources.Graduation.Required</span>
                                        </div>
                                    </div>

                                    <!--THE LINK TO A SIZING CHART-->
                                    <div class="clear-group graduation-info" data-bind="visible:CapAndGownSizingLink()">
                                        <div class="block graduation-info-link">
                                            <a data-bind="attr:{href:CapAndGownSizingLink(),target:'_blank'}">@Resources.Graduation.CapAndGownSizingChartLinkText</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- /ko -->
                            </div>
                        </div>
                    </fieldset>

                    <!--SECTION FOR PAYMENT-->
                    <!--ko with:GraduationPaymentModel-->
                    <!--ko if:ShowPaymentDetails() && !$parent.viewOnlyMode() && !$parent.editOnlyMode()-->
                    <fieldset>
                        <legend class="offScreen">@Resources.Graduation.GraduationPaymentLegend</legend>
                        <div class="graduation-part clear-group">
                            <div class="clear-group">
                                <h4 tabindex="0" class="section-header clear-group">@Resources.Graduation.PaymentSectionHeader</h4>
                            </div>
                            <div class="graduation-field clear-group">
                                <p id="graduation-intro">
                                    <span>@Resources.Graduation.PaymentSectionAdditionalInfo</span>
                                </p>
                            </div>
                            <div class="graduation-field column-four float-left clear-group left-column-separator">
                                <div class="graduation-info clear-group">
                                    <label class="column-three float-left">@Resources.Graduation.AmountDue</label>
                                    <span class="column-five float-right graduation-list" data-bind="currency: GraduationFeesAmount(), negativePattern:1"></span>
                                </div>
                                <div class="graduation-info clear-group">
                                    <label class="esg-is-required column-three float-left" for="payment-methods">
                                        @Resources.Graduation.PaymentMethods
                                    </label>
                                    <div class="column-five float-right">
                                        <select class="esg-form__input" id="payment-methods" required data-bind="options: PaymentMethods(), optionsCaption: Ellucian.Student.Graduation.select, optionsText: 'Description', value: PaymentMethodSelected, attr:{'aria-invalid':!PaymentMethodSelected.isValid()?'true':'false'}, css:{'required-input':$parent.hasInputErrors() && !PaymentMethodSelected.isValid()} "></select>
                                        <span role="alert" data-bind="visible:$parent.hasInputErrors() && !PaymentMethodSelected.isValid()" class="required">@Resources.Graduation.Required</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <!--/ko-->
                    <!--/ko-->
                </form>
                <!--THE SAVE BAR AND BUTTON-->
                <div class="button-bar" data-bind="visible:!viewOnlyMode()">
                    <input type="button" class="esg-button esg-button--primary" data-bind="click:submitApp, visible:!editOnlyMode(), value:!GraduationPaymentModel().ShowPaymentDetails()?Ellucian.Student.Graduation.submit:Ellucian.Student.Graduation.proceedToPaymentButton" />
                    <input type="button" value='@Resources.Graduation.Save' class="esg-button esg-button--primary" aria-label="Save" data-bind="click:updateApp, visible:editOnlyMode(), enable:isFormDirty()" />
                    <a href='@Url.Action("Index", "Graduation")'>@Resources.Graduation.Cancel</a>
                </div>
            </div>

            <modal-spinner id="someid" params="isVisible: isUpdating, message: Ellucian.Student.Graduation.processingThrobberMessage"></modal-spinner>
        </div>
    </div>
</div>
