﻿@*Copyright 2016 Ellucian Company L.P. and its affiliates.*@

@section Styles
{
    @Styles.Render("~/Areas/Student/Content/GraduationBundlecss")
}


<!-- scripts here -->
@section Scripts
{

    @Scripts.Render("~/bundles/graduationindexscripts")

   

    <script type="text/javascript">
        $("#graduation > a").addClass("menu-selected");
        var notify = "@ViewBag.Notification";
    </script>
}


<div class="esg-page-header">
    <h2 class="esg-page-header__title">@Resources.Graduation.PageDescription</h2>
</div>


<!-- The field body -->
<div class="column-nine">

    <div id="graduation-info" style="display: none;" data-bind="visible:true">
        <!--The spinner that shows while the data is loading-->
        <spinner params="isVisible: !isLoaded(), message: Ellucian.Student.Graduation.loadingSpinnerMessage"></spinner>

        <form id="form">
            <div class="section-wrapper section-wrapper-top-border" data-bind="visible: isLoaded()">
                <!--The form that holds the program options-->

                <div class="graduation-part clear-group graduation-info">
                    <!--The text box at the top that holds the CommencementInformaitonLink in the text defined by Welcome-->
                    <p id="graduation-intro" data-bind="visible:CommencementInformationLink">
                        <span>@Resources.Graduation.WelcomeStatement</span>
                        <a data-bind="attr:{href:CommencementInformationLink(),target:'_blank'}">@Resources.Graduation.CommencementProcessLinkText</a>
                    </p>
                    <p>

                        <a data-bind="visible:ShowMyProgressLink, attr:{href:'@Url.Action("MyProgress", "Programs", new { area = "Planning" })'}">@Resources.Graduation.AcademicProgress</a>
                    </p>
                </div>
                <div class="graduation-part clear-group graduation-info">
                    <table data-bind="visible:Programs().length>0" style="width:100%" id="graduation-table">
                        <caption>@Resources.Graduation.ProgramTable</caption>
                        <thead>
                            <tr>
                                <th>@Resources.Graduation.Program</th>
                                <th>@Resources.Graduation.Major</th>
                                <th>@Resources.Graduation.ApplyHeading</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach:Programs">
                            <tr>
                                <td data-bind="text:Title"></td>
                                <td data-bind="foreach:Majors">
                                    <p data-bind="text:$data"></p>
                                </td>
                                <td>
                                    <div data-bind="visible:!IsGraduationApplicationSubmitted()">
                                        <a href="#" class="left-column-separator" data-bind="visible:$parent.AcceptingNewApplications(), click: $parent.programLinkClick">
                                            @Resources.Graduation.Apply
                                        </a>
                                        <span data-bind="visible:!$parent.AcceptingNewApplications()">@Resources.Graduation.ApplyMode</span>
                                    </div>
                                    <a href="# " class="landing-info" data-bind="visible:IsGraduationApplicationSubmitted(), text:SubmittedString, attr:{title:Term()!=null?Ellucian.Student.Graduation.editMode:Ellucian.Student.Graduation.viewMode}, click: $parent.programLinkClick"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p data-bind="visible:Programs().length<1">@Resources.Graduation.NoPrograms</p>
                </div>


                <!--The text box that binds the ApplyForDifferentProgramLink in the text defined by DiffProgram-->
                <div class="graduation-part clear-group graduation-info " data-bind="visible:ApplyForDifferentProgramLink">
                    <div class="esg-alert esg-alert--fluid esg-alert--info" role="alert">
                        <span class="esg-alert__icon-wrapper">
                            <span class="esg-alert__icon esg-icon__container" aria-hidden="True">
                                <svg class="esg-icon esg-icon--info-dark">
                                    <use xlink:href="#icon-info"></use>
                                </svg>
                            </span>
                        </span>
                        <div class="esg-alert__message">
                            <span>@Resources.Graduation.DifferentProgramStatement</span>
                            <a data-bind="attr:{ href: ApplyForDifferentProgramLink() }" target:'_blank'">@Resources.Graduation.DifferentProgramLinkText</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
