﻿@*Copyright 2015 Ellucian Company L.P. and its affiliates.*@

@section Styles
{
    @Styles.Render("~/Areas/Student/Content/GraduationBundlecss")
}

@section Scripts
{
    @Scripts.Render("~/bundles/graduationsubmissionstatusscripts")
}

<div id="page-description" class="esg-page-header esg-has-subtitle">
    <h2 class="esg-page-header__title">
        <a class="esg-page-header__subtitle esg-page-header__subtitle--backlink" href="~/Student/Graduation">
            <span class="esg-icon__container esg-page-header__icon" aria-hidden="true">
                <svg class="esg-icon esg-icon--left">
                    <use xlink:href="#icon-arrow"></use>
                </svg>
            </span>@Resources.Graduation.Back
        </a>
    </h2>
</div>

<!-- Main Nav Menu -->
<div id="dp-monolith" class="column-nine">

    <div id="graduation-status" class="section-wrapper section-wrapper-top-border clear-group">
        <div class="graduation-response-part graduation-info clear-group">
            @{
                var messageValue = ViewBag.Message;
                if (ViewBag.Success != null && ViewBag.email != null && !string.IsNullOrEmpty(Resources.Graduation.ConfirmationEmail))
                {
                    messageValue = messageValue + "<div>" + HttpUtility.HtmlEncode( Resources.Graduation.ConfirmationEmail) + ViewBag.email + "</div>";
                }
            }
            <message params="isVisible: true, message: '@messageValue', type: '@ViewBag.Success' ? 'success' : 'warning'"></message>

        </div>
    </div>
</div>