﻿<!-- Copyright 2016-2017 Ellucian Company L.P. and its affiliates. -->
<!-- Render JavaScript files -->
@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/colleaguefinanceglactivitydetailscripts")
}

@{
    var glNumber = Url.RequestContext.RouteData.Values["id"];
    var controller = Url.RequestContext.RouteData.Values["controller"];
}

<script type="text/javascript">
    var glNumber = '@glNumber';
</script>

<!-- ko if: IsPageLoaded() -->
<div class="clear-group" data-bind="visible: IsPageLoaded()" style="display: none;">
    <div id="page-description" class="esg-row esg-page-header">
        <div class="esg-col-sm-8 esg-col-md-8">
            <h2 class="esg-page-header__title">
                <span data-bind="text: GlAccountActivity().FormattedGlAccount"></span>
                <span data-bind="text: GlAccountActivity().Description"></span>
            </h2>
            @if (controller.ToString().Equals("Budget", StringComparison.OrdinalIgnoreCase))
            {
                <a href="#" data-bind="attr: { 'href': costCentersHomeActionUrl + '#ObjectView' }" class="esg-page-header__subtitle esg-page-header__subtitle--backlink">
                    <span class="esg-icon__container esg-page-header__icon" aria-hidden="true">
                        <svg class="esg-icon esg-icon--left">
                            <use xlink:href="#icon-arrow"></use>
                        </svg>
                    </span><span>@Resources.ColleagueFinanceHome.ObjectViewTabLabel</span>
                </a>
            }
            else
            {
                <!-- ko with: GlAccountActivity -->
                <a href="#" data-bind="attr: { 'href': costCenterDetailActionUrl + '/' + CostCenterId() }" class="esg-page-header__subtitle esg-page-header__subtitle--backlink">
                    <span class="esg-icon__container esg-page-header__icon" aria-hidden="true">
                        <svg class="esg-icon esg-icon--left">
                            <use xlink:href="#icon-arrow"></use>
                        </svg>
                    </span><span data-bind="text: UnitId"></span> <span data-bind="text: Name"></span>
                </a>
            <!-- /ko -->
            }
        </div>
        <div class="esg-form__group--page-header esg-col-sm-4 esg-col-md-4">
            <!-- Fiscal Years drop down -->
            <label for="reporting-period-filter" class="offScreen">@Resources.ColleagueFinanceHome.MyCostCenterLabel</label>
            <select id="reporting-period-filter" class="esg-form__input esg-form__input--inline" data-bind="options: FiscalYears, optionsText: 'FiscalYearDescription', optionsValue: 'FiscalYear', value: SelectedFiscalYear, event: { change: pickFiscalYear }"></select>


            @*Export drop down*@
            <div class="esg-dropdown">
                <button class="esg-button css-button esg-button--secondary esg-dropdown__toggle css-button--export" type="button" id="download-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bind="enable: glActivityExportData().length > 0, click: toggleExportDropdown, css: exportDropdownCss, attr: { 'aria-expanded': isExportDropdownExpanded() }">
                    <span class="esg-icon__container" aria-hidden="True">
                        <svg class="esg-icon esg-icon--small esg-icon--neutral">
                            <use xlink:href="#icon-export"></use>
                        </svg>
                    </span>
                    <span class="export-button__label">@Resources.ColleagueFinanceHome.ExportButtonLabel</span>
                    <span class="esg-dropdown__icon esg-dropdown__icon--right esg-icon__container" aria-hidden="True">
                        <svg class="esg-icon esg-icon--small esg-icon--neutral esg-icon--down">
                            <use xlink:href="#icon-arrow"></use>
                        </svg>
                    </span>
                </button>
                <ul id="download-menu" class="esg-dropdown__menu" aria-labelledby="download-dropdown">
                    <li class="esg-dropdown__menu-item css-dropdown__menu-item">
                        <csv-download-link params="data: glActivityExportData, linkText: downloadCsvLink, fileName: downloadFileName, includeKeys: true, limitToKeys: csvColumns, keyTextReplacements: csvColumnHeaders"></csv-download-link>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->


<div id="dp-monolith" class="column-nine clear-group">
    <spinner params="isVisible: !IsPageLoaded(), message: updatingGlActivityMessage"></spinner>

    <!-- Cost center details -->
    <!-- ko if: IsPageLoaded() -->
    <section id="gl-detail-wrapper" class="section-wrapper section-wrapper-top-border no-margin">

        <section class="grouping-wrapper line-item-wrapper">
            <!-- ko with: GlAccountActivity -->
            <div class="section-contents">
                <!-- ko if: $root.isMobile() -->
                <div class="gl-details-tabset" role="tablist">
                    <div role="tab" aria-selected="true" tabindex="0" class="gl-details-tab gl-tab-encumbrances" data-bind="selectEncumbrancesTab: {}, css: {'gl-detail-tab-selected': $root.encumbrancesTabSelected() }, attr: { 'aria-selected': $root.encumbrancesTabSelected() }">@Resources.ColleagueFinanceHome.EncumbrancesText</div>
                    <div role="tab" aria-selected="false" tabindex="0" class="gl-details-tab gl-tab-actuals" data-bind="selectActualsTab: {}, css: {'gl-detail-tab-selected': $root.actualsTabSelected() }, attr: { 'aria-selected': $root.actualsTabSelected() }">@Resources.ColleagueFinanceHome.ActualsText</div>
                    <div role="tab" aria-selected="false" tabindex="0" class="gl-details-tab gl-tab-budget" data-bind="selectBudgetTab: {}, css: {'gl-detail-tab-selected': $root.budgetTabSelected() }, attr: { 'aria-selected': $root.budgetTabSelected() }">@Resources.ColleagueFinanceHome.BudgetText</div>
                </div>
                <!-- /ko -->

                <div id="encumbrance-panel" class="gl-detail-panel" data-bind="attr: { 'aria-hidden': $root.isMobile() && !($root.encumbrancesTabSelected()) }">
                    <!-- ko if: EncumbranceTransactions().length > 0 -->
                    <table id="encumbrances-table" class="gl-detail-table" role="grid" aria-readonly="true" data-bind="visible: $root.ShowEncumbrancesTable()">
                        <caption class="actuals-encumbrances-budget-header">
                            <div class="gl-detail-header-left">@Resources.ColleagueFinanceHome.EncumbrancesText</div>
                            <div class="gl-detail-header-right">
                                <span class="offScreen">Total</span>
                                <span data-bind="text: TotalEncumbrances"></span>
                            </div>
                        </caption>

                        <thead>
                            <tr>
                                <th scope="col" class="gl-details-transaction-header gl-details-align-left gl-details-document-id" role="columnheader">@Resources.ColleagueFinanceHome.DocumentIdHeader</th>
                                <th scope="col" class="gl-details-transaction-header gl-details-align-left gl-details-date" role="columnheader">@Resources.ColleagueFinanceHome.DateHeader</th>
                                <th scope="col" class="gl-details-transaction-header gl-details-align-left gl-details-description" role="columnheader">@Resources.ColleagueFinanceHome.DescriptionHeader</th>
                                <th scope="col" class="gl-details-transaction-header gl-details-align-right gl-details-amount" role="columnheader">@Resources.ColleagueFinanceHome.AmountHeader</th>
                            </tr>
                        </thead>

                        <tfoot>
                            <tr>
                                <th class="actuals-encumbrances-budget-footer gl-details-align-left" colspan="2">Total</th>
                                <th class="actuals-encumbrances-budget-footer gl-details-align-right" data-bind="text: TotalEncumbrances"></th>
                            </tr>
                        </tfoot>

                        <tbody data-bind="template: { name: 'gl-detail-transaction', foreach: EncumbranceTransactions }"></tbody>
                    </table>
                    <!-- /ko -->
                    <!-- Display an "info" message if there are no Encumbrance transactions -->
                    <!-- ko if: EncumbranceTransactions().length == 0 && $root.ShowEncumbrancesTable() -->
                    <div class="no-transactions-container">
                        <div class="esg-table-actions__title">
                            @Resources.ColleagueFinanceHome.EncumbrancesText
                        </div>

                        <message params="isVisible: true, message: '@Resources.ColleagueFinanceHome.NoTransactionsMessage'"></message>
                    </div>
                    <!-- /ko -->
                </div>

                <div id="actual-panel" class="gl-detail-panel" data-bind="attr: { 'aria-hidden': $root.isMobile() && !($root.actualsTabSelected()) }">
                    <!-- ko if: ActualTransactions().length > 0 || EstimatedOpeningBalance() != 0 || ClosingYearAmount() != 0 || TotalActualsMemos() != 0 -->
                    <table id="actuals-table" class="gl-detail-table" role="grid" aria-readonly="true" data-bind="visible: $root.ShowActualsTable()">
                        <caption class="actuals-budget-caption">
                            <div class="actuals-encumbrances-budget-header clear-group">
                                <div class="gl-detail-header-left">@Resources.ColleagueFinanceHome.ActualsText</div>
                                <div class="gl-detail-header-right">
                                    <span class="offScreen">Total</span>
                                    <span data-bind="text: TotalActuals"></span>
                                </div>
                            </div>

                            <!-- Estimated Opening Balance/Closing Year Amount -->
                            <!-- ko if: EstimatedOpeningBalance() != 0 -->
                            <div class="estimated-open-balance">
                                <div class="clear-group">
                                    <span class="float-left italic">@Resources.ColleagueFinanceHome.EstimatedOpeningBalanceText</span>
                                    <span class="float-right" data-bind="text: EstimatedOpeningBalanceDisplay"></span>
                                </div>
                            </div>
                            <!-- /ko -->
                            <!-- ko if: ClosingYearAmount() != 0 -->
                            <div class="closing-year-amount">
                                <div class="clear-group">
                                    <span class="float-left italic">@Resources.ColleagueFinanceHome.ClosingYearAmountText</span>
                                    <span class="float-right" data-bind="text: ClosingYearAmountDisplay"></span>
                                </div>
                            </div>
                            <!-- /ko -->
                            <!-- Actuals pending posting -->
                            <!-- ko if: TotalActualsMemos() != 0 -->
                            <div class="amount-pending-posting">
                                <div class="clear-group">
                                    <span class="float-left italic">@Resources.ColleagueFinanceHome.AmountPendingPostingText</span>
                                    <span class="float-right" data-bind="text: TotalActualsMemosDisplay"></span>
                                </div>
                            </div>
                            <!-- /ko -->
                        </caption>

                        <!-- ko if: ActualTransactions().length > 0 -->
                        <thead>
                            <tr>
                                <th scope="col" class="gl-details-transaction-header gl-details-align-left gl-details-document-id" role="columnheader">@Resources.ColleagueFinanceHome.DocumentIdHeader</th>
                                <th scope="col" class="gl-details-transaction-header gl-details-align-left gl-details-date" role="columnheader">@Resources.ColleagueFinanceHome.DateHeader</th>
                                <th scope="col" class="gl-details-transaction-header gl-details-align-left gl-details-description" role="columnheader">@Resources.ColleagueFinanceHome.DescriptionHeader</th>
                                <th scope="col" class="gl-details-transaction-header gl-details-align-right gl-details-amount" role="columnheader">@Resources.ColleagueFinanceHome.AmountHeader</th>
                            </tr>
                        </thead>
                        <!-- /ko -->
                        <!-- ko if: ActualTransactions().length == 0 -->
                        <tbody>
                            <tr>
                                <td colspan="4">
                                    <div class="info-notification">@Resources.ColleagueFinanceHome.NoTransactionsMessage</div>
                                </td>
                            </tr>
                        </tbody>
                        <!-- /ko -->

                        <tfoot>
                            <tr>
                                <th class="actuals-encumbrances-budget-footer gl-details-align-left" colspan="2">Total</th>
                                <th class="actuals-encumbrances-budget-footer gl-details-align-right" data-bind="text: TotalActuals"></th>
                            </tr>
                        </tfoot>

                        <!-- ko if: ActualTransactions().length > 0 -->
                        <tbody data-bind="template: { name: 'gl-detail-transaction', foreach: ActualTransactions }"></tbody>
                        <!-- /ko -->
                    </table>
                    <!-- /ko -->
                    <!-- Display an "info" message if there are no Actuals transactions -->
                    <!-- ko if: ActualTransactions().length == 0 && TotalActualsMemos() == 0 && $root.ShowActualsTable() -->
                    <div class="no-transactions-container">
                        <div class="esg-table-actions__title">
                            @Resources.ColleagueFinanceHome.ActualsText
                        </div>

                        <message params="isVisible: true, message: '@Resources.ColleagueFinanceHome.NoTransactionsMessage'"></message>
                    </div>
                    <!-- /ko -->
                </div>

                <div id="budget-panel" class="gl-detail-panel" data-bind="attr: { 'aria-hidden': $root.isMobile() && !($root.budgetTabSelected()) }">
                    <!-- ko if: BudgetTransactions().length > 0 || TotalBudgetMemos() != 0 -->
                    <table id="budget-table" class="gl-detail-table" role="grid" aria-readonly="true" data-bind="visible: $root.ShowBudgetTable()">
                        <caption class="actuals-budget-caption">
                            <div class="actuals-encumbrances-budget-header clear-group">
                                <div class="gl-detail-header-left">@Resources.ColleagueFinanceHome.BudgetText</div>
                                <div class="gl-detail-header-right">
                                    <span class="offScreen">Total</span>
                                    <span data-bind="text: TotalBudget"></span>
                                </div>
                            </div>

                            <!-- Budget pending posting -->
                            <!-- ko if: TotalBudgetMemos() != 0 -->
                            <div class="amount-pending-posting">
                                <div class="clear-group">
                                    <span class="float-left italic">@Resources.ColleagueFinanceHome.AmountPendingPostingText</span>
                                    <span class="float-right" data-bind="text: TotalBudgetMemosDisplay"></span>
                                </div>
                            </div>
                            <!-- /ko -->
                        </caption>

                        <!-- ko if: BudgetTransactions().length > 0 -->
                        <thead>
                            <tr>
                                <th scope="col" class="gl-details-transaction-header gl-details-align-left gl-details-document-id" role="columnheader">@Resources.ColleagueFinanceHome.DocumentIdHeader</th>
                                <th scope="col" class="gl-details-transaction-header gl-details-align-left gl-details-date" role="columnheader">@Resources.ColleagueFinanceHome.DateHeader</th>
                                <th scope="col" class="gl-details-transaction-header gl-details-align-left gl-details-description" role="columnheader">@Resources.ColleagueFinanceHome.DescriptionHeader</th>
                                <th scope="col" class="gl-details-transaction-header gl-details-align-right gl-details-amount" role="columnheader">@Resources.ColleagueFinanceHome.AmountHeader</th>
                            </tr>
                        </thead>
                        <!-- /ko -->
                        <!-- ko if: BudgetTransactions().length == 0 -->
                        <tbody>
                            <tr>
                                <td colspan="4">
                                    <div class="info-notification">@Resources.ColleagueFinanceHome.NoTransactionsMessage</div>
                                </td>
                            </tr>
                        </tbody>
                        <!-- /ko -->

                        <tfoot>
                            <tr>
                                <th class="actuals-encumbrances-budget-footer gl-details-align-left" colspan="2">Total</th>
                                <th class="actuals-encumbrances-budget-footer gl-details-align-right" data-bind="text: TotalBudget"></th>
                            </tr>
                        </tfoot>

                        <!-- ko if: BudgetTransactions().length > 0 -->
                        <tbody data-bind="template: { name: 'gl-detail-transaction', foreach: BudgetTransactions }"></tbody>
                        <!-- /ko -->
                    </table>
                    <!-- /ko -->
                    <!-- Display an "info" message if there are no Budget transactions -->
                    <!-- ko if: BudgetTransactions().length == 0 && TotalBudgetMemos() == 0 && $root.ShowBudgetTable() -->
                    <div class="no-transactions-container">
                        <div class="esg-table-actions__title">
                            @Resources.ColleagueFinanceHome.BudgetText
                        </div>

                        <message params="isVisible: true, message: '@Resources.ColleagueFinanceHome.NoTransactionsMessage'"></message>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
            <!-- /ko -->
        </section>
    </section>
    <!-- /ko -->

</div>

<!-- Loading spinner -->
<modal-spinner id="loading" params="isVisible: IsGlActivityLoading, message: updatingGlActivityMessage"></modal-spinner>
@Html.Partial(@"~\Areas\ColleagueFinance\Views\Shared\_GlDetailTransaction.cshtml")