﻿@*Copyright 2015-2016 Ellucian Company L.P. and its affiliates*@

@*Page Greeting*@
<div class="clear-group">
    <div id="page-description" class="esg-page-header" tabindex="0" aria-labelledby="employee-home-greeting">
        <h2 id="employee-home-greeting" class="esg-page-header__title">
            @Resources.ColleagueFinanceHome.LandingPageGreeting
        </h2>
    </div>
</div>

@using Ellucian.Web.Mvc.Menu
@using Ellucian.Web.Mvc.Models;
@using Ellucian.Web.Mvc.Extensions;
@{
    Site site = DependencyResolver.Current.GetService<ISiteService>().Get(this.CurrentUser);
    var glUserMatch = site.Pages.FirstOrDefault(p => p.Id.Equals("myCostCenters") && !p.Hidden);
    var projectsAccountingMatch = site.Pages.FirstOrDefault(p => p.Id.Equals("myProjects") && !p.Hidden);
}

<div class="column-nine">
    <div class="sitehome-wrapper clear-group">
        @{
            // Only display the Budget link if the user has access to see it.
            if (glUserMatch != null)
            {
                <div class="sitehome-expandednavlink">
                    @{var costCentersUrl = Url.Action(glUserMatch.Action, glUserMatch.Controller);}
                    <a href='@costCentersUrl' aria-labelledby="cost-centers-heading cost-centers-description">
                        <div class="costCenters_expandednavlink" aria-hidden="true">
                            <h3 id="cost-centers-heading">@Resources.ColleagueFinanceHome.BudgetTitle</h3>
                            <p id="cost-centers-description">@Resources.ColleagueFinanceHome.CostCentersDescription</p>
                        </div>
                    </a>
                </div>
            }
        }

        @{
            // Only display the Projects Accounting link if the user has access to see it.
            if (projectsAccountingMatch != null)
            {
                <div class="sitehome-expandednavlink">
                    @{var projectsAccountingUrl = Url.Action(projectsAccountingMatch.Action, projectsAccountingMatch.Controller, new { Area = projectsAccountingMatch.Area });}
                    <a href="@projectsAccountingUrl" aria-labelledby="projects-heading projects-description">
                        <div class="projects_expandednavlink" aria-hidden="true">
                            <h3 id="projects-heading">@Resources.ColleagueFinanceHome.ProjectsAccountingTitle</h3>
                            <p id="projects-description">@Resources.ColleagueFinanceHome.ProjectsAccountingDescription</p>
                        </div>
                    </a>
                </div>
            }
        }
    </div>
</div>