﻿<!-- Copyright 2014-2017 Ellucian Company L.P. and its affiliates. -->
<!-- Render JavaScript files -->
@section Scripts {
    @Html.Partial(@"~\Areas\ColleagueFinance\Views\Shared\_ActionUrls.cshtml")
    @Html.Partial(@"~\Areas\ColleagueFinance\Views\Shared\_StringConstantDefinitions.cshtml")

    @System.Web.Optimization.Scripts.Render("~/bundles/cfdocumentscripts",
                                            "~/bundles/cfpurchaseorderscripts")
}

@Html.Partial(@"~\Areas\ColleagueFinance\Views\Shared\_DocumentRouteData.cshtml")

<div data-bind="template: { name: 'document-back-link', data: $data }"></div>

<div id="dp-monolith" class="column-nine">
    <spinner params="isVisible: !isLoaded(), message: loadingPurchaseOrderText"></spinner>

    <div data-bind="template: { name: 'document-template', data: $data }"></div>
</div>

@Html.Partial(@"~\Areas\ColleagueFinance\Views\Shared\_DocumentBackLink.cshtml")
@Html.Partial(@"~\Areas\ColleagueFinance\Views\Shared\_Document.cshtml")