﻿<!-- Copyright 2015 Ellucian Company L.P. and its affiliates -->

<script type="text/html" id="tax-information-template">
    <div id="dp-monolith" class="clear-group" data-bind="visible: true">
        <div id="tax-information" data-bind="if: showUI()">
            <section class="tax-form-section">
                <!-- Show the corresponding consent paragraph according to their current consent, hide if no consent history exists -->
                <div data-bind="visible: !$root.showConsentOptions()" id="consent-option-chosen" aria-live="polite" role="region">
                    <div class="consent-choice-text inline-block" data-bind="text: currentConsentChoice() ? taxFormConsentGivenText() : taxFormConsentWithheldText()"></div>
                    <button data-bind="click: changePreferences" class="esg-button esg-button--secondary esg-button--small consent-preferences" aria-controls="consent-options"> @Resources.TaxForms.ChangePreferencesButton</button>

                    <div class="tax-form-consent-message">
                        <!-- ko if: !$root.isMobile() -->
                        <message params="isVisible: true, title: currentConsentChoice() ? taxFormConsentGivenShortText() : receivePaperOnlyLabel(), message: currentConsentChoice() ? ConsentGivenText() : ConsentWithheldText(), type: currentConsentChoice() ? 'info': 'warning'"></message>
                        <!-- /ko -->
                        <!-- ko if: $root.isMobile() -->
                        <div class="esg-alert" role="alert" data-bind="attr: { 'class' : currentConsentChoice() ? 'esg-alert esg-alert--fluid esg-alert--info':'esg-alert esg-alert--fluid esg-alert--warning' }">
                            <span class="esg-alert__icon-wrapper">
                                <span class="esg-alert__icon esg-icon__container" aria-hidden="True">
                                    <svg class="esg-icon" data-bind="css: currentConsentChoice() ? 'esg-icon--info-dark':'esg-icon--warning-dark'">
                                        <use xlink:href="" data-bind="attr: { 'xlink:href': currentConsentChoice() ? '#icon-info':'#icon-warning' }"></use>
                                    </svg>
                                </span>
                            </span>
                            <div class="esg-alert__message">
                                <div class="esg-alert__message--title" data-bind="multiAccordion: { contentId: 'consent-long-text'}">
                                    <span data-bind="text: currentConsentChoice() ? taxFormConsentGivenShortText() : receivePaperOnlyLabel()"></span>
                                </div>
                                <div id="consent-long-text" data-bind="html: currentConsentChoice() ? ConsentGivenText() : ConsentWithheldText()"></div>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>

                <!-- When the user clicks on the change preferences button, we show both paragraphs with radio buttons -->
                <div role="form" id="consent-options" aria-live="polite">
                    <form>
                        <fieldset data-bind="visible: $root.showConsentOptions()" class="consent-options-fieldset">
                            <legend class="block" data-bind="text: consentUnknownText()"></legend>
                            <input type="radio" name="consent-choice" id="consent-given" data-bind="checked: consentChoice, checkedValue: true" />
                            <label for="consent-given" data-bind="text: taxFormConsentGivenShortText()"></label>
                            <div class="esg-alert esg-alert--fluid esg-alert--info" role="alert">
                                <span class="esg-alert__icon-wrapper">
                                    <span class="esg-alert__icon esg-icon__container" aria-hidden="True">
                                        <svg class="esg-icon esg-icon--info-dark">
                                            <use xlink:href="#icon-info"></use>
                                        </svg>
                                    </span>
                                </span>
                                <div class="esg-alert__message">
                                    <div data-bind="html: ConsentGivenText()"></div>
                                </div>
                            </div>
                                                            
                            <input type="radio" name="consent-choice" id="consent-withheld" data-bind="checked: consentChoice, checkedValue: false" />
                            <label for="consent-withheld" data-bind="text: receivePaperOnlyLabel()"></label>
                            <div class="esg-alert esg-alert--fluid esg-alert--warning" role="alert">
                                <span class="esg-alert__icon-wrapper">
                                    <span class="esg-alert__icon esg-icon__container" aria-hidden="True">
                                        <svg class="esg-icon esg-icon--warning-dark">
                                            <use xlink:href="#icon-warning"></use>
                                        </svg>
                                    </span>
                                </span>
                                <div class="esg-alert__message">
                                    <div data-bind="html: ConsentWithheldText()"></div>
                                </div>
                            </div>
                        </fieldset>

                        <div class="button-bar" data-bind="visible: $root.showConsentOptions()">
                            <button class="esg-button esg-button--primary" data-bind="click: createNewTaxFormConsent" aria-controls="consent-option-chosen">Save</button>
                            <button class="esg-button esg-button--secondary" data-bind="click: cancelConsentChoice, visible: $root.hasConsentHistory()" aria-controls="consent-option-chosen">Cancel</button>
                        </div>
                    </form>
                </div>

                <div class="statements-and-consents clear-group">
                    <!-- ko if: $root.currentConsentChoice() === true -->
                    <!-- Display statements -->
                    <div class="column-four half-width">
                        <h4 class="section-heading primary-header" data-bind="text: statementHistoryLabel(), css: $root.isMobile() ? 'section-header section-header-dark' : ''"></h4>
                        <div class="section-header clear-group">
                            <h5 class="column-three left-column">@Resources.TaxForms.TaxYearLabel</h5>
                            <h5 class="column-six right-column">@Resources.TaxForms.NotationLabel</h5>
                        </div>
                        <ol>
                            <!--ko foreach: Statements -->
                            <li class="list-item clear-group">
                                <span class="column-three left-column" data-bind="text: TaxYear"></span>
                                <!-- ko if: IsLinkable() === true -->
                                <a class="column-six right-column" data-bind="attr: { 'href': $root.getPdfData() + '/' + PdfRecordId() }">
                                    <span data-bind="text: NotationDisplay"></span>
                                    <span class="offScreen">@Resources.TaxForms.PdfTextForScreenReader</span>
                                </a>
                                <!-- /ko -->
                                <!-- ko if: IsLinkable() === false -->
                                <span class="column-six right-column" data-bind="text: NotationDisplay"></span>
                                <!-- /ko -->
                            </li>
                            <!-- /ko -->
                        </ol>
                    </div>

                    <div class="column-one spacer">&nbsp;</div>
                    <!-- /ko -->
                    <!-- Display consent history -->
                    <!-- ko if: $root.hasConsentHistory() === true -->
                    <div class="column-four half-width">
                        <h4 class="section-heading primary-header" data-bind="text: consentHistoryLabel(), css: $root.isMobile() ? 'section-header section-header-dark' : ''"></h4>
                        <div class="section-header clear-group">
                            <h5 class="column-five left-column">@Resources.TaxForms.ConsentHistoryDateLabel</h5>
                            <h5 class="column-four right-column">@Resources.TaxForms.ConsentHistoryStatusLabel</h5>
                        </div>
                        <ol>
                            <!--ko foreach: Consents -->
                            <li class="list-item clear-group">
                                <div class="column-five left-column">
                                    <span data-bind="text: DisplayDate() + ' ' + DisplayTime()"></span>
                                </div>
                                <span class="column-four right-column" data-bind="html: HasConsented() ? consentGiven : consentWithheld "></span>
                            </li>
                            <!-- /ko -->
                        </ol>
                    </div>
                    <!-- /ko -->
                </div>
            </section>
        </div>
    </div>
</script>