﻿<!-- Copyright 2015-2016 Ellucian Company L.P. and its affiliates. -->

<!-- Load JavaScript files -->
@section Scripts {
    @Html.Partial("_TaxInfoStringConstantDefinitions")

    @Html.Partial("_TaxInformationActionUrls")
    @System.Web.Optimization.Scripts.Render("~/bundles/taxinformationscripts")
}

<!-- <link rel="stylesheet" type="text/css" href="~/Areas/HumanResources/Content/HumanResources.css"> -->
<!-- Greeting and back link -->
<div class="clear-group">
    <div id="page-description" class="column-five">
        <h2>
            <span>@Resources.TaxForms.GreetingText</span>
        </h2>
    </div>
</div>
<!-- /Greeting and back link -->

<div id="dp-monolith" class="clear-group column-nine">
    <!-- Tax form tabs -->
    <section id="tax-info-tabs" class="section-wrapper section-wrapper-top-border" data-bind="visible: $root.taxFormSelected()">
        <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all tax-info-tabs">
            @if (ViewBag.W2)
            {
                <li class="tab-border"><a href="#form-W2" data-bind="text: W2HeadingText, click: function() { $root.changeTab(formW2Id) }"></a></li>
            }
            @if (ViewBag.Form1095C)
            {
                <li class="tab-border"><a href="#form-1095C" data-bind="text: Form1095CHeadingText, click: function() { $root.changeTab(form1095CId) }"></a></li>
            }
            @if (ViewBag.Form1098)
            {
                <li class="tab-border"><a href="#form-1098" data-bind="text: Form1098HeadingText, click: function() { $root.changeTab(form1098Id) }"></a></li>
            }
        </ul>
        <div id="tax-info-contents" class="section-contents">

            @if (ViewBag.W2)
            {
                <div id="form-W2">
                    <spinner params="isVisible: isTabPanelLoading(), message: loadingGreeting"></spinner>

                    <!-- ko if: $root.IsW2() && !$root.isTabPanelLoading() -->
                    <div data-bind="template: { name: 'tax-information-template', data: $data }"></div>
                    <!-- /ko -->
                </div>
            }

            @if (ViewBag.Form1095C)
            {
                <div id="form-1095C">
                    <spinner params="isVisible: isTabPanelLoading(), message: loadingGreeting"></spinner>

                    <!-- ko if: $root.Is1095C() && !$root.isTabPanelLoading() -->
                    <div data-bind="template: { name: 'tax-information-template', data: $data }"></div>
                    <!-- /ko -->
                </div>
            }

            @if (ViewBag.Form1098)
            {
                <div id="form-1098">
                    <spinner params="isVisible: isTabPanelLoading(), message: loadingGreeting"></spinner>

                    <!-- ko if: $root.Is1098() && !$root.isTabPanelLoading() -->
                    <div data-bind="template: { name: 'tax-information-template', data: $data }"></div>
                    <!-- /ko -->
                </div>
            }
            
        </div>
    </section>
    <!-- /Tax form tabs -->
</div>







<!-- Updating consent throbber -->
<modal-spinner id="loading" params="isVisible: waitingForConsentUpdate(), message: updatingConsentLabel"></modal-spinner>
@Html.Partial("_TaxInformation")