﻿<!--Copyright 2015 Ellucian Company L.P. and its affiliates.-->
<!--Reusable markup for entering addresses.-->
<!-- International Checkbox-->
<div class="esg-form__group">
    <input id="intCheckBox" class="esg-form__input" type="checkbox" data-bind="checked: internationalSelected, attr:{'aria-describedby':'intCheckBoxDescription'}" />
    <label for="intCheckBox" class="esg-form__label">Outside US/Canada</label>
    <span class="offScreen" id="intCheckBoxDescription" data-bind="text:checkBoxDescription()?checkBoxDescription():'Check to enter an address outside of the United States or Canada'"></span>
</div>
<!--Address Line 1-->
<div class="esg-form__group">
    <label for="street1" class="esg-form__label esg-is-required">Address Line 1</label>
    <span id="maxLengthStreet" class="offScreen">30 characters max</span>
    <input id="street1" class="esg-form__input " required data-bind="value: Street1, valueUpdate:'afterkeydown', css:{'required-input':!Street1.isValid() && hasErrorsFlag()}, attr:{'aria-invalid':!Street1.isValid()?'true':'false', 'aria-describedby':'maxLengthStreet'}" type="text" maxlength="30" placeholder="Address Line 1" />
    <span class="required" data-bind="visible: !Street1.isValid() && hasErrorsFlag(), text:errorMessage()?errorMessage(): Street1.error"></span>
</div>
<!--Address Line 2-->
<div class="esg-form__group">
    <label for="street2" class="esg-form__label" data-bind="text: 'Address Line 2'"></label>
    <input id="street2" class=" esg-form__input" data-bind="value: Street2, valueUpdate:'afterkeydown', attr:{'aria-describedby':'maxLengthStreet'}" type="text" maxlength="30" placeholder="Address Line 2" />
</div>
<!--Address Line 3-->
<div class="esg-form__group" data-bind="visible: internationalSelected()">
    <label for="street3" class="esg-form__label ">Address Line 3</label>
    <input id="street3" class=" esg-form__input" data-bind="value: Street3, valueUpdate:'afterkeydown', attr:{'aria-describedby':'maxLengthStreet'}" type="text" maxlength="30" placeholder="Address Line 3" />
</div>
<!--Address Line 4-->
<div class="esg-form__group" data-bind="visible: internationalSelected()">
    <label for="street4" class="esg-form__label ">Address Line 4</label>
    <input id="street4" class=" esg-form__input" data-bind="value: Street4, valueUpdate:'afterkeydown', attr:{'aria-describedby':'maxLengthStreet'}" type="text" maxlength="30" placeholder="Address Line 4" />
</div>
<!--City-->
<div class="esg-form__group" data-bind="visible: !internationalSelected()">
    <label for="city" class="esg-form__label esg-is-required ">City</label>
    <input id="city" class=" esg-form__input" data-bind="value: City, valueUpdate:'afterkeydown', css:{'required-input':!City.isValid() && hasErrorsFlag()}, attr:{'required':!internationalSelected(), 'aria-invalid':!City.isValid()?'true':'false', 'aria-describedby':'maxLengthStreet'}" type="text" maxlength="30" placeholder="City" />
    <span class="required" data-bind="visible: !City.isValid() && hasErrorsFlag(), text:errorMessage()?errorMessage():City.error"></span>
</div>
<!--State-->
<div class="esg-form__group" data-bind="visible: !internationalSelected()">
    <label for="state" class="esg-form__label esg-is-required ">State/Province</label>
    <select id="state" class="esg-form__input" data-bind="value:State, options:States, optionsText:'Description', optionsCaption:'Please Select', css:{'required-input':!State.isValid() && hasErrorsFlag()}, attr:{'required':!internationalSelected(), 'aria-invalid':!State.isValid()?'true':'false'}"></select>
    <span class="required" data-bind="visible: !State.isValid() && hasErrorsFlag(), text:errorMessage()?errorMessage():State.error"></span>
</div>
<!--ZIP-->
<div class="esg-form__group" data-bind="visible: !internationalSelected()">
    <label for="ZIP" class="esg-form__label esg-is-required ">ZIP/Postal Code</label>
    <span id="maxLengthZip" class="offScreen">10 characters max</span>
    <input id="ZIP" class=" esg-form__input" data-bind="value: PostalCode, valueUpdate:'afterkeydown', css:{'required-input':!PostalCode.isValid() && hasErrorsFlag()}, attr:{'required':!internationalSelected(), 'aria-invalid':!PostalCode.isValid()?'true':'false', 'aria-describedby':'maxLengthZip'}" type="text" maxlength="10" placeholder="ZIP/Postal Code" />
    <span class="required" data-bind="visible: !PostalCode.isValid() && hasErrorsFlag(), text:errorMessage()?errorMessage():PostalCode.error"></span>
</div>
<!--Country-->
<div class="esg-form__group" data-bind="visible:internationalSelected()">
    <label for="country" class="esg-form__label esg-is-required ">Country</label>
    <select id="country" class="esg-form__input" data-bind="value:Country, options:Countries, optionsText:'Description', optionsCaption:'Please Select', css:{'required-input':!Country.isValid() && hasErrorsFlag()}, attr:{'required':internationalSelected(), 'aria-invalid':!Country.isValid()?'true':'false'}"></select>
    <span class="required" data-bind="visible: !Country.isValid() && hasErrorsFlag(), text:errorMessage()?errorMessage():countryError()"></span>
</div>
<!--Country Label-->
<div class="esg-form__group" data-bind="visible:ShowCountryLabel()">
    <label class="esg-form__label ">Country</label>
    <span data-bind="text:CountryLabel()"></span>
</div>