@* Copyright 2012-2014 Ellucian Company L.P. and its affiliates. *@
@model Ellucian.Web.Student.Models.ChangePasswordModel

@{
    ViewBag.Title = Resources.UserAccountResources.ChangePasswordFormTitle;
    var authenticationSettings = new Ellucian.Web.Student.Models.RuntimeAuthenticationSettings(ViewBag, DependencyResolver.Current);
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @if (!authenticationSettings.DisplayChangePasswordLink)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $("form :input").attr("disabled", "disabled");
            });
        </script>
    }
}

<div id="page-description" class="esg-page-header">
    <h2 class="esg-page-header__title">@ViewBag.Title</h2>
</div>
<div class="column-nine">
    <div class="section-wrapper section-wrapper-top-border">
        <div class="changepassword-shell">
            <div class="section-contents">
                <h3>
                    @if (!authenticationSettings.DisplayChangePasswordLink)
                    {
                        <span class="esg-alert esg-alert--fluid esg-alert--error" role="alert">
                            <span class="esg-alert__icon-wrapper">
                                <span class="esg-alert__icon esg-icon__container" aria-hidden="True">
                                    <svg class="esg-icon esg-icon--error-dark">
                                        <use xlink:href="#icon-error"></use>
                                    </svg>
                                </span>
                            </span>
                            <span class="esg-alert__message">
                                @Resources.UserAccountResources.ChangePasswordFormDisabledMessage
                            </span>
                        </span>

                    }
                    else
                    {
                        <span class="headerText">@Resources.UserAccountResources.ChangePasswordFormHeadingText</span>
                    }

                </h3>

                @if (!string.IsNullOrEmpty(Resources.UserAccountResources.ChangePasswordFormInstructions as string))
                {
                    <div class="esg-alert esg-alert--warning esg-alert--fluid">
                        <span class="esg-alert__icon-wrapper">
                            <span class="esg-alert__icon esg-icon__container" aria-hidden="True">
                                <svg class="esg-icon esg-icon--warning-dark">
                                    <use xlink:href="#icon-warning"></use>
                                </svg>
                            </span>
                        </span>
                        <div class="esg-alert__message">
                            <div>@Resources.UserAccountResources.ChangePasswordFormInstructions</div>
                        </div>
                    </div>
                }
            </div>

            <div class="changepassword-content-wrapper">
                @using (Html.BeginForm("ChangePassword",
                        "Account",
                        new { },
                        FormMethod.Post,
                        new { id = "changePasswordForm", autocomplete = "off" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(false)
                    <div id="changepasswordform" class="section-contents">
                        <div class="layout-table">
                            <div class="layout-table-row">
                                <div class="layout-table-cell">
                                    @Html.LabelFor(m => m.Username)
                                </div>
                                <div class="layout-table-cell">
                                    @Html.TextBoxFor(m => m.Username)
                                </div>
                            </div>
                            <div class="layout-table-row">
                                <div class="layout-table-cell">
                                    @Html.LabelFor(m => m.OldPassword)
                                </div>
                                <div class="layout-table-cell">
                                    @Html.PasswordFor(m => m.OldPassword)
                                </div>
                            </div>
                            <div class="layout-table-row">
                                <div class="layout-table-cell">
                                    @Html.LabelFor(m => m.NewPassword)
                                </div>
                                <div class="layout-table-cell">
                                    @Html.PasswordFor(m => m.NewPassword)
                                </div>
                            </div>
                            <div class="layout-table-row">
                                <div class="layout-table-cell">
                                    @Html.LabelFor(m => m.ConfirmPassword)
                                </div>
                                <div class="layout-table-cell">
                                    @Html.PasswordFor(m => m.ConfirmPassword)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="button-bar">
                        <input type="submit" class="esg-button esg-button--primary" value="@Resources.UserAccountResources.ChangePasswordFormButtonText" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>








