﻿@{
    ViewBag.Title = Resources.UserAccountResources.ChangePasswordFormTitle;
}

<div id="page-description" class="esg-page-header">
    <h2 class="esg-page-header__title">@ViewBag.Title</h2>
</div>
<div class="column-nine">
    <div class="section-wrapper section-wrapper-top-border" style="padding:10px;">
        <div class="esg-alert esg-alert--fluid esg-alert--success" role="alert">
            <span class="esg-alert__icon-wrapper">
                <span class="esg-alert__icon esg-icon__container" aria-hidden="True">
                    <svg class="esg-icon esg-icon--success-dark">
                        <use xlink:href="#icon-check"></use>
                    </svg>
                </span>
            </span>

            <div class="esg-alert__message">
                <div>@Resources.UserAccountResources.ChangePasswordConfirmationMessage</div>
            </div>
        </div>

        @if (Request.IsAuthenticated)
        {
            <div>
                @Html.ActionLink("Return to site homepage", "", "", new { area = "" }, null)
            </div>
        }
        else
        {
            <div>
                @Html.ActionLink(Resources.UserAccountResources.ChangePasswordFormSuccessSignInMessage, "Login", "Account")
            </div>
        }
    </div>
</div>
