﻿@{
    ViewBag.Title = "Error";
}

<div class="full-width">
    <div class="clear-group">
        <div id="page-description" class="column-five">
            <h2>@ViewBag.Title</h2>
        </div>
    </div>
    <div class="column-nine">
        <div class="esg-alert esg-alert--fluid esg-alert--error" role="alert">
            <span class="esg-alert__icon-wrapper">
                <span class="esg-alert__icon esg-icon__container" aria-hidden="True">
                    <svg class="esg-icon esg-icon--error-dark">
                        <use xlink:href="#icon-error"></use>
                    </svg>
                </span>
            </span>
            <div class="esg-alert__message">
                @ViewBag.Error
            </div>
        </div>
    </div>
</div>
