﻿@* Copyright 2012-2016 Ellucian Company L.P. and its affiliates. *@
@model Ellucian.Web.Student.Models.LoginModel

@{
    // when loaded as a partial view the form action will not be set, so set it here...
    if (ViewBag.FormAction == null)
    {
        ViewBag.FormAction = "login";
    }
}

@{
    // remove active session cookies as we prompt for Login
    Ellucian.Web.Mvc.Session.SessionCookieManager.InvalidateSessionCookies(@PageContext);
}

@Scripts.Render("~/bundles/loginscripts")
@Scripts.Render("~/bundles/jqueryval")

<div>
    <!-- login form -->
    @using (Html.BeginForm((string)ViewBag.FormAction,
            "Account",
            (ViewBag.RouteValues != null ? (object)ViewBag.RouteValues : new { }),
            FormMethod.Post,
            new { id = "loginForm", autocomplete = "off", autocapitalize = "none" }))
    {
        @Html.AntiForgeryToken()
            <!-- errors/validation errors -->
        @Html.ValidationSummary(false)

            <!-- form fields -->
        @Html.Hidden("returnUrl")
        <fieldset>
            <legend class="offScreen">@Resources.UserAccountResources.LoginFormLegendText</legend>
            <div class="esg-form__group">
                @Html.LabelFor(m => m.UserName, new { @class = "esg-form__label" })
                @Html.TextBoxFor(m => m.UserName, new { @class = "esg-form__input" })
            </div>
            <div class="esg-form__group">
                @Html.LabelFor(m => m.Password, new { @class = "esg-form__label" })
                @Html.PasswordFor(m => m.Password, new { @class = "esg-form__input" })
            </div>
            <div class="esg-form__group">
                <input type="submit" class="esg-button esg-button--xlarge esg-button--fluid esg-button--primary" value="@Resources.UserAccountResources.LoginFormButtonText" />
            </div>
        </fieldset>
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {

        // Clear storage to ensure nobody is accessing data from another user on a shared browser
        // Also done during log-out, but do here as well just to be double-sure
        Ellucian.Storage.session.clear();

        var $loginForm = $("form[id = 'loginForm']");
        if ($loginForm) {

            // watermark text...
            $loginForm.find('input:text:first').watermark($loginForm.find('input:text:first').attr('name'));
            $loginForm.find('input:password:first').watermark($loginForm.find('input:password:first').attr('name'));

            // disable the submit button on submittal of credentials
            $loginForm.bind('submit', function () {
                if ($loginForm.valid && $loginForm.valid()) {
                    $loginForm.find('input:submit').attr('disabled', 'disabled');
                } else {
                    $.watermark.showAll();
                }
            });

            $loginForm.find('input:submit').click(function () {
                $.watermark.hideAll();
            });

            // >> commented out as each full view that displays this partial view must decide if
            // the form should take focus. Please do not re-enable this here as this partial is
            // used in many views, including a popup dialog.

            //focus on username field
            //setTimeout(function () { $loginForm.find('input:text:first').focus(); }, 100);
        }
    });
</script>