@model Ellucian.Web.Student.Models.LoginModel

@{
    ViewBag.Title = Resources.UserAccountResources.LoginFormTitle;
}
<div class="column-nine">
    <div class="column-three" style="margin: 0 auto; float: none;">
        <h1 class="esg-h1">@Resources.UserAccountResources.LoginFormTitle</h1>
        @Html.Partial("LoginFormPartial")
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var $loginForm = $("form[id = 'loginForm']");
        if ($loginForm) {
            //focus on username field of LoginFormPartial view
            setTimeout(function () { $loginForm.find('input:text:first').focus(); }, 100);
        }

        var hash = window.location.hash;
        var returnUrl = $("#returnUrl").attr("value");

        if (returnUrl.length > 0 && hash.length > 0)
        {
            $('#returnUrl').attr('value', returnUrl + hash);
        }
    });
</script>