﻿@{
    ViewBag.Title = "Unauthorized Request";
    RouteValueDictionary loginRouteValues = new RouteValueDictionary((ViewBag.RouteValues != null ? (object)ViewBag.RouteValues : new { }));

    var authenticationSettings = new Ellucian.Web.Student.Models.RuntimeAuthenticationSettings(ViewBag, DependencyResolver.Current);

    if (authenticationSettings.Saml2Enabled)
    {
        loginRouteValues.Add(Ellucian.Web.Student.Modules.AuthenticationModule.SsoActionKey, Ellucian.Web.Student.Modules.AuthenticationModule.SsoLogoutRequestAction);
    }

    bool ssoFailure = (Context.Request.Params.AllKeys.Contains("authFailed") && Context.Request.Params["authFailed"] == "true");

}
<div class="full-width">
    <!-- Page Header Text -->
    <div class="clear-group">
        <div id="page-description" class="column-five">
            <h2>@ViewBag.Title</h2>
        </div>
    </div>
    <div class="column-nine">
        @if (ssoFailure)
        {
            <div class="esg-alert esg-alert--fluid esg-alert--error" role="alert">
                <span class="esg-alert__icon-wrapper">
                    <span class="esg-alert__icon esg-icon__container" aria-hidden="True">
                        <svg class="esg-icon esg-icon--error-dark">
                            <use xlink:href="#icon-error"></use>
                        </svg>
                    </span>
                </span>
                <div class="esg-alert__message">
                    @Resources.UserAccountResources.UnknownSsoUserMessage
                </div>
            </div>
        }
        else
        {
            <div class="esg-alert esg-alert--fluid esg-alert--error" role="alert">
                <span class="esg-alert__icon-wrapper">
                    <span class="esg-alert__icon esg-icon__container" aria-hidden="True">
                        <svg class="esg-icon esg-icon--error-dark">
                            <use xlink:href="#icon-error"></use>
                        </svg>
                    </span>
                </span>
                <div class="esg-alert__message">
                    @Resources.UserAccountResources.UnauthorizedPageMessage
                </div>
            </div>
        }

        <div class="login-partial-content">

            @if (Request.IsAuthenticated)
            {
                @*display the current logged in username if the UnauthorizedPageCurrentUserMessage is present*@
                if (!string.IsNullOrEmpty(Resources.UserAccountResources.UnauthorizedPageCurrentUserMessage))
                {
                    <div>
                        <span>@string.Format(Resources.UserAccountResources.UnauthorizedPageCurrentUserMessage, User.Identity.Name)</span>
                    </div>
                }

                if (authenticationSettings.DisplayLoginLink)
                {
                    if (!string.IsNullOrEmpty(Resources.UserAccountResources.UnauthorizedPageSignInMessage))
                    {
                        <h3>@Html.ActionLink(Resources.UserAccountResources.UnauthorizedPageSignInMessage, "Login", loginRouteValues)</h3>
                    }
                }
            }
            else
            {
                if (authenticationSettings.DisplayLoginLink)
                {
                    <h3>@Html.ActionLink("Sign in", "Login", loginRouteValues)</h3>
                }
            }
        </div>
    </div>
</div>