﻿<h2>Award Letter</h2>
<div class="help-content">
<h3> <a href="#">How do I accept my award letter?</a></h3>
<div>
<p>After you have accepted or denied all your awards on the <span class="bold">My Awards</span> page and have reviewed your award letter, select the check box that says,  “I verify that I accept all awards on this page.” and then click the <span class="bold">Accept the Award Letter</span> button.</p>
<p><span class="bold">Note:</span> After you accept your award letter and leave the page, you cannot reverse it. If you accept your award letter in error you will need to contact your Financial Aid Counselor.</p>
</div>
<h3> <a href="#">Why am I unable to sign my award letter?</a></h3>
<div>
<p>You must accept or decline each of the awards in your Financial Aid package on the <span class="bold">My Awards</span> page before signing and accepting your award letter.</p>
</div>
<h3> <a href="#">How do I print my award letter?</a></h3>
<div>
<p>You can print your award letter directly from your web browser. Click the <span class="bold">Print your Award Letter</span> link at the top of your award letter. Your browser will open a PDF of your award letter, and you can print it from there.</p>
</div>
</div>
