﻿<h2>My Awards</h2>
<div class="help-content">
<h3> <a href="#">What if I do not have any awards?</a></h3>
<div>
<p> If you have completed the necessary steps on the checklist, but no financial aid awards are being displayed, you may want to contact your Financial Aid Counselor. There are a few reasons why you might not have any awards:</p>
<ul>
<li>Your Financial Aid counselor has not created an award package for you yet.</li>
<li>Your application for financial aid has not been completely reviewed by your counselor. </li>
<li>You may not qualify for financial aid.</li>
</ul>
</div>
<h3><a href="#">How do I view my financial aid information from previous years?</a></h3>
<div>
<p>Use the <span class="bold">Select an Award Year</span> box to view information for a specific year.</p>
</div>
<h3> <a href="#">Why are some loans grouped differently from other loans?</a></h3>
<div>
<p>Certain types of loans are grouped based on their type in order to calculate your eligibility based on both the annual limits specified by the Department of Education and on your year in college. These loan types are:</p>
<ul>
<li>Subsidized Direct Loans</li>
<li>Unsubsidized Direct Loans</li>
<li>Graduate PLUS Loans </li>
</ul>
<p>For example, your Financial Aid counselor may have included multiple Subsidized Direct Loan awards in your Financial Aid package. All of these awards are grouped together under the same Subsidized Loans heading.</p>
</div>
<h3> <a href="#">What does Max Amount mean?</a></h3>
<div>
<p>The max amount is the annual amount that you are eligible for based on both your grade level and the annual limits specified by the Department of Education.</p>  
<p>The federal government sets limits on the amount of loans you can receive based on your grade level, Expected Family Contribution (EFC), current Financial Aid package, and other factors. You cannot change your Subsidized or Unsubsidized loan amounts to an amount higher than the limit displayed for each loan type. 
</p>
</div>
<h3> <a href="#">How can I accept or decline my awards?</a></h3>
<div>
<p>Each award and loan has a <span class="bold">Decline</span> and <span class="bold">Accept</span> button. You can also accept or reject all of your awards at one time in the <span class="bold">Total Awards</span> section.</p>
<p>When you review your awards, you might also be eligible to change the loan amounts, but not all loan amounts can be changed.</p>
</div>
<h3> <a href="#">Why can’t I accept some or all of my loans?</a></h3>
<div>
<p>The federal government sets limits on the amount of loans you can receive based on your grade level, Expected Family Contribution (EFC), current Financial Aid package, and other factors. If you have attempted to change your loan amounts to a value higher than the maximum amount, you will not be allowed to request more than the maximum amount for those loans.</p>
</div>
<h3> <a href="#">How do I accept or decline all awards?</a></h3>
<div>
<p>If you want to accept or decline all of your awards that are not already accepted or declined, select <span class="bold">Accept or Decline All</span> at the bottom of this page in the <span class="bold">Total Awards</span> section.</p>
</div>
<h3> <a href="#">What is the Loan Requirements Checklist?</a></h3>
<div>
<p>This is a list of tasks you need to complete before you can accept or decline all of your awards.</p>
</div>
<h3> <a href="#">How do I request a new loan?</a></h3>
<div>
<p>Go to the <span class="bold">Request a New Loan</span> page using the link at the top of this page.</p>
</div>
</div>
