﻿<h2>Required Documents Help</h2>
<div class="help-content">
<h3> <a href="#">What are Required Financial Aid documents?</a></h3>
<div>
<p>The required financial aid documents are documents that are needed to process your financial aid application. Documents identified as Incomplete might require you to take action.</p>
</div>
<h3> <a href="#">Why don’t I have any documents?</a></h3>
<div>
<p>If you do not see any documents on this page, it is because no documents need to be completed and submitted at this time.</p>
</div>
<h3> <a href="#">How do I contact my FA Office?</a></h3>
<div>
<p>Select the <span class="bold">Contact your Financial Aid Counselor</span> link at the top of this page to send an email.</p>
</div>
</div>

