﻿<h2>Financial Aid Home Help</h2>
<div class="help-content">
    <h3><a href="#">How do I apply for Financial Aid?</a></h3>
    <div>
        <p>You can complete and submit a Free Application for Federal Student Aid (FAFSA) at <a href="http://www.fafsa.ed.gov">http://www.fafas.ed.gov</a> or you can mail a paper FAFSA application.</p>
        <p>Your school may also require you to complete The College Board PROFILE Application. If your financial aid checklist contains an item to complete the PROFILE application, click that link, or go to http://student.collegeboard.org/css-financial-aid-profile. There are also links to these sites in the <span class="bold">Resources</span> section of this page, which provides links to financial aid applications and information.</p>
    </div>
    <h3><a href="#">How do I contact the Financial Aid Office or my advisor for help?</a></h3>
    <div>
        <p>You can either click on the <span class="bold">Contact Your Financial Aid Counselor </span> link at the top of this page to send an email,  or you can use the Financial Aid Counselor information provided at the bottom of this page.</p>
    </div>
    <h3><a href="#">What is the Financial Aid Checklist?</a></h3>
    <div>
        <p>The Financial Aid Checklist is a list of all the tasks you need to complete to apply for financial aid. Each task will have one of the following statuses:</p>
        <ul>
            <li><span class="bold">Completed.</span> You do not need to take any further action.</li>
            <li><span class="bold">Reviewed.</span> The Financial Aid Office has reviewed your information.</li>
            <li><span class="bold">Action Needed.</span> You need to take further action on a checklist item as soon as possible.</li>
            <li><span class="bold">Not Available.</span> This checklist item is not yet ready for you to take action.</li>
        </ul>
    </div>
    <h3><a href="#">What does the pie chart tell me?</a></h3>
    <div>
        <p>The pie chart on this page tells you the average financial aid amounts, per type, awarded at your school for undergraduate or graduate students, depending on your status, for a given award year.</p>
    </div>
    <h3><a href="#">Why do I see checklist items for MPN and Entrance Counseling?</a></h3>
    <div>
        <p>To receive a Federal Direct Loan, you need to do two things: </p>
        <ul>
            <li>Complete Entrance Counseling based on the type of loans that you are being awarded.</li>
            <li>Complete a Master Promissory Note (MPN).</li>
        </ul>
<p>These are <span class="bold">required</span> before you can receive any funds for your loan. Select these individual items in your checklist and navigate to http://www.studentloans.gov, where you can complete your Entrance Counseling and sign your MPNs.</p>
    </div>
    <h3><a href="#">What is the My Total Loan Amount?</a></h3>
    <div>
        <p>This is your total current amount of federal financial aid loan debt according to the National Student Loan Data System (NSLDS).</p>
    </div>
    <h3><a href="#">How do I view my required documents?</a></h3>
    <div>
        <p>Go to the <span class="bold">Required Documents</span> page using the link at the top of this page. </p>
    </div>
    <h3><a href="#">How do I view and take action on my awards?</a></h3>
    <div>
        <p>Go to the <span class="bold">My Awards</span> page using the link at the top of this page.</p>
    </div>
    <h3><a href="#">How do I request a new loan?</a></h3>
<div>
        <p>Go to the <span class="bold">Request a New Loan</span> page using the link at the top of this page.</p>
    </div>
         <h3><a href="#">How do I view and accept my award letter?</a></h3>
        <p>Go to the <span class="bold">Award Letter</span> page using the link at the top of this page.</p>
    </div>
</div>