﻿<h2>Request a New Loan</h2>
<div class="help-content">
<h3> <a href="#">How do I request a new loan?</a></h3>
<div>
<p>Select the Request a Loan tab and select your remaining estimated cost or enter another amount. After selecting your requested loan amount, review and remove any award periods that you will not be attending. Finally, submit your loan request for review by the Financial Aid Office. </p>
<p><span class="bold">Note:</span> After a loan request has been submitted, you cannot submit another loan request until the Financial Aid Office has processed your previous request. This page will display the details of your pending loan request after it has been submitted. After the Financial Aid Office takes action on your loan request, the <span class="bold">My Awards</span> page will allow you to submit a new loan.</p>
</div>
<h3> <a href="#">Why am I not able to request a new loan?</a></h3>
<div>
<p>Your school may not allow loan requests.</p>
</div>
<h3> <a href="#">What kind of loans can I request?</a></h3>
<div>
<p>The Financial Aid office will evaluate your data and current award package to determine the type of loans that you are eligible to receive.  </p>
</div>
<h3> <a href="#">What happens after I submit my request?</a></h3>
<div>
<p>Your Financial Aid Counselor will review the request and determine whether you are eligible for any loan amounts. </p>
<p><span class="bold">Note:</span> After a loan request has been submitted, you cannot submit another loan request until the Financial Aid Office has processed your previous request. This page will display the details of your pending loan request after it has been submitted. After the Financial Aid Office takes action on your loan request, the <span class="bold">My Awards</span> page will allow you to submit a new loan.</p>
</div>
<h3> <a href="#">Can I use this page to modify an existing loan?</a></h3>
<div>
<p>No, but you may be able to change an existing loan amount on the <span class="bold">My Awards</span> page.</p>
</div>
<h3> <a href="#">How do I contact my Financial Aid Office?</a></h3>
<div>
<p>Select the <span class="bold">Contact your Financial Aid Counselor</span> link at the top of this page to send an email.</p>
</div>
</div>



