﻿<h2>Outside Awards</h2>
<div class="help-content">
<h3> <a href="#">What are outside awards?</a></h3>
<div>
<p>Outside awards are scholarships, grants, or loans that you are receiving from institutions or organizations other than this one.</p>
</div>
<h3> <a href="#">How do I submit information about one of these scholarships, grants or loans?</a></h3>
<div>
<p>Click on the <span class="bold">Add an award</span> button to open a dialog box where you can fill in information for the scholarship, grant, or loan award.</p>
</div>
<h3> <a href="#">How do I edit the awards shown on this page?</a></h3>
<div>
<p>Click on the right-most pencil icon to bring up a dialog box where you can edit and update information. If you do not make any changes to the award, the <span class="bold">Update</span> award button is disabled and you can select <span class="bold">Cancel</span>.</p>
</div>
<h3> <a href="#">How do I delete on of the awards shown on this page?</a></h3>
<div>
<p>Click on the right-most X icon to bring up a dialog box that asks you to confirm that you want to delete the award.</p></div>
</div>