﻿<h2>Outside Awards</h2>
<div class="help-content">
<h3> <a href="#">Why are all of the buttons disabled?</a></h3>
<div>
<p>Only students and applicants can modify the information on this page. Your access is view-only.</p>
</div>
