﻿<h2>Federal Shopping Sheet</h2>
<div class="help-content">
<h3> <a href="#">What is the Federal Shopping Sheet?</a></h3>
<div>
<p>The Federal Shopping Sheet is a tool developed by the Department of Education to make it easier to compare costs and informed decisions about where to attend school.  The Shopping Sheet displays the real costs of attending the institution and the Financial Aid package available to you for the institution.</p>
<p>The Federal Shopping Sheet provides the following information for a specific academic year:</p>
<ul>
<li>Cost of attendance</li>
<li>Available grants and scholarships</li>
<li>What you would pay to attend</li>
<li>Work options</li>
<li>Loan options</li>
<li>Statistical Financial Aid data about this institution</li>
<li>Your Estimated Family Contribution (EFC)</li>
</ul>
</div>
 
<h3> <a href="#">Why do I not have a Federal Shopping Sheet?</a></h3>
<div>
<p>If a Federal Shopping Sheet is not displayed, you may want to contact your Financial Aid Counselor. There are a couple of reasons why you might not have a Federal Shopping Sheet:</p>
<ul>
<li>Your Financial Aid counselor has not created a shopping sheet for you yet.</li>
<li>Your application for financial aid has not been completely reviewed by your counselor.</li>
</ul>
</div>

<h3> <a href="#">How can I print my Federal Shopping Sheet?</a></h3>
<div>
<p>Use your web browser’s printing functionality to print a copy of your Federal Shopping Sheet.</p>
</div>

<h3> <a href="#">How do I contact my FA Office?</a></h3>
<div>
<p>Click the <span class="bold">Contact your Financial Aid Counselor</span> link at the top of this page to send an email.</p>
</div>
</div>
