@*Copyright 2015-2016 Ellucian Company L.P. and its affiliates.*@
@using Ellucian.Web.Mvc.Menu
@using Ellucian.Web.Mvc.Models
@using Ellucian.Web.Mvc.Extensions
@using Ellucian.Colleague.Dtos.Base
@using Ellucian.Web.Student.Utility
@using Ellucian.Web.Mvc.Licensing
@model IEnumerable<PersonRestriction>
@{
    Site site = null;
    ILicensingService license = null;
    string formattedName;
    if (this.CurrentUser != null)
    {
        site = DependencyResolver.Current.GetService<ISiteService>().Get(this.CurrentUser);
        license = DependencyResolver.Current.GetService<ILicensingService>();
    }
}

@section scripts {
    @Scripts.Render("~/bundles/homepagescripts")
}

<div class="full-width" data-bind="visible: !showWidget()">

    <!-- Page Header Text -->
    <div class="clear-group">
        <div id="page-description" class="esg-page-header">
            @if (!Request.IsAuthenticated)
            {
                <h1 class="esg-page-header__title">@Resources.Navigation.WelcomeMessage</h1>
            }
            else
            {
                formattedName = this.CurrentUser.ProxySubjects.Any() ? this.CurrentUser.ProxySubjects.First().FormattedName : this.CurrentUser.UserId;
                <div class="esg-page-header-subtitle__wrapper">
                    <h1 class="esg-page-header__title">@Resources.Navigation.GreetingMessage @Resources.Navigation.WelcomeMessage</h1>
                    <span class="esg-page-header__subtitle">@Resources.Navigation.InstructionMessage</span>
                </div>
            }
        </div>
    </div>

    <!-- page body -->
    <div class="column-nine" id="home">
        @if (!Request.IsAuthenticated)
        {
            // show the login form when a use is not yet logged in...
            @Html.Partial("../Account/LoginFormPartial")
        }
        else
        {
            if (@Model.Count() > 0)
            {
                <div id="notifications-wrapper" class="notifications-wrapper__margin-bottom">
                    <section>
                        <table class="responsiveTable">
                            <caption><h3>@Resources.Navigation.NotificationsCaption</h3></caption>
                            <thead class="offScreen">
                                <tr>
                                    <th class="offScreen">@Resources.Navigation.NotificationsTitle</th>
                                    <th class="offScreen">@Resources.Navigation.NotificationsDetails</th>
                                    <th class="offScreen">@Resources.Navigation.NotificationsLink</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.RestrictionConfiguration != null && ViewBag.RestrictionConfiguration.Mapping != null)
                                {
                                    // Ensure there is a Mapping property in the ViewBag and copy it to a local variable.
                                    IEnumerable<SeverityStyleMapping> Mapping = ViewBag.RestrictionConfiguration.Mapping;
                                    // Copy the IEnumerable<PersonRestriction> model to a local variable.
                                    var remainingPerc = Model;
                                    var Styles = new List<AlertStyle>() { AlertStyle.Critical, AlertStyle.Warning, AlertStyle.Information };
                                    // Render the Perc Notifications with the order based on the Styling.
                                    foreach (var style in Styles)
                                    {
                                        // Multiple severity ranges are permitted for a given style - get the subset of Severity Style Mappings that matches the current style in the loop.
                                        var mappingSubset = Mapping.Where(m => m.Style == style);
                                        // Retrieve the subset of matching Person Restrictions.
                                        IEnumerable<PersonRestriction> restrictionSubset = remainingPerc.Where(pr => mappingSubset.Any(ms => pr.Severity >= ms.SeverityStart && pr.Severity <= ms.SeverityEnd));
                                        // Remove the subset of Person Restrictions from the list of remaining Person Restrictions.
                                        remainingPerc = remainingPerc.Except(restrictionSubset);
                                        // Iterate through the matching Person Restrictions...

                                        var modifier = style == AlertStyle.Critical ? "error" : (style == AlertStyle.Warning ? "warning" : "info");
                                        foreach (var restriction in restrictionSubset)
                                        {
                                            <tr>
                                                <td data-role="Title" class="left-justified">
                                                    <div class="layout-table">
                                                        <div class="layout-table-row">
                                                            <div class="layout-table-cell">


                                                                <span class="esg-icon__container esg-icon__container--fill esg-icon__container--@(modifier)" aria-hidden="True">
                                                                    <svg class="esg-icon esg-icon--small">
                                                                        <use xlink:href="#icon-@(modifier)"></use>
                                                                    </svg>
                                                                </span>
                                                            </div>
                                                            <span class="layout-table-cell">@restriction.Title</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td data-role="Details" class="left-justified"><span>@Html.Raw(restriction.Details)</span></td>
                                                @if (!string.IsNullOrEmpty(restriction.Hyperlink))
                                                {

                                                    <td data-role="Link" class="left-justified"><a href="@restriction.Hyperlink" target="_blank">@restriction.HyperlinkText</a></td>
                                                }
                                                else
                                                {
                                                    <td class="suppress-on-mobile"></td>
                                                }
                                            </tr>
                                        }
                                    }
                                    // Any remaining Person Restrictions do not have a matching severity range - use the Information styling as the default.
                                    foreach (var restriction in remainingPerc)
                                    {
                                        <tr>
                                            <td data-role="Title" class="left-justified">
                                                <span class="esg-icon__container esg-icon__container--fill esg-icon__container--info-dark" aria-hidden="True">
                                                    <svg class="esg-icon esg-icon--small">
                                                        <use xlink:href="#icon-info"></use>
                                                    </svg>
                                                </span>
                                                <span>@restriction.Title</span>
                                            </td>
                                            <td data-role="Details" class="left-justified"><span>@Html.Raw(restriction.Details)</span></td>
                                            @if (!string.IsNullOrEmpty(restriction.Hyperlink))
                                            {
                                                <td data-role="Link" class="left-justified"><a href="@restriction.Hyperlink" target="_blank">@restriction.HyperlinkText</a></td>
                                            }
                                            else
                                            {
                                                <td class="suppress-on-mobile"></td>
                                            }
                                        </tr>
                                    }
                                }
                                // If there is no mapping property in the ViewBag, just use the Information styling.
                                else
                                {
                                    foreach (var restriction in Model)
                                    {
                                        <tr>
                                            <td><img alt="information" src="~/Content/Images/icon-info.png" /></td>
                                            <td data-role="Title"><span>@restriction.Title</span></td>
                                            <td data-role="Details"><span>@Html.Raw(restriction.Details)</span></td>
                                            @if (!string.IsNullOrEmpty(restriction.Hyperlink))
                                            {
                                                <td data-role="Link"><a href="@restriction.Hyperlink" target="_blank">@restriction.HyperlinkText</a></td>
                                            }
                                            else
                                            {
                                                <td class="suppress-on-mobile"></td>
                                            }
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </section>
                </div>
            }
            @Html.Partial("_WorkflowTasks")
            <div class="sitehome-wrapper clear-group">
                @if (site != null)
                {
                    if (site.Menus.Where(m => !m.Hidden).Count() == 0)
                    {
                        <div class="esg-alert esg-alert--info" role="alert">
                            <span class="esg-alert__icon-wrapper">
                                <span class="esg-alert__icon esg-icon__container" aria-hidden="True">
                                    <svg class="esg-icon esg-icon--info-dark">
                                        <use xlink:href="#icon-info"></use>
                                    </svg>
                                </span>
                            </span>

                            <div class="esg-alert__message">
                                <div>@Resources.UserAccountResources.NoMenuItems</div>
                            </div>
                        </div>
                    }
                    foreach (var menu in site.Menus.Where(m => !m.Hidden && m.Items.Any() && SitemapUtility.MenuContainsVisibleItems(m)))
                    {
                        foreach (var item in menu.Items)
                        {
                            if (item.ItemType == Ellucian.Web.Mvc.Domain.Entities.MenuItemType.Menu)
                            {
                                var submenu = (MenuItemMenu)item;
                                var menuItemPage = (MenuItemPage)submenu.Menu.Items.Where(i => i.ItemType == Ellucian.Web.Mvc.Domain.Entities.MenuItemType.Page).FirstOrDefault();
                                if (!submenu.Menu.Hidden && SitemapUtility.MenuContainsVisibleItems(submenu.Menu) && menuItemPage != null)
                                {
                                    var linkRef = Url.Action(menuItemPage.Page.Action, menuItemPage.Page.Controller, new { Area = menuItemPage.Page.Area });
                                    var descText = "";

                                    if (submenu.Menu.Id == Resources.Navigation.AcademicPlanningMenuId)
                                    {
                                        descText = Resources.Navigation.AcademicPlanningMenuDescription;
                                    }
                                    else if (submenu.Menu.Id == Resources.Navigation.AdvisingMenuId)
                                    {
                                        descText = Resources.Navigation.AdvisingMenuDescription;
                                    }
                                    else if (submenu.Menu.Id == Resources.Navigation.MyAccountMenuId)
                                    {
                                        descText = Resources.Navigation.MyAccountMenuDescription;
                                    }
                                    else if (submenu.Menu.Id == Resources.Navigation.FinanceAdminMenuId)
                                    {
                                        descText = Resources.Navigation.FinanceAdminMenuDescription;
                                    }
                                    else if (submenu.Menu.Id == Resources.Navigation.FinancialAidMenuId)
                                    {
                                        descText = Resources.Navigation.FinancialAidMenuDescription;
                                    }
                                    else if (submenu.Menu.Id == Resources.Navigation.FinancialAidAdminMenuId)
                                    {
                                        descText = Resources.Navigation.FinancialAidAdminMenuDescription;
                                    }
                                    else if (submenu.Menu.Id == Resources.Navigation.FinancialManagementMenuId)
                                    {
                                        descText = Resources.Navigation.FinancialManagementMenuDescription;
                                    }
                                    else if (submenu.Menu.Id == Resources.Navigation.FacultyMenuId)
                                    {
                                        descText = Resources.Navigation.FacultyMenuDescription;
                                    }
                                    else if (submenu.Menu.Id == Resources.Navigation.EmployeesMenuId)
                                    {
                                        descText = Resources.Navigation.EmployeesMenuDescription;
                                    }
                                    else if (submenu.Menu.Id == Resources.Navigation.VendorFinancesMenuId)
                                    {
                                        descText = Resources.Navigation.VendorFinancesMenuDescription;
                                    }
                                    if (!string.IsNullOrEmpty(linkRef) && !submenu.Menu.Hidden)
                                    {
                                        <div class="sitehome-expandednavlink">
                                            <a href="@linkRef">
                                                <div class="@string.Format("{0}_expandednavlink", submenu.Menu.Id)">
                                                    <h3>@submenu.Menu.Label</h3>
                                                    <span>@descText</span>
                                                </div>
                                            </a>
                                        </div>
                                    }
                                }
                            }
                            else if (item.ItemType == Ellucian.Web.Mvc.Domain.Entities.MenuItemType.Page)
                            {
                                var menuItemPage = (MenuItemPage)item;
                                // Pages should only be included if explictly listed here
                                bool includePage = false;
                                var linkRef = Url.Action(menuItemPage.Page.Action, menuItemPage.Page.Controller, new { Area = menuItemPage.Page.Area });
                                var descText = "";
                                if (menuItemPage.Page.Id == Resources.Navigation.BankingInformationPageId)
                                {
                                    descText = Resources.Navigation.BankingInformationDescription;
                                    includePage = true;
                                }
                                else if (menuItemPage.Page.Id == Resources.Navigation.StudentTaxInformationId)
                                {
                                    descText = Resources.Navigation.StudentTaxInformationDescription;
                                    includePage = true;
                                } 
                                else if (menuItemPage.Page.Id == Resources.Navigation.StudentGradesPageId)
                                {
                                    descText = Resources.Navigation.StudentGradesDescription;
                                    includePage = true;
                                }
                                else if (menuItemPage.Page.Id == Resources.Navigation.GraduationOverviewPageId)
                                {
                                    descText = Resources.Navigation.GraduationOverviewDescription;
                                    includePage = true;
                                }
                                else if (menuItemPage.Page.Id == Resources.Navigation.TranscriptRequestPageId)
                                {
                                    descText = Resources.Navigation.TranscriptRequestDescription;
                                    includePage = true;
                                }
                                else if (menuItemPage.Page.Id == Resources.Navigation.EnrollmentVerificationRequestPageId)
                                {
                                    descText = Resources.Navigation.EnrollmentVerificationRequestDescription;
                                    includePage = true;
                                }
                                else if (menuItemPage.Page.Id == Resources.Navigation.CourseCatalogId)
                                {
                                    var hasStudentPlanningCatalogPermission = site.Pages.Any(p => p.Action == "Index" && p.Controller == "Courses" && p.Area == "Planning");
                                    //if do not have license or do not have permission on page
                                    List<string> allLicenses = license.GetLicensedModules().ToList();

                                    if (hasStudentPlanningCatalogPermission && allLicenses.Contains(Ellucian.Web.Student.Licensing.ModuleConstants.Planning))
                                    {

                                        includePage = false;
                                    }
                                    else
                                    {

                                        descText = Resources.Navigation.CourseCatalogDescription;
                                        includePage = true;
                                }
                                }

                                if (includePage && !string.IsNullOrEmpty(linkRef) && !menuItemPage.Page.Hidden)
                                {
                                    <div class="sitehome-expandednavlink">
                                        <a href="@linkRef">
                                            <div class="@string.Format("{0}_expandednavlink", menuItemPage.Page.Id)">
                                                <h3>@menuItemPage.Page.Label</h3>
                                                <span>@descText</span>
                                            </div>
                                        </a>
                                    </div>
                                }
                            }
                        }
                    }
                }
            </div>
        }
    </div>
</div>
<div id="widget-wrapper" data-bind="template: { name: widgetTemplate, data: widgetData, if: showWidget() }">
</div>
