﻿@* Copyright 2016 Ellucian Company L.P. and its affiliates. *@
@using Ellucian.Web.Mvc.Models

<div id="page-description" class="esg-page-header">
    <h2 class="esg-page-header__title">@Resources.SiteResources.PrivacyPageDescription</h2>
</div>
<div class="column-nine">
    <section class="section-wrapper section-wrapper-top-border">
        <div class="section-content primary-contents">
            @{
                var settings = DependencyResolver.Current.GetService<Settings>();
                if (!String.IsNullOrEmpty(settings.ClientPrivacyPolicy))
                {
                    <div class="section-contents">
                        <div class="align-left">
                            @Html.Raw(settings.ClientPrivacyPolicy)
                        </div>
                    </div>
                }
            }
            <div class="section-contents">
                <a href="http://www.ellucian.com/Privacy/">Ellucian Privacy Policy</a><br />
                <a href="https://www.google.com/policies/privacy/partners/">Google Privacy Policy</a>
            </div>
        </div>
    </section>
</div>
