﻿@*Copyright 2015-2017 Ellucian Company L.P. and its affiliates.*@
@*Add Faculty Consent Dialog*@
<modal-dialog id="addconsentdialog" params="isVisible: addConsentDialogIsOpen, title: Ellucian.Faculty.Resources.AddConsentDialogTitle, content: $root, defaultCloseOff: true, buttons: [ addConsentCancelButton, addConsentSaveButton]">
        <div class="course-name-header">
            <span data-bind="text: FormattedNameDisplay()"></span><span class="term-name" data-bind="    text: TermName"></span>
        </div>
        <div class="planning-dialog">
            <div class="permission-message">
                @Resources.Faculty.AddFacultyConsentMessage
            </div>
            <div class="planning-input-wrapper">
                <!-- ko if: (typeof consentStudent === 'undefined' || consentStudent() == null) -->
                <label class="dialog-label" for="student-id">@Resources.Faculty.StudentIdLabel</label>
                <div class="clear-group">
                    <div class="input-error-wrapper">
                        <input id="student-id" class="esg-form__input esg-form__input--inline error-message" placeholder="@Resources.Faculty.StudentIdLabel" aria-required="true" type="text" data-bind="value: studentIdToConsent, attr: {'aria-invalid': studentValidationMessage() != '' ? 'true' : null, 'aria-describedby': studentValidationMessage() != '' ? 'student-id-error' : null}" />
                        <label class="field-label-hidden" for="studentsearchbutton">@Resources.Faculty.StudentSearchButtonLabel</label>
                        <input id="studentsearchbutton" class="esg-button esg-button--secondary" type="button" value="@Resources.Faculty.StudentSearchButtonText" data-bind="click: validateConsentStudentId" />
                        <span id="student-id-error" class="validationMessage" data-bind="text: studentValidationMessage()"></span>
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if: !(typeof consentStudent === 'undefined' || consentStudent() == null) -->
                <label class="dialog-label" for="student-id">@Resources.Faculty.StudentLabel</label>
                <div class="clear-group">
                    <div class="input-error-wrapper">
                        <span class="waived-student-name" data-bind="text: consentStudent().NameDisplay()"></span>
                        <div>
                            <span>@Resources.Faculty.StudentLabel</span>
                            <span data-bind="text: consentStudent().Id()"></span>
                        </div>
                        <div data-bind="if: consentStudent().PreferredEmail() != ''">
                            <a data-bind="text: consentStudent().PreferredEmail(), mailto: { email: consentStudent().PreferredEmail(), label: '@Resources.Faculty.SendAnEmailToTag    ' + consentStudent().NameDisplay() + ' '}"></a>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
            </div>
            <div class="planning-input-wrapper clear-group">
                <label class="dialog-label" for="addConsentStatusId">@Resources.Faculty.AddConsentDialogSelectStatusLabel</label>
                <div class="input-error-wrapper">
                    <select id="addConsentStatusId" class="esg-form__input esg-form__input--inline" data-bind="options: PetitionStatuses(), optionsText: 'Description', optionsValue: 'Code', value: consentStatus, optionsCaption: '@Resources.Faculty.AddConsentDialogSelectStatus    '"></select>
                    <span id="consent-status-error" class="validationMessage" data-bind="text: addConsentStatusError"></span>
                </div>
            </div>
            <!-- ko if: PetitionReasons().length !== 0 -->
            <div class="planning-input-wrapper clear-group">
                <label class="dialog-label" for="addConsentReasonId">@Resources.Faculty.AddConsentDialogSelectReasonLabel</label>
                <div class="input-error-wrapper">
                    <select id="addConsentReasonId" class="esg-form__input esg-form__input--inline" data-bind="options: PetitionReasons(), optionsText: 'Description', optionsValue: 'Code', value: consentReason, optionsCaption: '@Resources.Faculty.AddConsentDialogSelectReason    '"></select>
                </div>
            </div>
            <!-- /ko -->
            <div class="planning-input-wrapper comments-wrapper clear-group">
                <label class="dialog-label" for="consent-comment">@Resources.Faculty.ConsentCommentLabel</label>
                <div class="input-error-wrapper">
                    <textarea rows="2" cols="69" id="consent-comment" placeholder="@Resources.Faculty.ConsentCommentLabel" data-bind="value: consentComment, attr: {'aria-invalid': addConsentReasonError() != '' ? 'true' : null, 'aria-describedby': addConsentReasonError() != '' ? 'consent-reason-error' : null}"></textarea>
                    <span id="consent-reason-error" class="validationMessage" data-bind="text: addConsentReasonError"></span>
                </div>
            </div>
        </div>
</modal-dialog>