﻿@*Copyright 2015-2017 Ellucian Company L.P. and its affiliates.*@
@*Add Student Petition Dialog*@
<modal-dialog id="addpetitiondialog" params="isVisible: addPetitionDialogIsOpen, title: Ellucian.Faculty.Resources.AddPetitionDialogTitle, content: $root, defaultCloseOff: true, buttons: [ addPetitionCancelButton, addPetitionSaveButton]">
    <div class="course-name-header">
        <span data-bind="text: FormattedNameDisplay()"></span><span class="term-name" data-bind="    text: TermName"></span>
    </div>
        <div class="planning-dialog">
            <div class="permission-message">
                @Resources.Faculty.AddStudentPetitionMessage
            </div>
            <div class="planning-input-wrapper">
                <!-- ko if: (typeof petitionStudent === 'undefined' || petitionStudent() == null) -->
                <label class="dialog-label" for="student-id">@Resources.Faculty.StudentIdLabel</label>
                <div class="clear-group">
                    <div class="input-error-wrapper">
                        <input id="student-id" class="error-message" placeholder="@Resources.Faculty.StudentIdLabel" aria-required="true" type="text" data-bind="value: studentIdToPetition, attr: {'aria-invalid': studentValidationMessage() != '' ? 'true' : null, 'aria-describedby': studentValidationMessage() != '' ? 'student-id-error' : null}" />
                        <label class="field-label-hidden" for="studentsearchbutton">@Resources.Faculty.StudentSearchButtonLabel</label>
                        <input id="studentsearchbutton" class="esg-button esg-button--secondary" type="button" value="@Resources.Faculty.StudentSearchButtonText" data-bind="click: validatePetitionStudentId" />
                        <span id="student-id-error" class="validationMessage" data-bind="text: studentValidationMessage()"></span>
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if: !(typeof petitionStudent === 'undefined' || petitionStudent() == null) -->
                <label class="dialog-label" for="student-id">@Resources.Faculty.StudentLabel</label>
                <div class="clear-group">
                    <div class="input-error-wrapper">
                        <span class="waived-student-name" data-bind="text: petitionStudent().NameDisplay()"></span>
                        <div>
                            <span>@Resources.Faculty.StudentLabel</span>
                            <span data-bind="text: petitionStudent().Id()"></span>
                        </div>
                        <div data-bind="if: petitionStudent().PreferredEmail() != ''">
                            <a data-bind="text: petitionStudent().PreferredEmail(), mailto: { email: petitionStudent().PreferredEmail(), label: '@Resources.Faculty.SendAnEmailToTag    ' + petitionStudent().NameDisplay() + ' '}"></a>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
            </div>
            <div class="planning-input-wrapper clear-group">
                <label class="dialog-label" for="addPetitionStatusId">@Resources.Faculty.AddPetitionDialogSelectStatusLabel</label>
                <div class="input-error-wrapper">
                    <select id="addPetitionStatusId" class="esg-form__input esg-form__input--inline" data-bind="options: PetitionStatuses(), optionsText: 'Description', optionsValue: 'Code', value: petitionStatus, optionsCaption: '@Resources.Faculty.AddPetitionDialogSelectStatus    '"></select>
                    <span id="petition-status-error" class="validationMessage" data-bind="text: addPetitionStatusError"></span>
                </div>
            </div>
            <!-- ko if: PetitionReasons().length !== 0 -->
            <div class="planning-input-wrapper clear-group">
                <label class="dialog-label" for="addPetitionReasonId">@Resources.Faculty.AddPetitionDialogSelectReasonLabel</label>
                <div class="input-error-wrapper">
                    <select id="addPetitionReasonId" class="esg-form__input esg-form__input--inline" data-bind="options: PetitionReasons(), optionsText: 'Description', optionsValue: 'Code', value: petitionReason, optionsCaption: '@Resources.Faculty.AddPetitionDialogSelectReason    '"></select>
                </div>
            </div>
            <!-- /ko -->
            <div class="planning-input-wrapper comments-wrapper clear-group">
                <label class="dialog-label" for="petition-comment">@Resources.Faculty.PetitionCommentLabel</label>
                <div class="input-error-wrapper">
                    <textarea rows="2" class="esg-form__input" cols="69" id="petition-comment" placeholder="@Resources.Faculty.PetitionCommentLabel" data-bind="value: petitionComment, attr: {'aria-invalid': addPetitionReasonError() != '' ? 'true' : null, 'aria-describedby': addPetitionReasonError() != '' ? 'petition-reason-error' : null}"></textarea>
                    <span id="petition-reason-error" class="validationMessage" data-bind="text: addPetitionReasonError"></span>
                </div>
            </div>

        </div>
</modal-dialog>