﻿@*Copyright 2015-2017 Ellucian Company L.P. and its affiliates.*@
@*Add a Waiver Dialog*@
<modal-dialog id="addwaiverdialog" params="isVisible: addWaiverDialogIsOpen, title: Ellucian.Faculty.Resources.AddWaiverDialogTitle, content: $root, defaultCloseOff: true, buttons: [ addWaiverCancelButton, addWaiverDenybutton ]">
    <div class="course-name-header">
        <span data-bind="text: FormattedNameDisplay()"></span><span class="term-name" data-bind="    text: TermName"></span>
    </div>
        <div class="planning-dialog">
            <div class="permission-message">
                @Resources.Faculty.AddWaiverMessage
            </div>
            <div class="planning-input-wrapper">
                <!-- ko if: (typeof waivedStudent === 'undefined' || waivedStudent() == null) -->
                <label class="dialog-label" for="student-id">@Resources.Faculty.StudentIdLabel</label>
                <div class="clear-group">
                    <div class="input-error-wrapper">
                        <input id="student-id" class="esg-form__input esg-form__input--inline error-message" placeholder="@Resources.Faculty.StudentIdLabel" aria-required="true" type="text" data-bind="value: studentIdToWaive, attr: {'aria-invalid': studentValidationMessage() != '' ? 'true' : null, 'aria-describedby': studentValidationMessage() != '' ? 'student-id-error' : null}" />
                        <label class="field-label-hidden" for="studentsearchbutton">@Resources.Faculty.StudentSearchButtonLabel</label>
                        <input id="studentsearchbutton" class="esg-button esg-button--secondary" type="button" value="@Resources.Faculty.StudentSearchButtonText" data-bind="click: validateStudentId" />
                        <span id="student-id-error" class="validationMessage" data-bind="text: studentValidationMessage()"></span>
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if: !(typeof waivedStudent === 'undefined' || waivedStudent() == null) -->
                <label class="dialog-label" for="student-id">@Resources.Faculty.StudentLabel</label>
                <div class="clear-group">
                    <div class="input-error-wrapper">
                        <span class="waived-student-name" data-bind="text: waivedStudent().NameDisplay()"></span>
                        <div>
                            <span>@Resources.Faculty.StudentLabel</span>
                            <span data-bind="text: waivedStudent().Id()"></span>
                        </div>
                        <div data-bind="if: waivedStudent().PreferredEmail() != ''">
                            <a data-bind="text: waivedStudent().PreferredEmail(), mailto: { email: waivedStudent().PreferredEmail(), label: '@Resources.Faculty.SendAnEmailToTag    ' + waivedStudent().NameDisplay() + ' '}"></a>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
            </div>

            <div class="planning-input-wrapper clear-group">
                <div class="switch-radio approve-deny-waiver">
                    <input id="approve" name="select" type="radio" value="true" data-bind="checked: waiverIsApproved.ForEditing">
                    <label for="approve" onclick="">Approve</label>

                    <input id="deny" name="select" type="radio" value="false" data-bind="checked: waiverIsApproved.ForEditing">
                    <label for="deny" onclick="">Deny</label>
                    <div class="switch-circle"></div>
                </div>
            </div>

            <!-- ko if: WaiverReasons().length !== 0 -->
            <div class="planning-input-wrapper clear-group">
                <label class="dialog-label" for="addReasonId">@Resources.Faculty.AddWaiverDialogSelectReasonLabel</label>
                <div class="input-error-wrapper">
                    <select id="addReasonId" class="esg-form__input esg-form__input--inline" data-bind="options: WaiverReasons(), optionsText: 'Description', optionsValue: 'Code', value: waiverReason, optionsCaption: '@Resources.Faculty.AddWaiverDialogSelectReason    '"></select>
                </div>
            </div>
            <!-- /ko -->

            <div class="planning-input-wrapper comments-wrapper clear-group">
                <label class="dialog-label" for="waiver-explanation">@Resources.Faculty.WaiverExplanationLabel</label>
                <div class="input-error-wrapper">
                    <textarea class="esg-form__input" rows="2" cols="69" id="waiver-explanation" placeholder="@Resources.Faculty.WaiverExplanationLabel" data-bind="value: waiverExplanation, attr: {'aria-invalid': addWaiverError() != '' ? 'true' : null, 'aria-describedby': addWaiverError() != '' ? 'reason-error' : null}"></textarea>
                    <span id="reason-error" class="validationMessage" data-bind="text: addWaiverError"></span>
                </div>
        </div>
    </div>
</modal-dialog>
