﻿@*Copyright 2015 - 2016 Ellucian Company L.P. and its affiliates.*@

@section Styles
{
    @Styles.Render("~/Areas/Planning/Content/PlanningBundlecss")
}

@section Scripts
{

    <script type="text/javascript">
        var sectionId=@Html.Raw(ViewBag.SectionId)
    </script>

    @Scripts.Render("~/bundles/facultynavigationscripts")

    <script type="text/javascript">
        $("#faculty > a").addClass("menu-selected");
    </script>
}

<!--BACK TO COURSES-->
<div id="page-description" class="esg-page-header esg-has-subtitle">
    <div class="esg-page-header-subtitle__wrapper">
        <h2 class="esg-page-header__title">@Resources.Faculty.SectionDetailsHeading</h2>
        <a class="esg-page-header__subtitle esg-page-header__subtitle--backlink tabElement" href="@Url.Action("Index", "Faculty")">
            <span class="esg-icon__container esg-page-header__icon" aria-hidden="true">
                <svg class="esg-icon esg-icon--left">
                    <use xlink:href="#icon-arrow"></use>
                </svg>
            </span>@Resources.Faculty.BackToSectionsLink
        </a>
    </div>
</div>



<div id="dp-monolith" class="column-nine">

    <spinner id="spinner" params="isVisible: isLoading(), message: stringFacultyMainSpinnerMessage"></spinner>

    <!--FACULTY NAVIGATION-->

    <div id="section-wrapper-id">
        <!-- USER PROFILE HEADER -->
        @Html.Partial("~/areas/planning/views/faculty/partials/FacultySectionHeaderPartial.cshtml")

        <!--FACULTY NAVIGATION TABS -->
        <div id="faculty-content-nav" style="display:none;">
            <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                <li id="rosterTab">
                    <a href="#roster-content-nav">@Resources.Faculty.RosterNav</a>
                </li>
                <li id="gradingTab">
                    <a href="#grading-content-nav">@Resources.Faculty.GradingNav</a>
                </li>
                <li id="permissionsTab">
                    <a href="#faculty-permissions-nav">@Resources.Faculty.PermissionsNav</a>
                </li>

            </ul>
            <div id="faculty-permissions-nav">
                <!--PERMISSIONS NAVIGATION-->
                <!--SELECTION OF TO WAIVER & CONSENT-->
                <div class="clear-group" data-bind="visible:isAnyPermissionSelected() === false">
                    <div class="nav-header-info">
                        <h3>@Resources.Faculty.PermissionNavigationHeader</h3>
                        <p>@Resources.Faculty.PermissionNavigationDescription</p>
                    </div>
                    <div class="sitehome-wrapper faculty-wrapper clear-group">
                        <!--NAVIGATION TO WAIVER-->
                        <div class="sitehome-expandednavlink faculty-navlink">

                            <a href="#" data-bind="click: function() { showWaiverContents(true);isAnyPermissionSelected(true);showPetitionContents(false) } , clickBubble: false">
                                <div class="requisite-waiver-navlink">
                                    <h3>
                                        @Resources.Faculty.RequisiteWaiverId
                                    </h3>
                                    <p>@Resources.Faculty.RequisiteWaiverDescription</p>
                                </div>
                            </a>

                        </div>
                        <!--NAVIGATION TO CONSENT-->
                        <div class="sitehome-expandednavlink faculty-navlink">

                            <a href="#" data-bind="click: function() { showPetitionContents(true);isAnyPermissionSelected(true);showWaiverContents(false) } , clickBubble: false">
                                <div class="student-petition-navlink">
                                    <h3>
                                        @Resources.Faculty.StudentPetitionId
                                    </h3>
                                    <p>@Resources.Faculty.StudentPetitionDescription</p>
                                </div>
                            </a>

                        </div>
                    </div>
                </div>


                <!--REQUEST WAIVER-->
                @Html.Partial("~/areas/planning/views/faculty/partials/FacultySectionWaiverPartial.cshtml")

                <!--PETITION/CONSENT-->
                @Html.Partial("~/areas/planning/views/faculty/partials/FacultySectionPetitionPartial.cshtml")
            </div>

            <div id="roster-content-nav">
                <!--SECTION ROSTER-->
                <div>
                    @Html.Partial("~/areas/planning/views/faculty/partials/FacultySectionRosterPartial.cshtml")
                </div>
            </div>

            <div id="grading-content-nav">
                <!--SECTION GRADING-->
                <div>
                    @Html.Partial("~/areas/planning/views/faculty/partials/FacultySectionGradingNavigationPartial.cshtml")
                </div>
            </div>
        </div>
    </div>
</div>


