﻿@*Copyright 2015 - 2016 Ellucian Company L.P. and its affiliates.*@

@section Styles
{
    @Styles.Render("~/Areas/Planning/Content/PlanningBundlecss")
}

@section Scripts
{
    @Scripts.Render("~/bundles/facultyindexscripts")

    <script type="text/javascript">
        $("#faculty > a").addClass("menu-selected");
    </script>
}

<!-- Page Header Text -->
<div id="page-description" class="esg-page-header faculty-page">
    <h2 class="esg-page-header__title">@Resources.Faculty.SectionsPageHeader</h2>
</div>

<!-- Main Degree Plan Page Container -->
<div id="dp-monolith" class="column-nine">
    <!-- Throbber for loading -->
    <spinner params="isVisible: !retrieved(), message: stringPlanningHomeLoadingDataSpinnerMessage"></spinner>

    <div class="faculty-terms" data-bind="visible: retrieved()">
        <ul id="faculty-termslist" style="display: none;" data-bind="visible: FacultyTerms().length > 0, foreach: FacultyTerms">
            <li>
                <table class="faculty-section-table">
                    <caption data-bind="text: $data.Description"></caption>
                    <thead>
                    <tr>
                        <th>@Resources.Courses.SectionLabel</th>
                        <th>@Resources.Courses.SectionDetailsTimesLabel</th>
                        <th>@Resources.Courses.SectionDetailsLocationsLabel</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- ko foreach: Sections -->
                        <tr data-bind="click: function(data, event) { window.location = '@Url.Action("FacultyNavigation", "Faculty")' + '/' + $data.SectionId()}">
                            <td>
                                <a href="#" data-bind="text: FormattedNameDisplay, attr: { href: '@Url.Action("FacultyNavigation", "Faculty")' + '/' + $data.SectionId(), 'aria-label': $parent.Description() + ' ', title: $data.FormattedNameDisplay() + ' ' + $parent.Description() }"></a>
                            </td>
                            <td>
                                <!-- ko foreach: $data.Meetings() -->
                                <div data-bind="if: DaysOfWeekDisplay() != ''">
                                    <span data-bind="text: DaysOfWeekDisplay() + ' '"></span><span data-bind="text: StartTimeDisplay() + ' - ' + EndTimeDisplay()">
                                    </span>
                                </div>
                                <div data-bind="if: DaysOfWeekDisplay() == '' && !IsOnline()">
                                    <span>@Resources.Faculty.TBDText</span>
                                </div>
                                <div>
                                    <span data-bind = "text: DatesDisplay()"></span>
                                </div>
                                <!-- /ko -->
                                <!-- ko if: $data.Meetings().length == 0 -->
                                <div>
                                    <span>@Resources.Faculty.TBDText</span>
                                </div>
                                <!-- /ko -->
                            </td>
                            <td>
                                <!-- ko foreach: $data.Meetings() -->
                                <div>
                                    <span data-bind="text: ko.utils.unwrapObservable($parent.LocationDisplay)"></span>
                                </div>
                                <div data-bind="if: BuildingDisplay() != null && BuildingDisplay() != ''">
                                    <span data-bind="text: (BuildingDisplay() ? BuildingDisplay() : '(@Resources.Faculty.TBDText)') + ', '">
                                    </span><span data-bind="text: RoomDisplay() ? RoomDisplay() : '(@Resources.Faculty.TBDText)'">
                                    </span>
                                </div>
                                <div data-bind="if: (BuildingDisplay() == null || BuildingDisplay() == '') && !IsOnline()">
                                    <span>@Resources.Faculty.TBDText</span>
                                </div>
                                <div>
                                    <span data-bind="text: InstructionalMethodDisplay()" ></span>
                                </div>
                                <!-- /ko -->
                                <!-- ko if: $data.Meetings().length == 0 -->
                                <div>
                                    <span>@Resources.Faculty.TBDText</span>
                                </div>
                                <!-- /ko -->
                            </td>
                        </tr>
                    <!-- /ko -->
                </tbody>
            </table>
        </li>
    </ul>
    <div style="display: none;" class="advising-message" data-bind="visible: FacultyTerms().length == 0">@Resources.Faculty.NoSectionsText</div>
    </div>
</div>