﻿<!-- Copyright 2016-2017 Ellucian Company L.P. and its affiliates. -->

<h2>Budget Help</h2>
<div class="help-content">
    <h3> <a href="#">What is displayed on the Cost Center detail page? </a></h3>
    <div>
        <p>
            All of the line items for the cost center are displayed on the Cost Center detail page.
        </p>
        <br />
        <p>
            You can view revenue, expenses, and net amounts for the budget and actuals.
        </p>
        <br />
        <p>
            The cost center line items are determined by the Cost Center Subtotals designation on the Financial Web Params (CFWP) form in Colleague.
            A line item can contain either revenue or expense GL account numbers for which a user has access. The information displayed includes revenue, if appropriate,
            expenses, cost center code, and cost center line item description. For a revenue or an expense line item, the budget, actuals, remaining, and either the percent
            received or spent are displayed. The overall financial health indicator is displayed only for expense line items.
        </p>
    </div>
        <h3> <a href="#">Can I select a Fiscal Year that I want to view? </a></h3>
        <div>
            <p>
                Yes, you can select today’s fiscal year, the future fiscal year, and up to five previous fiscal years. The selections are in the Fiscal Year dropdown menu.
            </p>
        </div>
        <h3> <a href="#">Does the Cost Center detail page update in real time for each fiscal year selected? </a></h3>
        <div>
            <p>
                The Cost Center detail page refreshes the cost center information in real time based on the fiscal year that you have selected.
            </p>
        </div>
        <h3> <a href="#">Where are the GL account number description components defined that are displayed on the views? </a></h3>
        <div>
            <p>
                Use the Descriptions Display (GLND) form to create the Self-Service (SS) module definition. By creating the Self-Service module definition, the
                components that you have defined are the components displayed on the Self-Service pages. If you do not create the Self-Service module
                on GLND, the default is used. The default is the descriptions for the last two major components defined on the Account Structure
                Maintenance (GLAS) form.
            </p>
        </div>
        <h3> <a href="#">Does my GL access update in real time? </a></h3>
        <div>
            <p>
                If your GL access changes, it may take up to 30 minutes to see the changes.
            </p>
        </div>
        <h3> <a href="#">Are inactive accounts listed? </a></h3>
        <div>
            <p>
                Inactive regular and poolee accounts that have no activity are not included in the list of accounts.
            </p>
        </div>
        <h3> <a href="#">What does a negative number mean for revenue? </a></h3>
        <div>
            <p>
                Budget, actuals and encumbrances for revenue GL accounts have the sign reversed and credits show as positive numbers. 
                This happens only on the My Cost Centers and Cost Center detail pages.

            </p>
        </div>
