﻿<!-- Copyright 2016 Ellucian Company L.P. and its affiliates. -->
<h2> Colleague Finance Help</h2>
<div class="help-content">
  <h3> <a href="#">What is displayed on the Purchase Order view?</a></h3>
  <div>
    <p>The Purchase Order view displays the associated documents, comments, approvers, and line item details for purchase orders.</p>
  </div>
    <h3> <a href="#">What kind of security is enforced for purchase orders?</a></h3>
  <div>
    <p>GL security is applied when you enter the Purchase Order view. Your GL security determines what line items and what GL account numbers within each line item are visible. If you are not seeing the purchase order line item details that you expected to see, please contact your system administrator.
</p>
  </div>
      <h3> <a href="#">Where are the GL account number description components defined that are displayed on the views? </a></h3>
  <div>
    <p> Use the Descriptions Display (GLND) form to create the Self-Service (SS) module definition. By creating the SS module definition, the components that you have defined are the components displayed on the Self-Service views. If you do not create the Self-Service module on GLND, the default is used. The default is the descriptions for the last two major components defined on the Account Structure Maintenance (GLAS) form.</p>
  </div>
</div>
