﻿<!-- Copyright 2016 Ellucian Company L.P. and its affiliates. -->
<h2> Colleague Finance Help</h2>
<div class="help-content">
    <h3> <a href="#">What do I see in the My Cost Centers view?</a></h3>
    <div>
        <p>
            The My Cost Centers view displays your revenue and expenses. 
        </p>
        <br />
        <p>
            The cost centers listed are your Colleague assigned GL Accounts. The accounts are assigned through GL security. 
            If any cost center or GL account is missing, contact the Finance office for access. The cost centers are sorted 
            in alphanumeric order by cost center unit ID.
        </p>
        <br />
         <p>
            If you viewed the My Cost Centers page before exiting Budget, you will see it when you reenter Budget.
        </p>
    </div>
    <h3> <a href="#">What displays as a Cost Center?</a></h3>
    <div>
        <p>
            A Cost Center displays the value for the major components external name associated with the internal Unit (UN) component 
            type in the account structure setup on the Account Structure Maintenance (GLAS) form. For example, COST.CENTER is associated 
            with Unit (UN) on GLAS. The description used for the cost center is defined on the Financial Web Params (CFWP) form. For example, 
            CFWP is set up to display the COST.CENTER description and the LOCATION description for the cost center. A Cost Center value 
            is displayed more than once if it has GL account numbers with different major component values. For example, the Cost Center 
            10504 (Computer Science) has two locations: 01 (Main Campus) and 03 (East Campus). The cost center displays once as 10504 Computer 
            Science, Main Campus, and a second time as 10504 Computer Science, East Campus.
        </p>
    </div>  <h3> <a href="#">What do I see in the Object view?</a></h3>
    <div>
        <p>
            The Object view displays your assets, liabilities, fund balances, revenue, and expenses.
        </p>
        <br />
        <p>
            The object views listed are your Colleague assigned GL Accounts. The accounts are assigned through GL security. 
            If any objects are missing, contact the Finance office for access. The objects are sorted in alphanumeric 
            order by object number. 
        </p>
         <br />
         <p>
             If you viewed the Object view page before exiting Budget, you will see it when you reenter Budget.
        </p>
    </div>
    <h3> <a href="#">Are memo amounts included? </a></h3>
    <div>
        <p>
            Yes.
        </p>
    </div>
    <h3> <a href="#">How do I view the financial health for each individual cost center? </a></h3>
    <div>
        <p>
           For expenses, a bar graph is displayed on the Bar Graph page and a Financial Health indicator in the List page is displayed.
           The bar graph and indicators appear in different colors and represent how much of a cost center budget has been expensed.
        </p>
        <br />
        <p>
            If there are no expense transactions, the bar graph will show no progress and the Financial Health indicator will be green. 
            If the cost center has no expense accounts in it, the expense bar graph will not display and the expense column will not display on the list view.
        </p>
         <br />
        <p>
            For revenue, the bar graphs and indicators appear in different colors and represent how much of the cost center revenue has been received.
            
        </p> 
        <p>
           If there are no revenue transactions, no progress is shown. 
        </p>
        <br />
        <p>
            If the cost center does not have any revenue GL accounts, the revenue bar graph will not display. On 
            the List page, cost centers with only revenue accounts do not have a Financial Health indicator.
        </p>
         <br /> 
        <p>
            For the Object view, the Financial Health indicator is in the list format only.
        </p>    
    </div>
    <h3> <a href="#">What do the colors mean for expenses? </a></h3>
    <div>
        <p>
            If there is more than 15% of the budget remaining, the color is green. If there is less than 15% of the budget remaining, 
            but there is more than .5% of the budget remaining, the color is yellow.  If there is less than .5% of the budget remaining, 
            the color is red. If the cost center expenses are over 100%, the color is dark red.
        </p>
    </div>
    <h3> <a href="#">What do the colors mean for revenue? </a></h3>
    <div>
        <p>
            The color that shows progress for revenue is teal. If the revenue budget is over 100%, the color is dark teal.
        </p>
        </div>
      <h3> <a href="#">What does a negative number mean for revenue? </a></h3>
    <div>
        <p>
            Budget, actuals and encumbrances for revenue GL accounts have the sign reversed and credits show as positive numbers. 
            This happens only on the My Cost Centers and Cost Center Detail pages.
        </p>
    </div>
    <h3> <a href="#">Can I select which fiscal year I want to view? </a></h3>
    <div>
        <p>
            Yes, you can select today’s fiscal year, the future fiscal year, and up to five previous fiscal years. The selections are in the Fiscal Year dropdown menu.
        </p>
    </div>
    <h3> <a href="#">Does my GL access update in real time? </a></h3>
    <div>
        <p>
             If your GL access changes, it may take up to 30 minutes to see the changes.
        </p>
    </div>
    <h3> <a href="#">Is my GL account activity refreshed in real time?</a></h3>
    <div>
        <p>
             If a filter is applied, activity is refreshed in real time.
        </p>
        <br />
        <p>
          If no filter is applied, it could be up to 30 minutes before the activity is refreshed.
        </p>
         <br />
        <p>
           If no filter is applied, activity on the different views (Cost Centers and Object) is refreshed separately.
        </p>
    </div>
</div>
