﻿<!-- Copyright 2016 Ellucian Company L.P. and its affiliates. -->
<h2> Cost Centers GL Detail</h2>
<div class="help-content">
    <h3> <a href="#">Why does the document not have a hyperlink? </a></h3>
    <div>
        <p>
           A document is not hyperlinked because the source document does not exist in Colleague or it is an adjustment.
        </p>
    </div>
     <h3> <a href="#">What is included in the amount pending posting? </a></h3>
    <div>
        <p>
          Amount Pending Posting information may appear for actuals and for budget. The Amount Pending Posting 
          is the transactions that have been memo posted, but not yet posted to the general ledger.
        </p>
    </div>
     <h3> <a href="#">What is included in the budget transactions? </a></h3>
    <div>
        <p>
         The Budget section includes budget transactions that have been posted to the general ledger and 
            those that have been memo posted. The ones that have been memo posted are identified in the Amounts 
            Pending Posting.
        </p>
        </div>
        <h3> <a href="#">What is included in the estimated opening balance amount for a balance sheet GL account number? </a></h3>
    <div>
    <p>
    The estimated opening balance amount for the second open year is the ending balance of the previous open year for an asset or a liability.
    </p>
    <p>The estimated opening balance amount for the second open year for a fund balance account is the amount calculated when the Estimated Opening Balances (ESOB) form in Colleague is run for the second open year. If additional revenue and expense transactions are posted in the previous open fiscal year, the ESOB form must be run again to correctly calculate the fund balance estimated opening balance for the subsequent year.
    </p>
    <p>Estimated opening balance amounts beyond the second open year only include transactions that are posted in one previous open year. They do not include any transactions from additional open years.
    </p>
    </div>
    <h3> <a href="#">What is included in the closing year amount in closed years for a fund balance GL account? </a></h3>
    <div>
    <p>
    The closing year amount is the total of the revenue and expense year-end auto closing entries for the closed fiscal year.
    </p>
    </div>
</div>
