﻿<!-- Copyright 2016 Ellucian Company L.P. and its affiliates. -->
<h2> Colleague Finance Help</h2>
<div class="help-content">
  <h3> <a href="#">Welcome to the Financial Management home page.</a></h3>
  <div>
    <p> From here, you can choose to view information about your cost centers and your projects.</p>
  </div>
</div>
