﻿
<div class="section-header account-header clear-group">

    <h4 class="column-two column-seven-sm" data-bind="resx: 'BankingInformation.PayrollDepositsHeader'"></h4>

    <!--ko if: !hasAllCanadianAccounts()-->
    <h4 class="column-two desktop-only" data-bind="resx: 'BankingInformation.VerificationHeader'"></h4>
    <!-- /ko -->
    <!--ko if: hasAllCanadianAccounts()-->
    <h4 class="column-two desktop-only">&nbsp;</h4>
    <!-- /ko -->

    <h4 class="column-two desktop-only" data-bind="resx: 'BankingInformation.AmountHeader'"></h4>
    <h4 class="column-two desktop-only" data-bind="resx: 'BankingInformation.DepositOrderHeader'"></h4>
    <a class="esg-button esg-button--primary esg-button--small column-one column-two-sm" data-bind="attr: { href: viewAllPayrollHref }">
        <span data-bind="resx: 'BankingInformation.ViewAllButtonLabel'"></span>
        <span class="offScreen" ddata-bind="resx: 'BankingInformation.PayrollDepositsHeader'"></span>
    </a>
</div>

<!-- ko if: !hasActivePayrollDeposits() -->
<message params="isVisible: true, message: noActivePayrollDepositsMessage"></message>
<!-- /ko -->
<!-- ko foreach: ActivePayrollDeposits -->

<payroll-directive-summary params="dataModel: $data,
                           hasAllCanadianAccounts: $parent.hasAllCanadianAccounts,
                           index: $index,
                           type: 'active'">

</payroll-directive-summary>



<!-- /ko -->
<!-- ko if: hasActivePayrollDeposits() && !hasActivePayrollRemainderDeposit() -->
<message params="isVisible: true, message: noPayrollRemainderDepositMessage"></message>
<!-- /ko -->