﻿<!-- ko with: editingDirectiveViewModel -->
<div class="section-header primary-header clear-group no-mobile-section-padding">
    <div class="column-seven column-five-sm">
        <h3>
            <span class="column-five" data-bind="text: displayBankName"></span>

            <span class="normal column-four">
                <span data-bind="resx: 'BankingInformation.BankAccountLastFourLabel'"></span>
                <span data-bind="text: displayBankAccountLastFour()"></span>
            </span>
        </h3>

    </div>


    <button class="esg-button esg-button--secondary column-two column-four-sm" name="editAccountDetails"
            data-bind="click: editDirectiveBankAccount, css: { primary: !$root.isMobile() }">
        <span data-bind="resx: 'BankingInformation.EditAccountDetailsPageLabel'"></span>
    </button>

</div>

<form>
    <div class="clear-group">
        <div class="section-contents clear-group">
            <section class="section-wrapper clear-group">
                <h4 class="section-header" data-bind="resx: 'BankingInformation.BankAccountUsageSectionHeader'"></h4>

                <div class="section-contents clear-group">                                        

                    <payable-directive-switch params="directive: $data,
                                              isSwitchedOn: isSwitchedOn,
                                              hasAllCanadianAccounts: $parent.hasAllCanadianAccounts,
                                              startDateObservable: startDateBacker,
                                              isStartDateReadOnly: startDateIsReadOnly,
                                              startDateNeedsInput: startDateNeedsInput,
                                              startDateError: startDateErrorMessage">

                    </payable-directive-switch>
                   
                </div>
            </section>
        </div>
    </div>

    <div class="button-bar">

        <button type="submit" class="esg-button esg-button--primary" data-bind="click: saveAsync, enable: saveEnabled, resx: 'BankingInformation.SaveButtonLabel'"></button>
        <button type="button" name="deleteDeposit" class="esg-button esg-button--secondary" data-bind="click: deleteAsync, visible: deleteButtonEnabled,resx:'BankingInformation.DeleteButtonLabel'"></button>
        <button type="button" name="cancelEdit" class="esg-button esg-button--secondary" data-bind="click: back, resx: 'BankingInformation.CancelButtonLabel'"></button>

    </div>

</form>

<modal-spinner params="isVisible: actionInProgress, message: actionInProgressMessage">
</modal-spinner>

<step-up-authentication params="securityTokenObservable: SecurityToken,
                        bankName: displayBankName,
                        accountIdLastFour: AccountIdLastFour,
                        directiveId: Id,
                        directiveType: 'payable'">

</step-up-authentication>

<modal-dialog params="isVisible: showEditBankAccountDetails,
              title: 'Edit Bank Account Details',
              content: $data,
              defaultCloseOff: true,
              buttons: [{ title: 'Cancel', callback: cancelEditBankAccountDetails, isPrimary: false },
                        { title: 'Save', callback: saveBankAccountDetails, isPrimary: true }] ">
    <edit-bank-account-details params="dataModel: accountDetailsModel,
                               configuration: Configuration,
                               isValidInput: isBankAccountDetailsInputValid
                               isAdd: false,
                               isPayroll: false,
                               isPayable: true">

    </edit-bank-account-details>
</modal-dialog>

 <!-- /ko -->