﻿@import '_mixins.scss';

timecard:nth-child(n+2) {
    margin-top: 1em;
}



timecard {
    td, th {
        width: auto;
    }

    @include query-small {
        td, th {
            width: 8.9rem;
        }
    }
}