﻿<!--/* Copyright 2016-2017 Ellucian Company L.P. and its affiliates. */-->

<table class="esg-table esg-table--table-layout-fixed" data-bind="visible: !$root.isMobile()">
    <thead>
        <tr>
            <th>
                <span data-bind="resx: 'TimeSheet.TimecardEarningsTypeColumnHeaderLabel'"></span>
            </th>
            <!-- ko foreach: dailyTotals -->
            <th class="text-align-right" data-bind="css:{'disabled': $data.isReadOnly}">
                <span data-bind="text: $data.dayString"></span>
            </th>
            <!-- /ko -->
            <th>
                <span data-bind="resx: 'TimeSheet.TimecardTotalColumnHeaderLabel'"></span>
            </th>
        </tr>
    </thead>
</table>
<!-- ko foreach: WorkEntryList-->
<daily-time-entry-row params="
                    workEntryModel: $data,
                    earningsTypeModels: $parent.EarningsTypes.peek(),
                    isReadOnly: $parent.isReadOnly,
                    daySelectedObservable: $parent.daySelected,
                    onWorkTypeChange: $parent.workTypeChangeHandler,
                    onDailyTimeEntryChange: $parent.dailyTimeEntryChangeHandler,
                    dailyTimeEntryType: $parent.DailyTimeEntryType.peek()">
</daily-time-entry-row>
<!-- /ko -->


<table class="esg-table esg-table--table-layout-fixed" data-bind="visible: !$root.isMobile()">
    <tfoot>
        <tr>
            <td>
                <label>
                    <span data-bind="resx: 'TimeSheet.TimecardTotalRowLabel'"></span>
                </label>
            </td>
            <!-- ko foreach: dailyTotals -->
            <td scope="row" class="text-align-right" data-bind="css:{'disabled': $data.isReadOnly}">
                <span class="offScreen" data-bind="text: 'Daily total hours for ' + dayString"></span>
                <span data-bind="text: $data.dailyTotalHours.toFixed(2)"></span>
            </td>
            <!-- /ko -->            
            <td class="text-align-right">
                <span class="offScreen" data-bind="text: 'Weekly total hours for ' + PositionTitle()"></span>
                <span data-bind="text: weeklyTotalHours().toFixed(2), attr:{}"></span>
            </td>
        </tr>
    </tfoot>
</table>




<!--This is the save bar-->
<div class="row-wrapper dialog-buttons">
    <div class="esg-button-group" role="group" aria-label="button group" data-bind="css: { 'esg-button-group--fluid row-wrapper' : $root.isMobile} ">
        <div class="esg-button-group__item" role="group">

            <comments-container params="dataModel: commentsModel,
                        authorName: employeeCommentName,
                        newCommentHandler: newCommentHandler">
            </comments-container>

        </div>
    </div>
    <div class="esg-button-group" role="group" aria-label="button group" data-bind="css: { 'esg-button-group--fluid row-wrapper' : $root.isMobile} ">
        <div class="esg-button-group__item" role="group">
            <!-- ko if: showSubmitButton -->
            <button class="esg-button esg-button--primary" data-bind="click: submitTimecardStatusAsync, disable: isSubmitPrevented">
                <span data-bind="resx: submitButtonTextResx"></span>
            </button>
            <!-- /ko -->
        </div>
    </div>



    <modal-spinner params="isVisible: isUpdatingStatus, message: submitLoaderText"></modal-spinner>
</div>

