﻿<!-- Selected Day Total displayed when size is mobile-->
<!-- ko if: $root.isMobile() && $data.selectedDay()-->
<table class="esg-table esg-table--table-layout-fixed">
    <tfoot>
        <tr>
            <td>
                <span data-bind="resx: ['TimeSheet.MobileSelectedDayTotalHoursLabel', getDayName(selectedDay())]"></span>
            </td>
            <td class="text-align-right">
                <span data-bind="text: selectedDayTotalHours().toFixed(2)"></span>
            </td>
        </tr>
    </tfoot>
</table>
<!-- /ko -->

<collapsible-group params="
        titleText: weeklyTotalsTitle,       
        isOpen: true">

    <table id="weekly-total-body" role="tabpanel" class="esg-table esg-table--table-layout-fixed esg-table--no-border">

        <tbody>
            <tr>
                <td data-bind="attr: {'data-role': mobileDailyTotalSummaryHeaderLabel}">
                    <span data-bind="resx: 'TimeSheet.MobileDailyTotalSummaryHeaderLabel', visible: !$root.isMobile()"></span>
                </td>
                <!-- ko foreach: dailyTotalHours -->
                <td scope="row" data-bind="attr: {'data-role': dayString}, css:{'disabled': isOutsideTimecardDates}" class="text-align-right">
                    <span data-bind="text: dayHours.toFixed(2)"></span>
                </td>
                <!-- /ko -->
                <td data-bind="attr: {'data-role':mobileDailyTotalSummaryTotalLabel}" class="text-align-right">
                    <span data-bind="text: weeklyTotalHours().toFixed(2)"></span>
                </td>
            </tr>
            <tr class="esg-table-body__row--border-top">
                <td scope="row" colspan="8" data-bind="attr: {'data-role': weeklyRegularHoursTotalLabel}">
                    <span data-bind="resx: 'TimeSheet.WeeklyRegularHoursTotalLabel', visible: !$root.isMobile()"></span>
                </td>
                <td data-bind="attr: {'data-role': mobileDailyTotalSummaryTotalLabel}" class="text-align-right">
                    <span data-bind="text: weeklyRegularHours().toFixed(2)"></span>
                </td>
            </tr>

            <!-- ko if: totalOvertimeHours() > 0.00-->
            <tr class="esg-table-body__row--border-top">
                <td scope="row" colspan="8" data-bind="attr: {'data-role': weeklyOvertimeHoursTotalLabel}">
                    <span data-bind="resx: 'TimeSheet.WeeklyOvertimeHoursTotalLabel', visible: !$root.isMobile()"></span>
                </td>
                <td data-bind="attr: {'data-role': mobileDailyTotalSummaryTotalLabel}" class="text-align-right">
                    <span data-bind="text: totalOvertimeHours().toFixed(2)"></span>
                </td>
            </tr>
            <!-- /ko -->
        </tbody>
    </table>
</collapsible-group>



