﻿totals {
    
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;

    td, th {
        width: 9.6em;
    }

    td.text-align-right > div {
        text-align: right;
    }
}

@media (max-width: 767px) {
    .responsiveTable td {
        width: inherit;
        text-align: inherit;
    }

    .responsiveTable td:before {
        width: initial;
    }
}