﻿<!-- Copyright 2016 Ellucian Company L.P. and its affiliates -->
@section Styles
    {
    @Styles.Render("~/Areas/Student/Content/StudentRequestsBundlecss")
}
<!-- scripts here -->
@section Scripts
{
    @Scripts.Render("~/bundles/enrverscripts")
}

<div id="page-description" class="esg-page-header esg-has-subtitle">
    <h2 class="esg-page-header__title">@Resources.Requests.RequestEnrollmentVerificationSectionHeader</h2>
    <a class="esg-page-header__subtitle esg-page-header__subtitle--backlink" href='@Url.Action("Index", "EnrollmentVerificationRequests")'>
        <span class="esg-icon__container esg-page-header__icon" aria-hidden="true">
            <svg class="esg-icon esg-icon--left">
                <use xlink:href="#icon-arrow"></use>
            </svg>
        </span>@Resources.Requests.BackToEnrollmentRequests
    </a>
</div>

<div id="dp-monolith" class="column-nine">
    <div id="enrollment-form" style="display: none;" data-bind="visible:true">
        <!--THE SPINNER THAT SHOWS WHILE THE DATA IS LOADING-->
        <spinner params="isVisible: !isLoaded(), message: Ellucian.Student.Requests.loadingSpinnerMessage">
        </spinner>

        <div class="clear-group" data-bind="visible:isLoaded()">

            <section class="section-wrapper section-wrapper-top-border">
                <div id="new-enrollment-verification-request" class="section-contents primary-contents multi-accordion-content clear-group">
                    <div id="enrollment-verification-request-intro">
                        <p class="intro-text">@Resources.Requests.RequestEnrollmentVerificationActionText</p>
                    </div>

                    <div class="column-five request-padding">
                        @Html.Partial("_RequestPage")
                    </div>
                </div>

                <!--THE SAVE BAR AND BUTTON-->
                <div class="button-bar">
                    <input type="button" class="esg-button esg-button--primary" data-bind="value: 'Submit' , click: submit, value:!ShowPaymentDetails()?Ellucian.Student.Requests.submitButtonLabel:Ellucian.Student.Requests.proceedToPaymentButton" />
                    <a href='@Url.Action("Index", "EnrollmentVerificationRequests", new { area = "Student" })'>@Resources.Requests.Cancel</a>
                </div>
            </section>

        </div>

        <!-- Modal Spinner for use during AJAX calls -->
        <modal-spinner id="loading" params="isVisible: isUpdating, message: Ellucian.Student.Requests.submittingNewRequestMessage"></modal-spinner>
    </div>
</div>