﻿<!-- Copyright 2016 Ellucian Company L.P. and its affiliates -->
@using Ellucian.Web.Student.Areas.Student.Models.Payments;
@using Newtonsoft.Json;
@model StudentRequestPaymentModel

@section Styles
{
    @Styles.Render("~/Areas/Student/Content/StudentRequestsBundlecss")
}

<!-- scripts here -->
@section Scripts
{

    <script type="text/javascript">
        var jsonData = @Html.Raw(JsonConvert.SerializeObject(Model));
    </script>


    @Scripts.Render(
            "~/bundles/studentrequestpaymentscripts",
            "~/bundles/enrverpaymentscripts")
}

<div id="page-description" class="esg-page-header esg-has-subtitle">
    <h2 class="esg-page-header__title">@Resources.Requests.EnrollmentRequestPaymentHeader</h2>
    <a class="esg-page-header__subtitle esg-page-header__subtitle--backlink" href='@Url.Action("Index", "EnrollmentVerificationRequests")'>
        <span class="esg-icon__container esg-page-header__icon" aria-hidden="true">
            <svg class="esg-icon esg-icon--left">
                <use xlink:href="#icon-arrow"></use>
            </svg>
        </span>@Resources.Requests.BackToEnrollmentRequests
    </a>
</div>

<div class="column-nine clear-group">

    <!--SECTION FOR PAYMENT-->

    <section class="section-wrapper section-wrapper-top-border">
        <div id="payment-id" class="section-contents clear-group">
            <div class="clear-group">
                <p class="intro-text">
                    <span>@Resources.Requests.EnrollmentRequestPaymentInformation</span>
                </p>
            </div>
            @Html.Partial("_StudentRequestPayment")
        </div>
    </section>
    <section>
        <div class="button-bar">
            <input type="button" class="esg-button esg-button--primary" data-bind="click: submitEnrollmentRequestPayment, value: Ellucian.Student.Requests.makeAPaymentButtonText" />
            <a href='@Url.Action("Index", "EnrollmentVerificationRequests", new { area = "Student" })'>@Resources.Requests.Cancel</a>
        </div>
    </section>
</div>

<!-- Modal Spinner for use during AJAX calls -->
<modal-spinner id="loading" params="isVisible: isUpdating, message: Ellucian.Student.Requests.submitRequestPaymentMessage"></modal-spinner>