﻿@*Copyright 2016 Ellucian Company L.P. and its affiliates.*@

@section Styles
{
    @Styles.Render("~/Areas/Student/Content/StudentRequestsBundlecss")
}


<!-- scripts here -->
@section Scripts
{
    @Html.Partial("_StringConstantDefinitions")

    @Scripts.Render("~/bundles/enrverindexscripts")

    <script type="text/javascript">
        var notify = "@ViewBag.Notification";
        var emailAddress = "@ViewBag.EmailAddress";
    </script>
}


<!-- everything below the sub-nav bar -->
<div class="esg-page-header">
    <h2 class="esg-page-header__title">@Resources.Requests.EnrollmentVerificationsPageDescription</h2>
</div>

<!-- Main Page Container -->
<div class="column-nine clear-group">
    <div id="enrollment-request-info" style="display: none;" data-bind="visible:true">
        <!--The spinner that shows while the data is loading-->
        <spinner params="isVisible: !isLoaded(), message: Ellucian.Student.Requests.loadingSpinnerMessage">
        </spinner>

        <form id="form">
            <section class="section-wrapper" data-bind="visible: isLoaded()">
                <div class="section-header">
                    <h3 class="inline-block">
                        <span>@Resources.Requests.EnrollmentVerificationsSectionHeader</span>
                    </h3>
                    <a id="add-request-link" data-bind="attr:{href:'@Url.Action("EnrollmentVerificationRequest", "EnrollmentVerificationRequests", new {area="Student"})'}">
                        @Resources.Requests.AddNewButtonText
                    </a>
                </div>
                <div class="section-contents clear-group student-request-info">

                    <table data-bind="visible:Requests().length>0" id="enrollment-requests-table" class="requests-table">
                        <thead>
                            <tr>
                                <th>@Resources.Requests.DateProducedHeader</th>
                                <th>@Resources.Requests.DateRequestedHeader</th>
                                <th>@Resources.Requests.RecipientNameHeader</th>
                                <th>@Resources.Requests.RecipientAddressHeader</th>
                                <th>@Resources.Requests.NumberCopiesHeader</th>
                                <th>@Resources.Requests.PaymentHeader</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Requests">
                            <tr>
                                <td><span data-bind="text: CompletedDate()"></span></td>
                                <td><span data-bind="text: RequestDate()"></span></td>
                                <td><span class="word-wrap" data-bind="text: RecipientName()"></span></td>
                                <td data-bind="foreach:MailToAddress()">
                                    <p data-bind="text:$data"></p>
                                </td>
                                <td><span data-bind="text: NumberOfCopies()"></span></td>
                                <td>
                                    <p data-bind="text: PaymentStatusNotation(), css: 'payment-status-' + PaymentStatus()"></p><p data-bind="visible: ShowPayNow()">
                                        <a data-bind="attr:{href:'@Url.Action("EnrollmentRequestProceedToPayment", "EnrollmentVerificationRequests", new { area = "Student" })'+ '?RequestId=' + RequestId()}">
                                            @Resources.Requests.PayNowLinkText
                                        </a>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <message params="isVisible: Requests().length < 1, message: Ellucian.Student.Requests.noEnrollmentVerificationRequests"></message>
                </div>
            </section>
        </form>
    </div>

</div>