﻿<!-- Copyright 2016-2017 Ellucian Company L.P. and its affiliates. -->
<!-- Admin Header -->
@if (ViewBag.IsAdmin != null && ViewBag.IsAdmin)
{
    <div id="user-profile-header" class="clear-group">
        <profile-photo params="id: PersonId, altText: '@Resources.UserProfile.ProfilePhotoAltText', size: 'large'"></profile-photo>
        <div id="user-profile-details">
            <span id="user-profile-name" data-bind="text: PersonName()"></span>
            <div class="user-profile-detail">
                <span>@Resources.UserProfile.UserIdPrefix</span>
                <span data-bind="text: PersonId()"></span>
            </div>
            <div class="user-profile-detail" data-bind="visible: PrivacyMessage">
                <icon params="isVisible: true, icon: 'info', size: 'xsmall', color: 'neutral'"></icon>
                <span id="privacy-message" data-bind="text: PrivacyMessage"></span>
            </div>
            <div id="change-user-button-container" class="user-profile-detail">
                <a data-bind="attr: { href: changeUserUrl() }">@Resources.FinanceResources.ChangeUserLabelText</a>
            </div>
        </div>
        <person-restrictions-widget params="personId: PersonId()"></person-restrictions-widget>
    </div>
}
<!-- End Admin Header -->
