﻿@*Copyright 2015-2017 Ellucian Company L.P. and its affiliates.*@

@using Ellucian.Web.Mvc.Menu
@using Ellucian.Web.Mvc.Models;
@using Ellucian.Web.Mvc.Extensions;
@using Ellucian.Web.Student.Utility;
@{
    Site site = SitemapUtility.SortSite(DependencyResolver.Current.GetService<ISiteService>().Get(this.CurrentUser));
    object curArea, curController, curAction;
    string curAreaName = Request.RequestContext.RouteData.DataTokens.TryGetValue("area", out curArea) ? (string)curArea : "";
    string curControllerName = Request.RequestContext.RouteData.Values.TryGetValue("controller", out curController) ? (string)curController : "";
    string curActionName = Request.RequestContext.RouteData.Values.TryGetValue("action", out curAction) ? (string)curAction : "";

    var curPageMatches = site.Pages.Where(p => p.Controller.Equals(curControllerName) && p.Action.Equals(curActionName) && p.Area.Equals(curAreaName));

    string curNavPageId = "";

    if (curPageMatches.Any())
    {
        curNavPageId = curPageMatches.First().Id;
    }
    else
    {
        IList<Ellucian.Web.Mvc.Models.Page> curControllerMatches = null;
        bool isInAdminWorkflow = ViewBag.AdminWorkflow ?? false;
        if (curActionName.ToLower().Contains("admin") || isInAdminWorkflow)
        {
            curControllerMatches = site.Pages.Where(p => p.Controller.Equals(curController) && (p.Action.Equals("Index") || p.Action.Equals("Admin")) && p.Area.Equals(curArea)).OrderBy(p => p.Action).ToList();
        }
        else
        {
            curControllerMatches = site.Pages.Where(p => p.Controller.Equals(curController) && p.Action.Equals("Index") && p.Area.Equals(curArea)).OrderBy(p => p.Action).ToList();
        }
        if (curControllerMatches.Any())
        {
            curNavPageId = curControllerMatches.First().Id;
        }
        else
        {
            var curAreaMatches = site.Pages.Where(p => p.Controller.Equals("Home") && p.Action.Equals("Index") && p.Area.Equals(curArea));
            if (curAreaMatches.Any())
            {
                curNavPageId = curAreaMatches.First().Id;
            }
        }
    }

    bool pageIsDefinedInMenu = false;
    foreach (var menuNode in site.Menus.Where(i => !i.Hidden))
    {
        pageIsDefinedInMenu = IsPageDefinedInMenu(menuNode, curNavPageId);
        if (pageIsDefinedInMenu)
        {
            break;
        }
    }

    // Allow for a submenu not contained within the main navigation (orphaned) to generate breadcrumbs for its children
    bool pageIsInOrphanedSubmenu = false;
    Menu orphanedSubmenuRoot = null;
    if (!pageIsDefinedInMenu)
    {
        foreach (var submenu in site.Submenus.Where(i => !i.Hidden))
        {
            pageIsInOrphanedSubmenu = IsPageDefinedInMenu(submenu, curNavPageId);
            if (pageIsInOrphanedSubmenu)
            {
                orphanedSubmenuRoot = submenu;
                break;
            }

        }
    }

    if (!pageIsDefinedInMenu && !pageIsInOrphanedSubmenu)
    {
        foreach (var menuNode in site.Menus.Where(i => !i.Hidden))
        {
            var implicitPageId = GetImplicitPageId(menuNode, curAreaName, curControllerName, curActionName);
            curNavPageId = implicitPageId.Length > 0 ? implicitPageId : curNavPageId;
        }
    }

    bool showBreadcrumb = (!string.IsNullOrEmpty(curNavPageId) || pageIsDefinedInMenu || pageIsInOrphanedSubmenu) && !curNavPageId.Equals("home", StringComparison.InvariantCultureIgnoreCase);
}

@*
    The recursive breadcrumbHelper/breadcrumbPage methods use a "Depth First Search" algorithm for locating the current page's PARENT.

    In the following trees, this is illustrated by searching left-to-right then top-to-bottom.

    Ex 1:

    Menu1
        Submenu1.1
            Page
            Page
            Current Page
        Current Page        <---- Path: Menu1 > Current Page
        Submenu1.2
            Page
            Page
    Menu2
        Submenu2.1
            Page
        Current Page



    Ex 2:

    Menu1
        Submenu1.1
            Page
            Page
            Current Page        <---- Path: Menu1 > Submenu1.1 > Current Page
        Page
        Submenu1.2
            Page
            Page
    Menu2
        Submenu2.1
            Page
        Current Page



*@

@helper breadcrumbHelper(Menu menu, string curNavPageId) // Recursively build the non-leaf nodes of the breadcrumb trail.
{
    if (menu != null && !string.IsNullOrEmpty(curNavPageId))
    {
        <li class="breadcrumb-menu-wrapper">
            <span class="breadcrumb-menu-item" data-menu-id="nav-@menu.Id">@menu.Label</span>
            <ul class="breadcrumb-drop child-menu">
                @foreach (var menuNode in menu.Items)
                {
                    switch (menuNode.ItemType)
                    {
                        case Ellucian.Web.Mvc.Domain.Entities.MenuItemType.Menu:
                            MenuItemMenu menuItemMenu = (MenuItemMenu)menuNode;
                            if (!menuItemMenu.Menu.Hidden)
                            {
                                var pageNode = FirstDescendentPage(menuItemMenu.Menu);
                                <li>
                                    <a data-menu-item-id="bc-@pageNode.Id" href="@Url.Action(pageNode.Action, pageNode.Controller, new { Area = pageNode.Area })">@menuItemMenu.Menu.Label</a>
                                </li>
                            }
                            break;
                        case Ellucian.Web.Mvc.Domain.Entities.MenuItemType.Page:
                            MenuItemPage menuItemPage = (MenuItemPage)menuNode;
                            if (!menuItemPage.Page.Hidden)
                            {
                                RouteValueDictionary rv = new RouteValueDictionary();
                                rv.Add("Area", menuItemPage.Page.Area);
                                // Special cases for the admin views that need to pass around the Id of the user being administered
                                // both Finance and FA admin use route parameters
                                if (menuItemPage.Page.Area == "Finance" && menuItemPage.Page.Action == "Admin" && ViewContext.RouteData.Values.ContainsKey("id") && !string.IsNullOrEmpty(ViewContext.RouteData.Values["id"].ToString()))
                                {
                                    rv.Add("id", ViewContext.RouteData.Values["id"]);
                                }
                                if (menuItemPage.Page.Area == "FinancialAid" && menuItemPage.Page.Action == "Admin" && ViewContext.RouteData.Values.ContainsKey("id") && !string.IsNullOrEmpty(ViewContext.RouteData.Values["id"].ToString()))
                                {
                                    rv.Add("id", ViewContext.RouteData.Values["id"]);
                                }
                                <li>
                                    <a data-menu-item-id="bc-@menuItemPage.Page.Id" href="@Url.Action(menuItemPage.Page.Action, menuItemPage.Page.Controller, rv)">@menuItemPage.Page.Label</a>
                                </li>
                            }
                            break;
                        case Ellucian.Web.Mvc.Domain.Entities.MenuItemType.Link:
                            var menuItemLink = (MenuItemLink)menuNode;
                            <li>
                                <a data-menu-item-id="bc-@menuItemLink.Link.Id" href="@menuItemLink.Link.Url" target="_blank">@menuItemLink.Link.Text</a>
                            </li>
                            break;
                    }
                }
            </ul>
        </li>
                // This menu is the direct parent of the current page so build the leaf node of the breadcrumb trail.
                if (MenuIsCanonicalParentOfCurrentPage(menu, curNavPageId))
                {
                    @breadcrumbPage(menu, curNavPageId);
                }
                else
                {
                    // The current menu is not the direct parent of the current page so continue to traverse the menu structure.
                    foreach (var menuNode in menu.Items)
                    {
                        if (menuNode.ItemType == Ellucian.Web.Mvc.Domain.Entities.MenuItemType.Menu)
                        {
                            var menuItemMenu = (MenuItemMenu)menuNode;
                            if (MenuIsCanonicalAncestorOfCurrentPage(menuItemMenu.Menu, curNavPageId))
                            {
                                @breadcrumbHelper(menuItemMenu.Menu, curNavPageId);
                                                                                  break;
                            }
                        }
                    }
                }
    }
}

@helper breadcrumbPage(Menu menu, string curNavPageId)   // Build the final node in the breadcrumb (li element containing the current page's label)
{
    if (menu != null && !string.IsNullOrEmpty(curNavPageId))
    {
        // Iterate through the menu items and find what item matches the current page.
        foreach (var menuItem in menu.Items)
        {
            if (menuItem.ItemType == Ellucian.Web.Mvc.Domain.Entities.MenuItemType.Page)
            {
                var menuItemPage = (MenuItemPage)menuItem;

                if (menuItemPage.Page.Id == curNavPageId)
                {
                    <li>
                        @menuItemPage.Page.Label
                    </li>
                    break;
                }
            }
        }
    }
}

@functions
{
    // Determines if the menu (or any of its submenus) is the ancestor to the page given by the id argument.
    public static bool MenuIsCanonicalAncestorOfCurrentPage(Menu menu, string id)
    {
        var flag = false;
        if (id != null && menu != null && menu.Items.Any())
        {
            // Iterate/recurse through the items and attempt to match the page.
            foreach (var menuItem in menu.Items)
            {
                if (menuItem.ItemType == Ellucian.Web.Mvc.Domain.Entities.MenuItemType.Menu)
                {
                    var menuItemMenu = (MenuItemMenu)menuItem;
                    flag = MenuIsCanonicalAncestorOfCurrentPage(menuItemMenu.Menu, id);
                    if (flag)
                        return true;
                }
                else if (menuItem.ItemType == Ellucian.Web.Mvc.Domain.Entities.MenuItemType.Page)
                {
                    var menuItemPage = (MenuItemPage)menuItem;
                    if (menuItemPage.Page.Id == id)
                    {
                        return true;
                    }
                }
            }
        }
        return false;
    }

    // Determines if the menu is the parent to the page given by the id argument.
    public static bool MenuIsCanonicalParentOfCurrentPage(Menu menu, string id)
    {
        if (id != null && menu != null && menu.Items.Any())
        {
            foreach (var menuItem in menu.Items)
            {
                if (menuItem.ItemType == Ellucian.Web.Mvc.Domain.Entities.MenuItemType.Page)
                {
                    var menuItemPage = (MenuItemPage)menuItem;
                    if (menuItemPage.Page.Id == id)
                    {
                        return true;
                    }
                }
            }
        }
        return false;
    }

    // Determine if the specified page is part of the menu tree - orphaned pages will return false.
    public static bool IsPageDefinedInMenu(Menu menu, string id)
    {
        var flag = false;
        if (id != null && menu != null && menu.Items.Any())
        {
            // Iterate/recurse through the items and attempt to match the page.
            foreach (var menuItem in menu.Items)
            {
                if (menuItem.ItemType == Ellucian.Web.Mvc.Domain.Entities.MenuItemType.Menu)
                {
                    var menuItemMenu = (MenuItemMenu)menuItem;
                    flag = IsPageDefinedInMenu(menuItemMenu.Menu, id);
                    if (flag)
                        return true;
                }
                else if (menuItem.ItemType == Ellucian.Web.Mvc.Domain.Entities.MenuItemType.Page)
                {
                    var menuItemPage = (MenuItemPage)menuItem;
                    if (menuItemPage.Page.Id == id)
                    {
                        return true;
                    }
                }
            }
        }
        return false;
    }

    //Locate a page that is close to the page indicated and return that page's ID.
    public static string GetImplicitPageId(Menu menu, string area, string controller, string action)
    {
        var flag = "";
        if (menu.Items.Any())
        {
            foreach (var menuItem in menu.Items)
            {
                if (menuItem.ItemType == Ellucian.Web.Mvc.Domain.Entities.MenuItemType.Menu)
                {
                    var menuItemMenu = (MenuItemMenu)menuItem;
                    flag = GetImplicitPageId(menuItemMenu.Menu, area, controller, action);
                    if (flag.Length > 0)
                        return flag;
                }
                else if (menuItem.ItemType == Ellucian.Web.Mvc.Domain.Entities.MenuItemType.Page)
                {
                    var menuItemPage = (MenuItemPage)menuItem;
                    bool pageMatch = false;
                    if (!pageMatch)
                    {
                        pageMatch = menuItemPage.Page.Area == area
                                && menuItemPage.Page.Controller == controller;
                    }
                    if (pageMatch)
                    {
                        return menuItemPage.Page.Id;
                    }
                }
            }
        }
        return flag;
    }

    // Locate and return the first descendent page from the given menu parameter.
    public static Ellucian.Web.Mvc.Models.Page FirstDescendentPage(Menu menu)
    {
        if (menu != null)
        {
            // Search through the menu items and find the first page...
            foreach (var item in menu.Items)
            {
                if (item.ItemType == Ellucian.Web.Mvc.Domain.Entities.MenuItemType.Page)
                {
                    return ((MenuItemPage)item).Page;
                }
            }
            // No child pages... Recurse through Submenus
            foreach (var item in menu.Items)
            {
                if (item.ItemType == Ellucian.Web.Mvc.Domain.Entities.MenuItemType.Menu)
                {
                    return FirstDescendentPage(((MenuItemMenu)item).Menu);
                }
            }
        }
        return null;
    }
}

@if (showBreadcrumb)
{
    <nav id="breadcrumb">
        <ul id="breadcrumb-root" class="clear-group">

            @if (!pageIsInOrphanedSubmenu)
            {
                foreach (var menuNode in site.Menus.Where(m => !m.Hidden))
                {
                    if (MenuIsCanonicalAncestorOfCurrentPage(menuNode, curNavPageId))
                    {
                        @breadcrumbHelper(menuNode, curNavPageId);
                                                                 break;
                    }
                }
            }
            else
            {
                @breadcrumbHelper(orphanedSubmenuRoot, curNavPageId);
            }
        </ul>
    </nav>
    <div class="breadcrumb-separator"></div>
    <div id="breadcrumb-overlay"></div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#breadcrumb-root").menuAccordion({ checkboxIdPrefix: 'bc-group', collapseStateElement: "<span class='breadcrumb-arrow arrow'>", menuLevelClasses: [], headerLabelClass: "breadcrumb-menu-header", menuItemClass: "breadcrumb-menu-item", menuWrapperClass: "breadcrumb-menu-wrapper" });
            @* #breadcrumb-root starts out hidden to prevent the menuAccordian plugin from flashing the content during menu construction. 
               Once the menuAccordian DOM has been constructed, show it. *@
            $("#breadcrumb-root").show();

            @* Open menu on hover *@
            $(".breadcrumb-menu-item").mouseenter(function openMenu() {
                var self = this;
                @* Timeout - Wait to see if the click event occurred simultaneously (ie: user is on touch device - tapping causes hover and click to both occur)
                   The menuAccordian plugin has built-in click handling - this section is needed to extend "mouse enter" control of the breadcrumb use case.
                   Other uses of the plugin don't desire "open on mouse enter" functionality. *@
                setTimeout(function openMenuOnHover() {
                    var thisMenuIsVisible = $(self).parent().siblings("ul").is(":visible");
                    if (!thisMenuIsVisible) {
                        $(self).parent().siblings("input").attr("checked", true).trigger('change');
                    }
                }, 10);
            });

            @* Prevent the breadcrumb dropdown from closing immediately when moving the mouse away.
               Give the user 300ms to return to the breadcrumbs before closing. *@
            var menuCloseTimeout;

            $('#breadcrumb').hover(function () {
                clearTimeout(menuCloseTimeout);
            },
            function () {
                menuCloseTimeout = setTimeout(function () {
                    closeMenus();
                }, 300);
            });

            @* We're using check boxes to track the state of the breadcrumb menus - to reduce user confusion, we want to allow the user to open the breadcrumb menu when the enter key is pressed in addition to the standard spacebar. *@
            $('#breadcrumb-root').on('keydown', 'input[type="checkbox"]', function openBreadcrumbsOnEnterKeyPressed(event) {
                if (event.keyCode === 13) {
                    $(this).trigger('click');
                }
            });
        });

        function closeMenus() {
            $(".breadcrumb-menu-item").each(function checkAndCloseSingleMenu() {
                var thisMenuIsVisible = $(this).parent().siblings("ul").is(":visible");
                if (thisMenuIsVisible) {
                    $(this).parent().siblings("input").attr("checked", false).trigger('change');
                }
            });
        }
    </script>
}
