﻿<!-- Copyright 2015 Ellucian Company L.P. and its affiliates. -->
<script type="text/html" id="data-entry-field">
    <!-- ko if: IsVisible() -->
    <div class="esg-form__group" data-bind="attr: { id: 'proxy-' + Id()}">
        <div class="esg-form__label" data-bind="attr: { id: 'proxy-' + Id() + '-field-label'}, css: { 'esg-is-required': IsRequired() }">
            <span data-bind="text: Label()"></span>
        </div>
        <!-- ko if: Options().length > 0 -->
        <select class="esg-form__input" data-bind="attr: { id: 'proxy-' + Id() + '-field', 'aria-labelledby': 'proxy-' + Id() + '-field-label' },
                    options: Options(),
                    optionsText: 'Description' ,
                    optionsCaption: personProxyAddProxyDropdownCaptionText,
                    optionsValue: 'Code',
                    value: Value,
                    css:{ 'required-input': $root.searchCriteriaInvalid() && !Value.isValid() }"></select>
        <!-- /ko -->
        <!-- ko ifnot: Options().length > 0 -->
        <!-- ko if: Type() === 15 -->
        <input class="esg-form__input" data-bind="attr: { id: 'proxy-' + Id() + '-field', 'aria-labelledby': 'proxy-' + Id() + '-field-label', type: InputType(), maxLength: MaximumLength(), 'required': IsRequired(), 'aria-invalid': !Value.isValid() ? 'true' : 'false' },
                    watermark: { text: Placeholder() },
                    value: Value,
                    textInput: Value,
                    mask: { maskMin: 4, unmaskStart: maskStart(), unmaskEnd: Value() ? Value().length : 0 },
                    css:{ 'required-input': $root.searchCriteriaInvalid() && !Value.isValid() }" />
        <span class="view-toggle"
              data-bind="visible: Value, event:{ focusin: showValue, focusout: showValue, mouseenter: showValue, mouseleave: showValue }">
        </span>
        <!-- /ko -->
        <!-- ko if: Type() !== 15 -->
        <input class="esg-form__input" data-bind="attr: { id: 'proxy-' + Id() + '-field', 'aria-labelledby': 'proxy-' + Id() + '-field-label', type: InputType(), maxLength: MaximumLength(), 'required': IsRequired(), 'aria-invalid': !Value.isValid() ? 'true' : 'false' },
                watermark: { text: Placeholder() },
                value: Value,
                css:{ 'required-input': $root.searchCriteriaInvalid() && !Value.isValid() }" />
        <!-- /ko -->
        <!-- /ko -->
        <div data-bind="visible: Value.isModified() && !Value.isValid()">
            <div class="required" data-bind="validationMessage: Value"></div>
        </div>
    </div>
    <!-- /ko -->
</script>
