﻿@using Ellucian.Web.Mvc.Extensions

<div id="help-region" class="css-help-region esg-dropdown__menu esg-dropdown__menu--popover" tabindex="0">
    <div id="help-body">
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        @* //Override the help message with a resource file message *@
        site.toolbar.helpNotAvailableMessage = '@Resources.StudentResources.HelpNotAvailableMessage';

        var helpUrl = '@Url.PartialHelpUrl(ViewBag.HelpContentId as string, ViewBag.HelpArea as string)';
        site.toolbar.addHelpContent(helpUrl);
    });
</script>
