﻿@* Copyright 2016 Ellucian Company L.P. and its affiliates. *@
@using Ellucian.Web.Mvc.Menu
@using Ellucian.Web.Mvc.Models;
@using Ellucian.Web.Mvc.Extensions;
@using Ellucian.Web.Student.Utility;
@{
    Site site = SitemapUtility.SortSite(DependencyResolver.Current.GetService<ISiteService>().Get(this.CurrentUser));
    object curArea, curController, curAction;
    string curAreaName = Request.RequestContext.RouteData.DataTokens.TryGetValue("area", out curArea) ? (string)curArea : "";
    string curControllerName = Request.RequestContext.RouteData.Values.TryGetValue("controller", out curController) ? (string)curController : "";
    string curActionName = Request.RequestContext.RouteData.Values.TryGetValue("action", out curAction) ? (string)curAction : "";

    var curPageMatches = site.Pages.Where(p => p.Controller.Equals(curControllerName) && p.Action.Equals(curActionName) && p.Area.Equals(curAreaName));

    string curNavPageId = "";

    if (curPageMatches.Any())
    {
        curNavPageId = curPageMatches.First().Id;
    }
    else
    {
        var curControllerMatches = site.Pages.Where(p => p.Controller.Equals(curControllerName) && p.Action.Equals("Index") && p.Area.Equals(curAreaName));
        if (curControllerMatches.Any())
        {
            curNavPageId = curControllerMatches.First().Id;
        }
        else
        {
            var curAreaMatches = site.Pages.Where(p => p.Controller.Equals("Home") && p.Action.Equals("Index") && p.Area.Equals(curAreaName));
            if (curAreaMatches.Any())
            {
                curNavPageId = curAreaMatches.First().Id;
            }
        }
    }
    if (!curNavPageId.IsEmpty())
    {
        <script>
            $(document).ready(function () {
                navMenu.menuLoad.then(function (result) {
                    navMenu.addClassToElementAndParentMenus($('[data-menu-item-id=@curNavPageId]').first(), 'current-page');
                });
            });
        </script>

    }
}

@helper menuHelper(Menu menu)
{
    if (SitemapUtility.MenuContainsVisibleItems(menu))
    {
        <li class="menu-wrapper">
            <span class="menu-item" data-menu-id="nav-@menu.Id" rel="menu" data-bind="tooltip: { position: 'right', message: '@menu.Label' }">
                @menu.Label
            </span>
            <ul class="child-menu">
                @foreach (var menuItem in menu.Items)
                {
                    switch (menuItem.ItemType)
                    {
                        case Ellucian.Web.Mvc.Domain.Entities.MenuItemType.Page:

                            var menuItemPage = (MenuItemPage)menuItem;
                            if (!menuItemPage.Page.Hidden)
                            {
                                <li>
                                    @{
                                RouteValueDictionary rvd = new RouteValueDictionary();
                                rvd.Add("Area", menuItemPage.Page.Area);
                                if (menuItemPage.Page.Area == "Finance" && menuItemPage.Page.Action == "Admin" && ViewBag.PersonId != null && !string.IsNullOrEmpty(ViewBag.PersonId))
                                {
                                    rvd.Add("personId", ViewBag.PersonId);
                                }
                                if (menuItemPage.Page.Area == "FinancialAid" && menuItemPage.Page.Action == "Admin" && ViewContext.RouteData.Values.ContainsKey("id") && !string.IsNullOrEmpty(ViewContext.RouteData.Values["id"].ToString()))
                                {
                                    rvd.Add("id", ViewContext.RouteData.Values["id"]);
                                }
                                    }
                                    <a class="menu-item" data-menu-item-id="@menuItemPage.Page.Id" href="@Url.Action(menuItemPage.Page.Action, menuItemPage.Page.Controller, rvd)">@menuItemPage.Page.Label</a>
                                </li>
                            }
                            break;
                        case Ellucian.Web.Mvc.Domain.Entities.MenuItemType.Menu:

                            var menuItemMenu = (MenuItemMenu)menuItem;
                            if (!menuItemMenu.Menu.Hidden)
                            {
                                @menuHelper(menuItemMenu.Menu);
                            }
                            break;
                        case Ellucian.Web.Mvc.Domain.Entities.MenuItemType.Link:

                            var menuItemLink = (MenuItemLink)menuItem;
                            <li>
                                <a class="menu-item" data-menu-item-id="@menuItemLink.Link.Id" href="@menuItemLink.Link.Url" target="_blank">@menuItemLink.Link.Text</a>
                            </li>
                            break;
                    }
                }
            </ul>

        </li>

    }
}

<div class="nav-top-section">
    <button id="toggle-nav-button" type="button" aria-label="@Resources.Navigation.MenuOpenAria"></button>
</div>
<div class="sidebar-nav-wrapper">
    <nav id="drawer-nav" role="navigation">
        <ul id="nav-root">
            <li class="menu-wrapper supress-expand">
                <a class="menu-item" data-menu-item-id="home" rel="menu" data-menu-id="nav-home" href="@Url.Action("Index", "Home", new { area = "" })" data-bind="tooltip: { position: 'right', message: 'Home' }">@Resources.Navigation.HomeLinkText</a>
            </li>
            @foreach (var menu in site.Menus.Where(m => !m.Hidden))
            {
                @menuHelper(menu)
            }
        </ul>
    </nav>
</div>
<div class="nav-overlay"></div>