﻿@* Copyright 2017 Ellucian Company L.P. and its affiliates. *@
@using Ellucian.Web.Student.Models;
@model PageHeaderModel

<div id="page-description" class="esg-page-header">

    @*Page Title*@
    <h2 class="esg-page-header__title">
        @Model.Title
    </h2>

    @*Page Subtitle*@
    @if (!string.IsNullOrEmpty(Model.Subtitle))
    {
        <span class="esg-page-header__subtitle">@Model.Subtitle</span>
    }

    @*Static Page Backlink*@
    @if (!string.IsNullOrEmpty(Model.StaticBacklinkDestination))
    {
        <a href="@Model.StaticBacklinkDestination" class="esg-page-header__subtitle esg-page-header__subtitle--backlink">
            <span class="esg-icon__container esg-page-header__icon" aria-hidden="true">
                <svg class="esg-icon esg-icon--left">
                    <use xlink:href="#icon-arrow"></use>
                </svg>
            </span>
            @Model.StaticBacklinkText
        </a>
    }

    @*Dynamic Page Backlink*@
    @if (Model.DynamicBackLinkConfiguration != null)
    {
        @Html.Partial("_DynamicBackLink", Model.DynamicBackLinkConfiguration)
    }
</div>
