﻿@*Copyright 2017 Ellucian Company L.P. and its affiliates.*@
@using Ellucian.Web.Mvc.Licensing;
@{
    string gtmId = "GTM-PW6F96Q";

    string clientId = "";
    var licensingService = DependencyResolver.Current.GetService<ILicensingService>();
    clientId = licensingService.GetClientId();

    string version = Ellucian.Web.Student.Infrastructure.ApplicationMetadata.Version;

    string isProxy = (CurrentUser != null && CurrentUser.ProxySubjects.Any()).ToString().ToLower();
}
<script>
    if (typeof dataLayer === 'undefined') {
        dataLayer = [];
    } else {
        dataLayer = dataLayer || [];
    }

    dataLayer.push({ 'gtm.whitelist': ['google', 'lcl'] });

    var pageUrl = sanitizeUrlForAnalytics(window.location.pathname, true);
    dataLayer.push({ 'etmStandardizedUrl': pageUrl });

    @if (!string.IsNullOrEmpty(clientId)) {
        @:dataLayer.push({ 'etmClientId': '@clientId' });
        }

    @if (!string.IsNullOrEmpty(version)) {
        @:dataLayer.push({ 'etmReleaseVersion': '@version' });
        }

    dataLayer.push({ 'etmProxyUser': '@isProxy' });
</script>

@* BEGIN Google Tag Manager provided code *@
<noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=@gtmId"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
        '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', '@gtmId');
</script>
@* END Google Tag Manager provided code *@