﻿<!-- Copyright 2016 Ellucian Company L.P. and its affiliates. -->
<div class="verify-password-dialog-wrapper">

    <!-- Verifying Password Spinner -->
    <modal-spinner id="verifying-password-spinner" params="isVisible: verifyingPassword, message: verifyingPasswordMessage"></modal-spinner>
    <!-- End Verifying Password Spinner -->

    <modal-dialog id="verify-password-dialog" params="title: '@Resources.SiteResources.PasswordVerificationDialogTitle', isVisible: verifyPasswordDialogIsDisplayed, content: $data, defaultCloseOff: true, buttons: [cancelPasswordDialogButton, verifyPasswordDialogButton]">
        <div class="esg-form__group" data-bind="css: { 'esg-has-feedback': verifyPasswordMessage, 'esg-has-error': verifyPasswordMessage }">
            <label for="reenter-password" class="esg-form__label">@Resources.SiteResources.PasswordVerificationDialogMessage</label>
            <!-- "Dummy" password field to prevent browsers from auto-filling -->
            <label for="dummy-password" aria-hidden="true" class="offScreen"></label>
            <input id="dummy-password" type="password" aria-hidden="true" class="offScreen" />
            <!-- End "Dummy" password field to prevent browsers from auto-filling -->
            <div class="esg-form__input-group">
                <input type="password" id="reenter-password" class="esg-form__input" data-bind="textInput: userPassword" />
                <div class="esg-form__feedback-icon esg-icon__container" data-bind="if: verifyPasswordMessage">
                    <svg class="esg-icon esg-icon--error">
                        <use xlink:href="#icon-error"></use>
                    </svg>
                </div>
            </div>
            <div class="esg-form__feedback-text" data-bind="text: verifyPasswordMessage, visible: verifyPasswordMessage">
            </div>
        </div>
    </modal-dialog>
</div>