﻿@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = Resources.SiteResources.ErrorPageDescription;
}
<div class="clear-group">
    <div id="page-description" class="column-five">
        <h2>
            @Resources.SiteResources.ErrorPageDescription
        </h2>
        <div class="backlink">
            @if (!Request.IsAuthenticated)
            {
                @Html.RouteLink(Resources.Navigation.SignInLink, new { area = "", controller = "Account", action = "Login" })
            }
            else
            {
                var defaultRoute = new RouteValueDictionary(new { area = "", controller = "Home", action = "Index" });
                var backLinkConfig = new Ellucian.Web.Student.Models.DynamicBackLinkConfiguration(true, defaultRoute, "{0}");
                @Html.Partial("_DynamicBackLink", backLinkConfig)
            }
        </div>
    </div>
</div>
<div class="column-nine">
    <div class="esg-alert esg-alert--fluid esg-alert--error" role="alert">
        <span class="esg-alert__icon-wrapper">
            <span class="esg-alert__icon esg-icon__container" aria-hidden="True">
                <svg class="esg-icon esg-icon--error-dark">
                    <use xlink:href="#icon-error"></use>
                </svg>
            </span>
        </span>
        <div class="esg-alert__message">
            @ViewBag.ErrorMessage
        </div>
    </div>
</div>