﻿<!-- Copyright 2014-2016 Ellucian Company L.P. and its affiliates. -->

<script type="text/html" id="mobile-sorting-template">
    <div id="mobile-sorting-template-id" class="clear-group column-nine-sm">
        <label class="mobile-sorting-label"  for="sorting-type-dropdown">Sort By:</label>
        <div class="overflow-hidden" >
            <select id="sorting-type-dropdown" class="esg-form__input column-nine-sm" data-bind="options: $data.contents.sortOptions, optionsText: function(item) {
                       return item.displayAs + '  ' + item.sortDirection
                   }
, optionsCaption:'Select Sort By Options', value: $data.contents.selectedSortOption"></select>
        </div>

    </div>
</script>