﻿<div class="clear-group">

    <!-- ko if: loadError() -->
    <div class="column-eight column-eight-sm">
        <div class="esg-alert esg-alert--fluid esg-alert--info" role="alert">
            <span class="esg-alert__icon-wrapper">
                <span class="esg-alert__icon esg-icon__container" aria-hidden="True">
                    <svg class="esg-icon esg-icon--info-dark">
                        <use xlink:href="#icon-info"></use>
                    </svg>
                </span>
            </span>
            <div class="esg-alert__message">
                <span data-bind="resx: 'TimeSheet.SomethingWentWrongError'"></span>
            </div>
        </div>
    </div>
    <!-- /ko -->

    <spinner params="isVisible: !timePeriodsAreLoaded() && !loadError()"></spinner>

    <!-- ko if: timePeriodsAreLoaded() -->
    <!-- ko foreach: TimePeriodModels -->
    <time-sheet-link params="
                         dataModel: $data,
                         payCycleId: $parent.payCycleId">

    </time-sheet-link>
    <!-- /ko -->
    <!-- ko if: TimePeriodModels().length == 0 -->
    <div class="column-eight column-eight-sm">
        <div class="esg-alert esg-alert--fluid esg-alert--info" role="alert">
            <span class="esg-alert__icon-wrapper">
                <span class="esg-alert__icon esg-icon__container" aria-hidden="True">
                    <svg class="esg-icon esg-icon--info-dark">
                        <use xlink:href="#icon-info"></use>
                    </svg>
                </span>
            </span>
            <div class="esg-alert__message">
                <span data-bind="resx: ['TimeSheet.NoPayPeriodsMessage']"></span>
            </div>
        </div>
    </div>
    <!-- /ko -->
    <!-- /ko -->

</div>


