﻿/* Copyright 2014-2017 Ellucian Company L.P. and its affiliates. */
/* Color variables */
/* Non-color variables will be placed here */
/* Copied from EDS for use in Self-Service .scss files */
/* Non-color variables will be placed here */
.section-header h3 {
  font-size: 1em;
}

/*The toggle switch*/
.switch-checkbox {
  float: right;
  /*!!*/
  width: 4.75em;
  /*Makes the toggle switches wider*/
}

/*end changes after Site.css fixes */
/* -------------------------- */
/* ----- Projects List ------ */
/* -------------------------- */
.group a {
  text-decoration: none;
  border-top: 0 none;
}

.project-number {
  font-weight: bold;
}

.project-hyphen {
  font-weight: bold;
}

.remaining-budget {
  float: right;
}

.ae-text, .remaining-budget {
  font-size: 0.923em;
  color: #6c6c6c;
}

.ae-text {
  font-weight: bold;
}

.project-number, .group-title {
  display: inline-block;
  margin-bottom: 1em;
  font-size: 0.923em;
  color: #444444;
}

.project-visible {
  display: block;
}

.project-hidden {
  display: none;
}

/*----- Project Statuses -------*/
.status-wrapper {
  display: inline;
  border-right: 0 none;
  float: right;
}

.list-view .status-wrapper {
  float: left;
}

.status-wrapper > .project-status {
  font-size: 0.750em;
}

.status-circle {
  border: 1px solid #999999;
  border-radius: 5.77em;
  -webkit-border-radius: 5.77em;
  -moz-border-radius: 5.77em;
  display: inline-block;
  height: .54em;
  width: .54em;
}

.project-active > .status-circle {
  background-color: #008241;
}

.project-inactive > .status-circle {
  background-color: #ffffff;
}

.project-closed > .status-circle {
  background-color: #d5d5d5;
}

.line-item-details .status-circle {
  border: 1px solid #ffffff;
}

/*----- Project Bar Graphs -----*/
#groups .ui-progressbar {
  background: none repeat scroll 0 0 #efefef;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset;
  color: #444444;
  font-size: .93em;
  width: 100%;
  margin-top: 0.5em;
}

#groups .ui-progressbar--margin-bottom {
  margin-bottom: 0.5em;
}

#groups .bar-graph {
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
}

#groups .bar-graph--hint {
  background: #3a7683;
}

#groups .bar-graph--success {
  background: #008241;
}

#groups .bar-graph--warning {
  background: #ffdb72;
}

#groups .bar-graph--error {
  background: #cb0004;
}

@media all and (min-width: 770px) {
  .hide-content.make-invisible {
    display: block;
    visibility: hidden;
  }
}

#groups .overage {
  background: none repeat scroll 0 0 #a61d20;
}

#groups .overage-revenue {
  background: none repeat scroll 0 0 #285b66;
}

#groups .zero-budget .ui-multiprogressbar-valuetext {
  text-shadow: none;
}

#groups .ui-progressbar--thin {
  height: 1.5em;
  border-radius: .75em;
}

#groups .bar-graph--success .ui-multiprogressbar-valuetext,
#groups .bar-graph--hint .ui-multiprogressbar-valuetext,
#groups .bar-graph--warning .ui-multiprogressbar-valuetext,
#groups .bar-graph--error .ui-multiprogressbar-valuetext {
  color: #ffffff;
  margin: 0;
  line-height: 2em;
  font-weight: bold;
}

#groups .bar-graph--hint .ui-multiprogressbar-valuetext a,
#groups .bar-graph--success .ui-multiprogressbar-valuetext a,
#groups .bar-graph--warning .ui-multiprogressbar-valuetext a,
#groups .bar-graph--error .ui-multiprogressbar-valuetext a {
  color: #ffffff;
  text-decoration: none;
  min-width: 150px;
  text-overflow: inherit;
  word-wrap: normal;
  white-space: nowrap;
  overflow: visible;
  width: 100%;
  display: inline-block;
}

#groups .ui-multiprogressbar-valuetext {
  min-width: 150px;
}

.remaining-black {
  color: #000000;
  font-size: .923em;
}

.bar-graph-link .remaining-black {
  color: #000000;
}

.remaining-red {
  color: #a61d20;
  font-size: .923em;
}

.remaining-red.list-amount {
  font-weight: bold;
}

.remaining-green {
  color: #008241;
}

.remaining-green.list-amount {
  font-weight: bold;
}

.budget-spent-amount {
  display: block;
  font-size: .923em;
  margin: 0 auto;
  padding-top: .83em;
  text-align: center;
  color: #444444;
}

.section-header-left {
  padding: 0.38em 0.77em;
}

#groups .group {
  background-image: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-width: 1px 1px 2px 1px;
  border-style: solid;
  border-color: #d5d5d5;
  height: auto;
  width: 49%;
  margin: 0 1% 1em 0;
  background-color: #ffffff;
  filter: none;
  display: inline-block;
  float: left;
  position: relative;
}

@media all and (min-width: 770px) {
  #groups {
    display: table;
    width: 100%;
    border-spacing: .5em;
  }
  #groups .group--cost-center {
    display: table-cell;
    float: none;
  }
  #groups .new-row {
    display: table-row;
  }
}

a.group-line-items-link {
  color: #444444;
}

.group-line-items-link.bar-graph-link {
  display: block;
  padding: 0.769em 1.538em;
}

.group-line-items-link:hover,
.group-line-items-link:focus {
  background-color: #d5d5d5;
}

.group-line-items-link:hover .ae-text,
.group-line-items-link:hover .remaining-budget,
.group-line-items-link:focus .ae-text,
.group-line-items-link:focus .remaining-budget {
  color: #444444;
}

.group-line-items-link:not(.list-link):hover,
.group-line-items-link:not(.list-link):focus {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.group-line-items-link.list-link:hover > div,
.group-line-items-link.list-link:hover > div .remaining-black,
.group-line-items-link.list-link:hover > div .project-status {
  color: #000000;
}

.group-line-items-link.list-link:hover > div .status-circle {
  border: 1px solid #000000;
}

/* Grid-List view toggle */
.graph-list-toggle-wrapper {
  display: inline-block;
}

button.active-view {
  background-color: #ffffff;
}

.css-button--export {
  min-width: 8.75rem;
}

.css-button--filter {
  margin-top: 1rem;
}

/* ---------------------------------------------------- */
/* /////              Line item view              ///// */
/* ---------------------------------------------------- */
.pending-posting-hidden {
  display: none;
}

.line-table thead.offScreen + tbody tr:first-child {
  border-top: 0 none;
}

.line-table .list-table-header-group td {
  vertical-align: top;
}

.line-table .status-wrapper {
  float: left;
}

.line-item-details.each-detail:focus,
.nested-row.gl-item-details:focus {
  outline: 0;
}

.line-table .line-item-details.each-detail:hover,
.line-table .line-item-details.each-detail:focus th,
.line-table .line-item-details.each-detail:focus td {
  background-color: #e2e2e2;
}

.line-table .line-item-details.each-detail:hover th,
.line-table .line-item-details.each-detail:hover td {
  color: #333333;
}

.line-table .line-item-details.each-detail:hover .arrow,
.line-table .line-item-details.each-detail:focus .arrow {
  border-top: 2px solid #555555;
  border-right: 2px solid #555555;
}

.line-table .each-detail .list-view-primary-arrow {
  padding: 0 0 0 1.5em;
}

.line-table .gl-item-details .list-view-secondary-arrow {
  padding: 0 0 0 1.5em;
}

.no-styles.expand-details {
  width: 1.5em;
}

.gl-item-details:hover td,
.gl-item-details:focus td {
  cursor: pointer;
  background-color: #efefef;
}

.line-table .project-line-item-description {
  font-weight: bold;
}

.gl-items-details .gl-detail {
  padding: 1.5em;
}

.gl-items-details .gl-detail.list-view-gl-number-description {
  padding-left: 4.2em;
}

.list-view-gl-number-description,
.list-view-budget-blank,
.list-view-gl-actuals-encumbrances,
.list-view-gl-remaining,
.list-view-gl-project-percent,
.list-view-gl-project-health {
  border-bottom: 1px solid #d5d5d5;
}

.amount-pending-posting .list-view-gl-number-description,
.amount-pending-posting .list-view-gl-actuals-encumbrances,
.amount-pending-posting .list-view-gl-remaining,
.amount-pending-posting .list-view-gl-project-percent,
.amount-pending-posting .list-view-gl-project-health,
.list-view-budget-blank.pending-posting {
  border-bottom: 0 none;
}

.line-item-details.each-detail {
  font-weight: normal;
  font-size: inherit;
}

.list-view-gl-number {
  font-weight: bold;
  padding-right: 1.4em;
}

.css-collapsible-group__heading {
  background-color: #ffffff;
}

.css-collapsible-group {
  border-bottom: 1px solid #e2e2e2;
}

.css-collapsible-group .esg-collapsible-group__toggle {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.css-collapsible-group__body,
.css-collapsible-group__body:hover,
.css-collapsible-group__body:active,
.css-collapsible-group__body:focus,
.css-collapsible-group__body:visited {
  padding: 0.5em 1.25rem;
  border: none;
  background-color: #ffffff;
}

.esg-dropdown__menu.css-dropdown__menu {
  right: 0;
}

.esg-dropdown__menu-item.css-dropdown__menu-item,
.esg-dropdown__menu-item.css-dropdown__menu-item:hover,
.esg-dropdown__menu-item.css-dropdown__menu-item:visited,
.esg-dropdown__menu-item.css-dropdown__menu-item:active,
.esg-dropdown__menu-item.css-dropdown__menu-item:focus {
  width: auto;
  padding: 0 1em;
}

.esg-is-open.css-is-open {
  display: inline-block;
}

button.css-button,
button.css-button:hover,
button.css-button:focus,
button.css-button:active,
button.css-button:visited {
  line-height: initial;
}

/* ---------------------------------------------------- */
/* /////                 Table View               ///// */
/* ---------------------------------------------------- */
@media all and (max-width: 480px) {
  .table-view .list-vtable-header {
    font-weight: normal;
  }
}

.table-view .list-view-group-name {
  text-align: left;
}

.nested-row .list-view-gl-number-description {
  padding-left: 2.813rem;
}

.nested-row .list-view-gl-number-description,
.table-view .list-view-group-name {
  width: 50%;
}

.list-view-group-name .expand-details {
  margin-left: -3em;
}

.table-view .list-view-group-name .status-wrapper {
  border: 0 none;
}

.table-view .list-view-group-name .status-wrapper > .project-status {
  padding-right: 0;
}

.table-view .list-view-group-budget,
.table-view .list-view-group-budget-revenue,
.table-view .list-view-group-actuals,
.table-view .list-view-group-encumbrances,
.table-view .list-view-group-health,
.table-view .list-view-group-percent,
.table-view .list-view-gl-project-percent,
.table-view .list-view-gl-project-health,
.line-table .list-view-budget-blank.pending-posting,
.line-table .list-view-gl-remaining.pending-posting-blank,
.line-table .list-view-gl-actuals-encumbrances {
  display: none;
  text-align: right;
}

.project-net-row {
  display: none;
}

.line-table .list-view-gl-remaining,
.line-table .list-view-gl-actuals-encumbrances,
.table-view .list-view-group-actuals-revenue,
.table-view .list-view-group-remaining {
  text-align: right;
}

@media only screen and (min-width: 48rem) {
  .table-view .list-view-group-budget,
  .table-view .list-view-group-budget-revenue,
  .line-table .list-view-budget-blank.pending-posting {
    display: table-cell;
  }
  .table-view .list-view-group-name,
  .nested-row .list-view-gl-number-description {
    width: 40%;
  }
  .project-net-row {
    display: table-row;
  }
}

@media only screen and (min-width: 62rem) {
  .table-view .list-view-group-actuals,
  .table-view .list-view-group-encumbrances,
  .line-table .list-view-gl-actuals-encumbrances:not(.pending-posting-value),
  .line-table .list-view-gl-remaining.pending-posting,
  .table-view .list-view-gl-actuals-encumbrances:not(.pending-posting),
  .line-table .list-view-gl-remaining,
  .table-view .list-view-group-remaining,
  .line-table .list-view-gl-remaining.pending-posting-blank {
    display: table-cell;
  }
  .table-view .list-view-group-name,
  .nested-row .list-view-gl-number-description {
    width: 30%;
  }
  .line-table .list-view-gl-remaining.pending-posting {
    display: none;
  }
}

@media only screen and (min-width: 75rem) {
  .table-view .list-view-group-health,
  .table-view .list-view-group-percent,
  .table-view .list-view-gl-project-percent,
  .table-view .list-view-gl-project-health {
    display: table-cell;
  }
}

.list-view-gl-project-percent.gl-detail {
  border-right: 0 none;
}

.list-view-gl-project-percent.gl-detail,
.table-view .list-view-group-percent {
  width: 10%;
}

.table-view .list-view-group-health {
  width: 8%;
}

.line-item-details-table-row,
.document-item-details-row {
  display: none;
}

.line-item-details-table-row > td {
  padding: 0;
}

.document-item-details-row > td {
  padding: 0;
}

.accordion-table-wrapper.journal-entry {
  padding-top: 1em;
}

@media all and (max-width: 769px) {
  .accordion-table-wrapper.journal-entry {
    padding-top: 0;
  }
}

.nested-row table {
  width: 100%;
}

.nested-row td {
  background-color: #ffffff;
  border-bottom: 0;
}

.nested-row:last-of-type tbody:last-of-type .gl-item-details:last-of-type {
  border-bottom: 1px solid #d5d5d5;
}

.nested-row.amount-pending-posting td {
  background-color: #edeaff;
}

@media all and (max-width: 400px) {
  .list-view-group-health.line-table-header,
  .list-view-group-health.top-line-table-header,
  .list-view-group-remaining.top-line-table-header,
  .list-view-group-remaining line-table-header {
    padding-left: 0;
  }
}

/* ---------------------------------------------------- */
/* /////              Line item view              ///// */
/* ---------------------------------------------------- */
.pad-left {
  padding-left: 1em;
}

#projects-details {
  display: none;
}

tr.line-item-details:hover {
  cursor: pointer;
}

.top-line-table-header {
  text-align: right;
  vertical-align: middle;
}

.list-view-project-number {
  font-weight: bold;
}

/* Project List View */
.group-icon-green {
  background: url("../../../Content/Images/icon-success.png") no-repeat scroll 90% center transparent;
}

.group-icon-yellow {
  background: url("../../../Content/Images/icon-warning.png") no-repeat scroll 90% center transparent;
}

.group-icon-red {
  background: url("../../../Content/Images/icon-error.png") no-repeat scroll 90% center transparent;
}

/* Project line items view */
.project-line-item-icon-green {
  background: url("../../../Content/Images/icon-success.png") no-repeat scroll 90% center transparent;
}

.project-line-item-icon-yellow {
  background: url("../../../Content/Images/icon-warning.png") no-repeat scroll 90% center transparent;
}

.project-line-item-icon-red {
  background: url("../../../Content/Images/icon-error.png") no-repeat scroll 90% center transparent;
}

/* Cost Center Icons */
.cost-center-icon-green {
  background: url("../../../Content/Images/icon-success.png") no-repeat scroll 85% center transparent;
}

.cost-center-icon-yellow {
  background: url("../../../Content/Images/icon-warning.png") no-repeat scroll 85% center transparent;
}

.cost-center-icon-red {
  background: url("../../../Content/Images/icon-error.png") no-repeat scroll 85% center transparent;
}

@media all and (max-width: 769px) {
  .group-icon-green, .group-icon-yellow, .group-icon-red,
  .project-line-item-icon-green, .project-line-item-icon-yellow, .project-line-item-icon-red {
    background-position: 80% center;
  }
}

@media all and (max-width: 480px) {
  .group-icon-green, .group-icon-yellow, .group-icon-red,
  .project-line-item-icon-green, .project-line-item-icon-yellow, .project-line-item-icon-red {
    background-position: 65% center;
  }
}

.line-item-section:hover {
  cursor: pointer;
}

/* ---------------------------------------------------- */
/* /////              GL Detail View              ///// */
/* ---------------------------------------------------- */
.line-item-code-description {
  color: #444444;
  padding: 0.938rem 0.938rem;
}

@media all and (max-width: 769px) {
  .line-item-code-description {
    padding: 1em 0.75em;
    background-color: #efefef;
  }
}

#encumbrances-table, #actuals-table {
  margin-bottom: 2.0em;
}

.gl-detail-table {
  width: 100%;
  background-color: #ffffff;
}

@media all and (max-width: 769px) {
  .gl-detail-table caption:not(.actuals-budget-caption) {
    display: none;
  }
  #encumbrances-table, #actuals-table, #budget-table {
    margin-bottom: 0;
  }
}

.gl-number-description {
  font-size: inherit;
}

.gl-number-description.thin {
  padding: 0.769em;
}

.no-margin {
  margin: 0;
}

@media all and (max-width: 769px) {
  .with-top-padding {
    padding-top: 0.924em;
  }
}

.gl-details-align-right {
  text-align: right;
}

.gl-details-align-left {
  text-align: left;
}

.gl-detail-header-left {
  display: inline-block;
  float: left;
}

.gl-detail-header-right {
  display: inline-block;
  float: right;
}

.gl-details-transaction:hover {
  cursor: pointer;
}

@media all and (max-width: 769px) {
  .gl-details-transaction:hover .gl-details-transaction-data {
    background-color: #d5d5d5;
  }
}

.gl-details-transaction-header:first-child {
  border-left: 0;
}

.gl-details-transaction-header:last-child {
  border-right: 0;
}

.gl-details-transaction-data .arrow {
  display: none;
}

.gl-details-transaction-data.tx-description {
  word-break: break-all;
}

.transaction-mobile {
  display: none;
  background-color: #ffffff;
}

@media all and (max-width: 769px) {
  .transaction-mobile {
    display: block;
    border: 0 none;
  }
  .transaction-mobile .transaction-data {
    padding: 1em 1.5em;
    word-break: break-all;
  }
}

.gl-detail-table tfoot {
  display: none;
}

@media all and (max-width: 769px) {
  .gl-details-transaction-data {
    background-color: #efefef;
    border-bottom: 3px solid #ffffff;
  }
  .gl-details-transaction-data .arrow {
    display: inline-block;
  }
  .gl-detail-table tfoot {
    display: table-footer-group;
  }
}

.gl-details-document-id {
  width: 18%;
}

@media all and (max-width: 769px) {
  .gl-details-document-id {
    width: 45%;
  }
}

.gl-details-date {
  width: 15%;
}

@media all and (max-width: 769px) {
  .gl-details-date {
    width: 25%;
  }
}

.gl-details-description {
  width: 52%;
}

@media all and (max-width: 769px) {
  .gl-details-description {
    width: 0%;
  }
}

.gl-details-amount {
  width: 15%;
}

@media all and (max-width: 769px) {
  .gl-details-amount {
    width: 30%;
    padding-right: 2.65em;
  }
}

.gl-details-tabset, .document-tabset {
  display: none;
}

@media all and (max-width: 769px) {
  .gl-details-tabset, .document-tabset {
    display: block;
    padding: 1em 1.5em 1em 0em;
    background-color: #d5d5d5;
  }
  .gl-details-tab, .document-tab {
    padding: 0.75em 1.5em 0.81em 1.5em;
    background-color: #d5d5d5;
    display: inline;
    font-weight: bold;
    color: #555555;
  }
  .gl-details-tab:hover, .document-tab:hover {
    cursor: pointer;
    color: #000000;
  }
  .gl-detail-tab-selected, .document-tab-selected {
    background-color: #ffffff;
    border-bottom: 2px solid #ffffff;
    position: relative;
  }
}

@media all and (max-width: 420px) {
  .gl-details-tab, .document-tab {
    padding: 0.75em 1em 0.81em 1em;
  }
}

@media all and (max-width: 375px) {
  .gl-details-tab, .document-tab {
    padding: 0.75em 0.5em 0.81em 0.5em;
  }
}

.back-to-line-items {
  background-color: #999999;
  color: #ffffff;
  padding: 0.75em;
  font-size: 1.5em;
  display: none;
}

.back-to-line-items .arrow {
  border-color: #ffffff;
}

.back-to-line-items .line-item-back-link:hover, .back-to-line-items .arrow:hover {
  cursor: pointer;
}

@media all and (max-width: 769px) {
  .back-to-line-items {
    display: block;
  }
}

a.document-id {
  color: #3f756e;
  text-decoration: underline;
}

.document-id:hover {
  cursor: pointer;
}

@media all and (max-width: 769px) {
  a.document-id {
    color: inherit;
    text-decoration: none;
  }
  a.document-id:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

@media all and (max-width: 769px) {
  .gl-details-description {
    display: none;
  }
  .tx-description {
    display: none;
  }
  .tx-date {
    width: 25%;
  }
  .tx-amount {
    width: 25%;
  }
  .line-item-detail-tab-selected {
    background-color: #999999;
    color: #ffffff;
  }
  .gl-tab-actuals {
    margin-left: -2px;
  }
  .gl-tab-actuals.gl-detail-tab-selected,
  .gl-tab-encumbrances.gl-detail-tab-selected {
    border-bottom: 1px solid #ffffff;
  }
}

.no-arrow {
  border-color: #efefef;
}

.unclickable:hover {
  cursor: default;
}

.unclickable:hover .gl-details-transaction-data {
  background-color: #efefef;
}

.no-transactions-container {
  margin-bottom: 1em;
}

.no-transactions-container .esg-table-actions__title {
  border-bottom: 1px solid #bdbdbd;
  display: block;
  margin: 0;
  line-height: 1;
  width: 100%;
}

@media all and (max-width: 769px) {
  .no-transactions-container {
    margin: .938rem;
  }
  .actuals-encumbrances-header {
    display: none;
  }
  .actuals-encumbrances-budget-header {
    display: none;
  }
}

/* ---------------------------------------------------- */
/* /////              GL Detail View              ///// */
/* ---------------------------------------------------- */
/* ----------------------------------------------------------- */
/* //////////   Sliding Panel                      //////////  */
/* ----------------------------------------------------------- */
.panel-back-link-container p {
  display: none;
}

/* ---------------------------------------------------- */
/* /////              Document View             / ///// */
/* ---------------------------------------------------- */
.document-heading {
  font-size: .875rem;
  font-weight: bold;
}

.back-to-project {
  color: inherit;
}

.back-to-project .arrow {
  color: inherit;
}

@media all and (max-width: 769px) {
  .back-to-project .back-to-text {
    display: none;
  }
}

.additional-details-button {
  display: none;
  padding: 1.2em 0 1.2em 1.75em;
}

#additional-details-controller {
  font-size: inherit;
}

.additional-details-button:hover,
.additional-details-button:focus {
  padding: 1.2em 0 1.2em 1.75em;
}

.additional-details-text {
  padding-left: 1em;
  position: relative;
  top: 2px;
}

@media all and (max-width: 769px) {
  .additional-details-button {
    display: block;
  }
}

.document-header {
  width: 48%;
  display: inline-block;
  vertical-align: top;
}

.header-right {
  padding-left: 2em;
  box-sizing: border-box;
}

.document-header-arrow {
  /*display: none;*/
}

@media all and (max-width: 769px) {
  .document-header {
    width: 95%;
    padding: 1.2em 0 1.2em 1.2em;
    margin: 0;
  }
  .document-header.header-right {
    display: none;
  }
  .document-header-additional-details {
    display: none;
  }
  .document-header-arrow {
    /*display: block;*/
  }
}

.document-header-label {
  float: left;
  padding: 0.35em;
  font-weight: bold;
  width: 50%;
  box-sizing: border-box;
}

@media all and (max-width: 360px) {
  .document-header-label {
    width: 60%;
  }
}

.document-header-data {
  padding: 0.35em;
  min-height: 1.7em;
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  word-wrap: break-word;
  float: left;
}

.document-header-data .requisition {
  display: inline;
}

@media all and (max-width: 769px) {
  .document-header-data .associated-document {
    display: block;
    padding-bottom: 0.75em;
  }
}

@media all and (max-width: 360px) {
  .document-header-data {
    width: 40%;
  }
}

.extra-margin {
  margin-right: 1%;
}

.approvers-section h3 {
  display: inline-block;
}

.comments-section, .approvers-section {
  display: inline-block;
  width: 49.5%;
  float: left;
  margin-top: 2em;
}

@media all and (max-width: 769px) {
  .comments-section.extra-margin {
    width: 100%;
    background-color: #efefef;
  }
  .comments-section, .approvers-section {
    width: 100%;
    margin-top: 0;
  }
}

.internal-comments-mobile {
  margin-top: 0.75em;
}

.line-items-header.normal {
  font-weight: normal;
}

@media all and (max-width: 769px) {
  .line-items-header:not(.rcv-schedule) {
    display: none;
  }
}

.comments-data {
  margin: 1.3em;
  line-height: normal;
}

.document-approver {
  border-bottom: 1px solid #d5d5d5;
}

.document-approver:last-child {
  border-bottom: 0;
}

.approver-date, .approvers-header-date {
  float: right;
  display: inline-block;
}

.document-approver-icon {
  width: 1.23em;
  height: 1.23em;
  text-align: center;
  display: inline-block;
}

.document-approved-icon {
  background: url("../../../Content/Images/icon-success.png") no-repeat scroll 90% center #ffffff;
}

.document-waiting-icon {
  background: url("../../../Content/Images/icon-warning.png") no-repeat scroll 90% center #ffffff;
}

.approver-name {
  position: relative;
  top: -.154em;
  padding-left: 0.75em;
}

.approver-date {
  position: relative;
  top: .231em;
}

.awaiting-approval {
  font-style: italic;
}

.document-line-items {
  width: 100%;
  margin-top: 2em;
}

.document-items {
  width: 100%;
  margin-top: 2em;
}

.document-line-item {
  font-weight: normal;
  font-size: 1em;
}

@media all and (max-width: 769px) {
  .document-line-items {
    /*display: none;*/
    margin-top: 0;
  }
  .document-items {
    /*display: none;*/
    margin-top: 0;
  }
}

.document-line-item:hover {
  cursor: pointer;
  background-color: #efefef;
}

.document-line-item.no-detail:hover {
  cursor: default;
  background-color: inherit;
}

.line-item-align-left {
  text-align: left;
}

.line-item-align-right {
  text-align: right;
}

.line-item-description-only {
  text-align: left;
  padding-left: 0;
}

.extended-price-only {
  text-align: right;
  padding: 1.5em 3.5em;
}

.line-items-cell > button {
  padding-bottom: 0;
}

@media all and (max-width: 769px) {
  .line-items-cell > button {
    display: none;
  }
  .line-items-cell.bpo-gl-account {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}

.line-items-cell.bpo-gldistr-amount {
  width: 16%;
}

.arrow-number {
  width: 12%;
  font-weight: bold;
}

.arrow-number.document-override {
  width: 2%;
}

@media all and (max-width: 769px) {
  .arrow-number {
    width: 5%;
    padding: 1em;
  }
}

.line-item-number-button {
  margin-left: -1em;
}

.line-item-description {
  width: 30%;
}

@media all and (max-width: 769px) {
  .line-item-description {
    width: 60%;
    padding: 1em;
  }
}

.bpo-gl-account {
  padding-left: 0;
  width: 50%;
}

.item-total {
  padding: 1.5em 1em 1.5em 3.5em;
}

.item-total-amount {
  padding: 1.5em 3.5em 1.5em 1em;
}

.entry-total {
  padding-left: 12.5%;
}

.line-item-quantity {
  width: 10%;
}

.line-item-unit {
  width: 10%;
}

.line-item-price, .line-item-ext-price {
  width: 19%;
}

@media all and (max-width: 769px) {
  .arrow-number .arrow, .line-item-quantity, .line-item-unit, .line-item-price {
    display: none;
  }
  .document-override > .arrow {
    display: block;
  }
  .line-item-quantity {
    width: 0%;
  }
  .line-item-unit {
    width: 0%;
  }
  .line-item-price {
    width: 0%;
  }
  .line-item-ext-price {
    width: 35%;
  }
}

.line-item-details-cell:first-child {
  width: 14%;
}

@media all and (max-width: 769px) {
  .line-item-details-cell:first-child {
    width: 0;
    padding: 0;
  }
}

.line-item-misc-info {
  display: table;
  width: 100%;
  margin-top: 0.5em;
}

@media all and (max-width: 769px) {
  .line-item-misc-info {
    display: block;
  }
  .bpo-gl-account .line-item-misc-info {
    margin-top: 0.5em;
  }
}

.misc-info-label {
  font-weight: bold;
}

.misc-info-label, .misc-info-data {
  padding: 0.35em 0;
  display: inline-block;
  min-height: 0.95em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.misc-info-label.left-column {
  width: 20%;
  display: table-cell;
}

.misc-info-label.gl-distr-left {
  display: table-cell;
}

@media all and (max-width: 769px) {
  .misc-info-label.left-column {
    display: block;
    float: left;
    width: 50%;
  }
  .misc-info-label.left-column.bpo-item {
    width: 25%;
    min-height: 2em;
  }
  .misc-info-label.left-column.je-override {
    display: block;
    width: 50%;
  }
  .bpo-rcv-amount-row-mobile {
    background-color: #efefef;
    border-top: 1px solid #bdbdbd;
  }
  .bpo-rvc-amount-cell-mobile {
    width: 15%;
  }
  .bpo-amounts {
    padding: 0.5em 2.5em 0.5em 3em;
  }
  .rcv-amounts {
    padding: 0.5em 1.5em 0.5em 1.5em;
  }
}

@media all and (max-width: 400px) {
  .misc-info-label.left-column.bpo-item {
    width: 35%;
  }
}

.misc-info-data.right-column {
  width: 80%;
  display: table-cell;
}

.misc-info-data.gl-distr-right {
  display: table-cell;
}

@media all and (max-width: 1134px) {
  .misc-info-data.right-column.bpo-item, .misc-info-data.right-column.bpo-amount {
    padding-left: 1em;
  }
}

@media all and (max-width: 769px) {
  .misc-info-data.right-column {
    display: block;
    float: right;
    text-align: right;
    width: 50%;
  }
  .misc-info-data.right-column.bpo-item {
    text-align: left;
    width: 75%;
    min-height: 2em;
  }
  .misc-info-data.right-column.bpo-amount {
    text-align: right;
    width: 75%;
    min-height: 2em;
  }
  .misc-info-data.right-column.je-override {
    display: block;
    float: left;
    text-align: left;
    width: 100%;
    padding-left: 1.5em;
  }
}

@media all and (max-width: 400px) {
  .misc-info-data.right-column.bpo-item, .misc-info-data.right-column.bpo-amount {
    width: 65%;
  }
}

.line-item-attribute {
  line-height: 1.25;
  display: table-row;
}

@media all and (max-width: 769px) {
  .line-item-attribute {
    display: block;
    padding: 0 2em;
  }
  .line-item-attribute.bpo-item {
    padding: 0;
  }
  .line-item-attribute.description-and-extended-price {
    background-color: #efefef;
    padding: 1em;
    margin-bottom: 0.5em;
  }
  .description-and-extended-price .misc-info-label.left-column,
  .description-and-extended-price .misc-info-data.right-column {
    width: 40%;
  }
  .description-and-extended-price .misc-info-data.right-column {
    padding-right: 1em;
  }
  .po-comments {
    padding: 0 0 1em 0;
  }
}

.arrow-number.document-override {
  width: 2%;
}

@media all and (max-width: 769px) {
  .arrow-number.document-override.rc-voucher {
    width: 8%;
  }
}

.rcv-schedule-header,
.rcv-schedule.schedule-date,
.rcv-schedule-date.controller,
.rcv-schedule-totals > .total {
  border-left: 0 none;
}

@media all and (max-width: 769px) {
  .line-items-header.rcv-schedule {
    width: 30%;
  }
  .line-items-header.rcv-schedule.schedule-date {
    width: 32%;
  }
  .line-items-header.rcv-schedule.blank {
    width: 8%;
  }
}

.rcv-schedule-cell {
  width: 16%;
}

.rcv-schedule-date {
  width: 9%;
}

@media all and (max-width: 769px) {
  .rcv-schedule-date {
    padding-left: 0.5em;
  }
}

.line-items-cell.rcv-schedule-voucher, .line-items-cell.voucher {
  background-color: #fffeea;
}

@media all and (max-width: 769px) {
  .rcv-schedule-voucher {
    display: none;
  }
}

.gl-distributions-label {
  padding-top: 0.5em;
}

button.no-styles.gl-account {
  font-size: inherit;
  padding: 0;
}

@media all and (max-width: 769px) {
  .rcv-schedule-totals > .blank {
    display: none;
  }
}

@media all and (max-width: 769px) {
  .misc-info-label.left-column.tax-codes-label {
    display: block;
    width: 100%;
  }
  .misc-info-data.right-column.tax-codes-data {
    display: block;
    width: 100%;
  }
  .misc-info-label.left-column.line-item-comments.comments-wrapper {
    background-color: #ffffff;
    border-bottom: 1px solid #d5d5d5;
    display: block;
    width: 100%;
    padding: 0;
  }
  .misc-info-label.left-column.line-item-comments {
    background-color: #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    display: block;
    width: 100%;
    padding: 1.5em 1em;
  }
  .misc-info-data.right-column.line-item-comments {
    padding: 1em;
    background-color: #efefef;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
  }
}

.blank-space, .misc-info-label.left-column.line-item-comments.comments-wrapper.blank-space {
  padding-bottom: 1em;
  background-color: #ffffff;
}

.tax-distr-line {
  display: block;
  line-height: 1.75;
}

@media all and (max-width: 769px) {
  .tax-code-and-description {
    float: left;
  }
}

.tax-distr-amount {
  margin-right: 1.5em;
}

@media all and (max-width: 769px) {
  .tax-distr-line {
    margin-left: 3em;
  }
  .tax-distr-amount {
    margin-right: 0;
  }
}

.comments {
  padding-right: 18em;
}

.gl-distr-arrow {
  margin-bottom: 0.2em;
  margin-right: 0.5em;
}

@media all and (max-width: 769px) {
  .arrow.gl-distr-arrow.arrow-up {
    position: relative;
    top: .462em;
  }
}

.gl-account {
  display: inline-block;
  margin-top: 1em;
}

@media all and (max-width: 769px) {
  .gl-distribution-container {
    padding-left: 4em;
  }
}

.gl-distribution-number.masked:hover {
  cursor: default;
}

.gl-distr-details {
  padding: 1em 0 0 1.75em;
  display: none;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.gl-distr-details .misc-info-label {
  padding-right: 0.5em;
}

@media all and (max-width: 769px) {
  .gl-distr-details {
    padding-left: 6em;
  }
}

.gl-distr-row {
  display: table-row;
  width: 100%;
}

#mobile-line-item-details {
  width: 100%;
  padding: 2em;
}

#mobile-line-item-details .line-item-details-cell:first-child {
  display: none;
}

#overlay-panel-clone {
  visibility: hidden;
}

/* ---------------------------------------------------- */
/* /////              Document View              ///// */
/* ---------------------------------------------------- */
/* Cost center filter */
#cost-centers-filter-wrapper {
  height: 100%;
  position: absolute;
  left: -400px;
  width: 0;
  top: 0;
}

#cost-centers-filter-wrapper:not(.fixed) {
  margin-top: 0.75rem;
}

#active-accounts-no-activity {
  height: 3em;
}

.transition {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.filter-delete {
  position: absolute;
  right: 0.5rem;
  top: .45rem;
}

.active-filter #cost-centers-filter-wrapper.fixed {
  position: fixed;
  overflow-y: auto;
}

.active-filter #cost-centers-filter-wrapper:not(.fixed) {
  margin-top: 0.75rem;
}

#cost-centers-filter-wrapper.fixed #cost-centers-filter {
  left: 0;
}

#cost-centers-filter {
  float: left;
  width: 0;
  left: 0;
  background-color: #ffffff;
  /*margin-bottom: 50px;*/
  position: relative;
  z-index: 1;
  display: none;
}

.active-filter #cost-centers-filter {
  width: 100%;
  display: block;
  border: 1px solid #767676;
}

.active-filter #cost-centers-filter-wrapper {
  left: 0;
  width: 100%;
}

.field-validation-error {
  color: #cb0004;
}

.pad-top {
  padding-top: 1em;
}

.column-45-per {
  width: 45%;
}

html.active-filter:not(.no-auth) #cost-centers-container {
  display: none;
}

.hidden-for-mobile-only {
  display: none;
}

@media all and (min-width: 769px) {
  #cost-centers-filter-wrapper {
    position: absolute;
  }
  #cost-centers-filter {
    left: 0;
  }
  .active-filter #cost-centers-filter {
    width: 25em;
    display: block;
    border: 1px solid #767676;
  }
  .active-filter #cost-centers-filter-wrapper {
    left: 0.75rem;
    position: absolute;
    width: 25.5em;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .active-filter #cost-centers-filter-wrapper.fixed {
    left: 4.5rem;
  }
  html.active-filter:not(.no-auth) #cost-centers-container {
    display: block;
  }
  .hidden-for-mobile-only {
    display: block;
  }
}

@media all and (min-width: 1200px) {
  html.active-filter:not(.no-auth) #cost-centers-container,
  html.active-filter:not(.no-auth) #object-data-container {
    margin-left: 26em;
  }
  html.active-filter:not(.no-auth) footer {
    padding-left: 26em;
  }
}

#cost-centers-filter > h3 {
  padding: 1em 1.15em;
  background-color: #E1E1E1;
}

.filter-components-container {
  padding: 0 1.5em 1em 1.5em;
}

#default-filters-container ul {
  max-height: 10rem;
  overflow-y: auto;
}

#cost-centers-filter li {
  border-bottom: 1px solid #808080;
  padding-bottom: 1.5em;
}

#cost-centers-filter li.esg-dropdown__menu-item {
  line-height: 1rem;
  padding-top: .75rem;
  padding-bottom: 1rem;
  min-height: 1rem;
  position: relative;
}

#cost-centers-filter li.esg-dropdown__menu-item a:first-child {
  padding-right: 3em;
}

#saved-filters-ddl {
  z-index: 1001;
  width: 100%;
}

.normal-white-space {
  white-space: normal;
}

#cost-centers-filter li.esg-dropdown__menu-item.inline-block:last-child {
  border: none;
}

.cost-centers-filter-controller {
  padding: 1.5em 0 0 0;
  font-size: 1.1em;
}

.cost-center-filter-options {
  padding: 1.5em;
}

.cost-centers-filter-toggle-button {
  float: right;
  margin-right: 0.25em;
}

.filter-help-icon {
  position: absolute;
  right: 2.2em;
  top: 1.3em;
}

.export-button__label,
.filter-button__label {
  display: none;
}

@media only screen and (min-width: 48rem) {
  .export-button__label,
  .filter-button__label {
    display: inherit;
  }
}

.pointer {
  cursor: pointer;
}

.general-ledger-component-input-container {
  display: none;
  position: relative;
}

#saved-filters-container,
#saved-filters-dropdown {
  width: 100%;
}

#saved-filters-container {
  padding-top: 1em;
}

.margin-top-and-bottom {
  margin: 1em 0 1em 0;
}

#saved-filters-wrapper {
  background-color: #e2e2e2;
  padding: 1em 1.25em 1em 1.4375em;
}

.default-criteria-button {
  text-align: right;
  padding-top: 0.5em;
}

.default-criteria-is-visible {
  display: block;
}

.more-wide {
  width: 50%;
  margin-top: 1em;
}

.overflow-visible {
  overflow: visible;
}

.display-block {
  display: block;
}

#filter-saved-criteria-label {
  margin: .625rem 0 0;
  color: #333333;
  font-family: open_sanssemibold,Open Sans,Helvetica,sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
}

.margin-left-1 {
  margin-left: 1em;
}

.margin-right-1-5 {
  margin-right: 1.5em;
}

.expanded {
  background-color: #f4f4f4;
  color: #783084;
}

.component-input-tooltip {
  background-position: right 10px center;
  height: 16px;
  width: 16px;
  float: right;
  margin-right: 0.75em;
  position: absolute;
  top: 1.5em;
  right: 1.75em;
}

/*------------- ToolTip Styles ----------------*/
#tooltip {
  font-size: 0.875em;
  text-align: center;
  text-shadow: 0 1px rgba(0, 0, 0, 0.5);
  line-height: 1.5;
  color: #ffffff;
  background: #333333;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.8)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
  background: -ms-radial-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
  background: linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 10;
  padding: 0.615em 0.879em 0.44em 0.879em;
}

#tooltip:after {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #333333;
  border-top-color: rgba(0, 0, 0, 0.7);
  content: '';
  position: absolute;
  left: 50%;
  bottom: -.615em;
  margin-left: -.615em;
}

#tooltip.top:after {
  border-top-color: transparent;
  border-bottom: 10px solid #333333;
  border-bottom-color: rgba(0, 0, 0, 0.6);
  top: -1.758em;
  bottom: auto;
}

#tooltip.left:after {
  left: .879em;
  margin: 0;
}

#tooltip.right:after {
  right: .879em;
  left: auto;
  margin: 0;
}

/*----- Filter Sidebar -------*/
.column-two > .section-wrapper {
  background-color: #ffffff;
}

.column-two .section-wrapper {
  border-right: 0 none;
}

#dp-monolith {
  clear: both;
  position: relative;
  min-height: 45rem;
}

/* Responsive Filter Menu */
#dp-monolith .column-two {
  width: inherit;
}

.grouping-wrapper {
  position: relative;
}

.filter-button {
  display: inline-block;
  float: none;
  margin-right: 0;
  min-height: 2.3em;
}

#new-filter-dropdown {
  right: 0;
  margin-top: 0;
  text-align: left;
  background: none;
}

@media only screen and (min-width: 48rem) {
  #new-filter-dropdown {
    background: url("./Images/filter-menu-bg.png") no-repeat 10% 0.143em transparent;
  }
}

#new-filter-dropdown.column-two .section-wrapper {
  border: 8px solid #6c6c6c;
  height: auto;
  min-width: 197px;
  margin-top: .93em;
  overflow-y: auto;
  -moz-box-shadow: 3px 3px 3px #444444;
  -webkit-box-shadow: 3px 3px 3px #444444;
  box-shadow: 3px 3px 3px #444444;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

/*----- Responsive Styles -----*/
@media all and (max-width: 769px) {
  #dp-monolith .column-two {
    display: none;
  }
  #dp-monolith .column-seven {
    width: 100%;
  }
  #groups {
    background-color: #ffffff;
    padding: 0;
  }
  #groups .group {
    width: 100%;
    float: none;
  }
}

.itemAmount-red {
  color: #cb0004;
}

.itemAmount-red::before {
  content: "-";
}

.itemCreditTotalAmount-red {
  color: #cb0004;
}

/* Landing page */
.costCenters_expandednavlink {
  background: url("../Content/Images/budget.png") no-repeat 5px 1px;
  padding-left: 4.62em;
}

.projects_expandednavlink {
  background: url("../../ProjectsAccounting/Content/Images/projects-accounting.png") no-repeat 5px 1px;
  padding-left: 4.62em;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .costCenters_expandednavlink {
    background: url("../Content/Images/budget@2x.png") no-repeat 5px 1px;
    background-size: 3.5em;
  }
  .projects_expandednavlink {
    background: url("../../ProjectsAccounting/Content/Images/projects-accounting@2x.png") no-repeat 5px 1px;
    background-size: 3.5em;
  }
}

.cost-center-details__total-row,
.project-line-item__total-row,
.object-view__total-row {
  background-color: #f4f4f4;
}

.cost-center-details thead.offScreen + tbody tr:first-child {
  border-top: 0 none;
}

.cost-center-details tr tr {
  border-bottom: 1px solid #bdbdbd;
}

.cost-center-details tr tr:last-child {
  border-bottom: 0 none;
}

th.cost-center-controller,
td.cost-center-controller,
th.object-view-controller,
td.object-view-controller {
  width: 28%;
  padding-left: 1.35em;
}

th.cost-center-controller.non-pooled-account,
td.cost-center-controller.non-pooled-account,
th.object-view-controller.non-pooled-account,
td.object-view-controller.non-pooled-account {
  padding-left: 4.45em;
}

.cost-center-financial-health-indicator {
  padding-right: 1.35em;
  width: 8%;
}

.cost-center-budget,
.cost-center-actuals,
.cost-center-encumbrances {
  width: 14%;
}

.cost-center-budget-remaining {
  width: 12%;
}

.cost-center-percent-spent {
  width: 10%;
}

.cost-center-budget,
.cost-center-actuals,
.cost-center-encumbrances,
.cost-center-percent-spent,
.cost-center-financial-health-indicator,
.cost-center-details__total-row {
  display: none;
}

@media only screen and (min-width: 48rem) {
  .cost-center-budget {
    display: table-cell;
  }
  .cost-center-details__total-row {
    display: table-row;
  }
}

@media only screen and (min-width: 62rem) {
  .cost-center-actuals,
  .cost-center-encumbrances {
    display: table-cell;
  }
}

@media only screen and (min-width: 75rem) {
  .cost-center-percent-spent,
  .cost-center-financial-health-indicator {
    display: table-cell;
  }
}

.cost-center-subtotal {
  display: inline;
}

.align-right {
  text-align: right;
}

.collapsible-table tbody tr:hover {
  background-color: #d5d5d5;
  cursor: pointer;
}

.collapsible-table tr th:hover {
  cursor: default;
}

.collapsible-table tr:hover .arrow {
  border-top: 2px solid #444444;
  border-right: 2px solid #444444;
}

.collapsible-item {
  border: 0 none;
}

.collapsible-items-row {
  display: none;
}

.collapsible-items-table {
  width: 100%;
  border: 0 none;
}

.collapsible-items-row > td {
  padding: 0;
}

.collapsible-item ul {
  list-style-type: none;
  margin: 0.5em 0 0.4em 0.4em;
}

.collapsible-item ul li {
  line-height: 1.75;
}

.collapsible-item td:first-child {
  padding-left: 4.45em;
  padding-right: 0;
}

.collapsible-item tr:last-child td {
  border-bottom: 0;
}

.collapsible h4 {
  display: inline-block;
  text-transform: none;
}

.align-right {
  text-align: right;
}

a.back-link {
  text-decoration: none;
}

div.pooled-account-icon {
  background-color: gray;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: white;
  width: 2em;
  height: 2em;
  margin-right: 1.1em;
  text-align: center;
  vertical-align: middle;
  line-height: 2em;
  float: left;
}

td.cost-center-controller.umbrella,
td.cost-center-controller.poolee {
  padding: 1.35em;
  padding-right: 0;
}

td.cost-center-controller.umbrella td,
td.cost-center-controller.poolee td {
  padding: 0;
  width: auto;
}

.actuals-budget-caption .amount-pending-posting,
.actuals-budget-caption .estimated-open-balance,
.actuals-budget-caption .closing-year-amount {
  background-color: #edeaff;
  margin: 1.143em -0.857em -1.143em -0.857em;
  padding: 1.143em 0.857em;
  font-weight: normal;
  border-top: solid 1px #bdbdbd;
}

.actuals-budget-caption .amount-pending-posting:nth-child(2),
.actuals-budget-caption .estimated-open-balance:nth-child(2),
.actuals-budget-caption .closing-year-amount:nth-child(2) {
  border-top: none;
}

@media all and (max-width: 769px) {
  .actuals-budget-caption {
    padding: 0;
  }
  .actuals-budget-caption .amount-pending-posting,
  .actuals-budget-caption .estimated-open-balance,
  .actuals-budget-caption .closing-year-amount {
    margin: 0;
  }
}

use {
  pointer-events: none;
}

.budget-column,
.actuals-column,
.encumbrances-column,
.percent-processed-column,
.financial-health-column,
.object-view__net-row {
  display: none;
}

@media only screen and (min-width: 48rem) {
  .budget-column {
    display: table-cell;
  }
  .object-view__net-row {
    display: table-row;
  }
}

@media only screen and (min-width: 62rem) {
  .actuals-column,
  .encumbrances-column {
    display: table-cell;
  }
}

@media only screen and (min-width: 75rem) {
  .percent-processed-column,
  .financial-health-column {
    display: table-cell;
  }
}
