﻿<!-- Copyright 2014-2017 Ellucian Company L.P. and its affiliates -->
@section scripts {
    @Scripts.Render("~/bundles/financialaidhomescripts")
}

<div id="home-header">
    <div class="clear-group">
        <div id="home-greeting">
            <h2>@Resources.FinancialAidHome.PageTitle</h2>
            <p>@Resources.FinancialAidHome.PageDetail</p>
        </div>
        </div>
                <div class="home-page-award-bar clear-group" data-bind="visible: showUI()">
                    <!-- Year selector bar with counselor info -->
                    @Html.Partial("_CounselorContactAndYearSelector")
                    <!-- ko ifnot: HasPrivacyRestriction() -->
                    <div data-bind="if: hasAwardYears">
                        <!-- Sap message if any -->
                        <!-- ko with: SAPStatus() -->
                        <div id="sap-message" data-bind="visible: $root.showUI()">
                            @Html.Partial("_SapStatusMessage")
                        </div>
                        <!-- /ko -->
                        <div data-bind="visible: areChecklistItemsAssigned()">
                            <!-- ko with: selectedChecklistForYear() -->
                            <div id="home-step1" class="home-step" data-bind="with: $data.ActiveChecklistItem, css: $root.homeStepStyle()">
                                <!-- ko if: Link() -->
                                <a data-bind="attr: { href: $data.Link, target: $data.Target, 'disabled': $data.IsReadOnly() }">
                                    <!-- ko template: {name: 'active-checklist-item'} -->
                                    <!-- /ko -->
                                </a>
                                <!-- /ko -->
                                <!-- ko ifnot: Link() -->
                                <div>
                                    <!-- ko template: {name: 'active-checklist-item'} -->
                                    <!-- /ko -->
                                </div>
                                <!-- /ko -->
                            </div>
                            <!-- /ko -->
                            <!-- ko if: $root.displayAverageAwardPackage() -->
                            <div id="home-step2" class="home-step" data-bind="css: $root.homeStepStyle()">
                                <!-- ko with: selectedAverageAwardPackageForYear() -->
                                <!-- ko if: $data.IsAverageAwardPackageInfoLinkPresent -->
                                <a href="#">
                                    <!-- ko template: {name: 'average-award-package-section-template', data: $data } -->
                                    <!-- /ko -->
                                </a>
                                <!-- /ko -->
                                <!-- ko ifnot: $data.IsAverageAwardPackageInfoLinkPresent -->
                                <div class="clear-group">
                                    <!-- ko template: {name: 'average-award-package-section-template', data: $data } -->
                                    <!-- /ko -->
                                </div>
                                <!-- /ko -->
                                <!-- /ko -->
                                <!-- ko if: !selectedAverageAwardPackageForYear() -->
                                <div data-bind="css: $root.homeStepStyle()">
                                    <div>
                                        <div class="img group-documents"></div>
                                        <h3>@Resources.FinancialAidHome.AverageAwardPackageTitle</h3>
                                        <p>@Resources.FinancialAidHome.NoAverageAwardPackageMessage</p>

                                    </div>
                                </div>
                                <!-- /ko -->
                            </div>
                            <!-- /ko -->
                            <!-- ko if: displayStudentAccountSummary() -->
                            <div id="home-step3" class="home-step" data-bind="with: StudentAccountSummary(), css: $root.homeStepStyle()">
                                <!-- ko ifnot: $root.IsAdminView() -->
                                <a href='@Url.Action("Index", "AccountSummary", new { area = "Finance" })' target="@Resources.FinancialAidShared.ExternalLinkTarget">
                                    <!-- ko template: {name: 'student-account-summary-template', data: $data } -->
                                    <!-- /ko -->
                                </a>
                                <!-- /ko -->
                                <!-- ko if: $root.IsAdminView() -->
                                <div>
                                    <!-- ko template: {name: 'student-account-summary-template', data: $data } -->
                                    <!-- /ko -->
                                </div>
                                <!-- /ko -->
                            </div>
                            <!-- /ko -->
                        </div>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
            <!-- Home Page container -->
            <!-- The display: none and visible: true components here are a work-around for the fact that the mark-up is sometimes visible or
                    "flickers" when the page is first opened if Knockout has not completed its legwork for applying bindings-->
<!-- ko ifnot: HasPrivacyRestriction() -->
<div class="column-nine" id="home-page" style="display: none" data-bind="visible: true">
    <spinner params="isVisible: !showUI(), message: '@Resources.FinancialAidHome.LoadingDataSpinnerMessage'">
    </spinner>
    <div class="content" data-bind="with: Configuration(), visible: showUI() && !Configuration().IsConfigurationComplete()">
        <message params="isVisible: true, message: '@Resources.FinancialAidHome.ConfigurationNotCompleteMessage'">
        </message>
        <!-- ko if: $root.isAdmin() -->
        <!-- ko foreach: MissingConfigurationMessages() -->
        <message params="isVisible: true, message: $data"></message>
        <!-- /ko -->
        <!-- /ko -->
    </div>
    <!-- ko if: showNotification() -->
    <div class="content">
        <message params="isVisible: true, message: notificationMessage()"></message>
    </div>
    <!-- /ko -->
    <div data-bind="if: hasAwardYears && selectedYear().AreChecklistItemsAssigned">
        <div data-bind="visible: showUI()">
            <div class="content home-wrapper clear-group">
                <ul class="mobile-nav-tabs">
                    <li>
                        <a data-bind="attr: { 'href' : '#checklist-container' }">@Resources.FinancialAidHome.ChecklistTableHeader</a>
                    </li>
                    <li data-bind="if: selectedYear().Counselor">
                        <a data-bind="attr: { 'href' : '#counselor-container' }">@Resources.FinancialAidHome.MyFinancialAidCounselorLabel</a>
                    </li>
                    <li data-bind="if: areLinksReceived">
                        <a data-bind="attr: { 'href' : '#resources-container' }">@Resources.FinancialAidHome.AdditionalResources</a>
                    </li>
                    <li data-bind="if: studentHasLoanHistory">
                        <a data-bind="attr: { 'href' : '#loans-container' }">@Resources.FinancialAidHome.TotalLoanAmountHeader</a>
                    </li>
                    <li data-bind="visible: displayPellLEUPercentage">
                        <a data-bind="attr: { 'href' : '#pell-leu-container' }">@Resources.FinancialAidHome.PellLEULabel</a>
                    </li>
                </ul>

                <div id="home-left">
                    <div id="checklist-container" class="frame-sectiontable">
                        <table class="checklist-content">
                            <caption>@Resources.FinancialAidHome.ChecklistTableHeader</caption>
                            <thead class="offScreen">
                                <tr>
                                    <th>@Resources.FinancialAidHome.ChecklistActionHeader</th>
                                    <th>@Resources.FinancialAidHome.ChecklistDescriptionHeader</th>
                                </tr>
                            </thead>
                            <tbody data-bind="with: selectedChecklistForYear()">
                                <!-- ko foreach: $data.ChecklistItems -->
                                <tr data-bind="css: $data.actionStyle">
                                    <td class="action">
                                        <span data-bind="css: $data.actionStyle"></span>
                                        <span class="checklist-status-text" data-bind="text: Status() == 'Complete' ? '@Resources.Checklist.CompleteStatus' : Status() == 'Incomplete' ? '@Resources.Checklist.IncompleteStatus' : Status() == 'InProgress' ? '@Resources.Checklist.InProgressStatus' : '@Resources.Checklist.NotAvailableStatus' "></span>
                                    </td>
                                    <!--<td class="action-description" data-bind="css: $data.linkStyle ">-->
                                    <td class="action-description">
                                        <a data-bind="attr: { href: Link(), target: $data.Target, 'disabled': IsReadOnly() }, visible: IsActiveItem() && Link()">
                                            <span data-bind="text: Description()"></span>
                                            <p data-bind="visible: Type() == 'MPN' && Status() == 'Complete' && ExpirationDate() != null">
                                                @Resources.Checklist.MpnExpiration
                                                <span data-bind="text: ExpirationDate()"></span>
                                            </p>
                                        </a>

                                        <div class="inactiveChecklistItemLink" data-bind="visible: !IsActiveItem() || !Link(), css: {'inactiveChecklistItemLink': !IsActiveItem(), 'action-description': IsActiveItem() && !Link()}">
                                            <span data-bind="text: Description()"></span>
                                            <p data-bind="visible: Type() == 'MPN' && Status() == 'Complete' && ExpirationDate() != null">
                                                @Resources.Checklist.MpnExpiration
                                                <span data-bind="text: ExpirationDate()"></span>
                                            </p>
                                        </div>

                                    </td>
                                </tr>
                                <!-- /ko -->
                            </tbody>
                        </table>
                    </div>
                    <div id="loans-container" class="frame-sectiontable total-loans" data-bind="if: studentHasLoanHistory">
                        <div class="loans">
                            <div data-bind="with: $root.StudentLoansSummary">
                                <table class="loans-content">
                                    <caption>@Resources.FinancialAidHome.TotalLoanAmountHeader</caption>
                                    <thead class="offScreen">
                                        <tr>
                                            <th>@Resources.FinancialAidHome.LoanHistorySchoolHeader</th>
                                            <th>@Resources.FinancialAidHome.LoanHistoryAmountHeader</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- ko foreach: $data.LoanHistory -->
                                        <tr>
                                            <td class="half-width-col"><span class="item" data-bind="text: SchoolName"></span></td>
                                            <td><span data-bind="currency: TotalLoanAmount, precision: 0" class="item"></span></td>
                                        </tr>
                                        <!-- /ko -->
                                        <!-- ko if: (OtherLoansAmount() > 0) -->
                                        <tr>
                                            <td class="half-width-col">@Resources.FinancialAidHome.OtherLoansLoanHistoryLabel</td>
                                            <td><span data-bind="currency: OtherLoansAmount, precision: 0" class="item"></span></td>
                                        </tr>
                                        <!-- /ko -->
                                        <tr>
                                            <td class="half-width-col">
                                                <span class="item bold">@Resources.FinancialAidHome.TotalLoanAmountLoanHistoryLabel</span>
                                            </td>
                                            <td>
                                                <span class="item bold" data-bind="currency: $data.AggregateTotalLoanAmount, precision: 0"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="pell-leu-container" class="frame-sectiontable" data-bind="if: displayPellLEUPercentage">
                        <table>
                            <caption>@Resources.FinancialAidHome.PellLEULabel</caption>
                            <thead class="offScreen">
                            <th>@Resources.FinancialAidHome.PellLEULabel</th>
                            <th>@Resources.FinancialAidHome.PellLEUPercentageOffscreenText</th>
                            </thead>
                            <tr>
                                <td class="half-width-col">@Resources.FinancialAidHome.PellLEULabel</td>
                                <td><span data-bind="percentage: PellLifetimeEligibilityUsedPercentage(), precision: 3"></span></td>
                            </tr>
                        </table>
                    </div>
                    <div id="counselor-container" class="frame-sectiontable counselor" data-bind="with: selectedYear().Counselor">
                        <table class="counselor-details">
                            <caption>@Resources.FinancialAidHome.MyFinancialAidCounselorLabel</caption>
                            <thead class="offScreen">
                                <tr>
                                    <th>@Resources.FinancialAidHome.MyFinancialAidCounselorLabel</th>
                                    <!-- ko if: PhoneNumber() -->
                                    <th>@Resources.FinancialAidShared.PhoneNumberOffscreenText</th>
                                    <!-- /ko -->
                                    <!-- ko if: EmailAddress() -->
                                    <th>@Resources.FinancialAidShared.EmailOffscreenText</th>
                                    <!-- /ko -->
                                </tr>
                            </thead>
                            <tr>
                                <td data-bind="text: Name"></td>
                                <!-- ko if: PhoneNumber() -->
                                <td>
                                    <span class="offScreen">@Resources.FinancialAidShared.PhoneNumberOffscreenText</span>
                                    <a class="counselor-phone" data-bind="phone: PhoneNumber"></a>
                                    <!-- ko if: Extension -->
                                    @Resources.FinancialAidHome.ExtensionLabel&nbsp;<span data-bind="text: Extension()"></span>
                                    <!-- /ko -->
                                </td>
                                <!-- /ko -->
                                <!-- ko if: EmailAddress() -->
                                <td>
                                    <a class="counselor-email" data-bind="mailto: { email: EmailAddress, label: EmailAddress}, text: IsCounselorInfo() ? '@Resources.FinancialAidShared.ContactFACounselorLabel': '@Resources.FinancialAidShared.ContactFAOfficeLabel' "></a>
                                </td>
                                <!-- /ko -->
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- ko if: areLinksReceived() -->
                <div id="home-right">
                    <div id="resources-container" class="frame-sectiontable">
                        <div class="esg-list-group">
                            <div class="esg-list-group__header">
                                <h4 class="esg-list-group__title">@Resources.FinancialAidHome.AdditionalResources</h4>
                            </div>
                            <div class="esg-list-group__subheader" data-bind="if: $root.areFormLinksReceived()">
                                <h5 class="esg-list-group__title">@Resources.FinancialAidHome.FormLinks</h5>
                            </div>
                            <!-- ko if: $root.areFormLinksReceived() -->
                            <!-- ko foreach: $root.FormLinks-->
                            <a class="esg-list-group__item" data-bind="externalLink: { href: LinkUrl(), label: Title() }">
                            </a>
                            <!-- /ko -->
                            <!-- /ko -->
                            <div class="esg-list-group__subheader" data-bind="if: $root.areHelpfulLinksReceived()">
                                <h5 class="esg-list-group__title">@Resources.FinancialAidHome.HelpfulLinks</h5>
                            </div>
                            <!-- ko if: $root.areHelpfulLinksReceived() -->
                            <!-- ko foreach: $root.HelpfulLinks-->
                            <a class="esg-list-group__item" data-bind="externalLink: { href: LinkUrl(), label: Title() }">
                            </a>
                            <!-- /ko -->
                            <!-- /ko -->
                        </div>
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>
<!-- /ko -->

            <!-- Average award package section template -->
            <script type="text/html" id="average-award-package-section-template">
                <div class="group-eligibility">
                    <canvas id="award-package-chart" width="90" height="90" data-bind="chart: $data"></canvas>
                    <h3>@Resources.FinancialAidHome.AverageAwardPackageTitle</h3>
                    <p>@Resources.FinancialAidHome.AverageAwardPackageDetails</p>
                    <ul class="award-chart-list">
                        <li class="chart-square-loans">
                            <span data-bind="currency: $data.AverageLoanAmount, precision: 2"></span>
                            @Resources.FinancialAidHome.AverageLoansLabel
                        </li>
                        <li class="chart-square-scholarships">
                            <span data-bind="currency: $data.AverageScholarshipAmount, precision: 2"></span>
                            @Resources.FinancialAidHome.AverageScholarshipsLabel
                        </li>
                        <li class="chart-square-grants">
                            <span data-bind="currency: $data.AverageGrantAmount, precision: 2"></span>
                            @Resources.FinancialAidHome.AverageGrantsLabel
                        </li>
                    </ul>
                </div>
            </script>

            <!-- Active Checklist Item section template -->
            <script type="text/html" id="active-checklist-item">
                <div>
                    <div class="img" data-bind="css: $data.stepStyle"></div>
                    <!-- css data step style here in div -->
                    <h3 data-bind="text: $data.Title"></h3>
                    <p data-bind="text: $data.Summary"></p>
                    <!-- ko if: $data.Link -->
                    <p id="bubble-link">
                        <u data-bind="text: $data.Type() == 'Application' ? null : $data.Description"></u>
                    </p>
                    <!-- /ko -->
                    <!-- ko ifnot: $data.Link -->
                    <p>
                        <span data-bind="text: $data.Type() == 'Application' ? null : $data.Description"></span>
                    </p>
                    <!-- /ko -->
                </div>
            </script>

            <!-- Account Summary Step template -->
            <script type="text/html" id="student-account-summary-template">
                <div class="column-nine clear-group">
                    <div class="img group-account-summary"></div>
                    <h3>@Resources.FinancialAidHome.StudentAccountSummaryHomeStepHeader</h3>
                    <div class="account-summary">
                        <div class="layout-table">
                            <div class="layout-table-body">
                                <div class="layout-table-row">
                                    <span class="layout-table-cell" data-bind="text: studentAccountSummaryAmountDueAndDate()"></span>
                                    <span class="layout-table-cell text-align-right" data-bind="currency: AmountDue(), negativePattern: 1"></span>
                                </div>
                                <div class="layout-table-row">
                                    <span class="layout-table-cell">@Resources.FinancialAidHome.StudentAccountSummaryAmountOverdue</span>
                                    <span class="layout-table-cell text-align-right overdue-amount" data-bind="currency: AmountOverdue(), negativePattern: 1"></span>
                                </div>
                                <div class="layout-table-row">
                                    <span class="layout-table-cell bold">@Resources.FinancialAidHome.StudentAccountSummaryTotalAmountDue</span>
                                    <span class="layout-table-cell text-align-right bold" data-bind="currency: TotalAmountDue(), negativePattern: 1"></span>
                                </div>
                            </div>
                        </div>
                        <u class="layout-table-cell" data-bind="css: { 'inactive-link': $root.IsAdminView()} ">@Resources.FinancialAidHome.StudentAccountSummaryLinkText</u>
                    </div>
                </div>
            </script>