﻿<!-- /* Copyright 2017 Ellucian Company L.P. and its affiliates. */-->
<div class="esg-dropdown"> 
    <div class="esg-button-group" role="group" aria-label="button group">
        <div class="esg-button-group__item" role="group">
            <button class="esg-button esg-button--secondary esg-dropdown__toggle" type="button" data-bind="attr: {id: buttonId}, click: toggleDropdown, clickBubble: false, css: openClass">
                <span class="float-left" data-bind="text: selectedText"></span>
                <span class="float-right esg-dropdown__icon esg-dropdown__icon--right esg-icon__container" aria-hidden="True">
                    <svg class="esg-icon esg-icon--small esg-icon--light" data-bind="css: iconClass">
                        <use xlink:href="#icon-arrow"></use>
                    </svg>
                </span>
            </button>
            <ul class="esg-dropdown__menu" data-bind="foreach: dropdownItems, attr: {'aria-labelledby': buttonId}">
                <li class="esg-dropdown__menu-item esg-dropdown__link" data-bind="text: displayText, click: selectItem, clickBubble: false"></li>
            </ul>
        </div>
    </div>    
</div>

<!-- ko template: {afterRender: postProcess} -->
<!-- /ko -->




