﻿@*Copyright 2012-2016 Ellucian Company L.P. and its affiliates.*@

@section Styles
{
    @Styles.Render("~/Areas/Planning/Content/PlanningBundlecss")
}

@section Scripts
{
    @Scripts.Render("~/bundles/transcriptsindexscripts")
}

<!-- everything below the sub-nav bar -->
<div id="page-description" class="esg-page-header">
    <h2 class="esg-page-header__title">@Resources.Transcripts.PageDescription</h2>
</div>

<div id="dp-monolith" class="column-nine">
    <!-- Spinner -->
    <spinner id="spinner" params="isVisible: isLoading(), message: stringPlanningHomeLoadingDataSpinnerMessage"></spinner>

    @Html.Partial("UnofficialTranscriptsPartial")
</div>
