﻿@*Copyright 2012-2014 Ellucian Company L.P. and its affiliates.*@
<div id="unofficial-transcripts" class="section-wrapper section-wrapper-top-border" style="display: none;" data-bind="visible: isLoaded">
    <div class="section-contents">
        <!-- ko if: transcriptsAreRestricted -->
        <div class="errorArea">
            <ul data-bind="foreach: transcriptRestrictionMessages">
                <li><span data-bind="html: Description"></span></li>
            </ul>
        </div>
        <!-- /ko -->
        <!-- ko if: !transcriptsAreRestricted() -->
        <message params="isVisible: true, message: '@Resources.Transcripts.UiUnofficialTranscriptMessage', type: 'warning'"></message>

        <div class="esg-list-group" data-bind="foreach: transcriptGroupings">
            <a class="esg-list-group__item pdf-link" data-bind="attr: { 'aria-label': transcriptDownloadPdfLinkLabel.format($data.Id), 'href': getUnofficialTranscriptActionUrl.format($data.Id, $root.isProxyUser() === true ? advisingViewModelInstance.Advisee.Id() : '') }">
                <span data-bind="text: transcriptDownloadPdfLinkLabel.format($data.Description)"></span>
                <span class="offScreen">@Resources.Transcripts.PdfOffScreen</span>
            </a>
        </div>
        <!-- /ko -->
    </div>
</div>