﻿<div class="esg-page-header">
    <h2 class="esg-page-header__title" data-bind="resx: 'TimeSheet.TimeSheetPageDescription'"></h2>
</div>

<div class="column-nine">
    <!-- ko if: loadError() -->
    <div class="column-eight column-eight-sm">
        <div class="esg-alert esg-alert--fluid esg-alert--info" role="alert">
            <span class="esg-alert__icon-wrapper">
                <span class="esg-alert__icon esg-icon__container" aria-hidden="True">
                    <svg class="esg-icon esg-icon--info-dark">
                        <use xlink:href="#icon-info"></use>
                    </svg>
                </span>
            </span>
            <div class="esg-alert__message">
                <span data-bind="resx: 'TimeSheet.SomethingWentWrongError'"></span>
            </div>
        </div>
    </div>
    <!-- /ko -->

    <spinner params="isVisible: !payCyclesAreLoaded() && !loadError()"></spinner>

    <!-- ko if: payCyclesAreLoaded()  -->

    <div class="esg-tab">
        <ul class="esg-tab__menu" role="tablist" data-tabs="tabs">
            <!-- ko foreach: PayCycles-->
            <li class="esg-tab__menu-item" role="presentation" data-bind="css: {'esg-is-active': $parent.isSelected($data)}">
                <a class="esg-tab__link" data-toggle="tab" data-bind="text: Description, attr: { href: $parent.formatPayCycleHash($data) }"></a>
            </li>
            <!-- /ko -->
        </ul>
        <div class="esg-tab__content">
            <div class="esg-tab__panel esg-is-active" id="">
                <time-sheet-link-collection params="payCycleId: payCycleId">

                </time-sheet-link-collection>
            </div>
        </div>
    </div>

    <!--<pay-cycle-selector params="payCycleId: payCycleId, PayCycles: PayCycles">

    </pay-cycle-selector>-->
    <!-- /ko -->
</div>
