﻿@import '_colors.scss';
@import '_variables.scss';

timecard-collection {
    .section-header {
        .back {
            padding: 1em;
        }
    }

    /*.total-hours {
        color: $color-primary-45;
    }*/
}