﻿<!--/* Copyright 2016-2017 Ellucian Company L.P. and its affiliates. */-->


<section class="timecard-collection-section" data-bind="let: { timecardCollection: $data }">

    <message params="isVisible: Timecards().length < 1, message: noActivePositionsMessage, type: 'info'"></message>

    <!-- ko if: Timecards().length > 0 -->

    <action-bar params="isMobile: $root.isMobile,
                mobileDaySelectorDates: availableDays,
                selectedDate: selectedDay,
                previousCollectionDateRange: previousDateRange,
                nextCollectionDateRange: nextDateRange">
    </action-bar>



    <!-- ko foreach: { data: Timecards, as: 'timecard' } -->

    <collapsible-group params="titleText: TitleText,
                subtitleText: SubtitleText,
                isOpen: timecardCollection.collapsibleGroupStateInfo[$index()].collapsibleIsOpenObs,
                tertiaryContent: { nodes: timecardCollection.headerComponentMarkup }">

        <timecard class="block" data-bind="attr: { id: 'TimecardBody' + $index() }"
                  params="timecardModel: timecard,
                  days: timecardCollection.daysInWeek,
                  selectedDayObservable: timecardCollection.selectedDay,
                  employeeName: timecardCollection.employeeNameDisplay">
        </timecard>

    </collapsible-group>


    <!-- /ko -->
    <!--Weekly totals -->
    <totals params="timeSheetDays: collectionDayModules,
            startDate: StartDate,
            endDate: EndDate,
            payCycleId: PayCycleId,
            days: daysInWeek,
            selectedDay: selectedDay">

    </totals>
    <!-- /ko -->
</section>
