﻿<!-- Copyright 2015 Ellucian Company L.P. and its affiliates -->
<!-- ko with: $root.FinancialAidCounselor -->
<section id="fa-counselor-section" class="sap-sections-container section-wrapper no-section-mobile-padding column-four sap-section" data-bind="visible: !$root.isSAPHistoryItemView(), css: $root.sapSectionColumnStyle()">
    <!-- ko if: $root.isMobile() -->
    <div class="sap-section-header section-header primary-header" data-bind="panel: { contentId: 'fa-counselor-content-container', description: '@Resources.SatisfactoryAcademicProgress.FACounselorControllerLabel', backLinkText: ' '}">
        <h3 class="sap-section-header-text">
            @Resources.SatisfactoryAcademicProgress.FACounselorHeader
        </h3>
    </div>
    <!-- /ko -->
    <!-- ko ifnot: $root.isMobile() -->
    <div class="sap-section-header section-header primary-header">
        <h3>
            @Resources.SatisfactoryAcademicProgress.FACounselorHeader
        </h3>
    </div>
    <!-- /ko -->
    <div id="fa-counselor-content-container" class="section-contents primary-contents" data-bind="css: {'panel-content': $root.isMobile()}">
        <div class="layout-table full-width">
            <div class="layout-table-row">
                <div class="layout-table-cell">
                    <h4 data-bind="text: Name()"></h4>
                </div>
                <div class="sap-section-table-column text-align-right layout-table-cell">
                    <!-- ko if: PhoneNumber() -->
                    <div class="counselor-phone-wrapper">
                        <span class="counselor-phone">
                            <span class="offScreen">@Resources.FinancialAidShared.PhoneNumberOffscreenText</span>
                            <a data-bind="phone: PhoneNumber"></a>
                            <!-- ko if: Extension -->
                            @Resources.SatisfactoryAcademicProgress.ExtensionLabel&nbsp;<span data-bind="text: Extension()"></span>
                            <!-- /ko -->
                        </span>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: EmailAddress() -->
                    <div class="contact-email-wrapper">
                        <span class="counselor-email">
                            <a data-bind="mailto: { email: EmailAddress, label: EmailAddress }, text: IsCounselorInfo() ?
                               '@Resources.FinancialAidShared.ContactFACounselorLabel':
                               '@Resources.FinancialAidShared.ContactFAOfficeLabel' "></a>
                        </span>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /ko -->