﻿<!-- Copyright 2015 Ellucian Company L.P. and its affiliates -->

<div class="sap-sections-container section-contents primary-contents clear-group">
    <section id="resources-section" class="section-wrapper no-section-mobile-padding column-four sap-section">
        <div class="sap-section-header section-header primary-header">
            <h3 class="sap-section-header-text">
                @Resources.SatisfactoryAcademicProgress.ResourcesSectionHeader
            </h3>
        </div>
        <div id="resources-section-container" class="section-contents primary-contents">
            <!-- ko template: {name: 'resources-section-template', data: $data } -->
            <!-- /ko -->
        </div>
    </section>
</div>
