﻿<!-- Copyright 2015-2017 Ellucian Company L.P. and its affiliates -->
<!-- scripts here -->
@section scripts {
    @Scripts.Render("~/bundles/financialaidsapscripts")
}

<div class="clear-group">
    <div id="page-description" class="column-five">
        <div data-bind="visible: !$root.isSAPHistoryItemView()">
            <h2>@Resources.SatisfactoryAcademicProgress.PageTitle</h2>
            <p>@Resources.SatisfactoryAcademicProgress.PageDetail</p>
        </div>
        <div data-bind="visible: $root.isSAPHistoryItemView() ">
            <h2 class="backlink">
                <button id="sap-history-panel-back-link" class="no-styles" data-bind="click: $root.toggleView">
                    <span>@Resources.SiteResources.BackLinkLabel</span>
                </button>
            </h2>
        </div>
    </div>
</div>

<!--SatisfactoryAcademicProgress Page Container -->
<!-- The display: none and visible: true components here are a work-around for the fact that the mark-up is sometimes visible or
    "flickers" when the page is first opened if Knockout has not completed its legwork for applying bindings-->

<div class="column-nine clear-group" id="satisfactory-academic-progress-main" style="display: none" data-bind="visible: true">
    <spinner params="isVisible: !showUI(), message: '@Resources.SatisfactoryAcademicProgress.LoadingDataSpinnerMessage'"></spinner>
    <div id="sap-content" data-bind="if: showUI()">
        @Html.Partial("_AdminHeaderPartial")
        <!-- ko ifnot: HasPrivacyRestriction() -->
        <section class="section-wrapper section-wrapper-top-border clear-group" data-bind="css: {'sap-history-item-content': isSAPHistoryItemView()}">
            <message params="isVisible: !isAcademicProgressDataAvailable(), message: '@Resources.SatisfactoryAcademicProgress.NoAcademicProgressDataMessage'">
            </message>
            <!-- ko if: isAcademicProgressDataAvailable() -->
            <div data-bind="visible: $root.isSAPHistoryItemView()">
                <!-- ko ifnot: $root.isMobile() -->
                <div class="sap-section-header section-header primary-header" data-bind="with: $root.historyItemData ">
                    <h3 class="sap-section-header-text" data-bind="text: sapHistoryHeader()"></h3>
                </div>
                <!-- /ko -->
            </div>
            <!-- /ko -->
            <!-- ko if: isAcademicProgressDataAvailable() -->
            <div class="column-seven clear-group">
                <section class="section-wrapper no-section-mobile-padding">
                    <message params="isVisible: !$root.isSAPHistoryItemView(), message: $root.isAcademicProgressSatisfactory() ? '@Resources.SatisfactoryAcademicProgress.SatisfactoryAcademicProgressMessage' : '@Resources.SatisfactoryAcademicProgress.UnsatisfactoryAcademicProgressMessage', type: $root.academicProgressStatusCategory() === 'Unsatisfactory' ? 'error' : ($root.academicProgressStatusCategory() === 'Satisfactory' ? 'success' : 'warning'), addMargin: true "></message>
                    <div data-bind="visible: !$root.isSAPHistoryItemView()">
                        <!-- ko template: {name: 'status-and-details-section-template', data: $root.LatestAcademicProgressEvaluation } -->
                        <!-- /ko -->
                    </div>

                    <div data-bind="visible: !$root.isMobile() && $root.isSAPHistoryItemView()">
                        <!-- ko template: {name: 'status-and-details-section-template', data: $root.historyItemData } -->
                        <!-- /ko -->
                    </div>

                    <div class="sap-sections-container section-contents primary-contents clear-group">
                        <!-- ko ifnot: $root.isSAPHistoryItemView() -->
                        <!-- ko template: {name: 'sap-appeal-section-template', if: $root.LatestAcademicProgressEvaluation().SAPAppeal, data: $root.LatestAcademicProgressEvaluation } -->
                        <!-- /ko -->
                        <!-- /ko -->
                        <!-- ko if: $root.isSAPHistoryItemView() -->
                        <!-- ko template: {name: 'sap-appeal-section-template', data: $root.historyItemData() } -->
                        <!-- /ko -->
                        <!-- /ko -->
                        <!-- ko ifnot: $root.LatestAcademicProgressEvaluation().SAPAppeal-->
                        @Html.Partial("_SapFinancialAidCounselorSection")
                        <!-- /ko -->
                        <div data-bind="visible: !$root.isSAPHistoryItemView()">
                            <!-- ko if: $root.SAPHistoryItems().length > 0 -->
                            <section id="sap-history-section" class="section-wrapper column-four sap-section">
                                <!-- ko if: $root.isMobile() -->
                                <div class="sap-section-header section-header primary-header" data-bind="panel: { contentId: 'sap-history-content-container', description: '@Resources.SatisfactoryAcademicProgress.SAPHistoryControllerLabel', backLinkText: ' '}, clickBuble: false">
                                    <h3>
                                        @Resources.SatisfactoryAcademicProgress.SAPHistoryHeader
                                    </h3>
                                </div>
                                <!-- /ko -->
                                <!-- ko ifnot: $root.isMobile() -->
                                <div class="sap-section-header section-header primary-header">
                                    <h3>
                                        @Resources.SatisfactoryAcademicProgress.SAPHistoryHeader
                                    </h3>
                                </div>
                                <!-- /ko -->
                                <div id="sap-history-content-container" data-bind="css: {'panel-content': $root.isMobile()}">
                                    <!-- ko if: $root.isMobile() -->
                                    <div class="sap-section-header section-header primary-header" data-bind="visible: !$root.isSAPHistoryItemView()">
                                        <h3>
                                            @Resources.SatisfactoryAcademicProgress.SAPHistoryHeader
                                        </h3>
                                    </div>
                                    <!-- /ko -->
                                    <div class="layout-table full-width">
                                        <div class="sap-section-header sap-history-content__columns layout-table-row">
                                            <div class="bold layout-table-cell">
                                                @Resources.SatisfactoryAcademicProgress.SAPHistoryEvaluationPeriodLabel
                                            </div>
                                            <div class="bold text-align-right layout-table-cell">
                                                @Resources.SatisfactoryAcademicProgress.SAPHistorySAPStatusLabel
                                            </div>
                                            <span>&nbsp;</span>
                                        </div>
                                    </div>
                                    <div class="primary-contents">
                                        <div class="layout-table full-width">
                                            <!-- ko foreach: $root.sapHistoryItemsToDisplay() -->
                                            <!-- ko if: $root.isMobile() -->
                                            <div class="history-item-header layout-table-row" data-bind="visible: isItemVisible(), panel: { contentId: AcademicProgressEvaluationId()+'-item', description: sapHistoryItemLabel() , backLinkText: ' ', parentId: 'sap-history-content-container' }, clickBubble: false">
                                                <div class="layout-table-cell">
                                                    <span data-bind="text: SAPStatus.evaluationPeriod()"></span>
                                                </div>
                                                <div class="sap-section-table-column text-align-right layout-table-cell">
                                                    <h5 class="sap-history-item-status" data-bind="text: SAPStatus.AcademicProgressStatus.Description()"></h5>
                                                </div>
                                            </div>
                                            <div data-bind="attr: {id: AcademicProgressEvaluationId()+'-item' }" class="panel-content sap-content">
                                                <!-- ko template: {name: 'history-item-container-template', data: $data } -->
                                                <!-- /ko -->
                                            </div>
                                            <!-- /ko --><!-- end if $root.isMobile -->
                                            <!-- ko ifnot: $root.isMobile() -->
                                            <div class="panel-controller layout-table-row" data-bind="visible: isItemVisible(), click: $root.toggleView">
                                                <div class="layout-table-cell">
                                                    <span data-bind="text: SAPStatus.evaluationPeriod()"></span>
                                                </div>
                                                <div class="sap-section-table-column text-align-right layout-table-cell">
                                                    <h5 class="sap-history-item-status" data-bind="text: SAPStatus.AcademicProgressStatus.Description()"></h5>
                                                </div>
                                                <span class="arrow arrow-right"></span>
                                            </div>
                                            <!-- /ko --><!-- end ifnot $root.isMobile -->
                                            <!-- /ko --><!-- end foreach $root.sapHistoryItemsToDisplay -->
                                        </div>
                                        <!-- ko if: SAPHistoryItems().length > 4 -->
                                        <!-- ko ifnot: $root.showAllSAPHistoryItems() -->
                                        <div class="view-more-button-container sap-section-header section-header primary-header clear-group">
                                            <span class="left-aligned-buttons">
                                                <button type="button" class="esg-button esg-button--secondary" name="@Resources.FinancialAidShared.ShowMoreItemsButtonName" aria-label="@Resources.SatisfactoryAcademicProgress.ShowMoreHistoryItemsButtonDescription"
                                                        title="@Resources.SatisfactoryAcademicProgress.ShowMoreHistoryItemsButtonDescription" data-bind="click: $root.toggleSAPHistoryView">
                                                    @Resources.FinancialAidShared.ShowMoreItemsButtonName
                                                </button>
                                            </span>
                                        </div>
                                        <!-- /ko -->
                                        <!-- /ko -->
                                    </div>
                                </div>
                            </section>
                            <!-- /ko --><!-- end if SAPHistoryItems().length > 0 -->
                        </div>
                    </div>
                    <!-- ko if: $root.isMobile() -->
                    @Html.Partial("_SapResourcesSectionMobile")
                    <!-- /ko -->
                </section>
            </div>
            <!-- ko ifnot: $root.isMobile() -->
            <div id="resources-section-container" class="column-two">
                <!-- ko template: {name: 'resources-section-template', data: $data } -->
                <!-- /ko -->
            </div>
            <!-- /ko -->
            <!-- /ko --><!-- end if isAcademicProgressDataAvailable -->
        </section>
        <!-- /ko -->
    </div>
</div>


<!-- SAP Status and details section template -->
<script type="text/html" id="status-and-details-section-template">
    <div class="sap-sections-container section-contents primary-contents clear-group" data-bind="with: $data">
        <section id="sap-status-section" class="section-wrapper no-section-mobile-padding column-four sap-section" data-bind="with: SAPStatus, css: $root.sapSectionColumnStyle()">
            <div class="sap-section-header section-header primary-header clear-group">
                <h3 class="sap-section-header-text">
                    @Resources.SatisfactoryAcademicProgress.SAPStatusHeader
                </h3>
                <span class="sap-details-text" data-bind="text: academicProgressEvaluationDateLabel()"></span>
            </div>
            <div class="section-contents primary-contents">
                <div class="layout-table full-width">
                    <div class="layout-table-row">
                        <div class="layout-table-cell">
                            <h4>@Resources.SatisfactoryAcademicProgress.SAPEvaluationPeriodLabel</h4>
                        </div>
                        <div class="sap-section-table-column text-align-right layout-table-cell" data-bind="text: evaluationPeriod()">
                        </div>
                    </div>
                    <div class="layout-table-row">
                        <div class="layout-table-cell">
                            <h4>@Resources.SatisfactoryAcademicProgress.SAPProgramLabel</h4>
                        </div>
                        <div class="sap-section-table-column text-align-right layout-table-cell" data-bind="text: StudentAcademicProgram()">
                        </div>
                    </div>
                    <div class="layout-table-row">
                        <div class="layout-table-cell">
                            <h4>@Resources.SatisfactoryAcademicProgress.SAPStatusLabel</h4>
                        </div>
                        <div class="sap-section-table-column text-align-right layout-table-cell">
                            <icon params="isVisible: true, icon: academicProgressStatusStyle, size: 'xsmall', color: academicProgressStatusStyle() === 'check' ? 'success' : academicProgressStatusStyle"></icon>
                            <span data-bind="html: AcademicProgressStatus.Description, css: { 'satisfactory-status-style': academicProgressStatusStyle() === 'check', 'unsatisfactory-status-style': academicProgressStatusStyle() === 'error', 'warning-status-style': academicProgressStatusStyle() === 'warning' }"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div data-bind="attr: {'id': $parent.AcademicProgressEvaluationId()+'ExplanationPanel'}, css: $parent.multiAccordionContentClassName()">
                <span data-bind="html: AcademicProgressStatus.Explanation()">
                </span>
            </div>
            <div class="panel-controller" data-bind="attr: {'id': $parent.AcademicProgressEvaluationId()+'PanelController'}, multiAccordion: { contentId: $parent.AcademicProgressEvaluationId()+'ExplanationPanel', expanded: false }">
                <div class="sap-details-text" data-bind="text: statusExplanationHeader()"></div>
            </div>
        </section>
        <!-- ko if: SAPDetailItems().length > 0 -->
        <section id="sap-credits-section" class="section-wrapper no-section-mobile-padding column-four sap-section">
            <div class="sap-section-header section-header primary-header">
                <h3>
                    @Resources.SatisfactoryAcademicProgress.SAPDetailsHeader
                </h3>
            </div>
            <div class="primary-contents">
                <!-- ko foreach: SAPDetailItems() -->
                <div class="layout-table full-width" data-bind="attr: {'id': $parent.AcademicProgressEvaluationId()+Code()}, css: $parent.multiAccordionContentClassName()">
                    <div class="layout-table-row">
                        <div class="sap-section-table-column-full layout-table-cell">
                            <span data-bind="text: Explanation()"></span>
                        </div>
                    </div>
                </div>
                <div class="layout-table full-width">
                    <div class="layout-table-row" data-bind="attr: {'id': Code() +'PanelController'}, multiAccordion: { contentId: $parent.AcademicProgressEvaluationId()+Code(), inactive: !Explanation(), expanded: false }">
                        <div class="sap-section-table-column layout-table-cell">
                            <h4 data-bind="text: Description()"></h4>
                        </div>
                        <div class="sap-section-table-column text-align-right clear-group layout-table-cell">
                            <!-- ko if: ItemType() === 'Value' -->
                            <span class="item-value" data-bind="decimal: Value(), precision: 2"></span>
                            <!-- /ko -->
                            <!-- ko if: ItemType() === 'Rate'-->
                            <span class="item-value" data-bind="percentage: Value(), precision: '2'"></span>
                            <!-- /ko -->
                            <!-- ko if: ItemType() === 'GPA'-->
                            <span class="item-value" data-bind="decimal: Value(), precision: 3"></span>
                            <!-- /ko -->
                        </div>
                    </div>
                </div>
                <!-- /ko --><!-- end foreach: SAPDetailItems -->
            </div>
        </section>
        <!-- /ko --><!-- end if SAPDetailItems.length -->
    </div>
</script>

<!-- SAP history item container template (used only on mobile) -->
<script type="text/html" id="history-item-container-template">
    <div class="column-seven clear-group">
        <section class="section-wrapper no-section-mobile-padding">
            <!-- ko template: {name: 'status-and-details-section-template', data: $data } -->
            <!-- /ko -->
            <!-- ko if: $data.SAPAppeal -->
            <div class="sap-sections-container section-contents primary-contents clear-group">
                <!-- ko template: {name: 'sap-appeal-section-template', data: $data } -->
                <!-- /ko -->
            </div>
            <!-- /ko -->
            @Html.Partial("_SapResourcesSectionMobile")
        </section>
    </div>
</script>

<!-- SAP Appeal section template -->
<script type="text/html" id="sap-appeal-section-template">
    <section id="sap-appeal-section" class="section-wrapper no-section-mobile-padding column-four sap-section" data-bind="with: ko.utils.unwrapObservable($data.SAPAppeal)">
        <div class="sap-section-header section-header primary-header">
            <h3>
                @Resources.SatisfactoryAcademicProgress.SAPAppealsHeader
            </h3>
        </div>
        <div class="section-contents primary-contents">
            <div id="sap-appeal-section-content" class="layout-table full-width" data-bind="css: {'panel-content': $root.isMobile() }">
                <div class="layout-table-row">
                    <div class="layout-table-cell">
                        <h4>@Resources.SatisfactoryAcademicProgress.SAPAppealStatusLabel</h4>
                    </div>
                    <div class="sap-section-table-column text-align-right layout-table-cell" data-bind="text: Status()">
                    </div>
                </div>
                <div class="layout-table-row">
                    <div class="layout-table-cell">
                        <h4>@Resources.SatisfactoryAcademicProgress.SAPAppealDateLabel</h4>
                    </div>
                    <div class="sap-section-table-column text-align-right layout-table-cell" data-bind="text: AppealDate() ? moment(AppealDate()).format('L') : ' '">
                    </div>
                </div>
                <!-- ko with: AppealAdvisor -->
                <div class="layout-table-row">
                    <div class="layout-table-cell">
                        <h4>@Resources.SatisfactoryAcademicProgress.SAPAppealAdvisorLabel</h4>
                    </div>
                    <div class="sap-section-table-column layout-table-cell">
                        <h4 data-bind="text: Name()"></h4>
                        <!-- ko if: PhoneNumber() -->
                        <div class="counselor-phone-wrapper">
                            <span class="counselor-phone">
                                <span class="offScreen">@Resources.FinancialAidShared.PhoneNumberOffscreenText</span>
                                <a data-bind="phone: PhoneNumber"></a>
                                <!-- ko if: Extension -->
                                @Resources.SatisfactoryAcademicProgress.ExtensionLabel&nbsp;<span data-bind="text: Extension()"></span>
                                <!-- /ko -->
                            </span>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: EmailAddress() -->
                        <div class="contact-email-wrapper">
                            <span class="counselor-email">
                                <a data-bind="mailto: { email: EmailAddress, label: EmailAddress }, text: IsCounselorInfo() ? '@Resources.FinancialAidShared.ContactFACounselorLabel' : '@Resources.FinancialAidShared.ContactFAOfficeLabel' "></a>
                            </span>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </section>
</script>

<!-- Resources section template -->
<script type="text/html" id="resources-section-template">
    <div class="frame-sectiontable">
        <!-- ko with: $root.FinancialAidCounselor() -->
        <!-- ko if: EmailAddress() -->
        <div id="contact-section" class="resources-subsection-container">
            <div class="resources-section-header">
                <!-- ko if: !$root.isMobile() -->
                <h3>
                    @Resources.SatisfactoryAcademicProgress.ContactHeader
                </h3>
                <!-- /ko -->
                <!-- ko if: $root.isMobile() -->
                <h4>
                    @Resources.SatisfactoryAcademicProgress.ContactHeader
                </h4>
                <!-- /ko -->
            </div>
            <div class="contact-email-wrapper">
                <span class="counselor-email">
                    <a data-bind="mailto: { email: EmailAddress, label: EmailAddress }, text: IsCounselorInfo() ? '@Resources.FinancialAidShared.ContactFACounselorLabel' : '@Resources.FinancialAidShared.ContactFAOfficeLabel'"></a>
                </span>
            </div>
        </div>
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: $root.SAPLinks().length > 0-->
        <div id="helpful-links-section" class="resources-subsection-container">
            <div class="resources-section-header">
                <!-- ko if: !$root.isMobile() -->
                <h3>
                    @Resources.SatisfactoryAcademicProgress.HelpfulLinksHeader
                </h3>
                <!-- /ko -->
                <!-- ko if: $root.isMobile() -->
                <h4>
                    @Resources.SatisfactoryAcademicProgress.HelpfulLinksHeader
                </h4>
                <!-- /ko -->
            </div>
            <div class="links-list">
                <div>
                    <!-- ko foreach: $root.SAPLinks()-->
                    <div class="links outside-links">
                        <a data-bind="externalLink: {href: LinkUrl, label: Title}">
                        </a>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>
</script>