﻿<spinner params="isVisible: !isLoaded()"></spinner>

<!-- ko if: loadError -->
<div class="column-eight column-eight-sm">
    <div class="esg-alert esg-alert--info esg-alert--fluid" role="alert">
        <span class="esg-alert__icon-wrapper">
            <span class="esg-alert__icon esg-icon__container" aria-hidden="True">
                <svg class="esg-icon esg-icon--info-dark">
                    <use xlink:href="#icon-info"></use>
                </svg>
            </span>
        </span>
        <div class="esg-alert__message">
            <span data-bind="resx: 'TimeApproval.SomethingWentWrongError'"></span>
        </div>
    </div>
</div>
<!-- /ko -->
<!-- ko if: isLoaded() && !loadError() -->

<timecard-collection-carousel params="index: selectedIndex, dataModel: dataModel">

</timecard-collection-carousel>

<!-- /ko -->