﻿<div class="esg-table__container">
    <div class="esg-table-actions">
        <div class="esg-h5 esg-table-actions__title" data-bind="text: tableCaption"></div>
        <span class="esg-table-actions__form--right">
            <span class="esg-table-actions__form-item" id="tableFilter">
                <div class="esg-dropdown">
                    <button class="esg-button esg-button--secondary esg-dropdown__toggle" id="dropdownMenuCheckbox" data-bind="click: toggleDropdown, css: {'esg-is-open' : dropdownIsActive }" data-placeholder="false" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span data-bind="text: Ellucian.SharedComponents.ComplexTable.ComplexTableDropdownText"></span>
                        <span class="esg-dropdown__icon esg-dropdown__icon--right esg-icon__container" aria-hidden="True">
                            <svg class="esg-icon esg-icon--small esg-icon--light esg-icon--down"> <use xlink:href="#icon-arrow"></use> </svg>
                        </span>
                    </button>
                    <ul class="esg-dropdown__menu" aria-labelledby="dropdownMenuCheckbox">
                        <!-- ko foreach: columnProperties -->
                        <li class="esg-dropdown__menu-item">
                            <input type="checkbox" value="Checkbox11" data-bind="attr: { id: 'option-' + headerId() }, checked: isVisible" />

                            <label data-bind="text: $parent.columnProperties()[$index()].headerText(), attr: { 'for': 'option-' + headerId() }"></label>

                            <div class="esg-dropdown__menu-item-icon__container">
                                <button class="esg-dropdown__menu-item-icon" data-bind="click: $parent.moveColumnUp, visible: $index() > 0">
                                    <span class="esg-dropdown__icon esg-icon__container" aria-hidden="True">
                                        <svg class="esg-icon esg-icon--xsmall esg-icon--light esg-icon--up"> <use xlink:href="#icon-arrow"></use> </svg>
                                    </span>
                                </button>
                                <button class="esg-dropdown__menu-item-icon" data-bind="click: $parent.moveColumnDown, visible: $index() !== $parent.columnProperties().length - 1">
                                    <span class="esg-dropdown__icon esg-icon__container" aria-hidden="True">
                                        <svg class="esg-icon esg-icon--xsmall esg-icon--light esg-icon--down"> <use xlink:href="#icon-arrow"></use> </svg>
                                    </span>
                                </button>
                            </div>
                        </li>
                        <!-- /ko -->

                        <li class="esg-dropdown__menu-item">
                            <!-- Duplicate action-section styles for dropdown (does not exist yet in EDS)-->
                            <div class="esg-modal-dialog__action-section esg-button-group esg-button-group--fluid" role="group" aria-label="button group">
                                <div class="esg-button-group__item" role="group">
                                    <button class="esg-button esg-button--secondary esg-button--fluid" data-toggle="dropdown" data-bind="click: resetColumnProperties, text: Ellucian.SharedComponents.ComplexTable.ComplexTableResetSettings">Reset</button>
                                </div>
                                <div class="esg-button-group__item" role="group">
                                    <button id="save-properties" class="esg-button esg-button--primary esg-button--fluid" data-toggle="dropdown" data-bind="click: saveColumnProperties, text: Ellucian.SharedComponents.ComplexTable.ComplexTableSaveSettings">Save</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </span>
        </span>
    </div>
    <table class="esg-table" data-bind="attr: { id: tableId }">
        <thead class="esg-table-head">
            <tr class="esg-table-head__row" data-bind="foreach: columnProperties()">
                <th class="esg-table-head__th" data-bind="text: headerText, css: 'column-' + $index(), visible: isVisible"></th>
            </tr>
        </thead>
        <tbody class="esg-table-body" data-bind="foreach: { data: rows, as: 'row' }">
            <!-- Loop through column properties to get the value that matches the headerId from row to print the cell data -->

            <!-- ko if: isCollapsibleRow -->
            <tr class="esg-table-body__row collapsible" data-bind="foreach: $component.columnProperties(), toggleCollapsibleRow: { isTable: false }">
                <!-- ko if: $component.columnProperties()[$index()].headerId() === $component.firstVisibleColumn() -->
                <td class="esg-table-body__td">
                    <button type="button" class="expand-details" aria-expanded="false">
                        <span class="arrow"></span>
                        <span class="offScreen" data-bind="text: Ellucian.SharedComponents.ComplexTable.ComplexTableExpandCollapseButtonText"></span>
                    </button>

                    <!-- check for template-->
                    <!-- ko if: $component.columnProperties()[$index()].templateName() -->
                    <div class="inline" data-bind="template: { name: $component.columnProperties()[$index()].templateName(), data: row.rowCells[$component.columnProperties()[$index()].headerId()] }, css: 'column-' + $component.columnProperties()[$index()].headerId() + '-' + $component.columnProperties()[$index()].order(), visible: $component.columnProperties()[$index()].isVisible"></div>
                    <!-- /ko-->

                    <!-- ko ifnot: $component.columnProperties()[$index()].templateName() -->
                    <div class="inline" data-bind="html: row.rowCells[$component.columnProperties()[$index()].headerId()]"></div>
                    <!-- /ko -->
                </td>
                <!-- /ko -->

                <!-- ko ifnot: $component.columnProperties()[$index()].headerId() === $component.firstVisibleColumn() -->

                    <!-- ko template: { name: 'template-or-data' }-->
                    <!-- /ko -->
                    
                <!-- /ko -->
            </tr>
            <!-- /ko -->

            <!-- ko if: !isCollapsibleRow -->
            <tr class="esg-table-body__row" data-bind="foreach: $component.columnProperties(), visible: isRowVisible">
                <!-- ko template: { name: 'template-or-data' }-->
                <!-- /ko -->
            </tr>
            <!-- /ko -->
        </tbody>
        <!-- template: -->
    </table>
</div>

<!-- Template for template vs data rendering (td) -->
<script type="text/html" id="template-or-data">
    <!-- check for template and use either template or data -->
    <!-- ko if: $component.columnProperties()[$index()].templateName() -->
    <td data-bind="template: { name: $component.columnProperties()[$index()].templateName(), data: row.rowCells[$component.columnProperties()[$index()].headerId()] }, css: 'column-' + $component.columnProperties()[$index()].headerId() + '-' + $component.columnProperties()[$index()].order(), visible: $component.columnProperties()[$index()].isVisible"></td>
    <!-- /ko -->

    <!-- ko ifnot: $component.columnProperties()[$index()].templateName() -->
    <td data-bind="html: row.rowCells[$component.columnProperties()[$index()].headerId()], css: 'column-' + $component.columnProperties()[$index()].headerId() + '-' + $component.columnProperties()[$index()].order(), visible: $component.columnProperties()[$index()].isVisible"></td>
    <!-- /ko -->
</script>