﻿@*Copyright 2013-2017 Ellucian Company L.P. and its affiliates.*@
<!-- Add a Term Dialog -->
<modal-dialog id="schedplan-addtermdialog" params="isVisible: addTermDialogIsOpen, title: Ellucian.DegreePlans.Resources.AddTermDialogTitle, content: $data, defaultCloseOff: true, buttons: [ addTermCancelButton, addTermButton]">
    <div>
        <div id="schedplan-addtermcontent">
            @Resources.DegreePlans.UiAddTermMessage
        </div>
        <div id="schedplan-addtermoptions">
            <!-- ko if: DegreePlan().UnplannedTerms().length !== 0 -->
            <label class="field-label-hidden" for="addTermId">@Resources.DegreePlans.AddTermDialogSelectTermLabel</label>
            <select id="addTermId" class="esg-form__input" data-bind="options: DegreePlan().UnplannedTerms(), optionsText: 'Description', optionsValue: 'Code', value: addingTerm"></select>
            <!-- /ko -->
            <message params="isVisible: DegreePlan().UnplannedTerms().length === 0, message: '@Resources.DegreePlans.NoTermsAvailable', type: 'info'"></message>
        </div>
    </div>
</modal-dialog>
