﻿@*Copyright 2013-2017 Ellucian Company L.P. and its affiliates.*@
<modal-dialog id="dp-confirmcleartermdialog" params="isVisible: clearPlannedTermDialogIsOpen, title: Ellucian.DegreePlans.Resources.ClearTermDialogTitle, content: $data, defaultCloseOff: true, buttons: [ clearTermCancelButton, clearTermButton]">
    <!-- Confirm Clear Planned Courses from SINGLE Term Dialog -->
    <!-- ko if: clearDialogTerms().length == 1 -->
    <div>
        @Resources.DegreePlans.UiClearTermMessage <span id="dp-removingtermname" data-bind="text: $root.removingCourseTermTitle"></span>
    </div>
    <!-- /ko -->
    <!-- Confirm Clear MULTIPLE Planned Terms Dialog -->
    <!-- ko if: clearDialogTerms().length > 1 -->
    <div>
        <h4>@Resources.DegreePlans.UiClearTermsMessage</h4>
        <ul class="clear-term-list" data-bind="foreach: clearDialogTerms">
            <li>
                <input type="checkbox" data-bind="checked: $data.selected, attr: {'id': 'term-' + $index()}" />
                <label data-bind="text: $data.description, attr: {'for': 'term-' + $index()}"></label>
            </li>
        </ul>
    </div>
    <!-- /ko -->
</modal-dialog>


