﻿@*Copyright 2013-2017 Ellucian Company L.P. and its affiliates.*@
<!-- Drop Coreq Dialog -->
<modal-dialog id="dp-dropsectiondialog" params="isVisible: OpenDropDialog, title: Ellucian.DegreePlans.Resources.UiDropTitle, content: $data, defaultCloseOff: true, buttons: [ dropSectionCancelButton, dropSectionButton]">
    <div class="drop-wrapper">
        <h3 data-bind="text: DropMessage"></h3>

        <!-- ko if: dropDialogDropSections().length > 0 -->
        <h4>@Resources.DegreePlans.DropDialogDropRegisteredSections</h4>
        <ul class="drop-dialog-list" data-bind="foreach: dropDialogDropSections">
            <li>
                <input type="checkbox" data-bind="checked: $data.selected, attr: { 'id': 'drop' + $data.plannedCourse.SubjectCode() + '-' + $data.plannedCourse.Number() + '-' + $data.plannedCourse.Section.Number() }" />
                <label data-bind="text: $data.plannedCourse.SubjectCode() + '-' + $data.plannedCourse.Number() + '-' + $data.plannedCourse.AcademicHistory.Section.Number(), attr: { 'for': 'drop' + $data.plannedCourse.SubjectCode() + '-' + $data.plannedCourse.Number() + '-' + $data.plannedCourse.Section.Number()}"></label>
                <span data-bind="text: '(' + $data.plannedCourse.AcademicHistory.CreditsCeusDisplay() + ' Credits)'"></span>
                <span data-bind="text: $data.message"></span>
            </li>
        </ul>
        <!-- /ko -->
        <!-- ko if: dropDialogAddSections().length > 0 -->
        <h4>@Resources.DegreePlans.DropDialogAddOtherSections</h4>
        <ul class="drop-dialog-list" data-bind="foreach: dropDialogAddSections">
            <li>
                <input type="checkbox" data-bind="checked: $data.selected, attr: { 'id': 'drop' + $data.plannedCourse.SubjectCode() + '-' + $data.plannedCourse.Number() + '-' + $data.plannedCourse.Section.Number() }" />
                <label data-bind="text: $data.plannedCourse.SubjectCode() + '-' + $data.plannedCourse.Number() + '-' + $data.plannedCourse.Section.Number(), attr: { 'for': 'drop' + $data.plannedCourse.SubjectCode() + '-' + $data.plannedCourse.Number() + '-' + $data.plannedCourse.Section.Number()} "></label>
                <span data-bind="text: '(' + $data.plannedCourse.CreditsCeusDisplay() + ' Credits)'"></span>
            </li>
        </ul>
        <!-- /ko -->
    </div>
</modal-dialog>
