﻿@*Copyright 2012-2017 Ellucian Company L.P. and its affiliates.*@

@section Styles
{
    @Styles.Render("~/Areas/Planning/Content/PlanningBundlecss")
}

@section scripts
{
    <script type="text/javascript">
    @if (ViewBag.Notification != null)
    {
        <text>var notification = @Html.Raw(ViewBag.Notification);</text>
    }
    else
    {
        <text>var notification = null;</text>
    }
    </script>

    @Scripts.Render("~/bundles/degreeplansindexscripts")

}


<div id="page-description" class="esg-page-header">
    <!-- Page Header Text -->
    <h2 class="esg-page-header__title">@Resources.DegreePlans.PlanPageHeader</h2>

    <!-- Page Header Search/Help Inputs -->
    <div id="page-description-other" class="esg-page-header__input">
        @Html.Partial("CourseSearchForm")
    </div>
</div>
<!-- Main Degree Plan Page Container -->
<div id="dp-monolith" class="column-nine">

    <!-- Spinner for page loading -->
    <div id="spinner" style="display: none;" data-bind="visible: isPageLoading()" class="css-spinner-wrapper">
        <div class="esg-spinner-wrapper">
            <div class="esg-spinner"></div>
        </div>
        <h2 class="css-spinner-wrapper__message" data-bind="html: stringPlanningHomeLoadingDataSpinnerMessage"></h2>
    </div>

    <div id="schedplan-outer" style="display: none;" data-bind="visible: !isPageLoading() && typeof DegreePlan() !== 'undefined'">
        @Html.Partial("LoadSamplePlanAlertPartial")

        <!-- Errors and alerts -->
        <!-- ko if: Notification().Message.length > 0 -->
        <message params="isVisible: true, message: Notification().Message, type: Notification().Type"></message>
        <!-- /ko -->
        <!-- Inline message and button for Immediate Payment -->
        <message params="isVisible: IsRegistrationPaymentRequired, message: '@Resources.StudentResources.RegistrationPaymentMessage', type: 'error', button: { callback: ImmediatePayment, label: '@Resources.StudentResources.RegistrationPaymentButtonLabel', ariaLabel: '@Resources.StudentResources.RegistrationPaymentButtonAria'}"></message>
        @Html.Partial("NoTermsAlertPartial")

        <!-- Main Plan UI -->
        <!-- ko if: Notification().Type != "Error" -->
        <!-- ko if: ko.utils.unwrapObservable(currentTermCode) != null -->
        <div class="schedplan-nav" id="schedplan-tabs" data-bind="jqTabs: {}" style="visibility: hidden;">
            <ul>
                <li><a href="#schedplan-schedule" id="schedplan-schedule-tablink">@Resources.DegreePlans.ScheduleTab</a></li>
                <li><a href="#schedplan-dp">@Resources.DegreePlans.TimelineTab</a></li>
                <li><a href="#schedplan-advising">@Resources.DegreePlans.StudentAdvisingTab</a></li>
                <li><a href="#schedplan-petitions-waivers">@Resources.DegreePlans.PetitionsWaiversTab</a></li>
            </ul>

            <div id="schedplan-schedule">
                @Html.Partial("SchedulePartial")
            </div>
            <div id="schedplan-dp">
                @Html.Partial("Timeline")
            </div>
            <div id="schedplan-advising">
                @Html.Partial("StudentAdvisingPartial")
            </div>
            <div id="schedplan-petitions-waivers">
                @Html.Partial("StudentPetitionsWaiversPartial")
            </div>
        </div>
        <!-- /ko -->
        <!-- /ko -->
        <modal-spinner params="isVisible: isLoading, message: LoadingMessage"></modal-spinner>

        <div id="dialogs" style="display: none;" data-bind="visible: true">

            <!-- Remove Course Dialog -->
            @Html.Partial("RemoveCourseDialogPartial")
            <!-- Add Term Dialog -->
            @Html.Partial("AddTermDialog")
            <!-- Remove Term Dialog -->
            @Html.Partial("RemoveTermDialog")
            <!-- Clear Term Dialog -->
            @Html.Partial("ClearTermDialog")
        </div>
    </div>


    <div id="other-dialogs" style="display: none;">
        <!-- Empty plan helper -->
        @Html.Partial("LoadSamplePlanDialog")
        <!-- Course Details dialog -->
        @Html.Partial("../Courses/CourseDetails")
        <!-- Section Details dialog -->
        @Html.Partial("../Shared/Courses/_SectionDetails")
    </div>

</div>

