﻿<!-- Display "load sample" banner if student has not begun planning. -->
<!-- ko if: typeof DegreePlan() !== 'undefined' && DegreePlan().HasPlannedCourses() == false && DegreePlan().IsLoadSamplePlanAllowed() == true && DegreePlan().Terms().length !== 0 -->
<message params="isVisible: isProxyUser(), message: noCoursesLoadSampleProxy, type: 'info', button: { label: '@Resources.Programs.UiLoadSampleDegreePlan', callback: loadSamplePlanInstance.toggleDialog }"></message>
<message params="isVisible: !isProxyUser(), message: noCoursesLoadSample, type: 'info', button: { label: '@Resources.Programs.UiLoadSampleDegreePlan', callback: loadSamplePlanInstance.toggleDialog }"></message>
<!-- /ko -->