﻿@*Copyright 2016 Ellucian Company L.P. and its affiliates.*@
@using Ellucian.Web.Mvc.Models;
@using System.Web.Optimization;
@{Layout = null;}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Html.Partial("_GlobalStringConstantDefinitions")
    @Html.Partial("_StringConstantDefinitions")

    @* Inject the Ellucian Style Guide SVG sprite *@
    @Html.Raw(File.ReadAllText(Server.MapPath("~/content/icons/ellucian-icon-sprite.svg")))
    @* End sprite injection *@

    <!-- Commented out the following statement because the file no longer exists but I am uncertain whether it needs to be replaced with something else. -->
    <!-- <link href="@Url.Content("~/Content/reset.css")" rel="stylesheet" type="text/css" />                                                            -->
    @Styles.Render("~/Content/themes/base/css", "~/Content/css")

    <!-- Don't be misled by the style bundle name of planningcss. It actually includes "~/Areas/Planning/Content/fullcalendar.css"  -->
    <!-- PlanningBundlecss is the one that includes "~/Areas/Planning/Content/Planning.css"                                      -->
    @Styles.Render("~/Areas/Planning/Content/planningcss")
    @Styles.Render("~/Areas/Planning/Content/PlanningBundlecss")

    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/jqueryui")

    @Scripts.Render("~/bundles/degreeplansprintschedulescripts")

    <script type="text/javascript">
        var result = @Html.Raw(ViewBag.ResultJSON);
    </script>
    
</head>
<body id="print-schedule-body">
    <div id="print-schedule-header">
        <img alt="logo" src="@Url.Content(string.Format("~{0}", ViewBag.HeaderLogoPath))" />
        <span id="print-schedule-user">@User.Identity.Name</span>
    </div>
    <div id="schedule-partial-outer-print" data-bind="with: ko.utils.arrayFirst(planViewModelInstance.DegreePlan().Terms(), function(term) { return term.Code() == planViewModelInstance.currentTermCode(); })">
        <span id="print-schedule-term" data-bind="text: $data.Description"></span>
        <div class="print-schedule-credits">
            <span class="print-schedule-credits-header">@Resources.DegreePlans.UiWaitlisted</span>
            <span class="schedule-credits-content" data-bind="text: $data.WaitlistedCreditsDisplay() + ' @Resources.DegreePlans.CreditsLabel'"></span><span class="schedule-credits-content" data-bind="visible: $data.WaitlistedCeusDisplay() > 0, text: ', ' + $data.WaitlistedCeusDisplay() + ' @Resources.DegreePlans.CeusLabel'"></span>
        </div>
        <div class="print-schedule-credits">
            <span class="print-schedule-credits-header">@Resources.DegreePlans.UiEnrolled</span>
            <span class="schedule-credits-content" data-bind="text: $data.EnrolledCreditsDisplay() + ' @Resources.DegreePlans.CreditsLabel'"></span><span class="schedule-credits-content" data-bind="visible: $data.EnrolledCeusDisplay() > 0, text: ', ' + $data.EnrolledCeusDisplay() + ' @Resources.DegreePlans.CeusLabel'"></span>
        </div>
        <div class="print-schedule-credits">
            <span class="print-schedule-credits-header">@Resources.DegreePlans.UiPlanned</span>
            <span class="schedule-credits-content" data-bind="text: $data.PlannedCreditsDisplay() + ' @Resources.DegreePlans.CreditsLabel'"></span><span class="schedule-credits-content" data-bind="visible: $data.PlannedCeusDisplay() > 0, text: ', ' + $data.PlannedCeusDisplay() + ' @Resources.DegreePlans.CeusLabel'" ></span>
        </div>
        <!-- course list -->
        <div id="print-schedule-details-header">@Resources.DegreePlans.PrintScheduleHeader</div>
        <section>
            <!-- ko if: typeof (PlannedCourses) === 'undefined' || PlannedCourses().length === 0 -->
            <div class="esg-alert esg-alert--warning esg-alert--fluid" role="alert">
                <span class="esg-alert__icon-wrapper">
                    <span class="esg-alert__icon esg-icon__container" aria-hidden="True">
                        <svg class="esg-icon esg-icon--warning-dark">
                            <use xlink:href="#icon-warning"></use>
                        </svg>
                    </span>
                </span>
                <div class="esg-alert__message">
                    <div>@Resources.DegreePlans.UiNoCourses</div>
                </div>
            </div>
            <!-- /ko -->
            <div data-bind="if: typeof PlannedCourses !== 'undefined'">
                <table id="print-schedule-details-table">
                    <thead>
                        <tr>
                            <th>@Resources.DegreePlans.PrintScheduleStatusHeader</th>
                            <th>@Resources.DegreePlans.PrintScheduleCourseTitleHeader</th>
                            <th>@Resources.DegreePlans.PrintScheduleTimeHeader</th>
                            <th>@Resources.DegreePlans.PrintScheduleLocationHeader</th>
                            <th>@Resources.DegreePlans.PrintScheduleInstructorHeader</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: PlannedCourses()">
                        <tr>
                            <td data-bind="css: $data.coursePrintStyle, text: $data.courseBannerText"></td>
                            <td>
                                <span style="float:left;" data-bind="text: $data.SubjectCode() + '@Resources.DegreePlans.UiCourseDelimiter' + $data.Number()"></span>
                                <!-- ko with: ko.utils.unwrapObservable($data.AcademicHistory) != null ? (typeof $data.AcademicHistory === 'function' ? $data.AcademicHistory().Section : $data.AcademicHistory.Section) : (typeof $data.Section === 'function' ? $data.Section() : $data.Section) -->
                                <span style="float:left;" data-bind="text: '@Resources.DegreePlans.UiCourseDelimiter' + $data.Number() + ' ' + $data.Title()"></span>
                                <!-- /ko -->
                                <!-- ko if: ko.utils.unwrapObservable($data.Section) == null && (ko.utils.unwrapObservable($data.AcademicHistory) == null || ko.utils.unwrapObservable(ko.utils.unwrapObservable($data.AcademicHistory).Section) == null)-->
                                <span style="float: left;" data-bind="text: '&nbsp;' + $data.Title()"></span>
                                <!-- /ko -->
                                <!-- ko if: ko.utils.unwrapObservable($data.Section) != null && (ko.utils.unwrapObservable($data.AcademicHistory) == null || ko.utils.unwrapObservable(ko.utils.unwrapObservable($data.AcademicHistory).Section) == null)-->
                                <span style="float: left;" data-bind="text: '@Resources.DegreePlans.UiCourseDelimiter' + $data.Section.Number() + ' ' + $data.Section.Title()"></span>
                                <!-- /ko -->
                                <!-- ko with: $data.Section -->
                                <!-- ko if: !$data.IsActive() -->
                                <div style="clear: both" class="advising-error-bubble">@Resources.DegreePlans.SectionNotAvailable</div>
                                <!-- /ko -->
                                <!-- /ko -->
                            </td>
                            <!-- meeting details w/ a section -->
                            <!-- ko with: $data.Section -->
                            <td>
                                <!-- ko foreach: $data.PlannedMeetings() -->
                                <div>
                                    <span data-bind="text: DaysOfWeek"></span>
                                    <span data-bind="text: FormattedTime()"></span>
                                </div>
                                <div>
                                    <span data-bind="text: Dates()"></span>
                                </div>
                                <!-- /ko -->
                                <!-- ko if: $data.PlannedMeetings().length == 0 -->
                                <div>
                                    <span>@Resources.Courses.ToBeDeterminedText</span>
                                </div>
                                <!-- /ko -->
                            </td>
                            <td>
                                <!-- ko foreach: $data.PlannedMeetings() -->
                                <div>
                                    <span data-bind="text: Building() ? Building() + ', ' : '@Resources.Courses.ToBeDeterminedText, '"></span>
                                    <span data-bind="text: Room() ? Room() : '@Resources.Courses.ToBeDeterminedText'"></span>
                                </div>
                                <!-- /ko -->
                                <!-- ko if: $data.PlannedMeetings().length == 0 -->
                                <div>
                                    <span>@Resources.Courses.ToBeDeterminedText</span>
                                </div>
                                <!-- /ko -->
                            </td>
                            <td>
                                <!-- ko foreach: $data.Faculty() -->
                                <div><span data-bind="text: $data"></span></div>
                                <!-- /ko -->
                                <!-- ko if: $data.Faculty().length == 0 -->
                                <div><span>@Resources.Courses.ToBeDeterminedText</span></div>
                                <!-- /ko -->
                            </td>
                            <!-- /ko -->
                            <!-- meeting details w/out a section (No section selected) -->
                            <!-- ko if: $data.Section.length == 0 -->
                            <td>
                                <div><span>@Resources.DegreePlans.NoSectionSelected</span></div>
                            </td>
                            <td>
                                <div><span>@Resources.DegreePlans.NoSectionSelected</span></div>
                            </td>
                            <td>
                                <div><span>@Resources.DegreePlans.NoSectionSelected</span></div>
                            </td>
                            <!-- /ko -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</body>
</html>
