﻿@*Copyright 2013-2017 Ellucian Company L.P. and its affiliates.*@
<!-- Confirm Remove Term Dialog -->
<modal-dialog id="dp-confirmremovetermdialog" params="isVisible: removeTermDialogIsOpen, title: Ellucian.DegreePlans.Resources.RemoveTermDialogTitle, content: $data, defaultCloseOff: true, buttons: [ removeTermCancelButton, removeTermButton]">
    <div>
        <!-- ko with: removingTerm -->
        @Resources.DegreePlans.UiRemoveTermMessage <span id="dp-removingtermname" data-bind="text: $data.Description"></span>
        <!-- /ko -->
    </div>
</modal-dialog>
