﻿@*Copyright 2013-2017 Ellucian Company L.P. and its affiliates.*@
<!-- Confirm Remove Course Dialog -->
<modal-dialog id="schedplan-confirmremovecoursedialog" params="isVisible: removeCourseDialogIsOpen, title: Ellucian.DegreePlans.Resources.RemoveCourseDialogTitle, content: $data, defaultCloseOff: true, buttons: [ removeCourseCancelButton, removeCourseRemoveButton]">
    <div>
        @Resources.DegreePlans.UiRemoveCourseMessage
        <span id="schedplan-removingcoursetermname" data-bind="text: removingCourseTermTitle()"></span>?
        <span id="schedplan-removingcoursename" data-bind="text: removingCourseTitle()"></span>
    </div>
</modal-dialog>
