﻿@*Copyright 2012-2017 Ellucian Company L.P. and its affiliates.*@
<div class="plan-wrapper" data-bind="css: { 'plan-wrapper-tabs' : $root.isMobile }, jqTabs: {}, jqTabsDestroy: !$root.isMobile()">
    <ul class="mobile-nav-tabs" style="display: none;" data-bind="visible: $root.isMobile">
        <li><a data-bind="attr: { 'href' : '#plan-list' + $data.Code().replace(/[^a-z0-9\s]/gi, '') }">@Resources.DegreePlans.MobileTabLabelList</a></li>
        <li><a data-bind="attr: { 'href' : '#plan-calendar' + $data.Code().replace(/[^a-z0-9\s]/gi, '') }">@Resources.DegreePlans.MobileTabLabelCalendar</a></li>
    </ul>
    <!-- Left Side, Course List -->
    <div class="column-two" data-bind="attr:{ id: 'plan-list' + $data.Code().replace(/[^a-z0-9\s]/gi, '') }">
        <div class="section-header-list-view">@Resources.DegreePlans.ScheduleListViewHeader</div>
        <section class="section-wrapper">
            <message params="isVisible: typeof PlannedCourses === 'undefined' || PlannedCourses().length == 0, message:'@Resources.DegreePlans.UiNoCourses', addMargin: true"></message>
            <div data-bind="if: typeof PlannedCourses !== 'undefined' && PlannedCourses().length != 0, visible: typeof PlannedCourses !== 'undefined' && PlannedCourses().length != 0">
                <ul class="schedule-list" data-bind="foreach: PlannedCourses()">
                    <li class="esg-card schedule-listitem">
                        <!-- Header -->
                        <div class="esg-card-header schedule-listitem-header clear-group">
                            <!-- Title + Details Link -->
                            <a href="#" class="schedule-listitem-header-title"
                               data-bind="text: $data.FullTitleDisplay(), click: function(data, event) { showCourseOrSectionDetails({ course: $data, allowAdding: false, allowUpdating: $root.canEdit() && ko.utils.unwrapObservable($data.AcademicHistory) == null && ($data.IsProtected() === false || $root.isProxyUser() === true), addTerms: $root.planningTerms(), updateCallback: $parents[1].UpdateCourse, creditsOverride: $data.Credits(), gradingTypeOverride: $data.GetGradingType(), canSkipWaitlist: $parents[1].canSkipWaitlist(), selectedTerm: $parent.Code()})}, clickBubble: false, attr: { 'aria-label': '@Resources.DegreePlans.CourseOrSectionDetailsTitle' + $data.FullTitleDisplay() + ' ', alt: '@Resources.DegreePlans.CourseOrSectionDetailsTitle' + $data.FullTitleDisplay(), title: '@Resources.DegreePlans.CourseOrSectionDetailsTitle' + $data.FullTitleDisplay() + ' '}"></a>
                            <!-- Remove Link -->
                            <button type="button" class="esg-button--float-right" data-bind="visible: $data.AcademicHistory.HasSection() === false && $data.AcademicHistory.IsCompletedCredit() === false && $root.canEdit() === true && !($data.SectionWaitlistStatus() == '@Resources.DegreePlans.ScheduleWaitlistStatusActive' || $data.SectionWaitlistStatus() == '@Resources.DegreePlans.ScheduleWaitlistStatusPermissionToRegister') && ($data.IsProtected() === false || $root.isProxyUser() === true), click: function () {$parents[1].ShowRemoveCourseDialog($data, $parent, $data.IsNonTermSection());}, clickBubble: false, attr: {id:'removecourse'+$data.SubjectCode() + '@Resources.DegreePlans.UiCourseDelimiter' + $data.Number() ,alt: '@Resources.DegreePlans.RemoveCompleteCoursePrefix' + $data.SubjectCode() + '@Resources.DegreePlans.UiCourseDelimiter' + $data.Number() + ': ' + $data.Title() + ' ', title: '@Resources.DegreePlans.RemoveCompleteCoursePrefix' + $data.SubjectCode() + '@Resources.DegreePlans.UiCourseDelimiter' + $data.Number() + ': ' + $data.Title() + ' ', 'aria-label': '@Resources.DegreePlans.RemoveCompleteCoursePrefix' + $data.SubjectCode() + '@Resources.DegreePlans.UiCourseDelimiter' + $data.Number() + ': ' + $data.Title() + ' '}">
                                <span class="esg-icon__container" aria-hidden="True">
                                    <svg class="esg-icon esg-icon--neutral esg-icon--xsmall">
                                        <use xlink:href="#icon-close" />
                                    </svg>
                                </span>
                                <span class="offScreen" data-bind="attr:{'aria-label':'@Resources.DegreePlans.RemoveCompleteCoursePrefix'}"></span>
                            </button>
                        </div>
                        <!-- Body (Footer is nested within) -->
                        <div class="schedule-listitem-newbody">
                            <!-- Advising Status -->
                            <div class="schedule-listitem-protected-wrapper">
                                <div class="schedule-listitem-course-warning" data-bind="visible: $data.IsProtected()">
                                    <div class="schedule-conflictingsectionwaitlistmessage-icon">
                                    </div>
                                    <span>@Resources.DegreePlans.ProtectedText</span>
                                </div>
                            </div>
                            <div class="schedule-listitem-approved-wrapper">
                                <div class="schedule-listitem-approved" data-bind="visible: $data.ApprovalStatus() === '@Resources.DegreePlans.ScheduleApprovedStatus'">
                                    <div class="schedule-listitem-approvedicon">
                                    </div>
                                    <span data-bind="text: $data.ApprovalStatus()"></span>
                                </div>
                            </div>
                            <div class="schedule-listitem-denied-wrapper">
                                <div class="schedule-listitem-denied" data-bind="visible: $data.ApprovalStatus() === '@Resources.DegreePlans.ScheduleDeniedStatus'">
                                    <div class="schedule-listitem-deniedicon">
                                    </div>
                                    <span data-bind="text: $data.ApprovalStatus()"></span>
                                </div>
                            </div>
                            <!-- Course Requisite Warnings -->
                            <!-- ko foreach: RequisiteWarnings -->
                            <div class="esg-alert esg-alert--fluid esg-alert--warning esg-alert--small" role="alert">
                                <span class="esg-alert__icon-wrapper">
                                    <span class="esg-alert__icon esg-icon__container" aria-hidden="True">
                                        <svg class="esg-icon esg-icon--warning-dark">
                                            <use xlink:href="#icon-warning"></use>
                                        </svg>
                                    </span>
                                </span>
                                <div class="esg-alert__message">
                                    <a href="#" data-bind="click: $parents[2].RequisiteWarningLinkHandler">
                                        <span data-bind="text: DisplayText"></span>
                                    </a>
                                </div>
                            </div>
                            <!-- /ko -->
                            <!-- Course Co-Requisite Warnings (these go away after conversion) -->
                            <!-- ko foreach: CorequisiteCourseWarnings -->
                            <div class="esg-alert esg-alert--fluid esg-alert--warning esg-alert--small" role="alert">
                                <span class="esg-alert__icon-wrapper">
                                    <span class="esg-alert__icon esg-icon__container" aria-hidden="True">
                                        <svg class="esg-icon esg-icon--warning-dark">
                                            <use xlink:href="#icon-warning"></use>
                                        </svg>
                                    </span>
                                </span>
                                <div class="esg-alert__message">
                                    <a href="#" data-bind="click: $parents[2].RequisiteWarningLinkHandler">
                                        <span data-bind="text: $data.DisplayMessage"></span>
                                    </a>
                                </div>
                            </div>
                            <!-- /ko -->
                            <!-- Other Course Warnings -->
                            <!-- ko foreach: Warnings -->
                            <div class="esg-alert esg-alert--fluid esg-alert--warning esg-alert--small" role="alert">
                                <span class="esg-alert__icon-wrapper">
                                    <span class="esg-alert__icon esg-icon__container" aria-hidden="True">
                                        <svg class="esg-icon esg-icon--warning-dark">
                                            <use xlink:href="#icon-warning"></use>
                                        </svg>
                                    </span>
                                </span>
                                <div class="esg-alert__message">
                                    <span data-bind="text: $data"></span>
                                </div>
                            </div>
                            <!-- /ko -->
                            <!-- Requisite Section warnings -->
                            <!-- ko foreach: CorequisiteSectionWarnings() -->
                            <div class="esg-alert esg-alert--fluid esg-alert--warning esg-alert--small" role="alert">
                                <span class="esg-alert__icon-wrapper">
                                    <span class="esg-alert__icon esg-icon__container" aria-hidden="True">
                                        <svg class="esg-icon esg-icon--warning-dark">
                                            <use xlink:href="#icon-warning"></use>
                                        </svg>
                                    </span>
                                </span>
                                <div class="esg-alert__message">
                                    <a href="#" data-bind="click: $parents[2].RequisiteWarningLinkHandler">
                                        <span data-bind="text: DisplayMessage"></span>
                                    </a>
                                </div>
                            </div>
                            <!-- /ko -->
                            <!-- ko if: ko.utils.unwrapObservable($data.Section) != null -->
                            <div data-bind="css: courseListItemStyle">
                                <div data-bind="css: courseBannerWrapperStyle">
                                    <div data-bind="css: courseBannerStyle">
                                        <span data-bind="text: courseBannerText"></span>
                                    </div>
                                </div>
                                <!-- ko if: !$data.Section.IsActive() -->
                                <message params="isVisible: true, message: '@Resources.DegreePlans.SectionNotAvailable', isSmall: true, type: 'error'"></message>
                                <!-- Remove button - only enable if the user has permission and they haven't yet registered (if registered, they have to explicitly drop it)-->
                                <!-- ko if: $root.canEdit() && ko.utils.unwrapObservable($data.AcademicHistory.Section) == null && !($data.SectionWaitlistStatus() == "@Resources.DegreePlans.ScheduleWaitlistStatusActive" || $data.SectionWaitlistStatus() == "@Resources.DegreePlans.ScheduleWaitlistStatusPermissionToRegister") -->
                                <span class="schedule-plannedsectionremove">
                                    <a href="#" class="ui-icon ui-icon-circle-close" data-bind="click: function() { $root.RemoveSectionClickHandler({sectionId: $data.Section.Id()}) }, attr: { 'alt': '@Resources.DegreePlans.RemoveSpecificSectionPrefix' + $data.FullTitleDisplay(), 'title': '@Resources.DegreePlans.RemoveSpecificSectionPrefix' + $data.FullTitleDisplay(), 'aria-label': '@Resources.DegreePlans.RemoveSpecificSectionPrefix' + $data.FullTitleDisplay() + ' '}"></a>
                                </span>
                                <!-- /ko -->
                                <!-- /ko -->
                                <!-- Start Section Details -->
                                <div class="section-details">
                                    <!-- ko template: {name: 'section-detail-template', data: $data.Section } -->
                                    <!-- /ko -->
                                    <!-- Seat and Waitlist Counts - only for planned, but not registered, sections -->
                                    <!-- ko if: $data.HasSection() && ko.utils.unwrapObservable($data.AcademicHistory.Section) == null -->
                                    <div>
                                        <!-- ko if: $data.HasSection() && $data.Section.WaitlistAvailable() === true && $data.Section.Available() !== null && $data.Section.Capacity() !== null && $data.Section.Available() === 0 -->
                                        <span>@Resources.Courses.InlineSectionDetailsWaitlistLabel:&nbsp;</span> <span data-bind="text: $data.Section.Waitlisted"></span>
                                        <!-- /ko -->
                                        <!-- ko if: $data.HasSection() && ($data.Section.WaitlistAvailable() === false || $data.Section.Capacity() === null || $data.Section.Available() === null || $data.Section.Available() > 0) -->
                                        <span>@Resources.Courses.InlineSectionDetailsSeatsLabel:&nbsp;</span>
                                        <!-- ko if: $data.Section.Capacity() !== null && $data.Section.Available() !== null -->
                                        <span data-bind="text: $data.Section.Available()"></span>
                                        <!-- /ko -->
                                        <!-- ko if: $data.Section.Capacity() === null -->
                                        <span>@Resources.Courses.UnlimitedSeatsText</span>
                                        <!-- /ko -->
                                        <!-- /ko -->
                                    </div>
                                    <!-- /ko -->
                                    <!-- ko if: $data.HasMeetings() -->
                                    <div class="meeting-info-toggle-container" data-bind="click: ToggleMeetingInfo" aria-controls="planned-meetings-region">
                                        <span data-bind="attr: {'class': $data.MeetingInfoStyle()}"></span>
                                        <button class="no-styles" aria-label="show meeting information">@Resources.DegreePlans.MeetingInformation</button>
                                    </div>
                                    <div data-bind="visible: ShowMeetingInfo">
                                        <!-- ko template: {name: 'section-meeting-template', data: $data.Section } -->
                                        <!-- /ko -->
                                    </div>
                                    <!-- /ko -->
                                    <!-- Show TBD, no toggle if there are no meetings -->
                                    <!-- ko if: $data.HasMeetings() == false -->
                                    <!-- ko template: {name: 'section-no-meeting-template', data: $data.Section } -->
                                    <!-- /ko -->
                                    <!-- /ko -->
                                </div>
                                <!-- End Section Details -->
                                <!-- Time Conflict Indicator -->
                                <message params="isVisible: $data.Section.MeetingTimeConflict, message: $data.Section.MeetingTimeConflictMessage, type: 'error', isSmall: true"></message>
                                <!-- Section Full Message -->
                                <message params="isVisible: $data.Section.Available() != null && $data.Section.Available() <= 0 && $data.Section.WaitlistAvailable() === false, message: '@Resources.DegreePlans.ScheduleSectionIsFull', type: 'error', isSmall: true"></message>
                                <!-- Section Waitlist Message -->
                                <!-- ko if: ($data.Section.Available() != null && $data.Section.Available() <= 0 && $data.Section.WaitlistAvailable() === true) || ($data.Section.Available() != null && $data.Section.Available() > 0 && $data.Section.WaitlistAvailable() === true && $parents[1].canSkipWaitlist() === false && $data.Section.Waitlisted() > 0) -->
                                <message params="isVisible: true, message: '@Resources.DegreePlans.ScheduleSectionHasWaitlist', isSmall: true, type: 'warning'"></message>
                                <!-- /ko -->
                                <!-- Change button based on section status (open/register, closed/waitlist, etc) -->
                                <!-- ko if: ko.utils.unwrapObservable($data.AcademicHistory.Section) == null -->
                                    <!-- ko if: $data.Section.IsActive() === true && (($data.Section.Available() > 0 && ($parents[1].canSkipWaitlist() === true || $data.Section.Waitlisted() === 0)) || $data.Section.Available() === null || $data.SectionWaitlistStatus() === "@Resources.DegreePlans.ScheduleWaitlistStatusPermissionToRegister") -->
                                    <input type="button" class="esg-button esg-button--primary esg-button--small schedule-adddrop-button" value="@Resources.DegreePlans.UiIndividualRegisterButtonLabel" data-bind="attr: {'aria-label': '@Resources.DegreePlans.UiIndividualRegisterButtonLabel for section ' + $data.SubjectCode() + '@Resources.DegreePlans.UiCourseDelimiter' + $data.Number() + '@Resources.DegreePlans.UiCourseDelimiter' + $data.Section.Number() + ' '}, click: function(data) { $root.RegisterSectionHandler(data, 'Add') }, clickBubble: false, visible: $parents[1].showRegister() === true, enable: $parents[1].canRegister() === true && ($data.CanRegisterForSection() === true || $parents[1].hasRegistrationOverride() === true)" />
                                    <!-- /ko -->
                                    <!-- ko if: $data.Section.IsActive() === true && !($data.Section.Available() > 0 && ($parents[1].canSkipWaitlist() === true || $data.Section.Waitlisted() === 0)) && $data.Section.Available() !== null && $data.SectionWaitlistStatus() === "@Resources.DegreePlans.ScheduleWaitlistStatusNotWaitlisted" -->
                                    <input type="button" class="esg-button esg-button--primary esg-button--small schedule-adddrop-button" value="@Resources.DegreePlans.UiIndividualWaitlistButtonLabel" data-bind="attr: {'aria-label': '@Resources.DegreePlans.UiIndividualWaitlistButtonLabel for section ' + $data.SubjectCode() + '@Resources.DegreePlans.UiCourseDelimiter' + $data.Number() + '@Resources.DegreePlans.UiCourseDelimiter' + $data.Section.Number() + ' '}, click: function(data) { $root.RegisterSectionHandler(data, 'Waitlist') }, clickBubble: false, visible: $parents[1].showRegister() === true, enable: $parents[1].canRegister() === true && ($data.CanRegisterForSection() === true || $parents[1].hasRegistrationOverride() === true)" />
                                    <!-- /ko -->
                                    <!-- ko if: $data.SectionWaitlistStatus() == "@Resources.DegreePlans.ScheduleWaitlistStatusActive" -->
                                    <input type="button" class="esg-button esg-button--primary esg-button--small schedule-adddrop-button" value="@Resources.DegreePlans.UiIndividualDropWaitlistButtonLabel" data-bind="attr: {'aria-label': '@Resources.DegreePlans.UiIndividualDropWaitlistButtonLabel for section ' + $data.SubjectCode() + '@Resources.DegreePlans.UiCourseDelimiter' + $data.Number() + '@Resources.DegreePlans.UiCourseDelimiter' + $data.Section.Number() + ' '}, click: function(data) { $root.RegisterSectionHandler(data, 'RemoveFromWaitlist') }, clickBubble: false, visible: $parents[1].showRegister() === true, enable: $parents[1].canRegister() === true && ($data.CanRegisterForSection() === true || $parents[1].hasRegistrationOverride() === true)" />
                                    <!-- /ko -->
                                <!-- /ko -->
                                <!-- Drop Button -->
                                <!-- ko if: ko.utils.unwrapObservable($data.AcademicHistory.Section) != null -->
                                <input type="button" class="esg-button esg-button--primary esg-button--small schedule-adddrop-button" value="@Resources.DegreePlans.ScheduleDropButton" data-bind="attr: {'aria-label': '@Resources.DegreePlans.ScheduleDropSectionAriaPrefix' + $data.FullTitleDisplay() + ' '}, click: function(data) { $root.RegisterSectionHandler(data, 'Drop', $parent) }, clickBubble: false, visible: ($parents[1].showRegister() == true && $data.showDropButton() == true), enable: $parents[1].canRegister() === true && $data.CanDropSection() === true" />
                                <!-- /ko -->
                                <!-- /ko -->
                            </div>
                            <!-- /ko -->
                            <!-- Determining which footer to display is based on the user's edit permissions -->
                            <!-- ko if: $parents[1].canEdit() -->
                            <!-- Footer v1: there are sections to show and we are allowed to edit the page -->
                            <!-- ko if: ($data.AvailableSections().length > 0 || $parent.availableSectionsRetrieved() == false) && $parent.Code() != null  -->
                            <div data-bind=" attr: { 'class': $data.DisplayingAvailableSections() ? 'schedule-listitem-footerexpanded' : 'schedule-listitem-footercollapsed' }">
                                <div class="view-other-sections-toggle clear-group">
                                    <div class="schedule-listitem-footerexpandicon">
                                    </div>
                                    <button data-bind="click: $root.ShowAvailableSections, clickBubble: false, attr: {'aria-label': '@Resources.DegreePlans.UiViewOtherSectionsLabel' + $data.CourseTitleDisplay() + ' '}" class="no-styles show-other-sections">
                                        <span>@Resources.DegreePlans.UiViewOtherSectionsLabel</span>
                                    </button>
                                </div>
                            </div>
                            <!-- Other Sections List -->
                            <div class="availSections" data-bind="attr: {'data-course': $data.Id()}">
                                <div class="schedule-availablesectionslist-paging clear-group">
                                    <a href="#" class="pagination-image" aria-label="@Resources.DegreePlans.FirstAvailableSectionsPageAria" alt="@Resources.DegreePlans.FirstAvailableSectionsPageAria" title="@Resources.DegreePlans.FirstAvailableSectionsPageAria" data-bind="click: function() { $data.AvailableSectionsFirstPage(); $root.RepaintAvailableSections($data); }, enable: $data.AvailableSectionsCanPageFirst(), clickBubble: false, css: { 'pagination-first-active': $data.AvailableSectionsCanPageFirst(), 'pagination-first': !$data.AvailableSectionsCanPageFirst() }"></a>
                                    <a href="#" class="pagination-image" data-bind="click: function() { $data.AvailableSectionsPreviousPage(); $root.RepaintAvailableSections($data); }, enable: $data.AvailableSectionsCanPagePrevious(), clickBubble: false, css: {'pagination-previous-active': $data.AvailableSectionsCanPagePrevious(), 'pagination-previous': !$data.AvailableSectionsCanPagePrevious() }" aria-label="@Resources.DegreePlans.PrevAvailableSectionsPageAria" alt="@Resources.DegreePlans.PrevAvailableSectionsPageAria" title="@Resources.DegreePlans.PrevAvailableSectionsPageAria"></a>
                                    <input type="text" class="schedule-sections-paging-curpage" size="5" data-bind="attr: {'aria-label': '@Resources.DegreePlans.AvailableSectionPageAria'.format($data.AvailableSectionsPageDisplay(), $data.availableSectionsPageCount(), ($data.HasSection() == true) ? $data.Section.FormattedDisplay() : $data.CourseName())}, enable: $data.availableSectionsPageCount() > 1, value: $data.AvailableSectionsPageDisplay(), event: { keypress: function(data, event) { var keyCode = (event.which ? event.which : event.keyCode); if (keyCode === 13) { $data.HandlePageInput(data, event); $root.RepaintAvailableSections($data); return false; } return true; }}" />
                                    <span class="schedule-sections-paging-pagecount" data-bind="text: '@Resources.DegreePlans.AvailableSectionsPageOfText' + $data.availableSectionsPageCount()"></span>
                                    <a href="#" class="pagination-image" aria-label="@Resources.DegreePlans.NextAvailableSectionsPageAria" alt="@Resources.DegreePlans.NextAvailableSectionsPageAria" title="@Resources.DegreePlans.NextAvailableSectionsPageAria" data-bind="click: function() { $data.AvailableSectionsNextPage(); $root.RepaintAvailableSections($data); }, enable: $data.AvailableSectionsCanPageNext(), clickBubble: false, css: { 'pagination-next-active': $data.AvailableSectionsCanPageNext(), 'pagination-next': !$data.AvailableSectionsCanPageLast() }"></a>
                                    <a href="#" class="pagination-image" aria-label="@Resources.DegreePlans.LastAvailableSectionsPageAria" alt="@Resources.DegreePlans.LastAvailableSectionsPageAria" title="@Resources.DegreePlans.LastAvailableSectionsPageAria" data-bind="click: function() { $data.AvailableSectionsLastPage(); $root.RepaintAvailableSections($data); }, enable: $data.AvailableSectionsCanPageLast(), clickBubble: false, css: { 'pagination-last-active': $data.AvailableSectionsCanPageLast(), 'pagination-last': !$data.AvailableSectionsCanPageLast() }"></a>
                                </div>
                                <div class="schedule-availablesectionslist" data-bind="foreach: $data.PagedAvailableSections()">
                                    <a href="#" style="text-decoration: none;" data-bind="click: function(data, event) { $root.AddSectionToPlan($parent, $data)}, clickBubble: false">
                                        <div data-bind="event: { mouseover: function(data, event) { $root.MouseOverAvailableSection(true, data, event) }, mouseout: function(data, event) { $root.MouseOverAvailableSection(false, data, event) }}, attr: { 'class': $data.Available != null && $data.Available <= 0 && $data.WaitlistAvailable === false ? 'schedule-availablesectionfull' : 'schedule-availablesection' }">

                                            <!-- Section Full Message -->
                                            <div class="schedule-availablesectionfullbanner" data-bind="if: $data.Available != null && $data.Available <= 0 && $data.WaitlistAvailable === false, visible: $data.Available != null && $data.Available <= 0 && $data.WaitlistAvailable === false">
                                                <span>@Resources.DegreePlans.ScheduleSectionIsFull</span>
                                            </div>

                                            <!-- Section Waitlist Message -->
                                            <div class="schedule-availablesectionwaitlistbanner" data-bind="if: $data.ShowWaitlistInfo === true, visible: $data.ShowWaitlistInfo === true">
                                                <span>@Resources.DegreePlans.ScheduleSectionHasWaitlist</span>
                                            </div>

                                            <!-- Title -->
                                            <span data-bind="text: $parent.SubjectCode() + '@Resources.DegreePlans.UiCourseDelimiter' + $parent.Number() + '@Resources.DegreePlans.UiCourseDelimiter' + $data.Number + ': ' + $data.Title"></span>

                                            <!-- Seat and Waitlist Counts -->
                                            <div>
                                                <!-- ko if: $data.ShowWaitlistInfo === true -->
                                                <span>@Resources.Courses.InlineSectionDetailsWaitlistLabel:</span>
                                                <span data-bind="text: $data.Waitlisted"></span>
                                                <!-- /ko -->
                                                <!-- ko if: $data.ShowWaitlistInfo === false -->
                                                <span>@Resources.Courses.InlineSectionDetailsSeatsLabel:</span>
                                                <!-- ko if: $data.Capacity !== null && $data.Available !== null -->
                                                <span data-bind="text: $data.Available"></span>
                                                <!-- /ko -->
                                                <!-- ko if: $data.Capacity === null -->
                                                <span>@Resources.Courses.UnlimitedSeatsText</span>
                                                <!-- /ko -->
                                                <!-- /ko -->
                                            </div>

                                            <!-- ko template: 'instructor-template' -->
                                            <!-- /ko -->
                                            <!-- ko template: 'section-meeting-template' -->
                                            <!-- /ko -->

                                        </div>
                                    </a>
                                    <a class="offScreen" tabindex="-1" href="#" data-bind="attr: {'aria-label' : '@Resources.DegreePlans.AddOtherSectionAriaPrefix' + $parent.SubjectCode() + '-' + $parent.Number() + '-' + $data.Number + ': ' + $data.Title + ' '}, click: function(data, event) { $root.AddSectionToPlan($parent, $data)}, clickBubble: false"></a>
                                </div>
                            </div>
                            <!-- /ko -->
                            <!-- End Footer v1 -->
                            <!-- Footer v2: no other sections and can edit the page -->
                            <!-- ko if: $parent.availableSectionsRetrieved() == true && $data.AvailableSections().length == 0 && $data.HasSection() -->
                            <div class="schedule-listitem-footernoothersections">
                                <span>@Resources.DegreePlans.UiNoOtherSectionsLabel</span>
                            </div>
                            <!-- /ko -->
                            <!-- ko if: ($parent.availableSectionsRetrieved() == true && $data.AvailableSections().length == 0 && !$data.HasSection()) || $parent.Code() == null -->
                            <div class="schedule-listitem-footernoothersections">
                                <span>@Resources.DegreePlans.UiNoSectionsAvailableLabel</span>
                            </div>
                            <!-- /ko -->
                            <!-- End Footer v2 -->
                            <!-- /ko -->
                            <!-- end footers available to users with edit permissions -->
                            <!-- Footer v3: can't edit, so create an empty footer -->
                            <!-- ko if: !$parents[1].canEdit()-->
                            <div class="schedule-listitem-footernoothersections">
                                <span>&nbsp;</span>
                            </div>
                            <!-- /ko -->
                            <!-- End Footer v3 -->
                            <!-- End of Details Area -->
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <!-- Right Side: Calendar, Unscheduled Sections -->
    <div class="column-seven" data-bind="attr:{ id: 'plan-calendar' + $data.Code().replace(/[^a-z0-9\s]/gi, '') }">
        <div class="schedule-calendar" aria-hidden="true" role="presentation" tabindex="-1"
             data-bind="planningCalendar: $root.currentTermEvents, planningCalendarClickHandler: $root.RemoveSectionClickHandler, planningCalendarSectionDetailsClickHandler: $root.SectionDetailsClickHandler, planningCalendarScheduleHeight: 600">
        </div>
        @Html.Partial("UnscheduledSectionDisplay")
    </div>
</div>

<!-- Section details template -->
<script type="text/html" id="section-detail-template">
    <!-- Credits -->
    <div>
        <!-- ko if: typeof $parent.AcademicHistory.HasSection === 'function' && $parent.AcademicHistory.HasSection() -->
        <span data-bind="text: '@Resources.DegreePlans.ScheduleDetailCreditsPrefix' + $parent.AcademicHistory.CreditsCeusDisplay()"></span>
        <!-- /ko -->
        <!-- ko if: typeof $parent.AcademicHistory.HasSection !== 'function' || !$parent.AcademicHistory.HasSection() -->
        <span data-bind="text: '@Resources.DegreePlans.ScheduleDetailCreditsPrefix' + $parent.CreditsCeusDisplay()"></span>
        <!-- /ko -->
        <!-- /ko -->
    </div>
    <!-- Grading Type -->
    <div>
        <span data-bind="text: '@Resources.DegreePlans.ScheduleDetailGradingPrefix' + $parent.GetGradingTypeText()"></span>
    </div>
    <!-- Instructor(s) -->
    <!-- ko template: {name: 'instructor-template' } -->
    <!-- /ko -->
    <!-- Section Dates -->
    <div>
        <span data-bind="text: StartDateDisplay"></span><span data-bind="text: '@Resources.DegreePlans.ScheduleDetailNonTermDatesDivider' , visible: !isNullOrEmpty(EndDateDisplay)"></span><span data-bind="text: EndDateDisplay, visible: !isNullOrEmpty(EndDateDisplay)"></span>
    </div>
</script>

<!-- Section Meeting Template -->
<script type="text/html" id="section-meeting-template">
    <!-- Meeting Details/Times -->
    <div data-bind="if: ko.utils.unwrapObservable(PlannedMeetings).length > 0" role="region" aria-live="polite" id="planned-meetings-region" aria-relevant="additions">
        <div data-bind="foreach: PlannedMeetings">
            <div class="meeting-information">
                <div aria-label="@Resources.DegreePlans.ScheduleMeetingTimeAriaLabel">
                    <span>@Resources.DegreePlans.ScheduleDetailTimePrefix</span>
                    <span data-bind="text: ko.utils.unwrapObservable(DaysOfWeek)"></span>
                    <span data-bind="text: ko.utils.unwrapObservable(FormattedTime)"></span>
                </div>
                <div aria-label="@Resources.DegreePlans.ScheduleMeetingDateAriaLabel">
                    <span>@Resources.DegreePlans.ScheduleDetailMeetingDatePrefix</span>
                    <span data-bind="text: ko.utils.unwrapObservable(Dates)"></span>
                </div>
                <div aria-label="@Resources.DegreePlans.ScheduleMeetingLocationAriaLabel">
                    <span>@Resources.DegreePlans.ScheduleDetailLocationPrefix</span>
                    <span data-bind="text: ko.utils.unwrapObservable($parent.LocationDisplay)"></span>
                    <span data-bind="text: ko.utils.unwrapObservable(MeetingLocation)"></span>
                    <span data-bind="text: '(' + ko.utils.unwrapObservable(InstructionalMethod) + ')', visible: ko.utils.unwrapObservable(InstructionalMethod)"></span>
                </div>
            </div>
        </div>
    </div>
    <!-- ko template: {name: 'section-no-meeting-template' } -->
    <!-- /ko -->
</script>

<!-- Section No Meeting Template -->
<script type="text/html" id="section-no-meeting-template">
    <div data-bind="if: ko.utils.unwrapObservable(PlannedMeetings).length == 0">
        <div aria-label="@Resources.DegreePlans.ScheduleMeetingTimeAriaLabel">
            <span>@Resources.DegreePlans.ScheduleDetailTimePrefix</span><span data-bind="text: '@Resources.DegreePlans.ScheduleDetailTBDText'"></span>
        </div>
        <div aria-label="@Resources.DegreePlans.ScheduleMeetingLocationAriaLabel">
            <span>@Resources.DegreePlans.ScheduleDetailLocationPrefix</span><span data-bind="text: ko.utils.unwrapObservable($data.LocationDisplay)"></span><span>@Resources.DegreePlans.ScheduleDetailTBDText</span>
        </div>
    </div>
</script>

<!-- Instructor Template -->
<script type="text/html" id="instructor-template">
    <!-- ko foreach: Faculty -->
    <div>
        <span data-bind="text: '@Resources.DegreePlans.ScheduleDetailInstructorPrefix' + $data"></span>
    </div>
    <!-- /ko -->
    <!-- ko if: ko.utils.unwrapObservable(Faculty).length == 0 -->
    <div>
        <span data-bind="text: '@Resources.DegreePlans.ScheduleDetailInstructorPrefix' + '@Resources.DegreePlans.ScheduleDetailTBDText'"></span>
    </div>
    <!-- /ko -->
</script>
