﻿@*Copyright 2015-2016 Ellucian Company L.P. and its affiliates.*@
<div data-bind="with:studentPetitionsWaiversInstance">
    <spinner params="isVisible: !isLoaded(), message: stringPlanningHomeLoadingDataSpinnerMessage">
    </spinner>

    <div class="clear-group" data-bind="visible: isLoaded()">
        <div class="section-wrapper">

            <h3 class="section-header">
                @Resources.DegreePlans.StudentPetitionsHeader
            </h3>
            <div class="section-contents">
                <span data-bind="visible: !hasPetitions()">@Resources.DegreePlans.NoPetitionsMessage </span>
                <table class="student-petition-table" data-bind="visible: hasPetitions()">
                    <thead>
                        <tr>
                            <th>@Resources.DegreePlans.PetitionColumn1 </th>
                            <th>@Resources.DegreePlans.PetitionColumn2</th>
                            <th> @Resources.DegreePlans.PetitionColumn3</th>
                            <th>@Resources.DegreePlans.PetitionColumn4</th>
                            <th>@Resources.DegreePlans.PetitionColumn5</th>
                            <th>@Resources.DegreePlans.PetitionColumn6</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: StudentPetitions()">
                        <tr>
                            <td data-bind="text:Course()"></td>
                            <td data-bind="text:Section()"></td>
                            <td data-bind="text:Period(),  css:{'petitions-waivers-no-term-start-date':  isNullOrEmpty(StartDate()) && isNullOrEmpty(Term())}"></td>
                            <td data-bind="text: Status()"></td>
                            <td data-bind="text: UpdatedOn()"></td>
                            <td>
                                <div class="word-wrap" data-bind="text: Reason()"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="section-wrapper">
            <h3 class="section-header">
                @Resources.DegreePlans.StudentConsentsHeader
            </h3>
            <div class="section-contents">
                <span data-bind="visible: !hasConsents()">@Resources.DegreePlans.NoConsentsMessage</span>

                <table class="student-petition-table" data-bind="visible: hasConsents()">

                    <thead>
                        <tr>
                            <th>@Resources.DegreePlans.PetitionColumn1 </th>
                            <th>@Resources.DegreePlans.PetitionColumn2</th>
                            <th> @Resources.DegreePlans.PetitionColumn3</th>
                            <th>@Resources.DegreePlans.PetitionColumn4</th>
                            <th>@Resources.DegreePlans.PetitionColumn5</th>
                            <th>@Resources.DegreePlans.PetitionColumn6</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: StudentConsents()">
                        <tr>
                            <td data-bind="text:Course()"></td>
                            <td data-bind="text:Section()"></td>
                            <td data-bind="text:Period(),  css:{'petitions-waivers-no-term-start-date':  isNullOrEmpty(StartDate()) && isNullOrEmpty(Term())}"></td>
                            <td data-bind="text: Status()"></td>
                            <td data-bind="text: UpdatedOn()"></td>
                            <td>
                                <div class="word-wrap" data-bind="text: Reason()"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="section-wrapper">
            <h3 class="section-header">
                @Resources.DegreePlans.StudentWaiverHeader
            </h3>
            <div class="section-contents">
                <span data-bind="visible: !hasWaivers()">@Resources.DegreePlans.NoWaiversMessage</span>

                <table class="student-waiver-table" data-bind="visible: hasWaivers()">

                    <thead>
                        <tr>
                            <th>@Resources.DegreePlans.WaiverColumn1 </th>
                            <th>@Resources.DegreePlans.WaiverColumn2</th>
                            <th> @Resources.DegreePlans.WaiverColumn3</th>
                            <th>@Resources.DegreePlans.WaiverColumn4</th>
                            <th>@Resources.DegreePlans.WaiverColumn5</th>

                        </tr>
                    </thead>
                    <tbody data-bind="foreach: StudentWaivers()">
                        <tr>
                            <td data-bind="text:Course()"></td>
                            <td data-bind="text:Section()"></td>
                            <td data-bind="text:Period(),  css:{'petitions-waivers-no-term-start-date':  isNullOrEmpty(StartDate()) && isNullOrEmpty(Term())}"></td>
                            <td data-bind="text: Status()"></td>
                            <td data-bind="text: Prerequisite()"></td>


                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




