﻿@*Copyright 2013-2017 Ellucian Company L.P. and its affiliates.*@
<div id="student-advising">
    <div id="advising-contacts-container">
        <div data-bind="visible: DegreePlan().AdvisingContacts().length > 0">
            <h3>@Resources.DegreePlans.MyAdvisors</h3>
            <div id="advising-contacts" data-bind="foreach: DegreePlan().AdvisingContacts()">
                <!-- ko if: EmailAddress() != null  -->
                <div class="contact-advisor-email">
                <a data-bind="text: Name(), mailto: { email: EmailAddress(), label: '@Resources.Advisors.SendAnEmailToTag' + Name() + ' '}"></a>
                <span class="advising-type" data-bind="text: AdvisorType()"></span>
                </div>
                <!-- /ko -->
                <!-- ko if: EmailAddress() == null  -->
                <div class="advising-email-text"><span data-bind="text: Name()"></span><span class="advising-type" data-bind="text: AdvisorType()"></span></div>
                <!-- /ko -->
            </div>
            <input type="button" id="sendtoadvisor-button" class="esg-button esg-button--secondary" value="@Resources.DegreePlans.UiSendToAdvisorButtonLabel" aria-label="@Resources.DegreePlans.UiSendToAdvisorButtonAria" title="@Resources.DegreePlans.UiSendToAdvisorButtonAria"
                   data-bind="visible: $data.canSubmitForApproval() === true, click: requestReview, clickBubble: false" />
        </div>
        <div data-bind="visible: DegreePlan().AdvisingContacts().length == 0">
           <!-- ko if: "@Resources.DegreePlans.AdvisingOffice" != "" && "@Resources.DegreePlans.AdvisingOfficeEmail" != "" -->
           <a class="contact-advisor-email" data-bind="text: '@Resources.DegreePlans.AdvisingOffice', attr: {href : 'mailto:' +  '@Resources.DegreePlans.AdvisingOfficeEmail', alt: '@Resources.Advisors.SendAnEmailToTag' + '@Resources.DegreePlans.AdvisingOffice' + ' ', title: '@Resources.Advisors.SendAnEmailToTag' + '@Resources.DegreePlans.AdvisingOffice' + ' ', 'aria-label': '@Resources.Advisors.SendAnEmailToTag' + '@Resources.DegreePlans.AdvisingOffice' + '  ' + '@Resources.DegreePlans.AdvisingOfficeEmail'}"></a>
           <!-- /ko -->
        </div>
        <div id="last-reviewed-info" data-bind="text: '@Resources.DegreePlans.UiLastReviewedOn' + DegreePlan().LastReviewedDate() + '@Resources.DegreePlans.UiLastReviewedBy' + DegreePlan().LastReviewedBy(), visible: DegreePlan().LastReviewedDate() != null && DegreePlan().LastReviewedBy() != null ">
        </div>
    </div>

    <div id="student-advising-notes-wrapper">
        @Html.Partial(@"~\Areas\Planning\Views\Advisors\ComposeAdvisingNote.cshtml")
        <!-- ko with: DegreePlan -->
        @Html.Partial(@"~\Areas\Planning\Views\Advisors\ViewAdvisingNotes.cshtml")
        <!-- /ko -->
    </div>
</div>
