﻿@using Ellucian.Web.Mvc.Extensions
<div id="degreeplan-partial-outer">
    <!-- Skip Links for Terms -->
    <!-- ko foreach: DegreePlan().Terms -->
    <a class="ui-helper-hidden-accessible" tabindex="-1" data-bind="text: '@Resources.DegreePlans.SkipTermLinkText ' + $data.Description(), attr: { href: '#' + $data.Code() }">
    </a>
    <!-- /ko -->
    <!-- Top Row With Add Term Button -->
    <div id="dp-controls">
        <input class="esg-button esg-button--primary" type="button" value="@Resources.DegreePlans.AddTermLinkText" title="@Resources.DegreePlans.AddTermDialogTitle" aria-label="@Resources.DegreePlans.AddTermDialogTitle"
            data-bind="click: function() { $root.ShowAddTermDialog(); }, visible: $root.canEdit() === true, enable: DegreePlan().UnplannedTerms().length > 0" />
        <input id="timeline-remove-courses" class="esg-button esg-button--secondary" type="button" value="@Resources.DegreePlans.UIRemovePlannedCoursesButton" title="@Resources.DegreePlans.ClearAllPlannedCoursesAria" aria-label="@Resources.DegreePlans.ClearAllPlannedCoursesAria"
               data-bind="click: function() { $root.ShowClearPlannedTermsDialog(); }, visible: $root.canEdit() === true && (($root.isProxyUser() === true && DegreePlan().ClearableTerms().length > 0) || ($root.isProxyUser() === false && DegreePlan().IsPlanProtected() === false && DegreePlan().ClearableTerms().length > 0))" />
    </div>
    <!-- Degree Plan Terms -->
    <div id="dp-plans">
        <button id="scroll-left" class="esg-button esg-button--secondary esg-button--small" value="<" data-bind="click: function() { ScrollTerms('left'); }, enable: LeftScrollEnabled" aria-label="@Resources.DegreePlans.TimelineLeftAria"><span class="caret-left"></span></button>
        <button id="scroll-right" class="esg-button esg-button--secondary esg-button--small" value=">" data-bind="click: function() { ScrollTerms('right'); }, enable: RightScrollEnabled" aria-label="@Resources.DegreePlans.TimelineRightAria"><span class="caret-right"></span></button>
        <ul class="dp-termwrapper" data-bind="foreach: DegreePlan().Terms">
            <li class="dp-termouter">
                <a data-bind="attr: {name: $data.Code(), id: $data.Code()}">
                </a>
                <div class="dp-termheader">
                    <div class="dp-termlisting" tabindex="-1">
                        <a href="#" data-bind="text: Description, click: function() { $parent.ShowScheduleTerm($data.Code())}, visible: isNullOrEmpty($data.Code()) === false">
                        </a><span data-bind="text: Description, visible: isNullOrEmpty($data.Code()) === true">
                        </span>
                    </div>
                    <div class="dp-removetermcontainer">
                        <button type="button" class="esg-button--float-right" data-bind="click: $parents[0].ShowRemoveTermDialog, visible: $data.IsTermRemovable() === true &&  $root.canEdit() === true && $parents[0].DegreePlan().Terms().length>0 && ($data.IsTermProtected() === false || $root.isProxyUser() === true) , attr: {id:'removeterm'+$data.Code(), alt: '@Resources.DegreePlans.RemoveTermLinkAlt ' + $data.Description() + ' ', title: '@Resources.DegreePlans.RemoveTermLinkAlt '+ $data.Description() + ' ', 'aria-label': '@Resources.DegreePlans.RemoveTermLinkAlt ' + $data.Description() + ' '}">
                            <span class="esg-icon__container" aria-hidden="True">
                                <svg class="esg-icon esg-icon--neutral esg-icon--xsmall">
                                    <use xlink:href="#icon-close" />
                                </svg>
                            </span>
                            <span class="offScreen" data-bind="attr:{'aria-label':'@Resources.DegreePlans.RemoveTermLinkAlt'}"></span>
                        </button>
                        <div data-bind="visible: $data.IsTermCompleted() === true" class="dp-termcompleteicon" title="@Resources.DegreePlans.TermCompleteIconTitle" aria-label="@Resources.DegreePlans.TermCompleteIconTitle">
                        </div>
                        <div data-bind="visible: $data.IsTermCompleted() === false && $data.IsTermActive() === true, css: { 'dp-currenttermicon-padded': $data.IsTermRemovable() === true }" class="dp-termcurrenticon" title="@Resources.DegreePlans.TermInProgressIconTitle" aria-label="@Resources.DegreePlans.TermInProgressIconTitle">
                        </div>
                    </div>
                </div>
                <div class="dp-termcourses">
                    <!-- ko foreach: PlannedCourses -->
                    <!-- ko if: $data.AcademicHistory.HasSection() === true || $data.AcademicHistory.IsCompletedCredit() === true -->
                    <div class="dp-coursebubble dp-coursebubble-complete">
                        <section class="dp-completedcoursetable">
                            <div class="dp-coursebubble-indentedtext">
                                <!-- ko if: typeof $data.AcademicHistory.HasSection === 'function' && !$data.AcademicHistory.HasSection() -->
                                <a class="bold dp-planneditemlink" href="#"
                                   data-bind="text: $data.FullTitleDisplay, click: function(data, event) { showCourseOrSectionDetails({course: $data, allowAdding: false, allowUpdating: false, addCallback: null, creditsOverride: $data.AcademicHistory.CreditsCeusDisplay(), canSkipWaitlist: $parents[1].canSkipWaitlist(), gradingTypeOverride: $data.AcademicHistory.GradingType() }) }, clickBubble: false, attr: {'aria-label': '@Resources.DegreePlans.CourseOrSectionDetailsTitle ' + $data.SubjectCode() + '@Resources.Courses.CourseDelimiter' + $data.Number() + ' '}">
                                </a>
                                <!-- /ko -->
                                <!-- ko if: typeof $data.AcademicHistory.HasSection === 'function' && $data.AcademicHistory.HasSection() -->
                                <a class="bold dp-planneditemlink" href="#"
                                   data-bind="text: $data.FullTitleDisplay, click: function(data, event) { showCourseOrSectionDetails({course: $data, allowAdding: false, allowUpdating: false, addCallback: null, creditsOverride: $data.AcademicHistory.CreditsCeusDisplay(), canSkipWaitlist: $parents[1].canSkipWaitlist(), gradingTypeOverride: $data.AcademicHistory.GradingType() }) }, clickBubble: false, attr: {'aria-label': '@Resources.DegreePlans.CourseOrSectionDetailsTitle    ' + $data.SubjectCode() + '@Resources.Courses.CourseDelimiter    ' + $data.Number() + '@Resources.Courses.CourseDelimiter    ' + $data.AcademicHistory.Section.Number() + ' '}">
                                </a>
                                <!-- /ko -->
                            </div>
                            <div>
                                <span class="dp-floatright bold dp-text14 dp-gradedisplay" data-bind="text: $data.AcademicHistory.GradeDisplay">
                                </span>
                            </div>
                            <div class="dp-coursebubble-indentedtext" data-bind="if: typeof $data.AcademicHistory.CreditsCeusDisplay ==='function'">
                                <span class="bold dp-creditstext" data-bind="text: '@Resources.DegreePlans.CourseBubbleCreditsLabel ' + $data.AcademicHistory.CreditsCeusDisplay()">
                                </span>
                            </div>
                        </section>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: $data.AcademicHistory.HasSection() === false && $data.AcademicHistory.IsCompletedCredit() === false -->
                    <div data-bind="attr: { 'class': $parent.GetCourseBubbleClass()}">
                        <section class="dp-plannedcoursetable">

                            <button type="button" class="esg-button--float-right"
                                    data-bind="visible: !($data.SectionWaitlistStatus() === '@Resources.DegreePlans.ScheduleWaitlistStatusActive' || $data.SectionWaitlistStatus() === '@Resources.DegreePlans.ScheduleWaitlistStatusPermissionToRegister') && $root.canEdit() === true && ($data.IsProtected() === false || $root.isProxyUser() === true), click: function(data, event) { $parents[1].ShowRemoveCourseDialog(data, $parent, data.IsNonTermSection())}, attr: {id:'removecourse'+ $data.SubjectCode() + '@Resources.Courses.CourseDelimiter' + $data.Number(), alt: '@Resources.DegreePlans.RemoveCourseTitleLabel ' + $data.SubjectCode() + '@Resources.Courses.CourseDelimiter' + $data.Number() + ' ', title: '@Resources.DegreePlans.RemoveCourseTitleLabel ' + $data.SubjectCode() + '@Resources.Courses.CourseDelimiter' + $data.Number() + ' ', 'aria-label': '@Resources.DegreePlans.RemoveCourseTitleLabel ' + $data.SubjectCode() + '@Resources.Courses.CourseDelimiter' + $data.Number() + ' ' + $parent.Description() + ' '}">
                                <span class="esg-icon__container" aria-hidden="True">
                                    <svg data-bind="attr:{'class': $parent.IsTermCompleted() && $parent.IsAcademicHistoryAvailable()? 'esg-icon  esg-icon--xsmall esg-icon--neutral':'esg-icon  esg-icon--xsmall esg-icon--white'}" >
                                        <use xlink:href="#icon-close" />
                                    </svg>
                                </span>
                                <span class="offScreen" data-bind="attr:{'aria-label':'@Resources.DegreePlans.RemoveCourseTitleLabel'}"></span>
                            </button>

                            <div class="dp-plannedcoursetitlecell">
                                <div class="dp-coursebubble-indentedtext">
                                    <!-- ko if: typeof $data.Section === 'function' && !$data.Section() -->
                                    <a class="bold dp-planneditemlink" href="#"
                                       data-bind="text: $data.FullTitleDisplay, click: function(data, event) { showCourseOrSectionDetails({course: $data, allowAdding: false, allowUpdating: $root.canEdit() && ($data.IsProtected() === false || $root.isProxyUser()) === true, addTerms: $root.planningTerms(), addCallback: null, updateCallback: $root.UpdateCourse, creditsOverride: $data.Credits(), canSkipWaitlist: $parents[1].canSkipWaitlist(), selectedTerm: $parent.Code() }) }, clickBubble: false, attr: {'aria-label': '@Resources.DegreePlans.CourseOrSectionDetailsTitle    ' + $data.SubjectCode() + '@Resources.Courses.CourseDelimiter    ' + $data.Number()}">
                                    </a>
                                    <!-- /ko -->
                                    <!-- ko if: typeof $data.Section !== 'function' && $data.Section -->
                                    <a class="bold dp-planneditemlink" href="#"
                                       data-bind="text: $data.FullTitleDisplay, click: function(data, event) { showCourseOrSectionDetails({course: $data, allowAdding: false, allowUpdating: false, addCallback: null, creditsOverride: $data.Credits(), canSkipWaitlist: $parents[1].canSkipWaitlist(), gradingTypeOverride: $data.GradingType() }) }, clickBubble: false, attr: {'aria-label': '@Resources.DegreePlans.CourseOrSectionDetailsTitle    ' + $data.SubjectCode() + '@Resources.Courses.CourseDelimiter    ' + $data.Number() + '@Resources.Courses.CourseDelimiter    ' + $data.Section.Number()}">
                                    </a>
                                    <!-- /ko -->
                                </div>
                            </div>
                            <div class="dp-coursebubble-indentedtext">
                                <span class="bold dp-creditstext" data-bind="text: '@Resources.DegreePlans.CourseBubbleCreditsLabel ' + $data.CreditsCeusDisplay()">
                                </span>
                            </div>
                            <div data-bind="visible: $data.IsProtected()">
                                <div class="dp-warning-bubble">
                                    <span class="dp-bubble-text" data-bind="visible: $data.IsProtected()">@Resources.DegreePlans.ProtectedText</span>
                                </div>
                            </div>
                            <div data-bind="visible: $data.SectionWaitlistStatus() === '@Resources.DegreePlans.ScheduleWaitlistStatusActive' || $data.SectionWaitlistStatus() === '@Resources.DegreePlans.ScheduleWaitlistStatusPermissionToRegister'">
                                <div class="dp-warning-bubble">
                                    <div class="dp-bubble-text" data-bind="text: '@Resources.DegreePlans.Waitlisted', visible: $data.SectionWaitlistStatus() === '@Resources.DegreePlans.ScheduleWaitlistStatusActive'">
                                    </div>
                                    <div class="dp-bubble-text" data-bind="text: '@Resources.DegreePlans.WaitlistedWithPermissionToRegister', visible: $data.SectionWaitlistStatus() === '@Resources.DegreePlans.ScheduleWaitlistStatusPermissionToRegister'">
                                    </div>
                                </div>
                            </div>
                            <!-- ko with: $data.Section -->
                            <!-- ko if: !$data.IsActive() -->
                            <div class="dp-error-bubble">
                                <span class="dp-bubble-text">@Resources.DegreePlans.SectionNotAvailable</span>
                            </div>
                            <!-- /ko -->
                            <!-- /ko -->
                            <!-- Course Requisite Warnings -->
                            <!-- ko foreach: RequisiteWarnings -->
                            <div class="dp-warning-bubble">
                                <a href="#" data-bind="click: $root.RequisiteWarningLinkHandler">
                                    <span class="dp-bubble-text" data-bind="text: $data.DisplayText"></span>
                                </a>
                            </div>
                            <!-- /ko -->
                            <!-- Course Co-Requisite Warnings (these go away after conversion) -->
                            <!-- ko foreach: CorequisiteCourseWarnings -->
                            <div class="dp-warning-bubble">
                                <a href="#" data-bind="click: $root.RequisiteWarningLinkHandler">
                                    <span class="dp-bubble-text" data-bind="text: $data.DisplayMessage"></span>
                                </a>
                            </div>
                            <!-- /ko -->
                            <!-- Other Course Warnings -->
                            <!-- ko foreach: Warnings -->
                            <div class="dp-warning-bubble">
                                <span class="dp-bubble-text" data-bind="text: $data"></span>
                            </div>
                            <!-- /ko -->
                            <!-- Requisite Section Warnings -->
                            <!-- ko foreach: CorequisiteSectionWarnings() -->
                            <div class="dp-warning-bubble">
                                <a href="#" data-bind="click: $root.RequisiteWarningLinkHandler">
                                    <span class="dp-bubble-text" data-bind="text: DisplayMessage"></span>
                                </a>
                            </div>
                            <!-- /ko -->
                        </section>
                    </div>
                    <!-- /ko -->
                    <!-- /ko -->
                </div>
                <div class="dp-termfooter">
                    <!-- ko if: $data.IsAcademicHistoryAvailable() === true && $data.CompletedGpa() != null && $data.Description() != "@Resources.DegreePlans.NonTermSectionHeaderComplete" -->
                    <div data-bind="text: $data.CompletedGpaDisplay()">
                    </div>
                    <!-- /ko -->
                    <span data-bind="text: $data.TermCreditsCeusDisplay()"></span>&nbsp;
                </div>
            </li>
        </ul>
    </div>
</div>
