﻿@import "_colors.scss";

daily-time-entry-group {
    .esg-button-group {
        padding-top: 1rem;
    }

    button:first-child {
        margin-right: 1rem;
    }

    button:not([disabled]):hover {
        .esg-icon {
            fill: $color-base-95;
        }

        .esg-icon__container {
            background: $color-secondary-55;
        }
    }
}
