﻿<!-- ko if: dailyTimeEntryType.isSummary -->
    <!-- ko foreach: DailyTimeEntryList -->
        <daily-time-entry params="
                                dailyTimeEntryModel:$data,
                                isReadOnly: $parent.isReadOnly,
                                onHoursWorkedChange: $parent.dailyTimeEntryChangeHandler">
        </daily-time-entry>
    <!-- /ko -->
<!-- /ko -->

<!-- ko if: dailyTimeEntryType.isDetail -->
    <!-- ko foreach: DailyTimeEntryList -->
    <daily-detail-time-entry params="
                                    dailyTimeEntryModel: $data,
                                    isReadOnly: $parent.isReadOnly,
                                    onTimeWorkedChange: $parent.dailyTimeEntryChangeHandler,
                                    isMobile: $root.isMobile,
                                    index: $index()">
    </daily-detail-time-entry>
    <!-- /ko -->

    <div class="esg-button-group full-width text-align-center" role="group" aria-label="button group">
        <button aria-label="delete time entry" data-bind="visible: deleteEnabled, click: deleteEntry">
            <span class="esg-icon__container esg-icon__container--outline">
                <svg class="esg-icon" data-bind="css: {'esg-icon--light': !deleteEnabled() }">
                    <use aria-label="delete time entry" role="button" xlink:href="#icon-delete"></use>
                </svg>
            </span>
        </button>

        <button aria-label="add time entry" data-bind="visible: addEnabled, click: addEntry">
            <span class="esg-icon__container esg-icon__container--outline">
                <svg class="esg-icon" data-bind="css: {'esg-icon--light': !addEnabled() }">
                    <use tab-index="1" aria-label="add time entry" role="button" xlink:href="#icon-add"></use>
                </svg>
            </span>
        </button>
    </div>

<!-- /ko -->