﻿<!-- Copyright 2013-2017 Ellucian Company L.P. and its affiliates. -->
@section scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/registrationactivityvmscripts")
    @System.Web.Optimization.Scripts.Render("~/bundles/registrationactivityscripts")
}

<div class="clear-group">
    @if (ViewBag.IsAdmin == null || !ViewBag.IsAdmin)
    {
        @Html.Partial("_PageHeader", new Ellucian.Web.Student.Models.PageHeaderModel(Resources.FinanceResources.RegistrationActivityTitle,
        Resources.FinanceResources.RegistrationActivityDescription, null, null))
    }
    @if (ViewBag.IsAdmin != null && ViewBag.IsAdmin)
    {
        @Html.Partial("_PageHeader", new Ellucian.Web.Student.Models.PageHeaderModel(Resources.FinanceResources.RegistrationActivityTitle + Resources.FinanceResources.AdminPageTitle,
        Resources.FinanceResources.RegistrationActivityDescriptionAdmin, null, null))
    }
</div>
<div id="RegistrationActivity" class="column-nine" style="display: none" data-bind="visible: true">
    <spinner params="isVisible: !showUI(), message: '@Resources.ImmediatePaymentResources.RegistrationActivitySpinnerMessage'"></spinner>
    <section class="section-wrapper section-wrapper-top-border" data-bind="visible: showUI()">
        @Html.Partial("_AdminHeaderPartial")
        <!-- ko ifnot: HasPrivacyRestriction() -->
        <div class="section-contents primary-contents">
            <message id="messageArea" params="isVisible: Message(), message: Message()">
            </message>

            <div id="activityContainer" data-bind="visible: RegistrationTerms() && RegistrationTerms().length > 0">
                <div id="registrationTerms" data-bind="foreach: RegistrationTerms()">
                    <table class="termContainer">
                        <caption>
                            <h4 data-bind="text: TermDescription()"></h4>
                        </caption>
                        <thead>
                            <tr>
                                <!-- The nested divs are necessary for the gradient filters to render properly in IE-->
                                <th class="requirementHeader"><div>@Resources.ImmediatePaymentResources.PaymentRequirementsMetLabel</div></th>
                                <th class="actionHeader"><div data-bind="text: ActionHeaderLabel()"></div></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-bind="css: StatusStyle()">
                                    <span data-bind="text: Status()"></span>
                                </td>
                                <td class="action">
                                    <span data-bind="visible: NoActionText(), text: NoActionText()"></span>
                                    <input id="reg-summary-button" type="button" class="esg-button esg-button--secondary" data-bind="visible: !NoActionText(), value: LinkLabel(), click: $root.ProcessLink" />
                                    <input id="pay-plan-button" type="button" class="esg-button esg-button--secondary" data-bind="visible: DisplayPaymentPlanLink(), value: '@Resources.ImmediatePaymentResources.ViewPaymentPlanLink', click: $root.processPlanLink" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /ko -->
    </section>
</div>
