﻿<!-- Copyright 2015-2017 Ellucian Company L.P. and its affiliates. -->
@using Ellucian.Web.Student.Areas.Finance.Models.ImmediatePayments;
@model PaymentPlanAcknowledgementModel

@{
    ViewBag.Title = Model.WorkflowTitle;
    ViewBag.BodyId = "PaymentPlanAcknowledgement";
    ViewBag.SubMenuOverride = "Index";
    ViewBag.HeaderLabel = Resources.ImmediatePaymentResources.PaymentPlanAcknowledgementLabel;
}

<div class="clear-group">
    @if (ViewBag.IsAdmin == null || !ViewBag.IsAdmin)
    {
        @Html.Partial("_PageHeader", new Ellucian.Web.Student.Models.PageHeaderModel(Resources.ImmediatePaymentResources.PaymentPlanSummaryTitle,
        Resources.ImmediatePaymentResources.PaymentPlanSummaryDescription, null, null))
    }
    @if (ViewBag.IsAdmin != null && ViewBag.IsAdmin)
    {
        @Html.Partial("_PageHeader", new Ellucian.Web.Student.Models.PageHeaderModel(Resources.ImmediatePaymentResources.PaymentPlanSummaryTitle + Resources.FinanceResources.AdminPageTitle,
        Resources.ImmediatePaymentResources.PaymentPlanSummaryDescriptionAdmin, null, null))
    }
</div>
<div class="column-nine">
    <section class="section-wrapper section-wrapper-top-border">
        @Html.Partial("_AdminHeaderPartial")

        <!-- ko ifnot: HasPrivacyRestriction -->
        <div class="section-contents primary-contents">
            <!-- Workflow Indicator Bar -->
            @Html.Partial("WorkflowIndicatorPartial")
        </div>
            @{
                if (!string.IsNullOrEmpty(ViewBag.Error))
                {
                    if (ViewBag.Error != null)
                    {
                        @Html.Partial("_ErrorPartial")
                    }
                }
                else
                {
                    @Html.Partial("PlanAcknowledgementPartial")

                <!-- Footer -->
                    <div class="button-bar">
                        <input id="ReturnToRegAct" class="esg-button esg-button--primary" name="ReturnToRegAct" type="button" aria-label="@Resources.ImmediatePaymentResources.ReturnToRegActButtonAriaLabel"
                               value="@Resources.ImmediatePaymentResources.ReturnToRegActButtonLabel" data-bind="click: $root.ReturnToRegistrationActivity" />
                    </div>
                }
            }
        <!-- /ko -->
    </section>
</div>

@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/registrationactivityvmscripts")
    <script type="text/javascript">
        var jsonData = @Html.Raw(ViewBag.json);
        $(document).ready(function () {
            var viewModel = new registrationActivity.PaymentPlanSummaryModel(jsonData);
            ko.applyBindings(viewModel, document.getElementById("body"));

            // Format the workflow indicator, showing this form as the current step
            formatWorkflowIndicator("PaymentComplete");
        });
    </script>
}
