﻿<!-- Copyright 2013-2017 Ellucian Company L.P. and its affiliates. -->
@using Ellucian.Web.Student.Areas.Finance.Models.ImmediatePayments;
@model RegistrationSummaryModel

@{
    ViewBag.Title = Resources.ImmediatePaymentResources.RegistrationActivityLabel;
    ViewBag.BodyId = "RegistrationSummary";
    ViewBag.HeaderLabel = Resources.ImmediatePaymentResources.RegistrationSummaryLabel;   
}

<div class="clear-group">
    <div class="clear-group">
            @if (ViewBag.IsAdmin == null || !ViewBag.IsAdmin)
            {
            @Html.Partial("_PageHeader", new Ellucian.Web.Student.Models.PageHeaderModel(Resources.FinanceResources.RegistrationActivityTitle,
            Resources.FinanceResources.RegistrationActivityDescription, null, null))
            }
            @if (ViewBag.IsAdmin != null && ViewBag.IsAdmin)
            {
            @Html.Partial("_PageHeader", new Ellucian.Web.Student.Models.PageHeaderModel(Resources.FinanceResources.RegistrationActivityTitle + Resources.FinanceResources.AdminPageTitle,
            Resources.FinanceResources.RegistrationActivityDescriptionAdmin, null, null))
            }
        </div>
    </div>
<div class="column-nine">
    <section class="section-wrapper section-wrapper-top-border">
        @Html.Partial("_AdminHeaderPartial")

        @{
            if (!string.IsNullOrEmpty(ViewBag.Error))
            {
                if (ViewBag.Error != null)
                {
                    @Html.Partial("_ErrorPartial")
                }
            }
            else
            {
            <!-- ko ifnot: HasPrivacyRestriction -->
                <div class="alert-message-container section-contents primary-contents" data-bind="visible: showPayPlanMessage()">
                    <div class="esg-alert esg-alert--fluid esg-alert--info" role="alert">
                        <span class="esg-alert__icon-wrapper">
                            <span class="esg-alert__icon esg-icon__container" aria-hidden="True">
                                <svg class="esg-icon esg-icon--info-dark">
                                    <use xlink:href="#icon-info"></use>
                                </svg>
                            </span>
                        </span>
                        <div class="esg-alert__message">
                            <span>@Resources.ImmediatePaymentResources.ViewPaymentPlanSummaryText</span>
                            <a href="#" data-bind="click: DisplayPayPlanSummary">@Resources.ImmediatePaymentResources.ViewPaymentPlanSummaryLabel</a>
                        </div>
                    </div>
                </div>

                <!-- Heading -->
                <div id="reprintBodyHeader" class="section-header primary-header">
                    <h4>@ViewBag.HeaderLabel</h4>
                    <!-- Print Button -->
                    <a class="print-link" data-bind="click: printSummary" href="#">
                        <span>@Resources.ImmediatePaymentResources.PrintButtonLabel</span>
                        <span class="offScreen">@Resources.ImmediatePaymentResources.PrintSummaryAriaLabel</span>
                    </a>
                </div>

                <!-- Content -->
                @Html.Partial("RegistrationSummaryPartial")

                <!-- Footer -->
                <div class="button-bar">
                    <input id="ReturnToRegAct" class="esg-button esg-button--primary" name="ReturnToRegAct" type="button" aria-label="@Resources.ImmediatePaymentResources.ReturnToRegActButtonAriaLabel"
                           value="@Resources.ImmediatePaymentResources.ReturnToRegActButtonLabel" data-bind="click: ReturnToRegistrationActivity" />
                </div>
            }
            <!-- /ko -->
        }
    </section>

</div>

@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/registrationsummaryscripts")
    <script type="text/javascript">
        var jsonData = @Html.Raw(ViewBag.json);
        $(document).ready(function () {
            var viewModel = new RegistrationSummaryViewModel(jsonData);
            ko.applyBindings(viewModel, document.getElementById("main"));    
        });
    </script>
}
