/*
 * jquery-timepicker v1.11.9 - A jQuery timepicker plugin inspired by Google Calendar. It supports both mouse and keyboard navigation.
 * Copyright (c) 2015 Jon Thornton - http://jonthornton.github.com/jquery-timepicker/
 * License: MIT
 *
 * Ellucian Customizations - 2/23/2017 - Matt DeDiana
 * Updated the colors to use the variables from the colors partial.
 * Modified the box-shadow of ui-timepicker-wrapper to be the same box-shadow as the ESG Dropdown.
 * Modified the width of certain classes to accomodate ESG fonts and duration text.
 *
 * NOTE: This SCSS partial is not imported into Site.scss. Instead, import it into your Area's stylesheet.
 * or just require the timepicker.js module when using webpack, which will automatically import this SASS into 
 * your bundle
 */

@import '../../Content/_colors.scss';

.ui-timepicker-wrapper {
    overflow-y: auto;
    height: 200px;
    width: 7.5em;
    background: $color-base-95;
    border: 1px solid $color-primary-45;
    -webkit-box-shadow: 0 0.25rem 0.875rem rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0.25rem 0.875rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.25rem 0.875rem rgba(0, 0, 0, 0.2);
    outline: none;
    z-index: 10001;
    margin: 0;
}

.ui-timepicker-wrapper.ui-timepicker-with-duration {
    width: 14.5em;
}

.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-30,
.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-60 {
    width: 11em;
}

.ui-timepicker-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ui-timepicker-duration {
    margin-left: 5px;
    color: $color-base-55;
}

.ui-timepicker-list:hover .ui-timepicker-duration {
    color: $color-base-55;
}

.ui-timepicker-list li {
    padding: 3px 0 3px 5px;
    cursor: pointer;
    white-space: nowrap;
    list-style: none;
    margin: 0;
}

.ui-timepicker-list:hover .ui-timepicker-selected {
    background:  $color-base-95;
}

li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {
    background: $color-secondary-105;
}

li.ui-timepicker-selected .ui-timepicker-duration,
.ui-timepicker-list li:hover .ui-timepicker-duration {
    color: $color-base-55;
}

.ui-timepicker-list li.ui-timepicker-disabled,
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
    color: $color-base-55;
    cursor: default;
}

.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
    background: $color-base-75;
}
