﻿@* Copyright 2017 Ellucian Company L.P. and its affiliates. *@
@{
    ViewBag.Title = Resources.OrganizationalStructure.PageTitle;
}
@section scripts {
    @Html.Partial("_StringConstantDefinitions")
    @Html.Partial("_ActionUrlDefinitions")
    @Scripts.Render("~/bundles/organizationalstructurescripts")
}
@* Page Header Text *@
<div id="page-description" class="esg-page-header">
    <h2 class="esg-page-header__title">@ViewBag.Title</h2>
</div>

<section id="organizational-structure" class="section-wrapper">
    <div class="section-contents primary-contents">
        <div class="esg-row">
            <div class="esg-form__group esg-col-md-4">
                <div class="esg-form__group">
                    <label class="esg-form__label" for="user-search">@Resources.OrganizationalStructure.UserSearchLabel</label>
                    <div class="esg-lookup" data-bind="css: { 'esg-is-active': !isUserSearchLoaded() || userSearchErrorOccurred() || resultsForUser().length > 0}">
                        <div class="esg-lookup__input-group">
                            <input id="user-search" class="esg-form__input" type="search" data-bind="attr: { placeholder: Ellucian.OrganizationalStructure.organizationalStructureMessages.SearchPlaceholderText}, value: searchCriteriaForUser, enterKey: searchForUser" />
                            <button class="esg-form__icon esg-icon__container esg-form__icon--submit" data-bind="click: searchForUser">
                                <svg class="esg-icon esg-icon--small esg-icon--light">
                                    <use xlink:href="#icon-search"></use>
                                </svg>
                            </button>
                            <div class="esg-lookup__container">
                                <ul class="esg-lookup__results">
                                    <li class="esg-lookup__result-item" data-bind="visible: !isUserSearchLoaded()">
                                        <spinner params="isVisible: !isUserSearchLoaded(), message: Ellucian.OrganizationalStructure.organizationalStructureMessages.UserSearchLoadingText"></spinner>
                                    </li>
                                    <li class="esg-lookup__result-item" data-bind="visible: userSearchErrorOccurred, html: userSearchErrorMessage()"></li>
                                    <!-- ko foreach: resultsForUser -->
                                    <li class="esg-lookup__result-item" data-bind="visible: $parent.resultsForUser().length > 0 && $parent.isUserSearchLoaded(), click: $parent.selectUser">
                                        <ul class="esg-lookup__list">
                                            <li class="esg-lookup__list-item">
                                                <button class="esg-lookup__list-button">
                                                    <div data-bind="text: PersonId"></div>
                                                    <div data-bind="text: PersonName"></div>
                                                    <div data-bind="text: PositionTitle"></div>
                                                </button>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- /ko -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- ko if: selectedUser() !== null && userManagerRelationship() !== null -->
            <div class="esg-col-md-4">
                <div class="css-org-card__wrapper--non-context">
                    <div>
                        <div class="esg-form__label">@Resources.OrganizationalStructure.SupervisorLabel</div>
                        <!-- ko with: userManagerRelationship() -->
                        <button class="esg-person-card esg-person-card--portrait css-org-card--non-context" data-bind="click: $parent.focusClickedManager">
                            <div class="esg-person-card__header">
                                <profile-photo params="id: RelatedPersonId, size: 'medium', usedInTable: false"></profile-photo>
                                <div class="esg-person-card__title">
                                    <h4 class="esg-person-card__name" data-bind="text: RelatedPersonName"></h4>
                                    <p class="esg-person-card__detail esg-person-card__list-item--bold" data-bind="text: RelatedPositionTitle"></p>
                                </div>
                            </div>
                        </button>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
            <!-- /ko -->
        </div>


        <!-- Selected User -->
        <div data-bind="visible: selectedUser() !== null">

            <div class="esg-person-card esg-person-card--landscape esg-person-card--centered esg-person-card--non-modal">
                <!-- ko with: selectedUser -->
                <div class="esg-person-card__header">
                    <profile-photo params="id: PersonId, size: 'large', usedInTable: false"></profile-photo>
                    <div class="esg-person-card__title">
                        <h4 class="esg-person-card__name" data-bind="text: PersonName"></h4>
                        <p class="esg-person-card__detail" data-bind="text: PersonId"></p>
                    </div>
                </div>
                <div class="esg-person-card__body">
                    <ul class="esg-person-card__list">
                        <li class="esg-person-card__list-item esg-person-card__list-item--bold" data-bind="text: PositionTitle"></li>
                    </ul>

                </div>
                <div class="esg-person-card__footer esg-person-card__footer--with-options clear-group" data-bind="visible: $parent.UserCanUpdateOrganizationalRelationships">
                    <button class="esg-button esg-button--primary" data-bind="click: $parent.editManager, text: $parent.addOrUpdateManagerText, attr: { 'id': $parent.userHasManager() ? 'edit-manager' : 'add-manager' }"></button>
                    <button class="esg-button esg-button--primary" data-bind="click: $parent.editSubordinates, text: $parent.addOrUpdateSubordinateText, attr: { 'id': $parent.userHasSubordinates() ? 'edit-subordinates' : 'add-subordinate' }"></button>

                </div>
                <!-- /ko -->
            </div>

            <!-- ko if: selectedUser() !== null && userSubordinateRelationships().length > 0 -->
            <div class="esg-row">
                <!-- ko foreach: userSubordinateRelationships -->
                <div class="esg-col-md-4">
                    <div class="css-org-card__wrapper--non-context" data-bind="click: $parent.focusClickedSubordinate">
                        <div>
                            <div class="esg-form__label">@Resources.OrganizationalStructure.SubordinateLabel</div>
                            <button class="esg-person-card esg-person-card--portrait css-org-card--non-context">
                                <div class="esg-person-card__header">
                                    <profile-photo params="id: PersonId, size: 'medium', usedInTable: false"></profile-photo>
                                    <div class="esg-person-card__title">
                                        <h4 class="esg-person-card__name" data-bind="text: PersonName"></h4>
                                        <p class="esg-person-card__detail esg-person-card__list-item--bold" data-bind="text: PositionTitle"></p>
                                    </div>
                                </div>

                            </button>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
            </div>
            <!-- /ko -->

            @* Edit Manager *@
            <!-- ko if: selectedUser() !== null -->
            <modal-dialog params="isVisible: editManagerDialogIsVisible, title: addOrUpdateManagerText() + ': ' + selectedUser().PersonName, buttons: [{ title: Ellucian.OrganizationalStructure.organizationalStructureMessages.DoneDialogButtonText, callback: closeEditManagerDialog, isPrimary: false }], content: $data, defaultCloseOff: true">
                <div data-bind="visible: selectedUser() !== null">
                    <p data-bind="text: removeManagerMessage"></p>
                    <hr />
                    <!-- ko if: userManagerRelationship() !== null -->
                    <ul class="esg-list-group">
                        <li class="esg-list-group__item esg-list-group__item--marginless esg-list-group__item--hoverless esg-row">
                            <!-- ko with: selectedUser -->
                            <span class="esg-col-xs-12 esg-col-md-5" data-bind="text: $parent.userManagerRelationship().RelatedPersonName"></span>
                            <span class="esg-col-xs-12 esg-col-md-5" data-bind="text: $parent.userManagerRelationship().RelatedPositionTitle"></span>
                            <!-- /ko -->
                            <span class="esg-col-xs-12 esg-col-md-2">
                                <button id="remove-manager" data-bind="visible: userHasManager, click: removeManager, , tooltip: { position: 'top', message: Ellucian.OrganizationalStructure.organizationalStructureMessages.RemoveTooltip, zIndex: '1211' }">
                                    <icon params="isVisible: true, icon:'delete', size: 'xsmall', color: 'error'"></icon>
                                    <span class="offScreen">@Resources.OrganizationalStructure.RemoveManagerButton</span>
                                </button>
                            </span>

                        </li>
                    </ul>
                    <!-- /ko -->
                    @* Search for Manager *@
                    <div class="esg-row">
                        <div class="esg-form__group esg-col-md-7">
                            <div class="esg-form__group">
                                <label class="esg-form__label" for="manager-search">@Resources.OrganizationalStructure.ManagerSearchLabel</label>
                                <div class="esg-lookup" data-bind="css: { 'esg-is-active': !isManagerSearchLoaded() || managerSearchErrorOccurred() || resultsForManager().length > 0}">
                                    <div class="esg-lookup__input-group">
                                        <input id="manager-search" class="esg-form__input" type="search" data-bind="attr: { placeholder: Ellucian.OrganizationalStructure.organizationalStructureMessages.SearchPlaceholderText}, value: searchCriteriaForManager, enterKey: searchForManager, disable: userHasManager" />
                                        <button id="search-for-manager" class="esg-form__icon esg-icon__container esg-form__icon--submit" data-bind="click: searchForManager">
                                            <svg class="esg-icon esg-icon--small esg-icon--light">
                                                <use xlink:href="#icon-search"></use>
                                            </svg>
                                        </button>
                                        <div class="esg-form__feedback-text" data-bind="visible: userHasManager">@Resources.OrganizationalStructure.AddSupervisorInstructions</div>
                                        <div class="esg-lookup__container">
                                            <ul class="esg-lookup__results">
                                                <li class="esg-lookup__result-item" data-bind="visible: !isManagerSearchLoaded()">
                                                    <spinner params="isVisible: !isManagerSearchLoaded(), message: Ellucian.OrganizationalStructure.organizationalStructureMessages.ManagerSearchLoadingText"></spinner>
                                                </li>
                                                <li class="esg-lookup__result-item" data-bind="visible: managerSearchErrorOccurred, html: managerSearchErrorMessage"></li>
                                                <!-- ko foreach: resultsForManager -->
                                                <li class="esg-lookup__result-item" data-bind="visible: $parent.resultsForManager().length > 0 && $parent.isManagerSearchLoaded(), click: $parent.addOrUpdateManager">
                                                    <ul class="esg-lookup__list">
                                                        <li class="esg-lookup__list-item">
                                                            <button class="esg-lookup__list-button">
                                                                <div data-bind="text: PersonId"></div>
                                                                <div data-bind="text: PersonName"></div>
                                                                <div data-bind="text: PositionTitle"></div>
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <!-- /ko -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </modal-dialog>
            <!-- /ko -->
            @* End Edit Manager *@

            @* Edit Subordinates *@
            <!-- ko if: selectedUser() !== null -->
            <modal-dialog params="isVisible: editSubordinatesDialogIsVisible, title: addOrUpdateSubordinateText() + ': ' + selectedUser().PersonName, buttons: [{ title: Ellucian.OrganizationalStructure.organizationalStructureMessages.DoneDialogButtonText, callback: closeEditSubordinatesDialog, isPrimary: false }], content: $data, defaultCloseOff: true">
                <!-- ko if: userSubordinateRelationships() !== null -->
                <p data-bind="text: removeSubordinatesMessage"></p>
                <hr />
                <ul class="esg-list-group">
                    <!-- ko foreach: userSubordinateRelationships -->
                    <li class="esg-list-group__item esg-list-group__item--marginless esg-list-group__item--hoverless esg-row">
                        <span class="esg-col-xs-12 esg-col-md-5" data-bind="text: PersonName"></span>
                        <span class="esg-col-xs-12 esg-col-md-5" data-bind="text: PositionTitle"></span>
                        <span class="esg-col-xs-12 esg-col-md-2">
                            <button data-bind="attr: { 'id': 'remove-subordinate-' + $index() }, click: $parent.removeSubordinate, tooltip: { position: 'top', message: Ellucian.OrganizationalStructure.organizationalStructureMessages.RemoveTooltip, zIndex: '1211' }">
                                <icon params="isVisible: true, icon:'delete', size: 'xsmall', color: 'error'"></icon>
                                <span class="offScreen">@Resources.OrganizationalStructure.RemoveSubordinatesButton</span>
                            </button>
                        </span>
                    </li>
                    <!-- /ko -->
                </ul>
                <!-- /ko -->

                <div class="esg-row">
                    <div class="esg-form__group esg-col-md-7">
                        <div class="esg-form__group">
                            <label class="esg-form__label" for="subordinate-search">@Resources.OrganizationalStructure.SubordinateSearchLabel</label>
                            <div class="esg-lookup" data-bind="css: { 'esg-is-active': !isSubordinateSearchLoaded() || subordinateSearchErrorOccurred() || resultsForSubordinate().length > 0}">
                                <div class="esg-lookup__input-group">
                                    <input id="subordinate-search" class="esg-form__input" type="search" data-bind="attr: { placeholder: Ellucian.OrganizationalStructure.organizationalStructureMessages.SearchPlaceholderText}, value: searchCriteriaForSubordinate, enterKey: searchForSubordinate" />
                                    <button class="esg-form__icon esg-icon__container esg-form__icon--submit" data-bind="click: searchForSubordinate">
                                        <svg class="esg-icon esg-icon--small esg-icon--light">
                                            <use xlink:href="#icon-search"></use>
                                        </svg>
                                    </button>
                                    <div class="esg-lookup__container">
                                        <ul class="esg-lookup__results">
                                            <li class="esg-lookup__result-item" data-bind="visible: !isSubordinateSearchLoaded()">
                                                <spinner params="isVisible: !isSubordinateSearchLoaded(), message: Ellucian.OrganizationalStructure.organizationalStructureMessages.SubordinateSearchLoadingText"></spinner>
                                            </li>
                                            <li class="esg-lookup__result-item" data-bind="visible: subordinateSearchErrorOccurred, html: subordinateSearchErrorMessage"></li>
                                            <!-- ko foreach: resultsForSubordinate -->
                                            <li class="esg-lookup__result-item" data-bind="visible: $parent.resultsForSubordinate().length > 0 && $parent.isSubordinateSearchLoaded(), click: $parent.addSubordinate">
                                                <ul class="esg-lookup__list">
                                                    <li class="esg-lookup__list-item">
                                                        <button class="esg-lookup__list-button">
                                                            <div data-bind="text: PersonId"></div>
                                                            <div data-bind="text: PersonName"></div>
                                                            <div data-bind="text: PositionTitle"></div>
                                                        </button>
                                                    </li>
                                                </ul>
                                            </li>
                                            <!-- /ko -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </modal-dialog>
            <!-- /ko -->
            @* End Edit Subordinates *@
        </div>
    </div>
</section>