﻿<!-- Copyright 2014-2017 Ellucian Company L.P. and its affiliates -->
<!-- scripts here -->
@section scripts {
    @Scripts.Render("~/bundles/financialaidloanrequestscripts")
}

<div class="clear-group">
    <div id="page-description" class="column-five">
        <h2>@Resources.LoanRequest.PageTitle</h2>
            <p>@Resources.LoanRequest.PageDetail</p>
    </div>
</div>

<!-- Year selector bar with counselor info -->
<div id="loan-request-year-selector" data-bind="visible: showUI()">
    @Html.Partial("_CounselorContactAndYearSelector")
</div>

<!-- Loan Request Page container -->
<!-- The display: none and visible: true components here are a work-around for the fact that the mark-up is sometimes visible or 
    "flickers" when the page is first opened if Knockout has not completed its legwork for applying bindings-->
<!-- ko ifnot: HasPrivacyRestriction() -->
<div class="column-nine" id="loan-request-main" style="display: none" data-bind="visible: true">
    <spinner params="isVisible: !showUI(), message: '@Resources.LoanRequest.LoadingDataSpinnerMessage'"></spinner>
    <div data-bind="if: showUI()">
        <div class="section-wrapper section-wrapper-top-border">
            <div data-bind="visible: !(hasAwardYears() && hasConfiguration() && yearConfiguration().IsLoanRequestEnabled())">
                <!--ko with: selectedLoanRequestForYear() -->
                <!--ko if: IsRequestPending() -->
                @Html.Partial("LoanRequestConfirmationPartial")
                <!-- /ko -->
                <!--ko ifnot: IsRequestPending() -->
                <message params="isVisible: true, message: '@Resources.LoanRequest.LoanRequestsDisabledText', addMargin: true"></message>
                <!-- /ko -->
                <!-- /ko -->
                <!--ko ifnot: selectedLoanRequestForYear() -->
                <message params="isVisible: true, message: '@Resources.LoanRequest.NoFinancialAidDataMessage', addMargin: true"></message>
                <!-- /ko -->
            </div>
            <div data-bind="visible: (hasAwardYears() && yearConfiguration().IsLoanRequestEnabled())">
                <!--ko with: selectedLoanRequestForYear() -->
                <!--ko ifnot: IsRequestPending() && !requestSubmitted() -->
                <!-- ko if: $root.IsProxyView() -->
                <message params="isVisible: true, message: '@Resources.LoanRequest.NoPendingLoanRequestProxyMessage', addMargin: true, type: 'warning'"></message>
                <!-- /ko -->
                @Html.Partial("LoanRequestInProgressPartial")
                <!-- /ko -->
                <!--ko if: IsRequestPending() && !requestSubmitted() -->
                @Html.Partial("LoanRequestConfirmationPartial")
                <!-- /ko -->
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>
<!-- /ko -->

<!-- Spinner for use during AJAX calls -->
<modal-spinner id="loading" params="isVisible: isLoading, message: '@Resources.LoanRequest.ProcessingMessage'"></modal-spinner>