﻿<h3 class="section-header loan-request-step-title final-step">@Resources.LoanRequest.InProgressHeader</h3>

<div class="section-contents primary-contents">
    <message params="isVisible: true, message: InProgressAmountPartMessage + ' ' + formatAsCurrency(TotalRequestAmount(), 0) + ' on ' + RequestDate() + '.', type: 'success'"></message>

    <p class="loan-request-message">
        <span>@Resources.LoanRequest.InProgressOneLoanRequestMessage</span>
    </p>
    <p class="loan-request-message">
        <span>@Resources.LoanRequest.InProgressFurtherActionMessage</span>
    </p>
    <p class="loan-request-message" data-bind="with: AssignedToCounselor">
        <span data-bind="html: contactMessage"></span>
    </p>
</div>
