﻿<!-- Copyright 2014-2017 Ellucian Company L.P. and its affiliates -->
<div class="loan-request-section">
    @Html.Partial("WorkFlowIndicatorPartial")

    <div data-bind="visible: currentWorkFlowStep() === 'EnterLoanAmount'">
        <h3 class="section-header">@Resources.LoanRequest.StepTitleEnterRequestedAmount</h3>
        <div class="section-contents primary-contents">
            <fieldset>
                <legend class="offScreen">@Resources.LoanRequest.LegendRequestAmount</legend>
                <div class="column-five loan-request-amount">
                    <div class="loan-request-amount-option-container" data-bind="visible: UnmetCost() > 0">
                        <div class="loan-request-select-amount">
                            <input type="radio" name="requestAmountGroup" id="unmetCost" value="unmetCost" data-bind="checked: selectedRequestOption, disable: $root.IsProxyView()" />
                            <label for="unmetCost" id="unmetCostLabel" data-bind="html: unmetCostRequestAmountMessage()"></label>
                        </div>
                        <p>@Resources.LoanRequest.CurrentInformationOnFileMessage</p>
                        <button class="calculated-button no-styles" data-bind="visible: $root.isMobile, click: $data.showHideCostEquation, attr: { 'aria-expanded': showCostEquation() ? 'true' : 'false' }">
                            <span class="arrow calculated-button__icon" data-bind="css: { 'arrow-up': showCostEquation() }"></span>
                            @Resources.LoanRequest.HowIsThisCalculatedMessage
                        </button>
                        <div id="loan-request-cost-equation" class="layout-table loan-request-table" data-bind="visible: !$root.isMobile() || $data.showCostEquation()">
                            <div class="line-item estimated-cost layout-table-row">
                                <span id="estimated-label" class="line-item-label layout-table-cell">@Resources.LoanRequest.EstimatedCostOfAttendanceLabel</span>
                                <span class="line-item-value bold layout-table-cell" aria-labelledby="estimated-label" data-bind="currency: EstimatedCostOfAttendance"></span>
                            </div>
                            <div class="line-item potential-cost layout-table-row">
                                <span id="minus-label" class=" line-item-label layout-table-cell">@Resources.LoanRequest.PotentialFinancialAidLabel</span>
                                <span class="line-item-value minus bold layout-table-cell" aria-labelledby="minus-label">
                                    <span class="offScreen">@Resources.LoanRequest.ScreenReaderMinus</span>
                                    <span data-bind="currency: TotalAwardedAmount"></span>
                                </span>
                            </div>
                            <div class="line-item remaining-cost layout-table-row">
                                <span id="equals-label" class="line-item-label layout-table-cell">@Resources.LoanRequest.RemainingCostLabel</span>
                                <span class="line-item-value equals bold layout-table-cell" aria-labelledby="equals-label">
                                    <span class="offScreen">@Resources.LoanRequest.ScreenReaderEquals</span>
                                    <span data-bind="currency: UnmetCost"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="loan-request-amount-option-container">
                        <div class="esg-form__group esg-has-feedback esg-form__group--dollar-amount esg-col-md-8 loan-request-select-amount" data-bind="css: {'esg-has-error': customRequestAmount.hasError}">
                            <input type="radio" name="requestAmountGroup" id="customAmount" value="customAmount" data-bind="checked: selectedRequestOption, disable: $root.IsProxyView() || $root.isAdmin()" />
                            <label class="esg-form__label" for="customAmount">@Resources.LoanRequest.RequestCustomAmount</label>
                            <div class="esg-form__input-group custom-amount-input-wrapper" data-bind="click: $root.selectCustomRequestOption">
                                <span data-bind="text: $root.currencySymbol()"></span>
                                <input class="esg-form__input esg-form__input--dollar-amount" type="tel" pattern="[0-9.,]*" maxlength="8" id="customAmountInput" aria-label="@Resources.LoanRequest.AriaLabelNewLoanRequestInput"
                                       data-bind="value: customRequestAmount, valueUpdate: 'input', disable: (selectedRequestOption() !== 'customAmount') || $root.isAdmin() || $root.IsProxyView()" />
                                <label for="customAmountInput" class="offScreen">@Resources.LoanRequest.AriaLabelNewLoanRequestInput</label>
                                <div class="esg-form__feedback-icon esg-icon__container" data-bind="visible: customRequestAmount.hasError">
                                    <svg class="esg-icon esg-icon--error">
                                        <use xlink:href="#icon-error"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="esg-form__feedback-text" data-bind="text: customRequestAmount.validationMessage, visible: customRequestAmount.hasError"></div>
                        </div>
                    </div>
                </div>
                <div class="column-four clear-group" id="additional-comments">
                    <label for="comments-field" class="bold">@Resources.LoanRequest.NewRequestComments</label>
                    <div>
                        <textarea id="comments-field" class="esg-form__input" rows="4" data-bind="value: Comments, disable: $root.IsProxyView() || $root.isAdmin()"></textarea>
                    </div>
                </div>
            </fieldset>
        </div>
        <!--ko if:(!$root.IsProxyView() && !$root.isAdmin())-->
        <div class="loan-request-buttons text-align-center button-bar">
            <button type="button" id="enter-amount-step-next-button" class="esg-button esg-button--primary" aria-label="@Resources.LoanRequest.NextButtonLabel" title="@Resources.LoanRequest.NextButtonLabel"
                    name="NextStep" data-bind="click: nextStep, disable: (selectedRequestAmount() < 1) || (customRequestAmount.hasError)">
                @Resources.LoanRequest.NextButtonLabel
            </button>
        </div>
        <!--/ko-->
    </div>

    <div data-bind="visible: currentWorkFlowStep() === 'SelectPeriods'">
        <div class="loan-request-award-periods">
            <h3 class="section-header">@Resources.LoanRequest.StepTitleSelectAwardPeriods</h3>
        </div>

        <div class="section-contents primary-contents">
            <div class="loan-request-amount">
                <div class="loan-request-message">@Resources.LoanRequest.AwardPeriodSelectionMessage</div>

                <div class="loan-request-table select-period-wrapper layout-table">
                    <!-- ko foreach: LoanRequestAwardPeriods()-->
                    <div class="line-item layout-table-row">
                        <div class="line-item-label layout-table-cell">
                            <!-- needs dynamically generated ID for label -->
                            <input type="checkbox" data-bind="checkedInArray: { array: $parent.selectedAwardPeriods, value: $data }, attr: { 'id': 'award-period-checkbox' + $index() }" />
                            <label data-bind="attr: { 'for': 'award-period-checkbox' + $index() }">
                                <span data-bind="text: Description()"></span>
                            </label>
                            <span class="float-right" title="@Resources.LoanRequest.AriaLabelAwardPeriodAmountNewLoanRequest" aria-label="@Resources.LoanRequest.AriaLabelAwardPeriodAmountNewLoanRequest"
                                  data-bind="currency: AwardAmount(), precision: 0"></span>
                        </div>
                    </div>
                    <!-- /ko -->
                    <div class="loan-request-amount-message layout-table-row">
                        <div class="layout-table-cell">
                            <span>@Resources.LoanRequest.RequestAmountMessage</span>
                            <span class="bold float-right" data-bind="currency: selectedRequestAmount(), precision: 0"></span>
                        </div>
                    </div>
                </div>
                <div data-bind="visible: (selectedAwardPeriods().length === 0)" id="selected-periods-error-message">
                    <message params="isVisible: true, message: '@Resources.LoanRequest.OneTermMustBeSpecifiedErrorMessage', type: 'error'"></message>
                </div>
            </div>
        </div>
        <div class="loan-request-buttons text-align-center button-bar">
            <button type="button" id="select-periods-step-next-button" class="esg-button esg-button--primary" aria-label="@Resources.LoanRequest.NextButtonLabel" title="@Resources.LoanRequest.NextButtonLabel"
                    name="NextStep" data-bind="click: nextStep, disable: (selectedAwardPeriods().length === 0)">
                @Resources.LoanRequest.NextButtonLabel
            </button>
            <button type="button" id="select-periods-step-back-button" class="esg-button esg-button--secondary" aria-label="@Resources.LoanRequest.BackButtonLabel" title="@Resources.LoanRequest.BackButtonLabel"
                    name="PreviousStep" data-bind="click: prevStep">
                @Resources.LoanRequest.BackButtonLabel
            </button>
            <button type="button" id="select-periods-step-cancel-button" class="esg-button esg-button--secondary" aria-label="@Resources.LoanRequest.Cancel" title="@Resources.LoanRequest.Cancel"
                    name="CancelLoanRequest" data-bind="click: cancelRequest, disable: $root.loanRequestSubmissionInProgress">
                @Resources.LoanRequest.Cancel
            </button>
        </div>
    </div>

    <div data-bind="visible: currentWorkFlowStep() === 'ReviewAndSubmit'">
        <h3 class="section-header">@Resources.LoanRequest.StepTitleReviewAndSubmit</h3>
        <div class="section-contents primary-contents">
            <div class="loan-request-amount">
                <div class="loan-request-message">
                    @Resources.LoanRequest.ReviewAmountMessage<span class="bold" data-bind="currency: selectedRequestAmount, precision: 0"></span>
                </div>
                <div class="loan-request-message">
                    <p data-bind="visible: (selectedAwardPeriods().length === 1)">
                        @Resources.LoanRequest.ReviewSinglePeriodMessage
                    </p>
                    <p data-bind="visible: (selectedAwardPeriods().length > 1)">
                        @Resources.LoanRequest.ReviewMultiplePeriodsMessage
                    </p>
                </div>
                <div class="loan-request-table confirm-periods-wrapper layout-table">
                    <!-- ko foreach: selectedAwardPeriods() -->
                    <div class="line-item layout-table-row">
                        <div class="line-item-label layout-table-cell" data-bind="text: Description()"></div>
                        <div class="line-item-value text-align-right layout-table-cell" data-bind="currency: AwardAmount(), precision: 0"></div>
                    </div>
                    <!-- /ko -->
                    <div class="layout-table-row loan-request-amount-message">
                        <span class="layout-table-cell">@Resources.LoanRequest.RequestAmountMessage</span>
                        <span class="bold text-align-right layout-table-cell" data-bind="currency: selectedRequestAmount(), precision: 0"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="loan-request-buttons text-align-center button-bar">
            <button type="button" id="review-and-submit-step-submit-button" class="esg-button esg-button--primary" aria-label="@Resources.LoanRequest.SubmitButtonLabel" title="@Resources.LoanRequest.SubmitButtonLabel"
                    name="SubmitLoanRequest" data-bind="click: $root.createNewLoanRequest, disable: $root.loanRequestSubmissionInProgress">
                @Resources.LoanRequest.SubmitButtonLabel
            </button>
            <button type="button" id="review-and-submit-step-back-button" class="esg-button esg-button--secondary" aria-label="@Resources.LoanRequest.BackButtonLabel" title="@Resources.LoanRequest.BackButtonLabel"
                    name="PreviousStep" data-bind="click: prevStep, disable: $root.loanRequestSubmissionInProgress">
                @Resources.LoanRequest.BackButtonLabel
            </button>
            <button type="button" id="review-and-submit-step-cancel-button" class="esg-button esg-button--secondary" aria-label="@Resources.LoanRequest.Cancel" title="@Resources.LoanRequest.Cancel"
                    name="CancelLoanRequest" data-bind="click: cancelRequest, disable: $root.loanRequestSubmissionInProgress">
                @Resources.LoanRequest.Cancel
            </button>
        </div>
    </div>

    <div data-bind="visible: currentWorkFlowStep() === 'Confirmation'">
        @Html.Partial("LoanRequestConfirmationPartial")
    </div>

</div>
