﻿<!-- Copyright 2014 Ellucian Company L.P. and its affiliates -->
<div id="workflowIndicator" class="section-contents primary-contents clear-group">
    <div class="si-container horizontal" data-orientation="horizontal">
        <ol class="step-indicator equal-size">
            <li id="wfiEnterLoanAmount">
                <div class="description-wrapper">
                    <span class="icon-circle" aria-hidden="true"></span>
                    <span class="description">@Resources.LoanRequest.EnterLoanAmountLabel</span>
                </div>
            </li>
            <li id="wfiSelectPeriods">
                <div class="description-wrapper">
                    <span class="icon-circle" aria-hidden="true"></span>
                    <span class="description">@Resources.LoanRequest.SelectPeriodsLabel</span>
                </div>
            </li>
            <li id="wfiReviewAndSubmit">
                <div class="description-wrapper">
                    <span class="icon-circle" aria-hidden="true"></span>
                    <span class="description">@Resources.LoanRequest.ReviewAndSubmitLabel</span>
                </div>
            </li>
            <li id="wfiConfirmation">
                <div class="description-wrapper">
                    <span class="icon-circle" aria-hidden="true"></span>
                    <span class="description">@Resources.LoanRequest.ConfirmationLabel</span>
                </div>
            </li>
        </ol>
    </div>
</div>
