﻿@*Copyright 2013-2017 Ellucian Company L.P. and its affiliates.*@
<modal-dialog id="coursedetails-dialogcontainer" style="display: none" params="isVisible: courseIsVisible, title: Ellucian.Course.SectionCourseCommonDetails.CourseDialogTitle, content: $data, defaultCloseOff: true, buttons: [ closeCourseDetailsButton, courseDetailsUpdateButton, courseDetailsAddButton ]">
    @*Loading Spinner*@
    <spinner params="message: Ellucian.Course.SearchResult.stringDetailsLoadingText, isVisible: isLoading()"></spinner>

    <div data-bind="visible: !isLoading()">

        <div id="coursedetails-title" data-bind="text: FullTitle" tabindex="-1"></div>

        <div id="coursedetails-description" data-bind="html: Description"></div>

        <div id="coursedetails-table" class="layout-table" aria-label="course details table">
            <div class="layout-table-row">
                <div class="layout-table-cell" style="width: 25%">
                    <span class="bold">@Resources.Details.CourseCreditsTitle</span>
                </div>
                <div class="layout-table-cell">
                    <div id="coursedetails-credits" class="details-value">
                        <div id="coursedetails-creditsstatic" data-bind="text: CreditsStatic(), visible: IsStaticCredits() === true"></div>
                        <select id="coursedetails-selectvarcredit" class="esg-form__input esg-form__input--inline" onkeydown="return checkForCourseAddEnter(event)" aria-labelledby="coursedetails-freeformcreditshelp"
                                data-bind="options: CreditsVariableIncrements, visible: IsDropDownCredits() === true"></select>
                        <input type="text" id="coursedetails-freeformcredits" class="details-freeformcredits" size="8" onkeydown="return checkForCourseAddEnter(event)" aria-labelledby="coursedetails-freeformcreditshelp"
                               data-bind="visible: IsFreeFormCredits() === true, value: FreeFormCreditsValue(), hasfocus: IsFreeFormCredits() === true" />
                        <div id="coursedetails-freeformcreditshelp" class="details-varcreditshelp" data-bind="text: CreditsLabel"></div>
                    </div>
                </div>
            </div>
            <div class="layout-table-row">
                <div class="layout-table-cell">
                    <span class="bold">@Resources.Details.CourseLocationsLabel</span>
                </div>
                <div class="layout-table-cell">
                    <div id="coursedetails-locations" class="details-value" data-bind="foreach: Locations, visible: Locations().length > 0">
                        <span class="comma-separator" data-bind="text: $data"></span>
                    </div>
                    <span data-bind="visible: Locations().length === 0" class="details-value">@Resources.Courses.ToBeDeterminedText</span>
                </div>
            </div>
            <div class="layout-table-row">
                <div class="layout-table-cell">
                    <span class="bold">@Resources.Details.CourseRequisitesLabel</span>
                </div>
                <div class="layout-table-cell">
                    <div id="coursedetails-requisites" class="details-value" data-bind="foreach: Requisites">
                        <!-- ko if: $data.IsRequired === true -->
                        <span class='requisite-required' data-bind="text: $data.DisplayText + ' ' + $data.DisplayTextExtension"></span>
                        <!-- /ko -->
                        <!-- ko if: $data.IsRequired === false -->
                        <span class='requisite-recommended' data-bind="text: $data.DisplayText + ' ' + $data.DisplayTextExtension"></span>
                        <!-- /ko -->
                    </div>
                    <span data-bind="visible: Requisites().length === 0" class="details-value">@Resources.Courses.NoneText</span>
                </div>
            </div>

            <div class="layout-table-row" data-bind="visible: $data.showTermsOffered">
                <div class="layout-table-cell"></div>
                <div class="layout-table-cell">
                    <div id="coursedetails-termswarnings">
                        <div class="coursedetails-termsofferedicon"></div>
                        <div id="coursedetails-termsoffered" data-bind="text: TermsOffered"></div>
                    </div>
                </div>
            </div>
            <div class="layout-table-row" data-bind="visible: $data.showYearsOffered">
                <div class="layout-table-cell"></div>
                <div class="layout-table-cell">
                    <div id="coursedetails-termswarnings">
                        <div class="coursedetails-termsofferedicon"></div>
                        <div id="coursedetails-termsoffered" data-bind="text: YearsOffered"></div>
                    </div>
                </div>
            </div>

            <!-- ko if: $data.showLocationCycleRestrictionDescriptions -->
            <div class="layout-table-row">
                <div class="layout-table-cell">
                    <span class="bold">@Resources.Details.CourseOfferedLabel</span>
                </div>
            </div>

            <div class="layout-table-row">
                <div class="layout-table-cell"></div>
                <div class="layout-table-cell">
                    <table id="course-location-table">
                        <thead>
                            <tr>
                                <th class="course-locationcycle-header">@Resources.Courses.LocationLabel</th>
                                <th class="course-locationcycle-header">@Resources.Courses.SessionCycleLabel</th>
                                <th class="course-locationcycle-header">@Resources.Courses.YearlyCycleLabel</th>

                            </tr>
                        </thead>
                        <tbody>
                            <!-- ko foreach: $data.LocationCycleRestrictionDescriptions() -->
                            <tr>
                                <td class="course-locationcycle-data" data-bind="text: $data.LocationDescription"></td>
                                <td class="course-locationcycle-data" data-bind="foreach: $data.SessionCycleDescription">
                                    <p data-bind="text: isNullOrEmpty($data) ? '&nbsp;' : $data"></p>
                                </td>
                                <td class="course-locationcycle-data" data-bind="foreach: $data.YearlyCycleDescription">
                                    <p data-bind="text: isNullOrEmpty($data) ? '&nbsp;' : $data"></p>
                                </td>
                            </tr>
                            <!-- /ko -->
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /ko -->
            <div class="layout-table-row" data-bind="visible: AllowAdding() === true || AllowUpdating() === true">
                <div class="layout-table-cell bold" id="coursedetails-selecttermlabel">@Resources.Details.CourseTermLabel</div>
                <div class="layout-table-cell">
                    <select id="coursedetails-selectterm" class="esg-form__input esg-form__input--inline" onkeydown="return checkForCourseAddEnter(event)" aria-labelledby="coursedetails-selecttermlabel"
                            data-bind="value: SelectedTerm, options: AddTerms, optionsText: 'description', optionsValue: 'code', optionsCaption: '@Resources.Details.CourseTermSelectCaption    '"></select>
                </div>
            </div>
        </div>
    </div>
</modal-dialog>