﻿@*Copyright 2016 Ellucian Company L.P. and its affiliates.*@
@model dynamic

@section Styles
{
    @Styles.Render("~/Areas/Planning/Content/PlanningBundlecss")
}

@section Scripts
{
    @Scripts.Render("~/bundles/coursesindexscripts")
}



<!-- everything below the sub-nav bar -->

<div id="page-description" class="esg-page-header">
    <h2 class="esg-page-header__title">@Resources.Courses.PageDescription</h2>
    <div id="page-description-other" class="esg-page-header__input">
        @Html.Partial("CourseSearchForm")
    </div>
</div>


<div class="esg-tab">
    <ul class="esg-tab__menu" role="tablist" data-tabs="tabs">
        <li class="esg-tab__menu-item" role="presentation" data-bind="click:function(){TabSelected(1);}, clickBubble:false, css:TabSelected()==1?'esg-is-active':''"><a class="esg-tab__link" href="#tab1-content" data-toggle="tab"> Subject Search</a></li>
        <li class="esg-tab__menu-item" role="presentation" data-bind="click:function(){TabSelected(2);}, clickBubble:false, css:TabSelected()==2?'esg-is-active':''"><a class="esg-tab__link" href="#tab2-content" data-toggle="tab"> Advanced Search </a></li>
    </ul>
    <div class="esg-tab__content">
        <div class="esg-tab__panel" id="tab1-content" data-bind="css:TabSelected()==1?'esg-is-active':''">
            <div id="subject-search" data-bind="with:catalogSearchSubjectViewModelInstance">
                @Html.Partial("../../Views/Shared/courses/_CatalogSubjectsSearch")
            </div>
        </div>
        <div class="esg-tab__panel" id="tab2-content" data-bind="css:TabSelected()==2?'esg-is-active':''">
            <!--advance search-->
            <div id="advance-search" data-bind="with:catalogAdvancedSearchViewModelInstance">
                @Html.Partial("../../Views/Shared/courses/_CatalogAdvancedSearch")
            </div>

        </div>
       
    </div>
</div>












