﻿@*Copyright 2012-2017 Ellucian Company L.P. and its affiliates.*@
@using Ellucian.Web.Student.Areas.Planning.Models.Advising
@model dynamic
@{

    string TermContentPartial = Model.ViewModel.TermContentPartial;
}

@section Styles
{
    @Styles.Render("~/Areas/Planning/Content/PlanningBundlecss")
}

@section Scripts
{
    <script type="text/javascript">
        var advisingViewModelJson = @Html.Raw(ViewBag.AdvisingViewModelJson);
        var spinnerMessage = "@Html.Raw(@Resources.Advisors.MainSpinnerMessage)";

        $("#advising > a").addClass("menu-selected");
    </script>

    @Scripts.Render("~/bundles/advisescripts")
}


<div id="page-description" class="esg-page-header esg-has-subtitle">
    <div class="esg-page-header-subtitle__wrapper">
        <h2 class="esg-page-header__title">
            @Resources.Advisors.AdviseeDetailHeading
        </h2>
        <a class="esg-page-header__subtitle esg-page-header__subtitle--backlink" href="@Url.Action("Index", "Advisors")">
            <span class="esg-icon__container esg-page-header__icon" aria-hidden="true">
                <svg class="esg-icon esg-icon--left">
                    <use xlink:href="#icon-arrow"></use>
                </svg>
            </span>@Resources.Advisors.BackToStudentSearchLink
        </a>
    </div>

    <div id="page-description-other" class="esg-page-header__input">
        <form id="search-form" data-bind="submit: advisingKeywordSearchHandler">
            @Html.AntiForgeryToken()
            <div class="esg-form__group">
                <div class="esg-form__input-group">
                    <label for="keyword" class="offScreen">@Resources.Courses.Search</label>
                    <input class="esg-form__input" id="keyword" name="keyword" data-bind="watermark: { text: 'Search for courses...', options:{ className: 'keyword-default'} }, value: Keyword">
                    <button id="submit-course-search" class="esg-form__icon esg-icon__container esg-form__icon--submit" type="submit" value="@Resources.Courses.Search">
                        <svg class="esg-icon esg-icon--small esg-icon--light">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use>
                        </svg>
                        <span class="offScreen">@Resources.Courses.Search</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="column-nine">
    @if (ViewBag.AdvisingError == null)
    {
        var headerBottomBorder = "";
        if (Model.ViewModel.Advisee.HasPrivacyRestriction)
        {
            headerBottomBorder = "bottom-border";
        }
        <div id="user-profile-header" class="clear-group @headerBottomBorder">
            <div id="user-profile-left">
                @if (!Model.ViewModel.Advisee.HasPrivacyRestriction)
                {
                    <profile-photo params="id: Advisee.Id, altText: '@Resources.Advisors.AdviseePhotoAltText', size: 'large'"></profile-photo>
                }
                <div id="user-profile-details">
                    <div id="user-profile-name">
                        @Model.ViewModel.Advisee.DisplayName
                    </div>
                    <div class="user-profile-detail">
                        @Resources.Advisors.StudentCardIdPrefix @Model.ViewModel.Advisee.Id
                    </div>
                    @if (Model.ViewModel.Advisee.PrivacyMessage.Length > 0)
                    {
                        <div class="user-profile-detail">
                            <span class="esg-icon__container esg-icon__container--fill esg-icon__container--info" aria-hidden="true">
                                <svg class="esg-icon esg-icon--xsmall">
                                    <use xlink:href="#icon-info"></use>
                                </svg>
                            </span>
                            <span>@Model.ViewModel.Advisee.PrivacyMessage</span>
                        </div>
                    }
                    @if (!Model.ViewModel.Advisee.HasPrivacyRestriction)
                    {
                        <div class="user-profile-detail advising-display-list" data-bind="if: Advisee.ProgramDisplay !== null && Advisee.ProgramDisplay().length > 0">
                            <span>@Resources.Advisors.ProgramsLabel</span>
                            <!-- ko foreach: Advisee.ProgramDisplay -->
                            <span data-bind="text: $data"></span>
                            <!-- /ko -->
                        </div>
                        <div class="user-profile-detail" data-bind="visible: Advisee.EducationalGoal() != null, text:'@Resources.Advisors.EducationalGoalLabel' + Advisee.EducationalGoal()">
                        </div>
                        <div class="user-profile-detail advising-display-list" data-bind="visible: Advisee.AdvisorNames().length > 0">
                            <span>@Resources.Advisors.AdvisorsLabel</span>
                            <!-- ko foreach: Advisee.AdvisorNames -->
                            <span data-bind="text: $data"></span>
                            <!-- /ko -->
                        </div>
                        <div class="user-profile-detail" data-bind="if: Advisee.PreferredEmailAddress">
                            <span class="esg-icon__container" aria-hidden="true">
                                <svg class="esg-icon esg-icon--small esg-icon--neutral">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-email"></use>
                                </svg>
                            </span>
                            <a class="user-profile-email" data-bind="text: Advisee.PreferredEmailAddress, attr: { href : 'mailto:' + Advisee.PreferredEmailAddress(), alt: '@Resources.Advisors.SendAnEmailToTag' + Advisee.PreferredEmailAddress() + ' ', title: '@Resources.Advisors.SendAnEmailToTag' + Advisee.PreferredEmailAddress() + ' ', 'aria-label': '@Resources.Advisors.SendAnEmailToTag' + Advisee.PreferredEmailAddress() + ' '}"></a>
                        </div>
                    }
                </div>
            </div>
            @if (!Model.ViewModel.Advisee.HasPrivacyRestriction)
            {
                <div id="user-profile-right">
                    <input type="button" class="esg-button esg-button--primary advising-review-button" data-bind="attr: { 'aria-label': '@Resources.Advisors.ReviewCompleteButtonLabel' }, visible: $root.CanAdvisorReviewPlan(), click: $root.SubmitReview, clickBubble: false" value="@Resources.Advisors.ReviewCompleteButtonLabel" />
                    <!-- ko skipBindings: true -->
                    <div id="last-reviewed-info" class="user-profile-detail" data-bind="visible: DegreePlan().LastReviewedDate() != null, text: '@Resources.DegreePlans.UiLastReviewedOn' + DegreePlan().LastReviewedDate() + '@Resources.DegreePlans.UiLastReviewedBy' + DegreePlan().LastReviewedBy() ">
                    </div>
                    <!-- /ko -->
                </div>
            }
        </div>
        if (!Model.ViewModel.Advisee.HasPrivacyRestriction)
        {
            <div id="advising-content-nav" style="display: none;">
                <ul>
                    <li>
                        <a href="#advising-main">@Resources.Advisors.CoursePlanNav</a>
                    </li>
                    <li>
                        <a href="#advising-timeline">@Resources.Advisors.TimelineNav</a>
                    </li>
                    <li>
                        <a href="#advising-progress">@Resources.Advisors.ProgressNav</a>
                    </li>
                    <li>
                        <a href="#advising-catalog">@Resources.Advisors.CatalogNav</a>
                    </li>
                    <li>
                        <a href="#advising-notes">@Resources.Advisors.NotesNav</a>
                    </li>
                    <li>
                        <a href="#plan-archives">@Resources.Advisors.ArchiveNav</a>
                    </li>
                    <li>
                        <a href="#advising-tests">@Resources.TestScores.TestResultNav</a>
                    </li>
                    <li>
                        <a href="#advising-transcripts">@Resources.Transcripts.TranscriptNav</a>
                    </li>
                    <li>
                        <a href="#advising-grades">@Resources.Advisors.GradesNav</a>
                    </li>
                </ul>
                <div id="advising-main">
                    <!-- Spinner for page loading -->
                    <div id="spinner" style="display: none;" data-bind="visible: isPageLoading()" class="css-spinner-wrapper">
                        <div class="esg-spinner-wrapper">
                            <div class="esg-spinner"></div>
                        </div>
                        <h2 class="css-spinner-wrapper__message" data-bind="html: stringAdvisorsMainSpinnerMessage"></h2>
                    </div>
                    <div id="advising-main-data" style=display: none;" data-bind="visible: !isPageLoading()">
                        <div style="display: none;" data-bind="visible: typeof DegreePlan() !== 'undefined'">
                            <!-- ko if: typeof DegreePlan() !== 'undefined' && CanAdvisorModifyPlan() == true -->
                            @Html.Partial("../DegreePlans/LoadSamplePlanAlertPartial")
                            @Html.Partial("../DegreePlans/NoTermsAlertPartial")
                            <!-- /ko -->
                            <!-- ko if: currentTermCode() != null -->
                            <div id="advising-terms" style="display: none;" data-bind="visible: currentTermCode() != null">
                                <div>
                                    @Html.Partial("TermSelection", TermContentPartial)
                                </div>
                            </div>
                            <!-- /ko -->
                            <!-- Drop Section Dialog -->
                            @Html.Partial("../DegreePlans/DropSectionDialog")
                        </div>
                    </div>
                </div>
                <!-- Timeline view of the plan -->
                <div id="advising-timeline">
                    <!-- Spinner for timeline loading -->
                    <spinner id="advising-timeline-spinner" params="message: stringAdvisorsMainSpinnerMessage, isVisible: isLoading()">
                    </spinner>
                    <div id="advising-timeline-data">
                        <div id="advising-timeline-partial" style="display: none;" data-bind="visible: currentTermCode() != null">
                            <div>
                                @Html.Partial("../DegreePlans/Timeline")
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Advisee Progress -->
                <div id="advising-progress">
                    <!-- Spinner for progress loading -->
                    <spinner id="advising-progress-spinner" params="message: stringAdvisorsProgressSpinnerMessage, isVisible: isLoading()">
                    </spinner>

                    @Html.Partial("AdviseePrograms")
                </div>
                <div id="advising-catalog">
                    <!-- Spinner for catalog loading -->
                    <spinner id="advising-catalog-spinner" params="message: stringAdvisorsCatalogSpinnerMessage, isVisible: isLoading()">
                    </spinner>

                    <div id="catalog-index" data-bind="visible: isLoaded">
                        <!-- ko if: !catalogResultsDisplayed() -->
                        @Html.Partial("../../Views/Shared/Courses/_CatalogSubjectsSearch")
                        <!-- /ko -->
                    </div>
                    <div id="catalog-result" class="clear-group">
                        <!-- ko if: catalogResultsDisplayed -->
                        <div class="backlink">
                            <a href="#" data-bind="click: showCatalogSubjectIndex">@Resources.Advisors.BackToCourseCatalogLink</a>
                        </div>
                        <div class="column-two" style="display: none;" data-bind="visible: CurrentPageIndex() != null">
                            @Html.Partial("../../Views/Shared/Courses/_SearchResultFilters", new { FilterSelectionType = "STATIC", DefaultFiltersSettings = Model.DefaultFiltersSettings })
                        </div>
                        <div class="column-seven" style="display: none;" data-bind="visible:  CurrentPageIndex() != null">
                            @Html.Partial("../../Views/Shared/Courses/_SearchResultDetail", new { FilterSelectionType = "DROPDOWN", DefaultFiltersSettings = Model.DefaultFiltersSettings })
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
                <!-- Advising Notes -->
                <div id="advising-notes">
                    <!-- Spinner for advising notes loading -->
                    <spinner id="advising-notes-spinner" params="message: stringAdvisorsMainSpinnerMessage, isVisible: isLoading()">
                    </spinner>

                    <div id="advising-notes-data">
                        <div style="display: none;" data-bind="visible: currentTermCode() != null">
                            <div id="advisor-advising-notes-wrapper" class="clear-group">
                                @Html.Partial("ComposeAdvisingNote")
                                <!-- ko with: DegreePlan -->
                                @Html.Partial("ViewAdvisingNotes")
                                <!-- /ko -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Plan Archive -->
                <div id="plan-archives">
                    <!-- Spinner for archive loading -->
                    <spinner id="plan-archives-spinner" params="message: stringAdvisorsDegreePlanArchiveSpinnerMessage, isVisible: isLoading()">
                    </spinner>
                    <div id="plan-archives-data">
                        <div style="display: none;" data-bind="visible: planArchiveInstance.isLoaded() == true">
                            <div id="advisor-plan-archive-wrapper" class="clear-group" data-bind="with: planArchiveInstance">
                                @Html.Partial("PlanArchive")
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Test Scores -->
                <div id="advising-tests">
                    <!-- Throbber for test scores loading -->
                    <spinner id="advising-tests-spinner" params="message: stringAdvisorsTestScoreSpinnerMessage, isVisible: isLoading()">
                    </spinner>
                    <div id="advising-tests-data">
                        <div style="display: none;" data-bind="visible: testScoreInstance.isLoaded() == true" class="clear-group">

                            @Html.Partial("TestScoresPartial")

                        </div>
                    </div>
                </div>
                <div id="advising-transcripts">
                    <!-- Throbber for transcripts loading -->
                    <spinner id="advising-transcripts-spinner" params="message: stringAdvisorsTranscriptSpinnerMessage, isVisible: isLoading()">
                    </spinner>

                    @Html.Partial("../Transcripts/UnofficialTranscriptsPartial")
                </div>
                <!-- Student grades view -->
                <div id="advising-grades">
                    <!-- Spinner for grades loading -->
                    <spinner id="advising-grades-spinner" params="message: stringGradeHomeLoadingDataSpinnerMessage, isVisible: isLoading()">
                    </spinner>
                    <div id="advising-grades-data">
                        <div>
                            @Html.Partial(@"~\Areas\Student\Views\Shared\StudentGradesPartial.cshtml")
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="esg-alert esg-alert--error esg-alert--fluid" role="alert">
            <span class="esg-alert__icon-wrapper">
                <span class="esg-alert__icon esg-icon__container" aria-hidden="True">
                    <svg class="esg-icon esg-icon--error-dark">
                        <use xlink:href="#icon-error"></use>
                    </svg>
                </span>
            </span>
            <div class="esg-alert__message">
                <span>@string.Format(System.Globalization.CultureInfo.CurrentUICulture, Resources.Advisors.AdvisingError, ViewBag.AdvisingError)</span>
            </div>
        </div>
    }
</div>
@if (!Model.ViewModel.Advisee.HasPrivacyRestriction)
{
    <div id="dialogs" style="display: none;" data-bind="visible: true">
        @Html.Partial("../DegreePlans/RemoveTermDialog")
        <!-- Add Term Dialog -->
        @Html.Partial("../DegreePlans/AddTermDialog")
        <!-- Remove Course Dialog -->
        @Html.Partial("../DegreePlans/RemoveCourseDialogPartial")
        <!-- Clear Term Dialog -->
        @Html.Partial("../DegreePlans/ClearTermDialog")
    </div>
    <modal-spinner id="advising-loading" params="isVisible: isLoading() || programRequirementsViewModelInstance.isLoading(), message: spinnerMessage"></modal-spinner>

    <div id="load-sample-plan-wrapper" style="display: none;">
        <!-- Loading dialog -->
        @Html.Partial("LoadSamplePlanDialog")
    </div>
    
     @*Detail dialogs*@
    <div id="other-dialogs" style="display: none;">
        @Html.Partial("../Courses/CourseDetails")
        @Html.Partial("../../Views/Shared/Courses/_SectionDetails")
    </div>
}
