﻿<!-- Advisee Programs -->
<div id="no-programs-notification">
    <message params="isVisible: noPrograms() == true, message: '@Resources.Advisors.NoProgramsMessage', type: 'info'">
    </message>
</div>
<div id="advising-activeadvisee-programs" style="display: none;" data-bind="visible: Programs()[0] != null">
    <div class="section-wrapper">
        <div class="program-tabs-desktop" id="program-tabs">
            @Html.Partial("../Programs/ProgramSelection")
            <div data-bind="with: CurrentProgram">
                @Html.Partial("../Programs/DegreeRequirements")
            </div>
        </div>
    </div>
    <!-- /ko -->
    @Html.Partial("WhatIfDialog")
</div>
