﻿@*Copyright 2012-2017 Ellucian Company L.P. and its affiliates.*@
<div class="clear-group">
    <!-- ko if: PlannedCourses().length == 0 -->
    <message params="isVisible: true, message: '@Resources.DegreePlans.UiNoCourses', type: 'warning', addMargin: true"></message>
    <!-- /ko -->
    <!-- ko if: PlannedCourses().length > 0 -->
    <div class="advising-term-nav" data-bind="jqTabs: {selected:$parent.activeAdvisingTermTab()}" style="visibility: hidden;">
        <ul>
            <li>
                <a href="#advising-list" data-bind="attr: {'aria-label': '@Resources.Advisors.CourseListAria'}, click:function(){$parent.activeAdvisingTermTab(0); return true;}">@Resources.Advisors.CourseList</a>
            </li>
            <li>
                <a href="#advising-calendar" data-bind="attr: {'aria-label': '@Resources.Advisors.CourseCalendarAria'}, click:function(){$parent.activeAdvisingTermTab(1); return true;}">@Resources.Advisors.CourseCalendar</a>
            </li>
        </ul>
        <!-- Course List View -->
        <div class="advising-term-data" id="advising-list">

            <table data-bind="css: { 'advising-term-table': !IsTermCompleted() && !AllCoursesHaveCredit() && $root.canApprove(), 'advising-term-table-disabled': IsTermCompleted() || AllCoursesHaveCredit() || !$root.canApprove() }">
                <!-- Hide the action buttons if the user cannot modify the plan -->
                <!-- ko if: $root.canApprove -->
                <caption>
                    <div class="advising-action-buttons" data-bind="css: { 'active': coursesSelected(), 'inactive': !coursesSelected() }">
                        <a href="#" id="advising-approve" data-bind="click: function() { $parent.SubmitApprovals('Approved'); }">@Resources.Advisors.Approve</a>
                        <a href="#" id="advising-deny" data-bind="click: function() { $parent.SubmitApprovals('Denied'); }">@Resources.Advisors.Deny</a>
                        <!-- ko if: $root.canEdit -->
                        <a href="#" id="advising-protect" data-bind="click: function() { $parent.updatePlanProtection(true); }">@Resources.Advisors.Protect</a>
                        <a href="#" id="advising-unprotect" data-bind="click: function() { $parent.updatePlanProtection(false); }">@Resources.Advisors.Unprotect</a>
                        <!-- /ko -->
                    </div>
                </caption>
                <!-- /ko -->
                <thead>
                    <tr>
                        <th class="advising-table-checkbox" data-bind="css: { 'table-header-clickable': !$data.IsTermCompleted() && $root.canApprove() }">
                            <a href="#" data-bind="click: advisingViewModelInstance.SelectAll, attr: { title: !IsTermCompleted() && !AllCoursesHaveCredit() && $root.canApprove() ? '@Resources.Advisors.SelectAllTooltip' : null}, tooltip: { position: 'top', message: '@Resources.Advisors.SelectAllTooltip' }">@Resources.Advisors.SelectAll</a>
                        </th>
                        <th style="text-align: center">
                            @Resources.Advisors.ApprovalTermText
                        </th>
                        <th>
                            @Resources.Advisors.AdvisingTableHeaderCourse
                        </th>
                        <th>
                            @Resources.Advisors.AdvisingTableHeaderCredits
                        </th>
                        <th>
                            @Resources.Advisors.AdvisingTableHeaderInstructor
                        </th>
                        <th>
                            @Resources.Advisors.AdvisingTableHeaderTime
                        </th>
                        <th colspan="2">
                            @Resources.Advisors.AdvisingTableHeaderLocation
                        </th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: PlannedCourses()">
                    <tr>
                        <td class="advising-table-checkbox" data-bind="css: { 'advising-course-disabled': ko.utils.unwrapObservable($data.AcademicHistory) != null || $data.Count() > 0 }">
                            <label data-bind="attr: {'for': 'course-' + $index()}"><span class="offScreen" data-bind="text: $data.FullTitleDisplay()"></span></label>
                            <input type="checkbox" value="selected" data-bind="attr: { 'id': 'course-' + $index(), name: ($parent.Code() != null ? $parent.Code().replace(@Resources.SiteResources.TabCodeReplacement, '') : 'nonterm') + $data.Id() + 'c' + $data.Count(), 'aria-label': 'Select ' + $data.FullTitleDisplay() }, checked: $data.selected, disable: ko.utils.unwrapObservable($data.AcademicHistory.Section) !=null || $data.Count()> 0 || $parent.IsTermCompleted() || !$root.canApprove()" />
                        </td>
                        <td data-bind="css: { 'advising-course-approved': $data.ApprovalStatus() == 'Approved', 'advising-course-denied': $data.ApprovalStatus() == 'Denied'}">
                            <span class="offScreen" data-bind="text: $data.FullTitleDisplay() + ($data.ApprovalStatus() === 'Approved' ? ' is Approved' : $data.ApprovalStatus() === '' ? ' has no approval status' : ' is Denied')"></span>
                        </td>
                        <td>
                            <div>
                                <span data-bind="text: $data.FullTitleDisplay()"></span>
                            </div>

                            <!-- Course Requisite Warnings -->
                            <!-- ko foreach: RequisiteWarnings -->
                            <div class="esg-alert esg-alert--fluid esg-alert--warning esg-alert--small" role="alert">
                                <span class="esg-alert__icon-wrapper">
                                    <span class="esg-alert__icon esg-icon__container" aria-hidden="True">
                                        <svg class="esg-icon esg-icon--warning-dark">
                                            <use xlink:href="#icon-warning"></use>
                                        </svg>
                                    </span>
                                </span>
                                <div class="esg-alert__message">
                                    <a href="#" data-bind="click: $parents[2].RequisiteWarningLinkHandler">
                                        <span data-bind="text: DisplayText"></span>
                                    </a>
                                </div>
                            </div>
                            <!-- /ko -->
                            <!-- Course Co-Requisite Warnings (these go away after conversion) -->
                            <!-- ko foreach: CorequisiteCourseWarnings -->
                            <div class="esg-alert esg-alert--fluid esg-alert--warning esg-alert--small" role="alert">
                                <span class="esg-alert__icon-wrapper">
                                    <span class="esg-alert__icon esg-icon__container" aria-hidden="True">
                                        <svg class="esg-icon esg-icon--warning-dark">
                                            <use xlink:href="#icon-warning"></use>
                                        </svg>
                                    </span>
                                </span>
                                <div class="esg-alert__message">
                                    <a href="#" data-bind="click: $parents[2].RequisiteWarningLinkHandler">
                                        <span data-bind="text: $data.DisplayMessage"></span>
                                    </a>
                                </div>
                            </div>
                            <!-- /ko -->
                            <!-- Other Course Warnings -->
                            <!-- ko foreach: Warnings -->
                            <div class="esg-alert esg-alert--fluid esg-alert--warning esg-alert--small" role="alert">
                                <span class="esg-alert__icon-wrapper">
                                    <span class="esg-alert__icon esg-icon__container" aria-hidden="True">
                                        <svg class="esg-icon esg-icon--warning-dark">
                                            <use xlink:href="#icon-warning"></use>
                                        </svg>
                                    </span>
                                </span>
                                <div class="esg-alert__message">
                                    <span data-bind="text: $data"></span>
                                </div>
                            </div>
                            <!-- /ko -->
                            <!-- Requisite Section warnings -->
                            <!-- ko foreach: CorequisiteSectionWarnings -->
                            <div class="esg-alert esg-alert--fluid esg-alert--warning esg-alert--small" role="alert">
                                <span class="esg-alert__icon-wrapper">
                                    <span class="esg-alert__icon esg-icon__container" aria-hidden="True">
                                        <svg class="esg-icon esg-icon--warning-dark">
                                            <use xlink:href="#icon-warning"></use>
                                        </svg>
                                    </span>
                                </span>
                                <div class="esg-alert__message">
                                    <a href="#" data-bind="click: $parents[2].RequisiteWarningLinkHandler">
                                        <span data-bind="text: DisplayMessage"></span>
                                    </a>
                                </div>
                            </div>
                            <!-- /ko -->
                            <!-- ko if: ko.utils.unwrapObservable($data.AcademicHistory) != null && $data.IsInProgress() -->
                            <div class="advising-course-registered">@Resources.Advisors.CourseIsRegisteredText</div>
                            <!-- /ko -->
                            <!-- ko if: ko.utils.unwrapObservable($data.AcademicHistory) != null && $data.IsPreregistered() -->
                            <div class="advising-course-preregistered">@Resources.Advisors.CourseIsPreregisteredText</div>
                            <!-- /ko -->
                            <!-- ko if: ko.utils.unwrapObservable($data.AcademicHistory) != null && $data.IsCompleted() -->
                            <div class="advising-course-registered">@Resources.Advisors.CourseIsCompletedText</div>
                            <!-- /ko -->
                            <!-- ko if: ko.utils.unwrapObservable($data.AcademicHistory) != null && $data.IsWithdrawn() -->
                            <div class="advising-error-bubble">@Resources.Advisors.CourseIsWithdrawnText</div>
                            <!-- /ko -->
                            <!-- ko if: $data.SectionWaitlistStatus() == "Active" || $data.SectionWaitlistStatus() == "PermissionToRegister" -->
                            <div class="advising-course-waitlisted">@Resources.Advisors.CourseIsWaitlistedText</div>
                            <!-- /ko -->
                            <!-- ko if: $data.Count() > 0 -->
                            <div class="advising-course-multiple">@Resources.Advisors.CourseIsDuplicateText</div>
                            <!-- /ko -->
                            <!-- ko with: $data.Section -->
                            <div class="advising-error-bubble" data-bind="visible: !$data.IsActive()">@Resources.DegreePlans.SectionNotAvailable</div>
                            <!-- /ko -->
                        </td>
                        <td>
                            <!-- ko with: ko.utils.unwrapObservable($data.AcademicHistory.Section) != null ? ko.utils.unwrapObservable($data.AcademicHistory) : $data -->
                            <span data-bind="text: $data.CreditsCeusDisplay"></span>
                            <!-- /ko -->
                        </td>
                        <!-- Instructors -->
                        <td>
                            <!-- ko with: ko.utils.unwrapObservable($data.AcademicHistory.Section) != null ? ko.utils.unwrapObservable($data.AcademicHistory) : $data -->
                            <!-- ko with: ko.utils.unwrapObservable($data.Section) -->
                            <!-- ko foreach: $data.Faculty() -->
                            <div>
                                <span data-bind="text: $data"></span>
                            </div>
                            <!-- /ko -->
                            <!-- ko if: $data.Faculty().length == 0 -->
                            <div>
                                <span>@Resources.Advisors.AdvisingTBDText</span>
                            </div>
                            <!-- /ko -->
                            <!-- /ko -->
                            <!-- ko if: ko.utils.unwrapObservable($data.Section) == null -->
                            <div>
                                <span>@Resources.Advisors.AdvisingNoSectionText</span>
                            </div>
                            <!-- /ko -->
                            <!-- /ko -->
                        </td>
                        <!-- meeting details -->
                        <td>
                            <!-- ko with: ko.utils.unwrapObservable($data.Section) -->
                            <!-- ko foreach: $data.PlannedMeetings() -->
                            <div data-bind="if: DaysOfWeek() != ''">
                                <span data-bind="text: DaysOfWeek() + ' '"></span><span data-bind="text: FormattedTime()">
                                </span>
                            </div>
                            <div data-bind="if: DaysOfWeek() == '' && !IsOnline()">
                                <span>@Resources.Advisors.AdvisingTBDText</span>
                            </div>
                            <div>
                                <span data-bind="text: Dates()"></span>
                            </div>
                            <div>
                                <br />
                            </div>
                            <!-- /ko -->
                            <!-- ko if: $data.PlannedMeetings().length == 0 -->
                            <div>
                                <span>@Resources.Advisors.AdvisingTBDText</span>
                            </div>
                            <!-- /ko -->
                            <!-- /ko -->
                            <!-- ko if: ko.utils.unwrapObservable($data.Section) == null && (ko.utils.unwrapObservable($data.AcademicHistory) == null || ko.utils.unwrapObservable(ko.utils.unwrapObservable($data.AcademicHistory).Section) == null)-->
                            <div>
                                <span>@Resources.Advisors.AdvisingNoSectionText</span>
                            </div>
                            <!-- /ko -->
                        </td>
                        <td>
                            <!-- ko with: ko.utils.unwrapObservable($data.Section) -->
                            <!-- ko foreach: $data.PlannedMeetings() -->
                            <div>
                                <span data-bind="text: ko.utils.unwrapObservable($parent.LocationDisplay)"></span>
                            </div>
                            <div data-bind="if: Building() != null">
                                <span data-bind="text: (Building() ? Building() : '(@Resources.Advisors.AdvisingTBDText)') + ', '">
                                </span><span data-bind="text: Room() ? Room() : '(@Resources.Advisors.AdvisingTBDText)'">
                                </span>
                            </div>
                            <div data-bind="if: Building() == null && !IsOnline()">
                                <span>@Resources.Advisors.AdvisingTBDText</span>
                            </div>
                            <div>
                                <span data-bind="text: InstructionalMethod()"></span>
                            </div>
                            <div>
                                <br />
                            </div>
                            <!-- /ko -->
                            <!-- ko if: $data.PlannedMeetings().length == 0 -->
                            <div>
                                <span>@Resources.Advisors.AdvisingTBDText</span>
                            </div>
                            <!-- /ko -->
                            <!-- /ko -->
                            <!-- ko if: ko.utils.unwrapObservable($data.Section) == null && (ko.utils.unwrapObservable($data.AcademicHistory) == null || ko.utils.unwrapObservable(ko.utils.unwrapObservable($data.AcademicHistory).Section) == null)-->
                            <div>
                                <span>@Resources.Advisors.AdvisingNoSectionText</span>
                            </div>
                            <!-- /ko -->
                        </td>
                        <td data-bind="css: { 'course-is-protected': $data.IsProtected(), 'course-is-unprotected': !$data.IsProtected() && (ko.utils.unwrapObservable($data.AcademicHistory) == null)}">
                            <!-- ko if: $data.IsProtected() -->
                            <span class="offScreen" data-bind="text: '@Resources.Advisors.Protected '+ $data.FullTitleDisplay()"></span>
                            <!-- /ko -->
                            <!-- ko if: !$data.IsProtected() && (ko.utils.unwrapObservable($data.AcademicHistory) == null) -->
                            <span class="offScreen" data-bind="text: '@Resources.Advisors.Unprotected '+ $data.FullTitleDisplay()"></span>
                            <!-- /ko -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Calendar View -->
        <div class="advising-term-data" id="advising-calendar">
            @Html.Partial(@"~\Areas\Planning\Views\DegreePlans\ScheduleInnerContentPartial.cshtml")
        </div>
    </div>
    <!-- /ko -->
</div>
