﻿<div id="advising-notes-compose-wrapper" data-bind="visible: canApprove() === true">
    <h3>@Resources.Advisors.NoteComposeHeader</h3>
    <label for="advising-notes-compose-box" class="field-label-hidden">@Resources.Advisors.ComposeNoteTextareaAria</label>
    <textarea id="advising-notes-compose-box" class="esg-form__input"></textarea>
    <!-- ko if: isProxyUser() -->
    <input id="advising-notes-compose-save" type="button" class="esg-button esg-button--primary" value="@Resources.Advisors.NoteSaveButton" aria-label="@Resources.Advisors.SaveNoteAria"
           data-bind="click: function() { $root.AddAdvisingNoteFromAdvisor($('#advising-notes-compose-box').val())}" />
    <!-- /ko -->
    <!-- ko if: !isProxyUser() -->
    <input type="button" class="esg-button esg-button--primary" value="@Resources.DegreePlans.AdvisingNotesSaveButton" id="student-advising-note-save" aria-label="@Resources.Advisors.SaveNoteAria" data-bind="click: function () { AddAdvisingNoteFromStudent($('#advising-notes-compose-box').val()); }" />
    <!-- /ko -->
</div>