﻿@*Copyright 2012 - 2017 Ellucian Company L.P. and its affiliates.*@

@section Styles
{
    @Styles.Render("~/Areas/Planning/Content/PlanningBundlecss")
}

@section Scripts
{
    @Scripts.Render("~/bundles/advisorsindexscripts")
}

<!-- Page Header Text -->
<div id="page-description" class="esg-page-header esg-has-subtitle advising-page">
    <div class="esg-page-header-subtitle__wrapper">
        <h2 class="esg-page-header__title">@Resources.Advisors.AdviseeSearchPageHeader</h2>
        <span class="esg-page-header__subtitle">@Resources.Advisors.AdviseeSearchPageSubHeader</span>
    </div>
</div>
<!-- Advisee list and search -->
<div class="column-nine">
    <table id="advising-adviseelist" class="esg-table">
        <thead class="esg-table-head">
            <tr class="esg-table-head__row">
                <th class="esg-table-head__th" colspan="7">
                    <form id="advising-search-header" data-bind="submit: formSubmit">
                        <label for="advising-search" class="esg-form__label">@Resources.Advisors.FilterStudentLabel</label>
                        <input type="search" id="advising-search" class="esg-form__input esg-form__input--inline" data-bind="value: searchString" />
                        <div id="advising-search-type-wrapper">
                            <span id="advising-search-by">@Resources.Advisors.FilterBy</span>
                            <input type="radio" id="advisee-search-type-advisee" name="searchType" value="Advisee" data-bind="checked: selectedSearch" />
                            <label for="advisee-search-type-advisee">@Resources.Advisors.FilterByAdviseeName</label>
                            <input type="radio" id="advisor-search-type-advisor" name="searchType" value="Advisor" data-bind="checked: selectedSearch" />
                            <label for="advisor-search-type-advisor">@Resources.Advisors.FilterByAdvisorName</label>
                            <label for="advising-global-searchbutton" class="field-label-hidden">@Resources.Advisors.GlobalSearchLabel</label>
                            <input type="submit" id="advising-searchbutton" class="esg-button esg-button--secondary esg-button--small" value="@Resources.Advisors.GlobalSearchButtonText" />
                        </div>
                    </form>
                </th>
            </tr>
            <tr class="esg-table-head__row offScreen">
                <th class="esg-table-head__th">@Resources.Advisors.AdviseePhotoHeader</th>
                <th class="esg-table-head__th">@Resources.Advisors.AdviseeNameHeader</th>
                <th class="esg-table-head__th">@Resources.Advisors.AdviseeReviewRequestedHeader</th>
                <th class="esg-table-head__th">@Resources.Advisors.AdviseeAssignedHeader</th>
                <th class="esg-table-head__th">@Resources.Advisors.AdviseeIdHeader</th>
                <th class="esg-table-head__th">@Resources.Advisors.AdviseeProgramsHeader</th>
                <th class="esg-table-head__th">@Resources.Advisors.AdviseeAdvisorsHeader</th>
            </tr>
        </thead>
        <tbody class="esg-table-body" data-bind="foreach: Advisees">
            <tr class="esg-table-body__row" data-bind="click: function(data, event) { if (!data.HasPrivacyRestriction()) { window.location =  advisingActionUrl + '/' + $data.Id(); }}, attr: {title: IsAdvisee() === true ? assignedAdviseeTitle.format($data.DisplayName(), $data.Id()) : unassignedAdviseeTitle.format($data.DisplayName(), $data.Id())}">
                <td class="esg-table-body__td adviseephoto">
                    <profile-photo params="id: Id, altText: '@Resources.Advisors.AdviseePhotoAltText', size: 'small'"></profile-photo>
                </td>
                <td class="esg-table-body__td adviseename">
                    <!-- ko if: HasPrivacyRestriction -->
                    <span class="bold" data-bind="text: DisplayName" id="adviseename"></span>
                    <!-- /ko -->
                    <!-- ko ifnot: HasPrivacyRestriction -->
                    <a class="bold" data-bind="text: DisplayName, attr: { href: advisingActionUrl + '/' + $data.Id() }" id="adviseename"></a>
                    <!-- /ko -->
                    <div data-bind="if: PrivacyMessage().length > 0">
                        <icon params="isVisible: true, icon: 'info', color: 'info-dark', size: 'xsmall'"></icon><span data-bind="text: PrivacyMessage"></span>
                    </div>
                </td>
                <td class="esg-table-body__td adviseepending">
                    <div class="advising-adviseependingicon" data-bind="visible: HasApprovalPending" title="@Resources.Advisors.ReviewRequestedIconTooltip" aria-label="@Resources.Advisors.ReviewRequestedIconTooltip">
                        <span class="offScreen">@Resources.Advisors.ReviewRequestedIconTooltip</span>
                    </div>
                </td>
                <td class="esg-table-body__td adviseeicon">
                    <div class="advising-isadviseeicon" data-bind="visible: IsAdvisee" title="@Resources.Advisors.AssignedAdviseeIconTooltip" aria-label="@Resources.Advisors.AssignedAdviseeIconTooltip">
                        <span class="offScreen">@Resources.Advisors.AssignedAdviseeIconTooltip</span>
                    </div>
                </td>
                <td class="esg-table-body__td adviseeid">
                    <span data-bind="text: Id" id="adviseeid"></span>
                </td>
                <td class="esg-table-body__td adviseeprogram">
                    <!-- ko foreach: ProgramDisplay -->
                    <div data-bind="text: $data"></div>
                    <!-- /ko -->
                </td>
                <td class="esg-table-body__td advisee-advisors">
                    <span data-bind="visible: AdvisorNames().length > 0">@Resources.Advisors.AdvisorsLabel</span>
                    <!-- ko foreach: AdvisorNames -->
                    <div data-bind="text: $data"></div>
                    <!-- /ko -->
                </td>
            </tr>
        </tbody>
    </table>
    <div style="display: none;" class="advising-message" data-bind="visible: noAssignedFound">@Resources.Advisors.NoAssignedText</div>
    <div style="display: none;" class="advising-message" data-bind="visible: noAdviseesFound">@Resources.Advisors.NoMatchesText</div>
    <div style="display: none;" class="advising-message" data-bind="visible: moreAdvisees">
        <a href="#" data-bind="click: loadMoreAdvisees">@Resources.Advisors.ShowMoreText</a>
    </div>
    <spinner params="message: stringAdvisorsLoadingDataSpinnerMessage, isVisible: isLoading()"></spinner>
</div>
