﻿@*Copyright 2012-2014 Ellucian Company L.P. and its affiliates.*@
<div>
    <message params="isVisible: !$data.hasArchives(), message: '@Resources.DegreePlans.NoArchivesMessage', type: 'info'"></message>
    <!-- ko if: $data.hasArchives() == true -->
    <div>
        <table id="plan-archives-table">
            <thead>
                <tr>
                    <th><span>@Resources.DegreePlans.PlanArchiveTableHeader1</span></th>
                    <th><span>@Resources.DegreePlans.PlanArchiveTableHeader2</span></th>
                    <th><span>@Resources.DegreePlans.PlanArchiveTableHeader3</span></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: $data.archives">
                <tr>
                    <td><span>
                        <a class="pdf-link" href="#" data-bind="click: $parent.ReportLinkHandler">
                            <span data-bind="text: $data.Title"></span>
                            <span class="offScreen" data-bind="text: stringArchivePlanOffScreenFor + $data.CreatedDate + stringArchivePlanOffScreenBy + $data.CreatedBy"></span>
                        </a>
                        </span>
                    </td>
                    <td><span data-bind="text: $data.CreatedDate"></span></td>
                    <td><span data-bind="text: $data.CreatedBy"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- /ko -->
</div>
