﻿<div id="advising-notes-view-wrapper">
    <a class="ui-helper-hidden-accessible" tabindex="0" aria-label="@Resources.Advisors.StartOfAdvisingNotesLinkAria " href="#"></a>
    <h3>@Resources.Advisors.NoteViewHeader</h3>
    <div id="advising-notes-view-inner-wrapper" data-bind="foreach: AdvisingNotes, visible: AdvisingNotes().length > 0">
        <div class="advising-notes-text">
            <div class="advising-notes-text-message" data-bind="html: Message"></div>
            <div class="advising-notes-text-timestamp" data-bind="text: Timestamp"></div>
        </div>
    </div>
    <div id="advising-notes-view-no-notes" data-bind="visible: AdvisingNotes().length === 0">
        @Resources.Advisors.NoteNoNotesToView
    </div>
</div>