﻿<!-- Copyright 2016 Ellucian Company L.P. and its affiliates. -->

<a href="#" data-bind="attr: { 'download': fileName, 'href': href }, click: downloadFile">
    <span class="esg-icon__container" aria-hidden="True">
        <svg class="esg-icon esg-icon--small esg-icon--neutral">
            <use xlink:href="#icon-document"></use>
        </svg>
    </span><span data-bind="text: linkText"></span>
    
    <span class="offScreen">(CSV)</span>
</a>