﻿/*Copyright 2015-2016 Ellucian Company L.P. and its affiliates
/*******************************************************
    Banking Information Page

*********************************************************/

@import '../../../Content/_colors.scss';

@media all and (min-width: 770px) {
    .mobile-only {
        display: none;
    }
}

@media all and (max-width: 769px) {
    .desktop-only {
        display: none;
    }

    .add-bank-account-terms {
        border-top: 1px solid $color-base-55;
        border-bottom: 1px solid $color-base-55;
        padding: 1.3em 1.5em;
        background-color: $color-base-75;
        color: $color-base-45;
    }
}



fieldset legend {
    display: block;
}

.input-wrapper {
    line-height: 1em;
    margin-top: 1.5em;
}

.input-wrapper label {
    display: inline;
}

.add-bank-account-button {
    float: right;
    font-size: small;
}

.account-details {
    margin-top: .938em;
}

.account-details:first-child {
    margin-top: 0;
}

.account-container, .account-header {
    border-left: 1px solid $color-base-60;
    border-right: 1px solid $color-base-60;
    border-bottom: 1px solid $color-base-60;
    overflow: hidden;
    padding: .75rem .875rem;
    font-weight: normal;
}

input .input-required {
    border-color: $color-error;
}

input .input-error {
    border-color: $color-error;
}

.priority-buttons {
    float: right;
    line-height: .7em;
}

.pointer {
    cursor: pointer;
}

.state-wrapper:before {
    background-color: $color-error !important;
}

.section-header.switchedOn {
    background-color: $color-success-fill;
    border: 1px solid $color-success-fill-dark;
}

.section-header.future {
    background-color: $color-hint-fill;
}

.section-header.past {
    background-color: $color-error-fill;
}



.unsortable-list-item .lock {
    background: url("../../../Content/Images/locked-black.png") no-repeat scroll 0 transparent;
    padding: 1em;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
    .unsortable-list-item .lock {
        background: url("../../../Content/Images/locked-black@2x.png") no-repeat scroll 0 transparent;
        background-size: 16px auto;
    }
}

.no-border {
    border: none;
}

.verified:after {
    content: '';
    background: url("../../../Content/Images/icon-success.png") no-repeat scroll 0 center;
    background-position: 1.2em center;
    padding-left: 3em;
    padding-top: .1em;
}

.not-verified:after {
    content: '';
    background: url("../../../Content/Images/icon-warning.png") no-repeat scroll 0 center;
    background-position: 1.2em center;
    padding-left: 3em;
    padding-top: .1em;
}


.ui-dialog .ui-dialog-content {
    padding: 0;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
}

.ui-dialog .ui-dialog-content .button-bar {
    background-color: $color-base-75;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
}

.ui-dialog .ui-dialog-content .input-wrapper {
    margin-top: 0;
    margin-bottom: 2em;
    line-height: 1.5em;
}

/*#bank-details-form {
    position: relative;
    z-index: 0;
}

#bank-details-form, #bank-details-form .bank-details-section-wrapper {
    padding: 0;
}*/

.add-bank-account-terms-header {
    padding: .5em;
}

.add-bank-account-terms {
    line-height: 1.35;
}

#payroll-end-date-input {
    margin-left: 2rem;
}

.new-sortable-item {
    background-color: $color-warning-fill;
}

.break-word {
    word-wrap: break-word;
    overflow: hidden;
}

#address-bar {
    clear: both;
    background-color: $color-base-75;
    padding: .5em;
    border-radius: .5em;
}

#address-selector-label {
    color: $color-base-45;
    padding-right: 2em;
}

/*************************************************************
    Home Page/Landing Page Navigation

**************************************************************/
.taxformshome-expandednavlink {
    background: $color-base-80;
}

.taxformshome-expandednavlink:hover {
    cursor: pointer;
    background: $color-base-95;
}

.taxInformation_expandednavlink, .studentTaxInformation_expandednavlink {
    background: url("../../../Content/Images/tax-icon.png") no-repeat 5px 1px;
    /*background-size: 65px 65px;
    height: 5.5em;*/
    padding-left: 4.62em;
}

.bankingInformation_expandednavlink {
    background: url("./Images/banking-home.png") no-repeat 5px 1px;
    padding-left: 4.62em;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
    .taxInformation_expandednavlink, .studentTaxInformation_expandednavlink {
        background: url("../../../Content/Images/tax-icon@2x.png") no-repeat 5px 1px;
        background-size: 45px;
    }

    .bankingInformation_expandednavlink {
        background: url("./Images/banking-home@2x.png") no-repeat 5px 1px;
        background-size: 45px;
    }
}

/****************************************************************
    Tax Form Information Page
*****************************************************************
*/

.ui-widget-content.section-wrapper {
    background-color: $color-base-95;
    border-right: 1px solid $color-base-55;
    border-bottom: 1px solid $color-base-55;
    border-left: 1px solid $color-base-55;
}

.ui-widget-content.section-wrapper-top-border {
    border-top: 1px solid $color-base-55;
}

.ui-widget-header {
    border: 0 none;
}

.ui-tabs .ui-tabs-nav {
    padding: 0;
    background-color: $color-base-60;
    background-image: none;
}

.ui-tabs {
    padding: 0;
}

.ui-tabs .ui-tabs-panel {
    padding: 0;
}

.ui-tabs .ui-tabs-nav li {
    margin: 0 0 1px 0;
}

.ui-tabs .ui-tabs-nav li.tab-border {
    border-left: 1px solid $color-base-60;
    border-right: 1px solid $color-base-60;
    border-top: 1px solid $color-base-60;
}

.ui-tabs .ui-tabs-nav li.tab-border:first-child {
    border-left: 0 none;
    border-right: 0 none;
}

.wrapper-padding {
    padding: 1em;
    background-color: $color-base-95;
}

#w2-link, #form1095c-link {
    padding: 0.85em 0.5em;
}

@media all and (max-width: 480px) {
    .tax-form-section {
        padding: 0;
    }
}

.tax-form-section .multi-accordion-controller {
    padding: 0;
    color: inherit;
}

.tax-form-section .multi-accordion-controller .arrow {
    border-color: inherit;
}

@media all and (max-width: 480px) {
    .consent-choice-text {
        padding: 1em 0 0 1em;
    }
}

.tax-form-consent-message .arrow {
    margin-right: .5em;
    position: relative;
    bottom: 0.2em;
}

.tax-form-consent-message .arrow.arrow-up {
    bottom: 0;
}

.consent-long-text {
    padding: 1em 0 .5em 0;
}

.consent-options-fieldset legend {
    display: block;
    margin-bottom: 1em;
}

.consent-options-fieldset label {
    color: inherit;
}

@media all and (max-width: 480px) {
    .consent-options-fieldset legend {
        padding: 1em 1.5em;
        margin: 0;
    }
}

.tax-form-input-wrapper {
    margin-left: -2em;
}

.column-three.left-column {
    width: 33%;
}

.column-six.right-column {
    width: 67%;
}

.column-five.left-column {
    width: 60%;
}

.column-four.right-column {
    width: 40%;
}
