﻿<!-- ko with: editingDirectiveViewModel -->
<div class="section-header primary-header clear-group no-mobile-section-padding">
    <div class="column-seven column-five-sm">
        <h3>
            <span class="column-five" data-bind="text: displayBankName"></span>

            <span class="normal column-four">
                <span data-bind="resx: 'BankingInformation.BankAccountLastFourLabel'"></span>
                <span data-bind="text: displayBankAccountLastFour()"></span>
            </span>
        </h3>

    </div>


    <button class="esg-button esg-button--secondary column-two column-four-sm" name="editAccountDetails"
            data-bind="click: editDirectiveBankAccount, css: { primary: !$root.isMobile() }">
        <span data-bind="resx: 'BankingInformation.EditAccountDetailsPageLabel'"></span>
    </button>

</div>

<form>
    <div class="clear-group">
        <div class="section-contents clear-group">
            <section class="section-wrapper clear-group">
                <h4 class="section-header" data-bind="resx: 'BankingInformation.BankAccountUsageSectionHeader'"></h4>

                <div class="section-contents clear-group">


                    <payroll-directive-switch params="isVendor: IsVendor,
                                              isSwitchedOn: isSwitchedOn,
                                              isSwitchVisible: isSwitchVisible,
                                              directive: $data,
                                              hasAllCanadianAccounts: $parent.hasAllCanadianAccounts,
                                              startDateObservable: startDateBacker,
                                              isStartDateReadOnly: startDateIsReadOnly,
                                              startDateError: startDateError,
                                              isEndDateVisible: isEndDateVisible,
                                              endDateObservable: endDateBacker,
                                              endDateError: endDateError,
                                              cannotDeactivateRemainderMessage: cannotDeactivatePayrollRemainderDepositMessage,
                                              willChangeEndDateOfCurrentRemainderMessage: willChangeEndDateOfCurrentRemainderMessage">

                    </payroll-directive-switch>


                </div>
            </section>


        </div>

        <div class="section-contents" data-bind="if: !IsVendor(), visible: isSwitchedOn">
            <section class="section-wrapper">
                <h4 class="section-header" data-bind="resx: 'BankingInformation.DepositDetailsSectionHeader'"></h4>

                <payroll-directive-amount-option params="depositAmountOption: depositAmountOption,
                                                 showSpecificAmountOption: specificAmountIsVisible,
                                                 specificDepositAmount: depositAmountBacker,
                                                 specificDepositAmountError: specificDepositAmountError,
                                                 showRemainingBalanceOption: isRemainingBalanceOptionVisible">

                </payroll-directive-amount-option>

                <sortable-payroll-directives params="directives: ActivePayrollDeposits(),
                                             editingDirectiveId: Id(),
                                             editingDirectiveAmountOption: depositAmountOption(),
                                             numberNonRemainderDirectives: $parent.numberActiveNonRemainderDirectives() ">

                </sortable-payroll-directives>

            </section>
        </div>



    </div>

    <div class="button-bar">

        <button type="submit" class="esg-button esg-button--primary" data-bind="click: saveAsync, enable: saveEnabled, resx: 'BankingInformation.SaveButtonLabel'"></button>
        <button type="button" name="deleteDeposit" class="esg-button esg-button--secondary" data-bind="click: deleteAsync, visible: deleteButtonEnabled, resx: 'BankingInformation.DeleteButtonLabel'"></button>
        <button type="button" name="cancelEdit" class="esg-button esg-button--secondary" data-bind="click: back, resx: 'BankingInformation.CancelButtonLabel'"></button>

    </div>

</form>

<modal-spinner params="isVisible: actionInProgress, message: actionInProgressMessage">
</modal-spinner>


<step-up-authentication params="securityTokenObservable: SecurityToken,
                        bankName: displayBankName,
                        accountIdLastFour: AccountIdLastFour,
                        directiveId: Id,
                        directiveType: 'payroll'">

</step-up-authentication>


<modal-dialog params="isVisible: showEditBankAccountDetails,
              title: 'Edit Bank Account Details',
              content: $data,
              defaultCloseOff: true,
              buttons: [{ title: 'Cancel', callback: cancelEditBankAccountDetails, isPrimary: false },
                        { title: 'Save', callback: saveBankAccountDetails, isPrimary: true }] ">
    <edit-bank-account-details params="dataModel: accountDetailsModel,
                               configuration: Configuration,
                               isValidInput: isBankAccountDetailsInputValid,
                               isAdd: false,
                               isPayroll: true,
                               isPayable: false">

    </edit-bank-account-details>
</modal-dialog>

<!-- /ko -->