﻿<section class="section-wrapper clear-group">

    <h3 class="section-header primary-header">
        <span data-bind="resx: 'TimeApproval.TimeSheetsHeader'"></span>
    </h3>

    <!-- ko foreach: dataModel.PayPeriodModels-->

    <pay-period-collection class="component" params="dataModel: $data, supervisorName: $parent.dataModel.SupervisorName()">

    </pay-period-collection>

    <!-- /ko-->

</section>
