﻿<div class="section-contents">
    <section class="section-wrapper no-section-mobile-padding">
        <fieldset class="section-contents expanded">
            <legend class="bold italic">
                <h5 data-bind="resx: 'BankingInformation.PayrollDepositAmountSectionLabel'"></h5>
            </legend>
            <span class="column-eight column-five-sm ">
                <input type="radio" id="depositAmountGroup-entire" name="depositAmountGroup" data-bind="checked: depositAmountOption" value="isBalance" />
                <label for="depositAmountGroup-entire">
                    <span data-bind="resx: 'BankingInformation.PayrollDepositAmountEntireBalanceRadioLabel'"></span>
                </label>
            </span>
            <span class="column-eight column-nine-sm" data-bind="visible: showSpecificAmountOption">
                <span class=" column-two column-three-md column-five-sm">
                    <input type="radio" id="depositAmountGroup-specific" name="depositAmountGroup" data-bind="checked: depositAmountOption" value="isSpecific" />
                    <label for="depositAmountGroup-specific">
                        <span data-bind="resx: 'BankingInformation.PayrollDepositAmountSpecificAmountRadioLabel'"></span>
                        <span class="offScreen" data-bind="text: depositAmountInput"></span>
                    </label>
                </span>
                <input id="payroll-deposit-amount-input" class="column-two column-three-sm" type="text" name="depositAmountGroup" data-bind="value: (depositAmountOption() === 'isSpecific') ? depositAmountInput : null, enable: depositAmountOption() === 'isSpecific', css: { 'required-input' : depositAmountNeedsInput() }, attr: {'aria-required': depositAmountNeedsInput() }" />
                <label for="payroll-deposit-amount-input" class="offScreen" data-bind="resx: 'BankingInformation.SpecificAmountInputLabel'"></label>
                <span class="error-message column-eight column-six-sm" data-bind="visible: isAmountErrorVisible, text: depositAmountInput.errorMessage"></span>
            </span>

            <span class="column-eight column-five-sm" data-bind="visible: showRemainingBalanceOption">
                <input type="radio" id="depositAmountGroup-remaining" name="depositAmountGroup" data-bind="checked: depositAmountOption" value="isRemainder" />
                <label for="depositAmountGroup-remaining">
                    <span data-bind="resx: 'BankingInformation.PayrollDepositAmountRemainingBalanceRadioLabel'"></span>
                </label>
            </span>
        </fieldset>
    </section>
</div>