﻿<!-- Copyright 2016-2017 Ellucian Company L.P. and its affiliates. -->
<!-- Render JavaScript files -->
@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/colleaguefinancecostcenterscripts")
}

@{
    var costCenterId = Url.RequestContext.RouteData.Values["id"];
}

<script type="text/javascript">
    var costCenterId = '@costCenterId';
</script>
<!-- ko if: IsPageLoaded() -->
<div class="clear-group" data-bind="visible: IsPageLoaded()" style="display: none;">
    <div id="page-description" class="esg-row esg-page-header">
        <div class="esg-col-sm-8 esg-col-md-6">
            <h2 class="esg-page-header__title">
                <span data-bind="text: CostCenter().UnitId"></span>
                <span data-bind="text: CostCenter().Name"></span>
            </h2>
            <a href="#" data-bind="attr: { 'href': costCentersHomeActionUrl + '#MyCostCenters' }" class="esg-page-header__subtitle esg-page-header__subtitle--backlink">
                <span class="esg-icon__container esg-page-header__icon" aria-hidden="true">
                    <svg class="esg-icon esg-icon--left">
                        <use xlink:href="#icon-arrow"></use>
                    </svg>
                </span>@Resources.ColleagueFinanceHome.CostCenterListHeader
            </a>
        </div>
        <div class="esg-col-sm-4 esg-col-md-6">
            <div id="grouping-controls" class="esg-form__group--page-header">
                @*Fiscal Years drop down*@
                <label for="reporting-period-filter" class="offScreen">@Resources.ColleagueFinanceHome.MyCostCenterLabel</label>
                <select id="reporting-period-filter" class="esg-form__input esg-form__input--inline" data-bind="options: FiscalYears, optionsText: 'FiscalYearDescription', optionsValue: 'FiscalYear', value: SelectedFiscalYear, event: { change: pickFiscalYear }"></select>
                <div class="esg-dropdown">
                    <button class="esg-button css-button esg-button--secondary esg-dropdown__toggle" type="button" id="download-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="esg-icon__container" aria-hidden="True">
                            <svg class="esg-icon esg-icon--small esg-icon--neutral">
                                <use xlink:href="#icon-export"></use>
                            </svg>
                        </span>
                        <span class="export-button__label">@Resources.ColleagueFinanceHome.ExportButtonLabel</span>
                        <span class="esg-dropdown__icon esg-dropdown__icon--right esg-icon__container" aria-hidden="True">
                            <svg class="esg-icon esg-icon--small esg-icon--neutral esg-icon--down">
                                <use xlink:href="#icon-arrow"></use>
                            </svg>
                        </span>
                    </button>
                    <ul id="download-menu" class="esg-dropdown__menu" aria-labelledby="download-dropdown">
                        <li class="esg-dropdown__menu-item css-dropdown__menu-item">
                            <csv-download-link params="data: FlatGlAccounts, linkText: downloadCsvLink, fileName: downloadCostCenterFileName + SelectedFiscalYear() + '.csv', includeKeys: true, limitToKeys: csvColumns, keyTextReplacements: csvColumnHeaders"></csv-download-link>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clear-group margin-left-1">
    <filter-summary params="selections: filterSummary"></filter-summary>
</div>
<!-- /ko -->        @*IsPageLoaded condition*@

<div id="dp-monolith" class="column-nine clear-group">
    @*Non-modal spinner*@
    <spinner params="isVisible: !IsPageLoaded(), message: loadingCostCenterText"></spinner>

    @*Cost center details*@
    <!-- ko if: isCostCenterDefined() -->       @*Don't render page content if the Cost Center is null or undefined*@
    <section id="cost-center-section" class="section-wrapper section-wrapper-top-border line-item-wrapper" data-bind="visible: IsPageLoaded()" style="display: none;">
        <div id="cost-center-details" class="section-contents cost-center-details">

            @* Only show the table if there is data for the given fiscal year. *@
            <!-- ko if: CostCenter().CostCenterId() !== null -->

            <table class="responsive-table collapsible-table" data-bind="visible: IsPageLoaded()">
                <thead>
                    <tr class="cost-center-header">
                        <th class="cost-center-controller">
                            <span class="offScreen" data-bind="text: costCenterAndSubtotalNamesText"></span>
                            <span data-bind="text: CostCenter().UnitId"></span>
                            <span data-bind="text: CostCenter().Name"></span>
                        </th>
                        <th data-bind="text: Ellucian.ColleagueFinance.budgetHeaderLabel" class="cost-center-budget align-right bold"></th>
                        <th data-bind="text: Ellucian.ColleagueFinance.actualsHeaderLabel" class="cost-center-actuals align-right bold"></th>
                        <th data-bind="text: Ellucian.ColleagueFinance.encumbrancesHeaderLabel" class="cost-center-encumbrances align-right bold"></th>
                        <th data-bind="text: Ellucian.ColleagueFinance.remainingHeaderLabel" class="cost-center-budget-remaining align-right bold"></th>
                        <th data-bind="text: Ellucian.ColleagueFinance.percentSpentReceivedHeaderLabel" class="cost-center-percent-spent align-right bold"></th>
                        <th class="cost-center-financial-health-indicator align-right bold">
                            <div data-bind="text: financialHealthHeaderLabelPart1"></div>
                            <div data-bind="text: financialHealthHeaderLabelPart2"></div>
                        </th>
                    </tr>
                </thead>

                @*Start Revenue Rows*@

                @*Revenue Totals*@
                <tbody>
                    <!-- ko if: IsPageLoaded() && CostCenter().HasRevenue() -->
                    <tr class="cost-center-details__total-row">
                        <th class="cost-center-controller text-align-left">
                            <span data-bind="text: Ellucian.ColleagueFinance.revenueLabel"></span>
                        </th>
                        <th data-bind="text: CostCenter().TotalBudgetRevenue" class="cost-center-budget align-right"></th>
                        <th data-bind="text: CostCenter().TotalActualsRevenue" class="cost-center-actuals align-right"></th>
                        <th data-bind="text: CostCenter().TotalEncumbrancesRevenue" class="cost-center-encumbrances align-right"></th>
                        <th data-bind="text: CostCenter().BudgetRemainingRevenueFormatted, css: CostCenter().remainingBudgetRevenueColor" class="cost-center-budget-remaining align-right"></th>
                        <th data-bind="text: CostCenter().ListViewBudgetSpentPercentRevenue, css: CostCenter().remainingBudgetRevenueColor" class="cost-center-percent-spent align-right"></th>
                        <th class="cost-center-financial-health-indicator"></th>
                    </tr>

                    @*Screen reader support*@
                    <tr class="offScreen">
                        <th class="cost-center-controller">
                            <span class="offScreen" data-bind="text: costCenterAndSubtotalNamesText"></span>
                        </th>
                        <th data-bind="text: Ellucian.ColleagueFinance.budgetHeaderLabel" class="cost-center-budget align-right bold"></th>
                        <th data-bind="text: Ellucian.ColleagueFinance.actualsHeaderLabel" class="cost-center-actuals align-right bold"></th>
                        <th data-bind="text: Ellucian.ColleagueFinance.encumbrancesHeaderLabel" class="cost-center-encumbrances align-right bold"></th>
                        <th data-bind="text: Ellucian.ColleagueFinance.remainingHeaderLabel" class="cost-center-budget-remaining align-right bold"></th>
                        <th data-bind="text: Ellucian.ColleagueFinance.percentSpentReceivedHeaderLabel" class="cost-center-percent-spent align-right bold"></th>
                        <th class="cost-center-financial-health-indicator align-right bold">
                            <div data-bind="text: financialHealthHeaderLabelPart1"></div>
                            <div data-bind="text: financialHealthHeaderLabelPart2"></div>
                        </th>
                    </tr>

                    @*Revenue Subtotals*@
                    <!-- ko foreach: CostCenter().CostCenterRevenueSubtotals() -->
                    <tr class="collapsible" data-bind="attr: { 'id': $data.Id() }, clickBubble: false, toggleCollapsibleRow: { isTable: false }, updateSubtotalBrowserMemoryList: {}">
                        <td data-role="Column One" class="cost-center-controller">
                            <div class="cost-center-subtotal">
                                <button type="button" class="expand-details" aria-expanded="false">
                                    <span class="arrow"></span>
                                    <span class="offScreen">@Resources.ColleagueFinanceHome.ExpandLabel</span>
                                </button>
                            </div>
                            <div data-bind="text: Name" class="cost-center-subtotal"></div>
                        </td>
                        <td data-role="Column Two" data-bind="text: TotalBudgetRevenue" class="cost-center-budget align-right"></td>
                        <td data-role="Column Three" data-bind="text: TotalActualsRevenue" class="cost-center-actuals align-right"></td>
                        <td data-role="Column Four" data-bind="text: TotalEncumbrancesRevenue" class="cost-center-encumbrances align-right"></td>
                        <td data-role="Column Five" data-bind="text: BudgetRemainingRevenueFormatted, css: remainingBudgetRevenueColor" class="cost-center-budget-remaining align-right"></td>
                        <td data-role="Column Six" data-bind="text: ListViewBudgetSpentPercentRevenue, css: remainingBudgetRevenueColor" class="cost-center-percent-spent align-right"></td>
                        <td data-role="Column Seven" class="cost-center-financial-health-indicator"></td>
                    </tr>

                    <!-- ko foreach: SortedGlAccounts() -->
                    @*Pooled account*@
                    <!-- ko if: $data.IsPooledAccount() -->
                    <tr class="hide-content" data-bind="linkToGlDetailView:{'glNumber': $data.PooledAccount.Umbrella.GlAccount(),'costCenterId': costCenterId, 'unitId': $root.CostCenter().UnitId(), 'name': $root.CostCenter().Name()}">
                        <td data-role="Column One" class="cost-center-controller umbrella">
                            <div data-bind="tooltip: { position: 'right', message: umbrellaTooltip, preventParentClickOnMobile: true }" class="pooled-account-icon" tabindex="0">U</div>
                            <div>
                                <div data-bind="text: $data.PooledAccount.Umbrella.FormattedGlAccount"></div>
                                <div data-bind="text: $data.PooledAccount.Umbrella.Description"></div>
                            </div>
                        </td>
                        <!-- ko if: $data.PooledAccount.IsUmbrellaVisible() -->
                        <td data-role="Column Two" data-bind="text: $data.PooledAccount.Umbrella.TotalBudgetRevenue" class="cost-center-budget align-right"></td>
                        <td data-role="Column Three" data-bind="text: $data.PooledAccount.Umbrella.TotalActualsRevenue" class="cost-center-actuals align-right"></td>
                        <td data-role="Column Four" data-bind="text: $data.PooledAccount.Umbrella.TotalEncumbrancesRevenue" class="cost-center-encumbrances align-right"></td>
                        <td data-role="Column Five" data-bind="text: $data.PooledAccount.Umbrella.BudgetRemainingRevenueFormatted, css: Umbrella.remainingBudgetRevenueColor" class="cost-center-budget-remaining align-right"></td>
                        <td data-role="Column Six" data-bind="text: $data.PooledAccount.Umbrella.ListViewBudgetSpentPercentRevenue, css: Umbrella.remainingBudgetRevenueColor" class="cost-center-percent-spent align-right"></td>
                        <td data-role="Column Seven" class="cost-center-financial-health-indicator"></td>
                        <!-- /ko -->
                        <!-- ko if: !$data.PooledAccount.IsUmbrellaVisible() -->
                        <td data-role="Column Two" class="cost-center-budget align-right">@Resources.ColleagueFinanceHome.MaskString</td>
                        <td data-role="Column Three" class="cost-center-actuals align-right">@Resources.ColleagueFinanceHome.MaskString</td>
                        <td data-role="Column Four" class="cost-center-encumbrances align-right">@Resources.ColleagueFinanceHome.MaskString</td>
                        <td data-role="Column Five" class="cost-center-budget-remaining align-right">@Resources.ColleagueFinanceHome.MaskString</td>
                        <td data-role="Column Six" class="cost-center-percent-spent align-right"></td>
                        <td data-role="Column Seven" class="cost-center-financial-health-indicator align-right"></td>
                        <!-- /ko -->
                    </tr>

                    @*Poolee accounts attached to the pool*@
                    <!-- ko foreach: $data.PooledAccount.Poolees() -->
                    <!-- ko if: $parent.PooledAccount.IsUmbrellaVisible() || $parent.PooledAccount.Umbrella.GlAccount() !== GlAccount() -->

                    <tr class="hide-content" data-bind="linkToGlDetailView:{'glNumber': $data.GlAccount(),'costCenterId': costCenterId, 'unitId': $root.CostCenter().UnitId(), 'name': $root.CostCenter().Name()}">
                        <td data-role="Column One" class="cost-center-controller poolee">
                            <div data-bind="tooltip: { position: 'right', message: pooleeTooltip, preventParentClickOnMobile: true }" class="pooled-account-icon" tabindex="0">P</div>
                            <div>
                                <div data-bind="text: FormattedGlAccount"></div>
                                <div data-bind="text: Description"></div>
                            </div>
                        </td>
                        <td data-role="Column Two" data-bind="text: nonZeroTotalBudget" class="cost-center-budget align-right"></td>
                        <td data-role="Column Three" data-bind="text: TotalActualsRevenue" class="cost-center-actuals align-right"></td>
                        <td data-role="Column Four" data-bind="text: TotalEncumbrancesRevenue" class="cost-center-encumbrances align-right"></td>
                        <td data-role="Column Five" class="cost-center-budget-remaining align-right"></td>
                        <td data-role="Column Six" class="cost-center-percent-spent align-right"></td>
                        <td data-role="Column Seven" class="cost-center-financial-health-indicator align-right"></td>
                    </tr>
                    <!-- /ko -->        @*Umbrella is visible or the poolee is a different GL Account than the umbrella*@
                    <!-- /ko -->        @*Foreach Poolee loop*@
                    <!-- /ko -->        @*Is pooled account condition*@

                    @*Standard, non-pooled account*@
                    <!-- ko if: !$data.IsPooledAccount() -->
                    <tr class="hide-content" data-bind="linkToGlDetailView:{'glNumber': $data.NonPooledAccount.GlAccount(),'costCenterId': costCenterId, 'unitId': $root.CostCenter().UnitId(), 'name': $root.CostCenter().Name()}">
                        <td data-role="Column One" class="cost-center-controller non-pooled-account">
                            <div data-bind="text: $data.NonPooledAccount.FormattedGlAccount"></div>
                            <div data-bind="text: $data.NonPooledAccount.Description"></div>
                        </td>
                        <td data-role="Column Two" data-bind="text: $data.NonPooledAccount.TotalBudgetRevenue" class="cost-center-budget align-right"></td>
                        <td data-role="Column Three" data-bind="text: $data.NonPooledAccount.TotalActualsRevenue" class="cost-center-actuals align-right"></td>
                        <td data-role="Column Four" data-bind="text: $data.NonPooledAccount.TotalEncumbrancesRevenue" class="cost-center-encumbrances align-right"></td>
                        <td data-role="Column Five" data-bind="text: $data.NonPooledAccount.BudgetRemainingRevenueFormatted, css: $data.NonPooledAccount.remainingBudgetRevenueColor" class="cost-center-budget-remaining align-right"></td>
                        <td data-role="Column Six" data-bind="text: $data.NonPooledAccount.ListViewBudgetSpentPercentRevenue, css: $data.NonPooledAccount.remainingBudgetRevenueColor" class="cost-center-percent-spent align-right"></td>
                        <td data-role="Column Seven" class="cost-center-financial-health-indicator"></td>
                    </tr>
                    <!-- /ko -->        @*Non-pooled account condition*@
                    <!-- /ko -->        @*SortedGlAccounts loop*@
                    <!-- /ko -->        @*CostCenterRevenueSubtotals loop*@
                    <!-- /ko -->        @*HasRevenue condition*@

                    @*End Revenue Rows*@

                    @*Start Expense Rows*@

                    <!-- ko if: IsPageLoaded() && CostCenter().HasExpense() -->
                    @*Expense Totals*@
                    <tr class="cost-center-details__total-row collapsible">
                        <th class="cost-center-controller text-align-left">
                            <span data-bind="text: Ellucian.ColleagueFinance.expenseLabel"></span>
                        </th>
                        <th data-bind="text: CostCenter().TotalBudget" class="cost-center-budget align-right"></th>
                        <th data-bind="text: CostCenter().TotalActuals" class="cost-center-actuals align-right"></th>
                        <th data-bind="text: CostCenter().TotalEncumbrances" class="cost-center-encumbrances align-right"></th>
                        <th data-bind="text: CostCenter().BudgetRemainingFormatted, css: CostCenter().remainingBudgetColor" class="cost-center-budget-remaining align-right"></th>
                        <th data-bind="text: CostCenter().ListViewBudgetSpentPercent, css: CostCenter().remainingBudgetColor" class="cost-center-percent-spent align-right"></th>
                        <th data-bind="css: CostCenter().financialHealthIndicator" class="cost-center-financial-health-indicator align-right">
                            <span class="offScreen" data-bind="text: CostCenter().FinancialHealthTextForScreenReader"></span>
                        </th>
                    </tr>

                    @*Screen reader support*@
                    <tr class="offScreen">
                        <th class="cost-center-controller">
                            <span class="offScreen" data-bind="text: costCenterAndSubtotalNamesText"></span>
                        </th>
                        <th data-bind="text: Ellucian.ColleagueFinance.budgetHeaderLabel" class="cost-center-budget align-right bold"></th>
                        <th data-bind="text: Ellucian.ColleagueFinance.actualsHeaderLabel" class="cost-center-actuals align-right bold"></th>
                        <th data-bind="text: Ellucian.ColleagueFinance.encumbrancesHeaderLabel" class="cost-center-encumbrances align-right bold"></th>
                        <th data-bind="text: Ellucian.ColleagueFinance.remainingHeaderLabel" class="cost-center-budget-remaining align-right bold"></th>
                        <th data-bind="text: Ellucian.ColleagueFinance.percentSpentReceivedHeaderLabel" class="cost-center-percent-spent align-right bold"></th>
                        <th class="cost-center-financial-health-indicator align-right bold">
                            <div data-bind="text: financialHealthHeaderLabelPart1"></div>
                            <div data-bind="text: financialHealthHeaderLabelPart2"></div>
                        </th>
                    </tr>

                    <!-- ko foreach: CostCenter().CostCenterExpenseSubtotals() -->

                    <tr class="collapsible" data-bind="attr: { 'id': $data.Id() }, clickBubble: false, toggleCollapsibleRow: { isTable: false }, updateSubtotalBrowserMemoryList: {}">
                        <td data-role="Column One" class="cost-center-controller">
                            <div class="cost-center-subtotal">
                                <button type="button" class="expand-details" aria-expanded="false">
                                    <span class="arrow"></span>
                                    <span class="offScreen">@Resources.ColleagueFinanceHome.ExpandLabel</span>
                                </button>
                            </div>
                            <div data-bind="text: Name" class="cost-center-subtotal"></div>
                        </td>
                        <td data-role="Column Two" data-bind="text: TotalBudget" class="cost-center-budget align-right"></td>
                        <td data-role="Column Three" data-bind="text: TotalActuals" class="cost-center-actuals align-right"></td>
                        <td data-role="Column Four" data-bind="text: TotalEncumbrances" class="cost-center-encumbrances align-right"></td>
                        <td data-role="Column Five" data-bind="text: BudgetRemainingFormatted, css: remainingBudgetColor" class="cost-center-budget-remaining align-right"></td>
                        <td data-role="Column Six" data-bind="text: ListViewBudgetSpentPercent, css: remainingBudgetColor" class="cost-center-percent-spent align-right"></td>
                        <td data-role="Column Seven" data-bind="css: financialHealthIndicator" class="cost-center-financial-health-indicator align-right">
                            <span class="offScreen" data-bind="text: FinancialHealthTextForScreenReader"></span>
                        </td>
                    </tr>

                    <!-- ko foreach: SortedGlAccounts() -->
                    @*Pooled account*@
                    <!-- ko if: $data.IsPooledAccount() -->
                    <tr class="hide-content" data-bind="linkToGlDetailView:{'glNumber': $data.PooledAccount.Umbrella.GlAccount(),'costCenterId': costCenterId, 'unitId': $root.CostCenter().UnitId(), 'name': $root.CostCenter().Name()}">
                        <td data-role="Column One" class="cost-center-controller umbrella">
                            <div data-bind="tooltip: { position: 'right', message: umbrellaTooltip, preventParentClickOnMobile: true }" class="pooled-account-icon" tabindex="0">U</div>
                            <div>
                                <div data-bind="text: $data.PooledAccount.Umbrella.FormattedGlAccount"></div>
                                <div data-bind="text: $data.PooledAccount.Umbrella.Description"></div>
                            </div>
                        </td>
                        <!-- ko if: $data.PooledAccount.IsUmbrellaVisible() -->
                        <td data-role="Column Two" data-bind="text: $data.PooledAccount.Umbrella.TotalBudget" class="cost-center-budget align-right"></td>
                        <td data-role="Column Three" data-bind="text: $data.PooledAccount.Umbrella.TotalActuals" class="cost-center-actuals align-right"></td>
                        <td data-role="Column Four" data-bind="text: $data.PooledAccount.Umbrella.TotalEncumbrances" class="cost-center-encumbrances align-right"></td>
                        <td data-role="Column Five" data-bind="text: $data.PooledAccount.Umbrella.BudgetRemainingFormatted, css: $data.PooledAccount.Umbrella.remainingBudgetColor" class="cost-center-budget-remaining align-right"></td>
                        <td data-role="Column Six" data-bind="text: $data.PooledAccount.Umbrella.ListViewBudgetSpentPercent, css: $data.PooledAccount.Umbrella.remainingBudgetColor" class="cost-center-percent-spent align-right"></td>
                        <td data-role="Column Seven" data-bind="css: $data.PooledAccount.Umbrella.financialHealthIndicator" class="cost-center-financial-health-indicator align-right">
                            <span class="offScreen" data-bind="text: $data.PooledAccount.Umbrella.FinancialHealthTextForScreenReader"></span>
                        </td>
                        <!-- /ko -->
                        <!-- ko if: !$data.PooledAccount.IsUmbrellaVisible() -->
                        <td data-role="Column Two" class="cost-center-budget align-right">@Resources.ColleagueFinanceHome.MaskString</td>
                        <td data-role="Column Three" class="cost-center-actuals align-right">@Resources.ColleagueFinanceHome.MaskString</td>
                        <td data-role="Column Four" class="cost-center-encumbrances align-right">@Resources.ColleagueFinanceHome.MaskString</td>
                        <td data-role="Column Five" class="cost-center-budget-remaining align-right">@Resources.ColleagueFinanceHome.MaskString</td>
                        <td data-role="Column Six" class="cost-center-percent-spent align-right"></td>
                        <td data-role="Column Seven" class="cost-center-financial-health-indicator align-right"></td>
                        <!-- /ko -->
                    </tr>
                    @*Poolee accounts attached to the pool*@
                    <!-- ko foreach: $data.PooledAccount.Poolees() -->
                    <!-- ko if: $parent.PooledAccount.IsUmbrellaVisible() || $parent.PooledAccount.Umbrella.GlAccount() !== GlAccount() -->

                    <tr class="hide-content" data-bind="linkToGlDetailView:{'glNumber': $data.GlAccount(),'costCenterId': costCenterId, 'unitId': $root.CostCenter().UnitId(), 'name': $root.CostCenter().Name()}">
                        <td data-role="Column One" class="cost-center-controller poolee">
                            <div data-bind="tooltip: { position: 'right', message: pooleeTooltip, preventParentClickOnMobile: true }" class="pooled-account-icon" tabindex="0">P</div>
                            <div>
                                <div data-bind="text: FormattedGlAccount"></div>
                                <div data-bind="text: Description"></div>
                            </div>
                        </td>
                        <td data-role="Column Two" data-bind="text: nonZeroTotalBudget" class="cost-center-budget align-right"></td>
                        <td data-role="Column Three" data-bind="text: TotalActuals" class="cost-center-actuals align-right"></td>
                        <td data-role="Column Four" data-bind="text: TotalEncumbrances" class="cost-center-encumbrances align-right"></td>
                        <td data-role="Column Five" class="cost-center-budget-remaining align-right"></td>
                        <td data-role="Column Six" class="cost-center-percent-spent align-right"></td>
                        <td data-role="Column Seven" class="cost-center-financial-health-indicator align-right"></td>
                    </tr>
                    <!-- /ko -->        @*Umbrella is visible or the poolee is a different GL Account than the umbrella*@
                    <!-- /ko -->        @*Foreach poolee loop*@
                    <!-- /ko -->        @*IsPooledAccount condition*@
                    @*Standard, non-pooled account*@
                    <!-- ko if: !$data.IsPooledAccount() -->
                    <tr class="hide-content" data-bind="linkToGlDetailView:{'glNumber': $data.NonPooledAccount.GlAccount(),'costCenterId': costCenterId, 'unitId': $root.CostCenter().UnitId(), 'name': $root.CostCenter().Name()}">
                        <td data-role="Column One" class="cost-center-controller non-pooled-account">
                            <div data-bind="text: $data.NonPooledAccount.FormattedGlAccount"></div>
                            <div data-bind="text: $data.NonPooledAccount.Description"></div>
                        </td>
                        <td data-role="Column Two" data-bind="text: $data.NonPooledAccount.TotalBudget" class="cost-center-budget align-right"></td>
                        <td data-role="Column Three" data-bind="text: $data.NonPooledAccount.TotalActuals" class="cost-center-actuals align-right"></td>
                        <td data-role="Column Four" data-bind="text: $data.NonPooledAccount.TotalEncumbrances" class="cost-center-encumbrances align-right"></td>
                        <td data-role="Column Five" data-bind="text: $data.NonPooledAccount.BudgetRemainingFormatted, css: $data.NonPooledAccount.remainingBudgetColor" class="cost-center-budget-remaining align-right"></td>
                        <td data-role="Column Six" data-bind="text: $data.NonPooledAccount.ListViewBudgetSpentPercent, css: $data.NonPooledAccount.remainingBudgetColor" class="cost-center-percent-spent align-right"></td>
                        <td data-role="Column Seven" data-bind="css: $data.NonPooledAccount.financialHealthIndicator" class="cost-center-financial-health-indicator align-right">
                            <span class="offScreen" data-bind="text: $data.NonPooledAccount.FinancialHealthTextForScreenReader"></span>
                        </td>
                    </tr>
                    <!-- /ko -->        @*Non-pooled account condition*@
                    <!-- /ko -->        @*Foreach SortedGlAccounts loop*@
                    <!-- /ko -->        @*CostCenterExpenseSubtotals loop*@
                    <!-- /ko -->        @*CostCenter HasExpense condition*@

                    @*End Expense Rows*@

                    <tr class="collapsible cost-center-details__total-row" data-bind="visible: isNetRowVisible">
                        <th class="cost-center-controller text-align-left">
                            <span data-bind="text: Ellucian.ColleagueFinance.netLabel"></span>
                        </th>
                        <th data-bind="text: CostCenter().TotalBudgetNet" class="cost-center-budget align-right"></th>
                        <th data-bind="text: CostCenter().TotalActualsNet" class="cost-center-actuals align-right"></th>
                        <th class="cost-center-encumbrances align-right"></th>
                        <th class="cost-center-budget-remaining align-right"></th>
                        <th class="cost-center-percent-spent align-right"></th>
                        <th class="cost-center-financial-health-indicator"></th>
                    </tr>
                </tbody>
            </table>
            <!-- /ko -->        @*CostCenterId != null condition*@
        </div>
    </section>
    <!-- /ko -->                @*isCostCenterDefined condition*@
</div>
@*Modal loading spinner*@
<modal-spinner id="loading" params="isVisible: IsFilterUpdating, message: Ellucian.ColleagueFinance.updatingFilterMessage"></modal-spinner>