﻿@*Copyright 2016-2017 Ellucian Company L.P. and its affiliates.*@

@*Render JavaScript files*@
@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/colleaguefinancecostcentersscripts")
}

@Html.Partial("_StringConstantDefinitions")

<!-- ko if: IsPageLoaded() -->
@*Budget page header*@
<div class="clear-group" data-bind="visible: IsPageLoaded()" style="display: none;">
    @*Display cost centers header and cost centers information*@
    <div id="page-description" class="esg-row esg-page-header">
        <h2 class="esg-page-header__title esg-col-sm-4 esg-col-md-6">
            @Resources.ColleagueFinanceHome.BudgetHeader
        </h2>

    </div>
</div>

@*ESG tab controls*@
<div class="esg-tab esg-col-sm-12 esg-col-md-12 margin-top-and-bottom">
    <ul class="esg-tab__menu" role="tablist" data-tabs="tabs">
        <li class="esg-tab__menu-item" role="presentation" data-bind="css: isCostCentersTabActive() ? 'esg-is-active' : ''"><a class="esg-tab__link" href="#" data-toggle="tab" data-bind="click: costCentersTabClicked, clickBubble: false"> @Resources.ColleagueFinanceHome.CostCenterListHeader </a></li>
        <li class="esg-tab__menu-item" role="presentation" data-bind="css: !isCostCentersTabActive() ? 'esg-is-active' : ''"><a class="esg-tab__link" href="#" data-toggle="tab" data-bind="click: objectViewTabClicked, clickBubble: false"> @Resources.ColleagueFinanceHome.ObjectViewTabLabel </a></li>
    </ul>
</div>

@*Page controls*@
<div class="clear-group margin-top-and-bottom">
    @*Filter Button*@
    <div class="esg-col-sm-5 esg-col-md-5">
        <div>
            <button id="cost-center-filter-toggle" type="button" class="esg-button esg-button--primary css-button" data-bind="event: { click: toggleFilter }, tooltip: { position: 'right', message: Ellucian.ColleagueFinance.filterTooltip }" aria-pressed="false">
                <span class="esg-icon__container" aria-hidden="True">
                    <svg class="esg-icon esg-icon--small esg-icon--neutral">
                        <use xlink:href="#icon-filter"></use>
                    </svg>
                </span>
                <span class="filter-button__label">@Resources.ColleagueFinanceHome.FilterButtonLabel</span>
            </button>
        </div>
    </div>
    @*UI buttons*@
    <div class="esg-col-sm-7 esg-col-md-7">
        <div id="grouping-controls" class="esg-form__group--page-header">
            @*Bar graph and list view buttons*@
            <!-- ko if: isCostCentersTabActive -->
            <div class="graph-list-toggle-wrapper">
                <button id="cc-bar-graph-toggle" type="button" class="esg-button esg-button--secondary css-button" data-bind="attr: { 'aria-pressed': isBarGraphViewActive }, css: (isBarGraphViewActive() ? 'active-view' : ''), click: toggleGrid, tooltip: { position: 'top', message: Ellucian.ColleagueFinance.barGraphView }">
                    <span class="esg-icon__container" aria-hidden="True">
                        <svg class="esg-icon esg-icon--small esg-icon--neutral">
                            <use xlink:href="#icon-cards"></use>
                        </svg>
                    </span>
                    <span class="offScreen">@Resources.ColleagueFinanceHome.ToggleBarGraphView</span>
                </button>
                <button id="cc-list-toggle" type="button" class="esg-button css-button esg-button--secondary" data-bind="attr: { 'aria-pressed': !isBarGraphViewActive() }, css: (!isBarGraphViewActive() ? 'active-view' : ''), click: toggleList, tooltip: { position: 'top', message: Ellucian.ColleagueFinance.listView }">
                    <span class="esg-icon__container" aria-hidden="True">
                        <svg class="esg-icon esg-icon--small esg-icon--neutral">
                            <use xlink:href="#icon-list"></use>
                        </svg>
                    </span>
                    <span class="offScreen">@Resources.ColleagueFinanceHome.ToggleListView</span>
                </button>
            </div>
            <!-- /ko -->        @*isCostCentersTabActive condition*@

            @*Fiscal Years drop down*@
            <label for="reporting-period-filter" class="offScreen">@Resources.ColleagueFinanceHome.CostCenterListHeader</label>
            <select id="reporting-period-filter" class="esg-form__input esg-form__input--inline" data-bind="options: FiscalYears, optionsText: 'FiscalYearDescription', optionsValue: 'FiscalYear', value: SelectedFiscalYear, event: { change: pickFiscalYear }"></select>

            @*Export drop down*@
            <div class="esg-dropdown">
                <button class="esg-button css-button esg-button--secondary esg-dropdown__toggle css-button--export" type="button" id="download-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="esg-icon__container" aria-hidden="True">
                        <svg class="esg-icon esg-icon--small esg-icon--neutral">
                            <use xlink:href="#icon-export"></use>
                        </svg>
                    </span>
                    <span class="export-button__label">@Resources.ColleagueFinanceHome.ExportButtonLabel</span>
                    <span class="esg-dropdown__icon esg-dropdown__icon--right esg-icon__container" aria-hidden="True">
                        <svg class="esg-icon esg-icon--small esg-icon--neutral esg-icon--down">
                            <use xlink:href="#icon-arrow"></use>
                        </svg>
                    </span>
                </button>
                <ul id="download-menu" class="esg-dropdown__menu" aria-labelledby="download-dropdown">
                    <li class="esg-dropdown__menu-item css-dropdown__menu-item">
                        <csv-download-link params="data: flatExportData, linkText: downloadCsvLink, fileName: downloadName, includeKeys: true, limitToKeys: csvColumns, keyTextReplacements: csvColumnHeaders"></csv-download-link>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    @*Active Filter info - has its own row*@
    <div class="esg-col-sm-12 esg-col-md-12">
        <filter-summary params="selections: filterSummary"></filter-summary>
    </div>
</div>
<!-- /ko -->        @*IsPageLoaded condition*@

@*Page content (hybrid single page navigation)*@
<div id="dp-monolith" class="column-nine clear-group">
    <spinner params="isVisible: !IsPageLoaded(), message: Ellucian.ColleagueFinance.loadingDataText"></spinner>

    @*Cost Centers tab content*@
    <div id="cost-centers" class="cost-center-wrapper esg-tab__panel" data-bind="visible: isCostCentersTabActive, css: isCostCentersTabActive() ? 'esg-is-active' : ''">

        @*Cost Centers list*@
        <!-- ko if: IsPageLoaded() -->
        @*Double "IsPageLoaded" condition to prevent flickering upon page load*@
        <div data-bind="visible: IsPageLoaded(), css: filterMenuIsOpen() ? 'hidden-for-mobile-only' : ''" style="display: none;">
            <section class="grouping-wrapper">
                <div id="cost-centers-container" class="clear-group transition">
                    <!-- ko if: CostCentersCount() > 0 && isUIViewKnown() -->
                    @*List View*@
                    <div id="main-list-view" class="table-view list-view" role="grid" aria-readonly="true" data-bind="visible: !isBarGraphViewActive()">
                        <div class="esg-table esg-table--table-layout-fixed">
                            <ul class="esg-table-head">
                                <li class="list-view-table-header-group esg-table-head__row" role="row">
                                    @*header group*@
                                    <div class="list-view-group-name list-table-header list-view-th esg-table-head__th" role="columnheader">@Resources.ColleagueFinanceHome.ListViewHeaderCostCenter</div>

                                    <!-- ko if: $root.HasAnyRevenue() -->
                                    <div class="list-view-group-budget-revenue list-table-header list-view-th esg-table-head__th" role="columnheader">@Resources.ColleagueFinanceHome.ListViewHeaderBudgetedRevenue</div>
                                    <div class="list-view-group-actuals-revenue list-table-header list-view-th esg-table-head__th" role="columnheader">@Resources.ColleagueFinanceHome.ListViewHeaderActualRevenue</div>
                                    <!-- /ko -->
                                    <!-- ko if: $root.HasAnyExpense() -->
                                    <div class="list-view-group-budget list-table-header list-view-th esg-table-head__th" role="columnheader">@Resources.ColleagueFinanceHome.ListViewHeaderBudget</div>
                                    <div class="list-view-group-actuals list-table-header list-view-th esg-table-head__th" role="columnheader">@Resources.ColleagueFinanceHome.ListViewHeaderActualsEncumbrances</div>
                                    <div class="list-view-group-remaining list-table-header list-view-th esg-table-head__th" role="columnheader">@Resources.ColleagueFinanceHome.ListViewHeaderBudgetRemaining</div>
                                    <div class="list-view-group-percent list-table-header list-view-th esg-table-head__th" role="columnheader">@Resources.ColleagueFinanceHome.ListViewHeaderPercentSpent</div>
                                    <div class="list-view-group-health list-table-header list-view-th esg-table-head__th" role="columnheader">
                                        <span data-bind="css: { 'offScreen ': $root.isMobile }">@Resources.ColleagueFinanceHome.FinancialHealthLabelPart1</span>
                                        <span>@Resources.ColleagueFinanceHome.FinancialHealthLabelPart2</span>
                                    </div>
                                    <!-- /ko -->
                                </li>
                            </ul>
                        </div>

                        <ul data-bind="foreach: CostCenters" role="rowgroup" class="esg-table esg-table--table-layout-fixed">
                            <li role="row" class="esg-table-body group">
                                <a class="group-line-items-link list-link esg-table-body__row" data-bind="attr: { 'href': costCenterDetailActionUrl + '/' + CostCenterId() }">
                                    <div class="list-view-group-name esg-table-body__td" role="gridcell">
                                        <span data-bind="text: UnitId"></span>
                                        <span data-bind="text: Name"></span>
                                    </div>

                                    <!-- ko if: $root.HasAnyRevenue() -->
                                    <div class="list-view-group-budget-revenue esg-table-body__td" role="gridcell" data-bind="text: TotalBudgetRevenue"></div>
                                    <div class="list-view-group-actuals-revenue esg-table-body__td" role="gridcell" data-bind="text: TotalActualsRevenue"></div>
                                    <!-- /ko -->
                                    <!-- ko if: $root.HasAnyExpense() -->
                                    <div class="list-view-group-budget esg-table-body__td" role="gridcell" data-bind="text: TotalBudget"></div>
                                    <div class="list-view-group-actuals esg-table-body__td" role="gridcell" data-bind="text: TotalExpensesFormatted"></div>
                                    <div class="list-view-group-remaining list-amount esg-table-body__td" role="gridcell">
                                        <span class="list-amount" data-bind="text: BudgetRemainingFormatted, css: remainingBudgetColor, attr: { 'aria-hidden': true }"></span>
                                        <span class="offScreen" data-bind="text: BudgetRemainingScreenReaderText"></span>
                                    </div>
                                    <div class="list-view-group-percent list-amount esg-table-body__td" role="gridcell" data-bind="text: ListViewBudgetSpentPercent, css: remainingBudgetColor"></div>
                                    <div class="list-view-group-health esg-table-body__td" role="gridcell" data-bind="css: financialHealthIndicator">
                                        <span class="offScreen" data-bind="text: FinancialHealthTextForScreenReader"></span>
                                    </div>
                                    <!-- /ko -->
                                </a>
                            </li>
                        </ul>
                    </div>

                    @*Bar Graph View*@
                    <div id="bar-graph-view" class="clear-group" data-bind="visible: isBarGraphViewActive">
                        @*Loop through and display each cost center populated in AJAX query*@
                        <ol id="groups" data-bind="foreach: CostCenters">
                            <li class="group group--cost-center">
                                <a class="group-line-items-link bar-graph-link" data-bind="attr: { 'href': costCenterDetailActionUrl + '/' + CostCenterId() }">
                                    <span class="group-title bold">
                                        <span data-bind="text: UnitId, attr: { 'aria-label': UnitId() }"></span>
                                        <span data-bind="text: Name, attr: { 'aria-label': Name() }"></span>
                                    </span>
                                    <section class="graph-and-labels">
                                        @* Revenue *@
                                        <!-- ko if: $root.HasAnyRevenue() -->
                                        <div data-bind="visibility: HasRevenue">
                                            <span class="ae-text" data-bind="attr: { 'aria-label': Ellucian.ColleagueFinance.revenueLabel + ' ' + BudgetReceivedAmount() }">@Resources.ColleagueFinanceHome.RevenueLabel</span>

                                            @*JAWS only*@
                                            <span class="offScreen" data-bind="text: Ellucian.ColleagueFinance.budgetSpentAmountText + pauseText"></span>

                                            <span class="remaining-budget" data-bind="text: BudgetReceivedAmount, css: remainingBudgetRevenueColor, attr: { 'aria-hidden': true }"></span>

                                            <span class="offScreen" data-bind="text: BudgetRemainingScreenReaderTextRevenue"></span>

                                            <div data-bind="jqProgressBar: { parts: costCenterRevenueBarGraphData() }, css: overageRevenueColor, attr: { 'aria-hidden': true }" class="ui-progressbar--margin-bottom ui-progressbar--thin"></div>
                                        </div>
                                        <!-- /ko -->
                                        @* Expenses *@
                                        <!-- ko if: $root.HasAnyExpense() -->
                                        <div data-bind="visibility: HasExpense">
                                            <div data-bind="jqProgressBar: { parts: costCenterBarGraphData() }, css: overageColor, attr: { 'aria-hidden': true }" class="ui-progressbar--margin-bottom ui-progressbar--thin"></div>

                                            <span class="ae-text" data-bind="attr: { 'aria-label': Ellucian.ColleagueFinance.actualAndEncumbrancesText + $data.TotalExpenses() + budgetBarText + $data.TotalBudget() }">@Resources.ColleagueFinanceHome.ActualsEncumbranceText</span>

                                            @*JAWS only*@
                                            <span class="offScreen" data-bind="text: Ellucian.ColleagueFinance.budgetSpentAmountText + pauseText"></span>

                                            <span class="remaining-budget" data-bind="text: BudgetRemainingString, css: remainingBudgetColor, attr: { 'aria-hidden': true }"></span>

                                            <span class="offScreen" data-bind="text: BudgetRemainingScreenReaderText"></span>

                                            <span data-bind="text: BudgetSpentAmount, attr: { 'aria-hidden': true }" class="budget-spent-amount"></span>
                                        </div>
                                        <!-- /ko -->
                                    </section>
                                </a>
                            </li>
                            <!-- ko if: $index() % 2 === 1 -->
                            <li class="new-row"></li>
                            <!-- /ko -->
                        </ol>
                    </div>
                    <!-- /ko -->
                </div>

            </section>
        </div>
        <!-- /ko -->

    </div>

    @*Object View tab content*@
    @Html.Partial(@"~\Areas\ColleagueFinance\Views\Shared\_ObjectView.cshtml")

    <!-- ko if: IsPageLoaded() -->
    @*Component Filter markup*@
    @Html.Partial(@"~\Areas\ColleagueFinance\Views\Shared\_Filter.cshtml")

    @*Filter throbbers (not part of a tab)*@
    <modal-spinner id="one-spinner-to-rule" params="isVisible: activeSpinner().isVisible(), message: activeSpinner().message()"></modal-spinner>

    <!-- /ko -->        @*IsPageLoaded condition*@
</div>

