﻿<div class="auto-save-container">    
    <span class="auto-save-label" data-bind="resx: shortSaveTextResx"></span>
    <button class="esg-button esg-button--secondary auto-save-button" type="button" data-bind="click: saveButtonClickHandler, enable: saveButtonEnabled">Save</button>
</div>