﻿@* Copyright 2012-2017 Ellucian Company L.P. and its affiliates. *@
@using Ellucian.Web.Student.Areas.Finance.Models.ImmediatePayments;
@using Ellucian.Web.Student.Helpers;
@using Ellucian.Web.Student.Helper.Models;

@model ElectronicCheckEntryModel

@{
    ViewBag.Title = Model.WorkflowTitle;
    ViewBag.BodyId = Model.WorkflowStep;
    ViewBag.SubMenuOverride = "Index";
    ViewBag.HeaderLabel = Resources.ImmediatePaymentResources.PaymentLabel;
}

<div class="clear-group">
    @Html.Partial("_PageHeader", new Ellucian.Web.Student.Models.PageHeaderModel(Resources.ImmediatePaymentResources.PayForRegistrationDescription,
        Resources.PaymentResources.ECheckEntryDescription, null, null))
</div>
<div class="column-nine">
    <section class="section-wrapper section-wrapper-top-border">
        <div class="section-contents primary-contents">
            <!-- Workflow Indicator Bar -->
            @Html.Partial("WorkflowIndicatorPartial")
        </div>
        <div class="clear-group">
            @{
                if (!string.IsNullOrEmpty(ViewBag.Error))
                {
                    if (ViewBag.Error != null)
                    {
                        @Html.Partial("_ErrorPartial")
                    }
                }
                else
                {
                    <!-- Heading -->
                    <div id="echeck-bodyHeader" class="section-header primary-header">
                        <h3>@ViewBag.HeaderLabel</h3>
                    </div>

                    @Html.Partial("ECheckEntryPartial")
                }
            }
        </div>
    </section>

</div>

<!-- Loading Throbber - shown when payment is submitted -->
    @Html.Partial("ActionThrobberPartial")
<!-- End Loading Throbber -->


@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/immediatepaymentscripts")
    @System.Web.Optimization.Scripts.Render("~/bundles/kovalidationdebugscripts")
    <script type="text/javascript">
        var jsonData = @Html.Raw(ViewBag.json);

        $(document).ready(function () {
            try{
                // Register the modal dialog component
                ko.components.register('modal-dialog', {
                    require: 'ModalDialog/_ModalDialog'
                });
            } catch(e){ /*it might have been registered - nothing to do*/ }

            var viewModel = new immediatePayments.ECheckEntryViewModel(jsonData);
            ko.applyBindings(viewModel, document.getElementById("main"));

            // Format the workflow indicator, showing this form as the current step
            formatWorkflowIndicator("@Model.WorkflowStep");

            // Add any notifications to the notification center
            if ("@Model.Notification" != null && "@Model.Notification.Message" != null && "@Model.Notification.Message.Length" > 0)
            {
                $('#notificationHost').notificationCenter('addNotification', { message: "@Model.Notification.Message", type: "error" });
            }
        });
    </script>
}