﻿@* Copyright 2012-2017 Ellucian Company L.P. and its affiliates. *@
@using Ellucian.Web.Student.Areas.Finance.Models.ImmediatePayments;
@model RegistrationSummaryModel

@{
    ViewBag.Title = Model.WorkflowTitle;
    ViewBag.BodyId = Model.WorkflowStep;
    ViewBag.SubMenuOverride = "Index";
    ViewBag.HeaderLabel = Resources.ImmediatePaymentResources.RegistrationSummaryLabel;
}

<div class="clear-group">
    <div id="page-description" class="esg-page-header">
        <h2 class="esg-page-header__title">
            @Resources.ImmediatePaymentResources.PayForRegistrationDescription
        </h2>
    </div>
</div>
<div class="column-nine">
    <section class="section-wrapper section-wrapper-top-border">
        <div class="section-contents primary-contents">
            <!-- Workflow Indicator Bar -->
            @Html.Partial("WorkflowIndicatorPartial")
        </div>
        @{
            if (!string.IsNullOrEmpty(ViewBag.Error))
            {
                if (ViewBag.Error != null)
                {
                    @Html.Partial("_ErrorPartial")
                }
            }
            else
            {
                <!-- Heading -->
                <div id="bodyHeader" class="section-header">
                    <h3>@ViewBag.HeaderLabel</h3>
                    <!-- Print Button -->
                    <a class="print-link" data-bind="click: printSummary" href="#">
                        <span>@Resources.ImmediatePaymentResources.PrintButtonLabel</span>
                        <span class="offScreen">@Resources.ImmediatePaymentResources.PrintSummaryAriaLabel</span>
                    </a>
                </div>

                <!-- Content -->
                @Html.Partial("RegistrationSummaryPartial")

                <div id="agreeCheck" class="section-contents bold">
                    <input id="agreeCheckbox" type="checkbox" data-bind="checked: AcceptTermsAndConditions" />
                    <label for="agreeCheckbox">@Resources.ImmediatePaymentResources.TermsAndConditionsStatement</label>
                </div>

                <!-- Footer -->
                <div class="button-bar">
                    <input id="AcknowledgementSubmit" class="esg-button esg-button--primary" name="AcknowledgementSubmit" type="submit" aria-label="@Resources.ImmediatePaymentResources.TermsAndConditionsButtonAria" value="@Resources.ImmediatePaymentResources.TermsAndConditionsButtonLabel"
                           data-bind="enable: AcceptTermsAndConditions, click: ProcessTermsAndConditions" />
                </div>

            }
        }
    </section>
</div>

@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/immediatepaymentscripts")
    @System.Web.Optimization.Scripts.Render("~/bundles/registrationsummaryscripts")
    <script type="text/javascript">
        var jsonData = @Html.Raw(ViewBag.json);
        $(document).ready(function () {
            var viewModel = new RegistrationSummaryViewModel(jsonData);
            ko.applyBindings(viewModel, document.getElementById("main"));
            
            // Format the workflow indicator, showing this form as the current step
            formatWorkflowIndicator("@Model.WorkflowStep");
        });
    </script>
}
