﻿@* Copyright 2013-2017 Ellucian Company L.P. and its affiliates. *@

@using Ellucian.Web.Student.Areas.Finance.Models.ImmediatePayments;
@model PaymentOptionsModel

@{
    ViewBag.Title = Model.WorkflowTitle;
    ViewBag.BodyId = Model.WorkflowStep;
    ViewBag.SubMenuOverride = "Index";
    ViewBag.HeaderLabel = Resources.ImmediatePaymentResources.PaymentOptionsLabel;
}

<div class="clear-group">
    @Html.Partial("_PageHeader", new Ellucian.Web.Student.Models.PageHeaderModel(Resources.ImmediatePaymentResources.PayForRegistrationDescription,
        null, null, null))
</div>
<div class="column-nine">
    <section class="section-wrapper section-wrapper-top-border">
        <div class="section-contents primary-contents">
            <!-- Workflow Indicator Bar -->
            @Html.Partial("WorkflowIndicatorPartial")
        </div>
        @{
            if (!string.IsNullOrEmpty(ViewBag.Error))
            {
                if (ViewBag.Error != null)
                {
                    @Html.Partial("_ErrorPartial")
                }
            }
            else
            {

            <!-- Payment Options Section -->
            <!-- Options Accordion -->
                <div id="paymentOptionsWrapper" data-bind="visible: DisplayPaymentOptions()">
                    <div id="optionsAccordion" class="options-contents section-contents" data-bind="css: { 'accordion-region-opened': EnablePaymentOptions(), 'accordion-region': !EnablePaymentOptions() }, visible: DisplayPaymentOptions">
                        <h3 class="clear-group">
                            <span id="paymentOptionsAccordionLabel" class="column-two">@ViewBag.HeaderLabel</span>
                        </h3>
                        <!-- Payment Options -->
                        <div id="payOptions">
                            @Html.Partial("PaymentOptionsPartial")
                        </div>
                    </div>
                    <!-- Button -->
                    <div class="button-bar" data-bind="visible: EnablePaymentOptions()">
                        <input id="SubmitPaymentChoice" class="esg-button esg-button--primary" name="SubmitPaymentChoice" type="submit" aria-label="@Resources.ImmediatePaymentResources.PaymentOptionsButtonAria" value="@Resources.ImmediatePaymentResources.PaymentOptionsButtonLabel" data-bind="enable: EnablePaymentOptions() && ValidInputsCompleted(), click: ProcessPaymentOption" />
                    </div>
                </div>
                <message id="paymentOptionsPlanOptionSelected" params="isVisible: !EnablePaymentOptions(), message: '@Resources.ImmediatePaymentResources.PaymentPlanSelectedMessage', type: 'success', addMargin: true"></message>

            <!-- Plan Details Section -->
            <!-- Payment Plan Details Accordion -->
                <div id="planDetailsWrapper" data-bind="visible: DisplayPlanDetails()">
                    <div id="planDetailsAccordion" class="options-contents section-contents" data-bind="css: { 'accordion-region-opened': EnablePlanDetails(), 'accordion-region': !EnablePlanDetails() }, visible: DisplayPlanDetails">
                        <h3 class="clear-group">
                            <span id="planDetailsAccordionLabel" class="column-two">@Resources.ImmediatePaymentResources.PaymentPlanDetailsLabel</span>
                        </h3>
                        <!-- Plan Details -->
                        <div id="planDetails">
                            @Html.Partial("PlanDetailsPartial")
                        </div>
                    </div>
                    <!-- Button -->
                    <div class="button-bar" data-bind="visible: EnablePlanDetails()">
                        <input id="AcceptTermsAndConditions" class="esg-button esg-button--primary" name="AcceptTermsAndConditions" type="submit" aria-label="@Resources.ImmediatePaymentResources.PlanTermsAndConditionsButtonAria" value="@Resources.ImmediatePaymentResources.PlanDetailsButtonLabel" data-bind="enable: DisplayPlanDetails() && AcceptTermsAndConditions(), click: ProcessAcceptPlanTerms" />
                    </div>
                </div>

                <message id="paymentOptionsPlanAccepted" params="isVisible: DisplayDownPayment(), message: '@Resources.ImmediatePaymentResources.PaymentPlanAcceptedMessage' + ' ' + Globalize.format(parseIsoDate(Acceptance.ApprovalReceived()), 'd') + ' ' + '@Resources.SharedConstants.Word_At' + ' ' + Globalize.format(parseIsoDate(Acceptance.ApprovalReceived()), 't'), type: 'success', addMargin: true"></message>

        <!-- Down Payment Section -->
        <!-- Plan Down Payment Accordion -->
                <div id="planDownPaymentWrapper" data-bind="visible: DisplayDownPayment()">
                    <div id="planDownPaymentAccordion" class="options-contents section-contents" data-bind="css: { 'accordion-region-opened': EnableDownPayment(), 'accordion-region': !EnableDownPayment() }, visible: DisplayDownPayment">
                        <h3 class="clear-group">
                            <span id="downPaymentAccordionLabel" class="column-two">@Resources.ImmediatePaymentResources.MakeDownPaymentLabel</span>
                        </h3>
                        <div id="planDownPayment">
                            @Html.Partial("PlanDownPaymentPartial")
                        </div>
                    </div>
                    <!-- Button -->
                    <div class="button-bar" data-bind="visible: EnableDownPayment()">
                        <input id="MakeDownPayment" class="esg-button esg-button--primary" name="MakeDownPayment" type="submit" aria-label="@Resources.ImmediatePaymentResources.PlanDownPaymentButtonAria" value="@Resources.ImmediatePaymentResources.PaymentOptionsButtonLabel" data-bind="enable: EnableDownPayment() && DownPaymentInputsCompleted(), click: ProcessDownPayment" />
                    </div>
                </div>
            }
        }
    </section>

</div>

<!-- Loading Throbber - shown when payment plan option is selected -->
<modal-spinner id="loading-plan-details" params="isVisible: payPlanOptionLoading, message: payPlanOptionMessage"></modal-spinner>

<!-- End Loading Throbber -->
<!-- Loading Throbber - shown when payment plan option is selected -->
<modal-spinner id="loading-plan-acceptance" params="isVisible: acceptPlanTermsLoading, message: acceptPlanTermsMessage"></modal-spinner>

<!-- End Loading Throbber -->
@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/immediatepaymentscripts")
    @System.Web.Optimization.Scripts.Render("~/bundles/paymentoptionsscripts")
    <script type="text/javascript">
        var jsonData = @Html.Raw(ViewBag.json);
        $(document).ready(function () {
            // Build the view model and render the base form
            var viewModel = new PaymentOptionsViewModel(jsonData);
            ko.applyBindings(viewModel, document.getElementById("main"));

            // Format the workflow indicator, showing this form as the current step
            formatWorkflowIndicator("@Model.WorkflowStep");
            // Add a line beneath the last visible payment option
            $('.payOption:visible:last').css('border-bottom','1px solid #e6e6e6');

            // Get the payment options and apply those changes
            //viewModel.GetPaymentOptions();

            // Set accordion states
            initializeAccordions();
            $( "#optionsAccordion" ).accordion({ collapsible: false });
            $( "#optionsAccordion h3 span:first-child").hide();
        });
    </script>
}
