﻿<!-- Copyright 2013-2017 Ellucian Company L.P. and its affiliates. -->

@using Ellucian.Web.Student.Areas.Finance.Models.ImmediatePayments;
@model PaymentPlanAcknowledgementModel

@{
    ViewBag.Title = Model.WorkflowTitle;
    ViewBag.BodyId = "PaymentPlanAcknowledgement";
    ViewBag.SubMenuOverride = "Index";
    ViewBag.HeaderLabel = Resources.ImmediatePaymentResources.PaymentPlanAcknowledgementLabel;
}

<div class="clear-group">
    @Html.Partial("_PageHeader", new Ellucian.Web.Student.Models.PageHeaderModel(Resources.ImmediatePaymentResources.PayForRegistrationDescription,
        null, null, null))
</div>
<div class="column-nine">
    <section class="section-wrapper section-wrapper-top-border">
        <div class="section-contents primary-contents">
            <!-- Workflow Indicator Bar -->
            @Html.Partial("WorkflowIndicatorPartial")

        </div>
        @{
            if (!string.IsNullOrEmpty(ViewBag.Error))
            {
                if (ViewBag.Error != null)
                {
                    @Html.Partial("_ErrorPartial")
                }
            }
            else
            {
                @Html.Partial("PlanAcknowledgementPartial")

                <!-- Footer -->
                <div class="button-bar">
                    <input id="IpcPlanAcknowledgementSubmit" class="esg-button esg-button--primary" name="AcknowledgementSubmit" type="submit" aria-label="@Resources.ImmediatePaymentResources.PaymentAcknowledgementButtonAria"
                           value="@Resources.PaymentResources.ContinueButtonLabel" data-bind="click: WorkflowComplete" />
                </div>
            }
        }
    </section>

</div>

@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/immediatepaymentscripts")
    <script type="text/javascript">
        var jsonData = @Html.Raw(ViewBag.json);
        $(document).ready(function () {
            var viewModel = new immediatePayments.PaymentPlanAcknowledgementViewModel(jsonData);
            ko.applyBindings(viewModel, document.getElementById("main"));

            // Format the workflow indicator, showing this form as the current step
            formatWorkflowIndicator("@Model.WorkflowStep");
        });
    </script>
}
