﻿@* Copyright 2014 Ellucian Company L.P. and its affiliates. *@

<fieldset>
    <legend class="offScreen">@Resources.ImmediatePaymentResources.PaymentOptionsChoiceHeaderLabel</legend>
    <ul>
        <!-- Full Payment -->
        <li id="fullPaymentOption" class="payOption">
            <input id="fullAmountRadio" type="radio" name="paymentOption" value="FullPayment" data-bind="disable: !EnablePaymentOptions(), checked: SelectedOption" />
            <label for="fullAmountRadio" class="choiceText">@Resources.ImmediatePaymentResources.TotalAmountLabel</label>
            <span aria-hidden="true" class="paymentAmount" data-bind="currency: FullPayment(), negativePattern: 1"></span>
            <a class="offScreen" href="#total-payment-amount">@Resources.PaymentResources.ReviewTotalPaymentChooseMethodProceedText</a>
        </li>

        <!-- Minimum Payment -->
        <li id="minimumPaymentOption" class="payOption" data-bind="visible: DisplayMinimumPayment">
            <input id="minAmountRadio" type="radio" name="paymentOption" value="MinimumPayment" data-bind="disable: !EnablePaymentOptions(), checked: SelectedOption" />
            <label for="minAmountRadio" class="choiceText">@Resources.ImmediatePaymentResources.MinimumPaymentLabel</label>
            <span aria-hidden="true" class="paymentAmount" data-bind="currency: MinimumPayment(), negativePattern: 1"></span>
            <a class="offScreen" href="#total-payment-amount">@Resources.PaymentResources.ReviewTotalPaymentChooseMethodProceedText</a>
        </li>

        <!-- Other Payment -->
        <li id="otherPaymentOption" class="payOption clear-group" data-bind="visible: DisplayOtherPayment">
            <input id="otherPaymentRadio" type="radio" name="paymentOption" value="OtherPayment" data-bind="disable: !EnablePaymentOptions(), checked: SelectedOption" />
            <label for="otherPaymentRadio" class="choiceText">@Resources.ImmediatePaymentResources.OtherAmountLabel</label>
            <span class="paymentAmount" data-bind="visible: SelectedOption() === 'OtherPayment'">
                <span>$</span>
                <input type="text" pattern="\d+(\.\d+)?" class="colAmount" title="@Resources.ImmediatePaymentResources.OtherAmountAriaLabel" aria-label="@Resources.ImmediatePaymentResources.OtherAmountAriaLabel"
                       data-bind="visible: SelectedOption() === 'OtherPayment', value: OtherPayment, hasfocus: editingAmount()" />
            </span>
            <div aria-hidden="true" class="inputAlert" data-bind="visible: OtherPayment.hasError(), text: OtherPayment.validationMessage(), css: { errorArea: OtherPayment.hasError() }"></div>
            <a class="offScreen" href="#total-payment-amount" data-bind="attr: { 'aria-hidden': OtherPayment.hasError() ? true : false }">@Resources.PaymentResources.ReviewTotalPaymentChooseMethodProceedText</a>
        </li>

        <!-- Payment Plan-->
        <li id="paymentPlanOption" class="payOption" data-bind="visible: DisplayPaymentPlan()">
            <input id="paymentPlanRadio" type="radio" name="paymentOption" value="PaymentPlan" data-bind="disable: !EnablePaymentOptions(), checked: SelectedOption" />
            <label for="paymentPlanRadio" class="choiceText">@Resources.ImmediatePaymentResources.PaymentPlanOptionLabel</label>
        </li>

        <!-- Defer Payment -->
        <li id="deferPaymentOption" class="payOption" data-bind="visible: DisplayPaymentDeferral">
            <input id="deferRadio" type="radio" name="paymentOption" value="DeferPayment" data-bind="disable: !EnablePaymentOptions(), checked: SelectedOption" />
            <label for="deferRadio" class="choiceText">@Resources.ImmediatePaymentResources.DeferPaymentLabel</label>
        </li>
    </ul>
</fieldset>

<!-- Payment Methods -->
<div id="total-payment-amount" class="offScreen">
    <span>@Resources.PaymentResources.TotalPaymentLabel</span>
    <span>: </span>
    <span data-bind="currency: PaymentAmount(), negativePattern: 1"></span>
</div>
<div class="dropdown paymentMethod" data-bind="visible: (SelectedOption() === 'FullPayment' || SelectedOption() === 'MinimumPayment' || OtherPaymentValid)">
    <label for="optionsPaymentMethod" class="offScreen">@Resources.FinanceResources.SelectPaymentMethodLabel</label>
    <select id="optionsPaymentMethod" class="esg-form__input esg-form__input--inline" data-bind="options: PaymentMethods, optionsText: 'Description', value: OptionsPaymentMethod, optionsCaption: '@Resources.FinanceResources.SelectPaymentMethodLabel    '"></select>
</div>
<!-- Messages -->
<message params="isVisible: SelectedOption() === 'PaymentPlan' && DownPaymentMessage() !== null, message: DownPaymentMessage()"></message>
<message params="isVisible: SelectedOption() === 'DeferPayment', message: '@Resources.ImmediatePaymentResources.PaymentDeferralMessage'"></message>
