﻿@* Copyright 2012-2017 Ellucian Company L.P. and its affiliates. *@
@using Ellucian.Web.Student.Areas.Finance.Models.ImmediatePayments;
@model PaymentReviewModel

@{
    ViewBag.Title = Model.WorkflowTitle;
    ViewBag.BodyId = Model.WorkflowStep;
    ViewBag.SubMenuOverride = "Index";
    ViewBag.HeaderLabel = Resources.ImmediatePaymentResources.PaymentReviewLabel;
}

<div class="clear-group">
    @Html.Partial("_PageHeader", new Ellucian.Web.Student.Models.PageHeaderModel(Resources.ImmediatePaymentResources.PayForRegistrationDescription,
        Resources.PaymentResources.PaymentReviewDescription, null, null))
</div>
<div class="column-nine">
    <section class="section-wrapper section-wrapper-top-border">
        <div class="section-contents primary-contents">
            <!-- Workflow Indicator Bar -->
            @Html.Partial("WorkflowIndicatorPartial")
        </div>
        @{
            if (!string.IsNullOrEmpty(ViewBag.Error))
            {
                if (ViewBag.Error != null)
                {
                    @Html.Partial("_ErrorPartial")
                }
            }
            else
            {
        <!-- Heading -->
                <div id="bodyHeader" class="section-header primary-header">
                    <h3>@ViewBag.HeaderLabel</h3>
                </div>

                @Html.Partial("PaymentReviewPartial")

            }
        }
    </section>
</div>

@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/immediatepaymentscripts")
    <script type="text/javascript">
        var jsonData = @Html.Raw(ViewBag.json);
        $(document).ready(function () {
            var viewModel = new immediatePayments.PaymentReviewViewModel(jsonData);
            ko.applyBindings(viewModel, document.getElementById("main"));

            // Format the workflow indicator, showing this form as the current step
            formatWorkflowIndicator("@Model.WorkflowStep");

            // Add any notifications to the notification center
            if ("@Model.Notification" != null && "@Model.Notification.Message" != null && "@Model.Notification.Message.Length" > 0)
            {
                $('#notificationHost').notificationCenter('addNotification', { message: "@Model.Notification.Message", type: "error" });
            }
        });
    </script>
}