﻿@* Copyright 2012-2017 Ellucian Company L.P. and its affiliates. *@
@using Ellucian.Web.Student.Areas.Finance.Models.ImmediatePayments;
@model PaymentAcknowledgementModel

@{
    ViewBag.Title = Model.WorkflowTitle;
    ViewBag.BodyId = Model.WorkflowStep;
    ViewBag.SubMenuOverride = "Index";
    ViewBag.HeaderLabel = Resources.ImmediatePaymentResources.PaymentAcknowledgementLabel;
}

<div class="clear-group">
    @Html.Partial("_PageHeader", new Ellucian.Web.Student.Models.PageHeaderModel(Resources.ImmediatePaymentResources.PayForRegistrationDescription,
        null, null, null))
</div>
<div class="column-nine">
    <section class="section-wrapper section-wrapper-top-border">
        <div class="section-contents primary-contents">
            <!-- Workflow Indicator Bar -->
            @Html.Partial("WorkflowIndicatorPartial")
        </div>
        @{
            if (!string.IsNullOrEmpty(Model.ErrorMessage) || !string.IsNullOrEmpty(ViewBag.Error))
            {
                <p id="errorMsg" class="errorMessage">
                    @Model.ErrorMessage
                </p>

                if (ViewBag.Error != null)
                {
                    @Html.Partial("_ErrorPartial")
                }
            }
            else
            {
        <!-- Heading -->
                <div id="bodyHeader" class="section-header primary-header">
                    <h3>@ViewBag.HeaderLabel</h3>
                    <!-- Print Button -->
                    <a class="print-link" data-bind="click: printAcknowledgement" href="#">
                        <span>@Resources.ImmediatePaymentResources.PrintButtonLabel</span>
                        <span class="offScreen">@Resources.ImmediatePaymentResources.PrintPaymentAcknowledgementAriaLabel</span>
                    </a>
                </div>

        <!-- Content -->
                @Html.Partial("AcknowledgementPartial")

        <!-- Footer -->
                <div class="button-bar">
                    <input id="IpcAcknowledgementSubmit" class="esg-button esg-button--primary" name="AcknowledgementSubmit" type="submit" value="@Resources.PaymentResources.ContinueButtonLabel"
                           aria-label="@Resources.ImmediatePaymentResources.PaymentAcknowledgementButtonAria" data-bind="click: paymentComplete" />
                </div>
        <!-- End Footer -->
            }
        }
    </section>
</div>

@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/immediatepaymentscripts")
    <script type="text/javascript">
        var jsonData = @Html.Raw(ViewBag.json);
        $(document).ready(function () {
            var viewModel = new immediatePayments.PaymentAcknowledgementViewModel(jsonData);
            ko.applyBindings(viewModel, document.getElementById("main"));

            // Format the workflow indicator, showing this form as the current step
            formatWorkflowIndicator("@Model.WorkflowStep");
        });
    </script>
}
