﻿@* Copyright 2012-2017 Ellucian Company L.P. and its affiliates. *@
@using Ellucian.Web.Student.Areas.Finance.Models.ImmediatePayments;
@model PaymentCompleteModel

@{
    ViewBag.Title = Model.WorkflowTitle;
    ViewBag.BodyId = "PaymentComplete";
    ViewBag.SubMenuOverride = "Index";
    ViewBag.HeaderLabel = Resources.ImmediatePaymentResources.PaymentCompleteLabel;
}

<div class="clear-group">
    @Html.Partial("_PageHeader", new Ellucian.Web.Student.Models.PageHeaderModel(Resources.ImmediatePaymentResources.PayForRegistrationDescription,
        null, null, null))
</div>
<div class="column-nine">
    <section class="section-wrapper section-wrapper-top-border">
        <div class="section-contents primary-contents">
            <!-- Workflow Indicator Bar -->
            @Html.Partial("WorkflowIndicatorPartial")
        </div>
        @{
            if (!string.IsNullOrEmpty(ViewBag.Error))
            {
                if (ViewBag.Error != null)
                {
                    @Html.Partial("_ErrorPartial")
                }
            }
            else
            {
        <!-- Heading -->
                <div id="bodyHeader" class="section-header primary-header">
                    <h3>@ViewBag.HeaderLabel</h3>
                </div>

                <div class="esg-alert esg-alert--fluid esg-alert--info esg-alert--extra-margin" role="alert">
                    <span class="esg-alert__icon-wrapper">
                        <span class="esg-alert__icon esg-icon__container" aria-hidden="True">
                            <svg class="esg-icon esg-icon--info-dark">
                                <use xlink:href="#icon-info"></use>
                            </svg>
                        </span>
                    </span>
                    <div class="esg-alert__message" data-bind="foreach: Message">
                        <span data-bind="text: $data"></span><br />
                    </div>
                </div>

        <!-- Footer -->
                <div class="button-bar">
                    <input id="ExitIpcWorkflow" class="esg-button esg-button--primary" type="submit" aria-label="@Resources.ImmediatePaymentResources.PaymentCompleteButtonAria @Model.ButtonLabel" value="@Model.ButtonLabel" data-bind="click: TransferControl" />
                </div>
            }
        }
    </section>

</div>

@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/immediatepaymentscripts")
    <script type="text/javascript">
        var jsonData = @Html.Raw(ViewBag.json);
        $(document).ready(function () {
            var viewModel = new immediatePayments.PaymentCompleteViewModel(jsonData);
            ko.applyBindings(viewModel, document.getElementById("main"));

            // Format the workflow indicator, showing this form as the current step
            formatWorkflowIndicator("@Model.WorkflowStep");
        });
    </script>
}