﻿@* Copyright 2014 Ellucian Company L.P. and its affiliates. *@

<fieldset>
    <legend class="offScreen">@Resources.ImmediatePaymentResources.PaymentOptionsChoiceHeaderLabel</legend>

    <!-- Down Payment Options - based on whether down payment is due today -->

    <div id="fullDownPaymentOption" class="payOption" data-bind="visible: DownPaymentRequired()">
        <input id="requiredDownPaymentRadio" type="radio" name="downPaymentOption" value="RequiredDownPayment" data-bind="checked: DownPaymentOption" />
        <label for="requiredDownPaymentRadio" class="choiceText">@Resources.ImmediatePaymentResources.RequiredDownPaymentLabel</label>
        <span class="paymentAmount" data-bind="currency: MinimumDownPaymentAmount, negativePattern: 1"></span>
    </div>

    <div id="otherDownPaymentOption" class="payOption">
        <input id="otherDownPaymentRadio" type="radio" name="downPaymentOption" value="OtherDownPayment" data-bind="checked: DownPaymentOption" />
        <label for="otherDownPaymentRadio" class="choiceText" data-bind="text: OtherDownPaymentLabel()"></label>
        <span class="paymentAmount" data-bind="visible: DownPaymentOption() === 'OtherDownPayment'">
            <span>$</span>
            <input id="otherDownPayment" type="text" pattern="\d+(\.\d+)?" class="colAmount" title="@Resources.ImmediatePaymentResources.OtherAmountAriaLabel" aria-label="@Resources.ImmediatePaymentResources.OtherAmountAriaLabel"
                   data-bind="visible: DownPaymentOption() === 'OtherDownPayment', value: OtherDownPayment, hasfocus: editingDownPaymentAmount()" />
        </span>
        <div class="inputAlert" data-bind="visible: OtherDownPayment.hasError(), text: OtherDownPayment.validationMessage(), css: { errorArea: OtherDownPayment.hasError() }"></div>
    </div>

    <div id="deferDownPaymentOption" class="payOption" data-bind="visible: !DownPaymentRequired()">
        <input id="payLaterRadio" type="radio" name="downPaymentOption" value="DeferDownPayment" data-bind="checked: DownPaymentOption" />
        <label for="payLaterRadio" class="choiceText">@Resources.ImmediatePaymentResources.DeferPaymentLabel</label>
    </div>
</fieldset>

<!-- Messages -->
<mesage params="isVisible: DownPaymentOption() === 'DeferDownPayment', message: '@Resources.ImmediatePaymentResources.PaymentPlanDeferralMessage'"></mesage>

<!-- Payment Methods -->
<div class="dropdown paymentMethod" data-bind="visible: (DownPaymentOption() === 'RequiredDownPayment' || DownPaymentOption() === 'OtherDownPayment')">
    <label for="planDownPaymentMethod" class="offScreen">@Resources.FinanceResources.SelectPaymentMethodLabel</label>
    <select id="planDownPaymentMethod" data-bind="options: PaymentMethods, optionsText: 'Description', value: PlanPaymentMethod, optionsCaption: '@Resources.FinanceResources.SelectPaymentMethodLabel'"></select>
</div>
