﻿@* Copyright 2012-2016 Ellucian Company L.P. and its affiliates. *@
@using Ellucian.Web.Mvc.Models;
@using System.Web.Optimization;
@using Ellucian.Web.Student.Areas.Finance.Models.ImmediatePayments;
@model PaymentPlanAcknowledgementModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <title>@Resources.ImmediatePaymentResources.PaymentPlanAcknowledgementLabel</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    @System.Web.Optimization.Scripts.Render("~/bundles/studentfinancescripts")
    @Html.Partial("_GlobalStringConstantDefinitions")
    @Html.Partial("_ActionUrlDefinitions")
    @Html.Partial("_HelpUrlDefinitions")
    @Html.Partial("_StringConstantDefinitions")
    @Html.Partial("_PrintableViewOverhead")
    @System.Web.Optimization.Scripts.Render("~/bundles/immediatepaymentscripts")
    @Scripts.Render("~/bundles/polyfills")

    <script type="text/javascript">
        var jsonData = @Html.Raw(ViewBag.json);
        $(document).ready(function () {
            var viewModel = new immediatePayments.PaymentPlanAcknowledgementViewModel(jsonData);
            ko.applyBindings(viewModel, document.getElementById("PrintPaymentPlanAcknowledgement"));
        });
    </script>
    @System.Web.Optimization.Styles.Render("~/Areas/Finance/Content/FinanceBundlecss")
    @System.Web.Optimization.Styles.Render("~/Content/css")
    <script type="text/javascript">
        Globalize.culture('@System.Threading.Thread.CurrentThread.CurrentCulture.Name');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body id="PrintPaymentPlanAcknowledgement">
    <h1>@Resources.ImmediatePaymentResources.PaymentPlanAcknowledgementLabel</h1>
    <!-- Plan Details -->
    <div id="planDetails">
        @Html.Partial("PlanDetailsPartial")
    </div>
</body>
</html>
