﻿<!-- Copyright 2016 Ellucian Company L.P. and its affiliates. -->
<!-- ko if: isVisible -->
<span class="esg-icon__container esg-icon__container--fill" aria-hidden="true" data-bind="css: iconContainerClasses"> 
    <svg class="esg-icon" data-bind="css: iconClasses">
        <use xlink:href="" data-bind="attr: { 'xlink:href': iconId }"></use>
    </svg>
</span>
<!-- /ko -->