﻿<!-- Copyright 2016 Ellucian Company L.P. and its affiliates. -->
<!-- ko if: isVisible -->
<div class="esg-alert" role="alert" data-bind="attr: { 'class' : modifier1 }">
    <span class="esg-alert__icon-wrapper">
        <span class="esg-alert__icon esg-icon__container" aria-hidden="True">
            <svg class="esg-icon" data-bind="css: modifier2">
                <use xlink:href="" data-bind="attr: { 'xlink:href': iconId }"></use>
            </svg>
        </span>
    </span>
    <div class="esg-alert__message">
        <!-- ko if: buttonLabel -->
        <button class="esg-button esg-button--secondary esg-button--float-right" data-bind="css: buttonStyle, click: buttonCallback, text: buttonLabel, attr: { 'aria-label': buttonAriaLabel }"></button>
        <!-- /ko -->
        <!-- ko if: title -->
        <div class="esg-alert__message--title" data-bind="text: title"></div>
        <!-- /ko -->
        <div data-bind="html: message"></div>
    </div>
</div>
<!-- /ko -->