﻿@*Copyright 2016-2017 Ellucian Company L.P. and its affiliates*@

@Html.Partial("_ActionUrlDefinitions")

@using Ellucian.Web.Student.Helpers;
@{
    
    
    @Html.RenderDevStyleBundle("/Areas/TimeManagement/Build/time.sheet.bundle.min.css");
    @Html.RenderDevScriptBundle("/Areas/TimeManagement/Build/time.sheet.bundle.js");
    
    
    @Html.RenderProductionStylesheetBundle("/Areas/TimeManagement/Build/time.sheet.bundle.min.css");    
    @Html.RenderProductionScriptBundle("/Areas/TimeManagement/Build/time.sheet.bundle.min.js");

    
    //var version = Ellucian.Web.Student.Infrastructure.ApplicationMetadata.Version;
    //var scriptSource = HttpContext.Current.IsDebuggingEnabled ? 
    //    "~/Areas/TimeManagement/Build/time.sheet.bundle.js" :
    //    "~/Areas/TimeManagement/Build/time.sheet.bundle.min.js";

        /*eventually webpack will build the sass, 
    but SS Core team wants to do some research on it first to see if webpack can build all our sass
    so for now, i've commented out the css built by webpack
*/
    //var styleSource = HttpContext.Current.IsDebuggingEnabled ?
    //    "~/Areas/TimeManagement/Build/time.sheet.bundle.css" :
    //    "~/Areas/TimeManagement/Build/time.sheet.bundle.min.css";

    @*@Scripts.RenderFormat("<script type='text/javascript' src='{0}?v=" + version + "'></script>", scriptSource)*@

    @*@Styles.RenderFormat("<link rel='stylesheet' href='{0}?v=" + version + "'>", styleSource);*@
}

<div id="time-sheet-application">
    @*<div class="esg-page-header">
        <h1 class="esg-page-header__title"> @Resources.TimeSheet.TimeSheetPageDescription </h1>
    </div>*@


        <!-- ko if: currentViewComponentName -->
        <!-- ko component: {
            name: currentViewComponentName,
            params: currentViewComponentParams
        } -->
        <!-- /ko -->
        <!-- /ko -->

</div>

