﻿<!-- Copyright 2016-2017 Ellucian Company L.P. and its affiliates. -->
@section scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/accountsummaryscripts")
}

<div class="clear-group">
    @if (ViewBag.IsAdmin == null || !ViewBag.IsAdmin)
    {
        @Html.Partial("_PageHeader", new Ellucian.Web.Student.Models.PageHeaderModel(Resources.AccountSummaryResources.PageTitle,
       Resources.AccountSummaryResources.ViewDescription, null, null))
    }
    @if (ViewBag.IsAdmin != null && ViewBag.IsAdmin)
    {
        @Html.Partial("_PageHeader", new Ellucian.Web.Student.Models.PageHeaderModel(Resources.AccountSummaryResources.PageTitle + Resources.FinanceResources.AdminPageTitle,
       Resources.AccountSummaryResources.ViewDescriptionAdmin, null, null))
    }
</div>
<div id="account-summary" class="column-nine" style="display: none" data-bind="visible: true">
    <spinner params="isVisible: !showUI(), message: '@Resources.AccountSummaryResources.SpinnerMessage'"></spinner>
    <section class="section-wrapper section-wrapper-top-border" data-bind="visible: showUI()">
        @Html.Partial("_AdminHeaderPartial")
        <!-- ko ifnot: HasPrivacyRestriction() -->
        <div class="section-contents">
            <!-- Account Summary Details -->
                <div id="account-summary-data" class="clear-group">
                <div data-bind="css:{'column-seven': HelpfulLinks().length > 0}">
                    <div id="summary-data-wrapper" class="section-contents">
                        <section id="add-proxy-section-header" class="section-header">
                            <h3>@Resources.AccountSummaryResources.AccountOverviewText</h3>
                        </section>
                        <h4 id="amount-due-line" class="summary-line clear-group" data-bind="visible: AmountDue() !== 0">
                            <span class="float-left column-five column-five-sm">
                                <span>@Resources.AccountSummaryResources.AmountDueText</span>
                                <!-- ko if: NextPaymentDueDate() -->
                                <span data-bind="text: NextPaymentDueDate()"></span>
                                <!-- /ko -->
                            </span>
                            <span class="float-right text-align-right" data-bind="currency: AmountDue(), negativePattern: 1, css: { 'column-two': !$root.isMobile(), 'column-two-sm': !$root.isMobile(), 'column-four': $root.isMobile(), 'column-four-sm': $root.isMobile() }"></span>
                            <span class="column-two text-align-right" data-bind="visible: !$root.isMobile()"></span>
                        </h4>
                        <h4 id="amount-overdue-line" class="summary-line clear-group">
                            <span class="operator float-left" data-bind="visible: AmountDue() !== 0">@Resources.AccountSummaryResources.PlusSign</span>
                            <span class="float-left column-five column-five-sm">@Resources.AccountSummaryResources.AmountOverdueText</span>
                            <span class="float-right text-align-right bold" data-bind="currency: OverdueAmount(), negativePattern: 1, css: { 'column-two': !$root.isMobile(), 'column-two-sm': !$root.isMobile(), 'column-four': $root.isMobile(), 'column-four-sm': $root.isMobile(), overdue: OverdueAmount() > 0 }"></span>
                            <span class="column-two text-align-right" data-bind="visible: !$root.isMobile()"></span>
                        </h4>
                        <h4 id="total-amount-due-line" class="summary-line clear-group bold">
                            <span class="operator float-left" data-bind="visible: AmountDue() !== 0 || OverdueAmount() !== 0">@Resources.AccountSummaryResources.EqualsSign</span>
                            <span class="float-left column-five column-five-sm">@Resources.AccountSummaryResources.TotalAmountDueText</span>
                            <span class="float-right text-align-right" data-bind="currency: TotalAmountDue(), negativePattern: 1, css: { 'column-two': !$root.isMobile(), 'column-two-sm': !$root.isMobile(), 'column-four': $root.isMobile(), 'column-four-sm': $root.isMobile() }"></span>
                            <span class="link-to-other-page float-right column-two text-align-right" data-bind="visible: ShowMakeAPaymentLink()">
                                @if (ViewBag.IsAdmin != null && ViewBag.IsAdmin)
                                {
                                    <a href="@Url.Action("Admin", "Payments", new { id = ViewBag.PersonId })">@Resources.FinanceResources.MakeAPaymentTitle @Resources.FinanceResources.AdminPageTitle</a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Index", "Payments")">@Resources.FinanceResources.MakeAPaymentTitle</a>
                                }
                            </span>
                        </h4>
                        <h4 id="total-account-balance-line" class="summary-line clear-group bold">
                            <span class="float-left column-five column-five-sm">@Resources.AccountSummaryResources.TotalAccountBalanceText</span>
                            <span class="float-right text-align-right" data-bind="currency: AccountBalance(), negativePattern: 1, css: { 'column-two': !$root.isMobile(), 'column-two-sm': !$root.isMobile(), 'column-four': $root.isMobile(), 'column-four-sm': $root.isMobile() }"></span>
                            <span class="link-to-other-page float-right column-two text-align-right" data-bind="visible: !$root.isMobile() && ShowAccountActivityLink()">
                                @if (ViewBag.IsAdmin != null && ViewBag.IsAdmin)
                                {
                                    <a href="@Url.Action("Admin", "AccountActivity", new { id = ViewBag.PersonId })">@Resources.FinanceResources.AccountActivityTitle @Resources.FinanceResources.AdminPageTitle</a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Index", "AccountActivity")">@Resources.FinanceResources.AccountActivityTitle</a>
                                }
                            </span>
                        </h4>
                        <div id="total-account-balance-container" data-bind="visible: TimeframeBalances().length > 0">
                            <!-- ko foreach: TimeframeBalances() -->
                            <h5 class="summary-line timeframe-line clear-group">
                                <span class="float-left column-five column-five-sm">
                                    <!-- ko if: $root.ShowAccountActivityLink()-->
                                    <a class="pad-left" data-bind="attr: { href: AccountActivityUrl }, text: Description()"></a>
                                    <!-- /ko -->
                                    <!-- ko ifnot: $root.ShowAccountActivityLink()-->
                                    <span class="pad-left" data-bind="text: Description()"></span>
                                    <!-- /ko -->
                                </span>
                                <span class="float-right text-align-right" data-bind="currency: Balance(), negativePattern: 1, css: { 'column-two': !$root.isMobile(), 'column-two-sm': !$root.isMobile(), 'column-four': $root.isMobile(), 'column-four-sm': $root.isMobile() }"></span>
                                <span class="column-two text-align-right" data-bind="visible: !$root.isMobile()"></span>
                            </h5>
                            <!-- /ko -->
                        </div>
                        <!-- ko if: $root.isMobile() && ShowAccountActivityLink() -->
                        <h4 id="mobile-account-activity-link" class="summary-line clear-group bold">
                            <span class="link-to-other-page float-right column-two text-align-right">
                                @if (ViewBag.IsAdmin != null && ViewBag.IsAdmin)
                                {
                                    <a href="@Url.Action("Admin", "AccountActivity", new { id = ViewBag.PersonId })">@Resources.FinanceResources.AccountActivityTitle @Resources.FinanceResources.AdminPageTitle</a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Index", "AccountActivity")">@Resources.FinanceResources.AccountActivityTitle</a>
                                }
                            </span>
                        </h4>
                        <!-- /ko -->
                    </div>
                </div>
                <div class="column-two esg-list-group" data-bind="visible: HelpfulLinks().length > 0">
                    <div class="esg-list-group__header">
                        <h3 class="esg-list-group__title">@Resources.AccountSummaryResources.HelpfulLinksText</h3>
                    </div>
                    <!-- ko foreach: HelpfulLinks() -->
                    <a class="esg-list-group__item" target="_blank" href="#" data-bind="attr: { href: $data.Url() }, text: $data.Title()"></a>
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <!-- /ko -->
    </section>
</div>
