﻿<!--Copyright 2016 Ellucian Company L.P. and its affiliates.-->

<button class="esg-button esg-button--secondary float-left" data-bind="click: toggleDialog">
    <span data-bind="resx: 'TimeApproval.EditCommentsButtonLabel'"></span>
</button>

<modal-dialog params="isVisible: commentsDialogIsOpen,
                      title: 'Edit Comments',
                      content: $data">

    <!-- ko foreach: positionCommentsArray -->

    <position-comments params="dataModel: $data,
                       newCommentHandler: $parent.newCommentHandler,
                       authorName: $parent.authorName,
                       index: $index"></position-comments>
    <!-- /ko -->

</modal-dialog>
    
