﻿<!-- Copyright 2017 Ellucian Company L.P. and its affiliates. -->
@* List View *@
<div id="main-list-view" class="table-view list-view" role="grid" aria-readonly="true" data-bind="visible: !isBarGraphViewActive()">
    <div class="esg-table esg-table--table-layout-fixed">
        <ul class="esg-table-head">
            <li class="list-view-table-header-group esg-table-head__row" role="row">
                @* header group *@
                <div class="list-view-group-name list-table-header list-view-th esg-table-head__th" role="columnheader">@Resources.ProjectsAccounting.ListViewHeaderProject</div>

                <!-- ko if: $root.HasAnyRevenue() -->
                <div class="list-view-group-budget-revenue list-table-header list-view-th esg-table-head__th" role="columnheader">@Resources.ColleagueFinanceHome.ListViewHeaderBudgetedRevenue</div>
                <div class="list-view-group-actuals-revenue list-table-header list-view-th esg-table-head__th" role="columnheader">@Resources.ColleagueFinanceHome.ListViewHeaderActualRevenue</div>
                <!-- /ko -->
                <!-- ko if: $root.HasAnyExpense() -->
                <div class="list-view-group-budget list-table-header list-view-th esg-table-head__th" role="columnheader">@Resources.ColleagueFinanceHome.ListViewHeaderBudget</div>
                <div class="list-view-group-actuals list-table-header list-view-th esg-table-head__th" role="columnheader">@Resources.ColleagueFinanceHome.ListViewHeaderActualsEncumbrances</div>
                <div class="list-view-group-remaining list-table-header list-view-th esg-table-head__th" role="columnheader">@Resources.ColleagueFinanceHome.ListViewHeaderBudgetRemaining</div>
                <div class="list-view-group-percent list-table-header list-view-th esg-table-head__th" role="columnheader">@Resources.ColleagueFinanceHome.ListViewHeaderPercentSpent</div>
                <div class="list-view-group-health list-table-header list-view-th esg-table-head__th" role="columnheader">
                    <span data-bind="css: { 'offScreen ': $root.isMobile }">@Resources.ColleagueFinanceHome.FinancialHealthLabelPart1</span>
                    <span>@Resources.ColleagueFinanceHome.FinancialHealthLabelPart2</span>
                </div>
                <!-- /ko -->
            </li>
        </ul>
    </div>

    <ul data-bind="foreach: Projects" role="rowgroup" class="esg-table esg-table--table-layout-fixed">
        <li role="row" class="esg-table-body group">
            <a class="group-line-items-link list-link esg-table-body__row" data-bind="attr: { 'href': Ellucian.ProjectsAccounting.projectDetailActionUrl + '/' + ProjectId() }">
                <div class="list-view-group-name esg-table-body__td" role="gridcell">
                    <div>
                        <span class="list-view-project-number" data-bind="text: Number"></span>
                        <span class="list-view-project-title" data-bind="text: Title"></span>
                    </div>
                    <div class="status-wrapper" data-bind="css: projectStatusIndicator">
                        <span class="status-circle"></span>
                        <span class="project-status" data-bind="text: StatusDescription, attr: { 'aria-label': $data.StatusDescription() }"></span>

                        @*JAWS only*@
                        <span class="offScreen" data-bind="text: projectStatusText"></span>
                        @*JAWS only*@
                    </div>
                </div>

                <!-- ko if: $root.HasAnyRevenue() -->
                <div class="list-view-group-budget-revenue esg-table-body__td" role="gridcell" data-bind="text: TotalBudgetRevenue"></div>
                <div class="list-view-group-actuals-revenue esg-table-body__td" role="gridcell" data-bind="text: TotalActualsRevenue"></div>
                <!-- /ko -->
                <!-- ko if: $root.HasAnyExpense() -->
                <div class="list-view-group-budget esg-table-body__td" role="gridcell" data-bind="text: TotalBudget"></div>
                <div class="list-view-group-actuals esg-table-body__td" role="gridcell" data-bind="text: TotalExpenses"></div>
                <div class="list-view-group-remaining list-amount esg-table-body__td" role="gridcell">
                    <span class="list-amount" data-bind="text: BudgetRemainingFormatted, css: remainingBudgetColor, attr: { 'aria-hidden': true }"></span>

                    @*JAWS only*@
                    <span class="offScreen" data-bind="text: BudgetRemaining() < 0 ?
                                        $data.BudgetRemainingForScreenReader() + projectOverBudgetText : $data.BudgetRemainingString()"></span>
                    @*JAWS only*@
                </div>
                <div class="list-view-group-percent list-amount esg-table-body__td" role="gridcell" data-bind="text: PercentSpentFormatted, css: remainingBudgetColor"></div>
                <div class="list-view-group-health esg-table-body__td" role="gridcell" data-bind="css: financialHealthIndicator">

                    @*JAWS only*@
                    <span class="offScreen" data-bind="text: FinancialHealthTextForScreenReader"></span>
                    @*JAWS only*@
                </div>
                <!-- /ko -->
            </a>
        </li>
    </ul>
</div>
