﻿<!-- Copyright 2017 Ellucian Company L.P. and its affiliates. -->

@* Bar Graph View *@
<div id="bar-graph-view" class="clear-group" data-bind="visible: isBarGraphViewActive">
    @* Loop through and display each project populated in AJAX query *@
    <ol id="groups" data-bind="foreach: Projects">
        <li class="group group--project">
            <a class="group-line-items-link bar-graph-link" data-bind="attr: { 'href': Ellucian.ProjectsAccounting.projectDetailActionUrl + '/' + ProjectId() }">

                <span class="project-number bold" data-bind="text: Number"></span>
                <span class="group-title bold" data-bind="text: Title, attr: { 'aria-label': Title() }"></span>
                <div class="status-wrapper" data-bind="css: projectStatusIndicator">
                    <span class="status-circle"></span>
                    <span class="offScreen" data-bind="text: projectStatusText"></span>
                    <span class="project-status" data-bind="text: StatusDescription, attr: { 'aria-label': $data.StatusDescription() }"></span>
                </div>
                <section class="graph-and-labels">
                    @* Revenue *@
                    <!-- ko if: $root.HasAnyRevenue() -->
                    <div data-bind="visibility: HasRevenue">
                        <span class="ae-text" data-bind="attr: { 'aria-label': Ellucian.ColleagueFinance.revenueLabel + ' ' + BudgetReceivedAmount() }">@Resources.ColleagueFinanceHome.RevenueLabel</span>

                        @*JAWS only*@
                        <span class="offScreen" data-bind="text: paBudgetSpentText + paPause"></span>
                        @*JAWS only*@

                        <span class="remaining-budget" data-bind="text: BudgetReceivedAmount, css: remainingBudgetRevenueColor, attr: { 'aria-hidden': true }"></span>

                        @*JAWS only*@
                        <span class="offScreen" data-bind="text: BudgetRemainingScreenReaderTextRevenue"></span>
                        @*JAWS only*@

                        <div data-bind="jqProgressBar: { parts: projectRevenueBarGraphData() }, css: overageRevenueColor, attr: { 'aria-hidden': true }" class="ui-progressbar--margin-bottom ui-progressbar--thin"></div>
                    </div>
                    <!-- /ko -->
                    @* Expenses *@
                    <!-- ko if: $root.HasAnyExpense() -->
                    <div data-bind="visibility: HasExpense">
                        <div data-bind="jqProgressBar: { parts: projectBarGraphData() }, css: overageColor, attr: { 'aria-hidden': true }" class="ui-progressbar--margin-bottom ui-progressbar--thin"></div>
                        <span class="ae-text" data-bind="attr: { 'aria-label': paActualsAndEncumbrancesText + $data.TotalExpenses() + budgetBarText + $data.TotalBudget() }">@Resources.ColleagueFinanceHome.ActualsEncumbranceText</span>

                        @* JAWS only *@
                        <span class="offScreen" data-bind="text: paBudgetSpentText + paPause"></span>
                        @* JAWS only *@

                        <span class="remaining-budget" data-bind="text: BudgetRemainingString, css: remainingBudgetColor, attr: { 'aria-hidden': true }"></span>

                        @* JAWS only *@
                        <span class="offScreen" data-bind="text: BudgetRemaining() < 0 ?
                                            $data.BudgetRemainingForScreenReader() + projectOverBudgetText : $data.BudgetRemainingString()"></span>
                        @* JAWS only *@

                        <span data-bind="text: BudgetSpentAmount, attr: { 'aria-hidden': true }" class="budget-spent-amount"></span>
                    </div>
                    <!-- /ko -->
                </section>
            </a>
        </li>
        <!-- ko if: $index() % 2 === 1 -->
        <li class="new-row"></li>
        <!-- /ko -->
    </ol>
</div>