﻿<section class="section-wrapper column-four">
    <h5 class="section-header no-border clear-group" data-bind="css: {'switchedOn': isSwitchedOn }">
        <span class="column-six column-seven-sm" data-bind="resx: 'BankingInformation.PayableDepositSectionLabel'"></span>
        <span class="column-three column-two-sm">
            <label for="refundDeposits" class="switch-checkbox check-image pointer">
                <input id="refundDeposits" type="checkbox" data-bind="checked: isSwitchedOn" />
                <span class="state-wrapper">
                    <span class="label-text offScreen" data-bind="resx: 'BankingInformation.PayableDepositSwitchOffscreenLabel'"></span>
                    <span class="state off" aria-hidden="true" data-bind="resx: 'BankingInformation.PayableDepositSwitchOffStateOffscreenLabel'"></span>
                    <span class="state on" aria-hidden="true" data-bind="resx: 'BankingInformation.PayableDepositSwitchOnStateOffscreenLabel'"></span>
                </span>
                <span class="switch-circle">
                    <span class="switch-icon check-image"></span>
                </span>
            </label>
        </span>

    </h5>

    <div class="section-contents expanded clear-group">

        <div data-bind="visible: isSwitchedOn ">

            <div class="column-eight input-wrapper" data-bind="visible: isVerificationVisible">
                <!-- ko ifnot: hasAllCanadianAccounts -->
                <span class="column-three column-three-sm bold" data-bind="resx: 'BankingInformation.VerificationHeader'"></span>
                <div class="column-six column-six-sm">
                    <span data-bind="if: IsVerified() && RoutingId(), css:{'verified':IsVerified() && RoutingId() }">
                        <span data-bind="resx: 'BankingInformation.IsVerified'"></span>
                    </span>
                    <span data-bind="if: !IsVerified() && RoutingId(), css:{'not-verified':!IsVerified() && RoutingId() }">
                        <span data-bind="resx: 'BankingInformation.IsNotVerified'"></span>
                    </span>
                    <span data-bind="if: InstitutionId">
                        <span data-bind="resx: 'BankingInformation.NotApplicableLabel'"></span>
                    </span>
                </div>
                <!-- /ko -->
            </div>

            <div class="column-eight input-wrapper">
                <span class="bold column-three column-three-sm" data-bind="resx: 'BankingInformation.StartDateColumnHeader'"></span>
                <input class="column-four column-six-sm" id="payable-start-date-input" name="payable-start-date-input" data-bind="value: startDateInput,  watermark: Globalize.getClosestCultureDateFormat(), css: { 'required-input': startDateNeedsInput}, visible: !startDateIsReadOnly  " />
                <span class="column-four column-six-sm" data-bind="date: startDateBacker, visible: startDateIsReadOnly" />
                <label class="offScreen" for="payable-start-date-input" data-bind="text: 'Enter Start Date in format ' + Globalize.getClosestCultureDateFormat()"></label>
                <span class="column-eight column-seven-sm error-message" data-bind="visible: startDateInput.hasFormatError() && !startDateIsReadOnly, text: startDateInput.errorMessage"></span>
            </div>

            <!-- ko if: EndDate -->
            <div class="column-eight input-wrapper">
                <span class="column-three column-three-sm bold" data-bind="resx: 'BankingInformation.EndDateColumnHeader'"></span>
                <span class="column-six column-six-sm" data-bind="date: EndDate"></span>
            </div>
            <!-- /ko -->
        </div>

        <!--<div class="column-eight" data-bind="visible: !isSwitchedOn() && !$root.addAccountWorkflow()">
            <message params="isVisible: true, message: '@Resources.BankingInformation.NoActivePayableDepositMessage @Resources.BankingInformation.NoActivePayableDepositEntireMessage'"></message>
        </div>
        <div class="column-eight" data-bind="visible: isAlsoActivePayrollAccount() && !$root.addAccountWorkflow()">
            <message params="isVisible: true, message: '@Resources.BankingInformation.PayableAccountIsAlsoActivePayrollAccountMessage'"></message>
        </div>-->
    </div>
</section>