﻿<!-- ko if: totalNumberOfTasks() > 0 -->
<div class="esg-card-widget__wrap">
    <div class="esg-card-widget">
        <div class="esg-card-widget__badge" data-bind="text: totalNumberOfTasks, click: showMobileTaskList"></div>
        <div class="esg-card-widget__header" data-bind="click: showMobileTaskList, text: Ellucian.Tasks.Resources.TasksWidgetHeader"></div>
        <div class="esg-card-widget__body">
            <div class="esg-list-group" data-bind="foreach: workflowCategoryTasks">
                <!-- ko if: processLink -->
                <a class="esg-list-group__item esg-list-group__item--borderless esg-list-group__item--full-width" data-bind="attr: { href: processLink }">
                    <span data-bind="text: category"></span>
                    <span class="esg-badge float-right" data-bind="text: numberOfTasks"></span>
                </a>
                <!-- /ko -->
                <!-- ko ifnot: processLink -->
                <div class="esg-list-group__item esg-list-group__item--borderless esg-list-group__item--full-width">
                    <span data-bind="text: category"></span>
                    <span class="esg-badge float-right" data-bind="text: numberOfTasks"></span>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="workflow-task-list-mobile-template">
    <div class="esg-page-header">
        <a class="esg-page-header__button" role="button" title="Back" data-bind="click: hideMobileTaskList">
            <span class="esg-page-header__icon esg-icon__container">
                <svg class="esg-icon esg-icon--left">
                    <use xlink:href="#icon-arrow"></use>
                </svg>
            </span>
        </a>
        <h1 class="esg-page-header__title"><span data-bind="text: Ellucian.Tasks.Resources.TasksWidgetHeader"></span> <span class=" esg-badge esg-float-right" data-bind="text: totalNumberOfTasks"></span></h1>
    </div>
    <div class="esg-list-group" data-bind="foreach: workflowCategoryTasks">
        <!-- ko if: processLink -->
        <a class="esg-list-group__item esg-list-group__item--borderless" data-bind="attr: { href: processLink }">
            <span data-bind="text: category"></span>
            <span class="esg-badge float-right" data-bind="text: numberOfTasks"></span>
        </a>
        <!-- /ko -->
        <!-- ko ifnot: processLink -->
        <div class="esg-list-group__item esg-list-group__item--borderless">
            <span data-bind="text: category"></span>
            <span class="esg-badge float-right" data-bind="text: numberOfTasks"></span>
        </div>
        <!-- /ko -->
    </div>
</script>
<!-- /ko -->
