﻿<collapsible-group params="
            titleText: collapsibleTitle,
            isOpen: isOpen">

    <div data-bind="attr: {'id': bodyId }">

        <ul class="esg-list-group comments-container">

            <!-- ko foreach: { data: Comments, afterRender: scrollToBottomAndFocus } -->
            <li class="esg-list-group__item clear-group">
                <span class="column-five column-five-sm bold" data-bind="text: CommentAuthorName"></span>
                <span class="column-four column-four-sm text-align-right">
                    <span data-bind="text: Globalize.format(CommentDateTime(), 'd')"></span>
                    <span data-bind="text: Globalize.format(CommentDateTime(), 't')"></span>
                </span>
                <div class="column-eight column-eight-sm">
                    <span data-bind="text: CommentText"></span>
                </div>
            </li>
            <!-- /ko -->
        </ul>

        <div class="full-width row-wrapper-gray row-wrapper-skinny">
            <div class="full-width">

                <div class="esg-form__group">
                    <label class="esg-form__label" for="textareaId" data-bind="attr: {'for': textAreaId }">
                        <span data-bind="text: newCommentPlaceholder" class="offScreen"></span>
                    </label>
                    <textarea class="esg-form__input" rows="3" data-bind="textInput: commentInput, attr: {'id': textAreaId, 'placeholder':newCommentPlaceholder}"></textarea>
                </div>
                <div class="esg-button-group float-right" role="group" aria-label="button group">
                    <div class="esg-button-group__item" role="group">
                        <button class="esg-button esg-button--primary" type="submit" data-bind="click: sendComment, enable: enableSendButton, resx: 'TimeApproval.CommentsSendButtonLabel'"></button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</collapsible-group>



