﻿@import '_colors.scss';

position-comments {
    .comments-container {
        max-height: 10.4em;
        overflow-y: scroll;
        border-left: 1px solid $color-base-65;

        .comment-text {
            line-height: 1.5em;
            border-bottom: 1px solid $color-base-65;
        }
    }
}