﻿@import '_colors.scss';

timecard-collection-carousel {
    .group-status-label {
        padding-top: 1em;
    }

    .back, .forward {
        font-size: 5em;
        border-width: .05em;
    }


    .sub-header {
        font-size: smaller;
    }

    .approval-button-container {
        button {
            float: right;
            margin-left: .786em;
        }

        rejection-dialog, comments-container {
            overflow: initial;
        }
    }

    .approval-button-container.top {
        background-color: $color-base-95;
    }
}
