﻿
<section class="section-contents clear-group">

    <!-- ko ifnot: selectedCollection-->
    <div class="notification-container column-eight column-eight-sm">
        <div class="info-notification">
            <span data-bind="resx: 'TimeApproval.TimecardCollectionCarouselNoCollections'"></span>
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: selectedCollection -->
    <h3 class="section-header clear-group">
        <span class="full-width">
            <span class="column-two text-align-right">
                <!--ko if:isAvailablePreviousWeek() -->
                <span class="offScreen" id="time-approval-navigate-to-previous-week-message" data-bind="resx: 'TimeApproval.NavigateToPreviousWeekMessage'"></span>
                <a class="back arrow arrow-left" aria-labelledby="time-approval-navigate-to-previous-week-message" data-bind="attr: { href: backwardLink }"></a>
                <!--/ko -->
                &nbsp;
            </span>
            <span class="column-five text-align-center">
                <span class="full-width" data-bind="text: weekLabel"></span>
                <span class="full-width sub-header" data-bind="text: SuperviseeName()"></span>
                <span class="full-width sub-header" data-bind="resx: ['TimeApproval.TimecardCollectionCarouselTotalHours', selectedCollectionTotalHours().toFixed(2)]"></span>
                <span class="full-width group-status-label">
                    <span class="sub-header" data-bind="text: selectedCollectionStatusLabel().text, css: selectedCollectionStatusLabel().style"></span>
                </span>
            </span>
            <span class="column-two text-align-left">
                <!--ko if: isAvailableNextWeek() -->
                <span class="offScreen" id="time-approval-navigate-to-next-week-message" data-bind="resx: 'TimeApproval.NavigateToNextWeekMessage'"></span>
                <a class="forward arrow arrow-right" aria-labelledby="time-approval-navigate-to-next-week-message" data-bind="attr: { href: forwardLink }"></a>
                <!-- /ko-->
                &nbsp;
            </span>

        </span>
    </h3>

    <!-- ko template: {name: 'timecard-collection-carousel-button-bar', data: $data }-->
    <!-- /ko -->

    <timecard-detail-table params="dataModel: selectedCollection,
                           supervisorId: SupervisorId,
                           supervisorPositionIds: SupervisorPositionIds">

    </timecard-detail-table>


    <!-- ko template: {name: 'timecard-collection-carousel-button-bar', data: $data }-->
    <!-- /ko -->
    <!-- /ko -->
</section>

<!--<div data-bind="jqLoading: {show: isUpdatingStatus(), message: updatingStatusMessage()}"></div>-->
<modal-spinner params="isVisible: isUpdatingStatus(), message: submitButtonText()"></modal-spinner>

<script type="text/html" id="timecard-collection-carousel-button-bar">
    <div class="button-bar approval-button-container top">
        <!--ko if: !enableUnapproveButton() -->
        <button type="button"
                class="esg-button esg-button--primary"
                data-bind="resx: 'TimeApproval.DetailViewApproveButtonLabel',
                           click: approveAction,
                           enable: enableApproveButton()"></button>
        <!--/ko-->
        <!--ko if: enableUnapproveButton() -->
        <button type="button" class="esg-button esg-button--primary" data-bind="click: unapproveAction, enable: enableUnapproveButton(), resx: 'TimeApproval.TimeApprovalUnapproveLabel'"></button>
        <!--/ko-->
        <!-- ko if: !enableUnrejectButton() -->
        <rejection-dialog class="component"
                          params="dataModel: rejectionDataModel,
                                  isRejectDialogEnabled: enableRejectDialog,
                                  rejectHandler: rejectAction">
        </rejection-dialog>
        <!-- /ko -->
        <!-- ko if: enableUnrejectButton() -->
        <button type="button" class="esg-button esg-button--primary" data-bind="click: unrejectAction, enable: enableUnrejectButton(), resx: 'TimeApproval.TimeApprovalUnrejectLabel'"></button>
        <!-- /ko -->
        <comments-container class="component" params="dataModel: selectedCollectionCommentsModel(),
                            newCommentHandler: newCommentHandler,
                            authorName: supervisorCommentName">

        </comments-container>

        <message class="float-right" params="isVisible: saveErrorIsVisible, message: statusSaveErrorMessage, type: 'error'"></message>
       
    </div>
</script>


