<h2> 
    Advisees Help</h2>
<div class="help-content">
    <h3>
        <a href="#">How can I find an advisee?</a></h3>
  <div>
    <p>If you have been assigned specific advisees, you can view the list on this page. Advisees who have requested a review of their plan will appear first in the list. 
    If you do not have any assigned advisees, or if you want to find a specific advisee within the list, use the <span class="bold">Name or ID</span> search box with the option to seach by student selected. 
    You can:
    </p>
    <ul>
        <li>Enter the advisee ID number.</li>
        <li>Enter the advisee name in either first name and last name order, or last name, comma, first name order.</li>
        <li>Enter a portion of the advisee name such as "Smi" to find all advisees whose last name begins with "smi".</li>
    </ul>
    <p>If you want to find advisees based on the assigned advisor, use the <span class="bold">Name or ID</span> search box with the option to seach by advisor selected. 
    You can then enter the ID number for the advisor or enter their name or any portion of the advisor's name to search for advisees based on the assigned advisor.</p>
    <p>If you have permission to view any advisee, the search will not only find advisees you are assigned to, but will also find other advisees.</p>
  </div>
   <h3>
        <a href="#">How can I view  relevant information about an advisee?</a></h3>
   <div>
    <p>Select an advisee to view their course plan, their current schedule, and their progress toward their program.  
    <span class="bold">Note:</span> You can see all terms on the course plans regardless of whether they are available for registration.</p>
  </div>
</div>