﻿<h2>
    Advising Help</h2>
<div class="help-content">
    <h3>
        <a href="#">How can I view a summary of an advisee's progress?</a></h3>
    <div>
        <p>
            Select the <span class="bold">Progress</span> tab to review an advisee's grade point
            average, degree, major, department, program description, in progress and planned
            credits, and requirements. From the <span class="bold">Progress</span> tab, select
            <span class="bold">View a New Program</span> to view the student's progress toward
            a different program.</p>
    </div>
    <h3><a href="#">How is the Progress bar calculated?</a></h3>
  <div>
    <p>
        The Progress graphic shows an approximate percentage of program requirements the student has completed. The student must contact the Registrar 
        for final determination of program completion.<br /><br />  
        Each component of a program’s requirements states specific criteria that must be met in terms of either credits or courses.  
        A program can have a combination of many components with a mix of credits and course requirements.  
        For this reason the percentage of requirement components completed cannot be 100% accurate in expressing the overall completeness of the program.  
        In addition, there may be additional requirements for the program that can only be verified by the institution’s registrar of record.  
        While you may use the progress bar as a guideline, more information may be determined by looking at the My Progress page and reviewing the 
        completed course work against the programs requirements. 
    </p>
  </div>
  <h3> <a href="#">What are Program Notes?</a></h3>
  <div>
    <p>You can see important information for your advisee by choosing the <span class="bold">Show Program Notes</span> link in the At a Glance section of My Progress. 
        If there are any notes to view, the text is displayed in a dialog box that you can scroll through. The text may be different for each program if 
        your advisee has more than one active program. The information may also change from day to day, so it is important to check Program Notes frequently.
    </p>
  </div>
    <h3>
        <a href="#">How can I approve courses for an advisee?</a></h3>
    <div>
        <p>
            You can view a list of proposed courses for an advisee by term on the <span class="bold">
                Course Plan</span> tab. If you have permission to make approvals on the student's
            plan:</p>
        <ul>
            <li>You can select <span class="bold">Approve</span> or <span class="bold">Deny</span>
                for any course.</li>
            <li>You can approve all courses or deny all courses for a term by selecting the header
                row above the approve and deny radio buttons.</li>
            <li>If you want to make notes about an approval or denial, use the <span class="bold">
                Notes</span> tab.</li>
            <li>You can change between <span class="bold">Approve</span> or <span class="bold">Deny</span>
                on any course at any time. Note, once you select either approve or deny you cannot
                unselect both radio buttons. </li>
            <li>Once you have completed the approval process for all desired terms on the plan,
                select <span class="bold">Review Complete</span> so that the advisee no longer has
                the review indicator in the advisee list.</li>
        </ul>
    </div>
    <h3>
        <a href="#">Which courses do I need to approve or deny?</a></h3>
    <div>
        <p>
            You can approve courses for a term, regardless of whether or not they are available
            for registration. The following are additional items you should consider when approving
            or denying courses:</p>
        <ul>
            <li>You will be unable to change the approval status for a past term.</li>
            <li>You are not required to approve or deny all courses at once.</li>
            <li>If an advisee moves an approved course to another term, it will not remain approved.</li>
        </ul>
    </div>
   <h3>
        <a href="#">How do I protect a course on an advisee's plan?</a></h3>
    <div>
        <p>
            If you want to prevent a student from removing a course from their plan, on the <span class="bold">Course Plan</span> tab, 
            select the courses you want to protect and then select <span class="bold">Protect</span>. Protecting a course prevents 
            the student from removing the course and it prevents the student from moving the course from one term to another. Students
            can still plan sections, remove any planned sections, register, and drop sections for planned courses. To remove a lock on a 
            course, select the course, and then <span class="bold">Unprotect</span>.
        </p>
    </div>
    <h3>
        <a href="#">How can I load a sample plan for an advisee?</a></h3>
    <div>
        <p>
            If you have permission to modify the advisee's plan, select <span class="bold">Load
                Sample Course Plan</span> from the <span class="bold">Progress</span> tab, select ther first term to use for the course plan, and
            then select which program's sample plan to preview. After reviewing the sample plan
            courses, if you wish to apply these proposed courses to the advisee's plan, select
            <span class="bold">Load</span>.
        </p>
    </div>
    <h3> <a href="#">How can I search for a course?</a></h3>
  <div>
    <p> You can use the <span class="bold">Search for courses</span> field to find a course.</p>
    <p> When you search for a course you are automatically taken to the <span class="bold">Course Catalog</span> where you can see a list of courses that match your search criteria. You can then use
    the filters to refine your search and view the details for a course.
    <br />
     <span class="bold">Search Tips</span>
     <br />
     The following list contains tips that will help you find the course you want:
     <ul>
     <li>The course search is not case sensitive.</li>
     <li>To search for a specific section, enter the course name and section ID strung together. For example, Math-101-01 can be searched by entering
     math10101.</li>
     <li>If multiple search words are separated by a space, either word will cause a "hit" in the search results. Use "And" in your search to ensure
     all given search words are found. For example, spanish and conversational to find only the results for courses related to conversational spanish courses
     and not all spanish courses and all conversational courses.</li>
     <li>Using AND versus OR in your course search will change the results. If you use the word AND between two words, the search results
     will contain only courses that contain both words in the course title or description. If you use the word OR between two words,
     the search results will contain courses with either of the two words in the course title and description. For example, if you typed Corporate OR Law you
     would get broader search results than if you typed Corporate AND Law.</li>
         </ul>
         The following areas are where your search term will be checked against:
         <ul>
         <li>Course name (subject and course number)</li>
         <li>Section name (subject, course number, and section number)</li>
         <li>Course description</li>
         <li>Course and section title</li>
         <li>Department (code and description)</li>
         <li>Location (code and description)</li>
         </ul>
    </p>
  </div>
  <h3> <a href="#">How can I filter the results of a search for courses that are available to add to my course plan?</a></h3>
  <div>
    <p> You can filter search results to view course and section information. </p>
    <ul>
      <li>Refine your search results by applying filters from the categories on the left side of the page. For example, you could filter your search results by subject, location, and course level.</li>
      <li>You can add and remove any or all filters on your search results.</li>
    </ul>
  </div>
   
    
    <h3>
        <a href="#">How can I remove a course from the advisee's plan?</a></h3>
    <div>
        <p>
            If you have permission to modify the advisee's plan, you may remove a planned course
            or planned section from a current or future term on the advisee's plan. Select <span
                class="bold">Calendar</span> from the <span class="bold">Course Plan</span>
            tab to access the calendar view of the plan. Select the <span class="bold">x</span>
            next to the course or section names to remove the item from the plan. You may not
            remove a course or section from the plan once the student has registered for a section
            of it in that term.
        </p>
    </div>
    <h3>
        <a href="#">How can I add a course to the advisee's plan?</a></h3>
    <div>
        <p>
            If you have permission to modify the advisee's plan, you may add a planned course
            to a current or future term on the advisee's plan in one of three ways:
        </p>
        <ul>
            <li>Load a sample plan for the advisee by selecting <span class="bold">Load Sample Course
                Plan</span> on the <span class="bold">Progress</span> tab.</li>
            <li>Use the <span class="bold">Search for courses</span> field to find courses that meet a specific requirement. Your search results are displayed on the <span class="bold">Course Catalog</span> tab. 
            Then select <span class="bold">Add Course to Plan</span>.</li>
            <li>Use the <span class="bold">Course Catalog</span> tab to find a course by its subject.
                Then select <span class="bold">Add Course to Plan</span>.</li>
        </ul>
    </div>
   <h3><a href="#">How do I view information about the books needed for a course?</a></h3>
    <div>
      <p>
      When viewing the Section details, you will see either a link to your bookstore or the total cost of the books depending upon how your institution defines
      book information.
      If the cost of the books is displayed, the value is calculated using the price for new books. A course can have required, optional, and recommended books. 
      When the book costs are displayed the costs are grouped based on if they are required for not. For example the Book Total would display
       as follows:
       <blockquote>$120 required; $40 optional/recommended</blockquote>
       If the book total is blank, the cost of the books has not been defined. 
        </p>
        </div>
    <h3>
        <a href="#">How can I move a course from one term to another?</a></h3>
    <div>
        <p>
            If you have permission to modify the advisee's plan, you may move a planned course
            to a current or future term on the advisee's plan provided no section has been selected for the course. 
            Select <span class="bold">Calendar</span> from the <span class="bold">Course Plan</span> tab to access the calendar view of
            the plan. Next, select the course name you wish to move to see the course details. From this dialog
            you will be able to change the term for the course on the plan. Finally, press <span class="bold">Update Course</span>.
        </p>
    </div>
    <h3>
        <a href="#">How can I add or remove a term on an advisee's plan?</a></h3>
    <div>
        <p>
            If you have permission to modify the advisee's plan, you may add or remove a future term. 
            Select the <span class="bold">Course Plan</span> tab. Use the <span class="bold">+</span> button next to
            the term name to add a new term to the plan. Future terms can be removed if they have no registered sections.
            Removing a term will also remove any planned courses and sections. To remove a term, navigate to the term
            you wish to remove and use the <span class="bold">-</span> button next to the term name.
        </p>
    </div>

<h3> <a href="#">How can I register an advisee if the schedule contains available sections for more than one course?</a></h3>
<div>
<p>When the advisee's schedule contains available sections for more than one course, determine which sections you want and select 
<span class="bold">Register Now</span>. The student will be registered for all of them successfully.</p></div>

<h3> <a href="#">How can I register an advisee when some sections on the schedule are available and others are not?</a></h3>
<div>
<p> Select <span class="bold">Register Now</span>. When you submit a schedule that contains some available and some unavailable sections, the student will be 
registered for the available sections only.  Then you or the advisee can search for the remaining available sections that are needed. You also have the option 
to register for each course of the available courses individually by selecting <span class="bold">Register</span> in the course containers. If a course is
unavailable the register option is not available.</p></div>

<h3> <a href="#">How can I register an advisee for a requisite course that must be taken for a section in the schedule?</a></h3>
<div>
<p> Select <span class="bold">Register Now</span>.  If a section on the schedule also contains a required requisite course, the advisee will be registered 
for it automatically, if available. Otherwise, the advisee will not be registered for the section.</p></div>

<h3> <a href="#">How can I register an advisee for a section that has a requisite?</a></h3>
<div>
<p> Select <span class="bold">Register Now</span>.  When you submit a section for registration that has a requisite course, you will be registering your 
advisee for the section if the advisee has already met the requisite. Otherwise, the advisee will not be registered for the section.</p></div>

<h3> <a href="#">How can I register an advisee for a section if it’s unavailable at this time?</a></h3>
<div>
  <p> Select <span class="bold">Register Now</span>.  If you are trying to register an advisee for only one section that is currently unavailable, you will 
  not be able to register the advisee for it at this time. You can choose to add the advisee to the waitlist, if wait listing is an option in that instance, or 
  to look for a different available section of the course. </p></div>

<h3> <a href="#">How can I add a course section to my advisee's registration?</a></h3>
    <div>
        <p>You can add a section during the registration Add/Drop period without submitting the entire schedule for registration. Select a section from 
        the currently planned schedule and submit it for registration by selecting <span class="bold">Register</span>.</p>
    </div>

<h3> <a href="#">How can I drop a registered section for my advisee?</a></h3>
    <div>
        <p>You can drop a registered section during the Add/Drop period. Select a section from your advisee's current schedule and drop it from their registration 
      by selecting <span class="bold">Drop</span>. The Register and Drop Sections dialog box is then displayed where you can select any additional sections you want to drop 
      and you can also choose to register the advisee for any other planned sections at the same time. Select <span class="bold">Update</span> when you have completed your selections and 
      you will be registered and dropped from the sections you specified. The planned section will remain on your advisee's schedule, but it will no longer 
      show that you are registered for the course if the drop was successful.</p>
    </div>

    <h3> <a href="#">How can I add an advisee to the waitlist of a closed section?</a></h3>
    <div>
        <p>If a section is full, you can add the unavailable section to an advisee's schedule by opening the section and selecting <span class="bold">Add Section to Schedule</span>. To the right of the schedule, you can see a list of courses and sections. 
        Select <span class="bold">Waitlist</span> on the planned section. You can waitlist an advisee even if a date/time conflict exists with a course for which the advisee is currently registered.</p>
    </div>

  <h3> <a href="#">How can I remove my advisee from a waitlist?</a></h3>
  <div>
    <p>You can remove an advisee from a waitlist.  The section will remain as Planned on the advisee's schedule. 
    To the right of the schedule, you can see a list of courses and sections. Select a Waitlisted section and remove it by selecting <span class="bold">Drop Waitlist</span>.</p>
    <p><span class="bold">Note: </span>After an advisee receives permission to register, the <span class="bold">Drop Waitlist</span> option is replaced with <span class="bold">Register</span>.</p>
  </div>

  <h3><a href="#">What if I am an Advisor with override privileges?</a></h3>
  <div>
    <p>If you have override privileges, you will be able to register a student for any course regardless of any restrictions.
    </p>
  </div>
   <h3>
        <a href="#">How can I view notes to and from an advisee?</a></h3>
    <div>
        <p>
            Select the <span class="bold">Notes</span> tab to view notes to and from an advisee.
            All notes made for the student's plan are listed. If you have permission, you can
            add a note on the plan in the <span class="bold">Compose a Note</span> section of the Notes
            tab.</p>
    </div>

  <h3><a href="#">How can I keep and view the history of a course plan?</a></h3>
  <div>
    <p>Each time you complete a review of a course plan, a notification is generated that indicates the review is complete and asks if
    you would like to archive the reviewed course plan. If you select "Archive," Colleague preserves the course plan as it is and generates 
    an entry that is displayed on the Plan Archive tab. If you select "Cancel," a snapshot is not taken of the course plan and you will not be 
    able to review the course plan as it was when the review was completed.

    When you want to view an archived course plan, select one of the advisees and then select the Plan Archive tab. A list of all the archived 
    course plans is displayed. Click the <span class="bold">Download PDF</span> link for the version of the course plan you want to view. When prompted by your browser, 
    open the PDF to see all the details of the course plan as it looked at the time it was archived. 
    </p>
  </div>
   <h3><a href="#">How do I view the test scores for my advisee?</a></h3>
  <div>
    <p>To view the admission, placement, and other tests for an advisee that have been reported to the institution, select <span class="bold">Test Scores</span>.
    Information about each of the tests is displayed including the test type, date taken, and test score. 
    </p>
  </div>
  <h3><a href="#">How do I view the unofficial transcript for my advisee?</a></h3>
  <div>
    <p>When you want to view an unofficial transcript, select one the advisees and then select the <span class="bold">Unofficial Transcript</span> tab.
        Click the link for the transcript you want to view and when prompted by your browser, open the PDF to see all the details of the unofficial transcript. If
        a student has multiple transcripts you will see a separate link for each transcript. You will need to select the link for the transcript you want to view.
    </p>
  </div>
    <h3><a href="#">How do I view grades for my advisee?</a></h3>
    <div>
        <p>
            To see the student's view of their grades, select one the advisees and then select the <span class="bold">Grades</span> tab.
            This view shows the student's grades for enrolled courses by term. 
        </p>
    </div>
</div>

