﻿<h2> Schedule Help</h2>
<div class="help-content">
    <h3> <a href="#">How can I search for course sections?</a></h3>
    <div>
        <p> You can search for course sections that are available to add to open terms in your course plan by using the <span class=bold>Search for courses</span> window or the <span class=bold>Course Catalog</span>. </p>
        <ul>
            <li>You can use the <span class=bold>Search for courses</span> window by entering a specific course, such as math-101, or by entering a keyword that appears somewhere in the course information, such as in the course title.</li>
            <li>You can use the <span class=bold>Course Catalog</span> to view all of the available courses for a subject by first browsing a list of subjects, then filtering within subject.</li>
            <li>You can add a section to your schedule from your search results.</li>
        </ul>
         <br />
             <span class="bold">Search Tips</span>
     <br />
     The following list contains tips that will help you find the course you want:
     <ul>
     <li>The course search is not case sensitive.</li>
     <li>To search for a specific section, enter the course name and section ID strung together. For example, Math-101-01 can be searched by entering
     math10101.</li>
     <li>If multiple search words are separated by a space, either word will cause a "hit" in the search results. Use "And" in your search to ensure
     all given search words are found. For example, spanish and conversational to find only the results for courses related to conversational spanish courses
     and not all spanish courses and all conversational courses.</li>
     <li>Using AND versus OR in your course search will change the results. If you use the word AND between two words, the search results
     will contain only courses that contain both words in the course title or description. If you use the word OR between two words,
     the search results will contain courses with either of the two words in the course title and description. For example, if you typed Corporate OR Law you
     would get broader search results than if you typed Corporate AND Law.</li>
         </ul>
         <br />
         The following areas are where your search term will be checked against:
         <ul>
         <li>Course name (subject and course number)</li>
         <li>Section name (subject, course number, and section number)</li>
         <li>Course description</li>
         <li>Course and section title</li>
         <li>Department (code and description)</li>
         <li>Location (code and description)</li>
         </ul>
    </div>
    <h3> <a href="#">How can I add course sections to my schedule?</a></h3>
    <div>
      <p> You can search for and add course sections to your schedule from terms that are available for registration. 
        For example, you can view all of the available sections for a subject by browsing a list of subjects in the <span class=bold>Course Catalog</span>. 
        You can also search for a section by keyword from the <span class=bold>Search for courses</span> window. When adding a section to your schedule from your search results, you can: </p>
      <ul>
        <li>Add different sections of the same course to your schedule in the same term.</li>
        <li>Add the same course or section to more than one term in your schedule. However, you cannot add the same section to the same term multiple times.</li>
        <li>Add a section to your schedule whether or not the course is already on your course plan.</li>
        <li>If the course is already on your plan, use the <span class=bold>View other sections</span> link to add sections to your schedule.</li>
        <li>Add sections with no meeting time. These will appear at the bottom of the view.</li>
      </ul>
      <p> <span class="bold">Note:</span> If it has not been added previously, the parent course for the section will be added to your course plan automatically. </p>
    </div>
<h3> <a href="#">How can I view my planned course sections?</a></h3>
<div>
  <p> You can view the course sections you have planned for a term. </p>
  <ul>
    <li>Select a term to view planned sections in your course plan.</li>
    <li>Switch between terms to view planned course work and scheduled sections per term.</li>
    <li>Select a future term to view planned course plan course options on your course plan. In the list, 
      the corresponding sections are shown for each course.</li>
    <li>View course section information under the course name and title including the section number, section name, etc.</li>
  </ul>
</div>
<h3> <a href="#">How can I see available sections for courses on my course plan?</a></h3>
<div>
  <p>You can see the available sections by term for active course sections.  Choose a term on your schedule to view all of the courses added to that term. </p>
  <ul>
    <li>After adding a section to your schedule, you can choose a different section from the list of available sections.</li>
    <li>You can add more than one section for the same course to preview on your schedule. After you select one, the others will disappear from your calendar.</li>
    <li>If you preview all of the available sections for a course on your schedule, you can review any conflicts such as unmet requisite course requirements.</li>
    <li>You can choose variable credits, when needed, from the list of available sections.</li>
  </ul>

</div>
<h3> <a href="#">How can I register if my schedule contains available sections for more than one course?</a></h3>
<div>
<p>When your schedule contains available sections for more than one course, determine which sections you want and select <span class="bold">Register Now</span>. 
You will be registered for all of them successfully.</p></div>
<h3> <a href="#">How can I register when some sections on my schedule are available and others are not?</a></h3>
<div>
<p> Select <span class="bold">Register Now</span>. When you submit a schedule that contains some available and some unavailable sections, you will be registered 
for the available sections only.  Then you can search for the remaining available sections that you need. You also have the option 
to register for each course of the available courses individually by selecting <span class="bold">Register</span> in the course containers. If a course is
unavailable the register option is not available.</p></div>
<h3> <a href="#">How can I register for a requisite course that I must take for a section in my schedule?</a></h3>
<div>
<p> Select <span class="bold">Register Now</span>.  If a section on your schedule also contains a required requisite course, you will be registered for it automatically, if available. Otherwise, you will not be registered for the section.</p></div>
<h3> <a href="#">How can I register for a section that has a requisite?</a></h3>
<div>
<p> Select <span class="bold">Register Now</span>.  When you submit a section for registration that has a requisite course, you will be registered for the section if you have already met the requisite. Otherwise, you will not be registered for the section.</p></div>
<h3> <a href="#">How can I register for a section if it’s unavailable at this time?</a></h3>
<div>
  <p> Select <span class="bold">Register Now</span>.  If you are trying to register for only one section that is currently unavailable, you will not be able to register for it at this time. You can choose to be added to the waitlist, if wait listing is an option in that instance, or to look for a different available section of the course. </p></div>

<h3> <a href="#">How can I add a course section to my registration?</a></h3>
    <div>
        <p>You can add a section during the registration Add/Drop period without submitting your entire schedule for registration. Select a section from your currently planned schedule and submit it for registration by selecting <span class="bold">Register</span>.</p>
    </div>
<h3> <a href="#">How can I drop a registered section?</a></h3>
    <div>
        <p>You can drop a registered section during the Add/Drop period. The section will be removed from your schedule, but the course will remain on your course plan for the planned term. Select a section from your currently planned schedule and drop it from your registration by selecting <span class="bold">Drop</span>.</p>
    </div>
    <h3> <a href="#">How can I add myself to the waitlist of a closed section?</a></h3>
    <div>
        <p>If a section is full, you can add the unavailable section to your schedule by opening the section and selecting <span class="bold">Add Section</span>. To the right of your schedule, you can see a list of courses and sections. 
        Select <span class="bold">Waitlist</span> on the planned section. You can waitlist even if a date/time conflict exists with a course for which you are currently registered.</p>
    </div>

  <h3> <a href="#">How can I remove myself from a waitlist?</a></h3>
  <div>
    <p>You can remove a section you previously added to a waitlist.  The section will remain as Planned on your schedule. 
    To the right of your schedule, you can see a list of courses and sections. Select a Waitlisted section and remove it by selecting <span class="bold">Drop Waitlist</span>.</p>
    <p><span class="bold">Note: </span>After you receive permission to register, the <span class="bold">Drop Waitlist</span> option is replaced with <span class="bold">Register</span>.</p>
  </div>

<h3> <a href="#">How can I submit my schedule to my advisor for approval?</a></h3>
    <div>
        <p>You can submit your schedule to your advisor, if you have one, by selecting  <span class="bold">Send to Advisor </span>. Your schedule will be Pending Approval until your advisor approves it.</p>
    </div>
 
</div>