﻿<h2> Plan &amp; Schedule Help</h2>
<div class="help-content">
    <h3> <a href="#">How can I search for course sections?</a></h3>
    <div>
        <p> You can search for course sections that are available to add to open terms in your course plan by using the <span class=bold>Search for courses</span> field or the <span class=bold>Course Catalog</span>. The following are options when using the search: </p>
        <ul>
            <li>You can use the <span class=bold>Search for courses</span> field by entering a specific course, such as math-101, or by entering a keyword that appears somewhere in the course information, such as in the course title.</li>
            <li>You can use the <span class=bold>Course Catalog</span> to view all of the available courses for a subject by first browsing a list of subjects, then filtering within subject.</li>
            <li>You can add a section to your schedule from your search results.</li>
        </ul>
         <br />
             <span class="bold">Search Tips</span>
     <br />
     The following list contains tips that will help you find the course you want:
     <ul>
     <li>The course search is not case sensitive.</li>
     <li>To search for a specific section, enter the course name and section ID strung together. For example, Math-101-01 can be searched by entering
     math10101.</li>
     <li>If multiple search words are separated by a space, either word will cause a "hit" in the search results. Use "And" in your search to ensure
     all given search words are found. For example, spanish and conversational to find only the results for courses related to conversational spanish courses
     and not all spanish courses and all conversational courses.</li>
     <li>Using AND versus OR in your course search will change the results. If you use the word AND between two words, the search results
     will contain only courses that contain both words in the course title or description. If you use the word OR between two words,
     the search results will contain courses with either of the two words in the course title and description. For example, if you typed Corporate OR Law you
     would get broader search results than if you typed Corporate AND Law.</li>
         </ul>
         <br />
         The following areas are where your search term will be checked against:
         <ul>
         <li>Course name (subject and course number)</li>
         <li>Section name (subject, course number, and section number)</li>
         <li>Course description</li>
         <li>Course and section title</li>
         <li>Department (code and description)</li>
         <li>Location (code and description)</li>
         </ul>
    </div>
    <h3> <a href="#">How can I add course sections to my schedule?</a></h3>
    <div>
      <p> You can search for and add course sections to your schedule from terms that are available for registration. 
        For example, you can view all of the available sections for a subject by browsing a list of subjects in the <span class=bold>Course Catalog</span>. 
        You can also search for a section by keyword from the <span class=bold>Search for courses</span> field. When adding a section to your schedule from your search results, you can: </p>
      <ul>
        <li>Add different sections of the same course to your schedule in the same term.</li>
        <li>Add the same course or section to more than one term in your schedule. However, you cannot add the same section to the same term multiple times.</li>
        <li>Add a section to your schedule whether or not the course is already on your course plan.</li>
        <li>If the course is already on your plan, use the <span class=bold>View other sections</span> link to add sections to your schedule.</li>
        <li>Add sections with no meeting time. These will appear at the bottom of the view.</li>
      </ul>
      <p> <span class="bold">Note:</span> If it has not been added previously, the parent course for the section will be added to your course plan automatically. </p>
    </div>
    <h3> <a href="#">How can I view and filter available sections for courses on my course plan?</a></h3>
    <div>
      <p>You can view and filter available sections by term for active course sections.  Choose a term on your schedule to view all of the courses added to that term. </p>
      <ul>
        <li>After adding a section to your schedule, you can choose a different section from the list of available sections.</li>
        <li>You can add more than one section for the same course to preview on your schedule. After you select one, the others will disappear from your calendar.</li>
        <li>If you preview all of the available sections for a course on your schedule, you can review any conflicts such as unmet requisite course requirements.</li>
        <li>You can choose variable credits, when needed, from the list of available sections.</li>
        <li>You can select <span class="bold">Filter Sections</span> and then select the criteria by which you want to filter the available 
        sections. For example, select <span class="bold">Location</span> to view certain locations or <span class="bold">Open Sections</span> to view only available sections only.</li>
      </ul>
    </div>
       <h3> <a href="#">How can I view and filter my planned course sections?</a></h3>
    <div>
      <p> You can view and filter the course sections you have planned for a term as follows: </p>
      <ul>
        <li>Select a term in the Schedule to view planned sections in your course plan.</li>
        <li>Switch between terms to view planned course work and scheduled sections per term.</li>
        <li>Select a future term to view planned course plan course options on your course plan. In the list, 
          the corresponding sections are shown for each course.</li>
        <li>Select a course section to view course section information  including the section number, section name, etc.</li>
        <li>You can select <span class="bold">Filter Sections</span> and then select the criteria by which you want to filter your planned 
        sections. For example, select <span class="bold">Days of Week</span>, <span class="bold">Time of Day</span>, or <span class="bold">Instructor</span>.</li>
      </ul>
    </div>
    <h3><a href="#">How can I remove planned courses from my course plan?</a></h3>
    <div>
      <p>
            You may remove a planned course or planned section from a current or future term on your plan by using one of the following methods:
            <ul>
            <li>To remove individual courses, select the <span class="bold">Schedule</span> or the <span class="bold">Timeline</span> view from the <span class="bold">Plan & Schedule</span>
            tab. Select the <span class="bold">x</span> next to the course or section names to remove the item from the plan. 
            </li>
            <li>To remove all the planned courses, select the <span class="bold">Schedule</span> or the <span class="bold">Timeline</span> view from the <span class="bold">Plan & Schedule</span>
            tab. Next select <span class="bold">Remove Planned Courses</span>. The Remove Planned Courses dialog box is displayed. 
            From there you will need to verify that you want to remove the planned courses as indicated.</li>
            </ul>
            You may not remove a course or section from the plan once you have registered for a section
            of it in that term or if the course has been marked as protected.
        </p>
    </div>
      
      <h3><a href="#">How can I load a sample course plan?</a></h3>
    <div>
      <p>
        A sample course plan is offered as one way to consider completing a selected program. This option is beneficial if you are a 
        new student to the institution and are at the beginning stages of your academic career. The sample plan reflects course work 
        that is suggested to complete the selected program. Press <span class="bold">Load Sample Course Plan</span>, select the first term to use for your course 
        plan, and then select which program's sample plan to preview. After reviewing the sample plan courses, if you wish to apply 
        these proposed courses to your plan, select <span class="bold">Load</span>. Select <span class="bold">Back</span> to select a different sample plan. If you load these suggested 
        courses to your plan, these will be added to your plan while still keeping any existing courses that are already on your plan.
        </p>
    </div>
     <h3><a href="#">How can I add the necessary requisite courses and course sections to my plan?</a></h3>
    <div>
      <p>
            Click on the applicable message to either add the course or search for and add a course section to your plan.
        </p>
    </div>
     <h3> <a href="#">How can I submit my schedule to my advisor for approval?</a></h3>
    <div>
      <p>You can submit your schedule to your advisor, if you have one, by selecting <span class="bold">Advising</span> and then <span class="bold">Request Review </span>. Your full plan (including all terms) is submitted. 
      Your advisor may approve or deny any course in any planned term. Otherwise, your advisor may just make comments about your plan that you can review by 
      selecting <span class="bold">Advising</span>.</p>
    </div>
    <h3> <a href="#">How can I register if my schedule contains available sections for more than one course?</a></h3>
    <div>
      <p>When your schedule contains available sections for more than one course, determine which sections you want and 
      select <span class="bold">Register Now</span>.</p>
    </div>
    <h3> <a href="#">How can I register when some sections on my schedule are available and others are not?</a></h3>
    <div>
      <p> You have the following options to register for the available courses:
      <ul>
      <li>Select <span class="bold">Register Now</span>. When you submit a schedule that contains some available and some unavailable sections, you will be 
      registered for the available sections only.  Then you can search for the remaining available sections that you need.</li>
      <li>Select <span class="bold">Register</span> for the section you want to register for in the course container. If the section is not available, 
      the register option is not displayed.</li>
   </ul>
   If you are trying to register for courses that are currently unavailable, you will not be able to register for it at this time. You can choose to be 
   added to the waitlist, if wait listing is an option in that instance, or to look for a different available section of the course. 
   </p>
    </div>
   
    <h3> <a href="#">How can I register for a section that has a requisite?</a></h3>
    <div>
      <p> Select <span class="bold">Register Now</span>.  When you submit a section for registration that has a requisite course, you will be registered for the section if you have already met the requisite. Otherwise, you will not be registered for the section.</p>
    </div>
   
    <h3> <a href="#">How can I add a course section to my registration?</a></h3>
    <div>
      <p>You can add a section during the registration Add/Drop period without submitting your entire schedule for registration. Select a section from your currently planned schedule and submit it for registration by selecting <span class="bold">Register</span>.</p>
    </div>
     <h3> <a href="#">Why am I unable to register for my courses?</a></h3>
    <div>
      <p>You can only register for courses during a specific time period based upon your registration priority. If it is before or after your registration time slot
      you will not have the option to register for any courses. If you are still have issues even if you are eligible for registration, contact your Registrar.</p>
    </div>
    <h3> <a href="#">How can I drop a registered section?</a></h3>
    <div>
      <p>You can drop a registered section during the Add/Drop period. Select a section from your current schedule and drop it from your registration 
      by selecting <span class="bold">Drop</span>. The Register and Drop Sections dialog box is then displayed where you can select any additional sections you want to drop 
      and you can also choose to register for any other planned sections at the same time. Select <span class="bold">Update</span> when you have completed your selections and 
      you will be registered and dropped from the sections you specified. The planned section will remain on your schedule, but it will no longer 
      show that you are registered for the course if the drop was successful. </p> 
    </div>
    <h3> <a href="#">How can I add myself to the waitlist of a closed section?</a></h3>
    <div>
      <p>If a section is full, you can add the unavailable section to your schedule by opening the section and selecting <span class="bold">Add Section</span>. To the left of your schedule, you can see a list of courses and sections. 
        Select <span class="bold">Waitlist</span> on the planned section. You can waitlist even if a date/time conflict exists with a course for which you are currently registered.</p>
    </div>
    <h3> <a href="#">How can I remove myself from a waitlist?</a></h3>
    <div>
      <p>You can remove a section you previously added to a waitlist.  The section will remain as Planned on your schedule. 
        To the right of your schedule, you can see a list of courses and sections. Select a Waitlisted section and remove it by selecting <span class="bold">Drop Waitlist</span>.</p>
      <p><span class="bold">Note: </span>After you receive permission to register, the <span class="bold">Drop Waitlist</span> option is replaced with <span class="bold">Register</span>.</p>
    </div>
   <h3><a href="#">How do I view information about the books needed for a course?</a></h3>
    <div>
      <p>
      When viewing the Section details, you will see either a link to your bookstore or the total cost of the books depending upon how your institution defines
      book information.
      If the cost of the books is displayed, the value is calculated using the price for new books. A course can have required, optional, and recommended books. 
      When the book costs are displayed the costs are grouped based on if they are required for not. For example the Book Total would display
       as follows:
       <blockquote>$120 required; $40 optional/recommended</blockquote>
       If the book total is blank, the cost of the books has not been defined. 
        </p>
        </div>
    <h3> <a href="#">How can I view notes to and from my advisor?</a></h3>
    <div>
      <p>You view notes to and from your advisor, if you have one, by selecting <span class="bold">Advising</span>. You can review notes from your advisor and 
      add notes for your advisor using the Compose a Note section.</p>
    </div>
     <h3> <a href="#">How can I email my advisor?</a></h3>
    <div>
      <p>You can email your advisor, if you have one, by selecting <span class="bold">Advising</span> and then click on the name of your advisor in the 
      My Advisors section. If your advisor has not set up an email address, you will not be able to click on the advisor's name.</p>
    </div>

     <h3> <a href="#">How can I see my petitions and waivers?</a></h3>
    <div>
      <p>You can see any petitions and waivers by selecting the<span class="bold">Petitions & Waivers</span>tab. If you have submitted a petition or a waiver, 
      a list is displayed along with the status. In addition if you have been granted faculty consent to take a course
      that information is also displayed. If you have questions about the information displayed on this page, contact your Registrar.</p>
    </div>

    <h3> <a href="#">How can I add courses to my course plan?</a></h3>
    <div>
      <p>Search for courses by keyword, subject, and program requirements. After searching, you add courses from the search results that are displayed. You can: </p>
      <ul>
        <li>Select a course to add it to a term in your course plan.  You can add the same course to more than one term.</li>
        <li>Review course details such as the course name, title, and credits.</li>
        <li>Choose from a list of available terms and add the course.</li>
        <li>Review the courses you have added to your plan at the top of the window.</li>
      </ul>
      <p><span class="bold">Note:</span> You can only add courses to available terms in your course plan. </p>
    </div>
    <h3> <a href="#">How can I view and modify my course plan?</a></h3>
    <div>
      <p> You can view and modify the academic terms and courses in your current course plan.
        At first, a default course plan is displayed, including default terms and without
        any courses specified. As you update your course plan, the last term that displays
        when you scroll to the right is determined by your anticipated completion date. You can: </p>
      <ul>
        <li>Add a term that falls between existing terms.</li>
        <li>Add a term that falls after your anticipated completion date.</li>
        <li>Add a term that was previously removed.</li>
        <li>Remove a future term that does not contain any planned courses. If you remove
          a future term with planned courses, a message will confirm your action. If the future term has any protected courses
          you will not be able to remove the term.  </li>
      </ul>
      <p> <span class="bold">Note:</span> You cannot delete a past or current term from your
        course plan. </p>
        If your degree plan includes protected courses you can plan sections for the protected courses, remove any planned sections, 
        register, and drop sections for planned courses. You cannot remove the course move the course from one term to another. If you need to make changes to 
        protected courses, contact your advisor.

    </div>
   
    <h3> <a href="#">How can I copy a sample course plan to my course plan?</a></h3>
    <div>
      <p> You can copy a sample course plan for an academic program by selecting <span class="bold">My Progress</span> and choosing <span class=bold>Load Sample Course Plan</span>. You can use the information to help schedule classes and complete your courses within the planned time frame.
        To view your progress in another active program, select it from an available tab or select <span class="bold">View a New Program</span>.</p>
    </div>
    <h3><a href="#">Why do I see a @Resources.FinanceResources.PayForRegistrationTitle banner?</a></h3>
    <div>
        <p>
        If you see the <span class="bold">@Resources.FinanceResources.PayForRegistrationTitle</span> banner it means that your institution requires 
        you to make payment arrangements when you register for classes in Student Planning, and that you have not completed your payment arrangements.<br />
        <br />
        Click <span class="bold">@Resources.FinanceResources.PayForRegistrationTitle</span> to view your @Resources.ImmediatePaymentResources.RegistrationSummaryLabel and 
        to complete your payment arrangements for your registration. Depending on the policies of your institution, this may include making an e-commerce payment or deferring payment on all or part of your registration charges.<br />
        <br />
        <span class="bold">Note:</span> If you see the <span class="bold">@Resources.FinanceResources.PayForRegistrationTitle</span> banner displayed, do <span class="bold">not</span> use 
        the <span class="bold">@Resources.FinanceResources.MakeAPaymentTitle</span> view to pay your registration charges. Instead, select the Terms and Conditions check box at 
        the bottom of the @Resources.ImmediatePaymentResources.RegistrationSummaryLabel and click <span class="bold">@Resources.ImmediatePaymentResources.TermsAndConditionsButtonLabel</span>
         to make your payment arrangements.
        </p>
    </div>
</div>
