﻿<h2>Faculty Section Help</h2>
<div class="help-content">

    <h3>
        <a href="#">What options do I have for maintaining information about the courses I am teaching?</a>
    </h3>
    <div>
        <p>
            You have the following options for any of the courses to which you are assigned:
            <ul>
                <li>
                    Enter requisite waivers if the course has any prerequisites by selecting <span class="bold">Requisite Waiver</span> on the
                    <span class="bold">Permissions</span> tab.
                </li>
                <li>
                    Enter student petitions or faculty consent by selecting <span class="bold">Student Petition/Faculty Consent</span> on the
                    <span class="bold">Permissions</span> tab.
                </li>
                <li>View the roster on the <span class="bold">Class Roster</span> tab.</li>
                <li>View and maintain grade information on the <span class="bold">Grading</span> tab.</li>
            </ul>
        </p>
    </div>
    <h3>
        <a href="#">How do I access grade overview and grade entry forms?</a>
    </h3>
    <div>
        <p>If you have permission, you can access your course from the faculty landing page and select the <span class="bold">Grading</span> tab to view and maintain grades.</p>
    </div>
    <h3>
        <a href="#">How do I enter grades?</a>
    </h3>
    <div>
        <p>Use the <span class="bold">Grading</span> tab to enter grades and related information. The type of grades and information you can enter depends on your office’s setup. To enter final grades, go to the <span class="bold">Grading</span> tab, select the <span class="bold">Final Grade</span> tab, and select the grade in the Final Grade column. If you see a Post Grades button when you have finished entering grades, click that button to submit final grades. Otherwise grades are saved and submitted as you move from record to record. <span class="bold">Note: After you have posted grades, you cannot change them.</span> The Final Grade tab is only available when it is time to enter final grades. To enter midterm grades, go to the <span class="bold">Grading</span> tab, select the appropriate <span class="bold">Midterm Grade</span> tab (there can be up to six), and select the grade in the Midterm Grade column.</p>
    </div>
    <h3>
        <a href="#">How do I see which students have waivers?</a>
    </h3>
    <div>
        <p>
            If waivers exist for the course that you select, you will see a list that has already been submitted by a faculty 
            member or other Registrar's Office staff. If a waiver has been revoked, the Status column will display the Revoked indicator. A revoked waiver is a waiver that is not active and the student cannot register for the course.
        </p>
    </div>

    <h3>
        <a href="#">How do I add a student waiver?</a>
    </h3>
    <div>
        <p>You can add a student waiver if you have permission to create waivers and the section has requisites. Click the <span class="bold">Add New Waiver</span> button to access the Add Student Waiver dialog box. Enter the student's ID and click <span class="bold">Search</span>. After you have identified the student, enter either a waiver reason or a comment to provide a purpose for the waiver. Click <span class="bold">Waive</span> to create the new waiver. The waiver you created waives all of the prerequisites for the section.</p>
    </div>
    <h3>
        <a href="#">How do I deny a student waiver request?</a>
    </h3>
    <div>
        <p>
            You can deny a student waiver if you have permission to create a waiver and the section has requisites. Click the <span class="bold">Add New Waiver</span> button to access the Add Student Waiver dialog box. Enter the student's ID and click <span class="bold">Search</span>. After you have identified the student, enter either a waiver reason or a comment to provide a reason why you are denying the waiver. Click
            <span class="bold">Deny</span> to create the waiver.
        </p>
    </div>
    <h3>
        <a href="#">How can I make changes to a student waiver?</a>
    </h3>
    <div>
        <p>Colleague Self-Service does not allow changes to waivers after they are created. The only person who can make a change to an existing waiver is someone from the Registrar's Office, even if you initially created the waiver. If the student with the waiver has registered for the course, the waiver cannot be changed at all.</p>
    </div>
    <h3>
        <a href="#">Why did I get an error when I tried to create a waiver?</a>
    </h3>
    <div>
        <p>Waivers are only granted <span class="bold">prior</span> to registration as a way to waive the required prerequisites. If the student has registered for the section, the requisites have already been met. If you attempt to enter a waiver for a course section in which the student is already registered, you receive a message indicating that a waiver cannot be provided for a course section because the student is already registered for the course section.</p>
    </div>
    <h3>
        <a href="#">How do I see which students have petitions?</a>
    </h3>
    <div>
        <p>
            If student petitions exist, you will see a list that has already been submitted by a faculty 
            member or other Registrar's Office staff.
        </p>
    </div>
    <h3>
        <a href="#">How do I add a student petition?</a>
    </h3>
    <div>
        <p>
            You can add a student petition if you have permission to create a student petition. Click the <span class="bold">Add New</span> button to access the Add Student
            Petition dialog box. Enter the student's ID and click <span class="bold">Search</span>. After you have identified the student, enter either a status that represents "Granted," a reason, or a comment to provide a purpose for the petition. Click <span class="bold">Save</span> to create the new petition.
        </p>
    </div>
    <h3>
        <a href="#">How do I deny a student petition request?</a>
    </h3>
    <div>
        <p>You can deny a student petition request if you have permission to create a student petition. Click the <span class="bold">Add New</span> button to access the Add Student Petition dialog box. Enter the student's ID and click <span class="bold">Search</span>. After you have identified the student, enter either a status that represents "Denied," a reason, or a comment to provide a purpose for denying the petition. Click <span class="bold">Save</span> to create the new petition.</p>
    </div>
    <h3>
        <a href="#">How can I make changes to a student petition?</a>
    </h3>
    <div>
        <p>Colleague Self-Service does not allow changes to student petitions after they are created. The only person who can make a change to an existing student petition is someone from the Registrar's Office, even if you initially created the waiver.</p>
    </div>
    <h3>
        <a href="#">How do I see which students have been granted faculty consent?</a>
    </h3>
    <div>
        <p>
            If faculty consent exists, you will see a list that has already been submitted by a faculty 
            member or other Registrar's Office staff.
        </p>
    </div>
    <h3>
        <a href="#">How do I add faculty consent for a student requesting to take a course?</a>
    </h3>
    <div>
        <p>
            You can add faculty consent for a student if you have permission to enter faculty consent. Click the <span class="bold">Add New</span> button to access the Add Student Petition dialog box. Enter the student's ID and click <span class="bold">Search</span>. After
            you have identified the student, enter either a status that represents "Granted," a reason, or a comment to provide a purpose for the faculty consent. Click <span class="bold">Save</span> to record the faculty consent.
        </p>
    </div>
    <h3>
        <a href="#">How do I deny a faculty consent request?</a>
    </h3>
    <div>
        <p> You can deny a faculty consent request if you have permission to enter faculty consent. Click the <span class="bold">Add New</span> button to access the Add Student Petition dialog box. Enter the student's ID and click <span class="bold">Search</span>. After you have identified the student, enter either a status that represents "Denied," a reason, or a comment to provide a purpose for denying the faculty consent. Click <span class="bold">Save</span> to record the faculty consent.</p>
    </div>
    <h3>
        <a href="#">How can I make changes to a faculty consent status?</a>
    </h3>
    <div>
        <p>Colleague Self-Service does not allow faculty consent status changes after faculty consent statuses are entered. The only person who can make a change to an existing faculty consent status is someone from the Registrar's Office, even if you initially created the waiver.</p>
    </div>
    <h3>
        <a href="#">How do I email every student on my roster?</a>
    </h3>
    <div>
        <p>Click on the Email All button in the upper right corner of the roster. This opens your email client and automatically populates the To field with your email address and the BCC field with the student roster email addresses.</p>
    </div>
</div>