﻿<h2>Faculty Help</h2>
<div class="help-content">
    <h3>
        <a href="#">Which of my classes are available for viewing?</a></h3>
    <div>
        <p>This page will show all current and upcoming active sections for which you are an assigned instructor.</p>
    </div>
    <h3>
        <a href="#">How can I view  relevant information about a section I am teaching?</a></h3>
    <div>
        <p>
            Select a class from the list to view your options. You can then choose to enter student waivers, enter petitions, or view the class roster.  
    <span class="bold">Note:</span> You will see sections for the current term even if the term is no longer open for registration or if the add/drop period has passed.
        </p>
    </div>
</div>
