﻿<h2> Student Planning Help</h2>
<div class="help-content">
  <h3> <a href="#">How do I find a  course?</a></h3>
  <div>
    <p> Select <span class="bold">Course Catalog</span> to locate courses, or enter information in the <span class="bold">Search for courses</span> field.</p>
  </div>
  <h3> <a href="#">How do I plan my courses?</a></h3>
  <div>
    <p>From the <span class="bold">My Progress</span> tab, you can load a sample course plan for an academic program or search and find courses 
    based on a program's specific requirements.  Planning your courses by directly using your program requirements helps ensure that you complete 
    the program in the the most expedient way.</p>
    <p> From <span class="bold">Plan &amp; Schedule</span> you can also: </p>
    <ul>
      <li>Add or remove planned courses to a current or future term in your course plan.</li>
      <li>View and modify a timeline view of your course plan. </li>
      <li>Add and remove sections for a particular term's schedule.</li>
    </ul>
    
  </div>
  <h3> <a href="#">How do I create a schedule?</a></h3>
  <div>
    <p> Select <span class="bold">Plan &amp; Schedule</span>. You can search for and add course sections to your schedule from terms that are 
      
      available for registration. 
      For example, you can view all of the available sections for a subject by browsing a 
      
      list of subjects. 
      You can also search for a section by keyword. When adding a section to your 
      
      schedule from your search results, you can: </p>
    <ul>
      <li>Add different sections of the same course to your schedule in the same term. 
        
        The course will show up in the list view.</li>
      <li>Add the same course or section to more than one term in your schedule. 
        
        However, you cannot add the same section to the same term multiple times.</li>
      <li>Add a section to your schedule whether or not the course is already on your 
        
        course plan.</li>
    </ul>
    <p> <span class="bold">Note:</span> If it has not been added previously, the parent 
      
      course for the section will be added to your course plan automatically.</p>
  </div>
    <h3> <a href="#">How do I view a summary of my progress?</a></h3>
  <div>
    <p>A list of your active academic programs along with associated cumulative grade point average and credit information appears on the <span class="bold">Home</span> page. 
    Select any program or select <span class="bold">My Progress</span> to go to additional information about your progress in your programs.</p>
  </div>
  <h3> <a href="#">How do I register for classes?</a></h3>
  <div>
    <p> Select <span class="bold">Plan &amp; Schedule</span>. When you are ready, you can select <span class="bold">Register Now</span>. If your schedule contains 
    available sections for more than one course, you will be registered for all of them successfully. If your schedule contains some available and some 
    unavailable sections, you will be registered for the available sections only. Then you can search for the remaining available sections that you need. You also 
    have the option to register for each course of the available courses individually by selecting <span class="bold">Register</span> in the course containers. 
    If a course is unavailable the register option is not available.</p>
  </div>
  <h3> <a href="#">
    How do I submit my course plan to my advisor? </a></h3>
  <div>
    <p>Select <span class="bold">Plan &amp; Schedule</span> and then <span class="bold">Advising</span>. If you have an assigned advisor, you can submit your 
    course plan to your advisor for review by selecting <span class="bold">Request Review</span>.</p>
  </div>
  <h3> <a href="#">
    How do I view my progress towards my degree requirements? </a></h3>
  <div>
    <p> Select <span class="bold">My Progress</span> where you can: </p>
    <ul>
      <li>View your progress towards completing your current course plan requirements.</li>
      <li>Search for courses to meet requirements that have not been met.</li>
      <li>View graphic displays that summarize your progress.</li>
    </ul>
  </div>
 <h3><a href="#">How is the Progress bar calculated?</a></h3>
  <div>
    <p>
        The Progress graphic shows an approximate percentage of program requirements you have completed.  
        Contact the Registrar for final determination of program completion.<br /><br />  

        Each component of a program’s requirements states specific criteria you must meet in terms of either credits or courses.  
        A program can have a combination of many components with a mix of credits and course requirements.  
        For this reason the percentage of requirement components completed cannot be 100% accurate in expressing the overall completeness of the program.  
        In addition, there may be additional requirements for the program that can only be verified by the institution’s registrar of record.  
        While you may use the progress bar as a guideline, more information may be determined by looking at the My Progress page and reviewing your 
        completed course work against the programs requirements. 
    </p>
  </div>
  <h3> <a href="#">How do I find an academic program?</a></h3>
  <div>
    <p>Select the <span class="bold">My Progress</span> view where you can select the View a New Program link to see academic 
    programs of study that are available as you work on your course plan.</p>
  </div>
</div>
