﻿<h2> My Progress Help</h2>
<div class="help-content">

  <h3> <a href="#">How does a course plan relate to the status of my academic program?</a></h3>
  <div>
    <p>You have already selected and enrolled in an academic program, such as Bachelor of Arts in English. A course plan is based on the requirements of your academic program and consists of the courses laid out by term. My Progress provides you with up-to-date information about your progress toward completing your academic program. 
      You can review your credits completed and grades received, graduation requirements, cumulative and major GPAs, completed and 
      outstanding courses, courses in progress, non-course requirements, and exceptions granted by academic departments. 
      You can also compare course plans for different academic programs.</p>
  </div>
    <h3> <a href="#">How can I compare course plans?</a></h3>
  <div>
    <p> You can compare the content of your current course plan to other course plans. 
      To compare course plans, you can change which academic program requirements you are viewing in My Progress. 
      To view another active program, select it from an available tab or select <span class="bold">View a New Program</span>.
    </p>
  </div>

<h3><a href="#">How can I change my academic program?</a></h3>
<div>
    <p>You cannot change your program in Student Planning. However, you can use <span class="bold">View a New Program</span> where you may see a short 
    list of suggested programs, as well as a longer list of all programs from which to choose. Once you select a program from 
    the list, you will be shown a temporary “My Progress” view of where you currently stand in the program you selected, based
     on your completed coursework and future planned courses. If you want to permanently make a program change, you will need to 
     talk to an advisor or the registrar’s office.
    </p>
</div>

<h3><a href="#">How can I load a sample course plan?</a></h3>
    <div>
        <p>A sample course plan is offered as one 
        way to consider completing a selected program.&nbsp;This option is beneficial 
        if you are a new student to the institution and are at the beginning 
        stages of your academic career. The sample plan reflects course 
        work that is suggested to complete the selected program.&nbsp;Press
        <span class="bold">Load Sample Course Plan</span>, select the first term to use for your course plan, and then select which program's sample
        plan to preview. After reviewing the sample plan courses, if you wish to apply these proposed
        courses to your plan, select <span class="bold">Load</span>. Select <span class="bold">Back</span> 
        to select a different sample plan. If you load these suggested courses to your plan, these will be added 
        to your plan while still keeping any existing courses that are already on 
        your plan.&nbsp; </p>
    </div>
    <h3> <a href="#">How can I determine my progress in my current academic program?</a></h3>
  <div>
    <p> This page provides you a view of your progress in three important areas of your program:
    </p>
    <ul>
      <li>Your GPA is displayed, and will display more boldly if it does not meet the required GPA level.</li>
      <li>The Progress graphic shows an approximate percentage of program requirement components you have completed. </li>
      <li>The Total Credits graphic shows the number of credits you have completed, have in progress and have planned, 
          based on the minimum credits required by your program. </li>
    </ul>
  </div>
  <h3> <a href="#">How can I determine if my current academic program is complete?</a></h3>
  <div>
    <p> You can determine if your academic program is complete. This includes reviewing your cumulative GPA and credits. 
      You can also see what is completed and planned for your degree and departmental general education requirements, and the electives 
      and requirements for your major. For each set of requirements, you can: </p>
    <ul>
      <li>View your progress towards completing your current course plan requirements.</li>
      <li>Search for courses to meet requirements that have not been met.</li>
      <li>View graphic displays that summarize your progress.</li>
    </ul>
  </div>
  <h3><a href="#">How is the Progress bar calculated?</a></h3>
  <div>
    <p>
        The Progress graphic shows an approximate percentage of program requirements you have completed. 
        Contact the Registrar for final determination of program completion.<br /><br />  
  
        Each component of a program’s requirements states specific criteria you must meet in terms of either credits or courses.  
        A program can have a combination of many components with a mix of credits and course requirements.  
        For this reason the percentage of requirement components completed cannot be 100% accurate in expressing the overall completeness of the program.  
        In addition, there may be additional requirements for the program that can only be verified by the institution’s registrar of record.  
        While you may use the progress bar as a guideline, more information may be determined by looking at the My Progress page and reviewing your 
        completed course work against the programs requirements. 
    </p>
  </div>
 <h3><a href="#">How can I tell if there are requirement waivers or substitutions in My Progress?</a></h3>
    <div>
      <p>
          Your advisor may grant waivers or substitutions for requirements in your academic program. 
          Any of these exceptions that have been granted will appear for the academic program in which you are currently enrolled. 
          If you decide to change programs, you must work with your advisor to determine which of the exceptions also apply to the new program.
        </p>
    </div>
    <h3> <a href="#">How can I analyze another academic program to see my progress if I change academic programs?</a></h3>
  <div>
    <p>You can view your progress in another academic program to help you determine your fastest path to your degree using the 
    <span class="bold">View a New Program</span> option. When you select an academic program, the requirements are evaluated against your existing completed academic credits, 
    and you will be shown your progress towards completing those course plan requirements.The view will include a bar graph showing the approximate percentage 
    of program requirements the student has completed in each program.
    </p>
  </div>
    <h3> <a href="#">What are Program Notes?</a></h3>
  <div>
    <p>You can see important notes about your program by choosing the <span class="bold">Show Program Notes</span> link. If there is information for you to view, 
        it is displayed in a dialog box that you can scroll through. The information may be different for each program if you have more than one active program. 
        The information may also change from day to day, so it is important to check your Program Notes frequently.
    </p>
  </div>
</div>
