﻿<h2> 
    Test Summary Help</h2>
<div class="help-content">
    <h3>
        <a href="#">How can I view my test scores?</a></h3>
    <div>
        <p>
            You can use <span class="bold">Test Summary</span> to view your admission, placement, and other test scores that have been reoprted to the institution.</p>
    </div>
</div>
