﻿<h2> 
    Unofficial Transcript Help</h2>
<div class="help-content">
    <h3>
        <a href="#">How can I view my unofficial transcript?</a></h3>
    <div>
        <p>
             When you want to view your unofficial transcript, click the link for the transcript you want to view, and when prompted by your browser, 
             open the PDF to see all the details of the unofficial transcript. If you have multiple transcripts, a separate link is displayed for each of 
             the transcripts. Select the link for the transcript you want to view. </p>
    </div>
</div>
