﻿<!--Copyright 2015 Ellucian Company L.P. and its affiliates.-->

<label class="switch-checkbox">
     <span id="checkBoxMeaning" aria-hidden="true" data-bind="visible:false, text:checkBoxDescription()?checkBoxDescription():'Checked means yes'"></span>
     <input type="checkbox" value="value" data-bind="checked: value, attr: { 'aria-describedby': 'checkBoxMeaning', id: (elementId()) ? elementId() : ''}" />
     <span class="state-wrapper">
          <span class="state off" aria-hidden="true" data-bind="text:negative()"></span>
          <span class="state on" aria-hidden="true" data-bind="text:positive()"></span>
     </span>
     <span class="switch-circle">
          <span class="switch-icon"></span>
     </span>
</label>