﻿
<div class="clear-group">
    <div class="esg-form__group esg-has-feedback full-width column-four-sm" data-bind="css: {'esg-has-warning': missingTimeEntryIndicator() === 'timeStart', 'esg-has-error': hasInputError() } ">
        <label class="esg-form__label" data-bind="resx: 'TimeSheet.WorkStartTimeLabelMobile', css: {'offScreen' : !$root.isMobile()}"></label>
        <div class="esg-form__input-group">
            <label class="offScreen" data-bind="attr:{ for: timeStartId }, text: timeStartLabel()"></label>
            <input class="esg-form__input" type="text" data-bind="timepicker: formattedTimeStart, timepickerOptions: startTimepickerOptions, disable: isReadOnly, attr: {id: timeStartId, placeholder: dailyDetailTimeEntryStartTimePlaceholder()}, event:{ keyup: setInputAriaLabel, blur: removeInputAriaLabel }" />
            <div class="esg-form__feedback-icon esg-icon__container" data-bind="visible: missingTimeEntryIndicator() === 'timeStart'">
                <svg class="esg-icon esg-icon--warning">
                    <use xlink:href="#icon-warning"></use>
                </svg>
            </div>
            <div class="esg-form__feedback-icon esg-icon__container" data-bind="visible: hasInputError()">
                <svg class="esg-icon esg-icon--error">
                    <use xlink:href="#icon-error"></use>
                </svg>
            </div>
        </div>
    </div>

    <span class="column-one column-one-sm" data-bind="visible: $root.isMobile">&nbsp;</span>

    <div class="esg-form__group esg-has-feedback full-width column-four-sm" data-bind="css: {'esg-has-warning': missingTimeEntryIndicator() === 'timeEnd', 'esg-has-error': hasInputError() }">
        <label class="esg-form__label" data-bind="resx: 'TimeSheet.WorkEndTimeLabelMobile', css: {'offScreen' : !$root.isMobile()}"></label>
        <div class="esg-form__input-group">
            <label class="offScreen" data-bind="attr:{ for: timeEndId }, text: timeEndLabel()"></label>
            <input class="esg-form__input" type="text" data-bind="timepicker: formattedTimeEnd, timepickerOptions: endTimepickerOptions, disable: isReadOnly, attr: {id: timeEndId, placeholder: dailyDetailTimeEntryEndTimePlaceholder()}, event:{ keyup: setInputAriaLabel, blur: removeInputAriaLabel }" />
            <div class="esg-form__feedback-icon esg-icon__container" data-bind="visible: missingTimeEntryIndicator() === 'timeEnd'">
                <svg class="esg-icon esg-icon--warning">
                    <use xlink:href="#icon-warning"></use>
                </svg>
            </div>
            <div class="esg-form__feedback-icon esg-icon__container" data-bind="visible: hasInputError()">
                <svg class="esg-icon esg-icon--error">
                    <use xlink:href="#icon-error"></use>
                </svg>
            </div>
        </div>

    </div>
</div>

