﻿daily-detail-time-entry {
    display: block;
    border-bottom: 1px solid black;

    .esg-form__input {
        text-align: right;
    }

}

daily-detail-time-entry:nth-child(n+2) {
    margin-top: 1rem;
}