﻿@*Copyright 2012-2017 Ellucian Company L.P. and its affiliates.*@

@section Styles
{
    @Styles.Render("~/Areas/Planning/Content/PlanningBundlecss")
}

@section Scripts
{
    @Scripts.Render("~/bundles/planninghomeindexscripts")
}

<!-- Header -->
    @if (Ellucian.Web.Student.Bootstrapper.RegistrationMode)
    {
    <div class="esg-page-header esg-has-subtitle">
        <div class="esg-page-header-subtitle__wrapper">
            <h2 class="esg-page-header__title">@Resources.PlanningHome.RegistrationLinkTitle</h2>
            <a class="esg-page-header__subtitle esg-page-header__subtitle--backlink" href="@Url.Action("Index", "DegreePlans")" aria-label="@Resources.PlanningHome.DegreePlanLinkActionText">
                @Resources.PlanningHome.RegistrationLinkMessage
                </a>
        </div>
    </div>
    }
else
{
    <div class="esg-page-header esg-has-subtitle">
        <div class="esg-page-header-subtitle__wrapper">
            <h2 class="esg-page-header__title">@Resources.PlanningHome.GreetingText</h2>
            <span class="esg-page-header__subtitle">@Resources.PlanningHome.GreetingTextDetail</span>
        </div>
        <div class="esg-page-header__input">
        @Html.Partial("CourseSearchForm")
    </div>
    </div>
}

<!-- Icon Links -->
<div id="home-header" class="clear-group">
    <div id="home-step1" class="home-step">
        <a href="@Url.Action("MyProgress", "Programs")" aria-label="@Resources.PlanningHome.RequirementsLinkActionText">
            <div id="step1" class="step-number">
                <span class="step-text">@Resources.PlanningHome.StepOneText</span>
            </div>
            <img src="~/Areas/Planning/Content/Images/home-requirements@2x.png" />
            <h3>@Resources.PlanningHome.RequirementsLinkTitle</h3>
            <p>@Html.Raw(Resources.PlanningHome.RequirementsLinkText)</p>
            <p>
                <u>@Resources.PlanningHome.RequirementsLinkActionText</u>
            </p>
        </a>
    </div>
    <div id="home-step2" class="home-step">
        <a href="@Url.Action("Index", "DegreePlans")" aria-label="@Resources.PlanningHome.DegreePlanLinkActionText">
            <div id="step2" class="step-number">
                <span class="step-text">@Resources.PlanningHome.StepTwoText</span>
            </div>
            <img src="~/Areas/Planning/Content/Images/home-schedule@2x.png" />
            <h3>@Resources.PlanningHome.DegreePlanLinkTitle</h3>
            <p>@Html.Raw(Resources.PlanningHome.DegreePlanLinkText)</p>
            <p>
                <u>@Resources.PlanningHome.DegreePlanLinkActionText</u>
            </p>
        </a>
    </div>
</div>
<!-- Main Home Page Container -->
<div class="column-nine">
    <!-- Spinner for page loading -->
    <spinner id="spinner" params="isVisible: isLoading(), message: stringPlanningHomeLoadingDataSpinnerMessage"></spinner>

    <!-- Program at a glance.  -->
    <div id="home-at-a-glance" style="display: none" data-bind="visible: Programs()[0] != null">
        <table width="100%">
            <thead>
                <tr>
                    <th>
                        @Resources.PlanningHome.Programs
                    </th>
                    <th>
                        @Resources.PlanningHome.CumulativeGpa
                    </th>
                    <th colspan="2">
                        @Resources.PlanningHome.ProgramCompletionProgress
                    </th>
                </tr>
            </thead>
            <tbody data-bind="foreach: Programs">
                <tr>
                    <td>
                        <span class="program-stats-content" data-bind="text: Title"></span>
                    </td>
                    <td>
                        <span class="program-stats-content">
                            <!-- ko if: !IsCumulativeGpaTooLow() -->
                            <span data-bind="text: CumulativeGpa()"></span>
                            <span data-bind="visible:MinimumOverallGpa() != 0, text:' ('+ MinimumOverallGpa() + ' required)'"></span>
                            <!-- /ko -->
                            <!-- ko if: CumulativeGpa() == "" && MinimumOverallGpa() != 0 -->
                            <span data-bind="text: '(' + MinimumOverallGpa() + ' required)'">
                            </span>
                            <!-- /ko -->
                            <!-- ko if: IsCumulativeGpaTooLow() && CumulativeGpa() != "" -->
                            <icon params="isVisible: true, icon: 'error', color: 'error', size: 'xsmall'"></icon>
                            <span class="gpa-too-low" data-bind="text: CumulativeGpa() + ' ('+ MinimumOverallGpa() + ' required)'">
                            </span>
                            <!-- /ko -->
                        </span>
                    </td>
                    <td>
                        <div class="progressbar-wrapper">
                            <div class="completion-progress program-stats-content">
                                <div class="completion-progressbar-wrapper" data-bind="jqProgressBar: {parts: ProgramCompletionProgress()}, attr:{'aria-valuetext':CompletionProgressText(), 'rel':'tooltip', 'title':CompletionProgressText()}">
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Schedule -->
    <section id="home-calendar" class="section-wrapper" style="display: none" data-bind="visible: currentTermCode() != null">
        <h3 class="section-header" data-bind="text: currentTerm() !== null ? currentTerm().Description() + ' @Resources.PlanningHome.ScheduleHeaderText' : ''"></h3>
        <div class="schedule-calendar section-contents" aria-hidden="true" role="presentation" tabindex="-1"
             data-bind="planningCalendar: currentTermEvents, planningCalendarScheduleHeight: 600">
        </div>
        <!-- ko with: ko.utils.arrayFirst(planViewModelInstance.DegreePlan().Terms(), function(term) { return term.Code() == planViewModelInstance.currentTermCode(); }) -->
        @Html.Partial("UnscheduledSectionDisplay")
        <!-- /ko -->
    </section>
</div>
