﻿@import '_colors.scss';

employee-timecard-summary {
    .esg-button-group .esg-button {
        margin-right: .625rem;
    }

    .total-hours-header {
        border-top: 1px solid $color-base-65;
    }

    .summary-employee-position-label span:nth-child(2) {
        font-size: .9em;
    }
}

employee-timecard-summary > .row-wrapper-gray:first-child {
    margin-top: 0;
}
