﻿<!--
    Column breakdown
        Column 3 - Labels
        Column 4 - Time
            column
        Column 2 - Buttons

-->
<div class="row-wrapper-gray full-width">
    <div class="row-wrapper full-width">
        <span class="column-four">
            <span class="column-three" data-bind="text: employeeNameDisplay()">
            </span>            
            <a class="column-three" data-bind="text: detailLinkText, attr: { 'aria-label': detailLinkLabel, href: detailLink }"></a>
            <span class="column-three"><span data-bind="text: statusLabel, css: statusIconClass"></span></span>
        </span>
        <div class="row-wrapper dialog-buttons">
            <div class="esg-button-group block" role="group" aria-label="button group" data-bind="css: { 'esg-button-group--fluid row-wrapper' : $root.isMobile}">
                <!--ko if: !enableUnapproveButton() -->
                
                <button type="button" class="esg-button esg-button--primary float-left" data-bind="click: ApproveTimecard, enable: enableApproveButton(), resx: 'TimeApproval.TimeApprovalApproveLabel'"></button>
                
                <!--/ko-->
                <!--ko if: enableUnapproveButton() -->
                
                <button type="button" class="esg-button esg-button--primary float-left" data-bind="click: unapproveTimecard, enable: enableUnapproveButton(), resx: 'TimeApproval.TimeApprovalUnapproveLabel'"></button>
                
                <!--/ko-->
                <!-- ko if: !enableUnrejectButton() -->
                <div class="esg-button-group__item float-left" role="group">
                    <rejection-dialog class="component"
                                      params="dataModel: rejectionDataModel,
                                 isRejectDialogEnabled: enableRejectButton,
                                 rejectHandler: rejectTimecard">
                    </rejection-dialog>
                </div>
                <!-- /ko -->
                <!-- ko if: enableUnrejectButton() -->
                
                <button type="button" class="esg-button esg-button--primary float-left" data-bind="click: unrejectTimecard, enable: enableUnrejectButton(), resx: 'TimeApproval.TimeApprovalUnrejectLabel'"></button>
                
                <!-- /ko -->
                <div class="esg-button-group__item float-left" role="group">
                    <comments-container class="component"
                                        params="dataModel: positionCommentsDataModel,
                                newCommentHandler: newCommentHandler,
                                authorName: supervisorName">
                    </comments-container>
                </div>

                <span class="float-right hide-content time-approval-save-error">
                    <span class="error-message float-right" data-bind="resx: 'TimeApproval.StatusSaveErrorMessage'">
                    </span>
                </span>

            </div>
        </div>
    </div>
    <div class="row-wrapper-skinny full-width collapsible total-hours-header" data-bind="toggleCollapsibleRow: { isTable: false, isOpen: false }">
        <div class="column-three">
            <button type="button" class="expand-details no-styles column-four" aria-expanded="true">
                <span class="arrow"></span>
                <span class="offScreen" data-bind="resx: 'TimeApproval.TimeApprovalExpandLabel'"></span>
            </button>
            <span class="column-four" data-bind="resx: 'TimeApproval.TimeApprovalTotalHoursLabel'">
            </span>
        </div>
        <span class="column-four text-align-right">
            <span class="column-three" data-bind="text: totalHoursSum().toFixed(2)">
            </span>
            <span class="column-three" data-bind="text: regularWorkHoursSum().toFixed(2)">
            </span>
            <span class="column-three" data-bind="text: OvertimeHours().toFixed(2)">
            </span>
        </span>
        <span class="column-two text-align-right">&nbsp;</span>

    </div>


    <!-- ko foreach: Positions -->
    <div class="row-wrapper-skinny full-width">
        <span class="column-three">
            <span class="column-four expand-details">&nbsp;</span>
            <span class="column-four summary-employee-position-label">
                <span class="full-width" data-bind="text: $data.Title"></span>
                <span class="full-width" data-bind="visible: !IsSupervised(), resx: 'TimeApproval.TimecardTableNonManagedPositionLabel'"></span>
            </span>
        </span>
        <span class="column-four text-align-right">
            <span class="column-three" data-bind="text: TotalWorkHours().toFixed(2)">
            </span>
        </span>
    </div>
    <!-- /ko -->
    <!--<div data-bind="jqLoading: {show: isUpdatingStatus(), message: submitLoaderText }"></div>-->
    <modal-spinner params="isVisible: isUpdatingStatus(), message: submitLoaderText"></modal-spinner>
</div>