﻿<div class="esg-collapsible-group esg-collapsible-group--default" role="tablist" aria-multiselectable="true">
    <div class="esg-collapsible-group__heading" role="tab">
        <div class="esg-collapsible-group__title">
            <button class="esg-collapsible-group__toggle text-align-left" type="button" aria-expanded="true" data-bind="attr: { id: groupHeaderId, 'aria-controls': groupBodyId}, click: toggleCollapsible, css: collapsibleClass, css: subtitleClass">
                <div data-bind="css: subtitleWrapperClass">
                    <div class="esg-collapsible-group__title-text">
                        <span data-bind="text: titleText"></span>
                        <span data-bind="visible: hasTitleContent, template: titleContent"></span>
                    </div>
                    <div class="esg-collapsible-group__subtitle" data-bind="text: subtitleText, visible: hasSubtitle"></div>
                    <div class="esg-collapsible-group__tertiary-content" data-bind="visible: hasTertiaryContent, template: tertiaryContent "></div>
                </div>
                <span class="esg-collapsible-group__icon esg-icon__container" aria-hidden="true">
                    <svg class="esg-icon" data-bind="css: arrowIconClass">
                        <!-- need to switch between icon--up and icon--down (same with the dropdown component)-->
                        <use xlink:href="#icon-arrow"></use>
                    </svg>
                </span>
            </button>
        </div>
    </div>
    <div class="esg-collapsible-group__body" role="tabpanel" data-bind="attr: {id: groupBodyId, 'aria-labelledby':groupHeaderId}, css: collapsibleClass">
        <!--ko template: {nodes: $componentTemplateNodes, data: $parent}-->
        <!--/ko-->
    </div>
</div>