﻿@* Copyright 2012-2015 Ellucian Company L.P. and its affiliates. *@
@model Version
@{
    ViewBag.Title = "About Self-Service";
}

<div class="full-width">
    <!-- Page Header Text -->
    <div id="page-description" class="esg-page-header">
        <h2 class="esg-page-header__title">
            @ViewBag.Title
        </h2>
        <a href="@Url.Action("Index", "Admin")" class="esg-page-header__subtitle esg-page-header__subtitle--backlink">
            <span class="esg-icon__container esg-page-header__icon" aria-hidden="true">
                <svg class="esg-icon esg-icon--left">
                    <use xlink:href="#icon-arrow"></use>
                </svg>
            </span>Back to Self-Service Administration Home
        </a>
    </div>
    <div class="column-nine">
        <section class="section-wrapper section-wrapper-top-border">
            <section class="section-contents primary-contents">
                <div class="about-title"><h3>Colleague<sup>&reg;</sup> Self-Service</h3></div>
                <div class="version">Version @Model.ToString()</div>
                <hr />
                <div class="copyright">
                    <p>&copy; 2000-@DateTime.Now.Year Ellucian Company L.P. and its affiliates. This software contains confidential and proprietary information of Ellucian or its subsidiaries. Use of this software is limited to Ellucian licensees, and is subject to the terms and conditions of one or more written license agreements between Ellucian and such licensees.</p>
                </div>
            </section>
        </section>
    </div>
</div>