﻿@* Copyright 2016-2017 Ellucian Company L.P. and its affiliates. *@
<h3 class="section-header">@Resources.AdminResources.AddALinkHeader</h3>
<section class="section-contents clear-group">
    <div class="column-five">
        <div class="layout-table" data-bind="foreach: Links">
            <div class="layout-table-row">
                <div class="layout-table-cell" data-bind="text: $data.Link.Id"></div>
                <div class="layout-table-cell">
                    <button class="esg-button esg-button--secondary" data-bind="click: $root.removeLink">Remove</button>
                </div>
            </div>
        </div>
        <section class="esg-form__group">
            <label for="linkId" class="esg-form__label">@Resources.AdminResources.AddLinkLabel</label>
            <input-autocomplete params="inputId: 'linkId',
                                        complexSearch: true,
                                        filterPromiseFactory: filterLinks,
                                        selectionCallback: selectLink,
                                        clearFilterOnSelection: true,
                                        descriptionProperty: 'label'">
            </input-autocomplete>
        </section>
    </div>
</section>
