﻿@* Copyright 2012-2017 Ellucian Company L.P. and its affiliates. *@
@{
    ViewBag.Title = Resources.AdminResources.ApplicationCertificatesAndKeysTitle;
}

@section scripts {
    @Scripts.Render("~/bundles/adminscripts")
    <script type="text/javascript">
        var rawData = @Html.Raw(ViewBag.JSON);
        $(document).ready(function () {
            var vm = new admin.authentication.CertificatesViewModel(rawData);
            ko.applyBindings(vm, document.getElementById("main"));
        });
    </script>
}

<div class="full-width">
    <!-- Page Header Text -->
    <div id="page-description" class="esg-page-header">
        <h2 class="esg-page-header__title">@ViewBag.Title</h2>
    </div>
    <div class="column-nine">
        <section class="section-wrapper no-section-mobile-padding">
            @Html.Partial("CertificatesPartial")
        </section>
    </div>
</div>