﻿@* Copyright 2015-2017 Ellucian Company L.P. and its affiliates. *@
@{
    ViewBag.Title = Resources.AdminResources.AuthenticationTitle;
}

@section scripts {
    @Scripts.Render("~/bundles/adminscripts")
    <script type="text/javascript">
        var rawData = @Html.Raw(ViewBag.JSON);
        var usersUrl = '@Url.Action("Users", "Admin")';
        var saveUsersUrl = '@Url.Action("GuestAccess", "Admin")';
        var attemptingLoginMessage = '@Resources.AdminResources.AttemptingLogin';
        var successMessage = '@Resources.AdminResources.LoginSuccessful';
        var failureMessage = '@Resources.AdminResources.LoginFailed';

        $(document).ready(function () {
            var vm = new admin.authentication.AuthenticationConfigurationViewModel(rawData);
            ko.applyBindings(vm, document.getElementById("main"));
        });
    </script>
}

<div class="full-width">
    <!-- Page Header Text -->
    <div id="page-description" class="esg-page-header">
        <h2 class="esg-page-header__title">
            @ViewBag.Title
                </h2>
        <a href="@Url.Action("Index", "Admin")" class="esg-page-header__subtitle esg-page-header__subtitle--backlink">
            <span class="esg-icon__container esg-page-header__icon" aria-hidden="true">
                <svg class="esg-icon esg-icon--left">
                    <use xlink:href="#icon-arrow"></use>
                </svg>
            </span>@Resources.AdminResources.BackToAdminHome
        </a>
            </div>

    <div class="column-nine">
                <section class="section-wrapper no-section-mobile-padding">
            <h3 class="section-header">@Resources.AdminResources.AuthenticationGeneralHeaderText</h3>
                    <section class="section-contents">
                        <fieldset>
                            <legend class="offScreen">@Resources.AdminResources.AuthenticationGeneralAuthenticationType</legend>
                            <div class="layout-table">
                                <div class="layout-table-row">
                                    <div class="layout-table-cell" aria-hidden="true">@Resources.AdminResources.AuthenticationGeneralAuthenticationType</div>
                                    <div class="layout-table-cell">
                                        <div class="esg-radio">
                                            <input id="authentication-self-service" type="radio" value="Forms" data-bind="checked: AuthenticationType" />
                                            <label for="authentication-self-service">@Resources.AdminResources.AuthenticationOptionSelfServiceLoginForm</label>
                                        </div>
                                        <div class="esg-radio">
                                            <input id="authentication-saml" type="radio" value="SAML2" data-bind="checked: AuthenticationType" />
                                            <label for="authentication-saml">@Resources.AdminResources.AuthenticationOptionSaml2</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="esg-alert esg-alert--info esg-alert--fluid">
                            <span class="esg-alert__icon-wrapper">
                                <span class="esg-alert__icon esg-icon__container" aria-hidden="True">
                                    <svg class="esg-icon esg-icon--info-dark">
                                        <use xlink:href="#icon-info"></use>
                                    </svg>
                                </span>
                            </span>
                            <div class="esg-alert__message">
                                <div>@Resources.AdminResources.AuthenticationChangeWarning</div>
                            </div>
                        </div>
                    </section>

            <div data-bind="visible: AuthenticationType() === 'SAML2'">
                <h3 class="section-header">@Resources.AdminResources.AuthenticationSaml2</h3>
                    <section class="section-contents">
                        <div class="layout-table">
                            <div class="layout-table-row">
                            <div class="layout-table-cell">@Resources.AdminResources.AuthenticationSelfServicePublicUrl</div>
                                <div class="layout-table-cell">
                                    <input type="text" data-bind="value: BaseUrl, enable:Enabled, css: { 'required-input': BaseUrl.hasError() && Enabled() }" />
                                    <span data-bind="visible: BaseUrl.hasError && Enabled, text: BaseUrl.validationMessage, css: { 'validationMessage': true }"></span>
                                </div>
                            </div>
                            <div class="layout-table-row">
                            <div class="layout-table-cell">@Resources.AdminResources.AuthenticationIdentityProviderUrl</div>
                                <div class="layout-table-cell">
                                    <input type="text" data-bind="value: IdentityProviderUrl, enable:Enabled, css: { 'required-input': IdentityProviderUrl.hasError() && Enabled() }" />
                                    <span data-bind="visible: IdentityProviderUrl.hasError && Enabled, text: IdentityProviderUrl.validationMessage, css: { 'validationMessage': true }"></span>
                                </div>
                            </div>
                            <div class="layout-table-cell">@Resources.AdminResources.AuthenticationIdentityProviderLogoutUrl</div>
                                <div class="layout-table-cell">
                                    <input type="text" data-bind="value: IdentityProviderLogoutUrl, enable:Enabled" />
                                    <span data-bind="visible: IdentityProviderLogoutUrl.hasError && Enabled, text: IdentityProviderLogoutUrl.validationMessage, css: { 'validationMessage': true }"></span>
                                </div>
                            </div>
                            <div class="layout-table-row">
                            <div class="layout-table-cell">@Resources.AdminResources.AuthenticationIdentityProviderPublicCert</div>
                                <div class="layout-table-cell">
                                    <select class="esg-form__input" data-bind="options: PublicKeys, value: IdentityProviderPublicKey, enable:Enabled, css: { 'required-input': IdentityProviderPublicKey.hasError() && Enabled() }"></select>
                                    <span data-bind="visible: IdentityProviderPublicKey.hasError && Enabled, text: IdentityProviderPublicKey.validationMessage, css: { 'validationMessage': true }"></span>
                                </div>
                        </div>
                        <div class="layout-table-row">
                                <div class="layout-table-cell">
                                <a class="configuration-attribute__link" href="@Url.Action("ApplicationCertificates", "Admin")" target="_blank">
                                    @Resources.AdminResources.AuthenticationManageAppCertsKeys
                                </a>
                                </div>
                            <div class="layout-table-cell">
                                <button class="esg-button esg-button--secondary esg-button--small" data-bind="click: GetCertificateData">
                                    <icon params="isVisible: true, icon:'refresh', container: 'dark', size: 'xsmall'"></icon>
                                    @Resources.SiteResources.ButtonTextRefresh
                                </button>
                            </div>
                        </div>
                            <div class="layout-table-row">
                            <div class="layout-table-cell">@Resources.AdminResources.AuthenticationIdentityPublicCertPassword</div>
                                <div class="layout-table-cell">
                                    <input type="password" data-bind="value: IdentityProviderPublicKeyPassword, enable:Enabled" />
                                </div>
                            </div>
                            <div class="layout-table-row">
                            <div class="layout-table-cell">@Resources.AdminResources.AuthenticationIdentityProviderIssuer</div>
                                <div class="layout-table-cell">
                                    <input type="text" data-bind="value: IdentityProviderIssuer, enable:Enabled" />
                                    <span data-bind="visible: IdentityProviderIssuer.hasError && Enabled, text: IdentityProviderIssuer.validationMessage, css: { 'validationMessage': true }"></span>
                                </div>
                            </div>
                            <div class="layout-table-row">
                            <div class="layout-table-cell">@Resources.AdminResources.AuthenticationServiceProviderId</div>
                                <div class="layout-table-cell">
                                    <input type="text" data-bind="value: ServiceProviderId, enable:Enabled, css: { 'required-input': ServiceProviderId.hasError() && Enabled() }" />
                                    <span data-bind="visible: ServiceProviderId.hasError && Enabled, text: ServiceProviderId.validationMessage, css: { 'validationMessage': true }"></span>
                                </div>
                            </div>
                            <div class="layout-table-row">
                                <div class="layout-table-cell">@Resources.AdminResources.AuthenticationSetNameIdPolicy</div>
                                <div class="layout-table-cell">
                                    <input type="checkbox" id="setNameIdPolicy" data-bind="checked: SetNameIdPolicy, enable:Enabled" />
                                </div>
                            </div>
                            <div class="layout-table-row">
                                <div class="layout-table-cell">@Resources.AdminResources.AuthenticationServiceProviderNameQualifier</div>
                                <div class="layout-table-cell">
                                    <input type="text" data-bind="value: SPNameQualifier, enable:Enabled" />
                                    <span data-bind="visible: SPNameQualifier.hasError && Enabled, text: SPNameQualifier.validationMessage, css: { 'validationMessage': SPNameQualifier.hasError }"></span>
                                </div>
                            </div>
                            <div class="layout-table-row">
                            <div class="layout-table-cell">@Resources.AdminResources.AuthenticationServiceProviderPrivateKey</div>
                                <div class="layout-table-cell">
                                    <select class="esg-form__input" data-bind="options: PrivateKeys, value: ServiceProviderPrivateKey, enable:Enabled, css: { 'required-input': ServiceProviderPrivateKey.hasError() && Enabled() }"></select>
                                    <span data-bind="visible: ServiceProviderPrivateKey.hasError && Enabled, text: ServiceProviderPrivateKey.validationMessage, css: { 'validationMessage': true }"></span>
                                </div>
                        </div>
                        <div class="layout-table-row">
                            <div class="layout-table-cell">
                                <a class="configuration-attribute__link" href="@Url.Action("ApplicationCertificates", "Admin")" target="_blank">
                                    @Resources.AdminResources.AuthenticationManageAppCertsKeys
                                </a>
                            </div>
                                <div class="layout-table-cell">
                                <button class="esg-button esg-button--secondary esg-button--small" data-bind="click: GetCertificateData">
                                    <icon params="isVisible: true, icon:'refresh', container: 'dark', size: 'xsmall'"></icon>
                                    @Resources.SiteResources.ButtonTextRefresh
                                </button>
                                </div>
                            </div>
                            <div class="layout-table-row">
                            <div class="layout-table-cell">@Resources.AdminResources.AuthenticationServiceProviderPrivateKeyPassword</div>
                                <div class="layout-table-cell">
                                    <input type="password" data-bind="value: ServiceProviderPrivateKeyPassword, enable:Enabled" />
                                </div>
                            </div>
                            <div class="layout-table-row">
                            <div class="layout-table-cell">@Resources.AdminResources.AuthenticationRequireEncryptedClaimAssertions</div>
                                <div class="layout-table-cell">
                                    <input type="checkbox" id="useEncryptedAssertions" data-bind="checked: UseEncryptedAssertions, enable:Enabled" />
                                </div>
                            </div>
                            <div class="layout-table-row">
                            <div class="layout-table-cell">@Resources.AdminResources.AuthenticationUsernameClaimAssertion</div>
                                <div class="layout-table-cell">
                                    <input type="text" data-bind="value: UsernameClaim, enable:Enabled, css: { 'required-input': UsernameClaim.hasError() && Enabled() }" />
                                    <span data-bind="visible: UsernameClaim.hasError && Enabled, text: UsernameClaim.validationMessage, css: { 'validationMessage': true }"></span>
                                </div>
                            </div>
                            <div class="layout-table-row">
                            <div class="layout-table-cell">@Resources.AdminResources.AuthenticationColleagueProxyLoginUsername</div>
                                <div class="layout-table-cell">
                                    <input type="text" data-bind="value: ProxyUsername, enable:Enabled, css: { 'required-input': ProxyUsername.hasError() && Enabled() }" />
                                    <span data-bind="visible: ProxyUsername.hasError && Enabled, text: ProxyUsername.validationMessage, css: { 'validationMessage': true }"></span>
                                </div>
                            </div>
                            <div class="layout-table-row">
                            <div class="layout-table-cell">@Resources.AdminResources.AuthenticationColleagueProxyLoginPassword</div>
                                <div class="layout-table-cell">
                                    <input type="password" data-bind="value: ProxyPassword, enable:Enabled, css: { 'required-input': ProxyPassword.hasError() && Enabled() }" />
                                    <span data-bind="visible: ProxyPassword.hasError && Enabled, text: ProxyPassword.validationMessage, css: { 'validationMessage': true }"></span>
                                </div>
                            </div>
                            <div class="layout-table-row">
                                <div class="layout-table-cell">
                                <button id="testProxyCredentials" class="esg-button esg-button--secondary" data-bind="click: TestCredentials, enable:Enabled() && ProxyUsername() && ProxyPassword()">
                                    @Resources.AdminResources.AuthenticationTestProxyCredentials
                                </button>
                                </div>
                                <div class="layout-table-cell">
                                    <span data-bind="visible: TestingCredentials, text: TestingCredentials"></span>
                                </div>
                            </div>
                            <div class="layout-table-row">
                            <div class="layout-table-cell">@Resources.AdminResources.AuthenticationSamlClockSkew</div>
                                <div class="layout-table-cell">
                                    <input type="text" data-bind="value: SamlClockSkew, enable:Enabled" />
                                    <span data-bind="visible: SamlClockSkew.hasError && Enabled, text: SamlClockSkew.validationMessage, css: { validationMessage: SamlClockSkew.hasError }"></span>
                                </div>
                            </div>
                        </div>
                    </section>
            </div>

            <h3 class="section-header">@Resources.AdminResources.GuestAccessHeader</h3>
                    <section class="section-contents">
                        @if (Request.IsAuthenticated)
                        {
                            <div class="layout-table">
                                <div class="layout-table-row">
                                    <div class="layout-table-cell">
                                        @Resources.AdminResources.GuestAccountUsername
                                    </div>
                                    <div class="layout-table-cell">
                                        <div><input id="guestUserId" type="text" data-bind="value: GuestUsername" /></div>
                                    </div>
                                </div>
                                <div class="layout-table-row">
                                    <div class="layout-table-cell">@Resources.AdminResources.GuestAccountPassword</div>
                                    <div class="layout-table-cell">
                                        <input type="password" data-bind="value: GuestPassword" />
                                    </div>
                                </div>
                                <div class="layout-table-row">
                                    <div class="layout-table-cell"></div>
                                    <div class="layout-table-cell">
                                        <button class="esg-button esg-button--secondary" data-bind="visible: guestUsernameHasValue, click: ClearGuestUser">
                                            @Resources.AdminResources.RemoveLinkText
                                        </button>
                                    </div>
                                </div>

                            </div>
                            <div>
                                <div class="layout-table-row">
                                    <div class="layout-table-cell">
                                        <button id="testGuestCredentials" class="esg-button esg-button--secondary" data-bind="click: TestGuestCredentials">
                                            @Resources.AdminResources.TestGuestCredentials
                                        </button>
                                    </div>
                                    <div class="layout-table-cell"></div>
                                </div>
                                <div class="layout-table-row">
                                    <div class="layout-table-cell">
                                        <!--ko with:TestingGuestCredentials-->
                                        <message params="isVisible: messageToDisplay, message: messageToDisplay, type: isSuccess()!==null ? isSuccess() ?'success':'error':'info' "></message>
                                        <!--/ko-->
                                    </div>
                                    <div class="layout-table-cell"></div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <p>@Resources.AdminResources.LoginToSetGuest</p>
                        }
                    </section>
            <div class="button-bar">
                <input id="save" type="button" class="esg-button esg-button--primary" value="Save" data-bind="click: Save, enable: CanSave" />
            </div>
        </section>
    </div>
</div>

