﻿@* Copyright 2012-2017 Ellucian Company L.P. and its affiliates. *@
@{
    ViewBag.Title = Resources.AdminResources.BrandingTitle;
}

@section scripts {
    <script type="text/javascript">
        var data = @Html.Raw(ViewBag.JSON);
        var saveConfigUrl = '@Url.Action("SaveSettings", "Admin")';
    </script>
    @Scripts.Render("~/bundles/adminscripts")
    @Scripts.Render("~/bundles/adminsettingsscripts")
}

<div class="full-width">
    <!-- Page Header Text -->
    <div id="page-description" class="esg-page-header">
        <h2 class="esg-page-header__title">
            @ViewBag.Title
        </h2>
        <a href="@Url.Action("Index", "Admin")" class="esg-page-header__subtitle esg-page-header__subtitle--backlink">
            <span class="esg-icon__container esg-page-header__icon" aria-hidden="true">
                <svg class="esg-icon esg-icon--left">
                    <use xlink:href="#icon-arrow"></use>
                </svg>
            </span>
            @Resources.AdminResources.BackToAdminHome
        </a>
    </div>
    <div class="column-nine">
        <section class="section-wrapper no-section-mobile-padding">
            <h3 class="section-header">@Resources.AdminResources.BrandingParameters</h3>
            <section class="section-contents">
                <fieldset>
                    <legend class="offScreen">@Resources.AdminResources.BrandingParameters:</legend>
                    <div class="layout-table">
                        <div class="layout-table-row esg-form__group">
                            <div class="layout-table-cell">
                                <label class="esg-form__label" for="application-title-input">
                                    @Resources.AdminResources.BrandingApplicationTitle
                                </label>
                            </div>
                            <div class="layout-table-cell">
                                <input id="application-title-input" type="text" class="esg-form__input" data-bind="value: ApplicationTitle" />
                            </div>
                        </div>
                        <div class="layout-table-row esg-form__group">
                            <div class="layout-table-cell">
                                <label class="esg-form__label" for="header-log-path-input">
                                    @Resources.AdminResources.BrandingHeaderLogoPath
                                </label>
                            </div>
                            <div class="layout-table-cell">
                                <input id="header-log-path-input" type="text" class="esg-form__input" data-bind="value: HeaderLogoPath" />
                            </div>
                        </div>
                        <div class="layout-table-row esg-form__group">
                            <div class="layout-table-cell">
                                <label class="esg-form__label" for="header-log-alt-text-input">
                                    @Resources.AdminResources.BrandingHeaderLogoAltText
                                </label>
                            </div>
                            <div class="layout-table-cell">
                                <input id="header-log-alt-text-input" type="text" class="esg-form__input" data-bind="value: HeaderLogoAltText" />
                            </div>
                        </div>
                        <div class="layout-table-row esg-form__group">
                            <div class="layout-table-cell">
                                <label class="esg-form__label" for="footer-logo-path-input">
                                    @Resources.AdminResources.BrandingFooterLogoPath
                                </label>
                            </div>
                            <div class="layout-table-cell">
                                <input id="footer-logo-path-input" type="text" class="esg-form__input" data-bind="value: FooterLogoPath" />
                            </div>
                        </div>
                        <div class="layout-table-row esg-form__group">
                            <div class="layout-table-cell">
                                <label class="esg-form__label" for="footer-logo-alt-text-input">
                                    @Resources.AdminResources.BrandingFooterLogoAltText
                                </label>
                            </div>
                            <div class="layout-table-cell">
                                <input type="text" id="footer-logo-alt-text-input" class="esg-form__input" data-bind="value: FooterLogoAltText" />
                            </div>
                        </div>
                        <div class="layout-table-row esg-form__group">
                            <div class="layout-table-cell">
                                <label class="esg-form__label" for="branding-report-logo-input">
                                    @Resources.AdminResources.BrandingReportLogoPath
                                </label>
                            </div>
                            <div class="layout-table-cell">
                                <input type="text" id="branding-report-logo-input" class="esg-form__input" data-bind="value: ReportLogoPath" />
                            </div>
                        </div>
                    </div>
                </fieldset>
            </section>
            <h3 class="section-header">@Resources.AdminResources.BrandingCustomFavicon</h3>
            <section class="section-contents">
                <div class="layout-table">
                    <div class="layout-table-body" data-bind="with: Favicon">
                        <div class="layout-table-row esg-form__group">
                            <div class="layout-table-cell">
                                <span data-bind="text: Name"></span>
                            </div>
                            <div class="layout-table-cell">
                                <a href="#" aria-label="@Resources.AdminResources.BrandingDeleteCustomFaviconAriaLabel" data-bind="click: function(data, event) { $parent.confirmRemoveDialogIsOpen(true) }">
                                    @Resources.SiteResources.ButtonTextDelete
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <form id="uploadFavicon" data-bind="submit: submitUpload" action=" branding" method="post" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="action" value="add" />
                    <file-upload params="id: 'newFile', name: 'newFile', value: $data.UploadFilename, label: '@Resources.AdminResources.BrandingCustomFaviconUploadLabel', acceptTypes: [ '.ico']"></file-upload>
                    <input type="submit" class="esg-button esg-button--primary" value="@Resources.SiteResources.ButtonTextUpload" aria-label="@Resources.AdminResources.BrandingUploadCustomFaviconAriaLabel" data-bind="enable: $data.UploadFilename" />
                </form>
            </section>
            <div class="button-bar">
                <input id="save" type="button" class="esg-button esg-button--primary" value="@Resources.SiteResources.ButtonTextSave" aria-label="@Resources.AdminResources.BrandingSaveParametersAriaLabel" data-bind="click: $root.saveSettings" />
            </div>
        </section>
    </div>
</div>

<modal-dialog id="confirm-remove-dialog" params="isVisible: confirmRemoveDialogIsOpen, title: Ellucian.Admin.Resources.ButtonTextConfirmDelete, content: $data, buttons: [submitConfirmRemoveDialogButton]">
    <span id="confirmRemoveDialogSpan" data-bind="text: confirmRemoveDialogPrompt"></span>
</modal-dialog>

<modal-dialog id="confirm-upload-dialog" params="isVisible: confirmUploadDialogIsOpen, title: Ellucian.Admin.Resources.ButtonTextConfirmOverwrite, content: $data, buttons: [submitConfirmUploadDialogButton]">
    <span id="confirmUploadDialogSpan" data-bind="text: confirmUploadDialogPrompt"></span>
</modal-dialog>


