﻿@* Copyright 2012-2015 Ellucian Company L.P. and its affiliates. *@
@{
    ViewBag.Title = "Cache Manager";
}

<div class="full-width">
    <!-- Page Header Text -->
    <div id="page-description" class="esg-page-header">
        <h2 class="esg-page-header__title">
            @ViewBag.Title
                </h2>
        <a href="@Url.Action("Index", "Admin")" class="esg-page-header__subtitle esg-page-header__subtitle--backlink">
            <span class="esg-icon__container esg-page-header__icon" aria-hidden="true">
                <svg class="esg-icon esg-icon--left">
                    <use xlink:href="#icon-arrow"></use>
                </svg>
            </span>Back to Self-Service Administration Home
        </a>
    </div>
    <div class="column-nine">
        @using (Html.BeginForm("ClearCache", "Admin"))
            {
                 @Html.AntiForgeryToken()
    <section class="section-wrapper no-section-mobile-padding">
                <h3 class="section-header">Service Client Cache</h3>
        <section class="section-contents">
            <input type="submit" class="esg-button esg-button--secondary" value="Clear Service Client Cache" />
        </section>
    </section>
            }
    </div>
</div>
