﻿@* Copyright 2012-2015 Ellucian Company L.P. and its affiliates. *@
@model List<Ellucian.Web.Student.Models.Admin.ApplicationCertificatesAndKeysModel>

<section class="section-wrapper no-section-mobile-padding">
    <h3 class="section-header">@Resources.AdminResources.CertificatesCertExtensions</h3>
    <section class="section-contents">
        <div class="layout-table">
            <div class="layout-table-body" data-bind="foreach: CurrentCertificates">
                <div class="layout-table-row">
                    <div class="layout-table-cell"><span data-bind="text: $data.Name"></span></div>
                    <div class="layout-table-cell"><a href="#" data-bind="click: $parent.Remove">@Resources.SiteResources.ButtonTextDelete</a></div>
                </div>
            </div>
        </div>
    </section>

    <h3 class="section-header">@Resources.AdminResources.CertificatesKeysExtensions</h3>
    <section class="section-contents">
        <div class="layout-table">
            <div class="layout-table-body" data-bind="foreach: CurrentKeys">
                <div class="layout-table-row">
                    <div class="layout-table-cell"><span data-bind="text: $data.Name"></span></div>
                    <div class="layout-table-cell"><a href="#" data-bind="click: $parent.Remove">@Resources.SiteResources.ButtonTextDelete</a></div>
                </div>
            </div>
        </div>
    </section>

    <h3 class="section-header">@Resources.AdminResources.CertificatesUploadNewCertificateOrKey</h3>
    <section class="section-contents">
        <div class="layout-table">
            <div class="layout-table-row">
                <div class="layout-table-cell">
                    <form id="uploadCertForm" action="ApplicationCertificates" method="post" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="action" value="add" />
                        <file-upload params="id: 'newFile', name: 'newFile', label: 'Select File', acceptTypes: [ '.cer', '.crt', '.pfx', '.p12'], value: $data.UploadFilename"></file-upload>
                        <input type="submit" class="esg-button esg-button--primary" value="Upload" data-bind="enable: $data.UploadFilename" data-overwrite="" />
                    </form>
                </div>
            </div>
        </div>
    </section>
</section>

<modal-dialog id="confirmRemoveDialog" params="isVisible: confirmRemoveDialogIsOpen, title: '@Resources.AdminResources.ButtonTextConfirmDelete', content: $data, buttons: [{ title: '@Resources.SiteResources.ButtonTextOk', callback: confirmRemoveItem, isPrimary: true }] ">
    <span id="confirmRemoveDialogSpan"></span>
</modal-dialog>

<modal-dialog id="confirmUploadDialog" params="isVisible: confirmUploadDialogIsOpen, title: '@Resources.AdminResources.ButtonTextConfirmOverwrite', content: $data, buttons: [{ title: '@Resources.SiteResources.ButtonTextOk', callback: confirmUploadItem, isPrimary: true }] ">
    <span id="confirmUploadDialogSpan"></span>
</modal-dialog>