﻿@* Copyright 2012-2016 Ellucian Company L.P. and its affiliates. *@
@{
    ViewBag.Title = "Configuration";
}

@section scripts {
    <script type="text/javascript">
        var data = @Html.Raw(ViewBag.JSON);
        var saveConfigUrl = '@Url.Action("SaveSettings", "Admin")';
        var pingWebApiUrl = '@Url.Action("PingWebApi", "Admin")';
        var currentDateUrl = '@Url.Action("CurrentDate", "Admin")';
    </script>
    @Scripts.Render("~/bundles/adminscripts")
    @Scripts.Render("~/bundles/adminsettingsscripts")
}

<div class="full-width">
    <!-- Page Header Text -->
    <div id="page-description" class="esg-page-header">
        <h2 class="esg-page-header__title">
            @ViewBag.Title
        </h2>
        <a href="@Url.Action("Index", "Admin")" class="esg-page-header__subtitle esg-page-header__subtitle--backlink">
            <span class="esg-icon__container esg-page-header__icon" aria-hidden="true">
                <svg class="esg-icon esg-icon--left">
                    <use xlink:href="#icon-arrow"></use>
                </svg>
            </span>Back to Self-Service Administration Home
        </a>
    </div>

    <div class="column-nine">
        <section class="section-wrapper no-section-mobile-padding">
            <h3 class="section-header">General</h3>
            <section class="section-contents">
                <div class="layout-table">
                    <div class="layout-table-row">
                        <div class="layout-table-cell">Colleague Web API Base URL</div>
                        <div class="layout-table-cell">
                            <input id="baseUrl" style="width: 400px;" type="text" data-bind="value: ApiBaseUrl" />
                            <span data-bind="visible: ApiBaseUrl.hasError, text: ApiBaseUrl.validationMessage, css: { error: ApiBaseUrl.hasError }"></span>
                        </div>
                        <div class="layout-table-cell"><span id="baseUrlMessage"></span></div>
                    </div>
                    <div class="layout-table-row">
                        <div class="layout-table-cell">Colleague Web API Connection Limit</div>
                        <div class="layout-table-cell">
                            <input id="connectionLimit" type="number" min="2" step="2" data-bind="value: ApiConnectionLimit" />
                            <span data-bind="visible: ApiConnectionLimit.validationMessage, text: ApiConnectionLimit.validationMessage, css: { error: ApiConnectionLimit.validationMessage }"></span>
                        </div>
                    </div>
                    <div class="layout-table-row">
                        <div class="layout-table-cell">Unique Cookie ID</div>
                        <div class="layout-table-cell">
                            <input type="text" data-bind="value: UniqueCookieId" />
                            <span data-bind="visible: UniqueCookieId.hasError, text: UniqueCookieId.validationMessage, css: { error: UniqueCookieId.hasError }"></span>
                        </div>
                    </div>
                </div>
            </section>


            <h3 class="section-header">Localization</h3>
            <section class="section-contents">
                <div class="layout-table">
                    <div class="layout-table-row">
                        <div class="layout-table-cell">Culture</div>
                        <div class="layout-table-cell">
                            <select class="esg-form__input" data-bind="options: Cultures, optionsText: 'description', optionsValue: 'code', value: Culture"></select>
                        </div>
                    </div>
                    <div class="layout-table-row">
                        <div class="layout-table-cell">Date Format</div>
                        <div class="layout-table-cell">
                            <select id="dateFormatCombo" class="esg-form__input" data-bind="options: DateFormats, value: ShortDateFormat"></select>
                        </div>
                        <div class="layout-table-cell"><span id="dateFormatExample"></span></div>
                    </div>
                </div>
            </section>

            <h3 class="section-header">Logging</h3>
            <section class="section-contents">
                <div class="layout-table">
                    <div class="layout-table-row">
                        <div class="layout-table-cell">Log Level</div>
                        <div class="layout-table-cell">
                            <select class="esg-form__input" data-bind="options: LogLevels, value: SelectedLogLevel"></select>
                        </div>
                    </div>
                </div>
            </section>

            <h4 class="section-header">Privacy Policy</h4>
            <section class="section-contents">
                <div class="layout-table">
                    <div class="layout-table-row">
                        <div class="layout-table-cell">
                            <label for="client-privacy-policy">Privacy Policy</label>
                            <br />
                            <textarea id="client-privacy-policy" style="width: 300px; height: 200px;" data-bind="value:ClientPrivacyPolicy"></textarea>
                        </div>
                    </div>
                </div>
            </section>

            <h3 class="section-header">Google Analytics</h3>
            <section class="section-contents">
                <div class="layout-table">
                    <div class="layout-table-row">
                        <div class="layout-table-cell">
                            <label for="enable-analytics">Enable Google Analytics</label>
                        </div>
                        <div class="layout-table-cell">
                            <input id="enable-analytics" type="checkbox" data-bind="checked: EnableGoogleAnalytics" />
                        </div>
                    </div>

                    <div class="layout-table-row">
                        <div class="layout-table-cell">
                            <label for="tracking-id">Google Analytics Tracking ID</label>
                        </div>
                        <div class="layout-table-cell">
                            <input id="tracking-id" type="text" placeholder="UA-XXXXX-Y" data-bind="value:TrackingId, disable:EnableCustomTracking() || !EnableGoogleAnalytics()" />
                        </div>
                    </div>
                    <div class="layout-table-row">
                        <div class="layout-table-cell">
                            <label for="proxy-dimension-index">Dimension Index for Proxy User Traffic</label>
                        </div>
                        <div class="layout-table-cell">
                            <input id="proxy-dimension-index" type="number" data-bind="value:ProxyDimensionIndex, disable:EnableCustomTracking() || !EnableGoogleAnalytics()" />
                        </div>
                    </div>
                    <div class="layout-table-row">
                        <div class="layout-table-cell">
                            <label for="enable-custom-tracking">Use Custom Analytics</label>
                        </div>
                        <div class="layout-table-cell">
                            <input id="enable-custom-tracking" type="checkbox" data-bind="checked:EnableCustomTracking, enable:EnableGoogleAnalytics" />
                        </div>
                    </div>
                    <div class="layout-table-row">
                        <div class="layout-table-cell">
                            <label for="insert-custom-tracking-after-body">Insert Custom Script after &lt;body&gt;</label>
                        </div>
                        <div class="layout-table-cell">
                            <input id="insert-custom-tracking-after-body" type="checkbox" data-bind="checked:InsertCustomTrackingAfterBody, disable:!EnableGoogleAnalytics() || !EnableCustomTracking()" />
                        </div>
                    </div>
                    <div class="layout-table-row">
                        <div class="layout-table-cell">
                            <label for="custom-tracking-analytics">Custom Google Analytics Tracking Script</label>
                            <br />
                            <textarea id="custom-tracking-analytics" style="width: 300px; height:200px;"
                                        data-bind="value:CustomTrackingAnalytics, disable: !EnableCustomTracking() || !EnableGoogleAnalytics()"></textarea>
                        </div>
                    </div>
                </div>
            </section>
            <div class="button-bar">
                <input id="save" type="button" class="esg-button esg-button--primary" value="Save" data-bind="click: $root.saveSettings, disable: !Errors.isValid() || !CanSaveConfig()" />
            </div>
        </section>
    </div>
</div>