@* Copyright 2012-2015 Ellucian Company L.P. and its affiliates. *@
@{
    ViewBag.Title = "Self Service Administration";
}

<!-- Page Header Text -->
<div id="page-description" class="esg-page-header">
    <h2 class="esg-page-header__title">@ViewBag.Title</h2>
</div>
<div class="esg-row esg-row--eq-height section-contents">
    <div class="esg-col-sm-4 esg-col-xs-12 esg-list-group">
        <div class="esg-list-group__header"><h3 class="esg-list-group__title">Settings and Tools</h3></div>

        @Html.ActionLink("Configuration", "Configuration", "Admin", null, new { @class = "esg-list-group__item" })

        @Html.ActionLink("Authentication", "Authentication", "Admin", null, new { @class = "esg-list-group__item" })

        @Html.ActionLink("Application Certificates and Keys", "ApplicationCertificates", "Admin", null, new { @class = "esg-list-group__item" })

        @if (CurrentUser != null)
        {
            @Html.ActionLink("Cache Manager", "CacheManager", "Admin", null, new { @class = "esg-list-group__item" })
        }

        @Html.ActionLink("About Self-Service", "About", "Admin", null, new { @class = "esg-list-group__item" })


        @if (CurrentUser != null)
        {
            @Html.ActionLink(@Resources.SiteResources.ResourceFileEditorTitle, "ResourceFileEditor", "ResourceFiles", null, new { @class = "esg-list-group__item" })
        }
    </div>

    @if (CurrentUser != null)
    {
        <div class="esg-col-sm-4 esg-col-xs-12 esg-list-group">
            <div class="esg-list-group__header">
                <h3 class="esg-list-group__title">Look and Feel</h3>
            </div>

            @Html.ActionLink("Theme Editor", "ThemeEditor", "Admin", null, new { @class = "esg-list-group__item" })

            @Html.ActionLink("Branding", "Branding", "Admin", null, new { @class = "esg-list-group__item" })
        </div>
    <div class="esg-col-sm-4 esg-col-xs-12 esg-list-group">
        <div class="esg-list-group__header">
            <h3 class="esg-list-group__title">Users and Permissions</h3>
        </div>

        @Html.ActionLink(Resources.AdminResources.SitemapLabel, "Site", "Admin", null, new { @class = "esg-list-group__item" })
    </div>
    }
</div>