﻿@* Copyright 2016-2017 Ellucian Company L.P. and its affiliates. *@
<script type="text/javascript">
    var data = @Html.Raw(ViewBag.JSON);
    var errorMessage = "@ViewBag.ErrorMessage";
    var saveConfigUrl = '@Url.Action("SaveLink", "Admin")';
    var usersUrl = '@Url.Action("Users", "Admin")';
    var rolesUrl = '@Url.Action("Roles", "Admin")';
</script>
<script src="@Url.Content("~/Scripts/admin.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/admin.link.js")" type="text/javascript"></script>

<div class="full-width">
    <!-- Page Header Text -->
    <div id="page-description" class="esg-page-header">
        <h2 class="esg-page-header__title">
            @ViewBag.Title
        </h2>
        <a href="@Url.Action("Site", "Admin")" class="esg-page-header__subtitle esg-page-header__subtitle--backlink">
            <span class="esg-icon__container esg-page-header__icon" aria-hidden="true">
                <svg class="esg-icon esg-icon--left">
                    <use xlink:href="#icon-arrow"></use>
                </svg>
            </span>
            @Resources.AdminResources.BackToSitemap
        </a>
    </div>
    <div class="column-nine">
        <section class="section-wrapper no-section-mobile-padding clear-group">
            <h3 class="section-header">@Resources.AdminResources.LinkPropertiesHeader</h3>
            <section class="section-contents clear-group">
                <div class="column-five">
                    <div class="esg-form__group">
                        <label class="esg-form__label">
                            @Resources.AdminResources.ExternalLinkIdLabel
                        </label>
                        <input type="text" class="esg-form__input" name="id" data-bind="value: Id, enable: isNewLink" />
                    </div>
                    <div class="esg-form__group">
                        <label class="esg-form__label">
                            @Resources.AdminResources.ExternalLinkTextLabel
                        </label>
                        <input type="text" class="esg-form__input" name="label" data-bind="value: Text" />
                    </div>
                    <div class="esg-form__group">
                        <label class="esg-form__label">
                            @Resources.AdminResources.ExternalLinkUrlLabel
                        </label>
                        <input type="text" class="esg-form__input" name="url" data-bind="value: Url" />
                    </div>
                    <div class="esg-form__group">
                        <label class="esg-form__label">
                            @Resources.AdminResources.ExternalLinkOrderLabel
                        </label>
                        <input id="order" type="text" class="esg-form__input" name="order" data-bind="value: Order" />
                    </div>
                </div>
            </section>

            @Html.Partial("SecurablePartial")
        </section>
    </div>
</div>
