﻿@* Copyright 2012-2017 Ellucian Company L.P. and its affiliates. *@
@section scripts {
    <script type="text/javascript">
        var data = @Html.Raw(ViewBag.JSON);
        var saveConfigUrl = '@Url.Action("SavePage", "Admin")';
        var usersUrl = '@Url.Action("Users", "Admin")';
        var rolesUrl = '@Url.Action("Roles", "Admin")';
        var messagesUrl = '@Url.Action("Messages", "Admin")';
    </script>
    @Scripts.Render("~/bundles/adminscripts")
    @Scripts.Render("~/bundles/adminpagescripts")
}


<div class="full-width">
    <!-- Page Header Text -->
    <div id="page-description" class="esg-page-header">
        <h2 class="esg-page-header__title">
            @ViewBag.Title
        </h2>
        <a href="@Url.Action("Site", "Admin")" class="esg-page-header__subtitle esg-page-header__subtitle--backlink">
            <span class="esg-icon__container esg-page-header__icon" aria-hidden="true">
                <svg class="esg-icon esg-icon--left">
                    <use xlink:href="#icon-arrow"></use>
                </svg>
            </span>@Resources.AdminResources.BackToSitemap
        </a>
    </div>
    <div class="column-nine">
        <section class="section-wrapper no-section-mobile-padding clear-group">
            <h3 class="section-header">@Resources.AdminResources.PagePropertiesHeader</h3>
            <section class="section-contents clear-group">
                <div class="column-five">
                    <div class="esg-form__group">
                        <label class="esg-form__label" for="pageId">@Resources.AdminResources.SitemapIdLabel</label>
                        <input type="text" class="esg-form__input" id="pageId" name="id" data-bind="value: Id" disabled="true" />
                    </div>
                    <div class="esg-form__group">
                        <label class="esg-form__label" for="pageLabel">@Resources.AdminResources.SitemapLabelLabel</label>
                        <input type="text" class="esg-form__input" id="pageLabel" name="label" data-bind="value: Label" />
                    </div>
                    <div class="esg-form__group">
                        <label class="esg-form__label" for="messageId">@Resources.AdminResources.SitemapMessageLabel</label>
                        <input-autocomplete params="inputId: 'messageId',
                                                inputName: 'messageId',
                                                filterPromiseFactory: filterMessageIds,
                                                filterObservable: MessageId">
                        </input-autocomplete>
                    </div>
                    <div class="esg-form__group">
                        <label class="esg-form__label" for="order">@Resources.AdminResources.SitemapOrderLabel</label>
                        <input id="order" type="text" class="esg-form__input" name="order" data-bind="value: Order" />
                    </div>
                    <div class="esg-form__group">
                        <input type="checkbox" id="hidden" name="hidden" data-bind="checked: Hidden" />
                        <label for="hidden">@Resources.AdminResources.SitemapHiddenLabel</label>
                    </div>
                    <div class="esg-form__group">
                        <label class="esg-form__label" for="area">@Resources.AdminResources.SitemapAreaLabel</label>
                        <input type="text" class="esg-form__input" id="area" name="area" data-bind="value: Area" disabled="true" />
                    </div>
                    <div class="esg-form__group">
                        <label class="esg-form__label" for="controller">@Resources.AdminResources.SitemapControllerLabel</label>
                        <input type="text" class="esg-form__input" id="controller" name="controller" data-bind="value: Controller" disabled="true" />
                    </div>
                    <div class="esg-form__group">
                        <label class="esg-form__label" for="action">@Resources.AdminResources.SitemapActionLabel</label>
                        <input type="text" class="esg-form__input" id="action" name="action" data-bind="value: Action" disabled="true" />
                    </div>
                </div>
            </section>
            @Html.Partial("SecurablePartial")
        </section>
    </div>
</div>