﻿@* Copyright 2012-2017 Ellucian Company L.P. and its affiliates. *@

<h3 class="section-header">@Resources.AdminResources.AllowedRolesHeader</h3>
<section class="section-contents clear-group">
    <div class="column-five">
        <div class="layout-table">
            <div class="layout-table-body" data-bind="foreach: AllowedRoles">
                <div class="layout-table-row">
                    <div class="layout-table-cell" style="vertical-align: middle;" data-bind="text: $data"></div>
                    <div class="layout-table-cell" style="width: 30%;"><button class="esg-button esg-button--secondary" style="margin: 0 0 0.5rem 0.5rem;" data-bind="click: $root.removeRole">Remove</button></div>
                </div>
            </div>
        </div>
        <div class="esg-form__group">
            <label for="roleTitle" class="esg-form__label">@Resources.AdminResources.AddRoleLabel</label>
            <input-autocomplete params="inputId: 'roleTitle',
                                    filterPromiseFactory: filterRoles,
                                    selectionCallback: addRole2,
                                    complexSearch: true,
                                    clearFilterOnSelection: true"></input-autocomplete>
        </div>
    </div>
</section>


<h3 class="section-header">@Resources.AdminResources.AllowedUsersHeader</h3>
<section class="section-contents">
    <div class="clear-group">
        <div class="column-five">
            <div class="layout-table">
                <div class="layout-table-body" data-bind="foreach: AllowedUsers">
                    <div class="layout-table-row">
                        <div class="layout-table-cell" style="vertical-align: middle;" data-bind="text: $data"></div>
                        <div class="layout-table-cell" style="width: 30%;"><button class="esg-button esg-button--secondary" style="margin: 0 0 0.5rem 0.5rem;" data-bind="click: $root.removeUser">Remove</button></div>
                    </div>
                </div>
            </div>
            <div class="esg-form__group">
                <label for="userId" class="esg-form__label">@Resources.AdminResources.AddUserLabel</label>
                <input-autocomplete params="inputId: 'userId',
                                        filterPromiseFactory: filterUsers,
                                        selectionCallback: addUser2,
                                        complexSearch: true,
                                        clearFilterOnSelection: true"></input-autocomplete>
            </div>
        </div>
    </div>
    <div class="button-bar button-bar--margins">
        <input id="save" type="button" class="esg-button esg-button--primary" value="Save" data-bind="click: $root.saveConfig" />
        @if (ViewBag.Deletable != null && ViewBag.Deletable)
        {
            using (Html.BeginForm("DeleteLink", "Admin", new { id = ViewBag.Id }, FormMethod.Post, new { @class = "inline" }))
            {
                @Html.AntiForgeryToken()
                <input id="delete" type="submit" class="esg-button esg-button--secondary" value="Delete" />
            }
        }
    </div>
</section>