﻿@* Copyright 2012-2016 Ellucian Company L.P. and its affiliates. *@
@section scripts {
<script type="text/javascript">
    var data = @Html.Raw(ViewBag.JSON);
    var saveConfigUrl = '@Url.Action("SaveSite", "Admin")';
    var menuBaseUrl = '@Url.Action("Menu", "Admin")';
    var submenuBaseUrl = '@Url.Action("Submenu", "Admin")';
    var pageBaseUrl = '@Url.Action("Page", "Admin")';
    var linkBaseUrl = '@Url.Action("Link", "Admin")';
</script>
    @Scripts.Render("~/bundles/adminscripts")
    @Scripts.Render("~/bundles/adminsitescripts")
}

<script id="rootElement" type="text/html">
    <div class="layout-table-row">
        <div class="layout-table-cell"><a data-bind="attr: { href: menuBaseUrl + '/' + $data.Id, id: $data.Id + '-menu' }"><span class="bold" data-bind="text: $data.Label"></span></a></div>
    </div>
    <div class="layout-table-row">
        <div class="layout-table-cell sitemap-padding left bottom">
            <div class="layout-table" data-bind="template: { name: 'treeElement', foreach: $data.Items }"></div>
        </div>
    </div>
</script>
<script id="submenuRootElement" type="text/html">
    <div class="layout-table-row">
        <div class="layout-table-cell"><a data-bind="attr: { href: submenuBaseUrl + '/' + $data.Id, id: $data.Id + '-submenu' }"><span class="italic" data-bind="text: $data.Label"></span></a></div>
    </div>
    <div class="layout-table-row">
        <div class="layout-table-cell sitemap-padding left bottom">
            <div class="layout-table" data-bind="template: { name: 'treeElement', foreach: $data.Items }"></div>
        </div>
    </div>
</script>
<script id="treeElement" type="text/html">
    <div class="layout-table-row">
        <!-- ko if: $data.ItemType === 0 -->
        <div class="layout-table-cell"><a data-bind="attr: { href: submenuBaseUrl + '/' + $data.Menu.Id, id: $data.Menu.Id + '-submenu' }"><span class="italic" data-bind="text: $data.Menu.Label"></span></a></div>
        <!-- /ko -->
        <!-- ko if: $data.ItemType === 1 -->
        <div class="layout-table-cell"><a data-bind="attr: { href: pageBaseUrl + '/' + $data.Page.Id, id: ($parent.Id ? $parent.Id : $parent.Menu.Id) + '-' + $data.Page.Id + '-page' }"><span data-bind="text: $data.Page.Label"></span></a></div>
        <!-- /ko -->
        <!-- ko if: $data.ItemType === 2 -->
        <div class="layout-table-cell"><a data-bind="attr: { href: linkBaseUrl + '/' + $data.Link.Id, id: $data.Link.Id + '-link'}"><span data-bind="text: $data.Link.Text"></span></a></div>
        <!-- /ko -->
    </div>
    <!-- ko if: $data.ItemType === 0 -->
    <div class="layout-table-row">
        <div class="layout-table-cell sitemap-padding left">
            <div class="layout-table" data-bind="template: { name: 'treeElement', foreach: $data.Menu.Items }"></div>
        </div>
    </div>
    <!-- /ko -->
</script>

<div class="full-width">
    <!-- Page Header Text -->
    <div id="page-description" class="esg-page-header">
        <h2 class="esg-page-header__title">
            Sitemap
        </h2>
        <a href="@Url.Action("Index", "Admin")" class="esg-page-header__subtitle esg-page-header__subtitle--backlink">
            <span class="esg-icon__container esg-page-header__icon" aria-hidden="true">
                <svg class="esg-icon esg-icon--left">
                    <use xlink:href="#icon-arrow"></use>
                </svg>
            </span>Back to Self-Service Administration Home
        </a>
    </div>
    <div class="column-nine admin-page">
        <section class="section-wrapper no-section-mobile-padding">
            <h3 class="section-header">@Resources.AdminResources.MenuHeader</h3>
            <section class="section-contents">
                <div class="layout-table" data-bind="template: { name: 'rootElement', foreach: Menus }"></div>
            </section>

            <h3 class="section-header">@Resources.AdminResources.SubmenuHeader</h3>
            <section class="section-contents">
                <div class="layout-table" data-bind="template: { name: 'submenuRootElement', foreach: Submenus }"></div>
            </section>

            <h3 class="section-header">@Resources.AdminResources.OtherPagesHeader</h3>
            <section class="section-contents">
                <div class="layout-table">
                    <div class="layout-table-body" data-bind="foreach: Pages">
                        <div class="layout-table-row">
                            <div class="layout-table-cell">
                                <!-- ko if: $data.Area -->
                                <span data-bind="text: $data.Area"></span>
                                <!-- /ko -->
                                <!-- ko ifnot: $data.Area -->
                                <span data-bind="text: $data.Controller"></span>
                                <!-- /ko -->
                                - 
                                <a data-bind="attr: { href: pageBaseUrl + '/' + $data.Id, id: $data.Id + '-menu' }"><span data-bind="text: $data.Label"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <h3 class="section-header">@Resources.AdminResources.OtherLinksHeader</h3>
            <section class="section-contents">
                <div class="layout-table">
                    <div class="layout-table-body">
                        <div class="layout-table-row">
                            <div class="layout-table-cell"><a data-bind="attr: { href: linkBaseUrl }" id="add-link"><span class="bold">@Resources.AdminResources.AddLinkText</span></a></div>
                        </div>
                    </div>
                    <div class="layout-table-body" data-bind="foreach: Links">
                        <div class="layout-table-row">
                            <div class="layout-table-cell"><a data-bind="attr: { href: linkBaseUrl + '/' + $data.Id, id: $data.Id + '-link' }"><span data-bind="text: $data.Text"></span></a></div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
</div>
