﻿@* Copyright 2012-2016 Ellucian Company L.P. and its affiliates. *@
@using Ellucian.Web.Student.Models.Admin;

@{
    ViewBag.Title = "Theme Editor";
}

@section styles {
    @Styles.Render("~/Content/adminthemecss")
}

@section scripts {
    @Scripts.Render("~/bundles/adminscripts")
    @Scripts.Render("~/bundles/adminthemescripts")
    <script type="text/javascript">
        var data = @Html.Raw(ViewBag.JSON);
        this.ThemeEditorViewModelInstance = new admin.theme.ThemeEditorViewModel();

        $(document).ready(function () {
            // knockout bindings
            var viewModel = ko.mapping.fromJS(data, admin.theme.themeEditorViewModelMapping, ThemeEditorViewModelInstance);
            ThemeEditorViewModelInstance.errors = ko.validation.group(ThemeEditorViewModelInstance, { deep: true });
            ko.applyBindings(viewModel, document.getElementById("main"));
            ThemeEditorViewModelInstance.handleNotifications();

            // setup accordions
            $(".themeContent").accordion(
            {
                collapsible: true,
                autoHeight: false,
                clearStyle: true
            });
        });
    </script>
}

<div class="full-width">
    @*Page Header*@
    @Html.Partial("_PageHeader", new Ellucian.Web.Student.Models.PageHeaderModel(ViewBag.Title,
        null, Url.Action("Index", "Admin"), Resources.AdminResources.BackToAdminHome))

    <div class="column-nine">
        <section class="section-wrapper section-wrapper-top-border">
            <div class="section-contents primary-contents">
                <div class="themeContent" data-bind="foreach: $data.Theme.ThemeSections()">
                    <h3><a href="#" data-bind="text: $data.Name()"></a></h3>
                    <div>
                        <div data-bind="if: $data.Description(), visible: $data.Description()" style="margin-top:5px; margin-bottom:10px; font-weight:bold;">
                            <span data-bind="text:$data.Description()"></span>
                        </div>
                        <div data-bind="foreach: $data.ThemeRules()">
                            <h4 data-bind="text: $data.Description()"></h4>
                            <div class="edit-container clear-group">

                                <!-- background-color property -->
                                <div class="clear-group">
                                    <div data-bind="if: $data.BackgroundColor() != null">
                                        <label>Background Color</label>
                                        <input class="esg-form__input esg-form__input--inline" type="text" data-bind="textInput: $data.BackgroundColor, colorpicker: $data.BackgroundColor, css: !$data.BackgroundColor.isValid() ? 'error-message' : ''" />
                                        <div class="validationMessage" data-bind="validationMessage: $data.BackgroundColor"></div>
                                    </div>
                                </div>

                                <!-- color property -->
                                <div class="clear-group">
                                    <div data-bind="if: $data.Color() != null">
                                        <label>Color</label>
                                        <input class="esg-form__input esg-form__input--inline" type="text" data-bind="textInput: $data.Color, colorpicker: $data.Color, css: !$data.Color.isValid() ? 'error-message' : ''" />
                                        <div class="validationMessage" data-bind="validationMessage: $data.Color"></div>
                                    </div>
                                </div>
                                <!-- border-color property -->
                                <div class="clear-group">
                                    <div data-bind="if: $data.BorderColor() != null">
                                        <label>Border Color</label>
                                        <input class="esg-form__input esg-form__input--inline" type="text" data-bind="textInput: $data.BorderColor, colorpicker: $data.BorderColor, css: !$data.BorderColor.isValid() ? 'error-message' : ''" />
                                        <div class="validationMessage" data-bind="validationMessage: $data.BorderColor"></div>
                                    </div>
                                </div>
                                <!-- border-left-color property -->
                                <div class="clear-group">
                                    <div data-bind="if: $data.BorderLeftColor() != null">
                                        <label>Border Left Color</label>
                                        <input class="esg-form__input esg-form__input--inline" type="text" data-bind="textInput: $data.BorderLeftColor, colorpicker: $data.BorderLeftColor, css: !$data.BorderLeftColor.isValid() ? 'error-message' : ''" />
                                        <div class="validationMessage" data-bind="validationMessage: $data.BorderLeftColor"></div>
                                    </div>
                                </div>
                                <!-- border-right-color property -->
                                <div class="clear-group">
                                    <div data-bind="if: $data.BorderRightColor() != null">
                                        <label>Border Right Color</label>
                                        <input class="esg-form__input esg-form__input--inline" type="text" data-bind="textInput: $data.BorderRightColor, colorpicker: $data.BorderRightColor, css: !$data.BorderRightColor.isValid() ? 'error-message' : ''" />
                                        <div class="validationMessage" data-bind="validationMessage: $data.BorderRightColor"></div>
                                    </div>
                                </div>
                                <!-- border-top-color property -->
                                <div class="clear-group">
                                    <div data-bind="if: $data.BorderTopColor() != null">
                                        <label>Border Top Color</label>
                                        <input class="esg-form__input esg-form__input--inline" type="text" data-bind="textInput: $data.BorderTopColor, colorpicker: $data.BorderTopColor, css: !$data.BorderTopColor.isValid() ? 'error-message' : ''" />
                                        <div class="validationMessage" data-bind="validationMessage: $data.BorderTopColor"></div>
                                    </div>
                                </div>
                                <!-- border-bottom-color property -->
                                <div class="clear-group">
                                    <div data-bind="if: $data.BorderBottomColor() != null">
                                        <label>Border Bottom Color</label>
                                        <input class="esg-form__input esg-form__input--inline" type="text" data-bind="textInput: $data.BorderBottomColor, colorpicker: $data.BorderBottomColor, css: !$data.BorderBottomColor.isValid() ? 'error-message' : ''" />
                                        <div class="validationMessage" data-bind="validationMessage: $data.BorderBottomColor"></div>
                                    </div>
                                </div>

                                <br />
                                <button class="esg-button esg-button--secondary" data-bind="click: $data.toggleCssSelector, visible: !$data.showRule()">@Resources.AdminResources.ShowCssSelectorLink</button>
                                <button class="esg-button esg-button--secondary" data-bind="click: $data.toggleCssSelector, visible: $data.showRule()">@Resources.AdminResources.HideCssSelectorLink</button>
                                <span data-bind="text: $data.Name(), visible: $data.showRule()"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-bar">
                <button class="esg-button esg-button--primary" data-bind="click: $root.saveTheme, clickBubble:false, disable: ThemeEditorViewModelInstance.errors().length != 0">Save Theme</button>
                <button class="esg-button esg-button--secondary" data-bind="click: $root.restoreDefaultTheme, clickBubble:false">Restore Default Theme</button>
            </div>
        </section>
    </div>
</div>
