﻿<!--Copyright 2016-2017 Ellucian Company L.P. and its affiliates.-->
@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/resourcefileeditorcripts")
}

<!-- Page Header Text -->
<div id="page-description" class="esg-page-header">
    <h2 class="esg-page-header__title">
        @Resources.ResourceFileEditorResources.ResourceFileEditorHeading
    </h2>
    <a href="@Url.Action("Index", "Admin")" class="esg-page-header__subtitle esg-page-header__subtitle--backlink">
        <span class="esg-icon__container esg-page-header__icon" aria-hidden="true">
            <svg class="esg-icon esg-icon--left">
                <use xlink:href="#icon-arrow"></use>
            </svg>
        </span>Back to Self-Service Administration Home
    </a>
</div>

<!-- Resource File Editor -->
<div id="resource-file-editor" class="column-nine">
    <section class="section-wrapper section-wrapper-top-border content-wrapper main-content clear-fix">
        <!-- Add resx -->
        <div class="section-contents primary-contents">
            <!-- Resource File Dropdown -->
            <div class="clear-group">
                <div class="esg-form__group column-two">
                    <label class="esg-form__label" for="resource-file-dropdown">@Resources.ResourceFileEditorResources.ResourceFileDropdownLegend</label>
                    <select id="resource-file-dropdown" class="esg-form__input" data-bind="options: ResourceFilesAvailable(), optionsText: 'Key', optionsValue:'Value', optionsCaption: '@Resources.ResourceFileEditorResources.DropdownCaption', value: SelectedFilePath"></select>
                </div>
                <div class="esg-form__group column-six resource-file-path" data-bind="visible: SelectedFilePath">
                    <div class="esg-form__label">@Resources.ResourceFileEditorResources.ResourceFilePathLegend</div>
                    <div class="resource-file-path__text" data-bind="text: SelectedResourceFile()!=undefined ? RelativeFilePath : ''"></div>
                </div>
                <div class="esg-form__group column-one" data-bind="visible: SelectedFilePath">
                    <input type="submit" data-bind="click: saveResxFile" class="esg-button esg-button--primary" value="@Resources.ResourceFileEditorResources.SaveButtonLabel" />
                </div>
            </div>
            <!-- Resource File Contents -->
            <div id="selected-resource-file-content" data-bind="with:SelectedResourceFile">
                <div id="ResourceItems" data-bind="visible: ResourceFileEntries().length>0">
                    <fieldset>
                        <legend class="offScreen">@Resources.ResourceFileEditorResources.ResourceFileEditorLegend</legend>
                        <table id="resource-file-entries" class="esg-table--table-layout-fixed">
                            <thead>
                                <tr class="text-align-left">
                                    <th class="resource-file-entries__key">@Resources.ResourceFileEditorResources.KeyColumnHeader</th>
                                    <th class="resource-file-entries__value">@Resources.ResourceFileEditorResources.ValueColumnHeader</th>
                                    <th class="resource-file-entries__restore esg-table-head__th--no-border"><span class="offScreen">@Resources.ResourceFileEditorResources.RestoreColumnHeader</span></th>
                                    <th class="resource-file-entries__ellucian-value">@Resources.ResourceFileEditorResources.EllucianValueColumnHeader</th>
                                    <th class="resource-file-entries__comment">@Resources.ResourceFileEditorResources.CommentColumnHeader</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach:ResourceFileEntries">
                                <tr>
                                    <td><label class="resource-file-key__label" data-bind="text: Key, attr: { for: Key() + '-input' }" /></td>
                                    <td>
                                        <div data-bind="css: hasChanged() ? 'esg-has-feedback esg-has-hint' : ''">
                                            <input class="esg-form__input" data-bind="value: Value, style :{ fontWeight: hasChanged() ? 'bold': 'normal' }, attr: { id: Key() + '-input' }" />
                                        </div>
                                    </td>
                                    <td>
                                        <button class="esg-button esg-button--secondary esg-button--small" data-bind="visible: hasChanged(), click: restoreOriginalValue, attr: { id: 'restore-' + Key() }">
                                            <icon params="isVisible: true, icon:'refresh', container: 'dark', size: 'xsmall'"></icon>
                                            @Resources.ResourceFileEditorResources.RestoreButtonLabel
                                        </button>
                                    </td>
                                    <td><span data-bind="text: OriginalValue" /></td>
                                    <td><span data-bind="text: Comment" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </div>
                <modal-spinner id="updating" params="isVisible: $root.isUpdating, message: '@Resources.ResourceFileEditorResources.UpdatingResourceFileEntryMessage'"></modal-spinner>
            </div>

            <modal-spinner id="loading" params="isVisible: isLoading, message: '@Resources.ResourceFileEditorResources.LoadingResourceFileInformationMessage'"></modal-spinner>
        </div>
    </section>
</div>


<modal-dialog params="isVisible: showDialog, title: Ellucian.ResourceFileEditor.Resources.UnsavedChangesDialogTitle, content: $data, buttons: [{ title: Ellucian.ResourceFileEditor.Resources.SaveButtonLabel, callback: $root.saveUnsavedData, isPrimary: true }] ">
    <div class="esg-modal-dialog__body">
        <p>@Resources.ResourceFileEditorResources.UnsavedChangesChangingFile</p>
    </div>
</modal-dialog>
