﻿@import '_mixins.scss';

edit-bank-account-details {

    #bank-details-form {
        margin-top:1.25rem;
    }

    .account-helper-container {

        .account-helper-image {
            position: absolute;
            left: -9999px;
        }

        .account-helper-icon:hover ~ .account-helper-image, .account-helper-icon:focus ~ .account-helper-image, .account-helper-image:hover {
                left: 2em;
                margin-top: 2em;
                z-index: 10;
                width: 350px;

                @include query-small {
                    width: 600px;
                }
                @include query-medium {
                    width: 500px;
                }
            }
    }

    
    .input-lock {
        margin-top: .5em;
    }

    .input-lock:after {
        content: url("../../../../../Content/Images/locked-black.png");
        padding-left: 1em;
    }


    .edit-icon-container {
        cursor: pointer;

        .esg-icon__container {
            float:right;
        }
    }

}
