﻿<span class="offScreen" aria-live="assertive" data-bind="resx: 'BankingInformation.EditAccountDetailsPageLabel'"></span>
<!--ko if: $root.isMobile()-->
<div class="section-header clear-group">
    <h3 data-bind="if: isAdd">
        <span data-bind="resx: 'BankingInformation.AddAccountDetailsTitle'"></span>
    </h3>
    <h3 data-bind="if: !isAdd">
        <span data-bind="resx: 'BankingInformation.EditAccountDetailsPageLabel'"></span>
        <span data-bind="resx: 'BankingInformation.BankAccountLastFourLabel'"></span>
        <span data-bind="text: displayBankAccountLastFour"></span>
    </h3>
</div>
<!-- /ko -->
<!--ko if: !$root.isMobile()-->
<div class="section-header no-border clear-group">
    <h3>
        <span class="column-four column-eight-sm bold" data-bind="text: displayBankName"> </span>
    </h3>
    <h3 class="column-four column-eight-sm" data-bind="visible: !isAdd">
        <span data-bind="resx: 'BankingInformation.BankAccountLastFourLabel'"></span>
        <span data-bind="text: displayBankAccountLastFour"></span>
    </h3>
</div>
<!-- /ko -->
<form id="bank-details-form" autocomplete="off">






    <!-- nickname -->


    <div tabindex="0" class="esg-form__group esg-has-feedback esg-has-error clear-group" data-bind="css: {'esg-has-error': nicknameHasError}, visible: isEditingNickname">
        <label class="esg-form__label" data-bind="resx: 'BankingInformation.BankAccountNicknameLabel'" for="nickname-input"></label>
        <div class="esg-form__input-group" data-bind="css: { 'column-eight column-eight-sm' : !isAdd }">

            <input class="esg-form__input" autocomplete="off" autofocus="autofocus" type="text" maxlength="50"
                   data-bind="attr: {'placeholder': nicknamePlaceholder}, textinput: nicknameInput"
                   id="nickname-input" />
            <div class="esg-form__feedback-icon esg-icon__container" data-bind="visible: nicknameHasError">
                <svg class="esg-icon esg-icon--error">
                    <use xlink:href="#icon-error"></use>
                </svg>
            </div>
        </div>
        <!-- ko ifnot: isAdd -->
        <div class="column-one column-one-sm edit-icon-container" aria-label="toggle nickname edit" tabindex="0" data-bind="click: toggleNicknameEdit">
            <span class="esg-icon__container esg-icon__container--outline">
                <svg class="esg-icon esg-icon--light">
                    <use xlink:href="#icon-check"></use>
                </svg>
            </span>
        </div>
        <!-- /ko -->
        <div class="esg-form__feedback-text"
             data-bind="visible: nicknameHasError, text: nicknameErrorMessage, css: { 'column-eight column-eight-sm' : !isAdd } "></div>
    </div>


    <div class="esg-form__group clear-group" data-bind="visible: !isEditingNickname()">
        <label class="esg-form__label" for="nickname-input-readonly" data-bind="resx: 'BankingInformation.BankAccountNicknameLabel'"></label>

        <span class="esg-form__input column-eight column-eight-sm" data-bind="text: nicknameInput" readonly="readonly" id="nickname-input-readonly" />
        <div class="column-one column-one-sm edit-icon-container" tabindex="0" aria-label="toggle nickname edit" data-bind="click: toggleNicknameEdit">
            <span class="esg-icon__container esg-icon__container--outline">
                <svg class="esg-icon esg-icon--light" data-bind="css: { 'esg-icon--small': $root.isMobile } ">
                    <use xlink:href="#icon-edit"></use>
                </svg>
            </span>
        </div>
    </div>
    <span class="offScreen" data-bind="resx: 'BankingInformation.ReadOnlyEditFieldMessage'"></span>



    <!-- country -->
    <!--ko if: isAdd -->
    <div class="esg-form__group clear-group">
        <label class="esg-form__label" for="bank-country-input"
               data-bind="resx: 'BankingInformation.CountryOfBankLabel', css: {'input-lock': isPayroll}">

        </label>

        <!-- ko if: isPayroll -->
        <span class="esg-form__input" type="text" data-bind="text: bankCountry" readonly="readonly" id="bank-country-input">
        </span>
        <span class="offScreen" data-bind="resx: 'BankingInformation.ReadOnlyEditFieldMessage'"></span>
        <!-- /ko -->
        <!-- ko ifnot: isPayroll -->
        <div class="esg-form__input-group">
            <dropdown params="buttonId: 'bank-country-input',
                                          items: countries,
                                          value: bankCountry,
                                          afterRender: makeCountryInputFluid">

            </dropdown>
        </div>
        <!-- /ko -->
    </div>
    <!-- /ko -->
    <!-- routing id-->
    <div data-bind="visible: showUnitedStatesData">


        <!-- input -->
        <div class="esg-form__group esg-has-feedback clear-group" data-bind="css: routingIdHasError() ? 'esg-has-error' : 'esg-has-hint', visible: isEditingRoutingId">
            <label class="esg-form__label esg-is-required" 
                   for="routing-id-input"
                   data-bind="resx: 'BankingInformation.RoutingNumberLabel'">
            </label>


            <div class="esg-form__input-group" data-bind="css: { 'column-eight column-eight-sm' : !isAdd }">
                <input class="esg-form__input" autocomplete="off" type="text" required="required" id="routing-id-input" data-bind="textinput: routingIdInput, attr: {'aria-required': routingIdNeedsInput }" />
                <div class="esg-form__feedback-icon esg-icon__container">
                    <svg class="esg-icon esg-icon--error" data-bind="visible: routingIdHasError">
                        <use xlink:href="#icon-error"></use>
                    </svg>
                    <svg class="esg-icon esg-icon--info-dark" data-bind="visible: !routingIdHasError()">
                        <use xlink:href="#icon-info"></use>
                    </svg>
                </div>
            </div>
            <!-- ko ifnot: isAdd -->
            <div class="column-one column-one-sm edit-icon-container" aria-label="toggle routing ID edit" tabindex="0" data-bind="click: toggleRoutingIdEdit">
                <span class="esg-icon__container esg-icon__container--outline">
                    <svg class="esg-icon esg-icon--light">
                        <use xlink:href="#icon-check"></use>
                    </svg>
                </span>
            </div>
            <!-- /ko -->

            <div class="esg-form__feedback-text"
                 data-bind="visible: routingIdHasError, text: routingIdErrorMessage,  css: { 'column-eight column-eight-sm' : !isAdd }"></div>


            <div class="esg-form__feedback-text account-helper-container" data-bind="visible: !routingIdHasError(), css: { 'column-eight column-eight-sm' : !isAdd }">

                <!-- ko if: resolvedBankName -->
                <span data-bind="text: resolvedBankName"></span>
                <!-- /ko -->
                <!-- ko ifnot: resolvedBankName -->
                <span data-bind="resx: 'BankingInformation.AccountDetailsRoutingNumberHintText'"></span>
                <!-- /ko -->

                <span class="account-helper-icon esg-icon__container esg-icon__container--fill esg-icon__container--info" data-bind='click: showHideCheckImage'>
                    <svg class="esg-icon esg-icon--xsmall">
                        <use xlink:href="#icon-info"></use>
                    </svg>
                </span>
                <img src='us-check.jpg' class="account-helper-image" data-bind="attr: {alt: usCheckImageAltText}" longdesc="us-check-help" />

            </div>
            <!-- /ko -->
        </div>

        <!-- readonly -->
        <div class="esg-form__group clear-group" data-bind="visible: !isEditingRoutingId()">
            <label class="esg-form__label input-lock" for="routing-id-input-readonly"
                   data-bind="resx: 'BankingInformation.RoutingNumberLabel', css: {'input-lock': accountEditsDisabled }"></label>

            <span id="routing-id-input-readonly" class="esg-form__input column-eight column-eight-sm" data-bind="text: routingIdInput" readonly="readonly" id="routing-id-input" />
            <span class="offScreen" data-bind="resx: 'BankingInformation.ReadOnlyEditFieldMessage'"></span>

            <div class="column-one column-one-sm edit-icon-container" aria-label="toggle routing ID edit" tabindex="0" data-bind="visible: !accountEditsDisabled(), click: toggleRoutingIdEdit">
                <span class="esg-icon__container esg-icon__container--outline">
                    <svg class="esg-icon esg-icon--light" data-bind="css: { 'esg-icon--small': $root.isMobile } ">
                        <use xlink:href="#icon-edit"></use>
                    </svg>
                </span>
            </div>

            <div class="esg-form__feedback-text column-eight column-nine-sm" data-bind="visible: resolvedBankName, text: resolvedBankName"></div>

        </div>
    </div>

    <!-- branch number and institution id-->
    <div data-bind="visible: !showUnitedStatesData()">
        <!-- ko ifnot: accountEditsDisabled -->
        <div class="esg-form__group esg-has-feedback clear-group" data-bind="css: branchNumberHasError() ? 'esg-has-error' : 'esg-has-hint'">
            <label class="esg-form__label esg-is-required" for="branch-number-input"
                   data-bind="resx: 'BankingInformation.BranchLabel'">
            </label>


            <div class="esg-form__input-group " data-bind="css: { 'column-eight column-eight-sm' : !isAdd }">
                <input class="esg-form__input" type="text" required="required" id="branch-number-input" data-bind="textinput: branchNumberInput, attr: {'aria-required': branchNumberNeedsInput }" />
                <div class="esg-form__feedback-icon esg-icon__container">
                    <svg class="esg-icon esg-icon--error" data-bind="visible: branchNumberHasError">
                        <use xlink:href="#icon-error"></use>
                    </svg>
                    <svg class="esg-icon esg-icon--info-dark" data-bind="visible: !branchNumberHasError()">
                        <use xlink:href="#icon-info"></use>
                    </svg>
                </div>
            </div>
            <div class="esg-form__feedback-text" data-bind="visible: branchNumberHasError, text: branchNumberErrorMessage, css: { 'column-eight column-eight-sm' : !isAdd }"></div>
            <div class="esg-form__feedback-text account-helper-container" data-bind="visible: !branchNumberHasError(), css: { 'column-eight column-eight-sm' : !isAdd }">
                <span data-bind="resx: 'BankingInformation.AccountDetailsBranchNumberHintText'"></span>
                <span class="account-helper-icon esg-icon__container esg-icon__container--fill esg-icon__container--info" data-bind='click: showHideCheckImage'>
                    <svg class="esg-icon esg-icon--xsmall">
                        <use xlink:href="#icon-info"></use>
                    </svg>
                </span>
                <img src='canadian-check.jpg' class="account-helper-image" data-bind="attr: {alt: caCheckImageAltText}" longdesc="canada-check-help" />
            </div>
        </div>

        <div class="esg-form__group esg-has-feedback" data-bind="css: institutionIdHasError() ? 'esg-has-error' : 'esg-has-hint'">
            <label class="esg-form__label esg-is-required" for="institution-id-input"
                   data-bind="resx: 'BankingInformation.InstitutionLabel'">
            </label>


            <div class="esg-form__input-group" data-bind="css: { 'column-eight column-eight-sm' : !isAdd }">
                <input class="esg-form__input" type="text" required="required" id="institution-id-input" data-bind="textinput: institutionIdInput, attr: {'aria-required': institutionIdNeedsInput }" />
                <div class="esg-form__feedback-icon esg-icon__container">
                    <svg class="esg-icon esg-icon--error" data-bind="visible: institutionIdHasError">
                        <use xlink:href="#icon-error"></use>
                    </svg>
                    <svg class="esg-icon esg-icon--info-dark" data-bind="visible: !institutionIdHasError()">
                        <use xlink:href="#icon-info"></use>
                    </svg>
                </div>
            </div>
            <div class="esg-form__feedback-text" data-bind="visible: institutionIdHasError, text: institutionIdErrorMessage, css: { 'column-eight column-eight-sm' : !isAdd }"></div>
            <div class="esg-form__feedback-text account-helper-container" data-bind="visible: !institutionIdErrorMessage(), css: { 'column-eight column-eight-sm' : !isAdd }">

                <!-- ko if: resolvedBankName -->
                <span data-bind="text: resolvedBankName"></span>
                <!-- /ko -->
                <!-- ko ifnot: resolvedBankName -->
                <span data-bind="resx: 'BankingInformation.AccountDetailsInstitutionIdHintText'"></span>
                <!-- /ko -->

                <span class="account-helper-icon esg-icon__container esg-icon__container--fill esg-icon__container--info" data-bind='click: showHideCheckImage'>
                    <svg class="esg-icon esg-icon--xsmall">
                        <use xlink:href="#icon-info"></use>
                    </svg>
                </span>
                <img src='canadian-check.jpg' class="account-helper-image" data-bind="attr: {alt: caCheckImageAltText}" longdesc="canada-check-help" />
            </div>
        </div>

        <!-- /ko -->
        <!-- ko if: accountEditsDisabled -->
        <div class="esg-form__group clear-group">
            <label class="esg-form__label input-lock" for="branch-number-input-readonly" data-bind="resx: 'BankingInformation.BranchLabel'"></label>
            <span class="esg-form__input column-eight column-eight-sm" data-bind="text: branchNumberInput" readonly="readonly" id="branch-number-input-readonly" />
            <span class="offScreen" data-bind="resx: 'BankingInformation.ReadOnlyEditFieldMessage'"></span>
        </div>


        <div class="esg-form__group clear-group">
            <label class="esg-form__label input-lock" for="institution-id-input-readonly" data-bind="resx: 'BankingInformation.InstitutionLabel'"></label>
            <span class="esg-form__input column-eight column-eight-sm" data-bind="text: institutionIdInput" readonly="readonly" id="institution-id-input-readonly" />
            <span class="offScreen" data-bind="resx: 'BankingInformation.ReadOnlyEditFieldMessage'"></span>
            <div class="esg-form__feedback-text column-eight column-nine-sm" data-bind="visible: resolvedBankName, text: resolvedBankName"></div>

        </div>


        <!-- /ko -->
    </div>


    <!-- account number -->
    <div class="esg-form__group esg-has-feedback clear-group" data-bind="visible: isEditingAccountNumber, css: accountIdHasError() ? 'esg-has-error' : 'esg-has-hint'">
        <label class="esg-form__label esg-is-required" for="account-number-input"
               data-bind="resx: 'BankingInformation.BankAccountNumberLabel'">
        </label>

        <div data-bind="visible: false" >
            <label for="password-fake">placeholder<input id="password-fake" type="password" /></label>
        </div>

        <div class="esg-form__input-group" data-bind="css: { 'column-eight column-eight-sm' : !isAdd }">
            <input class="esg-form__input" 
                   type="password" 
                   required="required" 
                   id="account-number-input" 
                   autocomplete="off"
                   data-bind="textinput: accountIdInput, attr: {'aria-required': accountIdNeedsInput }" />
            <div class="esg-form__feedback-icon esg-icon__container">
                <svg class="esg-icon esg-icon--error" data-bind="visible: accountIdHasError">
                    <use xlink:href="#icon-error"></use>
                </svg>
                <svg class="esg-icon esg-icon--info-dark" data-bind="visible: !accountIdHasError()">
                    <use xlink:href="#icon-info"></use>
                </svg>
            </div>
        </div>
        <!-- ko ifnot: isAdd -->
        <div class="column-one column-one-sm edit-icon-container" aria-label="toggle account number edit" tabindex="0" data-bind="click: toggleAccountNumberEdit">
            <span class="esg-icon__container esg-icon__container--outline">
                <svg class="esg-icon esg-icon--light">
                    <use xlink:href="#icon-check"></use>
                </svg>
            </span>
        </div>
        <!-- /ko -->
        <div class="esg-form__feedback-text" data-bind="visible: accountIdHasError, text: accountIdErrorMessage, css: { 'column-eight column-eight-sm' : !isAdd }"></div>
        <div class="esg-form__feedback-text account-helper-container" data-bind="visible: !accountIdHasError(), css: { 'column-eight column-eight-sm' : !isAdd }">
            <span data-bind="resx: 'BankingInformation.AccountDetailsAccountNumberHintText'"></span>
            <span class="account-helper-icon esg-icon__container esg-icon__container--fill esg-icon__container--info" data-bind='click: showHideCheckImage'>
                <svg class="esg-icon esg-icon--xsmall">
                    <use xlink:href="#icon-info"></use>
                </svg>
            </span>
            <!-- ko if: showUnitedStatesData -->
            <img src='us-check.jpg' class="account-helper-image" data-bind="attr: {alt: usCheckImageAltText}" longdesc="us-check-help" />

            <!-- /ko-->
            <!-- ko ifnot: showUnitedStatesData -->
            <img src='canadian-check.jpg' class="account-helper-image" data-bind="attr: {alt: caCheckImageAltText}" longdesc="canada-check-help" />
            <!-- /ko -->
        </div>
    </div>

    <!-- account number re-entry -->
    <div class="esg-form__group esg-has-feedback clear-group" data-bind="visible: isEditingAccountNumber, css: accountIdReentryHasError() ? 'esg-has-error' : 'esg-has-hint'">
        <label class="esg-form__label esg-is-required" for="account-number-reentry-input"
               data-bind="resx: 'BankingInformation.BankAccountNumberReentryLabel'">
        </label>


        <div class="esg-form__input-group" data-bind="css: { 'column-eight column-eight-sm' : !isAdd }">
            <input class="esg-form__input" 
                   type="password" 
                   required="required" 
                   autocomplete="off"
                   id="account-number-reentry-input" 
                   data-bind="textinput: accountIdReentryInput, attr: {'aria-required': accountIdReentryNeedsInput }" />
            <div class="esg-form__feedback-icon esg-icon__container">
                <svg class="esg-icon esg-icon--error" data-bind="visible: accountIdReentryHasError">
                    <use xlink:href="#icon-error"></use>
                </svg>
                <svg class="esg-icon esg-icon--info-dark" data-bind="visible: !accountIdReentryHasError()">
                    <use xlink:href="#icon-info"></use>
                </svg>
            </div>
        </div>
        <div class="esg-form__feedback-text" data-bind="visible: accountIdReentryHasError, text: accountIdReentryErrorMessage, css: { 'column-eight column-eight-sm' : !isAdd }"></div>
        <div class="esg-form__feedback-text account-helper-container" data-bind="visible: !accountIdReentryHasError(), css: { 'column-eight column-eight-sm' : !isAdd }">
            <span data-bind="resx: 'BankingInformation.AccountDetailsAccountNumberHintText'"></span>
            <span class="account-helper-icon esg-icon__container esg-icon__container--fill esg-icon__container--info" data-bind='click: showHideCheckImage'>
                <svg class="esg-icon esg-icon--xsmall">
                    <use xlink:href="#icon-info"></use>
                </svg>
            </span>
            <!-- ko if: showUnitedStatesData -->
            <img src='us-check.jpg' class="account-helper-image" data-bind="attr: {alt: usCheckImageAltText}" longdesc="us-check-help" />

            <!-- /ko-->
            <!-- ko ifnot: showUnitedStatesData -->
            <img src='canadian-check.jpg' class="account-helper-image" data-bind="attr: {alt: caCheckImageAltText}" longdesc="canada-check-help" />
            <!-- /ko -->
        </div>
    </div>



    <div class="esg-form__group clear-group" data-bind="visible: !isEditingAccountNumber()">
        <label class="esg-form__label input-lock" for="account-number-input-readonly" data-bind="css: {'input-lock' : accountEditsDisabled },resx: 'BankingInformation.AccountDetailsAccountNumberDisplayOnlyLabel'"></label>
        <span class="esg-form__input column-eight column-eight-sm" data-bind="text: displayBankAccountLastFour" readonly="readonly" id="account-number-input-readonly" />
        <span class="offScreen" data-bind="resx: 'BankingInformation.ReadOnlyEditFieldMessage'"></span>

        <div class="column-one column-one-sm edit-icon-container" tabindex="0" aria-label="toggle account number edit" data-bind="visible: !accountEditsDisabled(), click: toggleAccountNumberEdit">
            <span class="esg-icon__container esg-icon__container--outline">
                <svg class="esg-icon esg-icon--light" data-bind="css: { 'esg-icon--small': $root.isMobile } ">
                    <use xlink:href="#icon-edit"></use>
                </svg>
            </span>
        </div>
    </div>




    <div class="esg-form__group clear-group" data-bind="visible: isEditingAccountType">
        <label class="esg-form__label" for="account-type-input"
               data-bind="resx: 'BankingInformation.AccountTypeLabel', css: { 'input-lock' : accountEditsDisabled}">
        </label>

        <div class="esg-form__input-group" data-bind="visible: isEditingAccountType, css: { 'column-eight column-eight-sm' : !isAdd }">
            <dropdown params="buttonId: 'account-type-input',
                                          items: accountTypes,
                                          itemsText: 'name',
                                          value: accountTypeInput,
                                          afterRender: makeCountryInputFluid">

            </dropdown>
        </div>

        <!-- ko ifnot: isAdd -->
        <div class="column-one column-one-sm edit-icon-container" aria-label="toggle account type edit" tabindex="0" data-bind="click: toggleEditAccountType">
            <span class="esg-icon__container esg-icon__container--outline">
                <svg class="esg-icon esg-icon--light">
                    <use xlink:href="#icon-check"></use>
                </svg>
            </span>
        </div>
        <!-- /ko -->
    </div>

    <div class="esg-form__group clear-group" data-bind="visible: !isEditingAccountType()">
        <label class="esg-form__label column-eight" for="account-type-input"
               data-bind="resx: 'BankingInformation.AccountTypeLabel', css: { 'input-lock' : accountEditsDisabled}">
        </label>

        <span class="esg-form__input column-eight column-eight-sm" data-bind="text: accountTypeInput().name" readonly="readonly" id="account-type-input">
        </span>
        <span class="offScreen" data-bind="resx: 'BankingInformation.ReadOnlyEditFieldMessage'"></span>
        <div class="column-one column-one-sm edit-icon-container" aria-label="toggle account type edit" tabindex="0" data-bind="visible: !accountEditsDisabled(), click: toggleEditAccountType">
            <span class="esg-icon__container esg-icon__container--outline">
                <svg class="esg-icon esg-icon--light" data-bind="css: { 'esg-icon--small': $root.isMobile } ">
                    <use xlink:href="#icon-edit">
                    </use>
                </svg>
            </span>
        </div>
    </div>

    <collapsible-group aria-label="toggle terms and conditions paragraph" params="
            titleText: termsAndConditionsTitle,
            isOpen: isAdd">
        <div id="termsAndConditionsBody">
            <p class="break-word" data-bind="html: termsAndConditionsParagraph, 
               attr:{'tabindex': $parent.collapsibleClass() != 'esg-is-collapsed' ? 0 : -1 }">

            </p>
        </div>
    </collapsible-group>


    <div class="esg-checkbox">
        <input id="terms-conditions-check" type="checkbox" data-bind="checked: isTermsAccepted, disable: !isAdd" />
        <label for="terms-conditions-check" data-bind="resx:'BankingInformation.AddAccountTermsAndConditionsAgreementLabel'"></label>
    </div>







</form>





<div id="canada-check-help" class="offScreen">
    <h3>Canadian Cheque Sample</h3>
    <p>The branch transit, financial institution, and account numbers are printed at the bottom of your cheques.<p>
    <p>The branch number is five digits and is usually preceded by the cheque number. If your bank's branch number is less than five digits, enter zeroes in front; for example, 00002.</p>
    <p>The financial institution number is three digits, immediately to the right of the branch number. If your bank's financial institution number is less than three digits, enter zeroes in front; for example, 001.</p>
    <p>The account number usually follows the branch and financial institution numbers.</p>
</div>
<div id="us-check-help" class="offScreen">
    <h3>U.S. Check Sample</h3>
    <p>The routing and account numbers are printed at the bottom of your checks.<p>
    <p>The routing number is nine digits and is usually the first set of numbers.</p>
    <p>The account number is usually the second set of numbers, immediately to the right of the routing number. </p>
</div>