﻿<section class="section-wrapper" data-bind="attr: { id: 'programs-ataglance' + $data.Code().replace(/[^a-z0-9\s]/gi, '') }">
    @Html.Partial("../Programs/ProgramAtAGlance")
</section>
<!-- ko if: $data.Requirements().length > 0 -->
<section class="section-wrapper" data-bind="attr: { id: 'program-requirements' + $data.Code().replace(/[^a-z0-9\s]/gi, '') }">
    <h3 class="section-header primary-header">@Resources.Programs.UiRequirements</h3>
    <div class="section-contents no-section-mobile-padding">@Html.Partial("../Programs/ProgramRequirementsDetails")</div>
</section>
<!-- /ko -->
