﻿@*Copyright 2012-2016 Ellucian Company L.P. and its affiliates.*@
@using Ellucian.Web.Student.Helpers
@{
    ViewBag.Title = Resources.Programs.AreaDescriptionRequirements;
}

@section Styles
{
    @Styles.Render("~/Areas/Planning/Content/PlanningBundlecss")
}


@section Scripts
{
    <script type="text/javascript">
    @if (ViewBag.SelectedProgram != null)
    {
        <text>var selectedProgram = @Html.Raw(ViewBag.SelectedProgram);</text>
    }
    else
    {
        <text>var selectedProgram = "";</text>
    }
    </script>

    @Scripts.Render("~/bundles/myprogressscripts")
}

<div id="page-description" class="esg-page-header">
    <h2 class="esg-page-header__title">
        @Resources.Programs.AreaDescriptionRequirements
    </h2>
    <div id="page-description-other" class="esg-page-header__input">
        @Html.Partial("CourseSearchForm")
    </div>
</div>

<div class="column-nine">

    <!-- Spinner for page loading -->
    <spinner id="spinner" params="isVisible: isLoading(), message: stringPlanningHomeLoadingDataSpinnerMessage"></spinner>

    <div id="myprogress-main">
        <message params="isVisible: noPrograms, message: '@Resources.Programs.NoProgramsMessage', type: 'info'"></message>
        <div style="display: none;" data-bind="visible: Programs()[0] != null">
            @Html.Partial("../DegreePlans/LoadSamplePlanAlertPartial")

            <!-- ko if: ko.utils.unwrapObservable(Notifications).length > 0 && Programs().length == 0 -->
            <!-- ko foreach: Notifications() -->
            <div id="planning-error" class="error" data-bind="text: $data.Message()">
            </div>
            <!-- /ko -->
            <!-- /ko -->
            <!-- If the student doesn't have anything planned, let them load a sample degree plan -->
            <!-- ko if: Programs().length > 0 -->
            <div class="section-wrapper">
                <div class="program-tabs-desktop" id="program-tabs">
                    @Html.Partial("ProgramSelection")
                    <div id="program-list" data-bind="foreach: $data.Programs">
                        <div data-bind="visible: $data.Code() == $parent.CurrentProgram().Code()" class="program-wrapper">
                            <ul class="mobile-nav-tabs" style="display: none;">
                                <li><a data-bind="attr: { 'href' : '#programs-ataglance' + $data.Code().replace(/[^a-z0-9\s]/gi, '') }">@Resources.Programs.UiAtAGlance</a></li>
                                <li><a data-bind="attr: { 'href' : '#program-requirements' + $data.Code().replace(/[^a-z0-9\s]/gi, '') }">@Resources.Programs.UiRequirements</a></li>
                            </ul>
                            @Html.Partial("../Programs/DegreeRequirements")
                        </div>
                    </div>
                </div>
            </div>
            <!-- /ko -->
        </div>
        <modal-spinner id="loading" params="isVisible: isLoading, message: stringEvaluatingProgramSpinner"></modal-spinner>
    </div>
</div>

@Html.Partial("LoadSamplePlanDialog")
@Html.Partial("WhatIfDialog")
