﻿<!-- ko if: $data.Requirements().length == 0 -->
<div class="section-header">
    <message params="isVisible: true, type: 'info', message: '@Resources.Programs.UiNoRequirements' + $data.Title()">
    </message>
</div>
<!-- /ko -->
<!-- ko if: $data.Requirements().length > 0 -->
<!-- ko if: $data.Proposed() == true -->
<div class="section-header temp-program-wrapper">
    <message params="isVisible: $parent.CurrentUserIsStudent(), message: '@Resources.Programs.UiTemporaryProgramMessage'"></message>
    <message params="isVisible: !$parent.CurrentUserIsStudent(), message: '@Resources.Programs.UiTemporaryProgramMessageOtherUser'"></message>
</div>
<!-- /ko -->
<h3 class="section-header primary-header">@Resources.Programs.UiAtAGlance</h3>
<div class="program-stats-wrapper primary-contents clear-group">
    <!-- ko if: MinimumCredits() > 0 || MinimumInstitutionalCredits() > 0 || Requirements().length > 0 -->
    <div class="program-stats-section program-stats-content program-stats-table">
        <div>
            <span>@Resources.Programs.CumulativeGpa</span>
            <span>
                <!-- ko if: !IsCumulativeGpaTooLow() -->
                <span data-bind="text: CumulativeGpa()"></span>
                <span data-bind="visible:MinimumOverallGpa() != 0, text:' ('+ MinimumOverallGpa() + ' required)'"></span>
                <!-- /ko -->
                <!-- ko if: CumulativeGpa() == "" && MinimumOverallGpa() != 0 -->
                <span data-bind="text: '(' + MinimumOverallGpa() + ' required)'">
                </span>
                <!-- /ko -->
                <!-- ko if: IsCumulativeGpaTooLow() && CumulativeGpa() != "" -->
                <icon params="isVisible: true, icon: 'error', color: 'error', size: 'xsmall'"></icon>
                <span class="gpa-too-low" data-bind="text: CumulativeGpa() + ' ('+ MinimumOverallGpa() + ' required)'"></span>
                <!-- /ko -->
            </span>
        </div>

        <message params="isVisible: OverallGpaModificationMessage(), message: OverallGpaModificationMessage, type: 'warning', isSmall: true"></message>

        <div>
            <span>@Resources.Programs.InstitutionGpa</span>
            <span>
                <!-- ko if: !IsInstitutionGpaTooLow() -->
                <span data-bind="text: InstitutionGpa() + ' ('+ MinimumInstitutionGpa() + ' required)'"></span>
                <!-- /ko -->
                <!-- ko if: InstitutionGpa() == "" -->
                <span data-bind="text: '(' + MinimumInstitutionGpa() + ' required)'">
                </span>
                <!-- /ko -->
                <!-- ko if: IsInstitutionGpaTooLow() && InstitutionGpa() != "" -->
                <icon params="isVisible: true, icon: 'error', color: 'error', size: 'xsmall'"></icon>
                <span class="gpa-too-low" data-bind="text: InstitutionGpa() + ' ('+ MinimumInstitutionGpa() + ' required)'"></span>
                <!-- /ko -->
            </span>
        </div>
        <message params="isVisible: InstitutionalGpaModificationMessage(), message: InstitutionalGpaModificationMessage, type: 'warning', isSmall: true"></message>

        <!-- ko if: !Degree().length == 0 -->
        <div>
            <span>@Resources.Programs.UiDegree</span> <span data-bind="text: Degree"></span>
        </div>
        <!-- /ko -->
        <!-- ko if: !Majors().length == 0 -->
        <div>
            <span>@Resources.Programs.UiMajors</span>
            <ul data-bind="foreach: Majors">
                <li><span data-bind="text: $data"></span></li>
            </ul>
        </div>
        <!-- /ko -->
        <!-- ko if: !Minors().length == 0 -->
        <div>
            <span>@Resources.Programs.UiMinors</span>
            <ul data-bind="foreach: Minors">
                <li><span data-bind="text: $data"></span></li>
            </ul>
        </div>
        <!-- /ko -->
        <!-- ko if: !Ccds().length == 0 -->
        <div>
            <span>@Resources.Programs.UiCcds</span>
            <ul data-bind="foreach: Ccds">
                <li><span data-bind="text: $data"></span></li>
            </ul>
        </div>
        <!-- /ko -->
        <!-- ko if: !Specializations().length == 0 -->
        <div>
            <span>@Resources.Programs.UiSpecializations</span>
            <ul data-bind="foreach: Specializations">
                <li><span data-bind="text: $data"></span></li>
            </ul>
        </div>
        <!-- /ko -->
        <div>
            <span>@Resources.Programs.UiDepartments</span>
            <ul data-bind="foreach: Departments">
                <li><span data-bind="text: $data"></span></li>
            </ul>
        </div>
        <div>
            <span>@Resources.Programs.Catalog</span> <span data-bind="text: Catalog"></span>
        </div>
        <div>
            <br />
        </div>
        <div>
            <div class="program-stats-content">@Resources.Programs.UiDescription</div>
            <span data-bind="html: DescriptionShort"></span>
            <!-- ko if: DescriptionShort().length < Description().length -->
            <a href="#" id="description-more-link" aria-label="See Full Description" data-bind="click: OpenDescriptionDialog">@Resources.Programs.UiDescriptionMoreLink</a>
            <div class="program-description-dialog" title="@Resources.Programs.UiDescription" data-bind="jqDialog: DescriptionDialogOptions, dialogOpen: DescriptionDialogIsOpen">
                <div id="program-description-dialog-wrapper">
                    <a class="ui-helper-hidden-accessible" tabindex="0" aria-label="@Resources.Advisors.StartOfProgramDescriptionDialogAria " href="#"></a>
                    <h4 data-bind="text: Title"></h4>
                    <span data-bind="html: DescriptionDisplay"></span>
                </div>
                <div class="button-bar">
                    <input type="button" class="esg-button esg-button--secondary" value="@Resources.Programs.UiCloseDescriptionDialogButtonText" data-bind="click: CloseDescriptionDialog" />
                </div>
            </div>
            <!-- /ko -->
        </div>
        <div>
            <br />
        </div>
        <div>
            <div class="program-stats-content">@Resources.Programs.UiProgramNotes</div>
            <!-- ko if: RetrievedNotices() == false -->
            <a href="#" id="get-evaluation-notices-link" aria-label="@Resources.Programs.ShowProgramNotesAria" data-bind="click: function(data,event) { $parent.GetEvaluationNotices($data.Code(), data, event); }">@Resources.Programs.ProgramNotesShow</a>
            <!-- /ko -->
            <!-- ko if: RetrievedNotices() == true && HasNotices() == true -->
            <a href="#" id="evaluation-notices-link" aria-label="@Resources.Programs.ShowProgramNotesAria" data-bind="click: OpenNoticeDialog">@Resources.Programs.ProgramNotesShow</a>
            <!-- /ko -->
            <modal-dialog id="noticesdialog" params="isVisible:NoticeDialogIsOpen, title:'@Resources.Programs.UiProgramNotes', content :$data">

                <div class="notices-dialog-wrapper">
                    <a class="ui-helper-hidden-accessible" tabindex="0" aria-label="@Resources.Programs.StartOfProgramNotesDialog" href="#"></a>
                    <h4 data-bind="text: Title ">
                        @Resources.Programs.UiProgramNotes
                    </h4>
                    <div class="evaluation-notices" data-bind="foreach: $data.Notices()">
                        <div class="evaluation-notice-block">
                            <div class="evaluation-notice-line" data-bind="foreach: $data.Text">
                                <span data-bind="html: $data"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </modal-dialog>
            <!-- ko if: RetrievedNotices() == true && HasNotices() == false -->
            <div class="evaluation-notices">
                <div class="evaluation-notice-line">
                    <span>@Resources.Programs.NoProgramNotesMessage</span>
                </div>
            </div>
            <!-- /ko -->
        </div>
    </div>
    <div class="program-stats-section">
        <!-- ko if: HasDisclaimer() -->
        <message params="isVisible: HasDisclaimer, message: '@Resources.Programs.DisclaimerText', isSmall: true"></message>
        <!-- /ko -->
        <div class="completion-progress-wrapper">
            <div class="completion-progress program-stats-content">
                @Resources.Programs.ProgramCompletionProgress
                @*<span data-bind="text: '(' + CompletedRequirementCount() + ' of ' + RequiredRequirementCount() + ')'"></span>*@
            </div>
            <div class="completion-progressbar-wrapper" data-bind="jqProgressBar: {parts: ProgramCompletionProgress()}, attr:{'aria-valuetext':CompletionProgressText()}, tooltip: { position: 'top', message: CompletionProgressText()}">
            </div>
        </div>
        <div class="total-credits-wrapper">
            <div class="total-credits program-stats-content">
                @Resources.Programs.TotalCredits<span data-bind="text: '(' + TotalCredits() + ' of '+ MinimumCredits() +')'"></span>
            </div>

            <message params="isVisible: OverallCreditsModificationMessage(), message: OverallCreditsModificationMessage, type: 'warning', isSmall: true"></message>

            <div class="progressbar-wrapper">
                <div data-bind="jqProgressBar: {parts: ProgressParts()}"></div>
            </div>
            <div class="progress-text-right">
                <a href="#" data-bind="text: MinimumCredits, tooltip: { position: 'top', message: MinimumCredits() + ' @Resources.Programs.MinimumCreditsTooltipSuffix' }"></a>
            </div>
        </div>
        <div class="total-credits-school-wrapper">
            <div class="total-credits-school program-stats-content">
                @Resources.Programs.TotalInstitutionalCredits<span data-bind="text: '(' + TotalInstitutionalCredits() +  ' of '+ MinimumInstitutionalCredits() +')'"></span>
            </div>
            <message params="isVisible: InstitutionalCreditsModificationMessage(), message: InstitutionalCreditsModificationMessage, type: 'warning', isSmall: true"></message>

            <div class="progressbar-wrapper">
                <div data-bind="jqProgressBar: {parts: InstitutionalProgressParts()}"></div>
            </div>
            <div class="progress-text-right">
                <a href="#" data-bind="text: MinimumInstitutionalCredits, tooltip: { position: 'top', message: MinimumInstitutionalCredits() + ' @Resources.Programs.MinimumInstitutionalCreditsTooltipSuffix'}"></a>
            </div>
        </div>
    </div>
    <!-- /ko -->
</div>

<!-- /ko -->
