﻿<div class="requirements-details">
    <ul data-bind="foreach: $data.Requirements">
        <li>
            <section class="requirement section-wrapper" data-bind="attr: { id: 'requirement' + $data.Id() }">
                <div class="requirement-header" data-bind="click: $root.showRequirementDetail ">
                    <h4 class="section-header">
                        <span data-bind="text: Description"></span>
                        <span class="arrow arrow-right"></span>
                    </h4>
                    <!-- ko foreach: ModificationMessages -->
                    <message params="isVisible: true, message: $data, isSmall: true, addMargin: $root.isMobile()"></message>
                    <!-- /ko -->
                    <div class="requirement-gpa">
                        <!-- ko if: MinGpa() != null -->
                        <div class="section-contents">
                            <div data-bind="attr:{'class':GpaDisplayClass}">
                                <span data-bind="text: MinGpa"></span><span data-bind="text: Gpa"></span>
                            </div>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: MinInstitutionalCredits() != null -->
                        <div class="section-contents">
                            <div data-bind="attr:{'class':InstitutionalCreditsDisplayClass}">
                                <span data-bind="text: MinInstitutionalCredits"></span><span data-bind="text: InstitutionalCredits"></span>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
                <div class="requirement-animation-wrapper">
                    <div class="backlink backlink-hide">
                        <a href="#" data-bind="click: $root.hideRequirementDetail">@Resources.Programs.BackToRequirements</a>
                    </div>
                    <div class="requirement-header-mobile">

                        <h3 class="section-header">
                            <span data-bind="text: Description"></span>
                            <span class="arrow arrow-right"></span>
                        </h3>
                        <!-- ko foreach: ModificationMessages -->
                        <message params="isVisible: true, message: $data, isSmall: true"></message>
                        <!-- /ko -->
                        <div class="requirement-gpa">
                            <!-- ko if: MinGpa() != null -->
                            <div data-bind="attr:{'class':GpaDisplayClass}"><span data-bind="text: MinGpa"></span><span data-bind="text: Gpa"></span></div>
                            <!-- /ko -->
                            <!-- ko if: MinInstitutionalCredits() != null -->
                            <div data-bind="attr:{'class':InstitutionalCreditsDisplayClass}"><span data-bind="text: MinInstitutionalCredits"></span><span data-bind="text: InstitutionalCredits"></span></div>
                            <!-- /ko -->
                        </div>
                    </div>
                    <section class="requirement-details section-wrapper">
                        <div data-bind="attr: { 'class': DirectiveStyle }">
                            <!-- ko if: CompletionStatus() != "Waived" -->
                            <span data-bind="text: Directive"></span>
                            <!-- /ko -->
                            <span class="requirement-directive-remaining" data-bind="text: StatusDirective"></span>
                            <!-- ko if: CompletionStatus() != "Completed" && CompletionStatus() != "Waived" -->
                            <span data-bind="text: PlanningDirective, attr: {'class': PlanningDirectiveStyle }"></span>
                            <!-- /ko -->
                            <a href="#" data-bind="click: ToggleRequirementDetail, text: requirementsDetailLinkText, attr: {'aria-label': requirementsDetailAriaText() + $data.Description() + ' '}"></a>
                        </div>
                        <!-- ko if: requirementDetailIsDisplayed -->
                        <ul class="subrequirements" data-bind="foreach: $data.Subrequirements">
                            <li>
                                <div>
                                    <span class="subrequirement-code" data-bind="text: CodeText"></span>
                                    <!--ko if: $data.CompletionStatus() == "Waived" -->
                                    <span class="subrequirement-directive-waived" data-bind="text: $data.StatusDirective()"></span>
                                    <!-- /ko -->
                                    <!-- ko if: $parent.CompletionStatus() == "Completed" && $data.CompletionStatus() != "Completed" && $data.CompletionStatus() != "Waived" -->
                                    <span class="subrequirement-directive-nolongerrequired">@Resources.Programs.UiNoLongerRequired</span>
                                    <!-- /ko -->
                                </div>
                                <div class="subrequirement-display-text" data-bind="html: DisplayText">
                                </div>
                                <!-- ko if: $data.MinGpa() != null || $data.MinInstitutionalCredits() != null -->
                                <div class="subrequirement-gpa">
                                    <!-- ko if: $data.MinGpa() != null -->
                                    <div data-bind="attr:{'class':GpaDisplayClass}"><span data-bind="text: MinGpa"></span><span data-bind="text: Gpa"></span></div>
                                    <!-- /ko -->
                                    <!-- ko if: $data.MinInstitutionalCredits() != null -->
                                    <div data-bind="attr:{'class':InstitutionalCreditsDisplayClass}"><span data-bind="text: MinInstitutionalCredits"></span><span data-bind="text: InstitutionalCredits"></span></div>
                                    <!-- /ko -->
                                </div>
                                <!-- /ko -->
                                <div>
                                    <!-- ko if: !($parent.CompletionStatus() == "Completed" && $data.CompletionStatus() != "Completed" && $data.CompletionStatus() != "Waived") -->

                                    <div data-bind="attr: { 'class': DirectiveStyle }">
                                        <!-- ko if: CompletionStatus() != "Waived" -->
                                        <span data-bind="text: Directive"></span>
                                        <!-- /ko -->
                                        <span class="requirement-directive-remaining" data-bind="text: StatusDirective"></span>
                                        <!-- ko if: $data.CompletionStatus() != "Completed" && $data.CompletionStatus() != "Waived" -->
                                        <span data-bind="text: PlanningDirective, attr: {'class': PlanningDirectiveStyle }"></span>
                                        <!-- /ko -->
                                        <a href="#" data-bind="click: ToggleRequirementDetail, text: requirementsDetailLinkText, attr: {'aria-label': requirementsDetailAriaText() + $data.CodeText() + ' '}"></a>
                                    </div>
                                    <!-- ko foreach: ModificationMessages -->
                                    <message params="isVisible: true, message: $data, isSmall: true"></message>
                                    <!-- /ko -->
                                    <!-- ko if: requirementDetailIsDisplayed -->
                                    <ul data-bind="foreach: Groups, attr: { 'class': GroupStyle }">
                                        <li class="group">
                                            <!-- ko if: $parent.CompletionStatus() == "Completed" && $data.CompletionStatus() != "Completed" && $data.CompletionStatus() != "Waived" -->
                                            <div class="group-directive">
                                                <span data-bind="text: Directive"></span><span class="group-directive-remaining">@Resources.Programs.UiNoLongerRequired</span>
                                            </div>
                                            <!-- /ko -->
                                            <!-- ko if: !($parent.CompletionStatus() == "Completed" && $data.CompletionStatus() != "Completed" && $data.CompletionStatus() != "Waived") -->
                                            <div class="group-directive">
                                                <span data-bind="text: Directive"></span>
                                                <!-- ko if: $data.CompletionStatus() != "Completed" && $data.CompletionStatus() != "Waived" && $data.PlanningDirective().length > 0 -->
                                                <span data-bind="text: PlanningDirective, attr: {'class': PlanningDirectiveStyle }"></span>
                                                <!-- /ko -->
                                                <span data-bind="text: StatusDirective, attr: { 'class': DirectiveStyle }"></span>
                                                <span data-bind="text: AdditionalExplanations, attr: { 'class': DirectiveStyle }"></span>
                                                <a href="#" data-bind="click: ToggleGroupDetail, text: requirementsDetailLinkText, attr: {'aria-label': requirementsDetailAriaText() + $data.CodeText() + ' '}"></a>

                                                <!-- ko if: $data.MinGpa() != null -->
                                                <div data-bind="attr:{'class':GpaDisplayClass}"><span data-bind="text: MinGpa"></span><span data-bind="text: Gpa"></span></div>
                                                <!-- /ko -->
                                                <!-- ko if: $data.MinInstitutionalCredits() != null -->
                                                <div data-bind="attr:{'class':InstitutionalCreditsDisplayClass}"><span data-bind="text: MinInstitutionalCredits"></span><span data-bind="text: InstitutionalCredits"></span></div>
                                                <!-- /ko -->
                                            </div>
                                            <!-- /ko -->
                                            <!-- ko foreach: ModificationMessages -->
                                            <message params="isVisible: true, message: $data, isSmall: true"></message>
                                            <!-- /ko -->
                                            <div>
                                                <!-- ko if: groupDetailIsDisplayed -->
                                                <table data-bind="visible: !($parent.CompletionStatus() == 'Completed' && $data.CompletionStatus() != 'Completed' && $data.CompletionStatus() != 'Waived')">
                                                    <caption class="offScreen" data-bind="text: '@Resources.Programs.CreditDetailsForDirectivePrefix' + Directive()">
                                                    </caption>
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                <span>@Resources.Programs.DirectiveTableStatusHeader</span>
                                                            </th>
                                                            <th colspan="2">
                                                                <span>@Resources.Programs.DirectiveTableCourseHeader</span>
                                                                <input type="button" class="esg-button esg-button--secondary esg-button--small esg-button--float-right" value="@Resources.Programs.SearchButtonLabel" data-bind="attr: {'aria-label': '@Resources.Programs.SearchDirectiveCoursesAriaPrefix'+ Directive() }, disable: ($data.HasAcademicCreditBasedRules() || $data.CompletionStatus() == 'Completed' || $data.Id().match(/Group/g)), click: $parents[3].CourseLinkClick, clickBubble: false" />
                                                            </th>
                                                            <th class="group-grade">
                                                                <span>@Resources.Programs.DirectiveTableGradeHeader</span>
                                                            </th>
                                                            <th class="group-term">
                                                                <span>@Resources.Programs.DirectiveTableTermHeader</span>
                                                            </th>
                                                            <th class="group-credits">
                                                                <span>@Resources.Programs.DirectiveTableCreditsHeader</span>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <!-- Loop through applied credits -->
                                                    <tbody data-bind="foreach: $data.AppliedAcademicCredits">
                                                        <tr>
                                                            <td data-bind="css: creditStatusStyle, text: creditStatusText"></td>
                                                            <td>
                                                                <span><a href="#" data-bind="text: CourseName, attr: {'aria-label': '@Resources.Programs.SearchCoursesAriaPrefix '+ CourseName() }, click: $parents[4].CourseLinkClick, clickBubble: false"></a></span>
                                                                <span class="group-repeat-override-notation" data-bind="text: IsExtraCourse()===true? '@Resources.Programs.DisplayAsExtra':''"></span>
                                                            </td>
                                                            <td>
                                                                <span data-bind="text: Title"></span>
                                                                <span class="group-repeat-override-notation" data-bind="text: $data.ReplacementNotation"></span>
                                                                <span class="group-repeat-override-notation" data-bind="text: $data.OverrideNotation"></span>
                                                            </td>
                                                            <td>
                                                                <span data-bind="text: VerifiedGrade"></span>
                                                            </td>
                                                            <td>
                                                                <span data-bind="text: Term"></span>
                                                            </td>
                                                            <td>
                                                                <span data-bind="text: Credit"></span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <!-- Loop through planned credits -->
                                                    <tbody data-bind="foreach: $data.AppliedPlannedCourses">
                                                        <tr>
                                                            <td class="group-planned">
                                                                @Resources.Programs.UiPlanned
                                                            </td>
                                                            <td>
                                                                <span><a href="#" data-bind="text: CourseName, attr: {'aria-label': '@Resources.Programs.SearchCoursesAriaPrefix '+ CourseName() }, click: $parents[4].CourseLinkClick, clickBubble: false"></a></span>
                                                                <span class="group-repeat-override-notation" data-bind="text: IsExtraCourse()===true? '@Resources.Programs.DisplayAsExtra':''"></span>
                                                            </td>
                                                            <td>
                                                                <span data-bind="text: Title"></span>
                                                            </td>
                                                            <td>
                                                                <span></span>
                                                            </td>
                                                            <td>
                                                                <span data-bind="text: Term"></span>
                                                            </td>
                                                            <td colspan="2">
                                                                <span data-bind="text: Credit"></span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <!-- Loop through group Courses and FromCourses that haven't yet been done/planned -->
                                                    <tbody data-bind="foreach: $data.CoursesThatNeedPlanned">
                                                        <tr>
                                                            <!-- ko if: $parent.CompletionStatus() == 'Completed' -->
                                                            <td class="group-notneeded">
                                                                @Resources.Programs.UiNoLongerRequired
                                                            </td>
                                                            <!-- /ko -->
                                                            <!-- ko if: !($parent.CompletionStatus() == 'Completed') -->
                                                            <td class="group-notstarted">
                                                                @Resources.Programs.UiNotStarted
                                                            </td>
                                                            <!-- /ko -->
                                                            <td>
                                                                <span><a href="#" data-bind="text: CourseName, attr: {'aria-label': '@Resources.Programs.SearchCoursesAriaPrefix '+ CourseName() }, click: $parents[4].CourseLinkClick, clickBubble: false"></a></span>
                                                            </td>
                                                            <td>
                                                                <span data-bind="text: Title"></span>
                                                            </td>
                                                            <td>
                                                                <span></span>
                                                            </td>
                                                            <td>
                                                                <span></span>
                                                            </td>
                                                            <td colspan="2">
                                                                <span></span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <!-- Loop through academic credits included in the GPA calculation -->
                                                    <tbody data-bind="foreach: $data.AcademicCreditsIncludedInGPA">
                                                        <tr>
                                                            <td data-bind="css: creditStatusStyle, text: creditStatusText"></td>
                                                            <td>
                                                                <span><a href="#" data-bind="text: CourseName, attr: {'aria-label': '@Resources.Programs.SearchCoursesAriaPrefix'+ CourseName() }, click: $parents[4].CourseLinkClick, clickBubble: false"></a></span>
                                                            </td>
                                                            <td>
                                                                <span data-bind="text: Title"></span>
                                                                <span class="group-repeat-override-notation" data-bind="text: $data.ReplacementNotation"></span>
                                                                <span class="group-gpa-only-notation" data-bind="text: '@Resources.Programs.IncludedInGPAOnly'"></span>
                                                                <span class="group-repeat-override-notation" data-bind="text: $data.OverrideNotation"></span>
                                                            </td>
                                                            <td>
                                                                <span data-bind="text: VerifiedGrade"></span>
                                                            </td>
                                                            <td>
                                                                <span data-bind="text: Term"></span>
                                                            </td>
                                                            <td colspan="2">
                                                                <span data-bind="text: AdjustedGpaCredit"></span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <!-- If not completed or planned AND there are no CoursesthatNeedPlanned, add a "blank" placeholder for searching -->
                                                    <!-- ko if: ($data.AppliedPlannedCourses().length == 0 && $data.AppliedAcademicCredits().length == 0 && $data.CoursesThatNeedPlanned().length == 0) -->
                                                    <tbody>
                                                        <tr>
                                                            <td class="group-notstarted">
                                                                @Resources.Programs.UiNotStarted
                                                            </td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td colspan="2"></td>
                                                        </tr>
                                                    </tbody>
                                                    <!-- /ko -->
                                                </table>
                                                <!-- /ko -->
                                            </div>
                                        </li>
                                    </ul>
                                    <!-- /ko -->
                                    <!-- /ko -->
                                </div>
                            </li>
                        </ul>
                        <!-- /ko -->
                        <!-- /ko -->
                    </section>
                </div>
            </section>
        </li>
    </ul>
    <div class="other-courses">
        <div class="requirement-header" data-bind="attr: { id: 'requirement-header-other' } ">
            <h4 class="section-header">@Resources.Programs.OtherCoursesHeader</h4>
        </div>
        <div class="requirement-details" data-bind="attr: { id: 'requirement-details-other' } ">
            <ul class="subrequirements">
                <li>
                    <div>
                        <ul class="groups-no-list-style">
                            <li class="group">
                                <div>
                                    <!-- ko if: $data.NotAppliedPlannedCredits().length == 0 && $data.NotAppliedAcademicCredits().length == 0 -->
                                    <div class="group-directive">
                                        <span>@Resources.Programs.NoOtherCoursesText</span>
                                    </div>
                                    <!-- /ko -->
                                    <table data-bind="visible: !($data.NotAppliedPlannedCredits().length == 0 && $data.NotAppliedAcademicCredits().length == 0)">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <span>@Resources.Programs.DirectiveTableStatusHeader</span>
                                                </th>
                                                <th colspan="2">
                                                    <span>@Resources.Programs.DirectiveTableCourseHeader</span>
                                                </th>
                                                <th class="group-grade">
                                                    <span>@Resources.Programs.DirectiveTableGradeHeader</span>
                                                </th>
                                                <th class="group-term">
                                                    <span>@Resources.Programs.DirectiveTableTermHeader</span>
                                                </th>
                                                <th class="group-credits">
                                                    <span>@Resources.Programs.DirectiveTableCreditsHeader</span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody data-bind="foreach: $data.NotAppliedAcademicCredits">
                                            <tr>
                                                <!-- ko if: $data.IsCompletedCredit() === true && $data.OtherAttemptedButNotCompleted() === true -->
                                                <td class="group-notstarted">
                                                    @Resources.Programs.UiAttempted
                                                </td>
                                                <!-- /ko -->
                                                <!-- ko if: $data.OtherAttemptedButNotCompleted() === false -->
                                                <td data-bind="css: creditStatusStyle, text: creditStatusText">
                                                </td>
                                                <!-- /ko --> 
                                                <td>
                                                    <span><a href="#" data-bind="text: CourseName, attr: {'aria-label': '@Resources.Programs.SearchCoursesAriaPrefix '+ CourseName() }, click: $parents[1].CourseLinkClick, clickBubble: false"></a></span>
                                                </td>
                                                <td>
                                                    <span data-bind="text: Title"></span>
                                                    <span class="group-repeat-override-notation" data-bind="text: $data.ReplacementNotation"></span>
                                                </td>
                                                <td>
                                                    <span data-bind="text: VerifiedGrade"></span>
                                                </td>
                                                <td>
                                                    <span data-bind="text: Term"></span>
                                                </td>
                                                <td>
                                                    <span data-bind="text: Credit"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tbody data-bind="foreach: $data.NotAppliedPlannedCredits">
                                            <tr>
                                                <td class="group-planned">
                                                    @Resources.Programs.UiPlanned
                                                </td>
                                                <td>
                                                    <span><a href="#" data-bind="text: CourseName, attr: {'aria-label': '@Resources.Programs.SearchCoursesAriaPrefix '+ CourseName() }, click: $parents[1].CourseLinkClick, clickBubble: false"></a></span>
                                                </td>
                                                <td>
                                                    <span data-bind="text: Title"></span>
                                                </td>
                                                <td>
                                                    <span></span>
                                                </td>
                                                <td>
                                                    <span data-bind="text: Term"></span>
                                                </td>
                                                <td>
                                                    <span data-bind="text: Credit"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
