﻿<div class="section-header section-header-left">
    <!-- Program Selection -->
    <div id="program-select-buttons">
        <button id="prev-program" class="esg-button esg-button--secondary esg-button--small" data-bind="click: SelectPreviousProgram, attr: {'aria-label': '@Resources.Programs.UiPreviousProgram', 'alt': '@Resources.Programs.UiPreviousProgram'}, enable: CurrentProgram() !== Programs()[0]"><span class="caret-left"></span></button>
        <button id="next-program" class="esg-button esg-button--secondary esg-button--small" data-bind="click: SelectNextProgram, attr: {'aria-label': '@Resources.Programs.UiNextProgram', 'alt': '@Resources.Programs.UiNextProgram'}, enable: CurrentProgram() !== Programs()[Programs().length-1]"><span class="caret-right"></span></button>
    </div>
    <div id="current-program" data-bind="if: ko.utils.unwrapObservable(CurrentProgram) != 'undefined', css: { 'program-remove-tab': CurrentProgram().Proposed() == true}">
        <!-- ko if: CurrentProgram().Proposed() == true -->
        <a href="#" class="ui-icon ui-icon-circle-close" data-bind="click: function() { RemoveProgramClickHandler() }, attr: { 'alt': 'Remove ' + CurrentProgram().Title(), 'aria-label': 'Remove ' + CurrentProgram().Title() }"></a>
        <!-- /ko -->
        <h3 id="current-program-text" class="clear-group bold" data-bind="text: CurrentProgram().Title()"></h3>
        <span id="current-program-index" data-bind="text: '(' + (Programs.indexOf(CurrentProgram())+1) + ' of ' + Programs().length + ' programs)'"></span>
    </div>
    <div id="whatif-wrapper">
        <a href="#" id="whatif" data-bind="click: OpenWhatIfDialog">@Resources.Programs.UiWhatIfButtonLabel</a>
    </div>
    <!-- ko if: typeof DegreePlan() !== 'undefined' && DegreePlan().HasPlannedCourses() && DegreePlan().IsLoadSamplePlanAllowed() == true -->
    <!-- ko with: loadSamplePlanInstance -->
    <input id="load-sample-plan-button" class="esg-button esg-button--secondary esg-button--small" type="button" value="@Resources.Programs.UiLoadSampleDegreePlan" data-bind="click: toggleDialog, visible: CanAdvisorModifyPlan() == true" />
    <!-- /ko -->
    <!-- /ko -->
</div>