﻿<!-- ko ifnot: $root.isMobile -->
<table class="esg-table esg-table--table-layout-fixed">
    <tbody>
        <tr>
            <td class="esg-table-body__td--vertical-align-top esg-table-body__td--white-space-normal">
                <label>
                    <span class="offScreen" data-bind="resx: 'TimeSheet.WorkTypeSelectLabel'"></span>
                    <span class="column-eight" data-bind="text: selectedWorkType().Description"></span>
                </label>
            </td>
            <!-- ko foreach: DailyTimeEntryGroupList -->
            <td class="esg-table-body__td--vertical-align-top">

                <daily-time-entry-group params="dataModel: $data,
                                    dailyTimeEntryType: $parent.dailyTimeEntryType,
                                    isReadOnly: $parent.isReadOnly,
                                    onDailyTimeEntryChange: $parent.dailyTimeEntryChangeHandler">

                </daily-time-entry-group>


            </td>
            <!-- /ko -->
            <td class="esg-table-body__td--vertical-align-top text-align-right">
                <span class="offScreen" data-bind="text: 'Total weekly time for work type ' + selectedWorkType().Description()"></span>
                <div data-bind="text: totalTime().toFixed(2)" class="daily-time-entry-row__total"></div>
            </td>
        </tr>
    </tbody>
</table>
<!-- /ko -->
<!-- ko if: $root.isMobile -->
<div data-bind="if: $root.isMobile">
    <span class="offScreen" data-bind="resx: 'TimeSheet.WorkTypeSelectLabel'"></span>
    <span class="block daily-time-entry-row__work-type-description" data-bind="text: selectedWorkType().Description"></span>
    <!-- ko with: selectedDailyTimeEntryGroup -->
    <daily-time-entry-group params="dataModel: $data,
                                    dailyTimeEntryType: $parent.dailyTimeEntryType,
                                    isReadOnly: $parent.isReadOnly,
                                    onDailyTimeEntryChange: $parent.dailyTimeEntryChangeHandler">

    </daily-time-entry-group>
    <!-- /ko -->
</div>
<!-- /ko -->