﻿<!-- Copyright 2016-2017 Ellucian Company L.P. and its affiliates. -->
<div class="clear-group time-sheet-action-bar">

    <!-- ko ifnot: $root.isMobile-->

    <div class="esg-pagination">
        <div class="esg-pagination__paginator full-width text-align-center">
            <div class="esg-pagination__controls--back esg-button-group" role="group" aria-label="button group" data-bind="visible: isPreviousTimecardEnabled">
                <a class="esg-button esg-button--secondary" role="button" data-bind="attr: { href: previousHref, title: previousWeekButtonTitle }">
                    <label class="offScreen" data-bind="text: previousWeekButtonTitle"></label>
                    <div class="esg-button__icon esg-icon__container" aria-hidden="True">
                        <svg class="esg-icon esg-icon--left">
                            <use xlink:href="#icon-arrow"></use>
                        </svg>
                    </div>
                </a>
            </div>

            <div class="esg-form__group" aria-live="assertive">
                <h4 data-bind="text: weekDisplay"></h4>
                <div data-bind="text: totalHoursDisplay"></div>
            </div>

            <div class="esg-pagination__controls--forward esg-button-group" role="group" aria-label="button group" data-bind="visible: isNextTimecardEnabled">
                <a class="esg-button esg-button--secondary" role="button" data-bind="attr: { href: nextHref, title: nextWeekButtonTitle }">
                    <label class="offScreen" data-bind="text:nextWeekButtonTitle"></label>
                    <div class="esg-button__icon esg-icon__container" aria-hidden="True">
                        <svg class="esg-icon esg-icon--right">
                            <use xlink:href="#icon-arrow"></use>
                        </svg>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- /ko -->


    <auto-save params="isMobile: isMobile"></auto-save>


    <!--Select Day only appears when state is Mobile-->
    <!-- ko if: isMobile -->
    <div class="mobile-select-day clear-group">
        <div>
            <label>
                <span data-bind="resx: 'TimeSheet.MobileDaySelectorLabel'"></span>
                <dropdown params="items: mobileDaySelectorDates, value: selectedDate, itemsText: getDayPickerString, afterRender: postProcessDropdown"></dropdown>
            </label>

        </div>
    </div>
    <!-- ko if: mobileNotificationMessage() -->
    <message class="inline-block" params="isVisible: true,
                 message: mobileNotificationMessage().message,
                 type: mobileNotificationMessage().type">

    </message>
    <!-- /ko -->
    <!-- /ko -->
    <!-- ko ifnot: isMobile -->
    <!-- ko foreach: timeSheetErrorMessages -->
    <message class="inline-block" params="isVisible: true,
                 message: $data,
                 type: 'error'">

    </message>
    <!-- /ko -->
    <!-- /ko -->

</div>
<div class="phantom-time-sheet-action-bar"></div>


