﻿@import '_mixins.scss';
@import '_colors.scss';

action-bar {
    .action-bar-title {
        padding-left: 3em;
        padding-right: 3em;
        vertical-align: middle;
    }

    auto-save {
        float: right;

        @include query-small {
            position: absolute;
            right: 2rem;
        }

        @include query-small {
            .auto-save-label {
                display: none;
            }
        }

        @include query-medium {
            .auto-save-label {
                display: initial;
            }
        }
    }

    .time-sheet-action-bar {
        padding: .5em 1.5em;
        background: $color-base-95;
    }

    .time-sheet-action-bar > div > span:first-child {
        line-height: 3em;
        white-space: nowrap;
    }

    .time-sheet-action-bar.stick {
        position: fixed;
        top: 0;
        z-index: 1000;
        padding-bottom: 1em;
        box-shadow: 0 1px 10px 1px $color-base-50;
    }

    .mobile-select-day {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}
