﻿<div data-bind="visible: isVisible, css: wrapperClass">
    <div class="esg-spinner-wrapper">
        <div class="esg-spinner"></div>
    </div>
    <!-- ko if: showMessage -->
    <h2 class="css-spinner-wrapper__message" data-bind="html: message"></h2>
    <!-- /ko -->
</div>