﻿<!-- Copyright 2016 Ellucian Company L.P. and its affiliates. -->
<h3>
    <a href="#">How do I access the student that I want to work with?</a>
</h3>
<div>
    <p>
        Enter the student's first and last name in the search box and press <span class="bold">Enter</span>.  You can look up a student by name using the following formats:
        <br />
        <br />
        First Last
        <br />
        First Middle Last
        <br />
        Last, First
        <br />
        Last, First Middle
        <br />
        <br />
        If you know the student's ID number, you can enter that in the search box instead of the student's name.
        <br />
        <br />
        Click on the student’s name when it is displayed in the results box to access the student’s information.
    </p>
</div>
<h3>
    <a href="#">How do I switch to a different student?</a>
</h3>
<div>
    <p>
        Click on <span class="bold">@Resources.FinanceResources.ChangeUserLabelText</span> to access the search page where you can look up another student.
        <br />
        <br />
        After searching for a student, click on the student’s name when it is displayed in the results box to access the student’s information.
    </p>
</div>
