﻿<!-- Copyright 2016 Ellucian Company L.P. and its affiliates. -->
<hr />
<br />
<div class="primary-contents">

    <table id="person-search-results">
        <thead>
            <tr>
                <td class="column-5-per"><span class="offScreen">@Resources.SiteResources.TablePhotoLabel</span></td>
                <!-- ko ifnot: $root.isMobile()-->
                <th class="column-45-per">@Resources.FinanceResources.PersonSearchResultsAccountHolderColumnHeader</th>
                <!-- /ko -->
                <th class="column-45-per">@Resources.FinanceResources.PersonSearchResultsIdColumnHeader</th>
                <!-- ko ifnot: $root.isMobile()-->
                <td class="column-5-per"><span class="offScreen">@Resources.SiteResources.EmptyTableHeader</span></td>
                <!-- /ko -->
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach: SearchResults() -->
            <tr tabindex="0" data-bind="template: { name: 'search-result-template', data: $data }, click: $root.selectResult, treatAsLink: {}, css: { 'search-results-link': !$data.HasPrivacyRestriction, 'search-results-link-unclickable': $data.HasPrivacyRestriction }"></tr>
            <!-- /ko -->
        </tbody>
    </table>
</div>

<script type="text/html" id="search-result-template">
    <td data-bind="attr: { 'data-role' : MobileHeader }">
        <profile-photo params="id: Id, altText: PhotoAltText, size: 'medium'"></profile-photo>
    </td>
    <!-- ko ifnot: $root.isMobile()-->
    <td>
        <div data-bind="text: Name"></div>
        <!-- ko if: PrivacyMessage -->
        <div>
            <icon params="isVisible: true, icon: 'info', size: 'xsmall', color: 'neutral'"></icon>
            <span id="privacy-message" data-bind="text: PrivacyMessage"></span>
        </div>
        <!-- /ko -->
    </td>
    <!-- /ko -->
    <td data-bind="text: Id"></td>
    <!-- ko ifnot: $root.isMobile()-->
    <td class="text-align-right">
        <!-- ko if: !HasPrivacyRestriction -->
        <a href="#" tabindex="-1" class="offScreen" data-bind="click: $root.selectResult, text: OffscreenText"></a>
        <span class="arrow arrow-right"></span>
        <!-- /ko -->
    </td>
    <!-- /ko -->
</script>

