﻿@* Copyright 2016-2017 Ellucian Company L.P. and its affiliates. *@

<!-- Consent Required warning message -->
<message params="isVisible: !consentProcessed(), message: $root.paymentPlanWarningMessage(), type: 'warning'"></message>

<!-- Approval information -->
<message id="print-advisory" params="isVisible: consentProcessed, message: printAdvisoryMessage(), type: 'info'"></message>

<!-- Acknowledgement Date/Time -->
<div class="clear-group">
    <div id="ackDateTime" class="float-left">
        <div class="date" aria-label="@Resources.FinanceResources.AcknowledgementDateTimeLabel">
            <span data-bind="date: DisplayTimestamp(), format: 'd'">&nbsp;</span>
            <span>@Resources.SharedConstants.Word_At</span>
            <span data-bind="date: DisplayTimestamp(), format: 't'"></span>
        </div>
    </div>
</div>

<!-- Message to Student -->
<!-- ko ifnot: consentProcessed() -->
<div id="studentMessage" data-bind="foreach: AcknowledgementText">
    <span data-bind="text: $data"></span>
</div>
<!-- /ko -->
<!-- Main Payment Plan Content -->
<div class="clear-group" data-bind="visible: !DisplayPaymentPlan.ErrorMessage">
    <!-- Plan Summary Information-->
    <div class="column-four" data-bind="with: DisplayPaymentPlan">
        <div id="proposedPaymentPlanDetails" class="clear-group">
            <table id="proposedPlanDetails">
                <caption data-bind="css: { 'esg-table--caption__headless' : Id }">@Resources.ImmediatePaymentResources.PaymentPlanSummaryHeaderLabel</caption>
                <tbody>
                    <tr data-bind="visible: Id" class="">
                        <td data-bind="visible: !$root.isMobile()">@Resources.FinanceResources.PlanIdentifierLabel</td>
                        <td id="planId" data-bind="text: Id, attr: { 'data-role': '@Resources.FinanceResources.PlanIdentifierLabel'}" class="text-align-right"></td>
                    </tr>
                    <tr>
                        <td data-bind="visible: !$root.isMobile()">@Resources.ImmediatePaymentResources.PaymentPlanStudentLabel</td>
                        <td id="studentIdName" data-bind="text: PlanDisplayName, attr: { 'data-role': '@Resources.ImmediatePaymentResources.PaymentPlanStudentLabel'}" class="text-align-right"></td>
                    </tr>
                    <tr>
                        <td data-bind="visible: !$root.isMobile()">@Resources.FinanceResources.TermLabel</td>
                        <td id="studentIdName" data-bind="text: PlanDisplayTerm, attr: { 'data-role': '@Resources.FinanceResources.TermLabel'}" class="text-align-right"></td>
                    </tr>
                    <tr>
                        <td data-bind="visible: !$root.isMobile()">@Resources.AccountActivityResources.PayPlanInfoPlanOrigAmountLabel</td>
                        <td id="origAmount" data-bind="currency: CurrentAmount, negativePattern: 1, attr: { 'data-role': '@Resources.AccountActivityResources.PayPlanInfoPlanOrigAmountLabel'}" class="text-align-right"></td>
                    </tr>
                    <tr>
                        <td data-bind="visible: !$root.isMobile()">@Resources.ImmediatePaymentResources.PaymentPlanNumberOfPaymentsLabel</td>
                        <td id="numPayments" data-bind="text: NumberOfPayments, attr: { 'data-role': '@Resources.ImmediatePaymentResources.PaymentPlanNumberOfPaymentsLabel'}" class="text-align-right"></td>
                    </tr>
                    <tr>
                        <td data-bind="visible: !$root.isMobile()">@Resources.ImmediatePaymentResources.PaymentPlanFrequencyLabel</td>
                        <td id="frequency" data-bind="text: Frequency, attr: { 'data-role': '@Resources.ImmediatePaymentResources.PaymentPlanFrequencyLabel'}" class="text-align-right"></td>
                    </tr>
                    <tr data-bind="visible: LateChargeAmount() !== 0">
                        <td data-bind="visible: !$root.isMobile()">@Resources.ImmediatePaymentResources.PaymentPlanLateChargeLabel</td>
                        <td id="lateAmount" class="value text-align-right" data-bind="currency: LateChargeAmount, negativePattern: 1, attr: { 'data-role': '@Resources.ImmediatePaymentResources.PaymentPlanLateChargeLabel'}"></td>
                    </tr>
                    <tr data-bind="visible: LateChargePercentage() !== 0">
                        <td data-bind="visible: !$root.isMobile()">@Resources.ImmediatePaymentResources.PaymentPlanLatePercentageLabel</td>
                        <td id="latePercentage" class="value text-align-right" data-bind="percentage: LateChargePercentage, attr: { 'data-role': '@Resources.ImmediatePaymentResources.PaymentPlanLatePercentageLabel'}"></td>
                    </tr>
                    <tr data-bind="visible: TotalSetupChargeAmount() !== 0">
                        <td data-bind="visible: !$root.isMobile()">@Resources.AccountActivityResources.PayPlanSchedSetupChargeLabel</td>
                        <td id="setupFee" class="value text-align-right" data-bind="currency: TotalSetupChargeAmount, negativePattern: 1, attr: { 'data-role': '@Resources.AccountActivityResources.PayPlanSchedSetupChargeLabel'}"></td>
                    </tr>
                    <tr>
                        <td data-bind="visible: !$root.isMobile()">@Resources.ImmediatePaymentResources.PaymentPlanTotalAmountLabel</td>
                        <td id="totalPlanAmount" class="value text-align-right" data-bind="currency: PlanTotalAmount, negativePattern: 1, attr: { 'data-role': '@Resources.ImmediatePaymentResources.PaymentPlanTotalAmountLabel'}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="column-one">&nbsp;</div>
    <!-- Plan Schedule -->
    <div class="column-four" data-bind="with: DisplayPaymentPlan">
        <div id="proposedPaymentPlanSchedule_" class="clear-group">
            <table id="proposedPlanSchedule">
                <caption class="esg-table--caption__headless">@Resources.ImmediatePaymentResources.PaymentPlanScheduleHeaderLabel</caption>
                <tbody data-bind="foreach: ScheduledPayments">
                    <tr>
                        <td data-bind="visible: !$root.isMobile(), text: DueDate"></td>
                        <td data-bind="currency: Amount, attr: { 'data-role': DueDate}" class="text-align-right"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Down Payment Message -->
<message id="down-payment-message" params="type: 'success', isVisible: downPaymentWarning(), message: downPaymentWarning"></message>

<!-- Terms & Conditions -->
<div id="tc-container">
    <div id="termsAndConditionsHeader">
        <h3>@Resources.ImmediatePaymentResources.PaymentPlanTermsAndConditionsLabel</h3>
    </div>
    <div id="tcArea">
        <label class="offScreen" for="tcText">@Resources.ImmediatePaymentResources.PaymentPlanTermsAndConditionsLabel</label>
        <textarea id="tcText" class="esg-form__input" readonly="readonly" data-bind="text: PlanTermsAndConditionsText()"></textarea>
        <div id="printTcText" data-bind="text: PlanTermsAndConditionsText()"></div>
    </div>
</div>

<!-- Agree Checkbox or Plan Terms Approval Information -->
<div id="agreeCheck" class="esg-modal-dialog__section" data-bind="visible: !consentProcessed()">
    <input id="agreeCheckbox" type="checkbox" data-bind="checked: $root.termsAndConditionsAccepted" />
    <label for="agreeCheckbox">@Resources.PaymentResources.CreatePaymentPlanAgreeCheckboxLabel</label>
</div>

<!-- Approval information -->
<message id="planApprovalInfo" params="isVisible: consentProcessed, message: $root.ApprovalInformationMessage(), type: 'success'"></message>
