﻿<!-- Copyright 2014-2016 Ellucian Company L.P. and its affiliates. -->
<!-- Acknowledgement text -->
<!-- ko if: AcknowledgementText -->
<div id="acknowledgement-text" data-bind="visible: AcknowledgementText">
    <div data-bind="foreach: AcknowledgementText">
        <span data-bind="html: $data"></span>
        <br />
    </div>
</div>
<!-- /ko -->
<hr />
<!-- Payment Information -->
<div id="tableWrapper">
    <!-- Header -->
    <table id="headerBlock" class="section-contents">
        <caption>@Resources.PaymentResources.ReceiptInformationLabel</caption>
        <thead>
            <tr>
                <th>@Resources.PaymentResources.ReceiptNumberLabel</th>
                <th>@Resources.PaymentResources.DateTimeLabel</th>
                <th>@Resources.PaymentResources.MerchantLabel</th>
                <th>@Resources.PaymentResources.PayerLabel</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-bind="text: ReceiptNumber"></td>
                <td data-bind="date: ReceiptDate, format: 'G'"></td>
                <td>
                    <div data-bind="foreach: Merchant">
                        <span data-bind="text: $data"></span><br />
                    </div>
                </td>
                <td data-bind="text: PayerName"></td>
            </tr>
        </tbody>
    </table>
    <!-- End Header -->
    <!-- AR Payments -->
    <table id="accountPayments" data-bind="visible: displayPayments()">
        <caption>@Resources.PaymentResources.AccountPaymentsLabel</caption>
        <thead>
            <tr>
                <th>@Resources.PaymentResources.AccountholderLabel</th>
                <th>@Resources.PaymentResources.AccountTypeLabel</th>
                <th>@Resources.FinanceResources.TermLabel</th>
                <!-- ko if: showPaymentsLocation() -->
                <th>@Resources.PaymentResources.LocationLabel</th>
                <!-- /ko -->
                <th>@Resources.FinanceResources.DescriptionLabel</th>
                <th class="ackAmount">@Resources.FinanceResources.AmountLabel</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: Payments">
            <tr>
                <td><span data-bind="text: PersonId"></span> <span data-bind="text: PersonName"></span></td>
                <td data-bind="text: Description"></td>
                <td data-bind="text: TermDescription"></td>
                <!-- ko if: $parent.showPaymentsLocation() -->
                <td data-bind="text: LocationDescription"></td>
                <!-- /ko -->
                <td data-bind="text: PaymentDescription"></td>
                <td class="colAmount" data-bind="currency: NetAmount, negativePattern: 1"></td>
            </tr>
        </tbody>
    </table>
    <!-- End AR Payments -->
    <!-- AR Deposits -->
    <table id="arDeposits" data-bind="visible: displayDeposits()">
        <caption>@Resources.PaymentResources.DepositPaymentsLabel</caption>
        <thead>
            <tr>
                <th>@Resources.PaymentResources.AccountholderLabel</th>
                <th>@Resources.PaymentResources.DepositTypeLabel</th>
                <th>@Resources.FinanceResources.TermLabel</th>
                <!-- ko if: showDepositsLocation() -->
                <th>@Resources.PaymentResources.LocationLabel</th>
                <!-- /ko -->
                <th class="ackAmount">@Resources.FinanceResources.AmountLabel</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: Deposits">
            <tr>
                <td><span data-bind="text: PersonId"></span> <span data-bind="text: PersonName"></span></td>
                <td data-bind="text: Description"></td>
                <td data-bind="text: TermDescription"></td>
                <!-- ko if: $parent.showDepositsLocation() -->
                <td data-bind="text: LocationDescription"></td>
                <!-- /ko -->
                <td class="colAmount" data-bind="currency: NetAmount, negativePattern: 1"></td>
            </tr>
        </tbody>
    </table>
    <!-- End AR Deposits -->
    <!-- Non-AR Items -->
    <table id="nonArItems" data-bind="visible: displayOtherItems()">
        <caption>@Resources.PaymentResources.OtherPaymentsLabel</caption>
        <thead>
            <tr>
                <th>@Resources.PaymentResources.PurposeLabel</th>
                <!-- ko if: showOtherItemsLocation() -->
                <th>@Resources.PaymentResources.LocationLabel</th>
                <!-- /ko -->
                <th class="ackAmount">@Resources.FinanceResources.AmountLabel</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: OtherItems">
            <tr>
                <td data-bind="text: Description"></td>
                <!-- ko if: $parent.showOtherItemsLocation() -->
                <td data-bind="text: LocationDescription"></td>
                <!-- /ko -->
                <td class="colAmount" data-bind="currency: NetAmount, negativePattern: 1"></td>
            </tr>
        </tbody>
    </table>
    <!-- End Non-AR Items -->
    <!-- Convenience Fees -->
    <table id="convFees" data-bind="visible: displayFees()">
        <caption>@Resources.PaymentResources.ConvenienceFeesLabel</caption>
        <thead>
            <tr>
                <th>@Resources.FinanceResources.DescriptionLabel</th>
                <th class="ackAmount">@Resources.FinanceResources.AmountLabel</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: Fees">
            <tr>
                <td data-bind="text: Description"></td>
                <td class="colAmount" data-bind="currency: Amount, negativePattern: 1"></td>
            </tr>
        </tbody>
    </table>
    <!-- End Convenience Fees -->
    <!-- Payments Tendered -->
    <table id="pmtsTendered" data-bind="visible: displayPaymentsTendered()">
        <caption>@Resources.PaymentResources.PaymentsTenderedLabel</caption>
        <thead>
            <tr>
                <th>@Resources.PaymentResources.PaymentMethodLabel</th>
                <th>@Resources.PaymentResources.ControlNumberLabel</th>
                <th>@Resources.PaymentResources.AuthorizationCodeLabel</th>
                <th>@Resources.PaymentResources.TransactionNumberLabel</th>
                <th class="ackAmount">@Resources.FinanceResources.AmountLabel</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: PaymentsTendered">
            <tr>
                <td data-bind="text: PayMethodDescription"></td>
                <td data-bind="text: ControlNumber ? ControlNumber : 'N/A'"></td>
                <td data-bind="text: ConfirmationNumber ? ConfirmationNumber : 'N/A'"></td>
                <td data-bind="text: TransactionNumber"></td>
                <td class="colAmount" data-bind="currency: TransactionAmount, negativePattern: 1"></td>
            </tr>
        </tbody>
    </table>
    <!-- End Payments Tendered -->
    <!-- Change Returned -->
    <table id="change-returned" data-bind="visible: displayChangeReturned()">
        <caption>@Resources.PaymentResources.ChangeReturnedLabel</caption>
        <thead>
            <tr>
                <th>@Resources.PaymentResources.ChangeReturnedText</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="colAmount" data-bind="currency: ChangeReturned, negativePattern: 1"></td>
            </tr>
        </tbody>
    </table>
    <!-- End Change Returned -->
</div>
<!-- End Payment Information -->
<!-- Footer image and text -->
<div id="paymentServicesProvider" class="ipcPmtProvider" data-bind="if: FooterImage">
    <img data-bind="attr: { src: FooterImage }" alt="@Resources.PaymentResources.PaymentServicesProviderLabel" />
    <div data-bind="if: FooterText != null">
        <div data-bind="foreach: FooterText">
            <span data-bind="html: $data"></span>
        </div>
    </div>
</div> 