﻿<!-- Copyright 2015-2016 Ellucian Company L.P. and its affiliates. -->
<message params="isVisible: AlertMessage() && HasData(), message: '<span class=&quot;label&quot;>@Resources.FinanceResources.AlertMessageLabel</span>' + AlertMessage(), addMargin: true, type: 'warning'"></message>