﻿<!-- Copyright 2015-2017 Ellucian Company L.P. and its affiliates. -->
<modal-dialog id="banking-information-dialog" params="title:'@Resources.PaymentResources.RoutingNumberHelpMessage', isVisible: bankingInformationIsDisplayed, content: {}, buttons: [bankingInformationCloseButton], defaultCloseOff: true">
    <div id="webPage">
        <div id="mainBody">
            <div class="banking-information-header">@Resources.PaymentResources.BankAccountAndRoutingNumberHeader</div>
            <div class="customText">
                <div>
                    @Resources.PaymentResources.BankAccountAndRoutingNumberContext
                </div>
                <br />
                <div>
                    @Resources.PaymentResources.BankAccountAndRoutingNumberExplanation
                </div>
            </div>
            <div>
                <div id="banking-information">
                    <div class="banking-info-row">
                        <div class="banking-info-cell"><img alt="Check Sample 1" src="../../Areas/Finance/Content/Images/Check-Image1.jpg" /></div>
                    </div>
                    <div class="banking-info-row">
                        <div class="explanation">@Resources.PaymentResources.RoutingNumberLocationText
                            <span class="offScreen" id="single-bar-label-1">@Resources.PaymentResources.VerticalBarLabelText</span>
                            <span class="bold" aria-hidden="true" aria-labelledby="single-bar-label-1">|:</span>
                        </div>
                        <div class="explanation">@Resources.PaymentResources.AccountNumberLocationText
                            <span class="offScreen" id="double-bar-label-1">@Resources.PaymentResources.DoubleVerticalBarLabelText</span>
                            <span class="bold" aria-hidden="true" aria-labelledby="double-bar-label-1">||'</span>
                        </div>
                    </div>
                    <div class="banking-info-row">
                        <div class="banking-info-cell"><img alt="Check Sample 2" src="../../Areas/Finance/Content/Images/Check-Image2.jpg" /></div>
                    </div>
                    <div class="banking-info-row">
                        <div class="explanation">@Resources.PaymentResources.RoutingNumberLocationText
                            <span class="offScreen" id="single-bar-label-2">@Resources.PaymentResources.VerticalBarLabelText</span>
                            <span class="bold" aria-hidden="true" aria-labelledby="single-bar-label-2">|:</span>
                        </div>
                        <div class="explanation">@Resources.PaymentResources.AccountNumberLocationText
                            <span class="offScreen" id="double-bar-label-2">@Resources.PaymentResources.DoubleVerticalBarLabelText</span>
                            <span class="bold" aria-hidden="true" aria-labelledby="double-bar-label-2">||'</span>
                        </div>
                    </div>
                    <div class="banking-info-row">
                        <div class="banking-info-cell"><img alt="Check Sample 3" src="../../Areas/Finance/Content/Images/Check-Image3.jpg" /></div>
                    </div>
                    <div class="banking-info-row">
                        <div class="explanation">@Resources.PaymentResources.RoutingNumberLocationText
                            <span class="offScreen" id="single-bar-label-3">@Resources.PaymentResources.VerticalBarLabelText</span>
                            <span class="bold" aria-hidden="true" aria-labelledby="single-bar-label-3">|:</span>
                        </div>
                        <div class="explanation">@Resources.PaymentResources.AccountNumberLocationText
                            <span class="offScreen" id="double-bar-label-3">@Resources.PaymentResources.DoubleVerticalBarLabelText</span>
                            <span class="bold" aria-hidden="true" aria-labelledby="double-bar-label-3">||'</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</modal-dialog>
