﻿<!-- Copyright 2015 Ellucian Company L.P. and its affiliates. -->
<div id="ach-helper">
    <p><a href="#" data-bind="click: openBankingInformation">@Resources.PaymentResources.RoutingNumberHelpMessage</a></p>
</div>

<div id="formContainer" class="clear-group">
    <div class="column-four">
        <div id="pmtEntryForm" class="clear-group" data-bind="with: Payment.CheckDetails">
            <div class="contentHeader">
                <h4>@Resources.PaymentResources.ECheckEntryFieldDescription</h4>
            </div>
            <fieldset>
                <legend class="offScreen">@Resources.PaymentResources.ECheckEntryLegendText</legend>   
	            <!-- Routing Number - always required-->
		            <div class="editor-label">
                        <label for="bankNumber" class="esg-is-required">@Resources.PaymentResources.RoutingNumberLabel</label>
                        <span class="offScreen" id="bankNumber-required">@Resources.PaymentResources.RequiredLabel</span>
                    </div>
		            <div class="editor-field bankNumber">
                        <input id="bankNumber" class="esg-form__input" type="text" required title="@Resources.PaymentResources.RoutingNumberLabel" pattern="[0-9]*" data-bind="textInput: AbaRoutingNumber" />
		            </div>
                    <div class="errorArea" data-bind="validationMessage: AbaRoutingNumber"></div>

	            <!-- Bank Account Number - always required-->
		            <div class="editor-label">                      
                        <label for="bankAccount" class="esg-is-required">@Resources.PaymentResources.BankAccountNumberLabel</label>
                        <span class="offScreen" id="bankAccount-required">@Resources.PaymentResources.RequiredLabel</span>
                    </div>
		            <div class="editor-field">
                        <input id="bankAccount" class="esg-form__input" type="text" required title="@Resources.PaymentResources.RoutingNumberLabel" pattern="[0-9]*" data-bind="textInput: BankAccountNumber" />
		            </div>
                <div class="errorArea" data-bind="validationMessage: BankAccountNumber"></div>

	            <!-- Check Number - only needed for guaranteed checks -->
	            <div data-bind="visible: $root.UseGuaranteedChecks">
		            <div class="editor-label">
                        <label for="checkNumber" data-bind="css: { 'esg-is-required': $root.UseGuaranteedChecks }">
                            @Resources.PaymentResources.CheckNumberLabel
                            <!-- ko if: $root.UseGuaranteedChecks -->
                            <span class="offScreen" id="checkNumber-required">@Resources.PaymentResources.RequiredLabel</span>
                            <!-- /ko -->
                        </label>
		            </div>
		            <div class="editor-field">
                        <input id="checkNumber" class="esg-form__input" type="text" title="@Resources.PaymentResources.CheckNumberLabel" pattern="[0-9]*" data-bind="textInput: CheckNumber, attr: {'required': ko.unwrap($root.UseGuaranteedChecks) !== false ? 'required' : null}" />
		            </div>
	            </div>
                <div class="errorArea" data-bind="validationMessage: CheckNumber"></div>

	            <!-- Drivers License Number - only needed for guaranteed checks -->
	            <div data-bind="visible: $root.UseGuaranteedChecks">
		            <div class="editor-label">
                        <label for="driversLicense" data-bind="css: { 'esg-is-required': $root.UseGuaranteedChecks }">
                            @Resources.PaymentResources.DriversLicenseNumberLabel
                            <!-- ko if: $root.UseGuaranteedChecks -->
                            <span class="offScreen" id="driversLicense-required">@Resources.PaymentResources.RequiredLabel</span>
                            <!-- /ko -->
                        </label>	            
                    </div>
		            <div class="editor-field">
                        <input id="driversLicense" class="esg-form__input" type="text" title="@Resources.PaymentResources.DriversLicenseNumberLabel" data-bind="textInput: DriversLicenseNumber, attr: {'required': ko.unwrap($root.UseGuaranteedChecks) !== false ? 'required' : null}" />
		            </div>
	            </div>
                <div class="errorArea" data-bind="validationMessage: DriversLicenseNumber"></div>

	            <!-- Drivers License State - only needed for guaranteed checks -->
	            <div data-bind="visible: $root.UseGuaranteedChecks">
		            <div class="editor-label">
                        <label for="licenseState" data-bind="css: { 'esg-is-required': $root.UseGuaranteedChecks }">
                            @Resources.PaymentResources.DriversLicenseStateLabel
                            <!-- ko if: $root.UseGuaranteedChecks -->
                            <span class="offScreen" id="licenseState-required">@Resources.PaymentResources.RequiredLabel</span>
                            <!-- /ko -->
                        </label>
		            </div>
		            <div class="editor-field">
                        <select id="licenseState" class="esg-form__input" data-bind="attr: {'required': ko.unwrap($root.UseGuaranteedChecks) !== false ? 'required' : null}, options: $root.StateList, optionsText: 'Description', optionsValue: 'Code', optionsCaption: '@Resources.SiteResources.StateProvincePrompt    ', value: DriversLicenseState"></select>
		            </div>
	            </div>
                <div class="errorArea" data-bind="validationMessage: DriversLicenseState"></div>

	            <!-- First Name - always required -->
		            <div class="editor-label">
                        <label for="firstName" class="esg-is-required">@Resources.PaymentResources.FirstNameLabel</label>
                        <span class="offScreen" id="firstName-required">@Resources.PaymentResources.RequiredLabel</span>	
		            </div>
		            <div class="editor-field">
                        <input id="firstName" class="esg-form__input" type="text" required data-bind="textInput: FirstName" />
		            </div>
                    <div class="errorArea" data-bind="validationMessage: FirstName"></div>


	            <!-- Last Name - always required -->
		            <div class="editor-label">
                        <label for="lastName" class="esg-is-required">@Resources.PaymentResources.LastNameLabel</label>
                        <span class="offScreen" id="lastName-required">@Resources.PaymentResources.RequiredLabel</span>
		            </div>
		            <div class="editor-field">
                        <input id="lastName" class="esg-form__input" type="text" required data-bind="textInput: LastName" />
		            </div>
                    <div class="errorArea" data-bind="validationMessage: LastName"></div>


	            <!-- Billing Address line 1 - only required for guaranteed checks -->
		            <div class="editor-label">
                        <label for="addressLine1" data-bind="css: { 'esg-is-required': $root.UseGuaranteedChecks}">
                            @Resources.PaymentResources.BillingAddressLabel
                            <!-- ko if: $root.UseGuaranteedChecks -->
                            <span class="offScreen" id="addressLine1-required">@Resources.PaymentResources.RequiredLabel</span>
                            <!-- /ko -->
                        </label>
		            </div>
		            <div class="editor-field">
                        <input id="addressLine1" class="esg-form__input" type="text" maxlength=30 data-bind="textInput: BillingAddress1, attr: {'required': ko.unwrap($root.UseGuaranteedChecks) !== false ? 'required' : null }" />
		            </div>
                    <div class="errorArea" data-bind="validationMessage: BillingAddress1"></div>

	            <!-- City - only required for guaranteed checks -->
		            <div class="editor-label">
                        <label for="city" data-bind="css: { 'esg-is-required': $root.UseGuaranteedChecks }">
                            @Resources.PaymentResources.CityLabel
                            <!-- ko if: $root.UseGuaranteedChecks -->
                            <span class="offScreen" id="city-required">@Resources.PaymentResources.RequiredLabel</span>
                            <!-- /ko -->
                    </label>
		            </div>
		            <div class="editor-field">
                        <input id="city" class="esg-form__input" type="text" data-bind="textInput: City, attr: {'required': ko.unwrap($root.UseGuaranteedChecks) !== false ? 'required' : null }" />
		            </div>
                    <div class="errorArea" data-bind="validationMessage: City"></div>

	            <!-- State/Province - only required for guaranteed checks -->
		            <div class="editor-label">
                        <label for="stateProvince" data-bind="css: { 'esg-is-required': $root.UseGuaranteedChecks } ">
                            @Resources.PaymentResources.StateLabel
                            <!-- ko if: $root.UseGuaranteedChecks -->
                            <span class="offScreen" id="stateProvince-required">@Resources.PaymentResources.RequiredLabel</span>
                            <!-- /ko -->
                    </label>
		            </div>
		            <div class="editor-field">
                        <select id="stateProvince" class="esg-form__input" data-bind="attr: {'required': ko.unwrap($root.UseGuaranteedChecks) !== false ? 'required' : null }, options: $root.StateList, optionsText: 'Description', optionsValue: 'Code', optionsCaption: '@Resources.SiteResources.StateProvincePrompt    ', value: State"></select>
		            </div>
                    <div class="errorArea" data-bind="validationMessage: State"></div>

	            <!-- ZIP/Postal code - always required -->
		            <div class="editor-label">
                        <label for="postalCode" class="esg-is-required">@Resources.PaymentResources.PostalCodeLabel</label>
                        <span class="offScreen" id="postalCode-required">@Resources.PaymentResources.RequiredLabel</span>
                    </div>
		            <div class="editor-field">
                        <input id="postalCode" class="esg-form__input" type="text" required data-bind="textInput: ZipCode" />
		            </div>
                    <div class="errorArea" data-bind="validationMessage: ZipCode"></div>

	            <!-- Email address - only required for guaranteed checks -->
		            <div class="editor-label">
                        <label for="emailAddress" data-bind="css: { 'esg-is-required': $root.UseGuaranteedChecks }">
                            @Resources.PaymentResources.EmailAddressLabel
                            <!-- ko if: $root.UseGuaranteedChecks -->
                            <span class="offScreen" id="emailAddress-required">@Resources.PaymentResources.RequiredLabel</span>
                            <!-- /ko -->
                    </label>
                    </div>
		            <div class="editor-field">
                        <input id="emailAddress" class="esg-form__input" type="email" data-bind="attr: {'required': ko.unwrap($root.UseGuaranteedChecks) !== false ? 'required' : null }, value: EmailAddress" />
		            </div>
                    <div class="errorArea" data-bind="validationMessage: EmailAddress"></div>
            </fieldset> 
        </div>
    </div>
        
    <!-- Automated Clearing House (ACH) Authorization Text-->
    <div class="column-five">    
        <div id="authTextContainer" class="clear-group">
            <div class="contentHeader">
                <h4><abbr title="Automated Clearing House">ACH</abbr> Authorization Information</h4>
            </div>
            <div id="achAuthText">
                <span data-bind="text: achAuthorizationText" />
            </div>
        </div>
    </div>
</div>
    
<!-- Footer -->
<div class="button-bar">
    <input id="PaymentSubmit" name="PaymentSubmit" type="submit" value="@Resources.PaymentResources.PaymentSubmitButtonLabel" class="esg-button esg-button--primary"
           aria-label="@Resources.ImmediatePaymentResources.ElectronicCheckEntryButtonAria" data-bind="disable: isLoading, enable: allFieldsValid, click: processECheck" />
</div>

<!-- Banking Information Dialog -->
    @Html.Partial("BankingInformationPartial")
<!-- End Banking Information Dialog -->