﻿<!-- Copyright 2015 Ellucian Company L.P. and its affiliates. -->
<div class="alert-message-container section-contents primary-contents">
	<div data-bind="css: Notification.Type">
		<span data-bind="html: Notification.Message"></span>
	</div>
</div>