﻿<!-- Copyright 2012-2015 Ellucian Company L.P. and its affiliates. -->
<!-- Payment Details -->
<section id="detailsWrapper" class="section-wrapper">
    <div class="section-contents primary-contents">
        <p id="paymentReviewText" data-bind="html: Message"></p>

        <div id="paymentReviewWrapper">
            <table id="paymentItems">
                <caption>@Resources.ImmediatePaymentResources.PaymentReviewTableHeader</caption>
                <thead>
                    <!-- Render Header Row -->
                    <tr>
                        <th class="colItem">@Resources.FinanceResources.ItemLabel</th>
                        <th class="colAmount">@Resources.FinanceResources.AmountLabel</th>
                    </tr>
                </thead>

                <!-- Render Data Rows -->
                <tbody data-bind="foreach: LineItems">
                    <tr>
                        <td class="colItem" data-bind="text: Description"></td>
                        <td class="colAmount" data-bind="currency: Amount, negativePattern: 1"></td>
                    </tr>
                </tbody>
            </table>

            <!-- Multiple Payment Alert and Payment Method -->
            <message id="MultiplePaymentAlert" params="isVisible: PaymentCount > 1, message: '@Resources.ImmediatePaymentResources.MultiplePaymentsReviewMessage', type: 'info'"></message>
            <div id="PaymentMethod" data-bind="text: '@Resources.PaymentResources.PaymentMethodLabel: ' + PaymentMethod.Description()" />
        </div>
    </div>
</section>

<!-- Footer -->
<div class="button-bar">
    <input id="PaymentSubmit" class="esg-button esg-button--primary" name="PaymentSubmit" type="submit" value="@Resources.PaymentResources.PaymentSubmitButtonLabel"
           data-bind="click: ProcessPayment" />
</div>