﻿<!-- Copyright 2015 Ellucian Company L.P. and its affiliates. -->
<!-- Heading -->
<div id="bodyHeader" class="section-header primary-header">
    <h3>@ViewBag.HeaderLabel</h3>
    <!-- Print Button -->
    <a class="print-link" data-bind="click: printPlanAcknowledgement" href="#">
        <span>@Resources.ImmediatePaymentResources.PrintButtonLabel</span>
        <span class="offScreen">@Resources.ImmediatePaymentResources.PrintPlanAcknowledgementAriaLabel</span>
    </a>
</div>


<!-- Plan Details -->
<div id="planDetails">
    @Html.Partial("PlanDetailsPartial")
</div>