﻿@* Copyright 2014 Ellucian Company L.P. and its affiliates. *@

<!-- Payment Plan Details - based on student selecting the Payment Plan payment option -->
<!-- Acknowledgement Date/Time -->
<div>
    <div id="ackDateTime" class="value">
        <div class="date" aria-label="@Resources.FinanceResources.AcknowledgementDateTimeLabel">
            <span data-bind="date: PlanDetails.DisplayTimestamp, format: 'd'">&nbsp;</span>
            <span>@Resources.SharedConstants.Word_At</span>
            <span data-bind="date: PlanDetails.DisplayTimestamp, format: 't'"></span>
        </div>
    </div>
</div>

<!-- Message to Student -->
<div id="studentMessage" data-bind="foreach: PlanDetails.AcknowledgementText">
    <span data-bind="text: $data"></span>
</div>

<div class="clear-group">
    <!-- Plan Summary Information-->
    <div class="column-five">
        <div id="paymentPlanDetails" class="clear-group" data-bind="with: PlanDetails.PaymentPlan">
            <div class="planSectionHeader">
                <div class="planSectionHeaderText">@Resources.ImmediatePaymentResources.PaymentPlanSummaryHeaderLabel</div>
            </div>
            <table>
                <tbody>
                    <tr data-bind="visible: Id">
                        <td class="label">@Resources.FinanceResources.PlanIdentifierLabel</td>
                        <td id="planId" data-bind="text: Id"></td>
                    </tr>
                    <tr>
                        <td class="label">@Resources.ImmediatePaymentResources.PaymentPlanStudentLabel</td>
                        <td id="studentIdName" data-bind="text: $root.StudentIdName"></td>
                    </tr>
                    <tr>
                        <td class="label">@Resources.AccountActivityResources.PayPlanInfoPlanOrigAmountLabel</td>
                        <td id="origAmount" data-bind="currency: CurrentAmount, negativePattern: 1"></td>
                    </tr>
                    <tr>
                        <td class="label">@Resources.ImmediatePaymentResources.PaymentPlanNumberOfPaymentsLabel</td>
                        <td id="numPayments" data-bind="text: NumberOfPayments"></td>
                    </tr>
                    <tr>
                        <td class="label">@Resources.ImmediatePaymentResources.PaymentPlanFrequencyLabel</td>
                        <td id="frequency" data-bind="text: $parent.FrequencyDisplay"></td>
                    </tr>
                    <tr data-bind="visible: LateChargeAmount() !== 0">
                        <td class="label">@Resources.ImmediatePaymentResources.PaymentPlanLateChargeLabel</td>
                        <td id="lateAmount" class="value" data-bind="currency: LateChargeAmount, negativePattern: 1"></td>
                    </tr>
                    <tr data-bind="visible: LateChargePercentage() !== 0">
                        <td class="label">@Resources.ImmediatePaymentResources.PaymentPlanLatePercentageLabel</td>
                        <td id="latePercentage" class="value" data-bind="percentage: LateChargePercentage"></td>
                    </tr>
                    <tr data-bind="visible: TotalSetupChargeAmount() !== 0">
                        <td class="label">@Resources.AccountActivityResources.PayPlanSchedSetupChargeLabel</td>
                        <td id="setupFee" class="value" data-bind="currency: TotalSetupChargeAmount, negativePattern: 1"></td>
                    </tr>
                    <tr>
                        <td class="label">@Resources.ImmediatePaymentResources.PaymentPlanTotalAmountLabel</td>
                        <td id="totalPlanAmount" class="value" data-bind="currency: $root.TotalPlanAmount, negativePattern: 1"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="column-four">
        <!-- Plan Schedule -->
        <div id="paymentPlanSchedule" class="clear-group">
            <div class="planSectionHeader">
                <div class="planSectionHeaderText">@Resources.ImmediatePaymentResources.PaymentPlanScheduleHeaderLabel</div>
            </div>
            <table id="planSchedule" data-bind="with: PlanDetails.PaymentPlan">
                <thead>
                    <tr>
                        <th>@Resources.FinanceResources.DueDateLabel</th>
                        <th>@Resources.FinanceResources.AmountLabel</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: ScheduledPayments">
                    <tr>
                        <td data-bind="date: DueDate"></td>
                        <td data-bind="currency: Amount"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Down Payment Message -->

<message id="downPmtMessage" params="type: 'success', isVisible: DownPaymentMessage(), message: DownPaymentMessage"></message>


<!-- Terms & Conditions -->
<div id="tc-container" class="section-contents">
    <div id="termsAndConditionsHeader">
        <h3>@Resources.ImmediatePaymentResources.PaymentPlanTermsAndConditionsLabel</h3>
    </div>
    <div id="tcArea" data-bind="visible: DisplayTermsText() !== ''">
        <!-- The following lines that look like comments are not really comments but Knockout directives -->
        <!-- DO NOT touch them unless you know what you're doing!  Thank you. -->
        <!-- ko ifnot: IsPrintable -->
        <label class="offScreen" for="tcText">@Resources.ImmediatePaymentResources.PaymentPlanTermsAndConditionsLabel</label>
        <textarea id="tcText" class="esg-form__input" readonly="readonly" data-bind="text: DisplayTermsText()"></textarea>
        <!-- /ko -->
        <!-- ko if: IsPrintable -->
        <div id="tcText" data-bind="foreach: PlanDetails.TermsAndConditionsText" aria-label="@Resources.ImmediatePaymentResources.PaymentPlanTermsAndConditionsLabel">
            <p data-bind="text: $data"></p>
        </div>
        <!-- /ko -->
    </div>
</div>

<!-- Agree Checkbox or Plan Terms Approval Information -->
<div id="agreeCheck" class="bold section-contents primary-contents">
    <!-- ko ifnot: DisplayPlanApprovalMessage -->
    <input id="agreeCheckbox" type="checkbox" data-bind="disable: !EnablePlanDetails(), checked: AcceptTermsAndConditions" />
    <label for="agreeCheckbox">@Resources.ImmediatePaymentResources.TermsAndConditionsStatement</label>
    <!-- /ko -->
    <!-- ko if: DisplayPlanApprovalMessage -->
    <div id="planApprovalInfo" data-bind="visible: DisplayPlanApprovalMessage">
        <div class="esg-alert esg-alert--fluid esg-alert--info" role="alert" aria-label="@Resources.ImmediatePaymentResources.PaymentPlanTermsApprovalLabel">
            <span class="esg-alert__icon-wrapper">
                <span class="esg-alert__icon esg-icon__container" aria-hidden="True">
                    <svg class="esg-icon esg-icon--info-dark">
                        <use xlink:href="#icon-info"></use>
                    </svg>
                </span>
            </span>
            <div class="esg-alert__message">
                <span>@Resources.ImmediatePaymentResources.PaymentPlanTermsApprovedText</span>
                <span data-bind="date: PlanDetails.ApprovalTimestamp, format: 'd'">&nbsp;</span>
                <span>@Resources.SharedConstants.Word_At</span>
                <span data-bind="date: PlanDetails.ApprovalTimestamp, format: 't'"></span>
                <span>@Resources.SharedConstants.Word_By</span>
                <span data-bind="text: PlanDetails.ApprovalUserId"></span>
            </div>
        </div>
    </div>
    <!-- /ko -->
</div>