﻿<!-- Copyright 2013-2016 Ellucian Company L.P. and its affiliates. -->
@using Ellucian.Web.Mvc.Models;
@using System.Web.Optimization;
@using Ellucian.Web.Student.Areas.Finance.Models.ImmediatePayments;
@model RegistrationSummaryModel
@{
    Layout = null;
}
@{
    if (!string.IsNullOrEmpty(ViewBag.Error))
    {
        if (ViewBag.Error != null)
        {
            @Html.Partial("_ErrorPartial")
        }
    }
    else
    {

        <!DOCTYPE html>
        <html lang="en" class="no-js">
            <head>
                <title>@Resources.ImmediatePaymentResources.RegistrationSummaryLabel</title>
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
                @System.Web.Optimization.Scripts.Render("~/bundles/studentfinancescripts")
                @Html.Partial("_GlobalStringConstantDefinitions")
                @Html.Partial("_ActionUrlDefinitions")
                @Html.Partial("_HelpUrlDefinitions")
                @Html.Partial("_StringConstantDefinitions")
                @Html.Partial("_PrintableViewOverhead")
                @System.Web.Optimization.Scripts.Render("~/bundles/immediatepaymentscripts")
                @System.Web.Optimization.Scripts.Render("~/bundles/registrationsummaryscripts")
                @Scripts.Render("~/bundles/polyfills")
                <script type="text/javascript">
                    var jsonData = @Html.Raw(ViewBag.json);
                    $(document).ready(function () {
                        var viewModel = new RegistrationSummaryViewModel(jsonData);
                        ko.applyBindings(viewModel, document.getElementById("PrintRegSummary"));
                    });
                </script>
                @System.Web.Optimization.Styles.Render("~/Areas/Finance/Content/FinanceBundlecss")
                <script type="text/javascript">
                    Globalize.culture('@System.Threading.Thread.CurrentThread.CurrentCulture.Name');
                </script>
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
            </head>
            <body id="PrintRegSummary">
                <h1>@Resources.ImmediatePaymentResources.RegistrationSummaryLabel</h1>
                    @Html.Partial("RegistrationSummaryPartial")
            </body>
        </html>
    }
}
