﻿        <!-- Message to Student -->
        <div id="headerBlock" class="section-contents">
            <div class="date">
                <span data-bind="date: Acceptance.AcknowledgementDateTime, format: 'd'">&nbsp;</span>
                <span>@Resources.SharedConstants.Word_At</span>
                <span data-bind="date: Acceptance.AcknowledgementDateTime, format: 't'"></span>
            </div>
            <div class="section" data-bind="visible: Acceptance.AcknowledgementText && Acceptance.AcknowledgementText.length > 0, foreach: Acceptance.AcknowledgementText">
                <p class="text" data-bind="html: $data"></p>
                <br />
            </div>
        </div>

        <div id="regData" class="section-contents">
            <!-- Registered Sections -->
                <table id="courses" data-bind="visible: RegisteredSections.length > 0">
                    <caption>@Resources.ImmediatePaymentResources.RegisteredSectionsLabel</caption>
                    <thead>
                        <tr>
                            <th>@Resources.FinanceResources.CourseTitleLabel</th>
                            <th>@Resources.FinanceResources.TermLabel</th>
                            <th data-bind="visible: $root.ShowCredits()">@Resources.StatementResources.CourseScheduleCreditsLabel</th>
                            <th data-bind="visible: $root.ShowCeus()">@Resources.FinanceResources.ContinuingEducationUnitsLabel</th>
                            <th data-bind="visible: $root.ShowLocation()">@Resources.FinanceResources.LocationColumnLabel</th>
                            <th>@Resources.FinanceResources.MeetingInformationLabel</th>
                            <th>@Resources.FinanceResources.InstructorLabel</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: RegisteredSections">
                        <tr>
                            <td data-title="@Resources.FinanceResources.CourseTitleLabel">
                                <span data-bind="text: Section">&nbsp;</span>
                                <span data-bind="text: Title"></span>
                            </td>
                            <td data-bind="text: Term"></td>
                            <td data-bind="visible: $root.ShowCredits(), decimal: Credits"></td>
                            <td data-bind="visible: $root.ShowCeus(), decimal: Ceus"></td>
                            <td data-bind="visible: $root.ShowLocation(), text: Location"></td>
                            <td data-title="@Resources.FinanceResources.MeetingInformationLabel" class="meetingInfo">
                                <div data-bind="foreach: MeetingInformation">
                                    <span data-bind="text: $data"></span><br />
                                </div>
                                <div data-bind="text: StartEndDate"></div>
                                <div data-bind="foreach: Classrooms">
                                    <span data-bind="text: $data"></span><br />
                                </div>
                            </td>
                            <td data-title="@Resources.FinanceResources.InstructorLabel" data-bind="foreach: Faculty">
                                <span data-bind="text: $data"></span><br />
                            </td>
                        </tr>
                    </tbody>
                </table>
    
            <!-- Registration Charges -->
                <table id="charges" data-bind="visible: Charges.length > 0">
                    <caption>@Resources.ImmediatePaymentResources.ChargesLabel</caption>
                    <thead>
                        <tr>
                            <th>@Resources.FinanceResources.ItemLabel</th>
                            <th>@Resources.FinanceResources.TermLabel</th>
                            <th>@Resources.FinanceResources.PaymentGroupLabel</th>
                            <th>@Resources.FinanceResources.DueDateLabel</th>
                            <th class="colAmount">@Resources.FinanceResources.AmountLabel</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: Charges">
                        <tr>
                            <td data-bind="text: Description"></td>
                            <td data-bind="text: TermDescription"></td>
                            <td data-bind="text: Distribution"></td>
                            <td class="bold" data-bind="date: DueDate"></td>
                            <td class="colAmount bold" data-bind="currency: Amount, negativePattern: 1"></td>
                        </tr>
                    </tbody>
                </table>
        </div>
    
        <!-- Multiple Payments warning -->
        <div id="multiPmtsWarning" data-bind="visible: ShowMultiplePaymentsMessage()">
            <message params="isVisible: true, message: '@Resources.ImmediatePaymentResources.MultiplePaymentsMessage', type: 'info', addMargin: true"></message>
        </div>

        <!-- Terms & Conditions -->
        <div class="section-contents">
            <div id="termsAndConditionsHeader">
                <h4>@Resources.ImmediatePaymentResources.TermsAndConditionsLabel</h4>
            </div>
            <div id="tcArea" data-bind="visible: DisplayTermsText() !== ''">
                <!-- The following lines that look like comments are not really comments but Knockout directives -->
                <!-- DO NOT touch them unless you know what you're doing!  Thank you. -->
                <!-- ko ifnot: IsPrintable -->
                <label for="tcText" class="offScreen">@Resources.ImmediatePaymentResources.TermsAndConditionsLabel</label>
                <textarea id="tcText" class="esg-form__input" readonly="readonly" data-bind="text: DisplayTermsText()"></textarea>
                <!-- /ko -->
                <!-- ko if: IsPrintable -->
                <div id="tcText" aria-label="@Resources.ImmediatePaymentResources.TermsAndConditionsLabel" data-bind="foreach: Acceptance.TermsText">
                    <p data-bind="text: $data"></p>
                </div>
                <!-- /ko -->
            </div>
        </div>