﻿<!-- Copyright 2015 Ellucian Company L.P. and its affiliates. -->
<div id="top-of-page-container">
	<a href="#" id="top-of-page" title="@Resources.FinanceResources.TopOfPageLinkTitle">@Resources.FinanceResources.TopOfPageLinkLabel</a>
</div>