﻿<div id="workflowIndicator" class="clear-group">
    <div class="si-container horizontal" data-orientation="horizontal">
        <ul class="step-indicator">
            <li id="wfiRegistrationSummary"><span class="description">@Resources.ImmediatePaymentResources.RegistrationSummaryLabel</span></li>
            <li id="wfiPaymentOptions"><span class="description">@Resources.ImmediatePaymentResources.PaymentOptionsLabel</span></li>
            <li id="wfiPaymentReview"><span class="description">@Resources.ImmediatePaymentResources.PaymentReviewLabel</span></li>
            <li id="wfiPayment"><span class="description">@Resources.ImmediatePaymentResources.PaymentLabel</span></li>
            <li id="wfiPaymentAcknowledgement"><span class="description">@Resources.ImmediatePaymentResources.PaymentAcknowledgementLabel</span></li>
            <li id="wfiPaymentComplete" class="last"><span class="description">@Resources.ImmediatePaymentResources.PaymentCompleteLabel</span></li>
        </ul>
    </div>
</div>

