﻿<!-- ko ifnot: IsPayableActive() || IsPayrollActive() -->
<message params="isVisible: true, message: 'You don't have permission to add a new deposit'"></message>
<!-- /ko -->

<!-- ko if: IsPayableActive() || IsPayrollActive() -->
<div class="section-header primary-header clear-group no-mobile-section-padding">
    <div class="column-seven column-five-sm">
        <h3>
            <span class="column-five" data-bind="resx:'BankingInformation.NewDepositHeader'" > </span>

        </h3>
        <h3>
            <span data-bind="resx: 'BankingInformation.AddBankAccountSectionLabel'"></span>
        </h3>
    </div>



</div>

<form autocomplete="off">
    <div class="clear-group">
        <div class="section-contents clear-group">
            <section class="section-wrapper clear-group">
                <h4 class="section-header" data-bind="resx: 'BankingInformation.BankAccountUsageSectionHeader'"></h4>

                <div class="section-contents clear-group">
                    <!-- ko if: IsPayrollActive -->
                    <payroll-directive-switch params="isVendor: IsVendor,
                                              isSwitchedOn: isPayrollSwitchedOn,
                                              isSwitchVisible: isPayrollSwitchVisible,
                                              directive: payrollDirectiveModel,
                                              hasAllCanadianAccounts: hasAllCanadianAccounts,
                                              startDateObservable: payrollDirectiveModel.StartDate,
                                              isStartDateReadOnly: false,
                                              startDateError: payrollStartDateError,
                                              isEndDateVisible: isPayrollEndDateVisible,
                                              endDateObservable: payrollDirectiveModel.EndDate,
                                              endDateError: payrollEndDateError,
                                              effectiveDateMessage: payrollEffectiveDateMessage,
                                              willChangeEndDateOfCurrentRemainderMessage: willChangeEndDateOfCurrentRemainderMessage">

                    </payroll-directive-switch>

                    <span class="column-one">&nbsp;</span>

                    <!-- /ko -->

                    <!-- ko if: IsPayableActive -->
                    <payable-directive-switch params="directive: payableDirectiveModel,
                                              isSwitchedOn: isPayableSwitchedOn,
                                              hasAllCanadianAccounts: hasAllCanadianAccounts,
                                              startDateObservable: payableDirectiveModel.StartDate,
                                              isStartDateReadOnly: false,
                                              startDateError: payableStartDateError">

                    </payable-directive-switch>

                    
                    <!-- /ko -->


                </div>
            </section>
        </div>

        <div class="section-contents" data-bind="if: !IsVendor(), visible: isPayrollSwitchedOn">
            <section class="section-wrapper">
                <h4 class="section-header" data-bind="resx: 'BankingInformation.DepositDetailsSectionHeader'"></h4>

                <payroll-directive-amount-option params="depositAmountOption: payrollDepositAmountOption,
                                                 showSpecificAmountOption: specificAmountIsVisible,
                                                 specificDepositAmount: payrollDirectiveModel.DepositAmount,
                                                 specificDepositAmountError: specificDepositAmountError,
                                                 showRemainingBalanceOption: showRemainingBalanceOption">

                </payroll-directive-amount-option>

                <sortable-payroll-directives params="directives: sortablePayrollDeposits,
                                             editingDirectiveId: editingDirectiveId,
                                             editingDirectiveAmountOption: payrollDepositAmountOption(),
                                             numberNonRemainderDirectives: numberActiveNonRemainderDirectives">

                </sortable-payroll-directives>

            </section>
        </div>

    </div>

    <div class="button-bar">

        <button type="submit"
                name="addAccountStep2"
                class="esg-button esg-button--primary"
                data-bind="click: nextStep,
                           enable: isNextStepEnabled,
                           resx: 'BankingInformation.AddAccountNextButtonLabel'"></button>
        <button type="button" 
                name="cancelNewAccount" 
                class="esg-button esg-button--secondary" 
                data-bind="click: cancel, resx: 'BankingInformation.CancelButtonLabel'"></button>
     
    </div>
</form>

<modal-spinner params="isVisible: isSaveNewDirectiveInProgress, message: savingNewDirectiveMessage">
</modal-spinner>

<step-up-authentication params="securityTokenObservable: securityToken,
                        bankName: authenticationDisplayHint,
                        accountIdLastFour: authenticationDirectiveLastFour,
                        directiveId: directiveIdToVerify,
                        directiveType: directiveTypeToVerify">

</step-up-authentication>

<modal-dialog params="isVisible: showEditBankAccountDetails,
              title: 'Edit Bank Account Details',
              content: $data,
              defaultCloseOff: true,
              buttons: [{ title: 'Back', callback: hideEditBankAccountDetails, isPrimary: false },
                        { title: 'Submit', callback: saveNewDirective, isPrimary: true }] ">
    <edit-bank-account-details params="dataModel: accountDetailsModel,
                               configuration: Configuration,
                               isValidInput: isBankAccountDetailsInputValid,
                               isAdd: true,
                               isPayroll: isPayrollSwitchedOn,
                               isPayable: isPayableSwitchedOn">

    </edit-bank-account-details>
</modal-dialog>
<!-- /ko -->