﻿@import '_mixins.scss';

time-sheet-link {

    .time-sheet-link__container {
        position: relative;

        .time-sheet-link__arrow {
            position: absolute;
            right: 1em;
            top: 50%;
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }


    @media (max-width: 480px) {
        .float-right-mobile {
            float: right;
        }

        .float-left-mobile {
            float: left;
        }
    }
}
