﻿<div class="full-width column-nine-md column-nine-sm row-wrapper-gray clear-group time-sheet-link__container">
    <a data-bind="attr: { href: timeSheetUrl }">
        <div class="column-eight column-eight-md column-eight-sm">
            <div class="column-five column-five-md column-nine-sm">
                <span class="bold full-width row-wrapper-extra-skinny" data-bind="text: weekDisplay()"></span>
                <span class="full-width row-wrapper-extra-skinny" data-bind="text: timecardDueDateTimeDisplay()"></span>
                <span class="full-width row-wrapper-extra-skinny" data-bind="text: totalHoursDisplay()"></span>
            </div>
            <div class="column-four column-four-md column-nine-sm">
                <ul data-bind="foreach: timecardPositionStatuses">
                    <li class="clear-group row-wrapper-extra-skinny">
                        <div class="column-five column-four-md column-three-sm float-right-mobile">
                            <span data-bind="text: statusWord, css: statusIconClass"></span>
                            <span>&nbsp;</span> <!-- if there is no word or icon, we need to maintain the column-->
                        </div>
                        <div class="column-four column-four-md column-six-sm float-left-mobile">
                            <span data-bind="text: statusPosition"></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="column-one column-one-md column-one-sm time-sheet-link__arrow">
            <span class="esg-icon__container float-right">
                <svg class="esg-icon esg-icon--right">
                    <use xlink:href="#icon-arrow"></use>
                </svg>
            </span>
        </div>
    </a>
</div>
