﻿<!-- Copyright 2014-2017 Ellucian Company L.P. and its affiliates -->
@section scripts {
    @Scripts.Render("~/bundles/financialaidrequireddocsscripts")
}

<div class="clear-group">
    <div id="page-description" class="column-five">
        <h2 data-bind="visible: !activeDocument()">@Resources.RequiredDocuments.PageTitle</h2>
            <p>@Resources.RequiredDocuments.PageDetail</p>
        <div data-bind="visible: activeDocument">
            <h2 class="backlink">
                <button class="no-styles" data-bind="click: $root.deactivateDocument">
                    @Resources.RequiredDocuments.BackToDocuments
                </button>
            </h2>
        </div>
    </div>
</div>

<div id="content-container" class="parent-panel">

    <!-- Year selector bar with counselor info -->
    <div data-bind="visible: showUI()">
        @Html.Partial("_CounselorContactAndYearSelector")
    </div>
   <!-- ko ifnot: HasPrivacyRestriction() -->
    <div id="documents-main" class="column-nine">

        <spinner params="isVisible: !showUI(), message: '@Resources.RequiredDocuments.LoadingDataSpinnerMessage'"></spinner>

        <div id="data-container" class="section-wrapper section-wrapper-top-border" data-bind="visible: showUI">
            <div id="panel-container" class="section-contents" data-bind="css: { 'primary-contents': (!$root.isMobile()) }">
                <message params="isVisible: !documentsExistForYear(), message: '@Resources.RequiredDocuments.NoDocumentsMessage'"></message>
                <div id="documents-wrapper" class="initial-panel-wrapper">
                    <div id="all-documents" class="initial-panel" data-bind="visible: documentsExistForYear">
                        <!-- ko with: selectedDocumentCollection -->
                        <div id="content-message" data-bind="visible: $root.isMobile()">
                            @Resources.RequiredDocuments.PageDetail
                        </div>

                        <div class="clear-group" id="content-documents">
                            <!-- ko if: IncompleteDocuments() && IncompleteDocuments().length > 0 -->
                            <table class="document-collection-container">
                                <caption>
                                    @Resources.RequiredDocuments.IncompleteCollectionHeader
                                </caption>

                                <tr class="document-collection" data-bind="foreach: IncompleteDocuments">
                                    <td class="document" data-bind="click: $root.activateDocument, css: statusStyle">
                                        <!-- ko template: {name: 'document-container-template', data: $data} -->
                                        <!-- /ko -->
                                    </td>
                                </tr>
                            </table>
                            <!-- /ko -->
                            <!-- ko if: CompleteDocuments() && CompleteDocuments().length > 0 -->
                            <table class="document-collection-container">
                                <caption>
                                    @Resources.RequiredDocuments.CompleteCollectionHeader
                                </caption>

                                <tr class="document-collection" data-bind="foreach: CompleteDocuments">
                                    <td class="document" data-bind="click: $root.activateDocument, css: statusStyle">
                                        <!-- ko template: {name: 'document-container-template', data: $data} -->
                                        <!-- /ko -->
                                    </td>
                                </tr>
                            </table>
                            <!-- /ko -->
                        </div>

                        <!-- /ko -->
                        <!-- ends selectedDocumentCollection -->

                    </div>

                    <div id="data-container-overlay" class="overlay-panel" data-bind="delayWith: activeDocument, switch: false, duration: 750">
                        <div class="document overlay-panel-details" data-bind="css: statusStyle">
                            <!-- ko template: {name: 'document-container-template', data: $data} -->
                            <!-- /ko -->
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- /ko -->
</div>

<script type="text/html" id="document-container-template">
    <!--alert and status icon-->
    <!--put the html of document class in a template-->

    <div class="document-header" data-bind="css: $data.statusStyle">
        <div class="document-status-container">
            <h3 class="document-status">
                <span class="offScreen">@Resources.RequiredDocuments.LabelStatus</span>
                <span data-bind="text: $data.StatusDisplay"></span>
            </h3>
            <div class="document-date">
                <span class="due-date" data-bind="visible: (IsDueDate() && Date() !== null), css: { 'offScreen': (!$root.isMobile()) }">@Resources.RequiredDocuments.DueDateLabel</span>
                <span data-bind="text: $data.Date() !== null ? moment($data.Date()).format('L') : '&nbsp;'"></span>
            </div>

        </div>
    </div>

    <div class="document-details" data-bind="css: statusStyle">
        <div class="document-title">
            <h3 class="document-title-heading" data-bind="text: Description"></h3>
            <!-- ko if: $data.Instance-->
            <span class="document-instance-text document-title-heading" data-bind="text: Instance"></span>
            <!-- /ko -->
        </div>

        <div class="document-explanation">
            <span class="offScreen">@Resources.RequiredDocuments.LabelDescription</span>
            <div data-bind="html: Explanation"></div>
                <ul data-bind="if: Hyperlinks">
                    <!-- ko foreach: Hyperlinks -->
                    <li>
                        <div class="document-url-container"><a data-bind="externalLink: {href: Url, label: Title}"></a></div>
                    </li>
                    <!-- /ko -->
                </ul>
        </div>
    </div>

</script>
