﻿/* Copyright 2012-2016 Ellucian Company L.P. and its affiliates. */
/* ----------------------------------------------------------- */
/* //////////  Time Management Styles                     //////////  */
/* ----------------------------------------------------------- */


@import '../../../Content/_colors.scss';


.full-width {
    width: 100%;
    float: left;
}


.row-wrapper {
    padding: .75em;
    margin-top: .5em;
    margin-bottom: .5em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.row-wrapper-skinny {
    @extend .row-wrapper;
    margin-top: .05em;
    margin-bottom: .05em;
}

.row-wrapper-extra-skinny {
    @extend .row-wrapper-skinny;
    padding: .25em;
}

.row-wrapper-gray {
    @extend .row-wrapper;
    background-color: $color-base-75;
}