﻿@*Copyright 2016 Ellucian Company L.P. and its affiliates.*@
<div class="clear-group" data-bind="with:midtermGradingModelInstance">

    <span data-bind="visible: hasStudentGrades() === false">@Resources.Faculty.NoRosterStudentsMessage</span>


    <div data-bind="visible: hasStudentGrades() === true">
        <table class="faculty-midterm-grading-table grading-table" data-bind="sortable:{isMobile:$parent.isMobile(),imagePath: '@Url.Content("~/Content/Images/")',contents:StudentGrades}">
            <thead>
                <tr>
                    <th>@Resources.Faculty.SectionGradeImageColumn</th>
                    <th id="displayNameLfmHeader-midterm" class="esg-table-head__th--no-border" data-bind="sortOn: {fieldName:'LastName;FirstName;MiddleName', displayAs:'@Resources.Faculty.SectionGradeColumn1',defaultField:true}">
                        @Resources.Faculty.SectionGradeColumn1
                    </th>
                    <th id="studentId-midterm" data-bind="sortOn: { fieldName:'StudentId', displayAs:'@Resources.Faculty.SectionGradeColumn2'}">@Resources.Faculty.SectionGradeColumn2</th>

                    <!-- ko if: $root.displayMidterm1Grades() -->
                    <th id="midterm1gradeHeader_midterm" data-bind="sortOn: { fieldName:'Midterm1Grade;LastName;FirstName', displayAs:'@Resources.Faculty.MidtermGradeLabel'}">@Resources.Faculty.MidtermGradeLabel</th>
                    <!-- /ko -->
                    <!-- ko if: $root.displayMidterm2Grades() -->
                    <th id="mideterm2gradeHeader_midterm" data-bind="sortOn: { fieldName:'Midterm2Grade;LastName;FirstName', displayAs:'@Resources.Faculty.MidtermGradeLabel'}">@Resources.Faculty.MidtermGradeLabel</th>
                    <!-- /ko -->
                    <!-- ko if: $root.displayMidterm3Grades() -->
                    <th id="midterm3gradeHeader_midterm" data-bind="sortOn: { fieldName:'Midterm3Grade;LastName;FirstName', displayAs:'@Resources.Faculty.MidtermGradeLabel'}">@Resources.Faculty.MidtermGradeLabel</th>
                    <!-- /ko -->
                    <!-- ko if: $root.displayMidterm4Grades() -->
                    <th id="midterm4gradeHeader_midterm" data-bind="sortOn: { fieldName:'Midterm4Grade;LastName;FirstName', displayAs:'@Resources.Faculty.MidtermGradeLabel'}">
                        @Resources.Faculty.MidtermGradeLabel
                    </th>
                    <!-- /ko -->
                    <!-- ko if: $root.displayMidterm5Grades() -->
                    <th id="midterm5gradeHeader_midterm" data-bind="sortOn: { fieldName:'Midterm5Grade;LastName;FirstName', displayAs:'@Resources.Faculty.MidtermGradeLabel'}">@Resources.Faculty.MidtermGradeLabel</th>
                    <!-- /ko -->
                    <!-- ko if: $root.displayMidterm6Grades() -->
                    <th id="midterm6gradeHeader_midterm" data-bind="sortOn: { fieldName:'Midterm6Grade;LastName;FirstName', displayAs:'@Resources.Faculty.MidtermGradeLabel'}">@Resources.Faculty.MidtermGradeLabel</th>
                    <!-- /ko -->
                    <th class="center-data">@Resources.Faculty.SectionGradeColumn7</th>
                    <th class="grade-status-image"></th>

                </tr>
            </thead>
            <tbody data-bind="foreach: StudentGrades()">
                <tr data-bind="css: isSuccessfullyUpdated()===false || hasErrors()===true ?'error-row-owner':''">

                    <td class="roster-photo">
                        <profile-photo params="id: StudentId, altText: '@Resources.Faculty.StudentPhotoAltText', size: 'small'"></profile-photo>
                    </td>
                    <td class="faculty-grade-name-display" data-bind="foreach: DisplayNameLfm()">
                        <p data-bind="text:$data"></p>
                    </td>
                    <td data-bind="text: StudentId()"></td>
                    <!-- ko if: $root.displayMidterm1Grades() -->
                    <td data-role="@Resources.Faculty.MidtermGradeLabel">
                        <select class="esg-form__input esg-form__input--inline gradeTypes" aria-labelledby="gradeSelectedLabel" data-bind="options: $parent.GradeTypes(),  optionsText: function(item) {
                       return item.Item1},  optionsValue: function(item) {return item.Item1}, optionsCaption: Midterm1Grade()==null ?'Select grade' : null, value: Midterm1Grade"></select>
                        <span id="gradeSelectedLabel" class="offScreen">@Resources.Faculty.FacultyGradingGradeSelectedLabel</span>
                    </td>
                    <!-- /ko -->
                    <!-- ko if: $root.displayMidterm2Grades() -->
                    <td data-role="@Resources.Faculty.MidtermGradeLabel">
                        <select class="esg-form__input esg-form__input--inline gradeTypes" aria-labelledby="gradeSelectedLabel" data-bind="options: $parent.GradeTypes(),  optionsText: function(item) {
                       return item.Item1},  optionsValue: function(item) {return item.Item1}, optionsCaption:Midterm2Grade()==null ?'Select grade' : null, value: Midterm2Grade"></select>
                        <span id="gradeSelectedLabel" class="offScreen">@Resources.Faculty.FacultyGradingGradeSelectedLabel</span>
                    </td>
                    <!-- /ko -->
                    <!-- ko if: $root.displayMidterm3Grades() -->
                    <td data-role="@Resources.Faculty.MidtermGradeLabel">
                        <select class="esg-form__input esg-form__input--inline gradeTypes" aria-labelledby="gradeSelectedLabel" data-bind="options: $parent.GradeTypes(),  optionsText: function(item) {
                       return item.Item1},  optionsValue: function(item) {return item.Item1}, optionsCaption:Midterm3Grade()==null ?'Select grade' : null, value: Midterm3Grade"></select>
                        <span id="gradeSelectedLabel" class="offScreen">@Resources.Faculty.FacultyGradingGradeSelectedLabel</span>
                    </td>
                    <!-- /ko -->
                    <!-- ko if: $root.displayMidterm4Grades() -->
                    <td data-role="@Resources.Faculty.MidtermGradeLabel">
                        <select class="esg-form__input esg-form__input--inline gradeTypes" aria-labelledby="gradeSelectedLabel" data-bind="options: $parent.GradeTypes(),  optionsText: function(item) {
                       return item.Item1},  optionsValue: function(item) {return item.Item1}, optionsCaption:Midterm4Grade()==null ?'Select grade' : null, value: Midterm4Grade"></select>
                        <span id="gradeSelectedLabel" class="offScreen">@Resources.Faculty.FacultyGradingGradeSelectedLabel</span>
                    </td>
                    <!-- /ko -->
                    <!-- ko if: $root.displayMidterm5Grades() -->
                    <td data-role="@Resources.Faculty.MidtermGradeLabel">
                        <select class="esg-form__input esg-form__input--inline gradeTypes" aria-labelledby="gradeSelectedLabel" data-bind="options: $parent.GradeTypes(),  optionsText: function(item) {
                       return item.Item1},  optionsValue: function(item) {return item.Item1}, optionsCaption:Midterm5Grade()==null ?'Select grade' : null, value: Midterm5Grade"></select>
                        <span id="gradeSelectedLabel" class="offScreen">@Resources.Faculty.FacultyGradingGradeSelectedLabel</span>
                    </td>
                    <!-- /ko -->
                    <!-- ko if: $root.displayMidterm6Grades() -->
                    <td data-role="@Resources.Faculty.MidtermGradeLabel">
                        <select class="esg-form__input esg-form__input--inline gradeTypes" aria-labelledby="gradeSelectedLabel" data-bind="options: $parent.GradeTypes(),  optionsText: function(item) {
                       return item.Item1},  optionsValue: function(item) {return item.Item1}, optionsCaption:Midterm6Grade()==null ?'Select grade' : null, value: Midterm6Grade"></select>
                        <span id="gradeSelectedLabel" class="offScreen">@Resources.Faculty.FacultyGradingGradeSelectedLabel</span>
                    </td>
                    <!-- /ko -->
                    <td class="center-data">
                        <span data-bind="text:CreditsCeus()" aria-describedby="academicCreditsDescription"></span>
                        <span id="academicCreditsDescription" class="offScreen">@Resources.Faculty.FacultyGradingAcademicCreditsDescription</span>
                    </td>
                    <td>
                        <spinner params="isVisible: isWaiting(), message: '   '"></spinner>

                        <div data-bind="visible:isSuccessfullyUpdated()===false || hasErrors()===true">

                            <div class="grade-entry-error"></div>
                        </div>
                        <span data-bind="visible:isWaiting()" class="offScreen">@Resources.Faculty.FacultyGradingWaitingForFinalGrade</span>
                        <span data-bind="visible:isWaiting()===false && (isSuccessfullyUpdated()===false )" class="offScreen">@Resources.Faculty.FacultyGradingErrorForFinalGrade</span>
                        <span data-bind="visible:isWaiting()===false && isSuccessfullyUpdated()===true" class="offScreen">@Resources.Faculty.FacultyGradingSuccessForFinalGrade</span>
                    </td>
                </tr>
                <!--ko if:isSuccessfullyUpdated()===false || hasErrors()===true -->
                <tr class="error-row">
                    <td class="roster-photo-error" colspan="9">
                        <div id="server-error" data-bind="visible:gradeEntryErrors().length>0"><span data-bind="html:gradeEntryErrors()[0]"></span></div>
                    </td>
                </tr>
                <!--/ko-->
            </tbody>
        </table>

    </div>


</div>