﻿@*Copyright 2015 - 2016 Ellucian Company L.P. and its affiliates.*@
<div id="petition-consent" class="section-wrapper" data-bind="visible: showPetitionContents() === true && isAnyPermissionSelected() === true">
    <div class="clear-group">
        <div class="backlink">
            <h3>
                <a href="#" data-bind="click: function () { showPetitionContents(false); isAnyPermissionSelected(false) }, clickBubble: false">@Resources.Faculty.BackToPermissionsLink</a>
            </h3>
            <div class="nav-header-info">
                <h3>
                    <span>
                        @Resources.Faculty.PetitionConsentHeader
                    </span>
                </h3>
            </div>
        </div>
    </div>
    <div class="section-wrapper">
        <h3 class="section-header">
            @Resources.Faculty.StudentPetitionTableCaption
            <input class="esg-button esg-button--primary add-waiver-button" type="button" value="@Resources.Faculty.AddPetitionNewButtonText" aria-label="@Resources.Faculty.AddPetitionNewButtonAriaLabel" title="@Resources.Faculty.AddPetitionNewButtonAriaLabel"
                   data-bind="visible: CanFacultyAddStudentPetitions() === true, click: openAddPetitionDialog, clickBubble: false" />
        </h3>
        <div class="section-contents">
            <span data-bind="visible: hasPetitions() === false">@Resources.Faculty.NoPetitionsMessage</span>
            <table id="student-petition-table" data-bind="visible: hasPetitions() === true">

                <thead>
                    <tr>
                        <th class="section-petition-name">@Resources.Faculty.StudentPetitionColumn1</th>
                        <th class="section-petition-studentid">@Resources.Faculty.StudentPetitionColumn2</th>
                        <th class="section-petition-status">@Resources.Faculty.StudentPetitionColumn3</th>
                        <th class="section-petition-updatedby">@Resources.Faculty.StudentPetitionColumn4</th>
                        <th class="section-petition-updatedon">@Resources.Faculty.StudentPetitionColumn5</th>
                        <th class="section-petition-explanation">@Resources.Faculty.StudentPetitionColumn6</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: StudentPetitions()">
                    <tr>
                        <td data-bind="text: DisplayNameLfm()"></td>
                        <td data-bind="text: StudentId()"></td>
                        <td data-bind="text: Status()"></td>
                        <td data-bind="text: UpdatedBy()"></td>
                        <td data-bind="text: UpdatedOn()"></td>
                        <td>
                            <div class="word-wrap" data-bind="text: Reason() != null ? Reason() + '\n' + FreeformExplanation() : FreeformExplanation()"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="section-wrapper">

        <h3 class="section-header">
            @Resources.Faculty.FacultyConsentTableCaption
            <input class="esg-button esg-button--primary add-waiver-button" type="button" value="@Resources.Faculty.AddConsentNewButtonText" aria-label="@Resources.Faculty.AddConsentNewButtonAriaLabel" title="@Resources.Faculty.AddConsentNewButtonAriaLabel"
                   data-bind="visible: CanFacultyAddFacultyConsents() === true, click: openAddConsentDialog, clickBubble: false" />
        </h3>
        <div class="section-contents">
            <span data-bind="visible: hasConsents() === false">@Resources.Faculty.NoConsentsMessage</span>
            <table id="faculty-consent-table" data-bind="visible: hasConsents() === true">

                <thead>
                    <tr>
                        <th class="section-petition-name">@Resources.Faculty.StudentPetitionColumn1</th>
                        <th class="section-petition-studentid">@Resources.Faculty.StudentPetitionColumn2</th>
                        <th class="section-petition-status">@Resources.Faculty.StudentPetitionColumn3</th>
                        <th class="section-petition-updatedby">@Resources.Faculty.StudentPetitionColumn4</th>
                        <th class="section-petition-updatedon">@Resources.Faculty.StudentPetitionColumn5</th>
                        <th class="section-petition-explanation">@Resources.Faculty.StudentPetitionColumn6</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: FacultyConsents()">
                    <tr>
                        <td data-bind="text: DisplayNameLfm()"></td>
                        <td data-bind="text: StudentId()"></td>
                        <td data-bind="text: Status()"></td>
                        <td data-bind="text: UpdatedBy()"></td>
                        <td data-bind="text: UpdatedOn()"></td>
                        <td>
                            <div class="word-wrap" data-bind="text: Reason() != null ? Reason() + '\n' + FreeformExplanation() : FreeformExplanation()"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="dialogs">
        <!-- Add Student Petition Dialog -->
        @Html.Partial("AddStudentPetitionDialog")
        <!-- Add Faculty Consent Dialog -->
        @Html.Partial("AddFacultyConsentDialog")
    </div>
</div>
