﻿@*Copyright 2016-2017 Ellucian Company L.P. and its affiliates.*@
<div id="faculty-final-grades" class="clear-group" data-bind="with:finalGradingModelInstance">

    <span data-bind="visible: hasStudentGrades() === false">@Resources.Faculty.NoRosterStudentsMessage</span>


    <div id="faculty-grading-div" data-bind="visible: hasStudentGrades() === true">
        <div class="clear-group">
            <button id="verifyGrades" class="esg-button esg-button--primary esg-button--float-right faculty-verify-grades-button" type="button" data-bind="click:$parent.verifyGradingModelInstance.verifyGradeIsClicked, visible:CanVerifyGrades()===true, enable:areThereAnyErrors()==0 && countOfGradeEnterInProgress()==0">@Resources.Faculty.PostGradesButton</button>
        </div>
        <div data-bind="css:'scrolling-table-wrapper'">
            <table id="faculty-final-grading-table" data-bind="css: 'scrolling-table',sortable:{isMobile:$parent.isMobile(), imagePath: '@Url.Content("~/Content/Images/")',contents:StudentGrades}" class="grading-table final-grading-table">
                <thead>
                    <tr>
                        <th>@Resources.Faculty.SectionGradeImageColumn</th>
                        <th id="displayNameLfmHeader" class="esg-table-head__th--no-border" data-bind="sortOn: {fieldName:'LastName;FirstName;MiddleName', displayAs:'@Resources.Faculty.SectionGradeColumn1',defaultField:true}">
                            @Resources.Faculty.SectionGradeColumn1
                        </th>
                        <th id="studentIdHeader" data-bind="sortOn: { fieldName:'StudentId', displayAs:'@Resources.Faculty.SectionGradeColumn2'}">@Resources.Faculty.SectionGradeColumn2</th>
                        <th id="neverAttendedHeader" data-bind="sortOn: { fieldName:'NeverAttended;LastName;FirstName', displayAs:'@Resources.Faculty.SectionGradeColumn3'}">@Resources.Faculty.SectionGradeColumn3</th>
                        <th id="lastDateAttendedHeader" data-bind="sortOn: { fieldName:'LastDateAttended;LastName;FirstName', displayAs:'@Resources.Faculty.SectionGradeColumn4'}">@Resources.Faculty.SectionGradeColumn4</th>
                        <th id="finalGradeHeader" data-bind="sortOn: { fieldName:'FinalGrade;LastName;FirstName', displayAs:'@Resources.Faculty.SectionGradeColumn5'}">@Resources.Faculty.SectionGradeColumn5</th>
                        <th id="gradeExpireDateHeader" data-bind="sortOn: {fieldName:'GradeExpireDate;LastName;FirstName', displayAs:'@Resources.Faculty.SectionGradeColumn6'}">@Resources.Faculty.SectionGradeColumn6</th>
                        <th data-bind="sortOn: {fieldName:'ClassLevelOrder;LastName;FirstName', displayAs:'@Resources.Faculty.SectionGradeColumn8'}">@Resources.Faculty.SectionGradeColumn8</th>
                        <th class="center-data">@Resources.Faculty.SectionGradeColumn7</th>
                        <th class="grade-status-image esg-table-head__th--no-border"></th>

                    </tr>
                </thead>
                <tbody data-bind="foreach: StudentGrades()">
                    <tr data-bind="css: isSuccessfullyUpdated()===false || hasErrors()===true ?'error-row-owner':''">
                        <td class="roster-photo">
                            <profile-photo params="id: StudentId, altText: '@Resources.Faculty.StudentPhotoAltText', size: 'small'"></profile-photo>
                        </td>
                        <td class="faculty-grade-name-display" data-bind="foreach: DisplayNameLfm()">
                            <p data-bind="text:$data"></p>
                        </td>
                        <td data-bind="text: StudentId()"></td>
                        <td class="center-data">
                            <input type="checkbox" id="neverAttendedCheckbox" aria-labelledby="neverattendedLabel" data-bind="checked: NeverAttended,  css:{'required-input':isLDARequired()!==true}" />
                            <label id="neverAttendedLabel" class="offScreen">@Resources.Faculty.FacultyGradingNeverAttendedLabel</label>
                        </td>
                        <td>
                            <input type="text" class="esg-form__input esg-form__input--inline toTrackChanges lastDateAttended faculty-grading-control" aria-labelledby="lastDateAttendedLabel" data-bind="attr:{id:'lastDateAttended'+StudentId(), 'aria-disabled':NeverAttended()===true?'true':'false', 'aria-invalid': LastDateAttended.isValid() !==true || isLDARequired !==true ? 'true' : 'false', 'aria-describedby': LastDateAttended.isValid()!==true ? 'last-date-attended-error' : null        }, css:{'required-input':!LastDateAttended.isValid() || isLDARequired()!==true},   value: LastDateAttended, enable:NeverAttended()!==true,  watermark: Globalize.getClosestCultureDateFormat()" />
                            <span id="lastDateAttendedLabel" class="offScreen">@Resources.Faculty.FacultyGradingLastDateAttendedLabel</span>
                        </td>
                        <td>
                            <select class="esg-form__input esg-form__input--inline gradeTypes" id="grade-type-dropdown" aria-labelledby="gradeSelectedLabel" data-bind="options: $parent.GradeTypes(),  optionsText:'Item1',  optionsCaption:finalGradeSelected()==null ?'Select grade' : null , value:finalGradeSelected, visible:IsGradeVerified()!==true"></select>
                            <span id="gradeSelectedLabel" class="offScreen">@Resources.Faculty.FacultyGradingGradeSelectedLabel</span>
                            <!--ko if:IsGradeVerified()===true && finalGradeSelected()!==null && typeof finalGradeSelected !=='undefined'-->
                            <span aria-describedby="verifiedGradeDescription" data-bind="text:(finalGradeSelected()!==null && typeof finalGradeSelected() !='undefined')? finalGradeSelected().Item1:''"></span>
                            <span id="verifiedGradeDescription" class="offScreen">@Resources.Faculty.FacultyGradingPostedGradeDescription</span>
                            <!--/ko-->
                        </td>
                        <td>
                            <input class="toTrackChanges gradeExpireDate faculty-grading-control" aria-labelledby="gradeExpireDateLabel" data-bind="attr:{'aria-disabled':finalGradeSelected()!==null && typeof finalGradeSelected()!=='undefined' && isNullOrEmpty(finalGradeSelected().Item2())==false?'false':'true', 'aria-invalid': GradeExpireDate.isValid() !==true || isExpireDateRequired()!==true ? 'true' : 'false', 'aria-describedby': GradeExpireDate.isValid()!==true ? 'grade-expire-date-error' : isExpireDateRequired()!==true?'grade-expire-date-required-error':null        },   value: GradeExpireDate,  watermark: Globalize.getClosestCultureDateFormat(),css:{'required-input':!GradeExpireDate.isValid() || isExpireDateRequired()===false },    enable:finalGradeSelected()!==null && typeof finalGradeSelected()!=='undefined' && isNullOrEmpty(finalGradeSelected().Item2())==false" />
                            <span id="gradeExpireDateLabel" class="offScreen">@Resources.Faculty.FacultyGradingGradeExpireDateLabel</span>

                        </td>

                        <td class="center-data">
                            <span data-bind="text:ClassLevelDescription()" aria-describedby="classLevelDescription"></span>
                            <span id="classLevelDescription" class="offScreen">@Resources.Faculty.FacultyGradingAcademicCreditsDescription</span>

                        </td>


                        <td class="center-data">
                            <span data-bind="text:CreditsCeus()" aria-describedby="academicCreditsDescription"></span>
                            <span id="academicCreditsDescription" class="offScreen">@Resources.Faculty.FacultyGradingAcademicCreditsDescription</span>
                        </td>
                        <td>
                            <spinner params="isVisible: isWaiting(), message: ''"></spinner>

                            <div data-bind="visible:isSuccessfullyUpdated()===false || hasErrors()===true">

                                <div class="grade-entry-error"></div>
                            </div>
                            <span data-bind="visible:isWaiting()" class="offScreen">@Resources.Faculty.FacultyGradingWaitingForFinalGrade</span>
                            <span data-bind="visible:isWaiting()===false && (isSuccessfullyUpdated()===false || isValid()===false)" class="offScreen">@Resources.Faculty.FacultyGradingErrorForFinalGrade</span>
                            <span data-bind="visible:isWaiting()===false && isSuccessfullyUpdated()===true" class="offScreen">@Resources.Faculty.FacultyGradingSuccessForFinalGrade</span>
                        </td>
                    </tr>
                    <!--ko if:isSuccessfullyUpdated()===false || hasErrors()===true -->
                    <tr class="error-row">
                        <td class="roster-photo-error" colspan="10">

                            <div id="last-date-attended-error" data-bind="visible:LastDateAttended.isValid()===false"><span data-bind="html:lastDateValidationMessage"></span></div>
                            <div id="grade-expire-date-required-error" data-bind="visible:!isExpireDateRequired()"><span data-bind="html:ExpirationDateRequiredMessage"></span></div>
                            <div id="grade-expire-date-required-error" data-bind="visible:!isLDARequired()"><span data-bind="html:AttendanceDateRequiredMessage"></span></div>
                            <div id="grade-expire-date-error" data-bind="visible:GradeExpireDate.isValid()===false"><span data-bind="html:gradeExpireDateMessage"></span></div>

                            <div id="server-error" data-bind="visible:gradeEntryErrors().length>0"><span data-bind="html:gradeEntryErrors()[0]"></span></div>
                        </td>
                    </tr>
                    <!--/ko-->
                </tbody>
            </table>
        </div>
    </div>

    <modal-spinner id="loading" params="isVisible: $parent.verifyGradingModelInstance.isVerifying(), message: '@Resources.Faculty.VerifyGradesMessage'"></modal-spinner>

    @*OK/Cancel Dialog*@
    <div data-bind="with:$parent.verifyGradingModelInstance">
        <modal-dialog id="okCancelDialog" params="isVisible: verifyGradesDialogisOpen, title: Ellucian.Faculty.Resources.PostGradeDialogHeader, content: $data, defaultCloseOff: true, buttons: [ cancelButton, okButton, postGradesButton ]">
            <div class="dialog-wrapper verify-grade-dialog">
                <span class="verify-grade-message , requisite-required" data-bind="visible:countOfGradesToVerify()!==0">@Resources.Faculty.VerifyGradesNotModifiedAlertMessage </span>

                <div id="verify-grade-dialog-contents">

                    <span data-bind="visible: countOfGradesToVerify()!==0, text:countOfGradesToVerify() + ' '+ '@Resources.Faculty.GradesPostedMessage'"></span>
                    <span data-bind="visible:countOfGradesToVerify()==0">@Resources.Faculty.NoGradesToVerifyAlertMessage</span>
                </div>
                <div id="verify-grade-dialog-message" data-bind="visible: countOfGradesToVerify()!==0">
                    <span>@Resources.Faculty.PostGradeDialogText</span>
                </div>

            </div>
        </modal-dialog>
    </div>

</div>