﻿@*Copyright 2016 Ellucian Company L.P. and its affiliates.*@
<div id="faculty-overview-grades" class="clear-group" data-bind="with:overviewGradingModelInstance">
        
    <message params="isVisible: hasStudentGrades() === false  && $parent.isWaitingForOverview()===false, message: '@Resources.Faculty.NoRosterStudentsMessage', type:'info', isSmall: true"></message>
    <message params="isVisible: remainingGradesToBeProcessed()>0, message: InfoMessageToDisplay, type: 'info', isSmall: true"></message>
    <div data-bind="css: $parent.NumberOfMidtermGradesToShow() > 4 ? 'wide-scrolling-table-wrapper' : 'scrolling-table-wrapper'">
        <table id="faculty-overview-grading-table" data-bind="css: $parent.NumberOfMidtermGradesToShow() >   4? 'wide-scrolling-table' : 'scrolling-table',visible: hasStudentGrades() === true,dynamicCollection:StudentGrades,  sortable:{ contents:StudentGrades,  imagePath: '@Url.Content("~/Content/Images/")',  isMobile:$parent.isMobile()}">
            <thead>
                <tr>
                    <th>@Resources.Faculty.SectionGradeImageColumn</th>
                    <th id="displayNameLfmHeader" class="esg-table-head__th--no-border" data-bind="sortOn: {fieldName:'LastName;FirstName;MiddleName', displayAs:'@Resources.Faculty.SectionGradeColumn1', defaultField:true}">
                        @Resources.Faculty.SectionGradeColumn1
                    </th>
                    <th id="studentIdHeader" data-bind="sortOn: {fieldName:'StudentId',  displayAs:'@Resources.Faculty.SectionGradeColumn2'}">@Resources.Faculty.SectionGradeColumn2</th>
                    <th id="neverAttendedHeader" data-bind="sortOn: {fieldName:'NeverAttended;LastName;FirstName' ,displayAs:'@Resources.Faculty.SectionGradeColumn3'}">@Resources.Faculty.SectionGradeColumn3</th>
                    <th id="lastDateAttendedHeader" data-bind="sortOn: { fieldName:'LastDateAttended;LastName;FirstName',  displayAs:'@Resources.Faculty.SectionGradeColumn4'}">@Resources.Faculty.SectionGradeColumn4</th>
                    <th id="finalGradeHeader" data-bind="sortOn: {fieldName:'FinalGrade;LastName;FirstName',  displayAs:'@Resources.Faculty.SectionGradeColumn5'}">@Resources.Faculty.SectionGradeColumn5</th>
                    <th id="gradeExpireDateHeader" data-bind="sortOn: {fieldName:'GradeExpireDate;LastName;FirstName',  displayAs:'@Resources.Faculty.SectionGradeColumn6'}">@Resources.Faculty.SectionGradeColumn6</th>
                    <!-- ko if: $parent.NumberOfMidtermGradesToShow() > 0 -->
                    <th id="midterm1GradeHeader" data-bind="sortOn: {fieldName:'Midterm1Grade;LastName;FirstName', displayAs:'@Resources.Faculty.Midterm1GradeLabel'}">@Resources.Faculty.Midterm1GradeLabel</th>
                    <!-- /ko -->
                    <!-- ko if: $parent.NumberOfMidtermGradesToShow() > 1 -->
                    <th id="midterm2GradeHeader" data-bind="sortOn: {fieldName:'Midterm2Grade;LastName;FirstName', displayAs:'@Resources.Faculty.Midterm2GradeLabel'}">@Resources.Faculty.Midterm2GradeLabel</th>
                    <!-- /ko -->
                    <!-- ko if: $parent.NumberOfMidtermGradesToShow() > 2 -->
                    <th id="midterm3GradeHeader" data-bind="sortOn: {fieldName:'Midterm3Grade;LastName;FirstName', displayAs:'@Resources.Faculty.Midterm3GradeLabel'}">@Resources.Faculty.Midterm3GradeLabel</th>
                    <!-- /ko -->
                    <!-- ko if: $parent.NumberOfMidtermGradesToShow() > 3 -->
                    <th id="midterm4GradeHeader" data-bind="sortOn: {fieldName:'Midterm4Grade;LastName;FirstName', displayAs:'@Resources.Faculty.Midterm4GradeLabel'}">@Resources.Faculty.Midterm4GradeLabel</th>
                    <!-- /ko -->
                    <!-- ko if: $parent.NumberOfMidtermGradesToShow() > 4 -->
                    <th id="midterm5GradeHeader" data-bind="sortOn: {fieldName:'Midterm5Grade;LastName;FirstName', displayAs:'@Resources.Faculty.Midterm5GradeLabel'}">@Resources.Faculty.Midterm5GradeLabel</th>
                    <!-- /ko -->
                    <!-- ko if: $parent.NumberOfMidtermGradesToShow() === 6 -->
                    <th id="midterm6GradeHeader" data-bind="sortOn: {fieldName:'Midterm6Grade;LastName;FirstName', displayAs:'@Resources.Faculty.Midterm6GradeLabel'}">@Resources.Faculty.Midterm6GradeLabel</th>
                    <!-- /ko -->
                    <th data-bind="sortOn: {fieldName:'ClassLevelOrder;LastName;FirstName', displayAs:'@Resources.Faculty.SectionGradeColumn8'}">@Resources.Faculty.SectionGradeColumn8</th>
                    <th>@Resources.Faculty.SectionGradeColumn7</th>


                </tr>
            </thead>
            <tbody id="faculty=overview-grading-table-tbody" data-bind="foreach: StudentGrades" > 
                <tr>
                    <td class="roster-photo">
                        <profile-photo params="id: StudentId, altText: '@Resources.Faculty.StudentPhotoAltText', size: 'small'"></profile-photo>
                    </td>
                    <td class="faculty-grade-name-display" data-bind="foreach: DisplayNameLfm()">
                        <p data-bind="text:$data"></p>
                    </td>
                    <td data-bind="text: StudentId()"></td>
                    <td data-bind="css: NeverAttended() === true ? 'never-attended' : ''"></td>
                    <td data-bind="text: LastDateAttended()"></td>
                    <td data-bind="text: FinalGrade()"></td>
                    <td data-bind="text: GradeExpireDate()"></td>
                    <!-- ko if: $parent.NumberOfMidtermGradesToShow() > 0 -->
                    <td data-bind="text: Midterm1Grade()"></td>
                    <!-- /ko -->
                    <!-- ko if: $parent.NumberOfMidtermGradesToShow() > 1 -->
                    <td data-bind="text: Midterm2Grade()"></td>
                    <!-- /ko -->
                    <!-- ko if: $parent.NumberOfMidtermGradesToShow() > 2 -->
                    <td><span data-bind="text:Midterm3Grade()"></span></td>
                    <!-- /ko -->
                    <!-- ko if: $parent.NumberOfMidtermGradesToShow() > 3 -->
                    <td><span data-bind="text:Midterm4Grade()"></span></td>
                    <!-- /ko -->
                    <!-- ko if: $parent.NumberOfMidtermGradesToShow() > 4 -->
                    <td><span data-bind="text:Midterm5Grade()"></span></td>
                    <!-- /ko -->
                    <!-- ko if: $parent.NumberOfMidtermGradesToShow() === 6 -->
                    <td><span data-bind="text:Midterm6Grade()"></span></td>
                    <!-- /ko -->
                    <td data-bind="text: ClassLevelDescription()"></td>
                    <td data-bind="text: CreditsCeus()"></td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial(@"~\Views\Shared\MobileViewSortingTemplate.cshtml")
    </div>


