﻿@*Copyright 2016 Ellucian Company L.P. and its affiliates.*@
<div>

    <!--FACULTY GRADING NAVIGATION TABS -->
    <div id="faculty-grading-content-nav">

        <div class="clear-group column-nine faculty-grading-navigation">
            <!-- ko if: isMobile() -->
            <div class="mobile-grade-view-selection">
                <label class="mobile-sorting-label" for="grade-view-dropdown">Select View:</label>
                <div class="overflow-hidden">
                    <select id="grade-view-dropdown" class="esg-form__input" data-bind="options: MobileGradeViews, optionsText: function(item) {return item.Item2}, optionsValue: function(item) {return item.Item1}, optionsCaption:'Select Grade View', value: mobileGradeViewSelected"></select>
                </div>
            </div>
            <!-- /ko -->
            <!-- ko ifnot: isMobile() -->
            <div class="float-left column-one column-four-md column-four-sm">
                <button id="gradeOverview" type="button" class="faculty-grading-navigation-button no-styles tabElement" data-bind="click:gradeOverviewTabSelected() , css:displayGradeOverview()===true?'selectedTab':''">@Resources.Faculty.GradingOverviewTab</button>
            </div>
            <div data-bind="visible:IsTermOpen()" class="column-one column-four-md column-four-sm">
                <button id="finalGrades" class="faculty-grading-navigation-button no-styles" type="button" data-bind="click:finalGradesTabSelected(), css:displayFinalGrades()===true?'selectedTab':''">@Resources.Faculty.FinalGradeTab</button>
            </div>
            <div data-bind="visible:NumberOfMidtermGradesToShow() > 0" class="column-one column-four-md column-four-sm">
                <button class="faculty-grading-navigation-button no-styles" type="button" data-bind="click:midterm1GradesTabSelected(), css:displayMidterm1Grades()===true?'selectedTab':''">@Resources.Faculty.Midterm1GradeLabel</button>
            </div>
            <div data-bind="visible:NumberOfMidtermGradesToShow() > 1" class="column-one column-four-md column-four-sm">
                <button class="faculty-grading-navigation-button no-styles" type="button" data-bind="click:midterm2GradesTabSelected(), css:displayMidterm2Grades()===true?'selectedTab':''">@Resources.Faculty.Midterm2GradeLabel</button>
            </div>
            <div data-bind="visible:NumberOfMidtermGradesToShow() > 2" class="column-one column-four-md column-four-sm">
                <button class="faculty-grading-navigation-button no-styles" type="button" data-bind="click:midterm3GradesTabSelected(), css:displayMidterm3Grades()===true?'selectedTab':''">@Resources.Faculty.Midterm3GradeLabel</button>
            </div>
            <div data-bind="visible:NumberOfMidtermGradesToShow() > 3" class="column-one column-four-md column-four-sm">
                <button class="faculty-grading-navigation-button no-styles" type="button" data-bind="click:midterm4GradesTabSelected(), css:displayMidterm4Grades()===true?'selectedTab':''">@Resources.Faculty.Midterm4GradeLabel</button>
            </div>
            <div data-bind="visible:NumberOfMidtermGradesToShow() > 4" class="column-one column-four-md column-four-sm">
                <button class="faculty-grading-navigation-button no-styles" type="button" data-bind="click:midterm5GradesTabSelected(), css:displayMidterm5Grades()===true?'selectedTab':''">@Resources.Faculty.Midterm5GradeLabel</button>
            </div>
            <div data-bind="visible:NumberOfMidtermGradesToShow() > 5" class="column-one column-four-md column-four-sm">
                <button class="faculty-grading-navigation-button no-styles" type="button" data-bind="click:midterm6GradesTabSelected(), css:displayMidterm6Grades()===true?'selectedTab':''">@Resources.Faculty.Midterm6GradeLabel</button>
            </div>
            <!-- /ko -->
        </div>

        <div id="grade-overview-content-nav" data-bind="visible:displayGradeOverview()" style="display:none;">
            <!--SECTION GRADE OVERVIEW-->
            <div>
                @Html.Partial("~/areas/planning/views/faculty/partials/FacultySectionGradingPartial.cshtml")

            </div>
        </div>
        <div id="final-grade-content-nav" data-bind="visible:displayFinalGrades()" style="display:none;">
            <!--SECTION FINAL GRADES-->
            <div>
                @Html.Partial("~/areas/planning/views/faculty/partials/FacultySectionFinalGradesPartial.cshtml")

            </div>
        </div>
        <div data-bind="visible: showMidtermGrades()" style="display:none;">
            <!--SECTION MIDTERM GRADES-->
            <div>
                @Html.Partial("~/areas/planning/views/faculty/partials/FacultySectionMidtermGradePartial.cshtml")
            </div>
        </div>

    </div>
</div>

<modal-spinner id="loading" params="isVisible: isWaitingForOverview, message: 'Loading...'"></modal-spinner>