﻿@*Copyright 2015 Ellucian Company L.P. and its affiliates.*@
<div id="faculty-section-waiver" class="section-wrapper" style="display: none;" data-bind="visible: showWaiverContents()===true && isAnyPermissionSelected()===true">
    <div class="clear-group">
        <div class="backlink">
            <h3>
                <a href="#" data-bind="click: function() { showWaiverContents(false);isAnyPermissionSelected(false) } , clickBubble: false">@Resources.Faculty.BackToPermissionsLink</a>
            </h3>
            <div class="nav-header-info">
                <h3>
                    <span>@Resources.Faculty.RequisiteWaiverHeader</span>
                </h3>
            </div>
        </div>
    </div>
    <div id="faculty-section">
        <div class="section-requisites section-wrapper">
            <h3 class="section-header">
                <span>@Resources.Faculty.StudentWaiverHeader</span>
                <input class="esg-button esg-button--primary add-waiver-button" type="button" value="@Resources.Faculty.AddWaiverButtonLabel" aria-label="@Resources.Faculty.AddNewWaiverButtonAria" title="@Resources.Faculty.AddNewWaiverButtonAria"
                       data-bind="visible: CanFacultyAddWaivers() === true, click: openAddWaiverDialog, clickBubble: false" />
            </h3>
            <div class="section-contents">
                <span data-bind="visible: hasWaivers() === false">@Resources.Faculty.NoWaiversMessage</span>
                <table id="student-waiver-table" data-bind="visible: hasWaivers() === true">
                    <caption>@Resources.Faculty.StudentWaiverTableCaption</caption>
                    <thead>
                        <tr>
                            <th class="section-requisites-name">@Resources.Faculty.WaiverColumn1</th>
                            <th class="section-requisites-studentid">@Resources.Faculty.WaiverColumn2</th>
                            <th class="section-requisites-updatedby">@Resources.Faculty.WaiverColumn3</th>
                            <th class="section-requisites-updatedon">@Resources.Faculty.WaiverColumn4</th>
                            <th class="section-requisites-explanation">@Resources.Faculty.WaiverColumn5</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: sortedWaivers()">
                        <tr>
                            <td data-bind="text: DisplayNameLfm()"></td>
                            <td data-bind="text: StudentId()"></td>
                            <td data-bind="text: AuthorizedBy()"></td>
                            <td data-bind="text: UpdatedOn()"></td>
                            <td>
                                <!-- ko if: IsRevoked() === true -->
                                <div data-bind="text: '@Resources.Faculty.WaiverStatusRevoked', css: 'waiver-revoked'"></div>
                                <!-- /ko -->
                                <div data-bind="text: Reason() != '' ? Reason() + ' ' + FreeformExplanation() : FreeformExplanation()"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="section-wrapper">
            <h3 class="section-header">@Resources.Faculty.PrerequisiteHeader</h3>
            <div class="section-contents">
                <span data-bind="visible: hasPrerequisites() === false">@Resources.Faculty.NoPrerequisitesMessage</span>

                <table class="responsiveTable" data-bind="visible: hasPrerequisites() === true">
                    <thead>
                        <tr>
                            <th>@Resources.Faculty.RequisiteColumn1</th>
                            <th>@Resources.Faculty.RequisiteColumn2</th>
                            <th>@Resources.Faculty.RequisiteColumn3</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: CoursePrerequisites()">
                        <tr>
                            <td data-bind="text: DisplayText()">
                            </td>
                            <td data-bind="text: EnforcementText()">
                            </td>
                            <td data-bind="text: CompletionOrderDisplay()">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="section-wrapper">
            <h3 class="section-header">@Resources.Faculty.CorequisiteHeader</h3>
            <div class="section-contents">
                <span data-bind="visible: hasCorequisites() === false">@Resources.Faculty.NoCorequisitesMessage</span>

                <table class="responsiveTable" data-bind="visible: hasCorequisites() === true">
                    <thead>
                        <tr>
                            <th>@Resources.Faculty.RequisiteColumn1</th>
                            <th>@Resources.Faculty.RequisiteColumn2</th>
                            <th>@Resources.Faculty.RequisiteColumn3</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: CourseCorequisites()">
                        <tr>
                            <td data-bind="text: DisplayText()">
                            </td>
                            <td data-bind="text: EnforcementText()">
                            </td>
                            <td data-bind="text: CompletionOrderDisplay()">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <modal-spinner id="loading" params="isVisible: IsLoading, message: LoadingMessage"></modal-spinner>
    </div>
    <div id="dialogs">
        <!-- Add Waiver Dialog -->
        @Html.Partial("AddWaiverDialog")
    </div>
</div>
