﻿@*Copyright 2015 Ellucian Company L.P. and its affiliates.*@
 <div id="user-profile-header" class="clear-group" style="display:none;" data-bind="visible: isRetrievalCompleted()">

            <div id="user-profile-name" data-bind="text: FormattedNameDisplay()">
            </div>
            <div>
                <br />
            </div>
            <div class="user-profile-detail" data-bind="text: TermName()">
            </div>
            <div>
                <br />
            </div>
            <div data-bind="text: Location()"></div>
            <div>
                <br />
            </div>
            <!-- ko foreach: Meetings() -->
            <div data-bind="if: DaysOfWeekDisplay() != ''">
                <span data-bind="text: DaysOfWeekDisplay() + ' '"></span><span data-bind="text: StartTimeDisplay() + ' - ' + EndTimeDisplay()"></span>
            </div>
            <div data-bind="if: DaysOfWeekDisplay() == '' && !IsOnline()">
                <span>@Resources.Faculty.TBDText</span>
            </div>
            <div>
                <span data-bind="text: DatesDisplay()"></span>
            </div>
            <div>
                <span data-bind="text: ko.utils.unwrapObservable($parent.LocationDisplay)"></span>
            </div>
            <div data-bind="if: BuildingDisplay() != null && BuildingDisplay() != '' ">
                <span data-bind="text: (BuildingDisplay() ? BuildingDisplay() : '(@Resources.Faculty.TBDText)') + ', '"></span><span data-bind="text: RoomDisplay() ? RoomDisplay() : '(@Resources.Faculty.TBDText)'"></span><span data-bind="text: ' ' + InstructionalMethodDisplay()"></span>
            </div>
            <div data-bind="if: (BuildingDisplay() == null || BuildingDisplay() == '') && !IsOnline()">
                <span>@Resources.Faculty.TBDText</span>
            </div>
            <div data-bind="if: (BuildingDisplay() == null || BuildingDisplay() == '') && IsOnline()">
                <span data-bind="text: ' ' + InstructionalMethodDisplay()"></span>
            </div>
            <div>
                <br />
            </div>
            <!-- /ko -->

        </div>