﻿@*Copyright 2015 Ellucian Company L.P. and its affiliates.*@
<div id="faculty-roster" class="clear-group">
    <div>
        <span data-bind="visible: hasStudents() === false">@Resources.Faculty.NoRosterStudentsMessage</span>
        <div id="email-roster-students">
            <a data-bind="mailto : {email: emailToAllTheStudents()}">
                <span class=" esg-button__icon--left esg-icon__container" aria-hidden="True">

                    <svg class="esg-icon esg-icon--small">
                        <use xlink:href="#icon-email"></use>
                    </svg>
                </span>
                <span class="export-button__label" data-bind="html:'@Resources.Faculty.EmailToAllRosterStudentsLinkText' ,  attr:{'aria-describedby':'@Resources.Faculty.EmailToAllRosterStudentsDescription'}"></span>
            </a>
        </div>
        <table id="faculty-roster-table" data-bind="visible: hasStudents() === true">
            <thead>
                <tr>
                    <th>@Resources.Faculty.SectionRosterImageColumn</th>
                    <th class="esg-table-head__th--no-border">@Resources.Faculty.SectionRosterColumn1</th>
                    <th>@Resources.Faculty.SectionRosterColumn2</th>
                    <th>@Resources.Faculty.SectionRosterColumn3</th>
                    <th>@Resources.Faculty.SectionRosterColumn4</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: RosterStudents">
                <tr>
                    <td class="roster-photo">
                        <profile-photo params="id: StudentId, altText: '@Resources.Faculty.StudentPhotoAltText', size: 'small'"></profile-photo>
                    </td>
                    <td data-bind="text: DisplayNameLfm()"></td>
                    <td data-bind="text: StudentId()"></td>
                    <td data-bind="text: ClassLevel()"></td>
                    <!-- ko if: PreferredEmail() != null-->
                    <td>
                        <a class="user-profile-email" data-bind="text: PreferredEmail(), mailto: { email: PreferredEmail(), label: '@Resources.Faculty.SendAnEmailToTag' + DisplayNameLfm() + ' '}"></a>
                    </td>
                    <!-- /ko -->
                    <!-- ko if: PreferredEmail() == null-->
                    <td></td>
                    <!-- /ko -->
                </tr>
            </tbody>
        </table>
    </div>
</div>
