﻿/* ----------------------------------------------------------- */
/* //////////  Collapsible Group Styles            //////////  */
/* ----------------------------------------------------------- */

.collapsible-item{
    display: none;
    border: 1px solid $color-base-65;
}
 
.collapsible-item ul{
    list-style-type: none;
    margin: .5em 0 .4em .4em;
}
 
 
 
.collapsible-item td{
    background-color: $color-base-95;
}
 
.collapsible-item ul li {
  line-height: 1.75;
}
 
.collapsible-item td:first-child{
    padding-left: 4.45em;
}
 
.collapsible h4{
    display: inline-block;
    text-transform: none;
    color: $color-base-95;
    font-size: 1.2em;
    font-weight: bold;
}
 
.section-header .expand-details{
    margin: 0 .4em 0 0;
}
 
.section-header .expand-details .arrow{
    border-top: 2px solid $color-base-45;
    border-right: 2px solid $color-base-45;
    }

.expand-details {
  width: 2em;
  margin-right: .8em;
}
 
 
.group-header{
    background-color: $color-base-45;
    color: $color-base-95;
    cursor: pointer;
    padding: 1em 0;
}
 
.group-header:hover{
    background-color: $color-base-45;
}
 
.group-header .expand-details{
    margin: 0 .4em 0 .8em;
}
 
.group-header .expand-details .arrow{
    border-top: 2px solid $color-base-95;
    border-right: 2px solid $color-base-95;
}