﻿/* ----------------------------------------------------------- */
/* //////////   Admin                              //////////  */
/* ----------------------------------------------------------- */

.theme-save-button {
    font-size: 1em;
    padding: 0.3em 1.5em;
}

.gradientPreview {
    width: 4.93em;
    height: 3.77em;
    border: 1px solid $color-base-10;
    float: left;
    margin-left: .77em;
    margin-top: -2.16em;
}

.themeContent h3.ui-accordion-header {
    background-color: $color-base-75;
    border: 0.1em solid $color-base-60;
    margin: 0 0 12px 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.themeContent h3.ui-accordion-header a {
    padding-top: 1.23em;
    padding-bottom: 1.23em;
    padding-left: 2.31em;
    font-weight: bold;
    color: $color-base-30;
}

.themeContent h3.ui-accordion-header a:hover {
    color: $color-base-30;
}

.themeContent h3.ui-accordion-header:hover {
    background-color: $color-base-65;
    border-color: $color-base-55;
}

.themeContent h3.ui-state-active {
    background-color: $color-base-60;
    margin-bottom: 0;
    border-color: $color-base-50;
}

.themeContent h3.ui-state-active a:hover {
    color: $color-base-30;
}

.themeContent .ui-accordion-content {
    border: .16em solid $color-base-50;
    padding: .77em;
    margin-top: -.16em;
    margin-bottom: .93em;
}

.themeContent .ui-accordion-content h4 {
    padding: .56em 0 .28em;
}

.edit-container {
    border: 1px dashed $color-base-10;
    background: $color-base-80;
    padding: .77em;
    padding: .39em .77em .77em;
}

.edit-container label {
    display: block;
    padding: .77em 0 .39em;
}

.edit-container .sp-replacer {
    margin-left: .5rem;
}

.gradient-text-input {
    float: left;
}

/* About Page */

.about-title h5 {
    color: $color-base-30;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 2.3em;
}

.about-title h5 sup {
    font-size: 55%;
    vertical-align: .6em;
}

.version {
    margin: 0 0 2%;
}

.copyright {
    margin: 1.5% 0;
    background: url("../Content/Images/ellucian-about.png") no-repeat scroll 0 0 transparent;
    padding: 0 0 0 11.11em;
    color: $color-base-50;
    font-size: .9em;
    min-height: 25px;
    line-height: 1.2em;
}

.admin-page .layout-table-cell,
.admin-page .layout-table-cell .layout-table-cell {
    padding: 0 .875rem;
}

.sitemap-padding.left {
    padding-left: 1em;
}

.sitemap-padding.bottom {
    padding-bottom: 1em;
}

#enable-analytics,
#enable-custom-tracking,
#insert-custom-tracking-after-body,
#useEncryptedAssertions,
#setNameIdPolicy
 {
    visibility: visible;
    position: static;
    box-shadow: none;
    opacity: 1;
}

/* Resource File Editor */
.resource-file-path {
    word-wrap: break-word;
}

@media (min-width: 769px) {
    .resource-file-path {
        padding-left: 2rem;
    }
}

.resource-file-path__text {
    padding: 1rem 0; /* needed to match select height */
}

.resource-file-entries__key {
    width: 15%;
}

.resource-file-entries__value {
    width: 35%;
}

.resource-file-entries__restore {
    width: 10%
}

.resource-file-entries__ellucian-value,
.resource-file-entries__comment {
    width: 20%;
}

.resource-file-key__label {
    word-wrap: break-word;
}

/* Authentication Page */
.configuration-attribute__link {
    padding-left: 1rem;
}