﻿/* ----------------------------------------------------------- */
/* //////////   Inline Notifications               //////////  */
/* ----------------------------------------------------------- */

.keyword-default {
    color: $color-base-50;
}

.error-message {
    background: $color-error-fill url('./Images/icon-error.png') 10px center no-repeat;
    border: 1px solid $color-error;
    color: $color-base-10;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: .8em .8em .8em 2.8em;
    font-size: 1em;
    margin: .77em;
}

.error {
    background: $color-error-fill url('./Images/icon-error.png') 10px center no-repeat;
    padding-left: 34px;
    width: 91.3%;
    border: 1px solid $color-error;
    color: $color-error;
    font-weight: bold;
}

.errorArea {
    background: $color-error-fill url('./Images/icon-error.png') 10px center no-repeat;
    border: 1px solid $color-error;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: auto;
    padding: .8em .8em .8em 2.8em;
}


.icon-only-error {
    background: transparent url('./Images/icon-error.png') center center no-repeat;
    background-size: 16px;
    height: 16px;
    width: 16px;
}

.icon-only-success {
    background: transparent url('./Images/icon-success.png') center center no-repeat;
    background-size: 16px;
    height: 16px;
    width: 16px;
}

.icon-only-in-progress {
    background: url("./Images/icon-progress.png") center center no-repeat;
    background-size: 16px;
    height: 16px;
    width: 16px;
}

.icon-only-warning {
    background: transparent url('./Images/icon-warning.png') center center no-repeat;
    background-size: 16px;
    height: 16px;
    width: 16px;
}

.icon-only-info {
    background: transparent url('./Images/icon-info.png') center center no-repeat;
    background-size: 16px;
    height: 16px;
    width: 16px;
}

/* Error Messages - High Density Styles*/
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
    .icon-only-error {
        background: transparent url('./Images/icon-error@2x.png') center center no-repeat;
        background-size: 16px;
        height: 16px;
        width: 16px;
    }

    .icon-only-success {
        background: transparent url('./Images/icon-success@2x.png') center center no-repeat;
        background-size: 16px;
        height: 16px;
        width: 16px;
    }

    .icon-only-in-progress {
        background: url("./Images/icon-progress@2x.png") center center no-repeat;
        background-size: 16px;
        height: 16px;
        width: 16px;
    }

    .icon-only-warning {
        background: transparent url('./Images/icon-warning@2x.png') center center no-repeat;
        background-size: 16px;
        height: 16px;
        width: 16px;
    }

    .icon-only-info {
        background: transparent url('./Images/icon-info@2x.png') center center no-repeat;
        background-size: 16px;
        height: 16px;
        width: 16px;
    }
}

/* Modifiers to ESG alert patterns */

// Use if you need a bolded title at the top of a multiline alert message
.esg-alert__message--title {
    padding-bottom: .5em;
    font-weight: 800;
    }

// Make the alert smaller, to scale better when used in dense content
.esg-alert--small {
    margin-bottom: 1rem;
}

.esg-alert--small .esg-alert__message {
    padding: .75rem;
}

.esg-alert--small .esg-icon {
    height: 1.25rem;
}

.esg-alert--small .esg-alert__icon svg {
    width: 2.75rem;
    }

// Clear floats so we can move things around in the message
.esg-alert__message::after {
    clear: both;
    }

.esg-alert--fluid {
    max-width: 100%;
    }

// Add extra left/right margin, for use in some layouts
// where the margin changes based on view size
.esg-alert--extra-margin {
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: inherit;
    }

// Used for the "MTXT" alert at the top of pages
.esg-alert--no-top-margin {
    margin-top: 0;
}