﻿/* Fade out animation */
@-webkit-keyframes fadeout {
    0% {
        opacity: 1;
        visibility: visible;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@-moz-keyframes fadeout {
    0% {
        opacity: 1;
        visibility: visible;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@-o-keyframes fadeout {
    0% {
        opacity: 1;
        visibility: visible;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
        visibility: visible;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.fade-out {
    -webkit-animation: fadeout .2s linear;
    -moz-animation: fadeout .2s linear;
    -o-animation: fadeout .2s linear;
    animation: fadeout .2s linear;
    visibility: hidden;
}

/* Fade in animation */
@-webkit-keyframes fadein {
    0% {
        opacity: 0;
        visibility: visible;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes fadein {
    0% {
        opacity: 0;
        visibility: visible;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes fadein {
    0% {
        opacity: 0;
        visibility: visible;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadein {
    0% {
        opacity: 0;
        visibility: visible;
    }
    100% {
        opacity: 1;
    }
}

.fade-in {
    -webkit-animation: fadein .2s linear;
    -moz-animation: fadein .2s linear;
    -o-animation: fadein .2s linear;
    animation: fadein .2s linear;
}