﻿/* ----------------------------------------------------------- */
/* //////////   Breadcrumb styling                 //////////  */
/* ----------------------------------------------------------- */

#breadcrumb-root>li {
    float: left;
    padding-top: .813rem;
    padding-right: 0;
    padding-bottom: .813rem;
    padding-left: .469rem;
    background: $color-base-65;
    margin-right: .156rem;                    // Controls the starting point of the next breadcrumb element (ie: width of the seperating arrow)
    height: 2.250rem;
    line-height: 1;
}

#breadcrumb-root>li:not(:last-of-type)::after {
    float: right;
    content: '';
    border-left: 1.125rem solid $color-base-65;       // 1/2 of #breadcrumb-root>li height plus padding, same background color as #breadcrumb-root>li
    border-top: 1.125rem solid $color-base-80;       // 1/2 of #breadcrumb-root>li height plus padding, same background color as #breadcrumb
    border-bottom: 1.125rem solid $color-base-80;    // 1/2 of #breadcrumb-root>li height plus padding, same background color as #breadcrumb
    margin-top: -.813rem;                        // Negative same as #breadcrumb-root>li padding top
    margin-left: .813rem;                        // Effectively controls the RIGHT padding of the breadcrumb elements
    box-sizing: border-box;
    height: 2.25rem;
    width: 1.125rem;
}

#breadcrumb-root>li:not(:first-of-type):not(:last-of-type)::before {
    float: left;
    content: '';
    border-left: 1.125rem solid transparent;       // 1/2 of #breadcrumb-root>li height plus padding, transparent
    border-top: 1.125rem solid $color-base-65;          // 1/2 of #breadcrumb-root>li height plus padding, same background color as #breadcrumb-root>li
    border-bottom: 1.125rem solid $color-base-65;       // 1/2 of #breadcrumb-root>li height plus padding, same background color as #breadcrumb-root>li
    margin-top: -.813rem;                        // Negative padding top of #breadcrumb-root>li height
    margin-left: -1.594rem;                     // Negative (sum of this border-left and #breadcrumb-root>li padding-left)
    box-sizing: border-box;
    height: 2.25rem;
    width: 1.125rem;
}

#breadcrumb {
    background-color: $color-base-80;           // Color for the breadcrumb bar
    min-height:2.25rem;                           // Sum of #breadcrumb-root>li height and top and bottom padding
}

#breadcrumb a, #breadcrumb a:visited, .breadcrumb-menu-item {
    color: $color-base-10;
    cursor:pointer;
}

#breadcrumb-root > li:last-of-type {
    color: $color-base-10;
    background: $color-base-80;
}

#breadcrumb-root > li:first-of-type {
    padding-left: 1.688rem;
}

#breadcrumb .breadcrumb-drop a {
    color: $color-base-10;
}

#breadcrumb a {
    margin-right: 1.25rem;
    margin-left: .391rem;
}

#breadcrumb-root {
    display: none;
}

.breadcrumb-drop {
    display: none;
    position: absolute;
    background: $color-base-80;
    margin-top: .938rem;
    margin-left: -1.719rem;
    min-width: 3.125rem;
    z-index:5;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    -moz-border-bottom-left-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    -moz-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-top-left-radius: 0;
    -moz-box-shadow: .144rem .144rem .144rem $color-base-35;
    -webkit-box-shadow: .144rem .144rem .144rem $color-base-35;
    box-shadow: .144rem .144rem .144rem $color-base-35;
    border: solid 1px $color-base-40;
}

ul.breadcrumb-drop li {
    padding: .813rem;
}

ul.breadcrumb-drop li:not(:last-child)
{
    border-bottom: 1px solid $color-base-65;
}

.breadcrumb-arrow
{
    margin-left: .469rem;
    margin-right: .313rem;
    border-top-color: $color-base-55;
    border-right-color: $color-base-55;
    -moz-transition: transform 200ms linear;
    -o-transition: transform 200ms linear;
    -webkit-transition: transform 200ms linear;
    transition: transform 200ms linear;
}
// Provides positioning adjustment for the downward facing arrow
.breadcrumb-arrow.arrow-down
{
    bottom: .125rem;
    position:relative;
}

.breadcrumb-separator
{
    clear: both;
    height: 0;
}

.breadcrumb-menu-wrapper input[type=checkbox]+label:before {
    left: -1000em;
    text-indent: -1000em;
}

/* Needed to override ESG */
input[type=checkbox]+label.breadcrumb-menu-header {
    font-weight: normal;
    font-family: $primary-font-stack;
    position: static;
    padding: 0;
}

/* Style for keyboard navigation focus - FF and IE */
#breadcrumb-root input[type=checkbox]:focus + .breadcrumb-menu-header
 {
    outline-width: 1px;
    outline-style: solid;
    outline-color: Highlight;
}
/* Style for keyboard navigation focus - Webkit */
@media (-webkit-min-device-pixel-ratio:0) {
    #breadcrumb-root input[type=checkbox]:focus + .breadcrumb-menu-header {
        outline-color: -webkit-focus-ring-color;
        outline-style: auto;
    }
}

@media all and (max-width: 480px)
{
    #breadcrumb {
    display:none;
    }
}

