﻿/* ----------------------------------------------------------- */
/* //////////  Buttonless Radio Elements               //////////  */
/* ----------------------------------------------------------- */
[type="radio"].buttonless {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* One radio button per line */
label.buttonless {
    display: block;
    cursor: pointer;
}

[type="radio"].buttonless + span {
    display: block;
}

/* the basic, unchecked style 
[type="radio"].buttonless + span:before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.25em;
  border-radius: 1em;
  border: 0.125em solid $color-base-95;
  box-shadow: 0 0 0 0.15em $color-base-10;
  margin-right: 0.75em;
  transition: 0.5s ease all;
}

 the checked style using the :checked pseudo class 
[type="radio"]:checked + span:before {
  background: green;
  box-shadow: 0 0 0 0.25em $color-base-10;
}

 never forget focus styling 
[type="radio"]:focus + span:after {
  content: '\0020\2190';
  font-size: 1.5em;
  line-height: 1;
  vertical-align: -0.125em;
}*/
