﻿/* Color variables */

// Base grayscale colors - Ellucian Standard
$color-base-10: #000000;
$color-base-15: #0c0c0c; // will not be used in SS
$color-base-20: #191919; // will not be used in SS
$color-base-25: #262626;
$color-base-30: #333333;
$color-base-35: #444444;
$color-base-40: #555555;
$color-base-45: #6c6c6c;
$color-base-50: #767676; // standard is 797979, but does not pass contrast against fffffff
$color-base-55: #999999;
$color-base-60: #bdbdbd;
$color-base-65: #d5d5d5;
$color-base-70: #e2e2e2;
$color-base-75: #efefef;
$color-base-80: #f4f4f4;
$color-base-85: #f7f7f7; // will not be used in SS
$color-base-90: #f9f9f9; // will not be used in SS
$color-base-95: #ffffff;

// Feedback, alert, & notification colors - Ellucian Standard
$color-success: #008241;
$color-success-dark: #145f32;
$color-success-shadow: rgba(0, 130, 65, .15);
$color-success-fill: #e2fdf1;
$color-success-fill-dark: #b0dec5;

$color-error: #cb0004;
$color-error-dark: #a61d20;
$color-error-shadow: rgba(205, 59, 62, .15);
$color-error-fill: #fce3dd;
$color-error-fill-dark: #f3bcb8;

$color-warning: #c29100;
$color-warning-dark: #7b5c00;
$color-warning-shadow: rgba(133, 97, 0, .15);
$color-warning-fill: #fffeea;
$color-warning-fill-dark: #ffdb72;

$color-hint: #3a7683;
$color-hint-dark: #285b66;
$color-hint-shadow: rgba(58, 118, 131, .15);
$color-hint-fill: #ebfbfd;
$color-hint-fill-dark: #b0cfd9;

$color-draft: #c28041;
$color-draft-fill: #ffe0bf;

$color-pending: #8073ce;
$color-pending-fill: #edeaff;

$color-coachmark: #fffeea;
$color-coachmark-dark: #e0d397;

$mark-highlight: #ffff3f;

$color-base-10-shadow: rgba(0, 0, 0, .15);

// Brand Colors - Ellucian Standard
$color-primary:	#783084;
$color-secondary: #cfe5e2;
$color-accent: #de1c5a;

// Primary Color Spectrum
$color-primary-10: #230e26;
$color-primary-15: #341439;
$color-primary-20: #230e26;
$color-primary-25: #341439;
$color-primary-30: #451b4b;
$color-primary-35: #56225e;
$color-primary-40: #672970;
$color-primary-45: #783084;
$color-primary-50: #883696;
$color-primary-55: #9a3da9;
$color-primary-60: #aa45bb;
$color-primary-65: #b357c2;
$color-primary-70: #bb6ac9;
$color-primary-75: #c37dcf;
$color-primary-80: #cc8fd6;
$color-primary-85: #d5a2dd;
$color-primary-90: #ddb5e4;
$color-primary-95: #e6c8eb;
$color-primary-100: #eedaf1;
$color-primary-105: #f7edf8;
$color-primary-110: lighten($color-primary-105, 3%);

// Secondary Colors Spectrum
$color-secondary-10: #000101;
$color-secondary-15: #091211;
$color-secondary-20: #122220;
$color-secondary-25: #1b3330;
$color-secondary-30: #24433f;
$color-secondary-35: #2d544f;
$color-secondary-40: #36645e; // used for accordion background-colors
$color-secondary-45: #3f756e; // used for links
$color-secondary-50: #48857d;
$color-secondary-55: #51968d;
$color-secondary-60: #5ba69c;
$color-secondary-65: #6bafa6;
$color-secondary-70: #7cb8b0;
$color-secondary-75: #8cc1ba;
$color-secondary-80: #9dcac4;
$color-secondary-85: #add3ce;
$color-secondary-90: #bedcd8;
$color-secondary-95: #cfe5e2;
$color-secondary-100: #dfedeb;
$color-secondary-105: #f0f6f5;

// Accent Color Spectrum
$color-accent-10: #120207;
$color-accent-15: #280510;
$color-accent-20: #3f0819;
$color-accent-25: #560a22;
$color-accent-30: #6c0d2c;
$color-accent-35: #831035;
$color-accent-40: #9a133e;
$color-accent-45: #b01647;
$color-accent-50: #c71950;
$color-accent-55: #de1c5a;
$color-accent-60: #e42e68;
$color-accent-65: #e74579;
$color-accent-70: #ea5c89;
$color-accent-75: #ed7299;
$color-accent-80: #f089aa;
$color-accent-85: #f39fba;
$color-accent-90: #f5b6ca;
$color-accent-95: #f8cddb;
$color-accent-100: #fbe3eb;
$color-accent-105: #fefafb;
