﻿
/* ----------------------------------------------------------- */
/* //////////   Course Catalog Search           //////////  */
/* ----------------------------------------------------------- */

@media all and (max-width: 480px) {
    #keyword {
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}

/* ----------------------------------------------------------- */
/* //////////  Course Catalog: Search Bar          //////////  */
/* ----------------------------------------------------------- */


.esg-button.filter-button {
    display: none;
    margin-right: 1.17em;
}


@media all and (max-width: 769px) {
    .esg-button.filter-button {
        display: inline-block;
    }
}

/* ----------------------------------------------------------- */
/* //////////   Course Catalog: Subject List       //////////  */
/* ----------------------------------------------------------- */
.course-catalog-back a,
    .course-catalog-back a:hover {
        background-color: $color-base-50;
        font-size: 1em;
        font-weight: bold;
        color: $color-base-95;
        padding-left: 1.154em;
        background-image: none;
    }


 .course-catalog-back a:before {
        content: "";
        display: block;
        float: left;
        width: .462em;
        height: .462em;
        position: relative;
        border: 2px solid $color-base-95;
        margin: 2px .769em 0 0;
        border-width: 2px 2px 0 0;
        transform: rotate(-135deg);
    }

.course-catalog-back {
    display: none;
}

@media all and (max-width: 480px) {
    .course-catalog-back {
        background-color: $color-base-50;
        float: none;
        margin: 0;
        padding: .625rem 0;
        display: block;
    }
}

.course-catalog-back-desktop {
    display: none;
}

@media all and (min-width: 490px) {
    .course-catalog-back-desktop {
        display: block;
    }
}

.section-content {
    padding: 1.077em;
    background: $color-base-95;
}

@media all and (max-width: 480px) {
    .section-content, #course-results {
        padding: 0;
    }
}

.section-content li {
    background-color: $color-base-75;
    border: 1px solid $color-base-60; /*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; 	text-shadow: 1px 1px 0 $color-base-95;*/
    margin: 0 0 .923em 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.section-content li:last-child {
    margin-bottom: 0;
}

.section-content li:hover {
    background-color: $color-base-65;
    border: 1px solid $color-base-55; /*box-shadow: 0 1px 0 $color-base-75 inset; 	text-shadow: 1px 1px 0 $color-base-80;*/
}

.section-content li a {
    border-left: medium none;
    color: $color-base-40;
    display: block;
    font-size: .93em;
    font-weight: bold;
    padding: 1.66em 1em 1.4em;
    text-decoration: none;
    background: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.section-content li a:hover {
    color: $color-base-30;
}

/* ----------------------------------------------------------- */
/* //////////   Course Catalog: Search Results     //////////  */
/* ----------------------------------------------------------- */
#course-results .search-error {
    background: url("../Content/Images/icon-warning.png") no-repeat scroll 7px 7px $color-warning-fill;
    border: 1px solid $color-warning;
    padding: .77em .77em .77em 2.46em;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}


.expand-collapse-all {
    font-size: 0.9em;
    display: inline-block;
    padding-left: 14px;
    line-height: 16px;
    color: $color-base-30;
    padding: 0.2em 1.5em;
    background-color: $color-base-95;
    border-radius: .5em;
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
    border-radius: 0;
    border: 1px solid $color-base-55;
    -moz-box-shadow: inset 0 1px 0 rgba(237,237,237,0.7);
    -webkit-box-shadow: inset 0 1px 0 rgba(237,237,237,0.7);
    text-shadow: 0 .1em 0 rgba(255,255,255,.3);
    cursor: pointer;
    float: right;
    margin-bottom: 10px;
}

.expand-collapse-all:hover {
    color: $color-base-30;
    background-color: $color-base-75;
    border-radius: .6em;
    -moz-border-radius: .6em;
    -webkit-border-radius: .6em;
    border-top-left-radius: .6em;
    border-top-right-radius: .6em;
    border-bottom-left-radius: .6em;
    border-bottom-right-radius: .6em;
    border-radius: 0;
    border: 1px solid $color-base-55;
    -moz-box-shadow: inset 0 1px 0 rgba(237,237,237,0.7);
    -webkit-box-shadow: inset 0 1px 0 rgba(237,237,237,0.7);
    text-shadow: 0 -.1em 0 rgba(255,255,255,.3);
}

.expand-collapse-all:active {
    color: $color-base-30;
    background-color: $color-base-75;
    border-radius: .6em;
    -moz-border-radius: .6em;
    -webkit-border-radius: .6em;
    border-top-left-radius: .6em;
    border-top-right-radius: .6em;
    border-bottom-left-radius: .6em;
    border-bottom-right-radius: .6em;
    border-radius: 0;
    border: 1px solid $color-base-50;
    -moz-box-shadow: inset 0 1px 0 rgba(237,237,237,0.7);
    -webkit-box-shadow: inset 0 1px 0 rgba(237,237,237,0.7);
    text-shadow: 0 -.1em 0 rgba(255,255,255,.7);
}

.requirement-search {
    display: inline-block;
    line-height: 1.3;
    padding-bottom: .5rem;
}

.requirement-search span {
    padding: 0;
}

#course-results,
.confirmation-details {
    padding: .77em;
    background-color: $color-base-95;
}

.confirmation-details {
    line-height: 16px;
}

#course-results .ui-accordion h3.search-mainaccordion {
    background-color: $color-base-70;
    border: 1px solid $color-base-60; /*box-shadow: 0 1px 0 $color-base-95 inset; 	text-shadow: 1px 1px 0 $color-base-95;*/
    margin: 0 0 .923em 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: .692em 0;
    position: relative;
}

#course-results .ui-accordion h3.search-mainaccordion a {
    width: 50%;
}

#course-results .ui-accordion h3.search-mainaccordion:hover {
    background-color: $color-base-65; /*box-shadow: 0 1px 0 $color-base-75 inset; 	text-shadow: 1px 1px 0 $color-base-80;*/
    color: $color-base-30;
    border-color: $color-base-55;
}

#course-results .ui-accordion h3.search-mainaccordion:hover .ui-icon {
    background-color: $color-base-35;
    background-image: url("images/ui-icons_ffffff_256x240.png");
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    height: 1em;
    width: 1em; /*box-shadow: 1px 1px 0 $color-base-95;*/
}

#course-results .ui-accordion h3.search-mainaccordion:hover a {
    /*text-shadow: 1px 1px 0 $color-base-80;*/
    color: $color-base-30;
}


#course-results .ui-accordion h3.ui-state-active {
    /*box-shadow: 0 1px 0 $color-base-65 inset; 	text-shadow: -1px -1px 0 $color-base-45;*/
    border-radius: 0;
    background-color: $color-base-50;
    margin-bottom: 0;
    border-color: $color-base-50;
}

#course-results .ui-accordion h3.ui-state-active a {
    color: $color-base-35;
}

#course-results .ui-accordion h3.ui-state-active a:hover {
    color: $color-base-30;
}

.search-mainaccordion {
    font-size: 1em;
    font-weight: bold;
}

.search-coursedataheader {
    font-weight: bold;
}

.search-coursedescription {
    border-bottom: 1px solid $color-base-70;
    line-height: 1.2;
    padding-bottom: .625rem;
}

@media all and (max-width: 480px) {
    .search-sectionnamerow > td:first-child {
        display: block;
    }
}

.search-seatscell {
    vertical-align: top;
}

.search-no-filters {
    font-weight: normal !important;
}

.search-course-in-progress-banner,
.search-course-completed-banner,
.search-course-planned-banner,
.search-course-withdrawn-banner {
    border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin: .625rem;
    padding: 5px 7px 5px 27px;
    color: $color-base-10;
    display: block;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
    .search-course-withdrawn-banner {
        background: url("../Content/Images/icon-error@2x.png") no-repeat scroll 5px 2px $color-error-fill;
        background-size: 16px;
    }
}

.search-course-in-progress-banner {
    background: url("../Content/Images/icon-progress.png") no-repeat scroll 5px 2px $color-success-fill;
    border: 2px solid $color-success;
}

.search-course-completed-banner {
    background: url("../Content/Images/icon-info.png") no-repeat scroll 5px 2px $color-hint-fill;
    border: 2px solid $color-hint;
}

.search-course-planned-banner {
    background: url("../Content/Images/icon-planned.png") no-repeat scroll 5px 2px $color-warning-fill;
    border: 2px solid $color-warning;
}

.search-course-withdrawn-banner {
    background: url("../Content/Images/icon-error.png") no-repeat scroll 5px 2px $color-error-fill;
    border: 2px solid $color-error;
}



/* ----------------------------------------------------------- */
/* //////////   Course Catalog: Expand/Collapse Button   ////  */
/* ----------------------------------------------------------- */

#course-results input.expand {
    clear: both;
    float: right;
    margin-bottom: 10px;
}

/* ----------------------------------------------------------- */
/* //////////   Course Catalog: Form Elements & Buttons  ////  */
/* ----------------------------------------------------------- */

.ui-widget .search-coursedetails {
    font-size: 0.688em;
}

.ui-button-text-only .ui-button-text {
    padding: 0.4em 0;
}

input[type="button"].advising-review-button {
    margin-top: 9px;
    margin-bottom: 10px;
}

.ui-dialog .ui-dialog-buttonpane {
    padding: 0.1em 0 0.2em 0.4em;
}

.ui-dialog .ui-dialog-buttonpane button {
    /*cursor: pointer;
        padding: 0 2em;
        font-size: 0.846em;*/
    margin: 0.5em 1em 0.5em 0;
}

@media all and (max-width: 480px) {
    .ui-dialog .ui-dialog-titlebar {
        background: none;
        border-radius: 0;
        color: $color-base-10;
        margin: 0;
        text-shadow: none;
    }
}

input.schedule-detailsbutton,
input.schedule-adddrop-button {
    display: inline-block;
    margin-top: .625rem;
}

.search-coursedetails {
    color: $color-base-30;
    padding: 0.5em 2em 0.3em;
    background-color: $color-base-65;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-radius: 0;
    border: 1px solid $color-base-55;
    -moz-box-shadow: inset 0 1px 0 rgba(237,237,237,0.7);
    -webkit-box-shadow: inset 0 1px 0 rgba(237,237,237,0.7);
    text-shadow: 0 1px 0 rgba(255,255,255,.3);
}

.search-coursedetails:hover {
    color: $color-base-30;
    background-color: $color-base-75;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-radius: 0;
    border: 1px solid $color-base-55;
    -moz-box-shadow: inset 0 1px 0 rgba(237,237,237,0.7);
    -webkit-box-shadow: inset 0 1px 0 rgba(237,237,237,0.7);
    text-shadow: 0 -1px 0 rgba(255,255,255,.3);
}

.search-coursedetails:active {
    color: $color-base-30;
    background-color: $color-base-75;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-radius: 0;
    border: 1px solid $color-base-50;
    -moz-box-shadow: inset 0 1px 0 rgba(237,237,237,0.7);
    -webkit-box-shadow: inset 0 1px 0 rgba(237,237,237,0.7);
    text-shadow: 0 -1px 0 rgba(255,255,255,.7);
}
/* ----------------------------------------------------------- */
/* //////////   Course Catalog: Course Location Cycle Table    */
/* ----------------------------------------------------------- */


#coursedetails-table tr td.course-locationcycle-data {
    padding: 1em;
}

#coursedetails-table tr td.course-locationcycle-data p {
    padding-bottom: 1em;
}




.course-location-table tr td.course-locationcycle-data p {
    padding-bottom: 1em;
}

/* ----------------------------------------------------------- */
/* //////////   Course Catalog: Expanded Course    //////////  */
/* ----------------------------------------------------------- */

.course-result {
    margin-bottom: 0.692em;
    border: 1px solid $color-base-50;
}

.course-result-header {
    background-color: $color-base-50;
    padding: 10px;
}

.course-result-header h3 {
    line-height: 1.5em;
    font-weight: bold;
    font-size: 1.1em;
    float: left;
    color: $color-base-95;
}

@media (min-width: 769px) and (max-width: 899px) {
    .course-result-header h3 {
        width: 65%;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .course-result-header h3 {
        width: 60%;
    }
}

@media all and (max-width: 480px) {
    .course-result-header h3 {
        width: auto;
        float: none;
    }
}

.course-result-wrapper {
    padding: 0.385em;
}

.course-result .ui-accordion-content {
    padding: 1em;
    color: $color-base-35;
    border-bottom: 1px solid $color-base-55;
    border-right: 1px solid $color-base-55;
    border-left: 1px solid $color-base-55;
    border-top: none;
}

@media all and (max-width: 480px) {
    .course-result-wrapper:not(.primary-contents) {
        padding: .5em;
    }

    .course-result .ui-accordion-content {
        padding: .5em;
    }
}

@media all and (max-width: 480px) {
    .search-coursedataheader {
        float: none;
        margin-top: .5em;
        display: block;
        font-weight: bold;
    }
}

@media all and (max-width: 480px) {
    .search-coursedataheader {
        float: none;
        margin-top: .5em;
        display: block;
        font-weight: bold;
    }
}

/* ----------------------------------------------------------- */
/* //////////   Course Catalog: Section Bar Display   ///////  */
/* ----------------------------------------------------------- */

.available-sections:not(.primary-contents) {
    box-sizing: border-box;
    padding-bottom: 0;
}

/* Override for site */
@media (min-width: 481px) {
    .available-sections:not(.primary-contents) {
        padding: 1.3em;
    }
}

.course-result .available-sections .ui-state-default {
    background-color: $color-base-80;
    border: 1px solid $color-base-60;
    margin: 10px 0 0;
    padding: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0; /*box-shadow: 0 1px 0 #FFD4A9 inset; 	text-shadow: -1px -1px 0 $color-base-45;*/
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 1em;
}

.course-result .available-sections .ui-state-default:hover {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    border-radius: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: $color-base-95;
    border-color: $color-base-55;
}

.course-result .available-sections .ui-state-default a,
.course-result .available-sections .ui-state-default a:hover,
#course-results .course-result .ui-accordion h3.ui-state-active a {
    padding-left: 2.308em;
}

#course-results .course-result .ui-accordion h3.ui-state-active {
    /*box-shadow: 0 1px 0 $color-base-65 inset; 	text-shadow: -1px -1px 0 $color-base-45;*/
    border-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0;
    font-size: 1em;
    background-color: $color-base-80;
    border: 1px solid $color-base-55;
}

.course-result .available-sections .ui-state-default .ui-icon {
    width: .385em;
    height: .385em;
    display: block;
    margin: -.385em 0 -.692em -.077em;
    border: 2px solid $color-base-35;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    border-width: 2px 2px 0 0;
    padding: 0 !important;
    background-color: transparent;
    background-image: none;
}

.course-result .available-sections .ui-state-active .ui-icon {
    width: .385em;
    height: .385em;
    display: block;
    margin: -.385em 0 -.692em -.077em;
    border: 2px solid $color-base-35;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    border-width: 2px 2px 0 0;
    padding: 0 !important;
    background-color: transparent;
    background-image: none;
}

/* ----------------------------------------------------------- */
/* //////////   Course Catalog: Expanded Section Bar  ///////  */
/* ----------------------------------------------------------- */

.course-result .ui-accordion-content .available-sections .ui-accordion-content {
    font-size: 11px;
    color: $color-base-35;
    background: $color-base-80 /*#FCF8F5*/;
}

/* The following three classes are for the lasy section loading UI */
.sections-not-loaded {
    margin: 10px 2px 10px 2px;
}

/* ----------------------------------------------------------- */
/* //////////   Course Catalog: Section Details Table  //////  */
/* ----------------------------------------------------------- */

.search-termtitle {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: .625rem;
}

.ui-accordion-content div.search-termtitle:nth-of-type(1) {
    border-top: none;
}

.search-sectiontable {
    margin-bottom: .625rem;
}

.search-sectiondetailslink {
    font-weight: bold;
}

td.search-addsectioncell {
    text-align: right;
}

.search-nestedaccordionitem table td {
    vertical-align: top;
}

.search-addsectioncell {
}

.search-meetingtimestext {
    font-size: 1em;
}


.search-sectionseatsopen {
    vertical-align: middle;
    background-color: $color-success-fill;
    border-right: 1px solid $color-base-65;
    text-align: left;
    color: $color-success;
}

.search-sectionseatswaitlisted {
    vertical-align: middle;
    background-color: $color-error-fill;
    border-right: 1px solid $color-base-65;
    text-align: left;
    color: $color-error;
}

.search-sectionseatsnone {
    vertical-align: middle;
    background-color: $color-error-fill;
    border-right: 1px solid $color-base-65;
    text-align: left;
    color: $color-error;
}

.search-seatsavailabletext {
    font-size: 1em;
    font-weight: bold;
    text-align: left;
}

.search-sectiondaystime {
    vertical-align: middle;
}

.search-sectionlocations {
    vertical-align: middle;
}

.search-sectioninstructors {
    vertical-align: middle;
}

.search-nestedaccordionitem table .search-sectiondetailsheader:last-child {
    border-right: none;
}

.search-nestedaccordionitem table .search-sectiondetailsheader:first-child {
    width: 8%;
}

.search-nestedaccordionitem table .search-sectiondetailsheader:nth-child(2) {
    width: 30%;
}

.search-nestedaccordionitem table .search-sectiondetailsheader:nth-child(3) {
    width: 31%;
}

.search-nestedaccordionitem table .search-sectiondetailsheader:nth-child(4) {
    width: 31%;
}

@media all and (max-width: 480px) {
    .search-sectiondetailsheader:nth-child(3), .search-sectiondetailsheader:nth-child(4), .search-sectionlocations, .search-sectioninstructors {
        display: none;
    }
}


/* ----------------------------------------------------------- */
/* //////////   Course Catalog: Filter Results     //////////  */
/* ----------------------------------------------------------- */

/* Mobile Filter Menu */
.small-screen #dp-monolith .column-two {
    width: auto;
}

.small-screen #dp-monolith #schedplan-outer .column-two {
    width: 25%;
}

@media all and (max-width: 769px) {
    #dp-monolith #schedplan-outer .column-seven,
    #advising-calendar .column-seven {
        width: 75%;
    }
}

@media all and (max-width: 700px) {
    #dp-monolith #schedule-data .column-two {
        display: block;
        padding-top: 0;
        border-bottom: none;
        border-top: none;
        border-right: none;
    }

    #dp-monolith #schedplan-outer .column-seven {
        width: 100%;
    }

    .small-screen #dp-monolith #schedplan-outer .column-two {
        width: 100%;
    }
}

@media all and (max-width: 700px) {
    #schedule-data .column-two {
        width: 100%;
        float: none;
        clear: both;
        padding-top: 0;
        border-right: 1px solid $color-base-55;
        border-top: none;
    }
}

@media all and (max-width: 480px) {
    .small-screen #dp-monolith #schedplan-outer .column-two {
        padding: 0.385em;
    }

    #schedplan-outer .ui-tabs .ui-tabs-nav li {
        font-size: 1em;
        line-height: 1;
        top: 1px;
    }

    #schedplan-outer .ui-tabs .ui-tabs-selected {
        background-color: $color-base-95 !important;
        height: 2em !important;
        top: 1px !important;
    }
}

.column-two .section-wrapper {
    border-right: none;
}

@media all and (min-width: 768px) {
    .column-two .section-wrapper .filter-header {
        min-height: 1.462em;
    }
}

.column-two .section-wrapper .filters .ui-accordion-header {
    color: $color-base-10;
    background: $color-base-80;
    border-bottom: 1px solid $color-base-60;
    border-top: 1px solid $color-base-60;
    border-left: none;
    border-right: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 1px 0 0 0;
    margin: 0;
    filter: none;
    font-size: .875rem;
}

.column-two .section-wrapper .filters .ui-state-default .ui-icon {
    width: .385em;
    height: .385em;
    display: block;
    margin: -.385em 0 -.692em -.077em;
    border: 2px solid $color-base-50;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    border-width: 2px 2px 0 0;
    padding: 0 !important;
    background-color: transparent;
    background-image: none;
}

.column-two .section-wrapper .filters .ui-state-active .ui-icon {
    width: .385em;
    height: .385em;
    display: block;
    margin: -.385em 0 -.692em -.077em;
    border: 2px solid $color-base-50;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    border-width: 2px 2px 0 0;
    padding: 0 !important;
    background-color: transparent;
    background-image: none;
}

.section-header .filters span {
    padding: 0;
}

.column-two .section-wrapper .filters .ui-state-default a,
.filters .ui-helper-reset a {
    color: $color-base-35;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 2.5em;
}

.filters .ui-state-hover a {
    background: $color-base-70;
}

.filters .ui-helper-reset {
    padding-top: 1px;
    border-left: none;
    border-right: none;
}

.filters .ui-accordion-content {
    padding: .417em;
}

.filters .ui-accordion-content span {
    padding: .25em;
}

.filters .ui-accordion-content {
    border: none;
}

.filters .ui-accordion-content select {
    margin: 0.3em 0;
}

.filters .ui-accordion-content input[type="button"] {
    padding: 0.1em 1.1em;
    font-size: .9em;
}

/* ---------------------------------------------------------------- */
/* //////////  Course Catalog: Filters Applied: Remove Buttons  /// */
/* ---------------------------------------------------------------- */


.filter-remove-button {
    padding-right: .2rem;
}

.applied-filters {
   padding-top: .5rem;
}

/* ------------------------------------------------------------------ */
/* //////////   Course Catalog: Filter Results: Show All Buttons ///  */
/* ------------------------------------------------------------------ */

.filters .ui-accordion-content a,
.filters .ui-corner-bottom a {
    background: url("../Content/Images/filter-expand-button.png") no-repeat scroll 0 1px transparent;
    display: block;
    margin: .333em 0 .167em .417em;
    padding: 0 0 0 1.417em;
    text-decoration: none;
    text-transform: none;
    box-shadow: none;
}

.filters .ui-accordion-content a:hover, .filters .ui-corner-bottom a:hover {
    color:$color-base-10;
}

/* Parent Wrapper - used with column-nine */

#dp-monolith {
    clear: both;
}

@media all and (max-width: 899px) {
    #dp-monolith {
        border: none;
    }
}

@media (min-width: 768px) and (max-width: 899px) {
    #dp-monolith {
        border: none;
    }
}


@media all and (max-width: 769px) {
    #dp-monolith .column-two {
        display: none;
    }

    #dp-monolith #schedule-data .column-two {
        display: block;
        padding-top: 0;
    }

    #dp-monolith .column-seven,
    #advising-content-nav .column-seven,
    #faculty-content-nav .column-seven,
    #roster-content-nav .column-seven {
        width: 100%;
    }

  
}


/* ----------------------------------------------------------- */
/* //////////   Schedule: Section Details Dialog   //////////  */
/* ----------------------------------------------------------- */

#sectiondetails-description {
    max-height: 200px;
    overflow-y: auto;
}



.details-instructorname.layout-table-cell {
    white-space: nowrap;
    padding-right: .769em;
}



.requisite-required {
    background: url("../Content/Images/icon-warning.png") no-repeat scroll 5px 4px $color-warning-fill;
    border: 1px solid $color-warning;
    border-radius: 4px 4px 4px 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-bottom: 0.5em;
    padding: .385em .538em .385em 2.077em;
    color: $color-base-10;
    display: block;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
    .requisite-required {
        background-image: url("../Content/Images/icon-warning@2x.png");
        background-size: 17px;
    }
}

.requisite-recommended {
    background: url("../Content/Images/icon-info.png") no-repeat scroll 5px 4px $color-hint-fill;
    border: 1px solid $color-hint;
    border-radius: 4px 4px 4px 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-bottom: 0.5em;
    padding: .385em .538em .385em 2.077em;
    color: $color-base-10;
    display: block;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
    .requisite-recommended {
        background-image: url("../Content/Images/icon-info@2x.png");
        background-size: 17px;
    }
    
}

@media all and (max-width: 769px) {
	.search-coursedatarow.layout-table-row, 
	.search-coursedatavalue.layout-table-cell {
		display: block;
	}
}

