﻿/* ----------------------------------------------------------- */
/* //////////   Overlays and Dialogs               //////////  */
/* ----------------------------------------------------------- */

.ui-widget-overlay {
    background-color: $color-base-10;
    background-image: none;
    opacity: .5;
}

body .ui-dialog {
    box-shadow: 0 0 .214em rgba(0, 0, 0, .8);
    background: $color-base-65;
    border: 1px solid $color-base-45;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -khtml-border-top-left-radius: 5px;
    -khtml-border-top-right-radius: 5px;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    -khtml-border-bottom-left-radius: 0;
    -khtml-border-bottom-right-radius: 0;
}

/* Responsive Styles - Overlays and Dialogs */
@media all and (max-width: 769px) {
    .ui-dialog[style] {
        width: 90% !important; /*Necessary fix for mobile size to overwrite inline element style from jQuery UI*/
    }
}

.ui-dialog .ui-dialog-titlebar {
    background-color: $color-base-50;
    background-image: none;
    filter: none;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -khtml-border-top-left-radius: 5px;
    -khtml-border-top-right-radius: 5px;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    -khtml-border-bottom-left-radius: 0;
    -khtml-border-bottom-right-radius: 0;
    border-radius: 0\9;
    margin: .214em .214em 0;
    border: none;
    padding: .714em;
    color: $color-base-95;
}

.ui-dialog .ui-dialog-content {
    background: $color-base-95;
    margin: 0 .214em .143em;
    border-top: 1px solid $color-base-95;
    padding: 0;
}

.ui-dialog .ui-dialog-content ul li {
    line-height: 1.5em;
}

.ui-widget-header .ui-dialog-titlebar-close {
    display: none;
}

.dialog-wrapper {
    padding: .786em;
    margin-bottom: .5em;
    min-height: 2.7em;
}

.button-bar {
    background-color: $color-base-80;
    padding: .786em;
}

.button-bar--margins {
    margin: 0 -1.5em -1.3em -1.5em;
}

.button-bar:after {
    content: "";
    display: table;
    clear: both;
}

.button-bar button, .button-bar input, .button-bar a {
    margin-left: .786em;
    float: right;
}

.button-bar a {
    padding: 0.625rem 1.25rem 0.75rem 1.25rem;
    line-height: 1.45;
}

.ui-dialog-content #loadingdialog-text {
    color: $color-base-95;
    display: block;
    padding-top: .94em;
}

.dialog-buttons {
    float: right;
    margin-right: 1.1em;
    margin-bottom: 1em;
}

.dialog-buttons .action-button {
    float: right;
}

.ui-dialog .column-nine {
    background-color: transparent;
    padding: 0;
    margin: 0;
    box-shadow: none;
}

/*
     Colleague Self-Service overrides and additions to ESG modal dialog 
*/

/* If the spinner is part of the modal, inherit positioning from parent  */
.esg-modal-dialog__body > .esg-spinner {
    margin-top: 3rem;
    position: inherit;
}

/* If the text follows a spinner, add some margin and center it */
.esg-spinner + .esg-modal-dialog__body_text {
    text-align: center;
    padding: 3rem 0;
}

/* Fix to allow long dialog content to scroll on mobile */
.esg-modal-dialog__body, 
.esg-modal-wizard__body, 
.esg-modal__body {
    position: relative;
    max-height: calc(100vh - 5.85em);
    overflow-y: auto;

    /* Reset to EDS default at 992px and above */
    @include query-medium {
        max-height: calc(80vh - 8.3em);
    }
}

/* Fix to padding values at mobile size */
.esg-modal-dialog__header, 
.esg-modal-wizard__header,
.esg-modal__header {
    padding: .6rem 1rem;
}

/* Fix to ensure that long titles are not pushed to a new line below 'x' icon*/
.esg-modal-dialog__title,
.esg-modal-wizard__title,
.esg-modal__title {
    max-width: calc(100vw - 4rem);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* Fix for single button within footer */
.esg-modal-dialog__action-section.esg-button-group--fluid {
    .esg-button-group__item:only-child .esg-button {
        border-left: 0;
        border-bottom-left-radius: .375rem;
    }
}