﻿// Override to prevent other inactive lookups from showing through results 
.esg-lookup__input-group {
    z-index: 996
}

.esg-is-active .esg-lookup__input-group {
    z-index: 997;
}

// Addition for accessible results (button wrapped around results in li)
.esg-lookup__list-button {
    @include primary-font; // To override button font styles
    text-align: left;
}
// Overrides for displaying the lookup within a modal
.esg-modal-dialog .esg-lookup.esg-is-active .esg-lookup__container {
    position: relative; 
    // Position needs to be relative (previously absolute) only for active lookup results within the 
    // dialog so that the modal adjusts to the height (maximum of max-height below) of the results
}

// ESG default max-height is much too tall and stretches the page and the dialog
// Calc value is based on modal calculations (-8.3em) and lookup calculations (-60px for menu)
.esg-modal-dialog .esg-lookup__results {
    max-height: calc(65vh - 8.3em - 60px);
}