﻿/* Modification classes for ESG list group */

.esg-list-group__item--borderless {
    border-width: 0;
}

.esg-list-group__item--marginless {
    margin-left: 0;
    margin-right: 0;
}

.esg-list-group__item--full-width {
    padding-left: 0;
    padding-right: 0;
}

/* Two classes needed to override Theme.css */
.esg-list-group .esg-list-group__item--hoverless {
    &:hover,
    &:focus,
    &:active,
    &:active:hover,
    &:active:focus,
    &:visited:hover,
    &:visited:focus,
    &:active,
    &:active:hover,
    &:active:focus {
        border-top-color: transparent;
        border-bottom-color: $color-base-60;
        background-color: transparent;
        color: $color-base-35;
        cursor: default;
    }
}