﻿/* This is the new 12-column ESG Bootstrap prototype grid (not yet included in CDN)
   The old 9-column grid can be found in _grid.scss
*/

$animation-transition-fast: all .1s ease-in-out;
$animation-transition-medium: all .3s ease-in-out;

// CSS Transitions //////////////////////
@mixin transition-fast {
    transition: $animation-transition-fast;
}

@mixin transition-medium {
    transition: $animation-transition-medium;
}

@each $size in ('xs', 'sm', 'md', 'lg', 'xl') {
    @for $i from 1 through 12 {
        .esg-col-#{$size}-#{$i} {
            position: relative;
            min-height: .0625rem;
            padding-left: .625rem;
            padding-right: .625rem;
            @include transition-medium;
        }
    }
}

/* Generate columns sizes: xs, sm, md, lg, xl */
// $breakpoint-xsmall: 26.25rem or 420px and above
@for $i from 1 through 12 {
    .esg-col-xs-#{$i} {
        width: percentage(($i/12));
        float: left;
    }
}

// $breakpoint-small: 48rem or 768px and above
@include query-small {
    @for $i from 1 through 12 {
        .esg-col-sm-#{$i} {
            width: percentage(($i/12));
            float: left;
        }
    }
}

// $breakpoint-medium: 62rem or 992px and above
@include query-medium {
    @for $i from 1 through 12 {
        .esg-col-md-#{$i} {
            width: percentage(($i/12));
            float: left;
        }
    }
}

// $breakpoint-large: 75rem or 1200px and above
@include query-large {
    @for $i from 1 through 12 {
        .esg-col-lg-#{$i} {
            width: percentage(($i/12));
            float: left;
        }
    }
}

// $breakpoint-xlarge: 90rem or 1440px and above
@include query-xlarge {
    @for $i from 1 through 12 {
        .esg-col-xl-#{$i} {
            width: percentage(($i/12));
            float: left;
        }
    }
}

/* Generate columns offsets: xs, sm, md, lg, xl */
@for $i from 1 through 12 {
    .esg-col-xs-offset-#{$i} {
        margin-left: percentage(($i/12));
    }
}

// $breakpoint-small: 48rem or 768px and above
@include query-small {
    @for $i from 1 through 12 {
        .esg-col-sm-offset-#{$i} {
            margin-left: percentage(($i/12));
        }
    }
}

// $breakpoint-medium: 62rem or 992px and above
@include query-medium {
    @for $i from 1 through 12 {
        .esg-col-md-offset-#{$i} {
            margin-left: percentage(($i/12));
        }
    }
}

// $breakpoint-large: 75rem or 1200px and above
@include query-large {
    @for $i from 1 through 12 {
        .esg-col-lg-offset-#{$i} {
            margin-left: percentage(($i/12));
        }
    }
}

// $breakpoint-xlarge: 90rem or 1440px and above
@include query-xlarge {
    @for $i from 1 through 12 {
        .esg-col-xl-offset-#{$i} {
            margin-left: percentage(($i/12));
        }
    }
}

/* From ESG's _scaffolding.scss, needed for grid rows (not included in CDN)
    Added self-clearing for floats with before and after pseudo elements
*/
.esg-row {
    position: relative;
    display: block;
    margin-right: -.625rem; // 1rem in ESG
    margin-left: -.625rem; // 1rem in ESG

    &::before,
    &::after {
        display: table;
        content: ' ';
        clear: both;
    }
}

/* In nested columns, remove the left padding from the first column and the
     right pading from the last column to prevent unnecessary extra indentation */
[class*="esg-col-"] > [class*="esg-col-"]:first-child {
    padding-left: 0;
}

[class*="esg-col-"] > [class*="esg-col-"]:last-child {
    padding-right: 0;
}

//  Row with equal height columns
.esg-row--eq-height {
  @include flexbox;
  @include flex-wrap(wrap);
}

// Do not float columns when used within true tables or layout tables
.esg-col--float-none {
    float: none;
}

// Remove padding
.esg-col--padding-0 {
    padding: 0;
}