﻿/* Self-Service Overrides for bugs */
.css-tooltip.esg-tooltip--top .esg-tooltip__arrow {
    top: 2.875rem; /* 46px, was 2.9375rem or 47px */
}
.css-tooltip.esg-tooltip--left .esg-tooltip__arrow {
    right: -.313rem; /* -5px, was -0.4rem or 6.4px */
}
.css-tooltip.esg-tooltip--right .esg-tooltip__arrow {
    right: .25rem; /* 4px, was 0.4rem or 6.4px */
}
.css-tooltip.esg-tooltip--bottom .esg-tooltip__arrow {
    top: -.25rem; /* -4px, was 0 */
}

.esg-tooltip {
    white-space: normal;
    max-width: 17.25rem; /* Same as coachmarks */
}

.esg-tooltip__arrow {
    display: none;
}

@media (min-width: 481px) {
    .esg-tooltip__arrow {
        display: block;
    }
}