﻿// These is an application specific override (fix to handle box-sizing)
.css-collapsible-group .esg-collapsible-group__toggle {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.esg-collapsible-group__subheading {
    font-size: .875rem;
}


collapsible-group {
    //these styles support open and close animations for
    // the collapsible-group component that implements esg-collapsible
    .esg-collapsible-group__body {
        overflow-y: hidden;
        max-height: 10000px;
        -moz-transition-property: all;
        -o-transition-property: all;
        -webkit-transition-property: all;
        transition-property: all;
        -moz-transition-duration: .4s;
        -o-transition-duration: .4s;
        -webkit-transition-duration: .4s;
        transition-duration: .4s;
        -moz-transition-timing-function: ease-in-out;
        -o-transition-timing-function: ease-in-out;
        -webkit-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out;
    }

    .esg-collapsible-group__body.esg-is-collapsed {
        max-height: 0;
        display: block;
        padding: 0;
    }
}

.esg-collapsible-group__title button {
    color: $color-secondary-40;
}

.esg-collapsible-group-subtitle__wrapper {
    display: table-cell;
    vertical-align: middle;
}

.esg-collapsible-group__subtitle,
.esg-collapsible-group__tertiary-content {
    @include primary-font;
    font-size: .875rem;
    color: $color-base-35;
}

.esg-collapsible-group__toggle.esg-has-subtitle {
    display: table;
}

// Must remove float from icon wrapper to allow for vertical positioning
.esg-collapsible-group__toggle.esg-has-subtitle .esg-collapsible-group__icon {
    display: table-cell;
    vertical-align: middle;
    float: none;
}

// Float the icon, not the icon wrapper
.esg-collapsible-group__toggle.esg-has-subtitle .esg-collapsible-group__icon .esg-icon {
    float: right;
}