﻿// Filter styling

.filters.ui-accordion-header
{
    padding: 0.65em 0;
    line-height: inherit;
    background-color: $color-primary-105;
    font-weight: normal;
    color: $color-base-40;
}

.filters.ui-accordion-header:hover
{
    cursor: pointer;
}

.filters.ui-accordion-header > .arrow
{
    margin-left: 1em;
}

.filters.ui-accordion-header > .filter-section-header
{
    margin-left: 0.75em;
}

.filter-options
{
    margin-left: 0.35em;
}

.badge__rounded--top-right-margins {
    margin-top: 0.5em;
    margin-right: 0.5em;
}

.filter-badge--margins {
    margin: 1rem 1.125rem .875rem 0;
    position: relative;
    top: .625rem;
}

.esg-badge.esg-badge--course-catalog-filter-result{
    margin:0.2rem;
}