﻿/* ----------------------------------------------------------- */
/* //////////   Form Elements & Buttons            //////////  */
/* ----------------------------------------------------------- */

select {
    padding-right: 25px; /*To clear the background picture(the !) when required*/
}

select.column-nine{
    
    background-color:transparent;
    box-shadow:none;
    padding:inherit;
}

.caret-right {
    width: .5em;
    height: .5em;
    display: block;
    margin: 0 0 0 .5em;
    border: 2px solid $color-base-50;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    border-width: 2px 2px 0 0;
    padding: 0 !important;
}

.caret-left {
    width: .5em;
    height: .5em;
    display: block;
    margin: 0 0 0 .75em;
    border: 2px solid $color-base-50;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    border-width: 2px 2px 0 0;
    padding: 0 !important;
}

/* Fix for caret misalignment in Firefox - VS does not recognize alternative @-moz-document url-prefix() */
body:not(:-moz-handler-blocked) .caret-left {
    margin-left: 5px;
}

body:not(:-moz-handler-blocked) .caret-right {
    margin-left: 3px;
}


/* Buttons without button styles */
.no-styles,
.no-styles:active,
.no-styles:hover,
.no-styles:focus {
    background-image: none;
    background-color: transparent;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    font-weight: inherit;
    line-height: inherit;
    padding: 0;
    filter: none;
    position: static;
}

.disabled-link,
a.disabled-link {
    text-decoration: none;
    cursor: default;
}

.filter-button a {
    border-color: $color-base-55;
}

.filter-button a:link {
    font-size: .846em;
    text-decoration: none;
    padding-top: .25em;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { /* Webkit Browsers Fix */
    .filter-button a:link,
    .button {
        line-height: 1.4em;
    }
}

/* Toggle Switch/Button 
* Heavily modified from Ionu? Colceriu - ghinda.net
* https://github.com/ghinda/css-toggle-switch

* Checkbox switch */
.switch-checkbox {
    display: inline-block;
    min-height: 1.889em;
    position: relative;
    overflow: visible;
    padding: 0;
    color: $color-base-30;
    font-size: .692em;
    top: .3em;
}

.switch-checkbox * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.switch-checkbox .switch-circle {
    display: block;
    left: 0;
    width: 1.875em;
    background-color: $color-base-95;
    border: 2px solid $color-error;
    border-radius: 100%;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    position: absolute;
    right: 50%;
    top: 0;
    z-index: 4;
    display: block;
    height: 100%;
    padding: 0;
}

.switch-checkbox label, .switch-checkbox .state-wrapper {
    line-height: 1.875em;
    vertical-align: middle;
}

.switch-checkbox input:focus ~ .switch-circle, .switch-checkbox input:focus + label {
    outline: 1px dotted $color-base-50;
}

.switch-checkbox label {
    position: relative;
    z-index: 3;
    display: block;
    width: 100%;
}

.switch-checkbox input {
    position: absolute;
    opacity: 0;
    z-index: 5;
}

.switch-checkbox .state-wrapper {
    position: absolute;
    width: 100%;
    margin: 0;
    text-align: left;
}

.switch-checkbox .state {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: block;
    width: 50%;
    text-align: center;
    width: 100%;
    left: 0;
    display: none;
    color: $color-base-95;
    padding-top: .2em;
    text-transform: uppercase;
}

.switch-checkbox .off {
    display: block;
    padding-left: 1.5em;
}

.switch-checkbox .on {
    padding-right: 1em;
}

.switch-checkbox .state-wrapper:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    min-height: 1.889em;
    position: absolute;
    top: 0;
    background-color: $color-error;
    border-radius: 30px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    box-shadow: inset rgba(0, 0, 0, 0.1) 0 1px 0;
}

.switch-checkbox input:checked ~ .switch-circle {
    right: 0%;
    left: 100%;
    margin-left: -1.75em;
    border-color: $color-success;
}

.switch-checkbox input:checked ~ .switch-circle .switch-icon {
    background: transparent url("Images/iscontact-checked.png") no-repeat scroll 0 0/1em 1em; /* Replace icon with desired unchecked icon */
}

.switch-checkbox input:checked ~ span:before {
    border-color: $color-success;
    box-shadow: inset 0 0 0 30px $color-success;
}

.switch-checkbox input:checked ~ .state-wrapper .off {
    display: none;
}

.switch-checkbox input:checked ~ .state-wrapper .on {
    display: block;
    color: $color-base-95;
}

.switch-checkbox input:checked + label {
    color: $color-base-30;
}

.switch-icon {
    display: block;
    width: 10px;
    height: 10px;
    margin: 2px;
    background: transparent url("Images/iscontact-unchecked.png") no-repeat scroll 0 0/1em 1em; /* Replace icon with desired unchecked icon */
}


.switch-checkbox.check-image {
    width: 4.5em;
    float: right;
}

/* Checkbox with Off/On text outside the switch */
.outer-state {
    font-size: 0.846em;
    display: inline;
}

.outer-state.off {
    padding-right: .5em;
}

/* Radio switch */
.switch-radio {
    display: block;
    min-height: 2.4em;
    /* Outline the toggles when the inputs are focused */
    position: relative;
    display: table;
    table-layout: fixed;
    /* For callout panels in foundation */
    padding: 0 !important;
    /* Generate styles for the multiple states */
    font-size: 0.923em;
    font-weight: bold;
}

.switch-radio * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.switch-radio .switch-circle {
    display: block;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.switch-radio label, .switch-radio > span {
    line-height: 1.875em;
    vertical-align: middle;
}

.switch-radio input:focus ~ .switch-circle, .switch-radio input:focus + label {
    outline: 1px dotted $color-base-50;
}

.switch-radio * {
    font-size: 1em;
}

.switch-radio input {
    position: absolute;
    opacity: 0;
}

.switch-radio input + label {
    position: relative;
    z-index: 9999;
    left: 0;
    display: table-cell;
    width: 50%;
    padding: 0 0.5em;
    margin: 0;
    text-align: center;
}

.switch-radio input + label::before,
.switch-radio input:checked + label::before {
    content: none;
}

.switch-radio .switch-circle {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 9998;
    width: 50%;
    height: 100%;
}

.switch-radio input:last-of-type:checked ~ .switch-circle {
    left: 50%;
}
/* future support for up to five options
.switch-radio.switch-3 label, .switch-radio.switch-3 .switch-circle {
  width: 33.3333333333%; 
}
.switch-radio.switch-3 input:checked:nth-of-type(2) ~ .switch-circle {
  left: 33.3333333333%;
}
.switch-radio.switch-3 input:checked:last-of-type ~ .switch-circle {
  left: 66.6666666667%; 
}
.switch-radio.switch-4 label, .switch-radio.switch-4 .switch-circle {
  width: 25%;
}
.switch-radio.switch-4 input:checked:nth-of-type(2) ~ .switch-circle {
  left: 25%;
}
.switch-radio.switch-4 input:checked:nth-of-type(3) ~ .switch-circle {
  left: 50%;
}
.switch-radio.switch-4 input:checked:last-of-type ~ .switch-circle {
  left: 75%;
}
.switch-radio.switch-5 label, .switch-radio.switch-5 .switch-circle {
  width: 20%;
}
.switch-radio.switch-5 input:checked:nth-of-type(2) ~ .switch-circle {
  left: 20%; 
}
.switch-radio.switch-5 input:checked:nth-of-type(3) ~ .switch-circle {
  left: 40%;
}
.switch-radio.switch-5 input:checked:nth-of-type(4) ~ .switch-circle {
  left: 60%;
}
.switch-radio.switch-5 input:checked:last-of-type ~ .switch-circle {
  left: 80%;
}*/

.switch-radio input:checked:first-child ~ .switch-circle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.switch-radio input:checked:nth-of-type(2) ~ .switch-circle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: $color-error;
}

.switch-radio input:checked + label {
    color: $color-base-95;
}

.switch-radio {
    background-color: $color-base-80;
    border: 1px solid $color-base-50;
    border-radius: 0.385em;
    box-shadow: inset 0px -1px 1px 0px $color-base-60;
    /*inset: rgba(0, 0, 0, 0.1) 0 1px 0;*/
}

.switch-radio .switch-circle {
    background-color: $color-success;
    border-radius: 0.285em;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.switch-radio label {
    color: $color-base-45;
}

/* Bugfix for older Webkit, including mobile Webkit. Adapted from
* http://css-tricks.com/webkit-sibling-bug/ */
@media only screen and (-webkit-max-device-pixel-ratio: 2) and (max-device-width: 80em) {
    .switch-checkbox, .switch-radio {
        -webkit-animation: webkitSiblingBugfix infinite 1s;
    }
}

@-webkit-keyframes webkitSiblingBugfix {
    from {
        -webkit-transform: translate3d(0, 0, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
    }
}

/*Makes inputs red when required*/
input.required-input:not([type='number']):not([type='button']):not([type='submit']) {
    background: $color-error-fill url('./Images/icon-error.png') no-repeat;
    background-position: right .9em top 50%;
    border-color: $color-error;
    background-color: $color-error-fill;
    box-shadow: none;
}

select.required-input, input[type='number'].required-input {
    background: $color-error-fill url('./Images/icon-error.png') no-repeat;
    background-position: right 1.5em top 50%;
    border-color: $color-error;
    box-shadow: none;
}

textarea.required-input {
    background: $color-error-fill url('./Images/icon-error.png') no-repeat;
    background-position: right 1.5em top 10%;
    border-color: $color-error;
    box-shadow: none;
}

/* sortable list styles */
.sortable-list-item, .unsortable-list-item {
    border: 1px solid $color-base-65;
    border-radius: .2em;
    background-color: $color-base-80;
    margin-top: .6em;
    overflow: hidden;
    padding: 1em;
    margin-left: 1em;
    line-height: 1.5;
}

.sortable-list-item:hover {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    background-color: $color-warning-fill-dark;
}

.sortable-list-item:active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    background-color: $color-warning-fill-dark;
}

.sortable-list-item .arrow {
    width: .462em;
    height: .462em;
}

/* unsortable-list-item list styles */
.unsortable-list-item:hover {
    cursor: not-allowed;
}

.required {
    clear: both;
    color: $color-error;
}

/* mask/unmask control for masked fields */
.view-toggle {
    transform: scale(0.75);
    -moz-transform: scale(0.75);
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
    margin-top: .75rem;
}

.view-toggle::after {
    content: url("./Images/hide.png");
}

.view-toggle:focus::after, .view-toggle:hover::after {
    content: url("./Images/show.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
    .view-toggle::after {
        content: url("./Images/hide@2x.png");
    }

    .view-toggle:focus::after, .view-toggle:hover::after {
        content: url("./Images/show@2x.png");
    }
}

/* ESG Override for labels to ensure they are at least 14px tall (for offscreen labels) */
input[type=checkbox]+label {
    min-height: .875rem;
}

/* ESG Override for Submit buttons */
input[type=submit] {
	padding: .625rem 1.25rem .75rem;
	font-family: open_sanssemibold, Open Sans, Helvetica, sans-serif;
	font-size: .875rem;
	font-weight: 500;
}

input[type=submit].esg-button--small {
	padding: .4375rem 1rem .5625rem;
	font-size: .75rem;
}

input[type=submit].esg-button--large {
    padding: 0.75rem 1.625rem 1rem 1.625rem;
    font-size: 1rem;
}

input[type=submit].esg-button--primary {
    border-color: $color-secondary-65;
    box-shadow: inset 0 -.25rem 0 0 $color-secondary-75;
}

input[type=submit].esg-button--primary:active,
input[type=submit].esg-button--primary:hover,
input[type=submit].esg-button--primary:focus {
    border-color: $color-secondary-55;
    box-shadow: inset 0 -.25rem 0 0 $color-secondary-65;
}

input[type=submit].esg-button--primary:focus {
    border-color: $color-primary;
    outline: none;
    box-shadow: inset 0 -.25rem 0 0 $color-secondary-65,0 0 0 .125rem $color-primary;
}

input[type=submit].esg-button--secondary {
    border: .0625rem solid $color-base-55;
    box-shadow: inset 0 -.25rem 0 0 $color-base-70;
}

input[type=submit].esg-button--secondary:active {
    border: .0625rem solid;
    border-color: $color-base-55;
    background-color: $color-base-95;
    box-shadow: inset 0 -.25rem 0 0 $color-secondary-90;
}

input[type=submit].esg-button--secondary:focus, 
input[type=submit].esg-button--secondary:hover {
    border: .0625rem solid $color-base-50;
    background-color: $color-secondary-105;
    color: $color-secondary-35;
    box-shadow: inset 0 -.25rem 0 0 $color-secondary-90;
}

input[type=submit].esg-button--secondary:focus {
    border-color: $color-primary;
    outline: none;
    box-shadow: inset 0 -.25rem 0 0 $color-secondary-90, 0 0 0 .125rem $color-primary;
}

/* ESG Additions */
.esg-form__text {
    padding: .6875rem .75rem .6875rem 0;
}

.esg-form__input--inline {
    display: inline;
    width: auto;
    position: relative;
    top: .125rem;
}

.esg-form__input--dollar-amount {
    width: calc(100% - 1rem); // Used to make room for dollar sign to the right of input
}

.esg-form__group--dollar-amount.esg-has-feedback .esg-form__input {
    display: inline-block; // Used to align dollar input with feedback, needs high specificity to override ESG
}

.esg-form__input--text-align-right {
    text-align: right;
}

/* Fix for iOS buttons */
input[type=submit], 
input[type=button] {
    -webkit-appearance: none;
}

.esg-dropdown__menu-item-icon__container {
    display: inline-block;
    float: right;
}

.esg-dropdown__menu-item-icon {
    padding: 0 .5rem .5rem 0;
}

/* Display button when focused on input (accessibility issue!) */
/* Need to inform Student/Planning */
.esg-form__icon--reset, 
.esg-form__input:focus~.esg-form__icon--submit {
    display: block;
}