﻿/* ----------------------------------------------------------- */
/* //////////  Columns & Structural Scaffolding    //////////  */
/* ----------------------------------------------------------- */

.column-one,
.column-two,
.column-three,
.column-four,
.column-five,
.column-six,
.column-seven,
.column-eight,
.column-nine {
    float: left;
    -webkit-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}


.column-one {
    width: 140px;
}

.column-nine .column-one {
    width: 11.11%;
}


.column-two {
    width: 224px;
}

.column-nine .column-two {
    width: 22.22%;
}


.column-three {
    width: 300px;
}

.column-nine .column-three {
    width: 33.33%;
}


.column-four {
    width: 41%;
}

.column-nine .column-four {
    width: 44.44%;
}


header .column-five {
    float: right;
    position: relative;
    z-index: 5;
    width: auto;
}

.column-five h2 {
    padding: .9em .6em .450em .6em;
    line-height: 1;
    font-size: 1.538em;
    font-weight: bold;
}

.column-five p {
    padding: 0 0 0 14px;
}

.column-nine .column-five {
    width: 55.55%;
}


.column-six {
    width: 620px;
}

.column-nine .column-six {
    width: 66.66%;
}


.column-seven {
    width: 700px;
}

.column-nine .column-seven {
    width: 77.77%;
}


.column-eight {
    width: 940px;
}

.column-nine .column-eight {
    width: 88.88%;
}


.column-nine {
    padding: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: none;
    width: auto;
}

.column-nine.content-wrapper {
    background-color: inherit;
    box-shadow: none;
    padding: 0;
    margin: 0;
}

.column-nine.content-wrapper {
    background-color: inherit;
    box-shadow: none;
    padding: 0;
    margin: 0;
}

.column-nine-gray {
    margin: 0 19px 19px;
    padding: 8px;
    width: 924px;
}

@media screen and (min-width: 200px) and (max-width: 769px) {
    header {
        padding: 0;
    }
}

/*Below table size, the desktop column widths are set to 100%, which means they'll stack.
    Override this behavior by using sm and md (small and medium) column classes
*/
@media all and (max-width: 769px) {
    .column-nine .column-one,
    .column-nine .column-two,
    .column-nine .column-three,
    .column-nine .column-four,
    .column-nine .column-five,
    .column-nine .column-six,
    .column-nine .column-seven,
    .column-nine .column-eight {
        width: 100%;
    }
}

/*Use small column sizes for phones and tablets*/
@media all and (max-width: 769px) {

    .column-nine .column-one-sm {
        width: 11.11%;
    }

    .column-nine .column-two-sm {
        width: 22.22%;
    }

    .column-nine .column-three-sm {
        width: 33.33%;
    }

    .column-nine .column-four-sm {
        width: 44.44%;
    }

    .column-nine .column-five-sm {
        width: 55.55%;
    }

    .column-nine .column-six-sm {
        width: 66.66%;
    }

    .column-nine .column-seven-sm {
        width: 77.77%;
    }

    .column-nine .column-eight-sm {
        width: 88.88%;
    }

    .column-nine .column-nine-sm {
        width: 99.99%;
    }
}

/*Use medium column sizes for tablets*/
@media all and (min-width: 481px) and (max-width: 769px) {

    .column-nine .column-one-md {
        width: 11.11%;
    }


    .column-nine .column-two-md {
        width: 22.22%;
    }

    .column-nine .column-three-md {
        width: 33.33%;
    }

    .column-nine .column-four-md {
        width: 44.44%;
    }

    .column-nine .column-five-md {
        width: 55.55%;
    }

    .column-nine .column-six-md {
        width: 66.66%;
    }

    .column-nine .column-seven-md {
        width: 77.77%;
    }

    .column-nine .column-eight-md {
        width: 88.88%;
    }

    .column-nine .column-nine-md {
        width: 99.99%;
    }
}

@media all and (max-width: 769px) {
    .column-nine {
        margin: 0;
    }
}

@media all and (max-width: 480px) {
    .column-nine {
        padding: 0;
    }
}
