﻿/* ----------------------------------------------------------- */
/* //////////   Site Home Page Styles                /////////  */
/* ----------------------------------------------------------- */

@media all and (max-width: 480px) {
    .sitehome-wrapper {
        padding: .769em;
    }
}

.sitehome-expandednavlink {
    width: 49.5%;
    min-height: 90px;
    margin-right: 1%;
    margin-bottom: .77em;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: $color-base-80;
}

.sitehome-expandednavlink:nth-of-type(even) {
    margin-right: 0;
}

@media all and (min-width: 769px) {
    .sitehome-expandednavlink:nth-last-child(-n+2) {
        margin-bottom: 0;
    }
}

@media all and (max-width: 769px) {
    .sitehome-expandednavlink:nth-last-child(-n+1) {
        margin-bottom: 0;
    }
}

.sitehome-expandednavlink:hover {
    box-shadow: 0 0 7px rgba(0,0,0,.5);
    background-color: $color-base-95;
}

.sitehome-expandednavlink:hover h3 {
    text-decoration: underline;
}

.sitehome-expandednavlink a:link, 
.sitehome-expandednavlink a:visited,
.sitehome-expandednavlink a:hover,
.sitehome-expandednavlink a:active {
    border: 1px solid $color-base-60;
    text-decoration: none;
    display: block;
    min-height: 7em;
    padding: 1.5%;
}

.sitehome-expandednavlink h3 {
    margin-bottom: 0;
}

/* Responsive columns widths and margins */
@media all and (max-width: 769px) {
    .sitehome-expandednavlink {
        width: 100%;
    }
}

.advising_expandednavlink {
    background: url("./Images/advising-home.png") no-repeat 5px 1px;
    padding-left: 4.62em;
}

.my-account_expandednavlink {
    background: url("./Images/financial-profile-home.png") no-repeat 5px 1px;
    padding-left: 4.62em;
}

.academic-planning_expandednavlink {
    background: url("./Images/academic-planning-home.png") no-repeat 5px 1px;
    padding-left: 4.62em;
}

.finance-admin_expandednavlink {
    background: url("./Images/finance-admin-home.png") no-repeat 5px 1px;
    padding-left: 4.62em;
}

.colleague-finance_expandednavlink {
    background: url("./Images/financial-management.png") no-repeat 5px 1px;
    padding-left: 4.62em;
}

.financial-aid_expandednavlink {
    background: url("./Images/financial-aid-home.png") no-repeat 5px 1px;
    padding-left: 4.62em;
}

.financial-aid-admin_expandednavlink {
    background: url("./Images/financial-aid-admin-home.png") no-repeat 5px 1px;
    padding-left: 4.62em;
}

.faculty_expandednavlink {
    background: url("./Images/faculty-home.png") no-repeat 5px 1px;
    padding-left: 4.62em;
}

.employee_expandednavlink {
    background: url("./Images/employee-home.png") no-repeat 5px 1px;
    padding-left: 4.62em;
}

.requisite-waiver-navlink {
    background: url("./Images/requisites-icon.png") no-repeat 5px 1px;
    padding-left: 4.62em;
}

.student-petition-navlink {
    background: url("./Images/petitions-icon.png") no-repeat 5px 1px;
    padding-left: 4.62em;
}

.vendor-finances_expandednavlink {
    background: url("./Images/financial-profile-home.png") no-repeat 5px 1px;
    padding-left: 4.62em;
}

.taxInformation_expandednavlink, .studentTaxInformation_expandednavlink {
    background: url("./Images/tax-icon.png") no-repeat 5px 1px;
    padding-left: 4.62em;
}

.bankingInformation_expandednavlink {
    background: url("./Images/bank-information.png") no-repeat 5px 1px;
    padding-left: 4.62em;
}

.graduationHome_expandednavlink {
    background: url("./Images/graduation-home.png") no-repeat 5px 1px;
    padding-left: 4.62em;
}

.enrollmentVerificationHome_expandednavlink {
    background: url("./Images/enrollment-verification.png") no-repeat 5px 1px;
    padding-left: 4.62em;
}

.transcriptsHome_expandednavlink {
    background: url("./Images/transcript-request.png") no-repeat 5px 1px;
    padding-left: 4.62em;
}

.timeSheet_expandednavlink {
    background: url("./Images/timesheet-icon.png") no-repeat 5px 1px;
    padding-left: 4.62em;
}

.timeApproval_expandednavlink {
    background: url("./Images/timesheet-icon.png") no-repeat 5px 1px;
    padding-left: 4.62em;
}

.courseCatalogExcludeDegreePlanHome_expandednavlink {
    background: url("./Images/course-catalog.png") no-repeat 5px 1px;
    padding-left: 4.62em;
}

.gradesHome_expandednavlink {
    background: url("./Images/grades-bubble-icon.png") no-repeat 5px 1px;
    padding-left: 4.62em;
}

/* Site Home Page - Responsive Styles */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
    .advising_expandednavlink {
        background: url("./Images/advising-home@2x.png") no-repeat 5px 1px;
        background-size: 45px;
    }

    .my-account_expandednavlink {
        background: url("./Images/financial-profile-home@2x.png") no-repeat 5px 1px;
        background-size: 45px;
    }

    .academic-planning_expandednavlink {
        background: url("./Images/academic-planning-home@2x.png") no-repeat 5px 1px;
        background-size: 45px;
    }

    .colleague-finance_expandednavlink {
        background: url("./Images/financial-management@2x.png") no-repeat 5px 1px;
        background-size: 45px;
    }

    .finance-admin_expandednavlink {
        background: url("./Images/finance-admin-home@2x.png") no-repeat 5px 1px;
        background-size: 45px;
    }

    .financial-aid_expandednavlink {
        background: url("./Images/financial-aid-home@2x.png") no-repeat 5px 1px;
        background-size: 45px;
    }

    .financial-aid-admin_expandednavlink {
        background: url("./Images/financial-aid-admin-home@2x.png") no-repeat 5px 1px;
        background-size: 45px;
    }

    .employee_expandednavlink {
        background: url("./Images/employee-home@2x.png") no-repeat 5px 1px;
        background-size: 45px;
    }

    .faculty_expandednavlink {
        background: url("./Images/faculty-home@2x.png") no-repeat 5px 1px;
        background-size: 45px;
    }

    .requisite-waiver-navlink {
        background: url("./Images/requisites-icon@2x.png") no-repeat 5px 1px;
        background-size: 45px;
        padding-left: 4.62em;
    }

    .student-petition-navlink {
        background: url("./Images/petitions-icon@2x.png") no-repeat 5px 1px;
        background-size: 45px;
        padding-left: 4.62em;
    }

    .vendor-finances_expandednavlink {
        background: url("./Images/financial-profile-home@2x.png") no-repeat 5px 1px;
        background-size: 45px;
        padding-left: 4.62em;
    }

    .taxInformation_expandednavlink, .studentTaxInformation_expandednavlink {
        background: url("./Images/tax-icon@2x.png") no-repeat 5px 1px;
        background-size: 45px;
        padding-left: 4.62em;
    }

    .bankingInformation_expandednavlink {
        background: url("./Images/bank-information@2x.png") no-repeat 5px 1px;
        background-size: 45px;
        padding-left: 4.62em;
    }

    .graduationHome_expandednavlink {
        background: url("./Images/graduation-home@2x.png") no-repeat 5px 1px;
        background-size: 45px;
        padding-left: 4.62em;
    }

    .enrollmentVerificationHome_expandednavlink {
        background: url("./Images/enrollment-verification@2x.png") no-repeat 5px 1px;
        background-size: 45px;
        padding-left: 4.62em;
    }

    .transcriptsHome_expandednavlink {
        background: url("./Images/transcript-request@2x.png") no-repeat 5px 1px;
        background-size: 45px;
        padding-left: 4.62em;
    }

    .timeSheet_expandednavlink {
        background: url("./Images/timesheet-icon@2x.png") no-repeat 5px 1px;
        background-size: 45px;
        padding-left: 4.62em;
    }

    .timeApproval_expandednavlink {
        background: url("./Images/timesheet-icon@2x.png") no-repeat 5px 1px;
        background-size: 45px;
        padding-left: 4.62em;
    }

    .gradesHome_expandednavlink {
        background: url("./Images/grades-bubble-icon@2x.png") no-repeat 5px 1px;
        background-size: 45px;
        padding-left: 4.62em;
    }

    .courseCatalogExcludeDegreePlanHome_expandednavlink {
    background: url("./Images/course-catalog@2x.png") no-repeat 5px 1px;
     background-size: 45px;
    padding-left: 4.62em;
}
}

.notifications-wrapper__margin-bottom {
    margin-bottom: 1em;
}

#notifications-wrapper td:first-child {
    min-width: 12rem;
}

#notifications-wrapper td:first-child span:nth-child(2) {
    padding-left: .75rem;
}

@media only screen and (max-width: 768px) {
    #notifications-wrapper {
        background-color: transparent;
    }

    #notifications-wrapper > .section-contents {
        padding: 0;
    }

    #notifications-wrapper .responsiveTable tbody tr:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 480px) {
    #notifications-wrapper {
        padding: .769em .769em 0 .769em;
        margin-bottom: 0;
    }
}

#notifications-wrapper > .section-contents > .responsiveTable {
    margin-bottom: 0;
}

#notifications-wrapper caption {
    overflow: auto;
}

#notifications-wrapper caption h3 {
    font-weight: bold;
}

#notifications-wrapper td .layout-table-cell {
    display: table-cell;
    vertical-align: middle;
    padding: 0;
}

.responsiveTable td.left-justified {
    text-align: left;
}

.responsiveTable td.left-justified:first-child, .responsiveTable td.left-justified:last-child {
    min-width: 12em;
}

@media only screen and (max-width: 768px) {
    .responsiveTable td.left-justified:before {
        display: none;
    }

    .responsiveTable td.left-justified {
        padding-left: .769em;
        padding-right: .769em;
        display: block;
    }
}
/* ----------------------------------------------------------- */
/* //////   Individiual Home Page Styles                /////  */
/* ----------------------------------------------------------- */

#home-header {
    margin: 0 .93em;
}

/* Greeting */
#home-greeting {
    color: $color-base-30;
    padding: 1.385em 0;
    width: 100%;
}

@media (min-width: 700px) and (max-width: 799px) {
    #home-greeting {
        padding-top: 2.5%;
    }
}

@media all and (max-width: 699px) {
    #home-greeting {
        padding-top: 3.5%;
    }
}

@media all and (max-width: 480px) {
    #home-greeting {
        position: relative;
    }
}

#home-greeting h2 {
    font-size: 1.538em;
    line-height: 1.2em;
    font-weight: bold;
}

@media all and (max-width: 480px) {
    #home-greeting h2 {
        line-height: 1.5;
    }
}

#home-greeting p {
    float: left;
    font-size: 1em;
    padding-top: .692em;
}

@media (min-width: 481px) and (max-width: 1023px) {
    #home-greeting p {
        width: 50%;
        line-height: 1.1;
    }
}

@media all and (max-width: 480px) {
    #home-greeting p {
        display: none;
    }
}

#home-greeting input {
    float: right;
    min-width: 17%;
    margin: -2.273em 0 0 0;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background: url("../Content/Images/search-icon.png") no-repeat scroll 7px 5px $color-base-95;
    border: 2px solid $color-base-50;
    font-size: .846em;
    padding: .455em .182em .273em 1.818em;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
    -webkit-appearance: none;
}

@media (min-width: 481px) and (max-width: 1023px) {
    #home-greeting input {
        min-width: 35%;
    }
}

@media all and (max-width: 480px) {
    #home-greeting input {
        float: none;
        left: 0;
        margin: 0;
        position: absolute;
        top: 1.2em;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        font-size: 1em;
        box-sizing: border-box;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Webkit Browsers Fix */
    #home-greeting input {
        padding-left: 1.818em;
    }
}

#home-greeting form input:focus {
    font-style: normal;
    box-shadow: none;
    color: $color-base-10;
}

/* Step 1 */
#home-step1{
    margin-right: 1%;
}

/* All Steps */
.home-step {
    position: relative;
    margin: 1em 0 0;
    background-color: $color-base-80;
    border: 1px solid $color-base-60;
    float: left;
    display: block;
    min-height: 12.714em;
    width: 49.5%;
    transition: height .5s;
    -moz-transition: height .5s;
    -webkit-transition: height .5s;
    -o-transition: height .5s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1rem;
}

.home-step a:link,
.home-step a:visited,
.home-step a:hover,
.home-step a:active {
    text-decoration: none;
}

.home-step img,
.home-step .img {
    float: left;
    width: 6.923em;
}

.home-step p {
    font-size: 1em;
    color: $color-base-35;
    line-height: 1.1em;
}

.home-step p u {
    font-weight: bold;
    display: block;
}

.home-step h3,
.home-step p {
    margin: 1rem 0 1rem 6.25rem
}

.home-step h3 {
    font-size: 1.231em;
    line-height: 1;
    font-weight: bold;
    color: $color-base-40;
}

.home-step a:hover {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    filter: none;
}

.home-step a br {
    display: block;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Webkit Browsers Fix */
    .home-step a br {
        line-height: 1.5em;
    }
}

.step-number {
    /*background: url("./Images/step1.png") no-repeat scroll 0 0 transparent;*/
    background-color: $color-base-60;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 2.385em;
    height: 2.385em;
    position: absolute;
    top: -1.077em;
}

.step-text {
    font-weight: bold;
    font-size: 1.55em;
    position: relative;
    left: .5em;
    top: .143em;
    color: $color-base-30;
}

/* Home Page Throbber */
.home-throbber {
    width: 1.85em;
    height: 1.85em;
    margin: 0 auto .77em auto;
}

.home-throbber-text {
    text-align: center;
    font-size: 1.16em;
    font-weight: bold;
    color: $color-base-40;
    margin-left: .77em;
}

/* Responsive Home page Welcome message and links */
@media (min-width: 768px) and (max-width: 1100px) {
    .home-step {
        min-height: 13.875em;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    #home-header {
        margin: 0 .923em;
    }

    .home-step {
        width: auto;
        float: none;
        height: auto;
        margin-right: 0;
        min-height: 8.571em;
    }
}

@media all and (max-width: 599px) {
    #home-header {
        margin: 0 .923em;
    }

    .home-step {
        width: auto;
        float: none;
        height: auto;
        margin-right: 0;
        min-height: 8.571em;
    }
}


@media all and (max-width: 480px) {
    .home-step a {
        min-height: 10.643em;
    }
}
