﻿/* ----------------------------------------------------------- */
/* //////////   UI Widgets                         //////////  */
/* ----------------------------------------------------------- */

.ui-widget {
    font-family: $primary-font-stack;
    font-size: .875rem;
}

.ui-accordion .ui-accordion-header {
    margin-top: 0;
}

.ui-accordion .ui-accordion-content {
    margin: 0;
    top: 0;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border: none;
}

/* ----------------------------------------------------------- */
/* ////////// jQuery UI Component Styling Overrides /////////  */
/* ----------------------------------------------------------- */

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    background-image: none;
}

.ui-accordion .ui-accordion-header {
    background: none;
    border: none;
}

.ui-widget-content {
    background: none;
    border: none;
    color: none;
}

.ui-state-default .ui-icon {
    background-color: $color-base-35;
    background-image: url("images/ui-icons_ffffff_256x240.png");
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    height: 1em;
    width: 1em;
}

.ui-state-active .ui-icon {
    background-color: $color-base-95;
    background-image: url("images/ui-icons_888888_256x240.png");
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    height: 1em;
    width: 1em;
}

.ui-accordion-icons .ui-accordion-header a {
    padding-left: 3em;
}

.ui-icon-triangle-1-e,
.ui-icon-carat-1-e {
    background-position: -34px -18px;
}

.ui-accordion .ui-accordion-header .ui-icon {
    left: 1em;
    margin-top: -.62em;
    position: absolute;
    top: 52%;
}

.ui-icon-triangle-1-s,
.ui-icon-carat-1-s {
    background-position: -66px -18px;
}

.accordion-header > span {
    padding-right: 5px;
}

.ui-autocomplete {
    box-shadow: 3px 2px 2px rgba(0, 0, 0, .3);
    margin: 0;
    padding: 0;
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

.ui-autocomplete-loading {
    background: $color-base-95 url('images/ui-anim_basic_16x16.gif') right center no-repeat;
}

.ui-autocomplete li.ui-menu-item {
    border: 1px solid $color-base-55;
    background: $color-base-95;
    margin-bottom: -1px;
    cursor: pointer;
}

.ui-autocomplete li.ui-menu-item:last-child {
    margin-bottom: 0;
}

.ui-autocomplete li.ui-menu-item a:hover {
    background: $color-base-65;
}

/*
 * jQuery UI Multi-Progress Bar 1.0
 * http://github.com/j-ulrich/jquery-ui-multiprogressbar
 *
 * Copyright (c) 2012 Jochen Ulrich <jochenulrich@t-online.de>
 * Licensed under the MIT license (MIT-LICENSE.txt).
 */

.ui-multiprogressbar .ui-progressbar-value {
    float: left;
}

/* Override for ESG box-sizing: border-box on all elements */
.ui-progressbar-value {
    box-sizing: content-box;
}

.ui-multiprogressbar .ui-multiprogressbar-valuetext {
    margin-top: 0.3em;
    text-align: center;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-family: $primary-font-stack;
}

.ui-widget input {
    font-size: 1em;
}