﻿/* ----------------------------------------------------------- */
/* //////////   Login and change pw Screen Styles  //////////  */
/* ----------------------------------------------------------- */

/* Override the default grid, which remove padding at mobile sizes */
@media all and (max-width: 480px) {
    .column-nine {
        padding: 12px;
    }
}

.validation-summary-valid {
    display: none;
}

.validation-summary-errors {
    background-color: $color-error-fill;
    padding: .77em;
}

.validation-summary-errors > ul {
    background: transparent url('./Images/icon-error.png') top left no-repeat;
    display: block;
    padding-left: 1.85em;
    line-height: 1.39em;
}

.validation-summary-errors > ul > li {
    display: inline;
    list-style: none;
    padding-right: .39em;
}

#loginForm input[type="text"].input-validation-error,
#loginForm input[type="password"].input-validation-error {
    border: .18em solid $color-error;
}

/* Remove after standardizing input fields with ESG */
#loginForm input {
    padding-left: 1.8em;
}

#loginForm input#UserName {
    background: url("./Images/username-watermark.png") no-repeat scroll 6px center $color-base-95;
}

#loginForm input#Password {
    background: url("./Images/password-watermark.png") no-repeat scroll 6px center $color-base-95;
}

/* Login - Responsive Styles*/
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {

    #loginForm input#UserName {
        background: url("./Images/username-watermark@2x.png") no-repeat scroll 6px $color-base-95;
        background-size: 11px;
    }

    #loginForm input#Password {
        background: url("./Images/password-watermark@2x.png") no-repeat scroll 6px $color-base-95;
        background-size: 10px;
    }

    .validation-summary-errors > ul,
    .error-message,
    .error {
        background-image: url('./Images/icon-error@2x.png');
        background-size: 16px;
    }
}

@media all and (max-width: 480px) {
    #loginForm input[type="text"],
    #loginForm input[type="password"] {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

#changepasswordform input[type="text"],
#changepasswordform input[type="password"] {
    width: 16.667em;
}

#changepasswordform input[type="text"].input-validation-error,
#changepasswordform input[type="password"].input-validation-error {
    border: 2px solid $color-error;
}

/* ESG Override - ESG uses Courier,monospace */
.esg-form__input[type=password], input[type=password] {
    font-family: inherit;
}