﻿/* ----------------------------------------------------------- */
/* /////// Mobile Filter Menu                        ////////  */
/* ----------------------------------------------------------- */

#new-filter-dropdown {
    background: url("./Images/filter-menu-bg.png") no-repeat scroll 23px 0 transparent;
    display: none;
    margin-top: 1.92em;
    position: absolute;
    z-index: 996;
}

#new-filter-dropdown.column-two .section-wrapper {
    border: 8px solid $color-base-45;
    height: 23.1em;
    margin-top: .92em;
    overflow-y: scroll;
    -moz-box-shadow: 3px 3px 3px $color-base-35;
    -webkit-box-shadow: 3px 3px 3px $color-base-35;
    box-shadow: 3px 3px 3px $color-base-35;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
