﻿/* ----------------------------------------------------------- */
/* ////////////  Menu & Submenu                  ////////////  */
/* ----------------------------------------------------------- */

.sidebar-nav-wrapper {
    position: fixed;
    left: -320px;
    top: 0;
    width: 320px;
    height: 100%;
    background-color: $color-base-35;
    z-index: 999; /* sidebar must be under dialog overlay */
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

@media (min-width: 768px) {
    .sidebar-nav-wrapper {
        left: 0;
        width: 60px;
    }
}

.active-nav .sidebar-nav-wrapper {
    width: 100%;
    left: 0;
}

@media all and (min-width: 481px) {
    .active-nav .sidebar-nav-wrapper {
        width: 320px;
    }
}

.active-nav, .active-nav body {
    overflow-x: hidden;
}

html:not(.active-nav) #nav-root .child-menu li,
html:not(.active-nav) #nav-root .child-menu span,
html:not(.active-nav) #nav-root .child-menu a {
    height: 0;
    display: none;
}

#toggle-nav-button {
    cursor: pointer;
    position: fixed;
    display: inline-block;
    width: 50px;
    height: 50px;
    padding-top: 12px;
    left: 0;
    top: 0;
    background-color: $color-base-35;
    background-image: url("./Images/hamburger-menu.png");
    background-repeat: no-repeat;
    background-position: .625rem center;
    background-size: 32px;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    z-index: 1000; /* Nav button must be under dialog overlay */
}

@media (min-width: 768px) {
    #toggle-nav-button {
        width: 60px;
        height: 60px;
        padding-top: 12px;
        left: 0;
    }
}

#close-nav-button {
    margin: .5387em 0;
    height: 2em;
    color: $color-base-95;
    background-image: url("./Images/close.png");
    background-repeat: no-repeat;
    background-position: .625rem center;
    background-size: 24px;
}


.active-nav #main, .active-nav #proxy-selection {
    left: 100%;
}

.active-nav #drawer-nav {
    left: 0;
}

.active-nav #drawer-nav, .active-nav #main, .active-nav #topOfForm, .active-nav #proxy-selection {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#topOfForm, #main, #drawer-nav, #proxy-selection {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#drawer-nav {
    position: absolute;
    top: 0;
    min-height: 100%;
    width: 100%;
    z-index: 2000000000;
    background-color: $color-base-35;
}

@media all and (min-width: 481px) {
    #toggle-nav-button {
        margin: 0;
    }

    html.active-nav:not(.no-auth) #topOfForm, html.active-nav:not(.no-auth) #main {
        left: 320px;
    }
    html.active-nav:not(.no-auth) #proxy-selection {
        left: 0;
    }
}

#topOfForm, #main, #proxy-selection {
    position: relative;
    left: 0;
}

@media all and (min-width: 768px) {
    html:not(.no-auth) #topOfForm, html:not(.no-auth) #main {
        left: 60px;
        margin-right: 60px;
    }
}

/* Margins for second toolbar row at mobile */
#proxy-selection {
    margin-top: 3.125rem;
}

@media (min-width: 768px) {
    #proxy-selection {
        margin-top: 0;
    }
}

.menu-item {
    display: block;
    padding: 1.5em;
}

.primary-menu .menu-item, .secondary-menu .menu-item {
    padding-left: 4.688rem;
    min-width: 220px;
}

.tertiary-menu .menu-item {
    padding-left: 5.938rem;
}

.menu-item[data-menu-id="nav-home"] {
    background-image: url("./Images/home-icon.png");
    background-repeat: no-repeat;
    background-position: .625rem center;
    background-size: 24px;
}

.menu-item[data-menu-id="nav-my-academics"] {
    background-image: url("./Images/my-academics-icon.png");
    background-repeat: no-repeat;
    background-position: .625rem center;
    background-size: 24px;
}

.menu-item[data-menu-id="nav-my-work"] {
    background-image: url("./Images/my-work-icon.png");
    background-repeat: no-repeat;
    background-position: .625rem center;
    background-size: 24px;
}

.menu-item[data-menu-id="nav-my-employment"] {
    background-image: url("./Images/my-employment-icon.png");
    background-repeat: no-repeat;
    background-position: .625rem center;
    background-size: 24px;
}

.menu-item[data-menu-id="nav-financial-information"] {
    background-image: url("./Images/my-financial-icon.png");
    background-repeat: no-repeat;
    background-position: .625rem center;
    background-size: 24px;
}

.menu-item[data-menu-id="nav-vendor-information"] {
    background-image: url("./Images/vendor-icon.png");
    background-repeat: no-repeat;
    background-position: .625rem center;
    background-size: 24px;
}

.menu-item[data-menu-id="nav-sidebar-user-options"] {
    background-image: url("./Images/my-user-options.png");
    background-repeat: no-repeat;
    background-position: .625rem center;
    background-size: 24px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .menu-item[data-menu-id="nav-home"] {
        background-image: url("./Images/home-icon@2x.png");
    }
    
    .menu-item[data-menu-id="nav-my-academics"] {
        background-image: url("./Images/my-academics-icon@2x.png");
    }

    .menu-item[data-menu-id="nav-my-work"] {
        background-image: url("./Images/my-work-icon@2x.png");
    }

    .menu-item[data-menu-id="nav-my-employment"] {
        background-image: url("./Images/my-employment-icon@2x.png");
    }

    .menu-item[data-menu-id="nav-financial-information"] {
        background-image: url("./Images/my-financial-icon@2x.png");
    }

    .menu-item[data-menu-id="nav-vendor-information"] {
        background-image: url("./Images/vendor-icon@2x.png");
    }

    .menu-item[data-menu-id="nav-sidebar-user-options"] {
        background-image: url("./Images/my-user-options@2x.png");
    }
}

.menu-wrapper > input[aria-expanded="true"][data-menu-level="0"] + .menu-header > .menu-item {
    background-color: $color-primary;
}

.menu-wrapper > .menu-header {
    margin: 0;
    padding: 0;
    position: static;
    display: block;
}

.menu-wrapper input[type=checkbox]+label:before {
    left: -1000em;
    text-indent: -1000em;
}

.primary-menu > .menu-wrapper.current-page > .menu-header > .menu-item {
    border-bottom: 4px solid $color-primary;
    background-color: $color-base-25;
}

#drawer-nav a:link, #drawer-nav a:visited {
    text-decoration: none;
}

#drawer-nav a:hover, #drawer-nav a:active {
    text-decoration: underline;
}

#drawer-nav .arrow {
    -moz-transition: transform 200ms linear;
    -o-transition: transform 200ms linear;
    -webkit-transition: transform 200ms linear;
    transition: transform 200ms linear;
    position: relative;
    border-color: $color-base-95;
}

.primary-menu {
    background-color: $color-base-35;
    padding-top: 60px;
    margin: 0;
}

.primary-menu .menu-item, .primary-menu a:link, .primary-menu a:visited, .primary-menu a:hover {
    color: $color-base-95;
}

.primary-menu .menu-header:hover,
.primary-menu .menu-item:hover,
.primary-menu .menu-item.selected,
.primary-menu input[type=checkbox]:focus + .menu-header .menu-item {
    background-color: $color-primary;
}

.primary-menu > li > .menu-item,
.primary-menu > li > label > .menu-item {
    font-size: 120%;
    font-weight: bold;
    background-size: 32px;
    min-width: 320px;
}

.secondary-menu {
    background-color: $color-base-30;
}

.secondary-menu, .tertiary-menu {
    margin-top: 0;
}

.secondary-menu .menu-item, .secondary-menu a, .secondary-menu a:link, .secondary-menu a:visited, .secondary-menu a:hover {
    color: $color-base-95;
}

.secondary-menu .menu-header:hover,
.secondary-menu .menu-item:hover,
.secondary-menu .menu-item.selected,
.secondary-menu input[type=checkbox]:focus + .menu-header .menu-item {
    background-color: $color-base-25;
}

.secondary-menu > .menu-wrapper.current-page > .menu-header > .menu-item:before,
.secondary-menu > .menu-wrapper.current-page > .menu-header > .menu-item:before {
    content: '●';
    position: absolute;
    color: #FFC0CB;
    margin-left: -1em;
}

.secondary-menu > li > .menu-item,
.secondary-menu > li > label > .menu-item {
    font-size: 110%;
    font-weight: bold;
    min-width: 320px;
}

.tertiary-menu {
    background-color: $color-base-95;
}

.tertiary-menu .menu-item, .tertiary-menu a, .tertiary-menu a:link, .tertiary-menu a:visited, .tertiary-menu a:hover {
    color: $color-base-10;
}

.tertiary-menu .menu-header:hover,
.tertiary-menu .menu-item:hover,
.tertiary-menu .menu-item.selected,
.tertiary-menu input[type=checkbox]:focus + .menu-header .menu-item,
.tertiary-menu .current-page {
    background-color: $color-base-75;
}

#drawer-nav input {
    height: 0;
    margin: 0;
}

.nav-overlay {
    display: block;
    visibility: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
    -moz-transition: background-color 300ms ease-in, visibility 300ms step-end;
    -o-transition: background-color 300ms ease-in, visibility 300ms step-end;
    -webkit-transition: background-color 300ms ease-in, visibility 300ms step-end;
    transition: background-color 300ms ease-in, visibility 300ms step-end;
    background-color: rgba(0,0,0,0);
}

.active-nav .nav-overlay {
    -moz-transition: background-color ease-in 300ms, visibility step-start 300ms;
    -o-transition: background-color ease-in 300ms, visibility step-start 300ms;
    -webkit-transition: background-color ease-in 300ms, visibility step-start 300ms;
    transition: background-color ease-in 300ms, visibility step-start 300ms;
    background-color: rgba(0,0,0,.25);
    visibility: visible;
    z-index: 998; /* nav overlay must be under dialog overlay and sidebar */
}

.sidebar-nav-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: $color-base-80;
}

.sidebar-nav-wrapper::-webkit-scrollbar {
    width: 8px;
    background-color: $color-base-80;
}

.sidebar-nav-wrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: $color-base-50;
}

@media all and (min-width: 1200px) {
    .nav-overlay {
        display: none;
    }

    html.active-nav:not(.no-auth) #topOfForm, html.active-nav:not(.no-auth) #main {
        margin-right: 320px;
    }
}

/* Start page header subtitle CDN copy/paste */
/* Remove after added to CDN */
.esg-page-header__subtitle--backlink .esg-page-header__icon svg {
  height: .875em;
  margin-top: 0;
  margin-left: -.5rem;
}

.esg-page-header-subtitle__wrapper {
  display: block;

  @include query-small {
    display: table-cell;
    vertical-align: middle;
   }
}

.esg-page-header__subtitle {
  display: block;
  position: absolute;
  width: 100%;
  margin-top: 1.5rem;
  padding-right: calc(3.125rem + .625rem);
  padding-left: calc(3.125rem + .625rem);
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  @include query-small {
    display: inline-block;
    position: static;
    width: calc(100% - 25%);
    margin-top: 0;
    padding-right: 1.25rem;
    padding-left: 0;
    text-align: left;
  }
}

.esg-page-header__subtitle-image {
  display: none;

  @include query-small {
    display: block;
    width: 4.375rem;
    height: 4.375rem;
    margin-right: 1rem;
    float: left;
    border-radius: 50%;
  }
}

@include query-small {
  .esg-page-header.esg-has-subtitle {
    display: table;
  }
}

.esg-has-subtitle .esg-page-header__input {
  display: block;
  margin-top: 3.5rem;

  @include query-small {
    display: table-cell;
    float: none;
    vertical-align: middle;
  }
}
/* End page header subtitle additions */

/* Overrides for page header bugs and added subtitle */
/* Remove after bug fix in CDN */
.esg-page-header__title,
.esg-page-header__subtitle {
    position: static;
}

/* Remove negative margins for page headers using ESG grid */
.esg-page-header.esg-row {
    margin: 0;
}

/* Remove ESG grid padding from elements within page header */
.esg-page-header [class*="esg-col-"] {
    padding: 0;
}

.esg-form__group--page-header {
    position: relative;
    text-align: center;
    margin-top: 1.5rem;

    @include query-small {
        float: right;
        text-align: right;
        margin-top: 0;
    }
}

/* For back links that are actually buttons (perform same-page actions) */
button.esg-page-header__subtitle--backlink {
    color: $color-secondary-45;
    font-family: $primary-font-stack;
    font-weight: 400;
    text-decoration: underline;

    &:hover,
    &:focus,
    &:active:hover,
    &:active:focus {
        @include transition-fast;

        cursor: pointer;
    }
}