﻿/* 
    These are overrides to ESG to accomodate legacy styles in 
    Colleague Self-Service.
*/

// Add some styling for the links (the ESG doesn't have a separate link style)
.esg-alert__message--link {
    padding: .5em 0 0 0;
    display: block;
}

// Add some styling for the 'x' remove icon used in user-removable notifications
.esg-alert .esg-icon__container.float-right .esg-icon {
    width: 1.1rem;
    height: 1.1rem;
}