﻿/* ----------------------------------------------------------- */
/* //////////   Pagination                         //////////  */
/* ----------------------------------------------------------- */

#paging {
    width: 22.31em;
    text-align: center;
    padding-top: .77em;
    line-height: 1.54em;
}

.search-paginationouter {
    float: left;
    margin: .077em 0 0 0;
}

.pagination-link:link {
    border: 1px transparent solid;
    font-size: .85em;
    padding: .46em;
    color: $color-base-30;
}

.pagination-link:visited {
    border: 1px transparent solid;
    font-weight: bold;
    color: $color-base-30;
}

.pagination-link:hover {
    border: 1px solid;
    border-color: $color-base-70;
    background-color: $color-base-80;
    color: $color-base-10;
    font-weight: bold;
    height: 2.3em;
    width: 2.3em;
}

.pagination-current {
    font-size: .85em;
    font-weight: bold;
    text-decoration: none;
    padding: .46em;
}

.pagination-image:hover {
    background-color: transparent;
}

.pagination-first-active {
    background-image: url(images/pagination-images.png);
    background-position: 0 0;
    float: left;
    width: 1.692em;
    height: 1.769em;
}

.pagination-first {
    background-image: url(images/pagination-images.png);
    background-position: 0 -28px;
    float: left;
    width: 22px;
    height: 23px;
    cursor: default !important;
}

.pagination-previous {
    background-image: url(images/pagination-images.png);
    background-position: 0 -197px;
    float: left;
    width: 22px;
    height: 23px;
    margin-right: 8px;
    cursor: default !important;
}

.pagination-previous-active {
    background-image: url(images/pagination-images.png);
    background-position: 0 -169px;
    float: left;
    width: 22px;
    height: 23px;
    margin-right: 8px;
}

.pagination-next {
    background-image: url(images/pagination-images.png);
    background-position: 0 -356px;
    float: left;
    width: 22px;
    height: 23px;
    margin-left: 8px;
    cursor: default !important;
}

.pagination-next-active {
    background-image: url(images/pagination-images.png);
    background-position: 0 -112px;
    float: left;
    width: 22px;
    height: 23px;
    margin-left: 8px;
}

.pagination-last {
    background-image: url(images/pagination-images.png);
    background-position: 0 -85px;
    float: left;
    width: 22px;
    height: 23px;
    cursor: default !important;
}

.pagination-last-active {
    background-image: url(images/pagination-images.png);
    background-position: 0 -57px;
    float: left;
    width: 22px;
    height: 23px;
}

/* Pagination - High Density Styles */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
    .pagination-first-active,
    .pagination-first,
    .pagination-previous,
    .pagination-previous-active,
    .pagination-next,
    .pagination-next-active,
    .pagination-last,
    .pagination-last-active {
        background-image: url("./images/pagination-images@2x.png");
        background-size: 22px;
    }
}
