﻿/* ----------------------------------------------------------- */
/* //////////  Person Proxy Elements               //////////  */
/* ----------------------------------------------------------- */
.proxy-banner {
    background-color: $color-success;
    color: $color-base-95;
    padding: .875rem .875rem .875rem 3.750rem;
}

@media (min-width: 768px) {
    .proxy-banner {
        padding: .875rem;
    }
}

.proxy-banner.floating {
    position: fixed;
    top: 0;
    border-bottom: 1px solid $color-base-55;
    z-index: 1001;
    margin: 0;
}

@media (max-width: 768px) {
    .proxy-banner.floating {
        padding-left: 60px;
    }
}

.proxy-banner #change-user-button {
    margin-left: 1em;
}

.proxy-subject-container {
    background-color: $color-base-75;
    border: 2px solid $color-base-50;
    border-radius: 1em;
    padding: .5em 1em;
    margin: .5em 1em;
    display: block;
    cursor: pointer;
    width: inherit;
}

#add-proxy-header-text {
    border-bottom: 1px solid $color-base-55;
}

.reauthorization-required {
    margin-top: .9em;
}

.proxy-subject-container:hover,
.proxy-subject-container:focus,
.proxy-subject-container.focused,
.proxy-subject-container.unavailable {
    background-color: $color-base-65;
    border: 2px solid $color-base-50;
    border-radius: 1em;
    padding: .5em 1em;
    margin: .5em 1em;
}

.proxy-subject-container.selected {
    background-color: $color-success-fill;
    border: 2px solid $color-success;
}

.proxy-subject-container.unavailable {
    cursor: default;
    color: $color-base-55;
    border-color: $color-base-55;
}

.proxy-subject-name {
    padding-left: 1.5em;
    margin-top: 2em;
    position: absolute;
    display: inline-block;
}

#proxy-selection-dialog legend {
    padding-left: .5em;
    padding-bottom: 1em;
}

.proxy-ribbon {
    position: relative;
    float: right;
    top: -4.6rem;
    left: -.3rem;
    width: 3.6rem;
    background-color: $color-hint;
    color: $color-base-95;
    padding: 0.385em 1.154em;
}

.proxy-ribbon-shadow {
    position: relative;
    float: right;
    z-index: 1;
    border-style: solid;
    top: -2.75rem;
    left: 3.3rem;
    border-color: transparent transparent transparent $color-hint-dark;
    border-width: 0 0 0.769em 0.846em;
}

#proxy-reauthorization-needed-message {
    margin-bottom: 1.3em;
}

@media all and (max-width: 769px) {
    .proxy-banner #change-user-button {
        display: block;
        margin-left: 0;
        margin-top: 1em;
    }
}

@media all and (max-width: 320px) {
    .proxy-subject > label > img {
        display: none;
    }

    .proxy-subject > label > div {
        display: initial;
    }
}

/* From person.proxy.css */
/* ------------------------------------------------------------- */
/* //////////  Person Proxy Styles                   //////////  */
/* ------------------------------------------------------------- */
#active-proxies td.person-photo button {
    position: absolute;
    right: 1em;
}

#active-proxies .layout-table-cell .edit-button {
    margin: 0 0 0 .5em;
    vertical-align: middle;
}

.access-granted:not(:first-child) {
    line-height: 1.5em;
}

.proxy-perm-group {
    margin-bottom: 1em;
}

.proxy-perm-group input[type='checkbox'] {
    visibility: visible;
    position: static;
    height:auto;
    width: auto;
    opacity: 1;
}

#no-workflows-enabled-message,
#proxy-disclosure-field {
    line-height: 1;
}

#proxy-disclosure-field {
    margin: 1.3em 0;
}

#proxy-disclosure-reauth-field {
    margin-bottom: 1.3em;
}

.proxy-permissions-container {
    border-bottom: 1px solid $color-base-55;
}

label.proxy-subject-container {
    width: auto;
}

#edit-proxy-access-dialog .select-all-container label,
#add-proxy-section-content .select-all-container label {
    padding-right: 1em;
    display: inline;
    color: $color-base-45;
}

#active-proxies td::before {
  color: $color-base-35;
  margin-bottom: 1em;
}

.arrow .arrow-up {
    position: relative;
    top: .2em;
}

#add-a-proxy-detail .required {
    clear: none;
}

.pending-proxy:after {
    padding-left: .5em;
    content: url("../Content/Images/icon-warning.png");
}

.action-required:after {
    padding-left: .5em;
    content: url("../Content/Images/icon-error.png");
}

/* ----------------------------------------------------------- */
/* //////////   Button Styles                      //////////  */
/* ----------------------------------------------------------- */
.edit-button {
    border: none;
    height: 2.462em;
    width: 2.462em;
    background: url("../Content/Images/edit-inactive.png") no-repeat 0;
}

.edit-button:hover {
    cursor: pointer;
}

.edit-button:hover, .edit-button:focus {
    background: url("../Content/Images/edit-active.png") no-repeat 0;
}
/* ----------------------------------------------------------- */
/* //////////   Media Queries                      //////////  */
/* ----------------------------------------------------------- */
@media all and (max-width: 479px) {
    .proxy-section-content {
        padding: 1em;
    }

    #active-proxies td.permissions {
        width: auto;
    }
}

@media (max-width: 769px) {
    #proxy-permissions-field .column-one {
        display: none;
    }

    .column-nine .column-two.empty {
        display: none;
    }
}

@media all and (max-width: 889px) {
    #active-proxies td {
        border-bottom: none;
    }

    #active-proxies td.person-photo {
        text-align: left;
        padding-left: 1em;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
    .action-required:after {
        padding-left: .5em;
        content: url("../Content/Images/icon-error@2x.png");
    }
}
