﻿@media print {
    /* Default to "standard" letter size*/
    @page {
        size: A4 portrait;
        margin: 0;
    }
    
    /* Always break before an H1 (we don't use H1 much, but when we do, it's a reasonable
        place to break content.
    */
    h1 {
        page-break-before: always;
    }

    /* Try to avoid breaking after headers - this should keep headers on the same page 
        as the content with which they are associated.
    */
    h1, h2, h3, h4, h5 {
        page-break-after: avoid;
    }

    table {
        page-break-inside: avoid;
    }

    #topOfForm, .nav-top-section, .sidebar-nav-wrapper, .nav-overlay, #breadcrumb {
        display: none;
    }

    html:not(.no-auth) #main {
        padding: 0;
        margin: 0;
        left: 0;
    }
    
}
