﻿/* Copyright 2015-2016 Ellucian Company L.P. and its affiliates. */
/* ----------------------------------------------------------- */
/* //////////  Structural Elements                 //////////  */
/* ----------------------------------------------------------- */

// Font imports
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic");

.clear-group:after {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.normal {
    font-weight: normal;
}

.block {
    display: block;
}

.doNotRead {
    speak: none;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

.vertical-align-middle {
    vertical-align: middle;
}

.full-width {
    width: 100%;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ----------------------------------------------------------- */
/* //////////   Accessibilty Classes               //////////  */
/* ----------------------------------------------------------- */

.offScreen {
    position: absolute;
    left: -1000em;
    text-indent: -1000em;
}

.field-label-hidden {
    position: absolute;
    left: -1000em;
}

/* ----------------------------------------------------------- */
/* //////////   Utility Classes                    //////////  */
/* ----------------------------------------------------------- */

.overflow-hidden{
    overflow:hidden;
}

.hide-content {
    display: none;
}

.hidden {
    visibility: hidden;
}

/*------------- ToolTip Styles ----------------*/
#menu-tooltip
{
    font-size: 0.875em;
    text-align: center;
    text-shadow: 0 1px rgba( 0, 0, 0, .5 );
    line-height: 1.5;
    color: #fff;
    background: #333;
    background: -webkit-gradient( linear, left top, left bottom, from( rgba( 0, 0, 0, .6 ) ), to( rgba( 0, 0, 0, .8 ) ) );
    background: -webkit-linear-gradient( top, rgba( 0, 0, 0, .6 ), rgba( 0, 0, 0, .8 ) );
    background: -moz-linear-gradient( top, rgba( 0, 0, 0, .6 ), rgba( 0, 0, 0, .8 ) );
    background: -ms-radial-gradient( top, rgba( 0, 0, 0, .6 ), rgba( 0, 0, 0, .8 ) );
    background: -o-linear-gradient( top, rgba( 0, 0, 0, .6 ), rgba( 0, 0, 0, .8 ) );
    background: linear-gradient( top, rgba( 0, 0, 0, .6 ), rgba( 0, 0, 0, .8 ) );
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-box-shadow: 0 3px 5px rgba( 0, 0, 0, .3 );
    -moz-box-shadow: 0 3px 5px rgba( 0, 0, 0, .3 );
    box-shadow: 0 3px 5px rgba( 0, 0, 0, .3 );
    position: fixed;
    z-index: 3;
    padding: .615em .879em .44em .879em;
}

/*------------Sticky Contnet Styles---------------*/
.stick-content {
    position: fixed;
    top: 0;
    z-index: 1000;
    padding-bottom: 1em;
    margin-top: 0;
    box-shadow: 0 1px 10px 1px $color-base-50;
}