﻿/* Copyright 2015-2017 Ellucian Company L.P. and its affiliates. */
/* ----------------------------------------------------------- */
/* //////////   Page Description & Search Field    //////////  */
/* ----------------------------------------------------------- */

/* ESG override for paragraph max-width */
#page-description p,
#home-greeting p {
    max-width: none;
}

/* ----------------------------------------------------------- */
/* //////////   Back Links                         //////////  */
/* ----------------------------------------------------------- */

.backlink a,
.backlink a:hover,
.backlink a:visited,
.backlink a:link,
.backlink a:active,
.backlink button,
.backlink button:hover {
    display: block;
    text-decoration: none;
    padding: 0 0 0 1.563rem;
    color: $color-secondary-45;
    width: auto;
    line-height: 1em;
}

.backlink a:before,
.backlink button:before {
    content: "";
    width: .47em;
    height: .47em;
    margin: .25em 0 0 -.867em;
    border: 2px solid $color-secondary-45;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    border-width: 2px 2px 0 0;
    position: absolute;
}

/* Page-top backlink (when used instead of page-description) */

#page-description .backlink a,
#page-description .backlink a:hover {
    background: none;
    display: inline-block;
    position: relative;
}

/* Search Results */
.search-reset {
    background-image: url("./Images/close.png");
}

.search-results-count {
    color: $color-base-50;
}

.search-results-link:hover,
.search-results-link:focus,
.responsiveTable tr.search-results-link:hover,
.responsiveTable tr.search-results-link:focus {
    background-color: $color-base-65;
    cursor: pointer;
}

.search-results-link-unclickable:hover,
.search-results-link-unclickable:focus,
.responsiveTable tr.search-results-link-unclickable:hover,
.responsiveTable tr.search-results-link-unclickable:focus {
    cursor:not-allowed;
    outline: inherit;
}


@media only screen and (max-width: 768px) {
    .responsiveTable tr.search-results-link:hover td,
    .responsiveTable tr.search-results-link:focus td {
        background-color: $color-base-65;
        color: $color-base-30;
        cursor: pointer;
    }
}

.search-header-border-left {
    border-left: 1px solid $color-base-65;
}

a.clear-results {
    display: inline-block;
    height: 14px;
    width: 14px;
    color: $color-base-95;
    position: relative;
    border-radius: 50%;
    padding: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    text-decoration: none;
}

a.clear-results:hover,
a.clear-results:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    text-decoration: none;
}

/*for advanced search*/
.esg-row--css-advanced-search{
    border-bottom: 1px solid $color-base-65;
    padding-top:0.5rem;
}

.esg-form__group--css-advanced-search-add-more-button{
   padding-top:0.5rem;
   text-align:center;
}

/* ----------------------------------------------------------- */
/* //////////   Admin Search Results               //////////  */
/* ----------------------------------------------------------- */
.column-5-per {
    width: 5%;
}

.column-45-per {
    width: 45%;
}

@media only screen and (max-width: 768px) {
    #person-search-results.responsiveTable td:first-child:before {
        padding-top: 20px;
    }
}