﻿/* ----------------------------------------------------------- */
/* //////////  Sliding Panel Styles             //////////  */
/* ----------------------------------------------------------- */

.panel-wrapper {
    width: 100%;
    height: auto;
    background: $color-base-95;
    z-index: 900;
    position: absolute;
    display: none;
}

.panel-controller,
.multi-accordion-controller {
    font-size: 1.077em;
    font-weight: bold;
    color: $color-base-35;
    padding: 16px 0px 16px 1.5em;
    margin: 0px;
}

.panel-controller a,
.multi-accordion-controller a {
    font-weight: bold;
    text-decoration: none;
}

.panel-back-link-container {
    background-color: $color-primary;
}

.panel-back-link-container.inner-back-link {
    background-color: $color-base-50;
}

.panel-back-link-container span.arrow.arrow-left {
    float: left;
    position: absolute;
    top: 2.1em;
    left: 1.1em;
    border-color: $color-base-95;
}

.panel-back-link-container p {
    color: $color-base-95;
    padding-left: 12px;
    padding-bottom: 14px;
    line-height: 13px;
    font-size: 13px;
}

.panel-controller img.carrot-icon {
    position: relative;
    top: .063em;
    float: right;
    height: 1.0em;
    padding-right: 1.2em;
}

h2.panel-back-link {
    font-size: 1.538em;
    font-weight: bold;
    color: $color-base-95;
    padding: 0.9em 1.7em 0.45em;
    line-height: 1.5;
}

.panel-content {
    background-color: $color-base-95;
    display: none;
}

@media all and (max-width: 480px) {
    h2.panel-back-link {
        padding: 12px 1.9em;
    }

    .panel-back-link-container span.arrow.arrow-left {
        top: 1.6em;
    }

    .panel-back-link-container p {
        display: none;
    }
}

.panel-table {
    width: 100%;
}
/* End Sliding Panel */

/* ----------------------------------------------------------- */
/* //////////   OLD Sliding Panel - Remove after FA fixed ///  */
/* ----------------------------------------------------------- */

/* Used in Documents page in FA -- needs to be replaced with KO binding panel */
.parent-panel {
    overflow: hidden;
    position: relative;
}

.overlay-panel {
    background-color: $color-base-95;
    height: 100%;
    left: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-transition: left 750ms cubic-bezier(0, 1, .75, 1);
    -moz-transition: left 750ms cubic-bezier(0, 1, .75, 1);
    -o-transition: left 750ms cubic-bezier(0, 1, .75, 1);
    transition: left 750ms cubic-bezier(0, 1, .75, 1);
    display: none;
}

.overlay-panel.slide {
    left: 0;
    -webkit-transition: left 750ms cubic-bezier(0, 1, .75, 1);
    -moz-transition: left 750ms cubic-bezier(0, 1, .75, 1);
    -o-transition: left 750ms cubic-bezier(0, 1, .75, 1);
    transition: left 750ms cubic-bezier(0, 1, .75, 1);
}
