﻿/* ----------------------------------------------------------- */
/* //////////  Page Loading Throbber Styles        //////////  */
/* ----------------------------------------------------------- */

/* Colleague Self-Service mods to ESG spinner */
.css-spinner-wrapper {
    padding-top: 2rem;
}

.css-spinner-wrapper--no-padding-top {
    padding-top: 0;
}

.css-spinner-wrapper .esg-spinner {
    position: inherit;
}

.css-spinner-wrapper__message {
    text-align: center;
    padding: 3rem 0;
}

.css-spinner-wrapper > .esg-spinner-wrapper {
    width: 100%;
    height: auto;
    position: inherit;
}
