﻿/* -------------------------------------------------------------- */
/* STEP INDICATOR */
/* -------------------------------------------------------------- */

/* Modified from original. Uses :not pseduo class to ensure that
   other step indicators (SF branch) are not affected by the changes.
   Will need to be re-examined at a later date to standardize on a single
   version that can adapt to the use case. 
    
    Classes "equal-size" and "step-chevron" are only used in the new 
    version. Class "icon-circle" is used in both but modified in the new
    version as an identifier for all icon circles. */

.si-container { /* outer container */
    font-size: .813em;
    float: left;
    width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: $color-base-70;
}


.step-indicator { /* step indicator <UL> */
    margin: 0;
    padding: 0;
}

.step-indicator > li { /* steps */
    float: left;
    height: 3.8em;
    padding: 1.2em .95em 0 2.65em;
    list-style-type: none;
    position: relative;
    color: $color-base-40;
}

/* need to round the left top and bottom corners of the first step */
.step-indicator > li:first-child {
    padding-left: .95em;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.step-indicator > li:last-child {
    border-bottom-right-radius: 4px;
    border-right: 2px solid $color-base-95;
    border-top-right-radius: 4px;
}

.step-indicator:not(.equal-size) > li:last-child div,
.step-indicator > li:last-child .step-chevron {
    display: none;
}

/* currnent step <LI> */
.step-indicator > li.current {
    background-color: $color-base-50;
    position: relative;
    color: $color-base-95;
}

/* done step <LI> */
.step-indicator > li.done {
    background-color: $color-base-70;
    position: relative;
    color: $color-base-40;
}

/* generic chevron */
.step-indicator:not(.equal-size) > li > div,
.step-indicator > li .step-chevron {
    position: absolute;
    z-index: 3;
    display: inline;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 2.65em;
    height: 2.65em;
    border-top: 2px solid $color-base-95;
    border-right: 2px solid $color-base-95;
    margin-left: -.43em;
    margin-top: -.6em;
}

/* current chevron */
.step-indicator:not(.equal-size) > li.current > div,
.step-indicator > li.current .step-chevron {
    background-color: $color-base-50;
}

/* done chevron */
.step-indicator:not(.equal-size) > li.done > div,
.step-indicator > li.done .step-chevron {
    background-color: $color-base-70;
}

/* generic icon container */
.step-indicator.equal-size > li > .icon-circle,
.step-indicator > li > span {
    width: 1.75em;
    height: 1.75em;
    margin-top: .1em;
    margin-right: .95em;
    float: left;
}
/* icon */
/*additional aria selector needed due to lack of universal "icon-circle" class on SI icons */
.step-indicator:not(.equal-size) > li > span > div[aria-hidden="true"] {
    position: absolute;
    display: inline;
    width: 1.75em;
    height: 1.75em;
    font-size: 1.75em;
    margin-top: -.45em;
}

/* --------------- Ellucian Icons ------------------*/
/* - Make sure the icons are referenced globally. - */
@font-face {
    font-family: 'ellucian';
    src: url('./Images/ellucian-icons/ellucian.eot');
    src: url('./Images/ellucian-icons/ellucian.eot?#iefix') format('embedded-opentype'), url('./Images/ellucian-icons/ellucian.woff') format('woff'), url('./Images/ellucian-icons/ellucian.ttf') format('truetype'), url('./Images/ellucian-icons/ellucian.svg#success') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-circle,
.icon-circle-gray,
.icon-success,
.icon-play-circle,
.icon-circle-outline {
    font-family: 'ellucian';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: .7;
    -webkit-font-smoothing: antialiased;
}

.icon-success:before {
    content: "\e000";
    color: $color-success;
    vertical-align: middle;
    line-height: 1.6;
    position: absolute;
}

.icon-play-circle:before {
    content: "\e058";
    color: $color-hint;
    vertical-align: middle;
    line-height: 1.6;
    position: absolute;
}

.icon-circle-outline:before {
    content: "\e057";
    color: $color-base-55;
    vertical-align: middle;
    line-height: 1.6;
    position: absolute;
}

.icon-circle:after {
    content: "\e011";
    color: $color-base-95;
    vertical-align: middle;
    line-height: 1.7;
}

.icon-circle-gray:after {
    content: "\e011";
    color: $color-base-75;
    vertical-align: middle;
    line-height: 1.7;
}

/* --------------- Responsive Steps ------------------*/
/* --------------- Desktop Form Factor ------------------*/
/* - You may need to change 1120px to another value depending on where exactly the steps break in the layout. Once you reach a breaking point, adjust your min-width to be just a bit larger than the point at which the layout breaks. - */

@media (min-width: 1176px) {

    /* Future */
    .step-indicator:not(.equal-size) .future .description {
        text-indent: 0;
        width: auto;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }


    /* Current */
    .step-indicator:not(.equal-size) .current .description {
        width: 0;
        margin-right: 0;
        float: none;
        padding-left: 0;
        position: relative;
        z-index: 4;
        padding-right: 0;
    }

    /* Done */
    .step-indicator:not(.equal-size) .done .description {
        text-indent: 0;
        width: auto;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        position: relative;
        z-index: 4;
    }
}

/* --------------- Tablet Form Factor ------------------*/
/* - You may need to change 1175px to another value depending on where exactly the steps break in the layout. Once you reach a breaking point, adjust your max-width to be just a bit larger than the point at which the layout breaks. - */
@media all and (max-width: 1175px) {

    .step-indicator:not(.equal-size) > li > span {
        margin-right: .46em;
    }

    /* Future */
    .step-indicator:not(.equal-size) > li.future {
        padding: 1.25em .48em 0 1.03em;
    }

    .step-indicator:not(.equal-size) > li.future:last-child {
        padding-right: .48em;
    }

    .step-indicator:not(.equal-size) .future .description {
        display: none;
    }

    .step-indicator:not(.equal-size) > li.future > div {
        margin-left: -1.75em;
        right: 0;
    }

    /* Current */
    .step-indicator:not(.equal-size) > li.current:last-child {
        padding-right: .9em;
    }

    .step-indicator:not(.equal-size) > li.current:first-of-type {
        padding: 1.25em .48em 0 .95em;
        margin-left: 0;
    }

    .step-indicator:not(.equal-size) > li.current {
        padding: 1.25em .48em 0 2.45em;
        margin-right: 1.51em;
        margin-left: -.6em;
    }

    .step-indicator:not(.equal-size) .current .description {
        width: 0;
        margin-right: 0;
        float: none;
        padding-left: 0;
        position: relative;
        z-index: 4;
    }

    .step-indicator:not(.equal-size) > li.current > div {
        margin-left: -.7em;
    }

    /* Done */
    .step-indicator:not(.equal-size) > li.done {
        background-color: $color-base-65;
        position: relative;
        color: $color-base-50;
        padding: 1.25em 0 0 1.9em;
    }

    .step-indicator:not(.equal-size) > li.done:first-of-type {
        padding-left: .95em;
    }

    .step-indicator:not(.equal-size) .done .description {
        display: none;
    }

    .step-indicator:not(.equal-size) .done span,
    .step-indicator:not(.equal-size) .current span {
        position: relative;
        z-index: 4;
    }

    .step-indicator:not(.equal-size) > li.done > div {
        margin-left: -1.9em;
        background-color: $color-base-65;
    }
}

/* --------------- Smartphone Form Factor ------------------*/
/* - You may need to change 485px to another value depending on where exactly the steps break in the layout. Once you reach a breaking point, adjust your max-width to be just a bit larger than the point at which the layout breaks. - */

@media all and (max-width: 485px) {
    .step-indicator:not(.equal-size) .current .description {
        display: none;
    }

    .step-indicator:not(.equal-size) > li.current {
        padding-right: 0;
        margin-left: -.57em;
    }

    .step-indicator:not(.equal-size) > li.current:first-of-type {
        padding: 1.25em .1em 0 .93em;
        margin-left: 0;
    }

    .step-indicator:not(.equal-size) > li.current:last-of-type {
        margin-right: -.57em;
    }

    .step-indicator:not(.equal-size) > li.current > div {
        margin-left: -1.2em;
    }

    .step-indicator:not(.equal-size) > li.current > span {
        margin-right: 0;
    }
}

/* ------------------- Equal Size Styles ------------------ */
.equal-size > li,
.equal-size > li:first-child {
    padding: 0;
}

.equal-size > li .step-chevron {
    position: relative;
    margin: 0;
    float: right;
    top: .095em;
    right: -1.125rem;
}

.equal-size > li:last-child {
    border-right: 0 none;
}

.equal-size .description-wrapper {
    padding-top: .473em;
    text-align: center;
}

.equal-size .description {
    padding-left: .6em;
    position: relative;
    top: -0.189em;
    font-size: .750rem;
}

.equal-size .icon-circle {
    font-size: 1.703em;
}


@media all and (max-width: 419px) {
    .equal-size li .icon-circle {
        position: relative;
        z-index: 4;
    }

    .equal-size li:not(:first-child):not(:last-child) .icon-circle {
        left: 1em;
    }

    .equal-size li:first-child .icon-circle {
        left: .75em;
    }
}

@media all and (min-width: 420px) and (max-width: 900px) {
    .equal-size li:not(:first-child):not(:last-child) .icon-circle {
        padding-left: 1em;
    }
}

/* Mobile-first will be min-width: 992px display: block */
@media all and (max-width: 993px) {
    .equal-size li .description {
        display: none;
    }
}

/* IE 9 Specific CSS */

/* current chevron */
.step-indicator:not(.equal-size) > li.current > div {
    overflow: hidden;
}

.step-indicator:not(.equal-size) > li.current > div > div {
    background-color: $color-base-55;
    display: block;
    width: 3.8em;
    height: 3.8em;
    -ms-transform: rotate(-45deg);
    margin-top: -.75em;
    margin-left: -.75em;
}

.step-indicator.equal-size > li.current .step-chevron {
    background-color: $color-base-50;
}

/* done chevron */
.step-indicator:not(.equal-size) > li.done > div {
    overflow: hidden;
}

.step-indicator:not(.equal-size) > li.done > div > div {
    background-color: $color-base-65;
    display: block;
    width: 3.8em;
    height: 3.8em;
    -ms-transform: rotate(-45deg);
    margin-top: -.75em;
    margin-left: -.75em;
}

.step-indicator.equal-size > li.done .step-chevron {
    background-color: $color-base-70;
}
