﻿/* Copyright 2015-2016 Ellucian Company L.P. and its affiliates. */
/* ----------------------------------------------------------- */
/* //////////  Main Content & Structural Elements  //////////  */
/* ----------------------------------------------------------- */
.content-wrapper {
    margin: 0 auto;
}

#body .content-wrapper {
    background-color: $color-base-95;
    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
}

@media (min-width: 769px) {
    #body {
        clear: both;
        background-color: $color-base-60;
        transition: all .5s;
        -moz-transition: all .5s;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
    }
}

/* Responsive Styles - Body */

@media all and (max-width: 769px) {
    #body {
        padding: 0;
    }
}

@media all and (max-width: 769px) {
    #body .content-wrapper {
        box-shadow: none;
    }
}

#body header .content-wrapper {
    background-color: $color-base-95;
}

/* Wrappers for section elements */
.section-wrapper {
    background-color: $color-base-95;
    border-right: 1px solid $color-base-60;
    border-bottom: 1px solid $color-base-60;
    border-left: 1px solid $color-base-60;
}

/* Add in addition to .section-wrapper for wrappers with no section headers */
.section-wrapper-top-border {
    border-top: 1px solid $color-base-60;
}

/* Nested sections wrappers within sections wrappers */
.section-wrapper .section-wrapper {
    border: 0 none;
}

@media all and (max-width: 769px) {
    /* Nested wrappers */
    .section-wrapper .section-wrapper {
        padding: 1.5em 0 0 0;
        border: 0 none;
    }
}

h3.section-heading, h4.section-heading {
    margin-bottom: .5em;
    font-size: 1.3em;
    font-weight: bold;
}

@media all and (max-width: 769px) {
    h3.section-heading, h4.section-heading {
        margin-bottom: 0;
    }
}

/* Section headers -- ideally headings, e.g. h3, unless containing other content, e.g. buttons */
.section-header {
    border-top: 1px solid $color-base-60;
    border-bottom: 1px solid $color-base-60;
    text-align: left;
    padding: 1rem 1.188rem;
    margin: 0 auto;
    background-image: none;
    background-color: $color-base-80;
    color: $color-base-35;
    font-weight: bold;
}

/*Section header heading sizes */
.section-header h3 {
    font-size: 1.2em;
    color: $color-base-35; /* temporary to overwrite default h3 $color-base-95 -- remove when fixed */
}

/* Nested headers heading sizes */
.section-wrapper .section-wrapper .section-header h4, h5, h6 {
    font-size: 1.1em;
    color: $color-base-35; /* temporary to overwrite default h4 $color-base-10 -- remove when fixed */
}

/* Content within sections */
.section-contents {
    padding: 1.3em 1.5em;
}

.section-contents .no-left-padding {
    padding-left: 0;
}


@media all and (max-width: 769px) {
    /* Remove top/left/right padding from all but top level content */
    .section-contents:not(.primary-contents) {
        padding: 0 0 1.3em 0;
    }

    /* Nested content */
    .section-contents .section-contents {
        padding: 1.3em 1.5em;
    }

    /* Top level headers and content */
    .primary-header {
        background-color: $color-base-45;
        color: $color-base-95;
        border: 0 none;
    }

    .primary-header h3 {
        color: $color-base-95; /* temporary to overwrite section-header h3 -- remove when fixed */
    }

    /*Global Search bar*/
    #global-search .column-four {
        width: 100%;
    }
}

/* For wrappers/content that require no padding at mobile size */
/* Appears later in CSS due to need for higher specificity */
@media all and (max-width: 769px) {
    .section-wrapper.no-section-mobile-padding,
    .section-contents.no-section-mobile-padding {
        padding: 0;
    }
}

@media all and (max-width: 769px) {
    .section-contents > .button-bar.button-bar--margins {
        margin: 0 0 -1.3em 0;
    }
}

.validationMessage {
    color: $color-error;
}

/* use the component class on defined components
    in order to give them structural definition
*/
.component {
    display: block;
    overflow: hidden;
}

/* Override for not-yet-sticky ESG footer */
.esg-footer {
    position: static;
}

/* Override to position text and logo */
.esg-footer__text {
    vertical-align: middle;
}

.esg-footer__logo {
    max-height: 30px; /* pre-CDN value */
    max-width: 275px; /* pre-CDN value */
    vertical-align: middle;
    padding-right: .25rem;
}
