﻿/* ----------------------------------------------------------- */
/* //////////  Responsive & Scrolling Table Styles //////////  */
/* ----------------------------------------------------------- */

table,
.esg-table {
    display: table;
    width: 100%;
    color: $color-base-35;
    border-collapse: collapse;
    border-left: 1px solid $color-base-60;
    border-right: 1px solid $color-base-60;
    line-height: 1.313rem;
}

/* ESG override for fixed tables */
.esg-table--table-layout-fixed {
    table-layout: fixed;
}

.esg-table--no-border {
    border: none;
    tr, th, td, td:last-child {
        border: none;
    }
}

tr.esg-table-head__row--border-top,
tr.esg-table-body__row--border-top,
tr.esg-table-foot__row--border-top {
    border-top: 1px solid $color-base-60;
}

tr.esg-table-head__row--border-bottom,
tr.esg-table-body__row--border-bottom,
tr.esg-table-foot__row--border-bottom {
    border-bottom: 1px solid $color-base-60;
}

/* Nested tables */
table table {
    border: 0 none;
}

caption,
.esg-table-actions__title {
    padding: 1rem .75rem;
    background-color: $color-base-95;
    border-top: 1px solid $color-base-60;
    border-left: 1px solid $color-base-60;
    border-right: 1px solid $color-base-60;
    text-align: left;
    font-weight: bold;
    font-style: normal;
}

thead,
.esg-table-head,
tfoot,
.esg-table-foot {
    background-color: $color-base-80;
    display: table-header-group;
}

thead th,
.esg-table-head__th,
tfoot th,
.esg-table-foot__th {
    border-left: 1px solid $color-base-60;
    font-weight: 600;
}

/* ESG override to remove purple caret */
.esg-table-head__th:after {
    display: none;
}

/* ESG override to remove hover state on table headers */
.esg-table-head__th:hover {
    background: inherit;
    cursor: inherit;
    transition: none;
}

thead th:first-child,
.esg-table-head__th:first-child {
    border-left-width: 0;
}

tbody,
.esg-table-body {
    background-color: $color-base-95;
    display: table-header-group;
}

/* No border needed for first row, taken from th (unless offscreened, see below) */
tbody tr:first-child,
.esg-table-body .esg-table-body__row:first-child {
	border-top: 0 none;
}

/* For first row in table with offScreen headers (needs border) */
thead.offScreen + tbody tr:first-child,
.esg-table-head.offScreen + .esg-table-body > .esg-table-body__row:first-child {
    border-top: 1px solid $color-base-60;
}

tr,
.esg-table-head__row,
.esg-table-body__row {
    border-top: 1px solid $color-base-60;
    border-bottom: 1px solid $color-base-60;
    display: table-row;
}

/* Nested rows */
tr tr {
    border-width: 0;
}

td, th,
.esg-table-body__td, .esg-table-head__th {
    padding: .75rem .875rem;
    vertical-align: middle;
    display: table-cell;
    text-align: left;
}

.esg-table-body__td--vertical-align-top, 
.esg-table-head__th--vertical-align-top {
    //note that the ESG defaults vertical-align to top. we made an override above before the ESG Table was fully complete
    //so this is technically an override to an override. can be removed when we flip to ESG tables
    vertical-align: top;
}

.esg-table-body__td--white-space-normal {
    white-space:normal;
}

td.disabled, th.disabled,
.esg-table-body__td--disabled, .esg-table-body__th--disabled{

     color: $color-base-50;
     font-family: open_sansitalic, Open Sans, Helvetica Oblique, sans-serif;
     font-style: italic;
}

/* For th with no border (ex. where headings are offscreened) */
.esg-table-head__th--no-border {
    border-left: 0 none;
}

/* fix for Chrome bug where borders are intermittently missing -- needs more research */
thead th:last-child, tbody td:last-child,
.esg-table-body__td:last-child, .esg-table-head__th:last-child {
    border-right: 1px solid $color-base-60;
}

/* Start Responsive Table */
.responsiveTable caption, caption:after {
    white-space: pre;
    content: attr(data-role);
}

.responsiveTable th, th:after,
.responsiveTable thead td, thead td:after {
    font-size: 1em;
    border-bottom: none;
    text-align: left;
}

.responsiveTable tfoot td {
    font-size: 1em;
}

.responsiveTable td .layout-table-cell {
    display: block;
    padding: 0;
}

@media only screen and (max-width: 768px) {

    /* Force table to not be like tables anymore */
    .responsiveTable table,
    .responsiveTable caption,
    .responsiveTable thead,
    .responsiveTable tbody,
    .responsiveTable th {
	   display: block;
    }
    
    .responsiveTable.hide-content,
    .responsiveTable table.hide-content,
    .responsiveTable caption.hide-content,
    .responsiveTable thead.hide-content,
    .responsiveTable tbody.hide-content,
    .responsiveTable th.hide-content,
    .responsiveTable td.hide-content,
    .responsiveTable tr.hide-content {
	   display: none;
    }

    .responsiveTable td {
	   width: 50%\9; /*IE9 style to force proper table rendering*/
	   float: left\9; /*IE9 style to force proper table rendering*/
	   text-align: right;
	   word-wrap: break-word;
	   display: table-row;
    }

    .responsiveTable tr {
	   display: table;
	   width: 100%;
    }

    .responsiveTable tbody:last-child {
	   border-bottom: none;
    }

    .responsiveTable tbody:nth-of-type(even),
    .responsiveTable tr:nth-of-type(even) {
	   background: none;
    }

    .responsiveTable caption {
	   font-weight: bold;
	   border-bottom: none;
	   white-space: pre-line;
	   border-left: 0 none;
	   border-right: 0 none;
    }

    .responsiveTable caption:before {
	   width: 100%;
	   white-space: nowrap;
	   font-weight: bold;
	   font-size: 100%;
    }

    .responsiveTable caption:after {
	   width: 100%;
	   font-weight: bold;
	   font-size: 1em;
    }

    .responsiveTable thead tr {
	   position: absolute;
	   top: -1000em;
	   left: -1000em;
    }

    /* override for Chrome bug fix on mobile */
    .responsiveTable thead th:last-child, tbody td:last-child {
	   border-right: 0 none;
    }

    .responsiveTable tbody tr {
	   border-bottom: 0 none;
    }

    .responsiveTable tbody tr:first-child {
	   border-top: 1px solid $color-base-60;
    }

    .responsiveTable tbody tr:last-child {
	   border-bottom: 1px solid $color-base-60;
    }

    .responsiveTable tfoot tr:first-child {
	   border-top: 0 none;
    }

    .responsiveTable td:first-child {
	    background-color: $color-base-80;
    }

    .responsiveTable td:before {
	   width: 45%;
	   font-weight: 600;
	   content: attr(data-role);
	   text-align: left;
	   display: table-cell;
	   padding: .75rem .875rem;
	   vertical-align: top;
    }

    .responsiveTable td .layout-table-cell {
	   padding: .75rem .875rem;
	   vertical-align: top;
    }

    .responsiveTable td.suppress-on-mobile {
	   display: none;
    }
}

/* End Responsive Table */

/* Start Scrolling Table */

/* 769px -- triggers immediately after mobile breakpoint for responsive table */
/* 1130px for largest SF table (Tuition) in Firefox, which breaks about about 100px sooner than Chrome */
@media (min-width: 769px) and (max-width: 1130px)  {
    .scrolling-table-wrapper {
	   position: relative;
    }
    .scrolling-table-wrapper:before {
	   content: "";
	   position: absolute;
	   right: 0;
	   width: .5em;
	   height: 100%;
	   background-image: -webkit-linear-gradient(left, transparent 40%, $color-base-55);
	   background-image: -moz-linear-gradient(left, transparent 40%, $color-base-55);
	   background-image: -ms-linear-gradient(left, transparent 40%, $color-base-55);
	   background-image: -o-linear-gradient(left, transparent 40%, $color-base-55);
	   background-image: linear-gradient(left, transparent 40%, $color-base-55);
    }
    .scrolling-table {
	   overflow-x: auto;
	   display: block;
    }
}

.wide-scrolling-table-wrapper {
	   position: relative;
}
.wide-scrolling-table-wrapper:before {
	   content: "";
	   position: absolute;
	   right: 0;
	   width: .5em;
	   height: 100%;
	   background-image: -webkit-linear-gradient(left, transparent 40%, $color-base-55);
	   background-image: -moz-linear-gradient(left, transparent 40%, $color-base-55);
	   background-image: -ms-linear-gradient(left, transparent 40%, $color-base-55);
	   background-image: -o-linear-gradient(left, transparent 40%, $color-base-55);
	   background-image: linear-gradient(left, transparent 40%, $color-base-55);
}
.wide-scrolling-table {
	   overflow-x: auto;
	   display: block;
}

/* End Scrolling Table */

/*Start Table Sorting*/

.responsiveTable th img.sortable-column-img
{
    padding:0 0 0 0.938em;
    vertical-align:middle;
    
}

.responsiveTable th.sortable{
   
	background: url('../Content/Images/both.png') no-repeat 98% 50%;
}

.responsiveTable th.sortable-asc{
	background: url('../Content/Images/up.png') no-repeat 98% 50%;
}

.responsiveTable th.sortable-desc{
	background: url('../Content/Images/down.png') no-repeat 98% 50%;
}

/*End Table Sorting*/

/* Layout table */
.layout-table {
    display: table;
    line-height: 1.313rem;
    border-collapse: collapse;
}

.layout-table-head,
.layout-table-body,
.layout-table-foot {
    display: table-header-group;
}

.layout-table-row {
    display: table-row;
}

.layout-table-cell {
    display: table-cell;
    padding: .75rem .875rem;
}

/* Nested cells */
.layout-table-cell .layout-table-cell {
    padding: 0;
}