﻿/* ----------------------------------------------------------- */
/* //////////  Site Toolbar                        //////////  */
/* ----------------------------------------------------------- */

/* CDN Additions/Overrides */
.esg-header-bar__logo {
    display: table;
    padding: 0 0 0 1.25rem;
    line-height: 0;
}

@media only screen and (min-width: 48rem) {
    .esg-header-bar__logo {
        padding-top: 0;
    }
}

/* CDN Additions (does not account for img in logo) */
.esg-header-bar__logo-link {
    display: table-cell;
    vertical-align: middle;
}

.esg-header-bar__logo-image {
    max-width: 250px;
    max-height: 50px;
    display: table-cell;
}

@media (min-width: 600px) {
    .esg-header-bar__logo-image {
        max-width: 300px;
    }
}

@media (min-width: 768px) {
    .esg-header-bar__logo-image {
        max-width: 420px;
        max-height: 60px;
    }
}

#siteToolbar .username {
    background: none;
    margin-left: 0;
    text-decoration: underline;
}

#siteToolbar > a,
#siteToolbar > button span {
    text-decoration: none;
}

#siteToolbar .esg-header-bar__menu-item > button {
    background-color: $color-primary-40;
}

#siteToolbar .esg-header-bar__menu-item:hover > button {
    background-color: $color-primary-35;
}

#siteToolbar .esg-header-bar__menu-item:hover #notificationHost {
    background-color: $color-warning-fill-dark;
}

/* Second class needed to override Theme.css */
.esg-header-bar__menu-link.css-guest {
    background-color: $color-hint-fill;
    color: $color-hint;
    border-color: $color-hint;
}

.esg-header-bar__menu-link.css-guest:active, 
.esg-header-bar__menu-link.css-guest:active:focus, 
.esg-header-bar__menu-link.css-guest:active:hover, 
.esg-header-bar__menu-link.css-guest:focus, 
.esg-header-bar__menu-link.css-guest:hover {
    cursor: default;
    background-color: $color-hint-fill;
    color: $color-hint;
}

#siteToolbar .help span {
    display: block;
    text-indent: -1000em;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 1.64em;
    background-position: top center;
}

@media (min-width: 600px) {
    #siteToolbar .help span {
        width: 50px;
    }
}

@media (min-width: 769px) {
    #siteToolbar .help span {
        width: 60px;
    }
}

@media (min-width: 1134px) {
    #siteToolbar .help span {
        display: inline-block;
        width: auto;
        max-width: 160px; 
        text-indent: 0;
        background-position: top left;
        padding: 0 0 0 1.5em;
    }
}

/* Move hamburger menu "space" (margin & calc width) from header-bar to logo for toolbar mobile second row */
.esg-header-bar {
    margin: 0;
    width: 100%;
    position: static;
}

/* Only add extra margins when not logged in */
html:not(.no-auth) .esg-header-bar__logo {
    margin-left: 3.125rem;
}

/* Don't add extra  margins to logo when sidebar is visible */
@media (min-width: 768px) {
    html:not(.no-auth) .esg-header-bar__logo {
        margin-left: 0;
    }
}

/* Don't add margins to logo when not logged in */
.no-auto .esg-header-bar__logo {
    margin-left: 0;
}

/* Toolbar display -- block for second row on mobile, inline block on desktop */
.esg-header-bar__menu {
    display: block;
    width: 100%;
    top: 3.125rem;
}

@media (min-width: 768px) {
    .esg-header-bar__menu {
        display: inline-block;
        top: 0;
        width: auto;
    }
}

/* Widths for menu items on mobile (w/ or w/o notifications) */
/* Override white-space: nowrap to prevent cropping of dropdown items */
.esg-header-bar__menu-item {
    width: 25%;
    white-space: normal;
}

.esg-header-bar__menu-item.esg-header-bar__menu-item-no-notifications {
    width: 33.3%;
}

@media (min-width: 768px) {
    .esg-header-bar__menu-item,
    .esg-header-bar__menu-item.esg-header-bar__menu-item-no-notifications {
        width: auto;
    }
}

.esg-header-bar__menu-item:first-child {
    margin-left: 0;
}

.esg-header-bar__menu-item .esg-dropdown {
    width: 100%;
}

.esg-header-bar__menu-link {
    text-align: center;
}

.esg-dropdown-notifications, .esg-is-open>.esg-dropdown-notifications {
    width: 100%;
    display: inline-block;
}

@media (min-width: 768px) {
    .esg-dropdown-notifications, .esg-is-open>.esg-dropdown-notifications {
        width: 3.75rem;
    }
}

.esg-notification-center__dropdown {
    width: 100%;
}

/* Position user options on the right */
.css-user-options {
    right: auto;
}

/* Adjust caret based on new right position */
.css-user-options:after, .css-user-options:before {
    left: 1rem;
}

/* Reset to ESG default values on desktop */
@media (min-width: 768px) {
    .css-user-options {
        right: 0;
    }

    .css-user-options:after, .css-user-options:before {
        left: auto;
    }
}

/* Stretch help to 100% of viewport width and center in viewport */
.css-help-region {
    width: 100vw;
    left: -50vw;
    margin-left: 0;
}

/* When no notifications, Help is furthest right item; needs no adjustments */
.esg-header-bar__menu-item-no-notifications .css-help-region {
    left: auto;
}

/* Center caret within 50-75% space when notifications are visible */
.css-help-region:after, .css-help-region:before {
    left: 62.5vw;
}

/* When no notifications, Help is furthest right item; caret needs no adjustments */
.esg-header-bar__menu-item-no-notifications .css-help-region:after, 
.esg-header-bar__menu-item-no-notifications .css-help-region:before {
    left: auto;
}

/* ESG defaults on desktop, also add min-width on desktop, 
    otherwise dropdown will only be width of Help button (absolute dropdown in relative parent) */
@media (min-width: 768px) {
    .css-help-region {
        width: auto;
        min-width: 25rem;
        left: auto;
        margin-right: .5rem;
    }

    .css-help-region:after, .css-help-region:before {
        left: auto;
    }
}

/* ----------------------------------------------------------- */
/* //////////   Site Toolbar: Help                 //////////  */
/* ----------------------------------------------------------- */

.more-help-link {
    margin-left: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    display: block;
}

#help-body h2 {
    font-size: 1.1em;
    font-weight: bold;
    padding: .49em;
    margin: 0;
    color: $color-base-40;
}

#help-body p, #help-body ul {
    font-size: .93em;
}

#help-body h3 {
    font-size: .93em;
    font-weight: bold;
    padding: 0 1em .77em;
}

#help-body .ui-accordian .ui-accordian-content,
#help-body .help-content .ui-accordian-content,
#help-body .ui-accordion .ui-accordion-content-active,
#help-body .ui-accordian .ui-accordian-content[style],
#help-body .help-content .ui-accordian-content[style],
#help-body .ui-accordion .ui-accordion-content-active[style] {
    border-bottom: 1px solid;
    border-color: $color-base-65;
    background-color: $color-base-80;
    padding: .77em;
    filter: none;
}

.help-content .ui-state-default .ui-icon {
    background-color: $color-base-95;
    background-image: url("images/ui-icons_888888_256x240.png");
}

#help-body .ui-accordion-icons .ui-accordion-header a {
    padding-left: 2em;
}

#help-body .ui-accordion .ui-accordion-header .ui-icon {
    left: .5em;
}

.help-content .ui-accordion-content ul {
    list-style-type: disc;
    margin-left: .66em;
    padding-bottom: 0;
}

.help-content .ui-accordion-content li {
    padding: .25em 0;
}

#help-body .ui-accordion-content-active p {
    padding: 0;
}

#help-body h3.ui-accordion-header:first-child {
    border-top: 1px solid;
    border-color: $color-base-65;
}

#help-body h3.ui-accordian-header,
#help-body .ui-accordion .ui-accordion-header {
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid;
    border-color: $color-base-65;
    color: $color-base-40;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: block;
    font-size: .93em;
    font-weight: bold;
    margin: 0 0 0 0;
    padding: .25em .25em .25em 0;
    text-decoration: none;
}

/* Toolbar - High Density Styles */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
    #siteToolbar .help span {
        background-image: url("./Images/help-icon-light@2x.png");
        background-size: 17px;
    }
}

/* ESG Override for notifications overlapping mobile menu when open */
.esg-notification-center__dropdown.esg-is-open {
    z-index: 997;
}