﻿/* ----------------------------------------------------------- */
/* //////////   CSS Generated Carets & Chevrons    //////////  */
/* ----------------------------------------------------------- */

/* Chevrons */

/* Default State - Down */
.arrow {
    display: inline-block;
    width: .47em;
    height: .47em;
    border-top: 2px solid $color-base-55;
    border-right: 2px solid $color-base-55;
    border-width: 2px;
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.arrow.arrow-up {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.arrow.arrow-right {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.arrow.arrow-left {
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}

.arrow.no-arrow {
    border-width: 0;
}

/* ----------------------------------------------------------- */
/* //////////   Other Typographical Elements       //////////  */
/* ----------------------------------------------------------- */

.pdf-link:link,
.pdf-link:active,
.pdf-link:hover,
.pdf-link:visited {
    background: transparent url("../Content/Images/document.png") left no-repeat;
    background-size: 1.231em;
    padding-left: 1.75em;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
    .pdf-link:link,
    .pdf-link:active,
    .pdf-link:hover,
    .pdf-link:visited {
        background: transparent url("../Content/Images/document.png") left no-repeat;
        background-size: 1.231em;
    }
}

.print-link:link,
.print-link:active,
.print-link:hover,
.print-link:visited {
    background: transparent url("../Content/Images/print.png") left no-repeat;
    background-size: 1.231em;
    padding-left: 1.75em;
    color: $color-secondary-45;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
    .print-link:link,
    .print-link:active,
    .print-link:hover,
    .print-link:visited {
        background: transparent url("../Content/Images/print@2x.png") left no-repeat;
        background-size: 1.231em;
    }
}

/* ----------------------------------------------------------- */
/* //////////         Fonts, font colors           //////////  */
/* ----------------------------------------------------------- */
.overdue-amount{
    color: $color-error;
}