﻿/* Copyright 2012-2016 Ellucian Company L.P. and its affiliates. */
/* ------------------------------------------------------------- */
/* //////////  User Profile Styles                   //////////  */
/* ------------------------------------------------------------- */

@media all and (max-width: 480px) {
    #user-profile-left {
        border-bottom: 0 none;
    }
}

/* Force button styling override so we don't get borders and stuff leftover from non-flat button styles in site.css */
.add-button, .remove-button, .edit-button {
    border-radius: 0;
    font-size: inherit;
    box-shadow: none;
}

.confirm {
    background-color: $color-base-75;
    border: 1px solid $color-base-65;
    margin-top: 1em;
    padding-left: .769em;
}

.emergency-contact,
.health-condition {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
}

.phone {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    min-height: 20px;
}

.emergency-contact {
    border: 1px solid $color-base-65;
    border-top: none;
    margin-top: 2%;
    width: 49%;
}

@media all and (max-width: 769px) {
    .emergency-contact {
        width: 100%;
    }

    .confirm {
        padding-left: 0;
    }
}

.emergency-contact:nth-child(2n) {
    margin-left: 2%;
}

@media all and (max-width: 769px) {
    .section-wrapper .user-profile-section-cards,
    .emergency-contact:nth-child(2n) {
        margin-left: 0;
        margin-top: 1em;
    }
}

.contact-fieldset {
    border: 1px solid $color-base-55;
    border-radius: .5em;
}

.contact-fieldset > legend,
.contact-fieldset > .esg-form__group {
    margin-left: 1.385em;
    margin-right: 1.385em;
}

.health-condition {
    padding: .231em;
}

@media all and (max-width: 769px) {
    .health-condition.column-three {
        width: 49%;
    }

    .health-condition.column-three:nth-child(2n) {
        margin-left: .5%;
    }
}

@media all and (max-width: 480px) {
    .health-condition.column-three:nth-child(2n) {
        margin-left: 0;
    }

    .health-condition.column-three {
        width: 100%;
    }
}

.edit-button {
    height: 2.462em;
    width: 2.462em;
    background: url("../Content/Images/edit-inactive.png") no-repeat 0;
}

.edit-button:hover,
.edit-button:focus {
    background: url("../Content/Images/edit-active.png") no-repeat 0;
}

/* High Density Styles */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
    .edit-button {
        background: url("../Content/Images/edit-inactive@2x.png") no-repeat 0;
        background-size: 32px;
    }

    .edit-button:hover,
    .edit-button:focus {
        background: url("../Content/Images/edit-active@2x.png") no-repeat 0;
        background-size: 32px;
    }
}

.remove-button {
    height: 2.462em;
    width: 2.462em;
    background: url("../Content/Images/remove-inactive.png") no-repeat 0;
}

.remove-button:hover,
.remove-button:focus {
    background: url("../Content/Images/remove-active.png") no-repeat 0;
}

/* High Density Styles */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
    .remove-button {
        background: url("../Content/Images/remove-inactive@2x.png") no-repeat 0;
        background-size: 32px;
    }

    .remove-button:hover,
    .remove-button:focus {
        background: url("../Content/Images/remove-active@2x.png") no-repeat 0;
        background-size: 32px;
    }
}

.add-button {
    height: 2.462em;
    padding-left: 3em;
    background: url("../Content/Images/add-new-inactive.png") no-repeat 0;
}

.add-button:hover,
.add-button:focus {
    color: $color-hint;
    background: url("../Content/Images/add-new-active.png") no-repeat 0;
}

/* High Density Styles */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
    .add-button {
        background: url("../Content/Images/add-new-inactive@2x.png") no-repeat 0;
        background-size: 32px;
    }

    .add-button:hover,
    .add-button:focus {
        background: url("../Content/Images/add-new-active@2x.png") no-repeat 0;
        background-size: 32px;
    }
}

.edit-button,
.remove-button,
.add-button {
    border: none;
}

.edit-button:hover,
.remove-button:hover,
.add-button:hover {
    cursor: pointer;
    box-shadow: none;
}

.edit-button,
.remove-button {
    margin: .538em;
}

@media all and (max-width: 769px) {
    .edit-email-form input,
    .edit-phone-form input {
        margin-bottom: 1em;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
}

.edit-email-form input:not([type='checkbox']),
.edit-phone-form input:not([type='checkbox']) {
    min-width: 20em;
    padding: 1em;
}

.error-message {
    background-position: 96% center;
    margin: 0;
}

#hospital-preference {
    min-width: 20em;
}

@media all and (max-width: 480px) {
    #hospital-preference {
        width: 100%;
    }
}

.contact-name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.538em;
}

.relationship {
    font-size: 1.154em;
    text-transform: uppercase;
    font-weight: bold;
    min-height: 18px;
    display: block;
}

.action-buttons {
    background-color: $color-base-75;
    margin-top: .769em;
}

.truncate-section {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media all and (max-width: 480px) {
    .truncate-section {
        text-overflow: initial;
        white-space: normal;
        overflow: visible;
    }
}

/* High Density Styles */
table.responsiveTable .profile-email-preferred,
table.responsiveTable .profile-address-preferred {
    text-align: center;
}

.user-profile-address-line:not(:last-child):after {
    content: ",";
}

td.user-profile-buttons-cell {
    text-align: right;
    padding: 0;
    width: 100%;
}

.user-profile-email-table, .user-profile-phone-table, .user-profile-address-table {
    table-layout: fixed;
    margin-top: 1em;
}

.user-profile-email-table td {
    vertical-align: middle;
}

.user-profile-email-table td[data-role='Preferred'],
.user-profile-address-table td[data-role='Preferred'] {
    text-align: center;
}

th.profile-email-header, th.profile-phone-header, th.profile-address-header {
    width: 45%;
}

td.profile-email-cell {
    word-wrap: break-word;
}

#landing-page-diagram-div.float-right {
    float: right;
}

.landing-page-diagram {
    width: 80%;
    margin: 2em auto;
    display: block;
}

#landing-page-fields {
    margin-bottom: 2em;
    margin-top: 2em;
}

#emergency-info-optout-wrapper {
    margin-bottom: 1em;
}
