﻿/* Non-color variables will be placed here */

// Font stacks
$primary-font-stack: "open_sansregular", "Open Sans", Helvetica, sans-serif;
$primary-font-stack-italic: "open_sansitalic", "Open Sans Italic", Helvetica Oblique, sans-serif;

// Global Breakpoints
$breakpoint-xsmall:   26.25rem;   // 420px
$breakpoint-small:    48rem;      // 768px
$breakpoint-medium:   62rem;      // 992px
$breakpoint-large:    75rem;      // 1200px
$breakpoint-xlarge:   90rem;      // 1440px
$breakpoint-xxlarge:  125rem;     // 2000px

// Animations ////////////////////////////////////////////////////
$animation-transition-none:     all 0s ease-in-out;
$animation-transition-fast:     all .1s ease-in-out;
$animation-transition-fast-alt: all .15s ease;   // This is unique to a specific pattern
$animation-transition-medium:   all .3s ease-in-out;
$animation-transition-slow:     all .5s ease-in-out;