/* Copyright 2013-2016 Ellucian Company L.P. and its affiliates. */
/*[section] Navigation*/

.primary-menu .menu-header:hover,
.primary-menu .menu-item:hover,
.primary-menu .menu-item.selected,
.primary-menu input[type=checkbox]:focus + .menu-header .menu-item,
.menu-wrapper > input[aria-expanded="true"][data-menu-level="0"] + .menu-header > .menu-item {
    /*[rule-id] Hover and Selected states of Primary Menu Background*/
    /*[rule-description] Hover and Selected states of Primary Menu Background*/
    background-color: #783084;
}

.primary-menu > .menu-wrapper.current-page > .menu-header > .menu-item {
    /*[rule-id] Primary Menu Containing Current Page Background and Highlight*/
    /*[rule-description] Primary Menu Containing Current Page Background and Highlight*/
    border-bottom-color: #783084;
    background-color: #262626;
}

.primary-menu .menu-item, .primary-menu a:link, .primary-menu a:visited, .primary-menu a:hover {
    /*[rule-id] Default state of Primary Menu Text*/
    /*[rule-description] Default state of Primary Menu Text*/
    color: #ffffff;
}

.secondary-menu {
    /*[rule-id] Default state of Secondary Menu Background*/
    /*[rule-description] Default state of Secondary Menu Background*/
    background-color: #333333;
}

    .secondary-menu .menu-header:hover,
    .secondary-menu .menu-item:hover,
    .secondary-menu .menu-item.selected,
    .secondary-menu input[type=checkbox]:focus + .menu-header .menu-item {
        /*[rule-id] Hover/Selected state of Secondary Menu Background*/
        /*[rule-description] Hover/Selected state of Secondary Menu Background*/
        background-color: #262626;
    }

    .secondary-menu > .menu-wrapper.current-page > .menu-header > .menu-item:before, .secondary-menu > .menu-wrapper.current-page > .menu-header > .menu-item:before {
        /*[rule-id] Active state of Secondary Menu Background*/
        /*[rule-description] Color of the Active state dot at the Secondary Menu level*/
        color: #FFC0CB;
    }

    .secondary-menu .menu-item, .secondary-menu a, .secondary-menu a:link, .secondary-menu a:visited, .secondary-menu a:hover {
        /*[rule-id] Default state of Secondary Menu Text*/
        /*[rule-description] Default state of Secondary Menu Text*/
        color: #ffffff;
    }

.tertiary-menu {
    /*[rule-id] Default state of Tertiary Menu Background*/
    /*[rule-description] Default state of Tertiary Menu Background*/
    background-color: #ffffff;
}

    .tertiary-menu .menu-header:hover,
    .tertiary-menu .menu-item:hover,
    .tertiary-menu .menu-item.selected,
    .tertiary-menu input[type=checkbox]:focus + .menu-header .menu-item,
    .tertiary-menu .current-page {
        /*[rule-id] Hover/Selected state of Tertiary Menu Background*/
        /*[rule-description] Hover/Selected/Active state of Tertiary Menu Background*/
        background-color: #efefef;
    }

    .tertiary-menu .menu-item, .tertiary-menu a, .tertiary-menu a:link, .tertiary-menu a:visited, .tertiary-menu a:hover {
        /*[rule-id] Default state of Tertiary Menu Text*/
        /*[rule-description] Default state of Tertiary Menu Text*/
        color: #000000;
    }

/*[section] Spinner*/
.esg-spinner {
    /*[rule-id] Spinner colors */
    /*[rule-description] Colors used to render the spinner */
    border-color: rgba(120, 48, 131, 0.4);
    border-top-color: #783084;
}

/* [section] Links */
a,
a:active,
a:hover,
.backlink a,
.backlink a:hover,
.backlink a:visited,
.backlink a:link,
.backlink a:active,
.header-dropdown a,
.header-dropdown a:active,
.header-dropdown a:hover,
.my-awards-toggle .accordion-toggle,
button.esg-page-header__subtitle--backlink,
button.esg-page-header__subtitle--backlink:hover,
button.esg-page-header__subtitle--backlink:focus,
button.esg-page-header__subtitle--backlink:active {
    /*[rule-id] Link color across Self-Service */
    /*[rule-description] Link color across Self-Service */
    color: #3f756e;
}

.backlink a:before,
.backlink button:before,
#page-description .backlink a:before {
    /*[rule-id] Back link caret color */
    /*[rule-description] Back link caret color */
    border-color: #3f756e;
}

a:visited,
.header-dropdown a:visited {
    /*[rule-id] Visited link color across Self-service */
    /*[rule-description] Visited link color across Self-service */
    color: #56225e;
}

/*[section] Primary Colors */

.esg-header-bar__menu-link,
.esg-header-bar__menu-link:hover, .esg-header-bar__menu-link:focus, .esg-header-bar__menu-link:active, .esg-header-bar__menu-link:active:hover, .esg-header-bar__menu-link:active:focus,
.esg-header-bar__menu-item .esg-is-open > .esg-dropdown__link,
.esg-header-bar__menu-item .esg-is-open > .esg-dropdown__link:focus,
.esg-header-bar__menu-item .esg-is-open > .esg-dropdown__link:hover,
.esg-modal-wizard__close {
    /*[rule-id] esg-border-left-color-primary-30 */
    /*[rule-description] Primary color darker (-15%)*/
    border-left-color: #451b4b;
}

.esg-header-bar__menu-item .esg-is-open > .esg-dropdown__link,
.esg-header-bar__menu-item .esg-is-open > .esg-dropdown__link:focus,
.esg-header-bar__menu-item .esg-is-open > .esg-dropdown__link:hover {
    /*[rule-id] esg-border-color-primary-30 */
    /*[rule-description] Primary color darker (-15%)*/
    border-color: #451b4b;
}

.esg-datepicker__day.esg-is-active:hover,
.esg-header-bar__menu-link:hover, .esg-header-bar__menu-link:focus, .esg-header-bar__menu-link:active, .esg-header-bar__menu-link:active:hover, .esg-header-bar__menu-link:active:focus,
.esg-header-bar__menu > .esg-is-active,
.esg-header-bar__menu > .esg-is-open,
.esg-header-bar__menu > .esg-is-active:hover, .esg-header-bar__menu > .esg-is-active:focus, .esg-header-bar__menu > .esg-is-active:active, .esg-header-bar__menu > .esg-is-active:active:hover, .esg-header-bar__menu > .esg-is-active:active:focus,
.esg-header-bar__menu > .esg-is-open:hover,
.esg-header-bar__menu > .esg-is-open:focus,
.esg-header-bar__menu > .esg-is-open:active,
.esg-header-bar__menu > .esg-is-open:active:hover,
.esg-header-bar__menu > .esg-is-open:active:focus,
.esg-header-bar__link:focus,
.esg-header-bar__link:hover,
.esg-header-bar__menu-item .esg-is-open > .esg-dropdown__link,
.esg-header-bar__menu-item .esg-is-open > .esg-dropdown__link:focus,
.esg-header-bar__menu-item .esg-is-open > .esg-dropdown__link:hover,
.esg-modal-wizard__close:hover, .esg-modal-wizard__close:focus, .esg-modal-wizard__close:active, .esg-modal-wizard__close:active:hover, .esg-modal-wizard__close:active:focus {
    /*[rule-id] esg-background-color-primary-35 */
    /*[rule-description] Primary color darker (-10%)*/
    background-color: #56225e;
}

.esg-list-group__item.esg-is-active:hover, .esg-list-group__item.esg-is-active:focus,
.esg-list-group__item.esg-is-active .esg-list-group__link:hover, .esg-list-group__item.esg-is-active .esg-list-group__link:focus {
    /*[rule-id] esg-color-primary-40 */
    /*[rule-description] Primary color darker (-5%)*/
    color: #672970;
}

.esg-header-bar__menu-link,
.esg-modal-wizard__close {
    /*[rule-id] esg-background-color-primary-40 */
    /*[rule-description] Primary color darker (-5%)*/
    background-color: #672970;
}

.esg-label--primary,
.esg-dropdown__menu,
.esg-is-open .esg-dropdown__menu-item,
.esg-calendar-table__marker-line,
.esg-button--sign-in {
    /*[rule-id] esg-border-color-primary-45 */
    /*[rule-description] Primary color (base)*/
    border-color: #783084;
}

.esg-spinner,
.esg-calendar-table__marker-cap {
    /*[rule-id] esg-border-top-color-primary-45 */
    /*[rule-description] Primary color (base)*/
    border-top-color: #783084;
}

.esg-sidebar__menu-link.esg-is-active,
.esg-table-head__th::after,
.esg-table-head__th.esg-is-active {
    /*[rule-id] esg-border-bottom-color-primary-45 */
    /*[rule-description] Primary color (base)*/
    border-bottom-color: #783084;
}

.esg-label--primary,
.esg-datepicker__day.esg-is-active,
.esg-sidebar__menu-link:hover,
.esg-sidebar__menu-link:hover, .esg-sidebar__menu-link:focus, .esg-sidebar__menu-link:active, .esg-sidebar__menu-link:active:hover, .esg-sidebar__menu-link:active:focus, .esg-sidebar__menu-link.esg-active:hover, .esg-sidebar__menu-link.esg-active:focus, .esg-sidebar__menu-link.esg-active:active,
.esg-sidebar__menu-toggle:hover, .esg-sidebar__menu-toggle:focus,
.esg-sidebar__submenu-item:hover, .esg-sidebar__submenu-item:focus, .esg-sidebar__submenu-item:active,
.esg-sidebar__submenu-item a:active:hover,
.esg-sidebar__submenu-item a:active:focus,
.esg-sidebar__submenu-link:hover,
.esg-sidebar__submenu-link:hover, .esg-sidebar__submenu-link:focus, .esg-sidebar__submenu-link:active, .esg-sidebar__submenu-link:active:hover, .esg-sidebar__submenu-link:active:focus, .esg-sidebar__submenu-link.esg-active:hover, .esg-sidebar__submenu-link.esg-active:focus, .esg-sidebar__submenu-link.esg-active:active,
.esg-header-bar,
.esg-header-bar__menu,
.esg-modal-wizard__header {
    /*[rule-id] esg-background-color-primary-45 */
    /*[rule-description] Primary color (base)*/
    background-color: #783084;
}

.esg-button--loading,
.esg-button--loading:hover, .esg-button--loading:focus, .esg-button--loading:active, .esg-button--loading:active:hover, .esg-button--loading:active:focus,
.esg-list-group__item.esg-is-active,
.esg-list-group__item.esg-is-active .esg-list-group-item-heading,
.esg-list-group__item.esg-is-active .esg-list-group-item-heading:hover, .esg-list-group__item.esg-is-active .esg-list-group-item-heading:focus, .esg-list-group__item.esg-is-active .esg-list-group-item-heading:active, .esg-list-group__item.esg-is-active .esg-list-group-item-heading:active:hover, .esg-list-group__item.esg-is-active .esg-list-group-item-heading:active:focus,
.esg-list-group__link:visited, .esg-list-group__link:visited:hover, .esg-list-group__link:visited:focus,
.esg-icon-list-group__link:visited,
.esg-icon-list-group__link:visited:hover,
.esg-icon-list-group__link:visited:focus,
.esg-list-group__item.esg-is-active .esg-list-group__link,
.esg-list-group__item-heading,
.esg-card--panel__heading .esg-card--panel__title,
.esg-action-bar,
.esg-action-bar__title,
.esg-person-card__name,
.esg-page-header__title,
.esg-is-active .esg-calendar-table__item,
.esg-modal-wizard__page-title,
.esg-form__checkbox--sign-in[type='checkbox']:checked + label::before {
    /*[rule-id] esg-color-primary-45 */
    /*[rule-description] Primary color (base)*/
    color: #783084;
}

.esg-calendar-table__event {
    /*[rule-id] esg-border-color-primary-50 */
    /*[rule-description] Primary color lighter (+5%)*/
    border-color: #883696;
}

.esg-sign-in__page::after {
    /*[rule-id] esg-background-color-primary-50 */
    /*[rule-description] Primary color lighter (+5%)*/
    background-color: #883696;
}

.esg-dropdown__menu-item:active:hover, .esg-dropdown__menu-item:active:focus, .esg-dropdown__menu-item:active:active,
.esg-dropdown__menu-item.esg-is-active:hover,
.esg-dropdown__menu-item.esg-is-active:focus,
.esg-dropdown__menu-item.esg-is-active:active {
    /*[rule-id] esg-border-color-primary-85 */
    /*[rule-description] Primary color lighter (+40%)*/
    border-color: #d5a2dd;
}

.esg-dropdown__menu-item:active,
.esg-dropdown__menu-item.esg-is-active {
    /*[rule-id] esg-border-color-primary-95 */
    /*[rule-description] Primary color lighter (+50%)*/
    border-color: #e6c8eb;
}

.esg-list-group__item:active, .esg-list-group__item:active:hover, .esg-list-group__item:active:focus,
.esg-icon-list-group__item:active,
.esg-icon-list-group__item:active:hover,
.esg-icon-list-group__item:active:focus {
    /*[rule-id] esg-border-top-bottom-color-primary-95 */
    /*[rule-description] Primary color lighter (+50%)*/
    border-top-color: #e6c8eb;
    border-bottom-color: #e6c8eb;
}

.esg-sign-in__content,
.esg-sign-in__content a,
.esg-form__checkbox--sign-in[type='checkbox'] + label {
    /*[rule-id] esg-color-primary-95 */
    /*[rule-description] Primary color lighter (+50%)*/
    color: #e6c8eb;
}

.esg-pillbox__fill,
.esg-calendar-table__event {
    /*[rule-id] esg-background-color-primary-100 */
    /*[rule-description] Primary color lighter (+55%)*/
    background-color: #d5a2dd;
}

.esg-list-group__item:active, .esg-list-group__item:active:hover, .esg-list-group__item:active:focus,
.esg-icon-list-group__item:active,
.esg-icon-list-group__item:active:hover,
.esg-icon-list-group__item:active:focus,
.esg-dropdown__menu-item:active,
.esg-dropdown__menu-item.esg-is-active,
.esg-dropdown__menu-item:active:hover, .esg-dropdown__menu-item:active:focus, .esg-dropdown__menu-item:active:active,
.esg-dropdown__menu-item.esg-is-active:hover,
.esg-dropdown__menu-item.esg-is-active:focus,
.esg-dropdown__menu-item.esg-is-active:active,
.esg-is-open .esg-dropdown__menu-item:active, .esg-is-open .esg-dropdown__menu-item.esg-is-active,
.esg-is-open .esg-dropdown__menu-item.esg-is-active:hover, .esg-is-open .esg-dropdown__menu-item.esg-is-active:focus, .esg-is-open .esg-dropdown__menu-item:active:hover, .esg-is-open .esg-dropdown__menu-item:active:focus {
    /*[rule-id] esg-background-color-primary-105 */
    /*[rule-description] Primary color lighter (+60%)*/
    background-color: #eedaf1;
}

.esg-header-bar__logo,
.esg-header-bar__menu-link {
    /*[rule-id] esg-color-primary-105 */
    /*[rule-description] Primary color lighter (+60%)*/
    color: #eedaf1;
}

/*[section] Accent Colors */

code {
    /*[rule-id] esg-color-accent-45 */
    /*[rule-description] Accent color (base)*/
    color: #b01647;
}

.esg-step-progress__item.esg-is-active,
.esg-is-active .esg-step-progress__link,
.esg-step-progress__item.esg-is-previous,
.esg-step-progress__item.esg-is-previous::before,
.esg-is-previous .esg-step-progress__link {
    /*[rule-id] esg-color-accent-50 */
    /*[rule-description] Accent color lighter (+5%)*/
    color: #c71950;
}

    .esg-step-progress__item.esg-is-active::before,
    .esg-step-progress__item.esg-is-previous::before {
        /*[rule-id] esg-border-color-accent-50 */
        /*[rule-description] Accent color lighter (+5%)*/
        border-color: #c71950;
    }

    .esg-step-progress__item.esg-is-active::before {
        /*[rule-id] esg-background-color-accent-50 */
        /*[rule-description] Accent color lighter (+5%)*/
        background-color: #c71950;
    }

.esg-tab__menu-item.esg-is-active,
.esg-person-card__list:nth-last-child(n+4)::after,
.esg-person-card--non-modal {
    /*[rule-id] esg-border-bottom-color-accent-55 */
    /*[rule-description] Accent color lighter (+10%)*/
    border-bottom-color: #de1c5a;
}

.esg-pillbox__value.esg-is-active::after {
    /*[rule-id] esg-background-color-accent-55 */
    /*[rule-description] Accent color lighter (+10%)*/
    background-color: #de1c5a;
}

.esg-person-card__footer {
    /*[rule-id] esg-border-top-color-accent-75 */
    /*[rule-description] Accent color lighter (+30%)*/
    border-top-color: #ed7299;
}
