﻿<!-- Copyright 2016-2017 Ellucian Company L.P. and its affiliates -->
@section scripts{
    @Scripts.Render("~/bundles/financialaidoutsideawardsscripts")
}
<div class="clear-group">
    <div id="page-description" class="column-five">
        <h2>@Resources.OutsideAwards.PageTitle</h2>
        <p>@Resources.OutsideAwards.PageDetail</p>        
    </div>
</div>

<!-- Year selector bar with counselor info -->
<div data-bind="visible: showUI()">
    @Html.Partial("_CounselorContactAndYearSelector")
</div>

<!-- Outside Awards Page Container -->
<!-- ko ifnot: HasPrivacyRestriction() -->
<div class="column-nine" id="outside-awards-main" style="display: none" data-bind="visible: true">
    <spinner params="isVisible: !showUI(), message: '@Resources.OutsideAwards.LoadingDataSpinnerMessage'">
    </spinner>
    <div data-bind="visible: showUI">
        <div class="content section-wrapper section-wrapper-top-border">
            <div id="outside-awards-contents" class="section-contents">
                <div id="outside-awards-action-text">
                    @Resources.OutsideAwards.OutsideAwardsActionText
                </div>
                <button id="add-outside-award-button" class="esg-button esg-button--primary add-button" aria-label="@Resources.OutsideAwards.AddOutsideAwardButtonLabel" data-bind="click: addOutsideAward, enable: $root.IsUserSelf()">
                    @Resources.OutsideAwards.AddOutsideAwardButtonLabel
                </button>
                <table id="outside-awards-table" class="responsiveTable" data-bind="visible: OutsideAwards().length > 0">
                    <caption class="offScreen">@Resources.OutsideAwards.OutsideAwardsTableHeader</caption>
                    <thead>
                        <tr>
                            <th>@Resources.OutsideAwards.AwardNameColumnHeader</th>
                            <th>@Resources.OutsideAwards.AwardTypeColumnHeader</th>
                            <th>@Resources.OutsideAwards.FundingSourceColumnHeader</th>
                            <th id="outside-award-amount-column" class="text-align-right">@Resources.OutsideAwards.AwardAmountColumnHeader</th>
                            <th><span class="offScreen">@Resources.OutsideAwards.RemoveAndEditOptions"</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- ko foreach: OutsideAwards() -->
                        <tr>
                            <td data-role="@Resources.OutsideAwards.AwardNameColumnHeader" data-bind="text: AwardName()"></td>
                            <td data-role="@Resources.OutsideAwards.AwardTypeColumnHeader" data-bind="text: AwardType()"></td>
                            <td data-role="@Resources.OutsideAwards.FundingSourceColumnHeader" data-bind="text: AwardFundingSource()"></td>
                            <td data-role="@Resources.OutsideAwards.AwardAmountColumnHeader" class="text-align-right" data-bind="currency: AwardAmount()"></td>
                            <td class="outside-award-edit-remove text-align-right">
                                <button id="award-remove-icon" class="remove-button" title="@Resources.OutsideAwards.RemoveAward" aria-label="@Resources.OutsideAwards.RemoveAward" data-bind="click: $root.showAwardRemoveDialog, enable: $root.IsUserSelf()"></button>
                                <button id="award-edit-icon" class="edit-button" title="@Resources.OutsideAwards.EditAward" aria-label="@Resources.OutsideAwards.EditAward" data-bind="click: $root.showAwardEditDialog, enable: $root.IsUserSelf()"></button>
                            </td>
                        </tr>
                        <!-- /ko -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->

<!-- Add/Edit outside award dialog -->
<div id="outside-award-dialog" class="clear-group" style="display: none;" title="@Resources.OutsideAwards.EnterOutsideAwardDetailsHeader" data-bind="jqDialog: outsideAwardDialogOptions, dialogOpen: displayOutsideAwardInputForm">
    <div class="dialog-wrapper">
        <div class="esg-form__group">
            <label for="award-name-field" class="esg-is-required">@Resources.OutsideAwards.AwardNameColumnHeader</label>
            <input type="text" id="award-name-field" class="esg-form__input" required data-bind="value: outsideAward().AwardName, valueUpdate: 'input', event: {input: processAwardUpdate}" />
        </div>
        <div class="esg-form__group">
            <label for="award-type-dropdown">@Resources.OutsideAwards.AwardTypeColumnHeader</label>
            <select id="award-type-dropdown" class="esg-form__input" data-bind="options: OutsideAwardTypes, value: outsideAward().AwardType, event: {change: processAwardUpdate }"></select>
        </div>
        <div class="esg-form__group">
            <label for="award-funding-source-field" class="esg-is-required">@Resources.OutsideAwards.FundingSourceColumnHeader</label>
            <input type="text" id="award-funding-source-field" class="esg-form__input" required data-bind="value: outsideAward().AwardFundingSource, valueUpdate: 'input', event: {input: processAwardUpdate }" />
        </div>        
        <div class="esg-form__group esg-has-feedback" data-bind="css: {'esg-has-error': outsideAward().AwardAmount.hasError()}">
            <label class="esg-form__label esg-is-required" for="award-amount-field">@Resources.OutsideAwards.AwardAmountColumnHeader</label>
            <div class="esg-form__input-group">
                <input class="esg-form__input" type="tel" id="award-amount-field" required pattern="[0-9.,]*" maxlength="8" size="8" data-bind="value: outsideAward().AwardAmount,
                    valueUpdate: 'input', event: {input: $root.processAmountChange.bind($data, outsideAward().AwardAmount), focus: clearInputField }" />
                <div class="esg-form__feedback-icon esg-icon__container" data-bind="visible: outsideAward().AwardAmount.hasError()">
                    <svg class="esg-icon esg-icon--error">
                        <use xlink:href="#icon-error"></use>
                    </svg>
                </div>
            </div>
            <div class="esg-form__feedback-text" data-bind="text: outsideAward().AwardAmount.validationMessage, visible: outsideAward().AwardAmount.hasError()"></div>
        </div>            
    </div>
    <div class="button-bar">
        <button type="button" id="add-edit-action-button" class="esg-button esg-button--primary" data-bind="click: handleOutsideAwardEvent, disable: disableOutsideAwardAction(), attr:{'aria-label': outsideAwardActionButtonLabel, name: outsideAwardActionButtonName}">
                <span data-bind="text: outsideAwardActionButtonLabel"></span>
            </button>
        <button type="button" id="add-edit-cancel-button" class="esg-button esg-button--secondary" data-bind="click: cancelOutsideAwardAction" aria-label="@Resources.OutsideAwards.CancelButtonLabel">@Resources.OutsideAwards.CancelButtonLabel</button>
        </div>
    </div>

<!-- Remove outside award dialog -->
<div id="remove-outside-award-dialog" class="clear-group" style="display: none;" title="@Resources.OutsideAwards.RemoveOutsideAwardHeader" data-bind="jqDialog: removeOutsideAwardDialogOptions, dialogOpen: displayAwardRemoveDialog">
    <div class="dialog-wrapper">
        <div data-bind="text: removeOutsideAwardMessage"></div>
    </div>
    <div class="button-bar">
        <button type="button" id="remove-confirmation-button" class="esg-button esg-button--primary" data-bind="click: deleteOutsideAward" aria-label="@Resources.OutsideAwards.DialogConfirmationButtonLabel">@Resources.OutsideAwards.DialogConfirmationButtonLabel</button>
        <button type="button" id="remove-cancel-button" class="esg-button esg-button--secondary" data-bind="click: cancelRemoveOutsideAward" aria-label="@Resources.OutsideAwards.CancelButtonLabel">@Resources.OutsideAwards.CancelButtonLabel</button>      
    </div>
</div>