﻿
<div class="section-contents">
    <section class="section-wrapper no-section-mobile-padding">
        <fieldset class="section-contents">
            <legend class="bold italic">
                <h5 data-bind="resx: 'BankingInformation.PayrollDepositPrioritySectionLabel'"></h5>
            </legend>
            <ul class="column-eight column-eight-sm" data-bind="foreach: sortableItems, jqSortableList: { options: sortableOptions}">

                <li data-bind="css: {'unsortable-list-item' : isLocked, 'sortable-list-item' : !isLocked(), 'new-sortable-item' : !id }">
                    <span class="bold column-five column-four-sm" data-bind="text: displayBankName"></span>
                    <span class="offScreen">Priority</span>
                    <span class="column-one column-two-sm text-align-right" data-bind="text: priorityDisplay"></span>

                    <div class="column-two column-two-sm priority-buttons">
                        <!-- ko ifnot: isLocked -->
                        <button class="no-styles block" data-bind="click: moveUp, visible: isMoveUpButtonVisible">
                            <span class="arrow arrow-up pointer"></span>
                            <span class="offScreen" data-bind="text: 'Change Deposit Priority to ' + index()"></span>
                        </button>

                        <button class="no-styles block" data-bind="click: moveDown, visible: isMoveDownButtonVisible">
                            <span class="arrow arrow-down pointer"></span>
                            <span class="offScreen" data-bind="text: 'Change Deposit Priority to ' + (index() + 2)"></span>
                        </button>
                        <!-- /ko -->
                        <!-- ko if: isLocked -->
                        <span class="lock"></span>
                        <span class="offScreen" data-bind="resx: 'BankingInformation.DepositPriorityLockedLabel'"></span>
                        <!-- /ko -->
                    </div>
                </li>
            </ul>
        </fieldset>
    </section>
</div>