﻿<!--Copyright 2016 Ellucian Company L.P. and its affiliates.-->

<button type="button" class="esg-button esg-button--secondary float-left" data-bind="click: toggleDialog, enable: enableRejectDialogButton()">
    <span data-bind="resx: 'TimeApproval.TimeApprovalRejectLabel'"></span>
</button>

<modal-dialog tabindex="-1" params="isVisible: rejectionDialogIsOpen,
              title: rejectionDialogOptions.title,
              buttons: rejectionDialogOptions.buttons,
              content: $data">

    <section class="clear-group">

        <div class="full-width row-wrapper-skinny">
            <span class="column-three column-four-md column-eight-sm bold" data-bind="resx: 'TimeApproval.RejectedByLabel'"></span>
            <span class="column-six column-four-md column-eight-sm" data-bind="text: supervisorName"></span>
        </div>
        <div class="full-width row-wrapper-skinny">
            <span class="column-three column-four-md column-eight-sm bold" data-bind="resx: 'TimeApproval.EmployeeLabel'"></span>
            <span class="column-six column-four-md column-eight-sm" data-bind="text: employeeName"></span>
        </div>
        <div class="full-width row-wrapper-skinny">
            <label class="column-three column-four-md column-eight-sm bold" data-bind="resx: 'TimeApproval.PayPeriodLabel'"></label>
            <span class="column-six column-four-md column-eight-sm" data-bind="text: timePeriodDisplay"></span>
        </div>
        <div class="esg-form__group esg-has-feedback"
             data-bind="css: { 'esg-has-error' : !isRejectionComment() }">
            <label class="esg-form__label" data-bind="resx: 'TimeApproval.ReasonLabel'"></label>
            <div class="esg-form__input-group">
                <textarea class="esg-form__input"
                          data-bind="textInput: rejectionComment,
                                        attr: {'aria-required': !isRejectionComment() }"></textarea>
                <div class="esg-form__feedback-icon esg-icon__container" data-bind="visible: !isRejectionComment()">
                    <svg class="esg-icon esg-icon--error">
                        <use xlink:href="#icon-error"></use>
                    </svg>
                </div>
            </div>
            <div class="esg-form__feedback-text" data-bind="visible: !isRejectionComment(), text: rejectionCommentsPlaceholder()"></div>
        </div>
    </section>

</modal-dialog>