﻿<div class="esg-page-header">
    <!-- ko if: type -->
    <a class="esg-page-header__button" role="button" title="Back" data-bind="click: back" href="#">
        <span class="offScreen" data-bind="resx: 'BankingInformation.BackButtonLabel'"></span>
        <span class="esg-page-header__icon esg-icon__container">
            <svg class="esg-icon esg-icon--left">
                <use xlink:href="#icon-arrow"></use>
            </svg>
        </span>
    </a>
    <!-- /ko -->
    <h1 class="esg-page-header__title" data-bind="resx: 'BankingInformation.BankingInformationGreeting'"></h1>

    <!-- ko if: type && !$root.isMobile() -->
    <span class="esg-page-header__subtitle">
        <a class="esg-page-header__subtitle--backlink" data-bind="click: back" href="#">
            <span class="offScreen" data-bind="resx: 'BankingInformation.BackButtonLabel'"></span>
            <span class="esg-icon__container esg-page-header__icon" aria-hidden="true">
                <svg class="esg-icon esg-icon--left">
                    <use xlink:href="#icon-arrow"></use>
                </svg>
            </span>
            <span data-bind="resx:'BankingInformation.BackButtonLabel'"></span>
        </a>
    </span>
    <!-- /ko -->
</div>

<div class="column-nine">
    <spinner params="isVisible: isLoading, message: loadingMessage"></spinner>
    <!-- ko if: !isLoading() && loadError() -->
    <message params="isVisible: true, message: loadErrorMessage, type: 'error'"></message>
    <!-- /ko-->
    <!-- ko if: !isLoading() && !loadError() -->

        <!-- ko ifnot: type -->
        <active-accounts-collection params="dataModel: dataModel">

        </active-accounts-collection>
        <!-- /ko -->

        <!-- ko if: type === "payroll" -->
            <all-payroll-directives-collection params="dataModel: dataModel">

            </all-payroll-directives-collection>
        <!-- /ko -->

        <!-- ko if: type === "payable" -->
            <all-payable-directives-collection params="dataModel: dataModel">

            </all-payable-directives-collection>
        <!-- /ko -->


    <!-- /ko -->

</div>