﻿<!-- Copyright 2015-2017 Ellucian Company L.P. and its affiliates -->
<!-- scripts here -->
@section scripts{
    @Scripts.Render("~/bundles/financialaidmyawardsscripts")
}

<div class="clear-group">
    <div id="page-description" class="column-five">
        <h2>@Resources.MyAwards.PageTitle</h2>
        <p>@Resources.MyAwards.PageDetail</p>        
    </div>
</div>
<!-- Year selector bar with counselor info -->
<div data-bind="visible: showUI()">
    @Html.Partial("_CounselorContactAndYearSelector")
</div>

<!-- Sap message if any -->
<!-- ko with: SAPStatus() -->
<div id="sap-message" data-bind="visible: $root.showUI()">
    @Html.Partial("_SapStatusMessage")
</div>
<!-- /ko -->
<!-- ko if: displayAwardLetterReadyMessage() -->
<div id="award-letter-ready-message" data-bind="visible: showUI()">
    <div class="esg-alert esg-alert--fluid esg-alert--info" role="alert">
        <span class="esg-alert__icon-wrapper">
            <span class="esg-alert__icon esg-icon__container" aria-hidden="True">
                <svg class="esg-icon esg-icon--info-dark">
                    <use xlink:href="#icon-info"></use>
                </svg>
            </span>
        </span>
        <div class="esg-alert__message">
            <a href='@Url.Action("Index", "AwardLetter")'>@Resources.MyAwards.AwardLetterReadyMessage</a>
        </div>
    </div>
</div>
<!-- /ko -->
<!-- My Awards Page container -->
<!-- The display: none and visible: true components here are a work-around for the fact that the mark-up is sometimes visible or
    "flickers" when the page is first opened if Knockout has not completed its legwork for applying bindings-->
<div class="column-nine" id="awards-main" style="display: none" data-bind="visible: true">
    <spinner params="isVisible: !showUI(), message: Ellucian.Awards.Resources.faAwardsLoadingDataSpinnerMessage">
    </spinner>
    <div data-bind="if: showUI()">
        <!-- ko ifnot: HasPrivacyRestriction() -->
        <div class="content">
            <message params="isVisible: !arePrerequisitesSatisfiedForSelectedYear() && !(isAdmin() && !areChecklistItemsAssigned()), message: Ellucian.Awards.Resources.faAwardsAwardsNotReadyMessage"></message>

            <message params="isVisible: !hasAnyAwardTypesForYear() && arePrerequisitesSatisfiedForSelectedYear() && !(isAdmin() && !areChecklistItemsAssigned()), message: Ellucian.Awards.Resources.faAwardsNoAwardsMessage"></message>

            <message params="isVisible: isAdmin() && !areChecklistItemsAssigned(), message: Ellucian.Awards.Resources.faAwardsNoChecklistAssignedCounselorMessage"></message>

            <div data-bind="visible: hasAnyAwardTypesForYear() && arePrerequisitesSatisfiedForSelectedYear()">
                <div class="frame-sectiontable">
                    <h3>@Resources.MyAwards.AwardsTableHeader</h3>
                    <div class="award-assumptions" data-bind="visible: !isMobile()">@Resources.MyAwards.TableAssumptions</div>
                    <div class="award-table-container">
                        <!-- ko if: hasAwardsForYear() -->
                        <table class="award-table scholarships-grants-table" style="border-collapse: collapse">
                            <caption class="awards-subsection">
                                <div class="awards-subsection-cell">
                                    <!-- ko if: $root.hasAwardsPercentageChartForYear() -->
                                    <!-- ko template: { name: 'award-subsection-header-template', data: $root.awardsPercentageChartForYear() } -->
                                    <!-- /ko -->
                                    <!-- /ko -->
                                </div>
                                <div class="award-type-total-amount" data-bind="currency: $root.awardsTotalAmountForYear(), precision: 2"></div>
                            </caption>

                            <thead data-bind="visible: !isMobile()">
                                <tr>
                                    <th data-bind="style: { width: '20.00%' }" scope="col">
                                        @Resources.MyAwards.TableHeaderAward
                                    </th>
                                    <th data-bind="style: { width: '10.00%' }" scope="col">
                                        @Resources.MyAwards.TableHeaderStatus
                                    </th>
                                    <th data-bind="style: { width: '15.00%' }" scope="col" class="text-align-right">
                                        @Resources.MyAwards.TableHeaderTotal
                                    </th>
                                    <!-- ko foreach: distinctAwardPeriodsForYear() -->
                                    <th data-bind="text: Description(), style: { width: $root.awardPeriodColumnWidth()}" scope="col" class="text-align-right"></th>
                                    <!-- /ko -->
                                </tr>
                            </thead>
                            <tbody class="award-table-body">
                                <!-- ko foreach: selectedAwardsForYear() -->
                                <!-- ko template: { name: 'award-section-template', data: $data } -->
                                <!-- /ko -->
                                <!-- /ko --><!-- end selectedAwardsForYear -->
                            </tbody>
                        </table>
                        <!-- /ko -->
                        <!-- ko if: hasWorkAwardsForYear()-->
                        <table class="award-table work-table" style="border-collapse: collapse">
                            <caption class="awards-subsection">
                                <div class="awards-subsection-cell">
                                    <!-- ko if: $root.hasWorkAwardsPercentageChartForYear() -->
                                    <!-- ko template: { name: 'award-subsection-header-template', data: $root.workAwardsPercentageChartForYear() } -->
                                    <!-- /ko -->
                                    <!-- /ko -->
                                </div>
                                <div class="award-type-total-amount" data-bind="currency: $root.workAwardsTotalAmountForYear(), precision: 2"></div>
                            </caption>
                            <thead data-bind="visible: !isMobile()">
                                <tr>
                                    <th data-bind="style: { width: '20.00%' }" scope="col">
                                        @Resources.MyAwards.TableHeaderAward
                                    </th>
                                    <th data-bind="style: { width: '10.00%' }" scope="col">
                                        @Resources.MyAwards.TableHeaderStatus
                                    </th>
                                    <th data-bind="style: { width: '15.00%' }" scope="col" class="text-align-right">
                                        @Resources.MyAwards.TableHeaderTotal
                                    </th>
                                    <!-- ko foreach: distinctAwardPeriodsForYear() -->
                                    <th data-bind="text: Description(), style: { width: $root.awardPeriodColumnWidth()}" scope="col" class="text-align-right"></th>
                                    <!-- /ko -->
                                </tr>
                            </thead>
                            <tbody class="award-table-body">

                                <!-- ko foreach: selectedWorkAwardsForYear() -->
                                <!-- ko template: { name: 'award-section-template', data: $data } -->
                                <!-- /ko -->
                                <!-- /ko -->
                                <!-- end selectedWorkAwardsForYear -->
                            </tbody>
                        </table>
                        <!-- /ko -->
                        <!-- end if hasWorkAwardsForYear -->
                        <!-- ko if: hasAnyLoanTypeForYear() -->
                        <table class="award-table loans-table" style="border-collapse: collapse">
                            <caption class="awards-subsection">
                                <div class="awards-subsection-cell">
                                    <!-- ko if: $root.hasLoansPercentageChartForYear() -->
                                    <!-- ko template: { name: 'award-subsection-header-template', data: $root.loansPercentageChartForYear() } -->
                                    <!-- /ko -->
                                    <!-- /ko -->
                                </div>
                                <div class="award-type-total-amount" data-bind="currency: $root.loansTotalAmountForYear(), precision: 2"></div>
                            </caption>
                            <thead data-bind="visible: !isMobile()">
                                <tr>
                                    <th data-bind="style: { width: '20.00%' }" scope="col">
                                        @Resources.MyAwards.TableHeaderAward
                                    </th>
                                    <th data-bind="style: { width: '10.00%' }" scope="col">
                                        @Resources.MyAwards.TableHeaderStatus
                                    </th>
                                    <th data-bind="style: { width: '15.00%' }" scope="col" class="text-align-right">
                                        @Resources.MyAwards.TableHeaderTotal
                                    </th>
                                    <!-- ko foreach: distinctAwardPeriodsForYear() -->
                                    <th data-bind="text: Description(), style: { width: $root.awardPeriodColumnWidth()}" scope="col" class="text-align-right"></th>
                                    <!-- /ko -->
                                </tr>
                            </thead>
                            <tbody class="award-table-body">

                                <!-- ko if: hasSubLoanForYear() -->
                                <!-- ko template: {name: 'loan-section-template', data: selectedSubLoansModelForYear()} -->
                                <!-- /ko -->
                                <!-- /ko -->
                                <!-- ko if: hasUnsubLoanForYear() -->
                                <!-- ko template: {name: 'loan-section-template', data: selectedUnsubLoansModelForYear()} -->
                                <!-- /ko -->
                                <!-- /ko -->
                                <!-- ko if: hasGradPlusLoansForYear() -->
                                <!-- ko template: {name: 'loan-section-template', data: selectedGradPlusLoansModelForYear()} -->
                                <!-- /ko -->
                                <!-- /ko -->
                                <!-- ko if: hasOtherLoansForYear() -->
                                <!-- ko foreach: selectedOtherLoansForYear() -->
                                <!-- ko template: {name: 'award-section-template', data: $data } -->
                                <!-- /ko -->
                                <!-- /ko -->
                                <!-- end selectedOtherLoansForYear -->
                                <!-- /ko -->
                                <!-- end if hasOtherLoansForYear -->
                            </tbody>
                        </table>
                        <!-- /ko -->

                        <table class="award-table totals-table" style="border-collapse: collapse">
                            <caption class="awards-subsection">
                                <h4 class="awards-subsection-cell-header">@Resources.MyAwards.AwardTotalHeader</h4>
                            </caption>
                            <thead data-bind="visible: !isMobile()">
                                <tr>
                                    <th data-bind="style: { width: '30.00%' }" scope="col" colspan="2">
                                        @Resources.MyAwards.TableHeaderAward
                                    </th>
                                    <th data-bind="style: { width: '15.00%' }" scope="col" class="text-align-right">
                                        @Resources.MyAwards.TableHeaderTotal
                                    </th>
                                    <!-- ko foreach: distinctAwardPeriodsForYear() -->
                                    <th data-bind="text: Description(), style: { width: $root.awardPeriodColumnWidth()}" scope="col" class="text-align-right"></th>
                                    <!-- /ko -->
                                </tr>
                            </thead>
                            <tbody class="award-table-body">
                                <tr class="total-awards-wrapper">
                                    <th data-bind="attr:{colspan: $root.isMobile() ? $root.tableColumnCount() : '2'}">
                                        <div class="award-description" data-bind="text: Ellucian.Awards.Resources.faAwardsTotalAwards"></div>

                                        <div class="my-awards-toggle">
                                            <button class="accordion-toggle no-styles" type="button" data-bind="click: $data.flipTotalAccordion, disable: $root.acceptRejectInProgress() || !$data.hasUnacceptedAwards() || $data.hasUnacceptedAwards() && !$data.isAnyStatusModifiable(), attr: {'aria-label': !$data.totalAccordionIsOpen() ? Ellucian.Awards.Resources.faAwardsAcceptOrRejectAllToggle: Ellucian.Awards.Resources.faAwardsCloseToggle, 'aria-expanded': $data.totalAccordionIsOpen() ? 'true' : 'false' , 'aria-controls': 'TotalRow1, TotalRow2, TotalRow3' }">
                                                <span class="arrow" data-bind="css: {'arrow-up' : totalAccordionIsOpen(), 'arrow-down' : !totalAccordionIsOpen() }"></span>
                                                <span class="accordion-toggle-text" data-bind="text: !$data.totalAccordionIsOpen() ? Ellucian.Awards.Resources.faAwardsAcceptOrRejectAllToggle : Ellucian.Awards.Resources.faAwardsCloseToggle"></span>
                                            </button>
                                        </div>
                                    </th>
                                    <td class="all-awards-total-amount text-align-right">
                                        <span data-bind="currency: totalAmount(), precision: 2"></span>
                                    </td>
                                    <!-- ko foreach: distinctAwardPeriodsForYear() -->
                                    <td data-bind="visible: !$root.isMobile()" class="text-align-right">
                                        <span data-bind="currency: $root.totalAwardPeriodAmount($data), precision: 2"></span>
                                    </td>
                                    <!-- /ko -->
                                </tr>
                                <tr data-bind="visible: totalAccordionIsOpen, attr:{'id': 'TotalRow1'}">
                                    <td data-bind="attr: {colspan: $root.tableColumnCount()}">
                                        <div class="accordion-action-message">
                                            <span class="awards-without-errors" data-bind="visible: !hasAwardsWithErrors() && !hasErrors() && $root.yearConfiguration() && $root.yearConfiguration().AreAwardingChangesAllowed()">@Resources.MyAwards.AccordionTotalActionMessage</span>
                                            <span class="awards-without-errors" data-bind="visible: $root.yearConfiguration() && !$root.yearConfiguration().AreAwardingChangesAllowed()">@Resources.MyAwards.AwardChangesNotAllowedMessage</span>
                                            <div class="errorArea" data-bind="visible: hasAwardsWithErrors() || hasErrors()">
                                                <span data-bind="visible: hasAwardsWithErrors" role="alert" aria-live="polite">@Resources.MyAwards.TotalAcceptRejectMessageWithErrors</span>
                                                <span data-bind="visible: hasErrors" role="alert" aria-live="polite">@Resources.MyAwards.InvalidInputWarning</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr data-bind="visible: $root.isMobile() && totalAccordionIsOpen">
                                    <td data-bind="attr: {colspan: $root.tableColumnCount()}">
                                        <div class="column-four award-period-column clear-group">
                                            <div class="sim-award-period-table">
                                                <!-- ko foreach: distinctAwardPeriodsForYear() -->
                                                <div class="sim-award-period-table-row">
                                                    <div class="sim-award-period-column">
                                                        <span data-bind="text: Description()"></span>
                                                    </div>
                                                    <div class="sim-award-period-amount-column">
                                                        <span data-bind="currency:  $root.totalAwardPeriodAmount($data), precision: 2"></span>
                                                    </div>
                                                </div>
                                                <!-- /ko -->
                                                <div class="sim-award-period-table-row total-row">
                                                    <div class="sim-award-period-column">@Resources.MyAwards.TotalAmountLabel</div>
                                                    <div class="sim-award-period-amount-column">
                                                        <span data-bind="currency: totalAmount(), precision: 2"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr data-bind="visible: $data.totalAccordionIsOpen(), attr:{'id': 'TotalRow3'}">
                                    <td class="accept-reject-buttons" data-bind="attr: {colspan: $root.tableColumnCount()}">
                                        <div data-bind="visible: hasUnacceptedAwards">
                                            <div class="home-throbber throbber-overlay" role="presentation" id="throbber-total"></div>

                                            <button type="button" class="esg-button esg-button--secondary" data-bind="click: acceptRejectAllHandler, disable: $root.disableBulkAction()"
                                                    aria-label="@Resources.MyAwards.RejectAllLabel" title="@Resources.MyAwards.RejectAllLabel" name="Reject">
                                                @Resources.MyAwards.RejectAll
                                            </button>
                                            <button type="button" class="esg-button esg-button--primary" data-bind="click: acceptRejectAllHandler, disable: hasAwardsWithErrors() || $root.disableBulkAction()"
                                                    aria-label="@Resources.MyAwards.AcceptAllLabel" title="@Resources.MyAwards.AcceptAllLabel" name="Accept">
                                                @Resources.MyAwards.AcceptAll
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- <div> -->
            <!-- <div class="frame"> -->
            <div id="loan-requirements-section" data-bind="with: LoanRequirements(), visible: ($root.hasDirectLoanRequirements() || $root.hasGradPlusLoanRequirements()) && $root.arePrerequisitesSatisfiedForSelectedYear()">
                <table class="section-table">
                    <caption>
                        <h3>@Resources.MyAwards.LoanRequirementsChecklistHeader</h3>
                    </caption>
                    <thead class="offScreen">
                        <tr>
                            <th scope="col">@Resources.MyAwards.LoanRequirementStatusOffscreen</th>
                            <th scope="col">@Resources.MyAwards.LoanRequirementDescriptionOffscreen</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-bind="visible: $root.hasDirectLoanRequirements(), css: directLoanEntranceStatusStyle">
                            <td class="action">
                                <span data-bind="css: directLoanEntranceStatusStyle"></span>
                                <span data-bind="text: (DirectLoanEntranceInterviewStatus === 'Incomplete') ? Ellucian.Awards.Resources.faAwardsIncompleteStatus : DirectLoanEntranceInterviewStatus"></span>
                            </td>
                            <td class="action-description">
                                <span class="links outside-links">
                                    <a href="@Resources.MyAwards.EntranceInterviewLink" target="@Resources.Checklist.ExternalLinkTarget" data-bind="css: {disabled: $root.acceptRejectInProgress()}">
                                        <span>@Resources.MyAwards.DirectLoanEntranceInterviewRequirement</span>
                                    </a>
                                    <p data-bind="visible: DirectLoanEntranceInterviewStatus() === 'Complete'">
                                        @Resources.MyAwards.DirectLoanEntranceInterviewCompleteOnDate
                                        <span data-bind="text: DirectLoanEntranceInterviewDate"></span>
                                    </p>
                                </span>
                            </td>
                        </tr>

                        <tr data-bind="visible: $root.hasGradPlusLoanRequirements(), css: gradPlusLoanEntranceStatusStyle">
                            <td class="action">
                                <span data-bind="css: gradPlusLoanEntranceStatusStyle"></span>
                                <span data-bind="text: (GraduatePlusEntranceInterviewStatus === 'Incomplete') ? Ellucian.Awards.Resources.faAwardsIncompleteStatus : GraduatePlusEntranceInterviewStatus"></span>
                            </td>
                            <td class="action-description">
                                <span class="links outside-links">
                                    <a href="@Resources.MyAwards.EntranceInterviewLink" target="@Resources.Checklist.ExternalLinkTarget" data-bind="css: {disabled: $root.acceptRejectInProgress()}">
                                        <span>@Resources.MyAwards.PlusLoanEntranceInterviewRequirement</span>
                                    </a>
                                    <p data-bind="visible: GraduatePlusEntranceInterviewStatus() === 'Complete'">
                                        @Resources.MyAwards.PlusLoanEntranceInterviewCompleteOnDate
                                        <span data-bind="text: GraduatePlusEntranceInterviewDate"></span>
                                    </p>
                                </span>
                            </td>
                        </tr>

                        <tr data-bind="visible: $root.hasDirectLoanRequirements(), css: directLoanMpnStatusStyle">
                            <td class="action">
                                <span data-bind="css: directLoanMpnStatusStyle"></span>
                                <span data-bind="text: (ActiveDirectLoanMpnStatus === 'Incomplete') ? Ellucian.Awards.Resources.faAwardsIncompleteStatus : ActiveDirectLoanMpnStatus"></span>
                            </td>
                            <td class="action-description">
                                <span class="links outside-links">
                                    <a href="@Resources.MyAwards.PromissoryNoteLink" target="@Resources.Checklist.ExternalLinkTarget" data-bind="css: {disabled: $root.acceptRejectInProgress()}">
                                        <span>@Resources.MyAwards.DirectLoanMpnRequirement</span>
                                    </a>
                                    <p data-bind="visible: (ActiveDirectLoanMpnStatus() === 'Complete')">
                                        @Resources.MyAwards.MpnExpirationMessage
                                        <span data-bind="text: ActiveDirectLoanMpnExpirationDate"></span>
                                    </p>

                                </span>
                            </td>
                        </tr>

                        <tr data-bind="visible: $root.hasGradPlusLoanRequirements(), css: gradPlusLoanMpnStatusStyle">
                            <td class="action">
                                <span data-bind="css: gradPlusLoanMpnStatusStyle"></span>
                                <span data-bind="text: (ActiveGraduatePlusMpnStatus === 'Incomplete') ? Ellucian.Awards.Resources.faAwardsIncompleteStatus : ActiveGraduatePlusMpnStatus"></span>
                            </td>
                            <td class="action-description">
                                <span class="links outside-links">
                                    <a href="@Resources.MyAwards.PromissoryNoteLink" target="@Resources.Checklist.ExternalLinkTarget" data-bind="css: {disabled: $root.acceptRejectInProgress()}">
                                        <span>@Resources.MyAwards.PlusLoanMpnRequirement</span>
                                    </a>
                                    <p data-bind="visible:(ActiveGraduatePlusMpnStatus() === 'Complete')">
                                        @Resources.MyAwards.MpnExpirationMessage
                                        <span data-bind="text: ActiveGraduatePlusMpnExpirationDate"></span>
                                    </p>
                                </span>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <!-- /ko -->
    </div>
</div>

<!-- Spinner for use during AJAX calls -->
<modal-spinner id="loading" params="isVisible: isLoading, message: SpinnerMessage"></modal-spinner>

<!-- Award section template -->
<script type="text/html" id="award-section-template">
    <tr data-bind="css : { 'highlight-pending-award': (AwardStatus.Category() == 'Pending' || AwardStatus.Category() == 'Estimated') && IsStatusModifiable(),'highlight-accepted-declined-award': AwardStatus.Category() != 'Pending' && AwardStatus.Category() != 'Estimated','highlight-untouchable-award':  (AwardStatus.Category() == 'Pending' || AwardStatus.Category() == 'Estimated') && !IsStatusModifiable(),'accordion-closed-wrapper' : !accordionIsOpen(),'award-section-row': AwardCategoryType() === 'Award','work-section-row': AwardCategoryType() === 'Work','loan-section-row': AwardCategoryType() === 'Loan'}" class="accordion-wrapper">
        <th data-bind="attr:{colspan: $root.isMobile() ? ($root.tableColumnCount() - 1) : '1'}" scope="row">
            <div class="award-description" data-bind="text: Description(), attr: {'id': Code()}, css: {'error-icon': !accordionIsOpen() && (totalAmount() === 0) && IsStatusModifiable(), 'info-award-icon': isAwardOnHoldOrInReview()}"></div>
            <div class="award-status-mobile" data-bind="visible: $root.isMobile(), text: StatusDescription() ? StatusDescription() : 'N/A'"></div>
            <!--ko if: (AwardStatus.Category() == 'Pending' || AwardStatus.Category() == 'Estimated') && $data.accordionIsOpen() && !$data.IsStatusModifiable()-->
            <span class="offScreen">@Resources.MyAwards.AwardOnHoldMessage</span>
            <!-- /ko -->
            <div class="my-awards-toggle">
                <button class="accordion-toggle no-styles" type="button" data-bind="click: $data.flipAccordion, disable: $root.acceptRejectInProgress(),
                        attr: {'aria-label': (!$data.accordionIsOpen() && !$data.IsStatusModifiable()) || (!$data.accordionIsOpen() && $data.totalAmount()==0) ?
                        Ellucian.Awards.Resources.faAwardsViewAwardToggle : $data.accordionIsOpen() && $data.IsStatusModifiable() ? Ellucian.Awards.Resources.faAwardsAcceptOrRejectToggle : Ellucian.Awards.Resources.faAwardsCloseToggle,
                        'title': (!$data.accordionIsOpen() && !$data.IsStatusModifiable()) || (!$data.accordionIsOpen() && $data.totalAmount()==0) ?  Ellucian.Awards.Resources.faAwardsViewAwardToggle :
                        !$data.accordionIsOpen() && $data.IsStatusModifiable() ? Ellucian.Awards.Resources.faAwardsAcceptOrRejectToggle: Ellucian.Awards.Resources.faAwardsCloseToggle, 
                            'aria-expanded': $data.accordionIsOpen() ? 'true': 'false', 'aria-controls': Code()+'-panel-content'}">
                    <span class="arrow" data-bind="css: {'arrow-up' : accordionIsOpen() , 'arrow-down' : !accordionIsOpen() }"></span>
                    <span class="accordion-toggle-text" data-bind="text: (!$data.accordionIsOpen() && !$data.IsStatusModifiable()) || (!$data.accordionIsOpen() && $data.totalAmount() == 0) ?
                        Ellucian.Awards.Resources.faAwardsViewAwardToggle :!$data.accordionIsOpen() && $data.IsStatusModifiable() ? Ellucian.Awards.Resources.faAwardsAcceptOrRejectToggle : Ellucian.Awards.Resources.faAwardsCloseToggle "></span>
                </button>
            </div>
        </th>
        <td data-bind="visible: !$root.isMobile()">
            <span data-bind="text: StatusDescription() ? StatusDescription() : 'N/A', css: {'award-status-updated': $data.awardUpdated} "></span>

        </td>
        <td class="text-align-right">
            <span data-bind="currency: totalAmount(), precision: 2"></span>
        </td>
        <!-- ko foreach: StudentAwardPeriods -->
        <td data-bind="visible: !$root.isMobile()" class="text-align-right">
            <span data-bind="currency: AwardAmount, precision: 2"></span>
        </td>
        <!-- /ko -->
    </tr>sss
    <tr data-bind="visible: accordionIsOpen()">
        <td data-bind="attr: {colspan : $root.tableColumnCount()}" class="action-panel-col">
            <!-- ko template: { name: 'action-panel-template', data: $data } -->
            <!-- /ko -->
            <!-- ko if: IsStatusModifiable() -->
            <!-- ko template: { name: 'action-panel-button-container-template', data: $data } -->
            <!-- /ko -->
            <!-- /ko -->
        </td>
    </tr>
</script>

<!-- Loan Section template -->
<script type="text/html" id="loan-section-template">
    <tr data-bind="css : { 'highlight-untouchable-award':  (((StatusDescription() == 'Pending' || StatusDescription() == 'Estimated') && !IsStatusModifiable()) || IsLoanCollectionInReview()),'highlight-pending-award': (StatusDescription() == 'Pending' || StatusDescription() == 'Estimated'), 'highlight-accepted-declined-award': StatusDescription() != 'Pending' && StatusDescription() != 'Estimated' && !IsLoanCollectionInReview(),'accordion-closed-wrapper' : !accordionIsOpen()}" class="accordion-wrapper loan-section-row">
        <th data-bind="attr:{colspan: $root.isMobile() ? ($root.tableColumnCount() - 1) : '1'}">
            <div class="award-description" data-bind="text: LoanCollectionType() == 'SubsidizedLoan' ? Ellucian.Awards.Resources.faAwardsSubsidizedLoanAwardDescription :
                 LoanCollectionType() == 'UnsubsidizedLoan' ? Ellucian.Awards.Resources.faAwardsUnsubsidizedLoanAwardDescription : Ellucian.Awards.Resources.faAwardsGradPlusLoanAwardDescription,
                 attr: {'id': LoanCollectionType()}, css: {'error-icon': showErrorIcon(), 'info-award-icon': isLoanCollectionOnHoldOrInReview()}"></div>
            <div class="award-status-mobile" data-bind="visible: $root.isMobile(), text: StatusDescription() ? StatusDescription() : 'N/A'"></div>
            <div class="my-awards-toggle">
                <button class="accordion-toggle no-styles" type="button" data-bind="click: $data.flipAccordion, disable: hasInputErrors() || $root.acceptRejectInProgress(), 
                        attr: {'aria-label': (!$data.accordionIsOpen() && $data.IsStatusModifiable()) ? Ellucian.Awards.Resources.faAwardsAcceptOrRejectToggle : 
                        (!$data.accordionIsOpen() && !IsStatusModifiable() && !IsAnyAmountModifiable()) ? Ellucian.Awards.Resources.faAwardsViewLoanToggle : 
                        (!$data.accordionIsOpen() && !IsStatusModifiable() && IsAnyAmountModifiable()) ? Ellucian.Awards.Resources.faAwardsChangeLoanAmountToggle: 
                        Ellucian.Awards.Resources.faAwardsCloseToggle, 'title': (!$data.accordionIsOpen() && $data.IsStatusModifiable()) ? Ellucian.Awards.Resources.faAwardsAcceptOrRejectToggle :
                         (!$data.accordionIsOpen() && !IsStatusModifiable() && !IsAnyAmountModifiable()) ? Ellucian.Awards.Resources.faAwardsViewLoanToggle : 
                        (!$data.accordionIsOpen() && !IsStatusModifiable() && IsAnyAmountModifiable()) ? Ellucian.Awards.Resources.faAwardsChangeLoanAmountToggle : 
                        Ellucian.Awards.Resources.faAwardsCloseToggle, 'aria-expanded': $data.accordionIsOpen() ? 'true' : 'false' , 'aria-controls': 
                        LoanCollectionType()+'Row1 ,'+ LoanCollectionType()+'Row2 ,' +LoanCollectionType()+'Row3 ,'+ LoanCollectionType()+'Row4'}">
                    <span class="arrow" data-bind="css: {'arrow-up' : accordionIsOpen() , 'arrow-down' : !accordionIsOpen() }"></span>
                    <span class="accordion-toggle-text" data-bind="text: (!$data.accordionIsOpen() && $data.IsStatusModifiable()) ? Ellucian.Awards.Resources.faAwardsAcceptOrRejectToggle :
                          (!$data.accordionIsOpen() && !IsStatusModifiable() && !IsAnyAmountModifiable()) ? Ellucian.Awards.Resources.faAwardsViewLoanToggle :
                          (!$data.accordionIsOpen() && !IsStatusModifiable() && IsAnyAmountModifiable()) ? Ellucian.Awards.Resources.faAwardsChangeLoanAmountToggle : Ellucian.Awards.Resources.faAwardsCloseToggle"></span>
                </button>
            </div>
        </th>
        <!--Status-->
        <td data-bind="visible: !$root.isMobile()">
            <span data-bind="text: StatusDescription(), css: {'award-status-updated': $data.loanCollectionUpdated}"></span>
        </td>
        <td class="text-align-right">
            <span data-bind="currency: totalAmount(), precision: 2"></span>
        </td>
        <!--ko foreach: $root.distinctAwardPeriodsForYear() -->
        <td data-bind="visible: !$root.isMobile()" class="text-align-right">
            <span data-bind="currency: $parent.totalAwardPeriodAmount($data), precision: 2"></span>
        </td>
        <!-- /ko -->
    </tr>
    <!-- ko if: isLoanCollectionWarningVisible() -->
    <tr class="attending-wrapper" data-bind="visible: accordionIsOpen(), attr:{'id': LoanCollectionType()+'Row1'}">
        <td data-bind="attr: { colspan : $root.tableColumnCount() }">
            <div data-bind="visible: ((!passesLimitationCriteria() || !isLoanCollectionActionable()) && accordionIsOpen()), css: { 'errorArea': !passesLimitationCriteria() || !isLoanCollectionActionable()},
                 text: !passesLimitationCriteria() ? Ellucian.Awards.Resources.faAwardsMaximumAmountExceededWarning
                 : Ellucian.Awards.Resources.faAwardsUnsubsidizedLoanUnactionableWarningMessage" class="inputAlert" role="alert" aria-live="polite" tabindex="-1">
            </div>
            <!-- ko ifnot: $root.yearConfiguration().SuppressMaximumLoanLimits() -->
            <div class="column-three maxLoanAmountColumn">
                <span id="maxLoanAmountLabel">@Resources.MyAwards.MaximumLoanAmountLabel</span>
                <span id="maxLoanAmount" data-bind="css: !passesLimitationCriteria() ? 'max-loan-amount-reached' : '', currency: MaximumAmount, precision: 2"></span>
            </div>
            <!-- /ko -->
        </td>
    </tr>
    <!-- /ko -->
    <!-- ko foreach: $data.Loans -->
    <tr class="nested-loan" data-bind="visible: $parent.accordionIsOpen(), attr:{'id': $parent.LoanCollectionType()+'Row2'}">
        <th data-bind="attr:{colspan: $root.isMobile() ? ($root.tableColumnCount() - 1) : '1'}">
            <div class="award-description" data-bind="text: Description(), attr: {'id': Code()+'-title'}"></div>
            <div class="award-status-mobile" data-bind="visible: $root.isMobile(), text: StatusDescription() ? StatusDescription() : 'N/A'"></div>
            <!-- ko if: (AwardStatus.Category() == 'Pending' || AwardStatus.Category() == 'Estimated') && IsAwardInReview() && !IsStatusModifiable()-->
            <span class="offScreen">@Resources.MyAwards.AwardOnHoldMessage</span>
            <!-- /ko -->
        </th>
        <td data-bind="visible: !$root.isMobile()">
            <span data-bind="text: StatusDescription() ? StatusDescription() : 'N/A'"></span>
        </td>
        <td>
            <div class="nested-loan-total-amount">
                <span data-bind="currency: totalAmount(), precision: 2"></span>
            </div>
        </td>
        <!-- ko foreach: StudentAwardPeriods -->
        <td data-bind="visible: !$root.isMobile()" class="text-align-right">
            <span data-bind="currency: AwardAmount, precision: 2"></span>
        </td>
        <!-- /ko -->
    </tr>
    <tr data-bind="visible: $parent.accordionIsOpen(), attr:{'id': $parent.LoanCollectionType()+'Row3'}">
        <td data-bind="attr: { colspan : $root.tableColumnCount() }" class="action-panel-col">
            <!-- ko template: { name: 'action-panel-template', data: $data } -->
            <!-- /ko -->
        </td>
    </tr>
    <!-- /ko -->
    <!-- end $data.Loans -->
    <!-- ko if: (IsStatusModifiable() || IsAnyAmountModifiable()) -->
    <tr data-bind="visible: accordionIsOpen(), attr:{'id': LoanCollectionType()+'Row4'}">
        <td data-bind="attr:{colspan: $root.tableColumnCount()}" class="action-panel-col">
            <!-- ko template: { name: 'action-panel-button-container-template', data: $data } -->
            <!-- /ko -->
        </td>
    </tr>
    <!-- /ko -->
</script>

<!-- Action panel template -->
<script type="text/html" id="action-panel-template">
    <div class="action-panel-container clear-group">
        <div class="column-five info-action-column clear-group">
            <!-- ko if: isInfoNotificationVisible() -->
            <div class="esg-alert esg-alert--fluid esg-alert--info" role="alert">
                <span class="esg-alert__icon-wrapper">
                    <span class="esg-alert__icon esg-icon__container" aria-hidden="True">
                        <svg class="esg-icon esg-icon--info-dark">
                            <use xlink:href="#icon-info"></use>
                        </svg>
                    </span>
                </span>
                <div class="esg-alert__message">
                    <span class="attending-checkbox-message" data-bind="text: infoNotification()"></span>
                </div>
            </div>
            <!-- /ko -->
            <!-- ko if: isDirectOrGradPlusLoan() -->
            @*<div data-bind="visible: hasInputErrors(), css: { errorArea: hasInputErrors()}, text: hasInputErrors() ? inputErrorMessage : null, attr: {'aria-labelledby': LoanType()}" class="inputAlert" role="alert" aria-live="polite" tabindex="-1">
            </div>*@
            <div data-bind="visible: (!$parents[1].passesLimitationCriteria() && $parents[1].accordionIsOpen()) && $root.isMobile(), css: {'errorArea': !$parents[1].passesLimitationCriteria()}, attr: {'aria-labelledby': LoanType()},
                 text: !$parents[1].passesLimitationCriteria() ? Ellucian.Awards.Resources.faAwardsMaximumAmountExceededWarning : null" class="inputAlert" role="alert" aria-live="polite" tabindex="-1">
            </div>
            <!-- /ko -->
            <div class="award-description-panel" data-bind="visible: Explanation()">
                <div data-bind="attr: {'id': Code() + 'ExplanationPanel'}" class="multi-accordion-content">
                    <span data-bind="html: Explanation()"></span>
                </div>
                <div data-bind="attr: {'id': Code() +'PanelController'}, multiAccordion: { contentId: Code() + 'ExplanationPanel' }">
                    <span data-bind="text: 'About '+ Description()"></span>
                </div>
            </div>
        </div>
        <div class="column-four award-period-column clear-group">
            <span class="attending-checkbox-message" data-bind="visible: IsStatusModifiable()">@Resources.MyAwards.PeriodCheckBoxNote</span>
            <div class="sim-award-period-table">
                <!-- ko foreach: StudentAwardPeriods -->
                <div class="sim-award-period-table-row">
                    <div class="sim-award-period-column">
                        <input type="checkbox" data-bind="checked: IsActive, click: applyAwardToPeriod, disable: !IsStatusModifiable() || $root.isAdmin() || $root.allowYearLevelUpdatesOnly() || $root.IsProxyView(), attr: {'id': $parent.Code() + Code() + 'Checkbox'}" />
                        <label data-bind="text: Description(), attr: {'for': $parent.Code() + Code() + 'Checkbox', 'id': $parent.Code() + Code()+'-label'}"></label>
                    </div>
                    <div class="sim-award-period-amount-column">
                        <!-- ko if: $parent.LoanType() && !$root.isAdmin() && IsAmountModifiable() && !$root.allowYearLevelUpdatesOnly() && !$root.IsProxyView() -->
                        <div class="esg-form__group esg-has-feedback esg-form__group--dollar-amount modifiable-amount" data-bind="visible: ($parents[2].accordionIsOpen() && IsActive()) && ((loanChangeAmount.hasError()
                            && $parents[2].hasInputErrors()) || (!loanChangeAmount.hasError() && !$parents[2].hasInputErrors())), css: {'esg-has-error': loanChangeAmount.hasError()}">
                            <div class="esg-form__input-group">
                                <span data-bind="text: $root.currencySymbol()"></span>
                                <input type="tel" pattern="[0-9.,]*" maxlength="6" class="esg-form__input esg-form__input--dollar-amount esg-form__input--text-align-right loan-amount period-loan-amount" onfocus="clearInputField(this)"
                                       onblur="resetInputField(this)" data-bind="attr: {'id': AwardId()+'_'+Code(), 'aria-labelledby': AwardId()+Code()+'-label '+AwardId()+'-title', 'title': awardPeriodLoanInputMessage(),
                                    'aria-label': awardPeriodLoanInputMessage()}, value: isLoanAmountInFocus() ? loanChangeAmount: loanChangeAmountWithPrecision, valueUpdate: 'input',
                                    event: {input: $root.processAmountChange.bind($data, $parents, loanChangeAmount)}, css: {'noerror-custom-padding': !loanChangeAmount.hasError()}" />
                                <div class="esg-form__feedback-icon esg-icon__container" data-bind="visible: loanChangeAmount.hasError()">
                                    <svg class="esg-icon esg-icon--error">
                                        <use xlink:href="#icon-error"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="esg-form__feedback-text" data-bind="visible: $parent.hasInputErrors(), text: $parent.hasInputErrors() ? $parent.inputErrorMessage : null"></div>
                        </div>
                        <!-- /ko -->
                        <!-- ko if:(!IsAmountModifiable() || !($parents[2].accordionIsOpen()) || !IsActive() || (!loanChangeAmount.hasError() && $parents[2].hasInputErrors()) || $root.isAdmin() || $root.allowYearLevelUpdatesOnly() || $root.IsProxyView()) -->
                        <span data-bind="currency: AwardAmount, precision: 2"></span>
                        <!-- /ko -->
                    </div>
                </div>
                <!-- /ko -->
                <div class="sim-award-period-table-row total-row">
                    <div class="sim-award-period-column">@Resources.MyAwards.TotalAmountLabel</div>
                    <div class="sim-award-period-amount-column">
                        <!-- ko if: !$root.allowYearLevelUpdatesOnly() || !IsAmountModifiable() || $root.IsProxyView() || $root.isAdmin() -->
                        <span data-bind="currency: $parent.totalAmount(), precision: 2"></span>
                        <!-- /ko -->
                        <!-- ko if: $root.allowYearLevelUpdatesOnly() && IsAmountModifiable() && !$root.IsProxyView() && !$root.isAdmin() -->
                        <div class="esg-form__group esg-has-feedback esg-form__group--dollar-amount modifiable-amount" data-bind="css: {'esg-has-error': totalLoanChangeAmount.hasError()}">
                            <div class="esg-form__input-group">
                                <span data-bind="text: $root.currencySymbol()"></span>
                                <input type="tel" pattern="[0-9.,]*" maxlength="6" class="esg-form__input esg-form__input--dollar-amount esg-form__input--text-align-right loan-amount" onfocus="clearInputField(this)" onblur="resetInputField(this)"
                                       data-bind="attr: {'id': Code()+'Total', 'title': awardLoanInputMessage(), 'aria-label': awardLoanInputMessage()}, value: isLoanAmountInFocus() ? totalLoanChangeAmount : loanChangeAmountWithPrecision,
                                    valueUpdate: 'input', event: {input: $root.processTotalAmountChange.bind($data, $parents[1], $parent, totalLoanChangeAmount)}, css: {'noerror-custom-padding': !totalLoanChangeAmount.hasError()}" />
                                <div class="esg-form__feedback-icon esg-icon__container" data-bind="visible: totalLoanChangeAmount.hasError()">
                                    <svg class="esg-icon esg-icon--error">
                                        <use xlink:href="#icon-error"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="esg-form__feedback-text" data-bind="visible: totalLoanChangeAmount.hasError(), text: totalLoanChangeAmount.hasError() ? $parent.inputErrorMessage : null"></div>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<!-- Action panel button container template -->
<script type="text/html" id="action-panel-button-container-template">
    <div class="action-panel-button-container clear-group">
        <div class="column-four buttons-column">
            <span class="left-aligned-buttons">
                <button type="button" class="esg-button esg-button--secondary" aria-label="@Resources.MyAwards.ResetLabel" title="@Resources.MyAwards.ResetLabel" name="Reset" 
                        data-bind="visible: IsStatusModifiable() || (isLoan && IsAnyAmountModifiable()), click: $root.cancelHandler, disable: $root.isAdmin() || (isLoan && hasInputErrors()) || $root.IsProxyView()">
                    <span>@Resources.MyAwards.Reset</span>
                    <span class="offScreen" data-bind="text: offScreenDescription()"></span>
                </button>
            </span>
            <span class="right-aligned-buttons">
                <!-- ko if: isLoan -->
                <button type="button" class="esg-button esg-button--primary" aria-label="@Resources.MyAwards.SubmitLoanChangeButton" title="@Resources.MyAwards.SubmitLoanChangeButton" name="Change"
                        data-bind="visible: isSubmitLoanAmountChangeButtonVisible(), click: $root.acceptRejectLoanCollectionHandler, clickBubble: false, disable: disableSubmitLoanAmountChangeButton()">
                    <span>@Resources.MyAwards.SubmitLoanChangeButton</span>
                    <span class="offScreen" data-bind="text: offScreenDescription()"></span>
                </button>
                <!-- /ko -->
                <button type="button" class="esg-button esg-button--secondary" aria-label="@Resources.MyAwards.DeclineLabel" title="@Resources.MyAwards.DeclineLabel" name="Reject"
                        data-bind="visible: IsStatusModifiable(), click: isLoan ? $root.acceptRejectLoanCollectionHandler : $root.acceptRejectHandler, disable: disableRejectButton() || $root.isAdmin() || $root.IsProxyView()">
                    <span>@Resources.MyAwards.Decline</span>
                    <span class="offScreen" data-bind="text: offScreenDescription()"></span>
                </button>

                <button type="button" class="esg-button esg-button--primary" aria-label="@Resources.MyAwards.AcceptLabel" title="@Resources.MyAwards.AcceptLabel" name="Accept"
                        data-bind="visible: IsStatusModifiable() && !(isLoan && IsAccepted()), disable: disableAcceptButton()|| $root.isAdmin() || $root.IsProxyView(), click: isLoan ? $root.acceptRejectLoanCollectionHandler : 
                        $root.acceptRejectHandler">
                    <span>@Resources.MyAwards.Accept</span>
                    <span class="offScreen" data-bind="text: offScreenDescription()"></span>
                </button>
            </span>
        </div>
    </div>
</script>

<!-- Award subsection header template -->
<script type="text/html" id="award-subsection-header-template">
    <div class="percentage-chart-container" aria-hidden="true">
        <div class="percentage-value">
            <span data-bind="percentage: $data.PercentageForAwardType(), precision: 0"></span>
        </div>
        <canvas class="percentage-chart" width="50" height="50" data-bind="chart: $data, chartType: 'Doughnut'"></canvas>
    </div>
    <div class="award-subsection-header">
        <h4 class="awards-subsection-cell-header" data-bind="text: awardsSubsectionHeader"></h4>
        <p data-bind="text: awardsSubsectionMessage"></p>
        <div class="offScreen">
            <span>@Resources.MyAwards.PercentContributionOffscreenText</span>
            <span data-bind="percentage: $data.PercentageForAwardType(), precision: 0"></span>
        </div>
    </div>
</script>

<!-- Award letter ready to be signed pop up -->
<div id="award-letter-ready-dialog" style="display: none;" title="@Resources.MyAwards.AwardLetterReadyPopUpHeader" data-bind="jqDialog: awardLetterReadyDialogOptions, dialogOpen: displayAwardLetterReadyPopUpDialog">
    <div class="dialog-wrapper" id="award-letter-dialog-text">
        <div id="award-letter-dialog-message">@Resources.MyAwards.AwardLetterReadyMessage</div>
        <div id="award-letter-dialog-link">
            <a href='@Url.Action("Index", "AwardLetter")'>@Resources.MyAwards.ViewAwardLetterLinkLabel</a>
        </div>
    </div>
    <div class="button-bar">
        <div class="float-right">
            <button id="close-dialog-button" class="esg-button esg-button--secondary" data-bind="click: closeAwardLetterReadyPopUpDialog">@Resources.MyAwards.CloseAwardLetterReadyPopUpDialog</button>
        </div>
    </div>
</div>