﻿@*Copyright 2016 Ellucian Company L.P. and its affiliates.*@

@*TO DO: Do I need any styles specific to this page? *@
@section Styles
{
    @Styles.Render("~/Areas/Student/Content/StudentGradesBundlecss")
}

@section Scripts
{
    @Scripts.Render("~/bundles/studentgradesindexscripts")
}



<!-- Page Header Text -->
<div id="page-description" class="esg-page-header">
    <h2 class="esg-page-header__title">@Resources.StudentGrades.PageDescription</h2>
</div>

<!-- Main Page Container -->
<div id="dp-monolith" class="column-nine">
    <div id="student-grades" style="display: none;" data-bind="visible:true">
        <!-- Spinner -->
        <spinner params="isVisible: !retrieved(), message: stringGradeHomeLoadingDataSpinnerMessage"></spinner>
        @Html.Partial("../Shared/StudentGradesPartial")
    </div>
</div>