﻿@charset "UTF-8";
/*Copyright 2014-2017 Ellucian Company L.P. and its affiliates*/
/* Stylesheet for Financial Aid module of Colleague Self-Service */
/* ----------------------------------------------------------- */
/* //////////   Financial Aid General Styles       //////////  */
/* ----------------------------------------------------------- */
/* Color variables */
/* Greeting */
.left {
  display: block;
  float: left;
}

.right {
  display: block;
  float: right;
}

.text-align-center {
  text-align: center;
}

.italic {
  font-size: 1.1em;
  font-style: italic;
}

.bold {
  font-weight: bold;
}

#contact {
  padding: 0;
  margin: 0;
}

#contact a {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: url("../../../Content/Images/email.png");
  background-origin: padding-box;
  background-position: 0 7px;
  background-repeat: no-repeat;
  background-size: 16px auto;
  font-size: 0.9em;
  padding-left: 22px;
  float: right;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #contact a {
    background: url("../../../Content/Images/email@2x.png");
    background-size: 16px;
  }
}

.content {
  width: auto;
  height: auto;
  padding: .77em 0;
  overflow: auto;
}

@media all and (max-width: 769px) {
  .content.home-wrapper, .ui-tabs .ui-tabs-panel, .mobile-nav-tabs.ui-tabs-nav {
    padding: 0;
  }
  .content.home-wrapper {
    border: 1px solid #999999;
  }
}

#year-selector {
  display: inline-block;
  width: 50%;
}

@media all and (max-width: 769px) {
  #year-selector {
    width: 100%;
  }
}

.year-select-text {
  font-weight: bold;
}

@media all and (max-width: 480px) {
  .year-select-text {
    display: block;
    padding-bottom: .5em;
  }
  .year-select-dropdown {
    width: 100%;
  }
}

#counselor-contact {
  box-sizing: border-box;
  clear: right;
  display: inline-block;
  float: right;
  padding-top: .769em;
}

#award-year-bar {
  background-color: #f4f4f4;
  border: 1px solid #bdbdbd;
  display: block;
  padding: 0.769em 1em;
  width: auto;
  margin: .923em;
  clear: both;
}

.home-page-award-bar #award-year-bar, .home-page-award-bar #user-profile-header {
  margin: .923em 0 0;
}

@media all and (max-width: 480px) {
  #award-year-bar {
    margin: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
  }
}

@media all and (max-width: 769px) {
  #checklist-container, #counselor-container, #resources-container, #loans-container, #pell-leu-container {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: .462em;
  }
  #checklist-container.frame-sectiontable {
    margin: 0;
  }
  #checklist-container h4, #counselor-container h4 {
    display: none;
  }
}

.centered-buttons {
  text-align: center;
  padding-top: 2.3em;
}

#nav-menu ul#new-area-nav.column-eight li .multiple-line-menu-item {
  padding-bottom: 1em;
}

#user-profile-header {
  margin: 0 0.923em;
  border-bottom: 1px solid #999999;
}

/* ----------------------------------------------------------- */
/* //////////   Home Page                          //////////  */
/* ----------------------------------------------------------- */
#home-page {
  overflow: hidden;
  margin-top: .75rem;
  /* added due to loss of padding on column-nine at 480px */
}

@media (min-width: 481px) {
  #home-page {
    margin-top: 0;
    /* added due to loss of padding on column-nine at 480px */
  }
}

#home-greeting p {
  width: 100%;
}

@media all and (max-width: 480px) {
  #home-greeting h2 {
    padding-left: .6em;
    padding-right: .6em;
  }
  #home-greeting p {
    display: none;
  }
}

@media all and (min-width: 1024px) {
  .home-step:not(.one-home-steps-width) {
    min-height: 13.875rem;
  }
  .home-step.three-home-steps-width {
    min-height: 19rem;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .home-step:not(.one-home-steps-width) {
    min-height: 16.688rem;
  }
}

.home-step .img {
  height: 6.429em;
}

.home-step canvas {
  float: left;
  width: 6.429em;
  height: 6.429em;
}

#home-step3 .layout-table u.inactive-link {
  color: #999999;
}

#home-step3 .layout-table {
  font-size: 1em;
  color: #000000;
}

@media (max-width: 1300px) and (min-width: 1024px) {
  #home-step3 .layout-table,
  #home-step3 .layout-table-body,
  #home-step3 .layout-table-row,
  #home-step3 .layout-table-cell {
    display: block;
    text-align: left;
    padding: 0;
  }
  #home-step3 .layout-table-row {
    padding-bottom: 1rem;
  }
}

#home-step3 .layout-table u {
  font-weight: bold;
  color: #3f756e;
  padding-top: 1.5em;
  display: block;
}

.award-chart-list {
  float: left;
  margin-left: 6.25rem;
}

.award-chart-list li {
  line-height: 1.5;
}

.award-chart-list li:before {
  content: "¦";
  font-size: .6em;
  margin-right: 1.29em;
  padding: 0 0.39em 0 0.13em;
  position: relative;
  top: -.26em;
}

.chart-square-loans:before {
  background-color: #6aca3f;
  border: 1px solid #6aca3f;
  color: #6aca3f;
}

.chart-square-scholarships:before {
  background-color: #cb0004;
  border: 1px solid #cb0004;
  color: #cb0004;
}

.chart-square-grants:before {
  background-color: #88ddfd;
  border: 1px solid #88ddfd;
  color: #88ddfd;
}

.frame-sectiontable {
  width: 100%;
  margin: 0 0.77em 2em 0;
}

#year-selector-right {
  display: inline;
}

/* Potential to move to Site.css, generalize for all tabs */
.mobile-nav-tabs {
  /* would replace JQuery hide() */
  display: none;
}

.mobile-nav-tabs.ui-widget-header {
  background: none repeat scroll 0 0 #d5d5d5;
}

.mobile-nav-tabs li.ui-state-default {
  background-color: #e2e2e2;
  border-right: 1px solid #999999;
  margin-right: 0;
}

.mobile-nav-tabs li.ui-state-active {
  background: none repeat scroll 0 0 #ffffff;
}

@media all and (max-width: 480px) {
  .mobile-nav-tabs.ui-tabs-nav li a {
    padding: 1em 0.8em;
    font-size: .846em;
    font-weight: normal;
  }
}

@media all and (max-width: 769px) {
  .mobile-nav-tabs {
    /* would replace jQuery show() */
    display: block;
  }
}

/* end potential move */
@media all and (max-width: 769px) {
  #counselor-contact {
    display: none;
  }
}

#home-left {
  width: 72%;
  padding-right: 3%;
  float: left;
}

#home-right {
  width: 25%;
  height: auto;
  padding: 0;
  float: right;
}

@media all and (max-width: 769px) {
  #home-left, #home-right {
    width: 100%;
    float: none;
    padding: 0;
  }
}

td.action {
  width: 13em;
}

@media all and (max-width: 480px) {
  .checklist-content .action {
    width: auto;
  }
}

.checklist-content .action-description {
  vertical-align: middle;
}

.checklist-content .deadline {
  font-style: italic;
  float: right;
  padding-right: 1.54em;
}

.checklist-content tr:first-child,
.loans-content tr:first-child,
.counselor-details tr:first-child {
  border-top: 1px solid #d5d5d5;
}

.section-table {
  /*border: 1px solid $color-base-55;
    background: $color-base-80;*/
  border-bottom: .77em;
}

.section-table thead {
  /*background-color: $color-base-45;*/
  padding: .39em;
  /*border-right: 1px solid $color-base-60;*/
  line-height: 1.7;
}

.section-table tr:first-child {
  border-top: 1px solid #d5d5d5;
}

.section-table td {
  border-bottom: 0 none;
}

/* Checklist statuses */
span.action-notAvailable,
span.action-incomplete,
span.action-completed,
span.action-reviewed,
span.action-progress {
  display: inline-block;
  padding: 0 0 0 2.31em;
}

@media all and (max-width: 480px) {
  .checklist-status-text {
    display: none;
  }
}

.action-notAvailable {
  color: #000000;
}

.action-incomplete {
  background-color: #fffeea;
}

.action-incomplete .action {
  background-attachment: scroll;
  background-clip: border-box;
  background-image: url("../../../Content/Images/icon-warning.png");
  background-origin: padding-box;
  background-position: 8px 50%;
  background-repeat: no-repeat;
  background-size: 16px auto;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .action-incomplete .action {
    background: url("../../../Content/Images/icon-warning@2x.png") no-repeat scroll 8px 50% #fffeea;
    background-size: 16px;
  }
}

.action-completed {
  background-color: #e2fdf1;
}

.action-completed .action {
  background-attachment: scroll;
  background-clip: border-box;
  background-image: url("../../../Content/Images/icon-success.png");
  background-origin: padding-box;
  background-position: 8px 50%;
  background-repeat: no-repeat;
  background-size: 16px auto;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .action-completed .action {
    background: url("../../../Content/Images/icon-success@2x.png") no-repeat scroll 8px 50% #e2fdf1;
    background-size: 16px;
  }
}

.action-reviewed {
  background-color: #e2fdf1;
}

.action-reviewed .action {
  background-attachment: scroll;
  background-clip: border-box;
  background-image: url("../../../Content/Images/icon-success.png");
  background-origin: padding-box;
  background-position: 8px 50%;
  background-repeat: no-repeat;
  background-size: 16px auto;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .action-reviewed .action {
    background: url("../../../Content/Images/icon-success@2x.png") no-repeat scroll 8px 50% #e2fdf1;
    background-size: 16px;
  }
}

.action-progress {
  background-color: #e2fdf1;
}

.action-progress .action {
  background-attachment: scroll;
  background-clip: border-box;
  background-image: url("../../../Content/Images/icon-progress.png");
  background-origin: padding-box;
  background-position: 8px 50%;
  background-repeat: no-repeat;
  background-size: 16px auto;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .action-progress .action {
    background: url("../../../Content/Images/icon-progress@2x.png") no-repeat scroll 8px 50% #e2fdf1;
    background-size: 16px;
  }
}

/* Bubble Styles */
.group-application {
  float: left;
  padding: 1.15em 0 1.92em 0.77em;
  display: block;
  background-attachment: scroll;
  background-image: url("./Images/apply-fafsa.png");
  background-repeat: no-repeat;
  background-size: 90px auto;
  background-position: center center;
}

.group-eligibility {
  float: left;
  display: block;
}

.group-documents {
  float: left;
  display: block;
  background-attachment: scroll;
  background-image: url("./Images/missing-documents.png");
  background-repeat: no-repeat;
  background-size: 90px auto;
  background-position: center center;
}

.group-faApplication {
  float: left;
  display: block;
  background-attachment: scroll;
  background-image: url("./Images/reviewed-fafsa.png");
  background-repeat: no-repeat;
  background-size: 90px auto;
  background-position: center center;
}

.group-faAwards {
  float: left;
  display: block;
  background-attachment: scroll;
  background-image: url("./Images/view-awards.png");
  background-repeat: no-repeat;
  background-size: 90px auto;
  background-position: center center;
}

.group-awardLetter {
  float: left;
  display: block;
  background-attachment: scroll;
  background-image: url("./Images/award-letter-ready.png");
  background-repeat: no-repeat;
  background-size: 90px auto;
  background-position: center center;
}

.group-mpn {
  float: left;
  display: block;
  background-attachment: scroll;
  background-image: url("./Images/missing-documents.png");
  background-repeat: no-repeat;
  background-size: 90px auto;
  background-position: center center;
}

.group-interview {
  float: left;
  display: block;
  background-attachment: scroll;
  background-image: url("./Images/missing-documents.png");
  background-repeat: no-repeat;
  background-size: 90px auto;
  background-position: center center;
}

.group-complete {
  float: left;
  padding: 1.15em 0 1.92em 0.77em;
  display: block;
  background-attachment: scroll;
  background-image: url("./Images/satisfactory-academic-progress.png");
  background-repeat: no-repeat;
  background-size: 90px auto;
  background-position: center center;
}

.group-account-summary {
  float: left;
  padding: 1.15em 0 1.92em 0.77em;
  display: block;
  background-attachment: scroll;
  background-image: url("./Images/account-summary.png");
  background-repeat: no-repeat;
  background-size: 83px auto;
  background-position: center center;
}

.links-list {
  background-color: #f4f4f4;
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  padding: 1.154em;
  overflow: auto;
}

.links-list h4 {
  font-weight: bold;
}

.counselor {
  padding: 0;
  width: 100%;
}

.counselor .item, .loans .item {
  font-size: 1em;
}

.counselor-phone {
  padding-left: 1.6em;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: url("../Content/Images/fa-phone@2x.png");
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 16px auto;
}

.counselor-email {
  padding-left: 1.6em;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: url("../../../Content/Images/email.png");
  background-origin: padding-box;
  background-position: 0 2px;
  background-repeat: no-repeat;
  background-size: 16px auto;
}

#award-year-bar .counselor-email {
  background-position: 0 1rem;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .counselor-email {
    background: url("../../../Content/Images/email@2x.png") no-repeat scroll 0 5px transparent;
    background-size: 16px;
  }
}

.outside-links {
  margin-top: .5em;
  margin-bottom: 1.3em;
}

@media all and (max-width: 641px) {
  .loans-content td:not(.half-width-col), #pell-leu-container td:not(.half-width-col) {
    text-align: right;
  }
}

.inactiveChecklistItemLink {
  color: #555555;
  text-decoration: none;
}

.inactiveChecklistItemLink a:hover {
  cursor: default;
}

#bubble-link {
  color: #3f756e;
  text-decoration: underline;
}

.half-width-col {
  width: 50%;
}

a[disabled], #sap-warning-message a[disabled] #highlighted-text, a[disabled] #bubble-link, a[disabled] u {
  pointer-events: none;
  cursor: default;
  color: #999999;
}

#home-header #sap-message {
  margin: 0;
}

#home-header #sap-warning-message {
  padding-top: .5em;
}

.home-step.one-home-steps-width {
  width: 100%;
}

.home-step.three-home-steps-width {
  width: 32.66%;
}

#home-step3 .column-nine {
  padding: 0;
}

@media all and (min-width: 1024px) {
  #home-step3.three-home-steps-width {
    margin-left: 1%;
  }
}

@media all and (max-width: 1023px) {
  .home-step.three-home-steps-width, .home-step.one-home-steps-width {
    width: 100%;
    height: auto;
    min-height: auto;
  }
}

@media all and (max-width: 320px) {
  .group-account-summary {
    background-size: 78px auto;
  }
  #home-step3 .layout-table,
  #home-step3 .layout-table-body {
    display: block;
  }
  #home-step3 .layout-table-row {
    display: table;
    width: 100%;
    margin: 0 0 0.55em 0;
  }
  #home-step3 .layout-table-cell {
    display: table-row;
    text-align: left;
  }
}

@media all and (min-width: 890px) and (max-width: 1399px) {
  .group-account-summary {
    background-size: 78px auto;
  }
}

.account-summary {
  margin-left: 6.25rem;
}

.account-summary .layout-table-cell {
  padding: 0.375rem 0.875rem;
}

/*----------------------------------------------*/
/*//////////  My Awards Page      //////////////*/
/*----------------------------------------------*/
#awards-main {
  clear: both;
}

#main-content > #sap-message {
  margin: 0 1em;
}

.section-header.section-header-left > h4 {
  font-weight: bold;
}

.loan-amount:focus {
  text-align: left;
}

.loan-not-eligible, .max-loan-amount-reached {
  color: #cb0004;
}

#full-award-table {
  float: left;
}

.award-table {
  margin-top: 1em;
}

.award-table, .award-table > table {
  table-layout: fixed;
  width: 100%;
}

.award-table caption {
  text-align: left;
}

.award-table caption .awards-subsection-cell {
  width: 30%;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.award-table caption .award-type-total-amount {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  padding: 1.2em 9px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media all and (max-width: 900px) {
  .award-table caption .award-type-total-amount {
    text-align: right;
  }
  .award-table-body th:first-child {
    width: 75%;
  }
}

.award-assumptions {
  padding: 0.5em 0 1em;
}

.highlight-pending-award {
  background-color: #fffeea;
}

.highlight-untouchable-award {
  background-color: #efefef;
}

.award-table-body .highlight-untouchable-award .message-row-column {
  padding: 0.538em 0.692em 0 0.692em;
  border-bottom: none;
  /*border-top: 2px solid $color-base-50; */
}

.info-award-icon {
  background: url("../../../Content/Images/icon-info.png") no-repeat scroll;
  padding: 0 0 0.36em 1.43em;
}

.untocuhable-award-message {
  border: none;
}

.error-icon {
  background: url("../../../Content/Images/icon-error.png") no-repeat scroll;
  padding: 0 0 0.36em 1.43em;
}

.errorArea {
  margin: .5em 0;
}

.highlight-accepted-declined-award {
  background-color: #e2fdf1;
  transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -webkit-transition: background-color 0.5s ease-in-out;
}

.award-status-updated {
  font-weight: bold;
}

.award-status-mobile {
  padding: .5em 0;
  font-style: oblique;
}

.accept-reject-all-wrapper {
  background-color: #efefef;
  border-bottom: 1px solid #bdbdbd;
  border-top: 1px solid #bdbdbd;
}

.attending-wrapper {
  background-color: #efefef;
  border-bottom: 1px dashed #bdbdbd;
  border-top: 1px dashed #bdbdbd;
}

.attending-cell.attending-checkbox {
  background-color: #e2e2e2;
  border-right: 2px solid #ffffff;
}

.attending-cell.attending-border {
  border-right: 2px solid #ffffff;
}

.total-awards-wrapper {
  background-color: #efefef;
}

.total-awards-wrapper td {
  border-bottom: 0 none;
  padding: 0.93em 0.69em;
}

#TotalRow1, #TotalRow3 {
  background-color: #efefef;
}

@media all and (max-width: 769px) {
  #TotalRow1 {
    background-color: #ffffff;
  }
}

.awards-subsection .awards-subsection-cell-header {
  color: #555555;
  font-size: 1.077em;
  font-weight: bold;
}

@media all and (max-width: 900px) {
  .awards-subsection-cell p {
    min-width: 14em;
  }
}

@media all and (max-width: 480px) {
  .awards-subsection-cell p {
    min-width: 11em;
  }
}

.accordion-wrapper > td {
  padding: 0.93em 0.69em;
}

.my-awards-toggle .accordion-toggle {
  color: #3f756e;
  /* standard link color */
  float: left;
  clear: none;
  padding: .2em;
  background-color: inherit;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  position: static;
}

.my-awards-toggle .accordion-toggle:disabled,
h3 .accordion-toggle:hover:disabled {
  opacity: .6;
  cursor: not-allowed;
}

.my-awards-toggle .accordion-toggle:disabled .accordion-toggle-text {
  text-decoration: none;
}

.my-awards-toggle .accordion-toggle .accordion-toggle-text {
  text-decoration: underline;
}

.award-description {
  font-size: 1.077em;
  font-weight: bold;
  color: #333333;
  margin-bottom: .36em;
  display: inline;
}

.accordion-open-wrapper-top {
  border-left: 3px solid #6c6c6c;
  border-right: 3px solid #6c6c6c;
  border-top: 3px solid #6c6c6c;
}

.accordion-open-wrapper-middle {
  border-left: 3px solid #6c6c6c;
  border-right: 3px solid #6c6c6c;
}

.accordion-open-wrapper-bottom {
  border-bottom: 3px solid #6c6c6c;
  border-left: 3px solid #6c6c6c;
  border-right: 3px solid #6c6c6c;
}

.accordion-open-wrapper-top td, .accordion-open-wrapper-middle td, .accordion-open-wrapper-bottom td {
  border: 0 none;
}

.openAccordion {
  border-bottom: none;
}

.accordion-action-message {
  padding: .46em;
}

.attending-checkbox-message {
  font-style: italic;
}

.dimTextOpenAccordion {
  color: #767676;
}

#TotalRow3 .accept-reject-buttons {
  text-align: right;
}

.accept-reject-buttons button {
  display: inline-block;
  margin-right: .5em;
}

.awards-subsection-mobile {
  background-color: #ffffff;
  border-bottom: 2px solid #d5d5d5;
}

.awards-subsection-mobile-top-row {
  border-top: 2px solid #d5d5d5;
}

.award-table .error-input, #outside-award-dialog input.error-input {
  background: #fce3dd;
  border: 1px solid #cb0004;
}

.errorField {
  background: url("../../../Content/Images/icon-error.png") no-repeat;
  height: 16px;
  width: 16px;
  display: inline-block;
  vertical-align: text-bottom;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .errorField {
    background: url("../../../Content/Images/icon-error@2x.png");
    background-size: 16px;
  }
}

a.disabled {
  pointer-events: none;
  cursor: default;
  color: #767676;
}

.modifiable-amount {
  white-space: nowrap;
}

.warning-message-row td {
  border-bottom: none;
}

.arrow-container-column {
  vertical-align: middle;
  padding-left: 1.5em;
}

.award-type-total-amount {
  vertical-align: middle;
}

.award-type-total-amount, .all-awards-total-amount {
  font-weight: bold;
}

#loan-requirements-section .links a {
  line-height: 1;
}

#loan-requirements-section .links p {
  padding-top: .5em;
}

.esg-form__input.noerror-custom-padding {
  padding-right: .75rem;
}

/*-----------------------------------*/
/*//////// Percentage chart /////////*/
/*-----------------------------------*/
.award-subsection-header {
  display: table-cell;
  vertical-align: top;
  box-sizing: border-box;
  padding-top: .3em;
}

.percentage-chart-container {
  display: table-cell;
}

.percentage-chart-container .percentage-value {
  position: absolute;
  z-index: 1;
  padding-top: 1.3em;
  font-size: .8em;
  font-weight: bold;
  text-align: center;
  width: 4.5em;
  height: 2em;
}

.mobile-section-column {
  padding: 0;
}

/*-----------------------------------*/
/*////// Award action panel /////////*/
/*-----------------------------------*/
@media all and (min-width: 901px) {
  .action-panel-container .info-action-column {
    float: right;
    padding: 1em 1em 1em 2em;
  }
  .sim-award-period-table .sim-award-period-table-row {
    border-bottom: none;
  }
  .action-panel-container .award-period-column {
    padding: 1em 0.5em;
  }
}

.sim-award-period-table .sim-award-period-table-row .sim-award-period-column,
.sim-award-period-table .sim-award-period-table-row .sim-award-period-amount-column {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

@media all and (max-width: 900px) {
  .multi-accordion-content {
    background-color: #e2e2e2;
    border-bottom: 1px solid #d5d5d5;
  }
  .award-description-panel .multi-accordion-controller {
    border-bottom: 1px solid #d5d5d5;
  }
  .attending-wrapper {
    background-color: #ffffff;
  }
  .nested-loan-total-amount {
    float: right;
    font-weight: bold;
  }
  .action-panel-container .column-four, .action-panel-container .column-five, .action-panel-button-container .column-four {
    width: 100%;
  }
}

.action-panel-container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.action-panel-button-container {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 1em 0;
  background-color: #efefef;
  border-bottom: 1px solid #767676;
}

.info-action-column, .award-period-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.award-period-column {
  padding: 0 0.5em;
}

.sim-award-period-table {
  padding: 0;
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  margin-right: .5em;
}

.sim-award-period-table-row {
  display: table-row;
  border-bottom: 1px solid #d5d5d5;
}

.total-row {
  font-weight: bold;
  border-bottom: none;
}

.sim-award-period-column {
  display: table-cell;
  white-space: nowrap;
  float: left;
  padding-left: 1em;
}

.sim-award-period-amount-column {
  display: table-cell;
  float: right;
  padding-right: 1.5em;
}

.multi-accordion-content {
  padding: 1em 0.5em 1em 3em;
  line-height: 1.5em;
}

.multi-accordion-controller, .panel-controller, .panel-back-link-container {
  cursor: pointer;
}

.action-panel-col {
  padding: 0;
}

.left-aligned-buttons {
  padding-left: .5em;
  float: left;
}

.right-aligned-buttons {
  padding-right: .5em;
  float: right;
}

.maxLoanAmountColumn {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 1em 0 1em 0.8em;
}

#maxLoanAmountLabel {
  float: left;
}

#maxLoanAmount {
  float: right;
}

.nested-loan > td, .nested-loan > th {
  padding: 1.15em 0.69em;
  background: #e2e2e2;
}

#award-letter-dialog-text div {
  padding: 0.8em 0;
}

/*----------------------------------------------*/
/*//////////  Awards Letter Page  //////////////*/
/*----------------------------------------------*/
#award-letter-main {
  height: auto;
  display: block;
}

#letter-container {
  padding-bottom: 1em;
  display: none;
}

#form-container {
  display: block;
}

#letter-amount-report-section {
  padding-right: 1em;
}

#letter-amount-report-section, #letter-history-section {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: none;
}

#award-letter-ready-message {
  margin: 0 1em;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .letter-report-container a {
    background: transparent url("../../../Content/Images/document@2x.png") left no-repeat;
    background-size: 16px;
    padding-left: 1.5em;
  }
}

@media all and (min-width: 769px) {
  #letter-container {
    display: block;
  }
  #letter-notice-container {
    font-style: italic;
  }
  .top-bar {
    font-style: normal;
  }
  #letter-accept-area {
    margin-bottom: 6em;
  }
  #form-container {
    padding-top: 1em;
  }
  .award-letter-button {
    margin-top: 0;
    position: relative;
    top: -3.5em;
  }
  .award-letter-button:not(:disabled):not(.no-styles):active {
    top: -3.4em;
  }
}

.award-letter-cancel-link {
  padding-top: 0;
  margin-left: 1.25em;
}

@media only screen and (min-width: 1024px) {
  #letter-need-housing .item {
    display: inline;
    padding: 0 6%;
  }
}

@media all and (max-width: 768px) {
  #letter-header-left {
    width: 55.55%;
  }
  #letter-header-right {
    width: 44.44%;
  }
  #letter-accept-area {
    margin-bottom: 0;
  }
  #letter-accept-area .letter-default, #letter-accept-area .letter-pending, #letter-accept-area .letter-accepted {
    background-color: transparent;
  }
  #letter-contact-office {
    margin-bottom: 2.31em;
  }
  #letter-history-section .arrow {
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    float: right;
  }
  /*#letter-history-section{
        padding-top: 0;
        padding-bottom: 0;
    }*/
}

@media all and (max-width: 1023px) {
  #letter-logo-container {
    text-align: center;
    margin-bottom: 3.1em;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1023px) {
  #letter-need-housing .item {
    display: inline;
    padding: 3%;
  }
  .letter-header .column-four {
    width: 44.44%;
  }
}

.notice-bar {
  padding: 1.25em;
}

#letter-history-header {
  color: inherit;
  font: inherit;
  display: inline;
  padding-left: 0.3em;
}

@media (max-width: 769px) {
  #letter-history-header {
    color: #ffffff;
  }
}

.letter-report-container {
  border-bottom: 1px solid #d5d5d5;
}

.letter-report-container a {
  background: transparent url("../../../Content/Images/document.png") left no-repeat;
  background-size: 16px;
  padding-left: 2em;
}

#letter-history-items .view-more-button-container {
  overflow: hidden;
}

@media (max-width: 769px) {
  #letter-history-items .view-more-button-container {
    background-color: transparent;
  }
}

#letter-amount-container {
  font-weight: bold;
  font-size: 1.1em;
}

#letter {
  background: transparent url("../Content/Images/logo.png") left top no-repeat;
}

#letter-content {
  margin: 1.15em;
}

#letter-logo {
  max-width: 230px;
  max-height: 30px;
}

#letter-contact-office {
  text-align: center;
  margin-top: -2.15em;
  margin-bottom: 3.85em;
}

#letter-need-housing {
  margin: 1.15em 1.54em 1.15em 3.1em;
  white-space: nowrap;
}

#letter-greeting {
  padding-bottom: 2em;
}

.letter-bold-label {
  font-size: 1.077em;
  font-weight: bold;
}

.letter-header {
  padding-bottom: 3em;
}

#letter-header-right {
  float: right;
  padding-left: 5em;
}

.letter-header-part {
  text-align: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/*Award Letter Table*/
td.total, td.award-period, .header th {
  text-align: right;
}

th.award {
  text-align: left;
}

/* End use in Site.css */
tr.group-row {
  /* For empty heading -- remove later? */
  display: table-row;
  height: 2.813rem;
}

/*end award letter table*/
.letter-accept-controls {
  margin: 0;
  padding: 1.25em 0 1.25em 0;
  background-color: transparent;
}

.bottom-bar {
  background-color: transparent;
}

#form-container {
  padding-top: 0;
}

.award-letter-label {
  display: inline;
  padding-top: 1em;
}

.award-letter-button {
  display: inline;
  line-height: 1em;
  margin-right: 1.25em;
}

.award-letter-cancel-link {
  padding-top: .5em;
}

#letter-opening-text span > a,
#letter-closing-text span > a {
  padding-left: 0;
}

#letter-closing-text {
  padding-top: 1.2em;
}

/*----------------------------------------------------*/
/*/////////////  Loan Request Page      //////////////*/
/*----------------------------------------------------*/
#loan-request-main {
  clear: both;
}

.loan-request-amount {
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 1400px) {
  .loan-request-amount {
    padding-left: 6.25rem;
  }
}

.loan-request-table {
  width: 100%;
}

@media (min-width: 1134px) {
  .loan-request-table {
    width: 50%;
  }
}

.loan-request-amount-option-container {
  margin-bottom: 1rem;
}

.loan-request-amount-option-container p {
  padding: .625rem 0;
}

#loan-request-cost-equation .layout-table-cell {
  padding: 0;
}

@media (min-width: 481px) {
  .loan-request-amount-option-container p {
    padding: 1.5rem 2.2em 1.2em 1.7em;
  }
}

@media all and (min-width: 769px) {
  p.current-info-text {
    margin-bottom: 1em;
    max-width: 30em;
    padding-bottom: .2em;
  }
}

#loan-request-cost-equation {
  font-size: .846em;
  max-width: 30em;
  margin: 0 auto 1.25rem auto;
}

@media (min-width: 481px) {
  #loan-request-cost-equation {
    font-size: 1em;
    margin: 0 2.25em 1.25em 2.25em;
  }
}

#loan-request-cost-equation .line-item-value {
  text-align: right;
}

.line-item-value.minus:before,
.line-item-value.equals:before {
  font-size: 2.5em;
  font-weight: normal;
  padding-right: .3em;
  position: relative;
  top: .2em;
}

.line-item-value.minus:before {
  content: "\2212";
}

.line-item-value.equals:before {
  content: "\003D";
}

.line-item-value.estimated {
  padding-left: 2.8em;
}

.line-item.remaining-cost {
  border-top: 1px solid #d5d5d5;
}

.potential-cost .line-item-label {
  padding-bottom: 1em;
}

.custom-amount-input-wrapper {
  margin-top: .5rem;
}

/*Add margin below custom amount input for spacing between input and error message */
#customAmountInput {
  margin-bottom: .5em;
}

.loan-request-amount-message {
  background-color: #fffeea;
}

.loan-request-buttons button {
  min-width: 6.8em;
}

.calculated-button,
.calculated-button:active,
.calculated-button:hover,
.calculated-button:focus {
  padding: 0.625rem 1.25rem 0.75rem 0;
}

.calculated-button__icon {
  border-top: 1px solid #767676;
  border-right: 1px solid #767676;
  margin-right: .5rem;
  margin-left: .5rem;
}

/* Confirmation Page */
.loan-request-message {
  padding: .625rem 0;
}

.final-step {
  border-top: 0 none;
}

/* Changes to Step Indicator */
.step-indicator > li {
  width: 25%;
}

#workflowIndicator * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.fullwidth {
  width: 100%;
}

/*----------------------------------------------------------*/
/*/////////////  Required Documents Page      //////////////*/
/*----------------------------------------------------------*/
#documents-main {
  clear: both;
}

#content-message {
  padding: 1em;
}

#documents-wrapper {
  background-color: #ffffff;
}

.document {
  border-bottom: 1px solid #bdbdbd;
}

/* No border for detail drill-in */
#data-container-overlay .document {
  border-bottom: 0 none;
}

.document-header {
  padding: 0.5em 0.5em 0.5em 3em;
  vertical-align: middle;
}

.document-header > div, .document-details > div {
  padding: .25em;
}

.document-title-heading {
  font-size: 1em;
  color: #333333;
}

.document-details {
  display: inherit;
  min-height: 50px;
}

.document.document-overdue {
  background: #fce3dd;
}

.document-header.document-overdue {
  background: url("../../../Content/Images/icon-error.png") no-repeat scroll 1em center;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .document-header.document-overdue {
    background: url("../../../Content/Images/icon-error@2x.png") no-repeat scroll 1em center;
    background-size: 16px;
  }
}

.document.document-incomplete {
  background: #fffeea;
}

.document-header.document-incomplete {
  background: url("../../../Content/Images/icon-warning.png") no-repeat scroll 1em center;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .document-header.document-incomplete {
    background: url("../../../Content/Images/icon-warning@2x.png") no-repeat scroll 1em center;
    background-size: 16px;
  }
}

.document.document-waived {
  background: #ebfbfd;
}

.document-header.document-waived {
  background: url("../../../Content/Images/icon-waived.png") no-repeat scroll 1em center;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .document-header.document-waived {
    background: url("../../../Content/Images/icon-waived@2x.png") no-repeat scroll 1em center;
    background-size: 16px;
  }
}

.document.document-received {
  background: #e2fdf1;
}

.document-header.document-received {
  background: url("../../../Content/Images/icon-success.png") no-repeat scroll 1em center;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .document-header.document-received {
    background: url("../../../Content/Images/icon-success@2x.png") no-repeat scroll 1em center;
    background-size: 16px;
  }
}

.document-status {
  font-weight: bold;
  display: inline;
  font-size: .85em;
  color: #000000;
}

.document-date {
  display: inline;
  font-size: .85em;
}

.document-url-container {
  margin-top: .5em;
}

@media all and (max-width: 480px) {
  .document-details {
    display: none;
    background-color: #ffffff;
    padding: 1em;
  }
  .document-header.mobile-document-padding {
    padding: 1em 1em 1em 3em;
  }
  /* Apply classes Site.css .arrow.arrow-right after next integration? */
  .document-title:after {
    border-right: 2px solid #999999;
    border-top: 2px solid #999999;
    border-width: 2px;
    content: "";
    display: inline-block;
    float: right;
    height: .462em;
    margin-right: 1em;
    position: relative;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: .462em;
  }
  #data-container-overlay .document-title:after {
    display: none;
  }
}

@media all and (min-width: 481px) {
  #content-documents {
    display: block;
  }
  .document {
    display: table-row;
    width: 100%;
  }
  .document:last-child {
    border-bottom: none;
  }
  .document-header {
    display: table-cell;
    width: 40%;
    border-right: 1px solid #bdbdbd;
  }
  .document-status {
    font-size: 1.214em;
    display: block;
  }
  .document-date {
    font-size: .85em;
    display: block;
  }
  .document-details {
    width: 60%;
    background-color: #ffffff;
    display: table-cell;
    padding: 1em;
  }
  .document-title-heading {
    font-weight: bold;
    font-size: 1.071em;
  }
  .document-collection {
    padding: 0;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
  }
  .document-collection:first-child {
    border-top: 1px solid #bdbdbd;
  }
}

.document-collection-container {
  margin-bottom: 1em;
}

@media all and (min-width: 481px) and (max-width: 769px) {
  .document-collection-container:first-child {
    margin-bottom: 1em;
  }
}

@media all and (min-width: 770px) {
  .document-collection-container {
    float: left;
    width: 49.5%;
  }
  .document-collection-container:nth-child(2n+1) {
    margin-right: 1%;
  }
}

@media all and (max-width: 480px) {
  .document {
    display: block;
  }
  .document:first-child {
    border-top: 1px solid #bdbdbd;
  }
}

/*-----------------------------------------------------------------------*/
/*/////////////  Media Queries for Home Page               //////////////*/
/*-----------------------------------------------------------------------*/
/*----------------------------------------------------------*/
/*/////////////    Counselor Home Page        //////////////*/
/*----------------------------------------------------------*/
#fa-global-searchbutton {
  position: absolute;
  left: -1000em;
  width: 1px;
  height: 1px;
}

.studentcontainer table tr td {
  border: 0 none;
}

/*----------------------------------------------------------*/
/*///////////   Correspondence Option Page    //////////////*/
/*----------------------------------------------------------*/
#correspondence-option-main {
  clear: both;
}

#correspondence-option-main #user-profile-header {
  margin: 0;
}

#correspondence-option-checkbox:disabled {
  outline: 1px solid #767676;
}

label[for="correspondence-option-checkbox"] {
  display: inline;
}

/*----------------------------------------------------------*/
/*///////////   Shopping Sheet Page           //////////////*/
/*----------------------------------------------------------*/
/* see  FinancialAid/Content/ShoppingSheet.css  */
/*--------------------------------------------------------- */
/*////////// Satisfactory Academic Progress ////////////////*/
/*----------------------------------------------------------*/
#satisfactory-academic-progress-main #user-profile-header {
  margin: 0;
}

.sap-sections-container, #resources-section-container {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#resources-section-container {
  padding: 0.5em 0 0 1.2em;
}

#resources-section-container .resources-subsection-container {
  margin-bottom: 1.2em;
}

#resources-section-container .frame-sectiontable {
  width: initial;
}

.resources-subsection-container .links-list {
  padding: 0.5em 1.154em;
}

.frame-sectiontable .resources-section-header {
  padding: .5em 0;
}

.resources-section-header h3, .resources-section-header h4 {
  color: #000000;
  font-weight: bold;
}

@media all and (min-width: 1024px) {
  .sap-section:first-child {
    padding-right: 1em;
  }
}

.sap-section-header {
  line-height: 1.438rem;
}

#sap-history-section .sap-section-sim-table .sap-section-header {
  background-color: #bdbdbd;
  border-bottom: none;
  border-top: 1px solid #ffffff;
}

#sap-history-section .sap-section-sim-table .sap-section-header-text {
  color: #ffffff;
  padding-left: 0;
}

.sap-history-content__columns {
  border-bottom: 1px solid #bdbdbd;
  font-size: 1.1rem;
}

@media all and (min-width: 1024px) {
  .column-nine .sap-sections-container .sap-section-full {
    width: 100%;
  }
  .column-nine .sap-sections-container .sap-section {
    width: 50%;
  }
}

@media all and (max-width: 1023px) {
  #sap-content .column-seven, #sap-history-content-container .column-seven, #sap-content .column-two, .sap-sections-container .column-four {
    width: 100%;
  }
  #sap-history-content-container .section-wrapper {
    border: none;
  }
  #sap-history-content-container-panel {
    overflow: auto;
  }
  #sap-history-content-container .sap-section-sim-table .sap-section-header {
    background-color: #e2e2e2;
    border-bottom: 2px solid #d5d5d5;
    border-top: 2px solid #d5d5d5;
  }
  #sap-history-content-container .sap-section-sim-table .sap-section-header-text {
    color: #000000;
  }
  #sap-history-section .sap-section-sim-table .sap-section-header-text {
    color: #000000;
  }
  #sap-history-content-container .sap-section-sim-table .sap-section-header-text {
    padding-left: 0;
  }
  #sap-history-section .sap-section-header h3, #fa-counselor-section .sap-section-header h3 {
    display: inline;
    padding-left: 1.5em;
  }
  #sap-history-section .arrow, #fa-counselor-section .arrow {
    float: right;
    margin-top: .429em;
    margin-right: 1.5em;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
  }
  #sap-history-section .panel-controller, #fa-counselor-section .panel-controller {
    padding: 1.7em 0;
  }
  .sap-sections-container .multi-accordion-content, .multi-accordion-content .sap-section-table-column-full {
    background-color: #e2e2e2;
    border-bottom: 1px solid #d5d5d5;
  }
  .sap-sections-container .multi-accordion-controller {
    border-top: none;
    margin-top: .5em;
  }
  .multi-accordion-content .sap-section-table-column-full {
    border-top: 1px solid #d5d5d5;
  }
  .sap-section-sim-table #cumulative-gpa-row {
    background-color: #efefef;
    color: #000000;
  }
  .sap-section-sim-table #cumulative-gpa-row h4 {
    color: #000000;
  }
  #resources-section-container .frame-sectiontable {
    margin-top: 1em;
  }
  .resources-subsection-container .links-list {
    background-color: #ffffff;
    border: none;
    padding: 0;
  }
  #sap-page-container .column-nine {
    padding: 0;
  }
}

@media all and (min-width: 770px) and (max-width: 1023px) {
  .frame-sectiontable .mobile-nav-tabs.ui-tabs-nav {
    padding: 0;
  }
}

.sap-section-sim-table-content {
  border-bottom: 1px solid #d5d5d5;
}

.sap-section-table-column {
  width: 47%;
}

.sap-section-table-column h4, .sap-section-table-column h5 {
  font-weight: bold;
  font-size: 1.1em;
}

.sap-section-table-row-spacing {
  border-top: 2em solid #ffffff;
}

.sap-details-text {
  font-style: oblique;
}

#sap-status-section .sap-section-header .sap-details-text {
  padding-right: 1em;
  font-size: .9em;
  float: right;
  display: inline;
  vertical-align: middle;
}

#sap-status-section .sap-section-header-text {
  float: left;
  display: inline;
  vertical-align: middle;
}

#sap-credits-section .sap-section-table-row,
#sap-history-section .sap-section-table-row,
#sap-history-content-container .sap-section-table-row.history-item-header {
  border-bottom: 1px solid #d5d5d5;
}

#sap-credits-section .item-value {
  font-size: 1.2em;
}

#cumulative-gpa-row {
  background-color: #999999;
  color: #ffffff;
}

#cumulative-gpa-row h4 {
  color: #ffffff;
}

.warning-status-style {
  color: #7b5c00;
}

.satisfactory-status-style {
  color: #008241;
}

.unsatisfactory-status-style {
  color: #cb0004;
}

#sap-credits-section .arrow {
  margin-left: 1em;
}

#sap-status-section .multi-accordion-controller .sap-details-text {
  padding-left: 1.5em;
}

.sap-section-sim-table .counselor-phone {
  background-size: 16px 14px;
  display: block;
  padding-bottom: 1em;
}

.contact-email-wrapper .counselor-email {
  display: block;
}

#sap-status-section .arrow {
  position: absolute;
}

.sap-history-item-content {
  width: auto;
  background-color: #ffffff;
  border: 1px solid #999999;
  border-top: none;
  height: auto;
  overflow: auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#sap-history-item-panel {
  background-color: #783084;
}

.sap-history-item-view {
  height: auto;
}

.sap-history-item-content {
  padding: 0;
}

.view-more-button-container.section-header {
  padding-top: 1.3em;
}

#sap-appeal-section .counselor-phone-wrapper {
  padding-top: 1em;
}

/*----------------------------------------------------------*/
/* //////////   Financial Aid Outside Awards    //////////  */
/* -------------------------------------------------------- */
#outside-awards-action-text {
  padding: 1em 0;
}

#outside-awards-contents {
  padding: 0 1em 1em 1em;
}

#add-outside-award-button {
  margin-bottom: 1em;
}

.dialog-wrapper .column-nine label {
  margin: 0.3em 0;
}

#award-type-dropdown {
  font-size: 1em;
}

#outside-awards-table .text-align-right {
  text-align: right;
}

#outside-award-amount-column {
  width: 10%;
}

.outside-award-edit-remove {
  padding: 0;
}
