﻿/*Copyright 2015 Ellucian Company L.P. and its affiliates*/
/* Stylesheet for Financial Aid module of Colleague Self-Service Shopping Sheet page */
/* Color variables */
#shopping-sheet-main {
  clear: both;
}

#shopping-sheet-body {
  -webkit-print-color-adjust: exact;
}

.ss_header1 {
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
}

.ss_header2 {
  font-size: 11px;
  font-weight: bold;
  color: #ffffff;
}

.ss_header3 {
  font-size: 9px;
  font-weight: bold;
  color: #ffffff;
}

.ss_tap_item {
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
}

.ss_header_item {
  font-size: 12px;
  font-weight: bold;
  color: #000000;
}

.ss_body_item {
  font-size: 11px;
  font-weight: normal;
  color: #000000;
}

.ss_scorecard_title {
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  text-decoration: underline;
}

.ss_scorecard_body {
  color: #ffffff;
  font-size: 11px;
  font-weight: normal;
}

span.repayment-rate-scorecard-body {
  font-size: 9px;
  font-weight: bold;
}

.ss_a_link, .right-side-container-text .ss_a_link {
  color: #000000;
  font-size: 11px;
  font-weight: normal;
}

.ss_a_link:hover {
  color: #000000;
  font-size: 11px;
  font-weight: normal;
}

.info-container {
  border-radius: 6px;
  background-color: #436689;
  border: 2px solid #436689;
  margin-bottom: 1em;
}

.ss-section-header {
  padding: 0.563em 0 0.563em 0.875em;
}

.details {
  border-radius: 6px;
  background-color: #ffffff;
}

.details-content {
  margin-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  overflow-x: hidden;
}

.details-content .family-contribution-content-margin {
  margin-left: 1em;
}

#family-contribution-section-content {
  margin-left: 0;
}

.details-table {
  width: 407px;
  display: table;
}

.details-table .details-table-first-row {
  margin-top: 0.6em;
}

.details-table-header {
  width: 540px;
  overflow-y: hidden;
}

.details-table-header .details-table-header-label {
  float: left;
  width: 430px;
}

.details-table-header .details-table-header-amount {
  float: left;
  width: 90px;
  text-align: right;
}

.details-table-header-label .header-detail, .details-content .smaller-text {
  font-size: 9px;
}

.details-table-header-label .header-with-detail {
  display: inline;
}

.details-table-header-label .net-costs-header {
  font-size: 16px;
  font-weight: bold;
}

.details-table-body {
  display: table-row-group;
}

.details-table-row {
  width: 100%;
  margin-top: 0.333em;
}

.details-table-row .details-table-cell {
  display: table-cell;
}

.details-table-row .details-table-first-column {
  width: auto;
  white-space: nowrap;
}

.details-table-row .details-table-second-column {
  width: 100%;
}

.details-table-row .details-table-third-column {
  text-align: right;
  padding-left: 0.625em;
  padding-right: 0;
}

.details-table-second-column .dotted-line {
  border-bottom: dotted 1px;
  float: left;
  height: 1.143em;
  width: 93%;
  margin-right: 0.2em;
}

.details-table-without-header {
  width: 426px;
}

.net-costs-text {
  color: #42678b;
}

#options-to-pay {
  color: #42678b;
  font-weight: bold;
  font-size: 15px;
  margin-top: 0.867em;
  padding-left: 0.625em;
  margin-bottom: 0.467em;
}

.options-comment, #glossary-first-entry {
  margin-top: 0.667em;
}

#ss-divider {
  margin-top: 0.533em;
}

#ss-divider #ss-divider-line {
  border-bottom: dashed 1px;
  float: left;
  height: 8px;
  width: 100%;
  color: #42678b;
}

#family-contribution-options {
  margin-left: 1.2em;
  padding-top: 0.625em;
  clear: both;
}

#family-contribution-options ul li {
  margin-top: 0.333em;
  list-style: disc;
  float: left;
  width: 20.7em;
}

#shopping-sheet-content {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.333em;
  padding-bottom: 0.625em;
}

#dvBanner {
  border-radius: 6px;
  background-color: #436689;
  border: 2px solid #436689;
  width: 100%;
  clear: both;
}

#dvBanner-content {
  float: left;
  width: 760px;
  margin-left: 1.333em;
}

#dvMainBody, .glossary-entry {
  margin-top: 1em;
}

#dvCostNumbers, #dvGrantsNumbers {
  padding-left: 1.25em;
}

#dvGrantsNumbers .details-table-first-row .details-table-second-column .dotted-line {
  width: 85%;
}

#dvMiddleLeft {
  float: left;
  width: 557px;
}

#dvFooter {
  width: 800px;
  page-break-after: always;
}

#dvGlossary {
  margin-top: 1.333em;
}

#dvGlossaryFooter {
  /*width: 800px;*/
  margin-top: 0.667em;
}

#dvGlossaryContent {
  min-height: 200px;
  width: 780px;
  padding: 0.625em 0.625em 1em 0.625em;
}

#shopping-sheet-date {
  text-align: right;
  margin-top: 0.4em;
  margin-right: 0.067em;
}

#shopping-sheet-logo-container {
  display: inline-block;
}

#shopping-sheet-logo {
  max-width: 60px;
  max-height: 60px;
}

#shopping-sheet-university-student-block {
  display: inline-block;
  margin-bottom: 1.5em;
}

#shopping-sheet-university-student-container {
  display: inline;
}

#shopping-sheet-university-name {
  margin-top: 0.867em;
}

#shopping-sheet-student-name {
  margin-top: 0.267em;
}

#download-button {
  float: right;
  margin-right: 0.067em;
  border: 0 none;
  border-radius: 4px;
  outline: 0 none;
  filter: none;
  padding: 0 0.5em;
  height: 20px;
  font-size: .8em;
  margin-bottom: 0.5em;
  background-image: url("./Images/download-notselect-icon.png");
  background-repeat: no-repeat;
  background-color: #ffffff;
}

#download-button:hover, #download-button:focus {
  background-image: url("./Images/download-select-icon.png");
}

#download-button-text {
  padding-left: 1.6em;
  font-weight: bold;
}

.customized-info-container {
  border: 1px solid #42768b;
  border-radius: 4px;
  min-height: 50px;
}

#dvMiddleRight {
  float: left;
  width: 226px;
  margin-left: 1.063em;
  height: auto;
  margin-bottom: 0.75em;
}

#dvScorecardElemnts {
  width: 100%;
  height: auto;
  background-color: #437278;
  border-radius: 6px;
}

.scorecard-section-divider {
  border-bottom: dotted 1px;
  float: left;
  height: 8px;
  width: 100%;
  color: #ffffff;
  margin-left: -0.333em;
  margin-top: 1em;
}

#graduation-rate-image {
  float: left;
  margin-top: 1.667em;
}

#loan-default-rate-image {
  float: left;
  margin-top: 1em;
}

#median-borrowing-image {
  float: left;
  margin-top: 0.2em;
  margin-left: 0.1em;
  color: #ffffff;
  font-weight: bolder;
  font-size: 100px;
}

#median-borrowing-dollar-sign {
  color: #ffffff;
  font-weight: bolder;
  font-size: 100px;
}

#graduation-rate-bar, #graduation-rate-bar-nodata {
  background-color: #ffffff;
  border-radius: 4px;
  float: left;
  margin-top: 1em;
  height: 25px;
  width: 205px;
}

#graduation-rate-bar-nodata {
  background: repeating-linear-gradient(-60deg, #437278, #437278 5px, #ffffff 7px, #ffffff 12px);
}

.graduation-rate-bar-text {
  color: #437278;
  font-weight: bold;
  font-size: 11px;
  margin-left: 1.25em;
  vertical-align: -webkit-baseline-middle;
}

#graduation-rate-bar-nodata .graduation-rate-bar-text {
  color: #ffffff;
  background: #437278;
  border-radius: 2px;
  padding: 0.1em;
  margin-left: 1.7em;
}

.rate-label {
  margin-left: 3em;
}

#graduation-rate-bar .graduation-rate-bar-separator {
  height: 25px;
  margin-left: 1em;
  border-left: solid #437278 1px;
  position: absolute;
}

.scorecard-section-info {
  margin-left: 1.125em;
  padding-bottom: 1em;
}

#loan-default-rate-chart {
  margin-left: 2em;
}

#dvScoreCard_GRChart {
  margin-left: 0.75em;
}

#dvInfo_Address2 {
  margin-top: 0.2em;
  display: none;
}

#dvCustomizedInformation, #dvCustomizedGlossaryInformation {
  padding-top: 0.077em;
  padding-left: 0.688em;
}

#dvCustomizedInformation p, #dvCustomizedGlossaryInformation p {
  font-size: 13px;
  padding: 0.077em 0;
}

.hbar_pointer {
  height: 30px;
  width: 40px;
  margin-bottom: -1em;
}

#hbar-pointer-low {
  margin-left: 1em;
}

#hbar-pointer-medium {
  margin-left: 6em;
}

#hbar-pointer-high {
  margin-left: 11em;
}

.bar-pointer-bubble {
  border-radius: 4px;
  width: 49px;
  height: 20px;
  background-color: #000000;
  text-align: center;
}

.bar-pointer-arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #000000;
  margin-top: -0.267em;
  margin-left: 0.625em;
}

.bar-pointer-text {
  color: #ffffff;
  font-size: 12px;
  padding-left: 0.2em;
  vertical-align: middle;
}

.bar_topline_text {
  margin-top: 5px;
  text-align: center;
  margin-bottom: 5px;
}

span.repayment-rate-percentage-text {
  font-size: 9px;
  font-weight: bold;
  color: #ffffff;
}

.center_bar {
  width: 65px;
  margin: 0 auto;
}

.center_bar .vbar_pointer {
  position: relative;
  height: 1px;
  left: 110%;
  line-height: 1.3;
  top: 0;
  margin-left: auto;
  width: auto;
}

.center_bar .bar-pointer-text {
  padding: 0.625em;
}

.chart_bubble_div_body {
  background-color: #000000;
  border-radius: 3px;
}

.chart_bubble_div_body:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: 26px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #000000 transparent transparent;
}

#graduation-rate-section-text {
  float: left;
  margin-top: 0.75em;
  width: 112px;
}

#loan-default-rate-section-text {
  float: left;
  margin-top: 1em;
  width: 123px;
  margin-left: 0.75em;
}

#median-borrowing-section-text {
  float: left;
  margin-top: 1em;
  width: 135px;
}

.scorecard-section-text-detail {
  margin-top: 0.375em;
}

#spnScorecard_GRBody {
  line-height: 12px;
}

#spnScorecard_LoanDefaultRateBody {
  font-weight: normal;
  line-height: 12px;
}

#spnScorecard_MedianBorrowingBody {
  line-height: 13px;
}

#spnInfo_SchoolName, #spnInfo_FinancialOffice {
  font-size: 11px;
  font-weight: bold;
  color: #000000;
}

#spnInfo_Address1, #spnInfo_Address2, #spnInfo_CityStateZip, #spnInfo_Phone, #spnInfo_Email, #dvCustomizedInformation, #dvCustomizedGlossaryInformation {
  font-size: 11px;
  color: #000000;
}

.left_bar {
  float: left;
  width: 70px;
}

#ldr-left-bar-lower, #ldr-left-bar-equal, #ldr-left-bar-higher, #ldr-left-bar-nodata {
  background-color: #ffffff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 50px;
  margin-left: 0.563em;
}

#ldr-right-bar-lower, #ldr-right-bar-equal, #ldr-right-bar-higher, #ldr-right-bar-nodata {
  background-color: #437278;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 50px;
  margin-left: -0.333em;
}

#ldr-left-bar-nodata {
  background: repeating-linear-gradient(-60deg, #437278, #437278 5px, #ffffff 7px, #ffffff 12px);
}

#ldr-right-bar-nodata {
  border-top: 1px dashed #ffffff;
  border-left: 1px dashed #ffffff;
  border-right: 1px dashed #ffffff;
}

#ldr-left-bar-equal, #ldr-left-bar-nodata, #ldr-right-bar-equal, #ldr-right-bar-nodata {
  height: 60px;
}

#ldr-left-bar-lower, #ldr-right-bar-lower {
  height: 50px;
}

#ldr-left-bar-higher, #ldr-right-bar-higher {
  height: 65px;
}

.ldr-nodata-text {
  color: #ffffff;
  transform: rotate(-90deg);
  transform-origin: 65% 165%;
  float: left;
  white-space: nowrap;
  font-size: 12px;
  font-weight: bold;
}

#ldr-left-bar-nodata-text {
  background-color: #437278;
  border-radius: 2px;
  padding: 0.1em;
}

#ldr-lower-bar {
  margin-top: 1.2em;
}

.right_bar {
  float: left;
  margin-left: 2.5em;
  width: 70px;
}

.vbar_pointer {
  height: 30px;
  margin-left: 0.8em;
  margin-right: auto;
  width: 30px;
}

#white-vbar-pointer {
  background-color: #ffffff;
}

#white-vbar-pointer-arrow-down {
  border-top: 10px solid #ffffff;
}

#bar-pointer-text-black {
  color: #000000;
}

.vbar-baseline {
  border-bottom: 1px solid #ffffff;
  width: 70px;
}

#right-bar-baseline {
  margin-left: -0.813em;
}

.bar_baseline_text {
  margin-left: 0.333em;
  margin-top: 0.333em;
}

.baseline-label {
  font-size: 9px;
  font-weight: bold;
}

.right-side-info-container {
  margin-top: 0.813em;
  border: 1px solid #42768b;
  border-radius: 4px;
}

.right-side-container-details {
  min-width: 194px;
  max-width: 208px;
  margin-left: 0.875em;
  margin-bottom: 1em;
}

.right-side-container-title {
  text-decoration: underline;
  font-size: 12px;
  color: #42768b;
  font-weight: bold;
  padding-top: 0.625em;
}

.right-side-container-text, #div-address-label-first-line {
  margin-top: 0.438em;
}

#repaying-loan-section-text {
  line-height: 15px;
}

.div-address-label {
  margin-top: 0.2em;
}

/* Over-ride the max width on paragraphs set in the ESG stylesheet */
p {
  max-width: none;
}

.bar_body {
  background-color: #ffffff;
  height: 80px;
  position: relative;
  width: 65px;
}

.bar_average {
  position: relative;
  height: 2px;
  background-color: #000000;
  bottom: 50px;
}

.bar-average-default {
  bottom: 80px;
}

.vbar-pointer-default {
  top: -30px;
}

div.repayment-rate-nodata-chart {
  margin-left: 2em;
}

div.repayment-rate-nodata-chart .ldr-nodata-text {
  transform-origin: 70% 130%;
}
