﻿@*Copyright 2016 Ellucian Company L.P. and its affiliates.*@

@section Styles
{
    @Styles.Render(
            "~/Areas/Student/Content/TranscriptRequestsBundlecss",
            "~/Areas/Student/Content/StudentRequestsBundlecss")
}


@section Scripts
{
    @Html.Partial("_StringConstantDefinitions")

    @Scripts.Render("~/bundles/tranrequestindexscripts")

    <script type="text/javascript">
        var notify = "@ViewBag.Notification";
        var emailAddress = "@ViewBag.EmailAddress";
    </script>
}


<!-- everything below the sub-nav bar -->
<div class="esg-page-header">
    <h2 class="esg-page-header__title">@Resources.TranscriptRequests.PageDescription</h2>
</div>
<!-- Main Page Container -->
<div class="column-nine clear-group">
    <div id="enrollment-request-info" style="display: none;" data-bind="visible:true">
        <!--The spinner that shows while the data is loading-->
        <spinner id="spinner" params="isVisible: !isLoaded(), message: Ellucian.Student.Requests.loadingSpinnerMessage"></spinner>
        <form id="form">
            <section class="section-wrapper" data-bind="visible: isLoaded()">
                <div class="section-header">
                    <h3 class="inline-block">
                        <span>@Resources.TranscriptRequests.TranscriptRequestsSectionHeader</span>
                    </h3>
                    <a id="add-request-link" data-bind="attr:{href:'@Url.Action("TranscriptRequest", "TranscriptRequests", new {area="Student"})'}">
                        @Resources.Requests.AddNewButtonText
                    </a>
                </div>
                <div class="section-contents clear-group student-request-info">
                    <div id="request-restrictions" data-bind="visible: RequestRestrictionMessages().length>0">
                        <div class="errorArea">
                            <ul data-bind="foreach: RequestRestrictionMessages">
                                <li><span data-bind="html: $data"></span></li>
                            </ul>
                        </div>
                    </div>
                    <table data-bind="visible: Requests().length>0" id="student-requests-table" class="requests-table">
                        <thead>
                            <tr>
                                <th>@Resources.TranscriptRequests.DateProducedHeader</th>
                                <th>@Resources.TranscriptRequests.DateRequestedHeader</th>
                                <th>@Resources.TranscriptRequests.RecipientNameHeader</th>
                                <th>@Resources.TranscriptRequests.RecipientAddressHeader</th>
                                <th>@Resources.TranscriptRequests.NumberCopiesHeader</th>
                                <th>@Resources.TranscriptRequests.PaymentHeader</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Requests">
                            <tr>
                                <td><span data-bind="text: CompletedDate()"></span></td>
                                <td><span data-bind="text: RequestDate()"></span></td>
                                <td><span class="word-wrap" data-bind="text: RecipientName()"></span></td>
                                <td data-bind="foreach:MailToAddress()">
                                    <p data-bind="text:$data"></p>
                                </td>
                                <td><span data-bind="text: NumberOfCopies()"></span></td>
                                <td>
                                    <p data-bind="text: PaymentStatusNotation(), css: 'payment-status-' + PaymentStatus()"></p><p data-bind="visible: ShowPayNow()">
                                        <a class="pay-now-link" data-bind="attr:{href:'@Url.Action("TranscriptRequestProceedToPayment", "TranscriptRequests", new { area = "Student" })' + '?RequestId=' + RequestId()}">
                                            @Resources.Requests.PayNowLinkText
                                        </a>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <message params="isVisible: Requests().length < 1, message: Ellucian.Student.TranscriptRequests.noTranscriptRequestsMessage">
                    </message>
                </div>
            </section>
        </form>
    </div>

</div>