﻿<!-- Copyright 2016 Ellucian Company L.P. and its affiliates -->
@section Styles
{
    @Styles.Render("~/Areas/Student/Content/StudentRequestsBundlecss")
}

<!-- scripts here -->
@section Scripts
{
    @Scripts.Render("~/bundles/tranrequestscripts")
}

<div class="clear-group">
    <div id="page-description" class="esg-page-header">
        <h2 class="esg-page-header__title">@Resources.TranscriptRequests.RequestTranscriptSectionHeader</h2>
        <a class="esg-page-header__subtitle esg-page-header__subtitle--backlink" href='@Url.Action("Index", "TranscriptRequests")'>
            <span class="esg-icon__container esg-page-header__icon" aria-hidden="true">
                <svg class="esg-icon esg-icon--left">
                    <use xlink:href="#icon-arrow"></use>
                </svg>
            </span>@Resources.TranscriptRequests.BackToTranscriptRequests
        </a>
    </div>
</div>
<div id="dp-monolith" class="column-nine">
    <div id="transcript-form" style="display: none;" data-bind="visible:true">
        <!--THE SPINNER THAT SHOWS WHILE THE DATA IS LOADING-->
        <spinner params="isVisible: !isLoaded(), message: Ellucian.Student.Requests.loadingSpinnerMessage"></spinner>
        <div class="clear-group" data-bind="visible:isLoaded()">
            <section class="section-wrapper section-wrapper-top-border">
                <div id="new-transcript-request" class="section-contents primary-contents multi-accordion-content clear-group">
                    <div id="transcript-request-intro">
                        <p class="intro-text">@Resources.TranscriptRequests.RequestTranscriptActionText</p>
                    </div>
                    <div class="column-five field-padding clear-group">
                        <!-- ko if: TranscriptTypes() &&  TranscriptTypes().length>1 -->
                        <div id="transcript-type" class="field-padding clear-group">
                            <label for="transcript-type-dropdown" class="column-three bold">@Resources.TranscriptRequests.NewRequestTranscriptTypeLabel</label>
                            <select id="transcript-type-dropdown" class="esg-form__input column-six" data-bind="options: TranscriptTypes, optionsText: 'Description', optionsCaption:Ellucian.Student.Requests.dropdownCaption, value: TranscriptType"></select>
                        </div>
                        <!-- /ko -->
                        <div id="request-from" class="clear-group">
                            @Html.Partial("_RequestPage")

                        </div>
                    </div>
                </div>
                <div class="button-bar">
                    <input type="button" class="esg-button esg-button--primary" data-bind="click: submitTranscriptRequest, value:!ShowPaymentDetails()?Ellucian.Student.Requests.submitButtonLabel:Ellucian.Student.Requests.proceedToPaymentButton" />
                    <a href='@Url.Action("Index", "TranscriptRequests", new { area = "Student" })'>@Resources.Requests.Cancel</a>
                </div>
            </section>
        </div>
        <!-- Modal Spinner for use during AJAX calls -->
        <modal-spinner id="loading" params="isVisible: isSubmissionInProgress, message: Ellucian.Student.Requests.submittingNewRequestMessage"></modal-spinner>
    </div>
</div>
