﻿@*Copyright 2015-2016 Ellucian Company L.P. and its affiliates*@
<h2>Banking Information</h2>
<div class="help-content">
 <h3><a href="#">What does the Verification column mean?</a></h3>
<p>For U.S. bank accounts, direct deposits and refunds/reimbursements/payments (that is, e-checks) are paid only to accounts that are verified. 
The payroll office verifies your direct deposit accounts and the accounts payable office verifies your refund/reimbursement/payment deposit accounts.<br /><br /> 
    For Canadian accounts, verification is not applicable. In effect, Canadian accounts are considered verified as soon as they are entered. If all 
    of your bank accounts are Canadian, the Verification column is not displayed.<br /><br />
    After an account is verified for either direct deposits or e-checks, the only bank account detail that you can change is the nickname. 
    You can, however, always change the bank account usage, such as priority and amount.</p>
</div>
<div class="help-content"><h3><a href="#">How do I add an account?</a></h3>
<p>To add a new bank account, click <span class="bold">Add an Account</span>.
    <br /><br />When you enter the new bank account details, you must agree to the terms and conditions 
    before you can save your new banking information. <br /><br />If you add a new bank account with an effective date in the future, 
    you can subsequently view the new bank account information by selecting <span class="bold">View All</span> on the Banking 
    Information page.</p>
</div>
<div class="help-content"><h3><a href="#">How do I delete an account?</a></h3>
<p>You can delete a bank account only if its effective date is in the future. 
    <br /><br />Select <span class="bold">View All</span> on the Banking Information page, then under Future Deposits select the account. 
    When the bank account usage information is displayed, click <span class="bold">Delete</span>.
</p>
</div>
<div class="help-content">
<h3><a href="#">For direct deposits, how do I inactivate or end an account?</a></h3>
<p>Select the account that you want to end. Under Bank Account Usage, turn off the on/off switch. This sets the end date to yesterday. 
    Alternatively, you can click <span class="bold">End on</span> and enter a date. Be aware, however, that if you are ending an active account and 
    payroll processing has been completed, your change will take effect with the next payroll.
    <br /><br /><span class="bold">Note:</span> Turning off a future payroll direct deposit account is the same as deleting the account.
</p>
</div>
<div class="help-content">
<h3><a href="#">For direct deposits, how do I reactivate an account?</a></h3>
<p>You can change or remove the end date from an active or future payroll direct deposit account, but you cannot 
    reactivate an account whose end date has passed or an account that has been deleted. Instead, you must add the account again.</p>
</div>
<div class="help-content">
<h3><a href="#">For e-checks, how do I inactivate or end a refund/reimbursement/payment account?</a></h3>
<p>Select the refund/reimbursement/payment account. Under Bank Account Usage, turn off the on/off switch. This change takes effect 
    immediately. Be aware, however, that if you are ending an active account and payment processing has been completed, your change will 
    take effect with the next payment run.</p>
</div>
<div class="help-content">
<h3><a href="#">For e-checks, how do I reactivate an account?</a></h3>
<p>To reactivate a refund/reimbursement/payment account, you can either add the account again or contact the accounts payable office.
    <br /><br /><span class="bold">Note:</span> You cannot reactivate an account that has been deleted. Instead, you must add the account again.</p>
</div>
<div class="help-content">
<h3><a href="#">How do I change the priority of my direct deposit accounts?</a></h3>
<p>If you have at least two active accounts with specific deposit amounts, select one of those accounts and drag it to a new position or 
    use the up and down arrows.</p>
</div>
<div class="help-content">
<h3><a href="#">For direct deposits, how do I change my remaining balance account?</a></h3>
<div><p>You can change your remaining balance account in two ways:</p>
    <ul>
        <li>Add a new remaining balance account.</li>
        <li>Change one of your existing accounts that is for a specific amount to be your remaining balance account.</li>
    </ul>
    <p>Your existing remaining balance account is automatically ended the day before the effective date of your new remaining balance account, 
        although the end date is not displayed in Self-Service until the end date has passed. If you ever want to use your previous remaining 
        balance account for a specific amount, you must add that account again.</p>
</div></div>
<div class="help-content">
<h3><a href="#">How do I view or enter bank account information for a specific address?</a></h3>
<p>Individuals with vendor permissions can view and enter bank account information for either their default payment account or an address-specific 
    payment account by selecting the appropriate item in the <b>Select an Address</b> field.
</p>
</div>
<div class="help-content">
<h3><a href="#">Why can't I change my bank account details?</a></h3>
<p>After a bank account is considered verified, you can change only the account nickname and bank account usage information. 
    You cannot change other information, such as the bank account number.</p>
</div>
<div class="help-content">
<h3><a href="#">Why am I not authorized to manage my banking information online?</a></h3>
<p>Contact your system administrator if you are not authorized to manage your banking information online and you believe that you
    should be. Your system administrator must assign a Self-Service role to you with the necessary permissions.
</p>
</div>