﻿@*Copyright 2015-2016 Ellucian Company L.P. and its affiliates*@
<h2>Employee Home</h2>
<div class="help-content">
 <h3><a href="#">Welcome to the Employee home page.</a></h3>
<p>From here, you can choose to view or update your preferences for receiving your Forms 1095-C and W-2 electronically and 
    view or maintain information about your payroll direct deposits and your accounts payable refund account.
</p>
</div>