﻿<h2>@Resources.AccountSummaryResources.PageTitle Help</h2>
<div class="help-content">
    <h3>
        <a href="#">What information is available in the @Resources.AccountSummaryResources.PageTitle view?</a>
    </h3>
    <div>
        <p>
            The @Resources.AccountSummaryResources.PageTitle view displays the total amount that you currently owe on your student account for
            all terms. If you have an amount that is overdue, that amount will also be displayed and included in the
            @Resources.AccountSummaryResources.TotalAmountDueText.
        </p>
    </div>
    <h3>
        <a href="#">Why do I see some terms listed with amounts in the @Resources.AccountSummaryResources.PageTitle view?</a>
    </h3>
    <div>
        <p>
            The @Resources.AccountSummaryResources.PageTitle view displays the total account balance and includes term subtotals for
            any term in which you had financial activity on your student account.
        </p>
    </div>
</div>