﻿<!-- Copyright 2013-2016 Ellucian Company L.P. and its affiliates. -->
<h2>@Resources.FinanceResources.AccountActivityTitle Administrator Help</h2>
<div class="help-content">
    <h3>
        <a href="#">What information is available in the @Resources.FinanceResources.AccountActivityTitle Administrator view?</a>
    </h3>
    <div>
        <p>
            The @Resources.FinanceResources.AccountActivityTitle view displays detailed financial activity for a student 
            account. <br />
            <br />
            When you first access the @Resources.FinanceResources.AccountActivityTitle view, the information displayed is 
            usually for the current term or time period.  Using the dropdown box at the top, you can select another term or 
            time period for which you want to view a student's account activity.<br />
            <br />
            The student's account activity is grouped by information type, for example, charges, payments, financial aid, 
            etc.  The formula bar at the top of the @Resources.FinanceResources.AccountActivityTitle view includes icons 
            for each type of activity that the student has for the selected term or time period.  The amounts displayed 
            for each icon add up to the @Resources.FinanceResources.BalanceLabel displayed for that term or time period.<br />
            <br />
            You can click on any icon in the formula bar to go directly to that type of activity, or you can click on the 
            individual types of activity displayed below the formula bar. 
        </p>
    </div>
    <h3>
        <a href="#">How can I generate a statement of a student's account?</a>
    </h3>
    <div>
        <p>
            Click on the <span class="bold">@Resources.AccountActivityResources.ViewStatementLinkLabel</span> button to 
            generate a PDF version of the student's account activity for the selected time period or term.<br />
            <br />
            <span class="bold">Note:</span>  You must have a PDF reader installed in order to view your account statement.
        </p>
    </div>
    <h3>
        <a href="#">How can I view what deposits are due?</a>
    </h3>
    <div>
        <p>
            Click on the <span class="bold">@Resources.AccountActivityResources.DepositsDueLink</span> link to go to the 
            @Resources.FinanceResources.DepositsDueTitle section.  This section displays all deposits due for the selected 
            term or time period.<br />
            <br />
            <span class="bold"> Note:</span> This link and section are not displayed if the student does not have any 
            deposits due for the selected term or time period, or if your institution does not use this functionality.
        </p>
    </div>
    <h3>
        <a href="#">How can I view information about a student's payment plans?</a>
    </h3>
    <div>
        <p>
            Click on the <span class="bold">@Resources.AccountActivityResources.PaymentPlansLink</span> link to go to the 
            @Resources.FinanceResources.PayPlanTitle section.  This section displays all payment plans for the selected 
            term or time period. <br />
            <br />
            <span class="bold">Note:</span>  This link and section are not displayed if the student does not have any 
            payment plans for the selected term or time period, or if your institution does not use this functionality.
        </p>
    </div>
    @Html.Partial(@"~\Areas\Finance\Views\Shared\_AdminSharedHelp.cshtml")
</div>