﻿<h2>@Resources.FinanceResources.AccountActivityTitle Help</h2>
<div class="help-content">
    <h3>
        <a href="#">What information is available in the @Resources.FinanceResources.AccountActivityTitle view?</a>
    </h3>
    <div>
        <p>
            The @Resources.FinanceResources.AccountActivityTitle view displays detailed financial activity for your student 
            account. <br />
            <br />
            When you first access the @Resources.FinanceResources.AccountActivityTitle view, the information displayed is 
            usually for the current term or time period.  Using the dropdown box at the top, you can select another term or 
            time period for which you want to view your account activity.<br />
            <br />
            Your account activity is grouped by information type, for example, charges, payments, financial aid, etc.  The 
            formula bar at the top of the @Resources.FinanceResources.AccountActivityTitle view includes icons for each 
            type of activity that you have for the selected term or time period.  The amounts displayed for each icon add 
            up to the @Resources.FinanceResources.BalanceLabel displayed for that term or time period. <br />
            <br />
            You can click on any icon in the formula bar to go directly to that type of activity, or you can click on the 
            individual types of activity displayed below the formula bar. 
        </p>
    </div>
    <h3>
        <a href="#">How can I generate a statement of my student account?</a>
    </h3>
    <div>
        <p>
            Click on the <span class="bold">@Resources.AccountActivityResources.ViewStatementLinkLabel</span> link to 
            generate a PDF version of your account activity for the selected time period or term.  <br />
            <br />
            <span class="bold">Note:</span>  You must have a PDF reader installed in order to view your account statement.
        </p>
    </div>
    <h3>
        <a href="#">How can I view what deposits are due?</a>
    </h3>
    <div>
        <p>
            Click on the <span class="bold">@Resources.AccountActivityResources.DepositsDueLink</span> link to go to the 
            @Resources.FinanceResources.DepositsDueTitle section.  This section displays all deposits due for the selected 
            term or time period.<br />
            <br />
            <span class="bold"> Note:</span> This link and section are not displayed if you do not have any deposits due 
            for the selected term or time period, or if your institution does not use this functionality. 
        </p>
    </div>
    <h3>
        <a href="#">How can I view information about my payment plans?</a>
    </h3>
    <div>
        <p>
            Click on the <span class="bold">@Resources.AccountActivityResources.PaymentPlansLink</span> link to go to the 
            @Resources.FinanceResources.PayPlanTitle section.  This section displays all payment plans for the selected 
            term or time period. <br />
            <br />
            <span class="bold">Note:</span>  This link and section are not displayed if you do not have any payment plans 
            for the selected term or time period, or if your institution does not use this functionality.
        </p>
    </div>
    <h3>
        <a href="#">How can I make payments on my amounts due?</a>
    </h3>
    <div>
        <p>
            To view information about payments or deposits due, or to make a payment on your account, click on the 
            <span class="bold">@Resources.FinanceResources.MakeAPaymentTitle</span> view at the top.<br />
            <br />
            If you see the <span class="bold">@Resources.FinanceResources.PayForRegistrationTitle</span> menu option displayed, click on that option to see if you have completed 
            your payment arrangements for registration.
        </p>
    </div>
    <h3>
        <a href="#">How can I view information about my payments and deposits?</a>
    </h3>
    <div>
        <p>
            Click on a @Resources.AccountActivityResources.StudentPaymentReceiptNumberLabel 
            or @Resources.FinanceResources.DepositLabel to view detailed information about a payment or deposit.<br />
            <br />
            A dialog box is displayed with details about the selected payment or deposit, including the payment date and time, payer information,
            and detailed information about the payment or deposit.  Information about the payment methods you used to
            make this payment and any related convenience fees is also displayed<br />
            <br />
            <span class="bold">Note:</span>  If you paid for multiple items at the time that you made the selected payment, detailed information about 
            those additional items is displayed.  For example, if you paid a parking fee and your tuition deposit at the same time, then information about 
            both of those items is shown in the dialog box.<br />
            <br />
            To view your payment information in a printer-friendly format, click the <span class="bold">@Resources.ImmediatePaymentResources.PrintButtonLabel</span> button, or click the 
            <span class="bold">@Resources.AccountActivityResources.CloseCashReceiptDialogButtonLabel</span> button to close the dialog box.
</p>
    </div>
</div>