﻿<!-- Copyright 2016 Ellucian Company L.P. and its affiliates. -->
<h2>@Resources.AccountSummaryResources.PageTitle Administrator Help</h2>
<div class="help-content">
    <h3>
        <a href="#">What information is available in the @Resources.AccountSummaryResources.PageTitle view?</a>
    </h3>
    <div>
        <p>
            The @Resources.AccountSummaryResources.PageTitle view displays the total amount that the student currently owes for
            all terms. If the student has an amount that is overdue, that amount will also be displayed and included in the
            @Resources.AccountSummaryResources.TotalAmountDueText.
        </p>
    </div>
    <h3>
        <a href="#">Why do I see some terms listed with amounts in the @Resources.AccountSummaryResources.PageTitle view?</a>
    </h3>
    <div>
        <p>
            The @Resources.AccountSummaryResources.PageTitle view displays the total account balance and includes term subtotals for
            any term in which a student had financial activity on your student account.
        </p>
    </div>
    @Html.Partial(@"~\Areas\Finance\Views\Shared\_AdminSharedHelp.cshtml")
</div>