﻿<h2>@Resources.ImmediatePaymentResources.PaymentAcknowledgementLabel Help</h2>
<div class="help-content">
    <h3>
        <a href="#">How can I view information about an authorized payment?</a>
    </h3>
    <div>
        <p>
            The @Resources.ImmediatePaymentResources.PaymentAcknowledgementLabel view displays information about your 
            authorized payment.<br />
            <br />
            You can print this page as a record of your payment.  If an email address was included with your payment 
            information, you will also receive an email version of this payment acknowledgement.  <br />
            <br />
            In the event that a payment is canceled, this view will display with a payment cancellation message 
            in place of payment information.<br />
            <br />
            Click <span class="bold">@Resources.PaymentResources.ContinueButtonLabel</span> to continue
            to the next form in the workflow.
        </p>
    </div>   
</div>

