﻿<h2>@Resources.ImmediatePaymentResources.PaymentCompleteLabel Help</h2>
<div class="help-content">
    <h3> 
        <a href="#">What is the @Resources.ImmediatePaymentResources.PaymentCompleteLabel view?</a>
    </h3>
    <div>
        <p>
            The @Resources.ImmediatePaymentResources.PaymentCompleteLabel view indicates that you have 
            made and satisfied the necessary payment arrangements for your registration.  If one or more 
            payments was required, then the @Resources.ImmediatePaymentResources.PaymentCompleteLabel view
            indicates that the required payments were made.  Or if you elected to defer payment for your
            registration charges, then this view reflects that choice.<br />
            <br />
            After reviewing the @Resources.ImmediatePaymentResources.PaymentCompleteLabel view, 
            click the <span class="bold">Return</span> button to go back to where you started.
        </p>
    </div>
</div>

