﻿<h2>@Resources.ImmediatePaymentResources.PaymentOptionsLabel Help</h2>
<div class="help-content">
    <h3>
        <a href="#">What are the @Resources.ImmediatePaymentResources.PaymentOptionsLabel?</a>
    </h3>
    <div>
        <p>
            After you have accepted the terms and conditions of processing your registration, 
            payment options are displayed.  Depending on your school’s policies, you may be able to pay your full tuition or 
            defer part or all of your tuition until a later date.  You may also be able to sign up for a payment plan.<br />
            <br />    
            Select a payment option and click 
            <span class="bold">@Resources.ImmediatePaymentResources.PaymentOptionsButtonLabel</span> to proceed.
        </p>
    </div>
</div>