﻿<h2>@Resources.ImmediatePaymentResources.PaymentReviewLabel Help</h2>
<div class="help-content">
    <h3>
        <a href="#">How can I review my payment selection information?</a>
    </h3>
    <div>
        <p>
            The @Resources.ImmediatePaymentResources.PaymentReviewLabel view displays the items and amounts that you have 
            selected to pay, and the method of payment that you have chosen. <br />
            <br />
            If your institution charges a convenience fee for making an e-commerce payment, that amount is also displayed 
            and included in the Total Payment Amount.  <br />
            <br />
            If you want to modify the payment amount or payment method, click on the 
            <span class="bold">@Resources.FinanceResources.PayForRegistrationTitle</span> menu option and re-accept the 
            Terms and Conditions to return to the <span class="bold">@Resources.ImmediatePaymentResources.PaymentOptionsLabel</span> view.<br />
            <br />
            To continue processing your payment, click <span class="bold">@Resources.PaymentResources.PaymentSubmitButtonLabel</span>.
        </p>
    </div>
</div>
