﻿<h2>@Resources.FinanceResources.PayForRegistrationTitle Help</h2>
<div class="help-content">
    <h3>
        <a href="#">What information is on my @Resources.ImmediatePaymentResources.RegistrationSummaryLabel?</a>
    </h3>
    <div>
        <p>
            The @Resources.ImmediatePaymentResources.RegistrationSummaryLabel contains information 
            about the classes you have registered for and the charges for those classes.  It also contains 
            the terms and conditions for processing your registration.<br />
            <br /> 
            To view this page in a printer-friendly format, click the
            <span class="bold">@Resources.ImmediatePaymentResources.PrintButtonLabel</span> button.<br />
            <br /> 
            You must read and select the check box agreeing to these terms and conditions in order to complete 
            the registration process.  After you have selected the checkbox, click 
            <span class="bold">@Resources.ImmediatePaymentResources.TermsAndConditionsButtonLabel</span> to continue.
        </p>
    </div>
</div>

