﻿<h2>@Resources.ImmediatePaymentResources.MakeDownPaymentLabel Help</h2>
<div class="help-content">
    <h3>
        <a href="#">What are the @Resources.ImmediatePaymentResources.PaymentOptionsLabel?</a>
    </h3>
    <div>
        <p>
            After you have accepted the terms and conditions of processing your registration, 
            payment options are displayed.  Depending on your school’s policies, you may be able to pay your full tuition or 
            defer part or all of your tuition until a later date.  You may also be able to sign up for a payment plan.<br />
            <br />    
            Select a payment option and click 
            <span class="bold">@Resources.ImmediatePaymentResources.PaymentOptionsButtonLabel</span> to proceed.
        </p>
    </div>
    <h3>
        <a href="#">What is the required payment?</a>
    </h3>
    <div>
        <p>
            The required payment is the amount that you must pay today to set up the payment plan.
        </p>
    </div>
    <h3>
        <a href="#">Can I pay another amount?</a>
    </h3>
    <div>
        <p>
            You can pay any amount up to the total amount of the payment plan as long as the amount is more than the required payment.
        </p>
    </div>
    <h3>
        <a href="#">Do I have to pay now?</a>
    </h3>
    <div>
        <p>
            If your payment plan does not require payment today, you can choose to make a payment now.  You can pay
            any amount up to the total amount of the payment plan.
        </p>
    </div>
    <h3>
        <a href="#">Can I pay later?</a>
    </h3>
    <div>
        <p>
            If your payment plan does not require payment today, you can make a payment on the plan at a later date on the
            @Resources.FinanceResources.MakeAPaymentTitle form.
        </p>
    </div>
        <h3>
        <a href="#">What are @Resources.ImmediatePaymentResources.PaymentPlanDetailsLabel?</a>
    </h3>
    <div>
        <p>
            @Resources.ImmediatePaymentResources.PaymentPlanDetailsLabel contain information about the payment plan you have chosen
            to set up to meet your registration payment requirements, including any down payment that may be required.
        </p>
    </div>
    <h3>
        <a href="#">What is the @Resources.ImmediatePaymentResources.PaymentPlanSummaryHeaderLabel?</a>
    </h3>
    <div>
        <p>
            The @Resources.ImmediatePaymentResources.PaymentPlanSummaryHeaderLabel section displays basic information about your 
            payment plan.  It includes the amount of registration charges originally included on the payment plan, the number and 
            frequency of payments, and any fees associated with the plan.
        </p>
    </div>
    <h3>
        <a href="#">Why isn't my payment plan amount the same as my Total Amount Due?</a>
    </h3>
    <div>
        <p>
            Your institution may have restrictions about the types of charges that can be included on a payment plan.
        </p>
    </div>
    <h3>
        <a href="#">What is the @Resources.ImmediatePaymentResources.PaymentPlanScheduleHeaderLabel?</a>
    </h3>
    <div>
        <p>
            The @Resources.ImmediatePaymentResources.PaymentPlanScheduleHeaderLabel section displays each payment that must be made, 
            when each payment is due, and the amount of each payment.
        </p>
    </div>
    <h3>
        <a href="#">What are the Payment Plan @Resources.ImmediatePaymentResources.PaymentPlanTermsAndConditionsLabel?</a>
    </h3>
    <div>
        <p>
            The Payment Plan @Resources.ImmediatePaymentResources.PaymentPlanTermsAndConditionsLabel section displays requirements 
            defined by your institution that you must agree to in order to set up a payment plan.
        </p>
    </div>
</div>