﻿<h2>@Resources.ImmediatePaymentResources.PaymentPlanAcknowledgementLabel Help</h2>
<div class="help-content">
    <h3>
        <a href="#">What is the @Resources.ImmediatePaymentResources.PaymentPlanAcknowledgementLabel?</a>
    </h3>
    <div>
        <p>
            The @Resources.ImmediatePaymentResources.PaymentPlanAcknowledgementLabel contains information about the payment plan you have
            set up to meet your registration payment requirements, including any down payment that may be required.
        </p>
    </div>
    <h3>
        <a href="#">What is the @Resources.ImmediatePaymentResources.PaymentPlanSummaryHeaderLabel?</a>
    </h3>
    <div>
        <p>
            The @Resources.ImmediatePaymentResources.PaymentPlanSummaryHeaderLabel section displays basic information about your 
            payment plan.  It includes the amount of registration charges originally included on the payment plan, the number and 
            frequency of payments, and any fees associated with the plan.
        </p>
    </div>
    <h3>
        <a href="#">What is the @Resources.ImmediatePaymentResources.PaymentPlanScheduleHeaderLabel?</a>
    </h3>
    <div>
        <p>
            The @Resources.ImmediatePaymentResources.PaymentPlanScheduleHeaderLabel section displays each payment that must be made, 
            when each payment is due, and the amount of each payment.
        </p>
    </div>
    <h3>
        <a href="#">What are the Payment Plan @Resources.ImmediatePaymentResources.PaymentPlanTermsAndConditionsLabel?</a>
    </h3>
    <div>
        <p>
            The Payment Plan @Resources.ImmediatePaymentResources.PaymentPlanTermsAndConditionsLabel section displays requirements 
            defined by your institution that you agreed to in order to set up this payment plan.
        </p>
    </div>
</div>
