﻿<h2>@Resources.PaymentResources.PaymentReviewHeader Help</h2>
<div class="help-content">
    <h3> <a href="#">How can I review my payment selection information?</a></h3>
    <div>
        <p>
        The @Resources.PaymentResources.PaymentReviewHeader view displays the items and amounts that you have selected to pay, and the method of payment that you have chosen. 
        If your institution charges a convenience fee for making an e-commerce payment, that amount is also displayed and included in the @Resources.PaymentResources.ReviewTotalPaymentDescription. 
        If you want to modify the payment amount or payment method, click on the @Resources.FinanceResources.MakeAPaymentTitle view.
        </p>
    </div>
</div>

