﻿<h2>@Resources.PaymentResources.PaymentPlanHelpTitle Help</h2>
<div class="help-content">
    <h3>
        <a href="#">What is the @Resources.PaymentResources.CreatePaymentPlanTitle?</a>
    </h3>
    <div>
        <p>
            The @Resources.PaymentResources.CreatePaymentPlanTitle contains information about the payment plan you have chosen
            to set up to pay for your charges, including any down payment that may be required.
        </p>
    </div>
    <h3>
        <a href="#">What is the @Resources.ImmediatePaymentResources.PaymentPlanSummaryHeaderLabel?</a>
    </h3>
    <div>
        <p>
            The @Resources.ImmediatePaymentResources.PaymentPlanSummaryHeaderLabel section displays basic information about your
            payment plan.  It includes the amount of charges originally included on the payment plan, the number and
            frequency of payments, and any fees associated with the plan.
        </p>
    </div>
    <h3>
        <a href="#">What is the @Resources.ImmediatePaymentResources.PaymentPlanScheduleHeaderLabel?</a>
    </h3>
    <div>
        <p>
            The @Resources.ImmediatePaymentResources.PaymentPlanScheduleHeaderLabel section displays each payment that must be made,
            when each payment is due, and the amount of each payment.
        </p>
    </div>
    <h3>
        <a href="#">What are the @Resources.ImmediatePaymentResources.PaymentPlanTermsAndConditionsLabel?</a>
    </h3>
    <div>
        <p>
            The @Resources.ImmediatePaymentResources.PaymentPlanTermsAndConditionsLabel section displays requirements
            defined by your institution that you must agree to in order to set up a payment plan.
        </p>
    </div>
    <h3>
        <a href="#">Why isn't my payment plan amount the same as the amount shown on @Resources.FinanceResources.MakeAPaymentTitle?</a>
    </h3>
    <div>
        <p>
            Your institution may have restrictions about the types of charges that can be included on a payment plan.
        </p>
    </div>
    <h3>
        <a href="#">Why can't I sign up for a payment plan?</a>
    </h3>
    <div>
        <p>
            Your institution may have restrictions about the types of charges that can be included on a payment plan.
            It is also possible that an error occurred while attempting to build a payment plan for the term, @Resources.FinanceResources.PaymentGroupLabel, and
            @Resources.FinanceResources.AmountDueLabel you selected.
        </p>
    </div>
</div>
