﻿<h2>@Resources.PaymentResources.ReviewPaymentSelection Help</h2>
<div class="help-content">
    <h3>
        <a href="#">How can I review my payment selection information?</a>
    </h3>
    <div>
        <p>
            The @Resources.PaymentResources.ReviewPaymentSelection view displays the items and amounts that you have 
            selected to pay, and the method of payment that you have chosen. <br />
            <br />
            If your institution charges a convenience fee for making an e-commerce payment, that amount is also displayed 
            and included in the Total Payment Amount.  <br />
            <br />
            If you want to modify the selected items, amounts, or payment method, click on the Back button of your web 
            browser to return to the @Resources.FinanceResources.MakeAPaymentTitle view. <br />
            <br />
            To continue processing your payment, click <span class="bold">@Resources.PaymentResources.PaymentSubmitButtonLabel</span>.
        </p>
    </div>
</div>