﻿<h2>@Resources.PaymentResources.PaymentAcknowledgementHeader Help</h2>
<div class="help-content">
    <h3>
        <a href="#">How can I view information about an authorized payment?</a>
    </h3>
    <div>
        <p>
            The @Resources.PaymentResources.PaymentAcknowledgementHeader view displays information about your 
            authorized payment.<br />
            <br />
            You can print this page as a record of your payment.  If an email address was included with your payment 
            information, you will also receive an email version of this payment acknowledgement.  <br />
            <br />
            This view also displays if your payment was canceled.<br />
            <br />
            Click on the <span class="bold">@Resources.PaymentResources.ContinueButtonLabel</span> button to return to the 
            @Resources.FinanceResources.MakeAPaymentTitle view.
        </p>
    </div>   
</div>
