﻿<h2>@Resources.FinanceResources.MakeAPaymentTitle Administrator Help</h2>
<div class="help-content">
    <h3>
        <a href="#">What information is available in the @Resources.FinanceResources.MakeAPaymentTitle Administrator view?</a>
    </h3>
    <div>
        <p>
            The @Resources.FinanceResources.MakeAPaymentTitle view displays all of the payment amounts that a student owes 
            on his or her student account, and can also show deposit amounts that are due.  These amounts can include 
            payments and deposits due from past, current, or future time periods or terms.  Any payment or deposit that is 
            past due is listed with the notation <span class="overdue">(@Resources.FinanceResources.OverdueLabel)</span> 
            next to it.
        </p>
    </div>
    @Html.Partial(@"~\Areas\Finance\Views\Shared\_AdminSharedHelp.cshtml")
</div>
