﻿<h2>@Resources.FinanceResources.MakeAPaymentTitle Help</h2>
<div class="help-content">
    <h3> <a href="#">What information is available in the @Resources.FinanceResources.MakeAPaymentTitle view?</a></h3>
    <div>
        <p>
            The @Resources.FinanceResources.MakeAPaymentTitle view displays all of the payment amounts that you owe on your
            student account, and can also show deposit amounts that are due.  These amounts can include payments and
            deposits due from past, current, or future time periods or terms.  Any payment or deposit that is past due is
            listed with the notation <span class="overdue">@Resources.FinanceResources.OverdueLabel</span> next to it.
        </p>
    </div>
    <h3> <a href="#">How can I modify the payment amounts?</a></h3>
    <div>
        <p>
            When you access the @Resources.FinanceResources.MakeAPaymentTitle view, certain items are pre-selected, and are
            reflected in the @Resources.PaymentResources.TotalPaymentLabel amount displayed at the top. <br />
            <br />
            Click on the <span class="bold">@Resources.FinanceResources.SelectionBoxLabel</span> box next to any individual
            item to add or remove it from the amount that you want to pay.  When you modify the items selected, the
            @Resources.PaymentResources.TotalPaymentLabel amount displayed at the top is automatically updated to reflect
            your item selections. <br />
            <br />
            Depending on the policies of your institution, you may be able to modify the
            @Resources.FinanceResources.AmountToPayLabel for a selected item.  If you modify the
            @Resources.FinanceResources.AmountToPayLabel, the @Resources.PaymentResources.TotalPaymentLabel amount
            displayed at the top is automatically updated to reflect your amount modifications. <br />
            <br />
            If you select items from multiple Payment Groups, you will receive an error and will not be able to
            proceed to pay.  Click on  the <span class="bold">@Resources.FinanceResources.SelectionBoxLabel</span> box as
            needed to select only those items with the same @Resources.FinanceResources.PaymentGroupLabel. After you pay the items
            for one @Resources.FinanceResources.PaymentGroupLabel, you can return to the @Resources.FinanceResources.MakeAPaymentTitle
            view to pay items from another @Resources.FinanceResources.PaymentGroupLabel.<br />
            <br />
            After you have made your item selections, choose a payment method at the top of the
            @Resources.FinanceResources.MakeAPaymentTitle view and click
            <span class="bold">@Resources.PaymentResources.PaymentButtonLabel</span>. <br />
            <br />
            To view detailed information about your account, click on the
            <span class="bold">@Resources.FinanceResources.AccountActivityTitle</span> view at the top.
        </p>
    </div>
    <h3><a href="#">Why are some amounts not payable?</a></h3>
    <div>
        <p>
            Your institution may choose to display certain types of charges that you owe, but that you may not pay.
            Contact your institution to request information about paying these types of charges.
        </p>
    </div>
    <h3><a href="#">Why do I see a @Resources.FinanceResources.PayForRegistrationTitle menu option?</a></h3>
    <div>
        <p>
            If you see the <span class="bold">@Resources.FinanceResources.PayForRegistrationTitle</span> menu option it means that your institution requires
            you to make payment arrangements when you register for classes in Student Planning.  If you click
            <span class="bold">@Resources.FinanceResources.PayForRegistrationTitle</span>, you will see one of the following:<br />
            <br />
            <ul>
                <li>@Resources.ImmediatePaymentResources.RegistrationSummaryLabel for your most recent registration which includes the terms and conditions of your registration.</li>
                <li>@Resources.ImmediatePaymentResources.PaymentCompleteLabel message indicating that you have completed payment arrangements for your registration.</li>
            </ul><br />
            If you see the @Resources.ImmediatePaymentResources.RegistrationSummaryLabel it means that you have not completed your payment arrangements.
            Depending on the policies of your institution, this may include making an
            <br />e-commerce payment or deferring payment on all or part of your registration charges.<br />
            <br />
            <span class="bold">Note:</span> If you see the @Resources.ImmediatePaymentResources.RegistrationSummaryLabel displayed, do <span class="bold">not</span> use
            the <span class="bold">@Resources.FinanceResources.MakeAPaymentTitle</span> view to pay your registration charges. Instead, select the Terms and Conditions check box at
            the bottom of the @Resources.ImmediatePaymentResources.RegistrationSummaryLabel and click <span class="bold">@Resources.ImmediatePaymentResources.TermsAndConditionsButtonLabel</span>
            to continue making your payment arrangements.<br />
            <br />
            If you see the @Resources.ImmediatePaymentResources.PaymentCompleteLabel message it means that you have completed your payment arrangements for registration and
            can use the <span class="bold">@Resources.FinanceResources.MakeAPaymentTitle</span> view for any additional payments on your account.
        </p>
    </div>
    <h3>
        <a href="#">Why can't I create a payment plan?</a>
    </h3>
    <div>
        <p>
            Your institution may have restrictions about whether or not you can create a payment plan, the timing of when payment plans may be created, and the types of charges that can be included on a payment plan.
        </p>
    </div>
    <h3>
        <a href="#">What is the @Resources.ImmediatePaymentResources.PaymentPlanSummaryHeaderLabel?</a>
    </h3>
    <div>
        <p>
            The @Resources.ImmediatePaymentResources.PaymentPlanSummaryHeaderLabel section displays basic information about your
            payment plan.  It includes the amount of charges originally included on the payment plan, the number and
            frequency of payments, and any fees associated with the plan.
        </p>
    </div>
    <h3>
        <a href="#">Why isn't my payment plan amount the same as my @Resources.FinanceResources.AmountDueLabel?</a>
    </h3>
    <div>
        <p>
            Your institution may have restrictions about the types of charges that can be included on a payment plan.
        </p>
    </div>
    <h3>
        <a href="#">What is the @Resources.ImmediatePaymentResources.PaymentPlanScheduleHeaderLabel?</a>
    </h3>
    <div>
        <p>
            The @Resources.ImmediatePaymentResources.PaymentPlanScheduleHeaderLabel section displays each payment that must be made,
            when each payment is due, and the amount of each payment.
        </p>
    </div>
    <h3>
        <a href="#">What are the Payment Plan @Resources.ImmediatePaymentResources.PaymentPlanTermsAndConditionsLabel?</a>
    </h3>
    <div>
        <p>
            The @Resources.ImmediatePaymentResources.PaymentPlanTermsAndConditionsLabel section displays requirements defined by your institution
            to which you must agree to set up a payment plan.
        </p>
    </div>
</div>

