﻿<h2>@Resources.PaymentResources.ECheckEntryHeader Help</h2>
<div class="help-content">
     <h3>
        <a href="#">How can I view or modify information about a check payment?</a></h3>
    <div>
        <p>
            Use the @Resources.PaymentResources.ECheckEntryHeader view to enter information about your check payment. <br />
            <br />
            Your name and address information may already be displayed, but you can modify that information as needed.  For 
            example, if you are entering information for your parents&#8217; checking account, you can change the name and 
            address information accordingly.<br />
            <br />
            If you want to modify the payment amount or the payment method, click on the @Resources.FinanceResources.MakeAPaymentTitle view at the top. <br />
            <br />
            When you are finished entering or modifying your payment information on the 
            @Resources.PaymentResources.ECheckEntryHeader view, click on the 
            <span class="bold">@Resources.PaymentResources.PaymentSubmitButtonLabel</span> button to authorize your check 
            payment.
            <br />
            <br />
            <span class="bold">Note:</span> An * indicates that a field is required.
        </p>
    </div>
</div>
