﻿<!-- Copyright 2013-2014 Ellucian Company L.P. and its affiliates. -->

<h2>@Resources.FinanceResources.RegistrationActivityTitle Administrator Help</h2> 
<div class="help-content">
    <h3>
        <a href="#">What information is on the @Resources.ImmediatePaymentResources.RegistrationActivityLabel Administrator view?</a>
    </h3>
    <div>
        <p>
            The @Resources.ImmediatePaymentResources.RegistrationActivityLabel page contains information 
            about the terms in which the selected student has registered for classes via Student Planning, and whether or not the student has met the 
            payment requirements for each term.
        </p>
    </div>
    <h3>
        <a href="#">What does the @Resources.ImmediatePaymentResources.PaymentRequirementsMetLabel column mean?</a> 
    </h3>
    <div>
        <p>
            The @Resources.ImmediatePaymentResources.PaymentRequirementsMetLabel column indicates whether or not the student has met the 
            payment requirements for each term.<br />
            <br />
            <ul>
            <li>
            <span class="bold">@Resources.ImmediatePaymentResources.PaymentRequirementsMetText</span>: The student has met the payment requirements for the term.<br />
            </li>
            <li>
            <span class="bold">@Resources.ImmediatePaymentResources.PaymentRequirementsNotMetText</span>: The student has not met the payment requirements for the term.<br />
            </li>
            <li>
            <span class="bold">@Resources.ImmediatePaymentResources.NoActiveClassesText</span>: The student does not have any active, registered classes for the term.
            </li>
            </ul>
        </p>
    </div>
    <h3>
        <a href="#">What does the @Resources.ImmediatePaymentResources.ActionLinkLabel column mean?</a>
    </h3>
    <div>
        <p>
            The @Resources.ImmediatePaymentResources.ActionLinkLabel column lists actions that you can take for each term.<br />
            <br />
            <ul>
            <li>
            <span class="bold">@Resources.ImmediatePaymentResources.ViewRegistrationSummaryLabel</span>: View the student's  
            @Resources.ImmediatePaymentResources.RegistrationSummaryLabel for the term, including the terms and conditions to which 
            the student agreed when he or she made payment arrangements for the listed classes and charges.<br />
            </li>
            <li>
            <span class="bold">@Resources.FinanceResources.GoToAccountActivityLabel</span>: Go to the 
            @Resources.FinanceResources.AccountActivityTitle view for more information about the student's charges.
            </li>
            </ul>
            <br />
            If the student has not met the payment requirements for a term, then no action can be taken from the Administrator view.<br />
        </p>
    </div>
    @Html.Partial(@"~\Areas\Finance\Views\Shared\_AdminSharedHelp.cshtml")
</div>



