﻿<!-- Copyright 2013-2014 Ellucian Company L.P. and its affiliates. -->

<h2>@Resources.FinanceResources.RegistrationActivityTitle Help</h2>
<div class="help-content">
    <h3>
        <a href="#">What information is on the @Resources.ImmediatePaymentResources.RegistrationActivityLabel view?</a> 
    </h3>
    <div>
        <p>
            The @Resources.ImmediatePaymentResources.RegistrationActivityLabel page contains information 
            about the terms in which you have registered for classes via Student Planning, and whether or not you have met the 
            payment requirements for each term.
        </p>
    </div>
    <h3>
        <a href="#">What does the @Resources.ImmediatePaymentResources.PaymentRequirementsMetLabel column mean?</a> 
    </h3>
    <div>
        <p>
            The @Resources.ImmediatePaymentResources.PaymentRequirementsMetLabel column indicates whether or not you have met the 
            payment requirements for each term.<br />
            <br />
            <ul>
            <li>
            <span class="bold">@Resources.ImmediatePaymentResources.PaymentRequirementsMetText</span>: You have met the payment requirements for the term.<br />
            </li>
            <li>
            <span class="bold">@Resources.ImmediatePaymentResources.PaymentRequirementsNotMetText</span>: You have not met the payment requirements for the term.<br />
            </li>
            <li>
            <span class="bold">@Resources.ImmediatePaymentResources.NoActiveClassesText</span>: You do not have any active, registered classes for the term.
            </li>
            </ul>
        </p>
    </div>
    <h3>
        <a href="#">What does the @Resources.ImmediatePaymentResources.ActionLinkLabel column mean?</a>
    </h3>
    <div>
        <p>
            The @Resources.ImmediatePaymentResources.ActionLinkLabel column lists actions that you can take for each term.<br />
            <br />
            <ul>
            <li>
            <span class="bold">@Resources.ImmediatePaymentResources.ViewRegistrationSummaryLabel</span>: View your  
            @Resources.ImmediatePaymentResources.RegistrationSummaryLabel for the term.<br />
            </li>
            <li>
            <span class="bold">@Resources.FinanceResources.PayForRegistrationTitle</span>: See your 
            @Resources.ImmediatePaymentResources.RegistrationSummaryLabel for the term and make payment arrangements.<br />
            </li>
            <li>
            <span class="bold">@Resources.FinanceResources.GoToAccountActivityLabel</span>: Go to the 
            @Resources.FinanceResources.AccountActivityTitle view for more information about your charges.
            </li>
            <li>
            <span class="bold">@Resources.ImmediatePaymentResources.ViewPaymentPlanLink</span>: Access the Payment Plan Acknowledgement to view the  information about the payment plan you have set up to meet your registration payment requirements.
            </li>
            </ul>
        </p>
    </div>
</div>

