﻿<h2>@Resources.ImmediatePaymentResources.RegistrationSummaryLabel Help</h2>
<div class="help-content">
    <h3>
        <a href="#">What information is on my @Resources.ImmediatePaymentResources.RegistrationSummaryLabel?</a> 
    </h3>
    <div>
        <p>
            The @Resources.ImmediatePaymentResources.RegistrationSummaryLabel contains information 
            about the classes you have registered for and the charges for those classes.  It also contains 
            the terms and conditions to which you agreed when you made payment arrangements for the listed classes and charges.<br />
            <br /> 
            To view this page in a printer-friendly format, click the
            <span class="bold">@Resources.ImmediatePaymentResources.PrintButtonLabel</span> button.<br />
            <br /> 
        </p>
    </div>
</div>