﻿<h2>@Resources.ImmediatePaymentResources.RegistrationSummaryLabel Administrator Help</h2>
<div class="help-content">
    <h3>
        <a href="#">What information is on the @Resources.ImmediatePaymentResources.RegistrationSummaryLabel Administrator view?</a> 
    </h3>
    <div>
        <p>
            The @Resources.ImmediatePaymentResources.RegistrationSummaryLabel contains information 
            about the classes for which the selected student registered, and the charges for those classes.  It also contains 
            the terms and conditions to which the student agreed when he or she made payment arrangements for the listed classes and charges.<br />
            <br /> 
            To view this page in a printer-friendly format, click the
            <span class="bold">@Resources.ImmediatePaymentResources.PrintButtonLabel</span> button.<br />
            <br /> 
        </p>
    </div>
</div>