﻿@*Copyright 2016 Ellucian Company L.P. and its affiliates*@

@Html.Partial("_ActionUrlDefinitions")

@using Ellucian.Web.Student.Helpers;
@{
    @Html.RenderDevStyleBundle("/Areas/TimeManagement/Build/time.approval.bundle.min.css");
    @Html.RenderDevScriptBundle("/Areas/TimeManagement/Build/time.approval.bundle.js");

    @Html.RenderProductionStylesheetBundle("/Areas/TimeManagement/Build/time.approval.bundle.min.css");
    @Html.RenderProductionScriptBundle("/Areas/TimeManagement/Build/time.approval.bundle.min.js");
    
}


<div id="time-approval-application">
    <!-- ko if: currentViewComponentName -->
    <div id="page-description" class="esg-page-header">
        <h2 class="esg-page-header__title">@Resources.TimeApproval.TimeApprovalPageDescription</h2>
        <a class="esg-page-header__subtitle esg-page-header__subtitle--backlink" href=" #" data-bind="visible: currentViewComponentName() !== 'summary-view-component'">
            <span class="esg-icon__container esg-page-header__icon" aria-hidden="true">
                <svg class="esg-icon esg-icon--left">
                    <use xlink:href="#icon-arrow"></use>
                </svg>
            </span>@Resources.TimeApproval.TimeApprovalPageDescription
        </a>
    </div>
    <!-- /ko -->

    <div class="full-width column-nine">

        <!-- ko if: currentViewComponentName -->
        <!-- ko component: {
            name: currentViewComponentName,
            params: currentViewComponentParams
        } -->
        <!-- /ko -->
        <!-- /ko -->


    </div>
</div>


