﻿<div class="account-container pointer" data-bind="click: editPayrollDepositDirective, css: {'pointer' : !isPastDirective }">
   
    <span class="column-two column-six-sm bold" data-bind="text: displayBankName"></span>

        <!--ko if: !hasAllCanadianAccounts()-->
        <div class="column-two column-eight-sm">
            <span data-bind="if: IsVerified() && RoutingId(), css:{'verified':IsVerified() && RoutingId() }">
                <span data-bind="resx: 'BankingInformation.IsVerified'"></span>
            </span>
            <span data-bind="if: !IsVerified() && RoutingId(), css:{'not-verified':!IsVerified() && RoutingId() }">
                <span data-bind="resx: 'BankingInformation.IsNotVerified'"></span>
            </span>
            <span data-bind="if: InstitutionId">
                <span data-bind="resx: 'BankingInformation.NotApplicableLabel'"></span>
            </span>
        </div>
        <!-- /ko -->
        <!--ko if: hasAllCanadianAccounts()-->
        <h4 class="column-two column-eight-sm">&nbsp;</h4>
        <!-- /ko -->
        <!-- ko ifnot: DepositAmount() === null -->
        <span class="column-two column-six-sm" data-bind="currency: DepositAmount, precision: 2"></span>
        <!-- /ko -->
        <!-- ko if: DepositAmount() === null -->
        <span class="column-two column-six-sm" data-bind="resx: 'BankingInformation.BalanceAccountText'"></span>
        <!-- /ko -->
        <span class="column-two column-two-sm" data-bind="text: fourthColumnDataByType"></span>

        <!-- ko ifnot: isPastDirective -->
        <button type="button" class="column-one column-one-sm no-styles" >
            <span class="arrow arrow-right"></span>
            <span class="offScreen" data-bind="resx: ['BankingInformation.EditPayrollOffscreenMessage', displayBankName()]"></span>
        </button>
        <!-- /ko -->
   
</div>