﻿<div class="account-container pointer" data-bind="click: editPayableDepositDirective, css: {'pointer' : !isPastDirective }">
    <span class="column-two column-four-sm bold" data-bind="text: displayBankName"></span>

    <!--ko if: !hasAllCanadianAccounts()-->
    <div class="column-two column-eight-sm">
        <span data-bind="if: IsVerified() && RoutingId(), css:{'verified':IsVerified() && RoutingId() }">
            <span data-bind="resx: 'BankingInformation.IsVerified'"></span>
        </span>
        <span data-bind="if: !IsVerified() && RoutingId(), css:{'not-verified':!IsVerified() && RoutingId() }">
            <span data-bind="resx: 'BankingInformation.IsNotVerified'"></span>
        </span>
        <span data-bind="if: InstitutionId()">
            <span data-bind="resx: 'BankingInformation.NotApplicableLabel'"></span>
        </span>
    </div>
    <!-- /ko -->
    <!--ko if: hasAllCanadianAccounts()-->
    <span class="column-two column-eight-sm">&nbsp;</span>
    <!-- /ko -->

    <span class="column-four column-eight-sm" data-bind="text: thirdColumnDisplayByType"></span>

    <!-- ko ifnot: isPastDirective -->
    <button class="column-one column-one-sm no-styles">
        <span class="arrow arrow-right"></span>
        <span class="offScreen" data-bind="resx: ['BankingInformation.EditPayableOffscreenMessage', displayBankName()]"></span>
    </button>
    <!-- /ko -->
</div>
