﻿<!-- Copyright 2016-2017 Ellucian Company L.P. and its affiliates. -->

<div class="css-collapsible-group esg-collapsible-group esg-collapsible-group--default" role="tablist" aria-multiselectable="true">
    <!--Collapsible Group controls-->
    <div class="esg-collapsible-group__heading css-collapsible-group__heading" role="tab">
        <span class="esg-collapsible-group__title">
            <a class="esg-collapsible-group__toggle esg-is-collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-bind="event: { click: toggleCriteria }, attr: { id: ComponentId, href: ComponentName, 'aria-expanded': expanded, 'aria-controls': ComponentName }, css: expanded() ? 'esg-is-open expanded' : 'esg-is-collapsed'">
                <span data-bind="text: ComponentName, css: expanded() ? 'expanded' : ''"></span>
                <span class="esg-collapsible-group__icon esg-icon__container" aria-hidden="true">
                    <svg class="esg-icon--up" data-bind="css: expanded() ? 'esg-icon esg-icon--up' : 'esg-icon esg-icon--down' ">
                        <use xlink:href="#icon-arrow"></use>
                    </svg>
                </span>
            </a>
        </span>
    </div>
    <!--Collapsible Group - filter input, tool tip, and validation messages-->
    <div class="general-ledger-component-input-container css-collapsible-group__body esg-collapsible-group__body esg-is-collapsed" role="tab" data-bind="attr: { id: ComponentName, 'aria-labelledby': ComponentId }, css: expanded() ? 'general-ledger-component-input-container css-collapsible-group__body esg-collapsible-group__toggle esg-is-open' : 'general-ledger-component-input-container css-collapsible-group__body esg-collapsible-group__toggle esg-is-collapsed'">
        <input type="text" class="esg-form__input general-ledger-component-input italic" data-bind="attr: { placeholder: Placeholder }, textInput: workingCriteria, event: { keyup: keyUp }" />
        <span class="esg-icon__container--outline filter-help-icon" data-bind="tooltip: { position: 'top', message: tooltip(), zIndex: 1001 }, visible: tooltip().length > 0">
            <svg class="esg-icon esg-icon--xsmall">
                <use xlink:href="#icon-info"></use>
            </svg>
        </span>
        <div data-bind="foreach: errorMessages">
            <div data-bind="text: $data" class="pad-top field-validation-error"></div>
        </div>
    </div>
    <!--Always shown - User-entered filter criteria-->
    <div data-bind="foreach: tokenizedFilterCriteria, attr: { style: tokenizedFilterCriteria().length > 0 ? 'padding: 0 1em 1em 1em;' : '' }" class="clear-group">
        <span class="esg-badge badge__rounded--top-right-margins">
            <span data-bind="text: $data"></span>
            <button class="no-styles" type="button" data-bind="event: { click: $parent.removeFilterCriteria }">
                <span class="esg-icon__container">
                    <svg class="esg-icon esg-icon--xsmall esg-icon--neutral">
                        <use xlink:href="#icon-close"></use>
                    </svg>
                </span>
            </button>
        </span>
    </div>
</div>