﻿<div class="esg-form__group" data-bind="event: { focusin: activateLookup }">
    <div class="esg-lookup" data-bind="css: activeClass">
        <div class="esg-lookup__input-group">
            <input class="esg-form__input" type="search" data-bind="attr: { 'id': inputId, 'name': inputName, 'placeholder': placeholderText }, event: { keydown: handleInputKeydown, blur: deactivateLookup }, hasFocus: inputHasFocus, textInput: filterText" />
            <div class="esg-lookup__container">
                <ul class="esg-lookup__results" data-bind="foreach: results">
                    <li class="esg-lookup__result-item" tabindex="-1" data-bind="click: $parent.selectResult, event: { keydown: $parent.handleResultKeydown, blur: $parent.deactivateLookup }, hasFocus: resultHasFocus">
                        <ul class="esg-lookup__list">
                            <li class="esg-lookup__list-item" data-bind="html: description"></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
