﻿<div class="esg-form__group">
    <label class="esg-form__label" data-bind="attr: { for: id }, text: label"></label>
    <input type="file" class="esg-form__input" data-bind="attr: { 'id': id, 'name': name, 'accept': acceptTypes }, value: value" />
</div>