﻿<spinner params="isVisible: !isLoaded()"></spinner>

<!-- ko if: isApprovalSummaryNotification() -->
<div class="column-eight column-eight-sm">
    <div class="esg-alert esg-alert--fluid esg-alert--info" role="alert">
        <span class="esg-alert__icon-wrapper">

        </span>
        <div class="esg-alert__message">
            <span data-bind="resx: approvalSummaryNotificationMessage()">

            </span>
        </div>
    </div>
</div>
<!-- /ko -->

<!-- ko if: isLoaded() && !isApprovalSummaryNotification() -->

<submitted-time-sheets class="component" params="dataModel: $data">
</submitted-time-sheets>

<!-- /ko -->