﻿<div class="section-header account-header clear-group">
    <h4 class="column-two column-seven-sm" data-bind="resx: 'BankingInformation.RefundDepositsHeader'"></h4>
    <!--ko if: !hasAllCanadianAccounts()-->
    <h4 class="column-six desktop-only" data-bind="resx: 'BankingInformation.VerificationHeader'"></h4>
    <!-- /ko -->
    <!--ko if: hasAllCanadianAccounts()-->
    <h4 class="column-six desktop-only">&nbsp;</h4>
    <!-- /ko -->
    <a class="esg-button esg-button--primary esg-button--small column-one column-two-sm" data-bind="attr: {href: viewAllPayableHref}">
        <span data-bind="resx: 'BankingInformation.ViewAllButtonLabel'"></span>
        <span class="offScreen" data-bind="resx: 'BankingInformation.RefundDepositsHeader'"></span>
    </a>
</div>
<!-- ko if: !hasActivePayableDeposit() -->
<message params="isVisible: true, message: noActivePayableDepositMessage">
</message>
<!-- /ko -->
<!-- ko with: ActiveRefundDeposit -->

<payable-directive-summary params="dataModel: $data,
                           hasAllCanadianAccounts: $parent.hasAllCanadianAccounts,
                           type: 'active'">

</payable-directive-summary>


<!-- /ko -->