﻿<!-- Copyright 2015 Ellucian Company L.P. and its affiliates. -->
<h2> Project Line Items</h2>
<div class="help-content">
<h3> <a href="#">What is displayed on the Project Line Item view? </a></h3>
<div>
    <p> All of the revenue and expense line items associated with a project are displayed on the Project Line Item view. The information that is displayed can include line item code, line item description, budgeted revenue, actual revenue, budgeted expenses, actuals, encumbrances, remaining, percent received or spent, and the overall financial health of the project line item. </p>
 </div>
<h3> <a href="#">Can I select which reporting period I want to view? </a></h3>
<div>
    <p> Yes, you can select the reporting period that you want to view. The selections are in the Reporting Period drop-down menu. </p>
</div>
<h3> <a href="#">What is displayed on the Project Line Item view? </a></h3>
<div>
    <p> The information on the Project Line Item view for each line item includes each line item’s GL account numbers, GL account description, budget period, and the breakdown of the encumbrances and actuals dollar amounts. </p>
</div>
<h3> <a href="#">Does the GL Summary view update in real time for each budget period selected? </a></h3>
<div>
    <p> The GL Summary view refreshes the GL information in real time based on the budget period that you have selected. </p>
</div>
<h3> <a href="#">What is included in the Amount Pending Posting? </a></h3>
<div>
    <p> The amounts included in the Amount Pending Posting total are the encumbrance and actual dollar amounts for the line items that have not yet been posted. These amounts are waiting for the Post GL Transactions (PGLT) form in Colleague to be run. </p>
<p> The pending posting amounts plus all of the GL amounts for a line item add up to the summary total for the line item. </p>
</div>
<h3> <a href="#">What is displayed on the GL Detail view? </a></h3>
<div>
    <p> The information on the GL Detail view includes all activity for actuals and only those encumbrance transactions that have not been relieved. Each transaction listed has been posted to the general ledger and is listed with the start date and dollar amounts. The reference number, description, date and dollar amount is listed for each transaction. </p>
</div>
<h3> <a href="#">Can I filter the GL Detail View by reporting period? </a></h3>
<div>
    <p> Yes, you can select by reporting period or view all activity. The selections are in the Reporting Period filter on the Project Line Item view. </p>
  </div>
    <h3> <a href="#">What is included in a fund balance line item amount? </a></h3>
<div>
<p>
The fund balance line item amount and the GL account number amount includes GL transactions with a GL account number and project 
    number combination that are associated with a fund balance line item that has been posted.
</p>
<p>
Pending Posting amounts for GL account number and project number combinations for a fund balance line item are displayed at the line 
    item level and are included in the fund balance line item amount.
</p>
<p>
Year-end auto closing entries are not included because they do not include project information.
</p>
</div>
</div>