﻿<!-- Copyright 2016 Ellucian Company L.P. and its affiliates. -->
<h2> Colleague Finance Help</h2>
<div class="help-content">
  <h3> <a href="#">Why am I seeing these projects?</a></h3>
  <div>
    <p> The projects that are listed are the projects that have been assigned to you in Colleague. If you do not see a project that you think should be assigned to you, contact the Finance office to get access. 
        The projects are sorted in alphabetical order by project number.</p>
  </div>
     <h3> <a href="#">How do I view the total actuals for the revenue line items for each project?</a></h3>
  <div>
    <p> The total actuals amount for the revenue line items on each project are displayed in the revenue bar graph for each project. 
        This amount includes all revenue actuals that have been posted or are scheduled to be posted. </p>
  </div>
   <h3> <a href="#">How do I view the total actuals and encumbrances for the expense line items for each project?</a></h3>
  <div>
    <p> The total expense amount for the expense line items on each project are displayed in the expense bar graph for each project. The total expense amount includes all actuals, encumbrances, and requisition amounts that have been posted or are scheduled to be posted. </p>
  </div>
     <h3> <a href="#">How do I view the financial health for each individual project? </a></h3>
<div>
    <p> For each project that has revenue, a bar graph is displayed on the Bar Graph view. The bar graph appears in different colors and represent how much of a cost center revenue has been received. </p>
    <p> On the List view, cost centers with only revenue line items do not have a Financial Health indicator. </p>
    <p> If there are no revenue transactions, the bar graph appears empty. If the project has no revenue line items in it, the revenue bar graph will not display and the revenue columns will not display on the list view. </p>
    <p> For each project that has expenses, a bar graph is displayed on the Bar Graph page and a Financial Health indicator in the List is displayed. The bar graph and indicators appear in different colors and represent how much of a cost center expense budget has been expensed. </p>
    <p> If there are no expenses on the expense line items on the project, the bar graph appears empty and the Financial Health indicator will be green. If the project has no expense line items in it, the expense bar graph will not display and the expense columns will not display on the list view. </p>
  </div>
<h3> <a href="#">What does the color mean for revenue? </a></h3>
<div>
    <p> The color to show progress is teal. If the revenue budget is over 100%, the color is dark teal. </p>
  </div>
<h3> <a href="#">What does a negative number mean for revenue? </a></h3>
<div>
    <p> Budget, actuals and encumbrances for revenue GL accounts have the sign reversed and credits show as positive numbers. This happens only on the My Cost Centers and Cost Center Detail pages. </p>
  </div>
<h3> <a href="#">What does each color mean for expenses? </a></h3>
<div>
    <p> If there is more than 15% of the budget remaining, the color is green. If there is less than 15% of more than .5% of the budget remaining, the color is yellow. If there is less than .5% of the budget remaining, the color is red. If the project is over budget, the bar graph is dark red. </p>
  </div>
<h3> <a href="#">What statuses are available to view? </a></h3>
<div>
    <p> The statuses available are "Active," "Inactive," and "Closed." </p>
  </div>
<h3> <a href="#">What filter options are available? </a></h3>
<div>
    <p> You can filter the projects by status and type. </p>
<p> For example, if you filter your projects by type of "Construction," your construction projects are displayed. If you have selected the status of "Active," as well, then all active construction projects are displayed. </p>
</div>
<h3> <a href="#">What views are available? </a></h3>
<div>
    <p> You can view your project information in either a bar graph view or list view. The information is the same for both the list and bar graph views. </p>
<p> If you click on a Project, you are taken to the Project Line Item view. </p>
  </div>
<h3> <a href="#">Where can I see my summary totals for the line items for a project? </a></h3>
<div>
    <p> You can click on the project to detail to the Project Line Item view. This is where you can see the summary totals for the line items for that project. </p>
  </div>
<h3> <a href="#">Where are the GL account number description components defined that are displayed on the views? </a></h3>
<div>
    <p> Use the Descriptions Display (GLND) form to create the Self-Service (SS) module definition. By creating the SS module definition, the components that you have defined are the components displayed for the GL accounts’ descriptions on the Self-Service views. If you do not create the Self-Service module on GLND, the default is used. The default is the descriptions for the last two major components defined on the Account Structure Maintenance (GLAS) form. </p>
  </div>
</div>
