﻿<div id="loan-default-rate-chart">
    <div class="left_bar" data-bind="attr: { 'id': LoanDefaultRateLevel() === 'Low' ? 'ldr-lower-bar' : null }">
        <div class="vbar_pointer" data-bind="visible: LoanDefaultRate() && NationalLoanDefaultRate()">
            <div class="bar-pointer-bubble">
                <span class="bar-pointer-text" aria-labelledby="this-institution" data-bind="percentage: LoanDefaultRate(), precision: 1"></span>
            </div>
            <div class="bar-pointer-arrow-down">&nbsp;</div>
        </div>
        <div data-bind="attr: { 'id': LoanDefaultRate() && NationalLoanDefaultRate() ? $data.loanDefaultRateLevel : 'ldr-left-bar-nodata' }">
            <span data-bind="visible: !LoanDefaultRate() || !NationalLoanDefaultRate(), attr: { 'id': 'ldr-left-bar-nodata-text', 'class': 'ldr-nodata-text' }">@Resources.ShoppingSheet.NoDataLabel</span>
        </div>
        <div class="vbar-baseline"></div>
        <div class="bar_baseline_text">
            <span id="this-institution" class="ss_scorecard_body baseline-label">@Resources.ShoppingSheet.LoanDefaultRateThisInstitutionLabel</span>
        </div>
    </div>
    <div class="right_bar" data-bind="attr: { 'id': NationalLoanDefaultRateLevel() === 'Low' ? 'ldr-lower-bar' : null }">
        <div class="vbar_pointer" data-bind="visible: LoanDefaultRate() && NationalLoanDefaultRate()">
            <div class="bar-pointer-bubble" id="white-vbar-pointer">
                <span class="bar-pointer-text" id="bar-pointer-text-black" aria-labelledby="national" data-bind="percentage: NationalLoanDefaultRate(), precision: 1"></span>
            </div>
            <div class="bar-pointer-arrow-down" id="white-vbar-pointer-arrow-down">&nbsp;</div>
        </div>
        <div data-bind="attr: { 'id': LoanDefaultRate() && NationalLoanDefaultRate() ? $data.nationalLoanDefaultRateLevel : 'ldr-right-bar-nodata' }">
            <span data-bind="visible: !LoanDefaultRate() || !NationalLoanDefaultRate(), attr: { 'class': 'ldr-nodata-text' }">@Resources.ShoppingSheet.NoDataLabel</span>
        </div>
        <div class="vbar-baseline" id="right-bar-baseline"></div>
        <div class="bar_baseline_text">
            <span id="national" class="ss_scorecard_body baseline-label">@Resources.ShoppingSheet.LoanDefaultRateNationalLabel</span>
        </div>
    </div>
</div>