﻿<!--ko if: InstitutionRepaymentRate() && NationalRepaymentRateAverage()-->
<div class="center_bar">
    <div class="bar_topline_text">
        <span aria-labelledby="this-institution" class="repayment-rate-percentage-text" data-bind="percentage: InstitutionRepaymentRate(), precision: 1"></span>
    </div>
    <div class="vbar_pointer" data-bind="style: {'top': vbarPointerTop()}">
        <div class="chart_bubble_div_body">
            <div class="bar-pointer-text">
                <span aria-labelledby="national" class="vbar_bubble_value_label repayment-rate-percentage-text" data-bind="percentage: NationalRepaymentRateAverage(), precision: 1">                    
                </span>
                <span id="national" class="repayment-rate-percentage-text">@Resources.ShoppingSheet.LoanRepaymentRateNationalAverageLabel</span>
            </div>
        </div>
    </div>
    <div class="bar_body" data-bind="style: {'height': barBodyHeight(), 'margin-top': barBodyMarginTop()}"></div>
    <div class="bar_average" data-bind="style: {'bottom': barAverageBottom()}"></div>
    <div class="bar_baseline_text">
        <span id="this-institution" class="ss_scorecard_body repayment-rate-scorecard-body">@Resources.ShoppingSheet.LoanRepaymentRateThisInstitutionLabel</span>
    </div>
</div>
<!-- /ko -->
<!-- ko if: !InstitutionRepaymentRate() || !NationalRepaymentRateAverage() -->
<div class="repayment-rate-nodata-chart">
    <div class="left_bar">
        <div id="ldr-left-bar-nodata">
            <span id="ldr-left-bar-nodata-text" class="ldr-nodata-text">@Resources.ShoppingSheet.NoDataLabel</span>
        </div>
        <div class="vbar-baseline"></div>
        <div class="bar_baseline_text">
            <span id="this-institution" class="ss_scorecard_body baseline-label">@Resources.ShoppingSheet.LoanRepaymentRateThisInstitutionLabel</span>
        </div>
    </div>
    <div class="right_bar">
        <div id="ldr-right-bar-nodata">
            <span class="ldr-nodata-text">@Resources.ShoppingSheet.NoDataLabel</span>
        </div>
        <div class="vbar-baseline" id="right-bar-baseline"></div>
        <div class="bar_baseline_text">
            <span id="national" class="ss_scorecard_body baseline-label">@Resources.ShoppingSheet.LoanRepaymentRateNationalAverageLabel</span>
        </div>
    </div>
</div>
<!-- /ko -->