﻿<!-- Copyright 2015-2017 Ellucian Company L.P. and its affiliates -->
<!--scripts -->
@section scripts {
    @Scripts.Render("~/bundles/financialaidshoppingsheetscripts")
}

@section styles {
    @Styles.Render("~/Areas/FinancialAid/Content/FinancialAidShoppingSheetBundlecss")
}

<div class="clear-group">
    <div id="page-description" class="column-five">
        <h2>@Resources.ShoppingSheet.PageTitle</h2>
        <p>@Resources.ShoppingSheet.PageDetail</p>
    </div>
</div>

<!-- Year selector bar with counselor info -->
<div data-bind="visible: showUI()">
    @Html.Partial("_CounselorContactAndYearSelector")
</div>

<!-- Shopping Sheet Page Container -->
<!-- The display: none and visible: true components here are a work-around for the fact that the mark-up is sometimes visible or
    "flickers" when the page is first opened if Knockout has not completed its legwork for applying bindings-->
<!-- ko ifnot: HasPrivacyRestriction() -->
<div class="column-nine" id="shopping-sheet-main">
    <spinner params="isVisible: !showUI(), message: '@Resources.ShoppingSheet.LoadingDataSpinnerMessage'"></spinner>
    <div data-bind="visible: showUI()">
        <div class="content">
            <!-- ko ifnot: selectedShoppingSheetForYear -->
            <message params="isVisible: true, message: '@Resources.ShoppingSheet.ShoppingSheetNotAvailableMessage'"></message>
            <!-- /ko -->
            <div id="shopping-sheet-body" data-bind="with: selectedShoppingSheetForYear">
                <div id="shopping-sheet-content">
                    <div id="dvBanner" class="clear-group">
                        <div id="dvBanner-content">
                            <div id="shopping-sheet-date">
                                <span id="spnDate" class="ss_header3" data-bind="text: CurrentDate"></span>
                            </div>
                            @if (!string.IsNullOrEmpty(ViewBag.AbsoluteReportLogoPath))
                            {
                                <div id="shopping-sheet-logo-container">
                                    <img id="shopping-sheet-logo" src="@ViewBag.AbsoluteReportLogoPath" alt="@Resources.ShoppingSheet.LogoAltText" aria-label="@Resources.ShoppingSheet.LogoAria" />
                                </div>
                            }
                            <div id="shopping-sheet-university-student-container" class="clear-group">
                                <div id="shopping-sheet-university-student-block">
                                    <div id="shopping-sheet-university-name" data-bind="with: FinancialAidOffice">
                                        <h3 id="spnSchoolName" class="ss_header1" data-bind="text: Name()"></h3>
                                    </div>
                                    <div id="shopping-sheet-student-name" data-bind="with: $root.Student">
                                        <h4 id="spnStudentName" class="ss_header2" data-bind="text: PreferredName() + ', ' + Id()"></h4>
                                    </div>
                                </div>
                            </div>
                            <!--
                            <button id="download-button" class="no-styles" onclick="downloadReport()" aria-label="">
                                <span id="download-button-text"></span>
                            </button>
                                -->
                        </div>
                    </div>
                    <div id="dvMainBody" class="clear-group">
                        <div id="dvMiddleLeft">
                            <div id="dvCosts" class="info-container">
                                <div class="ss-section-header">
                                    <h4 id="spnCostTab" class="ss_tap_item" data-bind="html: costsForYearLabel"></h4>
                                </div>
                                <div class="details">
                                    <div class="details-content">
                                        <div class="details-table-header clear-group">
                                            <div class="details-table-header-label">
                                                <h5 id="spnCostExplanation" class="ss_header_item">@Resources.ShoppingSheet.EstimatedCostOfAttendanceLabel</h5>
                                            </div>
                                            <div class="details-table-header-amount">
                                                <span class="ss_header_item" id="spnEstimatedCost" data-bind="text: TotalEstimatedCost()"></span>
                                                <span class="ss_body_item smaller-text">@Resources.ShoppingSheet.PerYearText</span>
                                            </div>
                                        </div>
                                        <div id="dvCostNumbers">
                                            <div class="details-table">
                                                <div class="details-table-row details-table-first-row">
                                                    <div class="details-table-cell details-table-first-column">
                                                        <span class="ss_body_item">@Resources.ShoppingSheet.TuitionAndFeesLabel</span>
                                                    </div>
                                                    <div class="details-table-cell details-table-second-column">
                                                        <div class="dotted-line" aria-hidden="true">&nbsp;</div>
                                                        <div>@Resources.ShoppingSheet.CurrencySign</div>
                                                    </div>
                                                    <div class="details-table-cell details-table-third-column">
                                                        <span class="ss_body_item" id="spnCost_TuitionFees" data-bind="text: TuitionAndFees()"></span>
                                                    </div>
                                                </div>
                                                <div class="details-table-row">
                                                    <div class="details-table-cell details-table-first-column">
                                                        <span class="ss_body_item">@Resources.ShoppingSheet.HousingAndMealsLabel</span>
                                                    </div>
                                                    <div class="details-table-cell details-table-second-column">
                                                        <div class="dotted-line" aria-hidden="true">&nbsp;</div>
                                                    </div>
                                                    <div class="details-table-cell details-table-third-column">
                                                        <span class="ss_body_item" id="spnCost_HousingMeals" data-bind="text: HousingAndMeals()"></span>
                                                    </div>
                                                </div>
                                                <div class="details-table-row">
                                                    <div class="details-table-cell details-table-first-column">
                                                        <span class="ss_body_item">@Resources.ShoppingSheet.BooksAndSuppliesLabel</span>
                                                    </div>
                                                    <div class="details-table-cell details-table-second-column">
                                                        <div class="dotted-line" aria-hidden="true">&nbsp;</div>
                                                    </div>
                                                    <div class="details-table-cell details-table-third-column">
                                                        <span class="ss_body_item" id="spnCost_BooksSupplies" data-bind="text: BooksAndSupplies()"></span>
                                                    </div>
                                                </div>
                                                <div class="details-table-row">
                                                    <div class="details-table-cell details-table-first-column">
                                                        <span class="ss_body_item">@Resources.ShoppingSheet.TransportationLabel</span>
                                                    </div>
                                                    <div class="details-table-cell details-table-second-column">
                                                        <div class="dotted-line" aria-hidden="true">&nbsp;</div>
                                                    </div>
                                                    <div class="details-table-cell details-table-third-column">
                                                        <span class="ss_body_item" id="spnCost_Trasnportation" data-bind="text: Transportation()"></span>
                                                    </div>
                                                </div>
                                                <div class="details-table-row">
                                                    <div class="details-table-cell details-table-first-column">
                                                        <span class="ss_body_item">@Resources.ShoppingSheet.OtherCostsLabel</span>
                                                    </div>
                                                    <div class="details-table-cell details-table-second-column">
                                                        <div class="dotted-line" aria-hidden="true">&nbsp;</div>
                                                    </div>
                                                    <div class="details-table-cell details-table-third-column">
                                                        <span class="ss_body_item" id="spnCost_Other" data-bind="text: OtherCosts()"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="dvGrants" class="info-container">
                                <div class="ss-section-header">
                                    <h4 id="spnGrantTabl" class="ss_tap_item">@Resources.ShoppingSheet.GrantsAndScholarshipsHeader</h4>
                                </div>
                                <div class="details">
                                    <div class="details-content">
                                        <div class="details-table-header clear-group">
                                            <div class="details-table-header-label">
                                                <h5 id="Span1" class="ss_header_item header-with-detail">@Resources.ShoppingSheet.TotalGrantsAndScholarshipsLabel</h5>
                                                <span class="ss_body_item header-detail">@Resources.ShoppingSheet.TotalGrantsAndScholarshipsLabelDetail</span>
                                            </div>
                                            <div class="details-table-header-amount">
                                                <span class="ss_header_item" id="spnGrant_Total" data-bind="text: TotalGrantsAndScholarships()"></span>
                                                <span class="ss_body_item smaller-text">@Resources.ShoppingSheet.PerYearText</span>
                                            </div>
                                        </div>
                                        <div id="dvGrantsNumbers">
                                            <div class="details-table">
                                                <div class="details-table-row details-table-first-row">
                                                    <div class="details-table-cell details-table-first-column">
                                                        <span class="ss_body_item">@Resources.ShoppingSheet.SchoolGrantsLabel</span>
                                                    </div>
                                                    <div class="details-table-cell details-table-second-column">
                                                        <div class="dotted-line" aria-hidden="true">&nbsp;</div>
                                                        <div>@Resources.ShoppingSheet.CurrencySign</div>
                                                    </div>
                                                    <div class="details-table-cell details-table-third-column">
                                                        <span class="ss_body_item" id="spnGrant_Grants" data-bind="text: SchoolGrants()"></span>
                                                    </div>
                                                </div>
                                                <div class="details-table-row">
                                                    <div class="details-table-cell details-table-first-column">
                                                        <span class="ss_body_item">@Resources.ShoppingSheet.PellGrantLabel</span>
                                                    </div>
                                                    <div class="details-table-cell details-table-second-column">
                                                        <div class="dotted-line" aria-hidden="true">&nbsp;</div>
                                                    </div>
                                                    <div class="details-table-cell details-table-third-column">
                                                        <span class="ss_body_item" id="spnGrant_FederalPellGrant" data-bind="text: FederalPellGrant()"></span>
                                                    </div>
                                                </div>
                                                <div class="details-table-row">
                                                    <div class="details-table-cell details-table-first-column">
                                                        <span class="ss_body_item">@Resources.ShoppingSheet.StateGrantsLabel</span>
                                                    </div>
                                                    <div class="details-table-cell details-table-second-column">
                                                        <div class="dotted-line" aria-hidden="true">&nbsp;</div>
                                                    </div>
                                                    <div class="details-table-cell details-table-third-column">
                                                        <span class="ss_body_item" id="spnGrant_State" data-bind="text: StateGrants()"></span>
                                                    </div>
                                                </div>
                                                <div class="details-table-row">
                                                    <div class="details-table-cell details-table-first-column">
                                                        <span class="ss_body_item">@Resources.ShoppingSheet.OtherScholarshipsLabel</span>
                                                    </div>
                                                    <div class="details-table-cell details-table-second-column">
                                                        <div class="dotted-line" aria-hidden="true">&nbsp;</div>
                                                    </div>
                                                    <div class="details-table-cell details-table-third-column">
                                                        <span class="ss_body_item" id="spnGrant_Other" data-bind="text: OtherGrants()"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="divPay" class="info-container">
                                <div class="ss-section-header">
                                    <h4 id="spnPayTab" class="ss_tap_item">@Resources.ShoppingSheet.NetCostsHeader</h4>
                                </div>
                                <div class="details">
                                    <div class="details-content">
                                        <div class="details-table-header clear-group">
                                            <div class="details-table-header-label">
                                                <h5 id="Span4" class="ss_header_item net-costs-header net-costs-text">@Resources.ShoppingSheet.NetCostsLabel</h5>
                                                <span class="ss_body_item smaller-text net-costs-text">@Resources.ShoppingSheet.NetCostsLabelDetail</span>
                                            </div>
                                            <div class="details-table-header-amount">
                                                <span class="ss_header_item net-costs-text" id="spnPay_NetCost" data-bind="currency: NetCosts(), precision: 0"></span>
                                                <span class="ss_body_item smaller-text net-costs-text">@Resources.ShoppingSheet.PerYearText</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h4 id="options-to-pay">@Resources.ShoppingSheet.OptionsToPayHeader</h4>
                            <div id="dvWork" class="info-container">
                                <div class="ss-section-header">
                                    <h4 id="spnWorkTab" class="ss_tap_item">@Resources.ShoppingSheet.WorkOptionsHeader</h4>
                                </div>
                                <div class="details">
                                    <div class="details-content">
                                        <div id="dvWorkNumbers">
                                            <div class="details-table details-table-without-header">
                                                <div class="details-table-row">
                                                    <div class="details-table-cell details-table-first-column">
                                                        <span class="ss_body_item">@Resources.ShoppingSheet.WorkStudyLabel</span>
                                                    </div>
                                                    <div class="details-table-cell details-table-second-column">
                                                        <div class="dotted-line" aria-hidden="true">&nbsp;</div>
                                                        <div>@Resources.ShoppingSheet.CurrencySign</div>
                                                    </div>
                                                    <div class="details-table-cell details-table-third-column">
                                                        <span class="ss_body_item" id="spnWork_WorkStudy" data-bind="text: WorkStudy()"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="dvLoan" class="info-container">
                                <div class="ss-section-header">
                                    <h4 id="spnLoanTab" class="ss_tap_item" aria-labelledby="loan-options-comment">@Resources.ShoppingSheet.LoanOptionsHeader</h4>
                                </div>
                                <div class="details">
                                    <div class="details-content">
                                        <div id="dvLoanNumbers">
                                            <div class="details-table details-table-without-header">
                                                <div class="details-table-row">
                                                    <div class="details-table-cell details-table-first-column">
                                                        <span class="ss_body_item">@Resources.ShoppingSheet.PerkinsLoanLabel</span>
                                                    </div>
                                                    <div class="details-table-cell details-table-second-column">
                                                        <div class="dotted-line" aria-hidden="true">&nbsp;</div>
                                                        <div>@Resources.ShoppingSheet.CurrencySign</div>
                                                    </div>
                                                    <div class="details-table-cell details-table-third-column">
                                                        <span class="ss_body_item" id="spnLoan_FederalPerkins" data-bind="decimal: PerkinsLoans(), precision: 0"></span>
                                                    </div>
                                                </div>
                                                <div class="details-table-row">
                                                    <div class="details-table-cell details-table-first-column">
                                                        <span class="ss_body_item">@Resources.ShoppingSheet.SubsidizedLoanLabel</span>
                                                    </div>
                                                    <div class="details-table-cell details-table-second-column">
                                                        <div class="dotted-line" aria-hidden="true">&nbsp;</div>
                                                    </div>
                                                    <div class="details-table-cell details-table-third-column">
                                                        <span class="ss_body_item" id="spnLoan_FederalSubsidized" data-bind="decimal: SubsidizedLoans(), precision: 0"></span>
                                                    </div>
                                                </div>
                                                <div class="details-table-row">
                                                    <div class="details-table-cell details-table-first-column">
                                                        <span class="ss_body_item">@Resources.ShoppingSheet.UnsubsidizedLoanLabel</span>
                                                    </div>
                                                    <div class="details-table-cell details-table-second-column">
                                                        <div class="dotted-line" aria-hidden="true">&nbsp;</div>
                                                    </div>
                                                    <div class="details-table-cell details-table-third-column">
                                                        <span class="ss_body_item" id="spnLoan_FederalUnSubsidized" data-bind="decimal: UnsubsidizedLoans(), precision: 0"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ss_body_item smaller-text options-comment" id="loan-options-comment">@Resources.ShoppingSheet.LoanOptionsComment</div>
                                    </div>
                                </div>
                            </div>
                            <div id="dvOtherOptions" class="info-container">
                                <div class="ss-section-header">
                                    <h4 id="spnOtherTab" class="ss_tap_item">@Resources.ShoppingSheet.OtherOptionsHeader</h4>
                                </div>
                                <div class="details">
                                    <div class="details-content" id="family-contribution-section-content">
                                        <div class="details-table-header clear-group">
                                            <div class="details-table-header-label family-contribution-content-margin">
                                                <h5 id="Span7" class="ss_header_item">@Resources.ShoppingSheet.FamilyContributionLabel</h5>
                                                <span class="ss_body_item smaller-text">@Resources.ShoppingSheet.FamilyContributionLabelDetail</span>
                                            </div>
                                            <div class="details-table-header-amount">
                                                <span class="ss_header_item" id="spnOther_FamilyContribution" data-bind="text: FamilyContribution()"></span>
                                                <span class="ss_body_item smaller-text" data-bind="attr: { 'aria-hidden': FamilyContribution() == ' ' ? 'false' : 'true' }">@Resources.ShoppingSheet.PerYearText</span>
                                            </div>
                                        </div>
                                        <div id="ss-divider">
                                            <div id="ss-divider-line">&nbsp;</div>
                                        </div>
                                        <div id="family-contribution-options">
                                            <div class="family-contribution-content-margin">
                                                <span class="offScreen">@Resources.ShoppingSheet.OtherOptionsExamples</span>
                                                <ul class="ss_body_item clear-group">
                                                    <li>@Resources.ShoppingSheet.FamilyContributionPaymentPlanOption</li>
                                                    <li>@Resources.ShoppingSheet.FamilyContributionServiceBenefitsOption</li>
                                                    <li>@Resources.ShoppingSheet.FamilyContributionPlusLoanOption</li>
                                                    <li>@Resources.ShoppingSheet.FamilyContributionPrivateEducationPlanOption</li>
                                                    <li aria-labelledby="american-opportunity-comment">@Resources.ShoppingSheet.FamilyContributionAmericanOpportunityOption</li>
                                                </ul>
                                            </div>
                                            <div class="ss_body_item smaller-text options-comment" id="american-opportunity-comment">@Resources.ShoppingSheet.AmericanOpportunityTaxCreditNote</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="dvMiddleRight">
                            <div id="dvScorecardElemnts" data-bind="with: configuration()">
                                <div id="dvScorecard_GR">
                                    <div class="clear-group">
                                        <div class="scorecard-section-info clear-group">
                                            <div id="graduation-rate-section-text">
                                                <div><span class="ss_scorecard_title">@Resources.ShoppingSheet.GraduationRateLabel</span></div>
                                                <div class="scorecard-section-text-detail">
                                                    <span id="spnScorecard_GRBody" class="ss_scorecard_body" data-bind="text: GraduationRateDetail()"></span>
                                                </div>
                                            </div>
                                            <div id="graduation-rate-image">
                                                <img src="~/Areas/FinancialAid/Content/Images/icon_hat.gif" alt="@Resources.ShoppingSheet.HatImage" />
                                            </div>
                                        </div>
                                    </div>
                                    <div id="dvScoreCard_GRChart">
                                        <div class="hbar_pointer" data-bind="visible: GraduationRate(), attr: { 'id': $data.graduationRateLevel }">
                                            <div class="bar-pointer-bubble">
                                                <span class="bar-pointer-text" data-bind="percentage: GraduationRate(), precision: 1"></span>
                                            </div>
                                            <div class="bar-pointer-arrow-down">&nbsp;</div>
                                        </div>
                                        <div data-bind="attr: { 'id': GraduationRate() ? 'graduation-rate-bar' : 'graduation-rate-bar-nodata' }">
                                            <span class="offScreen">@Resources.ShoppingSheet.GraduationRateExplanation</span>
                                            <span class="graduation-rate-bar-text" data-bind="attr: { 'aria-hidden': GraduationRateLevel() == 'Low' ? 'false' : 'true' }">@Resources.ShoppingSheet.LowGraduationRateLabel</span>
                                            <span class="graduation-rate-bar-separator">&nbsp;</span>
                                            <span class="graduation-rate-bar-text rate-label" data-bind="attr: { 'aria-hidden': GraduationRateLevel() == 'Medium' ? 'false' : 'true' }">@Resources.ShoppingSheet.MediumGraduationRateLabel</span>
                                            <span class="graduation-rate-bar-separator">&nbsp;</span>
                                            <span class="graduation-rate-bar-text rate-label" data-bind="attr: { 'aria-hidden': GraduationRateLevel() == 'High' ? 'false' : 'true' }">@Resources.ShoppingSheet.HighGraduationRateLabel</span>
                                        </div>
                                        <div class="scorecard-section-divider">&nbsp;</div>
                                    </div>
                                </div>
                                <div id="dvScorecardLoanDefaultRate">
                                    <div class="scorecard-section-info clear-group">
                                        <div id="loan-default-rate-image">
                                            <img src="~/Areas/FinancialAid/Content/Images/icon_percentage.gif" alt="@Resources.ShoppingSheet.PercentSignImage" />
                                        </div>
                                        <div id="loan-default-rate-section-text">
                                            <div><span class="ss_scorecard_title" data-bind="text: $parent.IsPrior2017() ? '@Resources.ShoppingSheet.LoanDefaultRateLabel' : '@Resources.ShoppingSheet.LoanRepaymentRateLabel'"></span></div>
                                            <div class="scorecard-section-text-detail">
                                                <span id="spnScorecard_LoanDefaultRateBody" class="ss_scorecard_body" data-bind="text: $parent.IsPrior2017() ? LoanDefaultRateDetail() : RepaymentRateDetail()"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="dvScoreCard_LoanDefaultRateChart">
                                        <!--ko if: $parent.IsPrior2017()-->
                                        @Html.Partial("LoanDefaultRateChartPartial")
                                        <!-- /ko -->
                                        <!--ko ifnot: $parent.IsPrior2017()-->
                                        @Html.Partial("LoanRepaymentRateChartPartial")
                                        <!-- /ko -->
                                    </div>
                                    <div class="scorecard-section-divider">&nbsp;</div>
                                </div>
                                <div id="dvScorecardMedianBorrowing">
                                    <div class="scorecard-section-info clear-group">
                                        <div id="median-borrowing-section-text">
                                            <div><span class="ss_scorecard_title">@Resources.ShoppingSheet.MedianBorrowingLabel</span></div>
                                            <div class="scorecard-section-text-detail">
                                                <span id="spnScorecard_MedianBorrowingBody" class="ss_scorecard_body" data-bind="text: MedianBorrowingDetail()"></span>
                                            </div>
                                        </div>
                                        <div id="median-borrowing-image" aria-hidden="true">@Resources.ShoppingSheet.CurrencySign</div>
                                    </div>
                                </div>
                            </div>
                            <div class="right-side-info-container">
                                <div class="right-side-container-details">
                                    <div class="right-side-container-title">
                                        <span>@Resources.ShoppingSheet.RepayingLoansLabel</span>
                                    </div>
                                    <div class="right-side-container-text" id="repaying-loan-section-text">
                                        <span class="ss_body_item">@Resources.ShoppingSheet.RepayingLoansMessage</span>
                                        <a class="ss_a_link" href="@Resources.ShoppingSheet.RepayingLoansLink" target='@Resources.ShoppingSheet.ExternalLinkTarget'>@Resources.ShoppingSheet.RepayingLoansLink</a>
                                    </div>
                                </div>
                            </div>
                            <div class="right-side-info-container" data-bind="with: FinancialAidOffice">
                                <div class="right-side-container-details">
                                    <div class="right-side-container-title">@Resources.ShoppingSheet.MoreInfoLabel</div>
                                    <div class="right-side-container-text">
                                        <div><span id="spnInfo_SchoolName" data-bind="text: ContactName()"></span></div>
                                        <div class="div-address-label"><span id="spnInfo_FinancialOffice">@Resources.ShoppingSheet.FinancialAidOfficeSubheader</span></div>
                                        <div id="div-address-label-first-line"><span id="spnInfo_Address1" data-bind="text: Address()[0]"></span></div>
                                        <div class="div-address-label"><span id="spnInfo_CityStateZip" data-bind="text: Address()[1]"></span></div>
                                        <div class="div-address-label"><span id="spnInfo_Phone" data-bind="text: PhoneNumber()"></span></div>
                                        <div class="div-address-label"><span id="spnInfo_Email" data-bind="text: EmailAddress()"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="dvFooter">
                        <div class="customized-info-container">
                            <div id="dvCustomizedInformation" data-bind="foreach: CustomMessagesSet1">
                                <p data-bind="text: $data"></p>
                            </div>
                        </div>
                    </div>
                    <div id="dvGlossary">
                        <div class="info-container">
                            <div class="ss-section-header">
                                <h4 id="spnGlossary" class="ss_tap_item">@Resources.ShoppingSheet.GlossaryHeader</h4>
                            </div>
                            <div class="details">
                                <div id="dvGlossaryContent">
                                    <div id="glossary-first-entry">
                                        <span class="ss_header_item">@Resources.ShoppingSheet.CostOfAttendanceGlossaryLabel</span>
                                        <p class="ss_body_item" data-bind="text: costOfAttendanceGlossaryText"></p>
                                    </div>
                                    <div class="glossary-entry">
                                        <span class="ss_header_item">@Resources.ShoppingSheet.TotalGrantsGlossaryLabel</span>
                                        <p class="ss_body_item">@Resources.ShoppingSheet.TotalGrantsGlossaryText</p>
                                    </div>
                                    <div class="glossary-entry">
                                        <span class="ss_header_item">@Resources.ShoppingSheet.NetCostsGlossaryLabel</span>
                                        <p class="ss_body_item" data-bind="text: netCostGlossaryText"></p>
                                    </div>
                                    <div class="glossary-entry">
                                        <span class="ss_header_item">@Resources.ShoppingSheet.WorkStudyGlossaryLabel</span>
                                        <p class="ss_body_item">@Resources.ShoppingSheet.WorkStudyGlossaryText</p>
                                    </div>
                                    <div class="glossary-entry">
                                        <span class="ss_header_item">@Resources.ShoppingSheet.LoansGlossaryLabel</span>
                                        <p class="ss_body_item">@Resources.ShoppingSheet.LoansGlossaryText</p>
                                    </div>
                                    <div class="glossary-entry">
                                        <span class="ss_header_item">@Resources.ShoppingSheet.FamilyContributionGlossaryLabel</span>
                                        <p class="ss_body_item">@Resources.ShoppingSheet.FamilyContributionGlossaryText</p>
                                    </div>
                                    <div class="glossary-entry">
                                        <span class="ss_header_item">@Resources.ShoppingSheet.GraduationRateGlossaryLabel</span>
                                        <p class="ss_body_item">@Resources.ShoppingSheet.GraduationRateGlossaryText</p>
                                    </div>
                                    <div class="glossary-entry">
                                        <span class="ss_header_item" data-bind="text: IsPrior2017() ? '@Resources.ShoppingSheet.LoanDefaultRateGlossaryLabel' : '@Resources.ShoppingSheet.LoanRepaymentRateGlossaryLabel'"></span>
                                        <p class="ss_body_item" data-bind="text: IsPrior2017() ? '@Resources.ShoppingSheet.LoanDefaultRateGlossaryText' : '@Resources.ShoppingSheet.LoanRepaymentRateGlossaryText'"></p>
                                    </div>
                                    <div class="glossary-entry">
                                        <span class="ss_header_item">@Resources.ShoppingSheet.MedianBorrowingGlossaryLabel</span>
                                        <p class="ss_body_item">@Resources.ShoppingSheet.MedianBorrowingGlossaryText</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="dvGlossaryFooter">
                            <div class="customized-info-container">
                                <div id="dvCustomizedGlossaryInformation" data-bind="foreach: CustomMessagesSet2">
                                    <p data-bind="text: $data"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->
