﻿<!--
    Column breakdown
        Column 3 - Labels
        Column 4 - Time
        Column 2 - Buttons

-->
<section class="section-contents clear-group">
    <h4 class="section-header clear-group">
        <span class="column-three">
            <span class="full-width" data-bind="resx: ['TimeApproval.TimeApprovalPayPeriodEndingLabel', periodEndDateDisplay()]">
            </span>
            <span class="full-width pay-cycle-label" data-bind="text: PayCycleDescription"></span>
            <span class="full-width due-date" data-bind="text: timecardDueDateTimeDisplay()">
            </span>
        </span>
        <span class="column-four text-align-right normal-header-text">
            <span class="column-three " data-bind="resx: 'TimeApproval.TimeApprovalTotalHoursLabel'"></span>
            <span class="column-three" data-bind="resx: 'TimeApproval.TimeApprovalRegularHoursLabel'"></span>
            <span class="column-three" data-bind="resx: 'TimeApproval.TimeApprovalOvertimeHoursLabel'"></span>
        </span>
        <span class="column-two">&nbsp;</span>
    </h4>

    <!-- ko foreach: EmployeeModels -->

    <employee-timecard-summary class="component"
                               params="dataModel: $data,                                
                                startDate: $parent.PeriodStartDate,
                                endDate: $parent.PeriodEndDate,
                                payCycleId: $parent.PayCycleId,
                                supervisorName: $parent.supervisorName,
                                supervisorCutoffDateTime: $parent.SupervisorCutoffDateTime,
                                isForHistoricalPayPeriod: $parent.IsForHistoricalPayPeriod">

    </employee-timecard-summary>

    <!-- /ko-->



</section>
