﻿@import '_colors.scss';

pay-period-collection {

    .section-header:first-child {
        border: none;
        background-color: $color-base-65;
        color: $color-base-40;

        .normal-header-text {
            font-size: small;
            font-weight: normal;
        }

        .due-date {
            @extend .normal-header-text;
            padding-top: .5em;
        }

        .pay-cycle-label {
            font-size: smaller;
        }
    }
}

