﻿@*Copyright 2015-2016 Ellucian Company L.P. and its affiliates*@
@using Ellucian.Web.Mvc.Menu;
@using Ellucian.Web.Mvc.Models;
@using Ellucian.Web.Student.Utility
@{
    Site site = DependencyResolver.Current.GetService<ISiteService>().Get(this.CurrentUser);
}

@*Page Greeting*@
<div id="page-description" class="esg-page-header">
    <h2 id="employee-home-greeting" class="esg-page-header__title">
        @Resources.HumanResources.HomePageGreeting
    </h2>
</div>

<div class="clear-group column-nine">
    <section class="sitehome-wrapper clear-group">

        @if (site != null)
        {
            if (site.Menus.Where(m => !m.Hidden).Count() == 0)
            {
                <message params="isVisible: true, message: '@Resources.UserAccountResources.NoMenuItems'"></message>
            }


            var employeeSubmenu = site.Submenus
                .Where(sm => sm.Id == Resources.Navigation.EmployeesMenuId && SitemapUtility.MenuContainsVisibleItems(sm))
                .FirstOrDefault();

            if (employeeSubmenu != null)
            {

                var pages = SitemapUtility.SortItems(employeeSubmenu).Items
                    .Where(i => i.ItemType == Ellucian.Web.Mvc.Domain.Entities.MenuItemType.Page)
                    .Select(i => ((MenuItemPage)i).Page)
                    .Where(p => !p.Hidden);


                foreach (var page in pages)
                {
                    //var page = (MenuItemPage)item;

                    var linkRef = Url.Action(page.Action, page.Controller, new { Area = page.Area });
                    var descText = "";
                    if (page.Id == Resources.Navigation.BankingInformationPageId)
                    {
                        descText = Resources.Navigation.BankingInformationDescription;
                    }
                    else if (page.Id == Resources.Navigation.TimeSheetId)
                    {
                        descText = Resources.Navigation.TimeSheetDescription;
                    }
                    else if (page.Id == Resources.Navigation.ApproveTimeSheetsId)
                    {
                        descText = Resources.Navigation.ApproveTimeSheetsDescription;
                    }

                    if (!string.IsNullOrEmpty(linkRef) && !page.Hidden && page.Id != Resources.Navigation.EmployeeHomePageId)
                    {
                        if (page.Id == Resources.Navigation.TaxInformationId)
                        {
                            if (ViewBag.Form1095C)
                            {
                                <div class="sitehome-expandednavlink">
                                    <a href='@(linkRef + "#Form1095C")' aria-labelledby="1095-heading-phonetic 1095-description">
                                        <div class="@string.Format("{0}_expandednavlink", page.Id)" aria-hidden="true">
                                            <h3 id="1095-heading">@Resources.TaxForms.Form1095CSectionHeadingText</h3>
                                            <span id="1095-heading-phonetic" class="offScreen">@Resources.TaxForms.Form1095CSectionHeadingPhoneticText</span>
                                            <p id="1095-description">@Resources.TaxForms.Form1095CSectionDescription</p>
                                        </div>
                                    </a>
                                </div>
                            }
                            if (ViewBag.W2)
                            {
                                <div class="sitehome-expandednavlink">
                                    <a href="@(linkRef + "#FormW2")" aria-labelledby="w2-heading w2-description">
                                        <div class="@string.Format("{0}_expandednavlink", page.Id)" aria-hidden="true">
                                            <h3 id="w2-heading">@Resources.TaxForms.W2SectionHeadingText</h3>
                                            <p id="w2-description">@Resources.TaxForms.W2SectionDescription</p>
                                        </div>
                                    </a>
                                </div>
                            }
                            if (ViewBag.Form1098)
                            {
                                <div class="sitehome-expandednavlink">
                                    <a href="@(linkRef + "#Form1098")" aria-labelledby="1098-heading 1098-description">
                                        <div class="@string.Format("{0}_expandednavlink", page.Id)" aria-hidden="true">
                                            <h3 id="1098-heading">@Resources.TaxForms.Form1098SectionHeadingText</h3>
                                            <p id="1098-description">@Resources.TaxForms.Form1098SectionDescription</p>
                                        </div>
                                    </a>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="sitehome-expandednavlink">
                                <a href="@linkRef">
                                    <div class="@string.Format("{0}_expandednavlink", page.Id)">
                                        <h3>@page.Label</h3>
                                        <p>@descText</p>
                                    </div>
                                </a>
                            </div>
                        }
                    }
                }
            }
        }
    </section>















</div>
