﻿<!--/* Copyright 2017 Ellucian Company L.P. and its affiliates. */-->
<!--<div class="column-eight column-eight-sm">
    <div>
        <span class="full-width position-title" data-bind="text: positionTitle"></span>
        <span class="full-width position-id" data-bind="text: positionId"></span>
    </div>

</div>-->

<div>
    <span class="total-hours" data-bind="text: timecardHours().toFixed(2)"></span>
    <span data-bind="visible: hasTimecardStatus">
        <span> | </span>
        <span data-bind="text: timecardStatusText, css: timecardStatusClass"></span>
    </span>
</div>

