﻿@*Copyright 2013-2017 Ellucian Company L.P. and its affiliates.*@
@using Newtonsoft.Json;
@model dynamic

<script type="text/javascript">
    @if (ViewBag.IsWithDegreePlan != null)
    {
        @:isWithDegreePlan = Boolean(@ViewBag.IsWithDegreePlan.ToString().ToLowerInvariant());
            }
    else
    {
        @:isWithDegreePlan = Boolean(false);
            }


    var Ellucian = Ellucian || {};
    Ellucian.Course = Ellucian.Course || {};
    Ellucian.Course.SearchResult=Ellucian.Course.SearchResult || {};
    Ellucian.Course.SearchResult.prototype={
        jsonData :''
    };
    //ViewModel is SearchCriteriaModel
    Ellucian.Course.SearchResult.jsonData = @Html.Raw(JsonConvert.SerializeObject(Model.ViewModel, new JsonSerializerSettings
    {
        ContractResolver = new Newtonsoft.Json.Serialization.CamelCasePropertyNamesContractResolver(),
    }));

</script>



@section Scripts
{
    @Scripts.Render("~/bundles/guesthomecoursessearchresultscripts")

}


<div id="page-description" class="esg-page-header esg-has-subtitle">
    <div class="esg-page-header-subtitle__wrapper">
        <h2 class="esg-page-header__title">@Resources.Courses.PageDescription</h2>
        <a class="esg-page-header__subtitle esg-page-header__subtitle--backlink" href="@Url.Action("Index", "Courses")">
            <span class="esg-icon__container esg-page-header__icon" aria-hidden="true">
                <svg class="esg-icon esg-icon--left">
                    <use xlink:href="#icon-arrow"></use>
                </svg>
            </span>@Resources.Advisors.BackToCourseCatalogLink
        </a>
    </div>
    <div id="page-description-other" class="esg-page-header__input">
        @Html.Partial("CourseSearchForm")
    </div>
</div>
<div id="dp-monolith" class="column-nine clear-group">
    <!-- Spinner for page loading -->
    <spinner id="spinner" params="isVisible: isLoading(), message: Ellucian.Course.SearchResult.stringCourseSearchResultLoadingDataSpinnerMessage"></spinner>

    <div id="course-search-result">
        <!-- filter pane -->
        <div class="column-two" style="display: none;" data-bind="visible: CurrentPageIndex() != null">
            @Html.Partial("Courses/_SearchResultFilters", new { FilterSelectionType = "STATIC", DefaultFiltersSettings = Model.DefaultFiltersSettings })
        </div>
        <!-- results pane -->
        <div class="column-seven" style="display: none;" data-bind="visible:  CurrentPageIndex() != null">
            @Html.Partial("Courses/_SearchResultDetail", new { FilterSelectionType = "DROPDOWN", DefaultFiltersSettings = Model.DefaultFiltersSettings })
        </div>
    </div>
</div>


<!-- Section Details/Add dialog -->
@Html.Partial("../Shared/Courses/_SectionDetails")
<!-- Spinner for dialog loading -->
<modal-spinner id="loading" params="isVisible: isLoading, message: LoadingMessage"></modal-spinner>