﻿<!-- Copyright 2017 Ellucian Company L.P. and its affiliates. -->

<script type="text/html" id="transaction-template">
    <!-- ko foreach: { data: lineItem.GlAccounts, as: 'glAccount' } -->
    <!-- ko if: glAccount.GlAccount() == $root.GlNumberSelected() -->
    <!-- GL Number and description -->
    <h3 class="section-header gl-number-description" data-bind="visible: $root.GlDetailView()">
        <span class="gl-account-number">
            <span class="offScreen">@Resources.ColleagueFinanceHome.GLAccountNumberText</span>
            <span class="" data-bind="text: glAccount.FormattedGlAccount"></span>
        </span>
        <span data-bind="text: glAccount.Description"></span>
    </h3>

    <div class="section-contents">
        <div class="gl-details-tabset" role="tablist">
            <div role="tab" aria-selected="true" tabindex="0" class="gl-details-tab gl-tab-encumbrances" data-bind="selectEncumbrancesTab: {}">@Resources.ColleagueFinanceHome.EncumbrancesText</div>
            <div role="tab" aria-selected="false" tabindex="0" class="gl-details-tab gl-tab-actuals" data-bind="selectActualsTab: {}">@Resources.ColleagueFinanceHome.ActualsText</div>
        </div>

        <div id="encumbrance-panel" class="gl-detail-panel">
            <!-- ko if: glAccount.EncumbranceTransactions().length > 0 -->
            <table id="encumbrances-table" class="gl-detail-table" role="grid" aria-readonly="true" data-bind="visible: $root.ShowEncumbrancesTable()">
                <caption>
                    <div class="gl-detail-header-left">@Resources.ColleagueFinanceHome.EncumbrancesText</div>
                    <div class="gl-detail-header-right">
                        <span class="offScreen">Total</span>
                        <span data-bind="text: glAccount.Encumbrances"></span>
                    </div>
                </caption>

                <thead>
                    <tr>
                        <th scope="col" class="gl-details-transaction-header gl-details-align-left gl-details-document-id" role="columnheader">@Resources.ColleagueFinanceHome.DocumentIdHeader</th>
                        <th scope="col" class="gl-details-transaction-header gl-details-align-left gl-details-date" role="columnheader">@Resources.ColleagueFinanceHome.DateHeader</th>
                        <th scope="col" class="gl-details-transaction-header gl-details-align-left gl-details-description" role="columnheader">@Resources.ColleagueFinanceHome.DescriptionHeader</th>
                        <th scope="col" class="gl-details-transaction-header gl-details-align-right gl-details-amount" role="columnheader">@Resources.ColleagueFinanceHome.AmountHeader</th>
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <th class="actuals-encumbrances-footer gl-details-align-left" colspan="2">Total</th>
                        <th class="actuals-encumbrances-footer gl-details-align-right" data-bind="text: glAccount.Encumbrances"></th>
                    </tr>
                </tfoot>

                <tbody data-bind="template: { name: 'gl-detail-transaction', foreach: glAccount.EncumbranceTransactions }"></tbody>
            </table>
            <!-- /ko -->
            <!-- Display an "info" message if there are no Encumbrance transactions -->
            <!-- ko if: glAccount.EncumbranceTransactions().length == 0 && $root.ShowEncumbrancesTable() -->
            <div class="no-transactions-container">
                <div class="esg-table-actions__title">
                    <div>@Resources.ColleagueFinanceHome.EncumbrancesText</div>
                </div>

                <message params="isVisible: true, message: '@Resources.ColleagueFinanceHome.NoTransactionsMessage'"></message>
            </div>
            <!-- /ko -->
        </div>

        <div id="actual-panel" class="gl-detail-panel">
            <!-- ko if: glAccount.ActualTransactions().length > 0 -->
            <table id="actuals-table" class="gl-detail-table" role="grid" aria-readonly="true" data-bind="visible: $root.ShowActualsTable()">
                <caption>
                    <div class="gl-detail-header-left">@Resources.ColleagueFinanceHome.ActualsText</div>
                    <div class="gl-detail-header-right">
                        <span class="offScreen">Total</span>
                        <span data-bind="text: glAccount.Actuals"></span>
                    </div>
                </caption>

                <thead>
                    <tr>
                        <th scope="col" class="gl-details-transaction-header gl-details-align-left gl-details-document-id" role="columnheader">@Resources.ColleagueFinanceHome.DocumentIdHeader</th>
                        <th scope="col" class="gl-details-transaction-header gl-details-align-left gl-details-date" role="columnheader">@Resources.ColleagueFinanceHome.DateHeader</th>
                        <th scope="col" class="gl-details-transaction-header gl-details-align-left gl-details-description" role="columnheader">@Resources.ColleagueFinanceHome.DescriptionHeader</th>
                        <th scope="col" class="gl-details-transaction-header gl-details-align-right gl-details-amount" role="columnheader">@Resources.ColleagueFinanceHome.AmountHeader</th>
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <th class="actuals-encumbrances-footer gl-details-align-left" colspan="2">Total</th>
                        <th class="actuals-encumbrances-footer gl-details-align-right" data-bind="text: glAccount.Actuals"></th>
                    </tr>
                </tfoot>


                <tbody data-bind="template: { name: 'gl-detail-transaction', foreach: glAccount.ActualTransactions }"></tbody>
            </table>
            <!-- /ko -->
            <!-- Display an "info" message if there are no Actuals transactions -->
            <!-- ko if: glAccount.ActualTransactions().length == 0 && $root.ShowActualsTable() -->
            <div class="no-transactions-container">
                <div class="esg-table-actions__title">
                    <div>@Resources.ColleagueFinanceHome.ActualsText</div>
                </div>
                <message params="isVisible: true, message: '@Resources.ColleagueFinanceHome.NoTransactionsMessage'"></message>
            </div>
            <!-- /ko -->
        </div>
    </div>
    <!-- /ko -->
    <!-- /ko -->
</script>

<script type="text/html" id="transaction-template-negative-totals">
    <!-- ko foreach: { data: lineItem.GlAccounts, as: 'glAccount' } -->
    <!-- ko if: glAccount.GlAccount() == $root.GlNumberSelected() -->
    <!-- GL Number and description -->
    <h3 class="section-header gl-number-description" data-bind="visible: $root.GlDetailView()">
        <span class="gl-account-number">
            <span class="offScreen">@Resources.ColleagueFinanceHome.GLAccountNumberText</span>
            <span class="" data-bind="text: glAccount.FormattedGlAccount"></span>
        </span>
        <span data-bind="text: glAccount.Description"></span>
    </h3>

    <div class="section-contents">
        <div class="gl-details-tabset" role="tablist">
            <div role="tab" aria-selected="true" tabindex="0" class="gl-details-tab gl-tab-encumbrances" data-bind="selectEncumbrancesTab: {}">@Resources.ColleagueFinanceHome.EncumbrancesText</div>
            <div role="tab" aria-selected="false" tabindex="0" class="gl-details-tab gl-tab-actuals" data-bind="selectActualsTab: {}">@Resources.ColleagueFinanceHome.ActualsText</div>
        </div>

        <div id="encumbrance-panel" class="gl-detail-panel">
            <!-- ko if: glAccount.EncumbranceTransactions().length > 0 -->
            <table id="encumbrances-table" class="gl-detail-table" role="grid" aria-readonly="true" data-bind="visible: $root.ShowEncumbrancesTable()">
                <caption>
                    <div class="gl-detail-header-left">@Resources.ColleagueFinanceHome.EncumbrancesText</div>
                    <div class="gl-detail-header-right">
                        <span class="offScreen">Total</span>
                        <span data-bind="text: glAccount.NegativeEncumbrances"></span>
                    </div>
                </caption>

                <thead>
                    <tr>
                        <th scope="col" class="gl-details-transaction-header gl-details-align-left gl-details-document-id" role="columnheader">@Resources.ColleagueFinanceHome.DocumentIdHeader</th>
                        <th scope="col" class="gl-details-transaction-header gl-details-align-left gl-details-date" role="columnheader">@Resources.ColleagueFinanceHome.DateHeader</th>
                        <th scope="col" class="gl-details-transaction-header gl-details-align-left gl-details-description" role="columnheader">@Resources.ColleagueFinanceHome.DescriptionHeader</th>
                        <th scope="col" class="gl-details-transaction-header gl-details-align-right gl-details-amount" role="columnheader">@Resources.ColleagueFinanceHome.AmountHeader</th>
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <th class="actuals-encumbrances-footer gl-details-align-left" colspan="2">Total</th>
                        <th class="actuals-encumbrances-footer gl-details-align-right" data-bind="text: glAccount.NegativeEncumbrances"></th>
                    </tr>
                </tfoot>

                <tbody data-bind="template: { name: 'gl-detail-transaction', foreach: glAccount.EncumbranceTransactions }"></tbody>
            </table>
            <!-- /ko -->
            <!-- Display an "info" message if there are no Encumbrance transactions -->
            <!-- ko if: glAccount.EncumbranceTransactions().length == 0 && $root.ShowEncumbrancesTable() -->
            <div class="no-transactions-container">
                <div class="esg-table-actions__title">
                    <div>@Resources.ColleagueFinanceHome.EncumbrancesText</div>
                </div>

                <message params="isVisible: true, message: '@Resources.ColleagueFinanceHome.NoTransactionsMessage'"></message>
            </div>
            <!-- /ko -->
        </div>

        <div id="actual-panel" class="gl-detail-panel">
            <!-- ko if: glAccount.ActualTransactions().length > 0 -->
            <table id="actuals-table" class="gl-detail-table" role="grid" aria-readonly="true" data-bind="visible: $root.ShowActualsTable()">
                <caption>
                    <div class="gl-detail-header-left">@Resources.ColleagueFinanceHome.ActualsText</div>
                    <div class="gl-detail-header-right">
                        <span class="offScreen">Total</span>
                        <span data-bind="text: glAccount.NegativeActuals"></span>
                    </div>
                </caption>

                <thead>
                    <tr>
                        <th scope="col" class="gl-details-transaction-header gl-details-align-left gl-details-document-id" role="columnheader">@Resources.ColleagueFinanceHome.DocumentIdHeader</th>
                        <th scope="col" class="gl-details-transaction-header gl-details-align-left gl-details-date" role="columnheader">@Resources.ColleagueFinanceHome.DateHeader</th>
                        <th scope="col" class="gl-details-transaction-header gl-details-align-left gl-details-description" role="columnheader">@Resources.ColleagueFinanceHome.DescriptionHeader</th>
                        <th scope="col" class="gl-details-transaction-header gl-details-align-right gl-details-amount" role="columnheader">@Resources.ColleagueFinanceHome.AmountHeader</th>
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <th class="actuals-encumbrances-footer gl-details-align-left" colspan="2">Total</th>
                        <th class="actuals-encumbrances-footer gl-details-align-right" data-bind="text: glAccount.NegativeActuals"></th>
                    </tr>
                </tfoot>


                <tbody data-bind="template: { name: 'gl-detail-transaction', foreach: glAccount.ActualTransactions }"></tbody>
            </table>
            <!-- /ko -->
            <!-- Display an "info" message if there are no Actuals transactions -->
            <!-- ko if: glAccount.ActualTransactions().length == 0 && $root.ShowActualsTable() -->
            <div class="no-transactions-container">
                <div class="esg-table-actions__title">
                    <div>@Resources.ColleagueFinanceHome.ActualsText</div>
                </div>
                <message params="isVisible: true, message: '@Resources.ColleagueFinanceHome.NoTransactionsMessage'"></message>
            </div>
            <!-- /ko -->
        </div>
    </div>
    <!-- /ko -->
    <!-- /ko -->
</script>