﻿<!-- Copyright 2017 Ellucian Company L.P. and its affiliates. -->

<script type="text/html" id="project-line-item-template">
    @*Line item controller*@
    <tr class="line-item-details each-detail collapsible" data-bind="toggleCollapsibleRow: { isTable: false }, updateSubtotalBrowserMemoryList: { memoryName: 'activeLineItems' }, clickBubble: false, attr: { id: lineItem.GlClass() + '-' + lineItem.ItemCode() }">
        <td class="line-item-controller" scope="col">
            <div class="inline">
                <button type="button" class="expand-details no-styles" aria-expanded="false">
                    <span class="arrow"></span>
                    <span class="offScreen">@Resources.ColleagueFinanceHome.ExpandLabel</span>
                </button>
            </div>
            <span class="project-line-item-description" data-bind="text: lineItem.ItemCodeDescription"></span>
            <span data-bind="text: ' ' + lineItem.ItemCode()"></span>
        </td>
        <td class="list-view-group-budget" data-bind="text: lineItem.TotalBudget" scope="col"></td>
        <td class="list-view-group-actuals" data-bind="text: lineItem.TotalActuals" scope="col"></td>
        <td class="list-view-group-encumbrances" data-bind="text: lineItem.TotalEncumbrances" scope="col"></td>
        <td class="list-view-group-remaining" scope="col">
            <span data-bind="text: lineItem.BudgetRemainingFormatted, css: lineItem.ColorCodeStyle, attr: { 'aria-hidden': true }"></span>
            <span class="offScreen" data-bind="text: lineItem.BudgetRemaining() < 0 ?
                                            lineItem.BudgetRemainingForScreenReader() + projectOverBudgetText :
                                            lineItem.BudgetRemainingString()"></span>
        </td>
        <td class="list-view-group-percent" scope="col">
            <span data-bind="text: lineItem.PercentProcessed, css: lineItem.ColorCodeStyle"></span>
            <span class="offScreen">@Resources.ColleagueFinanceHome.BudgetPercentSpentForScreenReader</span>
        </td>
        <td class="list-view-group-health" data-bind="css: lineItem.FinancialHealthIndicatorClass">
            <span class="offScreen" data-bind="text: lineItem.FinancialHealthTextForScreenReader"></span>
        </td>
    </tr>

    @*Line item content*@

    @*Amounts pending posting*@
    <!-- ko if: lineItem.TotalMemos() != 0 -->
    <tr class="nested-row gl-item-details amount-pending-posting hide-content">
        <td class="list-view-gl-number-description gl-detail pending-posting-text">
            <span>@Resources.ColleagueFinanceHome.AmountPendingPostingText</span>
        </td>
        <td class="list-view-budget-blank pending-posting">&nbsp;</td>
        <td class="list-view-gl-actuals-encumbrances gl-detail pending-posting-value" data-bind="text: lineItem.TotalMemoActuals"></td>
        <td class="list-view-gl-actuals-encumbrances gl-detail pending-posting-value" data-bind="text: lineItem.TotalMemoEncumbrances"></td>
        <td class="list-view-gl-remaining gl-detail pending-posting" data-bind="text: lineItem.TotalMemosDisplay"></td>
        <td class="list-view-gl-remaining gl-detail pending-posting-blank">&nbsp;</td>
        <td class="list-view-group-percent gl-detail">&nbsp;</td>
        <td class="list-view-group-health gl-detail">&nbsp;</td>
    </tr>
    <!-- /ko -->        @*TotalMemos != 0 condition*@

    <!-- ko foreach: { data: lineItem.GlAccounts, as: 'glAccountRow' } -->
    <tr class="nested-row gl-item-details hide-content" data-bind="toggleGlDetailView: { 'glNumber' : glAccountRow.GlAccount(), 'itemCode' : lineItem.ItemCode(), 'itemCodeDescription' : lineItem.ItemCodeDescription() }">
        <td class="list-view-gl-number-description gl-detail gl-number">
            <span class="offScreen">@Resources.ColleagueFinanceHome.GLAccountNumberText</span>
            <span class="list-view-gl-number" data-bind="text: glAccountRow.FormattedGlAccount"></span>
            <span class="list-view-gl-description" data-bind="text: glAccountRow.Description"></span>
        </td>
        <td class="list-view-group-budget list-view-budget-blank">&nbsp;</td>
        <td class="list-view-gl-actuals-encumbrances gl-detail" data-bind="text: glAccountRow.Actuals">&nbsp;</td>
        <td class="list-view-gl-actuals-encumbrances gl-detail" data-bind="text: glAccountRow.Encumbrances">&nbsp;</td>
        <td class="list-view-group-remaining gl-detail">&nbsp;</td>
        <td class="list-view-group-percent gl-detail">&nbsp;</td>
        <td class="list-view-group-health gl-detail">&nbsp;</td>
    </tr>
    <!-- /ko -->        @*ForEach GlAccount loop*@
</script>