﻿<!-- Copyright 2014-2017 Ellucian Company L.P. and its affiliates. -->
@section Styles
{
    @Styles.Render("~/Areas/ColleagueFinance/Content/ColleagueFinancecss")
}

<!-- Render JavaScript files -->
@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/paprojectsscripts")
}

<div class="clear-group" data-bind="visible: IsPageLoaded()" style="display: none;">
    @*Display projects header and projects information*@
    <div id="page-description" class="esg-row esg-page-header">
        <h2 class="esg-page-header__title esg-col-sm-4 esg-col-md-6">
            @Resources.ProjectsAccounting.ProjectListHeader
        </h2>
        <div class="esg-col-sm-8 esg-col-md-6">
            <div id="grouping-controls" class="esg-form__group--page-header">
                <div class="graph-list-toggle-wrapper">
                    <button id="bar-graph-toggle" class="esg-button esg-button--secondary active-view" aria-pressed="true" data-bind="click: toggleGrid, attr: { 'aria-pressed': isBarGraphViewActive() }, css: isBarGraphViewActive() ? 'active-view' : '', tooltip: { position: 'top', message: 'Bar graph view' }">
                        <span class="esg-icon__container" aria-hidden="True">
                            <svg class="esg-icon esg-icon--small esg-icon--neutral">
                                <use xlink:href="#icon-cards"></use>
                            </svg>
                        </span>
                        <span class="offScreen">@Resources.ColleagueFinanceHome.ToggleBarGraphView</span>
                    </button>
                    <button id="list-toggle" class="esg-button esg-button--secondary" aria-pressed="false" data-bind="click: toggleList, attr: { 'aria-pressed': !isBarGraphViewActive() }, css: !isBarGraphViewActive() ? 'active-view' : '', tooltip: { position: 'top', message: 'List view' }">
                        <span class="esg-icon__container" aria-hidden="True">
                            <svg class="esg-icon esg-icon--small esg-icon--neutral">
                                <use xlink:href="#icon-list"></use>
                            </svg>
                        </span>
                        <span class="offScreen">@Resources.ColleagueFinanceHome.ToggleListView</span>
                    </button>
                </div>
                <button class="esg-button esg-button--secondary" onclick="javascript:activateFilter()">
                    <span class="esg-icon__container" aria-hidden="True">
                        <svg class="esg-icon esg-icon--small esg-icon--neutral">
                            <use xlink:href="#icon-filter"></use>
                        </svg>
                    </span>
                    <span class="filter-button__label">@Resources.ColleagueFinanceHome.FilterButtonLabel</span>
                </button>
                <div id="new-filter-dropdown" class="column-two">
                    @Html.Partial("ProjectFilters")
                </div>
                <!-- ko if: IsPageLoaded() -->
                <div class="esg-dropdown">
                    <button class="esg-button css-button esg-button--secondary esg-dropdown__toggle css-button--export" type="button" id="download-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" data-bind="event: { click: toggleExportDropdown }, attr: { 'aria-expanded': isExportDropdownExpanded() }, css: isExportDropdownExpanded() ? 'esg-is-open' : ''">
                        <span class="esg-icon__container" aria-hidden="True">
                            <svg class="esg-icon esg-icon--small esg-icon--neutral">
                                <use xlink:href="#icon-export"></use>
                            </svg>
                        </span>
                        <span class="export-button__label">@Resources.ColleagueFinanceHome.ExportButtonLabel</span>
                        <span class="esg-dropdown__icon esg-dropdown__icon--right esg-icon__container" aria-hidden="True">
                            <svg class="esg-icon esg-icon--small esg-icon--neutral esg-icon--down">
                                <use xlink:href="#icon-arrow"></use>
                            </svg>
                        </span>
                    </button>
                    <ul id="download-menu" class="esg-dropdown__menu" aria-labelledby="download-dropdown">
                        <li class="esg-dropdown__menu-item css-dropdown__menu-item">
                            <csv-download-link params="data: Projects, linkText: Ellucian.ProjectsAccounting.downloadCsvLink, fileName: Ellucian.ProjectsAccounting.downloadProjectsFileName + '.csv', includeKeys: true, limitToKeys: csvColumns, keyTextReplacements: csvColumnHeaders"></csv-download-link>
                        </li>
                    </ul>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>

<div id="dp-monolith" class="column-nine clear-group">
    <spinner params="isVisible: !IsPageLoaded(), message: Ellucian.ProjectsAccounting.PALoadingText"></spinner>

    @* Projects list *@
    <div data-bind="visible: ShouldDisplay">
        <section class="grouping-wrapper">
            <!-- ko if: ProjectCount() > 0 && isUIViewKnown() -->
            @* List View *@
            @Html.Partial("_ProjectsList")

            @* Bar Graph View *@
            @Html.Partial("_ProjectsBarGraphs")
            <!-- /ko -->

            @* Updating Filters spinner dialog *@
            <modal-spinner id="loading" params="isVisible: IsFilterUpdating, message: Ellucian.ProjectsAccounting.homeSpinnerMessage"></modal-spinner>
        </section>
    </div>
</div>