﻿<!-- Copyright 2014-2017 Ellucian Company L.P. and its affiliates. -->
@section Styles
{
    @Styles.Render("~/Areas/ColleagueFinance/Content/ColleagueFinancecss")
    @Styles.Render("~/Areas/ProjectsAccounting/Content/ProjectsAccounting")
}

<!-- Render JavaScript files -->
@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/paprojectlineitemscripts")
}

@{
    var projectId = Url.RequestContext.RouteData.Values["id"];
    var generalLedgerAccountId = Url.RequestContext.RouteData.Values["generalLedgerAccountId"];
}

<script type="text/javascript">
    // Initialize the ColleagueFinance namespace object for use in ColleagueFinance module.
    var Ellucian = Ellucian || {};
    Ellucian.ColleagueFinance = Ellucian.ColleagueFinance || {};

    Ellucian.ColleagueFinance.projectId = '@projectId';
    Ellucian.ColleagueFinance.glNumber = '@generalLedgerAccountId';
</script>

<!-- ko if: isProjectDefined() -->
<div class="clear-group">
    <div id="page-description" class="esg-row esg-page-header">
        <div class="esg-col-sm-6 esg-col-md-6">
            <h2 class="esg-page-header__title" data-bind="visible: !GlDetailView()">
                <span data-bind="text: Project().Number"></span>
                <span data-bind="visible: IsPageLoaded, text: paHyphen"></span>
                <span data-bind="text: Project().Title"></span>
            </h2>
            <h2 class="esg-page-header__title" data-bind="visible: GlDetailView()">
                <span data-bind="text: LineItemDescription()"></span>
                <span data-bind="text: LineItemCode()"></span>
            </h2>
            <a href="#" data-bind="attr: { 'href': Ellucian.ProjectsAccounting.projectsAccountingHomeActionUrl }, visible: !GlDetailView()" class="esg-page-header__subtitle esg-page-header__subtitle--backlink">
                <span class="esg-icon__container esg-page-header__icon" aria-hidden="true">
                    <svg class="esg-icon esg-icon--left">
                        <use xlink:href="#icon-arrow"></use>
                    </svg>
                </span>@Resources.ProjectsAccounting.ProjectListHeader
            </a>
            <button data-bind="visible: GlDetailView(), click: $root.toggleView.bind($data, null)" class="no-styles esg-page-header__subtitle esg-page-header__subtitle--backlink">
                <span class="esg-icon__container esg-page-header__icon" aria-hidden="true">
                    <svg class="esg-icon esg-icon--left">
                        <use xlink:href="#icon-arrow"></use>
                    </svg>
                </span><span data-bind="text: paBackToText"></span><span data-bind="text: Project().Number"></span> <span data-bind="visible: IsPageLoaded, text: paHyphen"></span><span data-bind="text: Project().Title" class="pad-right"></span>
            </button>
        </div>
        <div class="esg-form__group--page-header esg-col-sm-6 esg-col-md-6">
            <label for="reporting-period-filter" class="offScreen">@Resources.ProjectsAccounting.ReportingPeriodFilter</label>
            <select id="reporting-period-filter" class="esg-form__input esg-form__input--inline" data-bind="options: BudgetPeriodsSelection, optionsText: 'Description', optionsValue: 'Id', value: SelectedBudgetPeriod, event: { change: pickBudgetPeriod }"></select>

            <!-- ko if: IsPageLoaded() -->
            <div class="esg-dropdown">
                <button class="esg-button css-button esg-button--secondary esg-dropdown__toggle css-button--export" type="button" id="download-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" data-bind="enable: EnableExport(), event: { click: toggleExportDropdown }, attr: { 'aria-expanded': isExportDropdownExpanded() }, css: isExportDropdownExpanded() ? 'esg-is-open' : ''">
                    <span class="esg-icon__container" aria-hidden="True">
                        <svg class="esg-icon esg-icon--small esg-icon--neutral">
                            <use xlink:href="#icon-export"></use>
                        </svg>
                    </span>
                    <span class="export-button__label">@Resources.ColleagueFinanceHome.ExportButtonLabel</span>
                    <span class="esg-dropdown__icon esg-dropdown__icon--right esg-icon__container" aria-hidden="True">
                        <svg class="esg-icon esg-icon--small esg-icon--neutral esg-icon--down">
                            <use xlink:href="#icon-arrow"></use>
                        </svg>
                    </span>
                </button>
                <ul id="download-menu" class="esg-dropdown__menu" aria-labelledby="download-dropdown">
                    <li class="esg-dropdown__menu-item css-dropdown__menu-item">
                        <csv-download-link params="data: flatProjectLineItems, linkText: Ellucian.ProjectsAccounting.downloadCsvLink, fileName: csvFileName, includeKeys: true, limitToKeys: csvColumns, keyTextReplacements: csvColumnHeaders"></csv-download-link>
                    </li>
                </ul>
            </div>
            <!-- /ko -->
        </div>
    </div>
</div>
<!-- /ko -->

<div id="dp-monolith" class="column-nine clear-group">
    <spinner params="isVisible: !IsPageLoaded(), message: Ellucian.ProjectsAccounting.paLineItemLoadingText"></spinner>

    @*Projects details*@
    <!-- ko if: isProjectDefined() -->
    <div id="projects-details" data-bind="visible: IsPageLoaded">
        <section class="section-wrapper grouping-wrapper line-item-wrapper" data-bind="css: { 'section-wrapper-top-border': !GlDetailView() }">
            @*Project Line Items view*@
            <div class="section-contents" data-bind="visible: !GlDetailView()">
                <table id="detailed-list-view" class="line-table table-view esg-table--table-layout-fixed" role="grid" aria-readonly="true">
                    @*Table header*@
                    <thead class="line-item-details">
                        <tr class="list-table-header-group line-item-headers" role="row">
                            <td class="list-view-group-name top-line-table-header">
                                <div class="name-wrapper">
                                    <span class="list-view-project-number" data-bind="text: Project().Number"></span>
                                    <span class="list-view-project-space">&nbsp;</span>
                                    <span data-bind="text: Project().Title"></span>
                                </div>
                                <div class="status-wrapper" data-bind="css: Project().projectStatusIndicator">
                                    <span class="offScreen" data-bind="text: projectStatusText"></span>
                                    <span class="project-status" data-bind="text: Project().StatusDescription, attr: { 'aria-label': Project().StatusDescription() }"></span>
                                    <span class="status-circle"></span>
                                </div>
                            </td>
                            <th class="list-view-group-budget top-line-table-header" role="columnheader">@Resources.ColleagueFinanceHome.BudgetTitle</th>
                            <th class="list-view-group-actuals top-line-table-header" role="columnheader">@Resources.ProjectsAccounting.ActualsText</th>
                            <th class="list-view-group-encumbrances top-line-table-header" role="columnheader">@Resources.ProjectsAccounting.EncumbrancesText</th>
                            <th class="list-view-group-remaining top-line-table-header" role="columnheader">@Resources.ColleagueFinanceHome.RemainingHeader</th>
                            <th class="list-view-group-percent top-line-table-header" role="columnheader">@Resources.ColleagueFinanceHome.PercentSpentReceivedHeader</th>
                            <th class="list-view-group-health top-line-table-header" role="columnheader">@Resources.ColleagueFinanceHome.ListViewHeaderFinancialHealth</th>
                        </tr>
                    </thead>

                    
                    <tbody>
                        @*Start Asset Rows*@

                        <!-- ko if: Project().HasAssets -->
                        <tr class="list-table-header-group line-item-titles project-line-item__total-row collapsible" role="row">
                            <th class="list-view-group-name line-table-header line-view-th">
                                @Resources.ColleagueFinanceHome.AssetLabel
                            </th>
                            <th class="list-view-group-budget line-table-header line-view-th"></th>
                            <th class="list-view-group-actuals line-table-header line-view-th" data-bind="text: Project().TotalActualsAsset"></th>
                            <th class="list-view-group-actuals line-table-header line-view-th" data-bind="text: Project().TotalEncumbrancesAsset"></th>
                            <th class="list-view-group-remaining line-table-header line-view-th"></th>
                            <th class="list-view-group-percent line-table-header line-view-th"></th>
                            <th class="list-view-group-health line-table-header"></th>
                        </tr>

                        @*Screen Reader - Asset Headers*@
                        <tr class="list-table-header-group line-item-headers offScreen" role="row">
                            <th class="list-view-group-name top-line-table-header">&nbsp;</th>
                            <th class="list-view-group-budget top-line-table-header" role="columnheader">@Resources.ColleagueFinanceHome.BudgetTitle</th>
                            <th class="list-view-group-actuals top-line-table-header" role="columnheader">@Resources.ProjectsAccounting.ActualsText</th>
                            <th class="list-view-group-actuals top-line-table-header" role="columnheader">@Resources.ProjectsAccounting.EncumbrancesText</th>
                            <th class="list-view-group-remaining top-line-table-header" role="columnheader">@Resources.ColleagueFinanceHome.RemainingHeader</th>
                            <th class="list-view-group-percent top-line-table-header" role="columnheader">@Resources.ColleagueFinanceHome.PercentSpentReceivedHeader</th>
                            <th class="list-view-group-health top-line-table-header" role="columnheader">@Resources.ColleagueFinanceHome.ListViewHeaderFinancialHealth</th>
                        </tr>
                        @*Asset project line items*@

                        <!-- ko template: { name: "project-line-item-template", foreach: Project().AssetLineItems, as: 'lineItem' } --><!-- /ko -->
                        <!-- /ko -->        @*HasAssets condition*@

                        @*End Asset Rows*@

                        @*Start Liability Rows*@

                        <!-- ko if: Project().HasLiabilities -->
                        <tr class="list-table-header-group line-item-titles project-line-item__total-row collapsible" role="row">
                            <th class="list-view-group-name line-table-header line-view-th">
                                @Resources.ColleagueFinanceHome.LiabilityLabel
                            </th>
                            <th class="list-view-group-budget line-table-header line-view-th"></th>
                            <th class="list-view-group-actuals line-table-header line-view-th" data-bind="text: Project().TotalActualsLiability"></th>
                            <th class="list-view-group-actuals line-table-header line-view-th" data-bind="text: Project().TotalEncumbrancesLiability"></th>
                            <th class="list-view-group-remaining line-table-header line-view-th"></th>
                            <th class="list-view-group-percent line-table-header line-view-th"></th>
                            <th class="list-view-group-health line-table-header"></th>
                        </tr>

                        @*Screen Reader - Liability Headers*@
                        <tr class="list-table-header-group line-item-headers offScreen" role="row">
                            <th class="list-view-group-name top-line-table-header">&nbsp;</th>
                            <th class="list-view-group-budget top-line-table-header" role="columnheader">@Resources.ColleagueFinanceHome.BudgetTitle</th>
                            <th class="list-view-group-actuals top-line-table-header" role="columnheader">@Resources.ProjectsAccounting.ActualsText</th>
                            <th class="list-view-group-actuals top-line-table-header" role="columnheader">@Resources.ProjectsAccounting.EncumbrancesText</th>
                            <th class="list-view-group-remaining top-line-table-header" role="columnheader">@Resources.ColleagueFinanceHome.RemainingHeader</th>
                            <th class="list-view-group-percent top-line-table-header" role="columnheader">@Resources.ColleagueFinanceHome.PercentSpentReceivedHeader</th>
                            <th class="list-view-group-health top-line-table-header" role="columnheader">@Resources.ColleagueFinanceHome.ListViewHeaderFinancialHealth</th>
                        </tr>
                        @*Liability project line items*@

                        <!-- ko template: { name: "project-line-item-template", foreach: Project().LiabilityLineItems, as: 'lineItem' } --><!-- /ko -->
                        <!-- /ko -->        @*HasLiabilities condition*@

                        @*End Liability Rows*@

                        @*Start Fund Balance Rows*@

                        <!-- ko if: Project().HasFundBalances -->
                        <tr class="list-table-header-group line-item-titles project-line-item__total-row collapsible" role="row">
                            <th class="list-view-group-name line-table-header line-view-th">
                                @Resources.ColleagueFinanceHome.FundBalanceLabel
                            </th>
                            <th class="list-view-group-budget line-table-header line-view-th"></th>
                            <th class="list-view-group-actuals line-table-header line-view-th" data-bind="text: Project().TotalActualsFundBalance"></th>
                            <th class="list-view-group-actuals line-table-header line-view-th" data-bind="text: Project().TotalEncumbrancesFundBalance"></th>
                            <th class="list-view-group-remaining line-table-header line-view-th"></th>
                            <th class="list-view-group-percent line-table-header line-view-th"></th>
                            <th class="list-view-group-health line-table-header"></th>
                        </tr>

                        @*Screen Reader - Fund Balance Headers*@
                        <tr class="list-table-header-group line-item-headers offScreen" role="row">
                            <th class="list-view-group-name top-line-table-header">&nbsp;</th>
                            <th class="list-view-group-budget top-line-table-header" role="columnheader">@Resources.ColleagueFinanceHome.BudgetTitle</th>
                            <th class="list-view-group-actuals top-line-table-header" role="columnheader">@Resources.ProjectsAccounting.ActualsText</th>
                            <th class="list-view-group-actuals top-line-table-header" role="columnheader">@Resources.ProjectsAccounting.EncumbrancesText</th>
                            <th class="list-view-group-remaining top-line-table-header" role="columnheader">@Resources.ColleagueFinanceHome.RemainingHeader</th>
                            <th class="list-view-group-percent top-line-table-header" role="columnheader">@Resources.ColleagueFinanceHome.PercentSpentReceivedHeader</th>
                            <th class="list-view-group-health top-line-table-header" role="columnheader">@Resources.ColleagueFinanceHome.ListViewHeaderFinancialHealth</th>
                        </tr>
                        @*Fund Balance project line items*@

                        <!-- ko template: { name: "project-line-item-template", foreach: Project().FundBalanceLineItems, as: 'lineItem' } --><!-- /ko -->
                        <!-- /ko -->        @*HasFundBalances condition*@

                        @*End Fund Balance Rows*@

                        @*Start Revenue Rows*@

                        @*Revenue Totals*@
                        <!-- ko if: Project().HasRevenue -->
                        <tr class="list-table-header-group line-item-titles project-line-item__total-row collapsible" role="row">
                            <th class="list-view-group-name line-table-header line-view-th">
                                @Resources.ColleagueFinanceHome.RevenueLabel
                            </th>
                            <th class="list-view-group-budget line-table-header line-view-th" data-bind="text: Project().TotalBudgetRevenue"></th>
                            <th class="list-view-group-actuals line-table-header line-view-th" data-bind="text: Project().TotalActualsRevenue"></th>
                            <th class="list-view-group-actuals line-table-header line-view-th" data-bind="text: Project().TotalEncumbrancesRevenue"></th>
                            <th class="list-view-group-remaining line-table-header line-view-th">
                                <span class="list-amount" data-bind="text: Project().BudgetRemainingRevenueFormatted, css: Project().remainingBudgetRevenueColor, attr: { 'aria-hidden': true }"></span>
                                <span class="offScreen" data-bind="text: Project().BudgetRemainingRevenue() < 0 ?
                                    Project().BudgetRemainingScreenReaderTextRevenue() + projectOverBudgetText :
                                    Project().BudgetRemainingString()"></span>
                            </th>
                            <th class="list-view-group-percent line-table-header line-view-th" data-bind="text: Project().BudgetReceivedPercentRevenueFormatted, css: Project().remainingBudgetRevenueColor"></th>
                            <th class="list-view-group-health line-table-header"></th>
                        </tr>

                        @*Screen Reader - Revenue Headers*@
                        <tr class="list-table-header-group line-item-headers offScreen" role="row">
                            <th class="list-view-group-name top-line-table-header">&nbsp;</th>
                            <th class="list-view-group-budget top-line-table-header" role="columnheader">@Resources.ColleagueFinanceHome.BudgetTitle</th>
                            <th class="list-view-group-actuals top-line-table-header" role="columnheader">@Resources.ProjectsAccounting.ActualsText</th>
                            <th class="list-view-group-actuals top-line-table-header" role="columnheader">@Resources.ProjectsAccounting.EncumbrancesText</th>
                            <th class="list-view-group-remaining top-line-table-header" role="columnheader">@Resources.ColleagueFinanceHome.RemainingHeader</th>
                            <th class="list-view-group-percent top-line-table-header" role="columnheader">@Resources.ColleagueFinanceHome.PercentSpentReceivedHeader</th>
                            <th class="list-view-group-health top-line-table-header" role="columnheader">@Resources.ColleagueFinanceHome.ListViewHeaderFinancialHealth</th>
                        </tr>
                        @*Revenue project line items*@

                        <!-- ko template: { name: "project-line-item-template", foreach: Project().RevenueLineItems, as: 'lineItem' } --><!-- /ko -->
                        <!-- /ko -->        @*HasRevenue condition*@

                        @*End Revenue Rows*@

                        @*Start Expense Rows*@

                        @*Expense Totals*@
                        <!-- ko if: Project().HasExpense -->
                        <tr class="list-table-header-group line-item-titles project-line-item__total-row collapsible" role="row">
                            <th class="list-view-group-name line-table-header line-view-th">
                                @Resources.ColleagueFinanceHome.ExpenseLabel
                            </th>
                            <th class="list-view-group-budget line-table-header line-view-th" data-bind="text: Project().TotalBudget"></th>
                            <th class="list-view-group-actuals line-table-header line-view-th" data-bind="text: Project().TotalActuals"></th>
                            <th class="list-view-group-encumbrances line-table-header line-view-th" data-bind="text: Project().TotalEncumbrances"></th>
                            <th class="list-view-group-remaining line-table-header line-view-th">
                                <span class="list-amount" data-bind="text: Project().BudgetRemainingFormatted, css: Project().remainingBudgetColor, attr: { 'aria-hidden': true }"></span>
                                <span class="offScreen" data-bind="text: Project().BudgetRemaining() < 0 ?
                                    Project().BudgetRemainingForScreenReader() + projectOverBudgetText :
                                    Project().BudgetRemainingString()"></span>
                            </th>
                            <th class="list-view-group-percent line-table-header line-view-th" data-bind="text: Project().PercentSpentFormatted, css: Project().remainingBudgetColor"></th>
                            <th class="list-view-group-health line-table-header" data-bind="css: Project().projectDetailFinancialHealthIndicator">
                                <span class="offScreen" data-bind="text: Project().FinancialHealthTextForScreenReader"></span>
                            </th>
                        </tr>

                        @*Screen Reader - Expense Headers*@
                        <tr class="list-table-header-group line-item-headers offScreen" role="row">
                            <td class="list-view-group-name top-line-table-header">&nbsp;</td>
                            <th class="list-view-group-budget top-line-table-header" role="columnheader">@Resources.ColleagueFinanceHome.BudgetTitle</th>
                            <th class="list-view-group-actuals top-line-table-header" role="columnheader">@Resources.ProjectsAccounting.ActualsText</th>
                            <th class="list-view-group-encumbrances top-line-table-header" role="columnheader">@Resources.ProjectsAccounting.EncumbrancesText</th>
                            <th class="list-view-group-remaining top-line-table-header" role="columnheader">@Resources.ColleagueFinanceHome.RemainingHeader</th>
                            <th class="list-view-group-percent top-line-table-header" role="columnheader">@Resources.ColleagueFinanceHome.PercentSpentReceivedHeader</th>
                            <th class="list-view-group-health top-line-table-header" role="columnheader">@Resources.ColleagueFinanceHome.ListViewHeaderFinancialHealth</th>
                        </tr>
                        @*Expense project line items*@

                        <!-- ko template: { name: "project-line-item-template", foreach: Project().ExpenseLineItems, as: 'lineItem' } --><!-- /ko -->
                        <!-- /ko -->            @*HasExpense condition*@

                        @*End Expense Rows*@

                        @*Net rows*@
                        <tr class="project-line-item__total-row project-net-row collapsible" data-bind="visible: IsPageLoaded() && Project().HasRevenue() && Project().HasExpense()">
                            <th class="list-view-group-name text-align-left">
                                <span>@Resources.ColleagueFinanceHome.NetRevenueMinusExpenseLabel</span>
                            </th>
                            <th data-bind="text: Project().TotalBudgetNet" class="list-view-group-budget align-right"></th>
                            <th data-bind="text: Project().TotalActualsNet" class="list-view-group-actuals align-right"></th>
                            <th class="list-view-group-encumbrances align-right"></th>
                            <th class="list-view-group-remaining align-right"></th>
                            <th class="list-view-group-percent align-right"></th>
                            <th class="list-view-group-health"></th>
                        </tr>
                    </tbody>
                </table>
            </div>

            <section id="gl-detail-wrapper" data-bind="visible: $root.GlDetailView()">
                <!-- GL Detail view -->

                <!-- ko template: { name: "transaction-template", foreach: Project().AssetLineItems, as: 'lineItem' } --><!-- /ko -->

                <!-- ko template: { name: "transaction-template", foreach: Project().ExpenseLineItems, as: 'lineItem' } --><!-- /ko -->

                <!-- ko template: { name: "transaction-template-negative-totals", foreach: Project().LiabilityLineItems, as: 'lineItem' } --><!-- /ko -->

                <!-- ko template: { name: "transaction-template-negative-totals", foreach: Project().FundBalanceLineItems, as: 'lineItem' } --><!-- /ko -->

                <!-- ko template: { name: "transaction-template-negative-totals", foreach: Project().RevenueLineItems, as: 'lineItem' } --><!-- /ko -->
            </section>

            <!-- Loading spinner -->
            <modal-spinner id="loading" params="isVisible: IsFilterUpdating, message: Ellucian.ProjectsAccounting.homeSpinnerMessage"></modal-spinner>
        </section>
    </div>
    <!-- /ko -->
</div>

@Html.Partial(@"~\Areas\ColleagueFinance\Views\Shared\_GlDetailTransaction.cshtml")

@Html.Partial(@"~\Areas\ProjectsAccounting\Views\Home\_GlDetailLineItemTemplates.cshtml")

@Html.Partial(@"~\Areas\ProjectsAccounting\Views\Home\_ProjectLineItemTemplate.cshtml")