﻿<!-- Copyright 2014-2016 Ellucian Company L.P. and its affiliates. -->

<section class="section-wrapper">
	<div class="section-header">
		<h3>@Resources.ColleagueFinanceHome.FilterHeader</h3>
	</div>
	<section class="filters ui-accordion-header" data-bind="multiAccordion: { contentId: 'project-status-filter-section', expanded: true }">
		<span class="filter-section-header">@Resources.ProjectsAccounting.StatusHeader</span>
	</section>
	<div id="project-status-filter-section">
		<ul data-bind="visible: IsPageLoaded, foreach: ProjectStatuses" class="filter-options">
			<li>
				<input type="checkbox" data-bind="attr: { id: myId }, value: StatusDescription, checked: $parent.statusCodesSelected, click: $parent.updateProjectFilter" />
				<label data-bind="text: StatusDescription, attr: { 'for': myId }"></label>
			</li>
		</ul>
	</div>

	<section class="filters ui-accordion-header ui-helper-reset" data-bind="multiAccordion: { contentId: 'project-type-filter-section', expanded: true }">
		<span class="filter-section-header">@Resources.ProjectsAccounting.ProjectTypeHeader</span>
	</section>
	<div id="project-type-filter-section">
		<ul data-bind="visible: IsPageLoaded, foreach: ProjectTypes" class="filter-options">
			<li>
				<input type="checkbox" data-bind="attr: { id: myId }, value: Code, checked: $parent.typeCodesSelected, click: $parent.updateProjectFilter" />
				<label data-bind="text: Description, attr: { 'for': myId }"></label>
			</li>
		</ul>
	</div>
</section>