﻿<!--Copyright 2017 Ellucian Company L.P. and its affiliates.-->
<!-- ko if: showWidget -->
<collapsible-group id="person-restrictions-widget" params="titleText: Ellucian.Site.Resources.PersonRestrictionsWidgetTitle, isOpen: isOpen, titleContent: { name: 'restrictions-count', data: $data }, content: $parent">
    <div id="notifications-wrapper" data-bind="visible: Restrictions().length > 0">
        <section>
            <table class="responsiveTable">
                <thead class="offScreen">
                    <tr>
                        <th class="offScreen" data-bind="text: Ellucian.Navigation.Resources.NotificationsTitle"></th>
                        <th class="offScreen" data-bind="text: Ellucian.Navigation.Resources.NotificationsDetails"></th>
                        <th class="offScreen" data-bind="text: Ellucian.Navigation.Resources.NotificationsLink"></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: Restrictions()">
                    <tr>
                        <td class="left-justified" data-bind="attr: { 'data-role': Ellucian.Navigation.Resources.NotificationsTitle }">
                            <div class="layout-table">
                                <div class="layout-table-row">
                                    <div class="layout-table-cell">
                                        <icon params="isVisible: true, icon: Style, color: Style(), size: 'small'"></icon>
                                    </div>
                                    <span class="layout-table-cell" data-bind="text: Title()"></span>
                                </div>
                            </div>
                        </td>
                        <td class="left-justified" data-bind="attr: { 'data-role': Ellucian.Navigation.Resources.NotificationsDetails }">
                            <span data-bind="html: Details()"></span>
                        </td>
                        <td class="left-justified" data-bind="css: { 'left-justified': Hyperlink(), 'suppress-on-mobile': !Hyperlink() }, attr: { 'data-role': Ellucian.Navigation.Resources.NotificationsLink }">
                            <a data-bind="if: Hyperlink(), externalLink: { href: Hyperlink(), label: HyperlinkText() }"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</collapsible-group>
<!-- /ko -->
<script type="text/html" id="restrictions-count">
    <badge params="number: Restrictions().length, type:'error'"></badge>
</script>



