﻿@*Copyright 2012-2016 Ellucian Company L.P. and its affiliates.*@

@section Styles
{
    @Styles.Render("~/Areas/Planning/Content/PlanningBundlecss")
}

@section Scripts
{
    @Scripts.Render("~/bundles/testscoresindexscripts")
}

<!-- everything below the sub-nav bar -->
<div id="page-description" class="esg-page-header">
    <h2 class="esg-page-header__title">@Resources.TestScores.PageDescription</h2>
</div>
<!-- Main Degree Plan Page Container -->
<div id="dp-monolith" class="column-nine">
    <!-- Spinner -->
    <spinner params="isVisible: !isLoaded(), message: stringPlanningHomeLoadingDataSpinnerMessage"></spinner>

    <div>
        @Html.Partial("TestScoresPartial")
    </div>
</div>
