﻿<!-- Copyright 2016-2017 Ellucian Company L.P. and its affiliates. -->

<modal-dialog id="create-payment-plan-dialog" 
  params="title:'@Resources.PaymentResources.CreatePaymentPlanButtonLabel', isVisible: payPlanDialogIsDisplayed, content: $data, buttons:[cancelPaymentPlanButton, submitPaymentPlanButton], defaultCloseOff: true">
    <div class="dialog-wrapper">
        <!-- ko if: hasPaymentPlanOptions() -->
            <!-- ko if: isChoosingPlanOption() -->
            <h3>
                <strong>@Resources.PaymentResources.CreatePaymentPlanDialogPromptText</strong> @Resources.PaymentResources.CreatePaymentPlanDialogOnlyOneItemCanBeSelectedText
            </h3>
            <message params="isVisible: PaymentPlanEligibilityText(), message: PaymentPlanEligibilityText(), type: 'info'"></message>
            <fieldset>
                <legend class="offScreen" data-bind="text: '@Resources.PaymentResources.CreatePaymentPlanLegendText'"></legend>
                <!-- ko ifnot: IsTermDisplay() -->
                    <!-- ko foreach: PaymentPlanPeriodModels() -->
                    @Html.Partial("_PeriodPaymentPlanOptionPartial")
                    <!-- /ko -->
                <!-- /ko -->
                <!-- ko if: IsTermDisplay() -->
                    <!-- ko foreach: PaymentPlanTermModels() -->
                    @Html.Partial("_TermPaymentPlanOptionPartial")
                    <!-- /ko -->
                <!-- /ko -->
            </fieldset>
            <!-- /ko -->
        <!-- /ko -->
        <message params="isVisible: proposedPlanHasError(), message: '@Resources.PaymentResources.CreatePaymentPlanProposedPlanFailedMessage', type: 'warning'"></message>
        <message params="isVisible: !hasPaymentPlanOptions(), message: noPaymentPlanOptionsMessage, type: 'info'"></message>
    </div>
</modal-dialog>
