﻿@* Copyright 2016-2017 Ellucian Company L.P. and its affiliates. *@

<modal-dialog id="cash-receipt-dialog" params="title: '@Resources.PaymentResources.PaymentPlanDownPaymentDialogTitle', isVisible: downPaymentDialogIsDisplayed, content: $data, buttons: [payLaterButton, makeDownPaymentButton], defaultCloseOff: true">
    <div class="dialog-wrapper">
        <div data-bind="with: DisplayPaymentPlan">
            <!-- Message to Plan Payer -->
            <message id="down-payment-warning" params="isVisible: true, message: DownPaymentMessage(), type: 'info'"></message>

            <!-- Down Payment Pay Method-->
            <div class="text-align-center">
                <label for="payment-methods">@Resources.PaymentResources.PaymentMethodLabel</label>
                <select id="payment-methods" class="esg-form__input" data-bind="options: $root.AvailablePaymentMethods(), optionsCaption: '@Resources.PaymentResources.PaymentMethodSelectionDescription', optionsText: 'Description', value: $root.SelectedPaymentMethod"></select>
            </div>
        </div>
    </div>
</modal-dialog>
