﻿<!-- Copyright 2016 Ellucian Company L.P. and its affiliates. -->
<!-- Period Payment Plan Option Content -->
<div class='esg-dialog--period-container' data-bind="attr: { id: PeriodCode() + '-payment-plan-options' }">
    <h3 data-bind="text: PeriodDescription"></h3>
    <!-- ko foreach: Terms() -->
    @Html.Partial("_TermPaymentPlanOptionPartial")
    <!-- /ko -->
</div>
<!-- End Period Payment Plan Option Content -->
