﻿<!-- Copyright 2016 Ellucian Company L.P. and its affiliates. -->
<!-- Term Payment Plan Option Content -->
    <!-- Items Due Table-->
    <table class="esg-table--payment-plan-item" data-bind="attr: { id: SanitizedId() + '-payment-plan-options' }">
        <caption data-bind="text: TermDescription()"></caption>
        <thead>
            <tr>
                <!-- ko ifnot: $root.IsAdminUser() -->
                <th class="esg-table--cell__select-item">@Resources.FinanceResources.ItemLabel</th>
                <!-- /ko -->
                <th class="colDistribution">@Resources.FinanceResources.PaymentGroupLabel</th>
                <th class="colDateDue">@Resources.FinanceResources.DueDateLabel</th>
                <th class="colAmountDue">@Resources.FinanceResources.AmountDueLabel</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: PaymentsDue()">
            <tr class="due-item-row" data-bind="css: { 'row--not-payable': !IsPayable() && !IsCredit() }">
                <td class="esg-table--cell__select-item" data-bind="attr: { 'data-role': Description() }, css: {'selectable-item': !IsCredit() }">
                    <input type="radio" name="pay-item" data-bind="attr: { id: 'plan-' + Id() },
                        disable: $root.IsAdminUser(), checked: $root.selectedPaymentPlanOption, value: $data">
                    <label data-bind="attr: { for: 'plan-' + Id() }">
                        <!-- ko if: $root.isMobile()-->
                        <span class="esg-label__text--mobile">&nbsp;</span>
                        <span class="offScreen" data-bind="text: Description()"></span>
                        <!-- /ko -->
                        <!-- ko ifnot: $root.isMobile()-->
                        <span data-bind="text: Description()"></span>
                        <!-- /ko -->
                    </label>
                </td>
                <td class="colDistribution" data-bind="text: PaymentGroup()"></td>
                <td class="colDateDue" data-bind="css: {'overdue' : IsOverdue()}">
                    <span data-bind="visible: !IsCredit() && DueDate(), date: DueDate()"></span>
                    <span data-bind="visible: !IsCredit() && DueDate() && IsOverdue(), text: '@Resources.FinanceResources.OverdueLabel'"></span>
                    <span class="credit" data-bind="visible: IsCredit(), text: '@Resources.FinanceResources.CreditLabel'"></span>
                </td>
                <td class="colAmountDue" data-bind="currency: DueAmount(), negativePattern: 1"></td>
            </tr>
        </tbody>
    </table>
    <!-- End Items Due Table-->
<!-- End Term Payment Plan Option Content -->
