﻿@*<!-- Copyright 2015-2016 Ellucian Company L.P. and its affiliates. -->*@
<div id="make-a-payment-dropdown" data-bind="stick: { mobile: isMobile() }, visible: PaymentsAllowed() && !IsAdminUser()">
    <div id="payment-controls">
        <div id="total-payment-amount" class="payment-option-content-line inline-line">
            <span>@Resources.PaymentResources.TotalPaymentLabel</span>
            <span>: </span>
            <span data-bind="currency: totalPayment(), negativePattern: 1"></span>
        </div>
        <div class="payment-option-content-line inline-line">
			<label class="offScreen" for="payment-methods">@Resources.FinanceResources.ChoosePaymentMethodText</label>
            <select id="payment-methods" class="esg-form__input esg-form__input--inline" data-bind="disable: hasErrors() || !PaymentsAllowed() || totalPayment() <= 0,
                options: AvailablePaymentMethods(),
                optionsCaption: '@Resources.PaymentResources.PaymentMethodSelectionDescription',
                optionsText: 'Description',
                value: SelectedPaymentMethod">
            </select>
        </div>
        <div class="payment-option-content-line inline-line button">
            <input id="submit-payment-selection" class="esg-button esg-button--primary" type="button" data-bind="disable: hasErrors() || !validPaymentMethodSelected() || totalPayment() <= 0 || isLoading(), 
                value: '@Resources.PaymentResources.PaymentButtonLabel',
                click: beginPayment" >
        </div>
        @if (CurrentUser != null && (CurrentUser.ProxySubjects == null || !CurrentUser.ProxySubjects.Any()))
        {
            <div class="payment-option-content-line inline-line button">
                <button id="pay-by-payment-plan" type="button" class="esg-button esg-button--primary" data-bind="visible: UserPaymentPlanCreationEnabled(), click: beginPaymentPlan">
                    @Resources.PaymentResources.CreatePaymentPlanButtonLabel
                </button>
            </div>
        }
    </div>
    <div class="inputAlert errorArea page-has-errors" data-bind="visible: hasErrors(), foreach: globalErrorMessage()">
        <div class="error-row" data-bind="text: $data"></div>
    </div>
</div>   
