﻿<!-- Copyright 2015-2017 Ellucian Company L.P. and its affiliates. -->
<!-- Load JavaScript files -->
<div class="clear-group">
    @Html.Partial("_PageHeader", new Ellucian.Web.Student.Models.PageHeaderModel(Resources.PaymentResources.ECheckEntryHeader,
    Resources.PaymentResources.ECheckEntryDescription, null, null))
</div>
<div class="column-nine">
    <section class="section-wrapper" style="display: none" data-bind="visible: true">
        @{
            if (!string.IsNullOrEmpty(ViewBag.Error))
            {
                if (ViewBag.Error != null)
                {
                    @Html.Partial("NotificationPartial")
                }
            }
            else
            {
                <!-- Heading -->
    <div id="map-echeck-bodyHeader" class="section-header primary-header">
        <h3>@Resources.PaymentResources.ECheckEntryHeader</h3>
    </div>
            
                @Html.Partial("ECheckEntryPartial")
            }
        }
    </section>
</div>

<!-- Loading Throbber - shown when payment is submitted -->
    @Html.Partial("ActionThrobberPartial")
<!-- End Loading Throbber -->

@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/makeapaymentscripts")
    @System.Web.Optimization.Scripts.Render("~/bundles/kovalidationdebugscripts")
    <script type="text/javascript">
        var jsonData = @Html.Raw(ViewBag.json);
    </script>
    @System.Web.Optimization.Scripts.Render("~/bundles/makeapaymentecheckscripts")
}