﻿<!-- Copyright 2015-2017 Ellucian Company L.P. and its affiliates. -->
@section scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/makeapaymentscripts")
    @System.Web.Optimization.Scripts.Render("~/bundles/makeapaymentindexscripts")
}

<div class="clear-group">
    @if (ViewBag.IsAdmin == null || !ViewBag.IsAdmin)
    {
        @Html.Partial("_PageHeader", new Ellucian.Web.Student.Models.PageHeaderModel(Resources.FinanceResources.MakeAPaymentTitle,
        Resources.PaymentResources.MakeAPaymentDescription, null, null))
    }
    @if (ViewBag.IsAdmin != null && ViewBag.IsAdmin)
    {
        @Html.Partial("_PageHeader", new Ellucian.Web.Student.Models.PageHeaderModel(Resources.FinanceResources.MakeAPaymentTitle + Resources.FinanceResources.AdminPageTitle,
        Resources.PaymentResources.ViewDescriptionAdmin, null, null))
    }
</div>
<div class="column-nine" style="display: none" data-bind="visible: true">
    <spinner params="isVisible: !showUI(), message: '@Resources.PaymentResources.SpinnerMessage'"></spinner>
    <section class="section-wrapper section-wrapper-top-border" data-bind="visible: showUI()">
        <div id="make-a-payment">
            @Html.Partial("_AdminHeaderPartial")
            <!-- ko ifnot: HasPrivacyRestriction() -->
            <!-- Alert Message -->
            @Html.Partial("AlertMessagePartial")
            <!-- End Alert Message -->
            <!-- ko if: HasData() -->
            <div>
                <!-- Payment Information -->
                <div id="make-a-payment-data" class="section-contents clear-group">

                    <!-- Choose Payment Method and Proceed to Payment, Global Error Messages -->
                    @Html.Partial("ChoosePaymentMethodPartial")
                    <!-- End Choose Payment Method and Proceed to Payment, Global Error Messages -->
                    <!-- Page Controls -->
                    <div id="make-a-payment-controls">
                        <!-- Expand All / Collapse All Button -->
                        <span>
                            <input id="expand-collapse-button" class="esg-button esg-button--secondary" type="button"
                                   data-bind="accordionMaster: { reset: IsAdminUser(), expandMessage: expandAllMessage(), collapseMessage: collapseAllMessage() }">
                        </span>
                        <!-- End Expand All / Collapse All Button -->
                        <!-- Credit Amounts Message -->
                        <span class="credit-amounts-message" data-bind="visible: ShowCreditAmounts()">
                            <span class="label">@Resources.PaymentResources.CreditNotificationLabel</span>
                            <span>@Resources.PaymentResources.CreditNotification</span>
                        </span>
                        <!-- End Credit Amounts Message -->
                    </div>
                    <div id="make-a-payment-contents">
                        <!-- End Page Controls -->
                        <!-- Term Display -->
                        <!-- ko if: IsTermDisplay() -->
                        <!-- ko foreach: TermModels() -->
                        @Html.Partial("ItemsDueTermPartial")
                        <!-- /ko -->
                        <!-- /ko -->
                        <!-- End Term Display -->
                        <!-- Period Display -->
                        <!-- ko ifnot: IsTermDisplay() -->
                        <!-- ko foreach: PeriodModels() -->
                        @Html.Partial("ItemsDuePeriodPartial")
                        <!-- /ko -->
                        <!-- /ko -->
                        <!-- End Period Display -->
                        <!-- Total Amount Due -->
                        <div class="non-category bottom-line-container" id="total-amount-due-container">
                            <span class="arrow arrow-down"></span>
                            <h3 class="category-name">@Resources.PaymentResources.TotalAmountDueLabel</h3>
                            <h3 class="category-math">
                                <span class="category-balance" data-bind="currency: DueAmount(), negativePattern: 1"></span>
                            </h3>
                            <!-- ko if: $root.isMobile() -->
                            <span class="arrow arrow-right"></span>
                            <!-- /ko -->
                        </div>
                    </div>
                    <!-- End Total Amount Due -->
                    <!-- Top of Page Link -->
                    @Html.Partial("TopOfPagePartial")
                    <!-- End Top of Page Link -->
                    <!-- Loading Throbber - shown when payment is submitted -->
                    @Html.Partial("ActionThrobberPartial")
                    <!-- End Loading Throbber -->
                    <!-- Create Payment Plan Modal Dialog -->
                    @Html.Partial("_CreatePaymentPlanDialog")
                    <!-- End Create Payment Plan Modal Dialog -->
                    <modal-spinner id="pay-plan-dialog-loading" params="isVisible: payPlanDialogIsLoading, message: '@Resources.PaymentResources.CreatePaymentPlanDialogLoadingMessage'"></modal-spinner>
                    <modal-spinner id="loading-plan-details" params="isVisible: isLoadingPlanDetails, message: loadingPaymentPlanDetailsMessage"></modal-spinner>
                </div>
                <!-- End Payment Details -->
            </div>
            <!-- /ko -->
            <!-- No Data Message -->
            @Html.Partial("NoDataPartial")
            <!-- /ko -->
            <!-- /ko -->
        </div>
    </section>
    </div>