﻿<!-- Copyright 2015-2016 Ellucian Company L.P. and its affiliates. -->
<!-- Term Accordion Content -->
<div data-bind="attr: { id: SanitizedId() + '-container' }, css: { 'items-due-container' : $root.IsTermDisplay(), 'multi-accordion-content': $root.IsTermDisplay() }">
    <div>
        <!-- ko ifnot: $root.IsTermDisplay() -->
        <div class="term-header">
            <h3 class="category-name" data-bind="text: TermDescription()"></h3>
            <h3 class="category-math">
                <span class="category-balance" data-bind="currency: DueAmount(), negativePattern: 1"></span>
            </h3>
        </div>
        <!-- /ko -->
        <!-- Items Due Table-->
        <fieldset>
            <legend class="offScreen" data-bind="text: '@Resources.PaymentResources.ItemsDueByTermLegendText' + TermDescription()"></legend>
            <table class="items-due-table">
                <thead>
                    <tr>
                        <!-- ko ifnot: $root.IsAdminUser() -->
                        <th class="colSelect">@Resources.FinanceResources.SelectionBoxLabel</th>
                        <!-- /ko -->
                        <th class="colItem">@Resources.FinanceResources.ItemLabel</th>
                        <th class="colDistribution">@Resources.FinanceResources.PaymentGroupLabel</th>
                        <th class="colDateDue">@Resources.FinanceResources.DueDateLabel</th>
                        <th class="colAmountDue">@Resources.FinanceResources.AmountDueLabel</th>
                        <th class="colAmountToPay">@Resources.FinanceResources.AmountToPayLabel</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: PaymentsDue()">
                    <tr class="due-item-row" data-bind="css: { 'row--not-payable': !IsPayable() && !IsCredit() }">
                        <!-- ko ifnot: $root.IsAdminUser() -->
                        <td class="colSelect" data-bind="attr: { 'data-role': Description() }, css: {'selectable-item': !IsCredit() }">
                            <!-- ko if: IsPayable() -->
                            <input type="checkbox" name="pay-item" value="Item" data-bind="attr: { id: Id() }, visible: !IsCredit(),
                                disable: IsCredit() || !$root.PaymentsAllowed() || isDisabled() || $root.IsAdminUser(),
                                checked: IsSelected, event: { change: resetAmountToPay }">
                            <!-- /ko -->
                            <!-- ko if: !IsCredit() -->
                            <label data-bind="attr: { for: Id() }">
                                <span class="offScreen" data-bind="text: Description()"></span>
                            </label>
                            <!-- /ko -->
                            <!-- ko if: IsCredit() -->
                            <span class="offScreen">@Resources.PaymentResources.CreditAmountAriaText</span>
                            <!-- /ko -->
                        </td>
                        <!-- /ko -->
                        <td class="suppress-on-mobile colItem" data-bind="text: Description()"></td>
                        <td class="colDistribution" data-bind="text: PaymentGroup()"></td>
                        <td class="colDateDue" data-bind="css: {'overdue' : IsOverdue()}">
                            <span data-bind="visible: !IsCredit() && DueDate(), date: DueDate()"></span>
                            <span data-bind="visible: !IsCredit() && DueDate() && IsOverdue(), text: '@Resources.FinanceResources.OverdueLabel'"></span>
                            <span class="credit" data-bind="visible: IsCredit(), text: '@Resources.FinanceResources.CreditLabel'"></span>
                        </td>
                        <td class="colAmountDue" data-bind="currency: DueAmount(), negativePattern: 1"></td>
                        <td class="colAmountToPay">
                            <!-- ko ifnot: $root.IsAdminUser() -->
                                <!-- ko if: IsPayable() || IsCredit() -->
                                <span data-bind="text: $root.currencySymbol()"></span>
                                <label class="offScreen" data-bind="attr: { for: Id() }">@Resources.PaymentResources.PaymentAmountAriaLabel</label>
                                <input class="amount-input esg-form__input--dollar-amount" type="text" name="amount-to-pay" title="@Resources.PaymentResources.PaymentAmountAriaLabel"
                                   aria-label="@Resources.PaymentResources.PaymentAmountAriaLabel" data-bind="disable: !IsEditable() || !IsSelected() || !$root.PaymentsAllowed() || $root.IsAdminUser(),
                                        value: IsSelected() ? amountToPay : '', hasfocus: amountHasFocus(), event: { change: $root.checkForErrors }, attr: { id: Id() }" />
                                <a class="offScreen" href="#total-payment-amount">@Resources.PaymentResources.ReviewTotalPaymentChooseMethodProceedText</a>
                                <!-- /ko -->
                                <!-- ko if: !IsPayable() && !IsCredit() -->
                                <span>@Resources.PaymentResources.NotPayableText</span>
                                <!-- /ko -->
                            <!-- /ko -->
                            <!-- ko if: $root.IsAdminUser() -->
                                <!-- ko if: IsPayable() || IsCredit() -->
                                    <span data-bind="currency: defaultAmount"></span>
                                <!-- /ko -->
                                <!-- ko if: !IsPayable() && !IsCredit() -->
                                    <span>@Resources.PaymentResources.NotPayableText</span>
                                <!-- /ko -->
                            <!-- /ko -->
                        </td>
                    </tr>
                    <!-- ko if: amountToPay.hasError() -->
                    <tr class="due-item-error-row">
                        <td colspan=6 class="inputAlert errorArea" data-bind="text: amountToPay.validationMessage()"></td>
                    </tr>
                    <tr class="hide-content">
                        <td class="hide-content"></td>
                    </tr>
                    <!-- /ko -->
                </tbody>
            </table>
        </fieldset>
        <!-- End Items Due Table-->
    </div>
</div>
<!-- End Term Accordion Content -->
<!-- ko if: $root.IsTermDisplay() -->
    <!-- Term Accordion Controller -->
    <div class='payment-accordion' data-bind="attr: { id: SanitizedId() + '-accordion' }, 
        multiAccordion: { contentId: SanitizedId() + '-container', expanded: true }, 
        css: { 'non-formula-category' : $root.isMobile(), 'formula-category' : !$root.isMobile() }">
        <h3 class="category-name" data-bind="text: TermDescription()"></h3>
        <h3 class="category-math">
            <span class="category-balance" data-bind="currency: DueAmount(), negativePattern: 1"></span>
        </h3>
    </div>
    <!-- End Term Accordion Controller -->
<!-- /ko -->

