﻿<!-- Copyright 2015 Ellucian Company L.P. and its affiliates. -->
<!-- Period Accordion Controller -->
    <!-- ko if: HasItems() -->
        <div class='payment-accordion' data-bind="attr: { id: PeriodCode() + '-accordion' }, 
            multiAccordion: { contentId: PeriodCode() + '-content', expanded: true },
            css: { 'non-formula-category' : $root.isMobile(), 'formula-category' : !$root.isMobile() }">
            <h3 class="category-name" data-bind="text: PeriodDescription()"></h3>
            <h3 class="category-math">
                <span class="category-balance" data-bind="currency: DueAmount(), negativePattern: 1"></span>
            </h3>
        </div>
    <!-- /ko -->  
<!-- End Period Accordion Controller -->
<!-- Period Accordion Content -->
    <!-- ko if: HasItems() -->
        <div class='period-items-due-container' data-bind="attr: { id: PeriodCode() + '-content' }">
            <!-- Term Display -->
                <!-- ko foreach: Terms() -->
                    @Html.Partial("ItemsDueTermPartial")
                <!-- /ko -->
            <!-- End Term Display -->
        </div>    
    <!-- /ko-->
<!-- End Period Accordion Content -->

