﻿<!-- Copyright 2012-2017 Ellucian Company L.P. and its affiliates. -->
<div class="clear-group">
    @Html.Partial("_PageHeader", new Ellucian.Web.Student.Models.PageHeaderModel(Resources.PaymentResources.PaymentAcknowledgementHeader,
    Resources.PaymentResources.PaymentAcknowledgementDescription, null, null))
</div>
<div class="column-nine">
    <section class="section-wrapper">
        @{
            if (!string.IsNullOrEmpty(ViewBag.Error))
            {
                if (ViewBag.Error != null)
                {
                    @Html.Partial("NotificationPartial")
                }
            }
            else
            {

                <!-- Heading -->
                <div class="mapHeader section-header primary-header">
                    <h3>@Resources.PaymentResources.PaymentAcknowledgementHeader</h3>
                    <!-- Print Button -->
                    <a class="print-link" data-bind="click: printAcknowledgement" href="#">
                        <span>@Resources.ImmediatePaymentResources.PrintButtonLabel</span>
                        <span class="offScreen">@Resources.ImmediatePaymentResources.PrintPaymentAcknowledgementAriaLabel</span>
                    </a>
                </div>

                <!-- Content -->
                @Html.Partial("AcknowledgementPartial")

                <!-- Footer -->
                <div class="button-bar">
                    <input id="IpcAcknowledgementSubmit" class="esg-button esg-button--primary" name="AcknowledgementSubmit" type="submit" value="@Resources.PaymentResources.ContinueButtonLabel"
                           data-bind="click: paymentComplete, attr: { 'aria-label': buttonAriaLabel }" />
                </div>
                <!-- End Footer -->
            }
        }
    </section>
</div>

<!-- Loading Throbber - shown when exiting form -->
    @Html.Partial("ActionThrobberPartial")
<!-- End Loading Throbber -->
@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/makeapaymentscripts")
    <script type="text/javascript">
        var jsonData = @Html.Raw(ViewBag.json);
    </script>
    @System.Web.Optimization.Scripts.Render("~/bundles/makeapaymentacknowledgementscripts")
}