﻿@* Copyright 2016-2017 Ellucian Company L.P. and its affiliates. *@
@section scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/makeapaymentscripts")
    <script type="text/javascript">
        $(document).ready(function () {
            var jsonData = @Html.Raw(ViewBag.json);
            var paymentPlanViewModelInstance = new makeAPayment.PaymentPlanViewModel(jsonData);
            ko.applyBindings(paymentPlanViewModelInstance, document.getElementById("main"));
        });
    </script>
}

<div class="clear-group">
    <div id="page-description" class="esg-page-header">
        <h2 data-bind="text: workflowState()" class="esg-page-header__title"></h2>
        @{
            var defaultRoute = new RouteValueDictionary(new { area = "Finance", controller = "Payments", action = "Index" });
            var backLinkConfig = new Ellucian.Web.Student.Models.DynamicBackLinkConfiguration(true, defaultRoute);
            var backLinkExclusions = new List<RouteValueDictionary>() {
                                new RouteValueDictionary(new { area = "Finance", controller = "Payments", action = "GetPaymentPlanOptionsAsync" }),
            };
            backLinkConfig.DisallowedActions.AddRange(backLinkExclusions);
        }
        <div class="backlink" data-bind="visible: !consentProcessed()"> @Html.Partial("_DynamicBackLink", backLinkConfig)</div>
    </div>
</div>
<div class="column-nine" style="display: none" data-bind="visible: true">
    <section class="section-wrapper section-wrapper-top-border">

        <!-- Payment Plan Information -->
        <div class="section-contents primary-contents" id="planDetails" data-bind="visible: !ErrorMessage()">
            @Html.Partial(@"~\Areas\Finance\Views\Shared\_ProposedPaymentPlanDetails.cshtml")
        </div>
        <message id="planError" params="isVisible: ErrorMessage(), message: ErrorMessage(), type: 'info', addMargin: true"></message>


        <!-- Loading Throbber - shown when T&C acceptance is submitted -->
        @Html.Partial("ActionThrobberPartial")
        <!-- End Loading Throbber -->

        <!-- Down Payment Modal Dialog -->
        @Html.Partial("_DownPaymentWarningPartial")
        <!-- End Down Payment Modal Dialog -->

        <!-- Footer -->
        <div class="button-bar">
            <input id="accept-payment-plan-terms" class="esg-button esg-button--primary" name="AcceptPaymentPlanTerms" type="submit" aria-label="@Resources.ImmediatePaymentResources.TermsAndConditionsButtonAria"
                   data-bind="value: '@Resources.PaymentResources.ContinueButtonLabel', visible: !consentProcessed() && !ErrorMessage(), enable: termsAndConditionsAccepted, click: acceptTermsAndConditions" />
            <input id="return-to-map" class="esg-button esg-button--primary" name="ReturnToMakeAPayment" type="submit" aria-label="@Resources.PaymentResources.PaymentAcknowledgementButtonAria"
                   data-bind="value: '@Resources.PaymentResources.ContinueButtonLabel', visible: returnToMapButtonDisplayed, click: goToMakeAPayment" />
        </div>
    </section>
</div>