﻿<!-- Copyright 2012-2017 Ellucian Company L.P. and its affiliates. -->
<div class="clear-group">
    @Html.Partial("_PageHeader", new Ellucian.Web.Student.Models.PageHeaderModel(Resources.PaymentResources.PaymentReviewHeader,
        Resources.PaymentResources.PaymentReviewDescription, null, null))
</div>
<div class="column-nine">
    <section class="section-wrapper">
        @{
            if (!string.IsNullOrEmpty(ViewBag.Error))
            {
                if (ViewBag.Error != null)
                {
                    @Html.Partial("NotificationPartial")
                }
            }
            else
            {

                <!-- Heading -->
                <div class="mapHeader">
                    <h3 class="section-header primary-header">@Resources.PaymentResources.PaymentReviewHeader</h3>
                </div>

                @Html.Partial("PaymentReviewPartial")
            }
        }
    </section>
</div>

<!-- Loading Throbber - shown when exiting form -->
    @Html.Partial("ActionThrobberPartial")
<!-- End Loading Throbber -->

@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/makeapaymentscripts")
    <script type="text/javascript">
        var jsonData = @Html.Raw(ViewBag.json);
    </script>
    @System.Web.Optimization.Scripts.Render("~/bundles/makeapaymentreviewscripts")
}