﻿@using Ellucian.Colleague.Dtos.Finance.Payments;
@using Ellucian.Colleague.Dtos.Finance.Configuration;
@using Ellucian.Web.Student.Areas.Finance.Models.MakePayment;
@using Ellucian.Web.Student.Helpers;
@using Ellucian.Web.Student.Helper.Models;
@using Ellucian.Web.Student.Utility;

@model MakeAPaymentModel

@{
    string subSectionTotalClass = Resources.FinanceResources.SubSectionTotalClass;
    string overdueClass = Resources.FinanceResources.OverdueClass;
    string offScreenClass = Resources.SiteResources.OffScreenClass;
    string readonlyClass = Resources.FinanceResources.ReadOnlyClass;
    bool partialPaymentsAllowed = Model.PartialPayments;
    bool partialPaymentPlansAllowed = Model.PaymentPlanPartialPayments == PartialPlanPayments.Allowed;
    bool partialPaymentPlansAllowedWhenNotOverdue = Model.PaymentPlanPartialPayments == PartialPlanPayments.AllowedWhenNotOverdue;
    bool depositPartialPaymentsAllowed = Model.DepositPartialPayments;
    
    Dictionary<string, object> amountToPayAttributes = new Dictionary<string, object>();
    amountToPayAttributes.Add("class", Resources.SiteResources.EditableValueClass);
    amountToPayAttributes.Add("maxlength", 15);
    amountToPayAttributes.Add("size", 15);

    for (int periodCounter = 0; periodCounter < Model.PaymentsDueByPeriod.Count; periodCounter++)
    {
        @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].AmountDue)
        @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].EndDate)
        @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PeriodDates)
        @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].StartDate)
        @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].Title)
        
        <div id="@(Model.PaymentsDueByPeriod[periodCounter].Title + "Section")" class="accordion-region">
            <h3>
                <a href="#">@Model.PaymentsDueByPeriod[periodCounter].Title
                    <span class="@Resources.FinanceResources.PeriodDatesClass">@Model.PaymentsDueByPeriod[periodCounter].PeriodDates</span>
                    <span class="@subSectionTotalClass">@FormatUtility.FormatAsCurrency(Model.PaymentsDueByPeriod[periodCounter].AmountDue)</span>
                </a>
            </h3>
            <div>
                @for (int termCounter = 0; termCounter < Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm.Count; termCounter++)
                {
                    int rowCounter = 1;
                    PaymentsDueTermGroup group = Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter];
                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].Description)
                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].Amount)
                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].Overdue)
                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].PartialPaymentsAllowed)

                    string encodedGroupId = TagBuilder.CreateSanitizedId(Model.PaymentsDueByPeriod[periodCounter].Title + "_Term_" + termCounter);
                    string groupPrefix = TagBuilder.CreateSanitizedId(group.Description);

                    string groupHeaderPrefix = groupPrefix + "_Header";
                    string selectHeader = groupHeaderPrefix + "_Select";
                    string itemHeader = groupHeaderPrefix + "_Item";
                    string distributionHeader = groupHeaderPrefix + "_Distribution";
                    string dateDueHeader = groupHeaderPrefix + "_DateDue";
                    string amountDueHeader = groupHeaderPrefix + "_AmountDue";
                    string amountToPayHeader = groupHeaderPrefix + "_AmountToPay";

                    string dataType = "_Account";
                    string typeDataPrefix = groupPrefix + dataType + "_Data";
                    string selectData = typeDataPrefix + "_Select_";
                    string itemData = typeDataPrefix + "_Item_";
                    string distributionData = typeDataPrefix + "_Distribution_";
                    string dateDueData = typeDataPrefix + "_DateDue_";
                    string amountDueData = typeDataPrefix + "_AmountDue_";
                    string amountToPayData = typeDataPrefix + "_AmountToPay_";

                    <h3>
                        <span id= "@(encodedGroupId + "_Description")">@Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].Description</span>
                        <span id= "@(encodedGroupId + "_Balance")" class="@subSectionTotalClass">@FormatUtility.FormatAsCurrency(Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].Amount)</span>
                    </h3>
                    <table>
                        <tr>
                            <th class="colSelect" id="@selectHeader">@Resources.FinanceResources.SelectionBoxLabel</th>
                            <th class="colItem" id="@itemHeader">@Resources.FinanceResources.ItemLabel</th>
                            <th class="colDistribution" id="@distributionHeader">@Resources.FinanceResources.PaymentGroupLabel</th>
                            <th class="colDateDue" id="@dateDueHeader">@Resources.FinanceResources.DueDateLabel</th>
                            <th class="colAmountDue" id="@amountDueHeader">@Resources.FinanceResources.AmountDueLabel</th>
                            <th class="colAmountToPay" id="@amountToPayHeader">@Resources.FinanceResources.AmountToPayLabel</th>
                        </tr>
                        @for (int detailCounter = 0; detailCounter < Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDueItems.Count; detailCounter++)
                        {
                            rowCounter++;
                            string rowClass = (rowCounter % 2 == 0) ? Resources.SiteResources.EvenRowClass : Resources.SiteResources.OddRowClass;
                            bool creditAmount = Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDueItems[detailCounter].PaymentDueItem.AmountDue < 0;

                            string labelValue, dueDateClass, amountToPayClass;
                            Dictionary<string, object> checkboxAttributes = new Dictionary<string, object>();
                            checkboxAttributes.Add("aria-checked", "mixed");
                            if (creditAmount)
                            {
                                checkboxAttributes.Add("aria-disabled", "true");
                                checkboxAttributes.Add("disabled", "disabled");
                                checkboxAttributes.Add("class", offScreenClass);
                                labelValue = Resources.FinanceResources.CreditLabelDescription;
                                amountToPayClass = "class=\"" + offScreenClass + "\"";
                            }
                            else
                            {
                                labelValue = ViewBag.StandardSelectionMessage;
                                amountToPayClass = String.Empty;
                            }

                            if (Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDueItems[detailCounter].PaymentDueItem.Overdue)
                            {
                                dueDateClass = "class=overdue";
                            }
                            else
                            {
                                dueDateClass = String.Empty;
                            }

                            Dictionary<string, object> arAmountToPayAttributes = amountToPayAttributes.ToDictionary(pair => pair.Key, pair => pair.Value);
                            if (!Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDueItems[detailCounter].Editable || creditAmount || !Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDueItems[detailCounter].Selected || !partialPaymentsAllowed)
                            {
                                arAmountToPayAttributes.Add("aria-readonly", "true");
                                arAmountToPayAttributes.Add("readonly", "readonly");
                            }    

                            <tr class="@rowClass">
                                <td class="colSelect" id="@(selectData + detailCounter)">
                                    @Html.CheckBoxFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDueItems[detailCounter].Selected, checkboxAttributes)
                                    @Html.LabelFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDueItems[detailCounter].Selected, labelValue, new { @class = offScreenClass })
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDueItems[detailCounter].PaymentDueItem.AccountType)
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDueItems[detailCounter].PaymentDueItem.AccountDescription)
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDueItems[detailCounter].PaymentDueItem.Term)
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDueItems[detailCounter].PaymentDueItem.TermDescription)
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDueItems[detailCounter].PaymentDueItem.Period)
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDueItems[detailCounter].PaymentDueItem.PeriodDescription)
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDueItems[detailCounter].PaymentDueItem.Overdue)
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDueItems[detailCounter].PaymentDueItem.Distribution)
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDueItems[detailCounter].Editable)
                                </td>
                                <td class="colItem" id="@(itemData + detailCounter)">
                                    @Html.DisplayFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDueItems[detailCounter].PaymentDueItem.Description)
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDueItems[detailCounter].PaymentDueItem.Description)
                                </td>
                                <td class="colDistribution" id="@(distributionData + detailCounter)">
                                    @Html.DisplayFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDueItems[detailCounter].PaymentDueItem.Distribution)
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDueItems[detailCounter].PaymentDueItem.Distribution)
                                </td>
                                <td class="colDateDue" id="@(dateDueData + detailCounter)">
                                    @if (creditAmount)
                                    {
                                        <span class="credit">@Resources.FinanceResources.CreditLabel</span>
                                    }
                                    else
                                    {
                                        <span @dueDateClass>
                                            @FormatUtility.FormatAsShortDate(Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDueItems[detailCounter].PaymentDueItem.DueDate)
                                            @if (Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDueItems[detailCounter].PaymentDueItem.DueDate != null
                                                  && Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDueItems[detailCounter].PaymentDueItem.Overdue)
                                            {
                                                <span>(@Resources.FinanceResources.OverdueLabel)</span>
                                            }
                                        </span>
                                    }
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDueItems[detailCounter].PaymentDueItem.DueDate)
                                </td>
                                <td class="colAmountDue" id="@(amountDueData + detailCounter)">
                                    @FormatUtility.FormatAsCurrency(Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDueItems[detailCounter].PaymentDueItem.AmountDue)
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDueItems[detailCounter].PaymentDueItem.AmountDue)
                                </td>
                                <td class="colAmountToPay" id="@(amountToPayData + detailCounter)">
                                    <div @amountToPayClass>
                                        <text>$</text>@Html.CultureTextBoxFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDueItems[detailCounter].AmountToPay, arAmountToPayAttributes)
                                    </div>
                                    @Html.LabelFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDueItems[detailCounter].AmountToPay, new { @class = offScreenClass })
                                    @Html.ValidationMessageFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDueItems[detailCounter].AmountToPay)
                                </td>
                            </tr>
                        }

                        @{
                            dataType = "_Plan";
                            typeDataPrefix = groupPrefix + dataType + "_Data";
                            selectData = typeDataPrefix + "_Select_";
                            itemData = typeDataPrefix + "_Item_";
                            distributionData = typeDataPrefix + "_Distribution_";
                            dateDueData = typeDataPrefix + "_DateDue_";
                            amountDueData = typeDataPrefix + "_AmountDue_";
                            amountToPayData = typeDataPrefix + "_AmountToPay_";
                        }

                        @for (int detailCounter = 0; detailCounter < Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectablePaymentPlanDueItems.Count; detailCounter++)
                        {
                            rowCounter++;
                            string rowClass = (rowCounter % 2 == 0) ? Resources.SiteResources.EvenRowClass : Resources.SiteResources.OddRowClass;
                            string dueDateClass;
                            if (Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectablePaymentPlanDueItems[detailCounter].PaymentDueItem.Overdue)
                            {
                                dueDateClass = "class=overdue";
                            }
                            else
                            {
                                dueDateClass = String.Empty;
                            }

                            Dictionary<string, object> payPlanAmountToPayAttributes = amountToPayAttributes.ToDictionary(pair => pair.Key, pair => pair.Value);
                            if (!Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectablePaymentPlanDueItems[detailCounter].Editable ||
                                !Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectablePaymentPlanDueItems[detailCounter].Selected ||
                                !(partialPaymentPlansAllowed || (partialPaymentPlansAllowedWhenNotOverdue && !Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectablePaymentPlanDueItems[detailCounter].PaymentDueItem.Overdue)))
                            {
                                payPlanAmountToPayAttributes.Add("aria-readonly", "true");
                                payPlanAmountToPayAttributes.Add("readonly", "readonly");
                            }
                
                            <tr class="@rowClass">
                                <td class="colSelect" id="@(selectData + detailCounter)">
                                    @Html.CheckBoxFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectablePaymentPlanDueItems[detailCounter].Selected)
                                    @Html.LabelFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectablePaymentPlanDueItems[detailCounter].Selected, new { @class = offScreenClass })
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectablePaymentPlanDueItems[detailCounter].PaymentDueItem.PaymentPlanCurrent)
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectablePaymentPlanDueItems[detailCounter].PaymentDueItem.PaymentPlanId)
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectablePaymentPlanDueItems[detailCounter].PaymentDueItem.Overdue)
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectablePaymentPlanDueItems[detailCounter].PaymentDueItem.AccountDescription)
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectablePaymentPlanDueItems[detailCounter].PaymentDueItem.AccountType)
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectablePaymentPlanDueItems[detailCounter].PaymentDueItem.Distribution)
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectablePaymentPlanDueItems[detailCounter].PaymentDueItem.Period)
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectablePaymentPlanDueItems[detailCounter].PaymentDueItem.PeriodDescription)
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectablePaymentPlanDueItems[detailCounter].PaymentDueItem.Term)
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectablePaymentPlanDueItems[detailCounter].PaymentDueItem.TermDescription)
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectablePaymentPlanDueItems[detailCounter].PaymentDueItem.Distribution)
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectablePaymentPlanDueItems[detailCounter].PaymentDueItem.UnpaidAmount)
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectablePaymentPlanDueItems[detailCounter].Editable)
                                </td>
                                <td class="colItem" id="@(itemData + detailCounter)">
                                    @Html.DisplayFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectablePaymentPlanDueItems[detailCounter].PaymentDueItem.Description)
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectablePaymentPlanDueItems[detailCounter].PaymentDueItem.Description)
                                </td>
                                <td class="colDistribution" id="@(distributionData + detailCounter)">
                                    @Html.DisplayFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectablePaymentPlanDueItems[detailCounter].PaymentDueItem.Distribution)
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectablePaymentPlanDueItems[detailCounter].PaymentDueItem.Distribution)
                                </td>
                                <td class="colDateDue" id="@(dateDueData + detailCounter)">
                                    <span @dueDateClass>
                                        @FormatUtility.FormatAsShortDate(Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectablePaymentPlanDueItems[detailCounter].PaymentDueItem.DueDate)
                                        @if (Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectablePaymentPlanDueItems[detailCounter].PaymentDueItem.DueDate != null
                                              && Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectablePaymentPlanDueItems[detailCounter].PaymentDueItem.Overdue)
                                        {
                                            <span>(@Resources.FinanceResources.OverdueLabel)</span>
                                        }
                                    </span>                        
                        
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectablePaymentPlanDueItems[detailCounter].PaymentDueItem.DueDate)
                                </td>
                                <td class="colAmountDue" id="@(amountDueData + detailCounter)">
                                    @FormatUtility.FormatAsCurrency(Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectablePaymentPlanDueItems[detailCounter].PaymentDueItem.AmountDue)
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectablePaymentPlanDueItems[detailCounter].PaymentDueItem.AmountDue)
                                </td>
                                <td class="colAmountToPay" id="@(amountToPayData + detailCounter)">
                                    <div>
                                        <text>$</text>@Html.CultureTextBoxFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectablePaymentPlanDueItems[detailCounter].AmountToPay, payPlanAmountToPayAttributes)
                                    </div>
                                    @Html.LabelFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectablePaymentPlanDueItems[detailCounter].AmountToPay, new { @class = offScreenClass })
                                    @Html.ValidationMessageFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectablePaymentPlanDueItems[detailCounter].AmountToPay)
                                </td>
                            </tr>
                        }

                        @{
                            dataType = "_Invoice";
                            typeDataPrefix = groupPrefix + dataType + "_Data";
                            selectData = typeDataPrefix + "_Select_";
                            itemData = typeDataPrefix + "_Item_";
                            distributionData = typeDataPrefix + "_Distribution_";
                            dateDueData = typeDataPrefix + "_DateDue_";
                            amountDueData = typeDataPrefix + "_AmountDue_";
                            amountToPayData = typeDataPrefix + "_AmountToPay_";
                        }

                        @for (int detailCounter = 0; detailCounter < Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableInvoiceDueItems.Count; detailCounter++)
                        {
                            rowCounter++;
                            string rowClass = (rowCounter % 2 == 0) ? Resources.SiteResources.EvenRowClass : Resources.SiteResources.OddRowClass;
                            bool creditAmount = Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableInvoiceDueItems[detailCounter].PaymentDueItem.AmountDue < 0;
                            string labelValue, dueDateClass, amountToPayClass;

                            Dictionary<string, object> checkboxAttributes = new Dictionary<string, object>();
                            checkboxAttributes.Add("aria-checked", "mixed");
                            if (creditAmount)
                            {
                                checkboxAttributes.Add("aria-disabled", "true");
                                checkboxAttributes.Add("disabled", "disabled");
                                checkboxAttributes.Add("class", offScreenClass);
                                labelValue = Resources.FinanceResources.CreditLabelDescription;
                                amountToPayClass = "class=\"" + offScreenClass + "\"";
                            }
                            else
                            {
                                labelValue = ViewBag.StandardSelectionMessage;
                                amountToPayClass = String.Empty;
                            }

                            if (Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableInvoiceDueItems[detailCounter].PaymentDueItem.Overdue)
                            {
                                dueDateClass = "class=overdue";
                            }
                            else
                            {
                                dueDateClass = String.Empty;
                            }

                            Dictionary<string, object> invoiceAmountToPayAttributes = amountToPayAttributes.ToDictionary(pair => pair.Key, pair => pair.Value);
                            if (!Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableInvoiceDueItems[detailCounter].Editable || !Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableInvoiceDueItems[detailCounter].Selected || !partialPaymentsAllowed)
                            {
                                invoiceAmountToPayAttributes.Add("aria-readonly", "true");
                                invoiceAmountToPayAttributes.Add("readonly", "readonly");
                            }
                
                            <tr class="@rowClass">
                                <td class="colSelect" id="@(selectData + detailCounter)">
                                    @Html.CheckBoxFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableInvoiceDueItems[detailCounter].Selected, checkboxAttributes)
                                    @Html.LabelFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableInvoiceDueItems[detailCounter].Selected, new { @class = offScreenClass })
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableInvoiceDueItems[detailCounter].PaymentDueItem.InvoiceId)
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableInvoiceDueItems[detailCounter].PaymentDueItem.Overdue)
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableInvoiceDueItems[detailCounter].PaymentDueItem.AccountDescription)
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableInvoiceDueItems[detailCounter].PaymentDueItem.AccountType)
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableInvoiceDueItems[detailCounter].PaymentDueItem.Distribution)
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableInvoiceDueItems[detailCounter].PaymentDueItem.Period)
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableInvoiceDueItems[detailCounter].PaymentDueItem.PeriodDescription)
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableInvoiceDueItems[detailCounter].PaymentDueItem.Term)
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableInvoiceDueItems[detailCounter].PaymentDueItem.TermDescription)
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableInvoiceDueItems[detailCounter].PaymentDueItem.Distribution)
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableInvoiceDueItems[detailCounter].Editable)
                                </td>
                                <td class="colItem" id="@(itemData + detailCounter)">
                                    @Html.DisplayFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableInvoiceDueItems[detailCounter].PaymentDueItem.Description)
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableInvoiceDueItems[detailCounter].PaymentDueItem.Description)
                                </td>
                                <td class="colDistribution" id="@(distributionData + detailCounter)">
                                    @Html.DisplayFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableInvoiceDueItems[detailCounter].PaymentDueItem.Distribution)
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableInvoiceDueItems[detailCounter].PaymentDueItem.Distribution)
                                </td>
                                <td class="colDateDue" id="@(dateDueData + detailCounter)">
                                    @if (creditAmount)
                                    {
                                        <span class="credit">@Resources.FinanceResources.CreditLabel</span>
                                    }
                                    else
                                    {
                                        <span @dueDateClass>
                                            @FormatUtility.FormatAsShortDate(Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableInvoiceDueItems[detailCounter].PaymentDueItem.DueDate)
                                            @if (Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableInvoiceDueItems[detailCounter].PaymentDueItem.DueDate != null
                                                  && Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableInvoiceDueItems[detailCounter].PaymentDueItem.Overdue)
                                            {
                                                <span>(@Resources.FinanceResources.OverdueLabel)</span>
                                            }
                                        </span>   
                                    }                
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableInvoiceDueItems[detailCounter].PaymentDueItem.DueDate)
                                </td>
                                <td class="colAmountDue" id="@(amountDueData + detailCounter)">
                                    @FormatUtility.FormatAsCurrency(Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableInvoiceDueItems[detailCounter].PaymentDueItem.AmountDue)
                                    @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableInvoiceDueItems[detailCounter].PaymentDueItem.AmountDue)
                                </td>
                                <td class="colAmountToPay" id="@(amountToPayData + detailCounter)">
                                    <div @amountToPayClass>
                                        <text>$</text>@Html.CultureTextBoxFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableInvoiceDueItems[detailCounter].AmountToPay, invoiceAmountToPayAttributes)
                                    </div>
                                    @Html.LabelFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableInvoiceDueItems[detailCounter].AmountToPay, new { @class = offScreenClass })
                                    @Html.ValidationMessageFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableInvoiceDueItems[detailCounter].AmountToPay)
                                </td>
                            </tr>
                        }

                        @{
                            dataType = "_DepositDue";
                            typeDataPrefix = groupPrefix + dataType + "_Data";
                            selectData = typeDataPrefix + "_Select_";
                            itemData = typeDataPrefix + "_Item_";
                            distributionData = typeDataPrefix + "_Distribution_";
                            dateDueData = typeDataPrefix + "_DateDue_";
                            amountDueData = typeDataPrefix + "_AmountDue_";
                            amountToPayData = typeDataPrefix + "_AmountToPay_";
                        }

                        @for (int detailCounter = 0; detailCounter < Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDepositDueItems.Count; detailCounter++)
                        {
                            bool creditAmount = Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDepositDueItems[detailCounter].PaymentDueItem.Balance < 0;

                            Dictionary<string, object> checkboxAttributes = new Dictionary<string, object>();
                            checkboxAttributes.Add("aria-checked", "mixed");
                            // Don't include any line items with credit amounts
                            if (!creditAmount)
                            {
                                rowCounter++;
                                string rowClass = (rowCounter % 2 == 0) ? Resources.SiteResources.EvenRowClass : Resources.SiteResources.OddRowClass;
                                string dueDateClass;
                                if (Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDepositDueItems[detailCounter].PaymentDueItem.Overdue)
                                {
                                    dueDateClass = "class=overdue";
                                }
                                else
                                {
                                    dueDateClass = String.Empty;
                                }

                                Dictionary<string, object> depositAmountToPayAttributes = amountToPayAttributes.ToDictionary(pair => pair.Key, pair => pair.Value);
                                if (!Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDepositDueItems[detailCounter].Editable || !Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDepositDueItems[detailCounter].Selected || !depositPartialPaymentsAllowed)
                                {
                                    depositAmountToPayAttributes.Add("aria-readonly", "true");
                                    depositAmountToPayAttributes.Add("readonly", "readonly");
                                }
                
                                <tr class="@rowClass">
                                    <td class="colSelect" id="@(selectData + detailCounter)">
                                        @Html.CheckBoxFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDepositDueItems[detailCounter].Selected, checkboxAttributes)
                                        @Html.CustomLabelFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDepositDueItems[detailCounter].Selected, new { @class = offScreenClass })
                                        @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDepositDueItems[detailCounter].PaymentDueItem.Id)
                                        @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDepositDueItems[detailCounter].PaymentDueItem.PersonId)
                                        @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDepositDueItems[detailCounter].PaymentDueItem.DepositType)
                                        @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDepositDueItems[detailCounter].Description)
                                        @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDepositDueItems[detailCounter].PaymentDueItem.TermId)
                                        @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDepositDueItems[detailCounter].TermDescription)
                                        @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDepositDueItems[detailCounter].PaymentDueItem.Overdue)
                                        @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDepositDueItems[detailCounter].PaymentDueItem.Distribution)
                                        @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDepositDueItems[detailCounter].Editable)
                                    </td>
                                    <td class="colItem" id="@(itemData + detailCounter)">
                                        @Html.DisplayFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDepositDueItems[detailCounter].Description)
                                        @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDepositDueItems[detailCounter].Description)
                                    </td>
                                    <td class="colDistribution" id="@(distributionData + detailCounter)">
                                        @Html.DisplayFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDepositDueItems[detailCounter].PaymentDueItem.Distribution)
                                        @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDepositDueItems[detailCounter].PaymentDueItem.Distribution)
                                    </td>
                                    <td class="colDateDue" id="@(dateDueData + detailCounter)">
                                        <span @dueDateClass>
                                            @FormatUtility.FormatAsShortDate(Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDepositDueItems[detailCounter].PaymentDueItem.DueDate)
                                            @if (Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDepositDueItems[detailCounter].PaymentDueItem.Overdue)
                                            {
                                                <span>(@Resources.FinanceResources.OverdueLabel)</span>
                                            }
                                        </span>
                                        @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDepositDueItems[detailCounter].PaymentDueItem.DueDate)
                                    </td>
                                    <td class="colAmountDue" id="@(amountDueData + detailCounter)">
                                        @FormatUtility.FormatAsCurrency(Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDepositDueItems[detailCounter].PaymentDueItem.AmountDue)
                                        @Html.HiddenFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDepositDueItems[detailCounter].PaymentDueItem.AmountDue)
                                    </td>
                                    <td class="colAmountToPay" id="@(amountToPayData + detailCounter)">
                                        <div>
                                            <text>$</text>@Html.CultureTextBoxFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDepositDueItems[detailCounter].AmountToPay, depositAmountToPayAttributes)
                                        </div>
                                        @Html.CustomLabelFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDepositDueItems[detailCounter].AmountToPay, new { @class = offScreenClass })
                                        @Html.ValidationMessageFor(x => Model.PaymentsDueByPeriod[periodCounter].PaymentsDueByTerm[termCounter].SelectableDepositDueItems[detailCounter].AmountToPay)
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                }
            </div>
        </div>
    }
}
