﻿@using Ellucian.Web.Student.Helpers;

@using Ellucian.Web.Student.Areas.Finance.Models.MakePayment;
@model MakeAPaymentModel

<div id="payNow">
    @{
        Dictionary<string, object> textboxAttributes = new Dictionary<string,object>();
        textboxAttributes.Add("readonly", "readonly");
        textboxAttributes.Add("aria-readonly", "true");
    }

    <span class="totalPayment">@Resources.PaymentResources.TotalPaymentLabel:</span>@Html.TextBox("TotalAmountToPay", 0.00, textboxAttributes) @Html.Label("TotalAmountToPay", Resources.PaymentResources.TotalPaymentDescription, new { @class = Resources.SiteResources.OffScreenClass })
    @Html.DropDownList("PaymentMethodSelection", Model.PaymentMethodList) @Html.Label("PaymentMethodSelection", Resources.PaymentResources.PaymentMethodSelectionDescription, new { @class = "offScreen" })
    <input id="PaymentSubmit" class="esg-button esg-button--primary" name="PaymentSubmit" type="submit" value="@Resources.PaymentResources.PaymentButtonLabel" />
</div>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        // Purpose: 
        // Trap the backspace key for the total payment field
        // 
        // Reason: 
        // Internet Explorer uses the backspace key to navigate backwards
        // in the browser history. Since the browser appears to give focus
        // to a read-only textbox, a user that hits backspace on the read-
        // only field will be take to the previous page in the browser 
        // instead of deleting a value from the textbox. 
        $("#TotalAmountToPay").keydown(
            function (key) {
                if (key.which == 8) {
                    return false;
                }
            }
        );

        $("#PaymentMethodSelection").change(
            function () {
                var currentValue = $(this).val();
                var disabledAttribute = "disabled";
                var payMethodFieldName = "#PaymentSubmit";

                if (currentValue == "DEFAULT") {
                    $(payMethodFieldName).attr(disabledAttribute, disabledAttribute);
                } else if ($(payMethodFieldName).attr(disabledAttribute) != false && $(payMethodFieldName).attr(disabledAttribute) != undefined) {
                    $(payMethodFieldName).removeAttr(disabledAttribute);
                }
            }
        );
    });
</script>