﻿@* Copyright 2013-2016 Ellucian Company L.P. and its affiliates. *@
@using Ellucian.Web.Mvc.Models;
@using System.Web.Optimization;
@using Ellucian.Web.Student.Areas.Finance.Models.Payments;
@model PaymentAcknowledgementModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <title>@Resources.ImmediatePaymentResources.PaymentAcknowledgementLabel</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        @System.Web.Optimization.Scripts.Render("~/bundles/studentfinancescripts")
        @Html.Partial("_GlobalStringConstantDefinitions")
        @Html.Partial("_ActionUrlDefinitions")
        @Html.Partial("_HelpUrlDefinitions")
        @Html.Partial("_StringConstantDefinitions")
        @Html.Partial("_PrintableViewOverhead")
        @System.Web.Optimization.Scripts.Render("~/bundles/makeapaymentscripts")
        @Scripts.Render("~/bundles/polyfills")
        <script type="text/javascript">
            var jsonData = @Html.Raw(ViewBag.json);
            $(document).ready(function () {
                var viewModel = new makeAPayment.PaymentAcknowledgementViewModel(jsonData);
                viewModel.isPrintable(true);
                ko.applyBindings(viewModel, document.getElementById("PrintPaymentAcknowledgement"));
            });
        </script>
        @System.Web.Optimization.Styles.Render("~/Areas/Finance/Content/FinanceBundlecss")
        <script type="text/javascript">
            Globalize.culture('@System.Threading.Thread.CurrentThread.CurrentCulture.Name');
        </script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body id="PrintPaymentAcknowledgement">
        <!-- Heading -->    
        <div id="bodyHeader">
            <h1>@Resources.ImmediatePaymentResources.PaymentAcknowledgementLabel</h1>
        </div>

        @Html.Partial("AcknowledgementPartial")
    </body>
</html>
